{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2018-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/azureFirewall.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewalls": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureFirewallListResult"
                }
              }
            },
            "description": "Success. The operation returns a list of AzureFirewall resources."
          }
        },
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Gets all the Azure Firewalls in a subscription.",
        "operationId": "AzureFirewalls_ListAll",
        "x-ms-examples": {
          "List all Azure Firewalls for a given subscription": {
            "$ref": "./examples/AzureFirewallListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureFirewallListResult"
                }
              }
            },
            "description": "Success. The operation returns a list of AzureFirewall resources."
          }
        },
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Lists all Azure Firewalls in a resource group.",
        "operationId": "AzureFirewalls_List",
        "x-ms-examples": {
          "List all Azure Firewalls for a given resource group": {
            "$ref": "./examples/AzureFirewallListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Azure Firewall.",
            "in": "path",
            "name": "azureFirewallName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist"
          }
        },
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Deletes the specified Azure Firewall.",
        "operationId": "AzureFirewalls_Delete",
        "x-ms-examples": {
          "Delete Azure Firewall": {
            "$ref": "./examples/AzureFirewallDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Azure Firewall.",
            "in": "path",
            "name": "azureFirewallName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureFirewall"
                }
              }
            },
            "description": "Request successful. The operation returns an AzureFirewall resource."
          }
        },
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Gets the specified Azure Firewall.",
        "operationId": "AzureFirewalls_Get",
        "x-ms-examples": {
          "Get Azure Firewall": {
            "$ref": "./examples/AzureFirewallGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Azure Firewall.",
            "in": "path",
            "name": "azureFirewallName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureFirewall"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting AzureFirewall resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureFirewall"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting AzureFirewall resource."
          }
        },
        "tags": [
          "AzureFirewalls"
        ],
        "description": "Creates or updates the specified Azure Firewall.",
        "operationId": "AzureFirewalls_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureFirewall"
              }
            }
          },
          "description": "Parameters supplied to the create or update Azure Firewall operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create Azure Firewall": {
            "$ref": "./examples/AzureFirewallPut.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "schemas": {
      "AzureFirewall": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Azure Firewall resource",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AzureFirewallPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AzureFirewallApplicationRule": {
        "description": "Properties of an application rule.",
        "properties": {
          "description": {
            "description": "Description of the rule.",
            "type": "string"
          },
          "fqdnTags": {
            "description": "List of FQDN Tags for this rule.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Name of the application rule.",
            "type": "string"
          },
          "protocols": {
            "description": "Array of ApplicationRuleProtocols.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallApplicationRuleProtocol"
            },
            "type": "array"
          },
          "sourceAddresses": {
            "description": "List of source IP addresses for this rule.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "targetFqdns": {
            "description": "List of FQDNs for this rule.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureFirewallApplicationRuleCollection": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "Application rule collection resource",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Gets name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AzureFirewallApplicationRuleCollectionPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AzureFirewallApplicationRuleCollectionPropertiesFormat": {
        "description": "Properties of the application rule collection.",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/AzureFirewallRCAction",
            "description": "The action type of a rule collection"
          },
          "priority": {
            "description": "Priority of the application rule collection resource.",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "format": "int32",
            "maximum": 65000,
            "minimum": 100,
            "type": "integer"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The provisioning state of the resource."
          },
          "rules": {
            "description": "Collection of rules used by a application rule collection.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallApplicationRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureFirewallApplicationRuleProtocol": {
        "description": "Properties of the application rule protocol.",
        "properties": {
          "port": {
            "description": "Port number for the protocol, cannot be greater than 64000. This field is optional.",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "format": "int32",
            "maximum": 64000,
            "minimum": 0,
            "type": "integer"
          },
          "protocolType": {
            "$ref": "#/components/schemas/AzureFirewallApplicationRuleProtocolType",
            "description": "Protocol type"
          }
        },
        "type": "object"
      },
      "AzureFirewallApplicationRuleProtocolType": {
        "description": "The protocol type of a Application Rule resource",
        "enum": [
          "Http",
          "Https"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "AzureFirewallApplicationRuleProtocolType"
        }
      },
      "AzureFirewallIPConfiguration": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "IP configuration of an Azure Firewall.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AzureFirewallIPConfigurationPropertiesFormat": {
        "description": "Properties of IP configuration of an Azure Firewall.",
        "properties": {
          "privateIPAddress": {
            "description": "The Firewall Internal Load Balancer IP to be used as the next hop in User Defined Routes.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The provisioning state of the resource."
          },
          "publicIPAddress": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "Reference of the PublicIP resource. This field is a mandatory input if subnet is not null."
          },
          "subnet": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "Reference of the subnet resource. This resource must be named 'AzureFirewallSubnet'."
          }
        },
        "type": "object"
      },
      "AzureFirewallListResult": {
        "description": "Response for ListAzureFirewalls API service call.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "List of Azure Firewalls in a resource group.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewall"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureFirewallNatRCAction": {
        "description": "AzureFirewall NAT Rule Collection Action.",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AzureFirewallNatRCActionType",
            "description": "The type of action."
          }
        },
        "type": "object"
      },
      "AzureFirewallNatRCActionType": {
        "description": "The action type of a NAT rule collection",
        "enum": [
          "Snat",
          "Dnat"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "AzureFirewallNatRCActionType"
        }
      },
      "AzureFirewallNatRule": {
        "description": "Properties of a NAT rule.",
        "properties": {
          "description": {
            "description": "Description of the rule.",
            "type": "string"
          },
          "destinationAddresses": {
            "description": "List of destination IP addresses for this rule.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "destinationPorts": {
            "description": "List of destination ports.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Name of the NAT rule.",
            "type": "string"
          },
          "protocols": {
            "description": "Array of AzureFirewallNetworkRuleProtocols applicable to this NAT rule.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallNetworkRuleProtocol"
            },
            "type": "array"
          },
          "sourceAddresses": {
            "description": "List of source IP addresses for this rule.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "translatedAddress": {
            "description": "The translated address for this NAT rule.",
            "type": "string"
          },
          "translatedPort": {
            "description": "The translated port for this NAT rule.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureFirewallNatRuleCollection": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "NAT rule collection resource",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Gets name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AzureFirewallNatRuleCollectionProperties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AzureFirewallNatRuleCollectionProperties": {
        "description": "Properties of the NAT rule collection.",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/AzureFirewallNatRCAction",
            "description": "The action type of a NAT rule collection"
          },
          "priority": {
            "description": "Priority of the NAT rule collection resource.",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "format": "int32",
            "maximum": 65000,
            "minimum": 100,
            "type": "integer"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The provisioning state of the resource."
          },
          "rules": {
            "description": "Collection of rules used by a NAT rule collection.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallNatRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureFirewallNetworkRule": {
        "description": "Properties of the network rule.",
        "properties": {
          "description": {
            "description": "Description of the rule.",
            "type": "string"
          },
          "destinationAddresses": {
            "description": "List of destination IP addresses.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "destinationPorts": {
            "description": "List of destination ports.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Name of the network rule.",
            "type": "string"
          },
          "protocols": {
            "description": "Array of AzureFirewallNetworkRuleProtocols.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallNetworkRuleProtocol"
            },
            "type": "array"
          },
          "sourceAddresses": {
            "description": "List of source IP addresses for this rule.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureFirewallNetworkRuleCollection": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "Network rule collection resource",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Gets name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AzureFirewallNetworkRuleCollectionPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AzureFirewallNetworkRuleCollectionPropertiesFormat": {
        "description": "Properties of the network rule collection.",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/AzureFirewallRCAction",
            "description": "The action type of a rule collection"
          },
          "priority": {
            "description": "Priority of the network rule collection resource.",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "format": "int32",
            "maximum": 65000,
            "minimum": 100,
            "type": "integer"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The provisioning state of the resource."
          },
          "rules": {
            "description": "Collection of rules used by a network rule collection.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallNetworkRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureFirewallNetworkRuleProtocol": {
        "description": "The protocol of a Network Rule resource",
        "enum": [
          "TCP",
          "UDP",
          "Any",
          "ICMP"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "AzureFirewallNetworkRuleProtocol"
        }
      },
      "AzureFirewallPropertiesFormat": {
        "description": "Properties of the Azure Firewall.",
        "properties": {
          "applicationRuleCollections": {
            "description": "Collection of application rule collections used by Azure Firewall.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallApplicationRuleCollection"
            },
            "type": "array"
          },
          "ipConfigurations": {
            "description": "IP configuration of the Azure Firewall resource.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallIPConfiguration"
            },
            "type": "array"
          },
          "natRuleCollections": {
            "description": "Collection of NAT rule collections used by Azure Firewall.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallNatRuleCollection"
            },
            "type": "array"
          },
          "networkRuleCollections": {
            "description": "Collection of network rule collections used by Azure Firewall.",
            "items": {
              "$ref": "#/components/schemas/AzureFirewallNetworkRuleCollection"
            },
            "type": "array"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The provisioning state of the resource."
          }
        },
        "type": "object"
      },
      "AzureFirewallRCAction": {
        "description": "Properties of the AzureFirewallRCAction.",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AzureFirewallRCActionType",
            "description": "The type of action."
          }
        },
        "type": "object"
      },
      "AzureFirewallRCActionType": {
        "description": "The action type of a rule collection",
        "enum": [
          "Allow",
          "Deny"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "AzureFirewallRCActionType"
        }
      },
      "ProvisioningState": {
        "description": "The current provisioning state.",
        "enum": [
          "Succeeded",
          "Updating",
          "Deleting",
          "Failed"
        ],
        "readOnly": true,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ProvisioningState"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}