openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: '2016-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/transformations/{transformationName}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/TransformationNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
          description: Successfully retrieved the specified transformation.
          headers:
            ETag:
              description: >-
                The current entity tag for the transformation. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Transformations
      description: Gets details about the specified transformation.
      operationId: Transformations_Get
      x-ms-examples:
        Get a transformation:
          $ref: ./examples/Transformation_Get.json
    patch:
      parameters:
        - description: >-
            The ETag of the transformation. Omit this value to always overwrite
            the current transformation. Specify the last-seen ETag value to
            prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/TransformationNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
          description: The transformation was successfully updated.
          headers:
            ETag:
              description: >-
                The current entity tag for the transformation. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Transformations
      description: >-
        Updates an existing transformation under an existing streaming job. This
        can be used to partially update (ie. update one or two properties) a
        transformation without affecting the rest the job or transformation
        definition.
      operationId: Transformations_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transformation'
        description: >-
          A Transformation object. The properties specified here will overwrite
          the corresponding properties in the existing transformation (ie. Those
          properties will be updated). Any properties that are set to null here
          will mean that the corresponding property in the existing
          transformation will remain the same and not change as a result of this
          PATCH operation.
        required: true
      x-ms-examples:
        Update a transformation:
          $ref: ./examples/Transformation_Update.json
    put:
      parameters:
        - description: >-
            The ETag of the transformation. Omit this value to always overwrite
            the current transformation. Specify the last-seen ETag value to
            prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new transformation to be created, but to
            prevent updating an existing transformation. Other values will
            result in a 412 Pre-condition Failed response.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/TransformationNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: >-
                The current entity tag for the transformation. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: >-
                The current entity tag for the transformation. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Transformations
      description: >-
        Creates a transformation or replaces an already existing transformation
        under an existing streaming job.
      operationId: Transformations_CreateOrReplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transformation'
        description: >-
          The definition of the transformation that will be used to create a new
          transformation or replace the existing one under the streaming job.
        required: true
      x-ms-examples:
        Create a transformation:
          $ref: ./examples/Transformation_Create.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    StreamingJobNameParameter:
      description: The name of the streaming job.
      in: path
      name: jobName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        GUID which uniquely identify Microsoft Azure subscription. The
        subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TransformationNameParameter:
      description: The name of the transformation.
      in: path
      name: transformationName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    SubResource:
      description: The base sub-resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        name:
          description: Resource name
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Transformation:
      allOf:
        - $ref: '#/components/schemas/SubResource'
      description: >-
        A transformation object, containing all information associated with the
        named transformation. All transformations are contained under a
        streaming job.
      properties:
        properties:
          $ref: '#/components/schemas/TransformationProperties'
          description: >-
            The properties that are associated with a transformation. Required
            on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
    TransformationProperties:
      description: The properties that are associated with a transformation.
      properties:
        etag:
          description: >-
            The current entity tag for the transformation. This is an opaque
            string. You can use it to detect whether the resource has changed
            between requests. You can also use it in the If-Match or
            If-None-Match headers for write operations for optimistic
            concurrency.
          readOnly: true
          type: string
        query:
          description: >-
            Specifies the query that will be run in the streaming job. You can
            learn more about the Stream Analytics Query Language (SAQL) here:
            https://msdn.microsoft.com/library/azure/dn834998 . Required on PUT
            (CreateOrReplace) requests.
          type: string
        streamingUnits:
          description: Specifies the number of streaming units that the streaming job uses.
          format: int32
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

