{
  "openapi": "3.0.0",
  "info": {
    "description": "Deployment Admin Client.",
    "title": "DeploymentAdminClient",
    "version": "2019-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/Deployment.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Deployment.Admin/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Deployment"
        ],
        "description": "Returns the list of supported REST operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Returns the list of supported REST operations.": {
            "$ref": "./examples/Operations/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2019-01-01",
          "type": "string"
        }
      },
      "LocationParameter": {
        "description": "Location of the resource.",
        "in": "path",
        "name": "location",
        "required": true,
        "schema": {
          "default": "2019-01-01",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PackageIdParameter": {
        "description": "The package identifier.",
        "in": "path",
        "name": "packageId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ProductIdParameter": {
        "description": "The product identifier.",
        "in": "path",
        "name": "productId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Display": {
        "description": "Contains the localized display information for this particular operation or action.",
        "properties": {
          "description": {
            "description": "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.",
            "type": "string"
          },
          "operation": {
            "description": "The localized, friendly name for the operation. Use the name as it will displayed to the user.",
            "type": "string"
          },
          "provider": {
            "description": "The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with \"Microsoft\" for first-party services. For example, the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"",
            "type": "string"
          },
          "resource": {
            "description": "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDefinition": {
        "description": "Error definition.",
        "properties": {
          "code": {
            "description": "Service specific error code which serves as the substatus for the HTTP error code.",
            "readOnly": true,
            "type": "string"
          },
          "details": {
            "description": "Internal error details.",
            "items": {
              "$ref": "#/components/schemas/ErrorDefinition"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": []
          },
          "message": {
            "description": "Description of the error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExtendedErrorInfo": {
        "description": "Error response.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDefinition",
            "description": "The error details."
          }
        },
        "type": "object"
      },
      "JTokenString": {
        "description": "Error information",
        "properties": {
          "value": {
            "description": "Parameters as JToken string",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Describes the supported REST operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/Display",
            "description": "Contains the localized display information for this particular operation or action."
          },
          "name": {
            "description": "The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.",
            "type": "string"
          },
          "origin": {
            "description": "Origin for the operation. Eg. User, System",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "List of Operations",
        "properties": {
          "nextLink": {
            "description": "URI to the next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "Array of operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Object model of azure resource manager base.",
        "properties": {
          "id": {
            "description": "ID of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of Resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}