{
  "openapi": "3.0.0",
  "info": {
    "description": "API to Add/Remove/List Guest Diagnostics Settings Association for Azure Resources",
    "title": "Guest Diagnostic Settings Association API",
    "version": "2018-06-01-preview",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettingsAssociation_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/guestDiagnosticSettingsAssociations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationList"
                }
              }
            },
            "description": "The request succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the list of guest diagnostic settings association could not be retrieved."
          }
        },
        "description": "Get a list of all guest diagnostic settings association in a subscription.",
        "operationId": "GuestDiagnosticsSettingsAssociation_List",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettingsAssociations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationList"
                }
              }
            },
            "description": "The request succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the list of guest diagnostic settings association could not be retrieved."
          }
        },
        "description": "Get a list of all guest diagnostic settings association in a resource group.",
        "operationId": "GuestDiagnosticsSettingsAssociation_ListByResourceGroup",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/{resourceUri}/providers/microsoft.insights/guestDiagnosticSettingsAssociation/{associationName}": {
      "delete": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingsAssociationNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The diagnostic settings association was successfully deleted."
          },
          "204": {
            "description": "The diagnostic settings association does not exist. It may have already been deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the diagnostic settings association could not be deleted."
          }
        },
        "tags": [
          "GuestDiagnosticsSettingsAssociation"
        ],
        "description": "Delete guest diagnostics association settings.",
        "operationId": "GuestDiagnosticsSettingsAssociation_Delete",
        "x-ms-examples": {
          "Create or update an guest diagnostic settings association": {
            "$ref": "./examples/deleteGuestDiagnosticSettingsAssociation.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingsAssociationNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            },
            "description": "The request succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the diagnostic settings association could not be retrieved."
          }
        },
        "tags": [
          "GuestDiagnosticsSettingsAssociation"
        ],
        "description": "Gets guest diagnostics association settings.",
        "operationId": "GuestDiagnosticsSettingsAssociation_Get",
        "x-ms-examples": {
          "Create or update an guest diagnostic settings association": {
            "$ref": "./examples/getGuestDiagnosticSettingsAssociation.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingsAssociationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            },
            "description": "An existing guest diagnostics setting resource was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Updates an existing guestDiagnosticsSettingsAssociation Resource. To update other fields use the CreateOrUpdate method",
        "operationId": "GuestDiagnosticsSettingsAssociation_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResourcePatch"
              }
            }
          },
          "description": "Parameters supplied to the operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a service diagnostic setting": {
            "$ref": "./examples/updateGuestDiagnosticSettingsAssociation.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingsAssociationNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            },
            "description": "An existing guest diagnostic settings association was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
                }
              }
            },
            "description": "A new guest diagnostic settings association was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the guest diagnostic settings association could not be created or updated."
          }
        },
        "tags": [
          "GuestDiagnosticsSettingsAssociation"
        ],
        "description": "Creates or updates guest diagnostics settings association.",
        "operationId": "GuestDiagnosticsSettingsAssociation_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
              }
            }
          },
          "description": "The diagnostic settings association to create or update.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update an guest diagnostic settings association": {
            "$ref": "./examples/createOrUpdateGuestDiagnosticSettingsAssociation.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DiagnosticSettingsAssociationNameParameter": {
        "description": "The name of the diagnostic settings association.",
        "in": "path",
        "name": "associationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GuestDiagnosticSettingsAssociation": {
        "description": "A guest diagnostic settings association.",
        "properties": {
          "guestDiagnosticSettingsName": {
            "description": "The guest diagnostic settings name.",
            "type": "string"
          }
        },
        "required": [
          "guestDiagnosticSettingsName"
        ],
        "type": "object"
      },
      "GuestDiagnosticSettingsAssociationList": {
        "description": "A list of guest diagnostic settings association.",
        "properties": {
          "nextLink": {
            "description": "Provides the link to retrieve the next set of elements.",
            "type": "string"
          },
          "value": {
            "description": "The list of guest diagnostic settings association.",
            "items": {
              "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociationResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GuestDiagnosticSettingsAssociationResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Virtual machine guest diagnostic settings resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociation",
            "description": "The diagnostics settings associations of the resource.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "GuestDiagnosticSettingsAssociationResourcePatch": {
        "description": "Guest diagnostic setting resource for patch operations",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "properties": {
            "$ref": "#/components/schemas/GuestDiagnosticSettingsAssociation",
            "description": "The service diagnostics settings for an update operation.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An azure resource object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "id": {
            "description": "Azure resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "Azure resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}