openapi: 3.0.0
info:
  description: >-
    Manage Multi-Access Keys (MAK) that enable Windows Extended Security Updates
    (ESU).
  title: windowsesu
  version: 2019-09-16-preview
  x-ms-code-generation-settings:
    name: windowsesuClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.WindowsESU/operations:
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: List all available Windows.ESU provider operations.
      operationId: Operations_List
      x-ms-examples:
        ListOperations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.WindowsESU/multipleActivationKeys':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleActivationKeyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MultipleActivationKeys
      description: List all Multiple Activation Keys (MAK) created for a subscription.
      operationId: MultipleActivationKeys_List
      x-ms-examples:
        ListMultipleActivationKeys:
          $ref: ./examples/ListMultipleActivationKeys.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsESU/multipleActivationKeys':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleActivationKeyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MultipleActivationKeys
      description: List all Multiple Activation Keys (MAK) in a resource group.
      operationId: MultipleActivationKeys_ListByResourceGroup
      x-ms-examples:
        ListMultipleActivationKeys:
          $ref: ./examples/ListMultipleActivationKeysByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsESU/multipleActivationKeys/{multipleActivationKeyName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/MultipleActivationKeyNameParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MultipleActivationKeys
      description: Delete a MAK key.
      operationId: MultipleActivationKeys_Delete
      x-ms-examples:
        DeleteMultipleActivationKey:
          $ref: ./examples/DeleteMultipleActivationKey.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/MultipleActivationKeyNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleActivationKey'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MultipleActivationKeys
      description: Get a MAK key.
      operationId: MultipleActivationKeys_Get
      x-ms-examples:
        GetMultipleActivationKey:
          $ref: ./examples/GetMultipleActivationKey.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/MultipleActivationKeyNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleActivationKey'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MultipleActivationKeys
      description: Update a MAK key.
      operationId: MultipleActivationKeys_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleActivationKeyUpdate'
        description: Details of the MAK key.
        required: true
      x-ms-examples:
        UpdateMultipleActivationKey:
          $ref: ./examples/UpdateMultipleActivationKey.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/MultipleActivationKeyNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleActivationKey'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleActivationKey'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MultipleActivationKeys
      description: Create a MAK key.
      operationId: MultipleActivationKeys_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleActivationKey'
        description: Details of the MAK key.
        required: true
      x-ms-examples:
        CreateMultipleActivationKey:
          $ref: ./examples/CreateMultipleActivationKey.json
      x-ms-long-running-operation: true
components:
  parameters:
    MultipleActivationKeyNameParameter:
      description: The name of the MAK key.
      in: path
      name: multipleActivationKeyName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: >-
            Service specific error code which serves as the substatus for the
            HTTP error code.
          readOnly: true
          type: string
        details:
          description: Internal error details.
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
          type: array
        message:
          description: Description of the error.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
      type: object
    MultipleActivationKey:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: MAK key details.
      properties:
        properties:
          description: MAK key specific properties.
          properties:
            agreementNumber:
              description: Agreement number under which the key is requested.
              type: string
              x-ms-mutability:
                - create
                - read
            expirationDate:
              description: End of support of security updates activated by the MAK key.
              format: date-time
              readOnly: true
              type: string
            installedServerNumber:
              description: Number of activations/servers using the MAK key.
              maximum: 5000
              minimum: 1
              type: integer
              x-ms-mutability:
                - create
                - read
            isEligible:
              description: >-
                <code> true </code> if user has eligible on-premises Windows
                physical or virtual machines, and that the requested key will
                only be used in their organization; <code> false </code>
                otherwise.
              type: boolean
              x-ms-mutability:
                - create
                - read
            multipleActivationKey:
              description: MAK 5x5 key.
              readOnly: true
              type: string
            osType:
              description: Type of OS for which the key is requested.
              enum:
                - Windows7
                - WindowsServer2008
                - WindowsServer2008R2
              type: string
              x-ms-enum:
                modelAsString: true
                name: OsType
              x-ms-mutability:
                - create
                - read
            provisioningState:
              enum:
                - Succeeded
                - Failed
                - Canceled
                - Accepted
                - Provisioning
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: true
                name: ProvisioningState
            supportType:
              default: SupplementalServicing
              description: Type of support
              enum:
                - SupplementalServicing
                - PremiumAssurance
              type: string
              x-ms-enum:
                modelAsString: true
                name: SupportType
              x-ms-mutability:
                - create
                - read
          type: object
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    MultipleActivationKeyList:
      description: List of MAK keys.
      properties:
        nextLink:
          description: Link to the next page of resources.
          readOnly: true
          type: string
        value:
          description: List of MAK keys.
          items:
            $ref: '#/components/schemas/MultipleActivationKey'
          type: array
      type: object
    MultipleActivationKeyUpdate:
      description: MAK key details.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
    Operation:
      description: REST API operation details.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: Name of the operation.
          readOnly: true
          type: string
      type: object
    OperationDisplay:
      description: Meta data about operation used for display in portal.
      properties:
        description:
          type: string
        operation:
          type: string
        provider:
          type: string
        resource:
          type: string
      type: object
    OperationList:
      description: List of available REST API operations.
      properties:
        nextLink:
          description: Link to the next page of resources.
          readOnly: true
          type: string
        value:
          description: List of operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

