{
  "openapi": "3.0.0",
  "info": {
    "description": "REST API for Azure Logic Apps.",
    "title": "LogicManagementClient",
    "version": "2018-07-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/logic.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Logic/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Logic error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Logic REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "List Microsoft.Logic operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets a list of integration accounts by subscription.",
        "operationId": "IntegrationAccounts_ListBySubscription",
        "x-ms-examples": {
          "List integration accounts by subscription": {
            "$ref": "./examples/IntegrationAccounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Workflows"
        ],
        "description": "Gets a list of workflows by subscription.",
        "operationId": "Workflows_ListBySubscription",
        "x-ms-examples": {
          "List all workflows in a subscription": {
            "$ref": "./examples/Workflows_ListBySubscription.json"
          }
        },
        "x-ms-odata": "#/components/schemas/WorkflowFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets a list of integration accounts by resource group.",
        "operationId": "IntegrationAccounts_ListByResourceGroup",
        "x-ms-examples": {
          "List integration accounts by resource group name": {
            "$ref": "./examples/IntegrationAccounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Deletes an integration account.",
        "operationId": "IntegrationAccounts_Delete",
        "x-ms-examples": {
          "Delete an integration account": {
            "$ref": "./examples/IntegrationAccounts_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccount"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets an integration account.",
        "operationId": "IntegrationAccounts_Get",
        "x-ms-examples": {
          "Get integration account by name": {
            "$ref": "./examples/IntegrationAccounts_Get.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccount"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Updates an integration account.",
        "operationId": "IntegrationAccounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccount"
              }
            }
          },
          "description": "The integration account.",
          "required": true
        },
        "x-ms-examples": {
          "Patch an integration account": {
            "$ref": "./examples/IntegrationAccounts_Update.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccount"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccount"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Creates or updates an integration account.",
        "operationId": "IntegrationAccounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccount"
              }
            }
          },
          "description": "The integration account.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update an integration account": {
            "$ref": "./examples/IntegrationAccounts_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: AgreementType.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountAgreementListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Gets a list of integration account agreements.",
        "operationId": "IntegrationAccountAgreements_List",
        "x-ms-examples": {
          "Get agreements by integration account name": {
            "$ref": "./examples/IntegrationAccountAgreements_List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/IntegrationAccountAgreementFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account agreement name.",
            "in": "path",
            "name": "agreementName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Deletes an integration account agreement.",
        "operationId": "IntegrationAccountAgreements_Delete",
        "x-ms-examples": {
          "Delete an agreement": {
            "$ref": "./examples/IntegrationAccountAgreements_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account agreement name.",
            "in": "path",
            "name": "agreementName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountAgreement"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Gets an integration account agreement.",
        "operationId": "IntegrationAccountAgreements_Get",
        "x-ms-examples": {
          "Get agreement by name": {
            "$ref": "./examples/IntegrationAccountAgreements_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account agreement name.",
            "in": "path",
            "name": "agreementName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountAgreement"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountAgreement"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Creates or updates an integration account agreement.",
        "operationId": "IntegrationAccountAgreements_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccountAgreement"
              }
            }
          },
          "description": "The integration account agreement.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update an agreement": {
            "$ref": "./examples/IntegrationAccountAgreements_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}/listContentCallbackUrl": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account agreement name.",
            "in": "path",
            "name": "agreementName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerCallbackUrl"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Get the content callback url.",
        "operationId": "IntegrationAccountAgreements_ListContentCallbackUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCallbackUrlParameters"
              }
            }
          },
          "required": true
        },
        "x-ms-examples": {
          "Get the content callback url": {
            "$ref": "./examples/IntegrationAccountAgreements_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountAssemblies"
        ],
        "description": "List the assemblies for an integration account.",
        "operationId": "IntegrationAccountAssemblies_List",
        "x-ms-examples": {
          "List integration account assemblies": {
            "$ref": "./examples/IntegrationAccountAssemblies_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies/{assemblyArtifactName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The assembly artifact name.",
            "in": "path",
            "name": "assemblyArtifactName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountAssemblies"
        ],
        "description": "Delete an assembly for an integration account.",
        "operationId": "IntegrationAccountAssemblies_Delete",
        "x-ms-examples": {
          "Delete an integration account assembly": {
            "$ref": "./examples/IntegrationAccountAssemblies_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The assembly artifact name.",
            "in": "path",
            "name": "assemblyArtifactName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDefinition"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountAssemblies"
        ],
        "description": "Get an assembly for an integration account.",
        "operationId": "IntegrationAccountAssemblies_Get",
        "x-ms-examples": {
          "Get an integration account assembly": {
            "$ref": "./examples/IntegrationAccountAssemblies_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The assembly artifact name.",
            "in": "path",
            "name": "assemblyArtifactName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDefinition"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDefinition"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountAssemblies"
        ],
        "description": "Create or update an assembly for an integration account.",
        "operationId": "IntegrationAccountAssemblies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssemblyDefinition"
              }
            }
          },
          "description": "The assembly artifact.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update an account assembly": {
            "$ref": "./examples/IntegrationAccountAssemblies_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies/{assemblyArtifactName}/listContentCallbackUrl": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The assembly artifact name.",
            "in": "path",
            "name": "assemblyArtifactName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerCallbackUrl"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountAssemblies"
        ],
        "description": "Get the content callback url for an integration account assembly.",
        "operationId": "IntegrationAccountAssemblies_ListContentCallbackUrl",
        "x-ms-examples": {
          "Get the callback url for an integration account assembly": {
            "$ref": "./examples/IntegrationAccountAssemblies_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchConfigurationCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountBatchConfigurations"
        ],
        "description": "List the batch configurations for an integration account.",
        "operationId": "IntegrationAccountBatchConfigurations_List",
        "x-ms-examples": {
          "List batch configurations": {
            "$ref": "./examples/IntegrationAccountBatchConfigurations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The batch configuration name.",
            "in": "path",
            "name": "batchConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountBatchConfigurations"
        ],
        "description": "Delete a batch configuration for an integration account.",
        "operationId": "IntegrationAccountBatchConfigurations_Delete",
        "x-ms-examples": {
          "Delete a batch configuration": {
            "$ref": "./examples/IntegrationAccountBatchConfigurations_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The batch configuration name.",
            "in": "path",
            "name": "batchConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchConfiguration"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountBatchConfigurations"
        ],
        "description": "Get a batch configuration for an integration account.",
        "operationId": "IntegrationAccountBatchConfigurations_Get",
        "x-ms-examples": {
          "Get a batch configuration": {
            "$ref": "./examples/IntegrationAccountBatchConfigurations_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The batch configuration name.",
            "in": "path",
            "name": "batchConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchConfiguration"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchConfiguration"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountBatchConfigurations"
        ],
        "description": "Create or update a batch configuration for an integration account.",
        "operationId": "IntegrationAccountBatchConfigurations_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchConfiguration"
              }
            }
          },
          "description": "The batch configuration.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a batch configuration": {
            "$ref": "./examples/IntegrationAccountBatchConfigurations_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountCertificateListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Gets a list of integration account certificates.",
        "operationId": "IntegrationAccountCertificates_List",
        "x-ms-examples": {
          "Get certificates by integration account name": {
            "$ref": "./examples/IntegrationAccountCertificates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account certificate name.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Deletes an integration account certificate.",
        "operationId": "IntegrationAccountCertificates_Delete",
        "x-ms-examples": {
          "Delete a certificate": {
            "$ref": "./examples/IntegrationAccountCertificates_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account certificate name.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountCertificate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Gets an integration account certificate.",
        "operationId": "IntegrationAccountCertificates_Get",
        "x-ms-examples": {
          "Get certificate by name": {
            "$ref": "./examples/IntegrationAccountCertificates_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account certificate name.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountCertificate"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountCertificate"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Creates or updates an integration account certificate.",
        "operationId": "IntegrationAccountCertificates_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccountCertificate"
              }
            }
          },
          "description": "The integration account certificate.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a certificate": {
            "$ref": "./examples/IntegrationAccountCertificates_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackUrl"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets the integration account callback URL.",
        "operationId": "IntegrationAccounts_ListCallbackUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCallbackUrlParameters"
              }
            }
          },
          "description": "The callback URL parameters.",
          "required": true
        },
        "x-ms-examples": {
          "List IntegrationAccount callback URL": {
            "$ref": "./examples/IntegrationAccounts_ListCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listKeyVaultKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyVaultKeyCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets the integration account's Key Vault keys.",
        "operationId": "IntegrationAccounts_ListKeyVaultKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListKeyVaultKeysDefinition"
              }
            }
          },
          "description": "The key vault parameters.",
          "required": true
        },
        "x-ms-examples": {
          "Get Integration Account callback URL": {
            "$ref": "./examples/IntegrationAccounts_ListKeyVaultKeys.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/logTrackingEvents": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Logs the integration account's tracking events.",
        "operationId": "IntegrationAccounts_LogTrackingEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingEventsDefinition"
              }
            }
          },
          "description": "The callback URL parameters.",
          "required": true
        },
        "x-ms-examples": {
          "Log a tracked event": {
            "$ref": "./examples/IntegrationAccounts_LogTrackingEvents.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: MapType.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountMapListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Gets a list of integration account maps.",
        "operationId": "IntegrationAccountMaps_List",
        "x-ms-examples": {
          "Get maps by integration account name": {
            "$ref": "./examples/IntegrationAccountMaps_List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/IntegrationAccountMapFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account map name.",
            "in": "path",
            "name": "mapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Deletes an integration account map.",
        "operationId": "IntegrationAccountMaps_Delete",
        "x-ms-examples": {
          "Delete a map": {
            "$ref": "./examples/IntegrationAccountMaps_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account map name.",
            "in": "path",
            "name": "mapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountMap"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Gets an integration account map.",
        "operationId": "IntegrationAccountMaps_Get",
        "x-ms-examples": {
          "Get map by name": {
            "$ref": "./examples/IntegrationAccountMaps_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account map name.",
            "in": "path",
            "name": "mapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountMap"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountMap"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Creates or updates an integration account map.",
        "operationId": "IntegrationAccountMaps_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccountMap"
              }
            }
          },
          "description": "The integration account map.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a map": {
            "$ref": "./examples/IntegrationAccountMaps_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}/listContentCallbackUrl": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account map name.",
            "in": "path",
            "name": "mapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerCallbackUrl"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Get the content callback url.",
        "operationId": "IntegrationAccountMaps_ListContentCallbackUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCallbackUrlParameters"
              }
            }
          },
          "required": true
        },
        "x-ms-examples": {
          "Get the content callback url": {
            "$ref": "./examples/IntegrationAccountMaps_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: PartnerType.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountPartnerListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Gets a list of integration account partners.",
        "operationId": "IntegrationAccountPartners_List",
        "x-ms-examples": {
          "Get partners by integration account name": {
            "$ref": "./examples/IntegrationAccountPartners_List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/IntegrationAccountPartnerFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account partner name.",
            "in": "path",
            "name": "partnerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Deletes an integration account partner.",
        "operationId": "IntegrationAccountPartners_Delete",
        "x-ms-examples": {
          "Delete a partner": {
            "$ref": "./examples/IntegrationAccountPartners_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account partner name.",
            "in": "path",
            "name": "partnerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountPartner"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Gets an integration account partner.",
        "operationId": "IntegrationAccountPartners_Get",
        "x-ms-examples": {
          "Get partner by name": {
            "$ref": "./examples/IntegrationAccountPartners_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account partner name.",
            "in": "path",
            "name": "partnerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountPartner"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountPartner"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Creates or updates an integration account partner.",
        "operationId": "IntegrationAccountPartners_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccountPartner"
              }
            }
          },
          "description": "The integration account partner.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a partner": {
            "$ref": "./examples/IntegrationAccountPartners_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}/listContentCallbackUrl": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account partner name.",
            "in": "path",
            "name": "partnerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerCallbackUrl"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Get the content callback url.",
        "operationId": "IntegrationAccountPartners_ListContentCallbackUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCallbackUrlParameters"
              }
            }
          },
          "required": true
        },
        "x-ms-examples": {
          "Get the content callback url": {
            "$ref": "./examples/IntegrationAccountPartners_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/regenerateAccessKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccount"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Regenerates the integration account access key.",
        "operationId": "IntegrationAccounts_RegenerateAccessKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateActionParameter"
              }
            }
          },
          "description": "The access key type.",
          "required": true
        },
        "x-ms-examples": {
          "Regenerate access key": {
            "$ref": "./examples/IntegrationAccounts_RegenerateAccessKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: SchemaType.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSchemaListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountSchemas"
        ],
        "description": "Gets a list of integration account schemas.",
        "operationId": "IntegrationAccountSchemas_List",
        "x-ms-examples": {
          "Get schemas by integration account name": {
            "$ref": "./examples/IntegrationAccountSchemas_List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/IntegrationAccountSchemaFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account schema name.",
            "in": "path",
            "name": "schemaName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountSchemas"
        ],
        "description": "Deletes an integration account schema.",
        "operationId": "IntegrationAccountSchemas_Delete",
        "x-ms-examples": {
          "Delete a schema by name": {
            "$ref": "./examples/IntegrationAccountSchemas_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account schema name.",
            "in": "path",
            "name": "schemaName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSchema"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountSchemas"
        ],
        "description": "Gets an integration account schema.",
        "operationId": "IntegrationAccountSchemas_Get",
        "x-ms-examples": {
          "Get schema by name": {
            "$ref": "./examples/IntegrationAccountSchemas_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account schema name.",
            "in": "path",
            "name": "schemaName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSchema"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSchema"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountSchemas"
        ],
        "description": "Creates or updates an integration account schema.",
        "operationId": "IntegrationAccountSchemas_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccountSchema"
              }
            }
          },
          "description": "The integration account schema.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update schema": {
            "$ref": "./examples/IntegrationAccountSchemas_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}/listContentCallbackUrl": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account schema name.",
            "in": "path",
            "name": "schemaName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTriggerCallbackUrl"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountSchemas"
        ],
        "description": "Get the content callback url.",
        "operationId": "IntegrationAccountSchemas_ListContentCallbackUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCallbackUrlParameters"
              }
            }
          },
          "required": true
        },
        "x-ms-examples": {
          "Get the content callback url": {
            "$ref": "./examples/IntegrationAccountSchemas_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/sessions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: ChangedTime.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSessionListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountSessions"
        ],
        "description": "Gets a list of integration account sessions.",
        "operationId": "IntegrationAccountSessions_List",
        "x-ms-examples": {
          "Get a list of integration account sessions": {
            "$ref": "./examples/IntegrationAccountSessions_List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/IntegrationAccountSessionFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/sessions/{sessionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account session name.",
            "in": "path",
            "name": "sessionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "IntegrationAccountSessions"
        ],
        "description": "Deletes an integration account session.",
        "operationId": "IntegrationAccountSessions_Delete",
        "x-ms-examples": {
          "Delete an integration account session": {
            "$ref": "./examples/IntegrationAccountSessions_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account session name.",
            "in": "path",
            "name": "sessionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSession"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "IntegrationAccountSessions"
        ],
        "description": "Gets an integration account session.",
        "operationId": "IntegrationAccountSessions_Get",
        "x-ms-examples": {
          "Get an integration account session": {
            "$ref": "./examples/IntegrationAccountSessions_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account name.",
            "in": "path",
            "name": "integrationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The integration account session name.",
            "in": "path",
            "name": "sessionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSession"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationAccountSession"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "IntegrationAccountSessions"
        ],
        "description": "Creates or updates an integration account session.",
        "operationId": "IntegrationAccountSessions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationAccountSession"
              }
            }
          },
          "description": "The integration account session.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update an integration account session": {
            "$ref": "./examples/IntegrationAccountSessions_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/locations/{location}/workflows/{workflowName}/validate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The workflow location.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The workflow name.",
            "in": "path",
            "name": "workflowName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Workflows"
        ],
        "description": "Validates the workflow definition.",
        "operationId": "Workflows_ValidateByLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workflow"
              }
            }
          },
          "description": "The workflow definition.",
          "required": true
        },
        "x-ms-examples": {
          "Validate a workflow": {
            "$ref": "./examples/Workflows_ValidateByLocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The number of items to be included in the result.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Workflows"
        ],
        "description": "Gets a list of workflows by resource group.",
        "operationId": "Workflows_ListByResourceGroup",
        "x-ms-examples": {
          "List all workflows in a resource group": {
            "$ref": "./examples/Workflows_ListByResourceGroup.json"
          }
        },
        "x-ms-odata": "#/components/schemas/WorkflowFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The workflow name.",
            "in": "path",
            "name": "workflowName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Workflows"
        ],
        "description": "Deletes a workflow.",
        "operationId": "Workflows_Delete",
        "x-ms-examples": {
          "Delete a workflow": {
            "$ref": "./examples/Workflows_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The workflow name.",
            "in": "path",
            "name": "workflowName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Workflows"
        ],
        "description": "Gets a workflow.",
        "operationId": "Workflows_Get",
        "x-ms-examples": {
          "Get a workflow": {
            "$ref": "./examples/Workflows_Get.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "description": "The resource group name.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The workflow name.",
            "in": "path",
            "name": "workflowName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            },
[...]
