{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights client for Components.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2015-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/components": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentListResult"
                }
              }
            },
            "description": "A list containing 0 or more Application Insights component definitions."
          }
        },
        "description": "Gets a list of all Application Insights components within a subscription.",
        "operationId": "Components_List",
        "x-ms-examples": {
          "ComponentsList.json": {
            "$ref": "./examples/ComponentsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentListResult"
                }
              }
            },
            "description": "A list containing 0 or more Application Insights component definitions."
          }
        },
        "description": "Gets a list of Application Insights components within a resource group.",
        "operationId": "Components_ListByResourceGroup",
        "x-ms-examples": {
          "ComponentListByResourceGroup": {
            "$ref": "./examples/ComponentsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when deleting an Application Insights component."
          },
          "204": {
            "description": "The specified component does not exist."
          }
        },
        "description": "Deletes an Application Insights component.",
        "operationId": "Components_Delete",
        "x-ms-examples": {
          "ComponentsDelete": {
            "$ref": "./examples/ComponentsDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponent"
                }
              }
            },
            "description": "An Application Insights Component definition."
          }
        },
        "description": "Returns an Application Insights component.",
        "operationId": "Components_Get",
        "x-ms-examples": {
          "ComponentGet": {
            "$ref": "./examples/ComponentsGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponent"
                }
              }
            },
            "description": "Updating the Application Insights component's tags was successful. Component tags are updated and returned with the rest of the Component's object properties."
          }
        },
        "description": "Updates an existing component's tags. To update other fields use the CreateOrUpdate method.",
        "operationId": "Components_UpdateTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsResource"
              }
            }
          },
          "description": "Updated tag information to set into the component instance.",
          "required": true
        },
        "x-ms-examples": {
          "ComponentUpdateTagsOnly": {
            "$ref": "./examples/ComponentsUpdateTagsOnly.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponent"
                }
              }
            },
            "description": "Successful request when creating or updating an Application Insights component. The updated component is returned."
          }
        },
        "description": "Creates (or updates) an Application Insights component. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.",
        "operationId": "Components_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInsightsComponent"
              }
            }
          },
          "description": "Properties that need to be specified to create an Application Insights component.",
          "required": true
        },
        "x-ms-examples": {
          "ComponentCreate": {
            "$ref": "./examples/ComponentsCreate.json"
          },
          "ComponentUpdate": {
            "$ref": "./examples/ComponentsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/operations/{purgeId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ComponentPurgeIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentPurgeStatusResponse"
                }
              }
            },
            "description": "Returns status of purge operation in body of response. e.g.:  running, completed."
          }
        },
        "description": "Get status for an ongoing purge operation.",
        "operationId": "Components_GetPurgeStatus",
        "x-ms-examples": {
          "ComponentPurge": {
            "$ref": "./examples/ComponentsPurgeStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/purge": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentPurgeResponse"
                }
              }
            },
            "description": "Accepted request for purging an Application Insights component."
          }
        },
        "description": "Purges data in an Application Insights component by a set of user-defined filters.\n\nIn order to manage system resources, purge requests are throttled at 50 requests per hour. You should batch the execution of purge requests by sending a single command whose predicate includes all user identities that require purging. Use the in operator to specify multiple identities. You should run the query prior to using for a purge request to verify that the results are expected.",
        "operationId": "Components_Purge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentPurgeBody"
              }
            }
          },
          "description": "Describes the body of a request to purge data in a single table of an Application Insights component",
          "required": true
        },
        "x-ms-examples": {
          "ComponentPurge": {
            "$ref": "./examples/ComponentsPurge.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ComponentPurgeIdParameter": {
        "description": "In a purge status request, this is the Id of the operation the status of which is returned.",
        "in": "path",
        "name": "purgeId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ApplicationInsightsComponent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ComponentsResource"
          }
        ],
        "description": "An Application Insights component definition.",
        "properties": {
          "kind": {
            "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ApplicationInsightsComponentProperties",
            "description": "Properties that define an Application Insights component resource.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "kind"
        ],
        "type": "object"
      },
      "ApplicationInsightsComponentListResult": {
        "description": "Describes the list of Application Insights Resources.",
        "properties": {
          "nextLink": {
            "description": "The URI to get the next set of Application Insights component definitions if too many components where returned in the result set.",
            "type": "string"
          },
          "value": {
            "description": "List of Application Insights component definitions.",
            "items": {
              "$ref": "#/components/schemas/ApplicationInsightsComponent"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "ApplicationInsightsComponentProperties": {
        "description": "Properties that define an Application Insights component resource.",
        "properties": {
          "AppId": {
            "description": "Application Insights Unique ID for your Application.",
            "readOnly": true,
            "type": "string"
          },
          "ApplicationId": {
            "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
            "readOnly": true,
            "type": "string"
          },
          "Application_Type": {
            "default": "web",
            "description": "Type of application being monitored.",
            "enum": [
              "web",
              "other"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationType"
            },
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "ConnectionString": {
            "description": "Application Insights component connection string.",
            "readOnly": true,
            "type": "string"
          },
          "CreationDate": {
            "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "DisableIpMasking": {
            "description": "Disable IP masking.",
            "type": "boolean"
          },
          "Flow_Type": {
            "default": "Bluefield",
            "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
            "enum": [
              "Bluefield"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "FlowType"
            }
          },
          "HockeyAppId": {
            "externalDocs": {
              "url": "https://aka.ms/ewjuel"
            },
            "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
            "type": "string"
          },
          "HockeyAppToken": {
            "externalDocs": {
              "url": "https://aka.ms/sls76s"
            },
            "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
            "readOnly": true,
            "type": "string"
          },
          "ImmediatePurgeDataOn30Days": {
            "description": "Purge data immediately after 30 days.",
            "type": "boolean"
          },
          "IngestionMode": {
            "default": "ApplicationInsights",
            "description": "Indicates the flow of the ingestion.",
            "enum": [
              "ApplicationInsights",
              "ApplicationInsightsWithDiagnosticSettings",
              "LogAnalytics"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "IngestionMode"
            }
          },
          "InstrumentationKey": {
            "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.",
            "readOnly": true,
            "type": "string"
          },
          "PrivateLinkScopedResources": {
            "description": "List of linked private link scope resources.",
            "items": {
              "$ref": "#/components/schemas/PrivateLinkScopedResource"
            },
            "readOnly": true,
            "type": "array"
          },
          "Request_Source": {
            "default": "rest",
            "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
            "enum": [
              "rest"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "RequestSource"
            }
          },
          "RetentionInDays": {
            "default": 90,
            "description": "Retention period in days.",
            "type": "integer"
          },
          "SamplingPercentage": {
            "externalDocs": {
              "url": "https://aka.ms/sl0yqd"
            },
            "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
            "format": "double",
            "type": "number"
          },
          "TenantId": {
            "description": "Azure Tenant Id.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "Application_Type"
        ],
        "type": "object"
      },
      "ComponentPurgeBody": {
        "description": "Describes the body of a purge request for an App Insights component",
        "properties": {
          "filters": {
            "description": "The set of columns and filters (queries) to run over them to purge the resulting data.",
            "items": {
              "$ref": "#/components/schemas/ComponentPurgeBodyFilters"
            },
            "type": "array"
          },
          "table": {
            "description": "Table from which to purge data.",
            "type": "string"
          }
        },
        "required": [
          "table",
          "filters"
        ],
        "type": "object"
      },
      "ComponentPurgeBodyFilters": {
        "description": "User-defined filters to return data which will be purged from the table.",
        "properties": {
          "column": {
            "description": "The column of the table over which the given query should run",
            "type": "string"
          },
          "key": {
            "description": "When filtering over custom dimensions, this key will be used as the name of the custom dimension.",
            "type": "string"
          },
          "operator": {
            "description": "A query operator to evaluate over the provided column and value(s). Supported operators are ==, =~, in, in~, >, >=, <, <=, between, and have the same behavior as they would in a KQL query.",
            "type": "string"
          },
          "value": {
            "description": "the value for the operator to function over. This can be a number (e.g., > 100), a string (timestamp >= '2017-09-01') or array of values."
          }
        },
        "type": "object"
      },
      "ComponentPurgeResponse": {
        "description": "Response containing operationId for a specific purge action.",
        "properties": {
          "operationId": {
            "description": "Id to use when querying for status for a particular purge operation.",
            "type": "string"
          }
        },
        "required": [
          "operationId"
        ],
        "type": "object"
      },
      "ComponentPurgeStatusResponse": {
        "description": "Response containing status for a specific purge operation.",
        "properties": {
          "status": {
            "description": "Status of the operation represented by the requested Id.",
            "enum": [
              "pending",
              "completed"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PurgeState"
            }
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "ComponentsResource": {
        "description": "An azure resource object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "id": {
            "description": "Azure resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "Azure resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "PrivateLinkScopedResource": {
        "description": "The private link scope resource reference.",
        "properties": {
          "ResourceId": {
            "description": "The full resource Id of the private link scope resource.",
            "type": "string"
          },
          "ScopeId": {
            "description": "The private link scope unique Identifier.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TagsResource": {
        "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}