openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: '2017-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceId}/providers/Microsoft.Security/complianceResults/{complianceResultName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/ResourceId
        - $ref: '#/components/parameters/ComplianceResultName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Compliance Results
      description: Security Compliance Result
      operationId: ComplianceResults_Get
      x-ms-examples:
        Get compliance results on subscription:
          $ref: ./examples/ComplianceResults/GetComplianceResults_example.json
  '/{scope}/providers/Microsoft.Security/complianceResults':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResultList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Compliance Results
      description: Security compliance results in the subscription
      operationId: ComplianceResults_List
      x-ms-examples:
        Get compliance results on subscription:
          $ref: ./examples/ComplianceResults/ListComplianceResults_example.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ComplianceResultName:
      description: name of the desired assessment compliance result
      in: path
      name: complianceResultName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ComplianceResult:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: a compliance result
      properties:
        properties:
          $ref: '#/components/schemas/ComplianceResultProperties'
          description: Compliance result data
          x-ms-client-flatten: true
      type: object
    ComplianceResultList:
      description: List of compliance results response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of compliance results
          items:
            $ref: '#/components/schemas/ComplianceResult'
          type: array
      required:
        - value
      type: object
    ComplianceResultProperties:
      description: Compliance result data
      properties:
        resourceStatus:
          description: The status of the resource regarding a single assessment
          enum:
            - Healthy
            - NotApplicable
            - OffByPolicy
            - NotHealthy
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: resourceStatus
            values:
              - description: This assessment on the resource is healthy
                value: Healthy
              - description: This assessment is not applicable to this resource
                value: NotApplicable
              - description: This assessment is turned off by policy on this subscription
                value: OffByPolicy
              - description: This assessment on the resource is not healthy
                value: NotHealthy
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

