openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkProfiles':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProfileListResult'
          description: >-
            Request successful. The operation returns a list of NetworkProfile
            resources.
      tags:
        - NetworkProfiles
      description: Gets all the network profiles in a subscription.
      operationId: NetworkProfiles_ListAll
      x-ms-examples:
        List all network profiles:
          $ref: ./examples/NetworkProfileListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkProfiles':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProfileListResult'
          description: >-
            Request successful. The operation returns a list of NetworkProfile
            resources.
      tags:
        - NetworkProfiles
      description: Gets all network profiles in a resource group.
      operationId: NetworkProfiles_List
      x-ms-examples:
        List resource group network profiles:
          $ref: ./examples/NetworkProfileList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkProfiles/{networkProfileName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the NetworkProfile.
          in: path
          name: networkProfileName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - NetworkProfiles
      description: Deletes the specified network profile.
      operationId: NetworkProfiles_Delete
      x-ms-examples:
        Delete network profile:
          $ref: ./examples/NetworkProfileDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the public IP prefix.
          in: path
          name: networkProfileName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProfile'
          description: >-
            Request successful. The operation returns the resulting
            NetworkProfile resource.
      tags:
        - NetworkProfiles
      description: Gets the specified network profile in a specified resource group.
      operationId: NetworkProfiles_Get
      x-ms-examples:
        Get network profile:
          $ref: ./examples/NetworkProfileGetConfigOnly.json
        Get network profile with container network interfaces:
          $ref: ./examples/NetworkProfileGetWithContainerNic.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the network profile.
          in: path
          name: networkProfileName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProfile'
          description: >-
            Update successful. The operation returns the resulting
            NetworkProfile resource.
      tags:
        - NetworkProfiles
      description: Updates network profile tags.
      operationId: NetworkProfiles_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update network profile tags.
        required: true
      x-ms-examples:
        Update network profile tags:
          $ref: ./examples/NetworkProfileUpdateTags.json
      x-ms-long-running-operation: false
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the network profile.
          in: path
          name: networkProfileName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProfile'
          description: >-
            Update successful. The operation returns the resulting
            NetworkProfile resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProfile'
          description: >-
            Create successful. The operation returns the resulting
            NetworkProfile resource.
      tags:
        - NetworkProfiles
      description: Creates or updates a network profile.
      operationId: NetworkProfiles_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkProfile'
        description: Parameters supplied to the create or update network profile operation.
        required: true
      x-ms-examples:
        Create network profile defaults:
          $ref: ./examples/NetworkProfileCreateConfigOnly.json
      x-ms-long-running-operation: false
components:
  schemas:
    Container:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Reference to container resource in remote resource provider.
      properties: {}
      type: object
    ContainerNetworkInterface:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Container network interface child resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource. This name can be used to access the
            resource.
          type: string
        properties:
          $ref: '#/components/schemas/ContainerNetworkInterfacePropertiesFormat'
          description: Container network interface properties.
          x-ms-client-flatten: true
        type:
          description: Sub Resource type.
          readOnly: true
          type: string
      type: object
    ContainerNetworkInterfaceConfiguration:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Container network interface configuration child resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource. This name can be used to access the
            resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/ContainerNetworkInterfaceConfigurationPropertiesFormat
          description: Container network interface configuration properties.
          x-ms-client-flatten: true
        type:
          description: Sub Resource type.
          readOnly: true
          type: string
      type: object
    ContainerNetworkInterfaceConfigurationPropertiesFormat:
      description: Container network interface configuration properties.
      properties:
        containerNetworkInterfaces:
          description: >-
            A list of container network interfaces created from this container
            network interface configuration.
          items:
            $ref: ./network.json#/definitions/SubResource
          type: array
        ipConfigurations:
          description: >-
            A list of ip configurations of the container network interface
            configuration.
          items:
            $ref: '#/components/schemas/IPConfigurationProfile'
          type: array
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
      type: object
    ContainerNetworkInterfaceIpConfiguration:
      description: The ip configuration for a container network interface.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource. This name can be used to access the
            resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/ContainerNetworkInterfaceIpConfigurationPropertiesFormat
          description: Properties of the container network interface IP configuration.
          x-ms-client-flatten: true
        type:
          description: Sub Resource type.
          readOnly: true
          type: string
      type: object
    ContainerNetworkInterfaceIpConfigurationPropertiesFormat:
      description: Properties of the container network interface IP configuration.
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
      type: object
    ContainerNetworkInterfacePropertiesFormat:
      description: Properties of container network interface.
      properties:
        container:
          $ref: '#/components/schemas/Container'
          description: >-
            Reference to the container to which this container network interface
            is attached.
        containerNetworkInterfaceConfiguration:
          $ref: '#/components/schemas/ContainerNetworkInterfaceConfiguration'
          description: >-
            Container network interface configuration from which this container
            network interface is created.
        ipConfigurations:
          description: Reference to the ip configuration on this container nic.
          items:
            $ref: '#/components/schemas/ContainerNetworkInterfaceIpConfiguration'
          type: array
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
      type: object
    IPConfigurationProfile:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: IP configuration profile child resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource. This name can be used to access the
            resource.
          type: string
        properties:
          $ref: '#/components/schemas/IPConfigurationProfilePropertiesFormat'
          description: Properties of the IP configuration profile.
          x-ms-client-flatten: true
        type:
          description: Sub Resource type.
          readOnly: true
          type: string
      type: object
    IPConfigurationProfilePropertiesFormat:
      description: IP configuration profile properties.
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
        subnet:
          $ref: ./virtualNetwork.json#/definitions/Subnet
          description: >-
            The reference of the subnet resource to create a container network
            interface ip configuration.
      type: object
    NetworkProfile:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Network profile resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/NetworkProfilePropertiesFormat'
          description: Network profile properties.
          x-ms-client-flatten: true
      type: object
    NetworkProfileListResult:
      description: Response for ListNetworkProfiles API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of network profiles that exist in a resource group.
          items:
            $ref: '#/components/schemas/NetworkProfile'
          type: array
      type: object
    NetworkProfilePropertiesFormat:
      description: Network profile properties.
      properties:
        containerNetworkInterfaceConfigurations:
          description: List of chid container network interface configurations.
          items:
            $ref: '#/components/schemas/ContainerNetworkInterfaceConfiguration'
          type: array
        containerNetworkInterfaces:
          description: List of child container network interfaces.
          items:
            $ref: '#/components/schemas/ContainerNetworkInterface'
          type: array
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
        resourceGuid:
          description: The resource GUID property of the network interface resource.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

