{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/availableServiceAliases.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableServiceAliases": {
      "get": {
        "parameters": [
          {
            "description": "The location.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableServiceAliasesResult"
                }
              }
            },
            "description": "Request successful. Returns all available service aliases for the subscription in the region."
          }
        },
        "description": "Gets all available service aliases for this subscription in this region.",
        "operationId": "AvailableServiceAliases_List",
        "x-ms-examples": {
          "Get available service aliases": {
            "$ref": "./examples/AvailableServiceAliasesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableServiceAliases": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The location.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableServiceAliasesResult"
                }
              }
            },
            "description": "Request successful. Returns all available service aliases for the resource group in the region."
          }
        },
        "description": "Gets all available service aliases for this resource group in this region.",
        "operationId": "AvailableServiceAliases_ListByResourceGroup",
        "x-ms-examples": {
          "Get available service aliases in the resource group": {
            "$ref": "./examples/AvailableServiceAliasesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AvailableServiceAlias": {
        "description": "The available service alias.",
        "properties": {
          "id": {
            "description": "The ID of the service alias.",
            "type": "string"
          },
          "name": {
            "description": "The name of the service alias.",
            "type": "string"
          },
          "resourceName": {
            "description": "The resource name of the service alias.",
            "type": "string"
          },
          "type": {
            "description": "The type of the resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailableServiceAliasesResult": {
        "description": "An array of available service aliases.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "An array of available service aliases.",
            "items": {
              "$ref": "#/components/schemas/AvailableServiceAlias"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}