openapi: 3.0.0
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2019-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateEndpointConnections':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/accountNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: Successfully retrieved private endpoint connections.
      tags:
        - PrivateEndpointConnections
      description: List all private endpoint connections on a Cosmos DB account.
      operationId: PrivateEndpointConnections_ListByDatabaseAccount
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/CosmosDBPrivateEndpointConnectionListGet.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/accountNameParameter'
        - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
      responses:
        '202':
          description: >-
            Accepted. The private endpoint connection delete will complete
            asynchronously.
        '204':
          description: Private endpoint connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - PrivateEndpointConnections
      description: Deletes a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_Delete
      x-ms-examples:
        Deletes a private endpoint connection with a given name.:
          $ref: ./examples/CosmosDBPrivateEndpointConnectionDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/accountNameParameter'
        - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully retrieved a specified private endpoint connection.
      tags:
        - PrivateEndpointConnections
      description: Gets a private endpoint connection.
      operationId: PrivateEndpointConnections_Get
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/CosmosDBPrivateEndpointConnectionGet.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/accountNameParameter'
        - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully approved or rejected private endpoint connection.
        '202':
          description: >-
            Accepted. The private endpoint connection update will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - PrivateEndpointConnections
      description: Approve or reject a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        required: true
      x-ms-examples:
        Approve or reject a private endpoint connection with a given name.:
          $ref: ./examples/CosmosDBPrivateEndpointConnectionUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    PrivateEndpointConnectionNameParameter:
      description: The name of the private endpoint connection.
      in: path
      name: privateEndpointConnectionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    accountNameParameter:
      description: Cosmos DB database account name.
      in: path
      name: accountName
      required: true
      schema:
        maxLength: 50
        minLength: 3
        pattern: '^[a-z0-9]+(-[a-z0-9]+)*'
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: Error Response.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    PrivateEndpointConnection:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: A private endpoint connection
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections
      properties:
        value:
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          type: array
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      properties:
        groupId:
          description: Group id of the private endpoint.
          type: string
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
          description: Private endpoint which the connection belongs to.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
          description: Connection State of the Private Endpoint Connection.
        provisioningState:
          description: Provisioning state of the private endpoint.
          type: string
      type: object
    PrivateEndpointProperty:
      description: Private endpoint which the connection belongs to.
      properties:
        id:
          description: Resource id of the private endpoint.
          type: string
      type: object
    PrivateLinkServiceConnectionStateProperty:
      description: Connection State of the Private Endpoint Connection.
      properties:
        actionsRequired:
          description: >-
            Any action that is required beyond basic workflow (approve/ reject/
            disconnect)
          readOnly: true
          type: string
        description:
          description: The private link service connection description.
          type: string
        status:
          description: The private link service connection status.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

