openapi: 3.0.0
info:
  description: The Admin Gallery Management Client.
  title: GalleryManagementClient
  version: '2015-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.gallery.admin/galleryItems':
    get:
      parameters:
        - $ref: Gallery.json#/components/parameters/SubscriptionIdParameter
        - $ref: Gallery.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryItemList'
          description: OK
      tags:
        - GalleryItems
      operationId: GalleryItems_List
      summary: Lists gallery items.
      x-ms-examples:
        Lists gallery items.:
          $ref: ./examples/GalleryItem/List.json
      x-ms-pageable:
        nextLinkName: null
    post:
      parameters:
        - $ref: Gallery.json#/components/parameters/SubscriptionIdParameter
        - $ref: Gallery.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryItem'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryItem'
          description: CREATED
      tags:
        - GalleryItems
      operationId: GalleryItems_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryItemUriPayload'
        description: The URI to the gallery item JSON file.
        required: true
      summary: Uploads a provider gallery item to the storage.
      x-ms-examples:
        uploads a provider gallery item to the storage:
          $ref: ./examples/GalleryItem/Create.json
  '/subscriptions/{subscriptionId}/providers/microsoft.gallery.admin/galleryItems/{galleryItemName}':
    delete:
      parameters:
        - $ref: Gallery.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/GalleryItemNameParameter'
        - $ref: Gallery.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: NO CONTENT.
      tags:
        - GalleryItems
      operationId: GalleryItems_Delete
      summary: Delete a specific gallery item.
      x-ms-examples:
        Deletes a specific gallery item.:
          $ref: ./examples/GalleryItem/Delete.json
    get:
      parameters:
        - $ref: Gallery.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/GalleryItemNameParameter'
        - $ref: Gallery.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryItem'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - GalleryItems
      operationId: GalleryItems_Get
      summary: Get a specific gallery item.
      x-ms-examples:
        Get a specific gallery item.:
          $ref: ./examples/GalleryItem/Get.json
components:
  parameters:
    GalleryItemNameParameter:
      description: >-
        Identity of the gallery item. Includes publisher name, item name, and
        may include version separated by period character.
      in: path
      name: galleryItemName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Artifact:
      description: Represents gallery item artifacts.
      properties:
        name:
          description: Name of the artifact.
          type: string
        type:
          description: Artifact type.
          enum:
            - template
            - fragment
            - custom
            - metadata
          type: string
          x-ms-enum:
            modelAsString: true
            name: ArtifactType
            values:
              - value: template
              - value: fragment
              - value: custom
              - value: metadata
        uri:
          description: URI to the artifact.
          type: string
      type: object
    DefinitionTemplates:
      description: Holds UI definition file Uri and deployment template file URIs.
      properties:
        defaultDeploymentTemplateId:
          description: Default deployment template ID.
          type: string
        deploymentFragmentFileUris:
          additionalProperties:
            type: string
          description: >-
            List of key-value pairs containing the deployment fragment file IDs
            defined in the package manifest.
          readOnly: true
          type: object
        deploymentTemplateFileUris:
          additionalProperties:
            type: string
          description: >-
            List of key-value containing the deployment template file IDs
            defined in the package manifest.
          readOnly: true
          type: object
        uiDefinitionFileUri:
          description: UI definition file URI.
          type: string
      type: object
    Filter:
      description: Represents a filter item.
      properties:
        type:
          description: Filter type.
          type: string
        value:
          description: Filter value.
          type: string
      type: object
    GalleryItem:
      allOf:
        - $ref: Gallery.json#/definitions/Resource
      description: Properties of a gallery item.
      properties:
        properties:
          $ref: '#/components/schemas/GalleryItemProperties'
          description: Properties of a gallery item.
          x-ms-client-flatten: true
      type: object
    GalleryItemList:
      description: List of gallery items.
      properties:
        value:
          description: List of gallery items.
          items:
            $ref: '#/components/schemas/GalleryItem'
          type: array
      type: object
    GalleryItemProperties:
      description: Properties of a gallery item.
      properties:
        additionalProperties:
          additionalProperties:
            type: string
          description: List of additional properties provided for the item.
          readOnly: true
          type: object
        artifacts:
          description: List of artifacts for the gallery item.
          items:
            $ref: '#/components/schemas/Artifact'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
            - type
        categoryIds:
          description: List of category IDs the gallery item belongs to.
          items:
            type: string
          readOnly: true
          type: array
        changedTime:
          description: Last update time of gallery item.
          format: date-time
          type: string
        createdTime:
          description: The date and time that the gallery item was created.
          format: date-time
          type: string
        definitionTemplates:
          $ref: '#/components/schemas/DefinitionTemplates'
          description: Definition template for gallery item.
          readOnly: true
        description:
          description: The description of the gallery item.
          type: string
        filters:
          description: List of filters for the gallery item.
          items:
            $ref: '#/components/schemas/Filter'
          readOnly: true
          type: array
          x-ms-identifiers: []
        iconFileUris:
          description: URIs to icon files.
          properties:
            hero:
              description: URI to the hero icon.
              type: string
            large:
              description: URI to the large icon.
              type: string
            medium:
              description: URI to the medium icon.
              type: string
            small:
              description: URI to the small icon.
              type: string
            wide:
              description: URI to the wide icon.
              type: string
          readOnly: true
          type: object
        identity:
          description: Identity of the gallery item.
          type: string
        images:
          description: List of images.
          items:
            $ref: '#/components/schemas/ImageGroup'
          readOnly: true
          type: array
          x-ms-identifiers: []
        itemDisplayName:
          description: Displayed name in the portal.
          type: string
        itemName:
          description: >-
            The display name for the gallery item, for the locale of the
            request.
          type: string
        itemType:
          description: >-
            Describes the type of the gallery item, either GalleryItem or
            ItemGroup.
          enum:
            - GalleryItem
            - ItemGroup
          type: string
          x-ms-enum:
            modelAsString: true
            name: GalleryItemMenuReferenceType
            values:
              - value: GalleryItem
              - value: ItemGroup
        links:
          description: Links provided for the item.
          items:
            $ref: '#/components/schemas/LinkProperties'
          readOnly: true
          type: array
        longSummary:
          description: Long summary of the gallery item.
          type: string
        marketingMaterial:
          $ref: '#/components/schemas/MarketingMaterial'
          description: Marketing materials for the gallery item.
        metadata:
          $ref: '#/components/schemas/OpenProperty'
          description: Custom item metadata.
          readOnly: true
        products:
          description: List of products.
          items:
            $ref: '#/components/schemas/Product'
          readOnly: true
          type: array
          x-ms-identifiers:
            - displayName
        properties:
          additionalProperties:
            type: string
          description: List of properties provided for the gallery item.
          readOnly: true
          type: object
        publisher:
          description: The publisher of the gallery item.
          type: string
        publisherDisplayName:
          description: Display name of the publisher.
          type: string
        resourceGroupName:
          description: Resource group name the gallery item belongs too.
          type: string
        screenshotUris:
          description: List of screenshot image URIs provided for the item.
          items:
            type: string
          readOnly: true
          type: array
        summary:
          description: Short summary of the gallery item.
          type: string
        uiDefinitionUri:
          description: >-
            The URL of the view definition object that defines the UI
            information that is used when an instance of the gallery item
            resource definition is created.
          type: string
        version:
          description: >-
            The version identifier of the gallery item, in Major.Minor.Build
            format.
          type: string
      type: object
    GalleryItemUriPayload:
      description: Location of gallery item payload.
      properties:
        galleryItemUri:
          description: URI for your gallery package that has already been uploaded online.
          type: string
      type: object
    Image:
      description: Represents an image item.
      properties:
        id:
          description: ID of the image.
          type: string
        type:
          description: Type of image.
          type: string
        uri:
          description: URI to the image.
          type: string
      type: object
    ImageGroup:
      description: Group of images.
      properties:
        context:
          description: Image group identifier.
          type: string
        items:
          description: List of images.
          items:
            $ref: '#/components/schemas/Image'
          readOnly: true
          type: array
      type: object
    LinkProperties:
      description: Represents a link item read from the gallery item package.
      properties:
        displayName:
          description: Display name of the link.
          type: string
        id:
          description: ID of the link.
          type: string
        uri:
          description: URI of the link.
          type: string
      type: object
    MarketingMaterial:
      description: Marketing material for a gallery item.
      properties:
        learnUri:
          description: URI to educational material.
          type: string
        path:
          description: Path to the marketing site.
          type: string
      type: object
    OfferDetails:
      description: Represents a offer details item read from the gallery item package.
      properties:
        offerId:
          description: Offer identifier.
          type: string
        plans:
          description: List of plans available for the offer.
          items:
            $ref: '#/components/schemas/Plan'
          readOnly: true
          type: array
          x-ms-identifiers:
            - planId
        publisherId:
          description: Publisher identifier.
          type: string
      type: object
    OpenProperty:
      description: Open type used to define dynamic properties.
      properties:
        properties:
          additionalProperties:
            type: object
          description: Dictionary of dynamic properties.
          readOnly: true
          type: object
      type: object
    Plan:
      description: Represents a plan item read from the gallery item package.
      properties:
        description:
          description: Description of the plan.
          type: string
        displayName:
          description: Display name of the plan.
          type: string
        planId:
          description: Plan identifier.
          type: string
        summary:
          description: Summary of the plan.
          type: string
      type: object
    Product:
      description: Represents a product item read from the gallery item package.
      properties:
        displayName:
          description: Display name of the product.
          type: string
        legalTerms:
          description: Legal terms of the product.
          type: string
        legalTermsUri:
          description: URI to the legal terms of the product.
          type: string
        offerDetails:
          $ref: '#/components/schemas/OfferDetails'
          description: Offer details of the product.
        pricingDetailsUri:
          description: URI to the pricing details of the product.
          type: string
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        privacyPolicyUri:
          description: URI to the privacy policy of the product.
          type: string
        publisherDisplayName:
          description: Publisher display name of the product.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

