openapi: 3.0.0
info:
  title: AppServicePlans API Client
  version: '2016-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms':
    get:
      parameters:
        - description: >-
            Specify <code>true</code> to return all App Service plan properties.
            The default is <code>false</code>, which returns a subset of the
            properties.
             Retrieval of all properties may increase the API latency.
          in: query
          name: detailed
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlanCollection
          description: OK
      tags:
        - AppServicePlans
      description: Get all App Service plans for a subscription.
      operationId: AppServicePlans_List
      summary: Get all App Service plans for a subscription.
      x-ms-examples:
        List App Service plans:
          $ref: ./examples/ListAppServicePlans.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlanCollection
          description: OK
      tags:
        - AppServicePlans
      description: Get all App Service plans in a resource group.
      operationId: AppServicePlans_ListByResourceGroup
      summary: Get all App Service plans in a resource group.
      x-ms-examples:
        List App Service plans by resource group:
          $ref: ./examples/ListAppServicePlansByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
        '204':
          description: OK.
      tags:
        - AppServicePlans
      description: Delete an App Service plan.
      operationId: AppServicePlans_Delete
      summary: Delete an App Service plan.
      x-ms-examples:
        Delete App Service plan:
          $ref: ./examples/DeleteAppServicePlan.json
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
          description: OK.
        '404':
          description: Not found.
      tags:
        - AppServicePlans
      description: Get an App Service plan.
      operationId: AppServicePlans_Get
      summary: Get an App Service plan.
      x-ms-examples:
        Get App Service plan:
          $ref: ./examples/GetAppServicePlan.json
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
          description: OK.
        '202':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
          description: Operation is in progress.
      tags:
        - AppServicePlans
      description: Creates or updates an App Service Plan.
      operationId: AppServicePlans_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlanPatchResource'
        description: Details of the App Service plan.
        required: true
      summary: Creates or updates an App Service Plan.
      x-ms-examples:
        Patch Service plan:
          $ref: ./examples/PatchAppServicePlan.json
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
          description: OK.
        '201':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
          description: Created.
        '202':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
          description: Operation is in progress.
      tags:
        - AppServicePlans
      description: Creates or updates an App Service Plan.
      operationId: AppServicePlans_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlan
        description: Details of the App Service plan.
        required: true
      summary: Creates or updates an App Service Plan.
      x-ms-examples:
        Create or Update App Service plan:
          $ref: ./examples/CreateOrUpdateAppServicePlan.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/capabilities':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: ../2016-03-01/CommonDefinitions.json#/definitions/Capability
                type: array
          description: OK
      tags:
        - AppServicePlans
      description: List all capabilities of an App Service plan.
      operationId: AppServicePlans_ListCapabilities
      summary: List all capabilities of an App Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Service Bus namespace.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: Name of the Service Bus relay.
          in: path
          name: relayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted hybrid connection
        '204':
          description: Hybrid connection does not exist
      tags:
        - AppServicePlans
      description: Delete a Hybrid Connection in use in an App Service plan.
      operationId: AppServicePlans_DeleteHybridConnection
      summary: Delete a Hybrid Connection in use in an App Service plan.
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Service Bus namespace.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: Name of the Service Bus relay.
          in: path
          name: relayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/HybridConnection
          description: OK
      tags:
        - AppServicePlans
      description: Retrieve a Hybrid Connection in use in an App Service plan.
      operationId: AppServicePlans_GetHybridConnection
      summary: Retrieve a Hybrid Connection in use in an App Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The name of the Service Bus namespace.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The name of the Service Bus relay.
          in: path
          name: relayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/HybridConnectionKey
          description: OK
      tags:
        - AppServicePlans
      description: Get the send key name and value of a Hybrid Connection.
      operationId: AppServicePlans_ListHybridConnectionKeys
      summary: Get the send key name and value of a Hybrid Connection.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/sites':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Hybrid Connection namespace.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: Name of the Hybrid Connection relay.
          in: path
          name: relayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollection'
          description: OK
      tags:
        - AppServicePlans
      description: Get all apps that use a Hybrid Connection in an App Service Plan.
      operationId: AppServicePlans_ListWebAppsByHybridConnection
      summary: Get all apps that use a Hybrid Connection in an App Service Plan.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionPlanLimits/limit':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionLimits'
          description: OK
      tags:
        - AppServicePlans
      description: >-
        Get the maximum number of Hybrid Connections allowed in an App Service
        plan.
      operationId: AppServicePlans_GetHybridConnectionPlanLimit
      summary: >-
        Get the maximum number of Hybrid Connections allowed in an App Service
        plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionRelays':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionCollection'
          description: OK
      tags:
        - AppServicePlans
      description: Retrieve all Hybrid Connections in use in an App Service plan.
      operationId: AppServicePlans_ListHybridConnections
      summary: Retrieve all Hybrid Connections in use in an App Service plan.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metricdefinitions':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection
          description: OK
      tags:
        - AppServicePlans
      description: >-
        Get metrics that can be queried for an App Service plan, and their
        definitions.
      operationId: AppServicePlans_ListMetricDefintions
      summary: >-
        Get metrics that can be queried for an App Service plan, and their
        definitions.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metrics':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify <code>true</code> to include instance details. The default
            is <code>false</code>.
          in: query
          name: details
          schema:
            type: boolean
        - allowReserved: true
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and
            endTime eq '2014-12-31T23:59:59Z' and timeGrain eq
            duration'[Hour|Minute|Day]'.
          in: query
          name: $filter
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricCollection
          description: OK
      tags:
        - AppServicePlans
      description: Get metrics for an App Service plan.
      operationId: AppServicePlans_ListMetrics
      summary: Get metrics for an App Service plan.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/restartSites':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify <code>true</code> to perform a soft restart, applies the
            configuration settings and restarts the apps if necessary. The
            default is <code>false</code>, which always restarts and
            reprovisions the apps
          in: query
          name: softRestart
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      tags:
        - AppServicePlans
      description: Restart all apps in an App Service plan.
      operationId: AppServicePlans_RestartWebApps
      summary: Restart all apps in an App Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/sites':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Skip to a web app in the list of webapps associated with app service
            plan. If specified, the resulting list will contain web apps
            starting from (including) the skipToken. Otherwise, the resulting
            list contains web apps from the start of the list
          in: query
          name: $skipToken
          schema:
            type: string
        - allowReserved: true
          description: >-
            Supported filter: $filter=state eq running. Returns only web apps
            that are currently running
          in: query
          name: $filter
          schema:
            type: string
        - description: 'List page size. If specified, results are paged.'
          in: query
          name: $top
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection
          description: OK
      tags:
        - AppServicePlans
      description: Get all apps associated with an App Service plan.
      operationId: AppServicePlans_ListWebApps
      summary: Get all apps associated with an App Service plan.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/skus':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of App Service Plan
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
      tags:
        - AppServicePlans
      description: Gets all selectable SKUs for a given App Service Plan
      operationId: AppServicePlans_GetServerFarmSkus
      summary: Gets all selectable SKUs for a given App Service Plan
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/usages':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of App Service Plan
          in: path
          name: name
          required: true
          schema:
            type: string
        - allowReserved: true
          description: >-
            Return only usages/metrics specified in the filter. Filter conforms
            to odata syntax. Example: $filter=(name.value eq 'Metric1' or
            name.value eq 'Metric2').
          in: query
          name: $filter
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../2016-03-01/CommonDefinitions.json#/definitions/CsmUsageQuotaCollection
          description: OK
      tags:
        - AppServicePlans
      description: Gets server farm usage information
      operationId: AppServicePlans_ListUsages
      summary: Gets server farm usage information
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetInfo
                type: array
          description: OK
      tags:
        - AppServicePlans
      description: Get all Virtual Networks associated with an App Service plan.
      operationId: AppServicePlans_ListVnets
      summary: Get all Virtual Networks associated with an App Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetInfo
          description: OK.
        '404':
          description: Virtual network could not be found.
      tags:
        - AppServicePlans
      description: Get a Virtual Network associated with an App Service plan.
      operationId: AppServicePlans_GetVnetFromServerFarm
      summary: Get a Virtual Network associated with an App Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/gateways/{gatewayName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - description: Name of the gateway. Only the 'primary' gateway is supported.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetGateway
          description: OK
      tags:
        - AppServicePlans
      description: Get a Virtual Network gateway.
      operationId: AppServicePlans_GetVnetGateway
      summary: Get a Virtual Network gateway.
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - description: Name of the gateway. Only the 'primary' gateway is supported.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetGateway
          description: OK
      tags:
        - AppServicePlans
      description: Update a Virtual Network gateway.
      operationId: AppServicePlans_UpdateVnetGateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetGateway
        description: Definition of the gateway.
        required: true
      summary: Update a Virtual Network gateway.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
                type: array
          description: OK
      tags:
        - AppServicePlans
      description: >-
        Get all routes that are associated with a Virtual Network in an App
        Service plan.
      operationId: AppServicePlans_ListRoutesForVnet
      summary: >-
        Get all routes that are associated with a Virtual Network in an App
        Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes/{routeName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted Virtual Network route.
        '404':
          description: Specified Virtual Network route does not exist.
      tags:
        - AppServicePlans
      description: Delete a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_DeleteVnetRoute
      summary: Delete a Virtual Network route in an App Service plan.
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
                type: array
          description: OK.
        '404':
          description: Specified route does not exist.
      tags:
        - AppServicePlans
      description: Get a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_GetRouteForVnet
      summary: Get a Virtual Network route in an App Service plan.
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
          description: OK.
        '400':
          description: >-
            Invalid request. Ensure that required parameters are given, and that
            addresses and address spaces are valid.
        '404':
          description: Route not found.
      tags:
        - AppServicePlans
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_UpdateVnetRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
        description: Definition of the Virtual Network route.
        required: true
      summary: Create or update a Virtual Network route in an App Service plan.
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          schema:
            type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
          description: OK.
        '400':
          description: >-
            Invalid request. Ensure that required parameters are given, and that
            addresses and address spaces are valid.
        '404':
          description: Route not found.
      tags:
        - AppServicePlans
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_CreateOrUpdateVnetRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
        description: Definition of the Virtual Network route.
        required: true
      summary: Create or update a Virtual Network route in an App Service plan.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/workers/{workerName}/reboot':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Name of worker machine, which typically starts with RD.'
          in: path
          name: workerName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      tags:
        - AppServicePlans
      description: Reboot a worker machine in an App Service plan.
      operationId: AppServicePlans_RebootWorker
      summary: Reboot a worker machine in an App Service plan.
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+[^\.]$'
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute:
      content:
        application/json:
          schema:
            $ref: ../2016-03-01/CommonDefinitions.json#/definitions/VnetRoute
      description: Definition of the Virtual Network route.
      required: true
  schemas:
    AppServicePlanPatchResource:
      allOf:
        - $ref: ../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: ARM resource for a app service plan.
      properties:
        properties:
          description: AppServicePlanPatchResource resource specific properties
          properties:
            adminSiteName:
              description: App Service plan administration site.
              type: string
            geoRegion:
              description: Geographical location for the App Service plan.
              readOnly: true
              type: string
            hostingEnvironmentProfile:
              $ref: >-
                ../2016-03-01/CommonDefinitions.json#/definitions/HostingEnvironmentProfile
              description: >-
                Specification for the App Service Environment to use for the App
                Service plan.
              x-ms-mutability:
                - create
                - read
            isSpot:
              description: 'If <code>true</code>, this App Service Plan owns spot instances.'
              type: boolean
            maximumNumberOfWorkers:
              description: >-
                Maximum number of instances that can be assigned to this App
                Service plan.
              format: int32
              readOnly: true
              type: integer
            name:
              description: Name for the App Service plan.
              type: string
            numberOfSites:
              description: Number of apps assigned to this App Service plan.
              format: int32
              readOnly: true
              type: integer
            perSiteScaling:
              default: false
              description: >-
                If <code>true</code>, apps assigned to this App Service plan can
                be scaled independently.

                If <code>false</code>, apps assigned to this App Service plan
                will scale to all instances of the plan.
              type: boolean
            provisioningState:
              description: Provisioning state of the App Service Environment.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            reserved:
              default: false
              description: >-
                If Linux app service plan <code>true</code>, <code>false</code>
                otherwise.
              type: boolean
              x-ms-mutability:
                - create
                - read
            resourceGroup:
              description: Resource group of the App Service plan.
              readOnly: true
              type: string
            spotExpirationTime:
              description: >-
                The time when the server farm expires. Valid only if it is a
                spot server farm.
              format: date-time
              type: string
            status:
              description: App Service plan status.
              enum:
                - Ready
                - Pending
                - Creating
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: StatusOptions
            subscription:
              description: App Service plan subscription.
              readOnly: true
              type: string
            targetWorkerCount:
              description: Scaling worker count.
              format: int32
              type: integer
            targetWorkerSizeId:
              description: Scaling worker size ID.
              format: int32
              type: integer
            workerTierName:
              description: Target worker tier assigned to the App Service plan.
              type: string
          required:
            - name
          x-ms-client-flatten: true
      type: object
    HybridConnectionCollection:
      description: Collection of hostname bindings.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: ../2016-03-01/CommonDefinitions.json#/definitions/HybridConnection
          type: array
      required:
        - value
      type: object
    HybridConnectionLimits:
      allOf:
        - $ref: ../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: >-
        Hybrid Connection limits contract. This is used to return the plan
        limits of Hybrid Connections.
      properties:
        properties:
          description: HybridConnectionLimits resource specific properties
          properties:
            current:
              description: The current number of Hybrid Connections.
              format: int32
              readOnly: true
              type: integer
            maximum:
              description: The maximum number of Hybrid Connections allowed.
              format: int32
              readOnly: true
              type: integer
          x-ms-client-flatten: true
      type: object
    ResourceCollection:
      description: Collection of resources.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            type: string
          type: array
      required:
        - value
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

