{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-07-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/privateEndpoint.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes": {
      "get": {
        "parameters": [
          {
            "description": "The location of the domain name.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePrivateEndpointTypesResult"
                }
              }
            },
            "description": "Request successful. Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region."
          }
        },
        "description": "Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.",
        "operationId": "AvailablePrivateEndpointTypes_List",
        "x-ms-examples": {
          "Get available PrivateEndpoint types": {
            "$ref": "./examples/AvailablePrivateEndpointTypesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateEndpoints": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpointListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of private endpoint resources."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Gets all private endpoints in a subscription.",
        "operationId": "PrivateEndpoints_ListBySubscription",
        "x-ms-examples": {
          "List all private endpoints": {
            "$ref": "./examples/PrivateEndpointListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes": {
      "get": {
        "parameters": [
          {
            "description": "The location of the domain name.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePrivateEndpointTypesResult"
                }
              }
            },
            "description": "Request successful. Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region."
          }
        },
        "description": "Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.",
        "operationId": "AvailablePrivateEndpointTypes_ListByResourceGroup",
        "x-ms-examples": {
          "Get available PrivateEndpoint types in the resource group": {
            "$ref": "./examples/AvailablePrivateEndpointTypesResourceGroupGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpointListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of private endpoint resources."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Gets all private endpoints in a resource group.",
        "operationId": "PrivateEndpoints_List",
        "x-ms-examples": {
          "List private endpoints in resource group": {
            "$ref": "./examples/PrivateEndpointList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints/{privateEndpointName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the private endpoint.",
            "in": "path",
            "name": "privateEndpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Deletes the specified private endpoint.",
        "operationId": "PrivateEndpoints_Delete",
        "x-ms-examples": {
          "Delete private endpoint": {
            "$ref": "./examples/PrivateEndpointDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the private endpoint.",
            "in": "path",
            "name": "privateEndpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpoint"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting private endpoint resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Gets the specified private endpoint by resource group.",
        "operationId": "PrivateEndpoints_Get",
        "x-ms-examples": {
          "Get private endpoint": {
            "$ref": "./examples/PrivateEndpointGet.json"
          },
          "Get private endpoint with manual approval connection": {
            "$ref": "./examples/PrivateEndpointGetForManualApproval.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the private endpoint.",
            "in": "path",
            "name": "privateEndpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpoint"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting private endpoint resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEndpoint"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting private endpoint resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "PrivateEndpoints"
        ],
        "description": "Creates or updates an private endpoint in the specified resource group.",
        "operationId": "PrivateEndpoints_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateEndpoint"
              }
            }
          },
          "description": "Parameters supplied to the create or update private endpoint operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create private endpoint": {
            "$ref": "./examples/PrivateEndpointCreate.json"
          },
          "Create private endpoint with manual approval connection": {
            "$ref": "./examples/PrivateEndpointCreateForManualApproval.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AvailablePrivateEndpointType": {
        "description": "The information of an AvailablePrivateEndpointType.",
        "properties": {
          "id": {
            "description": "A unique identifier of the AvailablePrivateEndpoint Type resource.",
            "type": "string"
          },
          "name": {
            "description": "The name of the service and resource.",
            "type": "string"
          },
          "resourceName": {
            "description": "The name of the service and resource.",
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailablePrivateEndpointTypesResult": {
        "description": "An array of available PrivateEndpoint types.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "An array of available privateEndpoint type.",
            "items": {
              "$ref": "#/components/schemas/AvailablePrivateEndpointType"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PrivateEndpoint": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Private endpoint resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PrivateEndpointProperties",
            "description": "Properties of the private endpoint.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PrivateEndpointListResult": {
        "description": "Response for the ListPrivateEndpoints API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "A list of private endpoint resources in a resource group.",
            "items": {
              "$ref": "#/components/schemas/PrivateEndpoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PrivateEndpointProperties": {
        "description": "Properties of the private endpoint.",
        "properties": {
          "manualPrivateLinkServiceConnections": {
            "description": "A grouping of information about the connection to the remote resource. Used when the network admin does not have access to approve connections to the remote resource.",
            "items": {
              "$ref": "#/components/schemas/PrivateLinkServiceConnection"
            },
            "type": "array"
          },
          "networkInterfaces": {
            "description": "An array of references to the network interfaces created for this private endpoint.",
            "items": {
              "$ref": "./networkInterface.json#/definitions/NetworkInterface"
            },
            "readOnly": true,
            "type": "array"
          },
          "privateLinkServiceConnections": {
            "description": "A grouping of information about the connection to the remote resource.",
            "items": {
              "$ref": "#/components/schemas/PrivateLinkServiceConnection"
            },
            "type": "array"
          },
          "provisioningState": {
            "$ref": "./network.json#/definitions/ProvisioningState",
            "description": "The provisioning state of the private endpoint resource."
          },
          "subnet": {
            "$ref": "./virtualNetwork.json#/definitions/Subnet",
            "description": "The ID of the subnet from which the private IP will be allocated."
          }
        },
        "type": "object"
      },
      "PrivateLinkServiceConnection": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "PrivateLinkServiceConnection resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PrivateLinkServiceConnectionProperties",
            "description": "Properties of the private link service connection.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "PrivateLinkServiceConnectionProperties": {
        "description": "Properties of the PrivateLinkServiceConnection.",
        "properties": {
          "groupIds": {
            "description": "The ID(s) of the group(s) obtained from the remote resource that this private endpoint should connect to.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "privateLinkServiceConnectionState": {
            "$ref": "./privateLinkService.json#/definitions/PrivateLinkServiceConnectionState",
            "description": "A collection of read-only information about the state of the connection to the remote resource."
          },
          "privateLinkServiceId": {
            "description": "The resource id of private link service.",
            "type": "string"
          },
          "provisioningState": {
            "$ref": "./network.json#/definitions/ProvisioningState",
            "description": "The provisioning state of the private link service connection resource."
          },
          "requestMessage": {
            "description": "A message passed to the owner of the remote resource with this connection request. Restricted to 140 chars.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}