openapi: 3.0.0
info:
  description: Mixed Reality Resource Provider Remote Rendering Resource API
  title: Mixed Reality
  version: 2019-12-02-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/remoteRenderingAccounts':
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
        - Proxy
      description: List Remote Rendering Accounts by Subscription
      operationId: RemoteRenderingAccounts_ListBySubscription
      x-ms-examples:
        List remote rendering accounts by subscription:
          $ref: ./examples/remote-rendering/GetBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts':
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: List Resources by Resource Group
      operationId: RemoteRenderingAccounts_ListByResourceGroup
      x-ms-examples:
        List remote rendering accounts by resource group:
          $ref: ./examples/remote-rendering/GetByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}':
    delete:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Delete a Remote Rendering Account.
      operationId: RemoteRenderingAccounts_Delete
      x-ms-examples:
        Delete remote rendering account:
          $ref: ./examples/remote-rendering/Delete.json
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Retrieve a Remote Rendering Account.
      operationId: RemoteRenderingAccounts_Get
      x-ms-examples:
        Get remote rendering account:
          $ref: ./examples/remote-rendering/Get.json
    patch:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Updating a Remote Rendering Account
      operationId: RemoteRenderingAccounts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteRenderingAccount'
        description: Remote Rendering Account parameter.
        required: true
      x-ms-examples:
        Update remote rendering account:
          $ref: ./examples/remote-rendering/Patch.json
    put:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Creating or Updating a Remote Rendering Account.
      operationId: RemoteRenderingAccounts_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteRenderingAccount'
        description: Remote Rendering Account parameter.
        required: true
      x-ms-examples:
        Create remote rendering account:
          $ref: ./examples/remote-rendering/Put.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}/keys':
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/AccountKeys
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Key
      description: Get Both of the 2 Keys of a Remote Rendering Account
      operationId: RemoteRenderingAccounts_GetKeys
      x-ms-examples:
        Get remote rendering account key:
          $ref: ./examples/remote-rendering/GetKeys.json
    post:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/accountKeyRegenerateParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/AccountKeys
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Key
      description: Regenerate specified Key of a Remote Rendering Account
      operationId: RemoteRenderingAccounts_RegenerateKeys
      x-ms-examples:
        Regenerate remote rendering account keys:
          $ref: ./examples/remote-rendering/RegenerateKey.json
components:
  requestBodies:
    RemoteRenderingAccount:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemoteRenderingAccount'
      description: Remote Rendering Account parameter.
      required: true
  schemas:
    RemoteRenderingAccount:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: RemoteRenderingAccount Response.
      properties:
        identity:
          $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Identity
          description: The identity associated with this account
        properties:
          $ref: ./common.json#/definitions/MixedRealityAccountProperties
          description: Property bag.
          x-ms-client-flatten: true
      type: object
    RemoteRenderingAccountPage:
      description: >-
        Result of the request to get resource collection. It contains a list of
        resources and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of resource list results if there are any.
          type: string
        value:
          description: List of resources supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/RemoteRenderingAccount'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

