openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on the ApiVersionSet entity
    associated with your Azure API Management deployment. Using this entity you
    create and manage API Version Sets that are used to group APIs for
    consistent versioning.
  title: ApiManagementClient
  version: '2018-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - description: >-
            | Field            | Supported operators    | Supported
            functions               |

            |------------------|------------------------|-----------------------------------|

            | id               | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | firstName        | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | lastName         | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | email            | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | state            | eq                     |
            N/A                               |

            | registrationDate | ge, le, eq, ne, gt, lt |
            N/A                               |

            | note             | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetCollection'
          description: Lists a collection of Api Version Set entities.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ApiVersionSets
      description: >-
        Lists a collection of API Version Sets in the specified service
        instance.
      operationId: ApiVersionSet_ListByService
      x-ms-examples:
        ApiManagementListApiVersionSets:
          $ref: ./examples/ApiManagementListApiVersionSets.json
      x-ms-odata: '#/components/schemas/ApiVersionSetContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets/{versionSetId}':
    delete:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ApiVersionSetIdParameter'
        - $ref: ./apimanagement.json#/components/parameters/IfMatchRequiredParameter
      responses:
        '200':
          description: The ApiVersion Set details were successfully deleted.
        '204':
          description: The ApiVersion Set details were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ApiVersionSets
      description: Deletes specific Api Version Set.
      operationId: ApiVersionSet_Delete
      x-ms-examples:
        ApiManagementDeleteApiVersionSet:
          $ref: ./examples/ApiManagementDeleteApiVersionSet.json
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ApiVersionSetIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Gets the specified Api Version Set entity.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ApiVersionSets
      description: Gets the details of the Api Version Set specified by its identifier.
      operationId: ApiVersionSet_Get
      x-ms-examples:
        ApiManagementGetApiVersionSet:
          $ref: ./examples/ApiManagementGetApiVersionSet.json
    head:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ApiVersionSetIdParameter'
      responses:
        '200':
          description: >-
            Specified Api Version Set entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ApiVersionSets
      description: >-
        Gets the entity state (Etag) version of the Api Version Set specified by
        its identifier.
      operationId: ApiVersionSet_GetEntityTag
      x-ms-examples:
        ApiManagementHeadApiVersionSet:
          $ref: ./examples/ApiManagementHeadApiVersionSet.json
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ApiVersionSetIdParameter'
        - $ref: ./apimanagement.json#/components/parameters/IfMatchRequiredParameter
      responses:
        '204':
          description: The Api Version Set details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: |-
            *** Error Responses: ***

             * 4XX Error response giving details why the operation failed.
      tags:
        - ApiVersionSets
      description: Updates the details of the Api VersionSet specified by its identifier.
      operationId: ApiVersionSet_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiVersionSetUpdateParameters'
        description: Update parameters.
        required: true
      x-ms-examples:
        ApiManagementUpdateApiVersionSet:
          $ref: ./examples/ApiManagementUpdateApiVersionSet.json
    put:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ApiVersionSetIdParameter'
        - $ref: ./apimanagement.json#/components/parameters/IfMatchOptionalParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Api Version Set was successfully updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Api Version Set was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ApiVersionSets
      description: Creates or Updates a Api Version Set.
      operationId: ApiVersionSet_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiVersionSetContract'
        description: Create or update parameters.
        required: true
      x-ms-examples:
        ApiManagementCreateApiVersionSet:
          $ref: ./examples/ApiManagementCreateApiVersionSet.json
components:
  parameters:
    ApiVersionSetIdParameter:
      description: >-
        Api Version Set identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: versionSetId
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'
        type: string
      x-ms-parameter-location: method
  schemas:
    ApiVersionSetCollection:
      description: Paged Api Version Set list representation.
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ApiVersionSetContract'
          type: array
      type: object
    ApiVersionSetContract:
      allOf:
        - $ref: ./apimanagement.json#/definitions/Resource
      description: Api Version Set Contract details.
      properties:
        properties:
          $ref: '#/components/schemas/ApiVersionSetContractProperties'
          description: Api VersionSet contract properties.
          x-ms-client-flatten: true
      type: object
    ApiVersionSetContractProperties:
      allOf:
        - $ref: '#/components/schemas/ApiVersionSetEntityBase'
      description: Properties of an API Version Set.
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          type: string
        versioningScheme:
          description: >-
            An value that determines where the API Version identifier will be
            located in a HTTP request.
          enum:
            - Segment
            - Query
            - Header
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
              - description: The API Version is passed in a path segment.
                value: Segment
              - description: The API Version is passed in a query parameter.
                value: Query
              - description: The API Version is passed in a HTTP header.
                value: Header
      required:
        - displayName
        - versioningScheme
      type: object
    ApiVersionSetEntityBase:
      description: Api Version set base parameters
      properties:
        description:
          description: Description of API Version Set.
          type: string
        versionHeaderName:
          description: >-
            Name of HTTP header parameter that indicates the API Version if
            versioningScheme is set to `header`.
          maxLength: 100
          minLength: 1
          type: string
        versionQueryName:
          description: >-
            Name of query parameter that indicates the API Version if
            versioningScheme is set to `query`.
          maxLength: 100
          minLength: 1
          type: string
      type: object
    ApiVersionSetUpdateParameters:
      description: Parameters to update or create an Api Version Set Contract.
      properties:
        properties:
          $ref: '#/components/schemas/ApiVersionSetUpdateParametersProperties'
          description: Parameters to update or create an Api Version Set Contract.
          x-ms-client-flatten: true
      type: object
    ApiVersionSetUpdateParametersProperties:
      allOf:
        - $ref: '#/components/schemas/ApiVersionSetEntityBase'
      description: Properties used to create or update an API Version Set.
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          type: string
        versioningScheme:
          description: >-
            An value that determines where the API Version identifier will be
            located in a HTTP request.
          enum:
            - Segment
            - Query
            - Header
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
              - description: The API Version is passed in a path segment.
                value: Segment
              - description: The API Version is passed in a query parameter.
                value: Query
              - description: The API Version is passed in a HTTP header.
                value: Header
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

