{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Compute Disk Management Client.",
    "title": "ComputeDiskAdminManagementClient",
    "version": "2018-07-30-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/DiskMigrationJobs.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs": {
      "get": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/MigrationJobStatusParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "DiskMigrationJobs.json#/definitions/DiskMigrationJobList"
                }
              }
            },
            "description": "OK -- The list of disk migration jobs has been returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "description": "Returns a list of disk migration jobs.",
        "operationId": "DiskMigrationJobs_List",
        "x-ms-examples": {
          "Returns a list of disk migration jobs.": {
            "$ref": "./examples/DiskMigrationJobs/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/MigrationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "DiskMigrationJobs.json#/definitions/DiskMigrationJob"
                }
              }
            },
            "description": "OK -- The disk migration job has been returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "description": "Returns the requested disk migration job.",
        "operationId": "DiskMigrationJobs_Get",
        "x-ms-examples": {
          "Returns the requested disk migration job.": {
            "$ref": "./examples/DiskMigrationJobs/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/MigrationIdParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/TargetShareParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/TargetScaleUnitParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/TargetVolumeLabelParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/DiskListParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "DiskMigrationJobs.json#/definitions/DiskMigrationJob"
                }
              }
            },
            "description": "OK --  Disk migration job is created successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "description": "Create a disk migration job.",
        "operationId": "DiskMigrationJobs_Create",
        "x-ms-examples": {
          "Create a disk migration job.": {
            "$ref": "./examples/DiskMigrationJobs/Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}/Cancel": {
      "post": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "DiskMigrationJobs.json#/components/parameters/MigrationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "DiskMigrationJobs.json#/definitions/DiskMigrationJob"
                }
              }
            },
            "description": "OK --  Disk migration job cancellation is called."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "description": "Cancel a disk migration job.",
        "operationId": "DiskMigrationJobs_Cancel",
        "x-ms-examples": {
          "Cancel a disk migration job.": {
            "$ref": "./examples/DiskMigrationJobs/Cancel.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "MigrationIdParameter": {
        "description": "The migration job guid name.",
        "in": "path",
        "name": "migrationId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "MigrationJobStatusParameter": {
        "description": "The parameters of disk migration job status.",
        "in": "query",
        "name": "status",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TargetScaleUnitParameter": {
        "description": "The target scale unit name.",
        "in": "query",
        "name": "targetScaleUnit",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TargetShareParameter": {
        "description": "The target share name.",
        "in": "query",
        "name": "targetShare",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TargetVolumeLabelParameter": {
        "description": "The target volume label.",
        "in": "query",
        "name": "targetVolumeLabel",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DiskListInput": {
        "description": "List of disks.",
        "items": {
          "$ref": "Disks.json#/definitions/Disk"
        },
        "type": "array"
      },
      "DiskMigrationJob": {
        "allOf": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/definitions/Resource"
          }
        ],
        "description": "Disk migration job.",
        "properties": {
          "properties": {
            "$ref": "DiskMigrationJobs.json#/definitions/DiskMigrationJobProperties",
            "description": "Disk migration properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DiskMigrationJobList": {
        "description": "List of disk migration jobs.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of disk migration jobs.",
            "items": {
              "$ref": "DiskMigrationJobs.json#/definitions/DiskMigrationJob"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DiskMigrationJobProperties": {
        "description": "Disk migration job properties.",
        "properties": {
          "creationTime": {
            "description": "The job creation time.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "endTime": {
            "description": "The job end time.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "migrationId": {
            "description": "The disk migration id.",
            "type": "string"
          },
          "startTime": {
            "description": "The job start time.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "$ref": "DiskMigrationJobs.json#/definitions/MigrationJobStatus",
            "description": "The current status of disk migration job.",
            "readOnly": true
          },
          "subtasks": {
            "$ref": "DiskMigrationJobs.json#/definitions/MigrationSubTaskList",
            "description": "The list of child migration tasks.",
            "readOnly": true
          },
          "targetShare": {
            "description": "The target share of migration job.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MigrationJobStatus": {
        "description": "Migration job status.",
        "enum": [
          "Undefined",
          "Running",
          "Succeeded",
          "Failed",
          "Canceled",
          "Pending"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "MigrationJobStatus"
        }
      },
      "MigrationSubTask": {
        "description": "Disk migration child task.",
        "properties": {
          "migrationSubTaskId": {
            "description": "The id of migration child task.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "DiskMigrationJobs.json#/definitions/MigrationSubTaskProperties",
            "description": "Disk migration child task properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "MigrationSubTaskList": {
        "description": "List of disk migration tasks.",
        "items": {
          "$ref": "DiskMigrationJobs.json#/definitions/MigrationSubTask"
        },
        "type": "array"
      },
      "MigrationSubTaskProperties": {
        "description": "Disk migration child task properties.",
        "properties": {
          "diskId": {
            "description": "The id of disk.",
            "readOnly": true,
            "type": "string"
          },
          "endTime": {
            "description": "The task end time.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "migrationSubtaskStatus": {
            "$ref": "DiskMigrationJobs.json#/definitions/MigrationSubTaskStatus",
            "description": "The disk migration child task status.",
            "readOnly": true
          },
          "reason": {
            "description": "The reason of task failure.",
            "readOnly": true,
            "type": "string"
          },
          "sourceShare": {
            "description": "The source share of migration task.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "The task start time.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "targetDiskStateForMigration": {
            "$ref": "Disks.json#/definitions/DiskState",
            "description": "The disk status.",
            "readOnly": true
          },
          "targetShare": {
            "description": "The target share of migration task.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MigrationSubTaskStatus": {
        "description": "Migration child task status.",
        "enum": [
          "Undefined",
          "Running",
          "Succeeded",
          "Failed",
          "Canceled",
          "Pending",
          "Skipped"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "MigrationSubTaskStatus"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}