{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these REST APIs for querying APIs. Operations and Products by tags in your Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2017-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimtagresources.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tagResources": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "description": "| Field       | Supported operators    | Supported functions                         |\n|-------------|------------------------|---------------------------------------------|\n| id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| aid         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| apiName     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| apiRevision | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| method      | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| urlTemplate | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| state       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| isCurrent   | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/TopQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SkipQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResourceCollection"
                }
              }
            },
            "description": "Lists a collection of TagResource entities."
          }
        },
        "tags": [
          "TagResources"
        ],
        "description": "Lists a collection of resources associated with tags.",
        "operationId": "TagResource_ListByService",
        "x-ms-examples": {
          "ApiManagementListTagResources": {
            "$ref": "./examples/ApiManagementListTagResources.json"
          }
        },
        "x-ms-odata": "#/components/schemas/TagResourceContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OperationEntityContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Operation Entity Contract Properties.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/OperationEntityContractProperties",
            "description": "Operation entity contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OperationEntityContractProperties": {
        "description": "Operation Entity contract Properties.",
        "properties": {
          "apiName": {
            "description": "Api Name.",
            "readOnly": true,
            "type": "string"
          },
          "apiRevision": {
            "description": "Api Revision.",
            "readOnly": true,
            "type": "string"
          },
          "apiVersion": {
            "description": "Api Version.",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Operation Description.",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Operation name.",
            "readOnly": true,
            "type": "string"
          },
          "method": {
            "externalDocs": {
              "description": "As defined by RFC.",
              "url": "http://www.rfc-editor.org/rfc/rfc7230.txt"
            },
            "description": "A Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited by only them.",
            "readOnly": true,
            "type": "string"
          },
          "urlTemplate": {
            "description": "Relative URL template identifying the target resource for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "TagResourceCollection": {
        "description": "Paged Tag list representation.",
        "properties": {
          "nextLink": {
            "description": "Next page link if any.",
            "type": "string"
          },
          "value": {
            "description": "Page values.",
            "items": {
              "$ref": "#/components/schemas/TagResourceContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TagResourceContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Contract details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/TagResourceContractProperties",
            "description": "TagResource entity contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "TagResourceContractProperties": {
        "description": "TagResource contract properties.",
        "properties": {
          "api": {
            "$ref": "./apimapis.json#/definitions/ApiContract",
            "description": "Api associated with the tag."
          },
          "operation": {
            "$ref": "#/components/schemas/OperationEntityContract",
            "description": "Api associated with the tag."
          },
          "product": {
            "$ref": "./apimproducts.json#/definitions/ProductContract",
            "description": "Product associated with the tag."
          },
          "tag": {
            "$ref": "./apimtags.json#/definitions/TagContract",
            "description": "Tag associated with the resource."
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}