openapi: 3.0.0
info:
  description: The service for managing third party addons.
  title: Azure Addons Resource Provider
  version: '2018-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Addons/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListValue'
          description: List all the operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
          description: Unexpected error
      tags:
        - Operations
      description: Lists all of the available Addons RP operations.
      operationId: Operations_List
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/canonical/listSupportPlanInfo':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanInfo'
          description: OK
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
          description: BadRequest
      tags:
        - AddonStatus
      description: >-
        Returns the canonical support plan information for all types for the
        subscription.
      operationId: SupportPlanTypes_ListInfo
      x-ms-examples:
        CanonicalListSupportPlanInfo_Post:
          $ref: ./examples/CanonicalListSupportPlanInfo_Post.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes/{planTypeName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/SupportProviderName'
        - $ref: '#/components/parameters/CanonicalSupportPlanType'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
          description: Accepted
          headers: {}
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
          description: BadRequest
      description: 'Cancels the Canonical support plan of type {type} for the subscription.'
      operationId: SupportPlanTypes_Delete
      x-ms-examples:
        SupportPlanTypes_Delete:
          $ref: ./examples/SupportPlanTypes_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/SupportProviderName'
        - $ref: '#/components/parameters/CanonicalSupportPlanType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
          description: OK
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
          description: |-
            '404' - 'Not Found'.
            '400' - 'Bad Request'
      tags:
        - AddonDetails
      description: >-
        Returns whether or not the canonical support plan of type {type} is
        enabled for the subscription.
      operationId: SupportPlanTypes_Get
      x-ms-examples:
        SupportPlanTypes_Get:
          $ref: ./examples/SupportPlanTypes_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/SupportProviderName'
        - $ref: '#/components/parameters/CanonicalSupportPlanType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
          description: Created
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
          description: |-
            '404' - 'Not Found'.
            '400' - 'Bad Request'
      tags:
        - AddonDetails
      description: >-
        Creates or updates the Canonical support plan of type {type} for the
        subscription.
      operationId: SupportPlanTypes_CreateOrUpdate
      x-ms-examples:
        SupportPlanTypes_CreateOrUpdate:
          $ref: ./examples/SupportPlanTypes_CreateOrUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    CanonicalSupportPlanType:
      description: The Canonical support plan type.
      in: path
      name: planTypeName
      required: true
      schema:
        enum:
          - Essential
          - Standard
          - Advanced
        type: string
      x-ms-enum:
        modelAsString: true
        name: PlanTypeName
      x-ms-parameter-location: method
    OperationResultsIdParameter:
      description: The id representing an async operation.
      in: path
      name: operationResultsId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials that uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    SupportProviderName:
      description: The support plan type. For now the only valid type is "canonical".
      in: path
      name: providerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    CanonicalSupportPlanInfo:
      description: The status of all Canonical support plans for a subscription.
      items:
        $ref: '#/components/schemas/CanonicalSupportPlanInfoDefinition'
      title: Canonical Support Plan Info
      type: array
      x-ms-identifiers: []
    CanonicalSupportPlanInfoDefinition:
      description: Definition object with the properties of a canonical plan
      properties:
        enabled:
          description: >-
            Flag to indicate if this support plan type is currently enabled for
            the subscription.
          type: boolean
        oneTimeCharge:
          description: The one time charge status for the subscription.
          enum:
            - 'no'
            - onEnabled
            - onReenabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: OneTimeCharge
        supportPlanType:
          description: Support plan type.
          enum:
            - essential
            - standard
            - advanced
          type: string
          x-ms-enum:
            modelAsString: true
            name: SupportPlanType
      type: object
    CanonicalSupportPlanProperties:
      description: The properties of the Canonical support plan.
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          enum:
            - Succeeded
            - Failed
            - Cancelled
            - Purchasing
            - Downgrading
            - Cancelling
            - Upgrading
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      type: object
    CanonicalSupportPlanResponseEnvelope:
      description: The status of the Canonical support plan.
      properties:
        id:
          description: >-
            The id of the ARM resource, e.g.
            "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
          readOnly: true
          type: string
        name:
          description: >-
            The name of the Canonical support plan, i.e. "essential", "standard"
            or "advanced".
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/CanonicalSupportPlanProperties'
          description: Describes Canonical support plan type and status.
          type: object
          x-ms-client-flatten: true
        type:
          description: Microsoft.Addons/supportProvider
          readOnly: true
          type: string
      required:
        - properties
      type: object
      x-ms-azure-resource: true
    ErrorDefinition:
      description: Error description and code explaining why an operation failed.
      properties:
        code:
          description: >-
            Service specific error code which serves as the substatus for the
            HTTP error code.
          type: string
        message:
          description: Description of the error.
          type: string
      required:
        - message
        - code
      title: Error
      type: object
    OperationList:
      description: List of supported operations.
      items:
        $ref: '#/components/schemas/OperationsDefinition'
      type: array
      x-ms-identifiers:
        - name
    OperationListValue:
      description: List of supported operations.
      properties:
        value:
          $ref: '#/components/schemas/OperationList'
      type: object
    OperationsDefinition:
      description: Definition object with the name and properties of an operation.
      properties:
        display:
          $ref: '#/components/schemas/OperationsDisplayDefinition'
          description: Display object with properties of the operation.
        name:
          description: Name of the operation.
          type: string
      type: object
    OperationsDisplayDefinition:
      description: Display object with properties of the operation.
      properties:
        description:
          description: Description of the operation.
          type: string
        operation:
          description: Short description of the operation.
          type: string
        provider:
          description: Resource provider of the operation.
          type: string
        resource:
          description: Resource for the operation.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

