openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}/usages':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the instance pool to be retrieved.
          in: path
          name: instancePoolName
          required: true
          schema:
            type: string
        - description: >-
            Optional request parameter to include managed instance usages within
            the instance pool.
          in: query
          name: expandChildren
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
          description: Successfully retrieved the instance pool usages.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InstancePoolWrongUsageName - Request for an instance pool's usage has an unsupported usage name

             * 400 InstancePoolManagedInstanceInfoUnavailable - Information for managed instances inside this instance pool is not available

             * 404 InstancePoolNotFound - An instance pool cannot be found
      tags:
        - Usages
      description: Gets all instance pool usage metrics
      operationId: Usages_ListByInstancePool
      x-ms-examples:
        List instance pool usages expanded with children.:
          $ref: ./examples/ListInstancePoolUsageExpanded.json
        List instance pool usages.:
          $ref: ./examples/ListInstancePoolUsage.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Name:
      description: ARM Usage Name
      properties:
        localizedValue:
          description: Usage name localized value.
          type: string
        value:
          description: Usage name value
          type: string
      type: object
    Usage:
      description: ARM usage.
      properties:
        currentValue:
          description: Usage current value.
          format: int32
          readOnly: true
          type: integer
        id:
          description: Resource ID.
          readOnly: true
          type: string
        limit:
          description: Usage limit.
          format: int32
          readOnly: true
          type: integer
        name:
          $ref: '#/components/schemas/Name'
          description: Resource name.
          readOnly: true
        requestedLimit:
          description: Usage requested limit.
          format: int32
          readOnly: true
          type: integer
        type:
          description: Resource type.
          readOnly: true
          type: string
        unit:
          description: Usage unit.
          readOnly: true
          type: string
      type: object
    UsageListResult:
      description: A list of usages.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/Usage'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

