openapi: 3.0.0
info:
  description: Azure Application Insights client for selecting pricing plans and options.
  title: ApplicationInsightsManagementClient
  version: '2017-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/pricingPlans/current':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
          description: An Application Insights component pricing plan definition.
      description: >-
        Returns the current pricing plan setting for an Application Insights
        component.
      operationId: ComponentCurrentPricingPlan_Get
      x-ms-examples:
        ComponentCurrentPricingPlanGet:
          $ref: ./examples/CurrentPricingPlanGet.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
          description: >-
            Successful request when updating billing features for an Application
            Insights component. The updated current billing features are
            returned.
      description: Update current pricing plan for an Application Insights component.
      operationId: ComponentCurrentPricingPlan_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
        description: >-
          Properties that need to be specified to update current pricing plan
          for an Application Insights component.
        required: true
      x-ms-examples:
        ComponentCurrentPricingPlanUpdate:
          $ref: ./examples/CurrentPricingPlanUpdate.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
          description: >-
            Successful request when updating billing features for an Application
            Insights component. The updated current billing features are
            returned.
      description: Replace current pricing plan for an Application Insights component.
      operationId: ComponentCurrentPricingPlan_CreateAndUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
        description: >-
          Properties that need to be specified to update current pricing plan
          for an Application Insights component.
        required: true
      x-ms-examples:
        ComponentCurrentPricingPlanUpdate:
          $ref: ./examples/CurrentPricingPlanCreateAndUpdate.json
components:
  parameters:
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    ApplicationInsightsComponentPricingPlan:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
      description: >-
        Properties that need to be specified to update current pricing plan for
        an Application Insights component.
      required: true
  schemas:
    ApplicationInsightsComponentPricingPlan:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An Application Insights component pricing plan
      properties:
        properties:
          $ref: '#/components/schemas/PricingPlanProperties'
          description: The properties of the suppression.
          x-ms-client-flatten: true
      type: object
    PricingPlanProperties:
      description: An Application Insights component daily data volume cap
      properties:
        cap:
          description: Daily data volume cap in GB.
          type: number
        maxHistoryCap:
          description: >-
            Maximum daily data volume cap that the user can set for this
            component.
          readOnly: true
          type: number
        planType:
          description: Pricing Plan Type Name.
          type: string
        resetHour:
          description: Daily data volume cap UTC reset hour.
          readOnly: true
          type: integer
        stopSendNotificationWhenHitCap:
          description: >-
            Do not send a notification email when the daily data volume cap is
            met.
          type: boolean
        stopSendNotificationWhenHitThreshold:
          description: 'Reserved, not used for now.'
          type: boolean
        warningThreshold:
          description: 'Reserved, not used for now.'
          type: integer
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: Azure resource Id.
          readOnly: true
          type: string
        name:
          description: Azure resource name.
          readOnly: true
          type: string
        type:
          description: Azure resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

