openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2019-01-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceId}/providers/Microsoft.Security/assessments/{assessmentName}':
    delete:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/ResourceId
        - $ref: '#/components/parameters/AssessmentName'
      responses:
        '200':
          description: OK - Assessment was deleted
        '204':
          description: No Content - Assessment does not exist
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments
      description: >-
        Delete a security assessment on your resource. An assessment metadata
        that describes this assessment must be predefined with the same name
        before inserting the assessment result
      operationId: Assessments_Delete
      x-ms-examples:
        Delete a security recommendation task on a resource:
          $ref: ./examples/Assessments/DeleteAssessment_example.json
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/ResourceId
        - $ref: '#/components/parameters/AssessmentName'
        - $ref: '#/components/parameters/ExpandAssessments'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments
      description: Get a security assessment on your scanned resource
      operationId: Assessments_Get
      x-ms-examples:
        Get security recommendation task from security data location:
          $ref: ./examples/Assessments/GetAssessment_example.json
        Get security recommendation task from security data location with expand parameter:
          $ref: ./examples/Assessments/GetAssessmentWithExpand_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/ResourceId
        - $ref: '#/components/parameters/AssessmentName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessment'
          description: OK - Updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessment'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments
      description: >-
        Create a security assessment on your resource. An assessment metadata
        that describes this assessment must be predefined with the same name
        before inserting the assessment result
      operationId: Assessments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityAssessment'
        description: Calculated assessment on a pre-defined assessment metadata
        required: true
      x-ms-examples:
        Create security recommendation task on a resource:
          $ref: ./examples/Assessments/PutAssessment_example.json
  '/{scope}/providers/Microsoft.Security/assessments':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessmentList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments
      description: Get security assessments on all your scanned resources inside a scope
      operationId: Assessments_List
      x-ms-examples:
        List security assessments:
          $ref: ./examples/Assessments/ListAssessments_example.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    AssessmentName:
      description: The Assessment Key - Unique key for the assessment type
      in: path
      name: assessmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ExpandAssessments:
      description: OData expand. Optional.
      in: query
      name: $expand
      required: false
      schema:
        enum:
          - links
          - metadata
        type: string
      x-ms-enum:
        modelAsString: true
        name: ExpandEnum
        values:
          - description: All links associated with an assessment
            value: links
          - description: Assessment metadata
            value: metadata
      x-ms-parameter-location: method
  schemas:
    AssessmentLinks:
      description: Links relevant to the assessment
      properties:
        azurePortalUri:
          description: Link to assessment in Azure Portal
          readOnly: true
          type: string
      readOnly: true
      type: object
    AssessmentStatus:
      description: The result of the assessment
      properties:
        cause:
          description: Programmatic code for the cause of the assessment status
          type: string
        code:
          description: Programmatic code for the status of the assessment
          enum:
            - Healthy
            - Unhealthy
            - NotApplicable
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssessmentStatusCode
            values:
              - description: The resource is healthy
                value: Healthy
              - description: The resource has a security issue that needs to be addressed
                value: Unhealthy
              - description: Assessment for this resource did not happen
                value: NotApplicable
        description:
          description: Human readable description of the assessment status
          type: string
      required:
        - code
      type: object
    SecurityAssessment:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Security assessment on a resource
      properties:
        properties:
          $ref: '#/components/schemas/SecurityAssessmentProperties'
          x-ms-client-flatten: true
      type: object
    SecurityAssessmentList:
      description: Page of a security assessments list
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: Collection of security assessments in this page
          items:
            $ref: '#/components/schemas/SecurityAssessment'
          readOnly: true
          type: array
      type: object
    SecurityAssessmentProperties:
      description: Describes properties of an assessment.
      properties:
        additionalData:
          additionalProperties:
            type: string
          description: Additional data regarding the assessment
          type: object
        displayName:
          description: User friendly display name of the assessment
          readOnly: true
          type: string
        links:
          $ref: '#/components/schemas/AssessmentLinks'
        resourceDetails:
          $ref: ../../../common/v1/types.json#/definitions/ResourceDetails
        status:
          $ref: '#/components/schemas/AssessmentStatus'
      required:
        - resourceDetails
        - status
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

