{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-02-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/expressRoutePort.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePorts": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePortListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of ExpressRoutePort resources. If there are no ExpressRoutePort resources then an empty list is returned."
          }
        },
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "List all the ExpressRoutePort resources in the specified subscription",
        "operationId": "ExpressRoutePorts_List",
        "x-ms-examples": {
          "ExpressRoutePortList": {
            "$ref": "./examples/ExpressRoutePortList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePortsLocationListResult"
                }
              }
            },
            "description": "Request successful. The operation returns the list of all ExpressRoutePort peering locations."
          }
        },
        "tags": [
          "ExpressRoutePortsLocations"
        ],
        "description": "Retrieves all ExpressRoutePort peering locations. Does not return available bandwidths for each location. Available bandwidths can only be obtained when retrieving a specific peering location.",
        "operationId": "ExpressRoutePortsLocations_List",
        "x-ms-examples": {
          "ExpressRoutePortsLocationList": {
            "$ref": "./examples/ExpressRoutePortsLocationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations/{locationName}": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "Name of the requested ExpressRoutePort peering location.",
            "in": "path",
            "name": "locationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePortsLocation"
                }
              }
            },
            "description": "Request successful. The operation returns the requested ExpressRoutePort peering location."
          }
        },
        "tags": [
          "ExpressRoutePortsLocations"
        ],
        "description": "Retrieves a single ExpressRoutePort peering location, including the list of available bandwidths available at said peering location.",
        "operationId": "ExpressRoutePortsLocations_Get",
        "x-ms-examples": {
          "ExpressRoutePortsLocationGet": {
            "$ref": "./examples/ExpressRoutePortsLocationGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePortListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of ExpressRoutePort resources. If there are no ExpressRoutePort resources then an empty list is returned."
          }
        },
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "List all the ExpressRoutePort resources in the specified resource group.",
        "operationId": "ExpressRoutePorts_ListByResourceGroup",
        "x-ms-examples": {
          "ExpressRoutePortListByResourceGroup": {
            "$ref": "./examples/ExpressRoutePortListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the ExpressRoutePort resource.",
            "in": "path",
            "name": "expressRoutePortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "Deletes the specified ExpressRoutePort resource.",
        "operationId": "ExpressRoutePorts_Delete",
        "x-ms-examples": {
          "ExpressRoutePortDelete": {
            "$ref": "./examples/ExpressRoutePortDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of ExpressRoutePort.",
            "in": "path",
            "name": "expressRoutePortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePort"
                }
              }
            },
            "description": "Request successful. The operation returns the requested ExpressRoutePort resource."
          }
        },
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "Retrieves the requested ExpressRoutePort resource.",
        "operationId": "ExpressRoutePorts_Get",
        "x-ms-examples": {
          "ExpressRoutePortGet": {
            "$ref": "./examples/ExpressRoutePortGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the ExpressRoutePort resource.",
            "in": "path",
            "name": "expressRoutePortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePort"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting ExpressRoutePort resource."
          }
        },
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "Update ExpressRoutePort tags",
        "operationId": "ExpressRoutePorts_UpdateTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./network.json#/definitions/TagsObject"
              }
            }
          },
          "description": "Parameters supplied to update ExpressRoutePort resource tags.",
          "required": true
        },
        "x-ms-examples": {
          "ExpressRoutePortUpdateTags": {
            "$ref": "./examples/ExpressRoutePortUpdateTags.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the ExpressRoutePort resource.",
            "in": "path",
            "name": "expressRoutePortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePort"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting ExpressRoutePort resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRoutePort"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting ExpressRoutePort resource."
          }
        },
        "tags": [
          "ExpressRoutePorts"
        ],
        "description": "Creates or updates the specified ExpressRoutePort resource.",
        "operationId": "ExpressRoutePorts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpressRoutePort"
              }
            }
          },
          "description": "Parameters supplied to the create ExpressRoutePort operation.",
          "required": true
        },
        "x-ms-examples": {
          "ExpressRoutePortCreate": {
            "$ref": "./examples/ExpressRoutePortCreate.json"
          },
          "ExpressRoutePortUpdateLink": {
            "$ref": "./examples/ExpressRoutePortUpdateLink.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}/links": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the ExpressRoutePort resource.",
            "in": "path",
            "name": "expressRoutePortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRouteLinkListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of ExpressRouteLink resources. If there are no ExpressRouteLink resources then an empty list is returned."
          }
        },
        "tags": [
          "ExpressRouteLinks"
        ],
        "description": "Retrieve the ExpressRouteLink sub-resources of the specified ExpressRoutePort resource.",
        "operationId": "ExpressRouteLinks_List",
        "x-ms-examples": {
          "ExpressRouteLinkGet": {
            "$ref": "./examples/ExpressRouteLinkList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}/links/{linkName}": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the ExpressRoutePort resource.",
            "in": "path",
            "name": "expressRoutePortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the ExpressRouteLink resource.",
            "in": "path",
            "name": "linkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpressRouteLink"
                }
              }
            },
            "description": "Request successful. The operation returns the requested ExpressRouteLink resource."
          }
        },
        "tags": [
          "ExpressRouteLinks"
        ],
        "description": "Retrieves the specified ExpressRouteLink resource.",
        "operationId": "ExpressRouteLinks_Get",
        "x-ms-examples": {
          "ExpressRouteLinkGet": {
            "$ref": "./examples/ExpressRouteLinkGet.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExpressRouteLink": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "ExpressRouteLink child resource definition.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of child port resource that is unique among child port resources of the parent.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ExpressRouteLinkPropertiesFormat",
            "description": "ExpressRouteLink properties",
            "x-ms-client-flatten": true
          }
        },
        "title": "ExpressRouteLink",
        "type": "object"
      },
      "ExpressRouteLinkListResult": {
        "description": "Response for ListExpressRouteLinks API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The list of ExpressRouteLink sub-resources.",
            "items": {
              "$ref": "#/components/schemas/ExpressRouteLink"
            },
            "type": "array"
          }
        },
        "title": "ExpressRouteLink List Result",
        "type": "object"
      },
      "ExpressRouteLinkPropertiesFormat": {
        "description": "Properties specific to ExpressRouteLink resources.",
        "properties": {
          "adminState": {
            "description": "Administrative state of the physical port",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ExpressRouteLinkAdminState"
            }
          },
          "connectorType": {
            "description": "Physical fiber port type.",
            "enum": [
              "LC",
              "SC"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ExpressRouteLinkConnectorType"
            }
          },
          "interfaceName": {
            "description": "Name of Azure router interface.",
            "readOnly": true,
            "type": "string"
          },
          "patchPanelId": {
            "description": "Mapping between physical port to patch panel port.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "The provisioning state of the ExpressRouteLink resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'.",
            "readOnly": true,
            "type": "string"
          },
          "rackId": {
            "description": "Mapping of physical patch panel to rack.",
            "readOnly": true,
            "type": "string"
          },
          "routerName": {
            "description": "Name of Azure router associated with physical port.",
            "readOnly": true,
            "type": "string"
          }
        },
        "title": "ExpressRouteLink Resource Properties",
        "type": "object"
      },
      "ExpressRoutePort": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "ExpressRoutePort resource definition.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ExpressRoutePortPropertiesFormat",
            "description": "ExpressRoutePort properties",
            "x-ms-client-flatten": true
          }
        },
        "title": "ExpressRoute Port",
        "type": "object"
      },
      "ExpressRoutePortListResult": {
        "description": "Response for ListExpressRoutePorts API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "A list of ExpressRoutePort resources.",
            "items": {
              "$ref": "#/components/schemas/ExpressRoutePort"
            },
            "type": "array"
          }
        },
        "title": "ExpressRoute Port List Result",
        "type": "object"
      },
      "ExpressRoutePortPropertiesFormat": {
        "description": "Properties specific to ExpressRoutePort resources.",
        "properties": {
          "allocationDate": {
            "description": "Date of the physical port allocation to be used in Letter of Authorization.",
            "readOnly": true,
            "type": "string"
          },
          "bandwidthInGbps": {
            "description": "Bandwidth of procured ports in Gbps",
            "type": "integer"
          },
          "circuits": {
            "description": "Reference the ExpressRoute circuit(s) that are provisioned on this ExpressRoutePort resource.",
            "items": {
              "$ref": "./network.json#/definitions/SubResource"
            },
            "readOnly": true,
            "type": "array"
          },
          "encapsulation": {
            "description": "Encapsulation method on physical ports.",
            "enum": [
              "Dot1Q",
              "QinQ"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ExpressRoutePortsEncapsulation"
            }
          },
          "etherType": {
            "description": "Ether type of the physical port.",
            "readOnly": true,
            "type": "string"
          },
          "links": {
            "description": "The set of physical links of the ExpressRoutePort resource",
            "items": {
              "$ref": "#/components/schemas/ExpressRouteLink"
            },
            "readOnly": false,
            "title": "ExpressRouteLink Sub-Resources",
            "type": "array"
          },
          "mtu": {
            "description": "Maximum transmission unit of the physical port pair(s)",
            "readOnly": true,
            "type": "string"
          },
          "peeringLocation": {
            "description": "The name of the peering location that the ExpressRoutePort is mapped to physically.",
            "type": "string"
          },
          "provisionedBandwidthInGbps": {
            "description": "Aggregate Gbps of associated circuit bandwidths.",
            "readOnly": true,
            "type": "number"
          },
          "provisioningState": {
            "description": "The provisioning state of the ExpressRoutePort resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'.",
            "readOnly": true,
            "type": "string"
          },
          "resourceGuid": {
            "description": "The resource GUID property of the ExpressRoutePort resource.",
            "type": "string"
          }
        },
        "title": "ExpressRoutePort Properties",
        "type": "object"
      },
      "ExpressRoutePortsLocation": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Definition of the ExpressRoutePorts peering location resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ExpressRoutePortsLocationPropertiesFormat",
            "description": "ExpressRoutePort peering location properties",
            "x-ms-client-flatten": true
          }
        },
        "title": "ExpressRoutePorts Peering Location",
        "type": "object"
      },
      "ExpressRoutePortsLocationBandwidths": {
        "description": "Real-time inventory of available ExpressRoute port bandwidths.",
        "properties": {
          "offerName": {
            "description": "Bandwidth descriptive name",
            "readOnly": true,
            "type": "string"
          },
          "valueInGbps": {
            "description": "Bandwidth value in Gbps",
            "readOnly": true,
            "type": "integer"
          }
        },
        "title": "ExpressRoutePorts Location Bandwidths",
        "type": "object"
      },
      "ExpressRoutePortsLocationListResult": {
        "description": "Response for ListExpressRoutePortsLocations API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The list of all ExpressRoutePort peering locations.",
            "items": {
              "$ref": "#/components/schemas/ExpressRoutePortsLocation"
            },
            "type": "array"
          }
        },
        "title": "ExpressRoutePorts Location List Result",
        "type": "object"
      },
      "ExpressRoutePortsLocationPropertiesFormat": {
        "description": "Properties specific to ExpressRoutePorts peering location resources.",
        "properties": {
          "address": {
            "description": "Address of peering location.",
            "readOnly": true,
            "type": "string"
          },
          "availableBandwidths": {
            "description": "The inventory of available ExpressRoutePort bandwidths.",
            "items": {
              "$ref": "#/components/schemas/ExpressRoutePortsLocationBandwidths"
            },
            "type": "array"
          },
          "contact": {
            "description": "Contact details of peering locations.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "The provisioning state of the ExpressRoutePortLocation resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'.",
            "readOnly": true,
            "type": "string"
          }
        },
        "title": "ExpressRoutePorts Location Properties",
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}