{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Quota.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas": {
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Get the list of quotas at a location.",
        "operationId": "Quotas_List",
        "x-ms-examples": {
          "Get the list of quotas at a location.": {
            "$ref": "./examples/Quota/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}": {
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/QuotaParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Gets a quota by name.",
        "operationId": "Quotas_Get",
        "x-ms-examples": {
          "Gets a quota by name.": {
            "$ref": "./examples/Quota/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "QuotaParameter": {
        "description": "Name of the quota.",
        "in": "path",
        "name": "quota",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Quota": {
        "allOf": [
          {
            "$ref": "Subscriptions.json#/definitions/Resource"
          }
        ],
        "description": "Quotas for DelegatedProviders.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/QuotaProperties",
            "description": "Quotas for DelegatedProviders.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "QuotaList": {
        "description": "List of quotas.",
        "properties": {
          "nextLink": {
            "description": "URI to next page.",
            "type": "string"
          },
          "value": {
            "description": "List of quotas.",
            "items": {
              "$ref": "#/components/schemas/Quota"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaProperties": {
        "description": "Quotas for DelegatedProviders.",
        "properties": {
          "allowCustomPortalBranding": {
            "description": "Value indicating whether custom portal branding is allowed.",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}