{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "title": "Microsoft Defender for Cloud",
    "version": "2015-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/tasks.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ODataFilter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityTaskList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_ListByHomeRegion",
        "x-ms-examples": {
          "Get security recommendations tasks from security data location": {
            "$ref": "./examples/Tasks/GetTasksSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/TaskName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityTask"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_GetSubscriptionLevelTask",
        "x-ms-examples": {
          "Get security recommendation task from security data location": {
            "$ref": "./examples/Tasks/GetTaskSubscriptionLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/TaskName"
          },
          {
            "$ref": "#/components/parameters/TaskUpdateActionType"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_UpdateSubscriptionLevelTaskState",
        "x-ms-examples": {
          "Change security recommendation task state": {
            "$ref": "./examples/Tasks/UpdateTaskSubscriptionLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/tasks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ODataFilter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityTaskList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_List",
        "x-ms-examples": {
          "Get security recommendations tasks": {
            "$ref": "./examples/Tasks/GetTasksSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ODataFilter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityTaskList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_ListByResourceGroup",
        "x-ms-examples": {
          "Get security recommendation tasks in a resource group": {
            "$ref": "./examples/Tasks/GetTasksResourceGroupLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/TaskName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityTask"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_GetResourceGroupLevelTask",
        "x-ms-examples": {
          "Get security recommendation task in a resource group": {
            "$ref": "./examples/Tasks/GetTaskResourceGroupLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/TaskName"
          },
          {
            "$ref": "#/components/parameters/TaskUpdateActionType"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "operationId": "Tasks_UpdateResourceGroupLevelTaskState",
        "x-ms-examples": {
          "Change security recommendation task state": {
            "$ref": "./examples/Tasks/UpdateTaskResourceGroupLocation_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "TaskName": {
        "description": "Name of the task object, will be a GUID",
        "in": "path",
        "name": "taskName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TaskUpdateActionType": {
        "description": "Type of the action to do on the task",
        "in": "path",
        "name": "taskUpdateActionType",
        "required": true,
        "schema": {
          "enum": [
            "Activate",
            "Dismiss",
            "Start",
            "Resolve",
            "Close"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "TaskUpdateActionType"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "SecurityTask": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "Security task that we recommend to do in order to strengthen security",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SecurityTaskProperties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SecurityTaskList": {
        "description": "List of security task recommendations",
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "items": {
              "$ref": "#/components/schemas/SecurityTask"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "SecurityTaskParameters": {
        "additionalProperties": true,
        "description": "Changing set of properties, depending on the task type that is derived from the name field",
        "properties": {
          "name": {
            "description": "Name of the task type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SecurityTaskProperties": {
        "description": "Describes properties of a task.",
        "properties": {
          "creationTimeUtc": {
            "description": "The time this task was discovered in UTC",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "lastStateChangeTimeUtc": {
            "description": "The time this task's details were last changed in UTC",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "securityTaskParameters": {
            "$ref": "#/components/schemas/SecurityTaskParameters"
          },
          "state": {
            "description": "State of the task (Active, Resolved etc.)",
            "readOnly": true,
            "type": "string"
          },
          "subState": {
            "description": "Additional data on the state of the task",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}