{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/variable.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariableListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Variable"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "description": "Retrieve a list of variables.",
        "operationId": "Variable_ListByAutomationAccount",
        "x-ms-examples": {
          "List variables, First 100": {
            "$ref": "./examples/listVariables_First100.json"
          },
          "List variables, Next 100": {
            "$ref": "./examples/listVariables_Next100.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of variable.",
            "in": "path",
            "name": "variableName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Variable"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "description": "Delete the variable.",
        "operationId": "Variable_Delete",
        "x-ms-examples": {
          "Delete a variable": {
            "$ref": "./examples/deleteVariable.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of variable.",
            "in": "path",
            "name": "variableName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Variable"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "description": "Retrieve the variable identified by variable name.",
        "operationId": "Variable_Get",
        "x-ms-examples": {
          "Get a variable": {
            "$ref": "./examples/getVariable.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The variable name.",
            "in": "path",
            "name": "variableName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Variable"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "description": "Update a variable.",
        "operationId": "Variable_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariableUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the update variable operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a variable": {
            "$ref": "./examples/updateVariable_patch.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The variable name.",
            "in": "path",
            "name": "variableName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Variable"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "description": "Create a variable.",
        "operationId": "Variable_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariableCreateOrUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create or update variable operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a variable": {
            "$ref": "./examples/createOrUpdateVariable.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Variable": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ],
        "description": "Definition of the variable.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/VariableProperties",
            "description": "Gets or sets the properties of the variable.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VariableCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update variable operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the variable.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VariableCreateOrUpdateProperties",
            "description": "Gets or sets the properties of the variable.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "VariableCreateOrUpdateProperties": {
        "description": "The properties of the create variable operation.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the variable.",
            "type": "string"
          },
          "isEncrypted": {
            "description": "Gets or sets the encrypted flag of the variable.",
            "type": "boolean"
          },
          "value": {
            "description": "Gets or sets the value of the variable.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VariableListResult": {
        "description": "The response model for the list variables operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of variables.",
            "items": {
              "$ref": "#/components/schemas/Variable"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VariableProperties": {
        "description": "Definition of the variable properties",
        "properties": {
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "isEncrypted": {
            "description": "Gets or sets the encrypted flag of the variable.",
            "nullable": true,
            "type": "boolean"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "value": {
            "description": "Gets or sets the value of the variable.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VariableUpdateParameters": {
        "description": "The parameters supplied to the update variable operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the variable.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VariableUpdateProperties",
            "description": "Gets or sets the value of the variable.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VariableUpdateProperties": {
        "description": "The properties of the update variable",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the variable.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets the value of the variable.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}