{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides create, read, update and delete functionality Azure SQL server communication links.",
    "title": "Azure SQL Database",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serverCommunicationLinks.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerCommunicationLinkListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ServerCommunicationLinks"
        ],
        "description": "Gets a list of server communication links.",
        "operationId": "ServerCommunicationLinks_ListByServer",
        "x-ms-examples": {
          "List server communication links": {
            "$ref": "./examples/ServerCommunicationLinkList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks/{communicationLinkName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the server communication link.",
            "in": "path",
            "name": "communicationLinkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "ServerCommunicationLinks"
        ],
        "description": "Deletes a server communication link.",
        "operationId": "ServerCommunicationLinks_Delete",
        "x-ms-examples": {
          "Delete a server communication link": {
            "$ref": "./examples/ServerCommunicationLinkDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the server communication link.",
            "in": "path",
            "name": "communicationLinkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerCommunicationLink"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ServerCommunicationLinks"
        ],
        "description": "Returns a server communication link.",
        "operationId": "ServerCommunicationLinks_Get",
        "x-ms-examples": {
          "Get a server communication link": {
            "$ref": "./examples/ServerCommunicationLinkGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the server communication link.",
            "in": "path",
            "name": "communicationLinkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerCommunicationLink"
                }
              }
            },
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "ServerCommunicationLinks"
        ],
        "description": "Creates a server communication link.",
        "operationId": "ServerCommunicationLinks_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerCommunicationLink"
              }
            }
          },
          "description": "The required parameters for creating a server communication link.",
          "required": true
        },
        "x-ms-examples": {
          "Create a server communication link": {
            "$ref": "./examples/ServerCommunicationLinkCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ServerCommunicationLink": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Server communication link.",
        "properties": {
          "kind": {
            "description": "Communication link kind.  This property is used for Azure Portal metadata.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Communication link location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ServerCommunicationLinkProperties",
            "description": "The properties of resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ServerCommunicationLinkListResult": {
        "description": "A list of server communication links.",
        "properties": {
          "value": {
            "description": "The list of server communication links.",
            "items": {
              "$ref": "#/components/schemas/ServerCommunicationLink"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ServerCommunicationLinkProperties": {
        "description": "The properties of a server communication link.",
        "properties": {
          "partnerServer": {
            "description": "The name of the partner server.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "state": {
            "description": "The state.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "partnerServer"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}