openapi: 3.0.0
info:
  title: RecoveryServicesBackupClient
  version: '2016-08-10'
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.RecoveryServices/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDiscoveryResponse'
          description: OK
      tags:
        - Operations
      description: Returns the list of available operations.
      operationId: Operations_List
      x-ms-examples:
        ListOperations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    ClientDiscoveryDisplay:
      description: Localized display information of an operation.
      properties:
        description:
          description: >-
            Description of the operation having details of what operation is
            about.
          type: string
        operation:
          description: Operations Name itself.
          type: string
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: ResourceType for which this Operation can be performed.
          type: string
      type: object
    ClientDiscoveryForLogSpecification:
      description: Class to represent shoebox log specification in json client discovery.
      properties:
        blobDuration:
          description: blob duration of shoebox log specification
          type: string
        displayName:
          description: Localized display name
          type: string
        name:
          description: Name for shoebox log specification.
          type: string
      type: object
    ClientDiscoveryForProperties:
      description: Class to represent shoebox properties in json client discovery.
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ClientDiscoveryForServiceSpecification'
          description: Operation properties.
      type: object
    ClientDiscoveryForServiceSpecification:
      description: >-
        Class to represent shoebox service specification in json client
        discovery.
      properties:
        logSpecifications:
          description: List of log specifications of this operation.
          items:
            $ref: '#/components/schemas/ClientDiscoveryForLogSpecification'
          type: array
      type: object
    ClientDiscoveryResponse:
      description: Operations List response which contains list of available APIs.
      properties:
        nextLink:
          description: Link to the next chunk of Response.
          type: string
        value:
          description: List of available operations.
          items:
            $ref: '#/components/schemas/ClientDiscoveryValueForSingleApi'
          type: array
      type: object
    ClientDiscoveryValueForSingleApi:
      description: Available operation details.
      properties:
        display:
          $ref: '#/components/schemas/ClientDiscoveryDisplay'
          description: >-
            Contains the localized display information for this particular
            operation
        name:
          description: Name of the Operation.
          type: string
        origin:
          description: >-
            The intended executor of the operation;governs the display of the
            operation in the RBAC UX and the audit logs UX
          type: string
        properties:
          $ref: '#/components/schemas/ClientDiscoveryForProperties'
          description: ShoeBox properties for the given operation.
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

