{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2016-09-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/virtualNetwork.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworks": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of VirtualNetwork resources."
          }
        },
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Gets all virtual networks in a subscription.",
        "operationId": "VirtualNetworks_ListAll",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of VirtualNetwork resources."
          }
        },
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Gets all virtual networks in a resource group.",
        "operationId": "VirtualNetworks_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Deletes the specified virtual network.",
        "operationId": "VirtualNetworks_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetwork"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetwork"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting VirtualNetwork resource."
          }
        },
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Gets the specified virtual network by resource group.",
        "operationId": "VirtualNetworks_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetwork"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetwork"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting VirtualNetwork resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetwork"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetwork"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting VirtualNetwork resource."
          }
        },
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Creates or updates a virtual network in the specified resource group.",
        "operationId": "VirtualNetworks_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetwork"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetwork"
              }
            }
          },
          "description": "Parameters supplied to the create or update virtual network operation",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/CheckIPAddressAvailability": {
      "get": {
        "parameters": [
          {
            "description": "The private IP address to be verified.",
            "in": "query",
            "name": "ipAddress",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPAddressAvailabilityResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPAddressAvailabilityResult"
                }
              }
            },
            "description": "Private IP address availability and list of other free addresses if the requested one is not available."
          }
        },
        "description": "Checks whether a private IP address is available for use.",
        "operationId": "VirtualNetworks_CheckIPAddressAvailability"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubnetListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubnetListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of Subnet resources."
          }
        },
        "tags": [
          "Subnets"
        ],
        "description": "Gets all subnets in a virtual network.",
        "operationId": "Subnets_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the subnet.",
            "in": "path",
            "name": "subnetName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "tags": [
          "Subnets"
        ],
        "description": "Deletes the specified subnet.",
        "operationId": "Subnets_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the subnet.",
            "in": "path",
            "name": "subnetName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subnet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subnet"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting Subnet resource."
          }
        },
        "tags": [
          "Subnets"
        ],
        "description": "Gets the specified subnet by virtual network and resource group.",
        "operationId": "Subnets_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the subnet.",
            "in": "path",
            "name": "subnetName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subnet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subnet"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting Subnet resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subnet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subnet"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting Subnet resource."
          }
        },
        "tags": [
          "Subnets"
        ],
        "description": "Creates or updates a subnet in the specified virtual network.",
        "operationId": "Subnets_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subnet"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Subnet"
              }
            }
          },
          "description": "Parameters supplied to the create or update subnet operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeeringListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeeringListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of VirtualNetworkPeering resources."
          }
        },
        "tags": [
          "VirtualNetworkPeerings"
        ],
        "description": "Gets all virtual network peerings in a virtual network.",
        "operationId": "VirtualNetworkPeerings_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings/{virtualNetworkPeeringName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network peering.",
            "in": "path",
            "name": "virtualNetworkPeeringName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "tags": [
          "VirtualNetworkPeerings"
        ],
        "description": "Deletes the specified virtual network peering.",
        "operationId": "VirtualNetworkPeerings_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network peering.",
            "in": "path",
            "name": "virtualNetworkPeeringName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeering"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeering"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting VirtualNetworkPeering resource."
          }
        },
        "tags": [
          "VirtualNetworkPeerings"
        ],
        "description": "Gets the specified virtual network peering.",
        "operationId": "VirtualNetworkPeerings_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network.",
            "in": "path",
            "name": "virtualNetworkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "virtualNetworkPeeringName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeering"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeering"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting VirtualNetworkPeering resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeering"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkPeering"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting VirtualNetworkPeering resource."
          }
        },
        "tags": [
          "VirtualNetworkPeerings"
        ],
        "description": "Creates or updates a peering in the specified virtual network.",
        "operationId": "VirtualNetworkPeerings_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkPeering"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkPeering"
              }
            }
          },
          "description": "Parameters supplied to the create or update virtual network peering operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AddressSpace": {
        "description": "AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network.",
        "properties": {
          "addressPrefixes": {
            "description": "A list of address blocks reserved for this virtual network in CIDR notation.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DhcpOptions": {
        "description": "DhcpOptions contains an array of DNS servers available to VMs deployed in the virtual network. Standard DHCP option for a subnet overrides VNET DHCP options.",
        "properties": {
          "dnsServers": {
            "description": "The list of DNS servers IP addresses.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "IPAddressAvailabilityResult": {
        "description": "Response for CheckIPAddressAvailability API service call",
        "properties": {
          "available": {
            "description": "Private IP address availability.",
            "type": "boolean"
          },
          "availableIPAddresses": {
            "description": "Contains other available private IP addresses if the asked for address is taken.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResourceNavigationLink": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "ResourceNavigationLink resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ResourceNavigationLinkFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ResourceNavigationLinkFormat": {
        "description": "Properties of ResourceNavigationLink.",
        "properties": {
          "link": {
            "description": "Link to the external resource",
            "type": "string"
          },
          "linkedResourceType": {
            "description": "Resource type of the linked resource.",
            "type": "string"
          },
          "provisioningState": {
            "description": "Provisioning state of the ResourceNavigationLink resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Subnet": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "Subnet in a virtual network resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/SubnetPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SubnetListResult": {
        "description": "Response for ListSubnets API service callRetrieves all subnet that belongs to a virtual network",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The subnets in a virtual network.",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SubnetPropertiesFormat": {
        "properties": {
          "addressPrefix": {
            "description": "The address prefix for the subnet.",
            "type": "string"
          },
          "ipConfigurations": {
            "description": "Gets an array of references to the network interface IP configurations using subnet.",
            "items": {
              "$ref": "./networkInterface.json#/definitions/IPConfiguration"
            },
            "readOnly": true,
            "type": "array"
          },
          "networkSecurityGroup": {
            "$ref": "./networkSecurityGroup.json#/definitions/NetworkSecurityGroup",
            "description": "The reference of the NetworkSecurityGroup resource."
          },
          "provisioningState": {
            "description": "The provisioning state of the resource.",
            "type": "string"
          },
          "resourceNavigationLinks": {
            "description": "Gets an array of references to the external resources using subnet.",
            "items": {
              "$ref": "#/components/schemas/ResourceNavigationLink"
            },
            "type": "array"
          },
          "routeTable": {
            "$ref": "./routeTable.json#/definitions/RouteTable",
            "description": "The reference of the RouteTable resource."
          }
        },
        "type": "object"
      },
      "VirtualNetwork": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Virtual Network resource.",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkListResult": {
        "description": "Response for the ListVirtualNetworks API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "Gets a list of VirtualNetwork resources in a resource group.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetwork"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualNetworkPeering": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "Peerings in a virtual network resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkPeeringPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkPeeringListResult": {
        "description": "Response for ListSubnets API service call. Retrieves all subnets that belong to a virtual network.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The peerings in a virtual network.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkPeering"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualNetworkPeeringPropertiesFormat": {
        "properties": {
          "allowForwardedTraffic": {
            "description": "Whether the forwarded traffic from the VMs in the remote virtual network will be allowed/disallowed.",
            "type": "boolean"
          },
          "allowGatewayTransit": {
            "description": "If gateway links can be used in remote virtual networking to link to this virtual network.",
            "type": "boolean"
          },
          "allowVirtualNetworkAccess": {
            "description": "Whether the VMs in the linked virtual network space would be able to access all the VMs in local Virtual network space.",
            "type": "boolean"
          },
          "peeringState": {
            "description": "The status of the virtual network peering. Possible values are 'Initiated', 'Connected', and 'Disconnected'.",
            "enum": [
              "Initiated",
              "Connected",
              "Disconnected"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkPeeringState"
            }
          },
          "provisioningState": {
            "description": "The provisioning state of the resource.",
            "type": "string"
          },
          "remoteVirtualNetwork": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The reference of the remote virtual network."
          },
          "useRemoteGateways": {
            "description": "If remote gateways can be used on this virtual network. If the flag is set to true, and allowGatewayTransit on remote peering is also true, virtual network will use gateways of remote virtual network for transit. Only one peering can have this flag set to true. This flag cannot be set if virtual network already has a gateway.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "VirtualNetworkPropertiesFormat": {
        "properties": {
          "addressSpace": {
            "$ref": "#/components/schemas/AddressSpace",
            "description": "The AddressSpace that contains an array of IP address ranges that can be used by subnets."
          },
          "dhcpOptions": {
            "$ref": "#/components/schemas/DhcpOptions",
            "description": "The dhcpOptions that contains an array of DNS servers available to VMs deployed in the virtual network."
          },
          "provisioningState": {
            "description": "The provisioning state of the PublicIP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "resourceGuid": {
            "description": "The resourceGuid property of the Virtual Network resource.",
            "type": "string"
          },
          "subnets": {
            "description": "A list of subnets in a Virtual Network.",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            },
            "type": "array"
          },
          "virtualNetworkPeerings": {
            "description": "A list of peerings in a Virtual Network.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkPeering"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}