openapi: 3.0.0
info:
  description: The Managed Labs Client.
  title: ManagedLabsClient
  version: '2018-10-15'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.LabServices/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
          description: Success
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ProviderOperations
      description: Result of the request to list REST API operations
      operationId: ProviderOperations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.LabServices/users/{userName}/getEnvironment':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=environment)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEnvironmentResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: Gets the virtual machine details
      operationId: GlobalUsers_GetEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentOperationsPayload'
        description: >-
          Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
  '/providers/Microsoft.LabServices/users/{userName}/getOperationBatchStatus':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationBatchStatusResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: Get batch operation status
      operationId: GlobalUsers_GetOperationBatchStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationBatchStatusPayload'
        description: Payload to get the status of an operation
        required: true
  '/providers/Microsoft.LabServices/users/{userName}/getOperationStatus':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatusResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: Gets the status of long running operation
      operationId: GlobalUsers_GetOperationStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationStatusPayload'
        description: Payload to get the status of an operation
        required: true
  '/providers/Microsoft.LabServices/users/{userName}/getPersonalPreferences':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPersonalPreferencesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: Get personal preferences for a user
      operationId: GlobalUsers_GetPersonalPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalPreferencesOperationsPayload'
        description: >-
          Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
  '/providers/Microsoft.LabServices/users/{userName}/listEnvironments':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvironmentsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: List Environments for the user
      operationId: GlobalUsers_ListEnvironments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEnvironmentsPayload'
        description: Represents the payload to list environments owned by a user
        required: true
  '/providers/Microsoft.LabServices/users/{userName}/listLabs':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLabsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: List labs for the user.
      operationId: GlobalUsers_ListLabs
  '/providers/Microsoft.LabServices/users/{userName}/register':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: Register a user to a managed lab
      operationId: GlobalUsers_Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPayload'
        description: Represents payload for Register action.
        required: true
  '/providers/Microsoft.LabServices/users/{userName}/resetPassword':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: >-
        Resets the user password on an environment This operation can take a
        while to complete
      operationId: GlobalUsers_ResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordPayload'
        description: Represents the payload for resetting passwords.
        required: true
      x-ms-long-running-operation: true
  '/providers/Microsoft.LabServices/users/{userName}/startEnvironment':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: >-
        Starts an environment by starting all resources inside the environment.
        This operation can take a while to complete
      operationId: GlobalUsers_StartEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentOperationsPayload'
        description: >-
          Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
      x-ms-long-running-operation: true
  '/providers/Microsoft.LabServices/users/{userName}/stopEnvironment':
    post:
      parameters:
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalUsers
      description: >-
        Stops an environment by stopping all resources inside the environment
        This operation can take a while to complete
      operationId: GlobalUsers_StopEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentOperationsPayload'
        description: >-
          Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labaccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=sizeConfiguration)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabAccount_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: List lab accounts in a subscription.
      operationId: LabAccounts_ListBySubscription
      x-ms-odata: '#/components/schemas/LabAccount'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.LabServices/locations/{locationName}/operations/{operationName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/locationName'
        - description: The name of the operation.
          in: path
          name: operationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Operations
      description: Get operation
      operationId: Operations_Get
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=sizeConfiguration)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabAccount_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: List lab accounts in a resource group.
      operationId: LabAccounts_ListByResourceGroup
      x-ms-odata: '#/components/schemas/LabAccount'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: Delete lab account. This operation can take a while to complete
      operationId: LabAccounts_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=sizeConfiguration)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: Get lab account
      operationId: LabAccounts_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: Modify properties of lab accounts.
      operationId: LabAccounts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabAccountFragment'
        description: Represents a lab account.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: Create or replace an existing Lab Account.
      operationId: LabAccounts_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabAccount'
        description: Represents a lab account.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/createLab':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: Create a lab in a lab account.
      operationId: LabAccounts_CreateLab
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabProperties'
        description: >-
          Properties for creating a managed lab and a default environment
          setting
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=author)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_GalleryImage_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GalleryImages
      description: List gallery images in a given lab account.
      operationId: GalleryImages_List
      x-ms-odata: '#/components/schemas/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages/{galleryImageName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the gallery Image.
          in: path
          name: galleryImageName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GalleryImages
      description: Delete gallery image.
      operationId: GalleryImages_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the gallery Image.
          in: path
          name: galleryImageName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=author)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GalleryImages
      description: Get gallery image
      operationId: GalleryImages_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the gallery Image.
          in: path
          name: galleryImageName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GalleryImages
      description: Modify properties of gallery images.
      operationId: GalleryImages_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageFragment'
        description: Represents an image from the Azure Marketplace
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the gallery Image.
          in: path
          name: galleryImageName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GalleryImages
      description: Create or replace an existing Gallery Image.
      operationId: GalleryImages_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImage'
        description: Represents an image from the Azure Marketplace
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/getRegionalAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionalAvailabilityResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - LabAccounts
      description: >-
        Get regional availability information for each size category configured
        under a lab account
      operationId: LabAccounts_GetRegionalAvailability
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=maxUsersInLab)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: List labs in a given lab account.
      operationId: Labs_List
      x-ms-examples:
        Labs_List:
          $ref: ./examples/Labs_List.json
      x-ms-odata: '#/components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: Delete lab. This operation can take a while to complete
      operationId: Labs_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=maxUsersInLab)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: Get lab
      operationId: Labs_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: Modify properties of labs.
      operationId: Labs_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabFragment'
        description: Represents a lab.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: Create or replace an existing Lab.
      operationId: Labs_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lab'
        description: Represents a lab.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/addUsers':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: Add users to a lab
      operationId: Labs_AddUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUsersPayload'
        description: Payload for Add Users operation on a Lab.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=publishingState)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseWithContinuation_EnvironmentSetting_
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: List environment setting in a given lab.
      operationId: EnvironmentSettings_List
      x-ms-odata: '#/components/schemas/EnvironmentSetting'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: Delete environment setting. This operation can take a while to complete
      operationId: EnvironmentSettings_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=publishingState)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: Get environment setting
      operationId: EnvironmentSettings_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: Modify properties of environment setting.
      operationId: EnvironmentSettings_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentSettingFragment'
        description: >-
          Represents settings of an environment, from which environment
          instances would be created
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSetting'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: >-
        Create or replace an existing Environment Setting. This operation can
        take a while to complete
      operationId: EnvironmentSettings_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentSetting'
        description: >-
          Represents settings of an environment, from which environment
          instances would be created
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/claimAny':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: Claims a random environment for a user in an environment settings
      operationId: EnvironmentSettings_ClaimAny
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=networkInterface)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Environment_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: List environments in a given environment setting.
      operationId: Environments_List
      x-ms-odata: '#/components/schemas/Environment'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Delete environment. This operation can take a while to complete
      operationId: Environments_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=networkInterface)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Get environment
      operationId: Environments_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Modify properties of environments.
      operationId: Environments_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentFragment'
        description: Represents an environment instance
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Create or replace an existing Environment.
      operationId: Environments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
        description: Represents an environment instance
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/claim':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Claims the environment and assigns it to the user
      operationId: Environments_Claim
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/resetPassword':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: >-
        Resets the user password on an environment This operation can take a
        while to complete
      operationId: Environments_ResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordPayload'
        description: Represents the payload for resetting passwords.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: >-
        Starts an environment by starting all resources inside the environment.
        This operation can take a while to complete
      operationId: Environments_Start
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: >-
        Stops an environment by stopping all resources inside the environment
        This operation can take a while to complete
      operationId: Environments_Stop
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/publish':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: >-
        Provisions/deprovisions required resources for an environment setting
        based on current state of the lab/environment setting.
      operationId: EnvironmentSettings_Publish
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishPayload'
        description: Payload for Publish operation on EnvironmentSetting.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: >-
        Starts a template by starting all resources inside the template. This
        operation can take a while to complete
      operationId: EnvironmentSettings_Start
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the environment Setting.
          in: path
          name: environmentSettingName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - EnvironmentSettings
      description: >-
        Starts a template by starting all resources inside the template. This
        operation can take a while to complete
      operationId: EnvironmentSettings_Stop
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/register':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: Register to managed lab.
      operationId: Labs_Register
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=email)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_User_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: List users in a given lab.
      operationId: Users_List
      x-ms-odata: '#/components/schemas/User'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users/{userName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Delete user. This operation can take a while to complete
      operationId: Users_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=email)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Get user
      operationId: Users_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Modify properties of users.
      operationId: Users_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserFragment'
        description: The User registered to a lab
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab Account.
          in: path
          name: labAccountName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Create or replace an existing User.
      operationId: Users_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: The User registered to a lab
        required: true
components:
  parameters:
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2018-10-15'
        type: string
    locationName:
      description: The name of the location.
      in: path
      name: locationName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    EnvironmentOperationsPayload:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EnvironmentOperationsPayload'
      description: >-
        Represents payload for any Environment operations like get, start, stop,
        connect
      required: true
    ResetPasswordPayload:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResetPasswordPayload'
      description: Represents the payload for resetting passwords.
      required: true
  schemas:
    AddUsersPayload:
      description: Payload for Add Users operation on a Lab.
      properties:
        emailAddresses:
          description: List of user emails addresses to add to the lab.
          items:
            type: string
          type: array
      required:
        - emailAddresses
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          type: string
        target:
          type: string
      type: object
      x-ms-external: true
    CreateLabProperties:
      description: Properties for creating a managed lab and a default environment setting
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        environmentSettingCreationParameters:
          $ref: '#/components/schemas/EnvironmentSettingCreationParameters'
          description: Settings related to creating an environment setting
        labCreationParameters:
          $ref: '#/components/schemas/LabCreationParameters'
          description: Settings related to creating a lab
        location:
          description: The location of the resource
          type: string
        name:
          description: The name of the resource
          type: string
      required:
        - labCreationParameters
        - name
      type: object
    Environment:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Represents an environment instance
      properties:
        properties:
          $ref: '#/components/schemas/EnvironmentProperties'
          description: The properties of the Environment resource
          x-ms-client-flatten: true
      type: object
    EnvironmentDetails:
      description: This represents the details about a User's environment and its state.
      properties:
        description:
          description: Description of the Environment
          readOnly: true
          type: string
        environmentState:
          description: >-
            Publishing state of the environment setting Possible values are
            Creating, Created, Failed
          readOnly: true
          type: string
        id:
          description: Resource Id of the environment
          readOnly: true
          type: string
        latestOperationResult:
          $ref: '#/components/schemas/LatestOperationResult'
          description: 'The details of the latest operation. ex: status, error'
          readOnly: true
        name:
          description: Name of the Environment
          readOnly: true
          type: string
        passwordLastReset:
          description: When the password was last reset on the environment.
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          description: >-
            The provisioning state of the environment. This also includes
            LabIsFull and NotYetProvisioned status.
          readOnly: true
          type: string
        totalUsage:
          description: How long the environment has been used by a lab user
          format: duration
          readOnly: true
          type: string
        virtualMachineDetails:
          $ref: '#/components/schemas/VirtualMachineDetails'
          description: >-
            Details of backing DTL virtual machine with compute and network
            details.
          readOnly: true
      type: object
    EnvironmentFragment:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Represents an environment instance
      properties:
        properties:
          $ref: '#/components/schemas/EnvironmentPropertiesFragment'
          description: The properties of the Environment resource
          x-ms-client-flatten: true
      type: object
    EnvironmentOperationsPayload:
      description: >-
        Represents payload for any Environment operations like get, start, stop,
        connect
      properties:
        environmentId:
          description: The resourceId of the environment
          type: string
      required:
        - environmentId
      type: object
    EnvironmentProperties:
      description: Properties of an environment
      properties:
        claimedByUserName:
          description: >-
            The name or email address of the user who has claimed the
            environment
          readOnly: true
          type: string
        claimedByUserObjectId:
          description: The AAD object Id of the user who has claimed the environment
          readOnly: true
          type: string
        claimedByUserPrincipalId:
          description: The user principal Id of the user who has claimed the environment
          readOnly: true
          type: string
        isClaimed:
          description: Is the environment claimed or not
          readOnly: true
          type: boolean
        lastKnownPowerState:
          description: Last known power state of the environment
          readOnly: true
          type: string
        latestOperationResult:
          $ref: '#/components/schemas/LatestOperationResult'
          description: 'The details of the latest operation. ex: status, error'
          readOnly: true
        networkInterface:
          $ref: '#/components/schemas/NetworkInterface'
          description: Network details of the environment
          readOnly: true
        passwordLastReset:
          description: When the password was last reset on the environment.
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        resourceSets:
          $ref: '#/components/schemas/ResourceSet'
          description: The set of a VM and the setting id it was created for
        totalUsage:
          description: How long the environment has been used by a lab user
          format: duration
          readOnly: true
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
      type: object
    EnvironmentPropertiesFragment:
      description: Properties of an environment
      properties:
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        resourceSets:
          $ref: '#/components/schemas/ResourceSetFragment'
          description: The set of a VM and the setting id it was created for
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
      type: object
    EnvironmentSetting:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        Represents settings of an environment, from which environment instances
        would be created
      properties:
        properties:
          $ref: '#/components/schemas/EnvironmentSettingProperties'
          description: The properties of the Environment Setting resource
          x-ms-client-flatten: true
      type: object
    EnvironmentSettingCreationParameters:
      description: Settings related to creating an environment setting
      properties:
        resourceSettingCreationParameters:
          $ref: '#/components/schemas/ResourceSettingCreationParameters'
          description: The resource specific settings
      required:
        - resourceSettingCreationParameters
      type: object
    EnvironmentSettingFragment:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        Represents settings of an environment, from which environment instances
        would be created
      properties:
        properties:
          $ref: '#/components/schemas/EnvironmentSettingPropertiesFragment'
          description: The properties of the Environment Setting resource
          x-ms-client-flatten: true
      type: object
    EnvironmentSettingProperties:
      description: Properties of an environment setting
      properties:
        configurationState:
          description: >-
            Describes the user's progress in configuring their environment
            setting
          enum:
            - NotApplicable
            - Completed
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConfigurationState
            values:
              - description: "User either hasn't started configuring their template\r\nor they haven't started the configuration process."
                value: NotApplicable
              - description: User is finished modifying the template.
                value: Completed
        description:
          description: Describes the environment and its resource settings
          type: string
        lastChanged:
          description: Time when the template VM was last changed.
          format: date-time
          readOnly: true
          type: string
        lastPublished:
          description: Time when the template VM was last sent for publishing.
          format: date-time
          readOnly: true
          type: string
        latestOperationResult:
          $ref: '#/components/schemas/LatestOperationResult'
          description: 'The details of the latest operation. ex: status, error'
          readOnly: true
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        publishingState:
          description: Describes the readiness of this environment setting
          enum:
            - Draft
            - Publishing
            - Published
            - PublishFailed
            - Scaling
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PublishingState
            values:
              - description: Initial state of an environment setting.
                value: Draft
              - description: Currently provisioning resources.
                value: Publishing
              - description: All resources are currently provisioned.
                value: Published
              - description: Failed to provision all the necessary resources.
                value: PublishFailed
              - description: Currently provisioning resources without recreating VM image.
                value: Scaling
        resourceSettings:
          $ref: '#/components/schemas/ResourceSettings'
          description: The resource specific settings
        title:
          description: Brief title describing the environment and its resource settings
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
      required:
        - resourceSettings
      type: object
    EnvironmentSettingPropertiesFragment:
      description: Properties of an environment setting
      properties:
        configurationState:
          description: >-
            Describes the user's progress in configuring their environment
            setting
          enum:
            - NotApplicable
            - Completed
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConfigurationState
            values:
              - description: "User either hasn't started configuring their template\r\nor they haven't started the configuration process."
                value: NotApplicable
              - description: User is finished modifying the template.
                value: Completed
        description:
          description: Describes the environment and its resource settings
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        resourceSettings:
          $ref: '#/components/schemas/ResourceSettingsFragment'
          description: The resource specific settings
        title:
          description: Brief title describing the environment and its resource settings
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
      type: object
    EnvironmentSize:
      description: >-
        Represents a size category supported by this Lab Account (small, medium
        or large)
      properties:
        maxPrice:
          description: >-
            The pay-as-you-go dollar price per hour this size will cost. It does
            not include discounts and may not reflect the actual price the size
            will cost. This is the maximum price of all prices within this tier.
          format: decimal
          readOnly: true
          type: number
        minMemory:
          description: >-
            The amount of memory available (in GB). This is the minimum amount
            of memory within this tier.
          format: double
          readOnly: true
          type: number
        minNumberOfCores:
          description: >-
            The number of cores a VM of this size has. This is the minimum
            number of cores within this tier.
          format: int32
          readOnly: true
          type: integer
        name:
          description: The size category
          enum:
            - Basic
            - Standard
            - Performance
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedLabVmSize
            values:
              - description: The base VM size
                value: Basic
              - description: The standard or default VM size
                value: Standard
              - description: The most performant VM size
                value: Performance
        vmSizes:
          description: >-
            Represents a set of compute sizes that can serve this given size
            type
          items:
            $ref: '#/components/schemas/SizeInfo'
          type: array
      type: object
    EnvironmentSizeFragment:
      description: >-
        Represents a size category supported by this Lab Account (small, medium
        or large)
      properties:
        name:
          description: The size category
          enum:
            - Basic
            - Standard
            - Performance
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedLabVmSize
            values:
              - description: The base VM size
                value: Basic
              - description: The standard or default VM size
                value: Standard
              - description: The most performant VM size
                value: Performance
        vmSizes:
          description: >-
            Represents a set of compute sizes that can serve this given size
            type
          items:
            $ref: '#/components/schemas/SizeInfoFragment'
          type: array
      type: object
    GalleryImage:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Represents an image from the Azure Marketplace
      properties:
        properties:
          $ref: '#/components/schemas/GalleryImageProperties'
          description: The gallery image properties
          x-ms-client-flatten: true
      type: object
    GalleryImageFragment:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Represents an image from the Azure Marketplace
      properties:
        properties:
          $ref: '#/components/schemas/GalleryImagePropertiesFragment'
          description: The gallery image properties
          x-ms-client-flatten: true
      type: object
    GalleryImageProperties:
      description: The gallery image properties
      properties:
        author:
          description: The author of the gallery image.
          readOnly: true
          type: string
        createdDate:
          description: The creation date of the gallery image.
          format: date-time
          readOnly: true
          type: string
        description:
          description: The description of the gallery image.
          readOnly: true
          type: string
        icon:
          description: The icon of the gallery image.
          readOnly: true
          type: string
        imageReference:
          $ref: '#/components/schemas/GalleryImageReference'
          description: The image reference of the gallery image.
          readOnly: true
        isEnabled:
          description: Indicates whether this gallery image is enabled.
          type: boolean
        isOverride:
          description: >-
            Indicates whether this gallery has been overridden for this lab
            account
          type: boolean
        isPlanAuthorized:
          description: >-
            Indicates if the plan has been authorized for programmatic
            deployment.
          type: boolean
        latestOperationResult:
          $ref: '#/components/schemas/LatestOperationResult'
          description: 'The details of the latest operation. ex: status, error'
          readOnly: true
        planId:
          description: The third party plan that applies to this image
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
      type: object
    GalleryImagePropertiesFragment:
      description: The gallery image properties
      properties:
        isEnabled:
          description: Indicates whether this gallery image is enabled.
          type: boolean
        isOverride:
          description: >-
            Indicates whether this gallery has been overridden for this lab
            account
          type: boolean
[...]
