openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/privateEndpointConnections':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: Successfully retrieved private endpoint connections.
        default:
          description: |-
            *** Error Responses: ***

             * 400 PrivateEndpointConnectionDoesNotExist - Private Endpoint Connection does not exist

             * 400 PrivateEndpointConnectionStatusNotPending - Private Endpoint Connection Status is not Pending

             * 400 NullRemotePrivateLinkServiceConnectionState - Remote Private Link Service Connection State is Null

             * 400 NullPrivateEndpointConnectionProperties - Private Endpoint Connection Properties is Null

             * 400 NullRemotePrivateLinkServiceConnectionStateStatus - Remote Private Link Service Connection State Status is Null

             * 400 IncorrectPrivateLinkServiceConnectionStateStatus - Private Link Service Connection State Status must be "Approved" or "Rejected"

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - PrivateEndpointConnections
      description: Gets all private endpoint connections on a server.
      operationId: PrivateEndpointConnections_ListByServer
      x-ms-examples:
        Gets list of private endpoint connections on a server.:
          $ref: ./examples/PrivateEndpointConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/privateEndpointConnections/{privateEndpointConnectionName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - in: path
          name: privateEndpointConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted private endpoint connection.
        '202':
          description: Accepted
        '204':
          description: Private endpoint connection does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 PrivateEndpointConnectionDoesNotExist - Private Endpoint Connection does not exist

             * 400 PrivateEndpointConnectionStatusNotPending - Private Endpoint Connection Status is not Pending

             * 400 NullRemotePrivateLinkServiceConnectionState - Remote Private Link Service Connection State is Null

             * 400 NullPrivateEndpointConnectionProperties - Private Endpoint Connection Properties is Null

             * 400 NullRemotePrivateLinkServiceConnectionStateStatus - Remote Private Link Service Connection State Status is Null

             * 400 IncorrectPrivateLinkServiceConnectionStateStatus - Private Link Service Connection State Status must be "Approved" or "Rejected"

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - PrivateEndpointConnections
      description: Deletes a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_Delete
      x-ms-examples:
        Deletes a private endpoint connection with a given name.:
          $ref: ./examples/PrivateEndpointConnectionDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the private endpoint connection.
          in: path
          name: privateEndpointConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully retrieved a specified private endpoint connection.
        default:
          description: |-
            *** Error Responses: ***

             * 400 PrivateEndpointConnectionDoesNotExist - Private Endpoint Connection does not exist

             * 400 PrivateEndpointConnectionStatusNotPending - Private Endpoint Connection Status is not Pending

             * 400 NullRemotePrivateLinkServiceConnectionState - Remote Private Link Service Connection State is Null

             * 400 NullPrivateEndpointConnectionProperties - Private Endpoint Connection Properties is Null

             * 400 NullRemotePrivateLinkServiceConnectionStateStatus - Remote Private Link Service Connection State Status is Null

             * 400 IncorrectPrivateLinkServiceConnectionStateStatus - Private Link Service Connection State Status must be "Approved" or "Rejected"

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - PrivateEndpointConnections
      description: Gets a private endpoint connection.
      operationId: PrivateEndpointConnections_Get
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/PrivateEndpointConnectionGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - in: path
          name: privateEndpointConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully approved or rejected private endpoint connection.
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 PrivateEndpointConnectionDoesNotExist - Private Endpoint Connection does not exist

             * 400 PrivateEndpointConnectionStatusNotPending - Private Endpoint Connection Status is not Pending

             * 400 NullRemotePrivateLinkServiceConnectionState - Remote Private Link Service Connection State is Null

             * 400 NullPrivateEndpointConnectionProperties - Private Endpoint Connection Properties is Null

             * 400 NullRemotePrivateLinkServiceConnectionStateStatus - Remote Private Link Service Connection State Status is Null

             * 400 IncorrectPrivateLinkServiceConnectionStateStatus - Private Link Service Connection State Status must be "Approved" or "Rejected"

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - PrivateEndpointConnections
      description: Approve or reject a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        required: true
      x-ms-examples:
        Approve or reject a private endpoint connection with a given name.:
          $ref: ./examples/PrivateEndpointConnectionUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    PrivateEndpointConnection:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: A private endpoint connection
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          type: array
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
          description: Private endpoint which the connection belongs to.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
          description: Connection state of the private endpoint connection.
        provisioningState:
          description: State of the private endpoint connection.
          readOnly: true
          type: string
      type: object
    PrivateEndpointProperty:
      properties:
        id:
          description: Resource id of the private endpoint.
          type: string
      type: object
      x-ms-azure-resource: true
    PrivateLinkServiceConnectionStateProperty:
      properties:
        actionsRequired:
          description: The actions required for private link service connection.
          readOnly: true
          type: string
        description:
          description: The private link service connection description.
          type: string
        status:
          description: The private link service connection status.
          type: string
      required:
        - status
        - description
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: ARM proxy resource.
      properties: {}
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

