openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/natGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGatewayListResult'
          description: >-
            Request successful. The operation returns a list of NatGateway
            resources.
      tags:
        - NatGateways
      description: Gets all the Nat Gateways in a subscription.
      operationId: NatGateways_ListAll
      x-ms-examples:
        List all nat gateways:
          $ref: ./examples/NatGatewayListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/natGateways':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGatewayListResult'
          description: >-
            Request successful. The operation returns a list of NatGateway
            resources.
      tags:
        - NatGateways
      description: Gets all nat gateways in a resource group.
      operationId: NatGateways_List
      x-ms-examples:
        List nat gateways in resource group:
          $ref: ./examples/NatGatewayList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/natGateways/{natGatewayName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the nat gateway.
          in: path
          name: natGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - NatGateways
      description: Deletes the specified nat gateway.
      operationId: NatGateways_Delete
      x-ms-examples:
        Delete nat gateway:
          $ref: ./examples/NatGatewayDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the nat gateway.
          in: path
          name: natGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: >-
            Request successful. The operation returns the resulting NatGateway
            resource.
      tags:
        - NatGateways
      description: Gets the specified nat gateway in a specified resource group.
      operationId: NatGateways_Get
      x-ms-examples:
        Get nat gateway:
          $ref: ./examples/NatGatewayGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the nat gateway.
          in: path
          name: natGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: >-
            Update successful. The operation returns the resulting NatGateway
            resource.
      tags:
        - NatGateways
      description: Updates nat gateway tags.
      operationId: NatGateways_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update nat gateway tags.
        required: true
      x-ms-examples:
        Update nat gateway tags:
          $ref: ./examples/NatGatewayUpdateTags.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the nat gateway.
          in: path
          name: natGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: >-
            Update successful. The operation returns the resulting NatGateway
            resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: >-
            Create successful. The operation returns the resulting NatGateway
            resource.
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NatGateway'
          description: Accepted and the operation will complete asynchronously.
      tags:
        - NatGateways
      description: Creates or updates a nat gateway.
      operationId: NatGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NatGateway'
        description: Parameters supplied to the create or update nat gateway operation.
        required: true
      x-ms-examples:
        Create nat gateway:
          $ref: ./examples/NatGatewayCreateOrUpdate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  schemas:
    NatGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Nat Gateway resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/NatGatewayPropertiesFormat'
          description: Nat Gateway properties.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/NatGatewaySku'
          description: The nat gateway SKU.
        zones:
          description: >-
            A list of availability zones denoting the zone in which Nat Gateway
            should be deployed.
          items:
            type: string
          type: array
      type: object
    NatGatewayListResult:
      description: Response for ListNatGateways API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of Nat Gateways that exists in a resource group.
          items:
            $ref: '#/components/schemas/NatGateway'
          type: array
      type: object
    NatGatewayPropertiesFormat:
      description: Nat Gateway properties.
      properties:
        idleTimeoutInMinutes:
          description: The idle timeout of the nat gateway.
          format: int32
          type: integer
        provisioningState:
          description: >-
            The provisioning state of the NatGateway resource. Possible values
            are: 'Updating', 'Deleting', and 'Failed'.
          type: string
        publicIpAddresses:
          description: >-
            An array of public ip addresses associated with the nat gateway
            resource.
          items:
            $ref: ./network.json#/definitions/SubResource
          type: array
        publicIpPrefixes:
          description: >-
            An array of public ip prefixes associated with the nat gateway
            resource.
          items:
            $ref: ./network.json#/definitions/SubResource
          type: array
        resourceGuid:
          description: The resource GUID property of the nat gateway resource.
          type: string
        subnets:
          description: >-
            An array of references to the subnets using this nat gateway
            resource.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
      type: object
    NatGatewaySku:
      description: SKU of nat gateway.
      properties:
        name:
          description: Name of Nat Gateway SKU.
          enum:
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: NatGatewaySkuName
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

