openapi: 3.0.0
info:
  description: The Private DNS Management Client.
  title: PrivateDnsManagementClient
  version: '2018-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateDnsZones':
    get:
      parameters:
        - description: >-
            The maximum number of Private DNS zones to return. If not specified,
            returns up to 100 zones.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - PrivateZones
      description: Lists the Private DNS zones in all resource groups in a subscription.
      operationId: PrivateZones_List
      x-ms-examples:
        GET Private DNS Zone by Subscription:
          $ref: ./examples/PrivateZoneListInSubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - PrivateZones
      description: Lists the Private DNS zones within a resource group.
      operationId: PrivateZones_ListByResourceGroup
      x-ms-examples:
        GET Private DNS Zone by Resource Group:
          $ref: ./examples/PrivateZoneListInResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The ETag of the Private DNS zone. Omit this value to always delete
            the current zone. Specify the last-seen ETag value to prevent
            accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The Private DNS zone has been deleted.
        '202':
          description: >-
            The Private DNS zone delete operation has been accepted and will
            complete asynchronously.
        '204':
          description: The Private DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - PrivateZones
      description: >-
        Deletes a Private DNS zone. WARNING: All DNS records in the zone will
        also be deleted. This operation cannot be undone. Private DNS zone
        cannot be deleted unless all virtual network links to it are removed.
      operationId: PrivateZones_Delete
      x-ms-examples:
        DELETE Private DNS Zone:
          $ref: ./examples/PrivateZoneDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - PrivateZones
      description: >-
        Gets a Private DNS zone. Retrieves the zone properties, but not the
        virtual networks links or the record sets within the zone.
      operationId: PrivateZones_Get
      x-ms-examples:
        GET Private DNS Zone:
          $ref: ./examples/PrivateZoneGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The ETag of the Private DNS zone. Omit this value to always
            overwrite the current zone. Specify the last-seen ETag value to
            prevent accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: The Private DNS zone has been updated.
        '202':
          description: >-
            The Private DNS zone update operation has been accepted and will
            complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - PrivateZones
      description: >-
        Updates a Private DNS zone. Does not modify virtual network links or DNS
        records within the zone.
      operationId: PrivateZones_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateZone'
        description: Parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        PATCH Private DNS Zone:
          $ref: ./examples/PrivateZonePatch.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The ETag of the Private DNS zone. Omit this value to always
            overwrite the current zone. Specify the last-seen ETag value to
            prevent accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new Private DNS zone to be created, but to
            prevent updating an existing zone. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: The Private DNS zone has been updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateZone'
          description: The Private DNS zone has been created.
        '202':
          description: >-
            The Private DNS zone upsert operation has been accepted and will
            complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - PrivateZones
      description: >-
        Creates or updates a Private DNS zone. Does not modify Links to virtual
        networks or DNS records within the zone.
      operationId: PrivateZones_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateZone'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        PUT Private DNS Zone:
          $ref: ./examples/PrivateZonePut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/ALL':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The suffix label of the record set name to be used to filter the
            record set enumeration. If this parameter is specified, the returned
            enumeration will only contain records that end with
            ".<recordsetnamesuffix>".
          in: query
          name: $recordsetnamesuffix
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Lists all record sets in a Private DNS zone.
      operationId: RecordSets_List
      x-ms-examples:
        GET Private DNS Zone ALL Record Sets:
          $ref: ./examples/RecordSetALLList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of virtual network links to return. If not
            specified, returns up to 100 virtual network links.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLinkListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - VirtualNetworkLinks
      description: Lists the virtual network links to the specified Private DNS zone.
      operationId: VirtualNetworkLinks_List
      x-ms-examples:
        Get Private DNS Zone Virtual Network Links:
          $ref: ./examples/VirtualNetworkLinkList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks/{virtualNetworkLinkName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The name of the virtual network link.
          in: path
          name: virtualNetworkLinkName
          required: true
          schema:
            type: string
        - description: >-
            The ETag of the virtual network link to the Private DNS zone. Omit
            this value to always delete the current zone. Specify the last-seen
            ETag value to prevent accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The virtual network link to the Private DNS zone has been deleted.
        '202':
          description: >-
            The operation to delete virtual network link to the Private DNS zone
            has been accepted and will complete asynchronously.
        '204':
          description: The virtual network link to the Private DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - VirtualNetworkLinks
      description: >-
        Deletes a virtual network link to the specified Private DNS zone.
        WARNING: In case of a registration virtual network, all auto-registered
        DNS records in the zone for the virtual network will also be deleted.
        This operation cannot be undone.
      operationId: VirtualNetworkLinks_Delete
      x-ms-examples:
        DELETE Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The name of the virtual network link.
          in: path
          name: virtualNetworkLinkName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - VirtualNetworkLinks
      description: Gets a virtual network link to the specified Private DNS zone.
      operationId: VirtualNetworkLinks_Get
      x-ms-examples:
        GET Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The name of the virtual network link.
          in: path
          name: virtualNetworkLinkName
          required: true
          schema:
            type: string
        - description: >-
            The ETag of the virtual network link to the Private DNS zone. Omit
            this value to always overwrite the current virtual network link.
            Specify the last-seen ETag value to prevent accidentally overwriting
            any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: The virtual network link to the Private DNS zone has been updated.
        '202':
          description: >-
            The operation to link virtual network link to Private DNS zone has
            been accepted and will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - VirtualNetworkLinks
      description: Updates a virtual network link to the specified Private DNS zone.
      operationId: VirtualNetworkLinks_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink'
        description: Parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        PATCH Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkPatch.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The name of the virtual network link.
          in: path
          name: virtualNetworkLinkName
          required: true
          schema:
            type: string
        - description: >-
            The ETag of the virtual network link to the Private DNS zone. Omit
            this value to always overwrite the current virtual network link.
            Specify the last-seen ETag value to prevent accidentally overwriting
            any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new virtual network link to the Private DNS
            zone to be created, but to prevent updating an existing link. Other
            values will be ignored.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: The virtual network link to the Private DNS zone has been updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
          description: The virtual network link to the Private DNS zone has been created.
        '202':
          description: >-
            The operation to upsert virtual network link to the Private DNS zone
            has been accepted and will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - VirtualNetworkLinks
      description: >-
        Creates or updates a virtual network link to the specified Private DNS
        zone.
      operationId: VirtualNetworkLinks_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        PUT Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The type of record sets to enumerate.
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CNAME
              - MX
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The suffix label of the record set name to be used to filter the
            record set enumeration. If this parameter is specified, the returned
            enumeration will only contain records that end with
            ".<recordsetnamesuffix>".
          in: query
          name: $recordsetnamesuffix
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Lists the record sets of a specified type in a Private DNS zone.
      operationId: RecordSets_ListByType
      x-ms-examples:
        GET Private DNS Zone A Record Sets:
          $ref: ./examples/RecordSetAList.json
        GET Private DNS Zone AAAA Record Sets:
          $ref: ./examples/RecordSetAAAAList.json
        GET Private DNS Zone CNAME Record Sets:
          $ref: ./examples/RecordSetCNAMEList.json
        GET Private DNS Zone MX Record Sets:
          $ref: ./examples/RecordSetMXList.json
        GET Private DNS Zone PTR Record Sets:
          $ref: ./examples/RecordSetPTRList.json
        GET Private DNS Zone SOA Record Sets:
          $ref: ./examples/RecordSetSOAList.json
        GET Private DNS Zone SRV Record Sets:
          $ref: ./examples/RecordSetSRVList.json
        GET Private DNS Zone TXT Record Sets:
          $ref: ./examples/RecordSetTXTList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}/{relativeRecordSetName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The type of DNS record in this record set. Record sets of type SOA
            cannot be deleted (they are deleted when the Private DNS zone is
            deleted).
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CNAME
              - MX
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            The ETag of the record set. Omit this value to always delete the
            current record set. Specify the last-seen ETag value to prevent
            accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The record set has been deleted.
        '204':
          description: The record set was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: >-
        Deletes a record set from a Private DNS zone. This operation cannot be
        undone.
      operationId: RecordSets_Delete
      x-ms-examples:
        DELETE Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetADelete.json
        DELETE Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAADelete.json
        DELETE Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEDelete.json
        DELETE Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXDelete.json
        DELETE Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRDelete.json
        DELETE Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVDelete.json
        DELETE Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTDelete.json
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The type of DNS record in this record set.
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CNAME
              - MX
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Gets a record set.
      operationId: RecordSets_Get
      x-ms-examples:
        GET Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetAGet.json
        GET Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAAGet.json
        GET Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEGet.json
        GET Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXGet.json
        GET Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRGet.json
        GET Private DNS Zone SOA Record Set:
          $ref: ./examples/RecordSetSOAGet.json
        GET Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVGet.json
        GET Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: The type of DNS record in this record set.
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CNAME
              - MX
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            The ETag of the record set. Omit this value to always overwrite the
            current record set. Specify the last-seen ETag value to prevent
            accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Updates a record set within a Private DNS zone.
      operationId: RecordSets_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        PATCH Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetAPatch.json
        PATCH Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAAPatch.json
        PATCH Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEPatch.json
        PATCH Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXPatch.json
        PATCH Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRPatch.json
        PATCH Private DNS Zone SOA Record Set:
          $ref: ./examples/RecordSetSOAPatch.json
        PATCH Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVPatch.json
        PATCH Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTPatch.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Private DNS zone (without a terminating dot).
          in: path
          name: privateZoneName
          required: true
          schema:
            type: string
        - description: >-
            The type of DNS record in this record set. Record sets of type SOA
            can be updated but not created (they are created when the Private
            DNS zone is created).
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CNAME
              - MX
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            The ETag of the record set. Omit this value to always overwrite the
            current record set. Specify the last-seen ETag value to prevent
            accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new record set to be created, but to prevent
            updating an existing record set. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Creates or updates a record set within a Private DNS zone.
      operationId: RecordSets_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        PUT Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetAPut.json
        PUT Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAAPut.json
        PUT Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEPut.json
        PUT Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXPut.json
        PUT Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRPut.json
        PUT Private DNS Zone SOA Record Set:
          $ref: ./examples/RecordSetSOAPut.json
        PUT Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVPut.json
        PUT Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTPut.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ARecord:
      description: An A record.
      properties:
        ipv4Address:
          description: The IPv4 address of this A record.
          type: string
      type: object
    AaaaRecord:
      description: An AAAA record.
      properties:
        ipv6Address:
          description: The IPv6 address of this AAAA record.
          type: string
      type: object
    CloudError:
      description: An error response from the service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    CnameRecord:
      description: A CNAME record.
      properties:
        cname:
          description: The canonical name for this CNAME record.
          type: string
      type: object
    MxRecord:
      description: An MX record.
      properties:
        exchange:
          description: The domain name of the mail host for this MX record.
          type: string
        preference:
          description: The preference value for this MX record.
          format: int32
          type: integer
      type: object
    PrivateZone:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a Private DNS zone.
      properties:
        etag:
          description: The ETag of the zone.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateZoneProperties'
          description: Properties of the Private DNS zone.
          x-ms-client-flatten: true
      type: object
    PrivateZoneListResult:
      description: The response to a Private DNS zone list operation.
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: Information about the Private DNS zones.
          items:
            $ref: '#/components/schemas/PrivateZone'
          type: array
      type: object
    PrivateZoneProperties:
      description: Represents the properties of the Private DNS zone.
      properties:
        maxNumberOfRecordSets:
          description: >-
            The maximum number of record sets that can be created in this
            Private DNS zone. This is a read-only property and any attempt to
            set this value will be ignored.
          format: int64
          readOnly: true
          type: integer
        maxNumberOfVirtualNetworkLinks:
          description: >-
            The maximum number of virtual networks that can be linked to this
            Private DNS zone. This is a read-only property and any attempt to
            set this value will be ignored.
          format: int64
          readOnly: true
          type: integer
        maxNumberOfVirtualNetworkLinksWithRegistration:
          description: >-
            The maximum number of virtual networks that can be linked to this
            Private DNS zone with registration enabled. This is a read-only
            property and any attempt to set this value will be ignored.
          format: int64
          readOnly: true
          type: integer
        numberOfRecordSets:
          description: >-
            The current number of record sets in this Private DNS zone. This is
            a read-only property and any attempt to set this value will be
            ignored.
          format: int64
          readOnly: true
          type: integer
        numberOfVirtualNetworkLinks:
          description: >-
            The current number of virtual networks that are linked to this
            Private DNS zone. This is a read-only property and any attempt to
            set this value will be ignored.
          format: int64
          readOnly: true
          type: integer
        numberOfVirtualNetworkLinksWithRegistration:
          description: >-
            The current number of virtual networks that are linked to this
            Private DNS zone with registration enabled. This is a read-only
            property and any attempt to set this value will be ignored.
          format: int64
          readOnly: true
          type: integer
        provisioningState:
          description: >-
            The provisioning state of the resource. This is a read-only property
            and any attempt to set this value will be ignored.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Failed
            - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for an ARM proxy resource.
    PtrRecord:
      description: A PTR record.
      properties:
        ptrdname:
          description: The PTR target domain name for this PTR record.
          type: string
      type: object
    RecordSet:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: >-
        Describes a DNS record set (a collection of DNS records with the same
        name and type) in a Private DNS zone.
      properties:
        etag:
          description: The ETag of the record set.
          type: string
        id:
          description: The ID of the record set.
          readOnly: true
          type: string
        name:
          description: The name of the record set.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RecordSetProperties'
          description: The properties of the record set.
          x-ms-client-flatten: true
        type:
          description: The type of the record set.
          readOnly: true
          type: string
      type: object
    RecordSetListResult:
      description: The response to a record set list operation.
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: Information about the record sets in the response.
          items:
            $ref: '#/components/schemas/RecordSet'
          type: array
      type: object
    RecordSetProperties:
      description: Represents the properties of the records in the record set.
      properties:
        aRecords:
          description: The list of A records in the record set.
          items:
            $ref: '#/components/schemas/ARecord'
          type: array
        aaaaRecords:
          description: The list of AAAA records in the record set.
          items:
            $ref: '#/components/schemas/AaaaRecord'
          type: array
        cnameRecord:
          $ref: '#/components/schemas/CnameRecord'
          description: The CNAME record in the record set.
        fqdn:
          description: Fully qualified domain name of the record set.
          readOnly: true
          type: string
        isAutoRegistered:
          description: >-
            Is the record set auto-registered in the Private DNS zone through a
            virtual network link?
          readOnly: true
          type: boolean
        metadata:
          additionalProperties:
            type: string
          description: The metadata attached to the record set.
          type: object
        mxRecords:
          description: The list of MX records in the record set.
          items:
            $ref: '#/components/schemas/MxRecord'
          type: array
        ptrRecords:
          description: The list of PTR records in the record set.
          items:
            $ref: '#/components/schemas/PtrRecord'
          type: array
        soaRecord:
          $ref: '#/components/schemas/SoaRecord'
          description: The SOA record in the record set.
        srvRecords:
          description: The list of SRV records in the record set.
          items:
            $ref: '#/components/schemas/SrvRecord'
          type: array
        ttl:
          description: The TTL (time-to-live) of the records in the record set.
          format: int64
          type: integer
        txtRecords:
          description: The list of TXT records in the record set.
          items:
            $ref: '#/components/schemas/TxtRecord'
          type: array
      type: object
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: >-
            Fully qualified resource Id for the resource. Example -
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateDnsZoneName}'.
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: >-
            The type of the resource. Example -
            'Microsoft.Network/privateDnsZones'.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SoaRecord:
      description: An SOA record.
      properties:
        host:
          description: >-
            The domain name of the authoritative name server for this SOA
            record.
          type: string
        email:
          description: The email contact for this SOA record.
          type: string
        expireTime:
          description: The expire time for this SOA record.
          format: int64
          type: integer
        minimumTtl:
          description: >-
            The minimum value for this SOA record. By convention this is used to
            determine the negative caching duration.
          format: int64
          type: integer
        refreshTime:
          description: The refresh value for this SOA record.
          format: int64
          type: integer
        retryTime:
          description: The retry time for this SOA record.
          format: int64
          type: integer
        serialNumber:
          description: The serial number for this SOA record.
          format: int64
          type: integer
      type: object
    SrvRecord:
      description: An SRV record.
      properties:
        port:
          description: The port value for this SRV record.
          format: int32
          type: integer
        priority:
          description: The priority value for this SRV record.
          format: int32
          type: integer
        target:
          description: The target domain name for this SRV record.
          type: string
        weight:
          description: The weight value for this SRV record.
          format: int32
          type: integer
      type: object
    SubResource:
      description: Reference to another subresource.
      properties:
        id:
          description: Resource ID.
          type: string
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: The Azure Region where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
      type: object
    TxtRecord:
      description: A TXT record.
      properties:
        value:
          description: The text value of this TXT record.
          items:
            type: string
          type: array
      type: object
    VirtualNetworkLink:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a link to virtual network for a Private DNS zone.
      properties:
        etag:
          description: The ETag of the virtual network link.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkLinkProperties'
          description: Properties of the virtual network link to the Private DNS zone.
          x-ms-client-flatten: true
      type: object
    VirtualNetworkLinkListResult:
      description: >-
        The response to a list virtual network link to Private DNS zone
        operation.
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: >-
            Information about the virtual network links to the Private DNS
            zones.
          items:
            $ref: '#/components/schemas/VirtualNetworkLink'
          type: array
      type: object
    VirtualNetworkLinkProperties:
      description: Represents the properties of the Private DNS zone.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the resource. This is a read-only property
            and any attempt to set this value will be ignored.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Failed
            - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        registrationEnabled:
          description: >-
            Is auto-registration of virtual machine records in the virtual
            network in the Private DNS zone enabled?
          type: boolean
        virtualNetwork:
          $ref: '#/components/schemas/SubResource'
          description: The reference of the virtual network.
        virtualNetworkLinkState:
          description: >-
            The status of the virtual network link to the Private DNS zone.
            Possible values are 'InProgress' and 'Done'. This is a read-only
            property and any attempt to set this value will be ignored.
          enum:
            - InProgress
            - Completed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkLinkState
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

