openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2015-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataSelect
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataExpand
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all the alerts that are associated with the subscription
      operationId: Alerts_List
      x-ms-examples:
        Get security alerts on a subscription:
          $ref: ./examples/Alerts/GetAlertsSubscription_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataSelect
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataExpand
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: >-
        List all the alerts that are associated with the subscription that are
        stored in a specific location
      operationId: Alerts_ListSubscriptionLevelAlertsByRegion
      x-ms-examples:
        Get security alerts on a subscription from a security data location:
          $ref: ./examples/Alerts/GetAlertsSubscriptionsLocation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/AlertName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Get an alert that is associated with a subscription
      operationId: Alerts_GetSubscriptionLevelAlert
      x-ms-examples:
        Get security alert on a subscription from a security data location:
          $ref: ./examples/Alerts/GetAlertSubscriptionLocation_example.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/dismiss':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/AlertName'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update the alert's state
      operationId: Alerts_UpdateSubscriptionLevelAlertStateToDismiss
      x-ms-examples:
        Update security alert state on a subscription from a security data location:
          $ref: ./examples/Alerts/UpdateAlertSubscriptionLocation_example.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/reactivate':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/AlertName'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update the alert's state
      operationId: Alerts_UpdateSubscriptionLevelAlertStateToReactivate
      x-ms-examples:
        Update security alert state on a subscription from a security data location:
          $ref: ./examples/Alerts/UpdateAlertSubscriptionLocation_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/alerts':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataSelect
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataExpand
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all the alerts that are associated with the resource group
      operationId: Alerts_ListByResourceGroup
      x-ms-examples:
        Get security alerts on a resource group:
          $ref: ./examples/Alerts/GetAlertsResourceGroup_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataSelect
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataExpand
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: >-
        List all the alerts that are associated with the resource group that are
        stored in a specific location
      operationId: Alerts_ListResourceGroupLevelAlertsByRegion
      x-ms-examples:
        Get security alerts on a resource group from a security data location:
          $ref: ./examples/Alerts/GetAlertsResourceGroupLocation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/AlertName'
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: >-
        Get an alert that is associated a resource group or a resource in a
        resource group
      operationId: Alerts_GetResourceGroupLevelAlerts
      x-ms-examples:
        Get security alert on a resource group from a security data location:
          $ref: ./examples/Alerts/GetAlertResourceGroupLocation_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/dismiss':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/AlertName'
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update the alert's state
      operationId: Alerts_UpdateResourceGroupLevelAlertStateToDismiss
      x-ms-examples:
        Update security alert state on a resource group from a security data location:
          $ref: ./examples/Alerts/UpdateAlertResourceGroupLocation_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/reactivate':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/AlertName'
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update the alert's state
      operationId: Alerts_UpdateResourceGroupLevelAlertStateToReactivate
      x-ms-examples:
        Update security alert state on a resource group from a security data location:
          $ref: ./examples/Alerts/UpdateAlertResourceGroupLocation_example.json
components:
  parameters:
    AlertName:
      description: Name of the alert object
      in: path
      name: alertName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Alert:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Security alert
      properties:
        properties:
          $ref: '#/components/schemas/AlertProperties'
          x-ms-client-flatten: true
      type: object
    AlertConfidenceReason:
      description: Factors that increase our confidence that the alert is a true positive
      properties:
        reason:
          description: description of the confidence reason
          readOnly: true
          type: string
        type:
          description: Type of confidence factor
          readOnly: true
          type: string
      type: object
    AlertEntity:
      additionalProperties: true
      description: Changing set of properties depending on the entity type.
      properties:
        type:
          description: Type of entity
          readOnly: true
          type: string
      type: object
    AlertExtendedProperties:
      additionalProperties: true
      description: Changing set of properties depending on the alert type.
      type: object
    AlertList:
      description: List of security alerts
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Alert'
          type: array
      type: object
    AlertProperties:
      description: describes security alert properties.
      properties:
        actionTaken:
          description: >-
            The action that was taken as a response to the alert (Active,
            Blocked etc.)
          readOnly: true
          type: string
        alertDisplayName:
          description: Display name of the alert type
          readOnly: true
          type: string
        alertName:
          description: Name of the alert type
          readOnly: true
          type: string
        associatedResource:
          description: Azure resource ID of the associated resource
          readOnly: true
          type: string
        canBeInvestigated:
          description: Whether this alert can be investigated with Azure Security Center
          readOnly: true
          type: boolean
        compromisedEntity:
          description: The entity that the incident happened on
          readOnly: true
          type: string
        confidenceReasons:
          description: reasons the alert got the confidenceScore value
          items:
            $ref: '#/components/schemas/AlertConfidenceReason'
          type: array
        confidenceScore:
          description: level of confidence we have on the alert
          format: float
          maximum: 1
          minimum: 0
          readOnly: true
          type: number
        correlationKey:
          description: >-
            Alerts with the same CorrelationKey will be grouped together in
            Ibiza.
          readOnly: true
          type: string
        description:
          description: Description of the incident and what it means
          readOnly: true
          type: string
        detectedTimeUtc:
          description: The time the incident was detected by the vendor
          format: date-time
          readOnly: true
          type: string
        entities:
          description: objects that are related to this alerts
          items:
            $ref: '#/components/schemas/AlertEntity'
          type: array
        extendedProperties:
          $ref: '#/components/schemas/AlertExtendedProperties'
        instanceId:
          description: Instance ID of the alert.
          readOnly: true
          type: string
        isIncident:
          description: >-
            Whether this alert is for incident type or not (otherwise - single
            alert)
          readOnly: true
          type: boolean
        remediationSteps:
          description: Recommended steps to reradiate the incident
          readOnly: true
          type: string
        reportedSeverity:
          description: Estimated severity of this alert
          enum:
            - Silent
            - Information
            - Low
            - High
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
              - value: Silent
              - value: Information
              - value: Low
              - value: High
        reportedTimeUtc:
          description: The time the incident was reported to Microsoft.Security in UTC
          format: date-time
          readOnly: true
          type: string
        state:
          description: 'State of the alert (Active, Dismissed etc.)'
          readOnly: true
          type: string
        subscriptionId:
          description: >-
            Azure subscription ID of the resource that had the security alert or
            the subscription ID of the workspace that this resource reports to
          readOnly: true
          type: string
        systemSource:
          description: 'The type of the alerted resource (Azure, Non-Azure)'
          readOnly: true
          type: string
        vendorName:
          description: Name of the vendor that discovered the incident
          readOnly: true
          type: string
        workspaceArmId:
          description: Azure resource ID of the workspace that the alert was reported to.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

