openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: '2019-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/ResourceId
        - $ref: '#/components/parameters/AdvancedThreatProtectionSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
          description: Successful request to get Advanced Threat Protection settings.
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AdvancedThreatProtection
      description: Gets the Advanced Threat Protection settings for the specified resource.
      operationId: AdvancedThreatProtection_Get
      x-ms-examples:
        Gets the Advanced Threat Protection settings for the specified resource.:
          $ref: >-
            ./examples/AdvancedThreatProtection/GetAdvancedThreatProtectionSettings_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/ResourceId
        - $ref: '#/components/parameters/AdvancedThreatProtectionSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
          description: Successful request to put Advanced Threat Protection settings.
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AdvancedThreatProtection
      description: >-
        Creates or updates the Advanced Threat Protection settings on a
        specified resource.
      operationId: AdvancedThreatProtection_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
        description: Advanced Threat Protection Settings
        required: true
      x-ms-examples:
        Creates or updates the Advanced Threat Protection settings on a specified resource.:
          $ref: >-
            ./examples/AdvancedThreatProtection/PutAdvancedThreatProtectionSettings_example.json
components:
  parameters:
    AdvancedThreatProtectionSettingName:
      description: Advanced Threat Protection setting name.
      in: path
      name: settingName
      required: true
      schema:
        enum:
          - current
        type: string
      x-ms-enum:
        modelAsString: false
        name: AdvancedThreatProtectionSettingName
      x-ms-parameter-location: method
  schemas:
    AdvancedThreatProtectionProperties:
      description: The Advanced Threat Protection settings.
      properties:
        isEnabled:
          description: Indicates whether Advanced Threat Protection is enabled.
          type: boolean
      type: object
    AdvancedThreatProtectionSetting:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: The Advanced Threat Protection resource.
      properties:
        properties:
          $ref: '#/components/schemas/AdvancedThreatProtectionProperties'
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

