{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "title": "Microsoft Defender for Cloud",
    "version": "2015-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/jitNetworkAccessPolicies.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control.",
        "operationId": "JitNetworkAccessPolicies_List",
        "x-ms-examples": {
          "Get JIT network access policies on a subscription": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_ListByRegion",
        "x-ms-examples": {
          "Get JIT network access policies on a subscription from a security data location": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_ListByResourceGroup",
        "x-ms-examples": {
          "Get JIT network access policies on a resource group": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroup_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessPoliciesList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_ListByResourceGroupAndRegion",
        "x-ms-examples": {
          "Get JIT network access policies on a resource group from a security data location": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroupLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource was deleted"
          },
          "204": {
            "description": "No Content - Resource does not exist"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Delete a Just-in-Time access control policy.",
        "operationId": "JitNetworkAccessPolicies_Delete",
        "x-ms-examples": {
          "Delete a JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/DeleteJitNetworkAccessPolicy_example.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessPolicy"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "operationId": "JitNetworkAccessPolicies_Get",
        "x-ms-examples": {
          "Get JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPolicy_example.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessPolicy"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Create a policy for protecting resources using Just-in-Time access control",
        "operationId": "JitNetworkAccessPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JitNetworkAccessPolicy"
              }
            }
          },
          "required": true
        },
        "x-ms-examples": {
          "Create JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/CreateJitNetworkAccessPolicy_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyInitiateType}": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/JitNetworkAccessPolicyName"
          },
          {
            "$ref": "#/components/parameters/JitNetworkAccessPolicyInitiateType"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitNetworkAccessRequest"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Initiate a JIT access from a specific Just-in-Time policy configuration.",
        "operationId": "JitNetworkAccessPolicies_Initiate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JitNetworkAccessPolicyInitiateRequest"
              }
            }
          },
          "required": true
        },
        "x-ms-examples": {
          "Initiate an action on a JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/InitiateJitNetworkAccessPolicy_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "JitNetworkAccessPolicyInitiateType": {
        "description": "Type of the action to do on the Just-in-Time access policy.",
        "in": "path",
        "name": "jitNetworkAccessPolicyInitiateType",
        "required": true,
        "schema": {
          "enum": [
            "initiate"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "JitNetworkAccessPolicyName": {
        "description": "Name of a Just-in-Time access configuration policy.",
        "in": "path",
        "name": "jitNetworkAccessPolicyName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "JitNetworkAccessPoliciesList": {
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessPolicy"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JitNetworkAccessPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          },
          {
            "$ref": "../../../common/v1/types.json#/definitions/Kind"
          },
          {
            "$ref": "../../../common/v1/types.json#/definitions/Location"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/JitNetworkAccessPolicyProperties",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "JitNetworkAccessPolicyInitiatePort": {
        "properties": {
          "allowedSourceAddressPrefix": {
            "description": "Source of the allowed traffic. If omitted, the request will be for the source IP address of the initiate request.",
            "type": "string"
          },
          "endTimeUtc": {
            "description": "The time to close the request in UTC",
            "format": "date-time",
            "type": "string"
          },
          "number": {
            "$ref": "#/components/schemas/PortNumber"
          }
        },
        "required": [
          "endTimeUtc",
          "number"
        ],
        "type": "object"
      },
      "JitNetworkAccessPolicyInitiateRequest": {
        "properties": {
          "justification": {
            "description": "The justification for making the initiate request",
            "type": "string"
          },
          "virtualMachines": {
            "description": "A list of virtual machines & ports to open access for",
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessPolicyInitiateVirtualMachine"
            },
            "type": "array"
          }
        },
        "required": [
          "virtualMachines"
        ],
        "type": "object"
      },
      "JitNetworkAccessPolicyInitiateVirtualMachine": {
        "properties": {
          "id": {
            "description": "Resource ID of the virtual machine that is linked to this policy",
            "type": "string"
          },
          "ports": {
            "description": "The ports to open for the resource with the `id`",
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessPolicyInitiatePort"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "ports"
        ],
        "type": "object"
      },
      "JitNetworkAccessPolicyProperties": {
        "properties": {
          "provisioningState": {
            "description": "Gets the provisioning state of the Just-in-Time policy.",
            "readOnly": true,
            "type": "string"
          },
          "requests": {
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessRequest"
            },
            "type": "array"
          },
          "virtualMachines": {
            "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessPolicyVirtualMachine"
            },
            "type": "array"
          }
        },
        "required": [
          "virtualMachines"
        ],
        "type": "object"
      },
      "JitNetworkAccessPolicyVirtualMachine": {
        "properties": {
          "id": {
            "description": "Resource ID of the virtual machine that is linked to this policy",
            "type": "string"
          },
          "ports": {
            "description": "Port configurations for the virtual machine",
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessPortRule"
            },
            "type": "array"
          },
          "publicIpAddress": {
            "description": "Public IP address of the Azure Firewall that is linked to this policy, if applicable",
            "type": "string"
          }
        },
        "required": [
          "id",
          "ports"
        ],
        "type": "object"
      },
      "JitNetworkAccessPortRule": {
        "properties": {
          "allowedSourceAddressPrefix": {
            "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
            "type": "string"
          },
          "allowedSourceAddressPrefixes": {
            "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
            "items": {
              "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
              "type": "string"
            },
            "type": "array"
          },
          "maxRequestAccessDuration": {
            "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day",
            "type": "string"
          },
          "number": {
            "$ref": "#/components/schemas/PortNumber"
          },
          "protocol": {
            "enum": [
              "TCP",
              "UDP",
              "*"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "protocol",
              "values": [
                {
                  "value": "TCP"
                },
                {
                  "value": "UDP"
                },
                {
                  "name": "All",
                  "value": "*"
                }
              ]
            }
          }
        },
        "required": [
          "maxRequestAccessDuration",
          "number",
          "protocol"
        ],
        "type": "object"
      },
      "JitNetworkAccessRequest": {
        "properties": {
          "justification": {
            "description": "The justification for making the initiate request",
            "type": "string"
          },
          "requestor": {
            "description": "The identity of the person who made the request",
            "type": "string"
          },
          "startTimeUtc": {
            "description": "The start time of the request in UTC",
            "format": "date-time",
            "type": "string"
          },
          "virtualMachines": {
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessRequestVirtualMachine"
            },
            "type": "array"
          }
        },
        "required": [
          "requestor",
          "startTimeUtc",
          "virtualMachines"
        ],
        "type": "object"
      },
      "JitNetworkAccessRequestPort": {
        "properties": {
          "allowedSourceAddressPrefix": {
            "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
            "type": "string"
          },
          "allowedSourceAddressPrefixes": {
            "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
            "items": {
              "description": "IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\".",
              "type": "string"
            },
            "type": "array"
          },
          "endTimeUtc": {
            "description": "The date & time at which the request ends in UTC",
            "format": "date-time",
            "type": "string"
          },
          "mappedPort": {
            "description": "The port which is mapped to this port's `number` in the Azure Firewall, if applicable",
            "type": "integer"
          },
          "number": {
            "$ref": "#/components/schemas/PortNumber"
          },
          "status": {
            "description": "The status of the port",
            "enum": [
              "Revoked",
              "Initiated"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "status",
              "values": [
                {
                  "value": "Revoked"
                },
                {
                  "value": "Initiated"
                }
              ]
            }
          },
          "statusReason": {
            "description": "A description of why the `status` has its value",
            "enum": [
              "Expired",
              "UserRequested",
              "NewerRequestInitiated"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "statusReason",
              "values": [
                {
                  "value": "Expired"
                },
                {
                  "value": "UserRequested"
                },
                {
                  "value": "NewerRequestInitiated"
                }
              ]
            }
          }
        },
        "required": [
          "endTimeUtc",
          "number",
          "status",
          "statusReason"
        ],
        "type": "object"
      },
      "JitNetworkAccessRequestVirtualMachine": {
        "properties": {
          "id": {
            "description": "Resource ID of the virtual machine that is linked to this policy",
            "type": "string"
          },
          "ports": {
            "description": "The ports that were opened for the virtual machine",
            "items": {
              "$ref": "#/components/schemas/JitNetworkAccessRequestPort"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "ports"
        ],
        "type": "object"
      },
      "PortNumber": {
        "maximum": 65535,
        "minimum": 0,
        "type": "integer"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}