openapi: 3.0.0
info:
  description: >-
    Use these REST APIs to get the analytics reports associated with your Azure
    API Management deployment.
  title: ApiManagementClient
  version: '2018-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byApi':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by API.
      operationId: Reports_ListByApi
      x-ms-examples:
        ApiManagementGetReportsByApi:
          $ref: ./examples/ApiManagementGetReportsByApi.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byGeo':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by geography.
      operationId: Reports_ListByGeo
      x-ms-examples:
        ApiManagementGetReportsByGeo:
          $ref: ./examples/ApiManagementGetReportsByGeo.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byOperation':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by API Operations.
      operationId: Reports_ListByOperation
      x-ms-examples:
        ApiManagementGetReportsByOperation:
          $ref: ./examples/ApiManagementGetReportsByOperation.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byProduct':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by Product.
      operationId: Reports_ListByProduct
      x-ms-examples:
        ApiManagementGetReportsByProduct:
          $ref: ./examples/ApiManagementGetReportsByProduct.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byRequest':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by Request.
      operationId: Reports_ListByRequest
      x-ms-examples:
        ApiManagementGetReportsByRequest:
          $ref: ./examples/ApiManagementGetReportsByRequest.json
      x-ms-odata: '#/components/schemas/RequestReportRecordContract'
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/bySubscription':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by subscription.
      operationId: Reports_ListBySubscription
      x-ms-examples:
        ApiManagementGetReportsBySubscription:
          $ref: ./examples/ApiManagementGetReportsBySubscription.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byTime':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - description: >-
            By time interval. Interval must be multiple of 15 minutes and may
            not be zero. The value should be in ISO  8601 format
            (http://en.wikipedia.org/wiki/ISO_8601#Durations).This code can be
            used to convert TimeSpan to a valid interval string:
            XmlConvert.ToString(new TimeSpan(hours, minutes, seconds))
          in: query
          name: interval
          required: true
          schema:
            format: duration
            type: string
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by Time.
      operationId: Reports_ListByTime
      x-ms-examples:
        ApiManagementGetReportsByTime:
          $ref: ./examples/ApiManagementGetReportsByTime.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byUser':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
        - Reports
      description: Lists report records by User.
      operationId: Reports_ListByUser
      x-ms-examples:
        ApiManagementGetReportsByUser:
          $ref: ./examples/ApiManagementGetReportsByUser.json
      x-ms-odata: '#/components/schemas/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    ReportCollection:
      description: Paged Report records list representation.
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ReportRecordContract'
          type: array
      type: object
    ReportRecordContract:
      description: Report data.
      properties:
        apiId:
          description: 'API identifier path. /apis/{apiId}'
          type: string
        apiRegion:
          description: API region identifier.
          type: string
        apiTimeAvg:
          description: Average time it took to process request.
          format: double
          type: number
        apiTimeMax:
          description: Maximum time it took to process request.
          format: double
          type: number
        apiTimeMin:
          description: Minimum time it took to process request.
          format: double
          type: number
        bandwidth:
          description: Bandwidth consumed.
          format: int64
          type: integer
        cacheHitCount:
          description: Number of times when content was served from cache policy.
          format: int32
          type: integer
        cacheMissCount:
          description: Number of times content was fetched from backend.
          format: int32
          type: integer
        callCountBlocked:
          description: >-
            Number of calls blocked due to invalid credentials. This includes
            calls returning HttpStatusCode.Unauthorized and
            HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
          format: int32
          type: integer
        callCountFailed:
          description: >-
            Number of calls failed due to proxy or backend errors. This includes
            calls returning HttpStatusCode.BadRequest(400) and any Code between
            HttpStatusCode.InternalServerError (500) and 600
          format: int32
          type: integer
        callCountOther:
          description: Number of other calls.
          format: int32
          type: integer
        callCountSuccess:
          description: >-
            Number of successful calls. This includes calls returning
            HttpStatusCode <= 301 and HttpStatusCode.NotModified and
            HttpStatusCode.TemporaryRedirect
          format: int32
          type: integer
        callCountTotal:
          description: Total number of calls.
          format: int32
          type: integer
        country:
          description: Country to which this record data is related.
          type: string
        interval:
          description: >-
            Length of aggregation period.  Interval must be multiple of 15
            minutes and may not be zero. The value should be in ISO 8601 format
            (http://en.wikipedia.org/wiki/ISO_8601#Durations).
          type: string
        name:
          description: >-
            Name depending on report endpoint specifies product, API, operation
            or developer name.
          type: string
        operationId:
          description: 'Operation identifier path. /apis/{apiId}/operations/{operationId}'
          type: string
        productId:
          description: 'Product identifier path. /products/{productId}'
          readOnly: true
          type: string
        region:
          description: Country region to which this record data is related.
          type: string
        serviceTimeAvg:
          description: Average time it took to process request on backend.
          format: double
          type: number
        serviceTimeMax:
          description: Maximum time it took to process request on backend.
          format: double
          type: number
        serviceTimeMin:
          description: Minimum time it took to process request on backend.
          format: double
          type: number
        subscriptionId:
          description: 'Subscription identifier path. /subscriptions/{subscriptionId}'
          type: string
        timestamp:
          description: >
            Start of aggregation period. The date conforms to the following
            format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
            standard.
          format: date-time
          type: string
        userId:
          description: 'User identifier path. /users/{userId}'
          readOnly: true
          type: string
        zip:
          description: Zip code to which this record data is related.
          type: string
      type: object
    RequestReportCollection:
      description: Paged Report records list representation.
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/RequestReportRecordContract'
          type: array
      type: object
    RequestReportRecordContract:
      description: Request Report data.
      properties:
        apiId:
          description: 'API identifier path. /apis/{apiId}'
          type: string
        apiRegion:
          description: >-
            Azure region where the gateway that processed this request is
            located.
          type: string
        apiTime:
          description: The total time it took to process this request.
          format: double
          type: number
        backendResponseCode:
          description: >-
            The HTTP status code received by the gateway as a result of
            forwarding this request to the backend.
          type: string
        cache:
          description: >-
            Specifies if response cache was involved in generating the response.
            If the value is none, the cache was not used. If the value is hit,
            cached response was returned. If the value is miss, the cache was
            used but lookup resulted in a miss and request was fulfilled by the
            backend.
          type: string
        ipAddress:
          description: The client IP address associated with this request.
          type: string
        method:
          description: The HTTP method associated with this request..
          type: string
        operationId:
          description: 'Operation identifier path. /apis/{apiId}/operations/{operationId}'
          type: string
        productId:
          description: 'Product identifier path. /products/{productId}'
          readOnly: true
          type: string
        requestId:
          description: Request Identifier.
          type: string
        requestSize:
          description: The size of this request..
          format: int32
          type: integer
        responseCode:
          description: The HTTP status code returned by the gateway.
          format: int32
          type: integer
        responseSize:
          description: The size of the response returned by the gateway.
          format: int32
          type: integer
        serviceTime:
          description: >-
            he time it took to forward this request to the backend and get the
            response back.
          format: double
          type: number
        subscriptionId:
          description: 'Subscription identifier path. /subscriptions/{subscriptionId}'
          type: string
        timestamp:
          description: >-
            The date and time when this request was received by the gateway in
            ISO 8601 format.
          format: date-time
          type: string
        url:
          description: The full URL associated with this request.
          type: string
        userId:
          description: 'User identifier path. /users/{userId}'
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

