openapi: 3.0.0
info:
  description: Description of the new service
  title: VMwareCloudSimple
  version: '2019-04-01'
  x-ms-code-generation-settings:
    name: VMwareCloudSimpleClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.VMwareCloudSimple/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableOperationsListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - Operations
      description: Return list of operations
      operationId: Operations_List
      summary: Implements list of available operations
      x-ms-examples:
        ListOperations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          schema:
            type: string
        - description: The maximum number of record sets to return
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNodeListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudNodes
      description: Returns list of dedicate cloud nodes within subscription
      operationId: DedicatedCloudNodes_ListBySubscription
      summary: Implements list of dedicated cloud nodes within subscription method
      x-ms-examples:
        ListDedicatedCloudNodes:
          $ref: ./examples/ListDedicatedCloudNodes.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          schema:
            type: string
        - description: The maximum number of record sets to return
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudServiceListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudServices
      description: Returns list of dedicated cloud services within a subscription
      operationId: DedicatedCloudServices_ListBySubscription
      summary: >-
        Implements list of dedicatedCloudService objects within subscription
        method
      x-ms-examples:
        ListDedicatedCloudServices:
          $ref: ./examples/ListDedicatedCloudServices.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/availabilities':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - description: >-
            sku id, if no sku is passed availability for all skus will be
            returned
          in: query
          name: skuId
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuAvailabilityListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - AvailabilityUsages
      description: Returns list of available resources in region
      operationId: SkusAvailability_List
      summary: Implements SkuAvailability List method
      x-ms-examples:
        ListAvailabilities:
          $ref: ./examples/ListAvailabilities.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/operationResults/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/referer'
        - description: operation id
          in: path
          name: operationId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResource'
          description: Successful operation
        '202':
          description: Operation is still running
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      tags:
        - Operations
      description: Return an async operation
      operationId: Operations_Get
      summary: Implements get of async operation
      x-ms-examples:
        GetFailedOperationResult:
          $ref: ./examples/GetFailedOperationResult.json
        GetOperationResult:
          $ref: ./examples/GetOperationResult.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloudList'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - PrivateClouds
      description: Returns list of private clouds in particular region
      operationId: PrivateClouds_List
      summary: Implements private cloud list GET method
      x-ms-examples:
        ListPrivateCloudInLocation:
          $ref: ./examples/ListPrivateCloudInLocation.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/pcName'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - PrivateClouds
      description: Returns private cloud by its name
      operationId: PrivateClouds_Get
      summary: Implements private cloud GET method
      x-ms-examples:
        GetPrivateCloud:
          $ref: ./examples/GetPrivateCloud.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - $ref: '#/components/parameters/api-version'
        - description: >-
            The filter to apply on the list operation. only type is allowed here
            as a filter e.g. $filter=type eq 'xxxx'
          in: query
          name: $filter
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizationPoliciesListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - customizationPolicies
      description: Returns list of customization policies in region for private cloud
      operationId: customizationPolicies_List
      summary: Implements get of customization policies list
      x-ms-examples:
        ListCustomizationPolicies:
          $ref: ./examples/ListCustomizationPolicies.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies/{customizationPolicyName}':
    get:
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - description: customization policy name
          in: path
          name: customizationPolicyName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizationPolicy'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - customizationPolicies
      description: Returns customization policy by its name
      operationId: customizationPolicies_Get
      summary: Implements get of customization policy
      x-ms-examples:
        GetCustomizationPolicy:
          $ref: ./examples/GetCustomizationPolicy.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolsListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - ResourcePools
      description: Returns list of resource pools in region for private cloud
      operationId: ResourcePools_List
      summary: Implements get of resource pools list
      x-ms-examples:
        ListResourcePools:
          $ref: ./examples/ListResourcePools.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools/{resourcePoolName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - description: resource pool id (vsphereId)
          in: path
          name: resourcePoolName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - ResourcePools
      description: Returns resource pool templates by its name
      operationId: ResourcePools_Get
      summary: Implements get of resource pool
      x-ms-examples:
        GetResourcePool:
          $ref: ./examples/GetResourcePool.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualMachineTemplates':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/pcName'
        - $ref: '#/components/parameters/regionId'
        - description: >-
            Resource pool used to derive vSphere cluster which contains VM
            templates
          in: query
          name: resourcePoolName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineTemplateListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachineTemplates
      description: Returns list of virtual machine templates in region for private cloud
      operationId: VirtualMachineTemplates_List
      summary: Implements list of available VM templates
      x-ms-examples:
        ListVirtualMachineTemplates:
          $ref: ./examples/ListVirtualMachineTemplates.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualMachineTemplates/{virtualMachineTemplateName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - description: virtual machine template id (vsphereId)
          in: path
          name: virtualMachineTemplateName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineTemplate'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachineTemplates
      description: Returns virtual machine templates by its name
      operationId: VirtualMachineTemplates_Get
      summary: Implements virtual machine template GET method
      x-ms-examples:
        GetVirtualMachineTemplate:
          $ref: ./examples/GetVirtualMachineTemplate.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - $ref: '#/components/parameters/api-version'
        - description: >-
            Resource pool used to derive vSphere cluster which contains virtual
            networks
          in: query
          name: resourcePoolName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualNetworks
      description: Return list of virtual networks in location for private cloud
      operationId: VirtualNetworks_List
      summary: Implements list available virtual networks within a subscription method
      x-ms-examples:
        ListVirtualNetworks:
          $ref: ./examples/ListVirtualNetworks.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks/{virtualNetworkName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - $ref: '#/components/parameters/pcName'
        - description: virtual network id (vsphereId)
          in: path
          name: virtualNetworkName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualNetworks
      description: Return virtual network by its name
      operationId: VirtualNetworks_Get
      summary: Implements virtual network GET method
      x-ms-examples:
        GetVirtualNetwork:
          $ref: ./examples/GetVirtualNetwork.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/usages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/regionId'
        - description: >-
            The filter to apply on the list operation. only name.value is
            allowed here as a filter e.g. $filter=name.value eq 'xxxx'
          in: query
          name: $filter
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - AvailabilityUsages
      description: Returns list of usage in region
      operationId: Usages_List
      summary: Implements Usages List method
      x-ms-examples:
        ListUsages:
          $ref: ./examples/ListUsages.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/virtualMachines':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          schema:
            type: string
        - description: The maximum number of record sets to return
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachines
      description: Returns list virtual machine within subscription
      operationId: VirtualMachines_ListBySubscription
      summary: Implements list virtual machine within subscription method
      x-ms-examples:
        ListVirtualMachines:
          $ref: ./examples/ListVirtualMachines.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/api-version'
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          schema:
            type: string
        - description: The maximum number of record sets to return
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNodeListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudNodes
      description: Returns list of dedicate cloud nodes within resource group
      operationId: DedicatedCloudNodes_ListByResourceGroup
      summary: Implements list of dedicated cloud nodes within RG method
      x-ms-examples:
        ListRGDedicatedCloudNodes:
          $ref: ./examples/ListRGDedicatedCloudNodes.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/{dedicatedCloudNodeName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: no content. resource does not exist and the request is well formed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      tags:
        - DedicatedCloudNodes
      description: Delete dedicated cloud node
      operationId: DedicatedCloudNodes_Delete
      summary: Implements dedicated cloud node DELETE method
      x-ms-examples:
        DeleteDedicatedCloudNode:
          $ref: ./examples/DeleteDedicatedCloudNode.json
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNode'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudNodes
      description: Returns dedicated cloud node
      operationId: DedicatedCloudNodes_Get
      summary: Implements dedicated cloud node GET method
      x-ms-examples:
        GetDedicatedCloudNode:
          $ref: ./examples/GetDedicatedCloudNode.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNode'
          description: >-
            If resource is created or updated successfully, 200 should be
            returned
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudNodes
      description: Patches dedicated node properties
      operationId: DedicatedCloudNodes_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Patch Dedicated Cloud Node request
        required: true
      summary: Implements dedicated cloud node PATCH method
      x-ms-examples:
        PatchDedicatedCloudNode:
          $ref: ./examples/PatchDedicatedCloudNode.json
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/referer'
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudNode'
          description: >-
            If resource is created or updated successfully, 200 should be
            returned
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudNodes
      description: Returns dedicated cloud node by its name
      operationId: DedicatedCloudNodes_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCloudNode'
        description: Create Dedicated Cloud Node request
        required: true
      summary: Implements dedicated cloud node PUT method
      x-ms-examples:
        CreateDedicatedCloudNode:
          $ref: ./examples/CreateDedicatedCloudNode.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/api-version'
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          schema:
            type: string
        - description: The maximum number of record sets to return
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudServiceListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudServices
      description: Returns list of dedicated cloud services within a resource group
      operationId: DedicatedCloudServices_ListByResourceGroup
      summary: Implements list of dedicatedCloudService objects within RG method
      x-ms-examples:
        ListRGDedicatedCloudServices:
          $ref: ./examples/ListRGDedicatedCloudServices.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/{dedicatedCloudServiceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: no content. resource does not exist and the request is well formed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      tags:
        - DedicatedCloudServices
      description: Delete dedicate cloud service
      operationId: DedicatedCloudServices_Delete
      summary: Implements dedicatedCloudService DELETE method
      x-ms-examples:
        DeleteDedicatedCloudService:
          $ref: ./examples/DeleteDedicatedCloudService.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud Service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudServices
      description: Returns Dedicate Cloud Service
      operationId: DedicatedCloudServices_Get
      summary: Implements dedicatedCloudService GET method
      x-ms-examples:
        GetDedicatedCloudService:
          $ref: ./examples/GetDedicatedCloudService.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
          description: >-
            If resource is created or updated successfully, 200 should be
            returned
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudServices
      description: Patch dedicated cloud service's properties
      operationId: DedicatedCloudServices_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Patch Dedicated Cloud Service request
        required: true
      summary: Implements dedicatedCloudService PATCH method
      x-ms-examples:
        PatchDedicatedService:
          $ref: ./examples/PatchDedicatedService.json
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: dedicated cloud Service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
          description: >-
            If resource is created or updated successfully, 200 should be
            returned
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - DedicatedCloudServices
      description: Create dedicate cloud service
      operationId: DedicatedCloudServices_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCloudService'
        description: Create Dedicated Cloud Service request
        required: true
      summary: Implements dedicated cloud service PUT method
      x-ms-examples:
        CreateDedicatedCloudService:
          $ref: ./examples/CreateDedicatedCloudService.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/api-version'
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          schema:
            type: string
        - description: The maximum number of record sets to return
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResponse'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachines
      description: Returns list of virtual machine within resource group
      operationId: VirtualMachines_ListByResourceGroup
      summary: Implements list virtual machine within RG method
      x-ms-examples:
        ListRGVirtualMachines:
          $ref: ./examples/ListRGVirtualMachines.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines/{virtualMachineName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/referer'
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: accepted. the operation will complete asynchronously
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
        '204':
          description: no content. resource does not exist and the request is well formed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      tags:
        - VirtualMachines
      description: Delete virtual machine
      operationId: VirtualMachines_Delete
      summary: Implements virtual machine DELETE method
      x-ms-examples:
        DeleteVirtualMachine:
          $ref: ./examples/DeleteVirtualMachine.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachines
      description: Get virtual machine
      operationId: VirtualMachines_Get
      summary: Implements virtual machine GET method
      x-ms-examples:
        GetVirtualMachine:
          $ref: ./examples/GetVirtualMachine.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: >-
            If resource is created or updated successfully, 200 should be
            returned
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachines
      description: Patch virtual machine properties
      operationId: VirtualMachines_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Patch virtual machine request
        required: true
      summary: Implements virtual machine PATCH method
      x-ms-examples:
        PatchVirtualMachine:
          $ref: ./examples/PatchVirtualMachine.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/referer'
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: >-
            If resource is created or updated successfully, 200 should be
            returned
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
          description: >-
            If resource is created or updated successfully, 201 should be
            returned. provisionedState would of VirtualMachineProperties object
            would reflect the state of the resource
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
      tags:
        - VirtualMachines
      description: Create Or Update Virtual Machine
      operationId: VirtualMachines_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachine'
        description: Create or Update Virtual Machine request
        required: true
      summary: Implements virtual machine PUT method
      x-ms-examples:
        CreateVirtualMachine:
          $ref: ./examples/CreateVirtualMachine.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines/{virtualMachineName}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/referer'
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted. the operation will complete asynchronously
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      tags:
        - VirtualMachines
      description: Power on virtual machine
      operationId: VirtualMachines_Start
      summary: Implements a start method for a virtual machine
      x-ms-examples:
        StartVirtualMachine:
          $ref: ./examples/StartVirtualMachine.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines/{virtualMachineName}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/referer'
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          schema:
            type: string
        - description: 'query stop mode parameter (reboot, shutdown, etc...)'
          in: query
          name: mode
          schema:
            enum:
              - reboot
              - suspend
              - shutdown
              - poweroff
            type: string
          x-ms-enum:
            modelAsString: false
            name: StopMode
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted. the operation will complete asynchronously
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
          description: General Error
          headers:
            Content-Type:
              schema:
                default: application/json
                type: string
      tags:
        - VirtualMachines
      description: 'Power off virtual machine, options: shutdown, poweroff, and suspend'
      operationId: VirtualMachines_Stop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualMachineStopMode'
        description: 'body stop mode parameter (reboot, shutdown, etc...)'
      summary: 'Implements shutdown, poweroff, and suspend method for a virtual machine'
      x-ms-examples:
        StopInBodyVirtualMachine:
          $ref: ./examples/StopInBodyVirtualMachine.json
        StopInQueryVirtualMachine:
          $ref: ./examples/StopInQueryVirtualMachine.json
      x-ms-long-running-operation: true
components:
  parameters:
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    pcName:
      description: The private cloud name
      in: path
      name: pcName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    referer:
      description: referer url
      in: header
      name: Referer
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    regionId:
      description: 'The region Id (westus, eastus)'
      in: path
      name: regionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupName:
      description: The name of the resource group
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AvailableOperation:
      description: Resource provider available operation model
      properties:
        display:
          $ref: '#/components/schemas/AvailableOperationDisplay'
          description: The list of operations
        isDataAction:
          default: false
          description: Indicating whether the operation is a data action or not
          type: boolean
        name:
          description: >-
            {resourceProviderNamespace}/{resourceType}/{read|write|delete|action}
          type: string
        origin:
          description: The origin of operation
          enum:
            - user
            - system
            - 'user,system'
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperationOrigin
        properties:
          $ref: >-
            #/components/schemas/AvailableOperationDisplayPropertyServiceSpecification
          description: The list of operation properties
          x-ms-client-flatten: true
      type: object
    AvailableOperationDisplay:
      description: Resource provider available operation display model
      properties:
        description:
          description: Description of the operation for display purposes
          type: string
        operation:
          description: Name of the operation for display purposes
          type: string
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: Name of the resource type for display purposes
          type: string
      type: object
    AvailableOperationDisplayPropertyServiceSpecification:
      description: Available operation display property service specification model
      properties:
        serviceSpecification:
          $ref: >-
            #/components/schemas/AvailableOperationDisplayPropertyServiceSpecificationMetricsList
          description: The list of specification's service metrics
      type: object
    AvailableOperationDisplayPropertyServiceSpecificationMetricsItem:
      description: Available operation display property service specification metrics item
      properties:
        aggregationType:
          description: 'Metric''s aggregation type for e.g. (Average, Total)'
          enum:
            - Average
            - Total
          type: string
          x-ms-enum:
            modelAsString: false
            name: AggregationType
        displayDescription:
          description: Metric's description
          example: >-
            Average disk throughput due to read operations over the sample
            period.
          type: string
        displayName:
          description: Human readable metric's name
          example: Disk Read Bytes/Sec
          type: string
        name:
          description: Metric's name/id
          example: DiskReadBytesPerSecond
          type: string
        unit:
          description: Metric's unit
          example: BytePerSecond
          type: string
      required:
        - name
        - displayName
        - displayDescription
        - unit
        - aggregationType
      type: object
    AvailableOperationDisplayPropertyServiceSpecificationMetricsList:
      description: >-
        List of available operation display property service specification
        metrics
      properties:
        metricSpecifications:
          description: Metric specifications of operation
          items:
            $ref: >-
              #/components/schemas/AvailableOperationDisplayPropertyServiceSpecificationMetricsItem
            description: The list of specification's metrics
          type: array
          x-ms-identifiers:
            - name
            - unit
      type: object
    AvailableOperationsListResponse:
      description: List of available operations
      properties:
        nextLink:
          description: Link for next list of available operations
          type: string
        value:
          description: Returns a list of available operations
          items:
            $ref: '#/components/schemas/AvailableOperation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    CSRPError:
      description: General error model
      properties:
        error:
          $ref: '#/components/schemas/CSRPErrorBody'
          description: Error's body
      type: object
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          readOnly: true
          type: string
        details:
          description: Error's details
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          readOnly: true
          type: array
          x-ms-identifiers: []
        message:
          description: Error's message
          readOnly: true
          type: string
        target:
          description: Error's target
          type: string
      type: object
    CustomizationHostName:
      description: Host name model
      properties:
        name:
          description: Hostname
          type: string
        type:
          description: Type of host name
          enum:
            - USER_DEFINED
            - PREFIX_BASED
            - FIXED
            - VIRTUAL_MACHINE_NAME
            - CUSTOM_NAME
          type: string
      type: object
    CustomizationIPAddress:
      properties:
        argument:
          description: Argument when Custom ip type is selected
          type: string
        ipAddress:
          description: Defined Ip Address when Fixed ip type is selected
          type: string
        type:
          description: Customization Specification ip type
          enum:
            - CUSTOM
            - DHCP_IP
            - FIXED_IP
            - USER_DEFINED
          type: string
      type: object
    CustomizationIPSettings:
      properties:
        gateway:
          description: The list of gateways
          items:
            type: string
          type: array
        ip:
          $ref: '#/components/schemas/CustomizationIPAddress'
          description: Ip address customization settings
        subnetMask:
          description: Adapter subnet mask
          type: string
      type: object
    CustomizationIdentity:
      properties:
        data:
          description: Windows Text Identity. Prepared data
          type: string
        hostName:
          $ref: '#/components/schemas/CustomizationHostName'
          description: Virtual machine host name settings
        type:
          description: Identity type
          enum:
            - WINDOWS_TEXT
            - WINDOWS
            - LINUX
          type: string
        userData:
          description: Windows Identity. User data customization
          properties:
            isPasswordPredefined:
              default: false
              description: Is password predefined in customization policy
              type: boolean
          type: object
      type: object
    CustomizationNicSetting:
      properties:
        adapter:
          $ref: '#/components/schemas/CustomizationIPSettings'
          description: The list of adapters' settings
        macAddress:
          description: NIC mac address
          type: string
      type: object
    CustomizationPoliciesListResponse:
      description: List of customization polices response model
      properties:
        nextLink:
          description: Link for next list of the Customization policy
          type: string
        value:
          description: List of the customization policies
          items:
            $ref: '#/components/schemas/CustomizationPolicy'
          type: array
      type: object
    CustomizationPolicy:
      description: The virtual machine customization policy
      properties:
        id:
          description: Customization policy azure id
          type: string
        location:
          description: Azure region
          type: string
        name:
          description: Customization policy name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/CustomizationPolicyProperties'
          description: Customization Policy properties
          x-ms-client-flatten: true
        type:
          readOnly: true
          type: string
      type: object
    CustomizationPolicyProperties:
      description: The properties of Customization policy
      properties:
        description:
          description: Policy description
          type: string
        privateCloudId:
          description: The Private cloud id
          type: string
        specification:
          $ref: '#/components/schemas/CustomizationSpecification'
          description: Detailed customization policy specification
        type:
          description: The type of customization (Linux or Windows)
          enum:
            - LINUX
            - WINDOWS
          type: string
        version:
          description: Policy version
          type: string
      type: object
    CustomizationSpecification:
      description: The specification for Customization Policy
      properties:
        identity:
          $ref: '#/components/schemas/CustomizationIdentity'
          description: Customization Identity. It contains data about user and hostname
        nicSettings:
          description: Network interface settings
          items:
            $ref: '#/components/schemas/CustomizationNicSetting'
          type: array
          x-ms-identifiers:
            - macAddress
      type: object
    DedicatedCloudNode:
      description: Dedicated cloud node model
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
          description: Dedicated Cloud Nodes tags
        id:
          description: >-
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/dedicatedCloudNodes/{dedicatedCloudNodeName}
          readOnly: true
          type: string
        location:
          description: Azure region
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: '{dedicatedCloudNodeName}'
          pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DedicatedCloudNodeProperties'
          description: Dedicated Cloud Nodes properties
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
          description: Dedicated Cloud Nodes SKU
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    DedicatedCloudNodeListResponse:
      description: List of dedicated nodes response model
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: Results of the DedicatedCloudNode list
          items:
            $ref: '#/components/schemas/DedicatedCloudNode'
          type: array
      type: object
    DedicatedCloudNodeProperties:
      description: Properties of dedicated cloud node
      properties:
        availabilityZoneId:
          description: 'Availability Zone id, e.g. "az1"'
          type: string
        availabilityZoneName:
          description: 'Availability Zone name, e.g. "Availability Zone 1"'
          readOnly: true
          type: string
        cloudRackName:
          description: VMWare Cloud Rack Name
          readOnly: true
          type: string
        created:
          description: date time the resource was created
          format: date-time
          readOnly: true
          type: string
        nodesCount:
          description: count of nodes to create
          type: integer
        placementGroupId:
          description: 'Placement Group id, e.g. "n1"'
          type: string
        placementGroupName:
          description: 'Placement Name, e.g. "Placement Group 1"'
          readOnly: true
          type: string
        privateCloudId:
          description: Private Cloud Id
          readOnly: true
          type: string
        privateCloudName:
          description: Resource Pool Name
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning status of the resource
          readOnly: true
          type: string
        purchaseId:
          description: purchase id
          format: uuid
          type: string
        skuDescription:
          $ref: '#/components/schemas/SkuDescription'
          description: Dedicated Cloud Nodes SKU's description
          x-ms-client-flatten: true
        status:
          description: 'Node status, indicates is private cloud set up on this node or not'
          enum:
            - unused
            - used
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: NodeStatus
        vmwareClusterName:
          description: VMWare Cluster Name
          readOnly: true
          type: string
      required:
        - placementGroupId
        - availabilityZoneId
        - purchaseId
        - nodesCount
      type: object
    DedicatedCloudService:
      description: Dedicated cloud service model
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
          description: The list of tags
        id:
          description: >-
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/dedicatedCloudServices/{dedicatedCloudServiceName}
          readOnly: true
          type: string
        location:
          description: Azure region
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: '{dedicatedCloudServiceName}'
          pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DedicatedCloudServiceProperties'
          description: The properties of Dedicated Node Service
          x-ms-client-flatten: true
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    DedicatedCloudServiceListResponse:
      description: List of dedicated cloud services
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: Results of the DedicatedCloudService list
          items:
            $ref: '#/components/schemas/DedicatedCloudService'
          type: array
      type: object
    DedicatedCloudServiceProperties:
      description: Properties of dedicated cloud service
      properties:
        gatewaySubnet:
          description: >-
            gateway Subnet for the account. It will collect the subnet address
            and always treat it as /28
          type: string
        isAccountOnboarded:
          description: indicates whether account onboarded or not in a given region
          enum:
            - notOnBoarded
            - onBoarded
            - onBoardingFailed
            - onBoarding
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: OnboardingStatus
        nodes:
          description: total nodes purchased
          readOnly: true
          type: integer
        serviceURL:
          description: link to a service management web portal
          readOnly: true
          type: string
      required:
        - gatewaySubnet
      type: object
    GuestOSCustomization:
      description: Guest OS Customization properties
      properties:
        dnsServers:
          description: List of dns servers to use
          items:
            $ref: '#/components/schemas/IPV4Address'
          type: array
        hostName:
          description: Virtual Machine hostname
          type: string
        password:
          description: Password for login
          type: string
        policyId:
          description: id of customization policy
          type: string
        username:
          description: Username for login
          type: string
      type: object
    GuestOSNICCustomization:
      description: Guest OS nic customization
      properties:
        allocation:
          description: IP address allocation method
          enum:
            - static
            - dynamic
          type: string
        dnsServers:
          description: List of dns servers to use
          items:
            $ref: '#/components/schemas/IPV4Address'
          type: array
        gateway:
          description: Gateway addresses assigned to nic
          items:
            $ref: '#/components/schemas/IPV4Address'
          type: array
        ipAddress:
          $ref: '#/components/schemas/IPV4Address'
          description: Static ip address for nic
        mask:
          $ref: '#/components/schemas/IPV4Address'
          description: Network mask for nic
        primaryWinsServer:
          $ref: '#/components/schemas/IPV4Address'
          description: primary WINS server for Windows
        secondaryWinsServer:
          $ref: '#/components/schemas/IPV4Address'
          description: secondary WINS server for Windows
      type: object
    IPV4Address:
      pattern: >-
        ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])[.]){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
      type: string
    OperationError:
      description: Operation error model
      properties:
        code:
          description: Error's code
          type: string
        message:
          description: Error's message
          type: string
      type: object
    OperationResource:
      description: Operation status response
      properties:
        endTime:
          description: End time of the operation
          format: date-time
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/OperationError'
          description: Error Message if operation failed
        id:
          description: Operation Id
          readOnly: true
          type: string
        name:
          description: Operation ID
          readOnly: true
          type: string
        startTime:
          description: Start time of the operation
          format: date-time
          readOnly: true
          type: string
        status:
          description: Operation status
          readOnly: true
          type: string
      type: object
    PatchPayload:
      description: General patch payload modal
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
          description: 'The tags key:value pairs'
      type: object
    PrivateCloud:
      description: Private cloud model
      properties:
        id:
          description: >-
            Azure Id, e.g.
            "/subscriptions/4da99247-a172-4ed6-8ae9-ebed2d12f839/providers/Microsoft.VMwareCloudSimple/privateClouds/cloud123"
          type: string
        location:
          description: 'Location where private cloud created, e.g "westus"'
          type: string
        name:
          description: Private cloud name
          type: string
        properties:
          $ref: '#/components/schemas/PrivateCloudProperties'
          description: Private cloud properties
          x-ms-client-flatten: true
        type:
          description: Azure Resource type
          enum:
            - Microsoft.VMwareCloudSimple/privateClouds
          type: string
          x-ms-enum:
            modelAsString: false
            name: PrivateCloudResourceType
      type: object
    PrivateCloudList:
      description: List of private clouds
      properties:
        nextLink:
          description: Link for next list of Private Clouds
          type: string
        value:
          description: the list of private clouds
          items:
            $ref: '#/components/schemas/PrivateCloud'
          type: array
      type: object
    PrivateCloudProperties:
      description: Properties of private
      properties:
        availabilityZoneId:
          description: 'Availability Zone id, e.g. "az1"'
          type: string
        availabilityZoneName:
          description: 'Availability Zone name, e.g. "Availability Zone 1"'
          type: string
        clustersNumber:
          description: Number of clusters
          type: integer
        createdBy:
          description: User's emails who created cloud
          type: string
        createdOn:
          description: When private cloud was created
          format: date-time
          type: string
        dnsServers:
          description: Array of DNS servers
          items:
            type: string
          type: array
        expires:
          description: Expiration date of PC
          type: string
        nsxType:
          description: 'Nsx Type, e.g. "Advanced"'
          type: string
        placementGroupId:
          description: 'Placement Group id, e.g. "n1"'
          type: string
        placementGroupName:
          description: Placement Group name
          type: string
        privateCloudId:
          description: Id of a private cloud
          format: uuid
          type: string
        resourcePools:
          description: The list of Resource Pools
          items:
            $ref: '#/components/schemas/ResourcePool'
          type: array
        state:
          description: 'Private Cloud state, e.g. "operational"'
          type: string
        totalCpuCores:
          description: Number of cores
          type: integer
        totalNodes:
          description: Number of nodes
          type: integer
        totalRam:
          description: Memory size
          type: integer
        totalStorage:
          description: Disk space in TB
          type: number
        type:
          description: Virtualization type e.g. "vSphere"
          type: string
        vSphereVersion:
          description: e.g. "6.5u2"
          type: string
        vcenterFqdn:
          description: FQDN for vcenter access
          type: string
        vcenterRefid:
          description: Vcenter ip address
          type: string
        virtualMachineTemplates:
          description: The list of Virtual Machine Templates
          items:
            $ref: '#/components/schemas/VirtualMachineTemplate'
          type: array
        virtualNetworks:
          description: The list of Virtual Networks
          items:
            $ref: '#/components/schemas/VirtualNetwork'
          type: array
        vrOpsEnabled:
          description: Is vRealize Operations Manager enabled/disabled
          type: boolean
      type: object
    ResourcePool:
      description: Resource pool model
      properties:
        id:
          description: 'resource pool id (privateCloudId:vsphereId)'
          type: string
        location:
          description: Azure region
          readOnly: true
          type: string
        name:
          description: '{ResourcePoolName}'
          readOnly: true
          type: string
        privateCloudId:
          description: The Private Cloud Id
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ResourcePoolProperties'
          description: Resource pool properties
          x-ms-client-flatten: true
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          readOnly: true
          type: string
      required:
        - id
      type: object
    ResourcePoolProperties:
      description: Properties of resource pool
      properties:
        fullName:
          description: Hierarchical resource pool name
          readOnly: true
          type: string
      type: object
    ResourcePoolsListResponse:
      description: List of resource pools response model
      properties:
        nextLink:
          description: Link for next list of ResourcePoolsList
          type: string
        value:
          description: Results of the Resource pools list
          items:
            $ref: '#/components/schemas/ResourcePool'
          type: array
      type: object
    Sku:
      description: The purchase SKU for CloudSimple paid resources
      properties:
        capacity:
          description: The capacity of the SKU
          type: string
        description:
          description: >-
            dedicatedCloudNode example: 8 x Ten-Core Intel® Xeon® Processor
            E5-2640 v4 2.40GHz 25MB Cache (90W); 12 x 64GB PC4-19200 2400MHz
            DDR4 ECC Registered DIMM, ...
          type: string
        family:
          description: >-
            If the service has different generations of hardware, for the same
            SKU, then that can be captured here
          type: string
        name:
          description: The name of the SKU for VMWare CloudSimple Node
          type: string
        tier:
          description: The tier of the SKU
          type: string
      required:
        - name
      type: object
    SkuAvailability:
      description: SKU availability model
      properties:
        dedicatedAvailabilityZoneId:
          description: CloudSimple Availability Zone id
          type: string
        dedicatedAvailabilityZoneName:
          description: CloudSimple Availability Zone Name
          type: string
        dedicatedPlacementGroupId:
          description: CloudSimple Placement Group Id
          type: string
        dedicatedPlacementGroupName:
          description: CloudSimple Placement Group name
          type: string
        limit:
          description: indicates how many resources of a given SKU is available in a AZ->PG
          type: integer
        resourceType:
          description: resource type e.g. DedicatedCloudNodes
          type: string
        skuId:
          description: sku id
          type: string
        skuName:
          description: sku name
          type: string
      required:
        - limit
      type: object
    SkuAvailabilityListResponse:
      description: List of SKU availabilities
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: Results of the DedicatedPlacementGroupSkuAvailability list
          items:
            $ref: '#/components/schemas/SkuAvailability'
          type: array
          x-ms-identifiers:
            - dedicatedAvailabilityZoneId
            - dedicatedPlacementGroupId
            - skuId
      type: object
    SkuDescription:
      description: The purchase SKU for CloudSimple paid resources
      properties:
        id:
          description: SKU's id
          type: string
        name:
          description: SKU's name
          type: string
      required:
        - name
        - id
      type: object
    Tags:
      additionalProperties:
        type: string
      description: Tags model
    Usage:
      description: Usage model
      properties:
        currentValue:
          default: 0
          description: The current usage value
          type: integer
        limit:
          default: 0
          description: >-
            limit of a given sku in a region for a subscription. The maximum
            permitted value for the usage quota. If there is no limit, this
            value will be -1
          type: integer
        name:
          $ref: '#/components/schemas/UsageName'
          description: Usage name value and localized name
        unit:
          description: The usages' unit
          enum:
            - Count
            - Bytes
            - Seconds
            - Percent
            - CountPerSecond
            - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: false
            name: UsageCount
      required:
        - currentValue
        - limit
      type: object
    UsageListResponse:
      description: List of usages
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: The list of usages
          items:
            $ref: '#/components/schemas/Usage'
          readOnly: true
          type: array
          x-ms-identifiers:
            - /name/value
      type: object
    UsageName:
      description: User name model
      properties:
        localizedValue:
          description: e.g. "Virtual Machines"
          type: string
        value:
          description: 'resource type or resource type sku name, e.g. virtualMachines'
          type: string
      type: object
    VirtualDisk:
      description: Virtual disk model
      properties:
        controllerId:
          description: Disk's Controller id
          type: string
        independenceMode:
          description: Disk's independence mode type
          enum:
            - persistent
            - independent_persistent
            - independent_nonpersistent
          type: string
          x-ms-enum:
            modelAsString: false
            name: DiskIndependenceMode
        totalSize:
          description: Disk's total size
          type: integer
        virtualDiskId:
          description: Disk's id
          type: string
        virtualDiskName:
          description: Disk's display name
          readOnly: true
          type: string
      required:
        - totalSize
        - independenceMode
        - controllerId
      type: object
    VirtualDiskController:
      description: Virtual disk controller model
      properties:
        id:
          description: Controller's id
          readOnly: true
          type: string
        name:
          description: The display name of Controller
          readOnly: true
          type: string
        subType:
          description: >-
            dik controller subtype (VMWARE_PARAVIRTUAL, BUS_PARALLEL,
            LSI_PARALLEL, LSI_SAS)
          readOnly: true
          type: string
        type:
          description: disk controller type (SCSI)
          readOnly: true
          type: string
      type: object
    VirtualMachine:
      description: Virtual machine model
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
          description: The list of tags
        id:
          description: >-
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/virtualMachines/{virtualMachineName}
          readOnly: true
          type: string
        location:
          description: Azure region
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: '{virtualMachineName}'
          pattern: '^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$'
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualMachineProperties'
          description: Virtual machine properties
          x-ms-client-flatten: true
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    VirtualMachineListResponse:
      description: List of virtual machines
      properties:
        nextLink:
          description: Link for next list of VirtualMachines
          type: string
        value:
          description: Results of the VirtualMachine list
          items:
            $ref: '#/components/schemas/VirtualMachine'
          type: array
      type: object
    VirtualMachineProperties:
      description: Properties of virtual machine
      properties:
        amountOfRam:
          description: The amount of memory
          type: integer
        controllers:
          description: The list of Virtual Disks' Controllers
          items:
            $ref: '#/components/schemas/VirtualDiskController'
          readOnly: true
          type: array
        customization:
          $ref: '#/components/schemas/GuestOSCustomization'
          description: Virtual machine properties
        disks:
          description: The list of Virtual Disks
          items:
            $ref: '#/components/schemas/VirtualDisk'
          type: array
          x-ms-identifiers:
            - virtualDiskId
        dnsname:
          description: The DNS name of Virtual Machine in VCenter
          readOnly: true
          type: string
        exposeToGuestVM:
          description: Expose Guest OS or not
          type: boolean
        folder:
          description: The path to virtual machine folder in VCenter
          readOnly: true
          type: string
        guestOS:
          description: The name of Guest OS
          readOnly: true
          type: string
        guestOSType:
          description: The Guest OS type
          enum:
            - linux
            - windows
            - other
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: GuestOSType
        nics:
          description: The list of Virtual NICs
          items:
            $ref: '#/components/schemas/VirtualNic'
          type: array
          x-ms-identifiers:
            - virtualNicId
        numberOfCores:
          description: The number of CPU cores
          type: integer
        password:
          description: Password for login. Deprecated - use customization property
          type: string
        privateCloudId:
          description: Private Cloud Id
          type: string
        provisioningState:
          description: The provisioning status of the resource
          readOnly: true
          type: string
        publicIP:
          description: The public ip of Virtual Machine
          readOnly: true
          type: string
        resourcePool:
          $ref: '#/components/schemas/ResourcePool'
          description: Virtual Machines Resource Pool
        status:
          description: The status of Virtual machine
          enum:
            - running
            - suspended
            - poweredoff
            - updating
            - deallocating
            - deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: VirtualMachineStatus
        templateId:
          description: Virtual Machine Template Id
          type: string
        username:
          description: Username for login. Deprecated - use customization property
          type: string
        vSphereNetworks:
          description: The list of Virtual VSphere Networks
          items:
            type: string
          type: array
        vmId:
          description: The internal id of Virtual Machine in VCenter
          readOnly: true
          type: string
        vmwaretools:
          description: VMware tools version
          readOnly: true
          type: string
      required:
        - numberOfCores
        - amountOfRam
        - privateCloudId
      type: object
    VirtualMachineStopMode:
      description: List of virtual machine stop modes
      properties:
        mode:
          description: >-
            mode indicates a type of stop operation - reboot, suspend, shutdown
            or power-off
          enum:
            - reboot
            - suspend
            - shutdown
            - poweroff
          type: string
          x-ms-enum:
            modelAsString: false
            name: StopMode
      type: object
    VirtualMachineTemplate:
      description: Virtual machine template model
      properties:
        id:
          description: 'virtual machine template id (privateCloudId:vsphereId)'
          readOnly: true
          type: string
        location:
          description: Azure region
          type: string
        name:
          description: '{virtualMachineTemplateName}'
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualMachineTemplateProperties'
          description: The Virtual Machine Template properties
          x-ms-client-flatten: true
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          readOnly: true
          type: string
      type: object
    VirtualMachineTemplateListResponse:
      description: List of virtual machine templates
      properties:
        nextLink:
          description: Link for next list of VirtualMachineTemplate
          type: string
        value:
          description: Results of the VM template list
          items:
            $ref: '#/components/schemas/VirtualMachineTemplate'
          type: array
      type: object
    VirtualMachineTemplateProperties:
      description: Properties of virtual machine template
      properties:
        amountOfRam:
          description: The amount of memory
          type: integer
        controllers:
          description: The list of Virtual Disk Controllers
          items:
            $ref: '#/components/schemas/VirtualDiskController'
          type: array
        description:
          description: The description of Virtual Machine Template
          type: string
        disks:
          description: The list of Virtual Disks
          items:
            $ref: '#/components/schemas/VirtualDisk'
          type: array
          x-ms-identifiers:
            - virtualDiskId
        exposeToGuestVM:
          description: Expose Guest OS or not
          type: boolean
        guestOS:
          description: The Guest OS
          readOnly: true
          type: string
        guestOSType:
          description: The Guest OS types
          readOnly: true
          type: string
        nics:
          description: The list of Virtual NICs
          items:
            $ref: '#/components/schemas/VirtualNic'
          type: array
          x-ms-identifiers:
            - virtualNicId
        numberOfCores:
          description: The number of CPU cores
          type: integer
        path:
          description: path to folder
          example: Datacenter/Workload VMs
          type: string
        privateCloudId:
          description: The Private Cloud Id
          type: string
        vSphereNetworks:
          description: The list of VSphere networks
          items:
            type: string
          type: array
        vSphereTags:
          description: The tags from VSphere
          items:
            type: string
          type: array
        vmwaretools:
          description: The VMware tools version
          readOnly: true
          type: string
      required:
        - privateCloudId
      type: object
    VirtualNetwork:
      description: Virtual network model
      properties:
        assignable:
          description: can be used in vm creation/deletion
          readOnly: true
          type: boolean
        id:
          description: 'virtual network id (privateCloudId:vsphereId)'
          type: string
        location:
          description: Azure region
          readOnly: true
          type: string
        name:
          description: '{VirtualNetworkName}'
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkProperties'
          description: Virtual Network properties
          x-ms-client-flatten: true
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          readOnly: true
          type: string
      required:
        - id
      type: object
    VirtualNetworkListResponse:
      description: List of virtual networks
      properties:
        nextLink:
          description: Link for next list of VirtualNetwork
          type: string
        value:
          description: Results of the VirtualNetwork list
          items:
            $ref: '#/components/schemas/VirtualNetwork'
          type: array
      type: object
    VirtualNetworkProperties:
      description: Properties of virtual network
      properties:
        privateCloudId:
          description: The Private Cloud id
          readOnly: true
          type: string
      type: object
    VirtualNic:
      description: Virtual NIC model
      properties:
        customization:
          $ref: '#/components/schemas/GuestOSNICCustomization'
          description: guest OS customization for nic
        ipAddresses:
          description: NIC ip address
          items:
            type: string
          type: array
        macAddress:
          description: NIC MAC address
          type: string
        network:
          $ref: '#/components/schemas/VirtualNetwork'
          description: Virtual Network
        nicType:
          description: NIC type
          enum:
            - E1000
            - E1000E
            - PCNET32
            - VMXNET
            - VMXNET2
            - VMXNET3
          type: string
          x-ms-enum:
            modelAsString: false
            name: NICType
        powerOnBoot:
          description: Is NIC powered on/off on boot
          type: boolean
        virtualNicId:
          description: NIC id
          type: string
        virtualNicName:
          description: NIC name
          readOnly: true
          type: string
      required:
        - nicType
        - network
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation
tags:
  - description: Subscription life cycle
    name: Subscription
  - description: Virtual machine resource operations
    name: VirtualMachines
  - description: Virtual networks functions
    name: VirtualNetwork
  - description: VM templates functions
    name: VirtualMachineTemplates
  - description: available operations function
    name: Operations
  - description: Resource pools operations
    name: ResourcePools
  - description: dedicated cloud nodes operations
    name: DedicatedCloudNodes
  - description: Azure Service object operations
    name: AzureService
  - description: operations related to availability and usage
    name: AvailabilityUsages
  - description: Customization policies operations
    name: CustomizationPolicies

