openapi: 3.0.0
info:
  description: REST API for MarketplaceOrdering Agreements.
  title: MarketplaceOrdering.Agreements
  version: '2015-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.MarketplaceOrdering/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      tags:
        - Operations
      description: >-
        Lists all of the available Microsoft.MarketplaceOrdering REST API
        operations.
      operationId: Operations_List
      x-ms-examples:
        List Operations:
          $ref: ./examples/OperationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTermsList'
          description: Terms returned successfully
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      description: List marketplace agreements in the subscription.
      operationId: MarketplaceAgreements_List
      x-ms-examples:
        SetMarketplaceTerms:
          $ref: ./examples/ListMarketplaceTerms.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PublishersParameter'
        - $ref: '#/components/parameters/OffersParameter'
        - $ref: '#/components/parameters/PlansParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OldAgreementTerms'
          description: Terms returned successfully
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      description: Get marketplace agreement.
      operationId: MarketplaceAgreements_GetAgreement
      x-ms-examples:
        SetMarketplaceTerms:
          $ref: ./examples/GetAgreementMarketplaceTerms.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PublishersParameter'
        - $ref: '#/components/parameters/OffersParameter'
        - $ref: '#/components/parameters/PlansParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OldAgreementTerms'
          description: >-
            OK. The request was successfully processed and the terms were
            rejected.
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      description: Cancel marketplace terms.
      operationId: MarketplaceAgreements_Cancel
      x-ms-examples:
        SetMarketplaceTerms:
          $ref: ./examples/CancelMarketplaceTerms.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/sign':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PublishersParameter'
        - $ref: '#/components/parameters/OffersParameter'
        - $ref: '#/components/parameters/PlansParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OldAgreementTerms'
          description: >-
            OK. The request was successfully processed and the terms were
            accepted.
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      description: Sign marketplace terms.
      operationId: MarketplaceAgreements_Sign
      x-ms-examples:
        SetMarketplaceTerms:
          $ref: ./examples/SignMarketplaceTerms.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/offerTypes/{offerType}/publishers/{publisherId}/offers/{offerId}/plans/{planId}/agreements/current':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/OfferTypeParameter'
        - $ref: '#/components/parameters/PublishersParameter'
        - $ref: '#/components/parameters/OffersParameter'
        - $ref: '#/components/parameters/PlansParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: Terms returned successfully
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      description: Get marketplace terms.
      operationId: MarketplaceAgreements_Get
      x-ms-examples:
        GetMarketplaceTerms:
          $ref: ./examples/GetMarketplaceTerms.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/OfferTypeParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PublishersParameter'
        - $ref: '#/components/parameters/OffersParameter'
        - $ref: '#/components/parameters/PlansParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementTerms'
          description: >-
            OK. The request was successfully processed and the terms were
            accepted or acceptance revoked as per the request body.
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeErrorResponse'
          description: Unsupported Media Type
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.MarketplaceOrdering error response describing why the
            operation failed.
      description: Save marketplace terms.
      operationId: MarketplaceAgreements_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementTerms'
        description: Parameters supplied to the Create Marketplace Terms operation.
        required: true
      x-ms-examples:
        SetMarketplaceTerms:
          $ref: ./examples/SetMarketplaceTerms.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    OfferTypeParameter:
      description: 'Offer Type, currently only virtualmachine type is supported.'
      in: path
      name: offerType
      required: true
      schema:
        enum:
          - virtualmachine
        type: string
      x-ms-enum:
        modelAsString: true
        name: OfferType
      x-ms-parameter-location: method
    OffersParameter:
      description: Offer identifier string of image being deployed.
      in: path
      name: offerId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PlansParameter:
      description: Plan identifier string of image being deployed.
      in: path
      name: planId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PublishersParameter:
      description: Publisher identifier string of image being deployed.
      in: path
      name: publisherId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AgreementProperties:
      description: Agreement Terms definition
      properties:
        accepted:
          description: 'If any version of the terms have been accepted, otherwise false.'
          type: boolean
        licenseTextLink:
          description: Link to HTML with Microsoft and Publisher terms.
          type: string
        plan:
          description: Plan identifier string of image being deployed.
          type: string
        privacyPolicyLink:
          description: Link to the privacy policy of the publisher.
          type: string
        product:
          description: Offer identifier string of image being deployed.
          type: string
        publisher:
          description: Publisher identifier string of image being deployed.
          type: string
        retrieveDatetime:
          description: >-
            Date and time in UTC of when the terms were accepted. This is empty
            if Accepted is false.
          format: date-time
          type: string
        signature:
          description: Terms signature.
          type: string
      type: object
    AgreementTerms:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Terms properties for provided Publisher/Offer/Plan tuple
      properties:
        properties:
          $ref: '#/components/schemas/AgreementProperties'
          description: Represents the properties of the resource.
          x-ms-client-flatten: true
      type: object
    AgreementTermsList:
      description: Represents the list of AgreementTerms objects
      properties:
        value:
          description: The value of the array.
          items:
            $ref: '#/components/schemas/OldAgreementTerms'
          type: array
      type: object
    ErrorResponse:
      description: >-
        Error response indicates Microsoft.MarketplaceOrdering service is not
        able to process the incoming request. The reason is provided in the
        error message.
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Error code.
              readOnly: true
              type: string
            details:
              description: >-
                List of inner error messages indicating why the operation
                failed.
              items:
                properties:
                  code:
                    description: Error code.
                    readOnly: true
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    readOnly: true
                    type: string
                type: object
              type: array
              uniqueItems: false
              x-ms-identifiers: []
            message:
              description: Error message indicating why the operation failed.
              readOnly: true
              type: string
          type: object
      type: object
    OldAgreementProperties:
      description: Old Agreement Terms definition
      properties:
        cancelDate:
          description: >-
            Date and time in UTC of when the terms were cancelled. This is empty
            if state is active.
          format: date-time
          type: string
        id:
          description: A unique identifier of the agreement.
          type: string
        offer:
          description: Offer identifier string of image being deployed.
          type: string
        publisher:
          description: Publisher identifier string of image being deployed.
          type: string
        signDate:
          description: >-
            Date and time in UTC of when the terms were accepted. This is empty
            if state is cancelled.
          format: date-time
          type: string
        state:
          description: Whether the agreement is active or cancelled
          enum:
            - Active
            - Canceled
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
      type: object
    OldAgreementTerms:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Terms properties for provided Publisher/Offer/Plan tuple
      properties:
        properties:
          $ref: '#/components/schemas/OldAgreementProperties'
          description: Represents the properties of the resource.
          x-ms-client-flatten: true
      type: object
    Operation:
      description: Microsoft.MarketplaceOrdering REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            description:
              description: The description of the operation
              type: string
            operation:
              description: >-
                Operation type: Get Agreement, Sign Agreement, Cancel Agreement
                etc.
              type: string
            provider:
              description: 'Service provider: Microsoft.MarketplaceOrdering'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: Agreement,
                virtualmachine, etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list MarketplaceOrdering operations. It
        contains a list of operations and a URL link to get the next set of
        results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of Microsoft.MarketplaceOrdering operations supported by the
            Microsoft.MarketplaceOrdering resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          uniqueItems: false
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UnsupportedMediaTypeErrorResponse:
      description: >-
        Error response that indicates the media type in the request is
        unsupported.
      properties:
        Message:
          description: The details of the error.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

