{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights client for API keys of a component.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2015-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentApiKeys_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/APIKeys/{keyId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/KeyId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentAPIKey"
                }
              }
            },
            "description": "The API Key that was successfully deleted."
          }
        },
        "description": "Delete an API Key of an Application Insights component.",
        "operationId": "APIKeys_Delete",
        "x-ms-examples": {
          "APIKeyDelete": {
            "$ref": "./examples/APIKeysDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/KeyId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentAPIKey"
                }
              }
            },
            "description": "The API Key for this key id."
          }
        },
        "description": "Get the API Key for this key id.",
        "operationId": "APIKeys_Get",
        "x-ms-examples": {
          "APIKeysGet": {
            "$ref": "./examples/APIKeysGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ApiKeys": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentAPIKeyListResult"
                }
              }
            },
            "description": "A list containing 0 or more API key definitions of an Application Insights component."
          }
        },
        "description": "Gets a list of API keys of an Application Insights component.",
        "operationId": "APIKeys_List",
        "x-ms-examples": {
          "APIKeysList": {
            "$ref": "./examples/APIKeysList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentAPIKey"
                }
              }
            },
            "description": "An object containing the API Key definition created by this POST call."
          }
        },
        "description": "Create an API Key of an Application Insights component.",
        "operationId": "APIKeys_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyRequest"
              }
            }
          },
          "description": "Properties that need to be specified to create an API key of a Application Insights component.",
          "required": true
        },
        "x-ms-examples": {
          "APIKeyCreate": {
            "$ref": "./examples/APIKeysCreate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "KeyId": {
        "description": "The API Key ID. This is unique within a Application Insights component.",
        "in": "path",
        "name": "keyId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "APIKeyRequest": {
        "description": "An Application Insights component API Key creation request definition.",
        "properties": {
          "linkedReadProperties": {
            "description": "The read access rights of this API Key.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "linkedWriteProperties": {
            "description": "The write access rights of this API Key.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "The name of the API Key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentAPIKey": {
        "description": "Properties that define an API key of an Application Insights Component.",
        "properties": {
          "apiKey": {
            "description": "The API key value. It will be only return once when the API Key was created.",
            "readOnly": true,
            "type": "string"
          },
          "createdDate": {
            "description": "The create date of this API key.",
            "type": "string"
          },
          "id": {
            "description": "The unique ID of the API key inside an Application Insights component. It is auto generated when the API key is created.",
            "readOnly": true,
            "type": "string"
          },
          "linkedReadProperties": {
            "description": "The read access rights of this API Key.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "linkedWriteProperties": {
            "description": "The write access rights of this API Key.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "The name of the API key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentAPIKeyListResult": {
        "description": "Describes the list of API Keys of an Application Insights Component.",
        "properties": {
          "value": {
            "description": "List of API Key definitions.",
            "items": {
              "$ref": "#/components/schemas/ApplicationInsightsComponentAPIKey"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}