{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights client for selecting pricing plans and options.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2015-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentFeaturesAndPricing_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/currentbillingfeatures": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentBillingFeatures"
                }
              }
            },
            "description": "An Application Insights component billing features definition."
          }
        },
        "description": "Returns current billing features for an Application Insights component.",
        "operationId": "ComponentCurrentBillingFeatures_Get",
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesGet": {
            "$ref": "./examples/CurrentBillingFeaturesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentBillingFeatures"
                }
              }
            },
            "description": "Successful request when updating billing features for an Application Insights component. The updated current billing features are returned."
          }
        },
        "description": "Update current billing features for an Application Insights component.",
        "operationId": "ComponentCurrentBillingFeatures_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInsightsComponentBillingFeatures"
              }
            }
          },
          "description": "Properties that need to be specified to update billing features for an Application Insights component.",
          "required": true
        },
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesUpdate": {
            "$ref": "./examples/CurrentBillingFeaturesUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/featurecapabilities": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentFeatureCapabilities"
                }
              }
            },
            "description": "An Application Insights component feature capabilities definition."
          }
        },
        "description": "Returns feature capabilities of the application insights component.",
        "operationId": "ComponentFeatureCapabilities_Get",
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesGet": {
            "$ref": "./examples/FeatureCapabilitiesGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/getavailablebillingfeatures": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentAvailableFeatures"
                }
              }
            },
            "description": "An Application Insights component available features definition."
          }
        },
        "description": "Returns all available features of the application insights component.",
        "operationId": "ComponentAvailableFeatures_Get",
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesGet": {
            "$ref": "./examples/AvailableBillingFeaturesGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/quotastatus": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentQuotaStatus"
                }
              }
            },
            "description": "An Application Insights component daily data volume cap status definition."
          }
        },
        "description": "Returns daily data volume cap (quota) status for an Application Insights component.",
        "operationId": "ComponentQuotaStatus_Get",
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesGet": {
            "$ref": "./examples/QuotaStatusGet.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ApplicationInsightsComponentAvailableFeatures": {
        "description": "An Application Insights component available features.",
        "properties": {
          "Result": {
            "description": "A list of Application Insights component feature.",
            "items": {
              "$ref": "#/components/schemas/ApplicationInsightsComponentFeature",
              "type": "object"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "FeatureName"
            ]
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentBillingFeatures": {
        "description": "An Application Insights component billing features",
        "properties": {
          "CurrentBillingFeatures": {
            "description": "Current enabled pricing plan. When the component is in the Enterprise plan, this will list both 'Basic' and 'Application Insights Enterprise'.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "DataVolumeCap": {
            "$ref": "#/components/schemas/ApplicationInsightsComponentDataVolumeCap",
            "description": "An Application Insights component daily data volume cap"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentDataVolumeCap": {
        "description": "An Application Insights component daily data volume cap",
        "properties": {
          "Cap": {
            "description": "Daily data volume cap in GB.",
            "type": "number"
          },
          "MaxHistoryCap": {
            "description": "Maximum daily data volume cap that the user can set for this component.",
            "readOnly": true,
            "type": "number"
          },
          "ResetTime": {
            "description": "Daily data volume cap UTC reset hour.",
            "readOnly": true,
            "type": "integer"
          },
          "StopSendNotificationWhenHitCap": {
            "description": "Do not send a notification email when the daily data volume cap is met.",
            "type": "boolean"
          },
          "StopSendNotificationWhenHitThreshold": {
            "description": "Reserved, not used for now.",
            "type": "boolean"
          },
          "WarningThreshold": {
            "description": "Reserved, not used for now.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentFeature": {
        "description": "An Application Insights component daily data volume cap status",
        "properties": {
          "Capabilities": {
            "description": "A list of Application Insights component feature capability.",
            "items": {
              "$ref": "#/components/schemas/ApplicationInsightsComponentFeatureCapability",
              "type": "object"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "Name"
            ]
          },
          "FeatureName": {
            "description": "The pricing feature name.",
            "readOnly": true,
            "type": "string"
          },
          "IsHidden": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "IsMainFeature": {
            "description": "Whether can apply addon feature on to it.",
            "readOnly": true,
            "type": "boolean"
          },
          "MeterId": {
            "description": "The meter id used for the feature.",
            "readOnly": true,
            "type": "string"
          },
          "MeterRateFrequency": {
            "description": "The meter rate for the feature's meter.",
            "readOnly": true,
            "type": "string"
          },
          "ResouceId": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "string"
          },
          "SupportedAddonFeatures": {
            "description": "The add on features on main feature.",
            "readOnly": true,
            "type": "string"
          },
          "Title": {
            "description": "Display name of the feature.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentFeatureCapabilities": {
        "description": "An Application Insights component feature capabilities",
        "properties": {
          "AnalyticsIntegration": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "ApiAccessLevel": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "string"
          },
          "ApplicationMap": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "BurstThrottlePolicy": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "string"
          },
          "DailyCap": {
            "description": "Daily data volume cap in GB.",
            "readOnly": true,
            "type": "number"
          },
          "DailyCapResetTime": {
            "description": "Daily data volume cap UTC reset hour.",
            "readOnly": true,
            "type": "number"
          },
          "LiveStreamMetrics": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "MetadataClass": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "string"
          },
          "MultipleStepWebTest": {
            "description": "Whether allow to use multiple steps web test feature.",
            "readOnly": true,
            "type": "boolean"
          },
          "OpenSchema": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "PowerBIIntegration": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "ProactiveDetection": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "boolean"
          },
          "SupportExportData": {
            "description": "Whether allow to use continuous export feature.",
            "readOnly": true,
            "type": "boolean"
          },
          "ThrottleRate": {
            "description": "Reserved, not used now.",
            "readOnly": true,
            "type": "number"
          },
          "TrackingType": {
            "description": "The application insights component used tracking type.",
            "readOnly": true,
            "type": "string"
          },
          "WorkItemIntegration": {
            "description": "Whether allow to use work item integration feature.",
            "readOnly": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentFeatureCapability": {
        "description": "An Application Insights component feature capability",
        "properties": {
          "Description": {
            "description": "The description of the capability.",
            "readOnly": true,
            "type": "string"
          },
          "MeterId": {
            "description": "The meter used for the capability.",
            "readOnly": true,
            "type": "string"
          },
          "MeterRateFrequency": {
            "description": "The meter rate of the meter.",
            "readOnly": true,
            "type": "string"
          },
          "Name": {
            "description": "The name of the capability.",
            "readOnly": true,
            "type": "string"
          },
          "Unit": {
            "description": "The unit of the capability.",
            "readOnly": true,
            "type": "string"
          },
          "Value": {
            "description": "The value of the capability.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentQuotaStatus": {
        "description": "An Application Insights component daily data volume cap status",
        "properties": {
          "AppId": {
            "description": "The Application ID for the Application Insights component.",
            "readOnly": true,
            "type": "string"
          },
          "ExpirationTime": {
            "description": "Date and time when the daily data volume cap will be reset, and data ingestion will resume.",
            "readOnly": true,
            "type": "string"
          },
          "ShouldBeThrottled": {
            "description": "The daily data volume cap is met, and data ingestion will be stopped.",
            "readOnly": true,
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}