openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-07-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices':
    get:
      parameters:
        - description: The location to check available endpoint services.
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointServicesListResult'
          description: Request successful. Returns list of available endpoint services.
      description: List what values of endpoint services are available for use.
      operationId: AvailableEndpointServices_List
      x-ms-examples:
        EndpointServicesList:
          $ref: ./examples/EndpointServicesList.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    EndpointServiceResult:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Endpoint service.
      properties:
        name:
          description: Name of the endpoint service.
          readOnly: true
          type: string
        type:
          description: Type of the endpoint service.
          readOnly: true
          type: string
      type: object
    EndpointServicesListResult:
      description: Response for the ListAvailableEndpointServices API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: List of available endpoint services in a region.
          items:
            $ref: '#/components/schemas/EndpointServiceResult'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

