openapi: 3.0.0
info:
  title: SubscriptionClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Resources/checkResourceName:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResourceNameResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckResourceNameResult'
          description: OK - Returns status as allowed or not.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response saying resource name is invalid
      tags:
        - Tenants
      description: >-
        A resource name is valid if it is not a reserved word, does not contains
        a reserved word and does not start with a reserved word
      operationId: checkResourceName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceName'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceName'
        description: Resource object with values for resource name and resource type
      summary: Checks resource name validity
      x-ms-examples:
        Check validity for a resource name.:
          $ref: ./examples/CheckResourceName.json
  /subscriptions:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
          description: OK
      tags:
        - Subscriptions
      description: Gets a list of the subscriptionIds.
      operationId: Subscriptions_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}':
    get:
      parameters:
        - description: Id of the subscription.
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
            text/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK
      tags:
        - Subscriptions
      description: Gets details about particular subscription.
      operationId: Subscriptions_Get
  '/subscriptions/{subscriptionId}/locations':
    get:
      parameters:
        - description: Id of the subscription
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocationListResult'
          description: OK
      tags:
        - Subscriptions
      description: Gets a list of the subscription locations.
      operationId: Subscriptions_ListLocations
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/checkZonePeers/':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckZonePeersResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckZonePeersResult'
          description: >-
            OK - Returns information about the logical availability zone mapping
            between subscriptions.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
            text/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Subscriptions
      description: Compares a subscriptions logical zone mapping
      operationId: Subscriptions_CheckZonePeers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckZonePeersRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckZonePeersRequest'
        description: Parameters for checking zone peers.
        required: true
      x-ms-examples:
        GetLogicalZoneMapping:
          $ref: ./examples/PostCheckZonePeers.json
  /tenants:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/TenantListResult'
          description: OK
      tags:
        - Tenants
      description: Gets a list of the tenantIds.
      operationId: Tenants_List
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AvailabilityZonePeers:
      description: List of availability zones shared by the subscriptions.
      properties:
        availabilityZone:
          description: The availabilityZone.
          readOnly: true
          type: string
        peers:
          description: Details of shared availability zone.
          items:
            $ref: '#/components/schemas/Peers'
          type: array
      type: object
    CheckResourceNameResult:
      description: >-
        Resource Name valid if not a reserved word, does not contain a reserved
        word and does not start with a reserved word
      properties:
        name:
          description: Name of Resource
          type: string
        status:
          description: Is the resource name Allowed or Reserved
          enum:
            - Allowed
            - Reserved
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResourceNameStatus
        type:
          description: Type of Resource
          type: string
      type: object
    CheckZonePeersRequest:
      description: Check zone peers request parameters.
      properties:
        location:
          description: The Microsoft location.
          type: string
        subscriptionIds:
          description: The peer Microsoft Azure subscription ID.
          items:
            type: string
          type: array
      type: object
    CheckZonePeersResult:
      description: Result of the Check zone peers operation.
      properties:
        availabilityZonePeers:
          description: The Availability Zones shared by the subscriptions.
          items:
            $ref: '#/components/schemas/AvailabilityZonePeers'
          type: array
        location:
          description: the location of the subscription.
          type: string
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
      type: object
    ErrorDefinition:
      description: Error description and code explaining why resource name is invalid.
      properties:
        code:
          description: Code of the error.
          type: string
        message:
          description: Description of the error.
          type: string
      type: object
    ErrorResponse:
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
      type: object
    Location:
      description: Location information.
      properties:
        displayName:
          description: Gets or sets the display name of the location
          type: string
        id:
          description: Gets or sets the ID of the resource (/subscriptions/SubscriptionId).
          type: string
        latitude:
          description: Gets or sets the latitude of the location
          type: string
        longitude:
          description: Gets or sets the longitude of the location
          type: string
        name:
          description: Gets or sets the location name
          type: string
        subscriptionId:
          description: Gets or sets the subscription Id.
          type: string
      type: object
    LocationListResult:
      description: Location list operation response.
      properties:
        value:
          description: Gets the locations.
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    Peers:
      description: Information about shared availability zone.
      properties:
        availabilityZone:
          description: The availabilityZone.
          readOnly: true
          type: string
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
      type: object
    ResourceName:
      description: Name and Type of the Resource
      properties:
        name:
          description: Name of the resource
          type: string
        type:
          description: The type of the resource
          type: string
      required:
        - name
        - type
      type: object
    Subscription:
      description: Subscription information.
      properties:
        displayName:
          description: Gets or sets the subscription display name
          type: string
        id:
          description: Gets or sets the ID of the resource (/subscriptions/SubscriptionId).
          type: string
        state:
          description: Gets or sets the subscription state
          type: string
        subscriptionId:
          description: Gets or sets the subscription Id.
          type: string
        subscriptionPolicies:
          $ref: '#/components/schemas/SubscriptionPolicies'
          description: Gets or sets the subscription policies.
      type: object
    SubscriptionListResult:
      description: Subscription list operation response.
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets subscriptions.
          items:
            $ref: '#/components/schemas/Subscription'
          type: array
      required:
        - nextLink
      type: object
    SubscriptionPolicies:
      description: Subscription policies.
      properties:
        locationPlacementId:
          description: Gets or sets the subscription location placement Id.
          type: string
        quotaId:
          description: Gets or sets the subscription quota Id.
          type: string
      type: object
    TenantIdDescription:
      description: Tenant Id information
      properties:
        id:
          description: Gets or sets Id
          type: string
        tenantId:
          description: Gets or sets tenantId
          type: string
      type: object
    TenantListResult:
      description: Tenant Ids information.
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets tenant Ids.
          items:
            $ref: '#/components/schemas/TenantIdDescription'
          type: array
      required:
        - nextLink
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

