{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Stack Azure Bridge Client",
    "version": "2017-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStack/registrations": {
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Returns a list of all registrations under current subscription.",
        "operationId": "Registrations_ListBySubscription",
        "x-ms-examples": {
          "Returns a list of all registrations under current subscription.": {
            "$ref": "examples/Registration/ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations": {
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Returns a list of all registrations.",
        "operationId": "Registrations_List",
        "x-ms-examples": {
          "Returns a list of all registrations.": {
            "$ref": "examples/Registration/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Delete the requested Azure Stack registration.",
        "operationId": "Registrations_Delete",
        "x-ms-examples": {
          "Delete the requested Azure Stack registration.": {
            "$ref": "./examples/Registration/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Returns the properties of an Azure Stack registration.",
        "operationId": "Registrations_Get",
        "x-ms-examples": {
          "Returns the properties of an Azure Stack registration.": {
            "$ref": "examples/Registration/Get.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Patch an Azure Stack registration.",
        "operationId": "Registrations_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationParameter"
              }
            }
          },
          "description": "Registration token",
          "required": true
        },
        "x-ms-examples": {
          "Patch an Azure Stack registration.": {
            "$ref": "examples/Registration/Patch.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            },
            "description": "CREATED"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Create or update an Azure Stack registration.",
        "operationId": "Registrations_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationParameter"
              }
            }
          },
          "description": "Registration token",
          "required": true
        },
        "x-ms-examples": {
          "Create or update an Azure Stack registration.": {
            "$ref": "examples/Registration/Put.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/enableRemoteManagement": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Enables remote management for device under the Azure Stack registration.",
        "operationId": "Registrations_EnableRemoteManagement",
        "x-ms-examples": {
          "Returns empty response for successful action..": {
            "$ref": "examples/RemoteManagement/Post.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/getactivationkey": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationKeyResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Returns Azure Stack Activation Key.",
        "operationId": "Registrations_GetActivationKey",
        "x-ms-examples": {
          "Returns Azure Stack Activation Key.": {
            "$ref": "./examples/Registration/Post.json"
          }
        }
      }
    }
  },
  "components": {
    "requestBodies": {
      "RegistrationParameter": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RegistrationParameter"
            }
          }
        },
        "description": "Registration token",
        "required": true
      }
    },
    "schemas": {
      "ActivationKeyResult": {
        "description": "The resource containing the Azure Stack activation key.",
        "properties": {
          "activationKey": {
            "description": "Azure Stack activation key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Registration": {
        "allOf": [
          {
            "$ref": "AzureStack.json#/definitions/TrackedResource"
          }
        ],
        "description": "Registration information.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RegistrationProperties",
            "description": "Registration resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RegistrationList": {
        "description": "Pageable list of registrations.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of Registrations",
            "items": {
              "$ref": "#/components/schemas/Registration"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RegistrationParameter": {
        "description": "Registration resource",
        "properties": {
          "location": {
            "description": "Location of the resource.",
            "enum": [
              "global"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Location"
            },
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/RegistrationParameterProperties",
            "description": "Properties of the Azure Stack registration resource",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties",
          "location"
        ],
        "type": "object"
      },
      "RegistrationParameterProperties": {
        "description": "Properties of the Azure Stack registration resource",
        "properties": {
          "registrationToken": {
            "description": "The token identifying registered Azure Stack",
            "type": "string"
          }
        },
        "required": [
          "registrationToken"
        ],
        "type": "object"
      },
      "RegistrationProperties": {
        "description": "Properties portion of the registration resource.",
        "properties": {
          "billingModel": {
            "description": "Specifies the billing mode for the Azure Stack registration.",
            "type": "string"
          },
          "cloudId": {
            "description": "The identifier of the registered Azure Stack.",
            "type": "string"
          },
          "objectId": {
            "description": "The object identifier associated with the Azure Stack connecting to Azure.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}