openapi: 3.0.0
info:
  description: The Update Admin Management Client.
  title: UpdateAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Update.Admin/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
        - Updates
      description: Get the list of support rest operations.
      operationId: Operations_List
      x-ms-examples:
        Get the list of support rest operations.:
          $ref: ./examples/Operations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2016-05-01'
        type: string
    ResourceGroupParameter:
      description: Resource group name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription.  The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Display:
      description: >-
        Contains the localized display information for this particular operation
        or action.
      properties:
        description:
          description: >-
            The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          type: string
        operation:
          description: >-
            The localized friendly name for the operation, as it should be shown
            to the user.
          type: string
        provider:
          description: >-
            The localized, friendly version of the resource provider name. The
            provider name is expected to include the name of the publisher or
            company responsible. The provider name format should use title case
            and begin with Microsoft for first-party services. For example, the
            provider name may be Microsoft Monitoring Insights or Microsoft
            Compute.
          type: string
        resource:
          description: >-
            The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
      type: object
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: '#/components/schemas/Display'
          description: >-
            Contains the localized display information for this particular
            operation or action.
        name:
          description: >-
            The name of the operation being performed on this particular object.
            It should match the action name that appears in RBAC / the event
            service.
          type: string
      type: object
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    Resource:
      description: Base Resource Object
      properties:
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          type: object
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Region location of resource.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

