openapi: 3.0.0
info:
  contact:
    email: azuremigratehub@microsoft.com
    name: Microsoft
  description: Migrate your workloads to Azure.
  title: Azure Migrate Hub
  version: 2018-09-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Migrate/operations:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultList'
          description: OK. Returns list of operations.
      description: Get a list of REST API supported by Microsoft.Migrate provider.
      operationId: Operations_List
      summary: Get list of operations supported in the API.
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          description: OK
      tags:
        - MigrateProjects
      deprecated: false
      description: >-
        Delete the migrate project. Deleting non-existent project is a
        no-operation.
      operationId: MigrateProjects_DeleteMigrateProject
      summary: Delete the migrate project
      x-ms-examples:
        MigrateProjects_Delete:
          $ref: ./examples/MigrateProjects_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: OK
      tags:
        - MigrateProjects
      deprecated: false
      operationId: MigrateProjects_GetMigrateProject
      summary: Method to get a migrate project.
      x-ms-examples:
        MigrateProjects_Get:
          $ref: ./examples/MigrateProjects_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: OK
      tags:
        - MigrateProjects
      deprecated: false
      description: >-
        Update a migrate project with specified name. Supports partial updates,
        for example only tags can be provided.
      operationId: MigrateProjects_PatchMigrateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateProject'
        description: Body with migrate project details.
        required: true
      summary: Update migrate project.
      x-ms-examples:
        MigrateProjects_Patch:
          $ref: ./examples/MigrateProjects_Patch.json
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: Created
      tags:
        - MigrateProjects
      deprecated: false
      operationId: MigrateProjects_PutMigrateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateProject'
        description: Body with migrate project details.
        required: true
      summary: Method to create or update a migrate project.
      x-ms-examples:
        MigrateProjects_Put:
          $ref: ./examples/MigrateProjects_Put.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/continuationToken'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseInstanceCollection'
          description: OK
      tags:
        - DatabaseInstances
      deprecated: false
      operationId: DatabaseInstances_EnumerateDatabaseInstances
      summary: Gets a list of database instances in the migrate project.
      x-ms-examples:
        DatabaseInstances_List:
          $ref: ./examples/DatabaseInstances_List.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances/{databaseInstanceName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/databaseInstanceName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseInstance'
          description: OK
      tags:
        - DatabaseInstances
      deprecated: false
      operationId: DatabaseInstances_GetDatabaseInstance
      summary: Gets a database instance in the migrate project.
      x-ms-examples:
        DatabaseInstances_Get:
          $ref: ./examples/DatabaseInstances_Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/continuationToken'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseCollection'
          description: OK
      tags:
        - Databases
      deprecated: false
      operationId: Databases_EnumerateDatabases
      summary: Gets a list of databases in the migrate project.
      x-ms-examples:
        Databases_List:
          $ref: ./examples/Databases_List.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases/{databaseName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/databaseName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      tags:
        - Databases
      deprecated: false
      operationId: Databases_GetDatabase
      summary: Gets a database in the migrate project.
      x-ms-examples:
        Databases_Get:
          $ref: ./examples/Databases_Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/continuationToken'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineCollection'
          description: OK
      tags:
        - Machines
      deprecated: false
      operationId: Machines_EnumerateMachines
      summary: Gets a list of machines in the migrate project.
      x-ms-examples:
        Machines_List:
          $ref: ./examples/Machines_List.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines/{machineName}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/machineName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
      tags:
        - Machines
      deprecated: false
      operationId: Machines_GetMachine
      summary: Gets a machine in the migrate project.
      x-ms-examples:
        Machines_Get:
          $ref: ./examples/Machines_Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/continuationToken'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCollection'
          description: OK
      tags:
        - Events
      deprecated: false
      operationId: Events_EnumerateEvents
      summary: Gets a list of events in the migrate project.
      x-ms-examples:
        MigrateEvents_List:
          $ref: ./examples/MigrateEvents_List.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/eventName'
      responses:
        '200':
          description: OK
      tags:
        - Events
      deprecated: false
      description: >-
        Delete the migrate event. Deleting non-existent migrate event is a
        no-operation.
      operationId: Events_DeleteEvent
      summary: Delete the migrate event
      x-ms-examples:
        MigrateEvents_Delete:
          $ref: ./examples/MigrateEvents_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/eventName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateEvent'
          description: OK
      tags:
        - Events
      deprecated: false
      operationId: Events_GetEvent
      summary: Gets an event in the migrate project.
      x-ms-examples:
        MigrateEvents_Get:
          $ref: ./examples/MigrateEvents_Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/refreshSummary':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshSummaryResult'
          description: OK
      tags:
        - MigrateProjects
      deprecated: false
      operationId: MigrateProjects_RefreshMigrateProjectSummary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSummaryInput'
        description: The goal input which needs to be refreshed.
        required: true
      summary: Refresh the summary of the migrate project.
      x-ms-examples:
        MigrateProjects_RefreshSummary:
          $ref: ./examples/MigrateProjects_RefreshSummary.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registerTool':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResult'
          description: OK
      tags:
        - MigrateProjects
      deprecated: false
      operationId: MigrateProjects_RegisterTool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolInput'
        description: Input containing the name of the tool to be registered.
        required: true
      summary: Registers a tool with the migrate project.
      x-ms-examples:
        MigrateProjects_RegisterTool:
          $ref: ./examples/MigrateProjects_RegisterTool.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionsCollection'
          description: OK
      tags:
        - Solutions
      deprecated: false
      operationId: Solutions_EnumerateSolutions
      summary: Gets the list of solutions in the migrate project.
      x-ms-examples:
        Solutions_List:
          $ref: ./examples/Solutions_List.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/solutionName'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          description: OK
      tags:
        - Solutions
      deprecated: false
      description: Delete the solution. Deleting non-existent project is a no-operation.
      operationId: Solutions_DeleteSolution
      summary: Delete the solution
      x-ms-examples:
        Solutions_Delete:
          $ref: ./examples/Solutions_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/solutionName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: OK
      tags:
        - Solutions
      deprecated: false
      operationId: Solutions_GetSolution
      summary: Gets a solution in the migrate project.
      x-ms-examples:
        Solutions_Get:
          $ref: ./examples/Solutions_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/solutionName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: OK
      tags:
        - Solutions
      deprecated: false
      description: >-
        Update a solution with specified name. Supports partial updates, for
        example only tags can be provided.
      operationId: Solutions_PatchSolution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
        description: The input for the solution.
        required: true
      summary: Update solution.
      x-ms-examples:
        Solutions_Patch:
          $ref: ./examples/Solutions_Patch.json
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/solutionName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: Created
      tags:
        - Solutions
      deprecated: false
      operationId: Solutions_PutSolution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
        description: The input for the solution.
        required: true
      summary: Creates a solution in the migrate project.
      x-ms-examples:
        Solutions_Put:
          $ref: ./examples/Solutions_Put.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/cleanupData':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/solutionName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      tags:
        - Solutions
      deprecated: false
      operationId: Solutions_CleanupSolutionData
      summary: Cleanup the solution data in the migrate project.
      x-ms-examples:
        Solutions_CleanupData:
          $ref: ./examples/Solutions_CleanupData.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/getConfig':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/migrateProjectName'
        - $ref: '#/components/parameters/solutionName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfig'
          description: OK
      tags:
        - Solutions
      deprecated: false
      operationId: Solutions_GetConfig
      summary: Gets the config for the solution in the migrate project.
      x-ms-examples:
        Solutions_GetConfig:
          $ref: ./examples/Solutions_GetConfig.json
components:
  parameters:
    acceptLanguage:
      description: >-
        Standard request header. Used by service to respond to client in
        appropriate language.
      in: header
      name: Accept-Language
      schema:
        type: string
      x-ms-parameter-location: client
    api-version:
      description: >-
        Standard request header. Used by service to identify API version used by
        client.
      in: query
      name: api-version
      required: true
      schema:
        enum:
          - 2018-09-01-preview
        type: string
    continuationToken:
      description: The continuation token.
      in: query
      name: continuationToken
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    databaseInstanceName:
      description: Unique name of a database instance in Azure migration hub.
      in: path
      name: databaseInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    databaseName:
      description: Unique name of a database in Azure migration hub.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    eventName:
      description: Unique name of an event within a migrate project.
      in: path
      name: eventName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    machineName:
      description: Unique name of a machine in Azure migration hub.
      in: path
      name: machineName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    migrateProjectName:
      description: Name of the Azure Migrate project.
      in: path
      name: migrateProjectName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    pageSize:
      description: >-
        The number of items to be returned in a single page. This value is
        honored only if it is less than the 100.
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
      x-ms-parameter-location: method
    resourceGroupName:
      description: Name of the Azure Resource Group that migrate project is part of.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    solutionName:
      description: Unique name of a migration solution within a migrate project.
      in: path
      name: solutionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionId:
      description: Azure Subscription Id in which migrate project was created.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    MigrateProject:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MigrateProject'
      description: Body with migrate project details.
      required: true
    Solution:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Solution'
      description: The input for the solution.
      required: true
  schemas:
    ApplyClause:
      properties:
        transformations:
          items:
            $ref: '#/components/schemas/TransformationNode'
          readOnly: true
          type: array
          x-ms-identifiers: []
      type: object
    AssessmentDetails:
      description: Assessment properties that can be shared by various publishers.
      properties:
        assessmentId:
          description: Gets or sets the id of the assessment done on the machine.
          type: string
        biosId:
          description: Gets or sets the BIOS ID of the machine.
          type: string
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the ISV specific extended information.
          type: object
        fabricType:
          description: Gets or sets the fabric type.
          type: string
        fqdn:
          description: Gets or sets the FQDN of the machine.
          type: string
        ipAddresses:
          description: >-
            Gets or sets the list of IP addresses of the machine. IP addresses
            could be IP V4 or IP V6.
          items:
            type: string
          type: array
        lastUpdatedTime:
          description: >-
            Gets or sets the time of the last modification of the machine
            details.
          format: date-time
          type: string
        macAddresses:
          description: Gets or sets the list of MAC addresses of the machine.
          items:
            type: string
          type: array
        machineId:
          description: Gets or sets the unique identifier of the machine.
          type: string
        machineManagerId:
          description: >-
            Gets or sets the unique identifier of the virtual machine
            manager(vCenter/VMM).
          type: string
        machineName:
          description: Gets or sets the name of the machine.
          type: string
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
        targetStorageType:
          additionalProperties:
            type: string
          description: Gets or sets the target storage type.
          type: object
        targetVMLocation:
          description: Gets or sets the target VM location.
          type: string
        targetVMSize:
          description: Gets or sets the target VM size.
          type: string
      type: object
    Database:
      description: Database REST resource.
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
          description: Gets or sets the properties of the database.
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
    DatabaseAssessmentDetails:
      description: Assessment properties that can be shared by various publishers.
      properties:
        assessmentId:
          description: Gets or sets the database assessment scope/Id.
          type: string
        assessmentTargetType:
          description: Gets or sets the assessed target database type.
          type: string
        breakingChangesCount:
          description: Gets or sets the number of breaking changes found.
          format: int32
          type: integer
        compatibilityLevel:
          description: Gets or sets the compatibility level of the database.
          type: string
        databaseName:
          description: Gets or sets the database name.
          type: string
        databaseSizeInMB:
          description: Gets or sets the database size.
          type: string
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the extended properties of the database.
          type: object
        instanceId:
          description: Gets or sets the database server instance Id.
          type: string
        isReadyForMigration:
          description: >-
            Gets or sets a value indicating whether the database is ready for
            migration.
          type: boolean
        lastAssessedTime:
          description: Gets or sets the time when the database was last assessed.
          format: date-time
          type: string
        lastUpdatedTime:
          description: >-
            Gets or sets the time of the last modification of the database
            details.
          format: date-time
          type: string
        migrationBlockersCount:
          description: Gets or sets the number of blocking changes found.
          format: int32
          type: integer
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
      type: object
    DatabaseCollection:
      description: Collection of databases.
      properties:
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
        value:
          description: Gets or sets the databases.
          items:
            $ref: '#/components/schemas/Database'
          type: array
      type: object
    DatabaseInstance:
      description: DatabaseInstance REST resource.
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseInstanceProperties'
          description: Gets or sets the properties of the machine.
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
    DatabaseInstanceCollection:
      description: Collection of database instances.
      properties:
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
        value:
          description: Gets or sets the database instances.
          items:
            $ref: '#/components/schemas/DatabaseInstance'
          type: array
      type: object
    DatabaseInstanceDiscoveryDetails:
      description: Discovery properties that can be shared by various publishers.
      properties:
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the extended properties of the database server.
          type: object
        hostName:
          description: Gets or sets the host name of the database server.
          type: string
        instanceId:
          description: Gets or sets the database instance Id.
          type: string
        instanceName:
          description: Gets or sets the database instance name.
          type: string
        instanceType:
          description: Gets or sets the database instance type.
          type: string
        instanceVersion:
          description: Gets or sets the database instance version.
          type: string
        ipAddress:
          description: >-
            Gets or sets the IP addresses of the database server. IP addresses
            could be IP V4 or IP V6.
          type: string
        lastUpdatedTime:
          description: >-
            Gets or sets the time of the last modification of the database
            instance details.
          format: date-time
          type: string
        portNumber:
          description: Gets or sets the port number of the database server.
          format: int32
          type: integer
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
      type: object
    DatabaseInstanceProperties:
      description: Properties of the database instance resource.
      properties:
        discoveryData:
          description: >-
            Gets or sets the assessment details of the database instance
            published by various sources.
          items:
            $ref: '#/components/schemas/DatabaseInstanceDiscoveryDetails'
          type: array
          x-ms-identifiers:
            - instanceId
        lastUpdatedTime:
          description: Gets or sets the time of the last modification of the database.
          format: date-time
          type: string
        summary:
          additionalProperties:
            $ref: '#/components/schemas/DatabaseInstanceSummary'
          description: >-
            Gets or sets the database instances summary per solution. The key of
            dictionary is the solution name and value is the corresponding
            database instance summary object.
          type: object
      type: object
    DatabaseInstanceSummary:
      description: Class representing the database instance summary object.
      properties:
        databasesAssessedCount:
          description: Gets or sets the count of databases assessed.
          format: int32
          type: integer
        migrationReadyCount:
          description: Gets or sets the count of databases ready for migration.
          format: int32
          type: integer
      type: object
    DatabaseMigrateEventProperties:
      allOf:
        - $ref: '#/components/schemas/MigrateEventProperties'
      description: Properties of the database error resource.
      properties:
        database:
          description: Gets or sets the database for which the error is being reported.
          type: string
        databaseInstanceId:
          description: >-
            Gets or sets the database instance for which the error is being
            reported.
          type: string
      type: object
      x-ms-discriminator-value: Databases
    DatabaseProjectSummary:
      allOf:
        - $ref: '#/components/schemas/ProjectSummary'
      description: The database project summary class.
      properties: {}
      type: object
      x-ms-discriminator-value: Databases
    DatabaseProperties:
      description: Properties of the database resource.
      properties:
        assessmentData:
          description: >-
            Gets or sets the assessment details of the database published by
            various sources.
          items:
            $ref: '#/components/schemas/DatabaseAssessmentDetails'
          type: array
          x-ms-identifiers:
            - assessmentId
        lastUpdatedTime:
          description: Gets or sets the time of the last modification of the database.
          format: date-time
          type: string
      type: object
    DatabasesSolutionSummary:
      allOf:
        - $ref: '#/components/schemas/SolutionSummary'
      description: Class representing the databases solution summary.
      properties:
        databaseInstancesAssessedCount:
          description: Gets or sets the count of database instances assessed.
          format: int32
          type: integer
        databasesAssessedCount:
          description: Gets or sets the count of databases assessed.
          format: int32
          type: integer
        migrationReadyCount:
          description: Gets or sets the count of databases ready for migration.
          format: int32
          type: integer
      type: object
      x-ms-discriminator-value: Databases
    DefaultQuerySettings:
      properties:
        enableCount:
          type: boolean
        enableExpand:
          type: boolean
        enableFilter:
          type: boolean
        enableOrderBy:
          type: boolean
        enableSelect:
          type: boolean
        maxTop:
          format: int32
          type: integer
      type: object
    DiscoveryDetails:
      description: Discovery properties that can be published by various ISVs.
      properties:
        biosId:
          description: Gets or sets the BIOS ID of the machine.
          type: string
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the ISV specific extended information.
          type: object
        fabricType:
          description: Gets or sets the fabric type.
          type: string
        fqdn:
          description: Gets or sets the FQDN of the machine.
          type: string
        ipAddresses:
          description: >-
            Gets or sets the list of IP addresses of the machine. IP addresses
            could be IP V4 or IP V6.
          items:
            type: string
          type: array
        lastUpdatedTime:
          description: >-
            Gets or sets the time of the last modification of the machine
            details.
          format: date-time
          type: string
        macAddresses:
          description: Gets or sets the list of MAC addresses of the machine.
          items:
            type: string
          type: array
        machineId:
          description: Gets or sets the unique identifier of the machine.
          type: string
        machineManagerId:
          description: >-
            Gets or sets the unique identifier of the virtual machine
            manager(vCenter/VMM).
          type: string
        machineName:
          description: Gets or sets the name of the machine.
          type: string
        osName:
          description: Gets or sets the OS name.
          type: string
        osType:
          description: Gets or sets the OS type.
          type: string
        osVersion:
          description: Gets or sets the OS version.
          type: string
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
      type: object
    EdmReferentialConstraintPropertyPair:
      properties:
        dependentProperty:
          $ref: '#/components/schemas/IEdmStructuralProperty'
          readOnly: true
        principalProperty:
          $ref: '#/components/schemas/IEdmStructuralProperty'
          readOnly: true
      type: object
    EventCollection:
      description: Collection of events.
      properties:
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
        value:
          description: Gets or sets the machines.
          items:
            $ref: '#/components/schemas/MigrateEvent'
          type: array
      type: object
    FilterClause:
      properties:
        expression:
          $ref: '#/components/schemas/SingleValueNode'
          readOnly: true
        itemType:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
        rangeVariable:
          $ref: '#/components/schemas/RangeVariable'
          readOnly: true
      type: object
    FilterQueryOption:
      properties:
        context:
          $ref: '#/components/schemas/ODataQueryContext'
          readOnly: true
        filterClause:
          $ref: '#/components/schemas/FilterClause'
          readOnly: true
        rawValue:
          readOnly: true
          type: string
        validator:
          $ref: '#/components/schemas/FilterQueryValidator'
      type: object
    FilterQueryValidator:
      properties: {}
      type: object
    IEdmDirectValueAnnotationsManager:
      properties: {}
      type: object
    IEdmEntityContainer:
      properties:
        elements:
          items:
            $ref: '#/components/schemas/IEdmEntityContainerElement'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
        name:
          readOnly: true
          type: string
        namespace:
          readOnly: true
          type: string
        schemaElementKind:
          enum:
            - None
            - TypeDefinition
            - Term
            - Action
            - EntityContainer
            - Function
          readOnly: true
          type: string
      type: object
    IEdmEntityContainerElement:
      properties:
        container:
          $ref: '#/components/schemas/IEdmEntityContainer'
          readOnly: true
        containerElementKind:
          enum:
            - None
            - EntitySet
            - ActionImport
            - FunctionImport
            - Singleton
          readOnly: true
          type: string
        name:
          readOnly: true
          type: string
      type: object
    IEdmExpression:
      properties:
        expressionKind:
          enum:
            - None
            - BinaryConstant
            - BooleanConstant
            - DateTimeOffsetConstant
            - DecimalConstant
            - FloatingConstant
            - GuidConstant
            - IntegerConstant
            - StringConstant
            - DurationConstant
            - 'Null'
            - Record
            - Collection
            - Path
            - If
            - Cast
            - IsType
            - FunctionApplication
            - LabeledExpressionReference
            - Labeled
            - PropertyPath
            - NavigationPropertyPath
            - DateConstant
            - TimeOfDayConstant
            - EnumMember
            - AnnotationPath
          readOnly: true
          type: string
      type: object
    IEdmModel:
      properties:
        declaredNamespaces:
          items:
            type: string
          readOnly: true
          type: array
        directValueAnnotationsManager:
          $ref: '#/components/schemas/IEdmDirectValueAnnotationsManager'
          readOnly: true
        entityContainer:
          $ref: '#/components/schemas/IEdmEntityContainer'
          readOnly: true
        referencedModels:
          items:
            $ref: '#/components/schemas/IEdmModel'
          readOnly: true
          type: array
          x-ms-identifiers: []
        schemaElements:
          items:
            $ref: '#/components/schemas/IEdmSchemaElement'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
        vocabularyAnnotations:
          items:
            $ref: '#/components/schemas/IEdmVocabularyAnnotation'
          readOnly: true
          type: array
          x-ms-identifiers: []
      type: object
    IEdmNavigationProperty:
      properties:
        containsTarget:
          readOnly: true
          type: boolean
        declaringType:
          $ref: '#/components/schemas/IEdmStructuredType'
          readOnly: true
        name:
          readOnly: true
          type: string
        onDelete:
          enum:
            - None
            - Cascade
          readOnly: true
          type: string
        partner:
          $ref: '#/components/schemas/IEdmNavigationProperty'
          readOnly: true
        propertyKind:
          enum:
            - None
            - Structural
            - Navigation
          readOnly: true
          type: string
        referentialConstraint:
          $ref: '#/components/schemas/IEdmReferentialConstraint'
          readOnly: true
        type:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
      type: object
    IEdmNavigationPropertyBinding:
      properties:
        navigationProperty:
          $ref: '#/components/schemas/IEdmNavigationProperty'
          readOnly: true
        path:
          $ref: '#/components/schemas/IEdmPathExpression'
          readOnly: true
        target:
          $ref: '#/components/schemas/IEdmNavigationSource'
          readOnly: true
      type: object
    IEdmNavigationSource:
      properties:
        name:
          readOnly: true
          type: string
        navigationPropertyBindings:
          items:
            $ref: '#/components/schemas/IEdmNavigationPropertyBinding'
          readOnly: true
          type: array
          x-ms-identifiers:
            - /navigationProperty/name
        path:
          $ref: '#/components/schemas/IEdmPathExpression'
          readOnly: true
        type:
          $ref: '#/components/schemas/IEdmType'
          readOnly: true
      type: object
    IEdmPathExpression:
      properties:
        expressionKind:
          enum:
            - None
            - BinaryConstant
            - BooleanConstant
            - DateTimeOffsetConstant
            - DecimalConstant
            - FloatingConstant
            - GuidConstant
            - IntegerConstant
            - StringConstant
            - DurationConstant
            - 'Null'
            - Record
            - Collection
            - Path
            - If
            - Cast
            - IsType
            - FunctionApplication
            - LabeledExpressionReference
            - Labeled
            - PropertyPath
            - NavigationPropertyPath
            - DateConstant
            - TimeOfDayConstant
            - EnumMember
            - AnnotationPath
          readOnly: true
          type: string
        path:
          readOnly: true
          type: string
        pathSegments:
          items:
            type: string
          readOnly: true
          type: array
      type: object
    IEdmProperty:
      properties:
        declaringType:
          $ref: '#/components/schemas/IEdmStructuredType'
          readOnly: true
        name:
          readOnly: true
          type: string
        propertyKind:
          enum:
            - None
            - Structural
            - Navigation
          readOnly: true
          type: string
        type:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
      type: object
    IEdmReferentialConstraint:
      properties:
        propertyPairs:
          items:
            $ref: '#/components/schemas/EdmReferentialConstraintPropertyPair'
          readOnly: true
          type: array
          x-ms-identifiers:
            - /dependentProperty/name
            - /principalProperty/name
      type: object
    IEdmSchemaElement:
      properties:
        name:
          readOnly: true
          type: string
        namespace:
          readOnly: true
          type: string
        schemaElementKind:
          enum:
            - None
            - TypeDefinition
            - Term
            - Action
            - EntityContainer
            - Function
          readOnly: true
          type: string
      type: object
    IEdmStructuralProperty:
      properties:
        declaringType:
          $ref: '#/components/schemas/IEdmStructuredType'
          readOnly: true
        defaultValueString:
          readOnly: true
          type: string
        name:
          readOnly: true
          type: string
        propertyKind:
          enum:
            - None
            - Structural
            - Navigation
          readOnly: true
          type: string
        type:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
      type: object
    IEdmStructuredType:
      properties:
        baseType:
          $ref: '#/components/schemas/IEdmStructuredType'
          readOnly: true
        declaredProperties:
          items:
            $ref: '#/components/schemas/IEdmProperty'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
        isAbstract:
          readOnly: true
          type: boolean
        isOpen:
          readOnly: true
          type: boolean
        typeKind:
          enum:
            - None
            - Primitive
            - Entity
            - Complex
            - Collection
            - EntityReference
            - Enum
            - TypeDefinition
            - Untyped
            - Path
          readOnly: true
          type: string
      type: object
    IEdmTerm:
      properties:
        appliesTo:
          readOnly: true
          type: string
        defaultValue:
          readOnly: true
          type: string
        name:
          readOnly: true
          type: string
        namespace:
          readOnly: true
          type: string
        schemaElementKind:
          enum:
            - None
            - TypeDefinition
            - Term
            - Action
            - EntityContainer
            - Function
          readOnly: true
          type: string
        type:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
      type: object
    IEdmType:
      properties:
        typeKind:
          enum:
            - None
            - Primitive
            - Entity
            - Complex
            - Collection
            - EntityReference
            - Enum
            - TypeDefinition
            - Untyped
            - Path
          readOnly: true
          type: string
      type: object
    IEdmTypeReference:
      properties:
        definition:
          $ref: '#/components/schemas/IEdmType'
          readOnly: true
        isNullable:
          readOnly: true
          type: boolean
      type: object
    IEdmVocabularyAnnotatable:
      properties: {}
      type: object
    IEdmVocabularyAnnotation:
      properties:
        qualifier:
          readOnly: true
          type: string
        target:
          $ref: '#/components/schemas/IEdmVocabularyAnnotatable'
          readOnly: true
        term:
          $ref: '#/components/schemas/IEdmTerm'
          readOnly: true
        value:
          $ref: '#/components/schemas/IEdmExpression'
          readOnly: true
      type: object
    IServiceProvider:
      properties: {}
      type: object
    Machine:
      description: Machine REST resource.
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        properties:
          $ref: '#/components/schemas/MachineProperties'
          description: Gets or sets the properties of the machine.
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
    MachineCollection:
      description: Collection of machines.
      properties:
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
        value:
          description: Gets or sets the machines.
          items:
            $ref: '#/components/schemas/Machine'
          type: array
      type: object
    MachineMigrateEventProperties:
      allOf:
        - $ref: '#/components/schemas/MigrateEventProperties'
      description: Properties of the machine error resource.
      properties:
        machine:
          description: Gets or sets the machine for which the error is being reported.
          type: string
      type: object
      x-ms-discriminator-value: Servers
    MachineProperties:
      description: Properties of the machine resource.
      properties:
        assessmentData:
          description: >-
            Gets or sets the assessment details of the machine published by
            various sources.
          items:
            $ref: '#/components/schemas/AssessmentDetails'
          type: array
          x-ms-identifiers:
            - assessmentId
        discoveryData:
          description: >-
            Gets or sets the discovery details of the machine published by
            various sources.
          items:
            $ref: '#/components/schemas/DiscoveryDetails'
          type: array
          x-ms-identifiers:
            - machineId
        lastUpdatedTime:
          description: Gets or sets the time of the last modification of the machine.
          format: date-time
          type: string
        migrationData:
          description: >-
            Gets or sets the migration details of the machine published by
            various sources.
          items:
            $ref: '#/components/schemas/MigrationDetails'
          type: array
          x-ms-identifiers: []
      type: object
    MigrateEvent:
      description: MigrateEvent REST resource.
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        properties:
          $ref: '#/components/schemas/MigrateEventProperties'
          description: Gets or sets the properties of the event.
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
    MigrateEventProperties:
      description: Properties of the error resource.
      discriminator:
        propertyName: instanceType
      properties:
        clientRequestId:
          description: >-
            Gets or sets the client request Id of the payload for which the
            event is being reported.
          type: string
        errorCode:
          description: Gets or sets the error code.
          type: string
        errorMessage:
          description: Gets or sets the error message.
          type: string
        instanceType:
          description: Gets the Instance type.
          readOnly: true
          type: string
        possibleCauses:
          description: Gets or sets the possible causes for the error.
          type: string
        recommendation:
          description: Gets or sets the recommendation for the error.
          type: string
        solution:
          description: Gets or sets the solution for which the error is being reported.
          type: string
      type: object
    MigrateProject:
      description: Migrate Project REST Resource.
      properties:
        tags:
          description: Gets or sets the tags.
          properties:
            additionalProperties:
              type: string
          type: object
        eTag:
          description: Gets or sets the eTag for concurrency control.
          type: string
        id:
          description: Gets the relative URL to get this migrate project.
          readOnly: true
          type: string
        location:
          description: Gets or sets the Azure location in which migrate project is created.
          type: string
        name:
          description: Gets the name of the migrate project.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/MigrateProjectProperties'
          description: Gets or sets the nested properties.
        type:
          description: >-
            Handled by resource provider. Type =
            Microsoft.Migrate/MigrateProject.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    MigrateProjectProperties:
      description: Class for migrate project properties.
      properties:
        lastSummaryRefreshedTime:
          description: Gets the last time the project summary was refreshed.
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          description: Provisioning state of the migrate project.
          enum:
            - Accepted
            - Creating
            - Deleting
            - Failed
            - Moving
            - Succeeded
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        refreshSummaryState:
          description: Gets the refresh summary state.
          enum:
            - Started
            - InProgress
            - Completed
            - Failed
          readOnly: true
          type: string
        registeredTools:
          description: Gets or sets the list of tools registered with the migrate project.
          items:
            enum:
              - ServerDiscovery
              - ServerAssessment
              - ServerMigration
              - Cloudamize
              - Turbonomic
              - Zerto
              - CorentTech
              - ServerAssessmentV1
              - ServerMigration_Replication
              - Carbonite
              - DataMigrationAssistant
              - DatabaseMigrationService
            type: string
          type: array
        summary:
          additionalProperties:
            $ref: '#/components/schemas/ProjectSummary'
          description: Gets the summary of the migrate project.
          readOnly: true
          type: object
      type: object
    MigrationDetails:
      description: Migration properties that can be shared by various publishers.
      properties:
        biosId:
          description: Gets or sets the BIOS ID of the machine.
          type: string
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the ISV specific extended information.
          type: object
        fabricType:
          description: Gets or sets the fabric type.
          type: string
        fqdn:
          description: Gets or sets the FQDN of the machine.
          type: string
        ipAddresses:
          description: >-
            Gets or sets the list of IP addresses of the machine. IP addresses
            could be IP V4 or IP V6.
          items:
            type: string
          type: array
        lastUpdatedTime:
          description: >-
            Gets or sets the time of the last modification of the machine
            details.
          format: date-time
          type: string
        macAddresses:
          description: Gets or sets the list of MAC addresses of the machine.
          items:
            type: string
          type: array
        machineId:
          description: Gets or sets the unique identifier of the machine.
          type: string
        machineManagerId:
          description: >-
            Gets or sets the unique identifier of the virtual machine
            manager(vCenter/VMM).
          type: string
        machineName:
          description: Gets or sets the name of the machine.
          type: string
        migrationPhase:
          description: Gets or sets the phase of migration of the machine.
          type: string
        migrationTested:
          description: >-
            Gets or sets a value indicating whether migration was tested on the
            machine.
          type: boolean
        replicationProgressPercentage:
          description: Gets or sets the progress percentage of migration on the machine.
          format: int32
          type: integer
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
        targetVMArmId:
          description: Gets or sets the ARM id the migrated VM.
          type: string
      type: object
    ODataPath:
      properties:
        edmType:
          $ref: '#/components/schemas/IEdmType'
          readOnly: true
        navigationSource:
          $ref: '#/components/schemas/IEdmNavigationSource'
          readOnly: true
        path:
          items:
            $ref: '#/components/schemas/ODataPathSegment'
          readOnly: true
          type: array
          x-ms-identifiers:
            - identifier
        pathTemplate:
          readOnly: true
          type: string
        segments:
          items:
            $ref: '#/components/schemas/ODataPathSegment'
          readOnly: true
          type: array
          x-ms-identifiers:
            - identifier
      type: object
    ODataPathSegment:
      properties:
        edmType:
          $ref: '#/components/schemas/IEdmType'
          readOnly: true
        identifier:
          type: string
      type: object
    ODataQueryContext:
      properties:
        defaultQuerySettings:
          $ref: '#/components/schemas/DefaultQuerySettings'
          readOnly: true
        elementClrType:
          readOnly: true
          type: string
        elementType:
          $ref: '#/components/schemas/IEdmType'
          readOnly: true
        model:
          $ref: '#/components/schemas/IEdmModel'
          readOnly: true
        navigationSource:
          $ref: '#/components/schemas/IEdmNavigationSource'
          readOnly: true
        path:
          $ref: '#/components/schemas/ODataPath'
          readOnly: true
        requestContainer:
          $ref: '#/components/schemas/IServiceProvider'
          readOnly: true
      type: object
    ODataQueryOptions_1:
      properties:
        filter:
          $ref: '#/components/schemas/FilterQueryOption'
          readOnly: true
      type: object
    ODataQueryValidator:
      properties: {}
      type: object
    ODataRawQueryOptions:
      properties:
        filter:
          readOnly: true
          type: string
      type: object
    Object:
      properties: {}
      type: object
    Operation:
      description: A REST API operation supported by the provider.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: Displayable properties of the operation.
        name:
          description: Name of the operation.
          readOnly: true
          type: string
        origin:
          description: Origin of the operation.
          readOnly: true
          type: string
      type: object
    OperationDisplay:
      description: Displayable properties of the operation.
      properties:
        description:
          description: Description of the operation.
          readOnly: true
          type: string
        operation:
          description: Operation Type.
          readOnly: true
          type: string
        provider:
          description: Provider of the operation.
          readOnly: true
          type: string
        resource:
          description: Resource operated on by the operation.
          readOnly: true
          type: string
      readOnly: true
      type: object
    OperationResultList:
      description: List of API operations.
      properties:
        value:
          description: List of operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    ProjectSummary:
      description: The project summary class.
      discriminator:
        propertyName: instanceType
      properties:
        extendedSummary:
          additionalProperties:
            type: string
          description: Gets or sets the extended summary.
          type: object
        instanceType:
          description: Gets the Instance type.
          readOnly: true
          type: string
        lastSummaryRefreshedTime:
          description: Gets or sets the time when summary was last refreshed.
          format: date-time
          type: string
        refreshSummaryState:
          description: Gets or sets the state of refresh summary.
          enum:
            - Started
            - InProgress
            - Completed
            - Failed
          type: string
      type: object
    RangeVariable:
      properties:
        kind:
          format: int32
          readOnly: true
          type: integer
        name:
          readOnly: true
          type: string
        typeReference:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
      type: object
    RefreshSummaryInput:
      description: Class representing the refresh summary input.
      properties:
        goal:
          description: Gets or sets the goal for which summary needs to be refreshed.
          enum:
            - Servers
            - Databases
          type: string
      type: object
    RefreshSummaryResult:
      description: Class representing the refresh summary status of the migrate project.
      properties:
        isRefreshed:
          description: >-
            Gets or sets a value indicating whether the migrate project summary
            is refreshed.
          type: boolean
      type: object
    RegisterToolInput:
      description: Class representing the register tool input.
      properties:
        tool:
          description: Gets or sets the tool to be registered.
          enum:
            - ServerDiscovery
            - ServerAssessment
            - ServerMigration
            - Cloudamize
            - Turbonomic
            - Zerto
            - CorentTech
            - ServerAssessmentV1
            - ServerMigration_Replication
            - Carbonite
            - DataMigrationAssistant
            - DatabaseMigrationService
          type: string
      type: object
    RegistrationResult:
      description: >-
        Class representing the registration status of a tool with the migrate
        project.
      properties:
        isRegistered:
          description: >-
            Gets or sets a value indicating whether the tool is registered or
            not.
          type: boolean
      type: object
    SelectExpandClause:
      properties:
        allSelected:
          readOnly: true
          type: boolean
        selectedItems:
          items:
            $ref: '#/components/schemas/SelectItem'
          readOnly: true
          type: array
          x-ms-identifiers: []
      type: object
    SelectExpandQueryValidator:
      properties: {}
      type: object
    SelectItem:
      properties: {}
      type: object
    ServersProjectSummary:
      allOf:
        - $ref: '#/components/schemas/ProjectSummary'
      description: Class representing the servers project summary.
      properties:
        assessedCount:
          description: Gets or sets the count of entities assessed.
          format: int32
          type: integer
        discoveredCount:
          description: Gets or sets the count of entities discovered.
          format: int32
          type: integer
        migratedCount:
          description: Gets or sets the count of entities migrated.
          format: int32
          type: integer
        replicatingCount:
          description: Gets or sets the count of entities being replicated.
          format: int32
          type: integer
        testMigratedCount:
          description: Gets or sets the count of entities test migrated.
          format: int32
          type: integer
      type: object
      x-ms-discriminator-value: Servers
    ServersSolutionSummary:
      allOf:
        - $ref: '#/components/schemas/SolutionSummary'
      description: Class representing the servers solution summary.
      properties:
        assessedCount:
          description: Gets or sets the count of servers assessed.
          format: int32
          type: integer
        discoveredCount:
          description: Gets or sets the count of servers discovered.
          format: int32
          type: integer
        migratedCount:
          description: Gets or sets the count of servers migrated.
          format: int32
          type: integer
        replicatingCount:
          description: Gets or sets the count of servers being replicated.
          format: int32
          type: integer
        testMigratedCount:
          description: Gets or sets the count of servers test migrated.
          format: int32
          type: integer
      type: object
      x-ms-discriminator-value: Servers
    SingleValueNode:
      properties:
        kind:
          enum:
            - None
            - Constant
            - Convert
            - NonResourceRangeVariableReference
            - BinaryOperator
            - UnaryOperator
            - SingleValuePropertyAccess
            - CollectionPropertyAccess
            - SingleValueFunctionCall
            - Any
            - CollectionNavigationNode
            - SingleNavigationNode
            - SingleValueOpenPropertyAccess
            - SingleResourceCast
            - All
            - CollectionResourceCast
            - ResourceRangeVariableReference
            - SingleResourceFunctionCall
            - CollectionFunctionCall
            - CollectionResourceFunctionCall
            - NamedFunctionParameter
            - ParameterAlias
            - EntitySet
            - KeyLookup
            - SearchTerm
            - CollectionOpenPropertyAccess
            - CollectionComplexNode
            - SingleComplexNode
            - Count
            - SingleValueCast
            - CollectionPropertyNode
            - AggregatedCollectionPropertyNode
            - In
            - CollectionConstant
          readOnly: true
          type: string
        typeReference:
          $ref: '#/components/schemas/IEdmTypeReference'
          readOnly: true
      type: object
    Solution:
      description: Solution REST Resource.
      properties:
        etag:
          description: Gets or sets the ETAG for optimistic concurrency control.
          type: string
        id:
          description: Gets the relative URL to get to this REST resource.
          readOnly: true
          type: string
        name:
          description: Gets the name of this REST resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/SolutionProperties'
          description: Gets or sets the properties of the solution.
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SolutionConfig:
      description: Class representing the config for the solution in the migrate project.
      properties:
        publisherSasUri:
          description: Gets or sets the publisher sas uri for the solution.
          type: string
      type: object
    SolutionDetails:
      description: Class representing the details of the solution.
      properties:
        assessmentCount:
          description: Gets or sets the count of assessments reported by the solution.
          format: int32
          type: integer
        extendedDetails:
          additionalProperties:
            type: string
          description: Gets or sets the extended details reported by the solution.
          type: object
        groupCount:
          description: Gets or sets the count of groups reported by the solution.
          format: int32
          type: integer
      type: object
    SolutionProperties:
      description: Class for solution properties.
      properties:
        cleanupState:
          description: Gets or sets the cleanup state of the solution.
          enum:
            - None
            - Started
            - InProgress
            - Completed
            - Failed
          type: string
        details:
          $ref: '#/components/schemas/SolutionDetails'
          description: Gets or sets the details of the solution.
        goal:
          description: Gets or sets the goal of the solution.
          enum:
            - Servers
            - Databases
          type: string
        purpose:
          description: Gets or sets the purpose of the solution.
          enum:
            - Discovery
            - Assessment
            - Migration
          type: string
        status:
          description: Gets or sets the current status of the solution.
          enum:
            - Inactive
            - Active
          type: string
        summary:
          $ref: '#/components/schemas/SolutionSummary'
          description: Gets or sets the summary of the solution.
        tool:
          description: Gets or sets the tool being used in the solution.
          enum:
            - ServerDiscovery
            - ServerAssessment
            - ServerMigration
            - Cloudamize
            - Turbonomic
            - Zerto
            - CorentTech
            - ServerAssessmentV1
            - ServerMigration_Replication
            - Carbonite
            - DataMigrationAssistant
            - DatabaseMigrationService
          type: string
      type: object
    SolutionSummary:
      description: The solution summary class.
      discriminator:
        propertyName: instanceType
      properties:
        instanceType:
          description: Gets the Instance type.
          readOnly: true
          type: string
      type: object
    SolutionsCollection:
      description: Collection of solutions.
      properties:
        nextLink:
          description: Gets or sets the value of next link.
          type: string
        value:
          description: Gets or sets the list of solutions.
          items:
            $ref: '#/components/schemas/Solution'
          type: array
      type: object
    TransformationNode:
      properties:
        kind:
          enum:
            - Aggregate
            - GroupBy
            - Filter
            - Compute
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

