openapi: 3.0.0
info:
  description: The Managed Service Identity Client.
  title: ManagedServiceIdentityClient
  version: '2018-11-30'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.ManagedIdentity/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: >-
            The operation was successful. The response contains the list of
            available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Lists available operations for the Microsoft.ManagedIdentity provider
      operationId: Operations_List
      x-ms-examples:
        MsiOperationsList:
          $ref: ./examples/MsiOperationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ManagedIdentity/userAssignedIdentities':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignedIdentitiesListResult'
          description: >-
            OK. The list of userAssignedIdentities was retrieved and returned
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: >-
        Lists all the userAssignedIdentities available under the specified
        subscription.
      operationId: UserAssignedIdentities_ListBySubscription
      x-ms-examples:
        IdentityListBySubscription:
          $ref: ./examples/IdentityListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignedIdentitiesListResult'
          description: >-
            OK. The list of userAssignedIdentities was retrieved and returned
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: >-
        Lists all the userAssignedIdentities available under the specified
        ResourceGroup.
      operationId: UserAssignedIdentities_ListByResourceGroup
      x-ms-examples:
        IdentityListByResourceGroup:
          $ref: ./examples/IdentityListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Deleted Identity.
        '204':
          description: The specified identity does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Deletes the identity.
      operationId: UserAssignedIdentities_Delete
      x-ms-examples:
        IdentityDelete:
          $ref: ./examples/IdentityDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: OK. The requested identity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Gets the identity.
      operationId: UserAssignedIdentities_Get
      x-ms-examples:
        IdentityGet:
          $ref: ./examples/IdentityGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: Updated identity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Update an identity in the specified subscription and resource group.
      operationId: UserAssignedIdentities_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityUpdate'
        description: Parameters to update the identity
        required: true
      x-ms-examples:
        IdentityUpdate:
          $ref: ./examples/IdentityUpdate.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: Updated identity
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: Created identity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: >-
        Create or update an identity in the specified subscription and resource
        group.
      operationId: UserAssignedIdentities_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Identity'
        description: Parameters to create or update the identity
        required: true
      x-ms-examples:
        IdentityCreate:
          $ref: ./examples/IdentityCreate.json
  '/{scope}/providers/Microsoft.ManagedIdentity/identities/default':
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemAssignedIdentity'
          description: >-
            OK. The systemAssignedIdentity was retrieved and returned
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Gets the systemAssignedIdentity available under the specified RP scope.
      operationId: SystemAssignedIdentities_GetByScope
      x-ms-examples:
        MsiOperationsList:
          $ref: ./examples/SystemAssignedIdentityGet.json
components:
  parameters:
    ApiVersionParameter:
      description: Version of API to invoke.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the Resource Group to which the identity belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the identity resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ScopeParameter:
      allowReserved: true
      description: >-
        The resource provider scope of the resource. Parent resource being
        extended by Managed Identities.
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    SubscriptionIdParameter:
      description: The Id of the Subscription to which the identity belongs.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error response from the ManagedServiceIdentity service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the ManagedServiceIdentity service.
      properties:
        code:
          description: An identifier for the error.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
          x-ms-identifiers:
            - code
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    Identity:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: Describes an identity resource.
      properties:
        properties:
          $ref: '#/components/schemas/UserAssignedIdentityProperties'
          description: The properties associated with the identity.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    IdentityUpdate:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Describes an identity resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: The geo-location where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
        properties:
          $ref: '#/components/schemas/UserAssignedIdentityProperties'
          description: The properties associated with the identity.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    Operation:
      description: Operation supported by the Microsoft.ManagedIdentity REST API.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: The object that describes the operation.
          title: Operation Display.
        name:
          description: >-
            The name of the REST Operation. This is of the format
            {provider}/{resource}/{operation}.
          title: Operation Name.
          type: string
      title: Microsoft.ManagedIdentity Operation.
      type: object
    OperationDisplay:
      description: The object that describes the operation.
      properties:
        description:
          description: A description of the operation.
          title: Operation description
          type: string
        operation:
          description: 'The type of operation. For example: read, write, delete.'
          title: Operation Type.
          type: string
        provider:
          description: Friendly name of the resource provider.
          title: Resource Provider Name.
          type: string
        resource:
          description: The resource type on which the operation is performed.
          title: Resource Type.
          type: string
      title: Operation Display.
      type: object
    OperationListResult:
      description: >-
        A list of operations supported by Microsoft.ManagedIdentity Resource
        Provider.
      properties:
        nextLink:
          description: 'The url to get the next page of results, if any.'
          title: Next Link
          type: string
        value:
          description: >-
            A list of operations supported by Microsoft.ManagedIdentity Resource
            Provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: Operations List.
          type: array
          x-ms-identifiers:
            - name
      title: Operations List.
      type: object
    SystemAssignedIdentity:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Describes a system assigned identity resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: The geo-location where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
        properties:
          $ref: '#/components/schemas/SystemAssignedIdentityProperties'
          description: The properties associated with the identity.
          readOnly: true
          x-ms-client-flatten: true
      required:
        - location
      type: object
    SystemAssignedIdentityProperties:
      description: The properties associated with the system assigned identity.
      properties:
        clientId:
          description: >-
            The id of the app associated with the identity. This is a random
            generated UUID by MSI.
          format: uuid
          readOnly: true
          type: string
        clientSecretUrl:
          description: ' The ManagedServiceIdentity DataPlane URL that can be queried to obtain the identity credentials.'
          readOnly: true
          type: string
        principalId:
          description: >-
            The id of the service principal object associated with the created
            identity.
          format: uuid
          readOnly: true
          type: string
        tenantId:
          description: The id of the tenant which the identity belongs to.
          format: uuid
          readOnly: true
          type: string
      title: System Assigned Identity properties.
      type: object
    UserAssignedIdentitiesListResult:
      description: Values returned by the List operation.
      properties:
        nextLink:
          description: 'The url to get the next page of results, if any.'
          type: string
        value:
          description: >-
            The collection of userAssignedIdentities returned by the listing
            operation.
          items:
            $ref: '#/components/schemas/Identity'
          type: array
      type: object
    UserAssignedIdentityProperties:
      description: The properties associated with the user assigned identity.
      properties:
        clientId:
          description: >-
            The id of the app associated with the identity. This is a random
            generated UUID by MSI.
          format: uuid
          readOnly: true
          type: string
        principalId:
          description: >-
            The id of the service principal object associated with the created
            identity.
          format: uuid
          readOnly: true
          type: string
        tenantId:
          description: The id of the tenant which the identity belongs to.
          format: uuid
          readOnly: true
          type: string
      title: User Assigned Identity properties.
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

