openapi: 3.0.0
info:
  description: >-
    Use these APIs to manage Azure CDN resources through the Azure Resource
    Manager. You must make sure that requests made to these resources are
    secure. For more information, see
    https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
  title: CdnManagementClient
  version: '2016-04-02'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - CheckNameAvailability
      operationId: NameAvailability_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: Input to check.
        required: true
      summary: >-
        Check the availability of a resource name without creating the resource.
        This is needed for resources where name is globally unique, such as a
        CDN endpoint.
  /providers/Microsoft.Cdn/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Operations
      operationId: Operations_List
      summary: Lists all of the available CDN REST API operations.
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_ListBySubscriptionId
      summary: Lists the CDN profiles within an Azure subscription.
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles':
    get:
      parameters:
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_ListByResourceGroup
      summary: Lists the CDN profiles within a resource group.
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}':
    delete:
      parameters:
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_DeleteIfExists
      summary: >-
        Deletes an existing CDN profile with the specified parameters. Deleting
        a profile will result in the deletion of all subresources including
        endpoints, origins and custom domains.
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_Get
      summary: Gets a CDN profile with the specified parameters.
    patch:
      parameters:
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateParameters'
        description: Profile properties needed for update.
        required: true
      summary: Updates an existing CDN profile with the specified parameters.
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Created
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Accepted and  the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileCreateParameters'
        description: Profile properties needed for creation.
        required: true
      summary: Creates a new CDN profile with the specified parameters.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints':
    get:
      parameters:
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_ListByProfile
      summary: Lists existing CDN endpoints within a profile.
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}':
    delete:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_DeleteIfExists
      summary: Deletes an existing CDN endpoint with the specified parameters.
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_Get
      summary: Gets an existing CDN endpoint with the specified parameters.
    patch:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and  the operation will complete asynchronously
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed
      tags:
        - Endpoints
      operationId: Endpoints_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdateParameters'
        description: Endpoint properties
        required: true
      summary: >-
        Updates an existing CDN endpoint with the specified parameters. Only
        tags and OriginHostHeader can be updated after creating an endpoint. To
        update origins, use the Update Origin operation. To update custom
        domains, use the Update Custom Domain operation.
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Created
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointCreateParameters'
        description: Endpoint properties
        required: true
      summary: Creates a new CDN endpoint with the specified parameters.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains':
    get:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - CustomDomains
      operationId: CustomDomains_ListByEndpoint
      summary: Lists the existing CDN custom domains within an endpoint.
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}':
    delete:
      parameters:
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - CustomDomains
      operationId: CustomDomains_DeleteIfExists
      summary: Deletes an existing CDN custom domain within an endpoint.
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - CustomDomains
      operationId: CustomDomains_Get
      summary: Gets an existing CDN custom domain within an endpoint.
    patch:
      parameters:
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - CustomDomains
      operationId: CustomDomains_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDomainParameters'
        description: Custom domain properties to update.
        required: true
      summary: Updates an existing CDN custom domain within an endpoint.
    put:
      parameters:
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: Created
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - CustomDomains
      operationId: CustomDomains_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDomainParameters'
        description: Custom domain properties required for creation.
        required: true
      summary: Creates a new CDN custom domain within an endpoint.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load':
    post:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_LoadContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadParameters'
        description: The path to the content to be loaded. Path should describe a file.
        required: true
      summary: Forcibly pre-loads CDN endpoint content.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins':
    get:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OriginListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Origins
      operationId: Origins_ListByEndpoint
      summary: Lists the existing CDN origins within an endpoint.
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}':
    delete:
      parameters:
        - description: Name of the origin. Must be unique within endpoint.
          in: path
          name: originName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Origins
      operationId: Origins_DeleteIfExists
      summary: Deletes an existing CDN origin within an endpoint.
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: >-
            Name of the origin, an arbitrary value but it needs to be unique
            under endpoint
          in: path
          name: originName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Origins
      operationId: Origins_Get
      summary: Gets an existing CDN origin within an endpoint.
    patch:
      parameters:
        - description: Name of the origin. Must be unique within endpoint.
          in: path
          name: originName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Origins
      operationId: Origins_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OriginParameters'
        description: Origin properties
        required: true
      summary: Updates an existing CDN origin within an endpoint.
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: >-
            Name of the origin, an arbitrary value but it needs to be unique
            under endpoint
          in: path
          name: originName
          required: true
          schema:
            type: string
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Created
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Origins
      operationId: Origins_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OriginParameters'
        description: Origin properties
        required: true
      summary: Creates a new CDN origin within an endpoint.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge':
    post:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_PurgeContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeParameters'
        description: >-
          The path to the content to be purged. Path can describe a file or
          directory.
        required: true
      summary: Forcibly purges CDN endpoint content.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start':
    post:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_Start
      summary: Starts an existing stopped CDN endpoint.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop':
    post:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_Stop
      summary: Stops an existing running CDN endpoint.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain':
    post:
      parameters:
        - description: Name of the endpoint within the CDN profile.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCustomDomainOutput'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Endpoints
      operationId: Endpoints_ValidateCustomDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCustomDomainInput'
        description: Custom domain to validate.
        required: true
      summary: >-
        Validates a custom domain mapping to ensure it maps to the correct CNAME
        in DNS.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri':
    post:
      parameters:
        - description: Name of the CDN profile within the resource group.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: Name of the resource group within the Azure subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoUri'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      tags:
        - Profiles
      operationId: Profiles_GenerateSsoUri
      summary: >-
        Generates a dynamic SSO URI used to sign in to the CDN Supplemental
        Portal used for advanced management tasks, such as Country Filtering,
        Advanced HTTP Reports, and Real-time Stats and Alerts. The SSO URI
        changes approximately every 10 minutes.
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. Current version
        is 2016-04-02
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    OriginParameters:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OriginParameters'
      description: Origin properties
      required: true
  schemas:
    CheckNameAvailabilityInput:
      description: Input of CheckNameAvailability API.
      properties:
        name:
          description: The resource name to validate.
          type: string
        type:
          $ref: '#/components/schemas/ResourceType'
          description: The type of the resource whose name is to be validated.
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityOutput:
      description: Output of check name availability API.
      properties:
        Message:
          description: The detailed error message describing why the name is not available.
          type: string
        NameAvailable:
          description: Indicates whether the name is available.
          type: boolean
        Reason:
          description: The reason why the name is not available.
          type: string
      type: object
    CustomDomain:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        CDN CustomDomain represents a mapping between a user specified domain
        name and a CDN endpoint. This is to use custom domain names to represent
        the URLs for branding purposes.
      properties:
        properties:
          $ref: '#/components/schemas/CustomDomainProperties'
          x-ms-client-flatten: true
      type: object
    CustomDomainListResult:
      properties:
        value:
          description: List of CDN CustomDomains within an endpoint.
          items:
            $ref: '#/components/schemas/CustomDomain'
          type: array
      type: object
    CustomDomainParameters:
      description: CustomDomain properties required for custom domain creation or update.
      properties:
        properties:
          $ref: '#/components/schemas/CustomDomainPropertiesParameters'
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    CustomDomainProperties:
      properties:
        hostName:
          description: The host name of the custom domain. Must be a domain name.
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning status of the custom domain.
        resourceState:
          description: Resource status of the custom domain.
          enum:
            - Creating
            - Active
            - Deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: CustomDomainResourceState
      required:
        - hostName
      type: object
    CustomDomainPropertiesParameters:
      properties:
        hostName:
          description: The host name of the custom domain. Must be a domain name.
          type: string
      required:
        - hostName
      type: object
    DeepCreatedOrigin:
      description: Deep created origins within a CDN endpoint.
      properties:
        name:
          description: Origin name
          type: string
        properties:
          $ref: '#/components/schemas/DeepCreatedOriginProperties'
          x-ms-client-flatten: true
      required:
        - name
      type: object
      x-ms-azure-resource: true
    DeepCreatedOriginProperties:
      description: Properties of deep created origin on a CDN endpoint.
      properties:
        hostName:
          description: >-
            The address of the origin. Domain names, IPv4 addresses, and IPv6
            addresses are supported.
          type: string
        httpPort:
          description: The value of the HTTP port. Must be between 1 and 65535
          type: integer
        httpsPort:
          description: The value of the HTTPS port. Must be between 1 and 65535
          type: integer
      required:
        - hostName
      type: object
      x-ms-azure-resource: true
    Endpoint:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: >-
        CDN endpoint is the entity within a CDN profile containing configuration
        information regarding caching behaviors and origins. The CDN endpoint is
        exposed using the URL format <endpointname>.azureedge.net by default,
        but custom domains can also be created.
      properties:
        properties:
          $ref: '#/components/schemas/EndpointProperties'
          x-ms-client-flatten: true
      type: object
    EndpointCreateParameters:
      description: Endpoint properties required for new endpoint creation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Endpoint tags
          type: object
        location:
          description: Endpoint location
          type: string
        properties:
          $ref: '#/components/schemas/EndpointPropertiesCreateParameters'
          x-ms-client-flatten: true
      required:
        - location
      type: object
      x-ms-azure-resource: true
    EndpointListResult:
      properties:
        value:
          description: List of CDN endpoints within a profile
          items:
            $ref: '#/components/schemas/Endpoint'
          type: array
      type: object
    EndpointProperties:
      properties:
        contentTypesToCompress:
          description: >-
            List of content types on which compression will be applied. The
            value for the elements should be a valid MIME type.
          items:
            type: string
          type: array
        hostName:
          description: 'The host name of the endpoint {endpointName}.{DNSZone}'
          readOnly: true
          type: string
        isCompressionEnabled:
          description: >-
            Indicates whether the compression is enabled. Default value is
            false. If compression is enabled, the content transferred from cdn
            endpoint to end user will be compressed. The requested content must
            be larger than 1 byte and smaller than 1 MB.
          type: boolean
        isHttpAllowed:
          description: >-
            Indicates whether HTTP traffic is allowed on the endpoint. Default
            value is true. At least one protocol (HTTP or HTTPS) must be
            allowed.
          type: boolean
        isHttpsAllowed:
          description: >-
            Indicates whether https traffic is allowed on the endpoint. Default
            value is true. At least one protocol (HTTP or HTTPS) must be
            allowed.
          type: boolean
        originHostHeader:
          description: >-
            The host header the CDN provider will send along with content
            requests to origins. The default value is the host name of the
            origin.
          type: string
        originPath:
          description: The path used for origin requests.
          type: string
        origins:
          description: >-
            The set of origins for the CDN endpoint. When multiple origins
            exist, the first origin will be used as primary and rest will be
            used as failover options.
          items:
            $ref: '#/components/schemas/DeepCreatedOrigin'
          type: array
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning status of the endpoint.
        queryStringCachingBehavior:
          $ref: '#/components/schemas/QueryStringCachingBehavior'
          description: Defines the query string caching behavior.
        resourceState:
          description: Resource status of the endpoint.
          enum:
            - Creating
            - Deleting
            - Running
            - Starting
            - Stopped
            - Stopping
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: EndpointResourceState
      type: object
    EndpointPropertiesCreateParameters:
      properties:
        contentTypesToCompress:
          description: >-
            List of content types on which compression will be applied. The
            value for the elements should be a valid MIME type.
          items:
            type: string
          type: array
        isCompressionEnabled:
          description: >-
            Indicates whether content compression is enabled. Default value is
            false. If compression is enabled, the content transferred from the
            CDN endpoint to the end user will be compressed. The requested
            content must be larger than 1 byte and smaller than 1 MB.
          type: boolean
        isHttpAllowed:
          description: >-
            Indicates whether HTTP traffic is allowed on the endpoint. Default
            value is true. At least one protocol (HTTP or HTTPS) must be
            allowed.
          type: boolean
        isHttpsAllowed:
          description: >-
            Indicates whether https traffic is allowed on the endpoint. Default
            value is true. At least one protocol (HTTP or HTTPS) must be
            allowed.
          type: boolean
        originHostHeader:
          description: >-
            The host header CDN provider will send along with content requests
            to origins. The default value is the host name of the origin.
          type: string
        originPath:
          description: The path used for origin requests.
          type: string
        origins:
          description: >-
            The set of origins for the CDN endpoint. When multiple origins
            exist, the first origin will be used as primary and rest will be
            used as failover options.
          items:
            $ref: '#/components/schemas/DeepCreatedOrigin'
          type: array
        queryStringCachingBehavior:
          $ref: '#/components/schemas/QueryStringCachingBehavior'
          description: Defines the query string caching behavior.
      required:
        - origins
      type: object
    EndpointPropertiesUpdateParameters:
      properties:
        contentTypesToCompress:
          description: >-
            List of content types on which compression will be applied. The
            value for the elements should be a valid MIME type.
          items:
            type: string
          type: array
        isCompressionEnabled:
          description: >-
            Indicates whether content compression is enabled. Default value is
            false. If compression is enabled, the content transferred from the
            CDN endpoint to the end user will be compressed. The requested
            content must be larger than 1 byte and smaller than 1 MB.
          type: boolean
        isHttpAllowed:
          description: >-
            Indicates whether HTTP traffic is allowed on the endpoint. Default
            value is true. At least one protocol (HTTP or HTTPS) must be
            allowed.
          type: boolean
        isHttpsAllowed:
          description: >-
            Indicates whether HTTPS traffic is allowed on the endpoint. Default
            value is true. At least one protocol (HTTP or HTTPS) must be
            allowed.
          type: boolean
        originHostHeader:
          description: >-
            The host header the CDN provider will send along with content
            requests to origins. The default value is the host name of the
            origin.
          type: string
        originPath:
          description: The path used for origin requests.
          type: string
        queryStringCachingBehavior:
          $ref: '#/components/schemas/QueryStringCachingBehavior'
          description: Defines the query string caching behavior
      type: object
    EndpointUpdateParameters:
      description: Endpoint properties required for new endpoint creation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Endpoint tags
          type: object
        properties:
          $ref: '#/components/schemas/EndpointPropertiesUpdateParameters'
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    ErrorResponse:
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LoadParameters:
      description: Parameters required for endpoint load.
      properties:
        contentPaths:
          description: The path to the content to be loaded. Should describe a file path.
          items:
            type: string
          type: array
      required:
        - contentPaths
      type: object
    Operation:
      description: CDN REST API operation
      properties:
        display:
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.Cdn'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: Profile, endpoint,
                etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      properties:
        value:
          description: List of CDN operations supported by the CDN resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Origin:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        CDN origin is the source of the content being delivered via CDN. When
        the edge nodes represented by an endpoint do not have the requested
        content cached, they attempt to fetch it from one or more of the
        configured origins.
      properties:
        properties:
          $ref: '#/components/schemas/OriginProperties'
          x-ms-client-flatten: true
      type: object
    OriginListResult:
      properties:
        value:
          description: List of CDN origins within an endpoint
          items:
            $ref: '#/components/schemas/Origin'
          type: array
      type: object
    OriginParameters:
      description: Origin properties needed for origin creation or update.
      properties:
        properties:
          $ref: '#/components/schemas/OriginPropertiesParameters'
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    OriginProperties:
      properties:
        hostName:
          description: >-
            The address of the origin. Domain names, IPv4 addresses, and IPv6
            addresses are supported.
          type: string
        httpPort:
          description: The value of the HTTP port. Must be between 1 and 65535.
          type: integer
        httpsPort:
          description: The value of the https port. Must be between 1 and 65535.
          type: integer
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning status of the origin.
        resourceState:
          description: Resource status of the origin.
          enum:
            - Creating
            - Active
            - Deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: OriginResourceState
      required:
        - hostName
      type: object
    OriginPropertiesParameters:
      properties:
        hostName:
          description: >-
            The address of the origin. Domain names, IPv4 addresses, and IPv6
            addresses are supported.
          type: string
        httpPort:
          description: The value of the HTTP port. Must be between 1 and 65535.
          type: integer
        httpsPort:
          description: The value of the HTTPS port. Must be between 1 and 65535.
          type: integer
      required:
        - hostName
      type: object
    Profile:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: >-
        CDN profile represents the top level resource and the entry point into
        the CDN API. This allows users to set up a logical grouping of endpoints
        in addition to creating shared configuration settings and selecting
        pricing tiers and providers.
      properties:
        properties:
          $ref: '#/components/schemas/ProfileProperties'
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU (pricing tier) of the CDN profile.
      type: object
    ProfileCreateParameters:
      description: Profile properties required for profile creation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Profile tags
          type: object
        location:
          description: Profile location
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU (pricing tier) of the CDN profile.
      required:
        - location
        - sku
      type: object
      x-ms-azure-resource: true
    ProfileListResult:
      properties:
        value:
          description: List of CDN profiles within a resource group.
          items:
            $ref: '#/components/schemas/Profile'
          type: array
      type: object
    ProfileProperties:
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning status of the profile.
        resourceState:
          description: Resource status of the profile.
          enum:
            - Creating
            - Active
            - Deleting
            - Disabled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProfileResourceState
      type: object
    ProfileUpdateParameters:
      description: Profile properties required for profile update.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Profile tags
          type: object
      required:
        - tags
      type: object
      x-ms-azure-resource: true
    ProvisioningState:
      description: Provisioning status of the resource.
      enum:
        - Creating
        - Succeeded
        - Failed
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: false
        name: ProvisioningState
    PurgeParameters:
      description: Parameters required for endpoint purge.
      properties:
        contentPaths:
          description: >-
            The path to the content to be purged. Can describe a file path or a
            wild card directory.
          items:
            type: string
          type: array
      required:
        - contentPaths
      type: object
    QueryStringCachingBehavior:
      description: Defines the query string caching behavior.
      enum:
        - IgnoreQueryString
        - BypassCaching
        - UseQueryString
        - NotSet
      type: string
      x-ms-enum:
        modelAsString: false
        name: QueryStringCachingBehavior
    Resource:
      properties:
        id:
          description: Resource ID
          readOnly: true
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceType:
      description: Type of CDN resource used in CheckNameAvailability.
      enum:
        - Microsoft.Cdn/Profiles/Endpoints
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: false
        name: ResourceType
    Sku:
      description: The SKU (pricing tier) of the CDN profile.
      properties:
        name:
          description: Name of the pricing tier
          enum:
            - Standard_Verizon
            - Premium_Verizon
            - Custom_Verizon
            - Standard_Akamai
          type: string
          x-ms-enum:
            modelAsString: false
            name: SkuName
      type: object
    SsoUri:
      description: SSO URI required to login to third party web portal.
      properties:
        ssoUriValue:
          description: The URI used to login to third party web portal.
          type: string
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: ARM tracked resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        location:
          description: Resource location
          type: string
      required:
        - location
        - tags
      type: object
    ValidateCustomDomainInput:
      description: Input of the custom domain to be validated.
      properties:
        hostName:
          description: The host name of the custom domain. Must be a domain name.
          type: string
      required:
        - hostName
      type: object
    ValidateCustomDomainOutput:
      description: Output of custom domain validation.
      properties:
        customDomainValidated:
          description: Indicates whether the custom domain is validated or not.
          type: boolean
        message:
          description: The message describing why the custom domain is not valid.
          type: string
        reason:
          description: The reason why the custom domain is not valid.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

