openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{scope}/providers/Microsoft.Security/informationProtectionPolicies':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - InformationProtectionPolicies
      description: Information protection policies of a specific management group.
      operationId: InformationProtectionPolicies_List
      x-ms-examples:
        Get information protection policies:
          $ref: >-
            ./examples/InformationProtectionPolicies/ListInformationProtectionPolicies_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.Security/informationProtectionPolicies/{informationProtectionPolicyName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
        - $ref: '#/components/parameters/InformationProtectionPolicyName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - InformationProtectionPolicies
      description: Details of the information protection policy.
      operationId: InformationProtectionPolicies_Get
      x-ms-examples:
        Get the customized information protection policy for a management group:
          $ref: >-
            ./examples/InformationProtectionPolicies/GetCustomInformationProtectionPolicy_example.json
        Get the effective information protection policy for a management group:
          $ref: >-
            ./examples/InformationProtectionPolicies/GetEffectiveInformationProtectionPolicy_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
        - $ref: '#/components/parameters/InformationProtectionPolicyName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicy'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - InformationProtectionPolicies
      description: Details of the information protection policy.
      operationId: InformationProtectionPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InformationProtectionPolicy'
        description: Information protection policy.
        required: true
      x-ms-examples:
        Create or update an information protection policy for a management group:
          $ref: >-
            ./examples/InformationProtectionPolicies/CreateOrUpdateInformationProtectionPolicy_example.json
components:
  parameters:
    InformationProtectionPolicyName:
      description: Name of the information protection policy.
      in: path
      name: informationProtectionPolicyName
      required: true
      schema:
        enum:
          - effective
          - custom
        type: string
      x-ms-enum:
        modelAsString: true
        name: InformationProtectionPolicyName
      x-ms-parameter-location: method
  schemas:
    InformationProtectionKeyword:
      description: The information type keyword.
      properties:
        canBeNumeric:
          description: >-
            Indicates whether the keyword can be applied on numeric types or
            not.
          type: boolean
        custom:
          description: Indicates whether the keyword is custom or not.
          type: boolean
        excluded:
          description: Indicates whether the keyword is excluded or not.
          type: boolean
        pattern:
          description: The keyword pattern.
          type: string
      type: object
    InformationProtectionPolicy:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Information protection policy.
      properties:
        properties:
          $ref: '#/components/schemas/InformationProtectionPolicyProperties'
          description: Information protection policy data
          x-ms-client-flatten: true
      type: object
    InformationProtectionPolicyList:
      description: Information protection policies response.
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of information protection policies.
          items:
            $ref: '#/components/schemas/InformationProtectionPolicy'
          type: array
      readOnly: true
      type: object
    InformationProtectionPolicyProperties:
      description: describes properties of an information protection policy.
      properties:
        informationTypes:
          additionalProperties:
            $ref: '#/components/schemas/InformationType'
            type: object
          description: The sensitivity information types.
          type: object
        labels:
          additionalProperties:
            $ref: '#/components/schemas/SensitivityLabel'
            type: object
          description: Dictionary of sensitivity labels.
          type: object
        lastModifiedUtc:
          description: Describes the last UTC time the policy was modified.
          format: date-time
          readOnly: true
          type: string
        version:
          description: Describes the version of the policy.
          readOnly: true
          type: string
      type: object
    InformationType:
      description: The information type.
      properties:
        custom:
          description: Indicates whether the information type is custom or not.
          type: boolean
        description:
          description: The description of the information type.
          type: string
        displayName:
          description: The name of the information type.
          type: string
        enabled:
          description: Indicates whether the information type is enabled or not.
          type: boolean
        keywords:
          description: The information type keywords.
          items:
            $ref: '#/components/schemas/InformationProtectionKeyword'
          type: array
        order:
          description: The order of the information type.
          format: int32
          type: integer
        recommendedLabelId:
          description: >-
            The recommended label id to be associated with this information
            type.
          format: uuid
          type: string
      type: object
    SensitivityLabel:
      description: The sensitivity label.
      properties:
        description:
          description: The description of the sensitivity label.
          type: string
        displayName:
          description: The name of the sensitivity label.
          type: string
        enabled:
          description: Indicates whether the label is enabled or not.
          type: boolean
        order:
          description: The order of the sensitivity label.
          format: int32
          type: integer
        rank:
          description: The rank of the sensitivity label.
          enum:
            - None
            - Low
            - Medium
            - High
            - Critical
          type: string
          x-ms-enum:
            modelAsString: false
            name: rank
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

