openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-07-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices':
    get:
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoApprovedPrivateLinkServicesResult'
          description: >-
            Request successful. Returns all of the private link service ids that
            can be linked to a Private Endpoint with auto approved in this
            subscription in this region.
      tags:
        - PrivateLinkServices
      description: >-
        Returns all of the private link service ids that can be linked to a
        Private Endpoint with auto approved in this subscription in this region.
      operationId: PrivateLinkServices_ListAutoApprovedPrivateLinkServices
      x-ms-examples:
        Get list of private link service id that can be linked to a private end point with auto approved:
          $ref: ./examples/AutoApprovedPrivateLinkServicesGet.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility':
    post:
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceVisibility'
          description: >-
            Request successful. Returns whether the subscription is visible to
            private link service.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - PrivateLinkServices
      description: Checks whether the subscription is visible to private link service.
      operationId: PrivateLinkServices_CheckPrivateLinkServiceVisibility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
        description: The request body of CheckPrivateLinkService API call.
        required: true
      x-ms-examples:
        Check private link service visibility:
          $ref: ./examples/CheckPrivateLinkServiceVisibility.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateLinkServices':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceListResult'
          description: >-
            Request successful. The operation returns a list of
            PrivateLinkService resources.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkServices
      description: Gets all private link service in a subscription.
      operationId: PrivateLinkServices_ListBySubscription
      x-ms-examples:
        List all private list service:
          $ref: ./examples/PrivateLinkServiceListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices':
    get:
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoApprovedPrivateLinkServicesResult'
          description: >-
            Request successful. Returns all of the private link service ids that
            can be linked to a Private Endpoint with auto approved in this
            subscription in this region.
      tags:
        - PrivateLinkServices
      description: >-
        Returns all of the private link service ids that can be linked to a
        Private Endpoint with auto approved in this subscription in this region.
      operationId: PrivateLinkServices_ListAutoApprovedPrivateLinkServicesByResourceGroup
      x-ms-examples:
        Get list of private link service id that can be linked to a private end point with auto approved:
          $ref: ./examples/AutoApprovedPrivateLinkServicesResourceGroupGet.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility':
    post:
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceVisibility'
          description: >-
            Request successful. Returns whether the subscription is visible to
            private link service.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - PrivateLinkServices
      description: >-
        Checks whether the subscription is visible to private link service in
        the specified resource group.
      operationId: PrivateLinkServices_CheckPrivateLinkServiceVisibilityByResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
        description: The request body of CheckPrivateLinkService API call.
        required: true
      x-ms-examples:
        Check private link service visibility:
          $ref: ./examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceListResult'
          description: >-
            Request successful. The operation returns a list of
            privateLinkService resources.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkServices
      description: Gets all private link services in a resource group.
      operationId: PrivateLinkServices_List
      x-ms-examples:
        List private link service in resource group:
          $ref: ./examples/PrivateLinkServiceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the private link service.
          in: path
          name: serviceName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkServices
      description: Deletes the specified private link service.
      operationId: PrivateLinkServices_Delete
      x-ms-examples:
        Delete private link service:
          $ref: ./examples/PrivateLinkServiceDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the private link service.
          in: path
          name: serviceName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
          description: >-
            Request successful. The operation returns the resulting
            PrivateLinkService resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkServices
      description: Gets the specified private link service by resource group.
      operationId: PrivateLinkServices_Get
      x-ms-examples:
        Get private link service:
          $ref: ./examples/PrivateLinkServiceGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the private link service.
          in: path
          name: serviceName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
          description: >-
            Update successful. The operation returns the resulting
            privateLinkService resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
          description: >-
            Create successful. The operation returns the resulting
            privateLinkService resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkService
      description: >-
        Creates or updates an private link service in the specified resource
        group.
      operationId: PrivateLinkServices_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkService'
        description: >-
          Parameters supplied to the create or update private link service
          operation.
        required: true
      x-ms-examples:
        Create private link service:
          $ref: ./examples/PrivateLinkServiceCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the private link service.
          in: path
          name: serviceName
          required: true
          schema:
            type: string
        - description: The name of the private end point connection.
          in: path
          name: peConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkServices
      description: >-
        Delete private end point connection for a private link service in a
        subscription.
      operationId: PrivateLinkServices_DeletePrivateEndpointConnection
      x-ms-examples:
        delete private end point connection for a private link service:
          $ref: ./examples/PrivateLinkServiceDeletePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the private link service.
          in: path
          name: serviceName
          required: true
          schema:
            type: string
        - description: The name of the private end point connection.
          in: path
          name: peConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: >-
            Update successful. The operation returns the resulting
            PrivateEndpointConnection resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - PrivateLinkServices
      description: >-
        Approve or reject private end point connection for a private link
        service in a subscription.
      operationId: PrivateLinkServices_UpdatePrivateEndpointConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: >-
          Parameters supplied to approve or reject the private end point
          connection.
        required: true
      x-ms-examples:
        approve or reject private end point connection for a private link service:
          $ref: ./examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
components:
  requestBodies:
    CheckPrivateLinkServiceVisibilityRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
      description: The request body of CheckPrivateLinkService API call.
      required: true
  schemas:
    AutoApprovedPrivateLinkService:
      description: The information of an AutoApprovedPrivateLinkService.
      properties:
        privateLinkService:
          description: The id of the private link service resource.
          type: string
      type: object
    AutoApprovedPrivateLinkServicesResult:
      description: >-
        An array of private link service id that can be linked to a private end
        point with auto approved.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: An array of auto approved private link service.
          items:
            $ref: '#/components/schemas/AutoApprovedPrivateLinkService'
          type: array
      type: object
    CheckPrivateLinkServiceVisibilityRequest:
      description: Request body of the CheckPrivateLinkServiceVisibility API service call.
      properties:
        privateLinkServiceAlias:
          description: The alias of the private link service.
          type: string
      type: object
    PrivateEndpointConnection:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: PrivateEndpointConnection resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Properties of the private end point connection.
          x-ms-client-flatten: true
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of the PrivateEndpointConnectProperties.
      properties:
        privateEndpoint:
          $ref: ./privateEndpoint.json#/definitions/PrivateEndpoint
          description: The resource of private end point.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: >-
            A collection of information about the state of the connection
            between service consumer and provider.
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private endpoint connection resource.
      type: object
    PrivateLinkService:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Private link service resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkServiceProperties'
          description: Properties of the private link service.
          x-ms-client-flatten: true
      type: object
    PrivateLinkServiceConnectionState:
      description: >-
        A collection of information about the state of the connection between
        service consumer and provider.
      properties:
        actionsRequired:
          description: >-
            A message indicating if changes on the service provider require any
            updates on the consumer.
          type: string
        description:
          description: The reason for approval/rejection of the connection.
          type: string
        status:
          description: >-
            Indicates whether the connection has been Approved/Rejected/Removed
            by the owner of the service.
          type: string
      type: object
    PrivateLinkServiceIpConfiguration:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: The private link service ip configuration.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: The name of private link service ip configuration.
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkServiceIpConfigurationProperties'
          description: Properties of the private link service ip configuration.
          x-ms-client-flatten: true
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
    PrivateLinkServiceIpConfigurationProperties:
      description: Properties of private link service IP configuration.
      properties:
        primary:
          description: Whether the ip configuration is primary or not.
          type: boolean
        privateIPAddress:
          description: The private IP address of the IP configuration.
          type: string
        privateIPAddressVersion:
          $ref: ./network.json#/definitions/IPVersion
          description: >-
            Whether the specific IP configuration is IPv4 or IPv6. Default is
            IPv4.
        privateIPAllocationMethod:
          $ref: ./network.json#/definitions/IPAllocationMethod
          description: The private IP address allocation method.
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: >-
            The provisioning state of the private link service IP configuration
            resource.
        subnet:
          $ref: ./virtualNetwork.json#/definitions/Subnet
          description: The reference to the subnet resource.
      type: object
    PrivateLinkServiceListResult:
      description: Response for the ListPrivateLinkService API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of PrivateLinkService resources in a resource group.
          items:
            $ref: '#/components/schemas/PrivateLinkService'
          type: array
      type: object
    PrivateLinkServiceProperties:
      description: Properties of the private link service.
      properties:
        alias:
          description: The alias of the private link service.
          readOnly: true
          type: string
        autoApproval:
          allOf:
            - $ref: '#/components/schemas/ResourceSet'
          description: The auto-approval list of the private link service.
        fqdns:
          description: The list of Fqdn.
          items:
            type: string
          type: array
        ipConfigurations:
          description: An array of private link service IP configurations.
          items:
            $ref: '#/components/schemas/PrivateLinkServiceIpConfiguration'
          type: array
        loadBalancerFrontendIpConfigurations:
          description: An array of references to the load balancer IP configurations.
          items:
            $ref: ./loadBalancer.json#/definitions/FrontendIPConfiguration
          type: array
        networkInterfaces:
          description: >-
            An array of references to the network interfaces created for this
            private link service.
          items:
            $ref: ./networkInterface.json#/definitions/NetworkInterface
          readOnly: true
          type: array
        privateEndpointConnections:
          description: An array of list about connections to the private endpoint.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          type: array
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private link service resource.
        visibility:
          allOf:
            - $ref: '#/components/schemas/ResourceSet'
          description: The visibility list of the private link service.
      type: object
    PrivateLinkServiceVisibility:
      description: Response for the CheckPrivateLinkServiceVisibility API service call.
      properties:
        visible:
          description: Private Link Service Visibility (True/False).
          type: boolean
      type: object
    ResourceSet:
      description: The base resource set for visibility and auto-approval.
      properties:
        subscriptions:
          description: The list of subscriptions.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

