{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.",
    "title": "KeyVaultManagementClient",
    "version": "2018-02-14-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2018-02-14-preview/keyvault.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            },
            "description": "OK -- Operation to check the vault name availability was successful."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Checks that the vault name is valid and is not already in use.",
        "operationId": "Vaults_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultCheckNameAvailabilityParameters"
              }
            }
          },
          "description": "The name of the vault.",
          "required": true
        },
        "x-ms-examples": {
          "Validate a vault name": {
            "$ref": "./examples/checkVaultNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedVaults": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedVaultListResult"
                }
              }
            },
            "description": "Retrieved information about all deleted key vaults in a subscription."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Gets information about the deleted vaults in a subscription.",
        "operationId": "Vaults_ListDeleted",
        "x-ms-examples": {
          "List deleted vaults in the specified subscription": {
            "$ref": "./examples/listDeletedVaults.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the vault.",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The location of the deleted vault.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedVault"
                }
              }
            },
            "description": "Retrieved information about the deleted vault."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Gets the deleted Azure key vault.",
        "operationId": "Vaults_GetDeleted",
        "x-ms-examples": {
          "Retrieve a deleted vault": {
            "$ref": "./examples/getDeletedVault.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}/purge": {
      "post": {
        "parameters": [
          {
            "description": "The name of the soft-deleted vault.",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The location of the soft-deleted vault.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The vault is purged."
          },
          "202": {
            "description": "Vault is being purged."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Permanently deletes the specified vault. aka Purges the deleted Azure key vault.",
        "operationId": "Vaults_PurgeDeleted",
        "x-ms-examples": {
          "Purge a deleted vault": {
            "$ref": "./examples/purgeDeletedVault.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/vaults": {
      "get": {
        "parameters": [
          {
            "description": "Maximum number of results to return.",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultListResult"
                }
              }
            },
            "description": "Get information about all key vaults in the specified subscription."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "The List operation gets information about the vaults associated with the subscription.",
        "operationId": "Vaults_ListBySubscription",
        "x-ms-examples": {
          "List vaults in the specified subscription": {
            "$ref": "./examples/listVaultBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults": {
      "get": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the vault belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return.",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultListResult"
                }
              }
            },
            "description": "Get information about all key vaults in the specified resource group."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "The List operation gets information about the vaults associated with the subscription and within the specified resource group.",
        "operationId": "Vaults_ListByResourceGroup",
        "x-ms-examples": {
          "List vaults in the specified resource group": {
            "$ref": "./examples/listVaultByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the vault belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vault to delete",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Deletes the specified Azure key vault.",
        "operationId": "Vaults_Delete",
        "x-ms-examples": {
          "Delete a vault": {
            "$ref": "./examples/deleteVault.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the vault belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vault.",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            },
            "description": "Retrieved vault"
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Gets the specified Azure key vault.",
        "operationId": "Vaults_Get",
        "x-ms-examples": {
          "Retrieve a vault": {
            "$ref": "./examples/getVault.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the server belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the vault",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{3,24}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            },
            "description": "Patched vault"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            },
            "description": "Patched vault"
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Update a key vault in the specified subscription.",
        "operationId": "Vaults_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultPatchParameters"
              }
            }
          },
          "description": "Parameters to patch the vault",
          "required": true
        },
        "x-ms-examples": {
          "Update an existing vault": {
            "$ref": "./examples/updateVault.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the server belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the vault",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{3,24}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            },
            "description": "Created or updated vault"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            },
            "description": "Created or updated vault"
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Create or update a key vault in the specified subscription.",
        "operationId": "Vaults_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultCreateOrUpdateParameters"
              }
            }
          },
          "description": "Parameters to create or update the vault",
          "required": true
        },
        "x-ms-examples": {
          "Create a new vault or update an existing vault": {
            "$ref": "./examples/createVault.json"
          },
          "Create or update a vault with network acls": {
            "$ref": "./examples/createVaultWithNetworkAcls.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/accessPolicies/{operationKind}": {
      "put": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the vault belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the vault",
            "in": "path",
            "name": "vaultName",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{3,24}$",
              "type": "string"
            }
          },
          {
            "description": "Name of the operation",
            "in": "path",
            "name": "operationKind",
            "required": true,
            "schema": {
              "enum": [
                "add",
                "replace",
                "remove"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": false,
              "name": "AccessPolicyUpdateKind"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccessPolicyParameters"
                }
              }
            },
            "description": "The updated access policies"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccessPolicyParameters"
                }
              }
            },
            "description": "The updated access policies"
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "Update access policies in a key vault in the specified subscription.",
        "operationId": "Vaults_UpdateAccessPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultAccessPolicyParameters"
              }
            }
          },
          "description": "Access policy to merge into the vault",
          "required": true
        },
        "x-ms-examples": {
          "Add an access policy, or update an access policy with new permissions": {
            "$ref": "./examples/updateAccessPoliciesAdd.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resources": {
      "get": {
        "parameters": [
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": true,
            "schema": {
              "enum": [
                "resourceType eq 'Microsoft.KeyVault/vaults'"
              ],
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return.",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Azure Resource Manager Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "enum": [
                "2015-11-01"
              ],
              "type": "string"
            },
            "x-ms-api-version": false
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResult"
                }
              }
            },
            "description": "Get information about all key vaults in the subscription."
          }
        },
        "tags": [
          "Vaults"
        ],
        "description": "The List operation gets information about the vaults associated with the subscription.",
        "operationId": "Vaults_List",
        "x-ms-examples": {
          "List vaults in the specified subscription": {
            "$ref": "./examples/listVault.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AccessPolicyEntry": {
        "description": "An identity that have access to the key vault. All identities in the array must use the same tenant ID as the key vault's tenant ID.",
        "properties": {
          "applicationId": {
            "description": " Application ID of the client making request on behalf of a principal",
            "format": "uuid",
            "type": "string"
          },
          "objectId": {
            "description": "The object ID of a user, service principal or security group in the Azure Active Directory tenant for the vault. The object ID must be unique for the list of access policies.",
            "type": "string"
          },
          "permissions": {
            "$ref": "#/components/schemas/Permissions",
            "description": "Permissions the identity has for keys, secrets and certificates."
          },
          "tenantId": {
            "description": "The Azure Active Directory tenant ID that should be used for authenticating requests to the key vault.",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "tenantId",
          "objectId",
          "permissions"
        ],
        "type": "object"
      },
      "CheckNameAvailabilityResult": {
        "description": "The CheckNameAvailability operation response.",
        "properties": {
          "message": {
            "description": "An error message explaining the Reason value in more detail.",
            "readOnly": true,
            "type": "string"
          },
          "nameAvailable": {
            "description": "A boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.",
            "readOnly": true,
            "type": "boolean"
          },
          "reason": {
            "description": "The reason that a vault name could not be used. The Reason element is only returned if NameAvailable is false.",
            "enum": [
              "AccountNameInvalid",
              "AlreadyExists"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "Reason"
            }
          }
        },
        "type": "object"
      },
      "DeletedVault": {
        "description": "Deleted vault information with extended details.",
        "properties": {
          "id": {
            "description": "The resource ID for the deleted key vault.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the key vault.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DeletedVaultProperties",
            "description": "Properties of the vault"
          },
          "type": {
            "description": "The resource type of the key vault.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeletedVaultListResult": {
        "description": "List of vaults",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of deleted vaults.",
            "type": "string"
          },
          "value": {
            "description": "The list of deleted vaults.",
            "items": {
              "$ref": "#/components/schemas/DeletedVault"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DeletedVaultProperties": {
        "description": "Properties of the deleted vault.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Tags of the original vault.",
            "readOnly": true,
            "type": "object"
          },
          "deletionDate": {
            "description": "The deleted date.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The location of the original vault.",
            "readOnly": true,
            "type": "string"
          },
          "scheduledPurgeDate": {
            "description": "The scheduled purged date.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "vaultId": {
            "description": "The resource id of the original vault.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "IPRule": {
        "description": "A rule governing the accessibility of a vault from a specific ip address or ip range.",
        "properties": {
          "value": {
            "description": "An IPv4 address range in CIDR notation, such as '124.56.78.91' (simple IP address) or '124.56.78.0/24' (all addresses that start with 124.56.78).",
            "type": "string"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "NetworkRuleSet": {
        "description": "A set of rules governing the network accessibility of a vault.",
        "properties": {
          "bypass": {
            "description": "Tells what traffic can bypass network rules. This can be 'AzureServices' or 'None'.  If not specified the default is 'AzureServices'.",
            "enum": [
              "AzureServices",
              "None"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "NetworkRuleBypassOptions"
            }
          },
          "defaultAction": {
            "description": "The default action when no rule from ipRules and from virtualNetworkRules match. This is only used after the bypass property has been evaluated.",
            "enum": [
              "Allow",
              "Deny"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "NetworkRuleAction"
            }
          },
          "ipRules": {
            "description": "The list of IP address rules.",
            "items": {
              "$ref": "#/components/schemas/IPRule"
            },
            "type": "array"
          },
          "virtualNetworkRules": {
            "description": "The list of virtual network rules.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Permissions": {
        "description": "Permissions the identity has for keys, secrets, certificates and storage.",
        "properties": {
          "certificates": {
            "description": "Permissions to certificates",
            "items": {
              "enum": [
                "get",
                "list",
                "delete",
                "create",
                "import",
                "update",
                "managecontacts",
                "getissuers",
                "listissuers",
                "setissuers",
                "deleteissuers",
                "manageissuers",
                "recover",
                "purge",
                "backup",
                "restore"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "CertificatePermissions"
              }
            },
            "type": "array"
          },
          "keys": {
            "description": "Permissions to keys",
            "items": {
              "enum": [
                "encrypt",
                "decrypt",
                "wrapKey",
                "unwrapKey",
                "sign",
                "verify",
                "get",
                "list",
                "create",
                "update",
                "import",
                "delete",
                "backup",
                "restore",
                "recover",
                "purge"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "KeyPermissions"
              }
            },
            "type": "array"
          },
          "secrets": {
            "description": "Permissions to secrets",
            "items": {
              "enum": [
                "get",
                "list",
                "set",
                "delete",
                "backup",
                "restore",
                "recover",
                "purge"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "SecretPermissions"
              }
            },
            "type": "array"
          },
          "storage": {
            "description": "Permissions to storage accounts",
            "items": {
              "enum": [
                "get",
                "list",
                "delete",
                "set",
                "update",
                "regeneratekey",
                "recover",
                "purge",
                "backup",
                "restore",
                "setsas",
                "listsas",
                "getsas",
                "deletesas"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "StoragePermissions"
              }
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Key Vault resource",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags that will be assigned to the key vault. ",
            "type": "object"
          },
          "id": {
            "description": "The Azure Resource Manager resource ID for the key vault.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The supported Azure location where the key vault should be created.",
            "type": "string"
          },
          "name": {
            "description": "The name of the key vault.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The resource type of the key vault.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceListResult": {
        "description": "List of vault resources.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of vault resources.",
            "type": "string"
          },
          "value": {
            "description": "The list of vault resources.",
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sku": {
        "description": "SKU details",
        "properties": {
          "family": {
            "description": "SKU family name",
            "enum": [
              "A"
            ],
            "type": "string",
            "x-ms-client-default": "A",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuFamily"
            }
          },
          "name": {
            "description": "SKU name to specify whether the key vault is a standard vault or a premium vault.",
            "enum": [
              "standard",
              "premium"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "SkuName"
            }
          }
        },
        "required": [
          "name",
          "family"
        ],
        "type": "object"
      },
      "Vault": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Resource information with extended details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/VaultProperties",
            "description": "Properties of the vault"
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "VaultAccessPolicyParameters": {
        "description": "Parameters for updating the access policy in a vault",
        "properties": {
          "id": {
            "description": "The resource id of the access policy.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The resource type of the access policy.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The resource name of the access policy.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VaultAccessPolicyProperties",
            "description": "Properties of the access policy"
          },
          "type": {
            "description": "The resource name of the access policy.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "VaultAccessPolicyProperties": {
        "description": "Properties of the vault access policy",
        "properties": {
          "accessPolicies": {
            "description": "An array of 0 to 16 identities that have access to the key vault. All identities in the array must use the same tenant ID as the key vault's tenant ID.",
            "items": {
              "$ref": "#/components/schemas/AccessPolicyEntry"
            },
            "type": "array"
          }
        },
        "required": [
          "accessPolicies"
        ],
        "type": "object"
      },
      "VaultCheckNameAvailabilityParameters": {
        "description": "The parameters used to check the availability of the vault name.",
        "properties": {
          "name": {
            "description": "The vault name.",
            "type": "string"
          },
          "type": {
            "description": "The type of resource, Microsoft.KeyVault/vaults",
            "enum": [
              "Microsoft.KeyVault/vaults"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "Type"
            }
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "VaultCreateOrUpdateParameters": {
        "description": "Parameters for creating or updating a vault",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags that will be assigned to the key vault.",
            "type": "object"
          },
          "location": {
            "description": "The supported Azure location where the key vault should be created.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VaultProperties",
            "description": "Properties of the vault"
          }
        },
        "required": [
          "location",
          "properties"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "VaultListResult": {
        "description": "List of vaults",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of vaults.",
            "type": "string"
          },
          "value": {
            "description": "The list of vaults.",
            "items": {
              "$ref": "#/components/schemas/Vault"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VaultPatchParameters": {
        "description": "Parameters for creating or updating a vault",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags that will be assigned to the key vault. ",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/VaultPatchProperties",
            "description": "Properties of the vault"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "VaultPatchProperties": {
        "description": "Properties of the vault",
        "properties": {
          "accessPolicies": {
            "description": "An array of 0 to 16 identities that have access to the key vault. All identities in the array must use the same tenant ID as the key vault's tenant ID.",
            "items": {
              "$ref": "#/components/schemas/AccessPolicyEntry"
            },
            "type": "array"
          },
          "createMode": {
            "description": "The vault's create mode to indicate whether the vault need to be recovered or not.",
            "enum": [
              "recover",
              "default"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "CreateMode"
            }
          },
          "enablePurgeProtection": {
            "description": "Property specifying whether protection against purge is enabled for this vault. Setting this property to true activates protection against purge for this vault and its content - only the Key Vault service may initiate a hard, irrecoverable deletion. The setting is effective only if soft delete is also enabled. Enabling this functionality is irreversible - that is, the property does not accept false as its value.",
            "type": "boolean"
          },
          "enableSoftDelete": {
            "description": "Property to specify whether the 'soft delete' functionality is enabled for this key vault. It does not accept false value.",
            "type": "boolean"
          },
          "enabledForDeployment": {
            "description": "Property to specify whether Azure Virtual Machines are permitted to retrieve certificates stored as secrets from the key vault.",
            "type": "boolean"
          },
          "enabledForDiskEncryption": {
            "description": "Property to specify whether Azure Disk Encryption is permitted to retrieve secrets from the vault and unwrap keys.",
            "type": "boolean"
          },
          "enabledForTemplateDeployment": {
            "description": "Property to specify whether Azure Resource Manager is permitted to retrieve secrets from the key vault.",
            "type": "boolean"
          },
          "networkAcls": {
            "$ref": "#/components/schemas/NetworkRuleSet",
            "description": "A collection of rules governing the accessibility of the vault from specific network locations."
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "SKU details"
          },
          "tenantId": {
            "description": "The Azure Active Directory tenant ID that should be used for authenticating requests to the key vault.",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VaultProperties": {
        "description": "Properties of the vault",
        "properties": {
          "accessPolicies": {
            "description": "An array of 0 to 1024 identities that have access to the key vault. All identities in the array must use the same tenant ID as the key vault's tenant ID.",
            "items": {
              "$ref": "#/components/schemas/AccessPolicyEntry"
            },
            "type": "array"
          },
          "createMode": {
            "description": "The vault's create mode to indicate whether the vault need to be recovered or not.",
            "enum": [
              "recover",
              "default"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "CreateMode"
            }
          },
          "enablePurgeProtection": {
            "description": "Property specifying whether protection against purge is enabled for this vault. Setting this property to true activates protection against purge for this vault and its content - only the Key Vault service may initiate a hard, irrecoverable deletion. The setting is effective only if soft delete is also enabled. Enabling this functionality is irreversible - that is, the property does not accept false as its value.",
            "type": "boolean"
          },
          "enableSoftDelete": {
            "description": "Property to specify whether the 'soft delete' functionality is enabled for this key vault. It does not accept false value.",
            "type": "boolean"
          },
          "enabledForDeployment": {
            "description": "Property to specify whether Azure Virtual Machines are permitted to retrieve certificates stored as secrets from the key vault.",
            "type": "boolean"
          },
          "enabledForDiskEncryption": {
            "description": "Property to specify whether Azure Disk Encryption is permitted to retrieve secrets from the vault and unwrap keys.",
            "type": "boolean"
          },
          "enabledForTemplateDeployment": {
            "description": "Property to specify whether Azure Resource Manager is permitted to retrieve secrets from the key vault.",
            "type": "boolean"
          },
          "networkAcls": {
            "$ref": "#/components/schemas/NetworkRuleSet",
            "description": "A collection of rules governing the accessibility of the vault from specific network locations."
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "SKU details"
          },
          "tenantId": {
            "description": "The Azure Active Directory tenant ID that should be used for authenticating requests to the key vault.",
            "format": "uuid",
            "type": "string"
          },
          "vaultUri": {
            "description": "The URI of the vault for performing operations on keys and secrets.",
            "type": "string"
          }
        },
        "required": [
          "tenantId",
          "sku"
        ],
        "type": "object"
      },
      "VirtualNetworkRule": {
        "description": "A rule governing the accessibility of a vault from a specific virtual network.",
        "properties": {
          "id": {
            "description": "Full resource id of a vnet subnet, such as '/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1'.",
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}