openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: '2019-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotSecuritySolutions':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solution
      description: >-
        Use this method to get the list of IoT Security solutions by
        subscription.
      operationId: IotSecuritySolution_ListBySubscription
      x-ms-examples:
        List IoT Security solutions by IoT Hub:
          $ref: >-
            ./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHub.json
        List IoT Security solutions by subscription:
          $ref: ./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solution
      description: >-
        Use this method to get the list IoT Security solutions organized by
        resource group.
      operationId: IotSecuritySolution_ListByResourceGroup
      x-ms-examples:
        List IoT Security solutions by resource group:
          $ref: ./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByRg.json
        List IoT Security solutions by resource group and IoT Hub:
          $ref: >-
            ./examples/IoTSecuritySolutions/GetIoTSecuritySolutionsListByIotHubAndRg.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}':
    delete:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
      responses:
        '200':
          description: Security Solution deleted.
        '204':
          description: Security Solution does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solution
      description: Use this method to delete yours IoT Security solution
      operationId: IotSecuritySolution_Delete
      x-ms-examples:
        Delete an IoT security solution:
          $ref: ./examples/IoTSecuritySolutions/DeleteIoTSecuritySolution.json
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionModel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solution
      description: >-
        User this method to get details of a specific IoT Security solution
        based on solution name
      operationId: IotSecuritySolution_Get
      x-ms-examples:
        Get a IoT security solution:
          $ref: ./examples/IoTSecuritySolutions/GetIoTSecuritySolution.json
    patch:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionModel'
          description: Updated
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solution
      description: >-
        Use this method to update existing IoT Security solution tags or user
        defined resources. To update other fields use the CreateOrUpdate method.
      operationId: IotSecuritySolution_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIotSecuritySolutionData'
        description: The security solution data
        required: true
      x-ms-examples:
        Use this method to update existing IoT Security solution:
          $ref: ./examples/IoTSecuritySolutions/UpdateIoTSecuritySolution.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionModel'
          description: Updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionModel'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solution
      description: Use this method to create or update yours IoT Security solution
      operationId: IotSecuritySolution_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IoTSecuritySolutionModel'
        description: The security solution data
        required: true
      x-ms-examples:
        Create or update a IoT security solution:
          $ref: ./examples/IoTSecuritySolutions/CreateIoTSecuritySolution.json
components:
  parameters:
    FilterParam:
      description: >-
        Filter the IoT Security solution with OData syntax. Supports filtering
        by iotHubs.
      in: query
      name: $filter
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SolutionName:
      description: The name of the IoT Security solution.
      in: path
      name: solutionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AdditionalWorkspacesProperties:
      description: Properties of the additional workspaces.
      properties:
        dataTypes:
          description: List of data types sent to workspace
          items:
            description: Data types sent to workspace.
            enum:
              - Alerts
              - RawEvents
            type: string
            x-ms-enum:
              modelAsString: true
              name: AdditionalWorkspaceDataType
          type: array
        type:
          default: Sentinel
          description: Workspace type.
          enum:
            - Sentinel
          type: string
          x-ms-enum:
            modelAsString: true
            name: AdditionalWorkspaceType
        workspace:
          description: Workspace resource id
          type: string
      type: object
    IoTSecuritySolutionModel:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
        - $ref: '#/components/schemas/TagsResource'
      description: IoT Security solution configuration and resource information.
      properties:
        location:
          description: The resource location.
          type: string
        properties:
          $ref: '#/components/schemas/IoTSecuritySolutionProperties'
          description: Security Solution data
          x-ms-client-flatten: true
        systemData:
          $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: >-
            Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
      type: object
    IoTSecuritySolutionProperties:
      description: Security Solution setting data
      properties:
        additionalWorkspaces:
          description: List of additional workspaces
          items:
            $ref: '#/components/schemas/AdditionalWorkspacesProperties'
          type: array
        autoDiscoveredResources:
          description: >-
            List of resources that were automatically discovered as relevant to
            the security solution.
          items:
            type: string
          readOnly: true
          type: array
        disabledDataSources:
          description: >-
            Disabled data sources. Disabling these data sources compromises the
            system.
          items:
            enum:
              - TwinData
            type: string
            x-ms-enum:
              modelAsString: true
              name: DataSource
              values:
                - description: Devices twin data
                  value: TwinData
          type: array
        displayName:
          description: Resource display name.
          type: string
        export:
          description: List of additional options for exporting to workspace data.
          items:
            enum:
              - RawEvents
            type: string
            x-ms-enum:
              modelAsString: true
              name: ExportData
              values:
                - description: Agent raw events
                  value: RawEvents
          type: array
        iotHubs:
          description: IoT Hub resource IDs
          items:
            type: string
          type: array
        recommendationsConfiguration:
          $ref: '#/components/schemas/RecommendationConfigurationList'
        status:
          default: Enabled
          description: Status of the IoT Security solution.
          enum:
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: SecuritySolutionStatus
        unmaskedIpLoggingStatus:
          default: Disabled
          description: Unmasked IP address logging status
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: UnmaskedIpLoggingStatus
            values:
              - description: Unmasked IP logging is disabled
                value: Disabled
              - description: Unmasked IP logging is enabled
                value: Enabled
        userDefinedResources:
          $ref: '#/components/schemas/UserDefinedResourcesProperties'
        workspace:
          description: Workspace resource ID
          type: string
      required:
        - iotHubs
        - displayName
      type: object
    IoTSecuritySolutionsList:
      description: List of IoT Security solutions.
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of IoT Security solutions
          items:
            $ref: '#/components/schemas/IoTSecuritySolutionModel'
          type: array
      required:
        - value
      type: object
    RecommendationConfigurationList:
      description: List of the configuration status for each recommendation type.
      items:
        $ref: '#/components/schemas/RecommendationConfigurationProperties'
      type: array
    RecommendationConfigurationProperties:
      description: The type of IoT Security recommendation.
      properties:
        name:
          readOnly: true
          type: string
        recommendationType:
          description: The type of IoT Security recommendation.
          enum:
            - IoT_ACRAuthentication
            - IoT_AgentSendsUnutilizedMessages
            - IoT_Baseline
            - IoT_EdgeHubMemOptimize
            - IoT_EdgeLoggingOptions
            - IoT_InconsistentModuleSettings
            - IoT_InstallAgent
            - IoT_IPFilter_DenyAll
            - IoT_IPFilter_PermissiveRule
            - IoT_OpenPorts
            - IoT_PermissiveFirewallPolicy
            - IoT_PermissiveInputFirewallRules
            - IoT_PermissiveOutputFirewallRules
            - IoT_PrivilegedDockerOptions
            - IoT_SharedCredentials
            - IoT_VulnerableTLSCipherSuite
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecommendationType
            values:
              - description: >-
                  Authentication schema used for pull an edge module from an ACR
                  repository does not use Service Principal Authentication.
                value: IoT_ACRAuthentication
              - description: >-
                  IoT agent message size capacity is currently underutilized,
                  causing an increase in the number of sent messages. Adjust
                  message intervals for better utilization.
                value: IoT_AgentSendsUnutilizedMessages
              - description: Identified security related system configuration issues.
                value: IoT_Baseline
              - description: >-
                  You can optimize Edge Hub memory usage by turning off protocol
                  heads for any protocols not used by Edge modules in your
                  solution.
                value: IoT_EdgeHubMemOptimize
              - description: Logging is disabled for this edge module.
                value: IoT_EdgeLoggingOptions
              - description: >-
                  A minority within a device security group has inconsistent
                  Edge Module settings with the rest of their group.
                value: IoT_InconsistentModuleSettings
              - description: Install the Azure Security of Things Agent.
                value: IoT_InstallAgent
              - description: >-
                  IP Filter Configuration should have rules defined for allowed
                  traffic and should deny all other traffic by default.
                value: IoT_IPFilter_DenyAll
              - description: >-
                  An Allow IP Filter rules source IP range is too large. Overly
                  permissive rules might expose your IoT hub to malicious
                  intenders.
                value: IoT_IPFilter_PermissiveRule
              - description: A listening endpoint was found on the device.
                value: IoT_OpenPorts
              - description: >-
                  An Allowed firewall policy was found (INPUT/OUTPUT). The
                  policy should Deny all traffic by default and define rules to
                  allow necessary communication to/from the device.
                value: IoT_PermissiveFirewallPolicy
              - description: >-
                  A rule in the firewall has been found that contains a
                  permissive pattern for a wide range of IP addresses or Ports.
                value: IoT_PermissiveInputFirewallRules
              - description: >-
                  A rule in the firewall has been found that contains a
                  permissive pattern for a wide range of IP addresses or Ports.
                value: IoT_PermissiveOutputFirewallRules
              - description: >-
                  Edge module is configured to run in privileged mode, with
                  extensive Linux capabilities or with host-level network access
                  (send/receive data to host machine).
                value: IoT_PrivilegedDockerOptions
              - description: >-
                  Same authentication credentials to the IoT Hub used by
                  multiple devices. This could indicate an illegitimate device
                  impersonating a legitimate device. It also exposes the risk of
                  device impersonation by an attacker.
                value: IoT_SharedCredentials
              - description: >-
                  Insecure TLS configurations detected. Immediate upgrade
                  recommended.
                value: IoT_VulnerableTLSCipherSuite
        status:
          default: Enabled
          description: >-
            Recommendation status. When the recommendation status is disabled
            recommendations are not generated.
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecommendationConfigStatus
      required:
        - recommendationType
        - status
      type: object
    TagsResource:
      description: >-
        A container holding only the Tags for a resource, allowing the user to
        update the tags.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
    UpdateIoTSecuritySolutionProperties:
      description: Update Security Solution setting data
      properties:
        recommendationsConfiguration:
          $ref: '#/components/schemas/RecommendationConfigurationList'
        userDefinedResources:
          $ref: '#/components/schemas/UserDefinedResourcesProperties'
      type: object
    UpdateIotSecuritySolutionData:
      allOf:
        - $ref: '#/components/schemas/TagsResource'
      properties:
        properties:
          $ref: '#/components/schemas/UpdateIoTSecuritySolutionProperties'
          description: Security Solution data
          x-ms-client-flatten: true
      type: object
    UserDefinedResourcesProperties:
      description: Properties of the IoT Security solution's user defined resources.
      properties:
        query:
          description: >-
            Azure Resource Graph query which represents the security solution's
            user defined resources. Required to start with "where type !=
            "Microsoft.Devices/IotHubs""
          nullable: true
          type: string
        querySubscriptions:
          description: >-
            List of Azure subscription ids on which the user defined resources
            query should be executed.
          items:
            pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
            type: string
          nullable: true
          type: array
      required:
        - query
        - querySubscriptions
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

