openapi: 3.0.0
info:
  description: The DNS Management Client.
  title: DnsManagementClient
  version: 2018-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones':
    get:
      parameters:
        - description: >-
            The maximum number of DNS zones to return. If not specified, returns
            up to 100 zones.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Zones
      description: Lists the DNS zones in all resource groups in a subscription.
      operationId: Zones_List
      x-ms-examples:
        List zones by subscription:
          $ref: ./examples/ListZonesBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Zones
      description: Lists the DNS zones within a resource group.
      operationId: Zones_ListByResourceGroup
      x-ms-examples:
        List zones by resource group:
          $ref: ./examples/ListZonesByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - description: >-
            The etag of the DNS zone. Omit this value to always delete the
            current zone. Specify the last-seen etag value to prevent
            accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The DNS zone has been deleted.
        '202':
          description: >-
            The DNS zone delete operation has been accepted and will complete
            asynchronously.
        '204':
          description: The DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Zones
      description: >-
        Deletes a DNS zone. WARNING: All DNS records in the zone will also be
        deleted. This operation cannot be undone.
      operationId: Zones_Delete
      x-ms-examples:
        Delete zone:
          $ref: ./examples/DeleteZone.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Zones
      description: >-
        Gets a DNS zone. Retrieves the zone properties, but not the record sets
        within the zone.
      operationId: Zones_Get
      x-ms-examples:
        Get zone:
          $ref: ./examples/GetZone.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - description: >-
            The etag of the DNS zone. Omit this value to always overwrite the
            current zone. Specify the last-seen etag value to prevent
            accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Zones
      description: Updates a DNS zone. Does not modify DNS records within the zone.
      operationId: Zones_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneUpdate'
        description: Parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        Patch zone:
          $ref: ./examples/PatchZone.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - description: >-
            The etag of the DNS zone. Omit this value to always overwrite the
            current zone. Specify the last-seen etag value to prevent
            accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new DNS zone to be created, but to prevent
            updating an existing zone. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Zones
      description: >-
        Creates or updates a DNS zone. Does not modify DNS records within the
        zone.
      operationId: Zones_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        Create private zone:
          $ref: ./examples/CreateOrUpdatePrivateZone.json
        Create zone:
          $ref: ./examples/CreateOrUpdateZone.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/all':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The suffix label of the record set name that has to be used to
            filter the record set enumerations. If this parameter is specified,
            Enumeration will return only records that end with
            .<recordSetNameSuffix>
          in: query
          name: $recordsetnamesuffix
          required: false
          schema:
            type: string
          x-ms-client-name: recordSetNameSuffix
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Lists all record sets in a DNS zone.
      operationId: RecordSets_ListAllByDnsZone
      x-ms-examples:
        List recordsets by zone:
          $ref: ./examples/ListRecordSetsByZone.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The suffix label of the record set name that has to be used to
            filter the record set enumerations. If this parameter is specified,
            Enumeration will return only records that end with
            .<recordSetNameSuffix>
          in: query
          name: $recordsetnamesuffix
          required: false
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Lists all record sets in a DNS zone.
      operationId: RecordSets_ListByDnsZone
      x-ms-examples:
        List recordsets by zone:
          $ref: ./examples/ListRecordSetsByZone.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - description: The type of record sets to enumerate.
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CAA
              - CNAME
              - MX
              - NS
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: >-
            The maximum number of record sets to return. If not specified,
            returns up to 100 record sets.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The suffix label of the record set name that has to be used to
            filter the record set enumerations. If this parameter is specified,
            Enumeration will return only records that end with
            .<recordSetNameSuffix>
          in: query
          name: $recordsetnamesuffix
          required: false
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Lists the record sets of a specified type in a DNS zone.
      operationId: RecordSets_ListByType
      x-ms-examples:
        List A recordsets:
          $ref: ./examples/ListARecordset.json
        List AAAA recordsets:
          $ref: ./examples/ListAAAARecordset.json
        List CAA recordsets:
          $ref: ./examples/ListCaaRecordset.json
        List CNAME recordsets:
          $ref: ./examples/ListCNAMERecordset.json
        List MX recordsets:
          $ref: ./examples/ListMXRecordset.json
        List NS recordsets:
          $ref: ./examples/ListNSRecordset.json
        List PTR recordsets:
          $ref: ./examples/ListPTRRecordset.json
        List SOA recordsets:
          $ref: ./examples/ListSOARecordset.json
        List SRV recordsets:
          $ref: ./examples/ListSRVRecordset.json
        List TXT recordsets:
          $ref: ./examples/ListTXTRecordset.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            The type of DNS record in this record set. Record sets of type SOA
            cannot be deleted (they are deleted when the DNS zone is deleted).
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CAA
              - CNAME
              - MX
              - NS
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: >-
            The etag of the record set. Omit this value to always delete the
            current record set. Specify the last-seen etag value to prevent
            accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The record set has been deleted.
        '204':
          description: The record set was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Deletes a record set from a DNS zone. This operation cannot be undone.
      operationId: RecordSets_Delete
      x-ms-examples:
        Delete A recordset:
          $ref: ./examples/DeleteARecordset.json
        Delete AAAA recordset:
          $ref: ./examples/DeleteAAAARecordset.json
        Delete CAA recordset:
          $ref: ./examples/DeleteCaaRecordset.json
        Delete CNAME recordset:
          $ref: ./examples/DeleteARecordset.json
        Delete MX recordset:
          $ref: ./examples/DeleteARecordset.json
        Delete NS recordset:
          $ref: ./examples/DeleteARecordset.json
        Delete PTR recordset:
          $ref: ./examples/DeletePTRRecordset.json
        Delete SRV recordset:
          $ref: ./examples/DeleteSRVRecordset.json
        Delete TXT recordset:
          $ref: ./examples/DeleteTXTRecordset.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record in this record set.
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CAA
              - CNAME
              - MX
              - NS
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Gets a record set.
      operationId: RecordSets_Get
      x-ms-examples:
        Get A recordset:
          $ref: ./examples/GetARecordset.json
        Get AAAA recordset:
          $ref: ./examples/GetAAAARecordset.json
        Get CAA recordset:
          $ref: ./examples/GetCaaRecordset.json
        Get CNAME recordset:
          $ref: ./examples/GetCNAMERecordset.json
        Get MX recordset:
          $ref: ./examples/GetMXRecordset.json
        Get NS recordset:
          $ref: ./examples/GetNSRecordset.json
        Get PTR recordset:
          $ref: ./examples/GetPTRRecordset.json
        Get SOA recordset:
          $ref: ./examples/GetSOARecordset.json
        Get SRV recordset:
          $ref: ./examples/GetSRVRecordset.json
        Get TXT recordset:
          $ref: ./examples/GetTXTRecordset.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record in this record set.
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CAA
              - CNAME
              - MX
              - NS
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: >-
            The etag of the record set. Omit this value to always overwrite the
            current record set. Specify the last-seen etag value to prevent
            accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Updates a record set within a DNS zone.
      operationId: RecordSets_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        Patch A recordset:
          $ref: ./examples/PatchARecordset.json
        Patch AAAA recordset:
          $ref: ./examples/PatchAAAARecordset.json
        Patch CAA recordset:
          $ref: ./examples/PatchCaaRecordset.json
        Patch CNAME recordset:
          $ref: ./examples/PatchCNAMERecordset.json
        Patch MX recordset:
          $ref: ./examples/PatchMXRecordset.json
        Patch NS recordset:
          $ref: ./examples/PatchNSRecordset.json
        Patch PTR recordset:
          $ref: ./examples/PatchPTRRecordset.json
        Patch SOA recordset:
          $ref: ./examples/PatchSOARecordset.json
        Patch SRV recordset:
          $ref: ./examples/PatchSRVRecordset.json
        Patch TXT recordset:
          $ref: ./examples/PatchTXTRecordset.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          schema:
            type: string
        - allowReserved: true
          description: 'The name of the record set, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            The type of DNS record in this record set. Record sets of type SOA
            can be updated but not created (they are created when the DNS zone
            is created).
          in: path
          name: recordType
          required: true
          schema:
            enum:
              - A
              - AAAA
              - CAA
              - CNAME
              - MX
              - NS
              - PTR
              - SOA
              - SRV
              - TXT
            type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: >-
            The etag of the record set. Omit this value to always overwrite the
            current record set. Specify the last-seen etag value to prevent
            accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new record set to be created, but to prevent
            updating an existing record set. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RecordSets
      description: Creates or updates a record set within a DNS zone.
      operationId: RecordSets_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        Create A recordset:
          $ref: ./examples/CreateOrUpdateARecordset.json
        Create AAAA recordset:
          $ref: ./examples/CreateOrUpdateAAAARecordset.json
        Create CAA recordset:
          $ref: ./examples/CreateOrUpdateCaaRecordset.json
        Create CNAME recordset:
          $ref: ./examples/CreateOrUpdateCNAMERecordset.json
        Create MX recordset:
          $ref: ./examples/CreateOrUpdateMXRecordset.json
        Create NS recordset:
          $ref: ./examples/CreateOrUpdateNSRecordset.json
        Create PTR recordset:
          $ref: ./examples/CreateOrUpdatePTRRecordset.json
        Create SOA recordset:
          $ref: ./examples/CreateOrUpdateSOARecordset.json
        Create SRV recordset:
          $ref: ./examples/CreateOrUpdateSRVRecordset.json
        Create TXT recordset:
          $ref: ./examples/CreateOrUpdateTXTRecordset.json
components:
  schemas:
    ARecord:
      description: An A record.
      properties:
        ipv4Address:
          description: The IPv4 address of this A record.
          type: string
      type: object
    AaaaRecord:
      description: An AAAA record.
      properties:
        ipv6Address:
          description: The IPv6 address of this AAAA record.
          type: string
      type: object
    CaaRecord:
      description: A CAA record.
      properties:
        flags:
          description: The flags for this CAA record as an integer between 0 and 255.
          format: int32
          type: integer
        tag:
          description: The tag for this CAA record.
          type: string
        value:
          description: The value for this CAA record.
          type: string
      type: object
    CloudError:
      description: An error response from the service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    CnameRecord:
      description: A CNAME record.
      properties:
        cname:
          description: The canonical name for this CNAME record.
          type: string
      type: object
    MxRecord:
      description: An MX record.
      properties:
        exchange:
          description: The domain name of the mail host for this MX record.
          type: string
        preference:
          description: The preference value for this MX record.
          format: int32
          type: integer
      type: object
    NsRecord:
      description: An NS record.
      properties:
        nsdname:
          description: The name server name for this NS record.
          type: string
      type: object
    PtrRecord:
      description: A PTR record.
      properties:
        ptrdname:
          description: The PTR target domain name for this PTR record.
          type: string
      type: object
    RecordSet:
      description: >-
        Describes a DNS record set (a collection of DNS records with the same
        name and type).
      properties:
        etag:
          description: The etag of the record set.
          type: string
        id:
          description: The ID of the record set.
          readOnly: true
          type: string
        name:
          description: The name of the record set.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RecordSetProperties'
          description: The properties of the record set.
          x-ms-client-flatten: true
        type:
          description: The type of the record set.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RecordSetListResult:
      description: The response to a record set List operation.
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: Information about the record sets in the response.
          items:
            $ref: '#/components/schemas/RecordSet'
          type: array
      type: object
    RecordSetProperties:
      description: Represents the properties of the records in the record set.
      properties:
        AAAARecords:
          description: The list of AAAA records in the record set.
          items:
            $ref: '#/components/schemas/AaaaRecord'
          type: array
          x-ms-client-name: AaaaRecords
        ARecords:
          description: The list of A records in the record set.
          items:
            $ref: '#/components/schemas/ARecord'
          type: array
        CNAMERecord:
          $ref: '#/components/schemas/CnameRecord'
          description: The CNAME record in the  record set.
          x-ms-client-name: CnameRecord
        MXRecords:
          description: The list of MX records in the record set.
          items:
            $ref: '#/components/schemas/MxRecord'
          type: array
          x-ms-client-name: MxRecords
        NSRecords:
          description: The list of NS records in the record set.
          items:
            $ref: '#/components/schemas/NsRecord'
          type: array
          x-ms-client-name: NsRecords
        PTRRecords:
          description: The list of PTR records in the record set.
          items:
            $ref: '#/components/schemas/PtrRecord'
          type: array
          x-ms-client-name: PtrRecords
        SOARecord:
          $ref: '#/components/schemas/SoaRecord'
          description: The SOA record in the record set.
          x-ms-client-name: SoaRecord
        SRVRecords:
          description: The list of SRV records in the record set.
          items:
            $ref: '#/components/schemas/SrvRecord'
          type: array
          x-ms-client-name: SrvRecords
        TTL:
          description: The TTL (time-to-live) of the records in the record set.
          format: int64
          type: integer
        TXTRecords:
          description: The list of TXT records in the record set.
          items:
            $ref: '#/components/schemas/TxtRecord'
          type: array
          x-ms-client-name: TxtRecords
        caaRecords:
          description: The list of CAA records in the record set.
          items:
            $ref: '#/components/schemas/CaaRecord'
          type: array
          x-ms-client-name: CaaRecords
        fqdn:
          description: Fully qualified domain name of the record set.
          readOnly: true
          type: string
        metadata:
          additionalProperties:
            type: string
          description: The metadata attached to the record set.
          type: object
      type: object
    RecordSetUpdateParameters:
      description: Parameters supplied to update a record set.
      properties:
        RecordSet:
          $ref: '#/components/schemas/RecordSet'
          description: Specifies information about the record set being updated.
      type: object
    SoaRecord:
      description: An SOA record.
      properties:
        host:
          description: >-
            The domain name of the authoritative name server for this SOA
            record.
          type: string
        email:
          description: The email contact for this SOA record.
          type: string
        expireTime:
          description: The expire time for this SOA record.
          format: int64
          type: integer
        minimumTTL:
          description: >-
            The minimum value for this SOA record. By convention this is used to
            determine the negative caching duration.
          format: int64
          type: integer
          x-ms-client-name: minimumTtl
        refreshTime:
          description: The refresh value for this SOA record.
          format: int64
          type: integer
        retryTime:
          description: The retry time for this SOA record.
          format: int64
          type: integer
        serialNumber:
          description: The serial number for this SOA record.
          format: int64
          type: integer
      type: object
    SrvRecord:
      description: An SRV record.
      properties:
        port:
          description: The port value for this SRV record.
          format: int32
          type: integer
        priority:
          description: The priority value for this SRV record.
          format: int32
          type: integer
        target:
          description: The target domain name for this SRV record.
          type: string
        weight:
          description: The weight value for this SRV record.
          format: int32
          type: integer
      type: object
    SubResource:
      description: A reference to a another resource
      properties:
        id:
          description: Resource Id.
          type: string
      type: object
    TxtRecord:
      description: A TXT record.
      properties:
        value:
          description: The text value of this TXT record.
          items:
            type: string
          type: array
      type: object
    Zone:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: Describes a DNS zone.
      properties:
        etag:
          description: The etag of the zone.
          type: string
        properties:
          $ref: '#/components/schemas/ZoneProperties'
          description: The properties of the zone.
          x-ms-client-flatten: true
      type: object
    ZoneListResult:
      description: The response to a Zone List or ListAll operation.
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: Information about the DNS zones.
          items:
            $ref: '#/components/schemas/Zone'
          type: array
      type: object
    ZoneProperties:
      description: Represents the properties of the zone.
      properties:
        maxNumberOfRecordSets:
          description: >-
            The maximum number of record sets that can be created in this DNS
            zone.  This is a read-only property and any attempt to set this
            value will be ignored.
          format: int64
          readOnly: true
          type: integer
        maxNumberOfRecordsPerRecordSet:
          description: >-
            The maximum number of records per record set that can be created in
            this DNS zone.  This is a read-only property and any attempt to set
            this value will be ignored.
          format: int64
          readOnly: true
          type: integer
        nameServers:
          description: >-
            The name servers for this DNS zone. This is a read-only property and
            any attempt to set this value will be ignored.
          items:
            type: string
          readOnly: true
          type: array
        numberOfRecordSets:
          description: >-
            The current number of record sets in this DNS zone.  This is a
            read-only property and any attempt to set this value will be
            ignored.
          format: int64
          readOnly: true
          type: integer
        registrationVirtualNetworks:
          description: >-
            A list of references to virtual networks that register hostnames in
            this DNS zone. This is a only when ZoneType is Private.
          items:
            $ref: '#/components/schemas/SubResource'
          type: array
        resolutionVirtualNetworks:
          description: >-
            A list of references to virtual networks that resolve records in
            this DNS zone. This is a only when ZoneType is Private.
          items:
            $ref: '#/components/schemas/SubResource'
          type: array
        zoneType:
          default: Public
          description: The type of this DNS zone (Public or Private).
          enum:
            - Public
            - Private
          type: string
          x-ms-enum:
            modelAsString: false
            name: ZoneType
      type: object
    ZoneUpdate:
      description: Describes a request to update a DNS zone.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

