{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "description": "APIs for managing software update configurations.",
    "title": "Update Management API",
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfigurationMachineRun.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          },
          {
            "description": "The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "number of entries you skip before returning results",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of entries returned in the results collection",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfigurationMachineRunListResult"
                }
              }
            },
            "description": "Return list of software update configuration machine runs."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration Machine Run"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "Return list of software update configuration machine runs",
        "operationId": "SoftwareUpdateConfigurationMachineRuns_List",
        "x-ms-examples": {
          "List software update configuration machine runs": {
            "$ref": "./examples/softwareUpdateConfigurationMachineRun/listSoftwareUpdateConfigurationMachineRuns.json"
          },
          "List software update configuration machine runs for a specific software update configuration run": {
            "$ref": "./examples/softwareUpdateConfigurationMachineRun/listSoftwareUpdateConfigurationMachineRunsByRun.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns/{softwareUpdateConfigurationMachineRunId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The Id of the software update configuration machine run.",
            "in": "path",
            "name": "softwareUpdateConfigurationMachineRunId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfigurationMachineRun"
                }
              }
            },
            "description": "A single software update configuration machine run."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration Machine Run"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "Get a single software update configuration machine run by Id.",
        "operationId": "SoftwareUpdateConfigurationMachineRuns_GetById",
        "x-ms-examples": {
          "Get software update configuration machine run": {
            "$ref": "./examples/softwareUpdateConfigurationMachineRun/getSoftwareUpdateConfigurationMachineRunById.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "jobNavigation": {
        "description": "Software update configuration machine run job navigation properties.",
        "properties": {
          "id": {
            "description": "Id of the job associated with the software update configuration run",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "softwareUpdateConfigurationMachineRun": {
        "description": "Software update configuration machine run model.",
        "properties": {
          "id": {
            "description": "Resource Id of the software update configuration machine run",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the software update configuration machine run",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/updateConfigurationMachineRunProperties",
            "description": "Software update configuration machine run properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-azure-resource": false
      },
      "softwareUpdateConfigurationMachineRunListResult": {
        "description": "result of listing all software update configuration machine runs",
        "properties": {
          "nextLink": {
            "description": "link to next page of results.",
            "type": "string"
          },
          "value": {
            "description": "outer object returned when listing all software update configuration machine runs",
            "items": {
              "$ref": "#/components/schemas/softwareUpdateConfigurationMachineRun"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "updateConfigurationMachineRunProperties": {
        "description": "Software update configuration machine run properties.",
        "properties": {
          "configuredDuration": {
            "description": "configured duration for the software update configuration run.",
            "readOnly": true,
            "type": "string"
          },
          "correlationId": {
            "description": "correlation id of the software update configuration machine run",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "createdBy": {
            "description": "createdBy property, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "creationTime": {
            "description": "Creation time of the resource, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "endTime": {
            "description": "End time of the software update configuration machine run.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "error": {
            "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse",
            "description": "Details of provisioning error"
          },
          "job": {
            "$ref": "#/components/schemas/jobNavigation",
            "description": "Job associated with the software update configuration machine run"
          },
          "lastModifiedBy": {
            "description": "lastModifiedBy property, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Last time resource was modified, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "osType": {
            "description": "Operating system target of the software update configuration triggered this run",
            "readOnly": true,
            "type": "string"
          },
          "softwareUpdateConfiguration": {
            "$ref": "#/components/schemas/updateConfigurationNavigation",
            "description": "software update configuration triggered this run"
          },
          "sourceComputerId": {
            "description": "source computer id of the software update configuration machine run",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Start time of the software update configuration machine run.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Status of the software update configuration machine run.",
            "readOnly": true,
            "type": "string"
          },
          "targetComputer": {
            "description": "name of the updated computer",
            "readOnly": true,
            "type": "string"
          },
          "targetComputerType": {
            "description": "type of the updated computer.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "updateConfigurationNavigation": {
        "description": "Software update configuration Run Navigation model.",
        "properties": {
          "name": {
            "description": "Name of the software update configuration triggered the software update configuration run",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}