{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2018-06-30",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/runbook.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunbookListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "description": "Retrieve a list of runbooks.",
        "operationId": "Runbook_ListByAutomationAccount",
        "x-ms-examples": {
          "List runbooks by automation account": {
            "$ref": "./examples/listRunbooksByAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "description": "Delete the runbook by name.",
        "operationId": "Runbook_Delete",
        "x-ms-examples": {
          "Delete a runbook": {
            "$ref": "./examples/deleteRunbook.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Runbook"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "description": "Retrieve the runbook identified by runbook name.",
        "operationId": "Runbook_Get",
        "x-ms-examples": {
          "Get runbook": {
            "$ref": "./examples/getRunbook.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Runbook"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "description": "Update the runbook identified by runbook name.",
        "operationId": "Runbook_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunbookUpdateParameters"
              }
            }
          },
          "description": "The update parameters for runbook.",
          "required": true
        },
        "x-ms-examples": {
          "Update runbook": {
            "$ref": "./examples/updateRunbook.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Runbook"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Runbook"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "description": "Create the runbook identified by runbook name.",
        "operationId": "Runbook_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunbookCreateOrUpdateParameters"
              }
            }
          },
          "description": "The create or update parameters for runbook. Provide either content link for a published runbook or draft, not both.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update runbook and publish it": {
            "$ref": "./examples/createOrUpdateRunbook.json"
          },
          "Create runbook as draft": {
            "$ref": "./examples/createRunbookAsDraft.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/content": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/powershell": {}
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              },
              "text/powershell": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "description": "Retrieve the content of runbook identified by runbook name.",
        "operationId": "Runbook_GetContent",
        "x-ms-examples": {
          "Get runbook content": {
            "$ref": "./examples/getRunbookContent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunbookDraft"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "RunbookDraft"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "description": "Retrieve the runbook draft identified by runbook name.",
        "operationId": "RunbookDraft_Get",
        "x-ms-examples": {
          "Get runbook draft": {
            "$ref": "./examples/getRunbookDraft.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/powershell": {}
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              },
              "text/powershell": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "RunbookDraft"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "description": "Retrieve the content of runbook draft identified by runbook name.",
        "operationId": "RunbookDraft_GetContent",
        "x-ms-examples": {
          "Get runbook draft content": {
            "$ref": "./examples/getRunbookDraftContent.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "OK"
          },
          "202": {
            "description": "Accepted and  the operation will complete asynchronously.",
            "headers": {
              "location": {
                "description": "URL to query for status of the operation.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "RunbookDraft"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "description": "Replaces the runbook draft content.",
        "operationId": "RunbookDraft_ReplaceContent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "format": "file",
                "type": "object"
              }
            },
            "text/powershell": {
              "schema": {
                "format": "file",
                "type": "object"
              }
            }
          },
          "description": "The\u00a0runbook\u00a0draft\u00a0content.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update runbook draft": {
            "$ref": "./examples/replaceRunbookDraftContent.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestJob"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJob"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "description": "Retrieve the test job for the specified runbook.",
        "operationId": "TestJob_Get",
        "x-ms-examples": {
          "Get test job": {
            "$ref": "./examples/getTestJob.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the create test job operation.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestJob"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJob"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "description": "Create a test job of the runbook.",
        "operationId": "TestJob_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestJobCreateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create test job operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create test job": {
            "$ref": "./examples/createTestJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/resume": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJob"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "description": "Resume the test job.",
        "operationId": "TestJob_Resume",
        "x-ms-examples": {
          "Resume test job": {
            "$ref": "./examples/resumeTestJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/stop": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJob"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "description": "Stop the test job.",
        "operationId": "TestJob_Stop",
        "x-ms-examples": {
          "Stop test job": {
            "$ref": "./examples/stopTestJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStreamListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJobStream"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "description": "Retrieve a list of test job streams identified by runbook name.",
        "operationId": "TestJobStreams_ListByTestJob",
        "x-ms-examples": {
          "List job streams by job name": {
            "$ref": "./examples/listTestJobStreamsByJob.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams/{jobStreamId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job stream id.",
            "in": "path",
            "name": "jobStreamId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStream"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJobStream"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "description": "Retrieve a test job stream of the test job identified by runbook name and stream id.",
        "operationId": "TestJobStreams_Get",
        "x-ms-examples": {
          "Get test job stream": {
            "$ref": "./examples/getTestJobStream.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/suspend": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TestJob"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/testjoboperations"
        },
        "description": "Suspend the test job.",
        "operationId": "TestJob_Suspend",
        "x-ms-examples": {
          "Suspend test job": {
            "$ref": "./examples/suspendTestJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The runbook name.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunbookDraftUndoEditResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "RunbookDraft"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "description": "Undo draft edit to last known published state identified by runbook name.",
        "operationId": "RunbookDraft_UndoEdit",
        "x-ms-examples": {
          "Undo draft edit to last known published state": {
            "$ref": "./examples/undoDraftEditToLastKnownPublishedState.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/publish": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the publish runbook operation.",
            "in": "path",
            "name": "runbookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously.",
            "headers": {
              "location": {
                "description": "URL to query for status of the operation.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Runbook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "description": "Publish runbook draft.",
        "operationId": "Runbook_Publish",
        "x-ms-examples": {
          "Publish runbook draft": {
            "$ref": "./examples/publishRunbook.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "schemas": {
      "ContentHash": {
        "description": "Definition of the runbook property type.",
        "properties": {
          "algorithm": {
            "description": "Gets or sets the content hash algorithm used to hash the content.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets expected hash value of the content.",
            "type": "string"
          }
        },
        "required": [
          "algorithm",
          "value"
        ],
        "type": "object"
      },
      "ContentLink": {
        "description": "Definition of the content link.",
        "properties": {
          "contentHash": {
            "$ref": "#/components/schemas/ContentHash",
            "description": "Gets or sets the hash."
          },
          "uri": {
            "description": "Gets or sets the uri of the runbook content.",
            "type": "string"
          },
          "version": {
            "description": "Gets or sets the version of the content.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "JobStream": {
        "description": "Definition of the job stream.",
        "properties": {
          "id": {
            "description": "Gets or sets the id of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/JobStreamProperties",
            "description": "Gets or sets the id of the job stream.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "JobStreamListResult": {
        "description": "The response model for the list job stream operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "A list of job streams.",
            "items": {
              "$ref": "#/components/schemas/JobStream"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JobStreamProperties": {
        "description": "Definition of the job stream.",
        "properties": {
          "jobStreamId": {
            "description": "Gets or sets the id of the job stream.",
            "type": "string"
          },
          "streamText": {
            "description": "Gets or sets the stream text.",
            "type": "string"
          },
          "streamType": {
            "description": "Gets or sets the stream type.",
            "enum": [
              "Progress",
              "Output",
              "Warning",
              "Error",
              "Debug",
              "Verbose",
              "Any"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "JobStreamType"
            }
          },
          "summary": {
            "description": "Gets or sets the summary.",
            "type": "string"
          },
          "time": {
            "description": "Gets or sets the creation time of the job.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "value": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Gets or sets the values of the job stream.",
            "type": "object"
          }
        },
        "type": "object",
        "x-ms-client-flatten": true
      },
      "Runbook": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
          }
        ],
        "description": "Definition of the runbook type.",
        "properties": {
          "etag": {
            "description": "Gets or sets the etag of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/RunbookProperties",
            "description": "Gets or sets the runbook properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RunbookCreateOrUpdateDraftParameters": {
        "description": "The parameters supplied to the create or update runbook operation.",
        "properties": {
          "runbookContent": {
            "description": "Content of the Runbook.",
            "type": "string"
          }
        },
        "required": [
          "runbookContent"
        ],
        "type": "object",
        "x-ms-client-flatten": true
      },
      "RunbookCreateOrUpdateDraftProperties": {
        "description": "The parameters supplied to the create or update draft runbook properties.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the runbook.",
            "type": "string"
          },
          "draft": {
            "$ref": "#/components/schemas/RunbookDraft",
            "description": "Gets or sets the draft runbook properties."
          },
          "logActivityTrace": {
            "description": "Gets or sets the activity-level tracing options of the runbook.",
            "format": "int32",
            "type": "integer"
          },
          "logProgress": {
            "description": "Gets or sets progress log option.",
            "type": "boolean"
          },
          "logVerbose": {
            "description": "Gets or sets verbose log option.",
            "type": "boolean"
          },
          "runbookType": {
            "description": "Gets or sets the type of the runbook.",
            "enum": [
              "Script",
              "Graph",
              "PowerShellWorkflow",
              "PowerShell",
              "GraphPowerShellWorkflow",
              "GraphPowerShell",
              "Python2",
              "Python3"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "RunbookTypeEnum"
            }
          }
        },
        "required": [
          "runbookType",
          "draft"
        ],
        "type": "object"
      },
      "RunbookCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update runbook operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets the name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/RunbookCreateOrUpdateProperties",
            "description": "Gets or sets runbook create or update properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "RunbookCreateOrUpdateProperties": {
        "description": "The parameters supplied to the create or update runbook properties.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the runbook.",
            "type": "string"
          },
          "draft": {
            "$ref": "#/components/schemas/RunbookDraft",
            "description": "Gets or sets the draft runbook properties."
          },
          "logActivityTrace": {
            "description": "Gets or sets the activity-level tracing options of the runbook.",
            "format": "int32",
            "type": "integer"
          },
          "logProgress": {
            "description": "Gets or sets progress log option.",
            "type": "boolean"
          },
          "logVerbose": {
            "description": "Gets or sets verbose log option.",
            "type": "boolean"
          },
          "publishContentLink": {
            "$ref": "#/components/schemas/ContentLink",
            "description": "Gets or sets the published runbook content link."
          },
          "runbookType": {
            "description": "Gets or sets the type of the runbook.",
            "enum": [
              "Script",
              "Graph",
              "PowerShellWorkflow",
              "PowerShell",
              "GraphPowerShellWorkflow",
              "GraphPowerShell",
              "Python2",
              "Python3"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "RunbookTypeEnum"
            }
          }
        },
        "required": [
          "runbookType"
        ],
        "type": "object"
      },
      "RunbookDraft": {
        "properties": {
          "parameters": {
            "additionalProperties": {
              "$ref": "#/components/schemas/RunbookParameter"
            },
            "description": "Gets or sets the runbook draft parameters.",
            "type": "object"
          },
          "creationTime": {
            "description": "Gets or sets the creation time of the runbook draft.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "draftContentLink": {
            "$ref": "#/components/schemas/ContentLink",
            "description": "Gets or sets the draft runbook content link."
          },
          "inEdit": {
            "description": "Gets or sets whether runbook is in edit mode.",
            "type": "boolean"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time of the runbook draft.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "outputTypes": {
            "description": "Gets or sets the runbook output types.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RunbookDraftUndoEditResult": {
        "description": "The response model for the undo edit runbook operation.",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "statusCode": {
            "enum": [
              "Continue",
              "SwitchingProtocols",
              "OK",
              "Created",
              "Accepted",
              "NonAuthoritativeInformation",
              "NoContent",
              "ResetContent",
              "PartialContent",
              "MultipleChoices",
              "Ambiguous",
              "MovedPermanently",
              "Moved",
              "Found",
              "Redirect",
              "SeeOther",
              "RedirectMethod",
              "NotModified",
              "UseProxy",
              "Unused",
              "TemporaryRedirect",
              "RedirectKeepVerb",
              "BadRequest",
              "Unauthorized",
              "PaymentRequired",
              "Forbidden",
              "NotFound",
              "MethodNotAllowed",
              "NotAcceptable",
              "ProxyAuthenticationRequired",
              "RequestTimeout",
              "Conflict",
              "Gone",
              "LengthRequired",
              "PreconditionFailed",
              "RequestEntityTooLarge",
              "RequestUriTooLong",
              "UnsupportedMediaType",
              "RequestedRangeNotSatisfiable",
              "ExpectationFailed",
              "UpgradeRequired",
              "InternalServerError",
              "NotImplemented",
              "BadGateway",
              "ServiceUnavailable",
              "GatewayTimeout",
              "HttpVersionNotSupported"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HttpStatusCode"
            }
          }
        },
        "type": "object"
      },
      "RunbookListResult": {
        "description": "The response model for the list runbook operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of runbooks.",
            "items": {
              "$ref": "#/components/schemas/Runbook"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RunbookParameter": {
        "description": "Definition of the runbook parameter type.",
        "properties": {
          "defaultValue": {
            "description": "Gets or sets the default value of parameter.",
            "type": "string"
          },
          "isMandatory": {
            "description": "Gets or sets a Boolean value to indicate whether the parameter is mandatory or not.",
            "type": "boolean"
          },
          "position": {
            "description": "Get or sets the position of the parameter.",
            "format": "int32",
            "type": "integer"
          },
          "type": {
            "description": "Gets or sets the type of the parameter.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RunbookProperties": {
        "description": "Definition of the runbook property type.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "$ref": "#/components/schemas/RunbookParameter"
            },
            "description": "Gets or sets the runbook parameters.",
            "type": "object"
          },
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "draft": {
            "$ref": "#/components/schemas/RunbookDraft",
            "description": "Gets or sets the draft runbook properties."
          },
          "jobCount": {
            "description": "Gets or sets the job count of the runbook.",
            "format": "int32",
            "type": "integer"
          },
          "lastModifiedBy": {
            "description": "Gets or sets the last modified by.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "logActivityTrace": {
            "description": "Gets or sets the option to log activity trace of the runbook.",
            "format": "int32",
            "type": "integer"
          },
          "logProgress": {
            "description": "Gets or sets progress log option.",
            "type": "boolean"
          },
          "logVerbose": {
            "description": "Gets or sets verbose log option.",
            "type": "boolean"
          },
          "outputTypes": {
            "description": "Gets or sets the runbook output types.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "Gets or sets the provisioning state of the runbook.",
            "enum": [
              "Succeeded"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "RunbookProvisioningState"
            }
          },
          "publishContentLink": {
            "$ref": "#/components/schemas/ContentLink",
            "description": "Gets or sets the published runbook content link."
          },
          "runbookType": {
            "description": "Gets or sets the type of the runbook.",
            "enum": [
              "Script",
              "Graph",
              "PowerShellWorkflow",
              "PowerShell",
              "GraphPowerShellWorkflow",
              "GraphPowerShell",
              "Python2",
              "Python3"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "RunbookTypeEnum"
            }
          },
          "state": {
            "description": "Gets or sets the state of the runbook.",
            "enum": [
              "New",
              "Edit",
              "Published"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "RunbookState"
            }
          }
        },
        "type": "object"
      },
      "RunbookUpdateParameters": {
        "description": "The parameters supplied to the update runbook operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets the name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/RunbookUpdateProperties",
            "description": "Gets or sets the runbook update properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RunbookUpdateProperties": {
        "description": "The parameters supplied to the update runbook properties.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the runbook.",
            "type": "string"
          },
          "logActivityTrace": {
            "description": "Gets or sets the activity-level tracing options of the runbook.",
            "format": "int32",
            "type": "integer"
          },
          "logProgress": {
            "description": "Gets or sets progress log option.",
            "type": "boolean"
          },
          "logVerbose": {
            "description": "Gets or sets verbose log option.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "TestJob": {
        "description": "Definition of the test job.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the test job.",
            "type": "object"
          },
          "creationTime": {
            "description": "Gets or sets the creation time of the test job.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "endTime": {
            "description": "Gets or sets the end time of the test job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "exception": {
            "description": "Gets or sets the exception of the test job.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time of the test job.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "lastStatusModifiedTime": {
            "description": "Gets or sets the last status modified time of the test job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "logActivityTrace": {
            "description": "The activity-level tracing options of the runbook.",
            "format": "int32",
            "type": "integer"
          },
          "runOn": {
            "description": "Gets or sets the runOn which specifies the group name where the job is to be executed.",
            "type": "string"
          },
          "startTime": {
            "description": "Gets or sets the start time of the test job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "status": {
            "description": "Gets or sets the status of the test job.",
            "type": "string"
          },
          "statusDetails": {
            "description": "Gets or sets the status details of the test job.",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-mutability": [
          "read",
          "create"
        ]
      },
      "TestJobCreateParameters": {
        "description": "The parameters supplied to the create test job operation.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the test job.",
            "type": "object"
          },
          "runOn": {
            "description": "Gets or sets the runOn which specifies the group name where the job is to be executed.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}