---
  openapi: "3.0.1"
  info: 
    version: "1.0"
    title: "Ex Libris APIs"
    description: "For more information on how to use these APIs, including how to create an API key required for authentication, see [Alma REST APIs](https://developers.exlibrisgroup.com/alma/apis)."
    termsOfService: "https://developers.exlibrisgroup.com/about/terms"
  externalDocs: 
    description: "Detailed documentation on these APIs at the Ex Libris Developer Network."
    url: "https://developers.exlibrisgroup.com/alma/apis/"
  servers: 
    - 
      url: "https://api-eu.hosted.exlibrisgroup.com"
    - 
      url: "https://api-na.hosted.exlibrisgroup.com"
    - 
      url: "https://api-ap.hosted.exlibrisgroup.com"
    - 
      url: "https://api-cn.hosted.exlibrisgroup.com.cn"
    - 
      url: "https://api-ca.hosted.exlibrisgroup.com"
  tags: 
    - 
      name: "Requested Resources"
    - 
      name: "Lending Requests"
    - 
      name: "Printouts"
    - 
      name: "Test"
  paths: 
    /almaws/v1/task-lists: {}
    /almaws/v1/task-lists/printouts: 
      get: 
        tags: 
          - "Printouts"
        description: "This API returns a list of Printouts."
        summary: "Retrieve Printouts"
        operationId: "get/almaws/v1/task-lists/printouts"
        parameters: 
          - 
            name: "letter"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printout Name. Optional. "
          - 
            name: "status"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printout status. Optional. Valid values are: Printed, Pending, Canceled."
          - 
            name: "printer_id"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printout Printer"
          - 
            name: "printed_by"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printed by: ALL/ME. This field is relevant when using the API from within Cloud Apps."
          - 
            name: "printout_id"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "A list of Printout IDs (for example: 123,456,778) from 1 to the limit of 100 Optional. Use of this option overrides all of the filtering parameters"
          - 
            name: "limit"
            in: "query"
            required: false
            schema: 
              default: "10"
              type: "integer"
            description: "Limits the number of results. Optional. Valid values are 0-100. Default value: 10."
          - 
            name: "offset"
            in: "query"
            required: false
            schema: 
              default: "0"
              type: "integer"
            description: "Offset of the results returned. Optional. Default value: 0, which means that the first results will be returned."
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_printouts.xsd. See [here](/alma/apis/docs/xsd/rest_printouts.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_printouts.json#/rest_printouts"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_printouts.json#/rest_printouts"
          400: 
            description: "Bad Request\n\n401666|40166410 - 'Invalid parameter.'"
          500: 
            description: "Internal Server Error"
      post: 
        tags: 
          - "Printouts"
        description: "This API performs an action on printouts: mark as printed or canceled. 10,000 records can be handled in one requests. Only printouts which were updated will be returned."
        summary: "Act on Printouts"
        operationId: "post/almaws/v1/task-lists/printouts"
        parameters: 
          - 
            name: "letter"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printout Name. Optional. "
          - 
            name: "status"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printout status. Optional. Valid values are: Printed, Pending, Canceled."
          - 
            name: "printer_id"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printout Printer"
          - 
            name: "printed_by"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "Printed by: ALL/ME. This field is relevant when using the API from within Cloud Apps."
          - 
            name: "printout_id"
            in: "query"
            required: false
            schema: 
              default: "ALL"
              type: "string"
            description: "A list of Printout IDs (for example: 123,456,778) from 1 to the limit of 100 Optional. Use of this option overrides all of the filtering parameters"
          - 
            name: "op"
            in: "query"
            required: true
            schema: 
              type: "string"
            description: "The operation to perform on the printout. Currently, the options are: 'mark_as_printed','mark_as_canceled'"
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_printouts.xsd. See [here](/alma/apis/docs/xsd/rest_printouts.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_printouts.json#/rest_printouts"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_printouts.json#/rest_printouts"
          400: 
            description: "Bad Request\n\n401666|40166410 - 'Invalid parameter.'"
          500: 
            description: "Internal Server Error"
    /almaws/v1/task-lists/printouts/{printout_id}: 
      get: 
        tags: 
          - "Printouts"
        description: "This Web service returns a Printout given a Printout ID."
        summary: "Retrieve a Printout"
        operationId: "get/almaws/v1/task-lists/printouts/{printout_id}"
        parameters: 
          - 
            name: "printout_id"
            in: "path"
            required: true
            schema: 
              type: "string"
            description: "The Printout ID"
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_printout.xsd. See [here](/alma/apis/docs/xsd/rest_printout.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_printout.json#/rest_printout"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_printout.json#/rest_printout"
          400: 
            description: "Bad Request\n\n402896 - 'Invalid printout ID.'"
          500: 
            description: "Internal Server Error"
      post: 
        tags: 
          - "Printouts"
        description: "This API operates on an printout. given a Printout ID."
        summary: "Printout Service"
        operationId: "post/almaws/v1/task-lists/printouts/{printout_id}"
        parameters: 
          - 
            name: "printout_id"
            in: "path"
            required: true
            schema: 
              type: "string"
            description: "The Printout ID"
          - 
            name: "op"
            in: "query"
            required: true
            schema: 
              type: "string"
            description: "The operation to perform on the printout. Currently, the options are 'mark_as_printed','mark_as_canceled'"
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_printout.xsd. See [here](/alma/apis/docs/xsd/rest_printout.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_printout.json#/rest_printout"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_printout.json#/rest_printout"
          400: 
            description: "Bad Request\n\n402896 - 'Invalid printout ID.'\n\n40166410 - 'Invalid parameter.'\n\n40166412 - 'Failed to perform action.'"
          500: 
            description: "Internal Server Error"
    /almaws/v1/task-lists/requested-resources: 
      get: 
        tags: 
          - "Requested Resources"
        description: "This API returns a list of requested resources to be picked from the shelf in Alma"
        summary: "Get Requested Resources"
        operationId: "get/almaws/v1/task-lists/requested-resources"
        parameters: 
          - 
            name: "library"
            in: "query"
            required: true
            schema: 
              type: "string"
            description: "The library of the given circulation desk or department where the resources are located. Mandatory."
          - 
            name: "circ_desk"
            in: "query"
            required: true
            schema: 
              type: "string"
            description: "The circulation desk where the action is being performed. Mandatory."
          - 
            name: "location"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The location code. Optional."
          - 
            name: "order_by"
            in: "query"
            required: false
            schema: 
              default: "call_number"
              type: "string"
            description: "The order in which to retrieve the results: location/call_number (default)."
          - 
            name: "direction"
            in: "query"
            required: false
            schema: 
              default: "asc"
              type: "string"
            description: "The order direction in which to retrieve the results. Optional."
          - 
            name: "pickup_inst"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The pickup institution. Optional."
          - 
            name: "reported"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Show reported results: Y/N. Optional."
          - 
            name: "printed"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Show printed results: Y/N. Optional."
          - 
            name: "limit"
            in: "query"
            required: false
            schema: 
              default: "10"
              type: "integer"
            description: "Limits the number of results. Optional. Valid values are 0-100. Default value: 10."
          - 
            name: "offset"
            in: "query"
            required: false
            schema: 
              default: "0"
              type: "integer"
            description: "Offset of the results returned. Optional. Default value: 0, which means that the first results will be returned."
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_requested_resources.xsd. See [here](/alma/apis/docs/xsd/rest_requested_resources.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_requested_resources.json#/rest_requested_resources"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_requested_resources.json#/rest_requested_resources"
          400: 
            description: "Bad Request\n\n402119 - 'General error.'\n\n401664 - 'Mandatory field is missing: X.'\n\n40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'"
          500: 
            description: "Internal Server Error"
      post: 
        tags: 
          - "Requested Resources"
        description: "This API performs an action on requested resources that are on the shelf in Alma"
        summary: "Act on Requested Resources"
        operationId: "post/almaws/v1/task-lists/requested-resources"
        parameters: 
          - 
            name: "library"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The library of the given circulation desk or department where the resources are located. Mandatory."
          - 
            name: "circ_desk"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The circulation desk where the action is being performed. Mandatory."
          - 
            name: "op"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Operation to be preformed on the list of given requests. Currently the only supported action is 'mark_reported'. Mandatory."
          - 
            name: "location"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The location code. Optional."
          - 
            name: "pickup_inst"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The pickup institution. Optional."
          - 
            name: "reported"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Show reported results: Y/N. Optional."
          - 
            name: "printed"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Show printed results: Y/N. Optional."
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_requested_resources.xsd. See [here](/alma/apis/docs/xsd/rest_requested_resources.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_requested_resources.json#/rest_requested_resources"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_requested_resources.json#/rest_requested_resources"
          400: 
            description: "Bad Request\n\n402119 - 'General error.'\n\n401664 - 'Mandatory field is missing: X.'\n\n40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'"
          500: 
            description: "Internal Server Error"
    /almaws/v1/task-lists/rs/lending-requests: 
      get: 
        tags: 
          - "Lending Requests"
        description: "This API returns a list of lending requests in Alma"
        summary: "Get Lending Requests"
        operationId: "get/almaws/v1/task-lists/rs/lending-requests"
        parameters: 
          - 
            name: "library"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The resource sharing library for which lending requests should be retrieved. Mandatory. List of possible libraries can be retrieved using the [GET /almaws/v1/conf/libraries API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
          - 
            name: "status"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The status of lending requests to retrieve. Optional. List of possible statuses can be retrieved using the [GET almaws/v1/conf/code-tables/MandatoryLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed) and the  [GET almaws/v1/conf/code-tables/OptionalLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
          - 
            name: "printed"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The 'printed' value of lending requests to retrieve. Optional. Possible values: Y, N."
          - 
            name: "reported"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The 'reported' value of lending requests to retrieve. Optional. Possible values: Y, N."
          - 
            name: "partner"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The partner value. Only lending requests from this partner should be retrieved. Optional. List of possible partners can be retrieved using the [GET almaws/v1/partners API](https://developers.exlibrisgroup.com/alma/apis/partners/GET/gwPcGly021piAVNPLaef7suP1zfa6Lui/8883ef41-c3b8-4792-9ff8-cb6b729d6e07)."
          - 
            name: "requested_format"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Requested format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
          - 
            name: "supplied_format"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Supplied Format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_user_resource_sharing_requests.xsd. See [here](/alma/apis/docs/xsd/rest_user_resource_sharing_requests.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_user_resource_sharing_requests.json#/rest_user_resource_sharing_requests"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_user_resource_sharing_requests.json#/rest_user_resource_sharing_requests"
          400: 
            description: "Bad Request\n\n402119 - 'General error.'\n\n401664 - 'Mandatory field is missing: X.'\n\n40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'"
          500: 
            description: "Internal Server Error"
      post: 
        tags: 
          - "Lending Requests"
        description: "This API preforms the requested action on a list (specified by given filters) of lending requests in Alma"
        summary: "Act on Lending Requests"
        operationId: "post/almaws/v1/task-lists/rs/lending-requests"
        parameters: 
          - 
            name: "library"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The resource sharing library from which lending requests should be retrieved. Mandatory. List of possible libraries can be retrieved using the [GET /almaws/v1/conf/libraries API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
          - 
            name: "op"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Operation to be preformed on the list of given requests. Currently the only supported action is 'mark_reported'. Mandatory."
          - 
            name: "status"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The status of lending requests to retrieve. Optional. List of possible statuses can be retrieved using the [GET almaws/v1/conf/code-tables/MandatoryLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).and the  [GET almaws/v1/conf/code-tables/OptionalLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
          - 
            name: "printed"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The 'printed' value of lending requests to retrieve. Optional. Possible values: Y, N."
          - 
            name: "reported"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The 'reported' value of lending requests to retrieve. Optional. Possible values: Y, N."
          - 
            name: "partner"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "The partner value. Only lending requests from this partner should be. Optional. List of possible partners can be retrieved using the [GET almaws/v1/partners API](https://developers.exlibrisgroup.com/alma/apis/partners/GET/gwPcGly021piAVNPLaef7suP1zfa6Lui/8883ef41-c3b8-4792-9ff8-cb6b729d6e07)."
          - 
            name: "requested_format"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Requested format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
          - 
            name: "supplied_format"
            in: "query"
            required: false
            schema: 
              default: ""
              type: "string"
            description: "Supplied Format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed)."
        responses: 
          200: 
            description: "OK - This method returns an object based on rest_user_resource_sharing_request.xsd. See [here](/alma/apis/docs/xsd/rest_user_resource_sharing_request.xsd)"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  $ref: "./schemas/rest_user_resource_sharing_request.json#/rest_user_resource_sharing_request"
              application/xml: 
                schema: 
                  $ref: "./schemas/rest_user_resource_sharing_request.json#/rest_user_resource_sharing_request"
          400: 
            description: "Bad Request\n\n402119 - 'General error.'\n\n401666 - 'X parameter is not valid.'\n\n401664 - 'Mandatory field is missing: X.'\n\n40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'"
          500: 
            description: "Internal Server Error"
    /almaws/v1/task-lists/test: 
      get: 
        tags: 
          - "Test"
        description: "This API is used to test if the API key was configured correctly.It returns a short XML (no schema available - the output is subject to changes) with the following structure:<test>GET - OK - institutionCode: 01ABC_INST</test>"
        summary: "GET Task-lists Test API"
        operationId: "get/almaws/v1/task-lists/test"
        parameters: []
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  type: "object"
              application/xml: 
                schema: 
                  type: "object"
          400: 
            description: "Bad Request\n\n"
          500: 
            description: "Internal Server Error"
      post: 
        tags: 
          - "Test"
        description: "This API is used to test if the API key was configured correctly, including read/write permissions.It returns a short XML (no schema available - the output is subject to changes) with the following structure:<test>POST - OK</test>"
        summary: "POST Task-lists Test API"
        operationId: "post/almaws/v1/task-lists/test"
        parameters: []
        responses: 
          200: 
            description: "OK"
            headers: 
              X-Exl-Api-Remaining: 
                $ref: "#/components/headers/remaining"
            content: 
              application/json: 
                schema: 
                  type: "object"
              application/xml: 
                schema: 
                  type: "object"
          400: 
            description: "Bad Request\n\n"
          500: 
            description: "Internal Server Error"
  security: 
    - 
      ApiKeyAuth: []
  components: 
    securitySchemes: 
      ApiKeyAuth: 
        type: "apiKey"
        description: "API key used to authorize requests. Learn about how to create API keys at [Alma REST APIs](https://developers.exlibrisgroup.com/alma/apis/#defining)"
        in: "query"
        name: "apikey"
    headers: 
      remaining: 
        description: "The number of remaining calls according to the [Governance Threshold](https://developers.exlibrisgroup.com/alma/apis/#threshold)"
        schema: 
          type: "integer"

