{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "title": "Microsoft Defender for Cloud",
    "version": "2018-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/pricings.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Lists Microsoft Defender for Cloud pricing configurations in the subscription.",
        "operationId": "Pricings_List",
        "x-ms-examples": {
          "Get pricings on subscription": {
            "$ref": "./examples/Pricings/ListPricings_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/PricingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pricing"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Gets a provided Microsoft Defender for Cloud pricing configuration in the subscription.",
        "operationId": "Pricings_Get",
        "x-ms-examples": {
          "Get pricings on subscription": {
            "$ref": "./examples/Pricings/GetPricingByName_example.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/PricingName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pricing"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pricings"
        ],
        "description": "Updates a provided Microsoft Defender for Cloud pricing configuration in the subscription.",
        "operationId": "Pricings_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pricing"
              }
            }
          },
          "description": "Pricing object",
          "required": true
        },
        "x-ms-examples": {
          "Update pricing on subscription": {
            "$ref": "./examples/Pricings/PutPricingByName_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PricingName": {
        "description": "name of the pricing configuration",
        "in": "path",
        "name": "pricingName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Pricing": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "Microsoft Defender for Cloud is provided in two pricing tiers: free and standard, with the standard tier available with a trial period. The standard tier offers advanced security capabilities, while the free tier offers basic security features.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PricingProperties",
            "description": "Pricing data",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PricingList": {
        "description": "List of pricing configurations response.",
        "properties": {
          "value": {
            "description": "List of pricing configurations",
            "items": {
              "$ref": "#/components/schemas/Pricing"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "PricingProperties": {
        "description": "Pricing properties for the relevant scope",
        "properties": {
          "freeTrialRemainingTime": {
            "description": "The duration left for the subscriptions free trial period - in ISO 8601 format (e.g. P3Y6M4DT12H30M5S).",
            "format": "duration",
            "readOnly": true,
            "type": "string"
          },
          "pricingTier": {
            "description": "The pricing tier value. Microsoft Defender for Cloud is provided in two pricing tiers: free and standard, with the standard tier available with a trial period. The standard tier offers advanced security capabilities, while the free tier offers basic security features.",
            "enum": [
              "Free",
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "pricingTier",
              "values": [
                {
                  "description": "Get free Microsoft Defender for Cloud experience with basic security features",
                  "value": "Free"
                },
                {
                  "description": "Get the standard Microsoft Defender for Cloud experience with advanced security features",
                  "value": "Standard"
                }
              ]
            }
          }
        },
        "required": [
          "pricingTier"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}