openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2015-04-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Insights/autoscalesettings':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResourceCollection'
          description: Successful request for a list of autoscale settings
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AutoscaleSettings
      description: Lists the autoscale settings for a subscription
      operationId: AutoscaleSettings_ListBySubscription
      x-ms-examples:
        List autoscale settings:
          $ref: ./examples/listAutoscaleSettingBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResourceCollection'
          description: Successful request for a list of autoscale settings
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AutoscaleSettings
      description: Lists the autoscale settings for a resource group
      operationId: AutoscaleSettings_ListByResourceGroup
      x-ms-examples:
        List autoscale settings:
          $ref: ./examples/listAutoscaleSetting.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings/{autoscaleSettingName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/AutoscaleSettingNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Successful request to delete an autoscale setting
        '204':
          description: >-
            No content: Successful request to delete an autoscale setting, but
            the response is intentionally empty
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AutoscaleSettings
      description: Deletes and autoscale setting
      operationId: AutoscaleSettings_Delete
      x-ms-examples:
        Delete an autoscale setting:
          $ref: ./examples/deleteAutoscaleSetting.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/AutoscaleSettingNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: Successful request to get one autoscale setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AutoscaleSettings
      description: Gets an autoscale setting
      operationId: AutoscaleSettings_Get
      x-ms-examples:
        Get an autoscale setting:
          $ref: ./examples/getAutoscaleSetting.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/AutoscaleSettingNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: An existing autoscale setting resource was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      description: >-
        Updates an existing AutoscaleSettingsResource. To update other fields
        use the CreateOrUpdate method.
      operationId: AutoscaleSettings_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoscaleSettingResourcePatch'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Patch an autoscale setting:
          $ref: ./examples/patchAutoscaleSetting.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/AutoscaleSettingNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: Successful request to create or update an autoscale setting
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: Created autoscale setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AutoscaleSettings
      description: Creates or updates an autoscale setting.
      operationId: AutoscaleSettings_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoscaleSettingResource'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Create or update an autoscale setting:
          $ref: ./examples/createOrUpdateAutoscaleSetting.json
components:
  parameters:
    AutoscaleSettingNameParameter:
      description: The autoscale setting name.
      in: path
      name: autoscaleSettingName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AutoscaleNotification:
      description: Autoscale notification.
      properties:
        email:
          $ref: '#/components/schemas/EmailNotification'
          description: the email notification.
        operation:
          description: >-
            the operation associated with the notification and its value must be
            "scale"
          enum:
            - Scale
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperationType
        webhooks:
          description: the collection of webhook notifications.
          items:
            $ref: '#/components/schemas/WebhookNotification'
          type: array
          x-ms-identifiers:
            - serviceUri
      required:
        - operation
      type: object
    AutoscaleProfile:
      description: Autoscale profile.
      properties:
        capacity:
          $ref: '#/components/schemas/ScaleCapacity'
          description: the number of instances that can be used during this profile.
        fixedDate:
          $ref: '#/components/schemas/TimeWindow'
          description: >-
            the specific date-time for the profile. This element is not used if
            the Recurrence element is used.
        name:
          description: the name of the profile.
          type: string
        recurrence:
          $ref: '#/components/schemas/Recurrence'
          description: >-
            the repeating times at which this profile begins. This element is
            not used if the FixedDate element is used.
        rules:
          description: >-
            the collection of rules that provide the triggers and parameters for
            the scaling action. A maximum of 10 rules can be specified.
          items:
            $ref: '#/components/schemas/ScaleRule'
          type: array
          x-ms-identifiers:
            - /metricTrigger/metricName
      required:
        - rules
        - name
        - capacity
      type: object
    AutoscaleSetting:
      description: >-
        A setting that contains all of the configuration for the automatic
        scaling of a resource.
      properties:
        enabled:
          default: false
          description: >-
            the enabled flag. Specifies whether automatic scaling is enabled for
            the resource. The default value is 'false'.
          type: boolean
        name:
          description: the name of the autoscale setting.
          type: string
        notifications:
          description: the collection of notifications.
          items:
            $ref: '#/components/schemas/AutoscaleNotification'
          type: array
          x-ms-identifiers: []
        profiles:
          description: >-
            the collection of automatic scaling profiles that specify different
            scaling parameters for different time periods. A maximum of 20
            profiles can be specified.
          items:
            $ref: '#/components/schemas/AutoscaleProfile'
          maxItems: 20
          type: array
          x-ms-identifiers:
            - name
        targetResourceLocation:
          description: >-
            the location of the resource that the autoscale setting should be
            added to.
          type: string
        targetResourceUri:
          description: >-
            the resource identifier of the resource that the autoscale setting
            should be added to.
          type: string
      required:
        - profiles
      type: object
    AutoscaleSettingResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The autoscale setting resource.
      properties:
        properties:
          $ref: '#/components/schemas/AutoscaleSetting'
          description: The autoscale setting of the resource.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    AutoscaleSettingResourceCollection:
      description: Represents a collection of autoscale setting resources.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: the values for the autoscale setting resources.
          items:
            $ref: '#/components/schemas/AutoscaleSettingResource'
          type: array
      required:
        - value
      type: object
    AutoscaleSettingResourcePatch:
      description: The autoscale setting object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          $ref: '#/components/schemas/AutoscaleSetting'
          description: The autoscale setting properties of the update operation.
          x-ms-client-flatten: true
      type: object
    EmailNotification:
      description: Email notification of an autoscale event.
      properties:
        customEmails:
          description: >-
            the custom e-mails list. This value can be null or empty, in which
            case this attribute will be ignored.
          items:
            type: string
          type: array
        sendToSubscriptionAdministrator:
          default: false
          description: >-
            a value indicating whether to send email to subscription
            administrator.
          type: boolean
        sendToSubscriptionCoAdministrators:
          default: false
          description: >-
            a value indicating whether to send email to subscription
            co-administrators.
          type: boolean
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    MetricTrigger:
      description: The trigger that results in a scaling action.
      properties:
        dimensions:
          description: >-
            List of dimension conditions. For example:
            [{"DimensionName":"AppName","Operator":"Equals","Values":["App1"]},{"DimensionName":"Deployment","Operator":"Equals","Values":["default"]}].
          items:
            $ref: '#/components/schemas/ScaleRuleMetricDimension'
          type: array
          x-ms-identifiers:
            - DimensionName
        dividePerInstance:
          description: a value indicating whether metric should divide per instance.
          type: boolean
        metricName:
          description: the name of the metric that defines what the rule monitors.
          type: string
        metricNamespace:
          description: the namespace of the metric that defines what the rule monitors.
          type: string
        metricResourceLocation:
          description: the location of the resource the rule monitors.
          type: string
        metricResourceUri:
          description: the resource identifier of the resource the rule monitors.
          type: string
        operator:
          description: >-
            the operator that is used to compare the metric data and the
            threshold.
          enum:
            - Equals
            - NotEquals
            - GreaterThan
            - GreaterThanOrEqual
            - LessThan
            - LessThanOrEqual
          type: string
          x-ms-enum:
            modelAsString: false
            name: ComparisonOperationType
        statistic:
          description: >-
            the metric statistic type. How the metrics from multiple instances
            are combined.
          enum:
            - Average
            - Min
            - Max
            - Sum
            - Count
          type: string
          x-ms-enum:
            modelAsString: false
            name: MetricStatisticType
        threshold:
          description: the threshold of the metric that triggers the scale action.
          format: double
          type: number
        timeAggregation:
          description: >-
            time aggregation type. How the data that is collected should be
            combined over time. The default value is Average.
          enum:
            - Average
            - Minimum
            - Maximum
            - Total
            - Count
            - Last
          type: string
          x-ms-enum:
            modelAsString: false
            name: TimeAggregationType
        timeGrain:
          description: >-
            the granularity of metrics the rule monitors. Must be one of the
            predefined values returned from metric definitions for the metric.
            Must be between 12 hours and 1 minute.
          format: duration
          type: string
        timeWindow:
          description: >-
            the range of time in which instance data is collected. This value
            must be greater than the delay in metric collection, which can vary
            from resource-to-resource. Must be between 12 hours and 5 minutes.
          format: duration
          type: string
      required:
        - metricName
        - metricResourceUri
        - timeGrain
        - statistic
        - timeWindow
        - timeAggregation
        - operator
        - threshold
      type: object
    Recurrence:
      description: >-
        The repeating times at which this profile begins. This element is not
        used if the FixedDate element is used.
      properties:
        frequency:
          description: >-
            the recurrence frequency. How often the schedule profile should take
            effect. This value must be Week, meaning each week will have the
            same set of profiles. For example, to set a daily schedule, set
            **schedule** to every day of the week. The frequency property
            specifies that the schedule is repeated weekly.
          enum:
            - None
            - Second
            - Minute
            - Hour
            - Day
            - Week
            - Month
            - Year
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecurrenceFrequency
        schedule:
          $ref: '#/components/schemas/RecurrentSchedule'
          description: the scheduling constraints for when the profile begins.
      required:
        - frequency
        - schedule
      type: object
    RecurrentSchedule:
      description: The scheduling constraints for when the profile begins.
      properties:
        days:
          description: >-
            the collection of days that the profile takes effect on. Possible
            values are Sunday through Saturday.
          items:
            type: string
          type: array
        hours:
          description: >-
            A collection of hours that the profile takes effect on. Values
            supported are 0 to 23 on the 24-hour clock (AM/PM times are not
            supported).
          items:
            format: int32
            type: integer
          type: array
        minutes:
          description: A collection of minutes at which the profile takes effect at.
          items:
            format: int32
            type: integer
          type: array
        timeZone:
          description: >-
            the timezone for the hours of the profile. Some examples of valid
            time zones are: Dateline Standard Time, UTC-11, Hawaiian Standard
            Time, Alaskan Standard Time, Pacific Standard Time (Mexico), Pacific
            Standard Time, US Mountain Standard Time, Mountain Standard Time
            (Mexico), Mountain Standard Time, Central America Standard Time,
            Central Standard Time, Central Standard Time (Mexico), Canada
            Central Standard Time, SA Pacific Standard Time, Eastern Standard
            Time, US Eastern Standard Time, Venezuela Standard Time, Paraguay
            Standard Time, Atlantic Standard Time, Central Brazilian Standard
            Time, SA Western Standard Time, Pacific SA Standard Time,
            Newfoundland Standard Time, E. South America Standard Time,
            Argentina Standard Time, SA Eastern Standard Time, Greenland
            Standard Time, Montevideo Standard Time, Bahia Standard Time,
            UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde
            Standard Time, Morocco Standard Time, UTC, GMT Standard Time,
            Greenwich Standard Time, W. Europe Standard Time, Central Europe
            Standard Time, Romance Standard Time, Central European Standard
            Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan
            Standard Time, GTB Standard Time, Middle East Standard Time, Egypt
            Standard Time, Syria Standard Time, E. Europe Standard Time, South
            Africa Standard Time, FLE Standard Time, Turkey Standard Time,
            Israel Standard Time, Kaliningrad Standard Time, Libya Standard
            Time, Arabic Standard Time, Arab Standard Time, Belarus Standard
            Time, Russian Standard Time, E. Africa Standard Time, Iran Standard
            Time, Arabian Standard Time, Azerbaijan Standard Time, Russia Time
            Zone 3, Mauritius Standard Time, Georgian Standard Time, Caucasus
            Standard Time, Afghanistan Standard Time, West Asia Standard Time,
            Ekaterinburg Standard Time, Pakistan Standard Time, India Standard
            Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia
            Standard Time, Bangladesh Standard Time, N. Central Asia Standard
            Time, Myanmar Standard Time, SE Asia Standard Time, North Asia
            Standard Time, China Standard Time, North Asia East Standard Time,
            Singapore Standard Time, W. Australia Standard Time, Taipei Standard
            Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard
            Time, Yakutsk Standard Time, Cen. Australia Standard Time, AUS
            Central Standard Time, E. Australia Standard Time, AUS Eastern
            Standard Time, West Pacific Standard Time, Tasmania Standard Time,
            Magadan Standard Time, Vladivostok Standard Time, Russia Time Zone
            10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand
            Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time,
            Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time
          type: string
      required:
        - timeZone
        - days
        - hours
        - minutes
      type: object
    Resource:
      description: An azure resource object
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    ScaleAction:
      description: The parameters for the scaling action.
      properties:
        cooldown:
          description: >-
            the amount of time to wait since the last scaling action before this
            action occurs. It must be between 1 week and 1 minute in ISO 8601
            format.
          format: duration
          type: string
        direction:
          description: >-
            the scale direction. Whether the scaling action increases or
            decreases the number of instances.
          enum:
            - None
            - Increase
            - Decrease
          type: string
          x-ms-enum:
            modelAsString: false
            name: ScaleDirection
        type:
          description: the type of action that should occur when the scale rule fires.
          enum:
            - ChangeCount
            - PercentChangeCount
            - ExactCount
            - ServiceAllowedNextValue
          type: string
          x-ms-enum:
            modelAsString: false
            name: ScaleType
        value:
          default: '1'
          description: >-
            the number of instances that are involved in the scaling action.
            This value must be 1 or greater. The default value is 1.
          type: string
      required:
        - direction
        - type
        - cooldown
      type: object
    ScaleCapacity:
      description: The number of instances that can be used during this profile.
      properties:
        default:
          description: >-
            the number of instances that will be set if metrics are not
            available for evaluation. The default is only used if the current
            instance count is lower than the default.
          type: string
        maximum:
          description: >-
            the maximum number of instances for the resource. The actual maximum
            number of instances is limited by the cores that are available in
            the subscription.
          type: string
        minimum:
          description: the minimum number of instances for the resource.
          type: string
      required:
        - minimum
        - maximum
        - default
      type: object
    ScaleRule:
      description: A rule that provide the triggers and parameters for the scaling action.
      properties:
        metricTrigger:
          $ref: '#/components/schemas/MetricTrigger'
          description: the trigger that results in a scaling action.
        scaleAction:
          $ref: '#/components/schemas/ScaleAction'
          description: the parameters for the scaling action.
      required:
        - scaleAction
        - metricTrigger
      type: object
    ScaleRuleMetricDimension:
      description: Specifies an auto scale rule metric dimension.
      properties:
        DimensionName:
          description: Name of the dimension.
          type: string
        Operator:
          description: >-
            the dimension operator. Only 'Equals' and 'NotEquals' are supported.
            'Equals' being equal to any of the values. 'NotEquals' being not
            equal to all of the values
          enum:
            - Equals
            - NotEquals
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScaleRuleMetricDimensionOperationType
        Values:
          description: 'list of dimension values. For example: ["App1","App2"].'
          items:
            type: string
          type: array
      required:
        - DimensionName
        - Operator
        - Values
      type: object
    TimeWindow:
      description: A specific date-time for the profile.
      properties:
        end:
          description: the end time for the profile in ISO 8601 format.
          format: date-time
          type: string
        start:
          description: the start time for the profile in ISO 8601 format.
          format: date-time
          type: string
        timeZone:
          description: >-
            the timezone of the start and end times for the profile. Some
            examples of valid time zones are: Dateline Standard Time, UTC-11,
            Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard Time
            (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain
            Standard Time (Mexico), Mountain Standard Time, Central America
            Standard Time, Central Standard Time, Central Standard Time
            (Mexico), Canada Central Standard Time, SA Pacific Standard Time,
            Eastern Standard Time, US Eastern Standard Time, Venezuela Standard
            Time, Paraguay Standard Time, Atlantic Standard Time, Central
            Brazilian Standard Time, SA Western Standard Time, Pacific SA
            Standard Time, Newfoundland Standard Time, E. South America Standard
            Time, Argentina Standard Time, SA Eastern Standard Time, Greenland
            Standard Time, Montevideo Standard Time, Bahia Standard Time,
            UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde
            Standard Time, Morocco Standard Time, UTC, GMT Standard Time,
            Greenwich Standard Time, W. Europe Standard Time, Central Europe
            Standard Time, Romance Standard Time, Central European Standard
            Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan
            Standard Time, GTB Standard Time, Middle East Standard Time, Egypt
            Standard Time, Syria Standard Time, E. Europe Standard Time, South
            Africa Standard Time, FLE Standard Time, Turkey Standard Time,
            Israel Standard Time, Kaliningrad Standard Time, Libya Standard
            Time, Arabic Standard Time, Arab Standard Time, Belarus Standard
            Time, Russian Standard Time, E. Africa Standard Time, Iran Standard
            Time, Arabian Standard Time, Azerbaijan Standard Time, Russia Time
            Zone 3, Mauritius Standard Time, Georgian Standard Time, Caucasus
            Standard Time, Afghanistan Standard Time, West Asia Standard Time,
            Ekaterinburg Standard Time, Pakistan Standard Time, India Standard
            Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia
            Standard Time, Bangladesh Standard Time, N. Central Asia Standard
            Time, Myanmar Standard Time, SE Asia Standard Time, North Asia
            Standard Time, China Standard Time, North Asia East Standard Time,
            Singapore Standard Time, W. Australia Standard Time, Taipei Standard
            Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard
            Time, Yakutsk Standard Time, Cen. Australia Standard Time, AUS
            Central Standard Time, E. Australia Standard Time, AUS Eastern
            Standard Time, West Pacific Standard Time, Tasmania Standard Time,
            Magadan Standard Time, Vladivostok Standard Time, Russia Time Zone
            10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand
            Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time,
            Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time
          type: string
      required:
        - start
        - end
      type: object
    WebhookNotification:
      description: Webhook notification of an autoscale event.
      properties:
        properties:
          additionalProperties:
            type: string
          description: a property bag of settings. This value can be empty.
          type: object
        serviceUri:
          description: the service address to receive the notification.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

