{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.",
    "title": "CustomerInsightsManagementClient",
    "version": "2017-01-01",
    "x-ms-code-generation-settings": {
      "name": "CustomerInsightsManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/customer-insights/resource-manager/Microsoft.CustomerInsights/stable/2017-01-01/customer-insights.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.CustomerInsights/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Customer Insights REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "DCIOperations_List": {
            "$ref": "./examples/DCIOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CustomerInsights/hubs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubListResult"
                }
              }
            },
            "description": "OK. Successfully get all the hubs in the subscription."
          }
        },
        "tags": [
          "Hubs"
        ],
        "description": "Gets all hubs in the specified subscription.",
        "operationId": "Hubs_List",
        "x-ms-examples": {
          "Hubs_List": {
            "$ref": "./examples/HubsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubListResult"
                }
              }
            },
            "description": "OK. Successfully get all the hubs in the resource group."
          }
        },
        "tags": [
          "Hubs"
        ],
        "description": "Gets all the hubs in a resource group.",
        "operationId": "Hubs_ListByResourceGroup",
        "x-ms-examples": {
          "Hubs_ListByResourceGroup": {
            "$ref": "./examples/HubsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The hub is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "tags": [
          "Hubs"
        ],
        "description": "Deletes the specified hub.",
        "operationId": "Hubs_Delete",
        "x-ms-examples": {
          "Hubs_Delete": {
            "$ref": "./examples/HubsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            },
            "description": "OK. Successfully get the hub."
          }
        },
        "tags": [
          "Hubs"
        ],
        "description": "Gets information about the specified hub.",
        "operationId": "Hubs_Get",
        "x-ms-examples": {
          "Hubs_Get": {
            "$ref": "./examples/HubsGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            },
            "description": "OK. The hub is updated."
          }
        },
        "tags": [
          "Hubs"
        ],
        "description": "Updates a Hub.",
        "operationId": "Hubs_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hub"
              }
            }
          },
          "description": "Parameters supplied to the Update Hub operation.",
          "required": true
        },
        "x-ms-examples": {
          "Hubs_Update": {
            "$ref": "./examples/HubsUpdate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            },
            "description": "OK. An existing hub is updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            },
            "description": "Created. A new hub is created."
          }
        },
        "tags": [
          "Hubs"
        ],
        "description": "Creates a hub, or updates an existing hub.",
        "operationId": "Hubs_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hub"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Hub operation.",
          "required": true
        },
        "x-ms-examples": {
          "Hubs_CreateOrUpdate": {
            "$ref": "./examples/HubsCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationPolicyListResult"
                }
              }
            },
            "description": "OK. Successfully get all the authorization policies in the hub."
          }
        },
        "tags": [
          "AuthorizationPolicies"
        ],
        "description": "Gets all the authorization policies in a specified hub.",
        "operationId": "AuthorizationPolicies_ListByHub",
        "x-ms-examples": {
          "AuthorizationPolicies_ListByHub": {
            "$ref": "./examples/AuthorizationPoliciesListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the policy.",
            "in": "path",
            "name": "authorizationPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationPolicyResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the authorization policy."
          }
        },
        "tags": [
          "AuthorizationPolicies"
        ],
        "description": "Gets an authorization policy in the hub.",
        "operationId": "AuthorizationPolicies_Get",
        "x-ms-examples": {
          "AuthorizationPolicies_Get": {
            "$ref": "./examples/AuthorizationPoliciesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the policy.",
            "in": "path",
            "name": "authorizationPolicyName",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[A-Za-z0-9]$|^[A-Za-z0-9][\\w-\\.]*[A-Za-z0-9]$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationPolicyResourceFormat"
                }
              }
            },
            "description": "OK. Successfully update an existing authorization policy."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationPolicyResourceFormat"
                }
              }
            },
            "description": "Created. A new authorization policy is created."
          }
        },
        "tags": [
          "AuthorizationPolicies"
        ],
        "description": "Creates an authorization policy or updates an existing authorization policy.",
        "operationId": "AuthorizationPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationPolicyResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate authorization policy operation.",
          "required": true
        },
        "x-ms-examples": {
          "AuthorizationPolicies_CreateOrUpdate": {
            "$ref": "./examples/AuthorizationPoliciesCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regeneratePrimaryKey": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the policy.",
            "in": "path",
            "name": "authorizationPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationPolicy"
                }
              }
            },
            "description": "OK. The primary key of the authorization policy is regenerated."
          }
        },
        "tags": [
          "AuthorizationPolicies"
        ],
        "description": "Regenerates the primary policy key of the specified authorization policy.",
        "operationId": "AuthorizationPolicies_RegeneratePrimaryKey",
        "x-ms-examples": {
          "AuthorizationPolicies_RegeneratePrimaryKey": {
            "$ref": "./examples/AuthorizationPoliciesRegeneratePrimaryKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regenerateSecondaryKey": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the policy.",
            "in": "path",
            "name": "authorizationPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationPolicy"
                }
              }
            },
            "description": "OK. The secondary key of the authorization policy is regenerated."
          }
        },
        "tags": [
          "AuthorizationPolicies"
        ],
        "description": "Regenerates the secondary policy key of the specified authorization policy.",
        "operationId": "AuthorizationPolicies_RegenerateSecondaryKey",
        "x-ms-examples": {
          "AuthorizationPolicies_RegenerateSecondaryKey": {
            "$ref": "./examples/AuthorizationPoliciesRegenerateSecondaryKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorListResult"
                }
              }
            },
            "description": "OK. Successfully get all the connectors in the hub."
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Gets all the connectors in the specified hub.",
        "operationId": "Connectors_ListByHub",
        "x-ms-examples": {
          "Connectors_ListByHub": {
            "$ref": "./examples/ConnectorsListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The connector is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Deletes a connector in the hub.",
        "operationId": "Connectors_Delete",
        "x-ms-examples": {
          "Connectors_Delete": {
            "$ref": "./examples/ConnectorsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the connector."
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Gets a connector in the hub.",
        "operationId": "Connectors_Get",
        "x-ms-examples": {
          "Connectors_Get": {
            "$ref": "./examples/ConnectorsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the connector."
          },
          "202": {
            "description": "Accepted. The create connector operation is accepted."
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Creates a connector or updates an existing connector in the hub.",
        "operationId": "Connectors_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Connector operation.",
          "required": true
        },
        "x-ms-examples": {
          "Connectors_CreateOrUpdate": {
            "$ref": "./examples/ConnectorsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorMappingListResult"
                }
              }
            },
            "description": "OK. Successfully get all the connector mappings in the connector."
          }
        },
        "tags": [
          "ConnectorMappings"
        ],
        "description": "Gets all the connector mappings in the specified connector.",
        "operationId": "ConnectorMappings_ListByConnector",
        "x-ms-examples": {
          "ConnectorMappings_ListByConnector": {
            "$ref": "./examples/ConnectorMappingsListByConnector.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings/{mappingName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector mapping.",
            "in": "path",
            "name": "mappingName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The connector mapping is deleted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "tags": [
          "ConnectorMappings"
        ],
        "description": "Deletes a connector mapping in the connector.",
        "operationId": "ConnectorMappings_Delete",
        "x-ms-examples": {
          "ConnectorMappings_Delete": {
            "$ref": "./examples/ConnectorMappingsDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector mapping.",
            "in": "path",
            "name": "mappingName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorMappingResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the connector mapping."
          }
        },
        "tags": [
          "ConnectorMappings"
        ],
        "description": "Gets a connector mapping in the connector.",
        "operationId": "ConnectorMappings_Get",
        "x-ms-examples": {
          "ConnectorMappings_Get": {
            "$ref": "./examples/ConnectorMappingsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector.",
            "in": "path",
            "name": "connectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the connector mapping.",
            "in": "path",
            "name": "mappingName",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorMappingResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the connector mapping."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorMappingResourceFormat"
                }
              }
            },
            "description": "Created. A new connector mapping is created."
          }
        },
        "tags": [
          "ConnectorMappings"
        ],
        "description": "Creates a connector mapping or updates an existing connector mapping in the connector.",
        "operationId": "ConnectorMappings_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorMappingResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Connector Mapping operation.",
          "required": true
        },
        "x-ms-examples": {
          "ConnectorMappings_CreateOrUpdate": {
            "$ref": "./examples/ConnectorMappingsCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getDataImageUploadUrl": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDefinition"
                }
              }
            },
            "description": "OK. Successfully get the image upload URL for data."
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Gets data image upload URL.",
        "operationId": "Images_GetUploadUrlForData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetImageUploadUrlInput"
              }
            }
          },
          "description": "Parameters supplied to the GetUploadUrlForData operation.",
          "required": true
        },
        "x-ms-examples": {
          "Images_GetUploadUrlForData": {
            "$ref": "./examples/ImagesGetUploadUrlForData.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getEntityTypeImageUploadUrl": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDefinition"
                }
              }
            },
            "description": "OK. Successfully get the image upload URL for entity type."
          }
        },
        "tags": [
          "Images"
        ],
        "description": "Gets entity type (profile or interaction) image upload URL.",
        "operationId": "Images_GetUploadUrlForEntityType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetImageUploadUrlInput"
              }
            }
          },
          "description": "Parameters supplied to the GetUploadUrlForEntityType operation.",
          "required": true
        },
        "x-ms-examples": {
          "Images_GetUploadUrlForEntityType": {
            "$ref": "./examples/ImagesGetUploadUrlForEntityType.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale of interaction to retrieve, default is en-us.",
            "in": "query",
            "name": "locale-code",
            "required": false,
            "schema": {
              "default": "en-us",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionListResult"
                }
              }
            },
            "description": "OK. Successfully get all the interactions in the hub."
          }
        },
        "tags": [
          "Interactions"
        ],
        "description": "Gets all interactions in the hub.",
        "operationId": "Interactions_ListByHub",
        "x-ms-examples": {
          "Interactions_ListByHub": {
            "$ref": "./examples/InteractionsListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the interaction.",
            "in": "path",
            "name": "interactionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale of interaction to retrieve, default is en-us.",
            "in": "query",
            "name": "locale-code",
            "required": false,
            "schema": {
              "default": "en-us",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the interaction."
          }
        },
        "tags": [
          "Interactions"
        ],
        "description": "Gets information about the specified interaction.",
        "operationId": "Interactions_Get",
        "x-ms-examples": {
          "Interactions_Get": {
            "$ref": "./examples/InteractionsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the interaction.",
            "in": "path",
            "name": "interactionName",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the interaction."
          },
          "202": {
            "description": "Accepted. The create interaction operation is accepted."
          }
        },
        "tags": [
          "Interactions"
        ],
        "description": "Creates an interaction or updates an existing interaction within a hub.",
        "operationId": "Interactions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractionResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Interaction operation.",
          "required": true
        },
        "x-ms-examples": {
          "Interactions_CreateOrUpdate": {
            "$ref": "./examples/InteractionsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}/suggestRelationshipLinks": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the interaction.",
            "in": "path",
            "name": "interactionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestRelationshipLinksResponse"
                }
              }
            },
            "description": "OK. Successfully get suggested Relationship Links."
          }
        },
        "tags": [
          "Interactions"
        ],
        "description": "Suggests relationships to create relationship links.",
        "operationId": "Interactions_SuggestRelationshipLinks",
        "x-ms-examples": {
          "Interactions_SuggestRelationshipLinks": {
            "$ref": "./examples/InteractionsSuggestRelationshipLinks.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KpiListResult"
                }
              }
            },
            "description": "OK. Successfully get all the KPIs in the hub."
          }
        },
        "tags": [
          "Kpi"
        ],
        "description": "Gets all the KPIs in the specified hub.",
        "operationId": "Kpi_ListByHub",
        "x-ms-examples": {
          "Kpi_ListByHub": {
            "$ref": "./examples/KpiListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the KPI.",
            "in": "path",
            "name": "kpiName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The KPI is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          }
        },
        "tags": [
          "Kpi"
        ],
        "description": "Deletes a KPI in the hub.",
        "operationId": "Kpi_Delete",
        "x-ms-examples": {
          "Kpi_Delete": {
            "$ref": "./examples/KpiDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the KPI.",
            "in": "path",
            "name": "kpiName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KpiResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the KPI."
          }
        },
        "tags": [
          "Kpi"
        ],
        "description": "Gets a KPI in the hub.",
        "operationId": "Kpi_Get",
        "x-ms-examples": {
          "Kpi_Get": {
            "$ref": "./examples/KpiGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the KPI.",
            "in": "path",
            "name": "kpiName",
            "required": true,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KpiResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the KPI."
          },
          "202": {
            "description": "Accepted. The create KPI operation is accepted."
          }
        },
        "tags": [
          "Kpi"
        ],
        "description": "Creates a KPI or updates an existing KPI in the hub.",
        "operationId": "Kpi_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KpiResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the create/update KPI operation.",
          "required": true
        },
        "x-ms-examples": {
          "Kpi_CreateOrUpdate": {
            "$ref": "./examples/KpiCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}/reprocess": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the KPI.",
            "in": "path",
            "name": "kpiName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Reprocessing Kpi Values operation is accepted."
          }
        },
        "tags": [
          "Kpi"
        ],
        "description": "Reprocesses the Kpi values of the specified KPI.",
        "operationId": "Kpi_Reprocess",
        "x-ms-examples": {
          "Kpi_Reprocess": {
            "$ref": "./examples/KpiReprocess.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkListResult"
                }
              }
            },
            "description": "OK. Successfully get all the links in the hub."
          }
        },
        "tags": [
          "Links"
        ],
        "description": "Gets all the links in the specified hub.",
        "operationId": "Links_ListByHub",
        "x-ms-examples": {
          "Links_ListByHub": {
            "$ref": "./examples/LinksListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links/{linkName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the link.",
            "in": "path",
            "name": "linkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The link is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          }
        },
        "tags": [
          "Links"
        ],
        "description": "Deletes a link in the hub.",
        "operationId": "Links_Delete",
        "x-ms-examples": {
          "Links_Delete": {
            "$ref": "./examples/LinksDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the link.",
            "in": "path",
            "name": "linkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the link."
          }
        },
        "tags": [
          "Links"
        ],
        "description": "Gets a link in the hub.",
        "operationId": "Links_Get",
        "x-ms-examples": {
          "Links_Get": {
            "$ref": "./examples/LinksGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the link.",
            "in": "path",
            "name": "linkName",
            "required": true,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the link."
          },
          "202": {
            "description": "Accepted. The create link operation is accepted."
          }
        },
        "tags": [
          "Links"
        ],
        "description": "Creates a link or updates an existing link in the hub.",
        "operationId": "Links_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Link operation.",
          "required": true
        },
        "x-ms-examples": {
          "Links_CreateOrUpdate": {
            "$ref": "./examples/LinksCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale of profile to retrieve, default is en-us.",
            "in": "query",
            "name": "locale-code",
            "required": false,
            "schema": {
              "default": "en-us",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResult"
                }
              }
            },
            "description": "OK. Successfully get all the profiles in the hub."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Gets all profile in the hub.",
        "operationId": "Profiles_ListByHub",
        "x-ms-examples": {
          "Profiles_ListByHub": {
            "$ref": "./examples/ProfilesListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles/{profileName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale of profile to retrieve, default is en-us.",
            "in": "query",
            "name": "locale-code",
            "required": false,
            "schema": {
              "default": "en-us",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The profile is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Deletes a profile within a hub",
        "operationId": "Profiles_Delete",
        "x-ms-examples": {
          "Profiles_Delete": {
            "$ref": "./examples/ProfilesDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale of profile to retrieve, default is en-us.",
            "in": "query",
            "name": "locale-code",
            "required": false,
            "schema": {
              "default": "en-us",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the profile."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Gets information about the specified profile.",
        "operationId": "Profiles_Get",
        "x-ms-examples": {
          "Profiles_Get": {
            "$ref": "./examples/ProfilesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the profile."
          },
          "202": {
            "description": "Accepted. The create profile operation is accepted."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Creates a profile within a Hub, or updates an existing profile.",
        "operationId": "Profiles_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the create/delete Profile type operation",
          "required": true
        },
        "x-ms-examples": {
          "Profiles_CreateOrUpdate": {
            "$ref": "./examples/ProfilesCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/profiles/{profileName}/getEnrichingKpis": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/KpiDefinition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK. Successfully get the enriching KPIs."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Gets the KPIs that enrich the profile Type identified by the supplied name. Enrichment happens through participants of the Interaction on an Interaction KPI and through Relationships for Profile KPIs.",
        "operationId": "Profiles_GetEnrichingKpis",
        "x-ms-examples": {
          "Profiles_GetEnrichingKpis": {
            "$ref": "./examples/ProfileGetEnrichingKpis.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipLinkListResult"
                }
              }
            },
            "description": "OK. Successfully get all the relationship links in the hub."
          }
        },
        "tags": [
          "RelationshipLinks"
        ],
        "description": "Gets all relationship links in the hub.",
        "operationId": "RelationshipLinks_ListByHub",
        "x-ms-examples": {
          "RelationshipLinks_ListByHub": {
            "$ref": "./examples/RelationshipLinksListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks/{relationshipLinkName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the relationship.",
            "in": "path",
            "name": "relationshipLinkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The relationship link is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          }
        },
        "tags": [
          "RelationshipLinks"
        ],
        "description": "Deletes a relationship link within a hub.",
        "operationId": "RelationshipLinks_Delete",
        "x-ms-examples": {
          "RelationshipLinks_Delete": {
            "$ref": "./examples/RelationshipLinksDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the relationship link.",
            "in": "path",
            "name": "relationshipLinkName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipLinkResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the relationship link."
          }
        },
        "tags": [
          "RelationshipLinks"
        ],
        "description": "Gets information about the specified relationship Link.",
        "operationId": "RelationshipLinks_Get",
        "x-ms-examples": {
          "RelationshipLinks_Get": {
            "$ref": "./examples/RelationshipLinksGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the relationship link.",
            "in": "path",
            "name": "relationshipLinkName",
            "required": true,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipLinkResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the relationship link."
          },
          "202": {
            "description": "Accepted. The create relationship operation is accepted."
          }
        },
        "tags": [
          "RelationshipLinks"
        ],
        "description": "Creates a relationship link or updates an existing relationship link within a hub.",
        "operationId": "RelationshipLinks_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipLinkResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate relationship link operation.",
          "required": true
        },
        "x-ms-examples": {
          "RelationshipLinks_CreateOrUpdate": {
            "$ref": "./examples/RelationshipLinksCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationships": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipListResult"
                }
              }
            },
            "description": "OK. Successfully get all the relationships in the hub."
          }
        },
        "tags": [
          "Relationships"
        ],
        "description": "Gets all relationships in the hub.",
        "operationId": "Relationships_ListByHub",
        "x-ms-examples": {
          "Relationships_ListByHub": {
            "$ref": "./examples/RelationshipsListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationships/{relationshipName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the relationship.",
            "in": "path",
            "name": "relationshipName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The relationship is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          }
        },
        "tags": [
          "Relationships"
        ],
        "description": "Deletes a relationship within a hub.",
        "operationId": "Relationships_Delete",
        "x-ms-examples": {
          "Relationships_Delete": {
            "$ref": "./examples/RelationshipsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the relationship.",
            "in": "path",
            "name": "relationshipName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the relationship."
          }
        },
        "tags": [
          "Relationships"
        ],
        "description": "Gets information about the specified relationship.",
        "operationId": "Relationships_Get",
        "x-ms-examples": {
          "Relationships_Get": {
            "$ref": "./examples/RelationshipsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Relationship.",
            "in": "path",
            "name": "relationshipName",
            "required": true,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the relationship."
          },
          "202": {
            "description": "Accepted. The create relationship operation is accepted."
          }
        },
        "tags": [
          "Relationships"
        ],
        "description": "Creates a relationship or updates an existing relationship within a hub.",
        "operationId": "Relationships_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Relationship operation.",
          "required": true
        },
        "x-ms-examples": {
          "Relationships_CreateOrUpdate": {
            "$ref": "./examples/RelationshipsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleAssignmentListResult"
                }
              }
            },
            "description": "OK. Successfully get all the role assignment in the hub."
          }
        },
        "tags": [
          "RoleAssignments"
        ],
        "description": "Gets all the role assignments for the specified hub.",
        "operationId": "RoleAssignments_ListByHub",
        "x-ms-examples": {
          "RoleAssignments_ListByHub": {
            "$ref": "./examples/RoleAssignmentsListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments/{assignmentName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the role assignment.",
            "in": "path",
            "name": "assignmentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The role assignment is deleted."
          },
          "202": {
            "description": "Accepted. The delete operation is accepted."
          },
          "204": {
            "description": "NoContent. Successfully requested delete operation, but the response is intentionally empty."
          }
        },
        "tags": [
          "RoleAssignments"
        ],
        "description": "Deletes the role assignment in the hub.",
        "operationId": "RoleAssignments_Delete",
        "x-ms-examples": {
          "RoleAssignments_Delete": {
            "$ref": "./examples/RoleAssignmentsDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the role assignment.",
            "in": "path",
            "name": "assignmentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleAssignmentResourceFormat"
                }
              }
            },
            "description": "OK. Successfully get the role assignment."
          }
        },
        "tags": [
          "RoleAssignments"
        ],
        "description": "Gets the role assignment in the hub.",
        "operationId": "RoleAssignments_Get",
        "x-ms-examples": {
          "RoleAssignments_Get": {
            "$ref": "./examples/RoleAssignmentsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The assignment name",
            "in": "path",
            "name": "assignmentName",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "pattern": "^[a-zA-Z][a-zA-Z0-9_]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleAssignmentResourceFormat"
                }
              }
            },
            "description": "OK. Successfully created the role assignment."
          },
          "202": {
            "description": "Accepted. The create role assignment operation is accepted."
          }
        },
        "tags": [
          "RoleAssignments"
        ],
        "description": "Creates or updates a role assignment in the hub.",
        "operationId": "RoleAssignments_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleAssignmentResourceFormat"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate RoleAssignment operation.",
          "required": true
        },
        "x-ms-examples": {
          "RoleAssignments_CreateOrUpdate": {
            "$ref": "./examples/RoleAssignmentsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roles": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleListResult"
                }
              }
            },
            "description": "OK. Successfully get all the roles in the hub."
          }
        },
        "tags": [
          "Roles"
        ],
        "description": "Gets all the roles for the hub.",
        "operationId": "Roles_ListByHub",
        "x-ms-examples": {
          "Roles_ListByHub": {
            "$ref": "./examples/RolesListByHub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/views": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the hub.",
            "in": "path",
            "name": "hubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The user ID. Use * to retrieve hub level views.",
            "in": "query",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewListResult"
                }
              }
            },
            "description": "OK. Successfully get all the views in the hub for the given user."
          }
        },
        "tags": [
[...]
