openapi: 3.0.0
info:
  description: Azure DevTest Labs REST API version 2015-05-21-preview.
  title: DevTestLabsClient
  version: 2015-05-21-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: List labs.
      operationId: Lab_ListBySubscription
      x-ms-odata: '#/components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: List labs.
      operationId: Lab_ListByResourceGroup
      x-ms-odata: '#/components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ArtifactSource_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ArtifactSource_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      description: List artifact sources.
      operationId: ArtifactSource_List
      x-ms-odata: '#/components/schemas/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Artifact_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Artifact_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Artifact
      description: List artifacts.
      operationId: Artifact_List
      x-ms-odata: '#/components/schemas/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
            text/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Artifact
      description: Get artifact.
      operationId: Artifact_GetResource
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Artifact
      description: >-
        Generates an ARM template for the given artifact, uploads the required
        files to a storage account, and validates the generated artifact.
      operationId: Artifact_GenerateArmTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      description: Delete artifact source.
      operationId: ArtifactSource_DeleteResource
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      description: Get artifact source.
      operationId: ArtifactSource_GetResource
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      description: Modify properties of artifact sources.
      operationId: ArtifactSource_PatchResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
          text/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      description: Create or replace an existing artifact source.
      operationId: ArtifactSource_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
          text/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CostInsight_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CostInsight_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CostInsight
      description: List cost insights.
      operationId: CostInsight_List
      x-ms-odata: '#/components/schemas/CostInsight'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost insight.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostInsight'
            text/json:
              schema:
                $ref: '#/components/schemas/CostInsight'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CostInsight
      description: Get cost insight.
      operationId: CostInsight_GetResource
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}/refreshData':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost insight.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CostInsight
      description: >-
        Refresh Lab's Cost Insight Data. This operation can take a while to
        complete.
      operationId: CostInsight_RefreshData
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Cost_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Cost_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Cost
      description: List costs.
      operationId: Cost_List
      x-ms-odata: '#/components/schemas/Cost'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cost'
            text/json:
              schema:
                $ref: '#/components/schemas/Cost'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Cost
      description: Get cost.
      operationId: Cost_GetResource
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}/refreshData':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Cost
      description: Refresh Lab's Cost Data. This operation can take a while to complete.
      operationId: Cost_RefreshData
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CustomImage_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CustomImage_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      description: List custom images.
      operationId: CustomImage_List
      x-ms-odata: '#/components/schemas/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      description: Delete custom image. This operation can take a while to complete.
      operationId: CustomImage_DeleteResource
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      description: Get custom image.
      operationId: CustomImage_GetResource
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      description: >-
        Create or replace an existing custom image. This operation can take a
        while to complete.
      operationId: CustomImage_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Formula_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Formula_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
      description: List formulas.
      operationId: Formula_List
      x-ms-odata: '#/components/schemas/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
      description: Delete formula.
      operationId: Formula_DeleteResource
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
      description: Get formula.
      operationId: Formula_GetResource
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
      description: >-
        Create or replace an existing Formula. This operation can take a while
        to complete.
      operationId: Formula_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Formula'
          text/json:
            schema:
              $ref: '#/components/schemas/Formula'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_GalleryImage_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_GalleryImage_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - GalleryImage
      description: List gallery images.
      operationId: GalleryImage_List
      x-ms-odata: '#/components/schemas/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - PolicySet
      description: Evaluates Lab Policy.
      operationId: PolicySet_EvaluatePolicies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Policy_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Policy_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      description: List policies.
      operationId: Policy_List
      x-ms-odata: '#/components/schemas/Policy'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      description: Delete policy.
      operationId: Policy_DeleteResource
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      description: Get policy.
      operationId: Policy_GetResource
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      description: Modify properties of policies.
      operationId: Policy_PatchResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
          text/json:
            schema:
              $ref: '#/components/schemas/Policy'
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      description: Create or replace an existing policy.
      operationId: Policy_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
          text/json:
            schema:
              $ref: '#/components/schemas/Policy'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      description: List schedules.
      operationId: Schedule_List
      x-ms-odata: '#/components/schemas/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      description: Delete schedule. This operation can take a while to complete.
      operationId: Schedule_DeleteResource
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      description: Get schedule.
      operationId: Schedule_GetResource
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      description: Modify properties of schedules.
      operationId: Schedule_PatchResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
          text/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      description: >-
        Create or replace an existing schedule. This operation can take a while
        to complete.
      operationId: Schedule_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
          text/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      description: Execute a schedule. This operation can take a while to complete.
      operationId: Schedule_Execute
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseWithContinuation_LabVirtualMachine_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseWithContinuation_LabVirtualMachine_
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: List virtual machines.
      operationId: VirtualMachine_List
      x-ms-odata: '#/components/schemas/LabVirtualMachine'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: Delete virtual machine. This operation can take a while to complete.
      operationId: VirtualMachine_DeleteResource
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: Get virtual machine.
      operationId: VirtualMachine_GetResource
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: Modify properties of virtual machines.
      operationId: VirtualMachine_PatchResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
          text/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: >-
        Create or replace an existing Virtual Machine. This operation can take a
        while to complete.
      operationId: VirtualMachine_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
          text/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/applyArtifacts':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: Apply artifacts to Lab VM. This operation can take a while to complete.
      operationId: VirtualMachine_ApplyArtifacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyArtifactsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplyArtifactsRequest'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: Start a Lab VM. This operation can take a while to complete.
      operationId: VirtualMachine_Start
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      description: Stop a Lab VM. This operation can take a while to complete.
      operationId: VirtualMachine_Stop
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_VirtualNetwork_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_VirtualNetwork_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      description: List virtual networks.
      operationId: VirtualNetwork_List
      x-ms-odata: '#/components/schemas/VirtualNetwork'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      description: Delete virtual network. This operation can take a while to complete.
      operationId: VirtualNetwork_DeleteResource
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      description: Get virtual network.
      operationId: VirtualNetwork_GetResource
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      description: Modify properties of virtual networks.
      operationId: VirtualNetwork_PatchResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      description: >-
        Create or replace an existing virtual network. This operation can take a
        while to complete.
      operationId: VirtualNetwork_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: Delete lab. This operation can take a while to complete.
      operationId: Lab_DeleteResource
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: Get lab.
      operationId: Lab_GetResource
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: Modify properties of labs.
      operationId: Lab_PatchResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lab'
          text/json:
            schema:
              $ref: '#/components/schemas/Lab'
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: >-
        Create or replace an existing Lab. This operation can take a while to
        complete.
      operationId: Lab_CreateOrUpdateResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lab'
          text/json:
            schema:
              $ref: '#/components/schemas/Lab'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}/createEnvironment':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: >-
        Create virtual machines in a Lab. This operation can take a while to
        complete.
      operationId: Lab_CreateEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
          text/json:
            schema:
              $ref: '#/components/schemas/LabVirtualMachine'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}/generateUploadUri':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUploadUriResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GenerateUploadUriResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: Generate a URI for uploading custom disk images to a Lab.
      operationId: Lab_GenerateUploadUri
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUploadUriParameter'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateUploadUriParameter'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}/listVhds':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabVhd_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabVhd_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      description: List disk images available for custom image creation.
      operationId: Lab_ListVhds
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2015-05-21-preview
        type: string
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    ArtifactSource:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ArtifactSource'
        text/json:
          schema:
            $ref: '#/components/schemas/ArtifactSource'
      required: true
    Lab:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Lab'
        text/json:
          schema:
            $ref: '#/components/schemas/Lab'
      required: true
    LabVirtualMachine:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LabVirtualMachine'
        text/json:
          schema:
            $ref: '#/components/schemas/LabVirtualMachine'
      required: true
    Policy:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Policy'
        text/json:
          schema:
            $ref: '#/components/schemas/Policy'
      required: true
    Schedule:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Schedule'
        text/json:
          schema:
            $ref: '#/components/schemas/Schedule'
      required: true
    VirtualNetwork:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VirtualNetwork'
        text/json:
          schema:
            $ref: '#/components/schemas/VirtualNetwork'
      required: true
  schemas:
    ApplyArtifactsRequest:
      description: Request body for applying artifacts to a virtual machine.
      properties:
        artifacts:
          description: The list of artifacts to apply.
          items:
            $ref: '#/components/schemas/ArtifactInstallProperties'
          type: array
      type: object
    ArmTemplateInfo:
      description: Information about a generated ARM template.
      properties:
        parameters:
          $ref: '#/components/schemas/Object'
          description: The parameters of the ARM template.
        template:
          $ref: '#/components/schemas/Object'
          description: The template's contents.
      type: object
    Artifact:
      description: An artifact.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        id:
          description: The identifier of the resource.
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ArtifactProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
        type:
          description: The type of the resource.
          type: string
      type: object
      x-ms-azure-resource: true
    ArtifactDeploymentStatusProperties:
      description: Properties of an artifact deployment.
      properties:
        artifactsApplied:
          description: The total count of the artifacts that were successfully applied.
          format: int32
          type: integer
        deploymentStatus:
          description: The deployment status of the artifact.
          type: string
        totalArtifacts:
          description: The total count of the artifacts that were tentatively applied.
          format: int32
          type: integer
      type: object
    ArtifactInstallProperties:
      description: Properties of an artifact.
      properties:
        parameters:
          description: The parameters of the artifact.
          items:
            $ref: '#/components/schemas/ArtifactParameterProperties'
          type: array
        artifactId:
          description: The artifact's identifier.
          type: string
      type: object
    ArtifactParameterProperties:
      description: Properties of an artifact parameter.
      properties:
        name:
          description: The name of the artifact parameter.
          type: string
        value:
          description: The value of the artifact parameter.
          type: string
      type: object
[...]
