{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights client for ProactiveDetection configurations of a component.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2015-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentProactiveDetection_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfigurationListResult"
                }
              }
            },
            "description": "A list containing 0 or more ProactiveDetection configurations of an Application Insights component."
          }
        },
        "description": "Gets a list of ProactiveDetection configurations of an Application Insights component.",
        "operationId": "ProactiveDetectionConfigurations_List",
        "x-ms-examples": {
          "ProactiveDetectionConfigurationsList": {
            "$ref": "./examples/ProactiveDetectionConfigurationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs/{ConfigurationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ConfigurationId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"
                }
              }
            },
            "description": "The ProactiveDetection configuration for this configuration id."
          }
        },
        "description": "Get the ProactiveDetection configuration for this configuration id.",
        "operationId": "ProactiveDetectionConfigurations_Get",
        "x-ms-examples": {
          "ProactiveDetectionConfigurationGet": {
            "$ref": "./examples/ProactiveDetectionConfigurationGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ConfigurationId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"
                }
              }
            },
            "description": "The ProactiveDetection configuration that was successfully updated."
          }
        },
        "description": "Update the ProactiveDetection configuration for this configuration id.",
        "operationId": "ProactiveDetectionConfigurations_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"
              }
            }
          },
          "description": "Properties that need to be specified to update the ProactiveDetection configuration.",
          "required": true
        },
        "x-ms-examples": {
          "ProactiveDetectionConfigurationUpdate": {
            "$ref": "./examples/ProactiveDetectionConfigurationUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ConfigurationId": {
        "description": "The ProactiveDetection configuration ID. This is unique within a Application Insights component.",
        "in": "path",
        "name": "ConfigurationId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ApplicationInsightsComponentProactiveDetectionConfiguration": {
        "description": "Properties that define a ProactiveDetection configuration.",
        "properties": {
          "CustomEmails": {
            "description": "Custom email addresses for this rule notifications",
            "items": {
              "type": "string"
            },
            "readOnly": false,
            "type": "array"
          },
          "Enabled": {
            "description": "A flag that indicates whether this rule is enabled by the user",
            "readOnly": false,
            "type": "boolean"
          },
          "LastUpdatedTime": {
            "description": "The last time this rule was updated",
            "readOnly": false,
            "type": "string"
          },
          "Name": {
            "description": "The rule name",
            "readOnly": false,
            "type": "string"
          },
          "RuleDefinitions": {
            "description": "Static definitions of the ProactiveDetection configuration rule (same values for all components).",
            "properties": {
              "Description": {
                "description": "The rule description",
                "readOnly": false,
                "type": "string"
              },
              "DisplayName": {
                "description": "The rule name as it is displayed in UI",
                "readOnly": false,
                "type": "string"
              },
              "HelpUrl": {
                "description": "URL which displays additional info about the proactive detection rule",
                "readOnly": false,
                "type": "string"
              },
              "IsEnabledByDefault": {
                "description": "A flag indicating whether the rule is enabled by default",
                "readOnly": false,
                "type": "boolean"
              },
              "IsHidden": {
                "description": "A flag indicating whether the rule is hidden (from the UI)",
                "readOnly": false,
                "type": "boolean"
              },
              "IsInPreview": {
                "description": "A flag indicating whether the rule is in preview",
                "readOnly": false,
                "type": "boolean"
              },
              "Name": {
                "description": "The rule name",
                "readOnly": false,
                "type": "string"
              },
              "SupportsEmailNotifications": {
                "description": "A flag indicating whether email notifications are supported for detections for this rule",
                "readOnly": false,
                "type": "boolean"
              }
            },
            "readOnly": false,
            "type": "object"
          },
          "SendEmailsToSubscriptionOwners": {
            "description": "A flag that indicated whether notifications on this rule should be sent to subscription owners",
            "readOnly": false,
            "type": "boolean"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ApplicationInsightsComponentProactiveDetectionConfigurationListResult": {
        "description": "A list of ProactiveDetection configurations.",
        "items": {
          "$ref": "#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration"
        },
        "type": "array",
        "x-ms-identifiers": [
          "Name"
        ]
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}