{
  "openapi": "3.0.0",
  "info": {
    "description": "Quota admin operation endpoints and objects.",
    "title": "NetworkAdminManagementClient",
    "version": "2015-06-15",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/Quotas.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas": {
      "get": {
        "parameters": [
          {
            "$ref": "Network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "List all quotas.",
        "operationId": "Quotas_List",
        "x-ms-examples": {
          "List all quotas": {
            "$ref": "./examples/Quota/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Quota",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "Network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Network"
        ],
        "description": "Delete a quota by name.",
        "operationId": "Quotas_Delete",
        "x-ms-examples": {
          "Delete a quota by name.": {
            "$ref": "./examples/Quota/Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "Network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Get a quota by name.",
        "operationId": "Quotas_Get",
        "x-ms-examples": {
          "Get a quota by name": {
            "$ref": "./examples/Quota/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "Network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "Network"
        ],
        "description": "Create or update a quota.",
        "operationId": "Quotas_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Quota"
              }
            }
          },
          "description": "New network quota to create.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a new quota": {
            "$ref": "./examples/Quota/Put.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MigrationPhase": {
        "description": "State of migration such as None, Prepare, Commit, and Abort.",
        "enum": [
          "None",
          "Prepare",
          "Commit",
          "Abort"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "MigrationPhaseType"
        }
      },
      "Quota": {
        "allOf": [
          {
            "$ref": "Network.json#/definitions/Resource"
          }
        ],
        "description": "Network quota resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/QuotaProperties",
            "description": "Network quota properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "QuotaList": {
        "description": "A pageable list of network quotas.",
        "properties": {
          "nextLink": {
            "description": "The URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of quotas on this page.",
            "items": {
              "$ref": "#/components/schemas/Quota"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaProperties": {
        "allOf": [
          {
            "$ref": "Network.json#/definitions/ProvisionedResource"
          }
        ],
        "description": "Properties of a quota.",
        "properties": {
          "maxLoadBalancersPerSubscription": {
            "description": "Maximum number of load balancers a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "maxNicsPerSubscription": {
            "description": "Maximum number of NICs a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "maxPublicIpsPerSubscription": {
            "description": "Maximum number of public IP addresses a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "maxSecurityGroupsPerSubscription": {
            "description": "Maximum number of security groups a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "maxVirtualNetworkGatewayConnectionsPerSubscription": {
            "description": "Maximum number of virtual network gateway Connections a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "maxVirtualNetworkGatewaysPerSubscription": {
            "description": "Maximum number of virtual network gateways a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "maxVnetsPerSubscription": {
            "description": "Maximum number of virtual networks a tenant subscription can provision.",
            "format": "int64",
            "type": "integer"
          },
          "migrationPhase": {
            "$ref": "#/components/schemas/MigrationPhase",
            "description": "State of migration such as None, Prepare, Commit, and Abort.",
            "readOnly": true
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}