openapi: 3.0.0
info:
  description: Resource provider health operation endpoints and objects.
  title: InfrastructureInsightsManagementClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths':
    get:
      parameters:
        - $ref: >-
            InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            InfrastructureInsights.json#/components/parameters/ResourceGroupParameter
        - $ref: InfrastructureInsights.json#/components/parameters/LocationParameter
        - $ref: >-
            InfrastructureInsights.json#/components/parameters/ApiVersionParameter
        - $ref: InfrastructureInsights.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceHealthList'
          description: OK
      tags:
        - ServiceHealths
      description: Returns the list of all resource provider health states.
      operationId: ServiceHealths_List
      x-ms-examples:
        Returns the list of all resource provider health states.:
          $ref: ./examples/ServiceHealth/List.json
      x-ms-odata: '#/components/schemas/ServiceHealth'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}':
    get:
      parameters:
        - $ref: >-
            InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            InfrastructureInsights.json#/components/parameters/ResourceGroupParameter
        - $ref: InfrastructureInsights.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/ServiceHealthParameter'
        - $ref: >-
            InfrastructureInsights.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceHealth'
          description: OK
      tags:
        - ServiceHealths
      description: Returns the requested service health object.
      operationId: ServiceHealths_Get
      x-ms-examples:
        Returns the requested service health object.:
          $ref: ./examples/ServiceHealth/Get.json
components:
  parameters:
    ServiceHealthParameter:
      description: Service Health name.
      in: path
      name: serviceHealth
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ServiceHealth:
      allOf:
        - $ref: InfrastructureInsights.json#/definitions/TrackedResource
      description: Holds information about the health of a service.
      properties:
        properties:
          $ref: '#/components/schemas/ServiceHealthModel'
          description: Holds information about the health of a service.
          x-ms-client-flatten: true
      type: object
    ServiceHealthList:
      description: Pageable list of service health objects.
      properties:
        nextLink:
          description: URI of the next page.
          type: string
        value:
          description: List of service health objects.
          items:
            $ref: '#/components/schemas/ServiceHealth'
          type: array
      type: object
    ServiceHealthModel:
      allOf:
        - $ref: InfrastructureInsights.json#/definitions/BaseHealth
      description: Holds information about the health of a service.
      properties:
        displayName:
          description: Name of the service.
          type: string
        infraURI:
          description: The route prefix to the service.
          type: string
        serviceLocation:
          description: Location of the service.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

