{
  "openapi": "3.0.0",
  "info": {
    "description": "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.",
    "title": "ConsumptionManagementClient",
    "version": "2018-05-31",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-05-31/consumption.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/components/parameters/billingPeriodNameParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details based on billingAccountId for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListForBillingPeriodByBillingAccount",
        "x-ms-examples": {
          "UsageDetailsListForBillingPeriod": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountIdParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details by billingAccountId for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListByBillingAccount",
        "x-ms-examples": {
          "UsageDetailsList": {
            "$ref": "./examples/UsageDetailsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/departmentIdParameter"
          },
          {
            "$ref": "#/components/parameters/billingPeriodNameParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details based on departmentId for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListForBillingPeriodByDepartment",
        "x-ms-examples": {
          "UsageDetailsListForBillingPeriod": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByDepartment.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/departmentIdParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details by departmentId for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListByDepartment",
        "x-ms-examples": {
          "UsageDetailsList": {
            "$ref": "./examples/UsageDetailsListByDepartment.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/enrollmentAccountIdParameter"
          },
          {
            "$ref": "#/components/parameters/billingPeriodNameParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details based on enrollmentAccountId for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListForBillingPeriodByEnrollmentAccount",
        "x-ms-examples": {
          "UsageDetailsListForBillingPeriod": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/enrollmentAccountIdParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details by enrollmentAccountId for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListByEnrollmentAccount",
        "x-ms-examples": {
          "UsageDetailsList": {
            "$ref": "./examples/UsageDetailsListByEnrollmentAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Consumption/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available consumption REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default": {
      "get": {
        "parameters": [
          {
            "description": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the top N results.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingPeriodNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceSheetResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PriceSheet"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.",
        "operationId": "PriceSheet_GetByBillingPeriod",
        "x-ms-examples": {
          "PriceSheetExpand": {
            "$ref": "./examples/PriceSheetExpand.json"
          },
          "PriceSheetForBillingPeriod": {
            "$ref": "./examples/PriceSheetForBillingPeriod.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/billingPeriodNameParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_ListByBillingPeriod",
        "x-ms-examples": {
          "UsageDetailsExpand": {
            "$ref": "./examples/UsageDetailsExpand.json"
          },
          "UsageDetailsListForBillingPeriod": {
            "$ref": "./examples/UsageDetailsListForBillingPeriod.json"
          },
          "UsageDetailsListForBillingPeriodGroupByTag": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodGroupByTag.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts": {
      "get": {
        "parameters": [
          {
            "description": "May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Forecasts"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the forecast charges by subscriptionId.",
        "operationId": "Forecasts_List",
        "x-ms-examples": {
          "ForecastsList": {
            "$ref": "./examples/ForecastsList.json"
          },
          "ForecastsListFilterByDates": {
            "$ref": "./examples/ForecastsListFilterByDates.json"
          },
          "ForecastsListFilterByGrain": {
            "$ref": "./examples/ForecastsListFilterByGrain.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Forecast",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default": {
      "get": {
        "parameters": [
          {
            "description": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the top N results.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceSheetResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PriceSheet"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.",
        "operationId": "PriceSheet_Get",
        "x-ms-examples": {
          "PriceSheet": {
            "$ref": "./examples/PriceSheet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "description": "May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)",
            "in": "query",
            "name": "$apply",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "Apply",
            "x-ms-parameter-grouping": {
              "name": "QueryOptions"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDetailsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "UsageDetails"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the usage details for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.",
        "operationId": "UsageDetails_List",
        "x-ms-examples": {
          "UsageDetailsList": {
            "$ref": "./examples/UsageDetailsList.json"
          },
          "UsageDetailsListFilterByTag": {
            "$ref": "./examples/UsageDetailsListFilterByTag.json"
          },
          "UsageDetailsListGroupByTagDate": {
            "$ref": "./examples/UsageDetailsListGroupByTagDate.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "Version of the API to be used with the client request. The current version is 2018-05-31.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "billingAccountIdParameter": {
        "description": "BillingAccount ID",
        "in": "path",
        "name": "billingAccountId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "billingPeriodNameParameter": {
        "description": "Billing Period Name.",
        "in": "path",
        "name": "billingPeriodName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "departmentIdParameter": {
        "description": "Department ID",
        "in": "path",
        "name": "departmentId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "enrollmentAccountIdParameter": {
        "description": "EnrollmentAccount ID",
        "in": "path",
        "name": "enrollmentAccountId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "Azure Subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "The details of the error."
          }
        },
        "type": "object"
      },
      "Forecast": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "A forecast resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ForecastProperties",
            "title": "Forecast properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ForecastProperties": {
        "description": "The properties of the forecast charge.",
        "properties": {
          "charge": {
            "description": "The amount of charge",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "chargeType": {
            "description": "The type of the charge. Could be actual or forecast",
            "enum": [
              "Actual",
              "Forecast"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ChargeType"
            }
          },
          "confidenceLevels": {
            "description": "The details about the forecast confidence levels. This is populated only when chargeType is Forecast.",
            "items": {
              "properties": {
                "bound": {
                  "description": "The boundary of the percentage, values could be 'Upper' or 'Lower'",
                  "enum": [
                    "Upper",
                    "Lower"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": true,
                    "name": "Bound"
                  }
                },
                "percentage": {
                  "description": "The percentage level of the confidence",
                  "format": "decimal",
                  "readOnly": true,
                  "type": "number"
                },
                "value": {
                  "description": "The amount of forecast within the percentage level",
                  "format": "decimal",
                  "readOnly": true,
                  "type": "number"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "currency": {
            "description": "The ISO currency in which the meter is charged, for example, USD.",
            "readOnly": true,
            "type": "string"
          },
          "grain": {
            "description": "The granularity of forecast.",
            "enum": [
              "Daily",
              "Monthly",
              "Yearly"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Grain"
            }
          },
          "usageDate": {
            "description": "The usage date of the forecast.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ForecastsListResult": {
        "description": "Result of listing forecasts. It contains a list of available forecasts.",
        "properties": {
          "value": {
            "description": "The list of forecasts.",
            "items": {
              "$ref": "#/components/schemas/Forecast"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "MeterDetails": {
        "description": "The properties of the meter detail.",
        "properties": {
          "meterCategory": {
            "description": "The category of the meter, for example, 'Cloud services', 'Networking', etc..",
            "readOnly": true,
            "type": "string"
          },
          "meterLocation": {
            "description": "The location in which the Azure service is available.",
            "readOnly": true,
            "type": "string"
          },
          "meterName": {
            "description": "The name of the meter, within the given meter category",
            "readOnly": true,
            "type": "string"
          },
          "meterSubCategory": {
            "description": "The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..",
            "readOnly": true,
            "type": "string"
          },
          "pretaxStandardRate": {
            "description": "The pretax listing price.",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "totalIncludedQuantity": {
            "description": "The total included quantity associated with the offer.",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "unit": {
            "description": "The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "A Consumption REST API operation.",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.Consumption.",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: UsageDetail, etc.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of consumption operations supported by the Microsoft.Consumption resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "PriceSheetModel": {
        "description": "price sheet result. It contains the pricesheet associated with billing period",
        "properties": {
          "nextLink": {
            "description": "The link (url) to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "pricesheets": {
            "description": "Price sheet",
            "items": {
              "$ref": "#/components/schemas/PriceSheetProperties"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "PriceSheetProperties": {
        "description": "The properties of the price sheet.",
        "properties": {
          "billingPeriodId": {
            "description": "The id of the billing period resource that the usage belongs to.",
            "readOnly": true,
            "type": "string"
          },
          "currencyCode": {
            "description": "Currency Code",
            "readOnly": true,
            "type": "string"
          },
          "includedQuantity": {
            "description": "Included quality for an offer",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "meterDetails": {
            "$ref": "#/components/schemas/MeterDetails",
            "description": "The details about the meter. By default this is not populated, unless it's specified in $expand.",
            "readOnly": true
          },
          "meterId": {
            "description": "The meter id (GUID)",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "offerId": {
            "description": "Offer Id",
            "readOnly": true,
            "type": "string"
          },
          "partNumber": {
            "description": "Part Number",
            "readOnly": true,
            "type": "string"
          },
          "unitOfMeasure": {
            "description": "Unit of measure",
            "readOnly": true,
            "type": "string"
          },
          "unitPrice": {
            "description": "Unit Price",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          }
        },
        "type": "object"
      },
      "PriceSheetResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An pricesheet resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PriceSheetModel",
            "title": "Price sheet properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "The Resource model definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "readOnly": true,
            "type": "object"
          },
          "id": {
            "description": "Resource Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "UsageDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An usage detail resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/UsageDetailProperties",
            "title": "Usage detail properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "UsageDetailProperties": {
        "description": "The properties of the usage detail.",
        "properties": {
          "accountName": {
            "description": "Account name.",
            "readOnly": true,
            "type": "string"
          },
          "additionalProperties": {
            "description": "Additional details of this usage item. By default this is not populated, unless it's specified in $expand.",
            "readOnly": true,
            "type": "string"
          },
          "billableQuantity": {
            "description": "The billable usage quantity.",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "billingPeriodId": {
            "description": "The id of the billing period resource that the usage belongs to.",
            "readOnly": true,
            "type": "string"
          },
          "chargesBilledSeparately": {
            "description": "Charges billed separately",
            "readOnly": true,
            "type": "boolean"
          },
          "consumedService": {
            "description": "Consumed service name.",
            "readOnly": true,
            "type": "string"
          },
          "costCenter": {
            "description": "The cost center of this department if it is a department and a costcenter exists",
            "readOnly": true,
            "type": "string"
          },
          "currency": {
            "description": "The ISO currency in which the meter is charged, for example, USD.",
            "readOnly": true,
            "type": "string"
          },
          "departmentName": {
            "description": "Department name.",
            "readOnly": true,
            "type": "string"
          },
          "instanceId": {
            "description": "The uri of the resource instance that the usage is about.",
            "readOnly": true,
            "type": "string"
          },
          "instanceLocation": {
            "description": "The location of the resource instance that the usage is about.",
            "readOnly": true,
            "type": "string"
          },
          "instanceName": {
            "description": "The name of the resource instance that the usage is about.",
            "readOnly": true,
            "type": "string"
          },
          "invoiceId": {
            "description": "The id of the invoice resource that the usage belongs to.",
            "readOnly": true,
            "type": "string"
          },
          "isEstimated": {
            "description": "The estimated usage is subject to change.",
            "readOnly": true,
            "type": "boolean"
          },
          "meterDetails": {
            "$ref": "#/components/schemas/MeterDetails",
            "description": "The details about the meter. By default this is not populated, unless it's specified in $expand.",
            "readOnly": true
          },
          "meterId": {
            "description": "The meter id (GUID).",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "offerId": {
            "description": "Offer Id",
            "readOnly": true,
            "type": "string"
          },
          "partNumber": {
            "description": "Part Number",
            "readOnly": true,
            "type": "string"
          },
          "pretaxCost": {
            "description": "The amount of cost before tax.",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "product": {
            "description": "Product name.",
            "readOnly": true,
            "type": "string"
          },
          "resourceGuid": {
            "description": "Resource Guid",
            "readOnly": true,
            "type": "string"
          },
          "subscriptionGuid": {
            "description": "Subscription guid.",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "subscriptionName": {
            "description": "Subscription name.",
            "readOnly": true,
            "type": "string"
          },
          "usageEnd": {
            "description": "The end of the date time range covered by the usage detail.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "usageQuantity": {
            "description": "The quantity of usage.",
            "format": "decimal",
            "readOnly": true,
            "type": "number"
          },
          "usageStart": {
            "description": "The start of the date time range covered by the usage detail.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsageDetailsListResult": {
        "description": "Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.",
        "properties": {
          "nextLink": {
            "description": "The link (url) to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The list of usage details.",
            "items": {
              "$ref": "#/components/schemas/UsageDetail"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}