openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/currentSensitivityLabels':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: An OData filter expression that filters elements in the collection.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitivityLabelListResult'
          description: Successfully retrieved the sensitivity labels.
        default:
          description: |-
            *** Error Responses: ***

             * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.

             * 400 SensitivityLabelsInvalidODataQuery - The specified OData query is either not valid or not supported

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - ManagedDatabaseSensitivityLabels
      description: Gets the sensitivity labels of a given database
      operationId: ManagedDatabaseSensitivityLabels_ListCurrentByDatabase
      x-ms-examples:
        Gets the current sensitivity labels of a given database in a managed database:
          $ref: >-
            ./examples/ManagedDatabaseSensitivityLabelsListByDatabaseCurrent.json
      x-ms-odata: '#/components/schemas/SensitivityLabel'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/recommendedSensitivityLabels':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: Specifies whether to include disabled recommendations or not.
          in: query
          name: includeDisabledRecommendations
          required: false
          schema:
            type: boolean
        - in: query
          name: $skipToken
          required: false
          schema:
            type: string
        - description: An OData filter expression that filters elements in the collection.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitivityLabelListResult'
          description: Successfully retrieved the sensitivity labels.
        default:
          description: |-
            *** Error Responses: ***

             * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.

             * 400 SensitivityLabelsInvalidODataQuery - The specified OData query is either not valid or not supported

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - ManagedDatabaseSensitivityLabels
      description: Gets the sensitivity labels of a given database
      operationId: ManagedDatabaseSensitivityLabels_ListRecommendedByDatabase
      x-ms-examples:
        Gets the recommended sensitivity labels of a given database in a managed database:
          $ref: >-
            ./examples/ManagedDatabaseSensitivityLabelsListByDatabaseRecommended.json
      x-ms-odata: '#/components/schemas/SensitivityLabel'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: The name of the schema.
          in: path
          name: schemaName
          required: true
          schema:
            type: string
        - description: The name of the table.
          in: path
          name: tableName
          required: true
          schema:
            type: string
        - description: The name of the column.
          in: path
          name: columnName
          required: true
          schema:
            type: string
        - description: The source of the sensitivity label.
          in: path
          name: sensitivityLabelSource
          required: true
          schema:
            enum:
              - current
            type: string
          x-ms-enum:
            modelAsString: false
            name: WritableSensitivityLabelSource
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the sensitivity label.
        default:
          description: |-
            *** Error Responses: ***

             * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.

             * 400 SensitivityLabelSourceNameNotSupported - The specified sensitivity label source is not valid

             * 404 SensitivityLabelsColumnNotFound - The specified schema/table/column could not be found

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label could not be found

             * 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended' sensitivity label source is not supported yet
      tags:
        - ManagedDatabaseSensitivityLabels
      description: Deletes the sensitivity label of a given column
      operationId: ManagedDatabaseSensitivityLabels_Delete
      x-ms-examples:
        Deletes the sensitivity label of a given column in a managed database:
          $ref: ./examples/ManagedDatabaseColumnSensitivityLabelDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: The name of the schema.
          in: path
          name: schemaName
          required: true
          schema:
            type: string
        - description: The name of the table.
          in: path
          name: tableName
          required: true
          schema:
            type: string
        - description: The name of the column.
          in: path
          name: columnName
          required: true
          schema:
            type: string
        - description: The source of the sensitivity label.
          in: path
          name: sensitivityLabelSource
          required: true
          schema:
            enum:
              - current
              - recommended
            type: string
          x-ms-enum:
            modelAsString: false
            name: SensitivityLabelSource
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitivityLabel'
          description: Successfully retrieved the sensitivity label.
        default:
          description: |-
            *** Error Responses: ***

             * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.

             * 400 SensitivityLabelSourceNameNotSupported - The specified sensitivity label source is not valid

             * 404 SensitivityLabelsColumnNotFound - The specified schema/table/column could not be found

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label could not be found

             * 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended' sensitivity label source is not supported yet
      tags:
        - ManagedDatabaseSensitivityLabels
      description: Gets the sensitivity label of a given column
      operationId: ManagedDatabaseSensitivityLabels_Get
      x-ms-examples:
        Gets the sensitivity label of a given column in a managed database:
          $ref: ./examples/ManagedDatabaseColumnSensitivityLabelGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: The name of the schema.
          in: path
          name: schemaName
          required: true
          schema:
            type: string
        - description: The name of the table.
          in: path
          name: tableName
          required: true
          schema:
            type: string
        - description: The name of the column.
          in: path
          name: columnName
          required: true
          schema:
            type: string
        - description: The source of the sensitivity label.
          in: path
          name: sensitivityLabelSource
          required: true
          schema:
            enum:
              - current
            type: string
          x-ms-enum:
            modelAsString: false
            name: WritableSensitivityLabelSource
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitivityLabel'
          description: Successfully updated the sensitivity label.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitivityLabel'
          description: Successfully created the sensitivity label.
        default:
          description: |-
            *** Error Responses: ***

             * 400 DatawarehouseDatabaseIsDeactivated - Could not execute Data Classification operation because the database is paused. Please resume it.

             * 400 SensitivityLabelSourceNameNotSupported - The specified sensitivity label source is not valid

             * 400 InvalidSensitivityLabelResource - The specified sensitivity label resource is not valid

             * 400 SensitivityLabelLabelNameAndInfoTypeNotProvided - At least one of LabelName and InformationType must be specified

             * 400 LabelNameTooLong - Label name cannot exceed {0} characters

             * 400 InformationTypeTooLong - Information type cannot exceed {0} characters

             * 400 LabelIdMustBeGuid - Label ID must be a GUID

             * 400 InformationTypeIdMustBeGuid - Information type ID must be a GUID

             * 400 LabelMissing - Label is missing

             * 400 InformationTypeMissing - Information Type is missing

             * 404 SensitivityLabelsColumnNotFound - The specified schema/table/column could not be found

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label could not be found

             * 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended' sensitivity label source is not supported yet
      tags:
        - ManagedDatabaseSensitivityLabels
      description: Creates or updates the sensitivity label of a given column
      operationId: ManagedDatabaseSensitivityLabels_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensitivityLabel'
        description: The column sensitivity label resource.
        required: true
      x-ms-examples:
        Updates or creates a sensitivity label of a given column with all parameters in a managed database:
          $ref: ./examples/ManagedDatabaseColumnSensitivityLabelCreate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}/disable':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: The name of the schema.
          in: path
          name: schemaName
          required: true
          schema:
            type: string
        - description: The name of the table.
          in: path
          name: tableName
          required: true
          schema:
            type: string
        - description: The name of the column.
          in: path
          name: columnName
          required: true
          schema:
            type: string
        - in: path
          name: sensitivityLabelSource
          required: true
          schema:
            enum:
              - recommended
            type: string
          x-ms-enum:
            modelAsString: false
            name: SensitivityLabelSource
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: >-
            Successfully disabled the sensitivity recommendations on the given
            column.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SensitivityLabelsColumnNotFound - The specified column could not be found

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - ManagedDatabaseSensitivityLabels
      description: Disables sensitivity recommendations on a given column
      operationId: ManagedDatabaseSensitivityLabels_DisableRecommendation
      x-ms-examples:
        Disables the sensitivity recommendations on a given column:
          $ref: >-
            ./examples/ManagedDatabaseRecommendedColumnSensitivityLabelDisable.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}/enable':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - description: The name of the schema.
          in: path
          name: schemaName
          required: true
          schema:
            type: string
        - description: The name of the table.
          in: path
          name: tableName
          required: true
          schema:
            type: string
        - description: The name of the column.
          in: path
          name: columnName
          required: true
          schema:
            type: string
        - in: path
          name: sensitivityLabelSource
          required: true
          schema:
            enum:
              - recommended
            type: string
          x-ms-enum:
            modelAsString: false
            name: SensitivityLabelSource
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: >-
            Successfully enabled the sensitivity recommendations on the given
            column.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SensitivityLabelsColumnNotFound - The specified column could not be found

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - ManagedDatabaseSensitivityLabels
      description: >-
        Enables sensitivity recommendations on a given column (recommendations
        are enabled by default on all columns)
      operationId: ManagedDatabaseSensitivityLabels_EnableRecommendation
      x-ms-examples:
        Enables the sensitivity recommendations on a given column:
          $ref: >-
            ./examples/ManagedDatabaseRecommendedColumnSensitivityLabelEnable.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    SensitivityLabel:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A sensitivity label.
      properties:
        properties:
          $ref: '#/components/schemas/SensitivityLabelProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    SensitivityLabelListResult:
      description: A list of sensitivity labels.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SensitivityLabel'
          readOnly: true
          type: array
      type: object
    SensitivityLabelProperties:
      description: Properties of a sensitivity label.
      properties:
        informationType:
          description: The information type.
          type: string
        informationTypeId:
          description: The information type ID.
          type: string
        isDisabled:
          description: >-
            Is sensitivity recommendation disabled. Applicable for recommended
            sensitivity label only. Specifies whether the sensitivity
            recommendation on this column is disabled (dismissed) or not.
          readOnly: true
          type: boolean
        labelId:
          description: The label ID.
          type: string
        labelName:
          description: The label name.
          type: string
        rank:
          enum:
            - None
            - Low
            - Medium
            - High
            - Critical
          type: string
          x-ms-enum:
            modelAsString: false
            name: SensitivityLabelRank
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

