{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJobStreams.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The source control name.",
            "in": "path",
            "name": "sourceControlName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The source control sync job id.",
            "in": "path",
            "name": "sourceControlSyncJobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControlSyncJobStreamsListBySyncJob"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControlSyncJobStreams"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
        },
        "description": "Retrieve a list of sync job streams identified by sync job id.",
        "operationId": "SourceControlSyncJobStreams_ListBySyncJob",
        "x-ms-examples": {
          "Get a list of sync job streams identified by sync job id": {
            "$ref": "./examples/sourceControlSyncJobStreams/getSourceControlSyncJobStreams.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams/{streamId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The source control name.",
            "in": "path",
            "name": "sourceControlName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The source control sync job id.",
            "in": "path",
            "name": "sourceControlSyncJobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The id of the sync job stream.",
            "in": "path",
            "name": "streamId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControlSyncJobStreamById"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControlSyncJobStreams"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
        },
        "description": "Retrieve a sync job stream identified by stream id.",
        "operationId": "SourceControlSyncJobStreams_Get",
        "x-ms-examples": {
          "Get a sync job stream identified by sync job stream id.": {
            "$ref": "./examples/sourceControlSyncJobStreams/getSourceControlSyncJobStreamsByStreamId.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SourceControlSyncJobStream": {
        "description": "Definition of the source control sync job stream.",
        "properties": {
          "id": {
            "description": "Resource id.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/SourceControlSyncJobStreamProperties",
            "description": "The properties of the source control sync job stream.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SourceControlSyncJobStreamById": {
        "description": "Definition of the source control sync job stream by id.",
        "properties": {
          "id": {
            "description": "Resource id.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/SourceControlSyncJobStreamByIdProperties",
            "description": "The properties of the source control sync job stream.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SourceControlSyncJobStreamByIdProperties": {
        "description": "Definition of source control sync job stream by id properties.",
        "properties": {
          "sourceControlSyncJobStreamId": {
            "description": "The sync job stream id.",
            "type": "string"
          },
          "streamText": {
            "description": "The text of the sync job stream.",
            "type": "string"
          },
          "streamType": {
            "description": "The type of the sync job stream.",
            "enum": [
              "Error",
              "Output"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "streamType"
            }
          },
          "summary": {
            "description": "The summary of the sync job stream.",
            "type": "string"
          },
          "time": {
            "description": "The time of the sync job stream.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The values of the job stream.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "SourceControlSyncJobStreamProperties": {
        "description": "Definition of source control sync job stream properties.",
        "properties": {
          "sourceControlSyncJobStreamId": {
            "description": "The sync job stream id.",
            "type": "string"
          },
          "streamType": {
            "description": "The type of the sync job stream.",
            "enum": [
              "Error",
              "Output"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "streamType"
            }
          },
          "summary": {
            "description": "The summary of the sync job stream.",
            "type": "string"
          },
          "time": {
            "description": "The time of the sync job stream.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SourceControlSyncJobStreamsListBySyncJob": {
        "description": "The response model for the list source control sync job streams operation.",
        "properties": {
          "nextLink": {
            "description": "The next link.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The list of source control sync job streams.",
            "items": {
              "$ref": "#/components/schemas/SourceControlSyncJobStream"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}