openapi: 3.0.0
info:
  title: TrafficManagerManagementClient
  version: 2017-09-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficManagerUserMetricsKeys':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Real User Metrics key was deleted successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RealUserMetrics
      description: Delete a subscription-level key used for Real User Metrics collection.
      operationId: TrafficManagerUserMetricsKeys_Delete
      x-ms-examples:
        TrafficManagerUserMetricsKeys-DELETE:
          $ref: ./examples/TrafficManagerUserMetricsKeys-DELETE.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerUserMetricsKeyModel'
          description: The subscription-level Traffic Manager Real User Metrics key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RealUserMetrics
      description: Get the subscription-level key used for Real User Metrics collection.
      operationId: TrafficManagerUserMetricsKeys_Get
      x-ms-examples:
        TrafficManagerUserMetricsKeys-GET:
          $ref: ./examples/TrafficManagerUserMetricsKeys-GET.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerUserMetricsKeyModel'
          description: >-
            A new subscription-level key has been created for Real User Metrics
            collection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - RealUserMetrics
      description: >-
        Create or update a subscription-level key used for Real User Metrics
        collection.
      operationId: TrafficManagerUserMetricsKeys_CreateOrUpdate
      x-ms-examples:
        TrafficManagerUserMetricsKeys-PUT:
          $ref: ./examples/TrafficManagerUserMetricsKeys-PUT.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: >-
            The name of the resource group containing the Traffic Manager
            endpoint.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: The type of HeatMap for the Traffic Manager profile.
          in: path
          name: heatMapType
          required: true
          schema:
            enum:
              - default
            type: string
        - allowEmptyValue: true
          description: >-
            The top left latitude,longitude pair of the rectangular viewport to
            query for.
          in: query
          name: topLeft
          required: false
          schema:
            items:
              format: double
              type: number
            maxItems: 2
            minItems: 2
            type: array
          style: form
        - allowEmptyValue: true
          description: >-
            The bottom right latitude,longitude pair of the rectangular viewport
            to query for.
          in: query
          name: botRight
          required: false
          schema:
            items:
              format: double
              type: number
            maxItems: 2
            minItems: 2
            type: array
          style: form
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeatMapModel'
          description: The Traffic Manager heatmap.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - HeatMaps
      description: Gets latest heatmap for Traffic Manager profile.
      operationId: HeatMap_Get
      x-ms-examples:
        HeatMap-GET:
          $ref: ./examples/HeatMap-GET.json
        HeatMap-GET-With-Null-Values:
          $ref: ./examples/HeatMap-GET-With-Null-Values.json
        HeatMap-GET-With-TopLeft-BotRight:
          $ref: ./examples/HeatMap-GET-With-TopLeft-BotRight.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error returned by the Azure Resource Manager
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The content of the error.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: The content of an error returned by the Azure Resource Manager
      properties:
        code:
          description: Error code
          type: string
        details:
          description: Error details
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: Error message
          type: string
        target:
          description: Error target
          type: string
      type: object
      x-ms-external: true
    DeleteOperationResult:
      description: The result of the request or operation.
      properties:
        boolean:
          description: The result of the operation or request.
          readOnly: true
          type: boolean
          x-ms-client-name: operationResult
      type: object
    HeatMapEndpoint:
      description: Class which is a sparse representation of a Traffic Manager endpoint.
      properties:
        endpointId:
          description: A number uniquely identifying this endpoint in query experiences.
          type: integer
        resourceId:
          description: The ARM Resource ID of this Traffic Manager endpoint.
          type: string
      type: object
    HeatMapModel:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager HeatMap.
      properties:
        properties:
          $ref: '#/components/schemas/HeatMapProperties'
          description: The properties of the Traffic Manager HeatMap.
          x-ms-client-flatten: true
      type: object
    HeatMapProperties:
      description: Class representing a Traffic Manager HeatMap properties.
      properties:
        endTime:
          description: 'The ending of the time window for this HeatMap, exclusive.'
          format: date-time
          type: string
        endpoints:
          description: The endpoints used in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/HeatMapEndpoint'
          type: array
        startTime:
          description: 'The beginning of the time window for this HeatMap, inclusive.'
          format: date-time
          type: string
        trafficFlows:
          description: The traffic flows produced in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/TrafficFlow'
          type: array
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        The resource model definition for a ARM proxy resource. It will have
        everything other than required location and tags
    QueryExperience:
      description: >-
        Class representing a Traffic Manager HeatMap query experience
        properties.
      properties:
        endpointId:
          description: >-
            The id of the endpoint from the 'endpoints' array which these
            queries were routed to.
          type: integer
        latency:
          description: The latency experienced by queries originating from this location.
          format: double
          type: number
        queryCount:
          description: The number of queries originating from this location.
          type: integer
      required:
        - endpointId
        - queryCount
      type: object
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: >-
            Fully qualified resource Id for the resource. Ex -
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: >-
            The type of the resource. Ex-
            Microsoft.Network/trafficManagerProfiles.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: The Azure Region where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
      type: object
    TrafficFlow:
      description: Class representing a Traffic Manager HeatMap traffic flow properties.
      properties:
        latitude:
          description: The approximate latitude that these queries originated from.
          format: double
          type: number
        longitude:
          description: The approximate longitude that these queries originated from.
          format: double
          type: number
        queryExperiences:
          description: The query experiences produced in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/QueryExperience'
          type: array
        sourceIp:
          description: The IP address that this query experience originated from.
          type: string
      type: object
    TrafficManagerUserMetricsKeyModel:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager Real User Metrics key response.
      properties:
        id:
          description: >-
            Fully qualified resource Id for the resource. Ex -
            /providers/Microsoft.Network/trafficManagerUserMetricsKeys
          type: string
        key:
          description: The key returned by the Real User Metrics operation.
          type: string
        name:
          description: The word default.
          type: string
        type:
          description: >-
            The type of the resource. Ex-
            Microsoft.Network/trafficManagerUserMetricsKeys.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

