openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The number of rows to skip.
          in: query
          name: $skip
          required: false
          schema:
            type: integer
        - description: The number of rows to take.
          in: query
          name: $top
          required: false
          schema:
            type: integer
        - description: Return total rows.
          in: query
          name: $inlinecount
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfigurationListResult'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfigurationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain; charset=utf-8:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      description: Retrieve a list of configurations.
      operationId: DscConfiguration_ListByAutomationAccount
      x-ms-examples:
        Get DSC Configuration:
          $ref: ./examples/getAllDscConfigurations.json
        List Paged DSC Configurations with name filter:
          $ref: ./examples/getPagedlDscConfigurationsWithNameFilter.json
        List Paged DSC Configurations with no filter:
          $ref: ./examples/getPagedDscConfigurationsWithNoFilter.json
      x-ms-odata: '#/components/schemas/DscConfiguration'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The configuration name.
          in: path
          name: configurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain; charset=utf-8:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      description: Delete the dsc configuration identified by configuration name.
      operationId: DscConfiguration_Delete
      x-ms-examples:
        Delete DSC Configuration:
          $ref: ./examples/deleteDscConfiguration.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The configuration name.
          in: path
          name: configurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain; charset=utf-8:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      description: Retrieve the configuration identified by configuration name.
      operationId: DscConfiguration_Get
      x-ms-examples:
        Get a DSC Configuration:
          $ref: ./examples/getDscConfiguration.json
    patch:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The create or update parameters for configuration.
          in: path
          name: configurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain; charset=utf-8:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      description: Create the configuration identified by configuration name.
      operationId: DscConfiguration_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscConfigurationUpdateParameters'
          text/plain; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DscConfigurationUpdateParameters'
        description: The create or update parameters for configuration.
      x-ms-examples:
        Create or Update Configuration:
          $ref: ./examples/updateDscConfiguration.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The create or update parameters for configuration.
          in: path
          name: configurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DscConfiguration'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain; charset=utf-8:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      description: Create the configuration identified by configuration name.
      operationId: DscConfiguration_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscConfigurationCreateOrUpdateParameters'
          text/plain; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DscConfigurationCreateOrUpdateParameters'
        description: The create or update parameters for configuration.
        required: true
      x-ms-examples:
        Create or Update Configuration:
          $ref: ./examples/createOrUpdateDscConfiguration.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}/content':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The configuration name.
          in: path
          name: configurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json: {}
            text/plain; charset=utf-8: {}
            text/powershell: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/plain; charset=utf-8:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
            text/powershell:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      description: Retrieve the configuration script identified by configuration name.
      operationId: DscConfiguration_GetContent
      x-ms-examples:
        Get DSC Configuration content:
          $ref: ./examples/getDscConfigurationContent.json
components:
  schemas:
    ContentHash:
      description: Definition of the runbook property type.
      properties:
        algorithm:
          description: Gets or sets the content hash algorithm used to hash the content.
          type: string
        value:
          description: Gets or sets expected hash value of the content.
          type: string
      required:
        - algorithm
        - value
      type: object
    ContentSource:
      description: Definition of the content source.
      properties:
        hash:
          $ref: '#/components/schemas/ContentHash'
          description: Gets or sets the hash.
        type:
          description: Gets or sets the content source type.
          enum:
            - embeddedContent
            - uri
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContentSourceType
        value:
          description: >-
            Gets or sets the value of the content. This is based on the content
            source type.
          type: string
        version:
          description: Gets or sets the version of the content.
          type: string
      type: object
    DscConfiguration:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/TrackedResource
      description: Definition of the configuration type.
      properties:
        etag:
          description: Gets or sets the etag of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/DscConfigurationProperties'
          description: Gets or sets the configuration properties.
          x-ms-client-flatten: true
      type: object
    DscConfigurationCreateOrUpdateParameters:
      description: The parameters supplied to the create or update configuration operation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          type: object
        location:
          description: Gets or sets the location of the resource.
          type: string
        name:
          description: Gets or sets name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/DscConfigurationCreateOrUpdateProperties'
          description: Gets or sets configuration create or update properties.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    DscConfigurationCreateOrUpdateProperties:
      description: The properties to create or update configuration.
      properties:
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/DscConfigurationParameter'
          description: Gets or sets the configuration parameters.
          type: object
        description:
          description: Gets or sets the description of the configuration.
          type: string
        logProgress:
          description: Gets or sets progress log option.
          type: boolean
        logVerbose:
          description: Gets or sets verbose log option.
          type: boolean
        source:
          $ref: '#/components/schemas/ContentSource'
          description: Gets or sets the source.
      required:
        - source
      type: object
    DscConfigurationListResult:
      description: The response model for the list configuration operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        totalCount:
          description: Gets the total number of configurations matching filter criteria.
          type: integer
        value:
          description: Gets or sets a list of configurations.
          items:
            $ref: '#/components/schemas/DscConfiguration'
          type: array
      type: object
    DscConfigurationParameter:
      description: Definition of the configuration parameter type.
      properties:
        defaultValue:
          description: Gets or sets the default value of parameter.
          type: string
        isMandatory:
          description: >-
            Gets or sets a Boolean value to indicate whether the parameter is
            mandatory or not.
          type: boolean
        position:
          description: Get or sets the position of the parameter.
          format: int32
          type: integer
        type:
          description: Gets or sets the type of the parameter.
          type: string
      type: object
    DscConfigurationProperties:
      description: Definition of the configuration property type.
      properties:
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/DscConfigurationParameter'
          description: Gets or sets the configuration parameters.
          type: object
        creationTime:
          description: Gets or sets the creation time.
          format: date-time
          nullable: false
          type: string
        description:
          description: Gets or sets the description.
          type: string
        jobCount:
          description: Gets or sets the job count of the configuration.
          format: int32
          type: integer
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          type: string
        logVerbose:
          description: Gets or sets verbose log option.
          type: boolean
        nodeConfigurationCount:
          description: Gets the number of compiled node configurations.
          nullable: false
          type: integer
        provisioningState:
          description: Gets or sets the provisioning state of the configuration.
          enum:
            - Succeeded
          type: string
          x-ms-enum:
            modelAsString: false
            name: DscConfigurationProvisioningState
        source:
          $ref: '#/components/schemas/ContentSource'
          description: Gets or sets the source.
        state:
          description: Gets or sets the state of the configuration.
          enum:
            - New
            - Edit
            - Published
          type: string
          x-ms-enum:
            modelAsString: true
            name: DscConfigurationState
      type: object
    DscConfigurationUpdateParameters:
      description: The parameters supplied to the create or update configuration operation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          type: object
        name:
          description: Gets or sets name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/DscConfigurationCreateOrUpdateProperties'
          description: Gets or sets configuration create or update properties.
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

