{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides create, read, update, delete, and failover functionality for Azure SQL Database disaster recovery configurations.",
    "title": "Azure SQL Database disaster recovery configurations",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/disasterRecoveryConfigurations.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisasterRecoveryConfigurationListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DisasterRecoveryConfigurations"
        ],
        "description": "Lists a server's disaster recovery configuration.",
        "operationId": "DisasterRecoveryConfigurations_List",
        "x-ms-examples": {
          "List Replication links": {
            "$ref": "./examples/DisasterRecoveryConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{disasterRecoveryConfigurationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the disaster recovery configuration to be deleted.",
            "in": "path",
            "name": "disasterRecoveryConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "tags": [
          "DisasterRecoveryConfigurations"
        ],
        "description": "Deletes a disaster recovery configuration.",
        "operationId": "DisasterRecoveryConfigurations_Delete",
        "x-ms-examples": {
          "Delete a disaster recovery configuration": {
            "$ref": "./examples/DisasterRecoveryConfigurationDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the disaster recovery configuration.",
            "in": "path",
            "name": "disasterRecoveryConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DisasterRecoveryConfigurations"
        ],
        "description": "Gets a disaster recovery configuration.",
        "operationId": "DisasterRecoveryConfigurations_Get",
        "x-ms-examples": {
          "Get a disaster recovery configuration": {
            "$ref": "./examples/DisasterRecoveryConfigurationGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the disaster recovery configuration to be created/updated.",
            "in": "path",
            "name": "disasterRecoveryConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            },
            "description": "Created"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisasterRecoveryConfiguration"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "DisasterRecoveryConfigurations"
        ],
        "description": "Creates or updates a disaster recovery configuration.",
        "operationId": "DisasterRecoveryConfigurations_CreateOrUpdate",
        "x-ms-examples": {
          "Update a disaster recovery configuration": {
            "$ref": "./examples/DisasterRecoveryConfigurationCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{disasterRecoveryConfigurationName}/failover": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the disaster recovery configuration to failover.",
            "in": "path",
            "name": "disasterRecoveryConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "DisasterRecoveryConfigurations"
        ],
        "description": "Fails over from the current primary server to this server.",
        "operationId": "DisasterRecoveryConfigurations_Failover",
        "x-ms-examples": {
          "Failover a disaster recovery configuration": {
            "$ref": "./examples/DisasterRecoveryConfigurationFailover.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/disasterRecoveryConfiguration/{disasterRecoveryConfigurationName}/forceFailoverAllowDataLoss": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the disaster recovery configuration to failover forcefully.",
            "in": "path",
            "name": "disasterRecoveryConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "DisasterRecoveryConfigurations"
        ],
        "description": "Fails over from the current primary server to this server. This operation might result in data loss.",
        "operationId": "DisasterRecoveryConfigurations_FailoverAllowDataLoss",
        "x-ms-examples": {
          "Failover a disaster recovery configuration": {
            "$ref": "./examples/DisasterRecoveryConfigurationFailover.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "DisasterRecoveryConfigurationNameParameter": {
        "description": "The name of the disaster recovery configuration.",
        "in": "path",
        "name": "disasterRecoveryConfigName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DisasterRecoveryConfiguration": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a disaster recovery configuration.",
        "properties": {
          "location": {
            "description": "Location of the server that contains this disaster recovery configuration.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DisasterRecoveryConfigurationProperties",
            "description": "The properties representing the resource.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of resource this is.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "DisasterRecoveryConfigurationListResult": {
        "description": "Represents the response to a List disaster recovery configuration request.",
        "properties": {
          "value": {
            "description": "The list of disaster recovery configurations housed under the server.",
            "items": {
              "$ref": "#/components/schemas/DisasterRecoveryConfiguration"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DisasterRecoveryConfigurationProperties": {
        "description": "Represents the properties of a disaster recovery configuration.",
        "properties": {
          "autoFailover": {
            "description": "Whether or not failover can be done automatically.",
            "enum": [
              "Off",
              "On"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DisasterRecoveryConfigurationAutoFailover"
            }
          },
          "failoverPolicy": {
            "description": "How aggressive the automatic failover should be.",
            "enum": [
              "Manual",
              "Automatic"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DisasterRecoveryConfigurationFailoverPolicy"
            }
          },
          "logicalServerName": {
            "description": "Logical name of the server.",
            "readOnly": true,
            "type": "string"
          },
          "partnerLogicalServerName": {
            "description": "Logical name of the partner server.",
            "readOnly": true,
            "type": "string"
          },
          "partnerServerId": {
            "description": "Id of the partner server.",
            "type": "string"
          },
          "role": {
            "description": "The role of the current server in the disaster recovery configuration.",
            "enum": [
              "None",
              "Primary",
              "Secondary"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DisasterRecoveryConfigurationRole"
            }
          },
          "status": {
            "description": "The status of the disaster recovery configuration.",
            "enum": [
              "Creating",
              "Ready",
              "FailingOver",
              "Dropping"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DisasterRecoveryConfigurationStatus"
            }
          }
        },
        "required": [
          "autoFailover",
          "failoverPolicy",
          "partnerServerId"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}