# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv/
.ruff_cache/

# PDM
.pdm-python
.pdm-build/
__pypackages__/
pdm.lock

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug output
debug_output/
test_output/
.test_output/
