{
  "openapi": "3.0.0",
  "info": {
    "description": "Storage subsystem operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2018-10-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2018-10-01/StorageSubSystem.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems": {
      "get": {
        "parameters": [
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../2016-05-01/ScaleUnit.json#/components/parameters/ScaleUnitParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/FilterParameter"
          },
          {
            "$ref": "../2016-05-01/Common.json#/components/parameters/TopParameter"
          },
          {
            "$ref": "../2016-05-01/Common.json#/components/parameters/SkipParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageSubSystemList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "StorageSubSystems"
        ],
        "description": "Returns a list of all storage subsystems for a location.",
        "operationId": "StorageSubSystems_List",
        "x-ms-examples": {
          "Returns a list of all storage subsystems for a location.": {
            "$ref": "./examples/StorageSubSystem/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/StorageSubSystem",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}": {
      "get": {
        "parameters": [
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../2016-05-01/ScaleUnit.json#/components/parameters/ScaleUnitParameter"
          },
          {
            "$ref": "#/components/parameters/StorageSubSystemParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageSubSystem"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "StorageSubSystems"
        ],
        "description": "Return the requested storage subsystem.",
        "operationId": "StorageSubSystems_Get",
        "x-ms-examples": {
          "Return the requested storage subsystem.": {
            "$ref": "./examples/StorageSubSystem/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2018-10-01",
          "type": "string"
        }
      },
      "StorageSubSystemParameter": {
        "description": "Name of the storage system.",
        "in": "path",
        "name": "storageSubSystem",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "StorageSubSystem": {
        "allOf": [
          {
            "$ref": "../2016-05-01/Fabric.json#/definitions/Resource"
          }
        ],
        "description": "Representation of a storage system resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/StorageSubSystemModel",
            "description": "All properties of a storage subsystem.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "StorageSubSystemList": {
        "description": "Pageable list of storage systems.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of storage systems.",
            "items": {
              "$ref": "#/components/schemas/StorageSubSystem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StorageSubSystemModel": {
        "description": "All properties of a storage subsystem.",
        "properties": {
          "healthStatus": {
            "description": "Health status of the subsystem.",
            "type": "string"
          },
          "operationalStatus": {
            "description": "Operational status of the subsystem.",
            "type": "string"
          },
          "rebalanceStatus": {
            "description": "Rebalance status of the subsystem.",
            "type": "string"
          },
          "remainingCapacityGB": {
            "description": "Remaining capacity in GB of the subsystem.",
            "format": "int32",
            "type": "integer"
          },
          "totalCapacityGB": {
            "description": "Total capacity in GB of the subsystem.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}