openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2018-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionVmssParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./networkInterface.json#/definitions/NetworkInterfaceListResult
          description: >-
            Request successful. The operation returns a list of NetworkInterface
            resources.
      tags:
        - NetworkInterfaces
      description: Gets all network interfaces in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
      x-ms-examples:
        List virtual machine scale set network interfaces:
          $ref: ./examples/VmssNetworkInterfaceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          schema:
            type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionVmssParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./networkInterface.json#/definitions/NetworkInterfaceListResult
          description: >-
            Request successful. The operation returns a list of NetworkInterface
            resources.
      tags:
        - NetworkInterfaces
      description: >-
        Gets information about all network interfaces in a virtual machine in a
        virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
      x-ms-examples:
        List virtual machine scale set vm network interfaces:
          $ref: ./examples/VmssVmNetworkInterfaceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          schema:
            type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          schema:
            type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionVmssParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./networkInterface.json#/definitions/NetworkInterface
          description: >-
            Request successful. The operation returns the resulting
            NetworkInterface resource.
      tags:
        - NetworkInterfaces
      description: Get the specified network interface in a virtual machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
      x-ms-examples:
        Get virtual machine scale set network interface:
          $ref: ./examples/VmssNetworkInterfaceGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          schema:
            type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          schema:
            type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionVmssParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./networkInterface.json#/definitions/NetworkInterfaceIPConfigurationListResult
          description: >-
            Request successful. The operation returns the list of resulting
            NetworkInterfaceIPConfigurations resources.
      tags:
        - NetworkInterfaces
      description: >-
        Get the specified network interface ip configuration in a virtual
        machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations
      x-ms-examples:
        List virtual machine scale set network interface ip configurations:
          $ref: ./examples/VmssNetworkInterfaceIpConfigList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          schema:
            type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          schema:
            type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          schema:
            type: string
        - description: The name of the ip configuration.
          in: path
          name: ipConfigurationName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionVmssParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration
          description: >-
            Request successful. The operation returns the resulting
            NetworkInterfaceIPConfiguration resource.
      tags:
        - NetworkInterfaces
      description: >-
        Get the specified network interface ip configuration in a virtual
        machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration
      x-ms-examples:
        Get virtual machine scale set network interface:
          $ref: ./examples/VmssNetworkInterfaceIpConfigGet.json
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

