{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/account.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Automation/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Automation REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationAccountListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AutomationAccount"
        ],
        "description": "Retrieve a list of accounts within a given subscription.",
        "operationId": "AutomationAccount_List",
        "summary": "Lists the Automation Accounts within an Azure subscription.",
        "x-ms-examples": {
          "List automation accounts by resource group": {
            "$ref": "./examples/listAutomationAccountsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationAccountListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AutomationAccount"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "description": "Retrieve a list of accounts within a given resource group.",
        "operationId": "AutomationAccount_ListByResourceGroup",
        "x-ms-examples": {
          "List automation accounts by resource group": {
            "$ref": "./examples/listAutomationAccountsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AutomationAccount"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "description": "Delete an automation account.",
        "operationId": "AutomationAccount_Delete",
        "x-ms-examples": {
          "Delete automation account": {
            "$ref": "./examples/deleteAutomationAccount.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationAccount"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AutomationAccount"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "description": "Get information about an Automation Account.",
        "operationId": "AutomationAccount_Get",
        "x-ms-examples": {
          "Get automation account": {
            "$ref": "./examples/getAutomationAccount.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationAccount"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AutomationAccount"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "description": "Update an automation account.",
        "operationId": "AutomationAccount_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationAccountUpdateParameters"
              }
            }
          },
          "description": "Parameters supplied to the update automation account.",
          "required": true
        },
        "x-ms-examples": {
          "Update an automation account": {
            "$ref": "./examples/updateAutomationAccount.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationAccount"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationAccount"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AutomationAccount"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "description": "Create or update automation account.",
        "operationId": "AutomationAccount_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationAccountCreateOrUpdateParameters"
              }
            }
          },
          "description": "Parameters supplied to the create or update automation account.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update automation account": {
            "$ref": "./examples/createOrUpdateAutomationAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ListKeys"
        ],
        "description": "Retrieve the automation keys for an account.",
        "operationId": "Keys_ListByAutomationAccount",
        "x-ms-examples": {
          "Get lists of an automation account": {
            "$ref": "./examples/listAutomationAccountKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Statistics"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/statisticsoperations"
        },
        "description": "Retrieve the statistics for the account.",
        "operationId": "Statistics_ListByAutomationAccount",
        "x-ms-examples": {
          "Get statistics of an automation account": {
            "$ref": "./examples/getStatisticsOfAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Usages"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/usageoperations"
        },
        "description": "Retrieve the usage for the account id.",
        "operationId": "Usages_ListByAutomationAccount",
        "x-ms-examples": {
          "Get usages of an automation account": {
            "$ref": "./examples/getUsagesOfAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AutomationAccount": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
          }
        ],
        "description": "Definition of the automation account type.",
        "properties": {
          "etag": {
            "description": "Gets or sets the etag of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AutomationAccountProperties",
            "description": "Gets or sets the automation account properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AutomationAccountCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update automation account operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AutomationAccountCreateOrUpdateProperties",
            "description": "Gets or sets account create or update properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AutomationAccountCreateOrUpdateProperties": {
        "description": "The parameters supplied to the create or update account properties.",
        "properties": {
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "Gets or sets account SKU."
          }
        },
        "type": "object"
      },
      "AutomationAccountListResult": {
        "description": "The response model for the list account operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets list of accounts.",
            "items": {
              "$ref": "#/components/schemas/AutomationAccount"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AutomationAccountProperties": {
        "description": "Definition of the account property.",
        "properties": {
          "creationTime": {
            "description": "Gets the creation time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "lastModifiedBy": {
            "description": "Gets or sets the last modified by.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "Gets or sets the SKU of account."
          },
          "state": {
            "description": "Gets status of account.",
            "enum": [
              "Ok",
              "Unavailable",
              "Suspended"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AutomationAccountState"
            }
          }
        },
        "type": "object"
      },
      "AutomationAccountUpdateParameters": {
        "description": "The parameters supplied to the update automation account operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets the name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AutomationAccountUpdateProperties",
            "description": "Gets or sets account update properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AutomationAccountUpdateProperties": {
        "description": "The parameters supplied to the update account properties.",
        "properties": {
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "Gets or sets account SKU."
          }
        },
        "type": "object"
      },
      "Key": {
        "description": "Automation key which is used to register a DSC Node",
        "properties": {
          "KeyName": {
            "description": "Automation key name.",
            "enum": [
              "Primary",
              "Secondary"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AutomationKeyName"
            }
          },
          "Permissions": {
            "description": "Automation key permissions.",
            "enum": [
              "Read",
              "Full"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AutomationKeyPermissions"
            }
          },
          "Value": {
            "description": "Value of the Automation Key used for registration.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "KeyListResult": {
        "properties": {
          "keys": {
            "description": "Lists the automation keys.",
            "items": {
              "$ref": "#/components/schemas/Key"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Automation REST API operation",
        "properties": {
          "display": {
            "description": "Provider, Resource and Operation values",
            "properties": {
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.Automation",
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: Runbooks, Jobs etc.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "The response model for the list of Automation operations",
        "properties": {
          "value": {
            "description": "List of Automation operations supported by the Automation resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sku": {
        "description": "The account SKU.",
        "properties": {
          "capacity": {
            "description": "Gets or sets the SKU capacity.",
            "format": "int32",
            "type": "integer"
          },
          "family": {
            "description": "Gets or sets the SKU family.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets the SKU name of the account.",
            "enum": [
              "Free",
              "Basic"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuNameEnum"
            }
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Statistics": {
        "description": "Definition of the statistic.",
        "properties": {
          "counterProperty": {
            "description": "Gets the property value of the statistic.",
            "readOnly": true,
            "type": "string"
          },
          "counterValue": {
            "description": "Gets the value of the statistic.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "endTime": {
            "description": "Gets the endTime of the statistic.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Gets the id.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Gets the startTime of the statistic.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "StatisticsListResult": {
        "description": "The response model for the list statistics operation.",
        "properties": {
          "value": {
            "description": "Gets or sets a list of statistics.",
            "items": {
              "$ref": "#/components/schemas/Statistics"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Usage": {
        "description": "Definition of Usage.",
        "properties": {
          "currentValue": {
            "description": "Gets or sets the current usage value.",
            "format": "double",
            "type": "number"
          },
          "id": {
            "description": "Gets or sets the id of the resource.",
            "type": "string"
          },
          "limit": {
            "description": "Gets or sets max limit. -1 for unlimited",
            "format": "int64",
            "type": "integer"
          },
          "name": {
            "$ref": "#/components/schemas/UsageCounterName",
            "description": "Gets or sets the usage counter name."
          },
          "throttleStatus": {
            "description": "Gets or sets the throttle status.",
            "type": "string"
          },
          "unit": {
            "description": "Gets or sets the usage unit name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsageCounterName": {
        "description": "Definition of usage counter name.",
        "properties": {
          "localizedValue": {
            "description": "Gets or sets the localized usage counter name.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets the usage counter name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsageListResult": {
        "description": "The response model for the get usage operation.",
        "properties": {
          "value": {
            "description": "Gets or sets usage.",
            "items": {
              "$ref": "#/components/schemas/Usage"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}