openapi: 3.0.1
info:
  title: Taunt as a service
  description: "Fungenerators taunt generation API generates random taunts / insults,\
    \  relevant to the given category. Many categories are supported and new ones\
    \ are added very frequently. [Click here to subscribe](http://fungenerators.com/api/taunt/)\n\
    \  \n"
  termsOfService: https://fungenerators.com/terms
  contact:
    name: Fun Generators
    url: http://fungenerators.com/
  version: "1.5"
servers:
- url: https://api.fungenerators.com/
- url: http://api.fungenerators.com/
tags:
- name: Taunt
  description: Taunt Generation API
  externalDocs:
    description: Find out more
    url: http://fungenerators.com/api/taunt/
paths:
  /taunt/categories:
    get:
      tags:
      - Taunt
      description: Get available taunt generation categories.
      parameters:
      - name: start
        in: query
        description: start
        schema:
          type: integer
          format: integer
      - name: limit
        in: query
        description: limit
        schema:
          type: integer
          format: integer
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": "7",
                    "start": 0,
                    "limit": 10
                  },
                  "contents": [
                    [
                      {
                        "name": "new-age-insult",
                        "title": "Random Insult Generator",
                        "description": "Nothing personal mate! Just for fun! This is not appropriate for children!"
                      },
                      {
                        "name": "shakespeare",
                        "title": "Random Shakespearean Curse Generator",
                        "description": "Generates a random Shakespeare sounding curse every-time you visit the page. Cursing is bad for health ;) , use it only when necessary."
                      },
                      {
                        "name": "lutheran-insult",
                        "title": "Random Lutheran Insult Generator",
                        "description": "Let Luther insult you from the history! These insults directly from the books of Luther will make you feel like the real Hanswursts - blockheads, boors, and dunderheads."
                      },
                      {
                        "name": "scottish",
                        "title": "Random Scottish Insult Generator",
                        "description": "If you are insulting someone insult like Scot! Our Scottish insult generator will be your mate and do most of job for you!"
                      },
                      {
                        "name": "pirate-insult",
                        "title": "Pirate Insult Generator",
                        "description": "If you are insulting someone insult like Pirate! Our Pirate insult generator will make you a weasel hearted worm suckin' spineless bastitch !"
                      },
                      {
                        "name": "conservative-insult",
                        "title": "Conservative Insult Generator",
                        "description": "If you are in a political argument and need to insult the conservative on the other side in a hurry, our conservative insult generator will do the job for you!"
                      },
                      {
                        "name": "liberal-insult",
                        "title": "Liberal Insult Generator",
                        "description": "If you are in a political argument and need to insult the liberal on the other side in a hurry, our liberal insult generator will do the job for you!"
                      }
                    ]
                  ]
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}     "
      security:
      - X-Fungenerators-Api-Secret: []
  /taunt/generate:
    get:
      tags:
      - Taunt
      description: Generated taunts in the given category
      parameters:
      - name: category
        in: query
        description: Category to generator taunt from
        required: true
        schema:
          type: string
          format: string
      - name: limit
        in: query
        description: Limit. Controls number of taunts generated. Max of 5-10 based
          on the plan
        schema:
          type: integer
          format: integer
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": null,
                    "limit": 3
                  },
                  "contents": {
                    "category": "shakespeare",
                    "taunts": [
                      "Thou infectious hasty-witted mammet!",
                      "Thou distempered iron-witted fustilarian!",
                      "Thou reeky ill-breeding scullion!"
                    ]
                  },
                  "copyright": "https://fungenerators.com/"
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
      security:
      - X-Fungenerators-Api-Secret: []
components:
  securitySchemes:
    X-Fungenerators-Api-Secret:
      type: apiKey
      name: X-Fungenerators-Api-Secret
      in: header

