{
  "openapi": "3.0.0",
  "info": {
    "title": "WebApps API Client",
    "version": "2016-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-08-01/WebApps.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get all apps for a subscription.",
        "operationId": "WebApps_List",
        "summary": "Get all apps for a subscription.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Specify <strong>true</strong> to include deployment slots in results. The default is false, which only gives you the production slot of all apps.",
            "in": "query",
            "name": "includeSlots",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets all web, mobile, and API apps in the specified resource group.",
        "operationId": "WebApps_ListByResourceGroup",
        "summary": "Gets all web, mobile, and API apps in the specified resource group.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app to delete.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If true, web app metrics are also deleted.",
            "in": "query",
            "name": "deleteMetrics",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Specify false if you want to keep empty App Service plan. By default, empty App Service plan is deleted.",
            "in": "query",
            "name": "deleteEmptyServerFarm",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted web app."
          },
          "204": {
            "description": "Successfully deleted web app."
          },
          "404": {
            "description": "Web app not found."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Deletes a web, mobile, or API app, or one of the deployment slots.",
        "operationId": "WebApps_Delete",
        "summary": "Deletes a web, mobile, or API app, or one of the deployment slots."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Site"
                }
              }
            },
            "description": "OK."
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the details of a web, mobile, or API app.",
        "operationId": "WebApps_Get",
        "summary": "Gets the details of a web, mobile, or API app."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Site"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Site"
                }
              }
            },
            "description": "Asynchronous operation in progress."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.",
        "operationId": "WebApps_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SitePatchResource"
              }
            }
          },
          "description": "A JSON representation of the app properties. See example.",
          "required": true
        },
        "summary": "Creates a new web, mobile, or API app in an existing resource group, or updates an existing app."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Site"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Site"
                }
              }
            },
            "description": "Asynchronous operation in progress."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.",
        "operationId": "WebApps_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Site"
              }
            }
          },
          "description": "A JSON representation of the app properties. See example.",
          "required": true
        },
        "summary": "Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/analyzeCustomHostname": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Custom hostname.",
            "in": "query",
            "name": "hostName",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomHostnameAnalysisResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Analyze a custom hostname.",
        "operationId": "WebApps_AnalyzeCustomHostname",
        "summary": "Analyze a custom hostname."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/applySlotConfig": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Applies the configuration settings from the target slot onto the current slot.",
        "operationId": "WebApps_ApplySlotConfigToProduction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CsmSlotEntity"
              }
            }
          },
          "description": "JSON object that contains the target slot name. See example.",
          "required": true
        },
        "summary": "Applies the configuration settings from the target slot onto the current slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backup": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupItem"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Creates a backup of an app.",
        "operationId": "WebApps_Backup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupRequest"
              }
            }
          },
          "description": "Backup configuration. You can use the JSON response from the POST action as input here.",
          "required": true
        },
        "summary": "Creates a backup of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupItemCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets existing backups of an app.",
        "operationId": "WebApps_ListBackups",
        "summary": "Gets existing backups of an app.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/discover": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreRequest"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Discovers an existing app backup that can be restored from a blob in Azure storage.",
        "operationId": "WebApps_DiscoverRestore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreRequest"
              }
            }
          },
          "description": "A RestoreRequest object that includes Azure storage URL and blog name for discovery of backup.",
          "required": true
        },
        "summary": "Discovers an existing app backup that can be restored from a blob in Azure storage."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the backup.",
            "in": "path",
            "name": "backupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted web app backup item."
          },
          "404": {
            "description": "Web app backup item does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Deletes a backup of an app by its ID.",
        "operationId": "WebApps_DeleteBackup",
        "summary": "Deletes a backup of an app by its ID."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the backup.",
            "in": "path",
            "name": "backupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupItem"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets a backup of an app by its ID.",
        "operationId": "WebApps_GetBackupStatus",
        "summary": "Gets a backup of an app by its ID."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of backup.",
            "in": "path",
            "name": "backupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupItem"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets status of a web app backup that may be in progress, including secrets associated with the backup, such as the Azure Storage SAS URL. Also can be used to update the SAS URL for the backup if a new URL is passed in the request body.",
        "operationId": "WebApps_ListBackupStatusSecrets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupRequest"
              }
            }
          },
          "description": "Information on backup request.",
          "required": true
        },
        "summary": "Gets status of a web app backup that may be in progress, including secrets associated with the backup, such as the Azure Storage SAS URL. Also can be used to update the SAS URL for the backup if a new URL is passed in the request body."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/restore": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the backup.",
            "in": "path",
            "name": "backupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Restores a specific backup to another app (or deployment slot, if specified).",
        "operationId": "WebApps_Restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreRequest"
              }
            }
          },
          "description": "Information on restore request .",
          "required": true
        },
        "summary": "Restores a specific backup to another app (or deployment slot, if specified).",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResourceCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "List the configurations of an app",
        "operationId": "WebApps_ListConfigurations",
        "summary": "List the configurations of an app",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDictionary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Replaces the application settings of an app.",
        "operationId": "WebApps_UpdateApplicationSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringDictionary"
              }
            }
          },
          "description": "Application settings of the app.",
          "required": true
        },
        "summary": "Replaces the application settings of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDictionary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the application settings of an app.",
        "operationId": "WebApps_ListApplicationSettings",
        "summary": "Gets the application settings of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteAuthSettings"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the Authentication / Authorization settings associated with web app.",
        "operationId": "WebApps_UpdateAuthSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteAuthSettings"
              }
            }
          },
          "description": "Auth settings associated with web app.",
          "required": true
        },
        "summary": "Updates the Authentication / Authorization settings associated with web app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteAuthSettings"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the Authentication/Authorization settings of an app.",
        "operationId": "WebApps_GetAuthSettings",
        "summary": "Gets the Authentication/Authorization settings of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted backup configuration."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Deletes the backup configuration of an app.",
        "operationId": "WebApps_DeleteBackupConfiguration",
        "summary": "Deletes the backup configuration of an app."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupRequest"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the backup configuration of an app.",
        "operationId": "WebApps_UpdateBackupConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupRequest"
              }
            }
          },
          "description": "Edited backup configuration.",
          "required": true
        },
        "summary": "Updates the backup configuration of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupRequest"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the backup configuration of an app.",
        "operationId": "WebApps_GetBackupConfiguration",
        "summary": "Gets the backup configuration of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionStringDictionary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Replaces the connection strings of an app.",
        "operationId": "WebApps_UpdateConnectionStrings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionStringDictionary"
              }
            }
          },
          "description": "Connection strings of the app or deployment slot. See example.",
          "required": true
        },
        "summary": "Replaces the connection strings of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionStringDictionary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the connection strings of an app.",
        "operationId": "WebApps_ListConnectionStrings",
        "summary": "Gets the connection strings of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/logs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteLogsConfig"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the logging configuration of an app.",
        "operationId": "WebApps_GetDiagnosticLogsConfiguration",
        "summary": "Gets the logging configuration of an app."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteLogsConfig"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the logging configuration of an app.",
        "operationId": "WebApps_UpdateDiagnosticLogsConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteLogsConfig"
              }
            }
          },
          "description": "A SiteLogsConfig JSON object that contains the logging configuration to change in the \"properties\" property.",
          "required": true
        },
        "summary": "Updates the logging configuration of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDictionary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Replaces the metadata of an app.",
        "operationId": "WebApps_UpdateMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StringDictionary"
              }
            }
          },
          "description": "Edited metadata of the app or deployment slot. See example.",
          "required": true
        },
        "summary": "Replaces the metadata of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDictionary"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the metadata of an app.",
        "operationId": "WebApps_ListMetadata",
        "summary": "Gets the metadata of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/publishingcredentials/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/User"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the Git/FTP publishing credentials of an app.",
        "operationId": "WebApps_ListPublishingCredentials",
        "summary": "Gets the Git/FTP publishing credentials of an app.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/PushSettings"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the Push settings associated with web app.",
        "operationId": "WebApps_UpdateSitePushSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/PushSettings"
              }
            }
          },
          "description": "Push settings associated with web app.",
          "required": true
        },
        "summary": "Updates the Push settings associated with web app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings/list": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/PushSettings"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the Push settings associated with web app.",
        "operationId": "WebApps_ListSitePushSettings",
        "summary": "Gets the Push settings associated with web app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/slotConfigNames": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotConfigNamesResource"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the names of app settings and connection strings that stick to the slot (not swapped).",
        "operationId": "WebApps_ListSlotConfigurationNames",
        "summary": "Gets the names of app settings and connection strings that stick to the slot (not swapped)."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotConfigNamesResource"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the names of application settings and connection string that remain with the slot during swap operation.",
        "operationId": "WebApps_UpdateSlotConfigurationNames",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlotConfigNamesResource"
              }
            }
          },
          "description": "Names of application settings and connection strings. See example.",
          "required": true
        },
        "summary": "Updates the names of application settings and connection string that remain with the slot during swap operation."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResource"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the configuration of an app, such as platform version and bitness, default documents, virtual applications, Always On, etc.",
        "operationId": "WebApps_GetConfiguration",
        "summary": "Gets the configuration of an app, such as platform version and bitness, default documents, virtual applications, Always On, etc."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResource"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the configuration of an app.",
        "operationId": "WebApps_UpdateConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteConfigResource"
              }
            }
          },
          "description": "JSON representation of a SiteConfig object. See example.",
          "required": true
        },
        "summary": "Updates the configuration of an app."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResource"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Updates the configuration of an app.",
        "operationId": "WebApps_CreateOrUpdateConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteConfigResource"
              }
            }
          },
          "description": "JSON representation of a SiteConfig object. See example.",
          "required": true
        },
        "summary": "Updates the configuration of an app."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigurationSnapshotInfoCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets a list of web app configuration snapshots identifiers. Each element of the list contains a timestamp and the ID of the snapshot.",
        "operationId": "WebApps_ListConfigurationSnapshotInfo",
        "summary": "Gets a list of web app configuration snapshots identifiers. Each element of the list contains a timestamp and the ID of the snapshot.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the snapshot to read.",
            "in": "path",
            "name": "snapshotId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResource"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets a snapshot of the configuration of an app at a previous point in time.",
        "operationId": "WebApps_GetConfigurationSnapshot",
        "summary": "Gets a snapshot of the configuration of an app at a previous point in time."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}/recover": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the snapshot to read.",
            "in": "path",
            "name": "snapshotId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Reverts the configuration of an app to a previous snapshot.",
        "operationId": "WebApps_RecoverSiteConfigurationSnapshot",
        "summary": "Reverts the configuration of an app to a previous snapshot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "application/octet-stream": {}
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the last lines of docker logs for the given site",
        "operationId": "WebApps_GetWebSiteContainerLogs",
        "summary": "Gets the last lines of docker logs for the given site"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs/zip/download": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "application/zip": {}
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets the ZIP archived docker log files for the given site",
        "operationId": "WebApps_GetWebSiteContainerLogsZip",
        "summary": "Gets the ZIP archived docker log files for the given site"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuousWebJobCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "List continuous web jobs for an app, or a deployment slot.",
        "operationId": "WebApps_ListContinuousWebJobs",
        "summary": "List continuous web jobs for an app, or a deployment slot.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of Web Job.",
            "in": "path",
            "name": "webJobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted continuous web job."
          },
          "204": {
            "description": "Continuous web job does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Delete a continuous web job by its ID for an app, or a deployment slot.",
        "operationId": "WebApps_DeleteContinuousWebJob",
        "summary": "Delete a continuous web job by its ID for an app, or a deployment slot."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of Web Job.",
            "in": "path",
            "name": "webJobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinuousWebJob"
                }
              }
            },
            "description": "Found continuous web job."
          },
          "404": {
            "description": "Continuous web job does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Gets a continuous web job by its ID for an app, or a deployment slot.",
        "operationId": "WebApps_GetContinuousWebJob",
        "summary": "Gets a continuous web job by its ID for an app, or a deployment slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/start": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of Web Job.",
            "in": "path",
            "name": "webJobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Found continuous web job."
          },
          "404": {
            "description": "Continuous web job does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Start a continuous web job for an app, or a deployment slot.",
        "operationId": "WebApps_StartContinuousWebJob",
        "summary": "Start a continuous web job for an app, or a deployment slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/stop": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of Web Job.",
            "in": "path",
            "name": "webJobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Found continuous web job."
          },
          "404": {
            "description": "Continuous web job does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Stop a continuous web job for an app, or a deployment slot.",
        "operationId": "WebApps_StopContinuousWebJob",
        "summary": "Stop a continuous web job for an app, or a deployment slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "List deployments for an app, or a deployment slot.",
        "operationId": "WebApps_ListDeployments",
        "summary": "List deployments for an app, or a deployment slot.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deployment ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted deployment."
          },
          "204": {
            "description": "Deployment does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Delete a deployment by its ID for an app, or a deployment slot.",
        "operationId": "WebApps_DeleteDeployment",
        "summary": "Delete a deployment by its ID for an app, or a deployment slot."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deployment ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get a deployment by its ID for an app, or a deployment slot.",
        "operationId": "WebApps_GetDeployment",
        "summary": "Get a deployment by its ID for an app, or a deployment slot."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of an existing deployment.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Create a deployment for an app, or a deployment slot.",
        "operationId": "WebApps_CreateDeployment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Deployment"
              }
            }
          },
          "description": "Deployment details.",
          "required": true
        },
        "summary": "Create a deployment for an app, or a deployment slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}/log": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of a specific deployment. This is the value of the name property in the JSON response from \"GET /api/sites/{siteName}/deployments\".",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "List deployment log for specific deployment for an app, or a deployment slot.",
        "operationId": "WebApps_ListDeploymentLog",
        "summary": "List deployment log for specific deployment for an app, or a deployment slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/IdentifierCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Lists ownership identifiers for domain associated with web app.",
        "operationId": "WebApps_ListDomainOwnershipIdentifiers",
        "summary": "Lists ownership identifiers for domain associated with web app.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers/{domainOwnershipIdentifierName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of domain ownership identifier.",
            "in": "path",
            "name": "domainOwnershipIdentifierName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted domain ownership identifier."
          },
          "204": {
            "description": "Domain ownership identifier does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Deletes a domain ownership identifier for a web app.",
        "operationId": "WebApps_DeleteDomainOwnershipIdentifier",
        "summary": "Deletes a domain ownership identifier for a web app."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of domain ownership identifier.",
            "in": "path",
            "name": "domainOwnershipIdentifierName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Identifier"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get domain ownership identifier for web app.",
        "operationId": "WebApps_GetDomainOwnershipIdentifier",
        "summary": "Get domain ownership identifier for web app."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of domain ownership identifier.",
            "in": "path",
            "name": "domainOwnershipIdentifierName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Identifier"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Creates a domain ownership identifier for web app, or updates an existing ownership identifier.",
        "operationId": "WebApps_UpdateDomainOwnershipIdentifier",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Identifier"
              }
            }
          },
          "description": "A JSON representation of the domain ownership properties.",
          "required": true
        },
        "summary": "Creates a domain ownership identifier for web app, or updates an existing ownership identifier."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of domain ownership identifier.",
            "in": "path",
            "name": "domainOwnershipIdentifierName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Identifier"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Creates a domain ownership identifier for web app, or updates an existing ownership identifier.",
        "operationId": "WebApps_CreateOrUpdateDomainOwnershipIdentifier",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Identifier"
              }
            }
          },
          "description": "A JSON representation of the domain ownership properties.",
          "required": true
        },
        "summary": "Creates a domain ownership identifier for web app, or updates an existing ownership identifier."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/extensions/MSDeploy": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MSDeployStatus"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get the status of the last MSDeploy operation.",
        "operationId": "WebApps_GetMSDeployStatus",
        "summary": "Get the status of the last MSDeploy operation."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MSDeployStatus"
                }
              }
            },
            "description": "Deployment is scheduled."
          },
          "409": {
            "description": "Another deployment is in progress."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Invoke the MSDeploy web app extension.",
        "operationId": "WebApps_CreateMSDeployOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MSDeploy"
              }
            }
          },
          "description": "Details of MSDeploy operation",
          "required": true
        },
        "summary": "Invoke the MSDeploy web app extension.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/extensions/MSDeploy/log": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MSDeployLog"
                }
              }
            },
            "description": "MSDeploy log returned."
          },
          "404": {
            "description": "MSDeploy log not found."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get the MSDeploy Log for the last MSDeploy operation.",
        "operationId": "WebApps_GetMSDeployLog",
        "summary": "Get the MSDeploy Log for the last MSDeploy operation."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/functions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionEnvelopeCollection"
                }
              }
            },
            "description": "Function information returned."
          },
          "404": {
            "description": "Function with an ID of {functionName} is not running."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "List the functions for a web site, or a deployment slot.",
        "operationId": "WebApps_ListFunctions",
        "summary": "List the functions for a web site, or a deployment slot.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/functions/admin/token": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Fetch a short lived token that can be exchanged for a master key.",
        "operationId": "WebApps_GetFunctionsAdminToken",
        "summary": "Fetch a short lived token that can be exchanged for a master key."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/functions/{functionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Function name.",
            "in": "path",
            "name": "functionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Function deleted."
          },
          "404": {
            "description": "Function does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Delete a function for web site, or a deployment slot.",
        "operationId": "WebApps_DeleteFunction",
        "summary": "Delete a function for web site, or a deployment slot."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Function name.",
            "in": "path",
            "name": "functionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionEnvelope"
                }
              }
            },
            "description": "Function information returned."
          },
          "404": {
            "description": "Function with an name of {functionName} is not running."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get function information by its ID for web site, or a deployment slot.",
        "operationId": "WebApps_GetFunction",
        "summary": "Get function information by its ID for web site, or a deployment slot."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Function name.",
            "in": "path",
            "name": "functionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionEnvelope"
                }
              }
            },
            "description": "Function created."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Create function for web site, or a deployment slot.",
        "operationId": "WebApps_CreateFunction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionEnvelope"
              }
            }
          },
          "description": "Function details.",
          "required": true
        },
        "summary": "Create function for web site, or a deployment slot.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/functions/{functionName}/listsecrets": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Function name.",
            "in": "path",
            "name": "functionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionSecrets"
                }
              }
            },
            "description": "Function secrets returned."
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get function secrets for a function in a web site, or a deployment slot.",
        "operationId": "WebApps_ListFunctionSecrets",
        "summary": "Get function secrets for a function in a web site, or a deployment slot."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostNameBindings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostNameBindingCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "WebApps"
        ],
        "description": "Get hostname bindings for an app or a deployment slot.",
        "operationId": "WebApps_ListHostNameBindings",
        "summary": "Get hostname bindings for an app or a deployment slot.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostNameBindings/{hostName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Hostname in the hostname binding.",
            "in": "path",
            "name": "hostName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted hostname binding."
          },
          "204": {
            "description": "Hostname binding does not exist."
          }
        },
        "tags": [
          "WebApps"
        ],
[...]
