openapi: 3.0.0
info:
  description: >-
    Role based access control provides you a way to apply granular level policy
    administration down to individual resources or resource groups. These
    operations enable you to manage role definitions and role assignments. A
    role definition describes the set of actions that can be performed on
    resources. A role assignment grants access to Azure Active Directory users.
  title: AuthorizationManagementClient
  version: '2015-07-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/classicAdministrators':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicAdministratorListResult'
          description: Returns an array of administrators.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ClassicAdministrators
      description: >-
        Gets service administrator, account administrator, and co-administrators
        for the subscription.
      operationId: ClassicAdministrators_List
      x-ms-examples:
        List classic administrators:
          $ref: ./examples/GetClassicAdministrators.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    ClassicAdministrator:
      description: Classic Administrators
      properties:
        id:
          description: The ID of the administrator.
          type: string
        name:
          description: The name of the administrator.
          type: string
        properties:
          $ref: '#/components/schemas/ClassicAdministratorProperties'
          description: Properties for the classic administrator.
          x-ms-client-flatten: true
        type:
          description: The type of the administrator.
          type: string
      type: object
    ClassicAdministratorListResult:
      description: ClassicAdministrator list result information.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of administrators.
          items:
            $ref: '#/components/schemas/ClassicAdministrator'
          type: array
      type: object
    ClassicAdministratorProperties:
      description: Classic Administrator properties.
      properties:
        emailAddress:
          description: The email address of the administrator.
          type: string
        role:
          description: The role of the administrator.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

