openapi: 3.0.1
info:
  description: Weather Forecast and Historical Weather Data via RESTful API.
  version: '4.6'
  title: Visual Crossing Weather API
  termsOfService: https://www.visualcrossing.com/weather-services-terms
  contact:
    email: info@visualcrossing.com
    url: https://www.visualcrossing.com/weather-api
    name: Visual Crossing Corporation
  license:
    url: https://www.visualcrossing.com/weather-api
    name: Visual Crossing Weather API
servers:
- url: https://weather.visualcrossing.com
paths:
  /VisualCrossingWebServices/rest/services/timeline/{location}:
    get:
      description: Seamless access to daily and hourly historical and forecast weather
        data plus weather alerts, events and current conditions.
      parameters:
      - name: location
        in: path
        schema:
          type: string
        required: true
        example: London,UK
        description: Locaton of interest as an address, partial address or decimal
          latitude,longtude value
      - name: contentType
        in: query
        schema:
          type: string
        example: json
        description: data format of the output either json or CSV
      - name: unitGroup
        in: query
        schema:
          type: string
        example: us
      - name: include
        in: query
        schema:
          type: string
        example: days
        description: data to include in the output (required for CSV format - days,hours,alerts,current,events
          )
      - name: lang
        in: query
        schema:
          type: string
        example: us
        description: Language to use for weather descriptions
      - name: key
        in: query
        schema:
          type: string
        required: true
        example: INSERT_YOUR_KEY
      responses:
        '200':
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Historical and Forecast Weather API
      tags:
      - Timeline Weather API (15-day forecast request)
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/timeline/{location}/{startdate}:
    get:
      description: Seamless access to daily and hourly historical and forecast weather
        data plus weather alerts, events and current conditions.
      parameters:
      - name: location
        in: path
        schema:
          type: string
        required: true
        example: London,UK
      - name: startdate
        in: path
        schema:
          type: string
        required: true
        example: '2022-02-01T00:00:00.000Z'
      - name: contentType
        in: query
        schema:
          type: string
        example: json
        description: data format of the output either json or CSV
      - name: unitGroup
        in: query
        schema:
          type: string
        example: us
      - name: include
        in: query
        schema:
          type: string
        example: days
        description: data to include in the output (required for CSV format - days,hours,alerts,current,events
          )
      - name: lang
        in: query
        schema:
          type: string
        example: us
        description: Language to use for weather descriptions
      - name: key
        in: query
        schema:
          type: string
        required: true
        example: INSERT_YOUR_KEY
      responses:
        '200':
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Historical and Forecast Weather API
      tags:
      - Timeline Weather API (single date request)
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/timeline/{location}/{startdate}/{enddate}:
    get:
      description: Seamless access to daily and hourly historical and forecast weather
        data plus weather alerts, events and current conditions.
      parameters:
      - name: location
        in: path
        schema:
          type: string
        required: true
        example: London,UK
      - name: startdate
        in: path
        schema:
          type: string
        required: true
        example: '2022-02-01T00:00:00.000Z'
      - name: enddate
        in: path
        schema:
          type: string
        required: true
        example: '2022-03-01T00:00:00.000Z'
      - name: contentType
        in: query
        schema:
          type: string
        example: json
        description: data format of the output either json or CSV
      - name: unitGroup
        in: query
        schema:
          type: string
        example: us
      - name: include
        in: query
        schema:
          type: string
        example: days
        description: data to include in the output (required for CSV format - days,hours,alerts,current,events
          )
      - name: lang
        in: query
        schema:
          type: string
        example: us
        description: Language to use for weather descriptions
      - name: key
        in: query
        schema:
          type: string
        required: true
        example: INSERT_YOUR_KEY
      responses:
        '200':
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Historical and Forecast Weather API
      tags:
      - Timeline Weather API (date range request)
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/weatherdata/forecast:
    get:
      description: Provides access to weather forecast information. The forecast is
        available for up to 15 days at the hourly, 12 hour and daily summary level.
      parameters:
      - name: sendAsDatasource
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: allowAsynch
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: shortColumnNames
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: locations
        in: query
        schema:
          type: string
        example: Sterling%2C%20VA%2C%20US
      - name: aggregateHours
        in: query
        schema:
          type: string
        example: '24'
      - name: contentType
        in: query
        schema:
          type: string
        example: json
      - name: unitGroup
        in: query
        schema:
          type: string
        example: us
      - name: key
        in: query
        schema:
          type: string
        example: INSERT_YOUR_KEY
      responses:
        '200':
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Weather Forecast API
      tags:
      - Weather Forecast
    servers:
    - url: https://weather.visualcrossing.com
  /VisualCrossingWebServices/rest/services/weatherdata/history:
    get:
      description: The weather history data is suitable for retrieving hourly or daily
        historical weather records.
      parameters:
      - name: maxDistance
        in: query
        schema:
          type: string
        example: '-1'
      - name: shortColumnNames
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: endDateTime
        in: query
        schema:
          type: string
        example: 2020-02-04T00%3A00%3A00
      - name: aggregateHours
        in: query
        schema:
          type: string
        example: '24'
      - name: collectStationContributions
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: startDateTime
        in: query
        schema:
          type: string
        example: 2020-01-28T00%3A00%3A00
      - name: maxStations
        in: query
        schema:
          type: string
        example: '-1'
      - name: allowAsynch
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: locations
        in: query
        schema:
          type: string
        example: Sterling%2C%20VA%2C%20US
      - name: includeNormals
        in: query
        schema:
          type: boolean
        example: 'false'
      - name: contentType
        in: query
        schema:
          type: string
        example: json
      - name: unitGroup
        in: query
        schema:
          type: string
        example: us
      - name: key
        in: query
        schema:
          type: string
        example: INSERT_YOUR_KEY
      responses:
        '200':
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://weather.visualcrossing.com
      summary: Retrieves hourly or daily historical weather records.
      tags:
      - Historical Weather
    servers:
    - url: https://weather.visualcrossing.com
externalDocs:
  url: 
    https://www.visualcrossing.com/resources/documentation/weather-api/timeline-weather-api/
  description: Full Timeline Weather API Documentation
