{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides create, read, update, and delete functionality for Azure SQL Database server firewall rules.",
    "title": "Azure SQL Database server firewall rules",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/firewallRules.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRuleListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Returns a list of firewall rules.",
        "operationId": "FirewallRules_ListByServer",
        "x-ms-examples": {
          "List Firewall Rules": {
            "$ref": "./examples/FirewallRuleList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules/{firewallRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the firewall rule.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Deletes a firewall rule.",
        "operationId": "FirewallRules_Delete",
        "x-ms-examples": {
          "Delete a firewall rule": {
            "$ref": "./examples/FirewallRuleDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the firewall rule.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Gets a firewall rule.",
        "operationId": "FirewallRules_Get",
        "x-ms-examples": {
          "Get Firewall Rule": {
            "$ref": "./examples/FirewallRuleGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the firewall rule.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Creates or updates a firewall rule.",
        "operationId": "FirewallRules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirewallRule"
              }
            }
          },
          "description": "The required parameters for creating or updating a firewall rule.",
          "required": true
        },
        "x-ms-examples": {
          "Create a firewall rule max/min": {
            "$ref": "./examples/FirewallRuleCreate.json"
          },
          "Update a firewall rule max/min": {
            "$ref": "./examples/FirewallRuleUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "FirewallRule": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a server firewall rule.",
        "properties": {
          "kind": {
            "description": "Kind of server that contains this firewall rule.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location of the server that contains this firewall rule.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/FirewallRuleProperties",
            "description": "The properties representing the resource.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of resource this is.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "FirewallRuleListResult": {
        "description": "Represents the response to a List Firewall Rules request.",
        "properties": {
          "value": {
            "description": "The list of server firewall rules.",
            "items": {
              "$ref": "#/components/schemas/FirewallRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "FirewallRuleProperties": {
        "description": "Represents the properties of a server firewall rule.",
        "properties": {
          "endIpAddress": {
            "description": "The end IP address of the firewall rule. Must be IPv4 format. Must be greater than or equal to startIpAddress. Use value '0.0.0.0' to represent all Azure-internal IP addresses.",
            "type": "string"
          },
          "startIpAddress": {
            "description": "The start IP address of the firewall rule. Must be IPv4 format. Use value '0.0.0.0' to represent all Azure-internal IP addresses.",
            "type": "string"
          }
        },
        "required": [
          "startIpAddress",
          "endIpAddress"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}