{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "title": "SqlManagementClient",
    "version": "2018-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/instancePools.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/instancePools": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePoolListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of instance pools in a subscription."
          },
          "default": {
            "description": "*** Error Responses: ***"
          }
        },
        "tags": [
          "InstancePools"
        ],
        "description": "Gets a list of all instance pools in the subscription.",
        "operationId": "InstancePools_List",
        "x-ms-examples": {
          "List instance pools in the subscription": {
            "$ref": "./examples/ListInstancePoolsBySubscriptionId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePoolListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of instance pools."
          },
          "default": {
            "description": "*** Error Responses: ***"
          }
        },
        "tags": [
          "InstancePools"
        ],
        "description": "Gets a list of instance pools in the resource group",
        "operationId": "InstancePools_ListByResourceGroup",
        "x-ms-examples": {
          "List instance pools by resource group": {
            "$ref": "./examples/ListInstancePoolsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the instance pool to be deleted",
            "in": "path",
            "name": "instancePoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the instance pool."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "The specified instance pool does not exist."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InstancePoolNotEmpty - An instance pool is not empty\n\n * 404 InstancePoolNotFound - An instance pool cannot be found\n\n * 404 InstancePoolNotFound - An instance pool cannot be found\n\n * 409 InstancePoolBusy - An instance pool is busy with another ongoing operation"
          }
        },
        "tags": [
          "InstancePools"
        ],
        "description": "Deletes an instance pool",
        "operationId": "InstancePools_Delete",
        "x-ms-examples": {
          "Delete an instance pool": {
            "$ref": "./examples/DeleteInstancePool.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the instance pool to be retrieved.",
            "in": "path",
            "name": "instancePoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePool"
                }
              }
            },
            "description": "Successfully retrieved the specified instance pool."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 InstancePoolNotFound - An instance pool cannot be found"
          }
        },
        "tags": [
          "InstancePools"
        ],
        "description": "Gets an instance pool.",
        "operationId": "InstancePools_Get",
        "x-ms-examples": {
          "Get an instance pool": {
            "$ref": "./examples/GetInstancePool.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the instance pool to be updated.",
            "in": "path",
            "name": "instancePoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePool"
                }
              }
            },
            "description": "Successfully updated the instance pool."
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid."
          }
        },
        "tags": [
          "InstancePools"
        ],
        "description": "Updates an instance pool.",
        "operationId": "InstancePools_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstancePoolUpdate"
              }
            }
          },
          "description": "The requested instance pool resource state.",
          "required": true
        },
        "x-ms-examples": {
          "Patch an instance pool": {
            "$ref": "./examples/PatchInstancePool.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the instance pool to be created or updated.",
            "in": "path",
            "name": "instancePoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePool"
                }
              }
            },
            "description": "Successfully updated the instance pool."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePool"
                }
              }
            },
            "description": "Successfully created the instance pool."
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.\n\n * 400 MissingSkuName - Sku name is required.\n\n * 400 InstancePoolRequestedVcoreCountIsInvalid - Requested vcore count for instance pool is invalid\n\n * 400 InstancePoolRequestMissingSku - Instance pool request is missing sku\n\n * 400 InstancePoolRequestMissingSkuTier - Instance pool request is missing sku tier\n\n * 400 InstancePoolRequestMissingSkuFamily - Instance pool request is missing sku family\n\n * 400 InstancePoolRequestedSubnetResourceIdIsInvalid - Subnet id for instance pool is null or empty\n\n * 409 InstancePoolBusy - An instance pool is busy with another ongoing operation"
          }
        },
        "tags": [
          "InstancePools"
        ],
        "description": "Creates or updates an instance pool.",
        "operationId": "InstancePools_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstancePool"
              }
            }
          },
          "description": "The requested instance pool resource state.",
          "required": true
        },
        "x-ms-examples": {
          "Create an instance pool with all properties.": {
            "$ref": "./examples/CreateOrUpdateInstancePoolMax.json"
          },
          "Create an instance pool with min properties.": {
            "$ref": "./examples/CreateOrUpdateInstancePoolMin.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to use for the request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "BlobAuditingPolicyNameParameter": {
        "description": "The name of the blob auditing policy.",
        "in": "path",
        "name": "blobAuditingPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ManagedInstanceNameParameter": {
        "description": "The name of the managed instance.",
        "in": "path",
        "name": "managedInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupParameter": {
        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SqlVirtualMachineContainerNameParameter": {
        "description": "The name of the SqlVirtualMachineContainer.",
        "in": "path",
        "name": "sqlVirtualMachineContainerName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SqlVirtualMachineInstanceNameParameter": {
        "description": "The name of the SqlVirtualMachineInstance.",
        "in": "path",
        "name": "sqlVirtualMachineInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The subscription ID that identifies an Azure subscription.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "VirtualClusterNameParameter": {
        "description": "The name of the virtual cluster.",
        "in": "path",
        "name": "virtualClusterName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "InstancePool": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/TrackedResource"
          }
        ],
        "description": "An Azure SQL instance pool.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/InstancePoolProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "../../../common/v1/types.json#/definitions/Sku",
            "description": "The name and tier of the SKU."
          }
        },
        "required": [
          "location"
        ],
        "type": "object"
      },
      "InstancePoolListResult": {
        "description": "A list of Azure SQL instance pools.",
        "properties": {
          "nextLink": {
            "description": "Link to retrieve next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Array of results.",
            "items": {
              "$ref": "#/components/schemas/InstancePool"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "InstancePoolProperties": {
        "description": "Properties of an instance pool.",
        "properties": {
          "licenseType": {
            "description": "The license type. Possible values are 'LicenseIncluded' (price for SQL license is included) and 'BasePrice' (without SQL license price).",
            "enum": [
              "LicenseIncluded",
              "BasePrice"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "InstancePoolLicenseType"
            },
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "subnetId": {
            "description": "Resource ID of the subnet to place this instance pool in.",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "vCores": {
            "description": "Count of vCores belonging to this instance pool.",
            "format": "int32",
            "type": "integer",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          }
        },
        "required": [
          "subnetId",
          "vCores",
          "licenseType"
        ],
        "type": "object"
      },
      "InstancePoolUpdate": {
        "description": "An update to an Instance pool.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}