{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "title": "SqlManagementClient",
    "version": "2017-10-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/managedDatabaseVulnerabilityAssesmentRuleBaselines.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/rules/{ruleId}/baselines/{baselineName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the managed instance.",
            "in": "path",
            "name": "managedInstanceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the database for which the vulnerability assessment rule baseline is defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment.",
            "in": "path",
            "name": "vulnerabilityAssessmentName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VulnerabilityAssessmentName"
            }
          },
          {
            "description": "The vulnerability assessment rule ID.",
            "in": "path",
            "name": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment rule baseline (default implies a baseline on a database level rule and master for server level rule).",
            "in": "path",
            "name": "baselineName",
            "required": true,
            "schema": {
              "enum": [
                "master",
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": false,
              "name": "VulnerabilityAssessmentPolicyBaselineName"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the database vulnerability assessment rule baseline."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy - Vulnerability Assessment settings don't exist or invalid storage specified in settings. \n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated - Could not execute Vulnerability Assessment operation because the database is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability assessment operation request does not exist or has no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount - The storage account '{0}' that was defined in the policy is invalid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 SourceDatabaseNotFound - The source database does not exist.\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable - Loading failed. Please try again later."
          }
        },
        "tags": [
          "ManagedDatabaseVulnerabilityAssesmentRuleBaselines"
        ],
        "description": "Removes the database's vulnerability assessment rule baseline.",
        "operationId": "ManagedDatabaseVulnerabilityAssessmentRuleBaselines_Delete",
        "x-ms-examples": {
          "Removes a database's vulnerability assessment rule baseline.": {
            "$ref": "./examples/ManagedDatabaseVulnerabilityAssessmentRuleBaselineDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the managed instance.",
            "in": "path",
            "name": "managedInstanceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the database for which the vulnerability assessment rule baseline is defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment.",
            "in": "path",
            "name": "vulnerabilityAssessmentName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VulnerabilityAssessmentName"
            }
          },
          {
            "description": "The vulnerability assessment rule ID.",
            "in": "path",
            "name": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment rule baseline (default implies a baseline on a database level rule and master for server level rule).",
            "in": "path",
            "name": "baselineName",
            "required": true,
            "schema": {
              "enum": [
                "master",
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": false,
              "name": "VulnerabilityAssessmentPolicyBaselineName"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaseline"
                }
              }
            },
            "description": "Successfully got the vulnerability assessment rule baseline."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy - Vulnerability Assessment settings don't exist or invalid storage specified in settings. \n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated - Could not execute Vulnerability Assessment operation because the database is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability assessment operation request does not exist or has no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount - The storage account '{0}' that was defined in the policy is invalid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 SourceDatabaseNotFound - The source database does not exist.\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable - Loading failed. Please try again later."
          }
        },
        "tags": [
          "ManagedDatabaseVulnerabilityAssesmentRuleBaselines"
        ],
        "description": "Gets a database's vulnerability assessment rule baseline.",
        "operationId": "ManagedDatabaseVulnerabilityAssessmentRuleBaselines_Get",
        "x-ms-examples": {
          "Gets a database's vulnerability assessment rule baseline.": {
            "$ref": "./examples/ManagedDatabaseVulnerabilityAssessmentRuleBaselineGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the managed instance.",
            "in": "path",
            "name": "managedInstanceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the database for which the vulnerability assessment rule baseline is defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment.",
            "in": "path",
            "name": "vulnerabilityAssessmentName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VulnerabilityAssessmentName"
            }
          },
          {
            "description": "The vulnerability assessment rule ID.",
            "in": "path",
            "name": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment rule baseline (default implies a baseline on a database level rule and master for server level rule).",
            "in": "path",
            "name": "baselineName",
            "required": true,
            "schema": {
              "enum": [
                "master",
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": false,
              "name": "VulnerabilityAssessmentPolicyBaselineName"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaseline"
                }
              }
            },
            "description": "Successfully set the vulnerability assessment rule baseline."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy - Vulnerability Assessment settings don't exist or invalid storage specified in settings. \n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated - Could not execute Vulnerability Assessment operation because the database is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability assessment operation request does not exist or has no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount - The storage account '{0}' that was defined in the policy is invalid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 SourceDatabaseNotFound - The source database does not exist.\n\n * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable - Loading failed. Please try again later."
          }
        },
        "tags": [
          "ManagedDatabaseVulnerabilityAssesmentRuleBaselines"
        ],
        "description": "Creates or updates a database's vulnerability assessment rule baseline.",
        "operationId": "ManagedDatabaseVulnerabilityAssessmentRuleBaselines_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaseline"
              }
            }
          },
          "description": "The requested rule baseline resource.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates a database's vulnerability assessment rule baseline.": {
            "$ref": "./examples/ManagedDatabaseVulnerabilityAssessmentRuleBaselineCreate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to use for the request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "BlobAuditingPolicyNameParameter": {
        "description": "The name of the blob auditing policy.",
        "in": "path",
        "name": "blobAuditingPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ManagedInstanceNameParameter": {
        "description": "The name of the managed instance.",
        "in": "path",
        "name": "managedInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupParameter": {
        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SqlVirtualMachineContainerNameParameter": {
        "description": "The name of the SqlVirtualMachineContainer.",
        "in": "path",
        "name": "sqlVirtualMachineContainerName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SqlVirtualMachineInstanceNameParameter": {
        "description": "The name of the SqlVirtualMachineInstance.",
        "in": "path",
        "name": "sqlVirtualMachineInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The subscription ID that identifies an Azure subscription.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "VirtualClusterNameParameter": {
        "description": "The name of the virtual cluster.",
        "in": "path",
        "name": "virtualClusterName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DatabaseVulnerabilityAssessmentRuleBaseline": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A database vulnerability assessment rule baseline.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaselineProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DatabaseVulnerabilityAssessmentRuleBaselineItem": {
        "description": "Properties for an Azure SQL Database Vulnerability Assessment rule baseline's result.",
        "properties": {
          "result": {
            "description": "The rule baseline result",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "result"
        ],
        "type": "object"
      },
      "DatabaseVulnerabilityAssessmentRuleBaselineProperties": {
        "description": "Properties of a database Vulnerability Assessment rule baseline.",
        "properties": {
          "baselineResults": {
            "description": "The rule baseline result",
            "items": {
              "$ref": "#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaselineItem"
            },
            "type": "array"
          }
        },
        "required": [
          "baselineResults"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}