{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/watcher.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatcherListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Retrieve a list of watchers.",
        "operationId": "Watcher_ListByAutomationAccount",
        "x-ms-examples": {
          "List watchers by Automation Account": {
            "$ref": "./examples/listWatchersByAutomationAccount.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Watcher",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The watcher name.",
            "in": "path",
            "name": "watcherName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Delete the watcher by name.",
        "operationId": "Watcher_Delete",
        "x-ms-examples": {
          "Delete watcher": {
            "$ref": "./examples/deleteWatcher.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The watcher name.",
            "in": "path",
            "name": "watcherName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Retrieve the watcher identified by watcher name.",
        "operationId": "Watcher_Get",
        "x-ms-examples": {
          "Get watcher": {
            "$ref": "./examples/getWatcher.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The watcher name.",
            "in": "path",
            "name": "watcherName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Update the watcher identified by watcher name.",
        "operationId": "Watcher_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatcherUpdateParameters"
              }
            }
          },
          "description": "The update parameters for watcher.",
          "required": true
        },
        "x-ms-examples": {
          "Update watcher": {
            "$ref": "./examples/updateWatcher.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The watcher name.",
            "in": "path",
            "name": "watcherName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Create the watcher identified by watcher name.",
        "operationId": "Watcher_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Watcher"
              }
            }
          },
          "description": "The create or update parameters for watcher.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update watcher": {
            "$ref": "./examples/createOrUpdateWatcher.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/start": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The watcher name.",
            "in": "path",
            "name": "watcherName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Resume the watcher identified by watcher name.",
        "operationId": "Watcher_Start",
        "x-ms-examples": {
          "Start Watcher": {
            "$ref": "./examples/startWatcher.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/stop": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The watcher name.",
            "in": "path",
            "name": "watcherName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Watcher"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/watcheroperations"
        },
        "description": "Resume the watcher identified by watcher name.",
        "operationId": "Watcher_Stop",
        "x-ms-examples": {
          "Start Watcher": {
            "$ref": "./examples/stopWatcher.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Watcher": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
          }
        ],
        "description": "Definition of the watcher type.",
        "properties": {
          "etag": {
            "description": "Gets or sets the etag of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/WatcherProperties",
            "description": "Gets or sets the watcher properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WatcherListResult": {
        "description": "The response model for the list watcher operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of watchers.",
            "items": {
              "$ref": "#/components/schemas/Watcher"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WatcherProperties": {
        "description": "Definition of the watcher properties",
        "properties": {
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "executionFrequencyInSeconds": {
            "description": "Gets or sets the frequency at which the watcher is invoked.",
            "format": "int64",
            "type": "integer"
          },
          "lastModifiedBy": {
            "description": "Details of the user who last modified the watcher.",
            "readOnly": true,
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "scriptName": {
            "description": "Gets or sets the name of the script the watcher is attached to, i.e. the name of an existing runbook.",
            "type": "string"
          },
          "scriptParameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the script.",
            "type": "object"
          },
          "scriptRunOn": {
            "description": "Gets or sets the name of the hybrid worker group the watcher will run on.",
            "type": "string"
          },
          "status": {
            "description": "Gets the current status of the watcher.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "WatcherUpdateParameters": {
        "properties": {
          "name": {
            "description": "Gets or sets the name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/WatcherUpdateProperties",
            "description": "Gets or sets the watcher update properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WatcherUpdateProperties": {
        "description": "The properties of the update watcher operation.",
        "properties": {
          "executionFrequencyInSeconds": {
            "description": "Gets or sets the frequency at which the watcher is invoked.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}