{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these APIs to manage Visual Studio Team Services resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://docs.microsoft.com/en-us/rest/api/index.",
    "title": "Visual Studio Projects Resource Provider Client",
    "version": "2018-08-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/Projects.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResourceListResult"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the Visual Studio Team Services project resources created in the specified Team Services account."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Gets all Visual Studio Team Services project resources created in the specified Team Services account.",
        "operationId": "Projects_ListByAccountResource",
        "summary": "Projects_ListByAccountResource",
        "x-ms-examples": {
          "Get a list of project resources in the Team Services account": {
            "$ref": "./examples/GetProjectResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Team Services project.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the updated team project resource."
          },
          "404": {
            "description": "The project or Azure subscription was not found."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Gets the details of a Team Services project resource.",
        "operationId": "Projects_Get",
        "summary": "Projects_Get",
        "x-ms-examples": {
          "Get a project resource": {
            "$ref": "./examples/GetProjectResource.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Team Services project.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the updated team project resource."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Updates the tags of the specified Team Services project.",
        "operationId": "Projects_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResourceUpdateParameters"
              }
            }
          },
          "description": "The request data.",
          "required": true
        },
        "summary": "Projects_Update",
        "x-ms-examples": {
          "Update a project resource": {
            "$ref": "./examples/UpdateProjectResource.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Team Services project.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This parameter is ignored and should be set to an empty string.",
            "in": "query",
            "name": "validating",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the created or updated team project resource."
          },
          "202": {
            "description": "The operation succeeded. A job to create/update the team project resource has been queued. The URI to monitor the status of the job is provided in the 'location' header."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Creates or updates a Team Services project in the collection with the specified name. 'VersionControlOption' and 'ProcessTemplateId' must be specified in the resource properties. Valid values for VersionControlOption: Git, Tfvc. Valid values for ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45, ADCC42AB-9882-485E-A3ED-7678F01F66BC, 27450541-8E31-4150-9947-DC59F998FC01 (these IDs correspond to Scrum, Agile, and CMMI process templates).",
        "operationId": "Projects_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResource"
              }
            }
          },
          "description": "The request data.",
          "required": true
        },
        "summary": "Projects_CreateOrUpdate",
        "x-ms-examples": {
          "Create a project resource": {
            "$ref": "./examples/CreateProjectResource.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupNameParameter": {
        "description": "Name of the resource group within the Azure subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "The Azure subscription identifier.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ApplicationSource": {
        "description": "Defines the source application for a VSTS pipeline.",
        "discriminator": {
          "propertyName": "sourceType"
        },
        "properties": {
          "applicationConfiguration": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Application specific properties.",
            "type": "object"
          },
          "applicationType": {
            "description": "Type of application.",
            "enum": [
              "AspDotNet",
              "AspDotNetCore",
              "NodeJs"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationType"
            }
          },
          "sourceType": {
            "description": "Type of application source.",
            "enum": [
              "CodeTemplate",
              "CodeRepository"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationSourceType"
            }
          }
        },
        "required": [
          "sourceType",
          "applicationType"
        ],
        "type": "object"
      },
      "ApplicationTarget": {
        "description": "Defines the target resources for a VSTS pipeline.",
        "properties": {
          "resources": {
            "description": "List of target resources.",
            "items": {
              "$ref": "#/components/schemas/TargetResource"
            },
            "type": "array"
          },
          "targetType": {
            "description": "Type of target.",
            "enum": [
              "WindowsAppService"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationTargetType"
            }
          }
        },
        "required": [
          "targetType",
          "resources"
        ],
        "type": "object"
      },
      "Authorization": {
        "description": "Defines the authorization type and its parameters.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Authorization parameters corresponding to the authorization type.",
            "type": "object"
          },
          "authorizationType": {
            "description": "Type of authorization.",
            "enum": [
              "authorizationToken",
              "personalAccessToken"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AuthorizationType"
            }
          }
        },
        "required": [
          "authorizationType"
        ],
        "type": "object"
      },
      "CodeRepository": {
        "description": "Defines a code repository.",
        "properties": {
          "authorization": {
            "$ref": "#/components/schemas/Authorization",
            "description": "Authorization info to access code repository"
          },
          "defaultBranch": {
            "description": "Default branch for which continuous integration should be configured in the VSTS pipeline.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the code repository.",
            "type": "string"
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Repository-specific properties.",
            "type": "object"
          },
          "repositoryType": {
            "description": "Type of code repository.",
            "enum": [
              "gitHub",
              "vstsGit"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CodeRepositoryType"
            }
          }
        },
        "required": [
          "repositoryType",
          "id",
          "defaultBranch"
        ],
        "type": "object"
      },
      "CodeRepositoryApplicationSource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApplicationSource"
          }
        ],
        "description": "Defines the source application, when it resides in a code repository.",
        "properties": {
          "repository": {
            "$ref": "#/components/schemas/CodeRepositoryLegacy",
            "description": "Code repository where the application source resides."
          }
        },
        "required": [
          "repository"
        ],
        "type": "object",
        "x-ms-discriminator-value": "CodeRepository"
      },
      "CodeRepositoryLegacy": {
        "description": "Defines a code repository.",
        "properties": {
          "authorizationReference": {
            "description": "Reference to the authorization info used to access the code repository. This value is used as a key into the global authorization details dictionary.",
            "type": "string"
          },
          "defaultBranch": {
            "description": "Default branch for which continuous integration should be configured in the VSTS pipeline.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the code repository.",
            "type": "string"
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Repository-specific properties.",
            "type": "object"
          },
          "repositoryType": {
            "description": "Type of code repository.",
            "enum": [
              "gitHub",
              "vstsGit"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CodeRepositoryType"
            }
          }
        },
        "required": [
          "repositoryType",
          "id",
          "defaultBranch"
        ],
        "type": "object"
      },
      "CodeTemplateApplicationSource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApplicationSource"
          }
        ],
        "description": "Defines the source application template.",
        "type": "object",
        "x-ms-discriminator-value": "CodeTemplate"
      },
      "PipelineBootstrapConfiguration": {
        "description": "Defines bootstrap configuration for a CI/CD pipeline.",
        "properties": {
          "name": {
            "description": "Name of the bootstrap configuration.",
            "type": "string"
          },
          "repository": {
            "$ref": "#/components/schemas/CodeRepository",
            "description": "Code repository where the application source resides."
          },
          "templateId": {
            "description": "Identifier of the pipeline template used for configuring pipeline.",
            "type": "string"
          },
          "templateParameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dictionary of inputs used for configuring pipeline. The keys for inputs are defined by pipeline template.",
            "type": "object"
          }
        },
        "required": [
          "name",
          "templateId"
        ],
        "type": "object"
      },
      "PipelineTemplateLegacy": {
        "description": "Defines a VSTS pipeline template.",
        "properties": {
          "applicationSource": {
            "$ref": "#/components/schemas/ApplicationSource",
            "description": "Source application for the VSTS pipeline."
          },
          "applicationTarget": {
            "$ref": "#/components/schemas/ApplicationTarget",
            "description": "Target resources for the VSTS pipeline."
          },
          "authorizationDetails": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Authorization"
            },
            "description": "Global dictionary of authorization details used by the pipeline, with a friendly name as key. Individual resource in the pipeline can reference to a specific authorization info using the friendly name.",
            "type": "object"
          }
        },
        "required": [
          "applicationSource",
          "applicationTarget",
          "authorizationDetails"
        ],
        "type": "object"
      },
      "ProjectResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "A Visual Studio Team Services project resource.",
        "properties": {
          "kind": {
            "description": "Kind of project resource. A bootStrappedProject is a project which has additional bootstrap information to create a CI/CD pipeline in the project.",
            "enum": [
              "project",
              "bootstrappedProject"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProjectResourceKind"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/ProjectResourceProperties",
            "description": "Custom properties of project resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ProjectResourceListResult": {
        "description": "The response to a request to list Team Services project resources in a resource group/account.",
        "properties": {
          "value": {
            "description": "List of project resource details.",
            "items": {
              "$ref": "#/components/schemas/ProjectResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProjectResourceProperties": {
        "description": "Defines the custom properties of project resource.",
        "properties": {
          "bootstrapPipelineTemplate": {
            "$ref": "#/components/schemas/PipelineTemplateLegacy",
            "description": "Template used to configure a bootstrap pipeline in the VSTS project. Note: this is being deprecated. Use pipelineConfigurationBootstrappers instead."
          },
          "ownerUpn": {
            "description": "Optional UPN of the owner, on-behalf-of whom the project is being created.",
            "type": "string"
          },
          "pipelineBootstrapConfigurations": {
            "description": "Bootstrap configuration for pipelines in Team Project.",
            "items": {
              "$ref": "#/components/schemas/PipelineBootstrapConfiguration"
            },
            "type": "array"
          },
          "processTemplateId": {
            "description": "Process template to use in the project.",
            "enum": [
              "Scrum",
              "Agile",
              "Cmmi"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProcessTemplate"
            }
          },
          "tfsUniqueIdentifier": {
            "description": "Unique identifier of the VSTS project.",
            "readOnly": true,
            "type": "string"
          },
          "versionControlOption": {
            "description": "Version control to use for the default repo created in the project.",
            "enum": [
              "Git",
              "Tfvc"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VersionControlOption"
            }
          }
        },
        "type": "object"
      },
      "ProjectResourceUpdateParameters": {
        "description": "The parameters to update a project resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The custom tags to be set on the resource.",
            "type": "object"
          },
          "properties": {
            "description": "Custom properties of project resource.",
            "properties": {
              "pipelineBootstrapConfigurations": {
                "description": "Bootstrap configurations for pipelines in Team Project.",
                "items": {
                  "$ref": "#/components/schemas/PipelineBootstrapConfiguration"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "A generic Azure Resource Manager resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "type": "object"
          },
          "id": {
            "description": "Unique identifier of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "TargetResource": {
        "description": "Defines a single resource used as target for a VSTS pipeline.",
        "properties": {
          "authorizationReference": {
            "description": "Reference to the authorization info used to access the target resource. This value is used as a key into the global authorization details dictionary.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the target resource.",
            "type": "string"
          },
          "role": {
            "description": "Role of the target resource.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "role"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}