{
  "openapi": "3.0.0",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2017-05-01-preview",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/metrics_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/components/parameters/TimespanParameter"
          },
          {
            "$ref": "#/components/parameters/IntervalParameter"
          },
          {
            "$ref": "#/components/parameters/MetricParameter"
          },
          {
            "$ref": "#/components/parameters/AggregationsParameter"
          },
          {
            "$ref": "#/components/parameters/TopParameter"
          },
          {
            "$ref": "#/components/parameters/OrderByParameter"
          },
          {
            "description": "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric contains metadata A, B and C.<br>- Return all time series of C where A = a1 and B = b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019 or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid variant:<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018*\u2019 or B = \u2018b2\u2019**<br>This is invalid because the logical or operator cannot separate two different metadata names.<br>- Return all time series where A = a1, B = b1 and C = c1:<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018c1\u2019**<br>- Return all time series where A = a1<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018*\u2019 and C eq \u2018*\u2019**.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ResultTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "cost": 0,
                      "interval": "PT1M",
                      "timespan": "2017-08-10T21:44:34Z/2017-08-10T22:44:34Z",
                      "value": [
                        {
                          "displayDescription": "CPU Time",
                          "id": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/Microsoft.Insights/metrics/CpuTime",
                          "name": {
                            "localizedValue": "CPU Time",
                            "value": "CpuTime"
                          },
                          "timeseries": [
                            {
                              "data": [
                                {
                                  "timeStamp": "2017-08-10T21:44:00Z",
                                  "total": 0
                                },
                                {
                                  "timeStamp": "2017-08-10T21:45:00Z",
                                  "total": 0
                                },
                                {
                                  "timeStamp": "2017-08-10T21:46:00Z",
                                  "total": 0
                                },
                                {
                                  "timeStamp": "2017-08-10T21:47:00Z",
                                  "total": 0
                                },
                                {
                                  "timeStamp": "2017-08-10T21:48:00Z",
                                  "total": 0
                                },
                                {
                                  "timeStamp": "2017-08-10T21:49:00Z",
                                  "total": 0
                                },
                                {
                                  "timeStamp": "2017-08-10T21:50:00Z",
                                  "total": 0
                                }
                              ],
                              "metadatavalues": []
                            }
                          ],
                          "type": "Microsoft.Insights/metrics",
                          "unit": "Seconds"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Successful request to get the list of metric values."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "**Lists the metric values for a resource**.",
        "operationId": "Metrics_List",
        "x-ms-examples": {
          "Get Metric for data": {
            "$ref": "./examples/GetMetric.json"
          },
          "Get Metric for metadata": {
            "$ref": "./examples/GetMetricMetadata.json"
          }
        },
        "x-ms-odata": "#/components/schemas/MetadataValue"
      }
    }
  },
  "components": {
    "parameters": {
      "AggregationsParameter": {
        "description": "The list of aggregation types (comma separated) to retrieve.",
        "in": "query",
        "name": "aggregation",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "IntervalParameter": {
        "description": "The interval (i.e. timegrain) of the query.",
        "in": "query",
        "name": "interval",
        "required": false,
        "schema": {
          "format": "duration",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "MetricParameter": {
        "description": "The name of the metric to retrieve.",
        "in": "query",
        "name": "metric",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "OrderByParameter": {
        "description": "The aggregation to use for sorting results and the direction of the sort.\nOnly one order can be specified.\nExamples: sum asc.",
        "in": "query",
        "name": "$orderby",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceUriParameter": {
        "allowReserved": true,
        "description": "The identifier of the resource.",
        "in": "path",
        "name": "resourceUri",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method",
        "x-ms-skip-url-encoding": true
      },
      "ResultTypeParameter": {
        "description": "Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.",
        "in": "query",
        "name": "resultType",
        "required": false,
        "schema": {
          "enum": [
            "Data",
            "Metadata"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": false,
          "name": "ResultType"
        },
        "x-ms-parameter-location": "method"
      },
      "TimespanParameter": {
        "description": "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
        "in": "query",
        "name": "timespan",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TopParameter": {
        "description": "The maximum number of records to retrieve.\nValid only if $filter is specified.\nDefaults to 10.",
        "in": "query",
        "name": "$top",
        "required": false,
        "schema": {
          "format": "int32",
          "type": "number"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocalizableString": {
        "description": "The localizable string class.",
        "properties": {
          "localizedValue": {
            "description": "the locale specific value.",
            "type": "string"
          },
          "value": {
            "description": "the invariant value.",
            "type": "string"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "MetadataValue": {
        "description": "Represents a metric metadata value.",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizableString",
            "description": "the name of the metadata."
          },
          "value": {
            "description": "the value of the metadata.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Metric": {
        "description": "The result data of a query.",
        "properties": {
          "displayDescription": {
            "description": "Detailed description of this metric.",
            "type": "string"
          },
          "errorCode": {
            "description": "'Success' or the error details on query failures for this metric.",
            "type": "string"
          },
          "errorMessage": {
            "description": "Error message encountered querying this specific metric.",
            "type": "string"
          },
          "id": {
            "description": "the metric Id.",
            "type": "string"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizableString",
            "description": "the name and the display name of the metric, i.e. it is localizable string."
          },
          "timeseries": {
            "description": "the time series returned when a data query is performed.",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesElement"
            },
            "type": "array"
          },
          "type": {
            "description": "the resource type of the metric resource.",
            "type": "string"
          },
          "unit": {
            "$ref": "#/components/schemas/Unit",
            "description": "the unit of the metric."
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "unit",
          "timeseries"
        ],
        "type": "object"
      },
      "MetricValue": {
        "description": "Represents a metric value.",
        "properties": {
          "average": {
            "description": "the average value in the time range.",
            "format": "double",
            "type": "number"
          },
          "count": {
            "description": "the number of samples in the time range. Can be used to determine the number of values that contributed to the average value.",
            "format": "int64",
            "type": "integer"
          },
          "maximum": {
            "description": "the greatest value in the time range.",
            "format": "double",
            "type": "number"
          },
          "minimum": {
            "description": "the least value in the time range.",
            "format": "double",
            "type": "number"
          },
          "timeStamp": {
            "description": "the timestamp for the metric value in ISO 8601 format.",
            "format": "date-time",
            "type": "string"
          },
          "total": {
            "description": "the sum of all of the values in the time range.",
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "timeStamp"
        ],
        "type": "object"
      },
      "Response": {
        "description": "The response to a metrics query.",
        "properties": {
          "cost": {
            "description": "The integer value representing the relative cost of the query.",
            "format": "int32",
            "minimum": 0,
            "type": "number"
          },
          "interval": {
            "description": "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made.",
            "format": "duration",
            "type": "string"
          },
          "timespan": {
            "description": "The timespan for which the data was retrieved. Its value consists of two datetimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested.",
            "type": "string"
          },
          "value": {
            "description": "the value of the collection.",
            "items": {
              "$ref": "#/components/schemas/Metric"
            },
            "type": "array"
          }
        },
        "required": [
          "timespan",
          "value"
        ],
        "type": "object"
      },
      "TimeSeriesElement": {
        "description": "A time series result type. The discriminator value is always TimeSeries in this case.",
        "properties": {
          "data": {
            "description": "An array of data points representing the metric values.  This is only returned if a result type of data is specified.",
            "items": {
              "$ref": "#/components/schemas/MetricValue"
            },
            "type": "array"
          },
          "metadatavalues": {
            "description": "the metadata values returned if $filter was specified in the call.",
            "items": {
              "$ref": "#/components/schemas/MetadataValue"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Unit": {
        "description": "The unit of the metric.",
        "enum": [
          "Count",
          "Bytes",
          "Seconds",
          "CountPerSecond",
          "BytesPerSecond",
          "Percent",
          "MilliSeconds",
          "ByteSeconds",
          "Unspecified",
          "Cores",
          "MilliCores",
          "NanoCores",
          "BitsPerSecond"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "Unit"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}