{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControl.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControlListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControl"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "description": "Retrieve a list of source controls.",
        "operationId": "SourceControl_ListByAutomationAccount",
        "x-ms-examples": {
          "List sourceControls": {
            "$ref": "./examples/sourceControl/getAllSourceControls.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of source control.",
            "in": "path",
            "name": "sourceControlName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControl"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "description": "Delete the source control.",
        "operationId": "SourceControl_Delete",
        "x-ms-examples": {
          "Delete a source control": {
            "$ref": "./examples/sourceControl/deleteSourceControl.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of source control.",
            "in": "path",
            "name": "sourceControlName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControl"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControl"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "description": "Retrieve the source control identified by source control name.",
        "operationId": "SourceControl_Get",
        "x-ms-examples": {
          "Get a source control": {
            "$ref": "./examples/sourceControl/getSourceControl.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The source control name.",
            "in": "path",
            "name": "sourceControlName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControl"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControl"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "description": "Update a source control.",
        "operationId": "SourceControl_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceControlUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the update source control operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a source control": {
            "$ref": "./examples/sourceControl/updateSourceControl_patch.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The source control name.",
            "in": "path",
            "name": "sourceControlName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControl"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceControl"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "SourceControl"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/sourcecontroloperations"
        },
        "description": "Create a source control.",
        "operationId": "SourceControl_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceControlCreateOrUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create or update source control operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a source control": {
            "$ref": "./examples/sourceControl/createOrUpdateSourceControl.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SourceControl": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ],
        "description": "Definition of the source control.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SourceControlProperties",
            "description": "The properties of the source control.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SourceControlCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update source control operation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SourceControlCreateOrUpdateProperties",
            "description": "The properties of the source control.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "SourceControlCreateOrUpdateProperties": {
        "description": "The properties of the create source control operation.",
        "properties": {
          "autoSync": {
            "description": "The auto async of the source control. Default is false.",
            "type": "boolean"
          },
          "branch": {
            "description": "The repo branch of the source control. Include branch as empty string for VsoTfvc.",
            "maxLength": 255,
            "type": "string"
          },
          "description": {
            "description": "The user description of the source control.",
            "maxLength": 512,
            "type": "string"
          },
          "folderPath": {
            "description": "The folder path of the source control. Path must be relative.",
            "maxLength": 255,
            "type": "string"
          },
          "publishRunbook": {
            "description": "The auto publish of the source control. Default is true.",
            "type": "boolean"
          },
          "repoUrl": {
            "description": "The repo url of the source control.",
            "maxLength": 2000,
            "type": "string"
          },
          "securityToken": {
            "$ref": "#/components/schemas/SourceControlSecurityTokenProperties",
            "description": "The authorization token for the repo of the source control."
          },
          "sourceType": {
            "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub, case sensitive.",
            "enum": [
              "VsoGit",
              "VsoTfvc",
              "GitHub"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "sourceType"
            }
          }
        },
        "type": "object"
      },
      "SourceControlListResult": {
        "description": "The response model for the list source controls operation.",
        "properties": {
          "nextLink": {
            "description": "The next link.",
            "type": "string"
          },
          "value": {
            "description": "The list of source controls.",
            "items": {
              "$ref": "#/components/schemas/SourceControl"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SourceControlProperties": {
        "description": "Definition of the source control properties",
        "properties": {
          "autoSync": {
            "description": "The auto sync of the source control. Default is false.",
            "type": "boolean"
          },
          "branch": {
            "description": "The repo branch of the source control. Include branch as empty string for VsoTfvc.",
            "type": "string"
          },
          "creationTime": {
            "description": "The creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "description": {
            "description": "The description.",
            "type": "string"
          },
          "folderPath": {
            "description": "The folder path of the source control.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "The last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "publishRunbook": {
            "description": "The auto publish of the source control. Default is true.",
            "type": "boolean"
          },
          "repoUrl": {
            "description": "The repo url of the source control.",
            "type": "string"
          },
          "sourceType": {
            "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub.",
            "enum": [
              "VsoGit",
              "VsoTfvc",
              "GitHub"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "sourceType"
            }
          }
        },
        "type": "object"
      },
      "SourceControlSecurityTokenProperties": {
        "properties": {
          "accessToken": {
            "description": "The access token.",
            "maxLength": 1024,
            "type": "string"
          },
          "refreshToken": {
            "description": "The refresh token.",
            "maxLength": 1024,
            "type": "string"
          },
          "tokenType": {
            "description": "The token type. Must be either PersonalAccessToken or Oauth.",
            "enum": [
              "PersonalAccessToken",
              "Oauth"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "tokenType"
            }
          }
        },
        "type": "object"
      },
      "SourceControlUpdateParameters": {
        "description": "The parameters supplied to the update source control operation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SourceControlUpdateProperties",
            "description": "The value of the source control.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SourceControlUpdateProperties": {
        "description": "The properties of the update source control",
        "properties": {
          "autoSync": {
            "description": "The auto sync of the source control. Default is false.",
            "type": "boolean"
          },
          "branch": {
            "description": "The repo branch of the source control.",
            "type": "string"
          },
          "description": {
            "description": "The user description of the source control.",
            "type": "string"
          },
          "folderPath": {
            "description": "The folder path of the source control. Path must be relative.",
            "type": "string"
          },
          "publishRunbook": {
            "description": "The auto publish of the source control. Default is true.",
            "type": "boolean"
          },
          "securityToken": {
            "$ref": "#/components/schemas/SourceControlSecurityTokenProperties",
            "description": "The authorization token for the repo of the source control."
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}