openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on tenant entity associated
    with your Azure API Management deployment. Using this entity you can manage
    properties and configuration that apply to the entire API Management service
    instance.
  title: ApiManagementClient
  version: '2016-10-10'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessInformationContract'
          description: Tenant Access information.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
      tags:
        - TenantAccess
      description: Get tenant access information details.
      operationId: TenantAccess_Get
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: >-
            The entity state (Etag) version of the tenant access settings to
            update. A value of "*" can be used for If-Match to unconditionally
            apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '201':
          description: Tenant's access information updated successfully.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Update tenant access information details.
      operationId: TenantAccess_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessInformationUpdateParameters'
        description: Parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/git':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessInformationContract'
          description: Git Access Information for the Service.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantAccessGit
      description: Gets the Git access configuration for the tenant.
      operationId: TenantAccessGit_Get
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/git/regeneratePrimaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantAccessGit
      description: Regenerate primary access key for GIT.
      operationId: TenantAccessGit_RegeneratePrimaryKey
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/git/regenerateSecondaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantAccessGit
      description: Regenerate secondary access key for GIT.
      operationId: TenantAccessGit_RegenerateSecondaryKey
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/regeneratePrimaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Regenerate primary access key.
      operationId: TenantAccess_RegeneratePrimaryKey
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/access/regenerateSecondaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Regenerate secondary access key.
      operationId: TenantAccess_RegenerateSecondaryKey
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/deploy':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultContract'
          description: Result of applying changes from Git branch to database.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantConfiguration
      externalDocs:
        description: >-
          To deploy any service configuration changes to the API Management
          service instance
        url: >-
          https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-deploy-any-service-configuration-changes-to-the-api-management-service-instance
      description: >-
        This operation applies changes from the specified Git branch to the
        configuration database. This is a long running operation and could take
        several minutes to complete.
      operationId: TenantConfiguration_Deploy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployConfigurationParameters'
        description: Deploy Configuration parameters.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/save':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultContract'
          description: Result of creating a commit in the repository.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantConfiguration
      externalDocs:
        description: To save the service configuration to the Git repository
        url: >-
          https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-save-the-service-configuration-to-the-git-repository
      description: >-
        This operation creates a commit with the current configuration snapshot
        to the specified branch in the repository. This is a long running
        operation and could take several minutes to complete.
      operationId: TenantConfiguration_Save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveConfigurationParameter'
        description: Save Configuration parameters.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/syncState':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantConfigurationSyncStateContract'
          description: Sync state result.
      tags:
        - TenantConfigurationSyncState
      description: >-
        Gets the status of the most recent synchronization between the
        configuration database and the Git repository.
      operationId: TenantConfigurationSyncState_Get
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/configuration/validate':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultContract'
          description: Result of validating the changes in the specified Git branch.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantConfiguration
      description: >-
        This operation validates the changes in the specified Git branch. This
        is a long running operation and could take several minutes to complete.
      operationId: TenantConfiguration_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployConfigurationParameters'
        description: Validate Configuration parameters.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/policy':
    delete:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: >-
            The entity state (Etag) version of the tenant policy to update. A
            value of "*" can be used for If-Match to unconditionally apply the
            operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: Successfully deleted the global policy configuration of the Tenant.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantPolicy
      description: Deletes the global tenant policy configuration.
      operationId: TenantPolicy_Delete
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json: {}
            application/vnd.ms-azure-apim.policy+xml: {}
          description: Tenant Global Policy information.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
      tags:
        - TenantPolicy
      description: Get the global policy configuration of the tenant.
      operationId: TenantPolicy_Get
    put:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: >-
            The entity state (Etag) version of the tenant policy to update. A
            value of "*" can be used for If-Match to unconditionally apply the
            operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '201':
          description: Global policy configuration was successfully created.
        '204':
          description: Global policy configuration of the tenant was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - TenantPolicy
      description: Creates or updates global policy configuration for the tenant.
      operationId: TenantPolicy_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              format: file
              type: object
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              format: file
              type: object
        description: The policy content details.
        required: true
components:
  schemas:
    AccessInformationContract:
      description: Tenant access information contract of the API Management service.
      properties:
        enabled:
          description: Tenant access information of the API Management service.
          type: boolean
        id:
          description: Identifier.
          type: string
        primaryKey:
          description: Primary access key.
          type: string
        secondaryKey:
          description: Secondary access key.
          type: string
      type: object
    AccessInformationUpdateParameters:
      description: >-
        Tenant access information update parameters of the API Management
        service.
      properties:
        enabled:
          description: Tenant access information of the API Management service.
          type: boolean
      required:
        - enabled
      type: object
    DeployConfigurationParameters:
      description: Parameters supplied to the Deploy Configuration operation.
      properties:
        branch:
          description: >-
            The name of the Git branch from which the configuration is to be
            deployed to the configuration database.
          type: string
        force:
          description: >-
            The value enforcing deleting subscriptions to products that are
            deleted in this update.
          type: boolean
      required:
        - branch
      type: object
    OperationResultContract:
      description: Operation Result.
      properties:
        error:
          $ref: ./apimanagement.json#/definitions/ErrorBodyContract
        id:
          description: Operation result identifier.
          type: string
        resultInfo:
          description: Optional result info.
          type: string
        started:
          description: >
            Start time of an async operation. The date conforms to the following
            format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
            standard.
          format: date-time
          type: string
        status:
          description: Status of an async operation.
          enum:
            - Started
            - InProgress
            - Succeeded
            - Failed
          type: string
          x-ms-enum:
            modelAsString: false
            name: AsyncOperationState
        updated:
          description: >
            Last update time of an async operation. The date conforms to the
            following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
            8601 standard.
          format: date-time
          type: string
      type: object
    SaveConfigurationParameter:
      description: Parameters supplied to the Save Tenant Configuration operation.
      properties:
        branch:
          description: >-
            The name of the Git branch in which to commit the current
            configuration snapshot.
          type: string
        force:
          description: >-
            The value if true, the current configuration database is committed
            to the Git repository, even if the Git repository has newer changes
            that would be overwritten.
          type: boolean
      required:
        - branch
      type: object
    TenantConfigurationSyncStateContract:
      description: Tenant Configuration Synchronization State.
      properties:
        branch:
          description: The name of Git branch.
          type: string
        commitId:
          description: The latest commit Id.
          type: string
        configurationChangeDate:
          description: >
            The date of the latest configuration change. The date conforms to
            the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
            8601 standard.
          format: date-time
          type: string
        isExport:
          description: >-
            value indicating if last sync was save (true) or deploy (false)
            operation.
          type: boolean
        isGitEnabled:
          description: value indicating whether Git configuration access is enabled.
          type: boolean
        isSynced:
          description: >-
            value indicating if last synchronization was later than the
            configuration change.
          type: boolean
        syncDate:
          description: >
            The date of the latest synchronization. The date conforms to the
            following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
            8601 standard.
          format: date-time
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

