{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure NotificationHub client",
    "title": "NotificationHubsManagementClient",
    "version": "2016-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2016-03-01/notificationhubs.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAvailabilityResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAvailabilityResult"
                }
              }
            },
            "description": "Checks if the Namespace name is a valid available name"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx"
        },
        "description": "Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.",
        "operationId": "Namespaces_CheckAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAvailabilityParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAvailabilityParameters"
              }
            }
          },
          "description": "The namespace name.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceListResult"
                }
              }
            },
            "description": " Gets all the Namespaces within the subscription irrespective of the ResourceGroup"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx"
        },
        "description": "Lists all the available namespaces within the subscription irrespective of the resourceGroups.",
        "operationId": "Namespaces_ListAll",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. If resourceGroupName value is null the method lists all the namespaces within subscription",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceListResult"
                }
              }
            },
            "description": "Lists all Namespaces with the ResourceGroup"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx"
        },
        "description": "Lists the available namespaces within a resourceGroup.",
        "operationId": "Namespaces_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is deleted"
          },
          "202": {
            "description": "Namespace delete request has been accepted"
          },
          "204": {
            "description": "Namespace is already Deleted"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx"
        },
        "description": "Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.",
        "operationId": "Namespaces_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              }
            },
            "description": "Get Namespace"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/library/azure/dn140232.aspx"
        },
        "description": "Returns the description for the specified namespace.",
        "operationId": "Namespaces_Get"
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              }
            },
            "description": "Namespace is Updated"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Patches the existing namespace",
        "operationId": "Namespaces_Patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NamespacePatchParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NamespacePatchParameters"
              }
            }
          },
          "description": "Parameters supplied to patch a Namespace Resource.",
          "required": true
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              }
            },
            "description": "Namespace is Create/Update"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamespaceResource"
                }
              }
            },
            "description": "Namespace is Create/Update"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "description": "Creates/Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "operationId": "Namespaces_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NamespaceCreateOrUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NamespaceCreateOrUpdateParameters"
              }
            }
          },
          "description": "Parameters supplied to create a Namespace Resource.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              }
            },
            "description": "Get the Namespace AuthorizationRule"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Gets the authorization rules for a namespace.",
        "operationId": "Namespaces_ListAuthorizationRules",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authorization Rule Name.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace AuthorizationRule is deleted"
          },
          "204": {
            "description": "Namespace AuthorizationRule is already deleted"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Deletes a namespace authorization rule",
        "operationId": "Namespaces_DeleteAuthorizationRule"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authorization rule name.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            },
            "description": "Get the Namespace AuthorizationRule"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Gets an authorization rule for a namespace by name.",
        "operationId": "Namespaces_GetAuthorizationRule"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authorization Rule Name.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            },
            "description": "Namespace Authorization Rule is Created/Updated"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Creates an authorization rule for a namespace",
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
              }
            }
          },
          "description": "The shared access authorization rule.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The connection string of the namespace for the specified authorizationRule.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              }
            },
            "description": "Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
        },
        "description": "Gets the Primary and Secondary ConnectionStrings to the namespace ",
        "operationId": "Namespaces_ListKeys"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The connection string of the namespace for the specified authorizationRule.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              }
            },
            "description": "Regenerate the Primary/Secondary Key and returns the Keys and the connection string"
          }
        },
        "tags": [
          "Namespaces"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
        },
        "description": "Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule",
        "operationId": "Namespaces_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicykeyResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicykeyResource"
              }
            }
          },
          "description": "Parameters supplied to regenerate the Namespace Authorization Rule Key.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAvailabilityResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAvailabilityResult"
                }
              }
            },
            "description": "Checks if the NotificationHub name is a valid available name"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx"
        },
        "description": "Checks the availability of the given notificationHub in a namespace.",
        "operationId": "NotificationHubs_CheckAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAvailabilityParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckAvailabilityParameters"
              }
            }
          },
          "description": "The notificationHub name.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubListResult"
                }
              }
            },
            "description": "Get all NotificationHubs within a Namespace"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Lists the notification hubs associated with a namespace.",
        "operationId": "NotificationHubs_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is deleted"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Deletes a notification hub associated with a namespace.",
        "operationId": "NotificationHubs_Delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubResource"
                }
              }
            },
            "description": "Get the NotificationHub"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Lists the notification hubs associated with a namespace.",
        "operationId": "NotificationHubs_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubResource"
                }
              }
            },
            "description": "NotificationHub is Created/Updated"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHubResource"
                }
              }
            },
            "description": "NotificationHub is Created/Updated"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "description": "Creates/Update a NotificationHub in a namespace.",
        "operationId": "NotificationHubs_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationHubCreateOrUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationHubCreateOrUpdateParameters"
              }
            }
          },
          "description": "Parameters supplied to the create/update a NotificationHub Resource.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleListResult"
                }
              }
            },
            "description": "Get all NotificationHub AuthorizationRules"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Gets the authorization rules for a NotificationHub.",
        "operationId": "NotificationHubs_ListAuthorizationRules",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authorization Rule Name.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationHub AuthorizationRule is deleted"
          },
          "204": {
            "description": "NotificationHub AuthorizationRule is already deleted"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Deletes a notificationHub authorization rule",
        "operationId": "NotificationHubs_DeleteAuthorizationRule"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "authorization rule name.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            },
            "description": "Get NotificationHub AuthorizationRule"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Gets an authorization rule for a NotificationHub by name.",
        "operationId": "NotificationHubs_GetAuthorizationRule"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authorization Rule Name.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
                }
              }
            },
            "description": "NotificationHub AuthorizationRule is Created/Updated"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Creates/Updates an authorization rule for a NotificationHub",
        "operationId": "NotificationHubs_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
              }
            }
          },
          "description": "The shared access authorization rule.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The connection string of the NotificationHub for the specified authorizationRule.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              }
            },
            "description": "Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
        },
        "description": "Gets the Primary and Secondary ConnectionStrings to the NotificationHub ",
        "operationId": "NotificationHubs_ListKeys"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The connection string of the NotificationHub for the specified authorizationRule.",
            "in": "path",
            "name": "authorizationRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListKeys"
                }
              }
            },
            "description": "Regenerate the Primary/Secondary Key and returns the Keys and the connection string"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
        },
        "description": "Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule",
        "operationId": "NotificationHubs_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicykeyResource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicykeyResource"
              }
            }
          },
          "description": "Parameters supplied to regenerate the NotificationHub Authorization Rule Key.",
          "required": true
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The namespace name.",
            "in": "path",
            "name": "namespaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The notification hub name.",
            "in": "path",
            "name": "notificationHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnsCredentialsResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnsCredentialsResource"
                }
              }
            },
            "description": "Gets all the NotificationHub PNS credentials"
          }
        },
        "tags": [
          "NotificationHubs"
        ],
        "description": "Lists the PNS Credentials associated with a notification hub .",
        "operationId": "NotificationHubs_GetPnsCredentials"
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
            }
          },
          "text/json": {
            "schema": {
              "$ref": "#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
            }
          }
        },
        "description": "The shared access authorization rule.",
        "required": true
      }
    },
    "schemas": {
      "AdmCredential": {
        "description": "Description of a NotificationHub AdmCredential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AdmCredentialProperties",
            "description": "Properties of NotificationHub AdmCredential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AdmCredentialProperties": {
        "description": "Description of a NotificationHub AdmCredential.",
        "properties": {
          "authTokenUrl": {
            "description": "The URL of the authorization token.",
            "type": "string"
          },
          "clientId": {
            "description": "The client identifier.",
            "type": "string"
          },
          "clientSecret": {
            "description": "The credential secret access key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApnsCredential": {
        "description": "Description of a NotificationHub ApnsCredential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApnsCredentialProperties",
            "description": "Properties of NotificationHub ApnsCredential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ApnsCredentialProperties": {
        "description": "Description of a NotificationHub ApnsCredential.",
        "properties": {
          "apnsCertificate": {
            "description": "The APNS certificate.",
            "type": "string"
          },
          "certificateKey": {
            "description": "The certificate key.",
            "type": "string"
          },
          "endpoint": {
            "description": "The endpoint of this credential.",
            "type": "string"
          },
          "thumbprint": {
            "description": "The APNS certificate Thumbprint",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BaiduCredential": {
        "description": "Description of a NotificationHub BaiduCredential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BaiduCredentialProperties",
            "description": "Properties of NotificationHub BaiduCredential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BaiduCredentialProperties": {
        "description": "Description of a NotificationHub BaiduCredential.",
        "properties": {
          "baiduApiKey": {
            "description": "Baidu Api Key.",
            "type": "string"
          },
          "baiduEndPoint": {
            "description": "Baidu Endpoint.",
            "type": "string"
          },
          "baiduSecretKey": {
            "description": "Baidu Secret Key",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CheckAvailabilityParameters": {
        "description": "Parameters supplied to the Check Name Availability for Namespace and NotificationHubs.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "isAvailiable": {
            "description": "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.",
            "type": "boolean"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The sku of the created namespace"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "name",
          "location"
        ],
        "type": "object"
      },
      "CheckAvailabilityResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of a CheckAvailability resource.",
        "properties": {
          "isAvailiable": {
            "description": "True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GcmCredential": {
        "description": "Description of a NotificationHub GcmCredential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/GcmCredentialProperties",
            "description": "Properties of NotificationHub GcmCredential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "GcmCredentialProperties": {
        "description": "Description of a NotificationHub GcmCredential.",
        "properties": {
          "gcmEndpoint": {
            "description": "The GCM endpoint.",
            "type": "string"
          },
          "googleApiKey": {
            "description": "The Google API key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MpnsCredential": {
        "description": "Description of a NotificationHub MpnsCredential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/MpnsCredentialProperties",
            "description": "Properties of NotificationHub MpnsCredential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "MpnsCredentialProperties": {
        "description": "Description of a NotificationHub MpnsCredential.",
        "properties": {
          "certificateKey": {
            "description": "The certificate key for this credential.",
            "type": "string"
          },
          "mpnsCertificate": {
            "description": "The MPNS certificate.",
            "type": "string"
          },
          "thumbprint": {
            "description": "The MPNS certificate Thumbprint",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NamespaceCreateOrUpdateParameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Parameters supplied to the CreateOrUpdate Namespace operation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/NamespaceProperties",
            "description": "Properties of the Namespace.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "location"
        ],
        "type": "object"
      },
      "NamespaceListResult": {
        "description": "The response of the List Namespace operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces",
            "type": "string"
          },
          "value": {
            "description": "Result of the List Namespace operation.",
            "items": {
              "$ref": "#/components/schemas/NamespaceResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "NamespacePatchParameters": {
        "description": "Parameters supplied to the Patch Namespace operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The sku of the created namespace"
          }
        },
        "type": "object"
      },
      "NamespaceProperties": {
        "description": "Namespace properties.",
        "properties": {
          "createdAt": {
            "description": "The time the namespace was created.",
            "format": "date-time",
            "type": "string"
          },
          "critical": {
            "description": "Whether or not the namespace is set as Critical.",
            "type": "boolean"
          },
          "enabled": {
            "description": "Whether or not the namespace is currently enabled.",
            "type": "boolean"
          },
          "name": {
            "description": "The name of the namespace.",
            "type": "string"
          },
          "namespaceType": {
            "description": "The namespace type.",
            "enum": [
              "Messaging",
              "NotificationHub"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "NamespaceType"
            }
          },
          "provisioningState": {
            "description": "Provisioning state of the Namespace.",
            "type": "string"
          },
          "region": {
            "externalDocs": {
              "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
            },
            "description": "Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia East, Australia Southeast, Central US, East US, East US 2, West US, North Central US, South Central US, East Asia, Southeast Asia, Brazil South, Japan East, Japan West, North Europe, West Europe",
            "type": "string"
          },
          "scaleUnit": {
            "description": "ScaleUnit where the namespace gets created",
            "type": "string"
          },
          "serviceBusEndpoint": {
            "externalDocs": {
              "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
            },
            "description": "Endpoint you can use to perform NotificationHub operations.",
            "type": "string"
          },
          "status": {
            "externalDocs": {
              "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx"
            },
            "description": "Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting",
            "type": "string"
          },
          "subscriptionId": {
            "description": "The Id of the Azure subscription associated with the namespace.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NamespaceResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of a Namespace resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/NamespaceProperties",
            "description": "Properties of the Namespace.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "NotificationHubCreateOrUpdateParameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Parameters supplied to the CreateOrUpdate NotificationHub operation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/NotificationHubProperties",
            "description": "Properties of the NotificationHub.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "location",
          "properties"
        ],
        "type": "object"
      },
      "NotificationHubListResult": {
        "description": "The response of the List NotificationHub operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub",
            "type": "string"
          },
          "value": {
            "description": "Result of the List NotificationHub operation.",
            "items": {
              "$ref": "#/components/schemas/NotificationHubResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "NotificationHubProperties": {
        "description": "NotificationHub properties.",
        "properties": {
          "admCredential": {
            "$ref": "#/components/schemas/AdmCredential",
            "description": "The AdmCredential of the created NotificationHub"
          },
          "apnsCredential": {
            "$ref": "#/components/schemas/ApnsCredential",
            "description": "The ApnsCredential of the created NotificationHub"
          },
          "authorizationRules": {
            "description": "The AuthorizationRules of the created NotificationHub",
            "items": {
              "$ref": "#/components/schemas/SharedAccessAuthorizationRuleProperties"
            },
            "type": "array"
          },
          "baiduCredential": {
            "$ref": "#/components/schemas/BaiduCredential",
            "description": "The BaiduCredential of the created NotificationHub"
          },
          "gcmCredential": {
            "$ref": "#/components/schemas/GcmCredential",
            "description": "The GcmCredential of the created NotificationHub"
          },
          "mpnsCredential": {
            "$ref": "#/components/schemas/MpnsCredential",
            "description": "The MpnsCredential of the created NotificationHub"
          },
          "name": {
            "description": "The NotificationHub name.",
            "type": "string"
          },
          "registrationTtl": {
            "description": "The RegistrationTtl of the created NotificationHub",
            "type": "string"
          },
          "wnsCredential": {
            "$ref": "#/components/schemas/WnsCredential",
            "description": "The WnsCredential of the created NotificationHub"
          }
        },
        "type": "object"
      },
      "NotificationHubResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of a NotificationHub Resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/NotificationHubProperties",
            "description": "Properties of the NotificationHub.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PnsCredentialsProperties": {
        "description": "Description of a NotificationHub PNS Credentials.",
        "properties": {
          "admCredential": {
            "$ref": "#/components/schemas/AdmCredential",
            "description": "The AdmCredential of the created NotificationHub"
          },
          "apnsCredential": {
            "$ref": "#/components/schemas/ApnsCredential",
            "description": "The ApnsCredential of the created NotificationHub"
          },
          "baiduCredential": {
            "$ref": "#/components/schemas/BaiduCredential",
            "description": "The BaiduCredential of the created NotificationHub"
          },
          "gcmCredential": {
            "$ref": "#/components/schemas/GcmCredential",
            "description": "The GcmCredential of the created NotificationHub"
          },
          "mpnsCredential": {
            "$ref": "#/components/schemas/MpnsCredential",
            "description": "The MpnsCredential of the created NotificationHub"
          },
          "wnsCredential": {
            "$ref": "#/components/schemas/WnsCredential",
            "description": "The WnsCredential of the created NotificationHub"
          }
        },
        "type": "object"
      },
      "PnsCredentialsResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of a NotificationHub PNS Credentials.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PnsCredentialsProperties",
            "description": "NotificationHub PNS Credentials.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PolicykeyResource": {
        "description": "Namespace/NotificationHub Regenerate Keys",
        "properties": {
          "policyKey": {
            "description": "Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The sku of the created namespace"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceListKeys": {
        "description": "Namespace/NotificationHub Connection String",
        "properties": {
          "keyName": {
            "description": "KeyName of the created AuthorizationRule",
            "type": "string"
          },
          "primaryConnectionString": {
            "description": "PrimaryConnectionString of the AuthorizationRule.",
            "type": "string"
          },
          "primaryKey": {
            "description": "PrimaryKey of the created AuthorizationRule.",
            "type": "string"
          },
          "secondaryConnectionString": {
            "description": "SecondaryConnectionString of the created AuthorizationRule",
            "type": "string"
          },
          "secondaryKey": {
            "description": "SecondaryKey of the created AuthorizationRule",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SharedAccessAuthorizationRuleCreateOrUpdateParameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SharedAccessAuthorizationRuleProperties",
            "description": "Properties of the Namespace AuthorizationRules."
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "SharedAccessAuthorizationRuleListResult": {
        "description": "The response of the List Namespace operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules",
            "type": "string"
          },
          "value": {
            "description": "Result of the List AuthorizationRules operation.",
            "items": {
              "$ref": "#/components/schemas/SharedAccessAuthorizationRuleResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SharedAccessAuthorizationRuleProperties": {
        "description": "SharedAccessAuthorizationRule properties.",
        "properties": {
          "rights": {
            "description": "The rights associated with the rule.",
            "items": {
              "enum": [
                "Manage",
                "Send",
                "Listen"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": false,
                "name": "AccessRights"
              }
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SharedAccessAuthorizationRuleResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of a Namespace AuthorizationRules.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SharedAccessAuthorizationRuleProperties",
            "description": "Properties of the Namespace AuthorizationRule.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Sku": {
        "description": "The Sku description for a namespace",
        "properties": {
          "capacity": {
            "description": "The capacity of the resource",
            "type": "integer"
          },
          "family": {
            "description": "The Sku Family",
            "type": "string"
          },
          "name": {
            "description": "Name of the notification hub sku",
            "enum": [
              "Free",
              "Basic",
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuName"
            }
          },
          "size": {
            "description": "The Sku size",
            "type": "string"
          },
          "tier": {
            "description": "The tier of particular sku",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "SubResource": {
        "properties": {
          "id": {
            "description": "Resource Id",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "WnsCredential": {
        "description": "Description of a NotificationHub WnsCredential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/WnsCredentialProperties",
            "description": "Properties of NotificationHub WnsCredential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WnsCredentialProperties": {
        "description": "Description of a NotificationHub WnsCredential.",
        "properties": {
          "packageSid": {
            "description": "The package ID for this credential.",
            "type": "string"
          },
          "secretKey": {
            "description": "The secret key.",
            "type": "string"
          },
          "windowsLiveEndpoint": {
            "description": "The Windows Live endpoint.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}