{
  "openapi": "3.0.0",
  "info": {
    "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope.",
    "title": "PolicyClient",
    "version": "2017-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/preview/2017-06-01-preview/policySetDefinitions.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Authorization/policySetDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinitionListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of built in policy set definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Gets all the built in policy set definitions.",
        "operationId": "PolicySetDefinitions_ListBuiltIn",
        "x-ms-examples": {
          "List policy set definitions": {
            "$ref": "./examples/listBuiltInPolicySetDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the policy set definition to get.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "OK - Returns information about the built in policy set definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Gets the built in policy set definition.",
        "operationId": "PolicySetDefinitions_GetBuiltIn",
        "x-ms-examples": {
          "Get a built in policy set definition": {
            "$ref": "./examples/getBuiltInPolicySetDefinition.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementGroupIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinitionListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of policy set definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Gets all the policy set definitions for a subscription at management group.",
        "operationId": "PolicySetDefinitions_ListByManagementGroup",
        "x-ms-examples": {
          "List policy set definitions": {
            "$ref": "./examples/listPolicySetDefinitionsByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the policy set definition to delete.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementGroupIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content - the policy set definition doesn't exist in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Deletes a policy set definition at management group level.",
        "operationId": "PolicySetDefinitions_DeleteAtManagementGroup"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the policy set definition to get.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementGroupIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "OK - Returns information about the policy set definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Gets the policy set definition at management group level.",
        "operationId": "PolicySetDefinitions_GetAtManagementGroup",
        "x-ms-examples": {
          "Get a policy set definition": {
            "$ref": "./examples/getPolicySetDefinitionAtManagementGroup.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the policy set definition to create.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementGroupIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "OK - Returns information about the policy set definition."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "Created - Returns information about the policy set definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Creates or updates a policy set definition at management group level.",
        "operationId": "PolicySetDefinitions_CreateOrUpdateAtManagementGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySetDefinition"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySetDefinition"
              }
            }
          },
          "description": "The policy set definition properties.",
          "required": true
        },
        "x-ms-examples": {
          "Put a policy set definition": {
            "$ref": "./examples/createOrUpdatePolicySetDefinitionAtManagementGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinitionListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of policy set definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Gets all the policy set definitions for a subscription.",
        "operationId": "PolicySetDefinitions_List",
        "x-ms-examples": {
          "List policy set definitions": {
            "$ref": "./examples/listPolicySetDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the policy set definition to delete.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content - the policy set definition doesn't exist in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Deletes a policy set definition.",
        "operationId": "PolicySetDefinitions_Delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the policy set definition to get.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "OK - Returns information about the policy set definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Gets the policy set definition.",
        "operationId": "PolicySetDefinitions_Get",
        "x-ms-examples": {
          "Get a policy set definition": {
            "$ref": "./examples/getPolicySetDefinition.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the policy set definition to create.",
            "in": "path",
            "name": "policySetDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "OK - Returns information about the policy set definition."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySetDefinition"
                }
              }
            },
            "description": "Created - Returns information about the policy set definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "Creates or updates a policy set definition.",
        "operationId": "PolicySetDefinitions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySetDefinition"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySetDefinition"
              }
            }
          },
          "description": "The policy set definition properties.",
          "required": true
        },
        "x-ms-examples": {
          "Put a policy set definition": {
            "$ref": "./examples/createOrUpdatePolicySetDefinition.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to use for the operation.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ManagementGroupIdParameter": {
        "description": "The ID of the management group.",
        "in": "path",
        "name": "managementGroupId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The ID of the target subscription.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "PolicySetDefinition": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PolicySetDefinition"
            }
          },
          "text/json": {
            "schema": {
              "$ref": "#/components/schemas/PolicySetDefinition"
            }
          }
        },
        "description": "The policy set definition properties.",
        "required": true
      }
    },
    "schemas": {
      "ErrorResponse": {
        "description": "Error response indicates ARM is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "errorCode": {
            "description": "Error code.",
            "type": "string"
          },
          "errorMessage": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          },
          "httpStatus": {
            "description": "Http status code.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PolicyDefinitionReference": {
        "description": "The policy definition reference.",
        "properties": {
          "parameters": {
            "description": "Required if a parameter is used in policy rule.",
            "type": "object"
          },
          "policyDefinitionId": {
            "description": "The ID of the policy definition or policy set definition.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PolicySetDefinition": {
        "description": "The policy set definition.",
        "properties": {
          "id": {
            "description": "The ID of the policy set definition.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the policy set definition.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PolicySetDefinitionProperties",
            "description": "The policy definition properties.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource (Microsoft.Authorization/policySetDefinitions).",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "PolicySetDefinitionListResult": {
        "description": "List of policy set definitions.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "An array of policy set definitions.",
            "items": {
              "$ref": "#/components/schemas/PolicySetDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PolicySetDefinitionProperties": {
        "description": "The policy set definition properties.",
        "properties": {
          "parameters": {
            "description": "The policy set definition parameters that can be used in policy definition references.",
            "type": "object"
          },
          "description": {
            "description": "The policy set definition description.",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the policy set definition.",
            "type": "string"
          },
          "metadata": {
            "description": "The policy set definition metadata.",
            "type": "object"
          },
          "policyDefinitions": {
            "description": "An array of policy definition references.",
            "items": {
              "$ref": "#/components/schemas/PolicyDefinitionReference"
            },
            "type": "array"
          },
          "policyType": {
            "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
            "enum": [
              "NotSpecified",
              "BuiltIn",
              "Custom"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "policyType"
            }
          }
        },
        "required": [
          "policyDefinitions"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}