openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2019-01-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{scope}/providers/Microsoft.Security/assessments/{assessmentName}/subAssessments':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
        - $ref: '#/components/parameters/AssessmentName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySubAssessmentList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - SubAssessments
      description: >-
        Get security sub-assessments on all your scanned resources inside a
        scope
      operationId: SubAssessments_List
      x-ms-examples:
        List security sub-assessments:
          $ref: ./examples/SubAssessments/ListSubAssessments_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.Security/assessments/{assessmentName}/subAssessments/{subAssessmentName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
        - $ref: '#/components/parameters/AssessmentName'
        - $ref: '#/components/parameters/SubAssessmentName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySubAssessment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - SubAssessments
      description: Get a security sub-assessment on your scanned resource
      operationId: SubAssessments_Get
      x-ms-examples:
        Get security recommendation task from security data location:
          $ref: ./examples/SubAssessments/GetSubAssessment_example.json
  '/{scope}/providers/Microsoft.Security/subAssessments':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySubAssessmentList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - SubAssessments
      description: >-
        Get security sub-assessments on all your scanned resources inside a
        subscription scope
      operationId: SubAssessments_ListAll
      x-ms-examples:
        List security sub-assessments:
          $ref: >-
            ./examples/SubAssessments/ListSubscriptionSubAssessments_example.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    AssessmentName:
      description: The Assessment Key - Unique key for the assessment type
      in: path
      name: assessmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubAssessmentName:
      description: The Sub-Assessment Key - Unique key for the sub-assessment type
      in: path
      name: subAssessmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AdditionalData:
      description: Details of the sub-assessment
      discriminator:
        propertyName: assessedResourceType
      properties:
        assessedResourceType:
          description: Sub-assessment resource type
          enum:
            - SqlServerVulnerability
            - ContainerRegistryVulnerability
            - ServerVulnerability
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssessedResourceType
            values:
              - value: SqlServerVulnerability
              - value: ContainerRegistryVulnerability
              - value: ServerVulnerability
      required:
        - assessedResourceType
      type: object
    CVE:
      description: CVE details
      properties:
        link:
          description: Link url
          readOnly: true
          type: string
        title:
          description: CVE title
          readOnly: true
          type: string
      type: object
    CVSS:
      description: CVSS details
      properties:
        base:
          description: CVSS base
          readOnly: true
          type: number
      type: object
    ContainerRegistryVulnerabilityProperties:
      allOf:
        - $ref: '#/components/schemas/AdditionalData'
      description: >-
        Additional context fields for container registry Vulnerability
        assessment
      properties:
        cve:
          description: List of CVEs
          items:
            $ref: '#/components/schemas/CVE'
          readOnly: true
          type: array
        cvss:
          additionalProperties:
            $ref: '#/components/schemas/CVSS'
          description: Dictionary from cvss version to cvss details object
          readOnly: true
          type: object
        imageDigest:
          description: Digest of the vulnerable image
          readOnly: true
          type: string
        patchable:
          description: Indicates whether a patch is available or not
          readOnly: true
          type: boolean
        publishedTime:
          description: Published time
          format: date-time
          readOnly: true
          type: string
        repositoryName:
          description: Name of the repository which the vulnerable image belongs to
          readOnly: true
          type: string
        type:
          description: >-
            Vulnerability Type. e.g: Vulnerability, Potential Vulnerability,
            Information Gathered, Vulnerability
          readOnly: true
          type: string
        vendorReferences:
          items:
            $ref: '#/components/schemas/VendorReference'
          readOnly: true
          type: array
      type: object
      x-ms-discriminator-value: ContainerRegistryVulnerability
    SecuritySubAssessment:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Security sub-assessment on a resource
      properties:
        properties:
          $ref: '#/components/schemas/SecuritySubAssessmentProperties'
          x-ms-client-flatten: true
      type: object
    SecuritySubAssessmentList:
      description: List of security sub-assessments
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/SecuritySubAssessment'
          readOnly: true
          type: array
      type: object
    SecuritySubAssessmentProperties:
      description: Describes properties of an sub-assessment.
      properties:
        additionalData:
          $ref: '#/components/schemas/AdditionalData'
        category:
          description: Category of the sub-assessment
          readOnly: true
          type: string
        description:
          description: Human readable description of the assessment status
          readOnly: true
          type: string
        displayName:
          description: User friendly display name of the sub-assessment
          readOnly: true
          type: string
        id:
          description: Vulnerability ID
          readOnly: true
          type: string
        impact:
          description: Description of the impact of this sub-assessment
          readOnly: true
          type: string
        remediation:
          description: Information on how to remediate this sub-assessment
          readOnly: true
          type: string
        resourceDetails:
          $ref: ../../../common/v1/types.json#/definitions/ResourceDetails
        status:
          $ref: '#/components/schemas/SubAssessmentStatus'
        timeGenerated:
          description: The date and time the sub-assessment was generated
          format: date-time
          readOnly: true
          type: string
      type: object
    ServerVulnerabilityProperties:
      allOf:
        - $ref: '#/components/schemas/AdditionalData'
      description: Additional context fields for server vulnerability assessment
      properties:
        cve:
          description: List of CVEs
          items:
            $ref: '#/components/schemas/CVE'
          readOnly: true
          type: array
        cvss:
          additionalProperties:
            $ref: '#/components/schemas/CVSS'
          description: Dictionary from cvss version to cvss details object
          readOnly: true
          type: object
        patchable:
          description: Indicates whether a patch is available or not
          readOnly: true
          type: boolean
        publishedTime:
          description: Published time
          format: date-time
          readOnly: true
          type: string
        threat:
          description: Threat name
          readOnly: true
          type: string
        type:
          description: >-
            Vulnerability Type. e.g: Vulnerability, Potential Vulnerability,
            Information Gathered
          readOnly: true
          type: string
        vendorReferences:
          items:
            $ref: '#/components/schemas/VendorReference'
          readOnly: true
          type: array
      type: object
      x-ms-discriminator-value: ServerVulnerabilityAssessment
    SqlServerVulnerabilityProperties:
      allOf:
        - $ref: '#/components/schemas/AdditionalData'
      description: Details of the resource that was assessed
      properties:
        query:
          description: >-
            The T-SQL query that runs on your SQL database to perform the
            particular check
          readOnly: true
          type: string
        type:
          description: >-
            The resource type the sub assessment refers to in its resource
            details
          readOnly: true
          type: string
      type: object
      x-ms-discriminator-value: SqlServerVulnerability
    SubAssessmentStatus:
      description: Status of the sub-assessment
      properties:
        cause:
          description: Programmatic code for the cause of the assessment status
          readOnly: true
          type: string
        code:
          description: Programmatic code for the status of the assessment
          enum:
            - Healthy
            - Unhealthy
            - NotApplicable
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: SubAssessmentStatusCode
            values:
              - description: The resource is healthy
                value: Healthy
              - description: The resource has a security issue that needs to be addressed
                value: Unhealthy
              - description: Assessment for this resource did not happen
                value: NotApplicable
        description:
          description: Human readable description of the assessment status
          readOnly: true
          type: string
        severity:
          description: The sub-assessment severity level
          enum:
            - Low
            - Medium
            - High
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: severity
            values:
              - value: Low
              - value: Medium
              - value: High
      type: object
    VendorReference:
      description: Vendor reference
      properties:
        link:
          description: Link url
          readOnly: true
          type: string
        title:
          description: Link title
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

