{
  "openapi": "3.0.0",
  "info": {
    "title": "PolicyTrackedResourcesClient",
    "version": "2018-07-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/policyTrackedResources.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/managementGroupsNamespaceParameter"
          },
          {
            "$ref": "#/components/parameters/managementGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/policyTrackedResourcesResourceParameter"
          },
          {
            "$ref": "#/components/parameters/topParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            },
            "description": "Query results."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFailure"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Queries policy tracked resources under the management group.",
        "operationId": "PolicyTrackedResources_ListQueryResultsForManagementGroup",
        "x-ms-examples": {
          "Query at management group scope": {
            "$ref": "./examples/PolicyTrackedResources_QueryManagementGroupScope.json"
          },
          "Query at management group scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QueryManagementGroupScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyTrackedResourcesResourceParameter"
          },
          {
            "$ref": "#/components/parameters/topParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            },
            "description": "Query results."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFailure"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Queries policy tracked resources under the subscription.",
        "operationId": "PolicyTrackedResources_ListQueryResultsForSubscription",
        "x-ms-examples": {
          "Query at subscription scope": {
            "$ref": "./examples/PolicyTrackedResources_QuerySubscriptionScope.json"
          },
          "Query at subscription scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QuerySubscriptionScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/policyTrackedResourcesResourceParameter"
          },
          {
            "$ref": "#/components/parameters/topParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            },
            "description": "Query results."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFailure"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Queries policy tracked resources under the resource group.",
        "operationId": "PolicyTrackedResources_ListQueryResultsForResourceGroup",
        "x-ms-examples": {
          "Query at resource group scope": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceGroupScope.json"
          },
          "Query at resource group scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceGroupScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.PolicyInsights/policyTrackedResources/{policyTrackedResourcesResource}/queryResults": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceIdParameter"
          },
          {
            "$ref": "#/components/parameters/policyTrackedResourcesResourceParameter"
          },
          {
            "$ref": "#/components/parameters/topParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyTrackedResourcesQueryResults"
                }
              }
            },
            "description": "Query results."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFailure"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Queries policy tracked resources under the resource.",
        "operationId": "PolicyTrackedResources_ListQueryResultsForResource",
        "x-ms-examples": {
          "Query at resource scope": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceScope.json"
          },
          "Query at resource scope using query parameters": {
            "$ref": "./examples/PolicyTrackedResources_QueryResourceScopeWithFilterAndTop.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "filterParameter": {
        "description": "OData filter expression.",
        "in": "query",
        "name": "$filter",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-client-name": "Filter",
        "x-ms-parameter-grouping": {
          "name": "QueryOptions"
        },
        "x-ms-parameter-location": "method"
      },
      "managementGroupNameParameter": {
        "description": "Management group name.",
        "in": "path",
        "name": "managementGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "managementGroupsNamespaceParameter": {
        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
        "in": "path",
        "name": "managementGroupsNamespace",
        "required": true,
        "schema": {
          "enum": [
            "Microsoft.Management"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": false,
          "name": "ManagementGroupsNamespaceType"
        },
        "x-ms-parameter-location": "method"
      },
      "policyTrackedResourcesResourceParameter": {
        "description": "The name of the virtual resource under PolicyTrackedResources resource type; only \"default\" is allowed.",
        "in": "path",
        "name": "policyTrackedResourcesResource",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "PolicyTrackedResourcesResourceType"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceGroupNameParameter": {
        "description": "Resource group name.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceIdParameter": {
        "allowReserved": true,
        "description": "Resource ID.",
        "in": "path",
        "name": "resourceId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method",
        "x-ms-skip-url-encoding": true
      },
      "subscriptionIdParameter": {
        "description": "Microsoft Azure subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "topParameter": {
        "description": "Maximum number of records to return.",
        "in": "query",
        "name": "$top",
        "required": false,
        "schema": {
          "format": "int32",
          "minimum": 0,
          "type": "integer"
        },
        "x-ms-client-name": "Top",
        "x-ms-parameter-grouping": {
          "name": "QueryOptions"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "PolicyDetails": {
        "description": "The policy details.",
        "properties": {
          "policyAssignmentDisplayName": {
            "description": "The display name of the policy assignment.",
            "readOnly": true,
            "type": "string"
          },
          "policyAssignmentId": {
            "description": "The ID of the policy assignment.",
            "readOnly": true,
            "type": "string"
          },
          "policyAssignmentScope": {
            "description": "The scope of the policy assignment.",
            "readOnly": true,
            "type": "string"
          },
          "policyDefinitionId": {
            "description": "The ID of the policy definition.",
            "readOnly": true,
            "type": "string"
          },
          "policyDefinitionReferenceId": {
            "description": "The policy definition reference ID within the policy set definition.",
            "readOnly": true,
            "type": "string"
          },
          "policySetDefinitionId": {
            "description": "The ID of the policy set definition.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "PolicyTrackedResource": {
        "description": "Policy tracked resource record.",
        "properties": {
          "createdBy": {
            "$ref": "#/components/schemas/TrackedResourceModificationDetails",
            "description": "The details of the policy triggered deployment that created the tracked resource.",
            "readOnly": true
          },
          "lastModifiedBy": {
            "$ref": "#/components/schemas/TrackedResourceModificationDetails",
            "description": "The details of the policy triggered deployment that modified the tracked resource.",
            "readOnly": true
          },
          "lastUpdateUtc": {
            "description": "Timestamp of the last update to the tracked resource.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "policyDetails": {
            "$ref": "#/components/schemas/PolicyDetails",
            "description": "The details of the policy that require the tracked resource.",
            "readOnly": true
          },
          "trackedResourceId": {
            "description": "The ID of the policy tracked resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "PolicyTrackedResourcesQueryResults": {
        "description": "Query results.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Query results.",
            "items": {
              "$ref": "#/components/schemas/PolicyTrackedResource"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "trackedResourceId"
            ]
          }
        },
        "type": "object"
      },
      "QueryFailure": {
        "description": "Error response.",
        "properties": {
          "error": {
            "description": "Error definition.",
            "properties": {
              "code": {
                "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                "readOnly": true,
                "type": "string"
              },
              "message": {
                "description": "Description of the error.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "TrackedResourceModificationDetails": {
        "description": "The details of the policy triggered deployment that created or modified the tracked resource.",
        "properties": {
          "deploymentId": {
            "description": "The ID of the deployment that created or modified the tracked resource.",
            "readOnly": true,
            "type": "string"
          },
          "deploymentTime": {
            "description": "Timestamp of the deployment that created or modified the tracked resource.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "policyDetails": {
            "$ref": "#/components/schemas/PolicyDetails",
            "description": "The details of the policy that created or modified the tracked resource.",
            "readOnly": true
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}