openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2018-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceUri}/providers/Microsoft.Insights/metricDefinitions':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/MetricNamespaceParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionCollection'
          description: Successful request to get the list of metric definitions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MetricDefinitions
      description: Lists the metric definitions for the resource.
      operationId: MetricDefinitions_List
      x-ms-examples:
        Get Application Insights Metric Definitions without filter:
          $ref: ./examples/GetMetricDefinitionsApplicationInsights.json
        Get Metric Definitions without filter:
          $ref: ./examples/GetMetricDefinitions.json
        Get StorageCache Metric Definitions with metric class:
          $ref: ./examples/GetMetricDefinitionsMetricClass.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    MetricNamespaceParameter:
      description: Metric namespace to query metric definitions for.
      in: query
      name: metricnamespace
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceUriParameter:
      allowReserved: true
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    AggregationType:
      description: the aggregation type of the metric.
      enum:
        - None
        - Average
        - Count
        - Minimum
        - Maximum
        - Total
      type: string
      x-ms-enum:
        modelAsString: false
        name: AggregationType
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    MetricAvailability:
      description: >-
        Metric availability specifies the time grain (aggregation interval or
        frequency) and the retention period for that time grain.
      properties:
        retention:
          description: >-
            the retention period for the metric at the specified timegrain. 
            Expressed as a duration 'PT1M', 'P1D', etc.
          format: duration
          type: string
        timeGrain:
          description: >-
            the time grain specifies the aggregation interval for the metric.
            Expressed as a duration 'PT1M', 'P1D', etc.
          format: duration
          type: string
      type: object
    MetricClass:
      description: The class of the metric.
      enum:
        - Availability
        - Transactions
        - Errors
        - Latency
        - Saturation
      type: string
      x-ms-enum:
        modelAsString: true
        name: MetricClass
    MetricDefinition:
      description: Metric definition class specifies the metadata for a metric.
      properties:
        category:
          description: Custom category name for this metric.
          type: string
        dimensions:
          description: >-
            the name and the display name of the dimension, i.e. it is a
            localizable string.
          items:
            $ref: >-
              ../../../../common-types/v1/commonMonitoringTypes.json#/definitions/LocalizableString
          type: array
          x-ms-identifiers:
            - value
        displayDescription:
          description: Detailed description of this metric.
          type: string
        id:
          description: the resource identifier of the metric definition.
          type: string
        isDimensionRequired:
          description: Flag to indicate whether the dimension is required.
          type: boolean
        metricAvailabilities:
          description: >-
            the collection of what aggregation intervals are available to be
            queried.
          items:
            $ref: '#/components/schemas/MetricAvailability'
          type: array
          x-ms-identifiers: []
        metricClass:
          $ref: '#/components/schemas/MetricClass'
          description: The class of the metric.
        name:
          $ref: >-
            ../../../../common-types/v1/commonMonitoringTypes.json#/definitions/LocalizableString
          description: >-
            the name and the display name of the metric, i.e. it is a
            localizable string.
        namespace:
          description: the namespace the metric belongs to.
          type: string
        primaryAggregationType:
          $ref: '#/components/schemas/AggregationType'
          description: >-
            the primary aggregation type value defining how to use the values
            for display.
        resourceId:
          description: the resource identifier of the resource that emitted the metric.
          type: string
        supportedAggregationTypes:
          description: the collection of what aggregation types are supported.
          items:
            $ref: '#/components/schemas/AggregationType'
          type: array
        unit:
          $ref: >-
            ../../../../common-types/v1/commonMonitoringTypes.json#/definitions/Unit
          description: The unit of the metric.
      type: object
    MetricDefinitionCollection:
      description: Represents collection of metric definitions.
      properties:
        value:
          description: the values for the metric definitions.
          items:
            $ref: '#/components/schemas/MetricDefinition'
          type: array
      required:
        - value
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

