openapi: 3.0.0
info:
  description: API to manage VM Insights Onboarding
  title: VM Insights Onboarding API
  version: 2018-11-27-preview
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceUri}/providers/Microsoft.Insights/vmInsightsOnboardingStatuses/default':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - allowReserved: true
          description: >-
            The fully qualified Azure Resource manager identifier of the
            resource, or scope, whose status to retrieve.
          in: path
          name: resourceUri
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMInsightsOnboardingStatus'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithError'
          description: >-
            An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
      tags:
        - VM Insights Onboarding
      description: >-
        Retrieves the VM Insights onboarding status for the specified resource
        or resource scope.
      operationId: VMInsights_GetOnboardingStatus
      x-ms-examples:
        Get status for a VM scale set that is actively reporting data:
          $ref: ./examples/getOnboardingStatusVMScaleSet.json
        Get status for a VM that has not yet reported data:
          $ref: ./examples/getOnboardingStatusSingleVMUnknown.json
        Get status for a VM that is actively reporting data:
          $ref: ./examples/getOnboardingStatusSingleVM.json
        Get status for a resource group that has at least one VM that is actively reporting data:
          $ref: ./examples/getOnboardingStatusResourceGroup.json
        Get status for a subscription that has at least one VM that is actively reporting data:
          $ref: ./examples/getOnboardingStatusSubscription.json
components:
  schemas:
    DataContainer:
      description: Information about a container with data for a given resource.
      properties:
        workspace:
          $ref: '#/components/schemas/WorkspaceInfo'
          description: Log Analytics workspace information.
      required:
        - workspace
      type: object
    Error:
      description: Error details.
      properties:
        code:
          description: Error code identifying the specific error.
          type: string
        message:
          description: Error message in the caller's locale.
          type: string
      required:
        - code
      type: object
    ProxyResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResponseWithError:
      description: An error response from the API.
      properties:
        error:
          $ref: '#/components/schemas/Error'
          description: Error information.
      required:
        - error
      type: object
    VMInsightsOnboardingStatus:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: VM Insights onboarding status for a resource.
      properties:
        properties:
          description: Resource properties.
          properties:
            data:
              description: >-
                Containers that currently store VM Insights data for the
                specified resource.
              items:
                $ref: '#/components/schemas/DataContainer'
              type: array
              x-ms-identifiers:
                - /workspace/id
            dataStatus:
              description: >-
                The status of VM Insights data from the resource. When reported
                as `present` the data array will contain information about the
                data containers to which data for the specified resource is
                being routed.
              enum:
                - present
                - notPresent
              type: string
              x-ms-enum:
                modelAsString: true
                name: DataStatus
            onboardingStatus:
              description: >-
                The onboarding status for the resource. Note that, a higher
                level scope, e.g., resource group or subscription, is considered
                onboarded if at least one resource under it is onboarded.
              enum:
                - onboarded
                - notOnboarded
                - unknown
              type: string
              x-ms-enum:
                modelAsString: true
                name: OnboardingStatus
            resourceId:
              description: >-
                Azure Resource Manager identifier of the resource whose
                onboarding status is being represented.
              type: string
          required:
            - resourceId
            - onboardingStatus
            - dataStatus
          type: object
          x-ms-client-flatten: true
      type: object
    WorkspaceInfo:
      description: Information about a Log Analytics Workspace.
      properties:
        id:
          description: Azure Resource Manager identifier of the Log Analytics Workspace.
          type: string
        location:
          description: Location of the Log Analytics workspace.
          type: string
        properties:
          description: Resource properties.
          properties:
            customerId:
              description: Log Analytics workspace identifier.
              type: string
          required:
            - customerId
          type: object
          x-ms-client-flatten: true
      required:
        - id
        - location
        - properties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

