openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on entities like API, Product,
    and Subscription associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: '2017-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Policy scope.
          in: query
          name: scope
          required: false
          schema:
            enum:
              - Tenant
              - Product
              - Api
              - Operation
              - All
            type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCollection'
          description: Returns an array of Policy Contracts.
      tags:
        - Policy
      description: Lists all the Global Policy definitions of the Api Management service.
      operationId: Policy_ListByService
      x-ms-examples:
        ApiManagementListPolicies:
          $ref: ./examples/ApiManagementListPolicies.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/PolicyIdParameter'
        - description: >-
            The entity state (Etag) version of the policy to be deleted. A value
            of "*" can be used for If-Match to unconditionally apply the
            operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: Successfully deleted the policy configuration at the Global level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Policy
      description: Deletes the global policy configuration of the Api Management Service.
      operationId: Policy_Delete
      x-ms-examples:
        ApiManagementDeletePolicy:
          $ref: ./examples/ApiManagementDeletePolicy.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/PolicyIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyContract'
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                $ref: '#/components/schemas/PolicyContract'
            application/vnd.ms-azure-apim.policy.raw+xml:
              schema:
                $ref: '#/components/schemas/PolicyContract'
          description: Returns the Policy Contracts.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/vnd.ms-azure-apim.policy.raw+xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Policy
      description: Get the Global policy definition of the Api Management service.
      operationId: Policy_Get
      x-ms-examples:
        ApiManagementGetPolicy:
          $ref: ./examples/ApiManagementGetPolicy.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/PolicyIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyContract'
          description: >-
            Global policy configuration of the Api Management service was
            successfully updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyContract'
          description: Global policy configuration was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Policy
      description: >-
        Creates or updates the global policy configuration of the Api Management
        service.
      operationId: Policy_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyContract'
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              $ref: '#/components/schemas/PolicyContract'
          application/vnd.ms-azure-apim.policy.raw+xml:
            schema:
              $ref: '#/components/schemas/PolicyContract'
        description: The policy contents to apply.
        required: true
      x-ms-examples:
        ApiManagementCreatePolicy:
          $ref: ./examples/ApiManagementCreatePolicy.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Policy scope.
          in: query
          name: scope
          required: false
          schema:
            enum:
              - Tenant
              - Product
              - Api
              - Operation
              - All
            type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySnippetsCollection'
          description: Returns an array of Policy Contracts.
      tags:
        - PolicySnippets
      description: Lists all policy snippets.
      operationId: PolicySnippets_ListByService
      x-ms-examples:
        ApiManagementListPolicySnippets:
          $ref: ./examples/ApiManagementListPolicySnippets.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListResult'
          description: Lists of Regions in which the service is deployed.
      tags:
        - Regions
      description: Lists all azure regions in which the service exists.
      operationId: Regions_ListByService
      x-ms-examples:
        ApiManagementListRegions:
          $ref: ./examples/ApiManagementListRegions.json
      x-ms-pageable:
        nextLinkName: ''
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    PolicyIdParameter:
      description: The identifier of the Policy.
      in: path
      name: policyId
      required: true
      schema:
        enum:
          - policy
        type: string
      x-ms-enum:
        modelAsString: true
        name: PolicyIdName
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServiceNameParameter:
      description: The name of the API Management service.
      in: path
      name: serviceName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
        type: string
      x-ms-parameter-location: method
    SkipQueryParameter:
      description: Number of records to skip.
      in: query
      name: $skip
      required: false
      schema:
        format: int32
        minimum: 0
        type: integer
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TopQueryParameter:
      description: Number of records to return.
      in: query
      name: $top
      required: false
      schema:
        format: int32
        minimum: 1
        type: integer
      x-ms-parameter-location: method
  schemas:
    ErrorFieldContract:
      description: Error Field contract.
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    ErrorResponse:
      description: Error Body contract.
      properties:
        code:
          description: >-
            Service-defined error code. This code serves as a sub-status for the
            HTTP error code specified in the response.
          type: string
        details:
          description: >-
            The list of invalid fields send in request, in case of validation
            error.
          items:
            $ref: '#/components/schemas/ErrorFieldContract'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    PolicyCollection:
      description: The response of the list policy operation.
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Policy Contract value.
          items:
            $ref: '#/components/schemas/PolicyContract'
          type: array
      type: object
    PolicyContract:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Policy Contract details.
      properties:
        properties:
          $ref: '#/components/schemas/PolicyContractProperties'
          description: Properties of the Policy.
          x-ms-client-flatten: true
      type: object
    PolicyContractProperties:
      description: Policy contract Properties.
      properties:
        policyContent:
          description: Json escaped Xml Encoded contents of the Policy.
          type: string
      required:
        - policyContent
      type: object
    PolicySnippetContract:
      description: Policy snippet.
      properties:
        content:
          description: Snippet content.
          readOnly: true
          type: string
        name:
          description: Snippet name.
          readOnly: true
          type: string
        scope:
          description: Binary OR value of the Snippet scope.
          readOnly: true
          type: integer
        toolTip:
          description: Snippet toolTip.
          readOnly: true
          type: string
      type: object
    PolicySnippetsCollection:
      description: The response of the list policy snippets operation.
      properties:
        value:
          description: Policy snippet value.
          items:
            $ref: '#/components/schemas/PolicySnippetContract'
          type: array
      type: object
    RegionContract:
      description: Region profile.
      properties:
        isDeleted:
          description: whether Region is deleted.
          type: boolean
        isMasterRegion:
          description: whether Region is the master region.
          type: boolean
        name:
          description: Region name.
          readOnly: true
          type: string
      type: object
    RegionListResult:
      description: Lists Regions operation response details.
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Lists of Regions.
          items:
            $ref: '#/components/schemas/RegionContract'
          type: array
      type: object
    Resource:
      description: The Resource definition.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type for API Management resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

