openapi: 3.0.0
info:
  description: The User Subscription Management Client.
  title: SubscriptionClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/delegatedProviders/{delegatedProviderId}/offers':
    get:
      parameters:
        - description: Id of the delegated provider.
          in: path
          name: delegatedProviderId
          required: true
          schema:
            type: string
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
          description: OK
      tags:
        - DelegatedProviderOffers
      description: Get the list of offers for the specified delegated provider.
      operationId: DelegatedProviderOffers_List
      x-ms-examples:
        Get the list of offers.:
          $ref: ./examples/DelegatedProviderOffer/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/delegatedProviders/{delegatedProviderId}/offers/{offerName}':
    get:
      parameters:
        - description: Id of the delegated provider.
          in: path
          name: delegatedProviderId
          required: true
          schema:
            type: string
        - description: Name of the offer.
          in: path
          name: offerName
          required: true
          schema:
            type: string
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: OK
      tags:
        - DelegatedProviderOffers
      description: Get the specified offer for the delegated provider.
      operationId: DelegatedProviderOffers_Get
      x-ms-examples:
        Get the specified offer name.:
          $ref: ./examples/DelegatedProviderOffer/Get.json
  /offers:
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
          description: OK
      tags:
        - Offers
      description: Get the list of public offers for the root provider.
      operationId: Offers_List
      x-ms-examples:
        Get the list of public offers for the root provider.:
          $ref: ./examples/Offer/List.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    Offer:
      description: >-
        Represents an offering of services against which a subscription can be
        created.
      properties:
        description:
          description: Description of offer.
          type: string
        displayName:
          description: Display name of offer.
          type: string
        id:
          description: The offer ID
          type: string
        name:
          description: The name of the offer.
          type: string
      type: object
    OfferList:
      description: List of public offers.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of public offers.
          items:
            $ref: '#/components/schemas/Offer'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

