openapi: 3.0.0
info:
  title: Provider API Client
  version: '2019-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Web/availableStacks:
    get:
      parameters:
        - in: query
          name: osTypeSelected
          schema:
            enum:
              - Windows
              - Linux
              - WindowsFunctions
              - LinuxFunctions
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStackCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Provider
      description: Get available application frameworks and their versions
      operationId: Provider_GetAvailableStacks
      summary: Get available application frameworks and their versions
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/CsmOperationCollection
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Provider
      description: >-
        Gets all available operations for the Microsoft.Web resource provider.
        Also exposes resource metric definitions
      operationId: Provider_ListOperations
      summary: >-
        Gets all available operations for the Microsoft.Web resource provider.
        Also exposes resource metric definitions
      x-ms-examples:
        List operations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/availableStacks':
    get:
      parameters:
        - in: query
          name: osTypeSelected
          schema:
            enum:
              - Windows
              - Linux
              - WindowsFunctions
              - LinuxFunctions
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStackCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Provider
      description: Get available application frameworks and their versions
      operationId: Provider_GetAvailableStacksOnPrem
      summary: Get available application frameworks and their versions
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApplicationStack:
      description: Application stack.
      properties:
        dependency:
          description: Application stack dependency.
          type: string
        display:
          description: Application stack display name.
          type: string
        frameworks:
          description: List of frameworks associated with application stack.
          items:
            $ref: '#/components/schemas/ApplicationStack'
          type: array
        majorVersions:
          description: List of major versions available.
          items:
            $ref: '#/components/schemas/StackMajorVersion'
          type: array
        name:
          description: Application stack name.
          type: string
      type: object
    ApplicationStackCollection:
      description: Collection of Application Stacks
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/ApplicationStackResource'
          type: array
      required:
        - value
      type: object
    ApplicationStackResource:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: ARM resource for a ApplicationStack.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationStack'
          description: Core resource properties
          x-ms-client-flatten: true
      type: object
    StackMajorVersion:
      description: Application stack major version.
      properties:
        applicationInsights:
          description: >-
            <code>true</code> if this supports Application Insights; otherwise,
            <code>false</code>.
          type: boolean
        displayVersion:
          description: Application stack major version (display only).
          type: string
        isDefault:
          description: >-
            <code>true</code> if this is the default major version; otherwise,
            <code>false</code>.
          type: boolean
        isDeprecated:
          description: >-
            <code>true</code> if this stack has been deprecated, otherwise
            <code>false</code>.
          type: boolean
        isHidden:
          description: >-
            <code>true</code> if this stack should be hidden for new customers
            on portal, otherwise <code>false</code>.
          type: boolean
        isPreview:
          description: >-
            <code>true</code> if this stack is in Preview, otherwise
            <code>false</code>.
          type: boolean
        minorVersions:
          description: Minor versions associated with the major version.
          items:
            $ref: '#/components/schemas/StackMinorVersion'
          type: array
        runtimeVersion:
          description: Application stack major version (runtime only).
          type: string
      type: object
    StackMinorVersion:
      description: Application stack minor version.
      properties:
        displayVersion:
          description: Application stack minor version (display only).
          type: string
        isDefault:
          description: >-
            <code>true</code> if this is the default minor version; otherwise,
            <code>false</code>.
          type: boolean
        isRemoteDebuggingEnabled:
          description: >-
            <code>true</code> if this supports Remote Debugging, otherwise
            <code>false</code>.
          type: boolean
        runtimeVersion:
          description: Application stack minor version (runtime only).
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

