{
  "openapi": "3.0.0",
  "info": {
    "title": "MonitorClient",
    "version": "2016-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/metricDefinitions_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/metricDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "Reduces the set of data collected by retrieving particular metric definitions from all the definitions available for the resource.<br>For example, to get just the definition for the 'CPU percentage' counter: $filter=name.value eq '\\Processor(_Total)\\% Processor Time'.<br>Multiple metrics can be retrieved by joining together *'name eq <value>'* clauses separated by *or* logical operators.<br>**NOTE**: No other syntax is allowed.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "value": [
                        {
                          "id": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsStarted",
                          "metricAvailabilities": [
                            {
                              "retention": "P30D",
                              "timeGrain": "PT1M"
                            },
                            {
                              "retention": "P30D",
                              "timeGrain": "PT1H"
                            }
                          ],
                          "name": {
                            "localizedValue": "Runs Started",
                            "value": "RunsStarted"
                          },
                          "primaryAggregationType": "Total",
                          "resourceId": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia",
                          "unit": "Count"
                        },
                        {
                          "id": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsCompleted",
                          "metricAvailabilities": [
                            {
                              "retention": "P30D",
                              "timeGrain": "PT1M"
                            },
                            {
                              "retention": "P30D",
                              "timeGrain": "PT1H"
                            }
                          ],
                          "name": {
                            "localizedValue": "Runs Completed",
                            "value": "RunsCompleted"
                          },
                          "primaryAggregationType": "Total",
                          "resourceId": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia",
                          "unit": "Count"
                        },
                        {
                          "id": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/microsoft.insights/metricdefinitions/RunsSucceeded",
                          "metricAvailabilities": [
                            {
                              "retention": "P30D",
                              "timeGrain": "PT1M"
                            },
                            {
                              "retention": "P30D",
                              "timeGrain": "PT1H"
                            }
                          ],
                          "name": {
                            "localizedValue": "Runs Succeeded",
                            "value": "RunsSucceeded"
                          },
                          "primaryAggregationType": "Total",
                          "resourceId": "/subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia",
                          "unit": "Count"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionCollection"
                }
              }
            },
            "description": "Successful request to get the list of metric definitions"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "MetricDefinitions"
        ],
        "description": "Lists the metric definitions for the resource.",
        "operationId": "MetricDefinitions_List",
        "x-ms-examples": {
          "Get Metric Definitions with filter": {
            "$ref": "./examples/GetMetricDefinitionsFiltered.json"
          },
          "Get Metric Definitions without filter": {
            "$ref": "./examples/GetMetricDefinitions.json"
          }
        },
        "x-ms-odata": "#/components/schemas/MetricDefinition",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ResourceUriParameter": {
        "allowReserved": true,
        "description": "The identifier of the resource.",
        "in": "path",
        "name": "resourceUri",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method",
        "x-ms-skip-url-encoding": true
      }
    },
    "schemas": {
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocalizableString": {
        "description": "The localizable string class.",
        "properties": {
          "localizedValue": {
            "description": "the locale specific value.",
            "type": "string"
          },
          "value": {
            "description": "the invariant value.",
            "type": "string"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "MetricAvailability": {
        "description": "Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain.",
        "properties": {
          "retention": {
            "description": "the retention period for the metric at the specified timegrain.  Expressed as a duration 'PT1M', 'P1D', etc.",
            "format": "duration",
            "type": "string"
          },
          "timeGrain": {
            "description": "the time grain specifies the aggregation interval for the metric. Expressed as a duration 'PT1M', 'P1D', etc.",
            "format": "duration",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricDefinition": {
        "description": "Metric definition class specifies the metadata for a metric.",
        "properties": {
          "id": {
            "description": "the resource identifier of the metric definition.",
            "type": "string"
          },
          "metricAvailabilities": {
            "description": "the collection of what aggregation intervals are available to be queried.",
            "items": {
              "$ref": "#/components/schemas/MetricAvailability"
            },
            "type": "array"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizableString",
            "description": "the name and the display name of the metric, i.e. it is a localizable string."
          },
          "primaryAggregationType": {
            "description": "the primary aggregation type value defining how to use the values for display.",
            "enum": [
              "None",
              "Average",
              "Count",
              "Minimum",
              "Maximum",
              "Total"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "AggregationType"
            }
          },
          "resourceId": {
            "description": "the resource identifier of the resource that emitted the metric.",
            "type": "string"
          },
          "unit": {
            "$ref": "#/components/schemas/Unit",
            "description": "the unit of the metric."
          }
        },
        "type": "object"
      },
      "MetricDefinitionCollection": {
        "description": "Represents collection of metric definitions.",
        "properties": {
          "value": {
            "description": "the values for the metric definitions.",
            "items": {
              "$ref": "#/components/schemas/MetricDefinition"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "Unit": {
        "description": "The unit of the metric.",
        "enum": [
          "Count",
          "Bytes",
          "Seconds",
          "CountPerSecond",
          "BytesPerSecond",
          "Percent",
          "MilliSeconds",
          "ByteSeconds",
          "Unspecified",
          "Cores",
          "MilliCores",
          "NanoCores",
          "BitsPerSecond"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "Unit"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}