{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these API to manage Azure Relay resources through Azure Resources Manager.",
    "title": "Relay API",
    "version": "2016-07-01",
    "x-ms-code-generation-settings": {
      "name": "RelayManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/relay/resource-manager/Microsoft.Relay/stable/2016-07-01/relay.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Relay/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Relay REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "RelayOperationsList": {
            "$ref": "./examples/RelayOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Relay/CheckNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            },
            "description": "check availability returned successfully."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Check the give namespace name availability.",
        "operationId": "Namespaces_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailability"
              }
            }
          },
          "description": "Parameters to check availability of the given namespace name",
          "required": true
        },
        "x-ms-examples": {
          "RelayCheckNameAvailability": {
            "$ref": "./examples/RelayNameSpaceCheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Relay/Namespaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespaceListResult"
                }
              }
            },
            "description": "Namespaces returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Lists all the available namespaces within the subscription irrespective of the resourceGroups.",
        "operationId": "Namespaces_List",
        "x-ms-examples": {
          "RelayNameSpaceListBySubscription": {
            "$ref": "./examples/RelayNameSpaceListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/Namespaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespaceListResult"
                }
              }
            },
            "description": "Namespaces by resourcegroup returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Lists all the available namespaces within the ResourceGroup.",
        "operationId": "Namespaces_ListByResourceGroup",
        "x-ms-examples": {
          "RelayNameSpaceListByResourceGroup": {
            "$ref": "./examples/RelayNameSpaceListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace delete Request succeeded"
          },
          "202": {
            "description": "Namespace delete request has been accepted for processing and the operation will complete asynchronously."
          },
          "204": {
            "description": "Namespace delete request has been accepted, but the Namespace not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "operationId": "Namespaces_Delete",
        "x-ms-examples": {
          "RelayNameSpaceDelete": {
            "$ref": "./examples/RelayNameSpaceDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Returns the description for the specified namespace.",
        "operationId": "Namespaces_Get",
        "x-ms-examples": {
          "RelayNameSpaceGet": {
            "$ref": "./examples/RelayNameSpaceGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace successfuly updated."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "operationId": "Namespaces_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayNamespaceUpdateParameter"
              }
            }
          },
          "description": "Parameters for updating a namespace resource.",
          "required": true
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace create request succeeded"
          },
          "202": {
            "description": "Namespace create request accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Create Azure Relay namespace.",
        "operationId": "Namespaces_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayNamespace"
              }
            }
          },
          "description": "Parameters supplied to create a Namespace Resource.",
          "required": true
        },
        "x-ms-examples": {
          "RelayNamespaceCreate": {
            "$ref": "./examples/RelayNameSpaceCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Namespace Authorization rule returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Authorization rules for a namespace.",
        "operationId": "Namespaces_ListAuthorizationRules",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleListAll": {
            "$ref": "./examples/RelayNameSpaceAutorizationRuleListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Namespace Authorization rule returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Authorization rules for a namespace.",
        "operationId": "Namespaces_ListPostAuthorizationRules",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleListAll": {
            "$ref": "./examples/RelayNameSpaceAutorizationRuleListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to delete Namespace Authorization rule succeeded."
          },
          "204": {
            "description": "No Content. The request has been accepted but the Namespace Authorization rule was not found."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Deletes a namespace authorization rule",
        "operationId": "Namespaces_DeleteAuthorizationRule",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleDelete": {
            "$ref": "./examples/RelayNameSpaceAutorizationRuleDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Namespace Authorization rule returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Authorization rule for a namespace by name.",
        "operationId": "Namespaces_GetAuthorizationRule",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleGet": {
            "$ref": "./examples/RelayNameSpaceAutorizationRuleGet.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Namespace Authorization rule returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Authorization rule for a namespace by name.",
        "operationId": "Namespaces_PostAuthorizationRule",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleGet": {
            "$ref": "./examples/RelayNameSpaceAutorizationRuleGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Request to create Namespace Authorization rule succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Creates or Updates an authorization rule for a namespace",
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "description": "The authorization rule parameters",
          "required": true
        },
        "x-ms-examples": {
          "RelayNameSpaceAuthorizationRuleCreate": {
            "$ref": "./examples/RelayNameSpaceAuthorizationRuleCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleKeys"
                }
              }
            },
            "description": "Successful"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Primary and Secondary ConnectionStrings to the namespace ",
        "operationId": "Namespaces_ListKeys",
        "x-ms-examples": {
          "RelayNameSpaceAuthorizationRuleListKey": {
            "$ref": "./examples/RelayNameSpaceAuthorizationRuleListKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleKeys"
                }
              }
            },
            "description": "Successful"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Regenerates the Primary or Secondary ConnectionStrings to the namespace ",
        "operationId": "Namespaces_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateKeysParameters"
              }
            }
          },
          "description": "Parameters supplied to regenerate Auth Rule.",
          "required": true
        },
        "x-ms-examples": {
          "RelayNameSpaceAuthorizationRuleRegenrateKey": {
            "$ref": "./examples/RelayNameSpaceAuthorizationRuleRegenrateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HybridConnectionListResult"
                }
              }
            },
            "description": "Request to retrieve HybridConnections by NameSpace succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Lists the HybridConnection within the namespace.",
        "operationId": "HybridConnections_ListByNamespace",
        "x-ms-examples": {
          "RelayHybridConnectionListAll": {
            "$ref": "./examples/RelayHybridConnectionListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to delete Hybrid Connections succeeded."
          },
          "204": {
            "description": "No Content. The request has been accepted but the Hybrid Connections was not found."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Deletes a HybridConnection .",
        "operationId": "HybridConnections_Delete",
        "x-ms-examples": {
          "RelayHybridconnectionDelete": {
            "$ref": "./examples/RelayHybridconnectionDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HybridConnection"
                }
              }
            },
            "description": "Successfully retrieved hybridConnection description"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Returns the description for the specified HybridConnection.",
        "operationId": "HybridConnections_Get",
        "x-ms-examples": {
          "RelayHybridConnectionGet": {
            "$ref": "./examples/RelayHybridConnectionGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HybridConnection"
                }
              }
            },
            "description": "Request to Create Hybrid Connections succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Creates or Updates a service HybridConnection. This operation is idempotent.",
        "operationId": "HybridConnections_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HybridConnection"
              }
            }
          },
          "description": "Parameters supplied to create a HybridConnection.",
          "required": true
        },
        "x-ms-examples": {
          "RelayHybridConnectionCreate": {
            "$ref": "./examples/RelayHybridConnectionCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Authorization rules successfully returned."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Authorization rules for a HybridConnection.",
        "operationId": "HybridConnections_ListAuthorizationRules",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleListAll": {
            "$ref": "./examples/RelayHybridConnectionAutorizationRuleListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Authorization rules successfully returned."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Authorization rules for a HybridConnection.",
        "operationId": "HybridConnections_ListPostAuthorizationRules",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleListAll": {
            "$ref": "./examples/RelayHybridConnectionAutorizationRuleListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "HybridConnection authorizationRule deleted"
          },
          "204": {
            "description": "Authorization rule does not exist"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Deletes a HybridConnection authorization rule",
        "operationId": "HybridConnections_DeleteAuthorizationRule",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleDelete": {
            "$ref": "./examples/RelayHybridConnectionAutorizationRuleDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "HybridConnection AuthorizationRule returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "HybridConnection authorizationRule for a HybridConnection by name.",
        "operationId": "HybridConnections_GetAuthorizationRule",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleGet": {
            "$ref": "./examples/RelayHybridConnectionAutorizationRuleGet.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "HybridConnection AuthorizationRule returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "HybridConnection authorizationRule for a HybridConnection by name.",
        "operationId": "HybridConnections_PostAuthorizationRule",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleGet": {
            "$ref": "./examples/RelayHybridConnectionAutorizationRuleGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "HybridConnection Authorization rule created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Creates or Updates an authorization rule for a HybridConnection",
        "operationId": "HybridConnections_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "description": "The authorization rule parameters",
          "required": true
        },
        "x-ms-examples": {
          "RelayHybridConnectionAuthorizationRuleCreate": {
            "$ref": "./examples/RelayHybridConnectionAuthorizationRuleCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/ListKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleKeys"
                }
              }
            },
            "description": "Request to retirve ConnectionStrings to the HybridConnection succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Primary and Secondary ConnectionStrings to the HybridConnection.",
        "operationId": "HybridConnections_ListKeys",
        "x-ms-examples": {
          "RelayHybridConnectionAuthorizationRuleListKey": {
            "$ref": "./examples/RelayHybridConnectionAuthorizationRuleListKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleKeys"
                }
              }
            },
            "description": "Request to regenerate ConnectionStrings to HybridConnection succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Regenerates the Primary or Secondary ConnectionStrings to the HybridConnection",
        "operationId": "HybridConnections_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateKeysParameters"
              }
            }
          },
          "description": "Parameters supplied to regenerate Auth Rule.",
          "required": true
        },
        "x-ms-examples": {
          "RelayHybridConnectionAuthorizationRuleRegenrateKey": {
            "$ref": "./examples/RelayHybridConnectionAuthorizationRuleRegenrateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WcfRelaysListResult"
                }
              }
            },
            "description": "WCF Relays returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Lists the WCFRelays within the namespace.",
        "operationId": "WCFRelays_ListByNamespace",
        "x-ms-examples": {
          "RelayListAll": {
            "$ref": "./examples/RelayListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays/{relayName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "WCFRelays deleted."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Deletes a WCFRelays .",
        "operationId": "WCFRelays_Delete",
        "x-ms-examples": {
          "RelayDelete": {
            "$ref": "./examples/RelayDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WcfRelay"
                }
              }
            },
            "description": "Successfully retrieved WCFRelays description"
          },
          "204": {
            "description": "WCFRelays not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Returns the description for the specified WCFRelays.",
        "operationId": "WCFRelays_Get",
        "x-ms-examples": {
          "RelayGet": {
            "$ref": "./examples/RelayGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WcfRelay"
                }
              }
            },
            "description": "Request to create WCFRelays succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Creates or Updates a WCFRelay. This operation is idempotent.",
        "operationId": "WCFRelays_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WcfRelay"
              }
            }
          },
          "description": "Parameters supplied to create a WCFRelays.",
          "required": true
        },
        "x-ms-examples": {
          "RelayCreate": {
            "$ref": "./examples/RelayCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays/{relayName}/authorizationRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Authorization rules successfully returned."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Authorization rules for a WCFRelays.",
        "operationId": "WCFRelays_ListAuthorizationRules",
        "x-ms-examples": {
          "RelayAutorizationRuleListAll": {
            "$ref": "./examples/RelayAutorizationRuleListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Authorization rules successfully returned."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Authorization rules for a WCFRelays.",
        "operationId": "WCFRelays_ListPostAuthorizationRules",
        "x-ms-examples": {
          "RelayAutorizationRuleListAll": {
            "$ref": "./examples/RelayAutorizationRuleListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays/{relayName}/authorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to delete WCFRelay authorizationRule succeeded"
          },
          "204": {
            "description": "Request accepted but Authorization rule does not exist"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Deletes a WCFRelays authorization rule",
        "operationId": "WCFRelays_DeleteAuthorizationRule",
        "x-ms-examples": {
          "RelayAutorizationRuleDelete": {
            "$ref": "./examples/RelayAutorizationRuleDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Request for WCFRelays AuthorizationRule succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Get authorizationRule for a WCFRelays by name.",
        "operationId": "WCFRelays_GetAuthorizationRule",
        "x-ms-examples": {
          "RelayAutorizationRuleGet": {
            "$ref": "./examples/RelayAutorizationRuleGet.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Request for WCFRelays AuthorizationRule succeeded"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Get authorizationRule for a WCFRelays by name.",
        "operationId": "WCFRelays_PostAuthorizationRule",
        "x-ms-examples": {
          "RelayAutorizationRuleGet": {
            "$ref": "./examples/RelayAutorizationRuleGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "WCFRelays Authorization rule created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Creates or Updates an authorization rule for a WCFRelays",
        "operationId": "WCFRelays_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "description": "The authorization rule parameters.",
          "required": true
        },
        "x-ms-examples": {
          "RelayAuthorizationRuleCreate": {
            "$ref": "./examples/RelayAuthorizationRuleCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/ListKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleKeys"
                }
              }
            },
            "description": "Successful"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Primary and Secondary ConnectionStrings to the WCFRelays.",
        "operationId": "WCFRelays_ListKeys",
        "x-ms-examples": {
          "RelayAuthorizationRuleListKey.json": {
            "$ref": "./examples/RelayAuthorizationRuleListKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleKeys"
                }
              }
            },
            "description": "Successful"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Regenerates the Primary or Secondary ConnectionStrings to the WCFRelays",
        "operationId": "WCFRelays_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateKeysParameters"
              }
            }
          },
          "description": "Parameters supplied to regenerate Auth Rule.",
          "required": true
        },
        "x-ms-examples": {
          "RelayAuthorizationRuleRegenrateKey.json": {
            "$ref": "./examples/RelayAuthorizationRuleRegenrateKey.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "authorizationRuleNameParameter": {
        "description": "The authorizationRule name.",
        "in": "path",
        "name": "authorizationRuleName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "hybridConnectionNameParameter": {
        "description": "The hybrid connection name.",
        "in": "path",
        "name": "hybridConnectionName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "namespaceNameParameter": {
        "description": "The Namespace Name",
        "in": "path",
        "name": "namespaceName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 6,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "relayNameParameter": {
        "description": "The relay name",
        "in": "path",
        "name": "relayName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceGroupNameParameter": {
        "description": "Name of the Resource group within the Azure subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "AuthorizationRule": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthorizationRule"
            }
          }
        },
        "description": "The authorization rule parameters",
        "required": true
      },
      "RegenerateKeysParameters": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RegenerateKeysParameters"
            }
          }
        },
        "description": "Parameters supplied to regenerate Auth Rule.",
        "required": true
      }
    },
    "schemas": {
      "AuthorizationRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of a Namespace AuthorizationRules.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AuthorizationRuleProperties",
            "description": "Authorization Rule properties",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "AuthorizationRuleKeys": {
        "description": "Namespace/Relay Connection String",
        "properties": {
          "keyName": {
            "description": "A string that describes the authorization rule",
            "type": "string"
          },
          "primaryConnectionString": {
            "description": "PrimaryConnectionString of the created Namespace AuthorizationRule.",
            "type": "string"
          },
          "primaryKey": {
            "description": "A base64-encoded 256-bit primary key for signing and validating the SAS token",
            "type": "string"
          },
          "secondaryConnectionString": {
            "description": "SecondaryConnectionString of the created Namespace AuthorizationRule",
            "type": "string"
          },
          "secondaryKey": {
            "description": "A base64-encoded 256-bit secondary key for signing and validating the SAS token",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AuthorizationRuleListResult": {
        "description": "The response of the List Namespace operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules",
            "type": "string"
          },
          "value": {
            "description": "Result of the List AuthorizationRules operation.",
            "items": {
              "$ref": "#/components/schemas/AuthorizationRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AuthorizationRuleProperties": {
        "description": "AuthorizationRule properties.",
        "properties": {
          "rights": {
            "description": "The rights associated with the rule.",
            "items": {
              "enum": [
                "Manage",
                "Send",
                "Listen"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "AccessRights"
              }
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "required": [
          "rights"
        ],
        "type": "object"
      },
      "CheckNameAvailability": {
        "description": "Description of a Check Name availability request properties.",
        "properties": {
          "name": {
            "description": "The Name to check the namespce name availability and The namespace name can contain only letters, numbers, and hyphens. The namespace must start with a letter, and it must end with a letter or number.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "CheckNameAvailabilityResult": {
        "description": "Description of a Check Name availability request properties.",
        "properties": {
          "message": {
            "description": "The detailed info regarding the reason associated with the namespace.",
            "readOnly": true,
            "type": "string"
          },
          "nameAvailable": {
            "description": "Value indicating namespace is availability, true if the namespace is available; otherwise, false.",
            "type": "boolean"
          },
          "reason": {
            "$ref": "#/components/schemas/UnavailableReason",
            "description": "The reason for unavailability of a namespace."
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error reponse indicates Relay service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "HybridConnection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of HybridConnection Resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/HybridConnectionProperties",
            "description": "Properties of HybridConnection",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "HybridConnectionListResult": {
        "description": "The response of the List HybridConnection operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of HybridConnection operation",
            "type": "string"
          },
          "value": {
            "description": "Result of the List HybridConnection .",
            "items": {
              "$ref": "#/components/schemas/HybridConnection"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "HybridConnectionProperties": {
        "description": "Properties of the HybridConnection.",
        "properties": {
          "createdAt": {
            "description": "The time the HybridConnection was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "listenerCount": {
            "description": "The number of listeners for this HybridConnection. min : 1 and max:25 supported",
            "format": "int32",
            "maximum": 25,
            "minimum": 1,
            "readOnly": true,
            "type": "integer"
          },
          "requiresClientAuthorization": {
            "description": "true if client authorization is needed for this HybridConnection; otherwise, false.",
            "type": "boolean"
          },
          "updatedAt": {
            "description": "The time the namespace was updated.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "userMetadata": {
            "description": "usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "A EventHub REST API operation",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.EventHub",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: Invoice, etc.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of the request to list EventHub operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of EventHub operations supported by the Microsoft.EventHub resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "RegenerateKeysParameters": {
        "description": "Parameters supplied to the Regenerate Authorization Rule operation.",
        "properties": {
          "policyKey": {
            "description": "Key that needs to be regenerated.",
            "enum": [
              "PrimaryKey",
              "SecondaryKey"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "policyKey"
            }
          }
        },
        "type": "object"
      },
      "RelayNamespace": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TrackedResource"
          }
        ],
        "description": "Description of a Namespace resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RelayNamespaceProperties",
            "description": "Description of Relay Namespace",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "Sku of the Namespace."
          }
        },
        "type": "object"
      },
      "RelayNamespaceListResult": {
        "description": "The response of the List Namespace operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces",
            "type": "string"
          },
          "value": {
            "description": "Result of the List Namespace operation.",
            "items": {
              "$ref": "#/components/schemas/RelayNamespace"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RelayNamespaceProperties": {
        "description": "Properties of the Namespace.",
        "properties": {
          "createdAt": {
            "description": "The time the namespace was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "metricId": {
            "description": "Identifier for Azure Insights metrics",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "Provisioning state of the namespace.",
            "readOnly": true,
            "type": "string"
          },
          "serviceBusEndpoint": {
            "description": "Endpoint you can use to perform Service Bus operations.",
            "readOnly": true,
            "type": "string"
          },
          "updatedAt": {
            "description": "The time the namespace was updated.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "RelayNamespaceUpdateParameter": {
        "description": "Parameters supplied to the Patch Namespace operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The sku of the created namespace"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "The Resource definition",
        "properties": {
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Sku": {
        "description": "Sku of the Namespace.",
        "properties": {
          "name": {
            "description": "Name of this Sku",
            "enum": [
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuName"
            }
          },
          "tier": {
            "description": "The tier of this particular SKU",
            "enum": [
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuTier"
            }
          }
        },
        "required": [
          "name",
          "tier"
        ],
        "type": "object"
      },
      "TrackedResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Definition of Resource",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object"
      },
      "UnavailableReason": {
        "description": "Specifies the reason for the unavailability of the service.",
        "enum": [
          "None",
          "InvalidName",
          "SubscriptionIsDisabled",
          "NameInUse",
          "NameInLockdown",
          "TooManyNamespaceInCurrentSubscription"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "UnavailableReason"
        }
      },
      "WcfRelay": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Description of WcfRelays Resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/WcfRelayProperties",
            "description": "Properties of WcfRelay",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WcfRelayProperties": {
        "description": "Properties of the WcfRelay Properties.",
        "properties": {
          "createdAt": {
            "description": "The time the WCFRelay was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "isDynamic": {
            "description": "true if the relay is dynamic; otherwise, false.",
            "readOnly": true,
            "type": "boolean"
          },
          "listenerCount": {
            "description": "The number of listeners for this relay. min : 1 and max:25 supported",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "relayType": {
            "description": "WCFRelay Type.",
            "enum": [
              "NetTcp",
              "Http"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Relaytype"
            }
          },
          "requiresClientAuthorization": {
            "description": "true if client authorization is needed for this relay; otherwise, false.",
            "type": "boolean"
          },
          "requiresTransportSecurity": {
            "description": "true if transport security is needed for this relay; otherwise, false.",
            "type": "boolean"
          },
          "updatedAt": {
            "description": "The time the namespace was updated.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "userMetadata": {
            "description": "usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WcfRelaysListResult": {
        "description": "The response of the List WcfRelays operation.",
        "properties": {
          "nextLink": {
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of WcfRelays operation",
            "type": "string"
          },
          "value": {
            "description": "Result of the List WcfRelays .",
            "items": {
              "$ref": "#/components/schemas/WcfRelay"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}