{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Maintenance Management Client",
    "title": "MaintenanceManagementClient",
    "version": "2018-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2018-06-01-preview/Maintenance.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Maintenance/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceError"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "List the available operations supported by the Microsoft.Maintenance resource provider",
        "operationId": "Operations_List",
        "summary": "List available operations",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/maintenanceConfigurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMaintenanceConfigurationsResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceError"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_List",
        "summary": "Get Configuration records within a subscription",
        "x-ms-examples": {
          "MaintenanceConfigurations_List": {
            "$ref": "./examples/MaintenanceConfigurations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource Group Name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource Identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceConfiguration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceError"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_Delete",
        "summary": "Delete Configuration record",
        "x-ms-examples": {
          "MaintenanceConfigurations_DeleteForResource": {
            "$ref": "./examples/MaintenanceConfigurations_DeleteForResource.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource Group Name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource Identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceConfiguration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceError"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_Get",
        "summary": "Get Configuration record",
        "x-ms-examples": {
          "MaintenanceConfigurations_GetForResource": {
            "$ref": "./examples/MaintenanceConfigurations_GetForResource.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource Group Name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource Identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceConfiguration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceError"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceConfiguration"
              }
            }
          },
          "description": "The configuration",
          "required": true
        },
        "summary": "Patch configuration record",
        "x-ms-examples": {
          "MaintenanceConfigurations_UpdateForResource": {
            "$ref": "./examples/MaintenanceConfigurations_UpdateForResource.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource Group Name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource Identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceConfiguration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceError"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "tags": [
          "MaintenanceConfigurations"
        ],
        "operationId": "MaintenanceConfigurations_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceConfiguration"
              }
            }
          },
          "description": "The configuration",
          "required": true
        },
        "summary": "Create or Update configuration record",
        "x-ms-examples": {
          "MaintenanceConfigurations_CreateOrUpdateForResource": {
            "$ref": "./examples/MaintenanceConfigurations_CreateOrUpdateForResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent type",
            "in": "path",
            "name": "resourceParentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent identifier",
            "in": "path",
            "name": "resourceParentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyUpdate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Apply maintenance updates to resource with parent",
        "operationId": "ApplyUpdates_CreateOrUpdateParent",
        "summary": "Apply Updates to resource with parent",
        "x-ms-examples": {
          "ApplyUpdates_CreateOrUpdateParent": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdateParent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent type",
            "in": "path",
            "name": "resourceParentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent identifier",
            "in": "path",
            "name": "resourceParentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "applyUpdate Id",
            "in": "path",
            "name": "applyUpdateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyUpdate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Track maintenance updates to resource with parent",
        "operationId": "ApplyUpdates_GetParent",
        "summary": "Track Updates to resource with parent",
        "x-ms-examples": {
          "ApplyUpdates_GetParent": {
            "$ref": "./examples/ApplyUpdates_GetParent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent type",
            "in": "path",
            "name": "resourceParentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent identifier",
            "in": "path",
            "name": "resourceParentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConfigurationAssignmentsResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "List configurationAssignments for resource.",
        "operationId": "ConfigurationAssignments_ListParent",
        "summary": "List configurationAssignments for resource",
        "x-ms-examples": {
          "ConfigurationAssignments_ListParent": {
            "$ref": "./examples/ConfigurationAssignments_ListParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent type",
            "in": "path",
            "name": "resourceParentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent identifier",
            "in": "path",
            "name": "resourceParentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique configuration assignment name",
            "in": "path",
            "name": "configurationAssignmentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationAssignment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Unregister configuration for resource.",
        "operationId": "ConfigurationAssignments_DeleteParent",
        "summary": "Unregister configuration for resource",
        "x-ms-examples": {
          "ConfigurationAssignments_DeleteParent": {
            "$ref": "./examples/ConfigurationAssignments_DeleteParent.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent type",
            "in": "path",
            "name": "resourceParentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent identifier",
            "in": "path",
            "name": "resourceParentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Configuration assignment name",
            "in": "path",
            "name": "configurationAssignmentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationAssignment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Register configuration for resource.",
        "operationId": "ConfigurationAssignments_CreateOrUpdateParent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationAssignment"
              }
            }
          },
          "description": "The configurationAssignment",
          "required": true
        },
        "summary": "Create configuration assignment",
        "x-ms-examples": {
          "ConfigurationAssignments_CreateOrUpdateParent": {
            "$ref": "./examples/ConfigurationAssignments_CreateOrUpdateParent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent type",
            "in": "path",
            "name": "resourceParentType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource parent identifier",
            "in": "path",
            "name": "resourceParentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUpdatesResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Updates"
        ],
        "description": "Get updates to resources.",
        "operationId": "Updates_ListParent",
        "summary": "Get Updates to resource",
        "x-ms-examples": {
          "Updates_ListParent": {
            "$ref": "./examples/Updates_ListParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/default": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyUpdate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Apply maintenance updates to resource",
        "operationId": "ApplyUpdates_CreateOrUpdate",
        "summary": "Apply Updates to resource",
        "x-ms-examples": {
          "ApplyUpdates_CreateOrUpdate": {
            "$ref": "./examples/ApplyUpdates_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/applyUpdates/{applyUpdateName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "applyUpdate Id",
            "in": "path",
            "name": "applyUpdateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyUpdate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ApplyUpdates"
        ],
        "description": "Track maintenance updates to resource",
        "operationId": "ApplyUpdates_Get",
        "summary": "Track Updates to resource",
        "x-ms-examples": {
          "ApplyUpdates_Get": {
            "$ref": "./examples/ApplyUpdates_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConfigurationAssignmentsResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "List configurationAssignments for resource.",
        "operationId": "ConfigurationAssignments_List",
        "summary": "List configurationAssignments for resource",
        "x-ms-examples": {
          "ConfigurationAssignments_List": {
            "$ref": "./examples/ConfigurationAssignments_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique configuration assignment name",
            "in": "path",
            "name": "configurationAssignmentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationAssignment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Unregister configuration for resource.",
        "operationId": "ConfigurationAssignments_Delete",
        "summary": "Unregister configuration for resource",
        "x-ms-examples": {
          "ConfigurationAssignments_Delete": {
            "$ref": "./examples/ConfigurationAssignments_Delete.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Configuration assignment name",
            "in": "path",
            "name": "configurationAssignmentName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationAssignment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConfigurationAssignments"
        ],
        "description": "Register configuration for resource.",
        "operationId": "ConfigurationAssignments_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationAssignment"
              }
            }
          },
          "description": "The configurationAssignment",
          "required": true
        },
        "summary": "Create configuration assignment",
        "x-ms-examples": {
          "ConfigurationAssignments_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationAssignments_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Resource group name",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource provider name",
            "in": "path",
            "name": "providerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource type",
            "in": "path",
            "name": "resourceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource identifier",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUpdatesResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Updates"
        ],
        "description": "Get updates to resources.",
        "operationId": "Updates_List",
        "summary": "Get Updates to resource",
        "x-ms-examples": {
          "Updates_List": {
            "$ref": "./examples/Updates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Version of the API to be used with the client request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ConfigurationAssignment": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConfigurationAssignment"
            }
          }
        },
        "description": "The configurationAssignment",
        "required": true
      },
      "MaintenanceConfiguration": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MaintenanceConfiguration"
            }
          }
        },
        "description": "The configuration",
        "required": true
      }
    },
    "schemas": {
      "ApplyUpdate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Apply Update request",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApplyUpdateProperties",
            "description": "Properties of the apply update",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ApplyUpdateProperties": {
        "description": "Properties for apply update",
        "properties": {
          "lastUpdateTime": {
            "description": "Last Update time",
            "format": "date-time",
            "type": "string"
          },
          "resourceId": {
            "description": "The resourceId",
            "type": "string"
          },
          "status": {
            "description": "The status",
            "enum": [
              "Pending",
              "InProgress",
              "Completed",
              "RetryNow",
              "RetryLater"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "UpdateStatus"
            }
          }
        },
        "type": "object"
      },
      "ConfigurationAssignment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Configuration Assignment",
        "properties": {
          "location": {
            "description": "Location of the resource",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ConfigurationAssignmentProperties",
            "description": "Properties of the configuration assignment",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ConfigurationAssignmentProperties": {
        "description": "Properties for configuration assignment",
        "properties": {
          "maintenanceConfigurationId": {
            "description": "The maintenance configuration Id",
            "type": "string"
          },
          "resourceId": {
            "description": "The unique resourceId",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "An error response details received from the Azure Maintenance service.",
        "properties": {
          "code": {
            "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
            "type": "string"
          },
          "message": {
            "description": "Human-readable representation of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListConfigurationAssignmentsResult": {
        "description": "Response for ConfigurationAssignments list",
        "properties": {
          "value": {
            "description": "The list of configuration Assignments",
            "items": {
              "$ref": "#/components/schemas/ConfigurationAssignment"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListMaintenanceConfigurationsResult": {
        "description": "Response for MaintenanceConfigurations list",
        "properties": {
          "value": {
            "description": "The list of maintenance Configurations",
            "items": {
              "$ref": "#/components/schemas/MaintenanceConfiguration"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListUpdatesResult": {
        "description": "Response for Updates list",
        "properties": {
          "value": {
            "description": "The pending updates",
            "items": {
              "$ref": "#/components/schemas/Update"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "MaintenanceConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Maintenance configuration record type",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets tags of the resource",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets location of the resource",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/MaintenanceConfigurationProperties",
            "description": "Gets or sets properties of the resource",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "MaintenanceConfigurationProperties": {
        "description": "Properties for maintenance configuration",
        "properties": {
          "extensionProperties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets extensionProperties of the maintenanceConfiguration",
            "type": "object"
          },
          "maintenanceScope": {
            "description": "Gets or sets maintenanceScope of the configuration",
            "enum": [
              "All",
              "Host",
              "Resource",
              "InResource"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "MaintenanceScope"
            }
          },
          "namespace": {
            "description": "Gets or sets namespace of the resource",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MaintenanceError": {
        "description": "An error response received from the Azure Maintenance service.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "Details of the error"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Represents an operation returned by the GetOperations request",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationInfo",
            "description": "Display name of the operation"
          },
          "name": {
            "description": "Name of the operation",
            "type": "string"
          },
          "origin": {
            "description": "Origin of the operation",
            "type": "string"
          },
          "properties": {
            "description": "Properties of the operation",
            "type": "object",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OperationInfo": {
        "description": "Information about an operation",
        "properties": {
          "description": {
            "description": "Description of the operation",
            "type": "string"
          },
          "operation": {
            "description": "Name of the operation",
            "type": "string"
          },
          "provider": {
            "description": "Name of the provider",
            "type": "string"
          },
          "resource": {
            "description": "Name of the resource type",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationsListResult": {
        "description": "Result of the List Operations operation",
        "properties": {
          "value": {
            "description": "A collection of operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Definition of a Resource",
        "properties": {
          "id": {
            "description": "Fully qualified identifier of the resource",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of the resource",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Update": {
        "description": "Maintenance update on a resource",
        "properties": {
          "impactDurationInSec": {
            "description": "Duration of impact in seconds",
            "format": "int32",
            "type": "integer"
          },
          "impactType": {
            "description": "The impact type",
            "enum": [
              "None",
              "Freeze",
              "Restart",
              "Redeploy"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ImpactType"
            }
          },
          "maintenanceScope": {
            "description": "The impact area",
            "enum": [
              "All",
              "Host",
              "Resource",
              "InResource"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "MaintenanceScope"
            }
          },
          "notBefore": {
            "description": "Time when Azure will start force updates if not self-updated by customer before this time",
            "format": "date-time",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/UpdateProperties",
            "description": "Properties of the apply update",
            "x-ms-client-flatten": true
          },
          "status": {
            "description": "The status",
            "enum": [
              "Pending",
              "InProgress",
              "Completed",
              "RetryNow",
              "RetryLater"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "UpdateStatus"
            }
          }
        },
        "type": "object"
      },
      "UpdateProperties": {
        "description": "Properties for update",
        "properties": {
          "resourceId": {
            "description": "The resourceId",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}