{
  "openapi": "3.0.0",
  "info": {
    "description": "Drive operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2019-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Drive.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives": {
      "get": {
        "parameters": [
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../2016-05-01/ScaleUnit.json#/components/parameters/ScaleUnitParameter"
          },
          {
            "$ref": "../2018-10-01/StorageSubSystem.json#/components/parameters/StorageSubSystemParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/FilterParameter"
          },
          {
            "$ref": "../2016-05-01/Common.json#/components/parameters/TopParameter"
          },
          {
            "$ref": "../2016-05-01/Common.json#/components/parameters/SkipParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriveList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "Drives"
        ],
        "description": "Returns a list of all storage drives at a location.",
        "operationId": "Drives_List",
        "x-ms-examples": {
          "Returns a list of all storage drives at a location.": {
            "$ref": "./examples/Drive/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Drive",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives/{drive}": {
      "get": {
        "parameters": [
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "../2016-05-01/Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../2016-05-01/ScaleUnit.json#/components/parameters/ScaleUnitParameter"
          },
          {
            "$ref": "../2018-10-01/StorageSubSystem.json#/components/parameters/StorageSubSystemParameter"
          },
          {
            "$ref": "#/components/parameters/DriveParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "Drives"
        ],
        "description": "Return the requested a storage drive.",
        "operationId": "Drives_Get",
        "x-ms-examples": {
          "Return the requested a storage drive.": {
            "$ref": "./examples/Drive/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2019-05-01",
          "type": "string"
        }
      },
      "DriveParameter": {
        "description": "Name of the storage drive.",
        "in": "path",
        "name": "drive",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Drive": {
        "allOf": [
          {
            "$ref": "../2016-05-01/Fabric.json#/definitions/Resource"
          }
        ],
        "description": "Representation of a drive resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DriveModel",
            "description": "Properties of a drive.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DriveList": {
        "description": "Pageable list of storage drives.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of storage drives.",
            "items": {
              "$ref": "#/components/schemas/Drive"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DriveModel": {
        "description": "Properties of a drive.",
        "properties": {
          "action": {
            "description": "Detailed recommended action for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.",
            "readOnly": true,
            "type": "string"
          },
          "capacityGB": {
            "description": "Total capacity in GB of the drive.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "description": {
            "description": "Detailed description for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.",
            "readOnly": true,
            "type": "string"
          },
          "firmwareVersion": {
            "description": "The firmware version of the drive.",
            "readOnly": true,
            "type": "string"
          },
          "healthStatus": {
            "description": "Health status of the drive.",
            "readOnly": true,
            "type": "string"
          },
          "isIndicationEnabled": {
            "description": "Indicate whether the drive's identification LEDs are active or not.",
            "readOnly": true,
            "type": "boolean"
          },
          "manufacturer": {
            "description": "The name of the drive's manufacturer.",
            "readOnly": true,
            "type": "string"
          },
          "mediaType": {
            "description": "Media type of the drive.",
            "readOnly": true,
            "type": "string"
          },
          "model": {
            "description": "Model of the drive.",
            "readOnly": true,
            "type": "string"
          },
          "operationalStatus": {
            "description": "Operational status of the drive.",
            "readOnly": true,
            "type": "string"
          },
          "physicalLocation": {
            "description": "Indicate where the hardware is located.",
            "readOnly": true,
            "type": "string"
          },
          "serialNumber": {
            "description": "Serial number of the drive.",
            "readOnly": true,
            "type": "string"
          },
          "storageNode": {
            "description": "Node that the drive is physically connected.",
            "readOnly": true,
            "type": "string"
          },
          "storagePool": {
            "description": "The storage pool where the drive is located.",
            "readOnly": true,
            "type": "string"
          },
          "usage": {
            "description": "Intended usage of the drive.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}