openapi: 3.0.0
info:
  title: CostManagementClient
  version: 2019-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Forecast the usage data for department.
      operationId: Forecast_UsageByDepartment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        DepartmentForecast:
          $ref: ./examples/DepartmentForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Query the usage data for department.
      operationId: Query_UsageByDepartment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        DepartmentQuery:
          $ref: ./examples/DepartmentQuery.json
        DepartmentQueryGroupingUsage:
          $ref: ./examples/DepartmentQueryGrouping.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by Department Id.
      operationId: Dimensions_ListByDepartment
      x-ms-examples:
        DepartmentDimensionsList:
          $ref: ./examples/DepartmentDimensionsList.json
        DepartmentDimensionsListExpandAndTop:
          $ref: ./examples/DepartmentDimensionsListExpandAndTop.json
        DepartmentDimensionsListWithFilter:
          $ref: ./examples/DepartmentDimensionsListWithFilter.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Forecast the usage data for an enrollment account.
      operationId: Forecast_UsageByEnrollmentAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        EnrollmentAccountForecast:
          $ref: ./examples/EnrollmentAccountForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Query the usage data for an enrollment account.
      operationId: Query_UsageByEnrollmentAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        EnrollmentAccountQuery:
          $ref: ./examples/EnrollmentAccountQuery.json
        EnrollmentAccountQueryGroupingUsage:
          $ref: ./examples/EnrollmentAccountQueryGrouping.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by Enrollment Account Id.
      operationId: Dimensions_ListByEnrollmentAccount
      x-ms-examples:
        EnrollmentAccountDimensionsList:
          $ref: ./examples/EnrollmentAccountDimensionsList.json
        EnrollmentAccountDimensionsListExpandAndTop:
          $ref: ./examples/EnrollmentAccountDimensionsListExpandAndTop.json
        EnrollmentAccountDimensionsListWithFilter:
          $ref: ./examples/EnrollmentAccountDimensionsListWithFilter.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Forecast the usage data for billing account.
      operationId: Forecast_UsageByBillingAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        BillingAccountForecast:
          $ref: ./examples/BillingAccountForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Query the usage data for billing account.
      operationId: Query_UsageByBillingAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        BillingAccountQuery:
          $ref: ./examples/BillingAccountQuery.json
        BillingAccountQueryGroupingUsage:
          $ref: ./examples/BillingAccountQueryGrouping.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by billingAccount Id.
      operationId: Dimensions_ListByBillingAccount
      x-ms-examples:
        BillingAccountDimensionsList:
          $ref: ./examples/BillingAccountDimensionsList.json
        BillingAccountDimensionsListExpandAndTop:
          $ref: ./examples/BillingAccountDimensionsListExpandAndTop.json
        BillingAccountDimensionsListWithFilter:
          $ref: ./examples/BillingAccountDimensionsListWithFilter.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowbackRuleListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ShowbackRules
      description: Get list all Showback Rules.
      operationId: ShowbackRules_List
      x-ms-examples:
        ShowbackRules_List:
          $ref: ./examples/ShowbackRulesList.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules/{ruleName}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/ruleNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowbackRule'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ShowbackRules
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the showback rule by rule name.
      operationId: ShowbackRule_GetBillingAccountId
      x-ms-examples:
        ShowbackRules:
          $ref: ./examples/ShowbackRuleGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/ruleNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowbackRule'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ShowbackRules
      description: Create/Update showback rule for billing account.
      operationId: ShowbackRule_CreateUpdateRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowbackRule'
        description: Showback rule to create or update.
        required: true
      x-ms-examples:
        ShowbackRules:
          $ref: ./examples/ShowbackRulePut.json
  /providers/Microsoft.CostManagement/checkConnectorEligibility:
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CheckConnectorEligibility
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Check if a connector already exists and return it's definition
      operationId: Connector_CheckEligibility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEligibilityDefinition'
        description: Connector credentials
        required: true
      x-ms-examples:
        CheckEligibility_Post:
          $ref: ./examples/CheckEligibilityPost.json
  /providers/Microsoft.CostManagement/cloudConnectors:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CloudConnectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: List all cloud connector definitions
      operationId: CloudConnector_List
      x-ms-examples:
        CloudConnector_List:
          $ref: ./examples/CloudConnectorList.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.CostManagement/cloudConnectors/{connectorName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CloudConnectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Delete a cloud connector definition
      operationId: CloudConnector_Delete
      x-ms-examples:
        CloudConnector_Delete:
          $ref: ./examples/CloudConnectorDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
        - description: >-
            May be used to expand the collectionInfo property. By default,
            collectionInfo is not included.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CloudConnectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Get a cloud connector definition
      operationId: CloudConnector_Get
      x-ms-examples:
        CloudConnector_Get:
          $ref: ./examples/CloudConnectorGet.json
        CloudConnector_Get_Expand:
          $ref: ./examples/CloudConnectorGetExpand.json
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CloudConnectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Update a cloud connector definition
      operationId: CloudConnector_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinition'
        description: Connector details
        required: true
      x-ms-examples:
        CloudConnector_Update:
          $ref: ./examples/CloudConnectorPatch.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CloudConnectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Create or update a cloud connector definition
      operationId: CloudConnector_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinition'
        description: Connector details
        required: true
      x-ms-examples:
        CloudConnector_Put:
          $ref: ./examples/CloudConnectorPut.json
  /providers/Microsoft.CostManagement/externalBillingAccounts:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExternalBillingAccountDefinitionListResult
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalBillingAccounts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: List all ExternalBillingAccount definitions
      operationId: ExternalBillingAccount_List
      x-ms-examples:
        ExternalBillingAccount_List:
          $ref: ./examples/ExternalBillingAccountList.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/externalBillingAccountNameParameter'
        - description: >-
            May be used to expand the collectionInfo property. By default,
            collectionInfo is not included.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBillingAccountDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalBillingAccounts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Get a ExternalBillingAccount definition
      operationId: ExternalBillingAccount_Get
      x-ms-examples:
        ExternalBillingAccount_Get:
          $ref: ./examples/ExternalBillingAccountGet.json
        ExternalBillingAccount_Get_Expand:
          $ref: ./examples/ExternalBillingAccountGetExpand.json
  '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/externalBillingAccountNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Forecast the usage data for external billing account.
      operationId: Forecast_UsageByExternalBillingAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        ExternalBillingAccountForecast:
          $ref: ./examples/ExternalBillingAccountForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/externalSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/externalBillingAccountNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSubscriptionDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalSubscriptions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: List all ExternalSubscriptions by ExternalBillingAccount definitions
      operationId: ExternalSubscription_ListByExternalBillingAccount
      x-ms-examples:
        ExternalBillingAccountExternalSubscription_List:
          $ref: ./examples/ExternalBillingAccountExternalSubscriptionList.json
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.CostManagement/externalSubscriptions:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSubscriptionDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalSubscriptions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: List all ExternalSubscription definitions
      operationId: ExternalSubscription_List
      x-ms-examples:
        ExternalSubscription_List:
          $ref: ./examples/ExternalSubscriptionList.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/externalSubscriptionNameParameter'
        - description: >-
            May be used to expand the collectionInfo property. By default,
            collectionInfo is not included.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSubscriptionDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalSubscriptions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Get an ExternalSubscription definition
      operationId: ExternalSubscription_Get
      x-ms-examples:
        ExternalSubscription_Get:
          $ref: ./examples/ExternalSubscriptionGet.json
        ExternalSubscription_Get_Expand:
          $ref: ./examples/ExternalSubscriptionGetExpand.json
  /providers/Microsoft.CostManagement/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the usage data for management group.
      operationId: Forecast_UsageByManagementGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        ManagementGroupForecast:
          $ref: ./examples/ManagementGroupForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the usage data for management group.
      operationId: Query_UsageByManagementGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        ManagementGroupQuery:
          $ref: ./examples/ManagementGroupQuery.json
        ManagementGroupQueryGroupingUsage:
          $ref: ./examples/ManagementGroupQueryGrouping.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by managementGroup Id.
      operationId: Dimensions_ListByManagementGroup
      x-ms-examples:
        ManagementGroupDimensionsList:
          $ref: ./examples/ManagementGroupDimensionsList.json
        ManagementGroupDimensionsListExpandAndTop:
          $ref: ./examples/ManagementGroupDimensionsListExpandAndTop.json
        ManagementGroupDimensionsListWithFilter:
          $ref: ./examples/ManagementGroupDimensionsListWithFilter.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/externalSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - description: >-
            The $recurse=true query string parameter allows returning
            externalSubscriptions associated with the specified managementGroup,
            or any of its descendants.
          in: query
          name: $recurse
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSubscriptionDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalSubscriptions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: List all ExternalSubscription definitions for Management Group
      operationId: ExternalSubscription_ListByManagementGroup
      x-ms-examples:
        ExternalSubscription_List:
          $ref: ./examples/ManagementGroupExternalSubscriptionList.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}':
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - $ref: '#/components/parameters/externalSubscriptionNameParameter'
      responses:
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ExternalSubscriptions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Updates the management group of an ExternalSubscription
      operationId: ExternalSubscription_UpdateManagementGroup
      x-ms-examples:
        ManagementGroupExternalSubscription_Put:
          $ref: ./examples/ManagementGroupExternalSubscriptionUpdate.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Forecast the usage data for subscriptionId.
      operationId: Forecast_UsageBySubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        SubscriptionForecast:
          $ref: ./examples/SubscriptionForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Query the usage data for subscriptionId.
      operationId: Query_UsageBySubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        SubscriptionQuery:
          $ref: ./examples/SubscriptionQuery.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by subscription Id.
      operationId: Dimensions_ListBySubscription
      x-ms-examples:
        SubscriptionDimensionsList:
          $ref: ./examples/SubscriptionDimensionsList.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by resource group Id.
      operationId: Dimensions_ListByResourceGroup
      x-ms-examples:
        ResourceGroupDimensionsList:
          $ref: ./examples/ResourceGroupDimensionsList.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Forecast':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecast
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Forecast the usage data for subscriptionId and resource group.
      operationId: Forecast_UsageByResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        ResourceGroupForecast:
          $ref: ./examples/ResourceGroupForecast.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Query the usage data for subscriptionId and resource group.
      operationId: Query_UsageByResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
      x-ms-examples:
        ResourceGroupQuery:
          $ref: ./examples/ResourceGroupQuery.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2019-03-01-preview
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    connectorNameParameter:
      description: Connector Name.
      in: path
      name: connectorName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    departmentIdParameter:
      description: Department ID
      in: path
      name: departmentId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    enrollmentAccountIdParameter:
      description: Enrollment Account ID
      in: path
      name: enrollmentAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    externalBillingAccountNameParameter:
      description: 'External Billing Account Name. (eg ''aws-{PayerAccountId}'')'
      in: path
      name: externalBillingAccountName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    externalSubscriptionNameParameter:
      description: 'External Subscription Name. (eg ''aws-{UsageAccountId}'')'
      in: path
      name: externalSubscriptionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: ManagementGroup ID
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ruleNameParameter:
      description: Showback rule name
      in: path
      name: ruleName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    ConnectorDefinition:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectorDefinition'
      description: Connector details
      required: true
    ReportConfigDefinition:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportConfigDefinition'
      description: Parameters supplied to the CreateOrUpdate Report Config operation.
      required: true
  schemas:
    CheckEligibilityDefinition:
      description: The check eligibility Connector credentials definition
      properties:
        credentialsKey:
          description: Credentials authentication key (eg AWS ARN)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        credentialsSecret:
          description: Credentials secret (eg AWS ExternalId)
          type: string
          x-ms-mutability:
            - create
            - update
        kind:
          description: Connector kind (eg aws)
          type: string
        reportId:
          description: >-
            Identifying source report. (For AWS this is a CUR report name,
            defined with Daily and with Resources)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
      type: object
    ConnectorCollectionErrorInfo:
      description: Details of any error encountered on last collection attempt
      properties:
        errorCode:
          description: Short error code
          readOnly: true
          type: string
        errorInnerMessage:
          description: External Provider error message
          readOnly: true
          type: string
        errorMessage:
          description: Detailed error message
          readOnly: true
          type: string
        errorStartTime:
          description: >-
            Time the error started occurring (Last time error occurred in
            lastChecked)
          format: date-time
          readOnly: true
          type: string
      type: object
    ConnectorCollectionInfo:
      description: Collection and ingestion information
      properties:
        error:
          $ref: '#/components/schemas/ConnectorCollectionErrorInfo'
          description: Error information of last collection
        lastChecked:
          description: >-
            Last time the data acquisition process initiated connecting to the
            external provider
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        lastUpdated:
          description: Last time the external data was updated into Azure
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        sourceLastUpdated:
          description: >-
            Source timestamp of external data currently available in Azure (eg
            AWS last processed CUR file timestamp)
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
      type: object
    ConnectorDefinition:
      description: The Connector model definition
      properties:
        id:
          description: Connector id
          readOnly: true
          type: string
        kind:
          description: Connector kind (eg aws)
          type: string
        name:
          description: Connector name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ConnectorProperties'
          description: Connector properties
          x-ms-client-flatten: true
        type:
          description: Connector type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ConnectorDefinitionListResult:
      description: >-
        Result of listing connector definitions. It contains a list of available
        connector definitions in the scope provided.
      properties:
        value:
          description: The list of connector definitions.
          items:
            $ref: '#/components/schemas/ConnectorDefinition'
          readOnly: true
          type: array
      type: object
    ConnectorProperties:
      description: The properties of a Connector
      properties:
        billingModel:
          description: Connector billing model
          enum:
            - trial
            - autoUpgrade
            - premium
            - expired
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConnectorBillingModel
          x-ms-mutability:
            - read
            - create
            - update
        collectionInfo:
          $ref: '#/components/schemas/ConnectorCollectionInfo'
          description: Collection information
          nullable: true
          readOnly: true
        createdOn:
          description: Connector definition creation datetime
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        credentialsKey:
          description: Credentials authentication key (eg AWS ARN)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        credentialsSecret:
          description: Credentials secret (eg AWS ExternalId)
          type: string
          x-ms-mutability:
            - create
            - update
        daysTrialRemaining:
          description: Number of days remaining of trial
          nullable: true
          readOnly: true
          type: integer
          x-ms-mutability:
            - read
        defaultManagementGroupId:
          description: Default ManagementGroupId
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        displayName:
          description: Connector DisplayName
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        externalBillingAccountId:
          description: Associated ExternalBillingAccountId
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        modifiedOn:
          description: Connector last modified datetime
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        providerBillingAccountDisplayName:
          description: >-
            The display name of the providerBillingAccountId as defined on the
            external provider
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        providerBillingAccountId:
          description: >-
            Connector providerBillingAccountId, determined from credentials (eg
            AWS Consolidated account number)
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        reportId:
          description: >-
            Identifying source report. (For AWS this is a CUR report name,
            defined with Daily and with Resources)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        status:
          description: Connector status
          enum:
            - active
            - error
            - expired
            - warning
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConnectorStatus
          x-ms-mutability:
            - read
        subscriptionId:
          description: Billing SubscriptionId
          type: string
          x-ms-mutability:
            - read
            - create
            - update
      type: object
    CostAllocationDetails:
      description: Represents CostAllocation showback rule model
      properties:
        policy:
          description: Cost allocation policy.
          enum:
            - Proportional
            - Evenly
            - Fixed
          type: string
          x-ms-enum:
            modelAsString: true
            name: CostAllocationPolicy
      type: object
    CostAllocationDetailsKind:
      allOf:
        - $ref: '#/components/schemas/ShowbackRuleProperties'
      description: Represents CostAllocation showback rule model
      properties:
        details:
          $ref: '#/components/schemas/CostAllocationDetails'
          description: The CostAllocation properties to validate.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: CostAllocation
    CustomPriceDetails:
      description: Represents Custom price showback rule model
      properties:
        benefits:
          description: Array of benefits.
          items:
            enum:
              - None
              - All
              - AHUB
              - Reservations
            type: string
            x-ms-enum:
              modelAsString: true
              name: FunctionType
          type: array
        markups:
          description: List of markups.
          items:
            $ref: '#/components/schemas/Markup'
          type: array
        pricesheet:
          type: string
      type: object
    CustomPriceDetailsKind:
      allOf:
        - $ref: '#/components/schemas/ShowbackRuleProperties'
      description: Represents Custom price showback rule model
      properties:
        details:
          $ref: '#/components/schemas/CustomPriceDetails'
          description: The Custom price properties to validate.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: CustomPrice
    Dimension:
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/DimensionProperties'
          title: Dimension properties
          x-ms-client-flatten: true
      type: object
    DimensionProperties:
      properties:
        category:
          type: string
        data:
          items:
            type: string
          type: array
        description:
          type: string
        filterEnabled:
          type: boolean
        groupingEnabled:
          type: boolean
        nextLink:
          type: string
        total:
          format: int32
          type: integer
        usageEnd:
          format: date-time
          type: string
        usageStart:
          format: date-time
          type: string
      type: object
    DimensionsListResult:
      description: >-
        Result of listing dimensions. It contains a list of available
        dimensions.
      properties:
        value:
          description: The list of dimensions.
          items:
            $ref: '#/components/schemas/Dimension'
          readOnly: true
          type: array
      type: object
    ErrorBase:
      description: The details of the error.
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          type: string
        message:
          description: A human readable error message.
          readOnly: true
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          readOnly: true
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          type: string
        details:
          description: error details.
          items:
            $ref: '#/components/schemas/ErrorBase'
          type: array
        message:
          description: A human readable error message.
          readOnly: true
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          type: string
      type: object
    ErrorResponse:
      description: >-
        Error response indicates that the service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
      type: object
    ExternalBillingAccountDefinition:
      description: The ExternalBillingAccount model definition
      properties:
        id:
          description: ExternalBillingAccount id
          readOnly: true
          type: string
        kind:
          description: ExternalBillingAccount kind (eg aws)
          readOnly: true
          type: string
        name:
          description: ExternalBillingAccount name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ExternalBillingAccountProperties'
          description: ExternalBillingAccount properties
          x-ms-client-flatten: true
        type:
          description: ExternalBillingAccount type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ExternalBillingAccountDefinitionListResult:
      description: >-
        Result of listing ExternalBillingAccount definitions. It contains a list
        of available ExternalBillingAccount definitions in the scope provided.
      properties:
        value:
          description: The list of ExternalBillingAccount definitions.
          items:
            $ref: '#/components/schemas/ExternalBillingAccountDefinition'
          readOnly: true
          type: array
      type: object
    ExternalBillingAccountProperties:
      description: The properties of a ExternalBillingAccount
      properties:
        collectionInfo:
          $ref: '#/components/schemas/ConnectorCollectionInfo'
          description: Collection information
          nullable: true
          readOnly: true
        connectorId:
          description: Underlying ConnectorId
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        displayName:
          description: ExternalBillingAccount DisplayName
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        providerBillingAccountId:
          description: Provider BillingAccountId (eg AWS Consolidated Account number)
          readOnly: true
          type: string
          x-ms-mutability:
            - read
      type: object
    ExternalSubscriptionDefinition:
      description: The ExternalSubscription model definition
      properties:
        id:
          description: ExternalSubscription id
          readOnly: true
          type: string
        kind:
          description: ExternalSubscription kind (eg aws)
          readOnly: true
          type: string
        name:
          description: ExternalSubscription name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ExternalSubscriptionProperties'
          description: ExternalSubscription properties
          x-ms-client-flatten: true
        type:
          description: ExternalSubscription type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ExternalSubscriptionDefinitionListResult:
      description: >-
        Result of listing ExternalSubscription definitions. It contains a list
        of available ExternalSubscription definitions in the scope provided.
      properties:
        value:
          description: The list of ExternalSubscription definitions.
          items:
            $ref: '#/components/schemas/ExternalSubscriptionDefinition'
          readOnly: true
          type: array
      type: object
    ExternalSubscriptionIdListRequest:
      description: The list of ExternalSubscriptionIds operation request.
      properties:
        value:
          description: The list of ExternalSubscriptionIds.
          items:
            type: string
          type: array
      type: object
    ExternalSubscriptionProperties:
      description: The properties of a ExternalSubscription
      properties:
        collectionInfo:
          $ref: '#/components/schemas/ConnectorCollectionInfo'
          description: Collection information
          nullable: true
          readOnly: true
        displayName:
          description: ExternalSubscription DisplayName
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        externalBillingAccountId:
          description: Parent ExternalBillingAccountId
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        managementGroupId:
          description: Assigned ManagementGroupId
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        providerAccountId:
          description: Provider AccountId (eg AWS Linked Account number)
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        providerBillingAccountId:
          description: Provider BillingAccountId (eg AWS Consolidated Account number)
          readOnly: true
          type: string
          x-ms-mutability:
            - read
      type: object
    Markup:
      description: The Markup model definition
      properties:
        percentage:
          type: string
      type: object
    Operation:
      description: A Cost management REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.CostManagement.'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: Dimensions, Query.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of listing cost management operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of cost management operations supported by the
            Microsoft.CostManagement resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    Query:
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/QueryProperties'
          title: Query properties
          x-ms-client-flatten: true
      type: object
    QueryColumn:
      properties:
        name:
          type: string
        type:
          type: string
      type: object
    QueryProperties:
      properties:
        columns:
          description: Array of columns
          items:
            $ref: '#/components/schemas/QueryColumn'
          type: array
        nextLink:
          type: string
        rows:
          items:
            items: {}
            type: array
          type: array
      type: object
    QueryResult:
      description: >-
        Result of query. It contains all columns listed under groupings and
        aggregation.
      properties:
        value:
          description: The list of usage data.
          items:
            $ref: '#/components/schemas/Query'
          readOnly: true
          type: array
      type: object
    ReportConfigAggregation:
      description: The aggregation expression to be used in the report.
      properties:
        function:
          description: The name of the aggregation function to use.
          enum:
            - Sum
          type: string
          x-ms-enum:
            modelAsString: true
            name: FunctionType
        name:
          description: The name of the column to aggregate.
          type: string
      required:
        - name
        - function
      type: object
    ReportConfigColumnType:
      description: The type of the column in the report.
      enum:
        - Tag
        - Dimension
      type: string
      x-ms-enum:
        modelAsString: true
        name: ReportConfigColumnType
    ReportConfigComparisonExpression:
      description: The comparison expression to be used in the report.
      properties:
        name:
          description: The name of the column to use in comparison.
          type: string
        operator:
          description: The operator to use for comparison.
          enum:
            - In
            - Contains
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        values:
          description: Array of values to use for comparison
          items:
            type: string
          minItems: 1
          type: array
      required:
        - name
        - operator
        - values
      type: object
    ReportConfigDataset:
      description: The definition of data present in the report.
      properties:
        aggregation:
          additionalProperties:
            $ref: '#/components/schemas/ReportConfigAggregation'
            type: object
          description: >-
            Dictionary of aggregation expression to use in the report. The key
            of each item in the dictionary is the alias for the aggregated
            column. Report can have up to 2 aggregation clauses.
          maxItems: 2
          type: object
        configuration:
          $ref: '#/components/schemas/ReportConfigDatasetConfiguration'
          description: >-
            Has configuration information for the data in the report. The
            configuration will be ignored if aggregation and grouping are
            provided.
        filter:
          $ref: '#/components/schemas/ReportConfigFilter'
          description: Has filter expression to use in the report.
          type: object
        granularity:
          description: The granularity of rows in the report.
          enum:
            - Daily
            - Monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: GranularityType
        grouping:
          description: >-
            Array of group by expression to use in the report. Report can have
            up to 2 group by clauses.
          items:
            $ref: '#/components/schemas/ReportConfigGrouping'
          maxItems: 2
          type: array
        sorting:
          description: Array of order by expression to use in the report.
          items:
            $ref: '#/components/schemas/ReportConfigSorting'
          type: array
      type: object
    ReportConfigDatasetConfiguration:
      description: The configuration of dataset in the report.
      properties:
        columns:
          description: >-
            Array of column names to be included in the report. Any valid report
            column name is allowed. If not provided, then report includes all
            columns.
          items:
            type: string
          type: array
      type: object
    ReportConfigDefinition:
      description: The definition of a report config.
      properties:
        dataset:
          $ref: '#/components/schemas/ReportConfigDataset'
          description: Has definition for data in this report config.
        timePeriod:
          $ref: '#/components/schemas/ReportConfigTimePeriod'
          description: Has time period for pulling data for the report.
        timeframe:
          description: >-
            The time frame for pulling data for the report. If custom, then a
            specific time period must be provided.
          enum:
            - WeekToDate
            - MonthToDate
            - YearToDate
            - Custom
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeframeType
        type:
          description: >-
            The type of the report. Usage represents actual usage, forecast
            represents forecasted data and UsageAndForecast represents both
            usage and forecasted data. Actual usage and forecasted data can be
            differentiated based on dates.
          enum:
            - Usage
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReportType
      required:
        - type
        - timeframe
      type: object
    ReportConfigFilter:
      description: The filter expression to be used in the report.
      properties:
        and:
          description: The logical "AND" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          type: array
        dimension:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
          description: Has comparison expression for a dimension
        not:
          $ref: '#/components/schemas/ReportConfigFilter'
          description: The logical "NOT" expression.
        or:
          description: The logical "OR" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          type: array
        tag:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
          description: Has comparison expression for a tag
      type: object
    ReportConfigGrouping:
      description: The group by expression to be used in the report.
      properties:
        name:
          description: >-
            The name of the column to group. This version supports subscription
            lowest possible grain.
          type: string
        type:
          $ref: '#/components/schemas/ReportConfigColumnType'
          description: Has type of the column to group.
      required:
        - type
        - name
      type: object
    ReportConfigSorting:
      description: The order by expression to be used in the report.
      properties:
        direction:
          description: Direction of sort.
          enum:
            - Ascending
            - Descending
          type: string
        name:
          description: The name of the column to sort.
          type: string
      required:
        - name
      type: object
    ReportConfigTimePeriod:
      description: The start and end date for pulling data for the report.
      properties:
        from:
          description: The start date to pull data from.
          format: date-time
          type: string
        to:
          description: The end date to pull data to.
          format: date-time
          type: string
      required:
        - from
        - to
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          type: object
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Scope:
      description: The Scope model definition
      properties:
        childScope:
          $ref: '#/components/schemas/Scope'
        id:
          description: Scope id
          type: string
        name:
          description: Scope name
          type: string
        type:
          description: Scope type
          type: string
      type: object
    ShowbackRule:
      description: The showback rule model definition
      properties:
        id:
          description: Rule id
          readOnly: true
          type: string
        name:
          description: Rule name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ShowbackRuleProperties'
          description: Showback rule properties
          x-ms-client-flatten: true
        type:
          description: Rule type
          readOnly: true
          type: string
      type: object
    ShowbackRuleListResult:
      description: >-
        Result of listing showback rules. It contains a list of available rules
        in the scope provided.
      properties:
        value:
          description: The list of showback rules.
          items:
            $ref: '#/components/schemas/ShowbackRule'
          readOnly: true
          type: array
      type: object
    ShowbackRuleProperties:
      description: The properties of a showback rule.
      discriminator:
        propertyName: ruleType
      properties:
        creationTime:
          description: The time when the showback rule was created.
          format: date-time
          readOnly: true
          type: string
        deprecationTime:
          description: The current time when showback rule was deprecate.
          format: date-time
          readOnly: true
          type: string
        description:
          description: Description of a showback rule.
          type: string
        modificationTime:
          description: The current status when showback rule was modified.
          format: date-time
          readOnly: true
          type: string
        ruleType:
          description: The rule type of the showback rule solution.
          enum:
            - CustomPrice
            - CostAllocation
          type: string
          x-ms-enum:
            modelAsString: true
            name: RuleType
        scopes:
          description: List of authorized assigned scopes.
          items:
            $ref: '#/components/schemas/Scope'
          type: array
        status:
          description: The current status of the showback rule.
          enum:
            - NotActive
            - Active
          type: string
          x-ms-enum:
            modelAsString: true
            name: ShowbackRuleStatus
        version:
          description: The current version of showback rule.
          readOnly: true
          type: integer
      required:
        - ruleType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

