openapi: 3.0.0
info:
  description: Specification for ManagedServices.
  title: ManagedServicesClient
  version: '2019-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions:
    get:
      parameters:
        - $ref: '#/components/parameters/Filter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceRegistrationDefinitionList'
          description: OK - Returns a list of the marketplace registration definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MarketplaceRegistrationDefinitions
      description: >-
        Gets a list of the marketplace registration definitions for the
        marketplace identifier.
      operationId: MarketplaceRegistrationDefinitionsWithoutScope_List
      x-ms-examples:
        Get Marketplace Registration Definitions At Tenant Scope:
          $ref: ./examples/GetMarketplaceRegistrationDefinitionsAtTenantScope.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions/{marketplaceIdentifier}':
    get:
      parameters:
        - $ref: '#/components/parameters/MarketplaceIdentifier'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceRegistrationDefinition'
          description: OK - Returns the details of the marketplace registration definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MarketplaceRegistrationDefinitions
      description: >-
        Get the marketplace registration definition for the marketplace
        identifier.
      operationId: MarketplaceRegistrationDefinitionsWithoutScope_Get
      x-ms-examples:
        Get Marketplace Registration Definition At Tenant Scope:
          $ref: ./examples/GetMarketplaceRegistrationDefinitionAtTenantScope.json
  /providers/Microsoft.ManagedServices/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK - Returns a list of operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Gets a list of the operations.
      operationId: Operations_List
      x-ms-examples:
        Get Registration Operations:
          $ref: ./examples/GetOperations.json
  '/{scope}/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions':
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/Filter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceRegistrationDefinitionList'
          description: OK - Returns a list of the marketplace registration definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MarketplaceRegistrationDefinitions
      description: >-
        Gets a list of the marketplace registration definitions for the
        marketplace identifier.
      operationId: MarketplaceRegistrationDefinitions_List
      x-ms-examples:
        Get Registration Definitions:
          $ref: ./examples/GetMarketplaceRegistrationDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions/{marketplaceIdentifier}':
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/MarketplaceIdentifier'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceRegistrationDefinition'
          description: OK - Returns the details of the marketplace registration definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - MarketplaceRegistrationDefinitions
      description: >-
        Get the marketplace registration definition for the marketplace
        identifier.
      operationId: MarketplaceRegistrationDefinitions_Get
      x-ms-examples:
        Get Registration Definitions:
          $ref: ./examples/GetMarketplaceRegistrationDefinition.json
  '/{scope}/providers/Microsoft.ManagedServices/registrationAssignments':
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/ExpandRegistrationDefinition'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationAssignmentList'
          description: OK - Returns a list of the registration assignments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationAssignments
      description: Gets a list of the registration assignments.
      operationId: RegistrationAssignments_List
      x-ms-examples:
        Get Registration Assignments:
          $ref: ./examples/GetRegistrationAssignments.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.ManagedServices/registrationAssignments/{registrationAssignmentId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/RegistrationAssignmentIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - The registration assignment is deleted.
        '202':
          description: >-
            Accepted - The registration assignment deletion operation is
            accepted.
        '204':
          description: No Content- The registration assignment does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationAssignments
      description: Deletes the specified registration assignment.
      operationId: RegistrationAssignments_Delete
      x-ms-examples:
        Delete Registration Assignment:
          $ref: ./examples/DeleteRegistrationAssignment.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/RegistrationAssignmentIdParameter'
        - $ref: '#/components/parameters/ExpandRegistrationDefinition'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationAssignment'
          description: OK - Returns the registration assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationAssignments
      description: Gets the details of specified registration assignment.
      operationId: RegistrationAssignments_Get
      x-ms-examples:
        Get Registration Assignment:
          $ref: ./examples/GetRegistrationAssignment.json
    put:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/RegistrationAssignmentIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationAssignment'
          description: Ok - Returns information about the updated registration assignment.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationAssignment'
          description: >-
            Created - Returns information about the created registration
            assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationAssignments
      description: Creates or updates a registration assignment.
      operationId: RegistrationAssignments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationAssignment'
        description: The parameters required to create new registration assignment.
        required: true
      x-ms-examples:
        Put Registration Assignment:
          $ref: ./examples/PutRegistrationAssignment.json
      x-ms-long-running-operation: true
  '/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions':
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationDefinitionList'
          description: OK - Returns a list of the registration definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationDefinitions
      description: Gets a list of the registration definitions.
      operationId: RegistrationDefinitions_List
      x-ms-examples:
        Get Registration Definitions:
          $ref: ./examples/GetRegistrationDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions/{registrationDefinitionId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/registrationDefinitionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
      responses:
        '200':
          description: OK - The registration definition is deleted.
        '204':
          description: No Content- The registration definition does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationDefinitions
      description: Deletes the registration definition.
      operationId: RegistrationDefinitions_Delete
      x-ms-examples:
        Delete Registration Definition:
          $ref: ./examples/DeleteRegistrationDefinition.json
    get:
      parameters:
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/registrationDefinitionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationDefinition'
          description: OK - Returns the complete registration definition with plan details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationDefinitions
      description: Gets the registration definition details.
      operationId: RegistrationDefinitions_Get
      x-ms-examples:
        Get Registration Definition:
          $ref: ./examples/GetRegistrationDefinition.json
    put:
      parameters:
        - $ref: '#/components/parameters/registrationDefinitionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationDefinition'
          description: Ok - Returns information about the updated registration definition.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationDefinition'
          description: >-
            Created - Returns information about the created registration
            definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - RegistrationDefinitions
      description: Creates or updates a registration definition.
      operationId: RegistrationDefinitions_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationDefinition'
        description: The parameters required to create new registration definition.
        required: true
      x-ms-examples:
        Put Registration Definition:
          $ref: ./examples/PutRegistrationDefinition.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ExpandRegistrationDefinition:
      description: >-
        Tells whether to return registration definition details also along with
        registration assignment details.
      in: query
      name: $expandRegistrationDefinition
      schema:
        type: boolean
      x-ms-parameter-location: method
    Filter:
      description: >-
        The filter query parameter. Might be used to filter marketplace
        registration definition by plan identifier, publisher, version etc.
      in: query
      name: $filter
      schema:
        type: string
      x-ms-parameter-location: method
    MarketplaceIdentifier:
      description: >-
        Market place identifier. Expected Formats -
        {publisher}.{product[-preview]}.{planName}.{version} or
        {publisher}.{product[-preview]}.{planName} or
        {publisher}.{product[-preview]} or {publisher}).
      in: path
      name: marketplaceIdentifier
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    RegistrationAssignmentIdParameter:
      description: Guid of the registration assignment.
      in: path
      name: registrationAssignmentId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ScopeParameter:
      allowReserved: true
      description: Scope of the resource.
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    registrationDefinitionIdParameter:
      description: Guid of the registration definition.
      in: path
      name: registrationDefinitionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Authorization:
      description: >-
        Authorization tuple containing principal Id (of user/service
        principal/security group) and role definition id.
      properties:
        delegatedRoleDefinitionIds:
          description: >-
            The delegatedRoleDefinitionIds field is required when the
            roleDefinitionId refers to the User Access Administrator Role. It is
            the list of role definition ids which define all the permissions
            that the user in the authorization can assign to other security
            groups/service principals/users.
          items:
            format: uuid
            type: string
          type: array
        principalId:
          description: >-
            Principal Id of the security group/service principal/user that would
            be assigned permissions to the projected subscription
          type: string
        principalIdDisplayName:
          description: Display name of the principal Id.
          type: string
        roleDefinitionId:
          description: >-
            The role definition identifier. This role will define all the
            permissions that the security group/service principal/user must have
            on the projected subscription. This role cannot be an owner role.
          type: string
      required:
        - principalId
        - roleDefinitionId
      type: object
    ErrorDefinition:
      description: >-
        Error response indicates Azure Resource Manager is not able to process
        the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        details:
          description: Internal error details.
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          type: array
        message:
          description: Error message indicating why the operation failed.
          type: string
      required:
        - code
        - message
      type: object
    ErrorResponse:
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
          type: object
      type: object
    MarketplaceRegistrationDefinition:
      properties:
        id:
          description: Fully qualified path of the marketplace registration definition.
          readOnly: true
          type: string
        name:
          description: Name of the marketplace registration definition.
          readOnly: true
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
          description: Plan details for the managed services.
        properties:
          $ref: '#/components/schemas/MarketplaceRegistrationDefinitionProperties'
          description: Properties of a marketplace registration definition.
        type:
          description: Type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    MarketplaceRegistrationDefinitionList:
      description: List of marketplace registration definitions.
      properties:
        nextLink:
          description: Link to next page of marketplace registration definitions.
          readOnly: true
          type: string
        value:
          description: List of marketplace registration definitions.
          items:
            $ref: '#/components/schemas/MarketplaceRegistrationDefinition'
          readOnly: true
          type: array
      type: object
    MarketplaceRegistrationDefinitionProperties:
      description: Properties of a marketplace registration definition.
      properties:
        authorizations:
          description: >-
            Authorization tuple containing principal id of the user/security
            group or service principal and id of the build-in role.
          items:
            $ref: '#/components/schemas/Authorization'
          type: array
        managedByTenantId:
          description: Id of the managedBy tenant.
          type: string
        offerDisplayName:
          description: The marketplace offer display name.
          type: string
        planDisplayName:
          description: The marketplace plan display name.
          type: string
        publisherDisplayName:
          description: The marketplace publisher display name.
          type: string
      required:
        - managedByTenantId
        - authorizations
      type: object
    Operation:
      description: Object that describes a single Microsoft.ManagedServices operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            description:
              description: Description of the operation.
              type: string
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.ManagedServices'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: Registration
                definition, registration assignment etc.
              type: string
          readOnly: true
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          readOnly: true
          type: string
      type: object
    OperationList:
      description: List of the operations.
      properties:
        value:
          description: List of Microsoft.ManagedServices operations.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    Plan:
      description: Plan details for the managed services.
      properties:
        name:
          description: The plan name.
          type: string
        product:
          description: The product code.
          type: string
        publisher:
          description: The publisher ID.
          type: string
        version:
          description: The plan's version.
          type: string
      required:
        - name
        - publisher
        - product
        - version
      type: object
    RegistrationAssignment:
      description: Registration assignment.
      properties:
        id:
          description: The fully qualified path of the registration assignment.
          readOnly: true
          type: string
        name:
          description: Name of the registration assignment.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RegistrationAssignmentProperties'
          description: Properties of a registration assignment.
        type:
          description: Type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RegistrationAssignmentList:
      description: List of registration assignments.
      properties:
        nextLink:
          description: Link to next page of registration assignments.
          readOnly: true
          type: string
        value:
          description: List of registration assignments.
          items:
            $ref: '#/components/schemas/RegistrationAssignment'
          readOnly: true
          type: array
      type: object
    RegistrationAssignmentProperties:
      description: Properties of a registration assignment.
      properties:
        provisioningState:
          description: Current state of the registration assignment.
          enum:
            - NotSpecified
            - Accepted
            - Running
            - Ready
            - Creating
            - Created
            - Deleting
            - Deleted
            - Canceled
            - Failed
            - Succeeded
            - Updating
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        registrationDefinition:
          description: Registration definition inside registration assignment.
          properties:
            id:
              description: Fully qualified path of the registration definition.
              readOnly: true
              type: string
            name:
              description: Name of the registration definition.
              readOnly: true
              type: string
            plan:
              $ref: '#/components/schemas/Plan'
              description: Plan details for the managed services.
            properties:
              description: >-
                Properties of registration definition inside registration
                assignment.
              properties:
                authorizations:
                  description: >-
                    Authorization tuple containing principal id of the
                    user/security group or service principal and id of the
                    build-in role.
                  items:
                    $ref: '#/components/schemas/Authorization'
                  type: array
                description:
                  description: Description of the registration definition.
                  type: string
                managedByTenantId:
                  description: Id of the managedBy tenant.
                  type: string
                managedByTenantName:
                  description: Name of the managedBy tenant.
                  type: string
                manageeTenantId:
                  description: Id of the home tenant.
                  type: string
                manageeTenantName:
                  description: Name of the home tenant.
                  type: string
                provisioningState:
                  description: Current state of the registration definition.
                  enum:
                    - NotSpecified
                    - Accepted
                    - Running
                    - Ready
                    - Creating
                    - Created
                    - Deleting
                    - Deleted
                    - Canceled
                    - Failed
                    - Succeeded
                    - Updating
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ProvisioningState
                registrationDefinitionName:
                  description: Name of the registration definition.
                  type: string
            type:
              description: >-
                Type of the resource
                (Microsoft.ManagedServices/registrationDefinitions).
              readOnly: true
              type: string
          readOnly: true
          type: object
        registrationDefinitionId:
          description: Fully qualified path of the registration definition.
          type: string
      required:
        - registrationDefinitionId
      type: object
    RegistrationDefinition:
      description: Registration definition.
      properties:
        id:
          description: Fully qualified path of the registration definition.
          readOnly: true
          type: string
        name:
          description: Name of the registration definition.
          readOnly: true
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
          description: Plan details for the managed services.
        properties:
          $ref: '#/components/schemas/RegistrationDefinitionProperties'
          description: Properties of a registration definition.
        type:
          description: Type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RegistrationDefinitionList:
      description: List of registration definitions.
      properties:
        nextLink:
          description: Link to next page of registration definitions.
          readOnly: true
          type: string
        value:
          description: List of registration definitions.
          items:
            $ref: '#/components/schemas/RegistrationDefinition'
          readOnly: true
          type: array
      type: object
    RegistrationDefinitionProperties:
      description: Properties of a registration definition.
      properties:
        authorizations:
          description: >-
            Authorization tuple containing principal id of the user/security
            group or service principal and id of the build-in role.
          items:
            $ref: '#/components/schemas/Authorization'
          type: array
        description:
          description: Description of the registration definition.
          type: string
        managedByTenantId:
          description: Id of the managedBy tenant.
          type: string
        managedByTenantName:
          description: Name of the managedBy tenant.
          readOnly: true
          type: string
        provisioningState:
          description: Current state of the registration definition.
          enum:
            - NotSpecified
            - Accepted
            - Running
            - Ready
            - Creating
            - Created
            - Deleting
            - Deleted
            - Canceled
            - Failed
            - Succeeded
            - Updating
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        registrationDefinitionName:
          description: Name of the registration definition.
          type: string
      required:
        - managedByTenantId
        - authorizations
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

