openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2015-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Security/operations:
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Exposes all available operations for discovery purposes.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    Operation:
      description: Possible operation in the REST API of Microsoft.Security
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: Name of the operation
          readOnly: true
          type: string
        origin:
          description: Where the operation is originated
          readOnly: true
          type: string
      type: object
    OperationDisplay:
      description: Security operation display
      properties:
        description:
          description: The description of the operation.
          readOnly: true
          type: string
        operation:
          description: The display name of the security operation.
          readOnly: true
          type: string
        provider:
          description: The resource provider for the operation.
          readOnly: true
          type: string
        resource:
          description: The display name of the resource the operation applies to.
          readOnly: true
          type: string
      type: object
    OperationList:
      description: List of possible operations for Microsoft.Security resource provider
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of Security operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

