openapi: 3.0.0
info:
  description: REST API for Azure VirtualWAN As a Service.
  title: VirtualWANAsAServiceManagementClient
  version: '2018-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualHubsResult'
          description: >-
            Request successful. Returns the details of all the VirtualHubs in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VirtualHubs in a subscription.
      operationId: VirtualHubs_List
      x-ms-examples:
        VirtualHubList:
          $ref: ./examples/VirtualHubList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualWANsResult'
          description: >-
            Request successful. Returns the details of all the VirtualWANs in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VirtualWANs in a subscription.
      operationId: VirtualWANs_List
      x-ms-examples:
        VirtualWANList:
          $ref: ./examples/VirtualWANList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnGatewaysResult'
          description: >-
            Request successful. Returns the details of all the VpnGateways in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VpnGateways in a subscription.
      operationId: VpnGateways_List
      x-ms-examples:
        VpnGatewayListBySubscription:
          $ref: ./examples/VpnGatewayList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSitesResult'
          description: >-
            Request successful. Returns the details of all the VpnSites in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VpnSites in a subscription.
      operationId: VpnSites_List
      x-ms-examples:
        VpnSiteList:
          $ref: ./examples/VpnSiteList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualHubsResult'
          description: >-
            Request successful. Returns the details of all the VirtualHubs in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VirtualHubs in a resource group.
      operationId: VirtualHubs_ListByResourceGroup
      x-ms-examples:
        VirtualHubListByResourceGroup:
          $ref: ./examples/VirtualHubListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. VirtualHub deleted.
        '202':
          description: >-
            Request received successfully. VirtualHub deletion is in progress;
            follow the Location header to poll for final outcome.
        '204':
          description: No VirtualHubs exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Deletes a VirtualHub.
      operationId: VirtualHubs_Delete
      x-ms-examples:
        VirtualHubDelete:
          $ref: ./examples/VirtualHubDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of a VirtualHub.
      operationId: VirtualHubs_Get
      x-ms-examples:
        VirtualHubGet:
          $ref: ./examples/VirtualHubGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: >-
            Request received successfully. Returns the details of the VirtualHub
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      tags:
        - VirtualWANs
      description: Updates VirtualHub tags.
      operationId: VirtualHubs_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update VirtualHub tags.
        required: true
      x-ms-examples:
        VirtualHubUpdate:
          $ref: ./examples/VirtualHubUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: >-
            Request successful. Returns the details of the VirtualHub created or
            updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: >-
            Request received successfully. Returns the details of the VirtualHub
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: >-
        Creates a VirtualHub resource if it doesn't exist else updates the
        existing VirtualHub.
      operationId: VirtualHubs_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualHub'
        description: Parameters supplied to create or update VirtualHub.
        required: true
      x-ms-examples:
        VirtualHubPut:
          $ref: ./examples/VirtualHubPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHubVirtualNetworkConnectionsResult'
          description: >-
            Request successful. Returns the details of all the
            HubVirtualNetworkConnections for the VirtualHub.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of all HubVirtualNetworkConnections.
      operationId: HubVirtualNetworkConnections_List
      x-ms-examples:
        HubVirtualNetworkConnectionList:
          $ref: ./examples/HubVirtualNetworkConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections/{connectionName}':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubVirtualNetworkConnection'
          description: >-
            Request successful. Returns the details of the
            HubVirtualNetworkConnection retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of a HubVirtualNetworkConnection.
      operationId: HubVirtualNetworkConnections_Get
      x-ms-examples:
        HubVirtualNetworkConnectionGet:
          $ref: ./examples/HubVirtualNetworkConnectionGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualWANsResult'
          description: >-
            Request successful. Returns the details of all the VirtualWANs in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VirtualWANs in a resource group.
      operationId: VirtualWANs_ListByResourceGroup
      x-ms-examples:
        VirtualWANListByResourceGroup:
          $ref: ./examples/VirtualWANListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being deleted.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. VirtualWAN deleted.
        '202':
          description: >-
            Request received successfully. VirtualWAN deletion is in progress;
            follow the Location header to poll for final outcome.
        '204':
          description: No VirtualWANs exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Deletes a VirtualWAN.
      operationId: VirtualWANs_Delete
      x-ms-examples:
        VirtualWANDelete:
          $ref: ./examples/VirtualWANDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being retrieved.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of a VirtualWAN.
      operationId: VirtualWANs_Get
      x-ms-examples:
        VirtualWANGet:
          $ref: ./examples/VirtualWANGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being updated.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: >-
            Request received successfully. Returns the details of the VirtualWAN
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      tags:
        - VirtualWANs
      description: Updates a VirtualWAN tags.
      operationId: VirtualWANs_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to Update VirtualWAN tags.
        required: true
      x-ms-examples:
        VirtualWANUpdate:
          $ref: ./examples/VirtualWANUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being created or updated.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: >-
            Request successful. Returns the details of the VirtualWAN created or
            updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: >-
            Create successful. The operation returns the resulting VirtualWAN
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: >-
        Creates a VirtualWAN resource if it doesn't exist else updates the
        existing VirtualWAN.
      operationId: VirtualWANs_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualWAN'
        description: Parameters supplied to create or update VirtualWAN.
        required: true
      x-ms-examples:
        VirtualWANCreate:
          $ref: ./examples/VirtualWANPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnConfiguration':
    post:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: >-
            The name of the VirtualWAN for which configuration of all vpn-sites
            is needed.
          in: path
          name: virtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: >-
            Request successful. Follow the location header for sas-url to output
            blob.
        '202':
          description: >-
            Accepted and the operation will complete asynchronously. Follow the
            location header for sas-url to output blob.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: >-
        Gives the sas-url to download the configurations for vpn-sites in a
        resource group.
      operationId: VpnSitesConfiguration_Download
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVpnSitesConfigurationRequest'
        description: Parameters supplied to download vpn-sites configuration.
        required: true
      x-ms-examples:
        VpnSitesConfigurationDownload:
          $ref: ./examples/VpnSitesConfigurationDownload.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnGatewaysResult'
          description: >-
            Request successful. Returns the details of all the VpnGateways in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the VpnGateways in a resource group.
      operationId: VpnGateways_ListByResourceGroup
      x-ms-examples:
        VpnGatewayListByResourceGroup:
          $ref: ./examples/VpnGatewayListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Vpn Gateway deleted.
        '202':
          description: >-
            Request received successfully. Vpn Gateway deletion is in progress;
            follow the Location header to poll for final outcome.
        '204':
          description: No vpn gateways exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Deletes a virtual wan vpn gateway.
      operationId: VpnGateways_Delete
      x-ms-examples:
        VpnGatewayDelete:
          $ref: ./examples/VpnGatewayDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan vpn
            gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of a virtual wan vpn gateway.
      operationId: VpnGateways_Get
      x-ms-examples:
        VpnGatewayGet:
          $ref: ./examples/VpnGatewayGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: Request successful. Returns the details of the updated gateway.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request received successfully. Returns the details of the updated
            gateway.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      tags:
        - VpnGateways
      description: Updates virtual wan vpn gateway tags.
      operationId: VpnGateways_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update a virtual wan vpn gateway tags.
        required: true
      x-ms-examples:
        VpnGatewayUpdate:
          $ref: ./examples/VpnGatewayUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan vpn
            Gateway created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan vpn
            gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: >-
        Creates a virtual wan vpn gateway if it doesn't exist else updates the
        existing gateway.
      operationId: VpnGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnGateway'
        description: Parameters supplied to create or Update a virtual wan vpn gateway.
        required: true
      x-ms-examples:
        VpnGatewayPut:
          $ref: ./examples/VpnGatewayPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnConnectionsResult'
          description: >-
            Request successful. Returns all Vpn connections for a virtual wan
            vpn gateway.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves all vpn connections for a particular virtual wan vpn gateway.
      operationId: VpnConnections_ListByVpnGateway
      x-ms-examples:
        VpnConnectionList:
          $ref: ./examples/VpnConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Vpn Connection deleted.
        '202':
          description: >-
            Request received successfully. Vpn Connection deletion is in
            progress; follow the Location header to poll for final outcome.
        '204':
          description: No vpn connections exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Deletes a vpn connection.
      operationId: VpnConnections_Delete
      x-ms-examples:
        VpnConnectionDelete:
          $ref: ./examples/VpnConnectionDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnConnection'
          description: Request successful. Returns the details of the vpn connection.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of a vpn connection.
      operationId: VpnConnections_Get
      x-ms-examples:
        VpnConnectionGet:
          $ref: ./examples/VpnConnectionGet.json
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnConnection'
          description: >-
            Request successful. Returns the details of the vpn connection
            created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnConnection'
          description: >-
            Request successful. Returns the details of the vpn connection
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: >-
        Creates a vpn connection to a scalable vpn gateway if it doesn't exist
        else updates the existing connection.
      operationId: VpnConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnConnection'
        description: Parameters supplied to create or Update a VPN Connection.
        required: true
      x-ms-examples:
        VpnConnectionPut:
          $ref: ./examples/VpnConnectionPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSitesResult'
          description: >-
            Request successful. Returns the details of all the vpnSites in the
            resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Lists all the vpnSites in a resource group.
      operationId: VpnSites_ListByResourceGroup
      x-ms-examples:
        VpnSiteListByResourceGroup:
          $ref: ./examples/VpnSiteListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being deleted.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. VpnSite deleted.
        '202':
          description: Request received successfully. VpnSite deletion is in progress
        '204':
          description: No VpnSites exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Deletes a VpnSite.
      operationId: VpnSites_Delete
      x-ms-examples:
        VpnSiteDelete:
          $ref: ./examples/VpnSiteDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being retrieved.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: Request successful. Returns the details of the VpnSite retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: Retrieves the details of a VPN site.
      operationId: VpnSites_Get
      x-ms-examples:
        VpnSiteGet:
          $ref: ./examples/VpnSiteGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being updated.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: Request successful. Returns the details of the VpnSite updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: >-
            Request received successfully. Returns the details of the VpnSite
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      tags:
        - VpnSites
      description: Updates VpnSite tags.
      operationId: VpnSites_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update VpnSite tags.
        required: true
      x-ms-examples:
        VpnSiteUpdate:
          $ref: ./examples/VpnSiteUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being created or updated.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: >-
            Request successful. Returns the details of the VpnSite created or
            updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: >-
            Request received successfully. Returns the details of the VpnSite
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error
      description: >-
        Creates a VpnSite resource if it doesn't exist else updates the existing
        VpnSite.
      operationId: VpnSites_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnSite'
        description: Parameters supplied to create or update VpnSite.
        required: true
      x-ms-examples:
        VpnSiteCreate:
          $ref: ./examples/VpnSitePut.json
      x-ms-long-running-operation: true
components:
  schemas:
    DeviceProperties:
      description: List of properties of the device.
      properties:
        deviceModel:
          description: Model of the device.
          type: string
        deviceVendor:
          description: Name of the device Vendor.
          type: string
        linkSpeedInMbps:
          description: Link speed.
          format: int32
          type: integer
      type: object
    GetVpnSitesConfigurationRequest:
      description: List of Vpn-Sites
      properties:
        outputBlobSasUrl:
          description: The sas-url to download the configurations for vpn-sites
          type: string
        vpnSites:
          description: >-
            List of resource-ids of the vpn-sites for which config is to be
            downloaded.
          items:
            $ref: ./network.json#/definitions/SubResource
          type: array
      type: object
    HubVirtualNetworkConnection:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: HubVirtualNetworkConnection Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/HubVirtualNetworkConnectionProperties'
          x-ms-client-flatten: true
      type: object
    HubVirtualNetworkConnectionProperties:
      description: Parameters for HubVirtualNetworkConnection
      properties:
        allowHubToRemoteVnetTransit:
          description: VirtualHub to RemoteVnet transit to enabled or not.
          type: boolean
        allowRemoteVnetToUseHubVnetGateways:
          description: Allow RemoteVnet to use Virtual Hub's gateways.
          type: boolean
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the resource.
        remoteVirtualNetwork:
          $ref: ./network.json#/definitions/SubResource
          description: Reference to the remote virtual network.
      type: object
    HubVirtualNetworkConnectionStatus:
      description: The current state of the VirtualHub to vnet connection.
      enum:
        - Unknown
        - Connecting
        - Connected
        - NotConnected
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: HubVirtualNetworkConnectionStatus
    ListHubVirtualNetworkConnectionsResult:
      description: >-
        List of HubVirtualNetworkConnections and a URL nextLink to get the next
        set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of HubVirtualNetworkConnections.
          items:
            $ref: '#/components/schemas/HubVirtualNetworkConnection'
          type: array
      type: object
    ListVirtualHubsResult:
      description: >-
        Result of the request to list VirtualHubs. It contains a list of
        VirtualHubs and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VirtualHubs.
          items:
            $ref: '#/components/schemas/VirtualHub'
          type: array
      type: object
    ListVirtualWANsResult:
      description: >-
        Result of the request to list VirtualWANs. It contains a list of
        VirtualWANs and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VirtualWANs.
          items:
            $ref: '#/components/schemas/VirtualWAN'
          type: array
      type: object
    ListVpnConnectionsResult:
      description: >-
        Result of the request to list all vpn connections to a virtual wan vpn
        gateway. It contains a list of Vpn Connections and a URL nextLink to get
        the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of Vpn Connections.
          items:
            $ref: '#/components/schemas/VpnConnection'
          type: array
      type: object
    ListVpnGatewaysResult:
      description: >-
        Result of the request to list VpnGateways. It contains a list of
        VpnGateways and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VpnGateways.
          items:
            $ref: '#/components/schemas/VpnGateway'
          type: array
      type: object
    ListVpnSitesResult:
      description: >-
        Result of the request to list VpnSites. It contains a list of VpnSites
        and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VpnSites.
          items:
            $ref: '#/components/schemas/VpnSite'
          type: array
      type: object
    Policies:
      description: Policies for vpn gateway.
      properties:
        allowBranchToBranchTraffic:
          description: True if branch to branch traffic is allowed.
          type: boolean
        allowVnetToVnetTraffic:
          description: True if Vnet to Vnet traffic is allowed.
          type: boolean
      type: object
    ProvisioningState:
      description: The current provisioning state.
      enum:
        - Succeeded
        - Updating
        - Deleting
        - Failed
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    TunnelConnectionStatus:
      description: The current state of the tunnel.
      enum:
        - Unknown
        - Connecting
        - Connected
        - NotConnected
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: tunnelConnectionStatus
    VirtualHub:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: VirtualHub Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualHubProperties'
          x-ms-client-flatten: true
      required:
        - location
      type: object
    VirtualHubProperties:
      description: Parameters for VirtualHub
      properties:
        addressPrefix:
          description: Address-prefix for this VirtualHub.
          type: string
        hubVirtualNetworkConnections:
          description: list of all vnet connections with this VirtualHub.
          items:
            $ref: '#/components/schemas/HubVirtualNetworkConnection'
          type: array
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the resource.
        virtualWan:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualWAN to which the VirtualHub belongs
      type: object
    VirtualWAN:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: VirtualWAN Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualWanProperties'
          x-ms-client-flatten: true
      required:
        - location
      type: object
    VirtualWanProperties:
      description: Parameters for VirtualWAN
      properties:
        disableVpnEncryption:
          description: Vpn encryption to be disabled or not.
          type: boolean
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the resource.
        virtualHubs:
          description: List of VirtualHubs in the VirtualWAN.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        vpnSites:
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
      type: object
    VpnConnection:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VpnConnection Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/VpnConnectionProperties'
          x-ms-client-flatten: true
      type: object
    VpnConnectionProperties:
      description: Parameters for VpnConnection
      properties:
        connectionBandwidthInMbps:
          description: Expected bandwidth in MBPS.
          format: int32
          readOnly: true
          type: integer
        connectionStatus:
          $ref: '#/components/schemas/VpnConnectionStatus'
          description: The connection status.
        egressBytesTransferred:
          description: Egress bytes transferred.
          format: int64
          readOnly: true
          type: integer
        enableBgp:
          description: EnableBgp flag
          type: boolean
        ingressBytesTransferred:
          description: Ingress bytes transferred.
          format: int64
          readOnly: true
          type: integer
        ipsecPolicies:
          description: The IPSec Policies to be considered by this connection.
          items:
            $ref: ./virtualNetworkGateway.json#/definitions/IpsecPolicy
          type: array
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the resource.
        remoteVpnSite:
          $ref: ./network.json#/definitions/SubResource
          description: Id of the connected vpn site.
        routingWeight:
          description: routing weight for vpn connection.
          format: int32
          type: integer
        sharedKey:
          description: SharedKey for the vpn connection.
          type: string
      type: object
    VpnConnectionStatus:
      description: The current state of the vpn connection.
      enum:
        - Unknown
        - Connecting
        - Connected
        - NotConnected
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: vpnConnectionStatus
    VpnGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: VpnGateway Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VpnGatewayProperties'
          x-ms-client-flatten: true
      required:
        - location
      type: object
    VpnGatewayProperties:
      description: Parameters for VpnGateway
      properties:
        bgpSettings:
          $ref: ./virtualNetworkGateway.json#/definitions/BgpSettings
          description: Local network gateway's BGP speaker settings.
        connections:
          description: list of all vpn connections to the gateway.
          items:
            $ref: '#/components/schemas/VpnConnection'
          type: array
        policies:
          $ref: '#/components/schemas/Policies'
          description: The policies applied to this vpn gateway.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the resource.
        virtualHub:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualHub to which the gateway belongs
      type: object
    VpnSite:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: VpnSite Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VpnSiteProperties'
          x-ms-client-flatten: true
      required:
        - location
      type: object
    VpnSiteId:
      description: VpnSite Resource.
      properties:
        vpnSite:
          description: The resource-uri of the vpn-site for which config is to be fetched.
          readOnly: true
          type: string
      type: object
    VpnSiteProperties:
      description: Parameters for VpnSite
      properties:
        addressSpace:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: The AddressSpace that contains an array of IP address ranges.
        bgpProperties:
          $ref: ./virtualNetworkGateway.json#/definitions/BgpSettings
          description: The set of bgp properties.
        deviceProperties:
          $ref: '#/components/schemas/DeviceProperties'
          description: The device properties
        ipAddress:
          description: The ip-address for the vpn-site.
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the resource.
        siteKey:
          description: The key for vpn-site that can be used for connections.
          type: string
        virtualWAN:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualWAN to which the vpnSite belongs
      type: object
    access:
      description: Access to be allowed or denied.
      enum:
        - Allow
        - Deny
      type: string
      x-ms-enum:
        modelAsString: true
        name: access
    disableVpnEncryption:
      description: Vpn encryption to be disabled or not.
      type: boolean
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

