{
  "openapi": "3.0.0",
  "info": {
    "description": "Update run operation endpoints and objects.",
    "title": "UpdateAdminClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/update/Microsoft.Update.Admin/preview/2016-05-01/UpdateRuns.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns": {
      "get": {
        "parameters": [
          {
            "$ref": "Update.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "UpdateLocations.json#/components/parameters/UpdateLocationParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRunList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "UpdateRuns"
        ],
        "description": "Get the list of update runs.",
        "operationId": "UpdateRuns_ListTopLevel",
        "x-ms-examples": {
          "Get the list of update runs.": {
            "$ref": "./examples/UpdateRuns/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns/{runName}": {
      "get": {
        "parameters": [
          {
            "$ref": "Update.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "UpdateLocations.json#/components/parameters/UpdateLocationParameter"
          },
          {
            "$ref": "#/components/parameters/UpdateRunParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRun"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "UpdateRuns"
        ],
        "description": "Get an instance of update run using the ID.",
        "operationId": "UpdateRuns_GetTopLevel",
        "x-ms-examples": {
          "Get an update run.": {
            "$ref": "./examples/UpdateRuns/Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns": {
      "get": {
        "parameters": [
          {
            "$ref": "Update.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "UpdateLocations.json#/components/parameters/UpdateLocationParameter"
          },
          {
            "$ref": "Updates.json#/components/parameters/UpdateParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRunList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "UpdateRuns"
        ],
        "description": "Get the list of update runs.",
        "operationId": "UpdateRuns_List",
        "x-ms-examples": {
          "Get the list of update runs.": {
            "$ref": "./examples/UpdateRuns/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}": {
      "get": {
        "parameters": [
          {
            "$ref": "Update.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "UpdateLocations.json#/components/parameters/UpdateLocationParameter"
          },
          {
            "$ref": "Updates.json#/components/parameters/UpdateParameter"
          },
          {
            "$ref": "#/components/parameters/UpdateRunParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRun"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "UpdateRuns"
        ],
        "description": "Get an instance of update run using the ID.",
        "operationId": "UpdateRuns_Get",
        "x-ms-examples": {
          "Get an update run.": {
            "$ref": "./examples/UpdateRuns/Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}/rerun": {
      "post": {
        "parameters": [
          {
            "$ref": "Update.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "UpdateLocations.json#/components/parameters/UpdateLocationParameter"
          },
          {
            "$ref": "Updates.json#/components/parameters/UpdateParameter"
          },
          {
            "$ref": "#/components/parameters/UpdateRunParameter"
          },
          {
            "$ref": "Update.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "UpdateRuns"
        ],
        "description": "Resume a failed update.",
        "operationId": "UpdateRuns_Rerun",
        "x-ms-examples": {
          "Rerun an update.": {
            "$ref": "./examples/UpdateRuns/Rerun.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "UpdateRunParameter": {
        "description": "Update run identifier.",
        "in": "path",
        "name": "runName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Step": {
        "description": "Information about each step of the update process.",
        "properties": {
          "description": {
            "description": "Description of the step.",
            "type": "string"
          },
          "endTimeUtc": {
            "description": "Time at which this step stopped executing",
            "format": "date-time",
            "type": "string"
          },
          "errorMessage": {
            "description": "Error message, if any.",
            "type": "string"
          },
          "name": {
            "description": "Name of the step.",
            "type": "string"
          },
          "startTimeUtc": {
            "description": "Time at which this step started executing",
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "description": "State of the step.",
            "type": "string"
          },
          "steps": {
            "description": "Inner steps",
            "items": {
              "$ref": "#/components/schemas/Step"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "UpdateRun": {
        "allOf": [
          {
            "$ref": "Update.json#/definitions/Resource"
          }
        ],
        "description": "Representation of a update run resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/UpdateRunModel",
            "description": "Properties of a update run.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "UpdateRunList": {
        "description": "Pageable list of update runs.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of update runs.",
            "items": {
              "$ref": "#/components/schemas/UpdateRun"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "UpdateRunModel": {
        "description": "Properties of an update run.",
        "properties": {
          "duration": {
            "description": "Duration of the update.",
            "type": "string"
          },
          "progress": {
            "$ref": "#/components/schemas/Step",
            "description": "Current progress of the update run."
          },
          "state": {
            "$ref": "#/components/schemas/UpdateRunState",
            "description": "State of the update run."
          },
          "timeStarted": {
            "description": "Update start time.",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateRunState": {
        "description": "State of the update run.",
        "enum": [
          "Unknown",
          "Succeeded",
          "InProgress",
          "Failed"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "UpdateRunState"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}