{
  "openapi": "3.0.0",
  "info": {
    "description": "Virtual Network admin operation endpoints and objects.",
    "title": "NetworkAdminManagementClient",
    "version": "2015-06-15",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/VirtualNetworks.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminVirtualNetworks": {
      "get": {
        "parameters": [
          {
            "$ref": "Network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/FilterParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/OrderByParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/TopParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/SkipParameter"
          },
          {
            "$ref": "Network.json#/components/parameters/InlineCountParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworksList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "VirtualNetworks"
        ],
        "description": "Get a list of all virtual networks.",
        "operationId": "VirtualNetworks_List",
        "x-ms-examples": {
          "List of all virtual networks.": {
            "$ref": "./examples/VirtualNetworks/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/VirtualNetwork",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VirtualNetwork": {
        "allOf": [
          {
            "$ref": "Network.json#/definitions/Resource"
          }
        ],
        "description": "This represents a virtual network.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkProperties",
            "description": "Properties of a virtual network.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkConfigurationState": {
        "description": "The virtual network configuration state.",
        "properties": {
          "hostErrors": {
            "description": "List of NIC errors associated with the resource.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkConfigurationStatus"
            },
            "type": "array",
            "x-ms-identifiers": []
          },
          "lastUpdatedTime": {
            "description": "Last updated time for the running state.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "The virtual network status.",
            "enum": [
              "Failure",
              "Warning",
              "Success",
              "Uninitialized",
              "InProgress",
              "Unknown"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkConfigurationStateStatusType"
            }
          },
          "virtualNetworkInterfaceErrors": {
            "description": "List of NIC errors associated with the resource.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkConfigurationStatus"
            },
            "type": "array",
            "x-ms-identifiers": []
          }
        },
        "type": "object"
      },
      "VirtualNetworkConfigurationStatus": {
        "description": "Virtual network configuration status.",
        "properties": {
          "lastUpdatedTime": {
            "description": "Last updated time for the configuration status.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "The virtual network configuration status.",
            "enum": [
              "Failure",
              "Warning",
              "Success",
              "Uninitialized",
              "InProgress",
              "Unknown"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkConfigurationStatusType"
            }
          }
        },
        "type": "object"
      },
      "VirtualNetworkProperties": {
        "allOf": [
          {
            "$ref": "Network.json#/definitions/ProvisionedResource"
          },
          {
            "$ref": "Network.json#/definitions/TenantResource"
          }
        ],
        "description": "Properties of a virtual network.",
        "properties": {
          "configurationState": {
            "$ref": "#/components/schemas/VirtualNetworkConfigurationState",
            "description": "The virtual network configuration state."
          }
        },
        "type": "object"
      },
      "VirtualNetworksList": {
        "description": "Pageable list of virtual networks.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of virtual networks for this page.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetwork"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}