openapi: 3.0.0
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: '2019-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers':
    get:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainersList'
          description: OK
      tags:
        - FileContainers
      description: Returns an array of file containers.
      operationId: FileContainers_List
      x-ms-examples:
        Return file containers list.:
          $ref: ./examples/FileContainer/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/{fileContainerId}':
    delete:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/FileContainerIdParameter'
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - FileContainers
      description: Delete an existing file container.
      operationId: FileContainers_Delete
      summary: Deletes specified file container.
      x-ms-examples:
        Deletes specified file container.:
          $ref: examples/FileContainer/Delete.json
    get:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/FileContainerIdParameter'
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - FileContainers
      description: Retrieves the specific file container details.
      operationId: FileContainers_Get
      x-ms-examples:
        Return the file container details.:
          $ref: ./examples/FileContainer/Get.json
    put:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/FileContainerIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
          description: OK
        '202':
          description: Accepted
      tags:
        - FileContainers
      description: Creates a new file container.
      operationId: FileContainers_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileContainerParameters'
        description: The parameters required to create a new file container.
        required: true
      x-ms-examples:
        Creates a new file container.:
          $ref: ./examples/FileContainer/Create.json
      x-ms-long-running-operation: true
components:
  parameters:
    FileContainerIdParameter:
      description: The file container identifier.
      in: path
      name: fileContainerId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorInfo:
      description: Extended Error Information.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: The detailed error messages.
          items:
            $ref: '#/components/schemas/ErrorInfo'
          type: array
          x-ms-identifiers: []
        message:
          description: The error message.
          type: string
      type: object
    FileContainer:
      allOf:
        - $ref: Deployment.json#/definitions/Resource
      description: File container entity.
      properties:
        properties:
          $ref: '#/components/schemas/FileContainerAdminProperties'
          description: File Container properties
          x-ms-client-flatten: true
      type: object
    FileContainerAdminProperties:
      description: File Container Properties.
      properties:
        error:
          $ref: '#/components/schemas/ErrorInfo'
          description: The error response message.
        fileContainerId:
          $ref: '#/components/schemas/FileContainerId'
          description: File container resource identifier containing product manifest.
        postCopyAction:
          $ref: '#/components/schemas/PostCopyAction'
          description: Specifies the file post copy action.
        provisioningState:
          description: Provisioning state of the resource.
          type: string
        sourceUri:
          $ref: '#/components/schemas/SourceUri'
          description: >-
            The remote file location. This is write-only property, DRP never
            returns it back to a user.
        uri:
          description: >-
            The file or container Uri. This is read-only property; a user cannot
            set it.
          type: string
      type: object
    FileContainerBody:
      description: Body for creating a new file container.
      properties:
        postCopyAction:
          $ref: '#/components/schemas/PostCopyAction'
          description: Specifies the file post copy action.
        sourceUri:
          $ref: '#/components/schemas/SourceUri'
          description: Specifies The remote file location.
      type: object
    FileContainerId:
      description: File container resource identifier containing product manifest.
      type: string
    FileContainerParameters:
      description: Parameters for creating a new file container.
      properties:
        properties:
          $ref: '#/components/schemas/FileContainerBody'
          description: Specifies the file container body
      type: object
    FileContainersList:
      description: List of file containers.
      properties:
        nextLink:
          description: Continuation token.
          type: string
        value:
          description: List of file containers.
          items:
            $ref: '#/components/schemas/FileContainer'
          type: array
      type: object
    PostCopyAction:
      description: Specifies the file post copy action.
      enum:
        - None
        - Unzip
      type: string
      x-ms-enum:
        modelAsString: true
        name: PostCopyAction
    SourceUri:
      description: Specifies The remote file location.
      type: string
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

