openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2017-10-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The number of elements in the collection to skip.
          in: query
          name: $skip
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPoolListResult'
          description: Succeeded
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - ElasticPools
      description: Gets all elastic pools in a server.
      operationId: ElasticPools_ListByServer
      x-ms-examples:
        Get all elastic pools in a server:
          $ref: ./examples/ElasticPoolListByServer.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the elastic pool.
          in: path
          name: elasticPoolName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Deleted the elastic pool
        '202':
          description: Accepted
        '204':
          description: Elastic pool did not exist
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - ElasticPools
      description: Deletes an elastic pool.
      operationId: ElasticPools_Delete
      x-ms-examples:
        Delete an elastic pool:
          $ref: ./examples/ElasticPoolDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the elastic pool.
          in: path
          name: elasticPoolName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Succeeded
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - ElasticPools
      description: Gets an elastic pool.
      operationId: ElasticPools_Get
      x-ms-examples:
        Get an elastic pool:
          $ref: ./examples/ElasticPoolGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the elastic pool.
          in: path
          name: elasticPoolName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Updated the elastic pool
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidSkuName - Invalid SKU name.

             * 400 MismatchedSkuNameAndCapacity - Mismatch between SKU name and capacity.

             * 400 MismatchedSkuNameAndTier - Mismatch between SKU name and tier.

             * 400 MismatchedSkuNameAndFamily - Mismatch between SKU name and family.

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 405 NotSupported - This functionality is not supported.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDisabled - Server is disabled.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - ElasticPools
      description: Updates an elastic pool.
      operationId: ElasticPools_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElasticPoolUpdate'
        description: The elastic pool update parameters.
        required: true
      x-ms-examples:
        Update an elastic pool with all parameter:
          $ref: ./examples/ElasticPoolUpdateMax.json
        Update an elastic pool with minimum parameters:
          $ref: ./examples/ElasticPoolUpdateMin.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the elastic pool.
          in: path
          name: elasticPoolName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Updated the elastic pool
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Created the elastic pool
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidSkuName - Invalid SKU name.

             * 400 MismatchedSkuNameAndCapacity - Mismatch between SKU name and capacity.

             * 400 MismatchedSkuNameAndTier - Mismatch between SKU name and tier.

             * 400 MismatchedSkuNameAndFamily - Mismatch between SKU name and family.

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 405 NotSupported - This functionality is not supported.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDisabled - Server is disabled.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - ElasticPools
      description: Creates or updates an elastic pool.
      operationId: ElasticPools_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElasticPool'
        description: The elastic pool parameters.
        required: true
      x-ms-examples:
        Create or update elastic pool with all parameter:
          $ref: ./examples/ElasticPoolCreateOrUpdateMax.json
        Create or update elastic pool with minimum parameters:
          $ref: ./examples/ElasticPoolCreateOrUpdateMin.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ElasticPool:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/TrackedResource
      description: An elastic pool.
      properties:
        kind:
          description: >-
            Kind of elastic pool. This is metadata used for the Azure portal
            experience.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ElasticPoolProperties'
          description: Resource properties.
          x-ms-client-flatten: true
        sku:
          $ref: ../../../common/v1/types.json#/definitions/Sku
          description: "The elastic pool SKU.\r\n\r\nThe list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or the following command:\r\n\r\n```azurecli\r\naz sql elastic-pool list-editions -l <location> -o table\r\n````\r\n"
      required:
        - location
      type: object
    ElasticPoolListResult:
      description: The result of an elastic pool list request.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ElasticPool'
          readOnly: true
          type: array
      type: object
    ElasticPoolPerDatabaseSettings:
      description: Per database settings of an elastic pool.
      properties:
        maxCapacity:
          description: The maximum capacity any one database can consume.
          format: double
          type: number
        minCapacity:
          description: The minimum capacity all databases are guaranteed.
          format: double
          type: number
      type: object
    ElasticPoolProperties:
      description: Properties of an elastic pool
      properties:
        creationDate:
          description: The creation date of the elastic pool (ISO8601 format).
          format: date-time
          readOnly: true
          type: string
        licenseType:
          description: The license type to apply for this elastic pool.
          enum:
            - LicenseIncluded
            - BasePrice
          type: string
          x-ms-enum:
            modelAsString: true
            name: ElasticPoolLicenseType
        maxSizeBytes:
          description: The storage limit for the database elastic pool in bytes.
          format: int64
          type: integer
        perDatabaseSettings:
          $ref: '#/components/schemas/ElasticPoolPerDatabaseSettings'
          description: The per database settings for the elastic pool.
        state:
          description: The state of the elastic pool.
          enum:
            - Creating
            - Ready
            - Disabled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ElasticPoolState
        zoneRedundant:
          description: >-
            Whether or not this elastic pool is zone redundant, which means the
            replicas of this elastic pool will be spread across multiple
            availability zones.
          type: boolean
      type: object
    ElasticPoolUpdate:
      description: An elastic pool update.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        properties:
          $ref: '#/components/schemas/ElasticPoolUpdateProperties'
          description: Resource properties.
          x-ms-client-flatten: true
        sku:
          $ref: ../../../common/v1/types.json#/definitions/Sku
      type: object
    ElasticPoolUpdateProperties:
      description: Properties of an elastic pool
      properties:
        licenseType:
          description: The license type to apply for this elastic pool.
          enum:
            - LicenseIncluded
            - BasePrice
          type: string
          x-ms-enum:
            modelAsString: true
            name: ElasticPoolLicenseType
        maxSizeBytes:
          description: The storage limit for the database elastic pool in bytes.
          format: int64
          type: integer
        perDatabaseSettings:
          $ref: '#/components/schemas/ElasticPoolPerDatabaseSettings'
          description: The per database settings for the elastic pool.
        zoneRedundant:
          description: >-
            Whether or not this elastic pool is zone redundant, which means the
            replicas of this elastic pool will be spread across multiple
            availability zones.
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

