{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides create, read, update and delete functionality for Azure SQL Database datamasking policies and rules.",
    "title": "Azure SQL Database Datamasking Policies and Rules",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/dataMasking.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/DataMaskingPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMaskingPolicy"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DataMaskingPolicies"
        ],
        "description": "Gets a database data masking policy.",
        "operationId": "DataMaskingPolicies_Get",
        "x-ms-examples": {
          "Get data masking policy": {
            "$ref": "./examples/DataMaskingPolicyGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/DataMaskingPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMaskingPolicy"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DataMaskingPolicies"
        ],
        "description": "Creates or updates a database data masking policy",
        "operationId": "DataMaskingPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataMaskingPolicy"
              }
            }
          },
          "description": "Parameters for creating or updating a data masking policy.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update data masking policy max": {
            "$ref": "./examples/DataMaskingPolicyCreateOrUpdateMax.json"
          },
          "Create or update data masking policy min": {
            "$ref": "./examples/DataMaskingPolicyCreateOrUpdateMin.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/DataMaskingPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMaskingRuleListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DataMaskingRules"
        ],
        "description": "Gets a list of database data masking rules.",
        "operationId": "DataMaskingRules_ListByDatabase",
        "x-ms-examples": {
          "List data masking rules": {
            "$ref": "./examples/DataMaskingRuleList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules/{dataMaskingRuleName}": {
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/DataMaskingPolicyNameParameter"
          },
          {
            "description": "The name of the data masking rule.",
            "in": "path",
            "name": "dataMaskingRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMaskingRule"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataMaskingRule"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "DataMaskingRules"
        ],
        "description": "Creates or updates a database data masking rule.",
        "operationId": "DataMaskingRules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataMaskingRule"
              }
            }
          },
          "description": "The required parameters for creating or updating a data masking rule.",
          "required": true
        },
        "x-ms-examples": {
          "Create/Update data masking rule for default max": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateDefaultMax.json"
          },
          "Create/Update data masking rule for default min": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateDefaultMin.json"
          },
          "Create/Update data masking rule for numbers": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateNumber.json"
          },
          "Create/Update data masking rule for text": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateText.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DataMaskingPolicyNameParameter": {
        "description": "The name of the database for which the data masking rule applies.",
        "in": "path",
        "name": "dataMaskingPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "Default"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": false,
          "name": "DataMaskingPolicyName"
        },
        "x-ms-parameter-location": "method"
      },
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DataMaskingPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a database data masking policy.",
        "properties": {
          "kind": {
            "description": "The kind of data masking policy. Metadata, used for Azure portal.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The location of the data masking policy.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DataMaskingPolicyProperties",
            "description": "The properties of the data masking policy.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DataMaskingPolicyProperties": {
        "description": "The properties of a database data masking policy.",
        "properties": {
          "applicationPrincipals": {
            "description": "The list of the application principals. This is a legacy parameter and is no longer used.",
            "readOnly": true,
            "type": "string"
          },
          "dataMaskingState": {
            "description": "The state of the data masking policy.",
            "enum": [
              "Disabled",
              "Enabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "DataMaskingState"
            }
          },
          "exemptPrincipals": {
            "description": "The list of the exempt principals. Specifies the semicolon-separated list of database users for which the data masking policy does not apply. The specified users receive data results without masking for all of the database queries.",
            "type": "string"
          },
          "maskingLevel": {
            "description": "The masking level. This is a legacy parameter and is no longer used.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "dataMaskingState"
        ],
        "type": "object"
      },
      "DataMaskingRule": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a database data masking rule.",
        "properties": {
          "kind": {
            "description": "The kind of Data Masking Rule. Metadata, used for Azure portal.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The location of the data masking rule.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DataMaskingRuleProperties",
            "description": "The properties of the resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DataMaskingRuleListResult": {
        "description": "The response to a list data masking rules request.",
        "properties": {
          "value": {
            "description": "The list of database data masking rules.",
            "items": {
              "$ref": "#/components/schemas/DataMaskingRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataMaskingRuleProperties": {
        "description": "The properties of a database data masking rule.",
        "properties": {
          "aliasName": {
            "description": "The alias name. This is a legacy parameter and is no longer used.",
            "type": "string"
          },
          "columnName": {
            "description": "The column name on which the data masking rule is applied.",
            "type": "string"
          },
          "id": {
            "description": "The rule Id.",
            "readOnly": true,
            "type": "string"
          },
          "maskingFunction": {
            "description": "The masking function that is used for the data masking rule.",
            "enum": [
              "Default",
              "CCN",
              "Email",
              "Number",
              "SSN",
              "Text"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "DataMaskingFunction"
            }
          },
          "numberFrom": {
            "description": "The numberFrom property of the masking rule. Required if maskingFunction is set to Number, otherwise this parameter will be ignored.",
            "type": "string"
          },
          "numberTo": {
            "description": "The numberTo property of the data masking rule. Required if maskingFunction is set to Number, otherwise this parameter will be ignored.",
            "type": "string"
          },
          "prefixSize": {
            "description": "If maskingFunction is set to Text, the number of characters to show unmasked in the beginning of the string. Otherwise, this parameter will be ignored.",
            "type": "string"
          },
          "replacementString": {
            "description": "If maskingFunction is set to Text, the character to use for masking the unexposed part of the string. Otherwise, this parameter will be ignored.",
            "type": "string"
          },
          "ruleState": {
            "description": "The rule state. Used to delete a rule. To delete an existing rule, specify the schemaName, tableName, columnName, maskingFunction, and specify ruleState as disabled. However, if the rule doesn't already exist, the rule will be created with ruleState set to enabled, regardless of the provided value of ruleState.",
            "enum": [
              "Disabled",
              "Enabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "DataMaskingRuleState"
            }
          },
          "schemaName": {
            "description": "The schema name on which the data masking rule is applied.",
            "type": "string"
          },
          "suffixSize": {
            "description": "If maskingFunction is set to Text, the number of characters to show unmasked at the end of the string. Otherwise, this parameter will be ignored.",
            "type": "string"
          },
          "tableName": {
            "description": "The table name on which the data masking rule is applied.",
            "type": "string"
          }
        },
        "required": [
          "maskingFunction",
          "schemaName",
          "tableName",
          "columnName"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}