openapi: 3.0.0
info:
  title: ServiceFabricManagementClient
  version: '2016-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available ServiceFabric REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters':
    get:
      parameters:
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK - Get cluster  successfully
      tags:
        - ClusterListOperation
      description: List cluster resource
      operationId: Clusters_List
      x-ms-examples:
        List clusters:
          $ref: ./examples/ClusterListOperation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions':
    get:
      parameters:
        - $ref: '#/components/parameters/locationForClusterCodeVersions'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - List cluster code versions successfully
      tags:
        - ClusterVersion
      description: List cluster code versions by location
      operationId: ClusterVersions_List
      x-ms-examples:
        List cluster versions:
          $ref: ./examples/ClusterVersionsList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}':
    get:
      parameters:
        - $ref: '#/components/parameters/locationForClusterCodeVersions'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/clusterVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - Get cluster code versions successfully
      tags:
        - ClusterVersionsListOperation
      description: List cluster code versions by version
      operationId: ClusterVersions_ListByVersion
      x-ms-examples:
        List cluster version:
          $ref: ./examples/ClusterVersionsListByVersion_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions':
    get:
      parameters:
        - $ref: '#/components/parameters/locationForClusterCodeVersions'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - List cluster code versions successfully
      tags:
        - ClusterVersion
      description: List cluster code versions by environment
      operationId: ClusterVersions_ListByEnvironment
      x-ms-examples:
        List cluster version:
          $ref: ./examples/ClusterVersionsListByEnvironment_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}':
    get:
      parameters:
        - $ref: '#/components/parameters/locationForClusterCodeVersions'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/clusterVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsResult'
          description: OK - Get cluster code versions successfully
      tags:
        - ClusterVersion
      description: Get cluster code versions by environment and version
      operationId: ClusterVersions_Get
      x-ms-examples:
        List cluster version:
          $ref: ./examples/ClusterVersionsGet_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/clusterNameParameter'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: OK - cluster deleted  successfully
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
        - ClusterDeleteOperation
      description: Delete cluster resource
      operationId: Clusters_Delete
      x-ms-examples:
        Delete a cluster:
          $ref: ./examples/ClusterDeleteOperation_example.json
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/clusterNameParameter'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Get cluster successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
        - ClusterGetOperation
      description: Get cluster resource
      operationId: Clusters_Get
      x-ms-examples:
        Get a cluster:
          $ref: ./examples/ClusterGetOperation_example.json
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/clusterNameParameter'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Cluster updated successfully
        '202':
          description: >-
            Accepted - Update request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
        - ClusterPatchOperation
      description: Update cluster configuration
      operationId: Clusters_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdateParameters'
        description: >-
          The parameters which contains the property value and property name
          which used to update the cluster configuration
        required: true
      x-ms-examples:
        Patch a cluster:
          $ref: ./examples/ClusterPatchOperation_example.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/clusterNameParameter'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Put cluster successfully
        '202':
          description: >-
            Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
        - ClusterCreateOperation
      description: Create cluster resource
      operationId: Clusters_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: Put Request
        required: true
      x-ms-examples:
        Put a cluster with max parameter:
          $ref: ./examples/ClusterPutOperation_example_max.json
        Put a cluster with min parameter:
          $ref: ./examples/ClusterPutOperation_example_min.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/api-version'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK - Get cluster  successfully
      tags:
        - ClusterListByResourceGroupOperation
      description: List cluster resource by resource group
      operationId: Clusters_ListByResourceGroup
      x-ms-examples:
        List cluster by resource group:
          $ref: ./examples/ClusterListByResourceGroupOperation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    api-version:
      description: The version of the ServiceFabric resource provider api
      in: query
      name: api-version
      required: true
      schema:
        type: string
    clusterNameParameter:
      description: The name of the cluster resource
      in: path
      name: clusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    clusterVersion:
      description: The cluster code version
      in: path
      name: clusterVersion
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    environment:
      description: 'Cluster operating system, the default means all'
      in: path
      name: environment
      required: true
      schema:
        enum:
          - Windows
          - Linux
        type: string
      x-ms-parameter-location: method
    locationForClusterCodeVersions:
      description: >-
        The location for the cluster code versions, this is different from
        cluster location
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: >-
        The name of the resource group to which the resource belongs or get
        created
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionId:
      description: The customer subscription identifier
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AvailableOperationDisplay:
      description: Operation supported by ServiceFabric resource provider
      properties:
        description:
          description: Operation description
          type: string
        operation:
          description: Operation name
          type: string
        provider:
          description: Provider name
          type: string
        resource:
          description: Resource name
          type: string
      type: object
    AzureActiveDirectory:
      description: The settings to enable AAD authentication on the cluster
      properties:
        clientApplication:
          description: Azure active directory client application id
          type: string
        clusterApplication:
          description: Azure active directory cluster application id
          type: string
        tenantId:
          description: Azure active directory tenant id
          type: string
      type: object
    CertificateDescription:
      description: Certificate details
      properties:
        thumbprint:
          description: Thumbprint of the primary certificate
          type: string
        thumbprintSecondary:
          description: Thumbprint of the secondary certificate
          type: string
        x509StoreName:
          description: The local certificate store location
          enum:
            - AddressBook
            - AuthRoot
            - CertificateAuthority
            - Disallowed
            - My
            - Root
            - TrustedPeople
            - TrustedPublisher
          type: string
      required:
        - thumbprint
      type: object
    ClientCertificateCommonName:
      description: Client certificate details using common name
      properties:
        certificateCommonName:
          description: >-
            Certificate common name to be granted access; be careful using wild
            card common names
          type: string
        certificateIssuerThumbprint:
          description: Certificate issuer thumbprint
          type: string
        isAdmin:
          description: >-
            Is this certificate used for admin access from the client, if false
            , it is used or query only access
          type: boolean
      required:
        - isAdmin
        - certificateCommonName
        - certificateIssuerThumbprint
      type: object
    ClientCertificateThumbprint:
      description: Client certificate details using thumbprint
      properties:
        certificateThumbprint:
          description: Certificate thumbprint
          type: string
        isAdmin:
          description: >-
            Is this certificate used for admin access from the client, if false,
            it is used or query only access
          type: boolean
      required:
        - isAdmin
        - certificateThumbprint
      type: object
    Cluster:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The cluster resource
      properties:
        properties:
          $ref: '#/components/schemas/ClusterProperties'
          x-ms-client-flatten: true
      type: object
    ClusterCodeVersionsListResult:
      description: The list results of the ServiceFabric runtime versions
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          items:
            $ref: '#/components/schemas/ClusterCodeVersionsResult'
          type: array
      type: object
    ClusterCodeVersionsResult:
      description: The result of the ServiceFabric runtime versions
      properties:
        id:
          description: The identification of the result
          type: string
        name:
          description: The name of the result
          type: string
        properties:
          $ref: '#/components/schemas/ClusterVersionDetails'
          x-ms-client-flatten: true
        type:
          description: The result resource type
          type: string
      type: object
    ClusterEnvironment:
      description: 'Cluster operating system, the default will be Windows'
      enum:
        - Windows
        - Linux
      type: string
    ClusterHealthPolicy:
      description: >-
        Defines a health policy used to evaluate the health of the cluster or of
        a cluster node.
      properties:
        maxPercentUnhealthyApplications:
          description: >-
            The maximum allowed percentage of unhealthy applications before
            reporting an error. For example, to allow 10% of applications to be
            unhealthy, this value would be 10. 
          maximum: 100
          minimum: 0
          type: integer
        maxPercentUnhealthyNodes:
          description: >-
            The maximum allowed percentage of unhealthy nodes before reporting
            an error. For example, to allow 10% of nodes to be unhealthy, this
            value would be 10. 
          maximum: 100
          minimum: 0
          type: integer
      type: object
    ClusterListResult:
      description: Cluster list results
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          items:
            $ref: '#/components/schemas/Cluster'
          type: array
      type: object
    ClusterProperties:
      description: The cluster resource properties
      properties:
        availableClusterVersions:
          description: >-
            The available cluster code version which the cluster can upgrade to,
            note that you must choose upgradeMode to manual to upgrade to
          items:
            $ref: '#/components/schemas/ClusterVersionDetails'
          readOnly: true
          type: array
        azureActiveDirectory:
          $ref: '#/components/schemas/AzureActiveDirectory'
          description: The settings to enable AAD authentication on the cluster
        certificate:
          $ref: '#/components/schemas/CertificateDescription'
          description: >-
            This primary certificate will be used as cluster node to node
            security, SSL certificate for cluster management endpoint and
            default admin client
        clientCertificateCommonNames:
          description: ' List of client certificates to trust based on common names'
          items:
            $ref: '#/components/schemas/ClientCertificateCommonName'
          type: array
        clientCertificateThumbprints:
          description: >-
            The client thumbprint details ,it is used for client access for
            cluster operation
          items:
            $ref: '#/components/schemas/ClientCertificateThumbprint'
          type: array
        clusterCodeVersion:
          description: The ServiceFabric code version running in your cluster
          type: string
        clusterEndpoint:
          description: >-
            The endpoint for the cluster connecting to servicefabric resource
            provider
          readOnly: true
          type: string
        clusterId:
          description: The unique identifier for the cluster resource
          readOnly: true
          type: string
        clusterState:
          description: The state for the cluster
          enum:
            - WaitingForNodes
            - Deploying
            - BaselineUpgrade
            - UpdatingUserConfiguration
            - UpdatingUserCertificate
            - UpdatingInfrastructure
            - EnforcingClusterVersion
            - UpgradeServiceUnreachable
            - AutoScale
            - Ready
          readOnly: true
          type: string
        diagnosticsStorageAccountConfig:
          $ref: '#/components/schemas/DiagnosticsStorageAccountConfig'
          description: The storage diagnostics account configuration details
        fabricSettings:
          description: List of custom fabric settings to configure the cluster.
          items:
            $ref: '#/components/schemas/SettingsSectionDescription'
          type: array
        managementEndpoint:
          description: The http management endpoint of the cluster
          type: string
        nodeTypes:
          description: The list of node types that make up the cluster
          items:
            $ref: '#/components/schemas/NodeTypeDescription'
          type: array
        provisioningState:
          description: The provisioning state of the cluster resource
          enum:
            - Updating
            - Succeeded
            - Failed
            - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        reliabilityLevel:
          description: >-
            Cluster reliability level indicates replica set size of system
            service
          enum:
            - Bronze
            - Silver
            - Gold
            - Platinum
          type: string
        reverseProxyCertificate:
          $ref: '#/components/schemas/CertificateDescription'
          description: The server certificate used by reverse proxy
        upgradeDescription:
          $ref: '#/components/schemas/ClusterUpgradePolicy'
          description: The policy to use when upgrading the cluster.
        upgradeMode:
          description: >-
            Cluster upgrade mode indicates if fabric upgrade is initiated
            automatically by the system or not
          enum:
            - Automatic
            - Manual
          type: string
        vmImage:
          description: >-
            The name of VM image VMSS has been configured with. Generic names
            such as Windows or Linux can be used.
          type: string
      required:
        - managementEndpoint
        - nodeTypes
      type: object
    ClusterPropertiesUpdateParameters:
      description: The cluster resource properties can be updated
      properties:
        certificate:
          $ref: '#/components/schemas/CertificateDescription'
          description: >-
            This primary certificate will be used as cluster node to node
            security, SSL certificate for cluster management endpoint and
            default admin client, the certificate should exist in the virtual
            machine scale sets or Azure key vault, before you add it. It will
            override original value
        clientCertificateCommonNames:
          description: List of client certificates to trust based on common names.
          items:
            $ref: '#/components/schemas/ClientCertificateCommonName'
          type: array
        clientCertificateThumbprints:
          description: >-
            The client thumbprint details, it is used for client access for
            cluster operation, it will override existing collection
          items:
            $ref: '#/components/schemas/ClientCertificateThumbprint'
          type: array
        clusterCodeVersion:
          description: >-
            The ServiceFabric code version, if set it, please make sure you have
            set upgradeMode to Manual, otherwise ,it will fail, if you are using
            PUT new cluster, you can get the version by using
            ClusterVersions_List, if you are updating existing cluster, you can
            get the availableClusterVersions from Clusters_Get
          type: string
        fabricSettings:
          description: >-
            List of custom fabric settings to configure the cluster, Note, it
            will overwrite existing collection
          items:
            $ref: '#/components/schemas/SettingsSectionDescription'
          type: array
        nodeTypes:
          description: 'The list of node types that make up the cluster, it will override'
          items:
            $ref: '#/components/schemas/NodeTypeDescription'
          type: array
        reliabilityLevel:
          description: >-
            This level is used to set the number of replicas of the system
            services
          enum:
            - Bronze
            - Silver
            - Gold
          type: string
        reverseProxyCertificate:
          $ref: '#/components/schemas/CertificateDescription'
          description: Certificate for the reverse proxy
        upgradeDescription:
          $ref: '#/components/schemas/ClusterUpgradePolicy'
          description: The policy to use when upgrading the cluster.
        upgradeMode:
          description: >-
            Cluster upgrade mode indicates if fabric upgrade is initiated
            automatically by the system or not
          enum:
            - Automatic
            - Manual
          type: string
      type: object
    ClusterUpdateParameters:
      description: Cluster update request
      properties:
        tags:
          additionalProperties:
            type: string
          description: Cluster update parameters
          type: object
        properties:
          $ref: '#/components/schemas/ClusterPropertiesUpdateParameters'
          x-ms-client-flatten: true
      type: object
    ClusterUpgradeDeltaHealthPolicy:
      description: Delta health policy for the cluster
      properties:
        maxPercentDeltaUnhealthyApplications:
          description: Additional unhealthy applications percentage
          maximum: 100
          minimum: 0
          type: integer
        maxPercentDeltaUnhealthyNodes:
          description: Additional unhealthy nodes percentage
          maximum: 100
          minimum: 0
          type: integer
        maxPercentUpgradeDomainDeltaUnhealthyNodes:
          description: 'Additional unhealthy nodes percentage per upgrade domain '
          maximum: 100
          minimum: 0
          type: integer
      required:
        - maxPercentDeltaUnhealthyNodes
        - maxPercentUpgradeDomainDeltaUnhealthyNodes
        - maxPercentDeltaUnhealthyApplications
      type: object
    ClusterUpgradePolicy:
      description: Cluster upgrade policy
      properties:
        deltaHealthPolicy:
          $ref: '#/components/schemas/ClusterUpgradeDeltaHealthPolicy'
          description: Delta health policy
        forceRestart:
          description: Force node to restart or not
          type: boolean
        healthCheckRetryTimeout:
          description: >-
            The length of time that health checks can fail continuously,it
            represents .Net TimeSpan
          type: string
        healthCheckStableDuration:
          description: >-
            The length of time that health checks must pass continuously,it
            represents .Net TimeSpan
          type: string
        healthCheckWaitDuration:
          description: >-
            The length of time to wait after completing an upgrade domain before
            performing health checks, it represents .Net TimeSpan
          type: string
        healthPolicy:
          $ref: '#/components/schemas/ClusterHealthPolicy'
          description: Cluster health Policy
        overrideUserUpgradePolicy:
          description: Use the user defined upgrade policy or not
          type: boolean
        upgradeDomainTimeout:
          description: 'The timeout for any upgrade domain,it represents .Net TimeSpan'
          type: string
        upgradeReplicaSetCheckTimeout:
          description: >-
            Timeout for replica set upgrade to complete,it represents .Net
            TimeSpan
          type: string
        upgradeTimeout:
          description: 'The upgrade timeout,it represents .Net TimeSpan'
          type: string
      required:
        - upgradeReplicaSetCheckTimeout
        - healthCheckWaitDuration
        - healthCheckStableDuration
        - healthCheckRetryTimeout
        - upgradeTimeout
        - upgradeDomainTimeout
        - healthPolicy
      type: object
    ClusterVersionDetails:
      description: The detail of the ServiceFabric runtime version result
      properties:
        codeVersion:
          description: The ServiceFabric runtime version of the cluster
          type: string
        environment:
          $ref: '#/components/schemas/ClusterEnvironment'
          description: Cluster operating system
        supportExpiryUtc:
          description: The date of expiry of support of the version
          type: string
      type: object
    DiagnosticsStorageAccountConfig:
      description: Diagnostics storage account config
      properties:
        blobEndpoint:
          description: Diagnostics storage account blob endpoint
          type: string
        protectedAccountKeyName:
          description: Protected Diagnostics storage key name
          type: string
        queueEndpoint:
          description: Diagnostics storage account queue endpoint
          type: string
        storageAccountName:
          description: Diagnostics storage account name
          type: string
        tableEndpoint:
          description: Diagnostics storage account table endpoint
          type: string
      required:
        - storageAccountName
        - protectedAccountKeyName
        - blobEndpoint
        - queueEndpoint
        - tableEndpoint
      type: object
    EndpointRangeDescription:
      description: Port range details
      properties:
        endPort:
          description: End port of a range of ports
          type: integer
        startPort:
          description: Starting port of a range of ports
          type: integer
      required:
        - startPort
        - endPort
      type: object
    ErrorModel:
      description: The structure of the error
      properties:
        error:
          description: 'The error detail '
          properties:
            code:
              description: The error code
              type: string
            message:
              description: The error message
              type: string
          type: object
      type: object
    NodeTypeDescription:
      description: >-
        Describes a node type in the cluster, each node type represents sub set
        of nodes in the cluster
      properties:
        applicationPorts:
          $ref: '#/components/schemas/EndpointRangeDescription'
          description: Ports used by applications
        capacities:
          additionalProperties:
            description: Capacity tag value
            type: string
          description: >-
            The capacity tags applied to the nodes in the node type, the cluster
            resource manager uses these tags to understand how much of a
            resource a node has
          type: object
        clientConnectionEndpointPort:
          description: The TCP cluster management endpoint port
          type: integer
        durabilityLevel:
          description: Node type durability Level
          enum:
            - Bronze
            - Silver
            - Gold
          type: string
        ephemeralPorts:
          $ref: '#/components/schemas/EndpointRangeDescription'
          description: System assigned application ports
        httpGatewayEndpointPort:
          description: The HTTP cluster management endpoint port
          type: integer
        isPrimary:
          description: Mark this as the primary node type
          type: boolean
        name:
          description: Name of the node type
          type: string
        placementProperties:
          additionalProperties:
            description: Placement tag value
            type: string
          description: >-
            The placement tags applied to nodes in the node type, which can be
            used to indicate where certain services (workload) should run
          type: object
        reverseProxyEndpointPort:
          description: Endpoint used by reverse proxy
          type: integer
        vmInstanceCount:
          description: The number of node instances in the node type
          maximum: 2147483647
          minimum: 1
          type: integer
      required:
        - vmInstanceCount
        - name
        - clientConnectionEndpointPort
        - httpGatewayEndpointPort
        - isPrimary
      type: object
    OperationListResult:
      description: >-
        Result of the request to list ServiceFabric operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of ServiceFabric operations supported by the
            Microsoft.ServiceFabric resource provider.
          items:
            $ref: '#/components/schemas/OperationResult'
          readOnly: true
          type: array
      type: object
    OperationResult:
      description: Available operation list result
      properties:
        display:
          $ref: '#/components/schemas/AvailableOperationDisplay'
          description: Display of the result
        name:
          description: Result name
          type: string
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        origin:
          description: Origin result
          type: string
      type: object
    Resource:
      description: The resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        id:
          description: Resource ID.
          readOnly: true
          type: string
        location:
          description: Resource location.
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    SettingsParameterDescription:
      description: ServiceFabric settings under sections
      properties:
        name:
          description: The name of settings property
          type: string
        value:
          description: The value of the property
          type: string
      required:
        - name
        - value
      type: object
    SettingsSectionDescription:
      description: ServiceFabric section settings
      properties:
        parameters:
          description: >-
            Collection of settings in the section, each setting is a tuple
            consisting of setting name and value
          items:
            $ref: '#/components/schemas/SettingsParameterDescription'
          type: array
        name:
          description: The name of settings section
          type: string
      required:
        - name
        - parameters
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

