{
  "openapi": "3.0.0",
  "info": {
    "title": "StorSimple8000SeriesManagementClient",
    "version": "2017-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storsimple8000series/resource-manager/Microsoft.StorSimple/stable/2017-06-01/storsimple.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.StorSimple/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableProviderOperationList"
                }
              }
            },
            "description": "The collection of available provider operations."
          }
        },
        "tags": [
          "Operations"
        ],
        "deprecated": false,
        "description": "Lists all of the available REST API operations of the Microsoft.StorSimple provider",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerList"
                }
              }
            },
            "description": "The collection of StorSimple managers."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Retrieves all the managers in a subscription.",
        "operationId": "Managers_List",
        "x-ms-examples": {
          "ManagersList": {
            "$ref": "./examples/ManagersList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerList"
                }
              }
            },
            "description": "The collection of StorSimple managers."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Retrieves all the managers in a resource group.",
        "operationId": "Managers_ListByResourceGroup",
        "x-ms-examples": {
          "ManagersListByResourceGroup": {
            "$ref": "./examples/ManagersListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The StorSimple manager has been successfully deleted"
          },
          "204": {
            "description": "The StorSimple manager is already in a deleted state"
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Deletes the manager.",
        "operationId": "Managers_Delete",
        "x-ms-examples": {
          "ManagersDelete": {
            "$ref": "./examples/ManagersDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified manager name.",
        "operationId": "Managers_Get",
        "x-ms-examples": {
          "ManagersGet": {
            "$ref": "./examples/ManagersGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager has been successfully updated"
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Updates the StorSimple Manager.",
        "operationId": "Managers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagerPatch"
              }
            }
          },
          "description": "The manager update parameters.",
          "required": true
        },
        "x-ms-examples": {
          "ManagersUpdate": {
            "$ref": "./examples/ManagersUpdate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager has been successfully updated"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager has been successfully created"
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Creates or updates the manager.",
        "operationId": "Managers_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Manager"
              }
            }
          },
          "description": "The manager.",
          "required": true
        },
        "x-ms-examples": {
          "ManagersCreateOrUpdate": {
            "$ref": "./examples/ManagersCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlRecordList"
                }
              }
            },
            "description": "The collection of access control records."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Retrieves all the access control records in a manager.",
        "operationId": "AccessControlRecords_ListByManager",
        "x-ms-examples": {
          "AccessControlRecordsListByManager": {
            "$ref": "./examples/AccessControlRecordsListByManager.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}": {
      "delete": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The name of the access control record to delete.",
            "in": "path",
            "name": "accessControlRecordName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the access control record."
          },
          "204": {
            "description": "Successfully deleted the access control record."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Deletes the access control record.",
        "operationId": "AccessControlRecords_Delete",
        "x-ms-examples": {
          "AccessControlRecordsDelete": {
            "$ref": "./examples/AccessControlRecordsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "Name of access control record to be fetched.",
            "in": "path",
            "name": "accessControlRecordName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlRecord"
                }
              }
            },
            "description": "The access control record."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified access control record name.",
        "operationId": "AccessControlRecords_Get",
        "x-ms-examples": {
          "AccessControlRecordsGet": {
            "$ref": "./examples/AccessControlRecordsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The name of the access control record.",
            "in": "path",
            "name": "accessControlRecordName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlRecord"
                }
              }
            },
            "description": "Successfully created or updated the access control record."
          },
          "202": {
            "description": "Accepted the request to create or update the access control record."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Creates or Updates an access control record.",
        "operationId": "AccessControlRecords_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlRecord"
              }
            }
          },
          "description": "The access control record to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "AccessControlRecordsCreateOrUpdate": {
            "$ref": "./examples/AccessControlRecordsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertList"
                }
              }
            },
            "description": "The collection of alerts."
          }
        },
        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "Retrieves all the alerts in a manager.",
        "operationId": "Alerts_ListByManager",
        "x-ms-examples": {
          "AlertsListByManager": {
            "$ref": "./examples/AlertsListByManager.json"
          }
        },
        "x-ms-odata": "#/components/schemas/AlertFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BandwidthSettingList"
                }
              }
            },
            "description": "The collection of bandwidth settings."
          }
        },
        "tags": [
          "BandwidthSettings"
        ],
        "deprecated": false,
        "description": "Retrieves all the bandwidth setting in a manager.",
        "operationId": "BandwidthSettings_ListByManager",
        "x-ms-examples": {
          "BandwidthSettingsListByManager": {
            "$ref": "./examples/BandwidthSettingsListByManager.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings/{bandwidthSettingName}": {
      "delete": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The name of the bandwidth setting.",
            "in": "path",
            "name": "bandwidthSettingName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the bandwidth setting."
          },
          "204": {
            "description": "Successfully deleted the bandwidth setting."
          }
        },
        "tags": [
          "BandwidthSettings"
        ],
        "deprecated": false,
        "description": "Deletes the bandwidth setting",
        "operationId": "BandwidthSettings_Delete",
        "x-ms-examples": {
          "BandwidthSettingsDelete": {
            "$ref": "./examples/BandwidthSettingsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The name of bandwidth setting to be fetched.",
            "in": "path",
            "name": "bandwidthSettingName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BandwidthSetting"
                }
              }
            },
            "description": "The bandwidth setting."
          }
        },
        "tags": [
          "BandwidthSettings"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified bandwidth setting name.",
        "operationId": "BandwidthSettings_Get",
        "x-ms-examples": {
          "BandwidthSettingsGet": {
            "$ref": "./examples/BandwidthSettingsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The bandwidth setting name.",
            "in": "path",
            "name": "bandwidthSettingName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BandwidthSetting"
                }
              }
            },
            "description": "Successfully created or updated the bandwidth setting."
          },
          "202": {
            "description": "Accepted the request to create or update the bandwidth setting."
          }
        },
        "tags": [
          "BandwidthSettings"
        ],
        "deprecated": false,
        "description": "Creates or updates the bandwidth setting",
        "operationId": "BandwidthSettings_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BandwidthSetting"
              }
            }
          },
          "description": "The bandwidth setting to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "BandwidthSettingsCreateOrUpdate": {
            "$ref": "./examples/BandwidthSettingsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully cleared the alerts."
          }
        },
        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "Clear the alerts.",
        "operationId": "Alerts_Clear",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearAlertRequest"
              }
            }
          },
          "description": "The clear alert request.",
          "required": true
        },
        "x-ms-examples": {
          "AlertsClear": {
            "$ref": "./examples/AlertsClear.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/cloudApplianceConfigurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudApplianceConfigurationList"
                }
              }
            },
            "description": "The collection of cloud appliance configuration."
          }
        },
        "tags": [
          "CloudAppliances"
        ],
        "deprecated": false,
        "description": "Lists supported cloud appliance models and supported configurations.",
        "operationId": "CloudAppliances_ListSupportedConfigurations",
        "x-ms-examples": {
          "CloudAppliancesListSupportedConfigurations": {
            "$ref": "./examples/CloudAppliancesListSupportedConfigurations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/configureDevice": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to configure device."
          },
          "204": {
            "description": "Successfully configured the device."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Complete minimal setup before using the device.",
        "operationId": "Devices_Configure",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigureDeviceRequest"
              }
            }
          },
          "description": "The minimal properties to configure a device.",
          "required": true
        },
        "x-ms-examples": {
          "DevicesConfigure": {
            "$ref": "./examples/DevicesConfigure.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            },
            "description": "The collection of devices."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Returns the list of devices for the specified manager.",
        "operationId": "Devices_ListByManager",
        "x-ms-examples": {
          "DevicesListByManager": {
            "$ref": "./examples/DevicesListByManager.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the device."
          },
          "204": {
            "description": "Successfully deleted the device."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Deletes the device.",
        "operationId": "Devices_Delete",
        "x-ms-examples": {
          "DevicesDelete": {
            "$ref": "./examples/DevicesDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "The device."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified device.",
        "operationId": "Devices_Get",
        "x-ms-examples": {
          "DevicesGet": {
            "$ref": "./examples/DevicesGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "Successfully patched the device."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Patches the device.",
        "operationId": "Devices_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePatch"
              }
            }
          },
          "description": "Patch representation of the device.",
          "required": true
        },
        "x-ms-examples": {
          "DevicesUpdate": {
            "$ref": "./examples/DevicesUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/alertSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSettings"
                }
              }
            },
            "description": "The Alert settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Gets the alert settings of the specified device.",
        "operationId": "DeviceSettings_GetAlertSettings",
        "x-ms-examples": {
          "DeviceSettingsGetAlertSettings": {
            "$ref": "./examples/DeviceSettingsGetAlertSettings.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSettings"
                }
              }
            },
            "description": "Successfully created or updated the alert settings."
          },
          "202": {
            "description": "Accepted the request to create or update the alert settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Creates or updates the alert settings of the specified device.",
        "operationId": "DeviceSettings_CreateOrUpdateAlertSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSettings"
              }
            }
          },
          "description": "The alert settings to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "DeviceSettingsCreateOrUpdateAlertSettings": {
            "$ref": "./examples/DeviceSettingsCreateOrUpdateAlertSettings.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/authorizeForServiceEncryptionKeyRollover": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully authorized the device for service encryption key rollover"
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Authorizes the specified device for service data encryption key rollover.",
        "operationId": "Devices_AuthorizeForServiceEncryptionKeyRollover",
        "x-ms-examples": {
          "DevicesAuthorizeForServiceEncryptionKeyRollover": {
            "$ref": "./examples/DevicesAuthorizeForServiceEncryptionKeyRollover.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupPolicyList"
                }
              }
            },
            "description": "The collection of backup policies."
          }
        },
        "tags": [
          "BackupPolicies"
        ],
        "deprecated": false,
        "description": "Gets all the backup policies in a device.",
        "operationId": "BackupPolicies_ListByDevice",
        "x-ms-examples": {
          "BackupPoliciesListByDevice": {
            "$ref": "./examples/BackupPoliciesListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The name of the backup policy.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the backup policy."
          },
          "204": {
            "description": "Successfully deleted the backup policy."
          }
        },
        "tags": [
          "BackupPolicies"
        ],
        "deprecated": false,
        "description": "Deletes the backup policy.",
        "operationId": "BackupPolicies_Delete",
        "x-ms-examples": {
          "BackupPoliciesDelete": {
            "$ref": "./examples/BackupPoliciesDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The name of backup policy to be fetched.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupPolicy"
                }
              }
            },
            "description": "The backup policy."
          }
        },
        "tags": [
          "BackupPolicies"
        ],
        "deprecated": false,
        "description": "Gets the properties of the specified backup policy name.",
        "operationId": "BackupPolicies_Get",
        "x-ms-examples": {
          "BackupPoliciesGet": {
            "$ref": "./examples/BackupPoliciesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The name of the backup policy to be created/updated.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupPolicy"
                }
              }
            },
            "description": "Successfully created or updated the backup policy."
          },
          "202": {
            "description": "Accepted the request to create or update the backup policy."
          }
        },
        "tags": [
          "BackupPolicies"
        ],
        "deprecated": false,
        "description": "Creates or updates the backup policy.",
        "operationId": "BackupPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupPolicy"
              }
            }
          },
          "description": "The backup policy.",
          "required": true
        },
        "x-ms-examples": {
          "BackupPoliciesCreateOrUpdate": {
            "$ref": "./examples/BackupPoliciesCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/backup": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup policy name.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "allowReserved": true,
            "description": "The backup Type. This can be cloudSnapshot or localSnapshot.",
            "in": "query",
            "name": "backupType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to backup the backup policy."
          },
          "204": {
            "description": "Successfully completed backup of the backup policy."
          }
        },
        "tags": [
          "BackupPolicies"
        ],
        "deprecated": false,
        "description": "Backup the backup policy now.",
        "operationId": "BackupPolicies_BackupNow",
        "x-ms-examples": {
          "BackupPoliciesBackupNow": {
            "$ref": "./examples/BackupPoliciesBackupNow.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup policy name.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupScheduleList"
                }
              }
            },
            "description": "The collection of backup schedules."
          }
        },
        "tags": [
          "BackupSchedules"
        ],
        "deprecated": false,
        "description": "Gets all the backup schedules in a backup policy.",
        "operationId": "BackupSchedules_ListByBackupPolicy",
        "x-ms-examples": {
          "BackupSchedulesListByBackupPolicy": {
            "$ref": "./examples/BackupSchedulesListByBackupPolicy.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules/{backupScheduleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup policy name.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "allowReserved": true,
            "description": "The name the backup schedule.",
            "in": "path",
            "name": "backupScheduleName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the backup schedule."
          },
          "204": {
            "description": "Successfully deleted the backup schedule."
          }
        },
        "tags": [
          "BackupSchedules"
        ],
        "deprecated": false,
        "description": "Deletes the backup schedule.",
        "operationId": "BackupSchedules_Delete",
        "x-ms-examples": {
          "BackupSchedulesDelete": {
            "$ref": "./examples/BackupSchedulesDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup policy name.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "allowReserved": true,
            "description": "The name of the backup schedule to be fetched",
            "in": "path",
            "name": "backupScheduleName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupSchedule"
                }
              }
            },
            "description": "The backup schedule."
          }
        },
        "tags": [
          "BackupSchedules"
        ],
        "deprecated": false,
        "description": "Gets the properties of the specified backup schedule name.",
        "operationId": "BackupSchedules_Get",
        "x-ms-examples": {
          "BackupSchedulesGet": {
            "$ref": "./examples/BackupSchedulesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup policy name.",
            "in": "path",
            "name": "backupPolicyName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "allowReserved": true,
            "description": "The backup schedule name.",
            "in": "path",
            "name": "backupScheduleName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupSchedule"
                }
              }
            },
            "description": "Successfully created or updated the backup schedule."
          },
          "202": {
            "description": "Accepted the request to create or update the backup schedule."
          }
        },
        "tags": [
          "BackupSchedules"
        ],
        "deprecated": false,
        "description": "Creates or updates the backup schedule.",
        "operationId": "BackupSchedules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupSchedule"
              }
            }
          },
          "description": "The backup schedule.",
          "required": true
        },
        "x-ms-examples": {
          "BackupSchedulesCreateOrUpdate": {
            "$ref": "./examples/BackupSchedulesCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupList"
                }
              }
            },
            "description": "The collection of backups."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Retrieves all the backups in a device.",
        "operationId": "Backups_ListByDevice",
        "x-ms-examples": {
          "BackupsListByDevice": {
            "$ref": "./examples/BackupsListByDevice.json"
          }
        },
        "x-ms-odata": "#/components/schemas/BackupFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup name.",
            "in": "path",
            "name": "backupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the backup."
          },
          "204": {
            "description": "Successfully deleted the backup."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Deletes the backup.",
        "operationId": "Backups_Delete",
        "x-ms-examples": {
          "BackupsDelete": {
            "$ref": "./examples/BackupsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{backupElementName}/clone": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backup name.",
            "in": "path",
            "name": "backupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "allowReserved": true,
            "description": "The backup element name.",
            "in": "path",
            "name": "backupElementName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully cloned the backup."
          },
          "202": {
            "description": "Accepted the request to clone."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Clones the backup element as a new volume.",
        "operationId": "Backups_Clone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneRequest"
              }
            }
          },
          "description": "The clone request object.",
          "required": true
        },
        "x-ms-examples": {
          "BackupsClone": {
            "$ref": "./examples/BackupsClone.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/restore": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The backupSet name",
            "in": "path",
            "name": "backupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully restored the backup."
          },
          "202": {
            "description": "Accepted the request to restore."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Restores the backup on the device.",
        "operationId": "Backups_Restore",
        "x-ms-examples": {
          "BackupsRestore": {
            "$ref": "./examples/BackupsRestore.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/deactivate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to deactivate the device."
          },
          "204": {
            "description": "Successfully deactivated the device."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Deactivates the device.",
        "operationId": "Devices_Deactivate",
        "x-ms-examples": {
          "DevicesDeactivate": {
            "$ref": "./examples/DevicesDeactivate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HardwareComponentGroupList"
                }
              }
            },
            "description": "Successfully fetched hardware component groups."
          }
        },
        "tags": [
          "HardwareComponentGroups"
        ],
        "deprecated": false,
        "description": "Lists the hardware component groups at device-level.",
        "operationId": "HardwareComponentGroups_ListByDevice",
        "x-ms-examples": {
          "HardwareComponentGroupsListByDevice": {
            "$ref": "./examples/HardwareComponentGroupsListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups/{hardwareComponentGroupName}/changeControllerPowerState": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The hardware component group name.",
            "in": "path",
            "name": "hardwareComponentGroupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to change power state of the controller."
          },
          "204": {
            "description": "Successfully changed the power state of the controller."
          }
        },
        "tags": [
          "HardwareComponentGroups"
        ],
        "deprecated": false,
        "description": "Changes the power state of the controller.",
        "operationId": "HardwareComponentGroups_ChangeControllerPowerState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControllerPowerStateChangeRequest"
              }
            }
          },
          "description": "The controller power state change request.",
          "required": true
        },
        "x-ms-examples": {
          "HardwareComponentGroupsChangeControllerPowerState": {
            "$ref": "./examples/HardwareComponentGroupsChangeControllerPowerState.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/installUpdates": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to download and install updates."
          },
          "204": {
            "description": "Successfully installed updates."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Downloads and installs the updates on the device.",
        "operationId": "Devices_InstallUpdates",
        "x-ms-examples": {
          "DevicesInstallUpdates": {
            "$ref": "./examples/DevicesInstallUpdates.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            },
            "description": "The collection of jobs for the specified manager and device name."
          }
        },
        "tags": [
          "Jobs"
        ],
        "deprecated": false,
        "description": "Gets all the jobs for specified device. With optional OData query parameters, a filtered set of jobs is returned.",
        "operationId": "Jobs_ListByDevice",
        "x-ms-examples": {
          "JobsListByDevice": {
            "$ref": "./examples/JobsListByDevice.json"
          }
        },
        "x-ms-odata": "#/components/schemas/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The job Name.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "description": "The job."
          }
        },
        "tags": [
          "Jobs"
        ],
        "deprecated": false,
        "description": "Gets the details of the specified job name.",
        "operationId": "Jobs_Get",
        "x-ms-examples": {
          "JobsGet": {
            "$ref": "./examples/JobsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}/cancel": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The jobName.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to cancel a deviceJob"
          },
          "204": {
            "description": "Successfully cancelled the deviceJob"
          }
        },
        "tags": [
          "Jobs"
        ],
        "deprecated": false,
        "description": "Cancels a job on the device.",
        "operationId": "Jobs_Cancel",
        "x-ms-examples": {
          "JobsCancel": {
            "$ref": "./examples/JobsCancel.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/listFailoverSets": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailoverSetsList"
                }
              }
            },
            "description": "Returns the list of failover sets on the given device."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Returns all failover sets for a given device and their eligibility for participating in a failover. A failover set refers to a set of volume containers that need to be failed-over as a single unit to maintain data integrity.",
        "operationId": "Devices_ListFailoverSets",
        "x-ms-examples": {
          "DevicesListFailoverSets": {
            "$ref": "./examples/DevicesListFailoverSets.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricList"
                }
              }
            },
            "description": "The collection of metrics."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Gets the metrics for the specified device.",
        "operationId": "Devices_ListMetrics",
        "x-ms-examples": {
          "DevicesListMetrics": {
            "$ref": "./examples/DevicesListMetrics.json"
          }
        },
        "x-ms-odata": "#/components/schemas/MetricFilter",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/metricsDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionList"
                }
              }
            },
            "description": "The collection of metric definitions."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Gets the metric definitions for the specified device.",
        "operationId": "Devices_ListMetricDefinition",
        "x-ms-examples": {
          "DevicesListMetricDefinition": {
            "$ref": "./examples/DevicesListMetricDefinition.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/networkSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkSettings"
                }
              }
            },
            "description": "The Network settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Gets the network settings of the specified device.",
        "operationId": "DeviceSettings_GetNetworkSettings",
        "x-ms-examples": {
          "DeviceSettingsGetNetworkSettings": {
            "$ref": "./examples/DeviceSettingsGetNetworkSettings.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkSettings"
                }
              }
            },
            "description": "The Network settings."
          },
          "202": {
            "description": "Accepted the request to update network settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Updates the network settings on the specified device.",
        "operationId": "DeviceSettings_UpdateNetworkSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkSettingsPatch"
              }
            }
          },
          "description": "The network settings to be updated.",
          "required": true
        },
        "x-ms-examples": {
          "DeviceSettingsUpdateNetworkSettings": {
            "$ref": "./examples/DeviceSettingsUpdateNetworkSettings.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/publicEncryptionKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKey"
                }
              }
            },
            "description": "The public key."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Returns the public encryption key of the device.",
        "operationId": "Managers_GetDevicePublicEncryptionKey",
        "x-ms-examples": {
          "ManagersGetDevicePublicEncryptionKey": {
            "$ref": "./examples/ManagersGetDevicePublicEncryptionKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/scanForUpdates": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to scan for updates."
          },
          "204": {
            "description": "Successfully scanned for updates."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Scans for updates on the device.",
        "operationId": "Devices_ScanForUpdates",
        "x-ms-examples": {
          "DevicesScanForUpdates": {
            "$ref": "./examples/DevicesScanForUpdates.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/securitySettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySettings"
                }
              }
            },
            "description": "Device Security settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Returns the Security properties of the specified device name.",
        "operationId": "DeviceSettings_GetSecuritySettings",
        "x-ms-examples": {
          "DeviceSettingsGetSecuritySettings": {
            "$ref": "./examples/DeviceSettingsGetSecuritySettings.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySettings"
                }
              }
            },
            "description": "The device Security settings."
          },
          "202": {
            "description": "Accepted the request to update device security settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Patch Security properties of the specified device name.",
        "operationId": "DeviceSettings_UpdateSecuritySettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecuritySettingsPatch"
              }
            }
          },
          "description": "The security settings properties to be patched.",
          "required": true
        },
        "x-ms-examples": {
          "DeviceSettingsUpdateSecuritySettings": {
            "$ref": "./examples/DeviceSettingsUpdateSecuritySettings.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/securitySettings/default/syncRemoteManagementCertificate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to sync Remote Management certificate settings."
          },
          "204": {
            "description": "Successfully synced Remote Management certificate settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "sync Remote management Certificate between appliance and Service",
        "operationId": "DeviceSettings_SyncRemotemanagementCertificate",
        "x-ms-examples": {
          "DeviceSettingsSyncRemotemanagementCertificate": {
            "$ref": "./examples/DeviceSettingsSyncRemotemanagementCertificate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/sendTestAlertEmail": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully sent the test email."
          }
        },
        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "Sends a test alert email.",
        "operationId": "Alerts_SendTestEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTestAlertEmailRequest"
              }
            }
          },
          "description": "The send test alert email request.",
          "required": true
        },
        "x-ms-examples": {
          "AlertsSendTestEmail": {
            "$ref": "./examples/AlertsSendTestEmail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/timeSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSettings"
                }
              }
            },
            "description": "The time settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Gets the time settings of the specified device.",
        "operationId": "DeviceSettings_GetTimeSettings",
        "x-ms-examples": {
          "DeviceSettingsGetTimeSettings": {
            "$ref": "./examples/DeviceSettingsGetTimeSettings.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSettings"
                }
              }
            },
            "description": "Successfully created or updated the time settings."
          },
          "202": {
            "description": "Accepted the request to create or update the time settings."
          }
        },
        "tags": [
          "DeviceSettings"
        ],
        "deprecated": false,
        "description": "Creates or updates the time settings of the specified device.",
        "operationId": "DeviceSettings_CreateOrUpdateTimeSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeSettings"
              }
            }
          },
          "description": "The time settings to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "DeviceSettingsCreateOrUpdateTimeSettings": {
            "$ref": "./examples/DeviceSettingsCreateOrUpdateTimeSettings.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/updateSummary/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Updates"
                }
              }
            },
            "description": "The update summary."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Returns the update summary of the specified device name.",
        "operationId": "Devices_GetUpdateSummary",
        "x-ms-examples": {
          "DevicesGetUpdateSummary": {
            "$ref": "./examples/DevicesGetUpdateSummary.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeContainerList"
                }
              }
            },
            "description": "The VolumeContainer List"
          }
        },
        "tags": [
          "VolumeContainers"
        ],
        "deprecated": false,
        "description": "Gets all the volume containers in a device.",
        "operationId": "VolumeContainers_ListByDevice",
        "x-ms-examples": {
          "VolumeContainersListByDevice": {
            "$ref": "./examples/VolumeContainersListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The name of the volume container.",
            "in": "path",
            "name": "volumeContainerName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the Volume Container."
          },
          "204": {
            "description": "Successfully deleted Volume Container."
          }
        },
        "tags": [
          "VolumeContainers"
        ],
        "deprecated": false,
        "description": "Deletes the volume container.",
        "operationId": "VolumeContainers_Delete",
        "x-ms-examples": {
          "VolumeContainersDelete": {
            "$ref": "./examples/VolumeContainersDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceNameParameter"
          },
          {
            "allowReserved": true,
            "description": "The name of the volume container.",
            "in": "path",
            "name": "volumeContainerName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeContainer"
                }
              }
            },
            "description": "The VolumeContainer."
          }
        },
        "tags": [
          "VolumeContainers"
        ],
        "deprecated": false,
        "description": "Gets the properties of the specified volume container name.",
        "operationId": "VolumeContainers_Get",
        "x-ms-examples": {
          "VolumeContainersGet": {
            "$ref": "./examples/VolumeContainersGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
[...]
