{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Blueprints Client provides access to blueprint definitions, assignments, and artifacts, and related blueprint operations.",
    "title": "BlueprintClient",
    "version": "2018-11-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlueprintList"
                }
              }
            },
            "description": "OK -- retrieved list of blueprint definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Blueprint"
        ],
        "description": "List blueprint definitions.",
        "operationId": "Blueprints_List",
        "x-ms-examples": {
          "ManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/Blueprint_List.json"
          },
          "SubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/Blueprint_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            },
            "description": "OK -- blueprint definition deleted."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Blueprint"
        ],
        "description": "Delete a blueprint definition.",
        "operationId": "Blueprints_Delete",
        "x-ms-examples": {
          "ManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/Blueprint_Delete.json"
          },
          "SubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/Blueprint_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            },
            "description": "OK -- blueprint definition retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Blueprint"
        ],
        "description": "Get a blueprint definition.",
        "operationId": "Blueprints_Get",
        "x-ms-examples": {
          "ManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/Blueprint_Get.json"
          },
          "SubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/Blueprint_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            },
            "description": "Created -- blueprint definition saved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Blueprint"
        ],
        "description": "Create or update a blueprint definition.",
        "operationId": "Blueprints_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Blueprint"
              }
            }
          },
          "description": "Blueprint definition.",
          "required": true
        },
        "x-ms-examples": {
          "ManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/Blueprint_Create.json"
          },
          "ResourceGroupWithTags": {
            "$ref": "./examples/ResourceGroupWithTags.json"
          },
          "SubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/Blueprint_Create.json"
          }
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactList"
                }
              }
            },
            "description": "OK -- blueprint artifacts retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Artifact"
        ],
        "description": "List artifacts for a given blueprint definition.",
        "operationId": "Artifacts_List",
        "x-ms-examples": {
          "MG-ArtifactList": {
            "$ref": "./examples/managementGroupBPDef/Artifact_List.json"
          },
          "Sub-ArtifactList": {
            "$ref": "./examples/subscriptionBPDef/Artifact_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/ArtifactNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            },
            "description": "OK -- blueprint artifact deleted."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Artifact"
        ],
        "description": "Delete a blueprint artifact.",
        "operationId": "Artifacts_Delete",
        "x-ms-examples": {
          "MG-ARMTemplateArtifact": {
            "$ref": "./examples/managementGroupBPDef/ARMTemplateArtifact_Delete.json"
          },
          "MG-PolicyAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/PolicyAssignmentArtifact_Delete.json"
          },
          "MG-RoleAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/RoleAssignmentArtifact_Delete.json"
          },
          "Sub-ARMTemplateArtifact": {
            "$ref": "./examples/subscriptionBPDef/ARMTemplateArtifact_Delete.json"
          },
          "Sub-PolicyAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/PolicyAssignmentArtifact_Delete.json"
          },
          "Sub-RoleAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/RoleAssignmentArtifact_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/ArtifactNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            },
            "description": "OK -- blueprint artifact retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Artifact"
        ],
        "description": "Get a blueprint artifact.",
        "operationId": "Artifacts_Get",
        "x-ms-examples": {
          "MG-ARMTemplateArtifact": {
            "$ref": "./examples/managementGroupBPDef/ARMTemplateArtifact_Get.json"
          },
          "MG-PolicyAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/PolicyAssignmentArtifact_Get.json"
          },
          "MG-RoleAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/RoleAssignmentArtifact_Get.json"
          },
          "Sub-ARMTemplateArtifact": {
            "$ref": "./examples/subscriptionBPDef/ARMTemplateArtifact_Get.json"
          },
          "Sub-PolicyAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/PolicyAssignmentArtifact_Get.json"
          },
          "Sub-RoleAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/RoleAssignmentArtifact_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/ArtifactNameParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            },
            "description": "Created -- blueprint artifact created/updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "Artifact"
        ],
        "description": "Create or update blueprint artifact.",
        "operationId": "Artifacts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Artifact"
              }
            }
          },
          "description": "Blueprint artifact to create or update.",
          "required": true
        },
        "x-ms-examples": {
          "MG-ARMTemplateArtifact": {
            "$ref": "./examples/managementGroupBPDef/ARMTemplateArtifact_Create.json"
          },
          "MG-PolicyAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/PolicyAssignmentArtifact_Create.json"
          },
          "MG-RoleAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/RoleAssignmentArtifact_Create.json"
          },
          "Sub-ARMTemplateArtifact": {
            "$ref": "./examples/subscriptionBPDef/ARMTemplateArtifact_Create.json"
          },
          "Sub-PolicyAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/PolicyAssignmentArtifact_Create.json"
          },
          "Sub-RoleAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/RoleAssignmentArtifact_Create.json"
          }
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedBlueprintList"
                }
              }
            },
            "description": "OK -- all published versions of blueprint definition retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "PublishedBlueprint"
        ],
        "description": "List published versions of given blueprint definition.",
        "operationId": "PublishedBlueprints_List",
        "x-ms-examples": {
          "PublishedManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/SealedBlueprint_List.json"
          },
          "PublishedSubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/SealedBlueprint_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/PublishedBlueprintVersionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedBlueprint"
                }
              }
            },
            "description": "OK -- published version of blueprint definition deleted."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "PublishedBlueprint"
        ],
        "description": "Delete a published version of a blueprint definition.",
        "operationId": "PublishedBlueprints_Delete",
        "x-ms-examples": {
          "PublishedManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/SealedBlueprint_Delete.json"
          },
          "PublishedSubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/SealedBlueprint_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/PublishedBlueprintVersionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedBlueprint"
                }
              }
            },
            "description": "OK -- published blueprint definition retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "PublishedBlueprint"
        ],
        "description": "Get a published version of a blueprint definition.",
        "operationId": "PublishedBlueprints_Get",
        "x-ms-examples": {
          "PublishedManagementGroupBlueprint": {
            "$ref": "./examples/managementGroupBPDef/SealedBlueprint_Get.json"
          },
          "PublishedSubscriptionBlueprint": {
            "$ref": "./examples/subscriptionBPDef/SealedBlueprint_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/PublishedBlueprintVersionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedBlueprint"
                }
              }
            },
            "description": "Created -- blueprint definition published."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "PublishedBlueprint"
        ],
        "description": "Publish a new version of the blueprint definition with the latest artifacts. Published blueprint definitions are immutable.",
        "operationId": "PublishedBlueprints_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishedBlueprint"
              }
            }
          },
          "description": "Published Blueprint to create or update."
        },
        "x-ms-examples": {
          "PublishedManagementGroupBlueprint_Publish": {
            "$ref": "./examples/managementGroupBPDef/SealedBlueprint_Publish.json"
          },
          "PublishedSubscriptionBlueprint_Publish": {
            "$ref": "./examples/subscriptionBPDef/SealedBlueprint_Publish.json"
          }
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/PublishedBlueprintVersionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactList"
                }
              }
            },
            "description": "OK -- artifacts of a version of published blueprint definition retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "PublishedArtifact"
        ],
        "description": "List artifacts for a version of a published blueprint definition.",
        "operationId": "PublishedArtifacts_List",
        "x-ms-examples": {
          "MG-ArtifactList": {
            "$ref": "./examples/managementGroupBPDef/SealedArtifact_List.json"
          },
          "Sub-ArtifactList": {
            "$ref": "./examples/subscriptionBPDef/SealedArtifact_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts/{artifactName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/BlueprintNameParameter"
          },
          {
            "$ref": "#/components/parameters/PublishedBlueprintVersionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ArtifactNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            },
            "description": "OK -- artifact of published blueprint definition retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Blueprints error response."
          }
        },
        "tags": [
          "PublishedArtifact"
        ],
        "description": "Get an artifact for a published blueprint definition.",
        "operationId": "PublishedArtifacts_Get",
        "x-ms-examples": {
          "MG-ARMTemplateArtifact": {
            "$ref": "./examples/managementGroupBPDef/SealedARMTemplateArtifact_Get.json"
          },
          "MG-PolicyAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/SealedPolicyAssignmentArtifact_Get.json"
          },
          "MG-RoleAssignmentArtifact": {
            "$ref": "./examples/managementGroupBPDef/SealedRoleAssignmentArtifact_Get.json"
          },
          "Sub-ARMTemplateArtifact": {
            "$ref": "./examples/subscriptionBPDef/SealedARMTemplateArtifact_Get.json"
          },
          "Sub-PolicyAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/SealedPolicyAssignmentArtifact_Get.json"
          },
          "Sub-RoleAssignmentArtifact": {
            "$ref": "./examples/subscriptionBPDef/SealedRoleAssignmentArtifact_Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "ArtifactNameParameter": {
        "description": "Name of the blueprint artifact.",
        "in": "path",
        "name": "artifactName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "BlueprintNameParameter": {
        "description": "Name of the blueprint definition.",
        "in": "path",
        "name": "blueprintName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PublishedBlueprintVersionIdParameter": {
        "description": "Version of the published blueprint definition.",
        "in": "path",
        "name": "versionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ScopeParameter": {
        "allowReserved": true,
        "description": "The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}').",
        "in": "path",
        "name": "resourceScope",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method",
        "x-ms-skip-url-encoding": true
      }
    },
    "schemas": {
      "Artifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AzureResourceBase"
          }
        ],
        "description": "Represents a blueprint artifact.",
        "discriminator": {
          "propertyName": "kind"
        },
        "properties": {
          "kind": {
            "description": "Specifies the kind of blueprint artifact.",
            "enum": [
              "template",
              "roleAssignment",
              "policyAssignment"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ArtifactKind"
            }
          }
        },
        "required": [
          "kind"
        ],
        "type": "object"
      },
      "ArtifactList": {
        "description": "List of blueprint artifacts.",
        "properties": {
          "nextLink": {
            "description": "Link to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of blueprint artifacts.",
            "items": {
              "$ref": "#/components/schemas/Artifact"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ArtifactPropertiesBase": {
        "description": "Common properties shared by different artifacts.",
        "properties": {
          "dependsOn": {
            "description": "Artifacts which need to be deployed before the specified artifact.",
            "items": {
              "description": "ID of peer artifact.",
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "AzureResourceBase": {
        "description": "Common properties for all Azure resources.",
        "properties": {
          "id": {
            "description": "String Id used to locate any resource on Azure.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of this resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of this resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Blueprint": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AzureResourceBase"
          }
        ],
        "description": "Represents a Blueprint definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BlueprintProperties",
            "description": "Detailed properties for blueprint definition.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "BlueprintList": {
        "description": "List of blueprint definitions.",
        "properties": {
          "nextLink": {
            "description": "Link to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of blueprint definitions.",
            "items": {
              "$ref": "#/components/schemas/Blueprint"
            },
            "type": "array"
          }
        },
        "title": "BlueprintList",
        "type": "object"
      },
      "BlueprintProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SharedBlueprintProperties"
          }
        ],
        "description": "Schema for blueprint definition properties.",
        "properties": {
          "layout": {
            "description": "Layout view of the blueprint definition for UI reference.",
            "readOnly": true,
            "type": "object"
          },
          "versions": {
            "description": "Published versions of this blueprint definition.",
            "type": "object"
          }
        },
        "required": [
          "targetScope"
        ],
        "type": "object",
        "x-ms-external": true
      },
      "BlueprintResourcePropertiesBase": {
        "description": "Shared properties between all blueprint resources.",
        "properties": {
          "description": {
            "description": "Multi-line explain this resource.",
            "maxLength": 500,
            "type": "string"
          },
          "displayName": {
            "description": "One-liner string explain this resource.",
            "maxLength": 256,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "BlueprintResourceStatusBase": {
        "description": "Shared status properties between all blueprint resources.",
        "properties": {
          "lastModified": {
            "description": "Last modified time of this blueprint definition.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "timeCreated": {
            "description": "Creation time of this blueprint definition.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "BlueprintStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlueprintResourceStatusBase"
          }
        ],
        "description": "The status of the blueprint. This field is readonly.",
        "properties": {},
        "type": "object"
      },
      "CloudError": {
        "properties": {
          "error": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "ParameterDefinition": {
        "description": "Represent a parameter with constrains and metadata.",
        "properties": {
          "allowedValues": {
            "description": "Array of allowed values for this parameter.",
            "items": {
              "description": "Allowed value."
            },
            "type": "array"
          },
          "defaultValue": {
            "description": "Default Value for this parameter."
          },
          "metadata": {
            "$ref": "#/components/schemas/ParameterDefinitionMetadata",
            "description": "User-friendly properties for this parameter.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Allowed data types for Resource Manager template parameters.",
            "enum": [
              "string",
              "array",
              "bool",
              "int",
              "object",
              "secureObject",
              "secureString"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "TemplateParameterType"
            }
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "ParameterDefinitionMetadata": {
        "description": "User-friendly properties for this parameter.",
        "properties": {
          "description": {
            "description": "Description of this parameter/resourceGroup.",
            "maxLength": 500,
            "type": "string"
          },
          "displayName": {
            "description": "DisplayName of this parameter/resourceGroup.",
            "maxLength": 256,
            "type": "string"
          },
          "strongType": {
            "description": "StrongType for UI to render rich experience during blueprint assignment. Supported strong types are resourceType, principalId and location.",
            "maxLength": 64,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ParameterValue": {
        "description": "Value for the specified parameter. Can be either 'value' or 'reference' but not both.",
        "properties": {
          "reference": {
            "$ref": "#/components/schemas/SecretValueReference",
            "description": "Parameter value as reference type.",
            "type": "object"
          },
          "value": {
            "description": "Parameter value. Any valid JSON value is allowed including objects, arrays, strings, numbers and booleans.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "PolicyAssignmentArtifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Artifact"
          }
        ],
        "description": "Blueprint artifact that applies a Policy assignment.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PolicyAssignmentArtifactProperties",
            "description": "properties for policyAssignment Artifact",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-discriminator-value": "policyAssignment"
      },
      "PolicyAssignmentArtifactProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlueprintResourcePropertiesBase"
          },
          {
            "$ref": "#/components/schemas/ArtifactPropertiesBase"
          }
        ],
        "description": "Properties of a Policy assignment blueprint artifact.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ParameterValue",
              "description": "Key/Value pair of parameter fulfillment."
            },
            "description": "Parameter values for the policy definition.",
            "type": "object"
          },
          "policyDefinitionId": {
            "description": "Azure resource ID of the policy definition.",
            "type": "string"
          },
          "resourceGroup": {
            "description": "Name of the resource group placeholder to which the policy will be assigned.",
            "type": "string"
          }
        },
        "required": [
          "policyDefinitionId",
          "parameters"
        ],
        "type": "object"
      },
      "PublishedBlueprint": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AzureResourceBase"
          }
        ],
        "description": "Represents a published blueprint.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PublishedBlueprintProperties",
            "description": "Detailed properties for published blueprint.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "PublishedBlueprintList": {
        "description": "List of published blueprint definitions.",
        "properties": {
          "nextLink": {
            "description": "Link to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of published blueprint definitions.",
            "items": {
              "$ref": "#/components/schemas/PublishedBlueprint"
            },
            "type": "array"
          }
        },
        "title": "BlueprintList",
        "type": "object"
      },
      "PublishedBlueprintProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SharedBlueprintProperties"
          }
        ],
        "description": "Schema for published blueprint definition properties.",
        "properties": {
          "blueprintName": {
            "description": "Name of the published blueprint definition.",
            "type": "string"
          },
          "changeNotes": {
            "description": "Version-specific change notes.",
            "maxLength": 500,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "ResourceGroupDefinition": {
        "description": "Represents an Azure resource group in a blueprint definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Tags to be assigned to this resource group.",
            "type": "object"
          },
          "dependsOn": {
            "description": "Artifacts which need to be deployed before this resource group.",
            "items": {
              "description": "Name of peer artifact.",
              "type": "string"
            },
            "type": "array"
          },
          "location": {
            "description": "Location of this resourceGroup. Leave empty if the resource group location will be specified during the blueprint assignment.",
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ParameterDefinitionMetadata",
            "description": "User-friendly properties for this resource group.",
            "x-ms-client-flatten": true
          },
          "name": {
            "description": "Name of this resourceGroup. Leave empty if the resource group name will be specified during the blueprint assignment.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceProviderOperation": {
        "description": "Supported operations of this resource provider.",
        "properties": {
          "display": {
            "description": "Display metadata associated with the operation.",
            "properties": {
              "description": {
                "description": "Description of this operation.",
                "type": "string"
              },
              "operation": {
                "description": "Type of operation: get, read, delete, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Resource provider: Microsoft Blueprint.",
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name, in format of {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "ResourceProviderOperationList": {
        "description": "Results of the request to list operations.",
        "properties": {
          "value": {
            "description": "List of operations supported by this resource provider.",
            "items": {
              "$ref": "#/components/schemas/ResourceProviderOperation"
            },
            "type": "array"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "RoleAssignmentArtifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Artifact"
          }
        ],
        "description": "Blueprint artifact that applies a Role assignment.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RoleAssignmentArtifactProperties",
            "description": "Properties for a Role assignment blueprint artifact.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-discriminator-value": "roleAssignment"
      },
      "RoleAssignmentArtifactProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlueprintResourcePropertiesBase"
          },
          {
            "$ref": "#/components/schemas/ArtifactPropertiesBase"
          }
        ],
        "description": "Properties of a Role assignment blueprint artifact.",
        "properties": {
          "principalIds": {
            "description": "Array of user or group identities in Azure Active Directory. The roleDefinition will apply to each identity."
          },
          "resourceGroup": {
            "description": "RoleAssignment will be scope to this resourceGroup. If empty, it scopes to the subscription.",
            "type": "string"
          },
          "roleDefinitionId": {
            "description": "Azure resource ID of the RoleDefinition.",
            "type": "string"
          }
        },
        "required": [
          "roleDefinitionId",
          "principalIds"
        ],
        "type": "object"
      },
      "SecretValueReference": {
        "description": "Reference to a Key Vault secret.",
        "properties": {
          "keyVault": {
            "$ref": "#/components/schemas/keyVaultReference",
            "description": "Specifies the reference to a given Azure Key Vault."
          },
          "secretName": {
            "description": "Name of the secret.",
            "type": "string"
          },
          "secretVersion": {
            "description": "The version of the secret to use. If left blank, the latest version of the secret is used.",
            "type": "string"
          }
        },
        "required": [
          "keyVault",
          "secretName"
        ],
        "type": "object"
      },
      "SharedBlueprintProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlueprintResourcePropertiesBase"
          }
        ],
        "description": "Shared Schema for both blueprintProperties and publishedBlueprintProperties.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ParameterDefinition",
              "description": "Named collection of parameter metadata."
            },
            "description": "Parameters required by this blueprint definition.",
            "type": "object"
          },
          "resourceGroups": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ResourceGroupDefinition",
              "description": "Named collection for resourceGroupDefinition."
            },
            "description": "Resource group placeholders defined by this blueprint definition.",
            "type": "object"
          },
          "status": {
            "$ref": "#/components/schemas/BlueprintStatus",
            "description": "Status of the blueprint. This field is readonly.",
            "readOnly": true
          },
          "targetScope": {
            "description": "The scope where this blueprint definition can be assigned.",
            "enum": [
              "subscription",
              "managementGroup"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "BlueprintTargetScope",
              "values": [
                {
                  "description": "The blueprint targets a subscription during blueprint assignment.",
                  "value": "subscription"
                },
                {
                  "description": "The blueprint targets a management group during blueprint assignment. This is reserved for future use.",
                  "value": "managementGroup"
                }
              ]
            }
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "TemplateArtifact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Artifact"
          }
        ],
        "description": "Blueprint artifact that deploys a Resource Manager template.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/TemplateArtifactProperties",
            "description": "Properties for a Resource Manager template blueprint artifact.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-discriminator-value": "template"
      },
      "TemplateArtifactProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BlueprintResourcePropertiesBase"
          },
          {
            "$ref": "#/components/schemas/ArtifactPropertiesBase"
          }
        ],
        "description": "Properties of a Resource Manager template blueprint artifact.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ParameterValue",
              "description": "Key/Value pair of parameter fulfillment."
            },
            "description": "Resource Manager template blueprint artifact parameter values.",
            "type": "object"
          },
          "resourceGroup": {
            "description": "If applicable, the name of the resource group placeholder to which the Resource Manager template blueprint artifact will be deployed.",
            "type": "string"
          },
          "template": {
            "description": "The Resource Manager template blueprint artifact body.",
            "type": "object"
          }
        },
        "required": [
          "template",
          "parameters"
        ],
        "type": "object"
      },
      "keyVaultReference": {
        "description": "Specifies the link to a Key Vault.",
        "properties": {
          "id": {
            "description": "Azure resource ID of the Key Vault.",
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}