openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2019-01-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/automations':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response that describes why the operation failed.
      tags:
        - Automations
      description: >-
        Lists all the security automations in the specified subscription. Use
        the 'nextLink' property in the response to get the next page of security
        automations for the specified subscription.
      operationId: Automations_List
      x-ms-examples:
        List all security automations of a specified subscription:
          $ref: ./examples/Automations/GetAutomationsSubscription_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response that describes why the operation failed.
      tags:
        - Automations
      description: >-
        Lists all the security automations in the specified resource group. Use
        the 'nextLink' property in the response to get the next page of security
        automations for the specified resource group.
      operationId: Automations_ListByResourceGroup
      x-ms-examples:
        List all security automations of a specified resource group:
          $ref: ./examples/Automations/GetAutomationsResourceGroup_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}':
    delete:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/AutomationName'
      responses:
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response that describes why the operation failed.
      tags:
        - Automations
      description: Deletes a security automation.
      operationId: Automations_Delete
      x-ms-examples:
        Delete a security automation:
          $ref: ./examples/Automations/DeleteAutomation_example.json
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/AutomationName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response that describes why the operation failed.
      tags:
        - Automations
      description: Retrieves information about the model of a security automation.
      operationId: Automations_Get
      x-ms-examples:
        Retrieve a security automation:
          $ref: ./examples/Automations/GetAutomationResourceGroup_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/AutomationName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response that describes why the operation failed.
      tags:
        - Automations
      description: >-
        Creates or updates a security automation. If a security automation is
        already created and a subsequent request is issued for the same
        automation id, then it will be updated.
      operationId: Automations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Automation'
        description: The security automation resource
        required: true
      x-ms-examples:
        Create or update a security automation for all assessments (including all severities):
          $ref: ./examples/Automations/PutAutomationAllAssessments_example.json
        Create or update a security automation for all high severity assessments:
          $ref: >-
            ./examples/Automations/PutAutomationHighSeverityAssessments_example.json
        Disable or enable a security automation:
          $ref: ./examples/Automations/PutDisableAutomation_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}/validate':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/AutomationName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationValidationStatus'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response that describes why the operation failed.
      tags:
        - Automations
      description: >-
        Validates the security automation model before create or update. Any
        validation errors are returned to the client.
      operationId: Automations_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Automation'
        description: The security automation resource
        required: true
      x-ms-examples:
        Validate the security automation model before create or update:
          $ref: ./examples/Automations/ValidateAutomation_example.json
components:
  parameters:
    AutomationName:
      description: The security automation name.
      in: path
      name: automationName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    Automation:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Automation'
      description: The security automation resource
      required: true
  schemas:
    Automation:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/TrackedResource
      description: The security automation resource.
      properties:
        properties:
          $ref: '#/components/schemas/AutomationProperties'
          description: Security automation data
          x-ms-client-flatten: true
      type: object
    AutomationAction:
      description: The action that should be triggered.
      discriminator:
        propertyName: actionType
      properties:
        actionType:
          description: The type of the action that will be triggered by the Automation
          enum:
            - LogicApp
            - EventHub
            - Workspace
          type: string
          x-ms-enum:
            modelAsString: true
            name: ActionType
            values:
              - value: LogicApp
              - value: EventHub
              - value: Workspace
      required:
        - actionType
      type: object
    AutomationActionEventHub:
      allOf:
        - $ref: '#/components/schemas/AutomationAction'
      description: >-
        The target Event Hub to which event data will be exported. To learn more
        about Microsoft Defender for Cloud continuous export capabilities, visit
        https://aka.ms/ASCExportLearnMore
      properties:
        connectionString:
          description: >-
            The target Event Hub connection string (it will not be included in
            any response).
          type: string
        eventHubResourceId:
          description: The target Event Hub Azure Resource ID.
          type: string
        sasPolicyName:
          description: The target Event Hub SAS policy name.
          readOnly: true
          type: string
      type: object
      x-ms-discriminator-value: EventHub
    AutomationActionLogicApp:
      allOf:
        - $ref: '#/components/schemas/AutomationAction'
      description: >-
        The logic app action that should be triggered. To learn more about
        Microsoft Defender for Cloud's Workflow Automation capabilities, visit
        https://aka.ms/ASCWorkflowAutomationLearnMore
      properties:
        logicAppResourceId:
          description: >-
            The triggered Logic App Azure Resource ID. This can also reside on
            other subscriptions, given that you have permissions to trigger the
            Logic App
          type: string
        uri:
          description: >-
            The Logic App trigger URI endpoint (it will not be included in any
            response).
          format: uri
          type: string
      type: object
      x-ms-discriminator-value: LogicApp
    AutomationActionWorkspace:
      allOf:
        - $ref: '#/components/schemas/AutomationAction'
      description: "The\_Log\_Analytics\_Workspace\_to\_which\_event data will be exported. Security alerts data will reside in the 'SecurityAlert' table and the assessments data will reside in the 'SecurityRecommendation' table (under the 'Security'/'SecurityCenterFree' solutions). Note that in order to view the data in the workspace, the Security Center Log Analytics free/standard solution needs to be enabled on that workspace. To learn more about Microsoft Defender for Cloud continuous export capabilities, visit https://aka.ms/ASCExportLearnMore"
      properties:
        workspaceResourceId:
          description: The fully qualified Log Analytics Workspace Azure Resource ID.
          type: string
      type: object
      x-ms-discriminator-value: Workspace
    AutomationList:
      description: List of security automations response.
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: The list of security automations under the given scope.
          items:
            $ref: '#/components/schemas/Automation'
          type: array
      required:
        - value
      type: object
    AutomationProperties:
      description: >-
        A set of properties that defines the behavior of the automation
        configuration. To learn more about the supported security events data
        models schemas - please visit https://aka.ms/ASCAutomationSchemas.
      properties:
        actions:
          description: >-
            A collection of the actions which are triggered if all the
            configured rules evaluations, within at least one rule set, are
            true.
          items:
            $ref: '#/components/schemas/AutomationAction'
          type: array
        description:
          description: The security automation description.
          type: string
        isEnabled:
          description: Indicates whether the security automation is enabled.
          type: boolean
        scopes:
          description: >-
            A collection of scopes on which the security automations logic is
            applied. Supported scopes are the subscription itself or a resource
            group under that subscription. The automation will only apply on
            defined scopes.
          items:
            $ref: '#/components/schemas/AutomationScope'
          type: array
        sources:
          description: >-
            A collection of the source event types which evaluate the security
            automation set of rules.
          items:
            $ref: '#/components/schemas/AutomationSource'
          type: array
      type: object
    AutomationRuleSet:
      description: >-
        A rule set which evaluates all its rules upon an event interception.
        Only when all the included rules in the rule set will be evaluated as
        'true', will the event trigger the defined actions.
      properties:
        rules:
          items:
            $ref: '#/components/schemas/AutomationTriggeringRule'
          type: array
      type: object
    AutomationScope:
      description: A single automation scope.
      properties:
        description:
          description: The resources scope description.
          type: string
        scopePath:
          description: >-
            The resources scope path. Can be the subscription on which the
            automation is defined on or a resource group under that subscription
            (fully qualified Azure resource IDs).
          type: string
      type: object
    AutomationSource:
      description: >-
        The source event types which evaluate the security automation set of
        rules. For example - security alerts and security assessments. To learn
        more about the supported security events data models schemas - please
        visit https://aka.ms/ASCAutomationSchemas.
      properties:
        eventSource:
          description: A valid event source type.
          enum:
            - Assessments
            - AssessmentsSnapshot
            - SubAssessments
            - SubAssessmentsSnapshot
            - Alerts
            - SecureScores
            - SecureScoresSnapshot
            - SecureScoreControls
            - SecureScoreControlsSnapshot
            - RegulatoryComplianceAssessment
            - RegulatoryComplianceAssessmentSnapshot
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventSource
            values:
              - value: Assessments
              - value: AssessmentsSnapshot
              - value: SubAssessments
              - value: SubAssessmentsSnapshot
              - value: Alerts
              - value: SecureScores
              - value: SecureScoresSnapshot
              - value: SecureScoreControls
              - value: SecureScoreControlsSnapshot
              - value: RegulatoryComplianceAssessment
              - value: RegulatoryComplianceAssessmentSnapshot
        ruleSets:
          description: >-
            A set of rules which evaluate upon event interception. A logical
            disjunction is applied between defined rule sets (logical 'or').
          items:
            $ref: '#/components/schemas/AutomationRuleSet'
          type: array
      type: object
    AutomationTriggeringRule:
      description: >-
        A rule which is evaluated upon event interception. The rule is
        configured by comparing a specific value from the event model to an
        expected value. This comparison is done by using one of the supported
        operators set.
      properties:
        expectedValue:
          description: The expected value.
          type: string
        operator:
          description: >-
            A valid comparer operator to use. A case-insensitive comparison will
            be applied for String PropertyType.
          enum:
            - Equals
            - GreaterThan
            - GreaterThanOrEqualTo
            - LesserThan
            - LesserThanOrEqualTo
            - NotEquals
            - Contains
            - StartsWith
            - EndsWith
          type: string
          x-ms-enum:
            modelAsString: true
            name: Operator
            values:
              - description: Applies for decimal and non-decimal operands
                value: Equals
              - description: Applies only for decimal operands
                value: GreaterThan
              - description: Applies only for decimal operands
                value: GreaterThanOrEqualTo
              - description: Applies only for decimal operands
                value: LesserThan
              - description: Applies only for decimal operands
                value: LesserThanOrEqualTo
              - description: Applies  for decimal and non-decimal operands
                value: NotEquals
              - description: Applies only for non-decimal operands
                value: Contains
              - description: Applies only for non-decimal operands
                value: StartsWith
              - description: Applies only for non-decimal operands
                value: EndsWith
        propertyJPath:
          description: The JPath of the entity model property that should be checked.
          type: string
        propertyType:
          description: >-
            The data type of the compared operands (string, integer, floating
            point number or a boolean [true/false]]
          enum:
            - String
            - Integer
            - Number
            - Boolean
          type: string
          x-ms-enum:
            modelAsString: true
            name: PropertyType
            values:
              - value: String
              - value: Integer
              - value: Number
              - value: Boolean
      type: object
    AutomationValidationStatus:
      description: The security automation model state property bag.
      properties:
        isValid:
          description: Indicates whether the model is valid or not.
          type: boolean
        message:
          description: The validation message.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

