{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "title": "Security Center",
    "version": "2019-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/iotSecuritySolutionAnalytics.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoTSecuritySolutionAnalyticsModelList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "IoT Security Solution Analytics"
        ],
        "description": "Use this method to get IoT security Analytics metrics in an array.",
        "operationId": "IotSecuritySolutionAnalytics_List",
        "x-ms-examples": {
          "Get Security Solution Analytics": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalyticsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoTSecuritySolutionAnalyticsModel"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "IoT Security Solution Analytics"
        ],
        "description": "Use this method to get IoT Security Analytics metrics.",
        "operationId": "IotSecuritySolutionAnalytics_Get",
        "x-ms-examples": {
          "Get Security Solution Analytics": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalytics.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          },
          {
            "description": "Number of results to retrieve.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoTSecurityAggregatedAlertList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Aggregated Alert"
        ],
        "description": "Use this method to get the aggregated alert list of yours IoT Security solution.",
        "operationId": "IotSecuritySolutionsAnalyticsAggregatedAlert_List",
        "x-ms-examples": {
          "Get the aggregated alert list of yours IoT Security solution": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlertList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          },
          {
            "$ref": "#/components/parameters/AggregatedAlertName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoTSecurityAggregatedAlert"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Aggregated Alert"
        ],
        "description": "Use this method to get a single the aggregated alert of yours IoT Security solution. This aggregation is performed by alert name.",
        "operationId": "IotSecuritySolutionsAnalyticsAggregatedAlert_Get",
        "x-ms-examples": {
          "Get the aggregated security analytics alert of yours IoT Security solution. This aggregation is performed by alert name": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlert.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}/dismiss": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          },
          {
            "$ref": "#/components/parameters/AggregatedAlertName"
          }
        ],
        "responses": {
          "200": {
            "description": "This aggregate alert is permanently dismissed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Aggregated Alert"
        ],
        "description": "Use this method to dismiss an aggregated IoT Security Solution Alert.",
        "operationId": "IotSecuritySolutionsAnalyticsAggregatedAlert_Dismiss",
        "x-ms-examples": {
          "Dismiss an aggregated IoT Security Solution Alert": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/PostIoTSecuritySolutionsSecurityAggregatedAlertDismiss.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          },
          {
            "description": "Number of results to retrieve.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoTSecurityAggregatedRecommendationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Aggregated Recommendation"
        ],
        "description": "Use this method to get the list of aggregated security analytics recommendations of yours IoT Security solution.",
        "operationId": "IotSecuritySolutionsAnalyticsRecommendation_List",
        "x-ms-examples": {
          "Get the list of aggregated security analytics recommendations of yours IoT Security solution": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations/{aggregatedRecommendationName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/SolutionName"
          },
          {
            "$ref": "#/components/parameters/AggregatedRecommendationName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoTSecurityAggregatedRecommendation"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Aggregated Recommendation"
        ],
        "description": "Use this method to get the aggregated security analytics recommendation of yours IoT Security solution. This aggregation is performed by recommendation name.",
        "operationId": "IotSecuritySolutionsAnalyticsRecommendation_Get",
        "x-ms-examples": {
          "Get the aggregated security analytics recommendation of yours IoT Security solution": {
            "$ref": "./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendation.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AggregatedAlertName": {
        "description": "Identifier of the aggregated alert.",
        "in": "path",
        "name": "aggregatedAlertName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "AggregatedRecommendationName": {
        "description": "Name of the recommendation aggregated for this query.",
        "in": "path",
        "name": "aggregatedRecommendationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SolutionName": {
        "description": "The name of the IoT Security solution.",
        "in": "path",
        "name": "solutionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "IoTSecurityAggregatedAlert": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          },
          {
            "$ref": "#/components/schemas/TagsResource"
          }
        ],
        "description": "Security Solution Aggregated Alert information",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/IoTSecurityAggregatedAlertProperties",
            "description": "IoT Security solution aggregated alert details.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "IoTSecurityAggregatedAlertList": {
        "description": "List of IoT Security solution aggregated alert data.",
        "properties": {
          "nextLink": {
            "description": "When there is too much alert data for one page, use this URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of aggregated alerts data.",
            "items": {
              "$ref": "#/components/schemas/IoTSecurityAggregatedAlert"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "IoTSecurityAggregatedAlertProperties": {
        "description": "IoT Security solution aggregated alert details.",
        "properties": {
          "actionTaken": {
            "description": "IoT Security solution alert response.",
            "readOnly": true,
            "type": "string"
          },
          "aggregatedDateUtc": {
            "description": "Date of detection.",
            "format": "date",
            "readOnly": true,
            "type": "string"
          },
          "alertDisplayName": {
            "description": "Display name of the alert type.",
            "readOnly": true,
            "type": "string"
          },
          "alertType": {
            "description": "Name of the alert type.",
            "readOnly": true,
            "type": "string"
          },
          "count": {
            "description": "Number of alerts occurrences within the aggregated time window.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "description": {
            "description": "Description of the suspected vulnerability and meaning.",
            "readOnly": true,
            "type": "string"
          },
          "effectedResourceType": {
            "description": "Azure resource ID of the resource that received the alerts.",
            "readOnly": true,
            "type": "string"
          },
          "logAnalyticsQuery": {
            "description": "Log analytics query for getting the list of affected devices/alerts.",
            "readOnly": true,
            "type": "string"
          },
          "remediationSteps": {
            "description": "Recommended steps for remediation.",
            "readOnly": true,
            "type": "string"
          },
          "reportedSeverity": {
            "description": "Assessed alert severity.",
            "enum": [
              "Informational",
              "Low",
              "Medium",
              "High"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "reportedSeverity",
              "values": [
                {
                  "value": "Informational"
                },
                {
                  "value": "Low"
                },
                {
                  "value": "Medium"
                },
                {
                  "value": "High"
                }
              ]
            }
          },
          "systemSource": {
            "description": "The type of the alerted resource (Azure, Non-Azure).",
            "readOnly": true,
            "type": "string"
          },
          "topDevicesList": {
            "description": "10 devices with the highest number of occurrences of this alert type, on this day.",
            "items": {
              "properties": {
                "alertsCount": {
                  "description": "Number of alerts raised for this device.",
                  "format": "int64",
                  "readOnly": true,
                  "type": "integer"
                },
                "deviceId": {
                  "description": "Name of the device.",
                  "readOnly": true,
                  "type": "string"
                },
                "lastOccurrence": {
                  "description": "Most recent time this alert was raised for this device, on this day.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "vendorName": {
            "description": "Name of the organization that raised the alert.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "IoTSecurityAggregatedRecommendation": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          },
          {
            "$ref": "#/components/schemas/TagsResource"
          }
        ],
        "description": "IoT Security solution recommendation information.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/IoTSecurityAggregatedRecommendationProperties",
            "description": "Security Solution data",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "IoTSecurityAggregatedRecommendationList": {
        "description": "List of IoT Security solution aggregated recommendations.",
        "properties": {
          "nextLink": {
            "description": "When there is too much alert data for one page, use this URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of aggregated recommendations data.",
            "items": {
              "$ref": "#/components/schemas/IoTSecurityAggregatedRecommendation"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "IoTSecurityAggregatedRecommendationProperties": {
        "description": "IoT Security solution aggregated recommendation information",
        "properties": {
          "description": {
            "description": "Description of the suspected vulnerability and meaning.",
            "readOnly": true,
            "type": "string"
          },
          "detectedBy": {
            "description": "Name of the organization that made the recommendation.",
            "readOnly": true,
            "type": "string"
          },
          "healthyDevices": {
            "description": "Number of healthy devices within the IoT Security solution.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "logAnalyticsQuery": {
            "description": "Log analytics query for getting the list of affected devices/alerts.",
            "readOnly": true,
            "type": "string"
          },
          "recommendationDisplayName": {
            "description": "Display name of the recommendation type.",
            "readOnly": true,
            "type": "string"
          },
          "recommendationName": {
            "description": "Name of the recommendation.",
            "type": "string"
          },
          "recommendationTypeId": {
            "description": "Recommendation-type GUID.",
            "readOnly": true,
            "type": "string"
          },
          "remediationSteps": {
            "description": "Recommended steps for remediation",
            "readOnly": true,
            "type": "string"
          },
          "reportedSeverity": {
            "description": "Assessed recommendation severity.",
            "enum": [
              "Informational",
              "Low",
              "Medium",
              "High"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "reportedSeverity",
              "values": [
                {
                  "value": "Informational"
                },
                {
                  "value": "Low"
                },
                {
                  "value": "Medium"
                },
                {
                  "value": "High"
                }
              ]
            }
          },
          "unhealthyDeviceCount": {
            "description": "Number of unhealthy devices within the IoT Security solution.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "IoTSecurityAlertedDevice": {
        "description": "Statistical information about the number of alerts per device during last set number of days.",
        "properties": {
          "alertsCount": {
            "description": "Number of alerts raised for this device.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "deviceId": {
            "description": "Device identifier.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "IoTSecurityAlertedDevicesList": {
        "description": "List of devices with open alerts including the count of alerts per device.",
        "items": {
          "$ref": "#/components/schemas/IoTSecurityAlertedDevice"
        },
        "type": "array"
      },
      "IoTSecurityDeviceAlert": {
        "description": "Statistical information about the number of alerts per alert type during last set number of days",
        "properties": {
          "alertDisplayName": {
            "description": "Display name of the alert",
            "readOnly": true,
            "type": "string"
          },
          "alertsCount": {
            "description": "Number of alerts raised for this alert type.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "reportedSeverity": {
            "description": "Assessed Alert severity.",
            "enum": [
              "Informational",
              "Low",
              "Medium",
              "High"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "reportedSeverity",
              "values": [
                {
                  "value": "Informational"
                },
                {
                  "value": "Low"
                },
                {
                  "value": "Medium"
                },
                {
                  "value": "High"
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "IoTSecurityDeviceAlertsList": {
        "description": "List of alerts with the count of raised alerts",
        "items": {
          "$ref": "#/components/schemas/IoTSecurityDeviceAlert"
        },
        "type": "array"
      },
      "IoTSecurityDeviceRecommendation": {
        "description": "Statistical information about the number of recommendations per device, per recommendation type.",
        "properties": {
          "devicesCount": {
            "description": "Number of devices with this recommendation.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "recommendationDisplayName": {
            "description": "Display name of the recommendation.",
            "readOnly": true,
            "type": "string"
          },
          "reportedSeverity": {
            "description": "Assessed recommendation severity.",
            "enum": [
              "Informational",
              "Low",
              "Medium",
              "High"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "reportedSeverity",
              "values": [
                {
                  "value": "Informational"
                },
                {
                  "value": "Low"
                },
                {
                  "value": "Medium"
                },
                {
                  "value": "High"
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "IoTSecurityDeviceRecommendationsList": {
        "description": "List of aggregated recommendation data, per recommendation type, per device.",
        "items": {
          "$ref": "#/components/schemas/IoTSecurityDeviceRecommendation"
        },
        "type": "array"
      },
      "IoTSecuritySolutionAnalyticsModel": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "Security analytics of your IoT Security solution",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/IoTSecuritySolutionAnalyticsModelProperties",
            "description": "Security Solution  Aggregated Alert data",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "IoTSecuritySolutionAnalyticsModelList": {
        "description": "List of Security analytics of your IoT Security solution",
        "properties": {
          "nextLink": {
            "description": "When there is too much alert data for one page, use this URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of Security analytics of your IoT Security solution",
            "items": {
              "$ref": "#/components/schemas/IoTSecuritySolutionAnalyticsModel"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "IoTSecuritySolutionAnalyticsModelProperties": {
        "description": "Security analytics properties of your IoT Security solution",
        "properties": {
          "devicesMetrics": {
            "description": "List of device metrics by the aggregation date.",
            "items": {
              "properties": {
                "date": {
                  "description": "Aggregation of IoT Security solution device alert metrics by date.",
                  "format": "date-time",
                  "type": "string"
                },
                "devicesMetrics": {
                  "$ref": "#/components/schemas/IoTSeverityMetrics",
                  "description": "Device alert count by severity.",
                  "type": "object"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "metrics": {
            "$ref": "#/components/schemas/IoTSeverityMetrics",
            "description": "Security analytics of your IoT Security solution.",
            "readOnly": true,
            "type": "object"
          },
          "mostPrevalentDeviceAlerts": {
            "$ref": "#/components/schemas/IoTSecurityDeviceAlertsList",
            "description": "List of the 3 most prevalent device alerts.",
            "type": "object"
          },
          "mostPrevalentDeviceRecommendations": {
            "$ref": "#/components/schemas/IoTSecurityDeviceRecommendationsList",
            "description": "List of the 3 most prevalent device recommendations.",
            "type": "object"
          },
          "topAlertedDevices": {
            "$ref": "#/components/schemas/IoTSecurityAlertedDevicesList",
            "description": "List of the 3 devices with the most alerts.",
            "type": "object"
          },
          "unhealthyDeviceCount": {
            "description": "Number of unhealthy devices within your IoT Security solution.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "IoTSeverityMetrics": {
        "description": "IoT Security solution analytics severity metrics.",
        "properties": {
          "high": {
            "description": "Count of high severity alerts/recommendations.",
            "format": "int64",
            "type": "integer"
          },
          "low": {
            "description": "Count of low severity alerts/recommendations.",
            "format": "int64",
            "type": "integer"
          },
          "medium": {
            "description": "Count of medium severity alerts/recommendations.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "TagsResource": {
        "description": "A container holding only the Tags for a resource, allowing the user to update the tags.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}