openapi: 3.0.0
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: '2019-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments':
    get:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDeploymentsList'
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes bootstrap action on the product deployment
      operationId: ProductDeployments_List
      x-ms-examples:
        List the product deployments:
          $ref: ./examples/ProductDeployment/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}':
    get:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
        - $ref: Deployment.json#/components/parameters/ProductIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDeploymentResourceEntity'
          description: Ok
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes bootstrap action on the product deployment
      operationId: ProductDeployments_Get
      x-ms-examples:
        Gets the specified product deployment:
          $ref: ./examples/ProductDeployment/Get.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap':
    post:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ProductIdParameter
        - $ref: >-
            ProductDeployment.json#/components/parameters/BootstrapActionParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes bootstrap action on the product deployment
      operationId: BootstrapAction_Product
      x-ms-examples:
        Invokes bootstrap action on the product deployment:
          $ref: ./examples/ProductDeployment/Bootstrap.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy':
    post:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ProductIdParameter
        - $ref: ProductDeployment.json#/components/parameters/DeployActionParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes deploy action on the product
      operationId: DeployAction_Product
      x-ms-examples:
        Invokes deploy action on the product:
          $ref: ./examples/ProductDeployment/Deploy.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/executeRunner':
    post:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ProductIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes execute runner action on the product deployment
      operationId: ExecuteRunnerAction_Product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRunnerActionParameters'
        description: Represents execute runner action parameter
        required: true
      x-ms-examples:
        Invokes rotate secrets action on the product deployment:
          $ref: ./examples/ProductDeployment/ExecuteRunner.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove':
    post:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ProductIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes remove action on the product deployment
      operationId: RemoveAction_Product
      x-ms-examples:
        Invokes remove action on the product deployment:
          $ref: ./examples/ProductDeployment/Remove.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets':
    post:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ProductIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ProductDeployments
      description: Invokes rotate secrets action on the product deployment
      operationId: RotateSecretsAction_Product
      x-ms-examples:
        Invokes rotate secrets action on the product deployment:
          $ref: ./examples/ProductDeployment/RotateSecrets.json
      x-ms-long-running-operation: true
components:
  parameters:
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      in: path
      name: resourceGroup
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    BootStrapActionParameters:
      description: Parameters for bootstrap action
      properties:
        version:
          description: Generic Version object
          type: string
      type: object
    DeployActionParameters:
      description: Parameters for deploy action
      properties:
        parameters:
          description: 'Deployment parameters, value in JToken'
          type: object
        version:
          description: Generic Version object
          type: string
      type: object
    DeploymentInfo:
      description: Resource provider deployment information
      properties:
        parameters:
          description: The latest deployment parameters as JToken
          type: string
        actionPlanInstanceResourceId:
          description: The identifier of the latest action plan instance resource.
          type: string
        eTag:
          description: entity tag
          type: string
        version:
          description: The product version
          type: string
      type: object
    DeploymentStatus:
      description: Status of an operation.
      enum:
        - None
        - Bootstrapping
        - BootstrapSucceeded
        - BootstrapFailed
        - Deploying
        - DeploymentSucceeded
        - DeploymentFailed
        - Updating
        - UpdateSucceeded
        - UpdateFailed
        - Removing
        - RemoveFailed
        - SecretRotationInProgress
        - SecretRotationSucceeded
        - SecretRotationFailed
        - Migrated
      type: string
      x-ms-enum:
        modelAsString: true
        name: DeploymentStatus
    ExecuteRunnerActionParameters:
      description: Parameters for execute runner action
      properties:
        parameters:
          description: 'Execute Runner parameters, value in JToken'
          type: object
      type: object
    ExternalAccessInfo:
      description: Resource provider deployment information
      properties:
        expirationTime:
          description: The deployment start time
          format: date-time
          type: string
        principalId:
          description: >-
            The object identifier of the user, group or service principal that
            have access to resource provider subscription.
          type: string
      type: object
    ProductDeploymentResourceEntity:
      allOf:
        - $ref: Deployment.json#/definitions/Resource
      description: Product deployment entity
      properties:
        eTag:
          description: entity tag
          type: string
        properties:
          $ref: '#/components/schemas/ProductDeploymentsProperties'
          description: Product deployment resource properties
          x-ms-client-flatten: true
      type: object
    ProductDeploymentsInternalState:
      description: Resource type internal state
      properties:
        externalAccessRoleAssignmentId:
          description: The current external access role assignment identifier
          type: string
        intermediateVaultId:
          description: The intermediate vault resource identifier
          type: string
        intermediateVaultUri:
          description: The intermediate vault Uri.
          type: string
        jobId:
          description: The latest deployment job identifier
          type: string
      type: object
    ProductDeploymentsList:
      description: List of Product Deployments.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of Product Deployments.
          items:
            $ref: '#/components/schemas/ProductDeploymentResourceEntity'
          type: array
      type: object
    ProductDeploymentsProperties:
      description: Product deployment resource properties
      properties:
        deployment:
          $ref: '#/components/schemas/DeploymentInfo'
          description: The current deployment information
        error:
          $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Error Information
        externalAccess:
          $ref: '#/components/schemas/ExternalAccessInfo'
          description: Resource provider secret rotation information
        internalState:
          $ref: '#/components/schemas/ProductDeploymentsInternalState'
          description: Product deployment resource internal state
        lastSuccessfulDeployment:
          $ref: '#/components/schemas/DeploymentInfo'
          description: The last successful deployment information
        productId:
          description: The product identifier
          type: string
        provisioningState:
          description: The provisioning state
          type: string
        secretRotation:
          $ref: '#/components/schemas/SecretRotationInfo'
          description: Resource provider secret rotation information
        status:
          $ref: '#/components/schemas/DeploymentStatus'
          description: Status of the product deployment.
        subscriptionId:
          description: The product subscription identifier
          type: string
      type: object
    SecretRotationInfo:
      description: Resource provider deployment information
      properties:
        secretRotationPlanInstanceResourceId:
          description: The identifier of the latest secret rotation plan instance resource.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

