{
  "openapi": "3.0.0",
  "info": {
    "description": "Billing client provides access to billing resources for Azure subscriptions.",
    "title": "BillingManagementClient",
    "version": "2018-11-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/billing/resource-manager/Microsoft.Billing/preview/2018-11-01-preview/billing.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "May be used to expand the invoiceSections and billingProfiles.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccountListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingAccounts"
        ],
        "description": "Lists all billing accounts for which a user has access.",
        "operationId": "BillingAccounts_List",
        "x-ms-examples": {
          "BillingAccountsList": {
            "$ref": "./examples/BillingAccountsList.json"
          },
          "BillingAccountsListWithExpand": {
            "$ref": "./examples/BillingAccountsListWithExpand.json"
          },
          "BillingAccountsListWithExpandForEnrollmentDetails": {
            "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the invoiceSections and billingProfiles.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingAccounts"
        ],
        "description": "Get the billing account by id.",
        "operationId": "BillingAccounts_Get",
        "x-ms-examples": {
          "BillingAccountWithExpand": {
            "$ref": "./examples/BillingAccountWithExpand.json"
          },
          "BillingAccounts": {
            "$ref": "./examples/BillingAccount.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Billing account update is in progress."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingAccounts"
        ],
        "description": "The operation to update a billing account.",
        "operationId": "BillingAccounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingAccountUpdateProperties"
              }
            }
          },
          "description": "Parameters supplied to the update billing account operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateBillingAccount": {
            "$ref": "./examples/UpdateBillingAccount.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the participants.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Agreements"
        ],
        "description": "Lists all agreements for a billing account.",
        "operationId": "Agreements_ListByBillingAccountName",
        "x-ms-examples": {
          "AgreementsListByBillingAccountName": {
            "$ref": "./examples/AgreementsListByBillingAccountName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/agreementNameParameter"
          },
          {
            "description": "May be used to expand the participants.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Agreements"
        ],
        "description": "Get the agreement by name.",
        "operationId": "Agreements_Get",
        "x-ms-examples": {
          "AgreementByName": {
            "$ref": "./examples/AgreementByName.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the invoiceSections.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfileListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "Lists all billing profiles for a user which that user has access to.",
        "operationId": "BillingProfiles_ListByBillingAccountName",
        "x-ms-examples": {
          "BillingProfilesListByBillingAccountName": {
            "$ref": "./examples/BillingProfilesListByBillingAccountName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfile"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location URI to poll for result",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "The operation to create a BillingProfile.",
        "operationId": "BillingProfiles_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingProfileCreationParameters"
              }
            }
          },
          "description": "Parameters supplied to the Create BillingProfile operation.",
          "required": true
        },
        "x-ms-examples": {
          "CreateBillingProfile": {
            "$ref": "./examples/CreateBillingProfile.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "description": "May be used to expand the invoiceSections.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfile"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "Get the billing profile by id.",
        "operationId": "BillingProfiles_Get",
        "x-ms-examples": {
          "BillingProfile": {
            "$ref": "./examples/BillingProfile.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfile"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Billing profile update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "The operation to update a billing profile.",
        "operationId": "BillingProfiles_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingProfile"
              }
            }
          },
          "description": "Parameters supplied to the update billing profile operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdateBillingProfile.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableBalance"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AvailableBalances"
        ],
        "description": "The latest available credit balance for a given billingAccountName and billingProfileName.",
        "operationId": "AvailableBalances_GetByBillingProfile",
        "x-ms-examples": {
          "AvailableBalanceByBillingProfile": {
            "$ref": "./examples/AvailableBalanceByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists billing subscriptions by billing profile name.",
        "operationId": "BillingSubscriptions_ListByBillingProfileName",
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingProfile": {
            "$ref": "./examples/BillingSubscriptionsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSectionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Lists all invoice sections under a billing profile for which a user has access.",
        "operationId": "InvoiceSections_ListByBillingProfileName",
        "x-ms-examples": {
          "InvoiceSectionsListByBillingProfileName": {
            "$ref": "./examples/InvoiceSectionsListByBillingProfileName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "description": "Invoice period start date.",
            "in": "query",
            "name": "periodStartDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice period end date.",
            "in": "query",
            "name": "periodEndDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Invoices"
        ],
        "description": "List of invoices for a billing profile.",
        "operationId": "Invoices_ListByBillingProfile",
        "x-ms-examples": {
          "InvoicesListByBillingProfile": {
            "$ref": "./examples/InvoicesListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices/{invoiceName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSummary"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Invoices"
        ],
        "description": "Get the invoice by name.",
        "operationId": "Invoices_Get",
        "x-ms-examples": {
          "Invoice": {
            "$ref": "./examples/Invoice.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethods": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PaymentMethods"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the Payment Methods by billing profile Id.",
        "operationId": "PaymentMethods_ListByBillingProfileName",
        "x-ms-examples": {
          "PaymentMethodsListByBillingProfile": {
            "$ref": "./examples/PaymentMethodsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/policies/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Policies"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "The policy for a given billing account name and billing profile name.",
        "operationId": "Policies_GetByBillingProfileName",
        "x-ms-examples": {
          "PolicyByBillingProfile": {
            "$ref": "./examples/Policy.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Policies"
        ],
        "description": "The operation to update a policy.",
        "operationId": "Policies_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Policy"
              }
            }
          },
          "description": "Parameters supplied to the update policy operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdatePolicy.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingPermissions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPermissionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "description": "Lists all billingPermissions for the caller has for a billing account.",
        "operationId": "BillingPermissions_ListByBillingProfile",
        "x-ms-examples": {
          "BillingProfilePermissionsList": {
            "$ref": "./examples/BillingProfilePermissionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleAssignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Get the role assignments on the Billing Profile",
        "operationId": "BillingRoleAssignments_ListByBillingProfileName",
        "x-ms-examples": {
          "BillingProfileRoleAssignmentList": {
            "$ref": "./examples/BillingProfileRoleAssignmentList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignment"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Delete the role assignment on this Billing Profile",
        "operationId": "BillingRoleAssignments_DeleteByBillingProfileName",
        "x-ms-examples": {
          "BillingProfileRoleAssignmentDelete": {
            "$ref": "./examples/BillingProfileRoleAssignmentDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignment"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Get the role assignment for the caller on the Billing Profile",
        "operationId": "BillingRoleAssignments_GetByBillingProfileName",
        "x-ms-examples": {
          "BillingProfileRoleAssignment": {
            "$ref": "./examples/BillingProfileRoleAssignment.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleDefinitionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleDefinitions"
        ],
        "description": "Lists the role definition for a Billing Profile",
        "operationId": "BillingRoleDefinitions_ListByBillingProfileName",
        "x-ms-examples": {
          "BillingProfileRoleDefinitionsList": {
            "$ref": "./examples/BillingProfileRoleDefinitionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleDefinition"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleDefinitions"
        ],
        "description": "Gets the role definition for a role",
        "operationId": "BillingRoleDefinitions_GetByBillingProfileName",
        "x-ms-examples": {
          "BillingProfileRoleDefinition": {
            "$ref": "./examples/BillingProfileRoleDefinition.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/createBillingRoleAssignment": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "Role assignment is successfully created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "The operation to add a role assignment to a billing profile.",
        "operationId": "BillingRoleAssignments_AddByBillingProfileName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingRoleAssignmentPayload"
              }
            }
          },
          "description": "Parameters supplied to add a role assignment.",
          "required": true
        },
        "x-ms-examples": {
          "AddRoleAssignmentToBillingProfile": {
            "$ref": "./examples/AddRoleAssignmentToBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/transactions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Start date",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End date",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Transactions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the transactions by billing profile name for given start date and end date.",
        "operationId": "Transactions_ListByBillingProfileName",
        "x-ms-examples": {
          "ReservationTransactionsListByBillingProfile": {
            "$ref": "./examples/ReservationTransactionsListByBillingProfile.json"
          },
          "TransactionsListByBillingProfile": {
            "$ref": "./examples/TransactionsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists billing subscriptions by billing account name.",
        "operationId": "BillingSubscriptions_ListByBillingAccountName",
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingAccount": {
            "$ref": "./examples/BillingSubscriptionsListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to filter using hasPermission('{permissionId}') to only return customers for which the caller has the specified permission.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Customers"
        ],
        "description": "Lists all customers which the current user can work with on-behalf of a partner.",
        "operationId": "Customers_ListByBillingAccountName",
        "x-ms-examples": {
          "CustomersListByBillingAccountName": {
            "$ref": "./examples/CustomersListByBillingAccountName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          },
          {
            "description": "May be used to expand enabledAzureSkus, resellers.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Customers"
        ],
        "description": "Get the customer by id.",
        "operationId": "Customers_Get",
        "x-ms-examples": {
          "Customer": {
            "$ref": "./examples/Customer.json"
          },
          "CustomerWithExpand": {
            "$ref": "./examples/CustomerWithExpand.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/billingSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists billing subscription by customer name.",
        "operationId": "BillingSubscriptions_ListByCustomerName",
        "x-ms-examples": {
          "BillingSubscriptionsListByCustomer": {
            "$ref": "./examples/BillingSubscriptionsListByCustomer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionSummary"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Get a single billing subscription by name.",
        "operationId": "BillingSubscriptions_GetByCustomerName",
        "x-ms-examples": {
          "BillingSubscriptionByCustomerName": {
            "$ref": "./examples/BillingSubscriptionByCustomerName.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/providers/Microsoft.Billing/billingPermissions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPermissionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "description": "Lists all billing permissions for the caller under customer.",
        "operationId": "BillingPermissions_ListByCustomers",
        "x-ms-examples": {
          "CustomerPermissionsList": {
            "$ref": "./examples/CustomerPermissionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/transactions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Start date",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End date",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Transactions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists the transactions by invoice section name for given start date and end date.",
        "operationId": "Transactions_ListByCustomerName",
        "x-ms-examples": {
          "ReservationTransactionsListByCustomer": {
            "$ref": "./examples/ReservationTransactionsListByCustomer.json"
          },
          "TransactionsListByCustomer": {
            "$ref": "./examples/TransactionsListByCustomer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the enrollmentAccounts.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Departments"
        ],
        "description": "Lists all departments for which a user has access.",
        "operationId": "Departments_ListByBillingAccountName",
        "x-ms-examples": {
          "DepartmentsListByBillingAccountName": {
            "$ref": "./examples/DepartmentsListByBillingAccountName.json"
          },
          "DepartmentsListByBillingAccountNameWithExpand": {
            "$ref": "./examples/DepartmentsListByBillingAccountNameWithExpand.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/departmentNameParameter"
          },
          {
            "description": "May be used to expand the enrollmentAccounts.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Departments"
        ],
        "description": "Get the department by id.",
        "operationId": "Departments_Get",
        "x-ms-examples": {
          "Department": {
            "$ref": "./examples/Department.json"
          },
          "DepartmentWithExpand": {
            "$ref": "./examples/DepartmentWithExpand.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the department.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentAccountListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "EnrollmentAccounts"
        ],
        "description": "Lists all Enrollment Accounts for which a user has access.",
        "operationId": "EnrollmentAccounts_ListByBillingAccountName",
        "x-ms-examples": {
          "EnrollmentAccountsListByBillingAccountName": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccountName.json"
          },
          "EnrollmentAccountsListByBillingAccountNameWithExpand": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccountNameWithExpand.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/enrollmentAccountNameParameter"
          },
          {
            "description": "May be used to expand the Department.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentAccount"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "EnrollmentAccounts"
        ],
        "description": "Get the enrollment account by id.",
        "operationId": "EnrollmentAccounts_GetByEnrollmentAccountId",
        "x-ms-examples": {
          "EnrollmentAccount": {
            "$ref": "./examples/EnrollmentAccount.json"
          },
          "EnrollmentAccountWithExpand": {
            "$ref": "./examples/EnrollmentAccountWithExpand.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the billingProfiles.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSectionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Lists all invoice sections for which a user has access.",
        "operationId": "InvoiceSections_ListByBillingAccountName",
        "x-ms-examples": {
          "InvoiceSectionsListByBillingAccountName": {
            "$ref": "./examples/InvoiceSectionsListByBillingAccountName.json"
          },
          "InvoiceSectionsListByBillingAccountNameWithExpand": {
            "$ref": "./examples/InvoiceSectionsListByBillingAccountNameWithExpand.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSection"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location URI to poll for result",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "The operation to create a InvoiceSection.",
        "operationId": "InvoiceSections_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceSectionCreationRequest"
              }
            }
          },
          "description": "Parameters supplied to the Create InvoiceSection operation.",
          "required": true
        },
        "x-ms-examples": {
          "CreateInvoiceSection": {
            "$ref": "./examples/CreateInvoiceSection.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "description": "May be used to expand the billingProfiles.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSection"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Get the InvoiceSection by id.",
        "operationId": "InvoiceSections_Get",
        "x-ms-examples": {
          "InvoiceSection": {
            "$ref": "./examples/InvoiceSection.json"
          },
          "InvoiceSectionWithExpand": {
            "$ref": "./examples/InvoiceSectionWithExpand.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSection"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. InvoiceSection update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "The operation to update a InvoiceSection.",
        "operationId": "InvoiceSections_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceSection"
              }
            }
          },
          "description": "Parameters supplied to the Create InvoiceSection operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateInvoiceSection": {
            "$ref": "./examples/UpdateInvoiceSection.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists billing subscription by invoice section name.",
        "operationId": "BillingSubscriptions_ListByInvoiceSectionName",
        "x-ms-examples": {
          "BillingSubscriptionsListByInvoiceSection": {
            "$ref": "./examples/BillingSubscriptionsListByInvoiceSection.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionSummary"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Get a single billing subscription by name.",
        "operationId": "BillingSubscriptions_Get",
        "x-ms-examples": {
          "BillingSubscription": {
            "$ref": "./examples/BillingSubscription.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferBillingSubscriptionResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Billing Subscription transfer is in progress.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location URI to poll for result.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "description": "Transfers the subscription from one invoice section to another within a billing account.",
        "operationId": "BillingSubscriptions_Transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBillingSubscriptionRequestProperties"
              }
            }
          },
          "description": "Parameters supplied to the Transfer Billing Subscription operation.",
          "required": true
        },
        "x-ms-examples": {
          "TransferBillingSubscription": {
            "$ref": "./examples/TransferBillingSubscription.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/validateTransferEligibility": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateSubscriptionTransferEligibilityResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Validates the transfer of billing subscriptions across invoice sections.",
        "operationId": "BillingSubscriptions_ValidateTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBillingSubscriptionRequestProperties"
              }
            }
          },
          "description": "Parameters supplied to the Transfer Billing Subscription operation.",
          "required": true
        },
        "x-ms-examples": {
          "SubscriptionTransferValidateFailure": {
            "$ref": "./examples/ValidateSubscriptionTransferFailure.json"
          },
          "SubscriptionTransferValidateSuccess": {
            "$ref": "./examples/ValidateSubscriptionTransferSuccess.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/elevate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Elevated the caller's access to the invoice section."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Elevates the caller's access to match their billing profile access.",
        "operationId": "InvoiceSections_ElevateToBillingProfile",
        "x-ms-examples": {
          "Elevate": {
            "$ref": "./examples/ElevateInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/initiateTransfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            },
            "description": "Initiated transfer details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "Transfers"
        ],
        "description": "Initiates the request to transfer the legacy subscriptions or RIs.",
        "operationId": "Transfers_Initiate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateTransferRequest"
              }
            }
          },
          "description": "Initiate transfer parameters.",
          "required": true
        },
        "x-ms-examples": {
          "InitiateTransfer": {
            "$ref": "./examples/InitiateTransfer.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Lists products by invoice section name.",
        "operationId": "Products_ListByInvoiceSectionName",
        "x-ms-examples": {
          "ProductsListByInvoiceSection": {
            "$ref": "./examples/ProductsListByInvoiceSection.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSummary"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "description": "Get a single product by name.",
        "operationId": "Products_Get",
        "x-ms-examples": {
          "Product": {
            "$ref": "./examples/Product.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}/transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSummary"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URI to poll for the operation status",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location URI to poll for result",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "The operation to transfer a Product to another invoice section.",
        "operationId": "Products_Transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferProductRequestProperties"
              }
            }
          },
          "description": "Parameters supplied to the Transfer Product operation.",
          "required": true
        },
        "x-ms-examples": {
          "TransferProduct": {
            "$ref": "./examples/TransferProduct.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}/updateAutoRenew": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAutoRenewOperationSummary"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "Cancel auto renew for product by product id and invoice section name",
        "operationId": "Products_UpdateAutoRenewByInvoiceSectionName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutoRenewRequest"
              }
            }
          },
          "description": "Update auto renew request parameters.",
          "required": true
        },
        "x-ms-examples": {
          "CancelProductForInvoiceSection": {
            "$ref": "./examples/ProductCancelForInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/products/{productName}/validateTransferEligibility": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateProductTransferEligibilityResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Validates the transfer of products across invoice sections.",
        "operationId": "Products_ValidateTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferProductRequestProperties"
              }
            }
          },
          "description": "Parameters supplied to the Transfer Products operation.",
          "required": true
        },
        "x-ms-examples": {
          "SubscriptionTransferValidateFailure": {
            "$ref": "./examples/ValidateProductTransferFailure.json"
          },
          "SubscriptionTransferValidateSuccess": {
            "$ref": "./examples/ValidateProductTransferSuccess.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingPermissions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPermissionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "description": "Lists all billing permissions for the caller under invoice section.",
        "operationId": "BillingPermissions_ListByInvoiceSections",
        "x-ms-examples": {
          "InvoiceSectionPermissionsList": {
            "$ref": "./examples/InvoiceSectionPermissionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingRoleAssignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Get the role assignments on the invoice Section",
        "operationId": "BillingRoleAssignments_ListByInvoiceSectionName",
        "x-ms-examples": {
          "InvoiceSectionRoleAssignmentList": {
            "$ref": "./examples/InvoiceSectionRoleAssignmentList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
[...]
