openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2017-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability':
    get:
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: >-
            The domain name to be verified. It must conform to the following
            regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.
          in: query
          name: domainNameLabel
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DnsNameAvailabilityResult'
          description: Request successful. Returns whether the DNS name is available.
      description: >-
        Checks whether a domain name in the cloudapp.azure.com zone is available
        for use.
      operationId: CheckDnsNameAvailability
      x-ms-examples:
        Check Dns Name Availability:
          $ref: ./examples/CheckDnsNameAvailability.json
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        The subscription credentials which uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    DnsNameAvailabilityResult:
      description: Response for the CheckDnsNameAvailability API service call.
      properties:
        available:
          description: Domain availability (True/False).
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

