openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on Email Templates associated
    with your Azure API Management deployment.
  title: ApiManagementClient
  version: '2018-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateCollection'
          description: >-
            A Collection of the Email Template for the specified API Management
            service instance.
      tags:
        - EmailTemplate
      description: Lists a collection of properties defined within a service instance.
      operationId: EmailTemplate_ListByService
      x-ms-examples:
        ApiManagementListEmailTemplates:
          $ref: ./examples/ApiManagementListEmailTemplates.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates/{templateName}':
    delete:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/TemplateNameParameter'
        - $ref: ./apimanagement.json#/components/parameters/IfMatchRequiredParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Email Template was successfully reset to default.
        '204':
          description: Email Template was successfully reset to default.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - EmailTemplates
      description: >-
        Reset the Email Template to default template provided by the API
        Management service instance.
      operationId: EmailTemplate_Delete
      x-ms-examples:
        ApiManagementDeleteEmailTemplate:
          $ref: ./examples/ApiManagementDeleteEmailTemplate.json
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/TemplateNameParameter'
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateContract'
          description: The response body contains the specified Email template.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - EmailTemplates
      description: Gets the details of the email template specified by its identifier.
      operationId: EmailTemplate_Get
      x-ms-examples:
        ApiManagementGetEmailTemplate:
          $ref: ./examples/ApiManagementGetEmailTemplate.json
    head:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/TemplateNameParameter'
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Specified email template entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - EmailTemplates
      description: >-
        Gets the entity state (Etag) version of the email template specified by
        its identifier.
      operationId: EmailTemplate_GetEntityTag
      x-ms-examples:
        ApiManagementHeadEmailTemplate:
          $ref: ./examples/ApiManagementHeadEmailTemplate.json
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/TemplateNameParameter'
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: Email Template was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - EmailTemplates
      description: Updates the specific Email Template.
      operationId: EmailTemplate_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateUpdateParameters'
        description: Update parameters.
        required: true
      x-ms-examples:
        ApiManagementUpdateEmailTemplate:
          $ref: ./examples/ApiManagementUpdateEmailTemplate.json
    put:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/TemplateNameParameter'
        - $ref: ./apimanagement.json#/components/parameters/IfMatchOptionalParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateContract'
          description: Email Template was successfully updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateContract'
          description: Email Template was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - EmailTemplates
      description: Updates an Email Template.
      operationId: EmailTemplate_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateUpdateParameters'
        description: Email Template update parameters.
        required: true
      x-ms-examples:
        ApiManagementCreateEmailTemplate:
          $ref: ./examples/ApiManagementCreateEmailTemplate.json
components:
  parameters:
    TemplateNameParameter:
      description: Email Template Name Identifier.
      in: path
      name: templateName
      required: true
      schema:
        enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
        type: string
      x-ms-enum:
        modelAsString: true
        name: TemplateName
      x-ms-parameter-location: method
  schemas:
    EmailTemplateCollection:
      description: Paged email template list representation.
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/EmailTemplateContract'
          type: array
      type: object
    EmailTemplateContract:
      allOf:
        - $ref: ./apimanagement.json#/definitions/Resource
      description: Email Template details.
      properties:
        properties:
          $ref: '#/components/schemas/EmailTemplateContractProperties'
          description: Email Template entity contract properties.
          x-ms-client-flatten: true
      type: object
    EmailTemplateContractProperties:
      description: Email Template Contract properties.
      properties:
        parameters:
          description: Email Template Parameter values.
          items:
            $ref: '#/components/schemas/EmailTemplateParametersContractProperties'
          type: array
        body:
          description: Email Template Body. This should be a valid XDocument
          minLength: 1
          type: string
        description:
          description: Description of the Email Template.
          type: string
        isDefault:
          description: >-
            Whether the template is the default template provided by Api
            Management or has been edited.
          readOnly: true
          type: boolean
        subject:
          description: Subject of the Template.
          maxLength: 1000
          minLength: 1
          type: string
        title:
          description: Title of the Template.
          type: string
      required:
        - body
        - subject
      type: object
    EmailTemplateParametersContractProperties:
      description: Email Template Parameter contract.
      properties:
        description:
          description: Template parameter description.
          maxLength: 256
          minLength: 1
          pattern: '^[A-Za-z0-9-._]+$'
          type: string
        name:
          description: Template parameter name.
          maxLength: 256
          minLength: 1
          pattern: '^[A-Za-z0-9-._]+$'
          type: string
        title:
          description: Template parameter title.
          maxLength: 4096
          minLength: 1
          type: string
      type: object
    EmailTemplateUpdateParameterProperties:
      description: Email Template Update Contract properties.
      properties:
        parameters:
          description: Email Template Parameter values.
          items:
            $ref: '#/components/schemas/EmailTemplateParametersContractProperties'
          type: array
        body:
          description: Email Template Body. This should be a valid XDocument
          minLength: 1
          type: string
        description:
          description: Description of the Email Template.
          type: string
        subject:
          description: Subject of the Template.
          maxLength: 1000
          minLength: 1
          type: string
        title:
          description: Title of the Template.
          type: string
      type: object
    EmailTemplateUpdateParameters:
      description: Email Template update Parameters.
      properties:
        properties:
          $ref: '#/components/schemas/EmailTemplateUpdateParameterProperties'
          description: Email Template Update contract properties.
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

