openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2016-03-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/RuleNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentListResult'
          description: Successful request for a list of alert rule related incidents
      tags:
        - AlertRuleIncidents
      description: Gets a list of incidents associated to an alert rule
      operationId: AlertRuleIncidents_ListByAlertRule
      x-ms-examples:
        List alert rule incidents:
          $ref: ./examples/listAlertRuleIncidents.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}/incidents/{incidentName}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/RuleNameParameter'
        - description: The name of the incident to retrieve.
          in: path
          name: incidentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
          description: Successful request for one alert rule related incident
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AlertRuleIncidents
      description: Gets an incident associated to an alert rule
      operationId: AlertRuleIncidents_Get
      x-ms-examples:
        Get a single alert rule incident:
          $ref: ./examples/getAlertRuleIncident.json
components:
  parameters:
    RuleNameParameter:
      description: The name of the rule.
      in: path
      name: ruleName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Incident:
      description: An alert incident indicates the activation status of an alert rule.
      properties:
        activatedTime:
          description: The time at which the incident was activated in ISO8601 format.
          format: date-time
          readOnly: true
          type: string
        isActive:
          description: A boolean to indicate whether the incident is active or resolved.
          readOnly: true
          type: boolean
        name:
          description: Incident name.
          readOnly: true
          type: string
        resolvedTime:
          description: >-
            The time at which the incident was resolved in ISO8601 format. If
            null, it means the incident is still active.
          format: date-time
          readOnly: true
          type: string
        ruleName:
          description: Rule name that is associated with the incident.
          readOnly: true
          type: string
      type: object
    IncidentListResult:
      description: The List incidents operation response.
      properties:
        value:
          description: the incident collection.
          items:
            $ref: '#/components/schemas/Incident'
          type: array
          x-ms-identifiers:
            - name
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

