openapi: 3.0.0
info:
  description: Azure NotificationHub client
  title: NotificationHubsManagementClient
  version: '2017-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.NotificationHubs/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: NotificationHubs error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available NotificationHubs REST API operations.
      operationId: Operations_List
      x-ms-examples:
        OperationsList:
          $ref: ./examples/NHOperationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
          description: Checks if the Namespace name is a valid available name
      tags:
        - Namespaces
      description: >-
        Checks the availability of the given service namespace across all Azure
        subscriptions. This is useful because the domain name is created based
        on the service namespace name.
      operationId: Namespaces_CheckAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The namespace name.
        required: true
      x-ms-examples:
        NameSpaceCheckNameAvailability:
          $ref: ./examples/Namespaces/NHNameSpaceCheckNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: >-
            Gets all the Namespaces within the subscription irrespective of the
            ResourceGroup
      tags:
        - Namespaces
      description: >-
        Lists all the available namespaces within the subscription irrespective
        of the resourceGroups.
      operationId: Namespaces_ListAll
      x-ms-examples:
        NameSpaceList:
          $ref: ./examples/Namespaces/NHNameSpaceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces':
    get:
      parameters:
        - description: >-
            The name of the resource group. If resourceGroupName value is null
            the method lists all the namespaces within subscription
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Lists all Namespaces with the ResourceGroup
      tags:
        - Namespaces
      description: Lists the available namespaces within a resourceGroup.
      operationId: Namespaces_List
      x-ms-examples:
        NameSpaceListByResourceGroup:
          $ref: ./examples/Namespaces/NHNameSpaceListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace is deleted
        '202':
          description: Namespace delete request has been accepted
        '204':
          description: Namespace is already Deleted
      tags:
        - Namespaces
      externalDocs:
        url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx'
      description: >-
        Deletes an existing namespace. This operation also removes all
        associated notificationHubs under the namespace.
      operationId: Namespaces_Delete
      x-ms-examples:
        NameSpaceDelete:
          $ref: ./examples/Namespaces/NHNameSpaceDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Get Namespace
      tags:
        - Namespaces
      description: Returns the description for the specified namespace.
      operationId: Namespaces_Get
      x-ms-examples:
        NameSpaceGet:
          $ref: ./examples/Namespaces/NHNameSpaceGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace is Updated
      tags:
        - Namespaces
      description: Patches the existing namespace
      operationId: Namespaces_Patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespacePatchParameters'
        description: Parameters supplied to patch a Namespace Resource.
        required: true
      x-ms-examples:
        NameSpaceUpdate:
          $ref: ./examples/Namespaces/NHNameSpaceUpdate.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace is Create/Update
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace is Create/Update
      tags:
        - Namespaces
      externalDocs:
        url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx'
      description: >-
        Creates/Updates a service namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      operationId: Namespaces_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
        description: Parameters supplied to create a Namespace Resource.
        required: true
      x-ms-examples:
        NameSpaceCreate:
          $ref: ./examples/Namespaces/NHNameSpaceCreate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Get the List of AuthorizationRules of a Namespace
      tags:
        - Namespaces
      description: Gets the authorization rules for a namespace.
      operationId: Namespaces_ListAuthorizationRules
      x-ms-examples:
        NameSpaceAuthorizationRuleListAll:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace AuthorizationRule is deleted
        '204':
          description: Namespace AuthorizationRule is already deleted
      tags:
        - Namespaces
      description: Deletes a namespace authorization rule
      operationId: Namespaces_DeleteAuthorizationRule
      x-ms-examples:
        NameSpaceAuthorizationRuleDelete:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleDelete.json
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: Authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Get the Namespace AuthorizationRule
      tags:
        - Namespaces
      description: Gets an authorization rule for a namespace by name.
      operationId: Namespaces_GetAuthorizationRule
      x-ms-examples:
        NameSpaceAuthorizationRuleGet:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace Authorization Rule is Created/Updated
      tags:
        - Namespaces
      description: Creates an authorization rule for a namespace
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters
        description: The shared access authorization rule.
        required: true
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleCreate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: >-
            The connection string of the namespace for the specified
            authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: >-
            Gets the Namespace AuthorizationRule's Primary keys and Secondary
            keys along with the ConnectionStrings
      tags:
        - Namespaces
      description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
      operationId: Namespaces_ListKeys
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleListKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: >-
            The connection string of the namespace for the specified
            authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: >-
            Regenerate the Primary/Secondary Key and returns the Keys and the
            connection string
      tags:
        - Namespaces
      description: >-
        Regenerates the Primary/Secondary Keys to the Namespace Authorization
        Rule
      operationId: Namespaces_RegenerateKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicykeyResource'
        description: >-
          Parameters supplied to regenerate the Namespace Authorization Rule
          Key.
        required: true
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenerateKey:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleRegenrateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
          description: Checks if the NotificationHub name is a valid available name
      tags:
        - NotificationHubs
      description: Checks the availability of the given notificationHub in a namespace.
      operationId: NotificationHubs_CheckNotificationHubAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The notificationHub name.
        required: true
      x-ms-examples:
        notificationHubCheckNameAvailability:
          $ref: >-
            ./examples/NotificationHubs/NotificationHubCheckNameAvailability.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubListResult'
          description: Get all NotificationHubs within a Namespace
      tags:
        - NotificationHubs
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_List
      x-ms-examples:
        NotificationHubListByNameSpace:
          $ref: ./examples/NotificationHubs/NotificationHubListByNameSpace.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace is deleted
      tags:
        - NotificationHubs
      description: Deletes a notification hub associated with a namespace.
      operationId: NotificationHubs_Delete
      x-ms-examples:
        NotificationHubDelete:
          $ref: ./examples/NotificationHubs/NotificationHubDelete.json
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: Get the NotificationHub
      tags:
        - NotificationHubs
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_Get
      x-ms-examples:
        NotificationHubGet:
          $ref: ./examples/NotificationHubs/NotificationHubGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: NotificationHub is patched
      tags:
        - NotificationHubs
      description: Patch a NotificationHub in a namespace.
      operationId: NotificationHubs_Patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubPatchParameters'
        description: Parameters supplied to patch a NotificationHub Resource.
      x-ms-examples:
        NotificationHubPatch:
          $ref: ./examples/NotificationHubs/NotificationHubPatch.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: NotificationHub is Created/Updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: NotificationHub is Created/Updated
      tags:
        - NotificationHubs
      description: Creates/Update a NotificationHub in a namespace.
      operationId: NotificationHubs_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubCreateOrUpdateParameters'
        description: Parameters supplied to the create/update a NotificationHub Resource.
        required: true
      x-ms-examples:
        NotificationHubCreate:
          $ref: ./examples/NotificationHubs/NotificationHubCreate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Get all NotificationHub AuthorizationRules
      tags:
        - NotificationHubs
      description: Gets the authorization rules for a NotificationHub.
      operationId: NotificationHubs_ListAuthorizationRules
      x-ms-examples:
        NotificationHubAuthorizationRuleListAll:
          $ref: >-
            ./examples/NotificationHubs/NotificationHubAuthorizationRuleListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: NotificationHub AuthorizationRule is deleted
        '204':
          description: NotificationHub AuthorizationRule is already deleted
      tags:
        - NotificationHubs
      description: Deletes a notificationHub authorization rule
      operationId: NotificationHubs_DeleteAuthorizationRule
      x-ms-examples:
        NotificationHubAuthorizationRuleDelete:
          $ref: >-
            ./examples/NotificationHubs/NotificationHubAuthorizationRuleDelete.json
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - description: authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Get NotificationHub AuthorizationRule
      tags:
        - NotificationHubs
      description: Gets an authorization rule for a NotificationHub by name.
      operationId: NotificationHubs_GetAuthorizationRule
      x-ms-examples:
        NotificationHubAuthorizationRuleGet:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: NotificationHub AuthorizationRule is Created/Updated
      tags:
        - NotificationHubs
      description: Creates/Updates an authorization rule for a NotificationHub
      operationId: NotificationHubs_CreateOrUpdateAuthorizationRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters
        description: The shared access authorization rule.
        required: true
      x-ms-examples:
        NotificationHubAuthorizationRuleCreate:
          $ref: >-
            ./examples/NotificationHubs/NotificationHubAuthorizationRuleCreate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - description: >-
            The connection string of the NotificationHub for the specified
            authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: >-
            Gets the Namespace AuthorizationRule's Primary keys and Secondary
            keys along with the ConnectionStrings
      tags:
        - NotificationHubs
      description: 'Gets the Primary and Secondary ConnectionStrings to the NotificationHub '
      operationId: NotificationHubs_ListKeys
      x-ms-examples:
        NotificationHubAuthorizationRuleListKey:
          $ref: >-
            ./examples/NotificationHubs/NotificationHubAuthorizationRuleListKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - description: >-
            The connection string of the NotificationHub for the specified
            authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: >-
            Regenerate the Primary/Secondary Key and returns the Keys and the
            connection string
      tags:
        - NotificationHubs
      description: >-
        Regenerates the Primary/Secondary Keys to the NotificationHub
        Authorization Rule
      operationId: NotificationHubs_RegenerateKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicykeyResource'
        description: >-
          Parameters supplied to regenerate the NotificationHub Authorization
          Rule Key.
        required: true
      x-ms-examples:
        NotificationHubAuthorizationRuleRegenrateKey:
          $ref: >-
            ./examples/NotificationHubs/NotificationHubAuthorizationRuleRegenrateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/debugsend':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebugSendResponse'
          description: push send status
      tags:
        - NotificationHubs
      description: test send a push notification
      operationId: NotificationHubs_DebugSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebugSendParameters'
        description: Debug send parameters
      x-ms-examples:
        debugsend:
          $ref: ./examples/NotificationHubs/NotificationHubDebugSend.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          schema:
            type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnsCredentialsResource'
          description: Gets all the NotificationHub PNS credentials
      tags:
        - NotificationHubs
      description: Lists the PNS Credentials associated with a notification hub .
      operationId: NotificationHubs_GetPnsCredentials
      x-ms-examples:
        notificationHubPnsCredentials:
          $ref: ./examples/NotificationHubs/NotificationHubPnsCredentials.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    SharedAccessAuthorizationRuleCreateOrUpdateParameters:
      content:
        application/json:
          schema:
            $ref: >-
              #/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters
      description: The shared access authorization rule.
      required: true
  schemas:
    AdmCredential:
      description: Description of a NotificationHub AdmCredential.
      properties:
        properties:
          $ref: '#/components/schemas/AdmCredentialProperties'
          description: Properties of NotificationHub AdmCredential.
          x-ms-client-flatten: true
      type: object
    AdmCredentialProperties:
      description: Description of a NotificationHub AdmCredential.
      properties:
        authTokenUrl:
          description: The URL of the authorization token.
          type: string
        clientId:
          description: The client identifier.
          type: string
        clientSecret:
          description: The credential secret access key.
          type: string
      type: object
    ApnsCredential:
      description: Description of a NotificationHub ApnsCredential.
      properties:
        properties:
          $ref: '#/components/schemas/ApnsCredentialProperties'
          description: Properties of NotificationHub ApnsCredential.
          x-ms-client-flatten: true
      type: object
    ApnsCredentialProperties:
      description: >-
        Description of a NotificationHub ApnsCredential. Note that there is no
        explicit switch between Certificate and Token Authentication Modes. The
        mode is determined based on the properties passed in.
      properties:
        apnsCertificate:
          description: >-
            The APNS certificate. Specify if using Certificate Authentication
            Mode.
          type: string
        appId:
          description: >-
            The issuer (iss) registered claim key. The value is a 10-character
            TeamId, obtained from your developer account. Specify if using Token
            Authentication Mode.
          type: string
        appName:
          description: >-
            The name of the application or BundleId. Specify if using Token
            Authentication Mode.
          type: string
        certificateKey:
          description: The APNS certificate password if it exists.
          type: string
        endpoint:
          description: >-
            The APNS endpoint of this credential. If using Certificate
            Authentication Mode and Sandbox specify
            'gateway.sandbox.push.apple.com'. If using Certificate
            Authentication Mode and Production specify 'gateway.push.apple.com'.
            If using Token Authentication Mode and Sandbox specify
            'https://api.development.push.apple.com:443/3/device'. If using
            Token Authentication Mode and Production specify
            'https://api.push.apple.com:443/3/device'.
          type: string
        keyId:
          description: >-
            A 10-character key identifier (kid) key, obtained from your
            developer account. Specify if using Token Authentication Mode.
          type: string
        thumbprint:
          description: >-
            The APNS certificate thumbprint. Specify if using Certificate
            Authentication Mode.
          type: string
        token:
          description: >-
            Provider Authentication Token, obtained through your developer
            account. Specify if using Token Authentication Mode.
          type: string
      type: object
    BaiduCredential:
      description: Description of a NotificationHub BaiduCredential.
      properties:
        properties:
          $ref: '#/components/schemas/BaiduCredentialProperties'
          description: Properties of NotificationHub BaiduCredential.
          x-ms-client-flatten: true
      type: object
    BaiduCredentialProperties:
      description: Description of a NotificationHub BaiduCredential.
      properties:
        baiduApiKey:
          description: Baidu Api Key.
          type: string
        baiduEndPoint:
          description: Baidu Endpoint.
          type: string
        baiduSecretKey:
          description: Baidu Secret Key
          type: string
      type: object
    CheckAvailabilityParameters:
      description: >-
        Parameters supplied to the Check Name Availability for Namespace and
        NotificationHubs.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource Id
          readOnly: true
          type: string
        isAvailiable:
          description: >-
            True if the name is available and can be used to create new
            Namespace/NotificationHub. Otherwise false.
          type: boolean
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the created namespace
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - name
      type: object
    CheckAvailabilityResult:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a CheckAvailability resource.
      properties:
        isAvailiable:
          description: >-
            True if the name is available and can be used to create new
            Namespace/NotificationHub. Otherwise false.
          type: boolean
      type: object
    DebugSendParameters:
      description: Debug Send payload
      type: object
    DebugSendResponse:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a NotificationHub Resource.
      properties:
        properties:
          $ref: '#/components/schemas/DebugSendResult'
          description: Properties of the NotificationHub.
          x-ms-client-flatten: true
      type: object
    DebugSendResult:
      properties:
        failure:
          description: send failure
          type: number
        results:
          description: actual failure description
          type: object
        success:
          description: successful send
          type: number
      type: object
      x-ms-azure-resource: true
    ErrorResponse:
      description: >-
        Error response indicates NotificationHubs service is not able to process
        the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    GcmCredential:
      description: Description of a NotificationHub GcmCredential.
      properties:
        properties:
          $ref: '#/components/schemas/GcmCredentialProperties'
          description: Properties of NotificationHub GcmCredential.
          x-ms-client-flatten: true
      type: object
    GcmCredentialProperties:
      description: Description of a NotificationHub GcmCredential.
      properties:
        gcmEndpoint:
          description: >-
            The FCM legacy endpoint. Default value is
            'https://fcm.googleapis.com/fcm/send'
          type: string
        googleApiKey:
          description: The Google API key.
          type: string
      type: object
    MpnsCredential:
      description: Description of a NotificationHub MpnsCredential.
      properties:
        properties:
          $ref: '#/components/schemas/MpnsCredentialProperties'
          description: Properties of NotificationHub MpnsCredential.
          x-ms-client-flatten: true
      type: object
    MpnsCredentialProperties:
      description: Description of a NotificationHub MpnsCredential.
      properties:
        certificateKey:
          description: The certificate key for this credential.
          type: string
        mpnsCertificate:
          description: The MPNS certificate.
          type: string
        thumbprint:
          description: The MPNS certificate Thumbprint
          type: string
      type: object
    NamespaceCreateOrUpdateParameters:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the CreateOrUpdate Namespace operation.
      properties:
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
          description: Properties of the Namespace.
          x-ms-client-flatten: true
      required:
        - location
      type: object
    NamespaceListResult:
      description: The response of the List Namespace operation.
      properties:
        nextLink:
          description: >-
            Link to the next set of results. Not empty if Value contains
            incomplete list of Namespaces
          type: string
        value:
          description: Result of the List Namespace operation.
          items:
            $ref: '#/components/schemas/NamespaceResource'
          type: array
      type: object
    NamespacePatchParameters:
      description: Parameters supplied to the Patch Namespace operation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the created namespace
      type: object
    NamespaceProperties:
      description: Namespace properties.
      properties:
        createdAt:
          description: The time the namespace was created.
          format: date-time
          type: string
        critical:
          description: Whether or not the namespace is set as Critical.
          type: boolean
        dataCenter:
          description: Data center for the namespace
          type: string
        enabled:
          description: Whether or not the namespace is currently enabled.
          type: boolean
        metricId:
          description: Identifier for Azure Insights metrics
          readOnly: true
          type: string
        name:
          description: The name of the namespace.
          type: string
        namespaceType:
          description: The namespace type.
          enum:
            - Messaging
            - NotificationHub
          type: string
          x-ms-enum:
            modelAsString: false
            name: NamespaceType
        provisioningState:
          description: Provisioning state of the Namespace.
          type: string
        region:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
          description: >-
            Specifies the targeted region in which the namespace should be
            created. It can be any of the following values: Australia East,
            Australia Southeast, Central US, East US, East US 2, West US, North
            Central US, South Central US, East Asia, Southeast Asia, Brazil
            South, Japan East, Japan West, North Europe, West Europe
          type: string
        scaleUnit:
          description: ScaleUnit where the namespace gets created
          type: string
        serviceBusEndpoint:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
          description: Endpoint you can use to perform NotificationHub operations.
          type: string
        status:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx'
          description: >-
            Status of the namespace. It can be any of these values:1 =
            Created/Active2 = Creating3 = Suspended4 = Deleting
          type: string
        subscriptionId:
          description: The Id of the Azure subscription associated with the namespace.
          type: string
        updatedAt:
          description: The time the namespace was updated.
          format: date-time
          type: string
      type: object
    NamespaceResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a Namespace resource.
      properties:
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
          description: Properties of the Namespace.
          x-ms-client-flatten: true
      type: object
    NotificationHubCreateOrUpdateParameters:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the CreateOrUpdate NotificationHub operation.
      properties:
        properties:
          $ref: '#/components/schemas/NotificationHubProperties'
          description: Properties of the NotificationHub.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    NotificationHubListResult:
      description: The response of the List NotificationHub operation.
      properties:
        nextLink:
          description: >-
            Link to the next set of results. Not empty if Value contains
            incomplete list of NotificationHub
          type: string
        value:
          description: Result of the List NotificationHub operation.
          items:
            $ref: '#/components/schemas/NotificationHubResource'
          type: array
      type: object
    NotificationHubPatchParameters:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the patch NotificationHub operation.
      properties:
        properties:
          $ref: '#/components/schemas/NotificationHubProperties'
          description: Properties of the NotificationHub.
          x-ms-client-flatten: true
      type: object
    NotificationHubProperties:
      description: NotificationHub properties.
      properties:
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
          description: The AdmCredential of the created NotificationHub
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
          description: The ApnsCredential of the created NotificationHub
        authorizationRules:
          description: The AuthorizationRules of the created NotificationHub
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          type: array
          x-ms-identifiers:
            - keyName
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
          description: The BaiduCredential of the created NotificationHub
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
          description: The GcmCredential of the created NotificationHub
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
          description: The MpnsCredential of the created NotificationHub
        name:
          description: The NotificationHub name.
          type: string
        registrationTtl:
          description: The RegistrationTtl of the created NotificationHub
          type: string
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
          description: The WnsCredential of the created NotificationHub
      type: object
    NotificationHubResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a NotificationHub Resource.
      properties:
        properties:
          $ref: '#/components/schemas/NotificationHubProperties'
          description: Properties of the NotificationHub.
          x-ms-client-flatten: true
      type: object
    Operation:
      description: A NotificationHubs REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.NotificationHubs'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: Invoice, etc.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list NotificationHubs operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of NotificationHubs operations supported by the
            Microsoft.NotificationHubs resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
      type: object
    PnsCredentialsProperties:
      description: Description of a NotificationHub PNS Credentials.
      properties:
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
          description: The AdmCredential of the created NotificationHub
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
          description: The ApnsCredential of the created NotificationHub
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
          description: The BaiduCredential of the created NotificationHub
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
          description: The GcmCredential of the created NotificationHub
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
          description: The MpnsCredential of the created NotificationHub
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
          description: The WnsCredential of the created NotificationHub
      type: object
    PnsCredentialsResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a NotificationHub PNS Credentials.
      properties:
        properties:
          $ref: '#/components/schemas/PnsCredentialsProperties'
          description: NotificationHub PNS Credentials.
          x-ms-client-flatten: true
      type: object
    PolicykeyResource:
      description: Namespace/NotificationHub Regenerate Keys
      properties:
        policyKey:
          description: >-
            Name of the key that has to be regenerated for the
            Namespace/Notification Hub Authorization Rule. The value can be
            Primary Key/Secondary Key.
          type: string
      type: object
    Resource:
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the created namespace
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceListKeys:
      description: Namespace/NotificationHub Connection String
      properties:
        keyName:
          description: KeyName of the created AuthorizationRule
          type: string
        primaryConnectionString:
          description: PrimaryConnectionString of the AuthorizationRule.
          type: string
        primaryKey:
          description: PrimaryKey of the created AuthorizationRule.
          type: string
        secondaryConnectionString:
          description: SecondaryConnectionString of the created AuthorizationRule
          type: string
        secondaryKey:
          description: SecondaryKey of the created AuthorizationRule
          type: string
      type: object
    SharedAccessAuthorizationRuleCreateOrUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.
      properties:
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          description: Properties of the Namespace AuthorizationRules.
      required:
        - properties
      type: object
    SharedAccessAuthorizationRuleListResult:
      description: The response of the List Namespace operation.
      properties:
        nextLink:
          description: >-
            Link to the next set of results. Not empty if Value contains
            incomplete list of AuthorizationRules
          type: string
        value:
          description: Result of the List AuthorizationRules operation.
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          type: array
      type: object
    SharedAccessAuthorizationRuleProperties:
      description: SharedAccessAuthorizationRule properties.
      properties:
        claimType:
          description: A string that describes the claim type
          readOnly: true
          type: string
        claimValue:
          description: A string that describes the claim value
          readOnly: true
          type: string
        createdTime:
          description: The created time for this rule
          readOnly: true
          type: string
        keyName:
          description: A string that describes the authorization rule.
          readOnly: true
          type: string
        modifiedTime:
          description: The last modified time for this rule
          readOnly: true
          type: string
        primaryKey:
          description: >-
            A base64-encoded 256-bit primary key for signing and validating the
            SAS token.
          readOnly: true
          type: string
        revision:
          description: The revision number for the rule
          readOnly: true
          type: integer
        rights:
          description: The rights associated with the rule.
          items:
            enum:
              - Manage
              - Send
              - Listen
            type: string
            x-ms-enum:
              modelAsString: false
              name: AccessRights
          type: array
        secondaryKey:
          description: >-
            A base64-encoded 256-bit primary key for signing and validating the
            SAS token.
          readOnly: true
          type: string
      type: object
    SharedAccessAuthorizationRuleResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a Namespace AuthorizationRules.
      properties:
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          description: Properties of the Namespace AuthorizationRule.
          x-ms-client-flatten: true
      type: object
    Sku:
      description: The Sku description for a namespace
      properties:
        capacity:
          description: The capacity of the resource
          type: integer
        family:
          description: The Sku Family
          type: string
        name:
          description: Name of the notification hub sku
          enum:
            - Free
            - Basic
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
        size:
          description: The Sku size
          type: string
        tier:
          description: The tier of particular sku
          type: string
      required:
        - name
      type: object
    SubResource:
      properties:
        id:
          description: Resource Id
          type: string
      type: object
      x-ms-azure-resource: true
    WnsCredential:
      description: Description of a NotificationHub WnsCredential.
      properties:
        properties:
          $ref: '#/components/schemas/WnsCredentialProperties'
          description: Properties of NotificationHub WnsCredential.
          x-ms-client-flatten: true
      type: object
    WnsCredentialProperties:
      description: Description of a NotificationHub WnsCredential.
      properties:
        packageSid:
          description: The package ID for this credential.
          type: string
        secretKey:
          description: The secret key.
          type: string
        windowsLiveEndpoint:
          description: The Windows Live endpoint.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

