openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2019-01-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Security/assessmentMetadata:
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessmentMetadataList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments Metadata
      description: Get metadata information on all assessment types
      operationId: AssessmentsMetadata_List
      x-ms-examples:
        List security assessment metadata:
          $ref: ./examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: '#/components/parameters/AssessmentsMetadataName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessmentMetadata'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments Metadata
      description: Get metadata information on an assessment type
      operationId: AssessmentsMetadata_Get
      x-ms-examples:
        Get security assessment metadata:
          $ref: ./examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessmentMetadataList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments Metadata
      description: >-
        Get metadata information on all assessment types in a specific
        subscription
      operationId: AssessmentsMetadataSubscription_List
      x-ms-examples:
        List security assessment metadata for subscription:
          $ref: >-
            ./examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}':
    delete:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: '#/components/parameters/AssessmentsMetadataName'
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments Metadata
      description: >-
        Delete metadata information on an assessment type in a specific
        subscription, will cause the deletion of all the assessments of that
        type in that subscription
      operationId: AssessmentsMetadataSubscription_Delete
      x-ms-examples:
        Delete a security assessment metadata for subscription:
          $ref: >-
            ./examples/AssessmentsMetadata/DeleteAssessmentsMetadata_subscription_example.json
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: '#/components/parameters/AssessmentsMetadataName'
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessmentMetadata'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments Metadata
      description: >-
        Get metadata information on an assessment type in a specific
        subscription
      operationId: AssessmentsMetadataSubscription_Get
      x-ms-examples:
        Get security assessment metadata for subscription:
          $ref: >-
            ./examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: '#/components/parameters/AssessmentsMetadataName'
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAssessmentMetadata'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Assessments Metadata
      description: >-
        Create metadata information on an assessment type in a specific
        subscription
      operationId: AssessmentsMetadataSubscription_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityAssessmentMetadata'
        description: AssessmentMetadata object
        required: true
      x-ms-examples:
        Create security assessment metadata for subscription:
          $ref: >-
            ./examples/AssessmentsMetadata/CreateAssessmentsMetadata_subscription_example.json
components:
  parameters:
    AssessmentsMetadataName:
      description: The Assessment Key - Unique key for the assessment type
      in: path
      name: assessmentMetadataName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    SecurityAssessmentMetadata:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Security assessment metadata
      properties:
        properties:
          $ref: '#/components/schemas/SecurityAssessmentMetadataProperties'
          x-ms-client-flatten: true
      type: object
    SecurityAssessmentMetadataList:
      description: List of security assessment metadata
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/SecurityAssessmentMetadata'
          readOnly: true
          type: array
      type: object
    SecurityAssessmentMetadataProperties:
      description: Describes properties of an assessment metadata.
      properties:
        assessmentType:
          description: >-
            BuiltIn if the assessment based on built-in Azure Policy definition,
            Custom if the assessment based on custom Azure Policy definition
          enum:
            - BuiltIn
            - CustomPolicy
            - CustomerManaged
          type: string
          x-ms-enum:
            modelAsString: true
            name: assessmentType
            values:
              - description: Microsoft Defender for Cloud managed assessments
                value: BuiltIn
              - description: >-
                  User defined policies that are automatically ingested from
                  Azure Policy to Microsoft Defender for Cloud
                value: CustomPolicy
              - description: >-
                  User assessments pushed directly by the user or other third
                  party to Microsoft Defender for Cloud
                value: CustomerManaged
        categories:
          items:
            description: >-
              The categories of resource that is at risk when the assessment is
              unhealthy
            enum:
              - Compute
              - Networking
              - Data
              - IdentityAndAccess
              - IoT
            type: string
            x-ms-enum:
              modelAsString: true
              name: categories
              values:
                - value: Compute
                - value: Networking
                - value: Data
                - value: IdentityAndAccess
                - value: IoT
          type: array
        description:
          description: Human readable description of the assessment
          type: string
        displayName:
          description: User friendly display name of the assessment
          type: string
        implementationEffort:
          description: The implementation effort required to remediate this assessment
          enum:
            - Low
            - Moderate
            - High
          type: string
          x-ms-enum:
            modelAsString: true
            name: implementationEffort
            values:
              - value: Low
              - value: Moderate
              - value: High
        policyDefinitionId:
          description: >-
            Azure resource ID of the policy definition that turns this
            assessment calculation on
          readOnly: true
          type: string
        preview:
          description: True if this assessment is in preview release status
          type: boolean
        remediationDescription:
          description: >-
            Human readable description of what you should do to mitigate this
            security issue
          type: string
        severity:
          description: The severity level of the assessment
          enum:
            - Low
            - Medium
            - High
          type: string
          x-ms-enum:
            modelAsString: true
            name: severity
            values:
              - value: Low
              - value: Medium
              - value: High
        threats:
          items:
            description: Threats impact of the assessment
            enum:
              - accountBreach
              - dataExfiltration
              - dataSpillage
              - maliciousInsider
              - elevationOfPrivilege
              - threatResistance
              - missingCoverage
              - denialOfService
            type: string
            x-ms-enum:
              modelAsString: true
              name: threats
              values:
                - value: accountBreach
                - value: dataExfiltration
                - value: dataSpillage
                - value: maliciousInsider
                - value: elevationOfPrivilege
                - value: threatResistance
                - value: missingCoverage
                - value: denialOfService
          type: array
        userImpact:
          description: The user impact of the assessment
          enum:
            - Low
            - Moderate
            - High
          type: string
          x-ms-enum:
            modelAsString: true
            name: userImpact
            values:
              - value: Low
              - value: Moderate
              - value: High
      required:
        - displayName
        - severity
        - assessmentType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

