openapi: 3.0.0
info:
  description: >-
    Client that can be used to manage Azure Cognitive Search services and API
    keys.
  title: SearchManagementClient
  version: 2019-10-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Search/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: Success. The response describes the list of operations.
      tags:
        - Operations
      description: >-
        Lists all of the available REST API operations of the Microsoft.Search
        provider.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Search/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
          description: >-
            The name check completed. The response contains details of whether
            the name is valid and available. If the name is invalid, the
            response also contains a message explaining why not.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 400 (Bad Request): The given resource type is not
            'searchServices'.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Checks whether or not the given Search service name is available for
        use. Search service names must be globally unique since they are part of
        the service URI (https://<name>.search.windows.net).
      operationId: Services_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: The resource name and type to check.
        required: true
      x-ms-examples:
        SearchCheckNameAvailability:
          $ref: ./examples/SearchCheckNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Search/searchServices':
    get:
      parameters:
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchServiceListResult'
          description: >-
            The operation succeeded. The response contains the list of all
            Search service definitions for the given subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: An unexpected error occurred during the operation.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: Gets a list of all Search services in the given subscription.
      operationId: Services_ListBySubscription
      x-ms-examples:
        SearchListServicesBySubscription:
          $ref: ./examples/SearchListServicesBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchServiceListResult'
          description: >-
            The operation succeeded. The response contains the list of all
            Search service definitions for the given resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: An unexpected error occurred during the operation.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: Gets a list of all Search services in the given resource group.
      operationId: Services_ListByResourceGroup
      x-ms-examples:
        SearchListServicesByResourceGroup:
          $ref: ./examples/SearchListServicesByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The Search service was successfully deleted.
        '204':
          description: The Search service was successfully deleted.
        '404':
          description: >-
            The subscription, resource group, or Search service could not be
            found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: An unexpected error occurred during the operation.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Deletes a Search service in the given resource group, along with its
        associated resources.
      operationId: Services_Delete
      x-ms-examples:
        SearchDeleteService:
          $ref: ./examples/SearchDeleteService.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchService'
          description: >-
            The Search service definition was successfully retrieved and is in
            the response. If you are polling for the completion of a
            provisioning or scale operation, you can check its status via the
            provisioningState property.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 404 (Not Found): The subscription, resource group, or Search
            service name could not be found.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: Gets the Search service with the given name in the given resource group.
      operationId: Services_Get
      x-ms-examples:
        SearchGetService:
          $ref: ./examples/SearchGetService.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: The name of the Azure Cognitive Search service to update.
          in: path
          name: searchServiceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchService'
          description: >-
            The existing service definition was successfully updated. If you
            changed the number of replicas or partitions, the scale operation
            will happen asynchronously. You can periodically get your service
            definition and monitor progress via the provisioningState property.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 400 (Bad Request): The given service definition is invalid or
            you attempted to change a property that is immutable; See the error
            code and message in the response for details. HTTP 404 (Not Found):
            The subscription or resource group could not be found. HTTP 409
            (Conflict): The specified subscription is disabled.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: Updates an existing Search service in the given resource group.
      operationId: Services_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchService'
        description: The definition of the Search service to update.
        required: true
      x-ms-examples:
        SearchUpdateService:
          $ref: ./examples/SearchUpdateService.json
        SearchUpdateServiceToRemoveIdentity:
          $ref: ./examples/SearchUpdateServiceToRemoveIdentity.json
        searchUpdateServiceToAllowAccessFromCustomIPs:
          $ref: ./examples/SearchUpdateServiceToAllowAccessFromCustomIPs.json
        searchUpdateServiceToAllowAccessFromPrivateEndpoints:
          $ref: ./examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: >-
            The name of the Azure Cognitive Search service to create or update.
            Search service names must only contain lowercase letters, digits or
            dashes, cannot use dash as the first two or last one characters,
            cannot contain consecutive dashes, and must be between 2 and 60
            characters in length. Search service names must be globally unique
            since they are part of the service URI
            (https://<name>.search.windows.net). You cannot change the service
            name after the service is created.
          in: path
          name: searchServiceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchService'
          description: >-
            The existing service definition was successfully updated. If you
            changed the number of replicas or partitions, the scale operation
            will happen asynchronously. You can periodically get your service
            definition and monitor progress via the provisioningState property.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchService'
          description: >-
            If you requested creation of a free Search service, the service is
            now provisioned and ready to use, subject to DNS propagation delay.
            For other SKU types, provisioning happens asynchronously. You can
            periodically get your service definition and monitor progress via
            the provisioningState property.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 400 (Bad Request): The given service name or service definition
            is invalid; See the error code and message in the response for
            details. HTTP 404 (Not Found): The subscription or resource group
            could not be found. HTTP 409 (Conflict): The specified subscription
            is disabled.
      tags:
        - Services
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Creates or updates a Search service in the given resource group. If the
        Search service already exists, all properties will be updated with the
        given values.
      operationId: Services_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchService'
        description: The definition of the Search service to create or update.
        required: true
      x-ms-examples:
        SearchCreateOrUpdateService:
          $ref: ./examples/SearchCreateOrUpdateService.json
        SearchCreateOrUpdateServiceWithIdentity:
          $ref: ./examples/SearchCreateOrUpdateServiceWithIdentity.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - description: The name of the new query API key.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryKey'
          description: >-
            The query key was successfully created and is in the response. You
            can use the query key as the value of the 'api-key' parameter in the
            Azure Cognitive Search Service REST API or SDK to perform read-only
            operations on your Search indexes such as querying and looking up
            documents by ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 404 (Not Found): The subscription, resource group, or Search
            service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.
      tags:
        - QueryKeys
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Generates a new query key for the specified Search service. You can
        create up to 50 query keys per service.
      operationId: QueryKeys_Create
      x-ms-examples:
        SearchCreateQueryKey:
          $ref: ./examples/SearchCreateQueryKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - description: >-
            The query key to be deleted. Query keys are identified by value, not
            by name.
          in: path
          name: key
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The query key was successfully deleted.
        '204':
          description: The query key was successfully deleted.
        '404':
          description: >-
            The subscription, resource group, Search service, or query key could
            not be found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: 'HTTP 409 (Conflict): The specified subscription is disabled.'
      tags:
        - QueryKeys
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Deletes the specified query key. Unlike admin keys, query keys are not
        regenerated. The process for regenerating a query key is to delete and
        then recreate it.
      operationId: QueryKeys_Delete
      x-ms-examples:
        SearchDeleteQueryKey:
          $ref: ./examples/SearchDeleteQueryKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listAdminKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminKeyResult'
          description: >-
            The admin keys were successfully retrieved and are in the response.
            You can use either the primary or secondary key as the value of the
            'api-key' parameter in the Azure Cognitive Search Service REST API
            or SDK to perform any operations on your Search service, including
            privileged operations. Privileged operations include managing
            resources like indexes and data sources as well as uploading,
            modifying, or deleting data in your indexes.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 404 (Not Found): The subscription, resource group, or Search
            service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.
      tags:
        - AdminKeys
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Gets the primary and secondary admin API keys for the specified Azure
        Cognitive Search service.
      operationId: AdminKeys_Get
      x-ms-examples:
        SearchGetAdminKeys:
          $ref: ./examples/SearchGetAdminKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryKeysResult'
          description: >-
            All query keys for the given Search service were successfully
            retrieved and are in the response. You can use any of the query keys
            as the value of the 'api-key' parameter in the Azure Cognitive
            Search Service REST API or SDK to perform read-only operations on
            your Search indexes such as querying and looking up documents by ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 404 (Not Found): The subscription, resource group, or Search
            service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.
      tags:
        - QueryKeys
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Returns the list of query API keys for the given Azure Cognitive Search
        service.
      operationId: QueryKeys_ListBySearchService
      x-ms-examples:
        SearchListQueryKeysBySearchService:
          $ref: ./examples/SearchListQueryKeysBySearchService.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections':
    get:
      parameters:
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: >-
            The operation succeeded. The response contains the list of all
            private endpoint connections for the given service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: An unexpected error occurred during the operation.
      tags:
        - PrivateEndpointConnections
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: Gets a list of all private endpoint connections in the given service.
      operationId: PrivateEndpointConnections_ListByService
      x-ms-examples:
        ListPrivateEndpointConnectionsByService:
          $ref: ./examples/ListPrivateEndpointConnectionsByService.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections/{privateEndpointConnectionName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: >-
            The private endpoint connection was successfully disconnected and
            removed from the search service. The response will contain the
            updated definition of the private endpoint connection.
        '404':
          description: >-
            The subscription, resource group, Search service or private endpoint
            connection could not be found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: An unexpected error occurred during the operation.
      tags:
        - PrivateEndpointConnections
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Disconnects the private endpoint connection and deletes it from the
        Search service.
      operationId: PrivateEndpointConnections_Delete
      x-ms-examples:
        PrivateEndpointConnectionDelete:
          $ref: ./examples/DeletePrivateEndpointConnection.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: >-
            The definition of the private endpoint connection was successfully
            retrieved and is in the response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 404 (Not Found): The subscription, resource group, Search
            service or private endpoint connection could not be found.
      tags:
        - PrivateEndpointConnections
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Gets the details of the private endpoint connection to the Search
        service in the given resource group.
      operationId: PrivateEndpointConnections_Get
      x-ms-examples:
        PrivateEndpointConnectionGet:
          $ref: ./examples/GetPrivateEndpointConnection.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: >-
            The existing private endpoint connection definition was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 400 (Bad Request): The given private endpoint connection name
            or the private endpoint connection definition is invalid; See the
            error code and message in the response for details. HTTP 404 (Not
            Found): The subscription, resource group, search service or private
            endpoint connection could not be found. HTTP 409 (Conflict): The
            specified subscription is disabled.
      tags:
        - PrivateEndpointConnections
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Updates a Private Endpoint connection to the Search service in the given
        resource group.
      operationId: PrivateEndpointConnections_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: The definition of the private endpoint connection to update.
        required: true
      x-ms-examples:
        PrivateEndpointConnectionUpdate:
          $ref: ./examples/UpdatePrivateEndpointConnection.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateLinkResources':
    get:
      parameters:
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourcesResult'
          description: >-
            The operation succeeded. The response contains the list of all
            supported private link resource types for the given service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: An unexpected error occurred during the operation.
      tags:
        - PrivateLinkResources
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Gets a list of all supported private link resource types for the given
        service.
      operationId: PrivateLinkResources_ListSupported
      x-ms-examples:
        ListSupportedPrivateLinkResources:
          $ref: ./examples/ListSupportedPrivateLinkResources.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SearchServiceNameParameter'
        - description: >-
            Specifies which key to regenerate. Valid values include 'primary'
            and 'secondary'.
          in: path
          name: keyKind
          required: true
          schema:
            enum:
              - primary
              - secondary
            type: string
          x-ms-enum:
            modelAsString: false
            name: AdminKeyKind
        - $ref: '#/components/parameters/ClientRequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminKeyResult'
          description: >-
            The specified admin key was successfully regenerated. Both admin
            keys are included in the response, including the newly-regenerated
            key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            HTTP 404 (Not Found): The subscription, resource group, or Search
            service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.
      tags:
        - AdminKeys
      externalDocs:
        url: 'https://aka.ms/search-manage'
      description: >-
        Regenerates either the primary or secondary admin API key. You can only
        regenerate one key at a time.
      operationId: AdminKeys_Regenerate
      x-ms-examples:
        SearchRegenerateAdminKey:
          $ref: ./examples/SearchRegenerateAdminKey.json
components:
  parameters:
    ApiVersionParameter:
      description: >-
        The API version to use for each request. The current version is
        2019-10-01-Preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClientRequestIdParameter:
      description: >-
        A client-generated GUID value that identifies this request. If
        specified, this will be included in response information as a way to
        track the request.
      in: header
      name: x-ms-client-request-id
      required: false
      schema:
        format: uuid
        type: string
      x-ms-client-name: clientRequestId
      x-ms-client-request-id: true
      x-ms-parameter-grouping:
        name: search-management-request-options
      x-ms-parameter-location: method
    PrivateEndpointConnectionNameParameter:
      description: >-
        The name of the private endpoint connection to the Azure Cognitive
        Search service with the specified resource group.
      in: path
      name: privateEndpointConnectionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: >-
        The name of the resource group within the current subscription. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SearchServiceNameParameter:
      description: >-
        The name of the Azure Cognitive Search service associated with the
        specified resource group.
      in: path
      name: searchServiceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        The unique identifier for a Microsoft Azure subscription. You can obtain
        this value from the Azure Resource Manager API or the portal.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AdminKeyResult:
      description: >-
        Response containing the primary and secondary admin API keys for a given
        Azure Cognitive Search service.
      properties:
        primaryKey:
          description: The primary admin API key of the Search service.
          readOnly: true
          type: string
        secondaryKey:
          description: The secondary admin API key of the Search service.
          readOnly: true
          type: string
      type: object
    CheckNameAvailabilityInput:
      description: Input of check name availability API.
      properties:
        name:
          description: >-
            The Search service name to validate. Search service names must only
            contain lowercase letters, digits or dashes, cannot use dash as the
            first two or last one characters, cannot contain consecutive dashes,
            and must be between 2 and 60 characters in length.
          type: string
        type:
          description: >-
            The type of the resource whose name is to be validated. This value
            must always be 'searchServices'.
          enum:
            - searchServices
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceType
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityOutput:
      description: Output of check name availability API.
      properties:
        message:
          description: >-
            A message that explains why the name is invalid and provides
            resource naming requirements. Available only if 'Invalid' is
            returned in the 'reason' property.
          readOnly: true
          type: string
        nameAvailable:
          description: A value indicating whether the name is available.
          readOnly: true
          type: boolean
          x-ms-client-name: IsNameAvailable
        reason:
          description: >-
            The reason why the name is not available. 'Invalid' indicates the
            name provided does not match the naming requirements (incorrect
            length, unsupported characters, etc.). 'AlreadyExists' indicates
            that the name is already in use and is therefore unavailable.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: UnavailableNameReason
      type: object
    CloudError:
      description: Contains information about an API error.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Describes a particular API error with an error code and a message.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Describes a particular API error with an error code and a message.
      properties:
        code:
          description: >-
            An error code that describes the error condition more precisely than
            an HTTP status code. Can be used to programmatically handle specific
            error cases.
          type: string
        details:
          description: Contains nested errors that are related to this error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message that describes the error in detail and provides debugging
            information.
          type: string
        target:
          description: >-
            The target of the particular error (for example, the name of the
            property in error).
          type: string
      type: object
      x-ms-external: true
    Identity:
      description: Identity for the resource.
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          type: string
        type:
          description: The identity type.
          enum:
            - None
            - SystemAssigned
          type: string
          x-ms-enum:
            modelAsString: false
            name: IdentityType
      required:
        - type
      type: object
    IpRule:
      description: The IP restriction rule of the Azure Cognitive Search service.
      properties:
        value:
          description: >-
            Value corresponding to a single IPv4 address (eg., 123.1.2.3) or an
            IP range in CIDR format (eg., 123.1.2.3/24) to be allowed.
          type: string
      type: object
    ListQueryKeysResult:
      description: >-
        Response containing the query API keys for a given Azure Cognitive
        Search service.
      properties:
        value:
          description: The query keys for the Azure Cognitive Search service.
          items:
            $ref: '#/components/schemas/QueryKey'
          readOnly: true
          type: array
      type: object
      x-ms-external: true
    NetworkRuleSet:
      description: >-
        Network specific rules that determine how the Azure Cognitive Search
        service may be reached.
      properties:
        endpointAccess:
          default: Public
          description: >-
            The level of access to the search service endpoint. Public, the
            search service endpoint is reachable from the internet. Private, the
            search service endpoint can only be accessed via private endpoints.
            Default is Public.
          enum:
            - Public
            - Private
          type: string
          x-ms-enum:
            modelAsString: false
            name: EndpointAccess
        ipRules:
          description: >-
            A list of IP restriction rules that defines the inbound network
            access to the search service endpoint. These restriction rules are
            applied only when the EndpointAccess of the search service is
            Public.
          items:
            $ref: '#/components/schemas/IpRule'
          type: array
      type: object
    Operation:
      description: Describes a REST API operation.
      properties:
        display:
          description: The object that describes the operation.
          properties:
            description:
              description: The friendly name of the operation.
              readOnly: true
              type: string
            operation:
              description: 'The operation type: read, write, delete, listKeys/action, etc.'
              readOnly: true
              type: string
            provider:
              description: The friendly name of the resource provider.
              readOnly: true
              type: string
            resource:
              description: The resource type on which the operation is performed.
              readOnly: true
              type: string
          readOnly: true
          type: object
        name:
          description: >-
            The name of the operation. This name is of the form
            {provider}/{resource}/{operation}.
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        The result of the request to list REST API operations. It contains a
        list of operations and a URL  to get the next set of results.
      properties:
        nextLink:
          description: 'The URL to get the next set of operation list results, if any.'
          readOnly: true
          type: string
        value:
          description: The list of operations supported by the resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    PrivateEndpointConnection:
      description: >-
        Describes an existing Private Endpoint connection to the Azure Cognitive
        Search service.
      properties:
        id:
          externalDocs:
            url: 'https://aka.ms/search-linked-resources'
          description: >-
            The ID of the private endpoint connection. This can be used with the
            Azure Resource Manager to link resources together.
          type: string
        name:
          externalDocs:
            url: 'https://aka.ms/search-naming-rules'
          description: The name of the private endpoint connection.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: >-
            Describes the properties of an existing Private Endpoint connection
            to the Azure Cognitive Search service.
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
    PrivateEndpointConnectionListResult:
      description: Response containing a list of Private Endpoint connections.
      properties:
        value:
          description: The list of Private Endpoint connections.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          type: array
      type: object
      x-ms-external: true
    PrivateEndpointConnectionProperties:
      description: >-
        Describes the properties of an existing Private Endpoint connection to
        the Azure Cognitive Search service.
      properties:
        privateEndpoint:
          description: The private endpoint resource from Microsoft.Network provider.
          properties:
            id:
              description: >-
                The resource id of the private endpoint resource from
                Microsoft.Network provider.
              type: string
          type: object
        privateLinkServiceConnectionState:
          description: >-
            Describes the current state of an existing Private Link Service
            connection to the Azure Private Endpoint.
          properties:
            actionsRequired:
              default: None
              description: A description of any extra actions that may be required.
              type: string
            description:
              description: The description for the private link service connection state.
              type: string
            status:
              description: >-
                Status of the the private link service connection. Can be
                Pending, Approved, Rejected, or Disconnected.
              enum:
                - Pending
                - Approved
                - Rejected
                - Disconnected
              type: string
              x-ms-enum:
                modelAsString: false
                name: PrivateLinkServiceConnectionStatus
          type: object
      type: object
    PrivateLinkResource:
      description: >-
        Describes a supported private link resource for the Azure Cognitive
        Search service.
      properties:
        id:
          description: The ID of the private link resource.
          readOnly: true
          type: string
        name:
          description: The name of the private link resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: >-
            Describes the properties of a supported private link resource for
            the Azure Cognitive Search service.
          readOnly: true
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
    PrivateLinkResourceProperties:
      description: >-
        Describes the properties of a supported private link resource for the
        Azure Cognitive Search service.
      properties:
        groupId:
          description: The group ID of the private link resource.
          readOnly: true
          type: string
        requiredMembers:
          description: The list of required members of the private link resource.
          items:
            type: string
          readOnly: true
          type: array
        requiredZoneNames:
          description: The list of required DNS zone names of the private link resource.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    PrivateLinkResourcesResult:
      description: Response containing a list of supported Private Link Resources.
      properties:
        value:
          description: The list of supported Private Link Resources.
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
          type: array
      type: object
      x-ms-external: true
    QueryKey:
      description: >-
        Describes an API key for a given Azure Cognitive Search service that has
        permissions for query operations only.
      properties:
        key:
          description: The value of the query API key.
          readOnly: true
          type: string
        name:
          description: The name of the query API key; may be empty.
          readOnly: true
          type: string
      type: object
    Resource:
      description: Base type for all Azure resources.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Tags to help categorize the resource in the Azure portal.
          type: object
        id:
          externalDocs:
            url: 'https://aka.ms/search-linked-resources'
          description: >-
            The ID of the resource. This can be used with the Azure Resource
            Manager to link resources together.
          readOnly: true
          type: string
        identity:
          $ref: '#/components/schemas/Identity'
          description: The identity of the resource.
        location:
          externalDocs:
            url: 'https://aka.ms/search-rp-info'
          description: >-
            The geographic location of the resource. This must be one of the
            supported and registered Azure Geo Regions (for example, West US,
            East US, Southeast Asia, and so forth). This property is required
            when creating a new resource.
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          externalDocs:
            url: 'https://aka.ms/search-naming-rules'
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SearchService:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Describes an Azure Cognitive Search service and its current state.
      properties:
        properties:
          $ref: '#/components/schemas/SearchServiceProperties'
          description: Properties of the Search service.
          x-ms-client-flatten: true
        sku:
          externalDocs:
            url: >-
              https://azure.microsoft.com/documentation/articles/search-sku-tier/
          $ref: '#/components/schemas/Sku'
          description: >-
            The SKU of the Search Service, which determines price tier and
            capacity limits. This property is required when creating a new
            Search Service.
      type: object
    SearchServiceListResult:
      description: Response containing a list of Azure Cognitive Search services.
      properties:
        value:
          description: The list of Search services.
          items:
            $ref: '#/components/schemas/SearchService'
          readOnly: true
          type: array
      type: object
      x-ms-external: true
    SearchServiceProperties:
      description: Properties of the Search service.
      properties:
        hostingMode:
          default: default
          description: >-
            Applicable only for the standard3 SKU. You can set this property to
            enable up to 3 high density partitions that allow up to 1000
            indexes, which is much higher than the maximum indexes allowed for
            any other SKU. For the standard3 SKU, the value is either 'default'
            or 'highDensity'. For all other SKUs, this value must be 'default'.
          enum:
            - default
            - highDensity
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostingMode
        networkRuleSet:
          $ref: '#/components/schemas/NetworkRuleSet'
          description: >-
            Network specific rules that determine how the Azure Cognitive Search
            service may be reached.
        partitionCount:
          default: 1
          description: >-
            The number of partitions in the Search service; if specified, it can
            be 1, 2, 3, 4, 6, or 12. Values greater than 1 are only valid for
            standard SKUs. For 'standard3' services with hostingMode set to
            'highDensity', the allowed values are between 1 and 3.
          format: int32
          maximum: 12
          minimum: 1
          type: integer
        privateEndpointConnections:
          description: >-
            The list of private endpoint connections to the Azure Cognitive
            Search service.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          type: array
        provisioningState:
          description: >-
            The state of the last provisioning operation performed on the Search
            service. Provisioning is an intermediate state that occurs while
            service capacity is being established. After capacity is set up,
            provisioningState changes to either 'succeeded' or 'failed'. Client
            applications can poll provisioning status (the recommended polling
            interval is from 30 seconds to one minute) by using the Get Search
            Service operation to see when an operation is completed. If you are
            using the free service, this value tends to come back as 'succeeded'
            directly in the call to Create Search service. This is because the
            free service uses capacity that is already set up.
          enum:
            - succeeded
            - provisioning
            - failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        replicaCount:
          default: 1
          description: >-
            The number of replicas in the Search service. If specified, it must
            be a value between 1 and 12 inclusive for standard SKUs or between 1
            and 3 inclusive for basic SKU.
          format: int32
          maximum: 12
          minimum: 1
          type: integer
        status:
          description: >-
            The status of the Search service. Possible values include:
            'running': The Search service is running and no provisioning
            operations are underway. 'provisioning': The Search service is being
            provisioned or scaled up or down. 'deleting': The Search service is
            being deleted. 'degraded': The Search service is degraded. This can
            occur when the underlying search units are not healthy. The Search
            service is most likely operational, but performance might be slow
            and some requests might be dropped. 'disabled': The Search service
            is disabled. In this state, the service will reject all API
            requests. 'error': The Search service is in an error state. If your
            service is in the degraded, disabled, or error states, it means the
            Azure Cognitive Search team is actively investigating the underlying
            issue. Dedicated services in these states are still chargeable based
            on the number of search units provisioned.
          enum:
            - running
            - provisioning
            - deleting
            - degraded
            - disabled
            - error
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: SearchServiceStatus
        statusDetails:
          description: The details of the Search service status.
          readOnly: true
          type: string
      type: object
    Sku:
      externalDocs:
        url: 'https://azure.microsoft.com/documentation/articles/search-sku-tier/'
      description: >-
        Defines the SKU of an Azure Cognitive Search Service, which determines
        price tier and capacity limits.
      properties:
        name:
          description: >-
            The SKU of the Search service. Valid values include: 'free': Shared
            service. 'basic': Dedicated service with up to 3 replicas.
            'standard': Dedicated service with up to 12 partitions and 12
            replicas. 'standard2': Similar to standard, but with more capacity
            per search unit. 'standard3': The largest Standard offering with up
            to 12 partitions and 12 replicas (or up to 3 partitions with more
            indexes if you also set the hostingMode property to 'highDensity').
            'storage_optimized_l1': Supports 1TB per partition, up to 12
            partitions. 'storage_optimized_l2': Supports 2TB per partition, up
            to 12 partitions.'
          enum:
            - free
            - basic
            - standard
            - standard2
            - standard3
            - storage_optimized_l1
            - storage_optimized_l2
          type: string
          x-ms-enum:
            modelAsString: false
            name: SkuName
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

