{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/DelegatedProviderOffer.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers": {
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/DelegatedProviderSubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegatedProviderOfferList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "DelegatedProviderOffers"
        ],
        "description": "Get the list of delegated provider offers.",
        "operationId": "DelegatedProviderOffers_List",
        "x-ms-examples": {
          "Get the list of delegated provider offers.": {
            "$ref": "./examples/DelegatedProviderOffer/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers/{offer}": {
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/DelegatedProviderSubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/OfferParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegatedProviderOffer"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "DelegatedProviderOffers"
        ],
        "description": "Get the specified delegated provider offer.",
        "operationId": "DelegatedProviderOffers_Get",
        "x-ms-examples": {
          "Get the specified delegated provider offer.": {
            "$ref": "./examples/DelegatedProviderOffer/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessibilityState": {
        "description": "Represents the state of the offer",
        "enum": [
          "Private",
          "Public",
          "Decommissioned"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "AccessibilityState",
          "values": [
            {
              "description": "The offer or plan is private. Only an Admin can see and manage it.",
              "name": "Private",
              "value": "Private"
            },
            {
              "description": "The offer or plan is public. Users can see and self-subscribe to it.",
              "name": "Public",
              "value": "Public"
            },
            {
              "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
              "name": "Decommissioned",
              "value": "Decommissioned"
            }
          ]
        }
      },
      "DelegatedProviderOffer": {
        "allOf": [
          {
            "$ref": "Subscriptions.json#/definitions/Resource"
          }
        ],
        "description": "The delegated provider offer.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DelegatedProviderOfferProperties",
            "description": "Properties for an delegated provider.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DelegatedProviderOfferList": {
        "description": "List of delegated provider offers.",
        "properties": {
          "nextLink": {
            "description": "Continuation token",
            "type": "string"
          },
          "value": {
            "description": "Array of delegated provider offers.",
            "items": {
              "$ref": "#/components/schemas/DelegatedProviderOffer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DelegatedProviderOfferProperties": {
        "description": "Properties for an delegated provider.",
        "properties": {
          "accessibilityState": {
            "$ref": "#/components/schemas/AccessibilityState",
            "description": "Offer accessibility state."
          },
          "delegatedOfferId": {
            "description": "The delegated offer identifier.",
            "type": "string"
          },
          "description": {
            "description": "Description of offer.",
            "type": "string"
          },
          "displayName": {
            "description": "Display name of offer.",
            "type": "string"
          },
          "externalReferenceId": {
            "description": "External reference identifier.",
            "type": "string"
          },
          "subscriptionCount": {
            "description": "Current subscription count.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}