openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on Quota entity associated
    with your Azure API Management deployment. To configure call rate limit and
    quota policies refer to [how to configure call rate limit and
    quota](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies).
  title: ApiManagementClient
  version: 2019-12-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/QuotaCounterKeyParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/QuotaCounterCollection
          description: Lists a collection of the quota counter values.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - QuotaByCounterKeys
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: >-
          https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
      description: >-
        Lists a collection of current quota counter periods associated with the
        counter-key configured in the policy on the specified service instance.
        The api does not support paging yet.
      operationId: QuotaByCounterKeys_ListByService
      x-ms-examples:
        ApiManagementGetQuotaCounterKeys:
          $ref: ./examples/ApiManagementGetQuotaCounterKeys.json
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/QuotaCounterKeyParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: Quota counter period was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - QuotaByCounterKeys
      description: >-
        Updates all the quota counter values specified with the existing quota
        counter key to a value in the specified service instance. This should be
        used for reset of the quota counter values.
      operationId: QuotaByCounterKeys_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                ./definitions.json#/definitions/QuotaCounterValueContractProperties
        description: >-
          The value of the quota counter to be applied to all quota counter
          periods.
        required: true
      x-ms-examples:
        ApiManagementUpdateQuotaCounterKey:
          $ref: ./examples/ApiManagementUpdateQuotaCounterKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}/periods/{quotaPeriodKey}':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/QuotaCounterKeyParameter
        - $ref: ./apimanagement.json#/components/parameters/QuotaPeriodKeyParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/QuotaCounterContract
          description: >-
            The response body contains the Quota counter details for the
            specified period.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - QuotaByPeriodKeys
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: >-
          https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
      description: >-
        Gets the value of the quota counter associated with the counter-key in
        the policy for the specific period in service instance.
      operationId: QuotaByPeriodKeys_Get
      x-ms-examples:
        ApiManagementGetQuotaCounterKeysByQuotaPeriod:
          $ref: ./examples/ApiManagementGetQuotaCounterKeysByQuotaPeriod.json
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/QuotaCounterKeyParameter
        - $ref: ./apimanagement.json#/components/parameters/QuotaPeriodKeyParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The quota counter value was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - QuotaByPeriodKeys
      description: >-
        Updates an existing quota counter value in the specified service
        instance.
      operationId: QuotaByPeriodKeys_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                ./definitions.json#/definitions/QuotaCounterValueContractProperties
        description: The value of the Quota counter to be applied on the specified period.
        required: true
      x-ms-examples:
        ApiManagementUpdateQuotaCounterKeyByQuotaPeriod:
          $ref: ./examples/ApiManagementUpdateQuotaCounterKeyByQuotaPeriod.json
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

