{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2018-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/serviceCommunity.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BgpServiceCommunityListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of BgpServiceCommunity resources."
          }
        },
        "tags": [
          "BgpServiceCommunities"
        ],
        "description": "Gets all the available bgp service communities.",
        "operationId": "BgpServiceCommunities_List",
        "x-ms-examples": {
          "ServiceCommunityList": {
            "$ref": "./examples/ServiceCommunityList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BGPCommunity": {
        "description": "Contains bgp community information offered in Service Community resources.",
        "properties": {
          "communityName": {
            "description": "The name of the bgp community. e.g. Skype.",
            "type": "string"
          },
          "communityPrefixes": {
            "description": "The prefixes that the bgp community contains.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "communityValue": {
            "description": "The value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.",
            "type": "string"
          },
          "isAuthorizedToUse": {
            "description": "Customer is authorized to use bgp community or not.",
            "type": "boolean"
          },
          "serviceGroup": {
            "description": "The service group of the bgp community contains.",
            "type": "string"
          },
          "serviceSupportedRegion": {
            "description": "The region which the service support. e.g. For O365, region is Global.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BgpServiceCommunity": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Service Community Properties.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BgpServiceCommunityPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BgpServiceCommunityListResult": {
        "description": "Response for the ListServiceCommunity API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "A list of service community resources.",
            "items": {
              "$ref": "#/components/schemas/BgpServiceCommunity"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BgpServiceCommunityPropertiesFormat": {
        "description": "Properties of Service Community.",
        "properties": {
          "bgpCommunities": {
            "description": "Get a list of bgp communities.",
            "items": {
              "$ref": "#/components/schemas/BGPCommunity"
            },
            "type": "array"
          },
          "serviceName": {
            "description": "The name of the bgp community. e.g. Skype.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}