{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "title": "Cosmos DB",
    "version": "2015-04-08",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}": {
      "head": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The account name is valid but is already in use."
          },
          "404": {
            "description": "Not Found. The account name is available and valid."
          }
        },
        "description": "Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.",
        "operationId": "DatabaseAccounts_CheckNameExists",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCheckNameExists": {
            "$ref": "./examples/CosmosDBDatabaseAccountCheckNameExists.json"
          }
        }
      }
    },
    "/providers/Microsoft.DocumentDB/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Cosmos DB Resource Provider operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "CosmosDBOperationsList": {
            "$ref": "./examples/CosmosDBOperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountsListResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the subscription.",
        "operationId": "DatabaseAccounts_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/CosmosDBDatabaseAccountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountsListResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the given resource group.",
        "operationId": "DatabaseAccounts_ListByResourceGroup",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListByResourceGroup": {
            "$ref": "./examples/CosmosDBDatabaseAccountListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The database account delete operation will complete asynchronously."
          },
          "204": {
            "description": "The specified account does not exist in the subscription."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_Delete",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountDelete": {
            "$ref": "./examples/CosmosDBDatabaseAccountDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccount"
                }
              }
            },
            "description": "The database account properties were retrieved successfully."
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_Get",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/CosmosDBDatabaseAccountGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccount"
                }
              }
            },
            "description": "The properties of the database account were patched successfully."
          }
        },
        "description": "Patches the properties of an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_Patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseAccountPatchParameters"
              }
            }
          },
          "description": "The tags parameter to patch for the current database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountPatch": {
            "$ref": "./examples/CosmosDBDatabaseAccountPatch.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccount"
                }
              }
            },
            "description": "The database account create or update operation will complete asynchronously."
          }
        },
        "description": "Creates or updates an Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseAccountCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCreateMax": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMax.json"
          },
          "CosmosDBDatabaseAccountCreateMin": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMin.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraKeyspaceListResult"
                }
              }
            },
            "description": "The Cassandra keyspace properties were retrieved successfully."
          }
        },
        "description": "Lists the Cassandra keyspaces under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListCassandraKeyspaces",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceList": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Cassandra keyspace delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Cassandra keyspace delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Cassandra keyspace.",
        "operationId": "DatabaseAccounts_DeleteCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceDelete": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraKeyspace"
                }
              }
            },
            "description": "The Cassandra keyspace property was retrieved successfully."
          }
        },
        "description": "Gets the Cassandra keyspaces under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceGet": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraKeyspace"
                }
              }
            },
            "description": "The Cassandra keyspace create or update operation was completed successfully."
          },
          "202": {
            "description": "The Cassandra keyspace create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Cassandra keyspace",
        "operationId": "DatabaseAccounts_CreateUpdateCassandraKeyspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraKeyspaceCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Cassandra keyspace.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceCreateUpdate": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Cassandra Keyspace was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Cassandra Keyspace under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetCassandraKeyspaceThroughput",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceThroughputGet": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Cassandra Keyspace update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Cassandra Keyspace update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Cassandra Keyspace",
        "operationId": "DatabaseAccounts_UpdateCassandraKeyspaceThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Cassandra Keyspace.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceThroughputUpdate": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraTableListResult"
                }
              }
            },
            "description": "The Cassandra table properties were retrieved successfully."
          }
        },
        "description": "Lists the Cassandra table under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListCassandraTables",
        "x-ms-examples": {
          "CosmosDBCassandraTableList": {
            "$ref": "./examples/CosmosDBCassandraTableList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Cassandra table delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Cassandra table delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Cassandra table.",
        "operationId": "DatabaseAccounts_DeleteCassandraTable",
        "x-ms-examples": {
          "CosmosDBCassandraTableDelete": {
            "$ref": "./examples/CosmosDBCassandraTableDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraTable"
                }
              }
            },
            "description": "The Cassandra table property was retrieved successfully."
          }
        },
        "description": "Gets the Cassandra table under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_GetCassandraTable",
        "x-ms-examples": {
          "CosmosDBCassandraTableGet": {
            "$ref": "./examples/CosmosDBCassandraTableGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraTable"
                }
              }
            },
            "description": "The Cassandra Table create or update operation was completed successfully."
          },
          "202": {
            "description": "The Cassandra Table create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Cassandra Table",
        "operationId": "DatabaseAccounts_CreateUpdateCassandraTable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraTableCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Cassandra Table.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraTableCreateUpdate": {
            "$ref": "./examples/CosmosDBCassandraTableCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Cassandra table was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Cassandra table under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetCassandraTableThroughput",
        "x-ms-examples": {
          "CosmosDBCassandraTableThroughputGet": {
            "$ref": "./examples/CosmosDBCassandraTableThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Cassandra table update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Cassandra table update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Cassandra table",
        "operationId": "DatabaseAccounts_UpdateCassandraTableThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Cassandra table.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraTableThroughputUpdate": {
            "$ref": "./examples/CosmosDBCassandraTableThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinDatabaseListResult"
                }
              }
            },
            "description": "The Gremlin database properties were retrieved successfully."
          }
        },
        "description": "Lists the Gremlin databases under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListGremlinDatabases",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseList": {
            "$ref": "./examples/CosmosDBGremlinDatabaseList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Gremlin database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Gremlin database delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Gremlin database.",
        "operationId": "DatabaseAccounts_DeleteGremlinDatabase",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseDelete": {
            "$ref": "./examples/CosmosDBGremlinDatabaseDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinDatabase"
                }
              }
            },
            "description": "The Gremlin database property was retrieved successfully."
          }
        },
        "description": "Gets the Gremlin databases under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetGremlinDatabase",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseGet": {
            "$ref": "./examples/CosmosDBGremlinDatabaseGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinDatabase"
                }
              }
            },
            "description": "The Gremlin database create or update operation was completed successfully."
          },
          "202": {
            "description": "The Gremlin database create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Gremlin database",
        "operationId": "DatabaseAccounts_CreateUpdateGremlinDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GremlinDatabaseCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Gremlin database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBGremlinDatabaseCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinGraphListResult"
                }
              }
            },
            "description": "The Gremlin graph properties were retrieved successfully."
          }
        },
        "description": "Lists the Gremlin graph under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListGremlinGraphs",
        "x-ms-examples": {
          "CosmosDBGremlinGraphList": {
            "$ref": "./examples/CosmosDBGremlinGraphList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs/{graphName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Gremlin graph delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Gremlin graph delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Gremlin graph.",
        "operationId": "DatabaseAccounts_DeleteGremlinGraph",
        "x-ms-examples": {
          "CosmosDBGremlinGraphDelete": {
            "$ref": "./examples/CosmosDBGremlinGraphDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinGraph"
                }
              }
            },
            "description": "The Gremlin graph property was retrieved successfully."
          }
        },
        "description": "Gets the Gremlin graph under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_GetGremlinGraph",
        "x-ms-examples": {
          "CosmosDBGremlinGraphGet": {
            "$ref": "./examples/CosmosDBGremlinGraphGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinGraph"
                }
              }
            },
            "description": "The Gremlin graph create or update operation was completed successfully."
          },
          "202": {
            "description": "The Gremlin graph create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Gremlin graph",
        "operationId": "DatabaseAccounts_CreateUpdateGremlinGraph",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GremlinGraphCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Gremlin graph.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinGraphCreateUpdate": {
            "$ref": "./examples/CosmosDBGremlinGraphCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs/{graphName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Gremlin graph was retrieved successfully."
          }
        },
        "description": "Gets the Gremlin graph throughput under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetGremlinGraphThroughput",
        "x-ms-examples": {
          "CosmosDBGremlinGraphThroughputGet": {
            "$ref": "./examples/CosmosDBGremlinGraphThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Gremlin graph update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Gremlin graph update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Gremlin graph",
        "operationId": "DatabaseAccounts_UpdateGremlinGraphThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Gremlin graph.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinGraphThroughputUpdate": {
            "$ref": "./examples/CosmosDBGremlinGraphThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Gremlin database was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Gremlin database under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetGremlinDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBGremlinDatabaseThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Gremlin database update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Gremlin database update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Gremlin database",
        "operationId": "DatabaseAccounts_UpdateGremlinDatabaseThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Gremlin database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBGremlinDatabaseThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBDatabaseListResult"
                }
              }
            },
            "description": "The MongoDB database properties were retrieved successfully."
          }
        },
        "description": "Lists the MongoDB databases under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListMongoDBDatabases",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseList": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The MongoDB database delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB MongoDB database.",
        "operationId": "DatabaseAccounts_DeleteMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseDelete": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBDatabase"
                }
              }
            },
            "description": "The MongoDB database property was retrieved successfully."
          }
        },
        "description": "Gets the MongoDB databases under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseGet": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBDatabase"
                }
              }
            },
            "description": "The MongoDB database create or update operation was completed successfully."
          },
          "202": {
            "description": "The MongoDB database create or update operation will complete asynchronously."
          }
        },
        "description": "Create or updates Azure Cosmos DB MongoDB database",
        "operationId": "DatabaseAccounts_CreateUpdateMongoDBDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MongoDBDatabaseCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current MongoDB database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBCollectionListResult"
                }
              }
            },
            "description": "The MongoDB collection properties were retrieved successfully."
          }
        },
        "description": "Lists the MongoDB collection under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListMongoDBCollections",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionList": {
            "$ref": "./examples/CosmosDBMongoDBCollectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections/{collectionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB collection delete operation will complete asynchronously."
          },
          "204": {
            "description": "The MongoDB collection delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB MongoDB Collection.",
        "operationId": "DatabaseAccounts_DeleteMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionDelete": {
            "$ref": "./examples/CosmosDBMongoDBCollectionDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBCollection"
                }
              }
            },
            "description": "The MongoDB collection property was retrieved successfully."
          }
        },
        "description": "Gets the MongoDB collection under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_GetMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionGet": {
            "$ref": "./examples/CosmosDBMongoDBCollectionGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBCollection"
                }
              }
            },
            "description": "The MongoDB Collection create or update operation was completed successfully."
          },
          "202": {
            "description": "The MongoDB Collection create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB MongoDB Collection",
        "operationId": "DatabaseAccounts_CreateUpdateMongoDBCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MongoDBCollectionCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current MongoDB Collection.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionCreateUpdate": {
            "$ref": "./examples/CosmosDBMongoDBCollectionCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections/{collectionName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the MongoDB collection was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the MongoDB collection under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetMongoDBCollectionThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionThroughputGet": {
            "$ref": "./examples/CosmosDBMongoDBCollectionThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the MongoDB collection update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the MongoDB collection update operation will complete asynchronously."
          }
        },
        "description": "Update the RUs per second of an Azure Cosmos DB MongoDB collection",
        "operationId": "DatabaseAccounts_UpdateMongoDBCollectionThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current MongoDB collection.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionThroughputUpdate": {
            "$ref": "./examples/CosmosDBMongoDBCollectionThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the MongoDB database was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the MongoDB database under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetMongoDBDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the MongoDB database update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the MongoDB database update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of the an Azure Cosmos DB MongoDB database",
        "operationId": "DatabaseAccounts_UpdateMongoDBDatabaseThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current MongoDB database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlDatabaseListResult"
                }
              }
            },
            "description": "The SQL database properties were retrieved successfully."
          }
        },
        "description": "Lists the SQL databases under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListSqlDatabases",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseList": {
            "$ref": "./examples/CosmosDBSqlDatabaseList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL database delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL database.",
        "operationId": "DatabaseAccounts_DeleteSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseDelete": {
            "$ref": "./examples/CosmosDBSqlDatabaseDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlDatabase"
                }
              }
            },
            "description": "The SQL database property was retrieved successfully."
          }
        },
        "description": "Gets the SQL database under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseGet": {
            "$ref": "./examples/CosmosDBSqlDatabaseGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlDatabase"
                }
              }
            },
            "description": "The SQL database create or update operation was completed successfully."
          },
          "202": {
            "description": "The SQL database create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL database",
        "operationId": "DatabaseAccounts_CreateUpdateSqlDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SqlDatabaseCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current SQL database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBSqlDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlDatabaseCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlContainerListResult"
                }
              }
            },
            "description": "The SQL container properties were retrieved successfully."
          }
        },
        "description": "Lists the SQL container under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListSqlContainers",
        "x-ms-examples": {
          "CosmosDBSqlContainerList": {
            "$ref": "./examples/CosmosDBSqlContainerList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers/{containerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/containerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL container delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL container.",
        "operationId": "DatabaseAccounts_DeleteSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerDelete": {
            "$ref": "./examples/CosmosDBSqlContainerDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/containerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlContainer"
                }
              }
            },
            "description": "The SQL container property was retrieved successfully."
          }
        },
        "description": "Gets the SQL container under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_GetSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerGet": {
            "$ref": "./examples/CosmosDBSqlContainerGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/containerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlContainer"
                }
              }
            },
            "description": "The SQL container create or update operation was completed successfully."
          },
          "202": {
            "description": "The SQL container create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL container",
        "operationId": "DatabaseAccounts_CreateUpdateSqlContainer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SqlContainerCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current SQL container.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBSqlContainerCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlContainerCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers/{containerName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/containerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the SQL container was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the SQL container under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_GetSqlContainerThroughput",
        "x-ms-examples": {
          "CosmosDBSqlContainerThroughputGet": {
            "$ref": "./examples/CosmosDBSqlContainerThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/containerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the SQL container update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the SQL container update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB SQL container",
        "operationId": "DatabaseAccounts_UpdateSqlContainerThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the RUs per second of the current SQL container.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBSqlContainerThroughputUpdate": {
            "$ref": "./examples/CosmosDBSqlContainerThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the SQL database was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the SQL database under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetSqlDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBSqlDatabaseThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the SQL database update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the SQL database update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB SQL database",
        "operationId": "DatabaseAccounts_UpdateSqlDatabaseThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the RUs per second of the current SQL database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBSqlDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBSqlDatabaseThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/table/tables": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableListResult"
                }
              }
            },
            "description": "The Table properties were retrieved successfully."
          }
        },
        "description": "Lists the Tables under an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListTables",
        "x-ms-examples": {
          "CosmosDBTableList": {
            "$ref": "./examples/CosmosDBTableList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/table/tables/{tableName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Table delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Table delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Table.",
        "operationId": "DatabaseAccounts_DeleteTable",
        "x-ms-examples": {
          "CosmosDBTableDelete": {
            "$ref": "./examples/CosmosDBTableDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            },
            "description": "The Table property was retrieved successfully."
          }
        },
        "description": "Gets the Tables under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetTable",
        "x-ms-examples": {
          "CosmosDBTableGet": {
            "$ref": "./examples/CosmosDBTableGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            },
            "description": "The Table create or update operation was completed successfully."
          },
          "202": {
            "description": "The Table create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Table",
        "operationId": "DatabaseAccounts_CreateUpdateTable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Table.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBTableReplace": {
            "$ref": "./examples/CosmosDBTableCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/table/tables/{tableName}/settings/throughput": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Table was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Table under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "DatabaseAccounts_GetTableThroughput",
        "x-ms-examples": {
          "CosmosDBTableThroughputGet": {
            "$ref": "./examples/CosmosDBTableThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Throughput"
                }
              }
            },
            "description": "The RUs per second of the Table update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Table update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Table",
        "operationId": "DatabaseAccounts_UpdateTableThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the RUs per second of the current Table.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBTableThroughputUpdate": {
            "$ref": "./examples/CosmosDBTableThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionsListResult"
                }
              }
            },
            "description": "The metric definitions for the collection were retrieved successfully."
          }
        },
        "description": "Retrieves metric definitions for the given collection.",
        "operationId": "Collection_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBCollectionGetMetricDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricListResult"
                }
              }
            },
            "description": "The metrics for the database account were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and collection.",
        "operationId": "Collection_ListMetrics",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/partitionKeyRangeIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartitionMetricListResult"
                }
              }
            },
            "description": "The partition-level metrics for the partition key range id were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given partition key range id.",
        "operationId": "PartitionKeyRangeId_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPKeyRangeIdGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartitionMetricListResult"
                }
              }
            },
            "description": "The partition-level metrics for the collection were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given collection, split by partition.",
        "operationId": "CollectionPartition_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
[...]
