openapi: 3.0.0
info:
  title: GuestConfiguration
  version: 2018-06-30-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.GuestConfiguration/operations:
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/OperationList
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available GuestConfiguration REST API operations.
      operationId: Operations_List
      x-ms-examples:
        Lists all of the available GuestConfiguration REST API operations:
          $ref: ./examples/listOperations.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignments
      description: List all guest configuration assignments for a virtual machine.
      operationId: GuestConfigurationAssignments_List
      x-ms-examples:
        List all guest configuration assignments for a virtual machine:
          $ref: ./examples/listGuestConfigurationAssignments.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: Name of the guest configuration assignment
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignments
      description: Delete a guest configuration assignment
      operationId: GuestConfigurationAssignments_Delete
      x-ms-examples:
        Delete an guest configuration assignment:
          $ref: ./examples/deleteGuestConfigurationAssignment.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: The guest configuration assignment name.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignment'
          description: OK. The guest configuration assignment was returned successfully.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignments
      description: Get information about a guest configuration assignment
      operationId: GuestConfigurationAssignments_Get
      x-ms-examples:
        Get a guest configuration assignment:
          $ref: ./examples/getGuestConfigurationAssignment.json
    put:
      parameters:
        - description: Name of the guest configuration assignment.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignment'
          description: >-
            OK. The guest configuration assignment for the VM was updated
            successfully.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignment'
          description: >-
            Created. The guest configuration assignment for the VM was created
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignments
      description: Creates an association between a VM and guest configuration
      operationId: GuestConfigurationAssignments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestConfigurationAssignment'
        description: >-
          Parameters supplied to the create or update guest configuration
          assignment.
        required: true
      x-ms-examples:
        Create or update guest configuration assignment:
          $ref: ./examples/createOrUpdateGuestConfigurationAssignment.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: The guest configuration assignment name.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReportList'
          description: >-
            OK. This response is due one of these two reasons: 1. Reports were
            returned successfully 2. Guest configuration assignment was found,
            but VM is not registered yet, hence no reports returned.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignmentReports
      description: >-
        List all reports for the guest configuration assignment, latest report
        first.
      operationId: GuestConfigurationAssignmentReports_List
      x-ms-examples:
        List all guest configuration assignments for a virtual machine:
          $ref: ./examples/listAllGuestConfigurationAssignmentReports.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: The guest configuration assignment name.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - description: The GUID for the guest configuration assignment report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
          description: >-
            OK. This response is due one of these two reasons: 1. Report was
            returned successfully 2. Guest configuration assignment was found,
            but VM is not registered yet, hence no report was returned.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignmentReports
      description: 'Get a report for the guest configuration assignment, by reportId.'
      operationId: GuestConfigurationAssignmentReports_Get
      x-ms-examples:
        Get a guest configuration assignment report by Id for a virtual machine:
          $ref: ./examples/getGuestConfigurationAssignmentReportById.json
components:
  schemas:
    AssignmentInfo:
      description: Information about the guest configuration assignment.
      properties:
        configuration:
          $ref: '#/components/schemas/ConfigurationInfo'
          description: Information about the configuration.
        name:
          description: Name of the guest configuration assignment.
          readOnly: true
          type: string
      type: object
    AssignmentReportDetails:
      description: Details of the guest configuration assignment report.
      properties:
        complianceStatus:
          description: >-
            A value indicating compliance status of the virtual machine for the
            assigned guest configuration.
          enum:
            - Compliant
            - NonCompliant
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: complianceStatus
        endTime:
          description: >-
            End date and time of the guest configuration assignment compliance
            status check.
          format: date-time
          readOnly: true
          type: string
        jobId:
          description: GUID of the report.
          readOnly: true
          type: string
        operationType:
          description: 'Type of report, Consistency or Initial'
          enum:
            - Consistency
            - Initial
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: type
        resources:
          description: >-
            The list of resources for which guest configuration assignment
            compliance is checked.
          items:
            $ref: '#/components/schemas/AssignmentReportResource'
          type: array
        startTime:
          description: >-
            Start date and time of the guest configuration assignment compliance
            status check.
          format: date-time
          readOnly: true
          type: string
      type: object
    AssignmentReportResource:
      description: The guest configuration assignment resource.
      properties:
        complianceStatus:
          description: >-
            A value indicating compliance status of the virtual machine for the
            assigned guest configuration.
          enum:
            - Compliant
            - NonCompliant
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: complianceStatus
        properties:
          description: Properties of a guest configuration assignment resource.
          readOnly: true
          type: object
        reasons:
          description: Compliance reason and reason code for a resource.
          items:
            $ref: '#/components/schemas/AssignmentReportResourceComplianceReason'
          type: array
      type: object
    AssignmentReportResourceComplianceReason:
      description: >-
        Reason and code for the compliance of the guest configuration assignment
        resource.
      properties:
        code:
          description: >-
            Code for the compliance of the guest configuration assignment
            resource.
          readOnly: true
          type: string
        phrase:
          description: >-
            Reason for the compliance of the guest configuration assignment
            resource.
          readOnly: true
          type: string
      type: object
    ConfigurationInfo:
      description: Information about the configuration.
      properties:
        name:
          description: Name of the configuration.
          readOnly: true
          type: string
      type: object
    ConfigurationParameter:
      description: Represents a configuration parameter.
      properties:
        name:
          description: Name of the configuration parameter.
          readOnly: true
          type: string
        value:
          description: Value of the configuration parameter.
          readOnly: true
          type: string
      type: object
    ConfigurationSetting:
      description: Configuration setting of LCM (Local Configuration Manager).
      properties:
        actionAfterReboot:
          description: >-
            Specifies what happens after a reboot during the application of a
            configuration. The possible values are ContinueConfiguration and
            StopConfiguration
          enum:
            - ContinueConfiguration
            - StopConfiguration
          readOnly: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: actionAfterReboot
        allowModuleOverwrite:
          description: >-
            If true - new configurations downloaded from the pull service are
            allowed to overwrite the old ones on the target node. Otherwise,
            false
          type: boolean
        configurationMode:
          description: >-
            Specifies how the LCM(Local Configuration Manager) actually applies
            the configuration to the target nodes. Possible values are
            ApplyOnly, ApplyAndMonitor, and ApplyAndAutoCorrect.
          enum:
            - ApplyOnly
            - ApplyAndMonitor
            - ApplyAndAutoCorrect
          readOnly: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: configurationMode
        configurationModeFrequencyMins:
          default: 15
          description: >-
            How often, in minutes, the current configuration is checked and
            applied. This property is ignored if the ConfigurationMode property
            is set to ApplyOnly. The default value is 15.
          readOnly: false
          type: number
        rebootIfNeeded:
          description: >-
            Set this to true to automatically reboot the node after a
            configuration that requires reboot is applied. Otherwise, you will
            have to manually reboot the node for any configuration that requires
            it. The default value is false. To use this setting when a reboot
            condition is enacted by something other than DSC (such as Windows
            Installer), combine this setting with the xPendingReboot module.
          readOnly: false
          type: boolean
        refreshFrequencyMins:
          default: 30
          description: >-
            The time interval, in minutes, at which the LCM checks a pull
            service to get updated configurations. This value is ignored if the
            LCM is not configured in pull mode. The default value is 30.
          readOnly: false
          type: number
      type: object
    GuestConfigurationAssignment:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: >-
        Guest configuration assignment is an association between a VM and guest
        configuration.
      properties:
        properties:
          $ref: '#/components/schemas/GuestConfigurationAssignmentProperties'
          description: Properties of the Guest configuration assignment.
          x-ms-client-flatten: false
      type: object
    GuestConfigurationAssignmentList:
      description: The response of the list guest configuration assignment operation.
      properties:
        value:
          description: Result of the list guest configuration assignment operation.
          items:
            $ref: '#/components/schemas/GuestConfigurationAssignment'
          type: array
      type: object
    GuestConfigurationAssignmentProperties:
      description: Guest configuration assignment properties.
      properties:
        assignmentHash:
          description: Combined hash of the configuration package and parameters.
          nullable: true
          readOnly: true
          type: string
        complianceStatus:
          description: >-
            A value indicating compliance status of the virtual machine for the
            assigned guest configuration.
          enum:
            - Compliant
            - NonCompliant
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: complianceStatus
        context:
          description: >-
            The source which initiated the guest configuration assignment. Ex:
            Azure Policy
          type: string
        guestConfiguration:
          $ref: '#/components/schemas/GuestConfigurationNavigation'
          description: The guest configuration to assign.
        lastComplianceStatusChecked:
          description: Date and time when last compliance status was checked.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        latestReportId:
          description: 'Id of the latest report for the guest configuration assignment. '
          nullable: true
          readOnly: true
          type: string
        provisioningState:
          description: 'The provisioning state, which only appears in the response.'
          enum:
            - Succeeded
            - Failed
            - Canceled
            - Created
          nullable: true
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
      type: object
    GuestConfigurationAssignmentReport:
      description: >-
        Report for the guest configuration assignment. Report contains
        information such as compliance status, reason, and more.
      properties:
        id:
          description: >-
            ARM resource id of the report for the guest configuration
            assignment.
          readOnly: true
          type: string
        name:
          description: >-
            GUID that identifies the guest configuration assignment report under
            a subscription, resource group.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/GuestConfigurationAssignmentReportProperties'
          description: Properties of the guest configuration report.
      type: object
    GuestConfigurationAssignmentReportList:
      description: List of guest configuration assignment reports.
      properties:
        value:
          description: >-
            List of reports for the guest configuration. Report contains
            information such as compliance status, reason and more.
          items:
            $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
          type: array
      type: object
    GuestConfigurationAssignmentReportProperties:
      description: >-
        Report for the guest configuration assignment. Report contains
        information such as compliance status, reason, and more.
      properties:
        assignment:
          $ref: '#/components/schemas/AssignmentInfo'
          description: Configuration details of the guest configuration assignment.
        complianceStatus:
          description: >-
            A value indicating compliance status of the virtual machine for the
            assigned guest configuration.
          enum:
            - Compliant
            - NonCompliant
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: complianceStatus
        details:
          $ref: '#/components/schemas/AssignmentReportDetails'
          description: Details of the assignment report.
        endTime:
          description: >-
            End date and time of the guest configuration assignment compliance
            status check.
          format: date-time
          readOnly: true
          type: string
        reportId:
          description: >-
            GUID that identifies the guest configuration assignment report under
            a subscription, resource group.
          readOnly: true
          type: string
        startTime:
          description: >-
            Start date and time of the guest configuration assignment compliance
            status check.
          format: date-time
          readOnly: true
          type: string
        vm:
          $ref: '#/components/schemas/VMInfo'
          description: Information about the VM.
      type: object
    GuestConfigurationNavigation:
      description: >-
        Guest configuration is an artifact that encapsulates DSC configuration
        and its dependencies. The artifact is a zip file containing DSC
        configuration (as MOF) and dependent resources and other dependencies
        like modules.
      properties:
        configurationParameter:
          description: The configuration parameters for the guest configuration.
          items:
            $ref: '#/components/schemas/ConfigurationParameter'
          type: array
        configurationSetting:
          $ref: '#/components/schemas/ConfigurationSetting'
          description: The configuration setting for the guest configuration.
        contentHash:
          description: >-
            Combined hash of the guest configuration package and configuration
            parameters.
          readOnly: true
          type: string
        contentUri:
          description: Uri of the storage where guest configuration package is uploaded.
          readOnly: true
          type: string
        kind:
          description: 'Kind of the guest configuration. For example:DSC'
          enum:
            - DSC
          type: string
          x-ms-enum:
            modelAsString: true
            name: kind
        name:
          description: Name of the guest configuration.
          type: string
        version:
          description: Version of the guest configuration.
          type: string
      type: object
    VMInfo:
      description: Information about the VM.
      properties:
        id:
          description: Azure resource Id of the VM.
          readOnly: true
          type: string
        uuid:
          description: UUID(Universally Unique Identifier) of the VM.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

