{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "description": "APIs for managing software update configurations.",
    "title": "Update Management API",
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfiguration.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfigurationListResult"
                }
              }
            },
            "description": "Return list of software update configurations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "Get all software update configurations for the account.",
        "operationId": "SoftwareUpdateConfigurations_List",
        "x-ms-examples": {
          "List software update configurations": {
            "$ref": "./examples/softwareUpdateConfiguration/listSoftwareUpdateConfigurations.json"
          },
          "List software update configurations Targeting a specific azure virtual machine": {
            "$ref": "./examples/softwareUpdateConfiguration/listSoftwareUpdateConfigurationsByVm.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of the software update configuration to be created.",
            "in": "path",
            "name": "softwareUpdateConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "The software update configuration has been deleted."
          },
          "204": {
            "description": "The software update configuration does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "delete a specific software update configuration.",
        "operationId": "SoftwareUpdateConfigurations_Delete",
        "x-ms-examples": {
          "Delete software update configuration": {
            "$ref": "./examples/softwareUpdateConfiguration/deleteSoftwareUpdateConfiguration.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of the software update configuration to be created.",
            "in": "path",
            "name": "softwareUpdateConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfiguration"
                }
              }
            },
            "description": "A single software update configuration."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "Get a single software update configuration by name.",
        "operationId": "SoftwareUpdateConfigurations_GetByName",
        "x-ms-examples": {
          "Get software update configuration by name": {
            "$ref": "./examples/softwareUpdateConfiguration/getSoftwareUpdateConfigurationByName.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of the software update configuration to be created.",
            "in": "path",
            "name": "softwareUpdateConfigurationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfiguration"
                }
              }
            },
            "description": "Software update configuration with the same name and properties already exists."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfiguration"
                }
              }
            },
            "description": "Software update configuration is created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "Create a new software update configuration with the name given in the URI.",
        "operationId": "SoftwareUpdateConfigurations_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/softwareUpdateConfiguration"
              }
            }
          },
          "description": "Request body.",
          "required": true
        },
        "x-ms-examples": {
          "Create software update configuration": {
            "$ref": "./examples/softwareUpdateConfiguration/createSoftwareUpdateConfiguration.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdvancedSchedule": {
        "description": "The properties of the create Advanced Schedule.",
        "properties": {
          "monthDays": {
            "description": "Days of the month that the job should execute on. Must be between 1 and 31.",
            "items": {
              "format": "int32",
              "nullable": false,
              "type": "integer"
            },
            "type": "array"
          },
          "monthlyOccurrences": {
            "description": "Occurrences of days within a month.",
            "items": {
              "$ref": "#/components/schemas/AdvancedScheduleMonthlyOccurrence"
            },
            "type": "array"
          },
          "weekDays": {
            "description": "Days of the week that the job should execute on.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AdvancedScheduleMonthlyOccurrence": {
        "description": "The properties of the create advanced schedule monthly occurrence.",
        "properties": {
          "day": {
            "description": "Day of the occurrence. Must be one of monday, tuesday, wednesday, thursday, friday, saturday, sunday.",
            "enum": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ScheduleDay"
            }
          },
          "occurrence": {
            "description": "Occurrence of the week within the month. Must be between 1 and 5",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AzureQueryProperties": {
        "description": "Azure query for the update configuration.",
        "properties": {
          "locations": {
            "description": "List of locations to scope the query to.",
            "items": {
              "description": "Location to scope the query to.",
              "type": "string"
            },
            "type": "array"
          },
          "scope": {
            "description": "List of Subscription or Resource Group ARM Ids.",
            "items": {
              "description": "Subscription or Resource Group ARM Id.",
              "type": "string"
            },
            "type": "array"
          },
          "tagSettings": {
            "$ref": "#/components/schemas/TagSettingsProperties",
            "description": "Tag settings for the VM.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "LinuxProperties": {
        "description": "Linux specific update configuration.",
        "properties": {
          "excludedPackageNameMasks": {
            "description": "packages excluded from the software update configuration.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "includedPackageClassifications": {
            "description": "Update classifications included in the software update configuration.",
            "enum": [
              "Unclassified",
              "Critical",
              "Security",
              "Other"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "LinuxUpdateClasses"
            }
          },
          "includedPackageNameMasks": {
            "description": "packages included from the software update configuration.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "rebootSetting": {
            "description": "Reboot setting for the software update configuration.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NonAzureQueryProperties": {
        "description": "Non Azure query for the update configuration.",
        "properties": {
          "functionAlias": {
            "description": "Log Analytics Saved Search name.",
            "type": "string"
          },
          "workspaceId": {
            "description": "Workspace Id for Log Analytics in which the saved Search is resided.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ScheduleProperties": {
        "description": "Definition of schedule parameters.",
        "properties": {
          "advancedSchedule": {
            "$ref": "#/components/schemas/AdvancedSchedule",
            "description": "Gets or sets the advanced schedule."
          },
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "expiryTime": {
            "description": "Gets or sets the end time of the schedule.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "expiryTimeOffsetMinutes": {
            "description": "Gets or sets the expiry time's offset in minutes.",
            "format": "double",
            "nullable": false,
            "type": "number"
          },
          "frequency": {
            "$ref": "../../stable/2015-10-31/schedule.json#/definitions/scheduleFrequency",
            "description": "Gets or sets the frequency of the schedule.",
            "type": "string"
          },
          "interval": {
            "description": "Gets or sets the interval of the schedule.",
            "type": "integer"
          },
          "isEnabled": {
            "default": false,
            "description": "Gets or sets a value indicating whether this schedule is enabled.",
            "type": "boolean"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "nextRun": {
            "description": "Gets or sets the next run time of the schedule.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "nextRunOffsetMinutes": {
            "description": "Gets or sets the next run time's offset in minutes.",
            "format": "double",
            "nullable": false,
            "type": "number"
          },
          "startTime": {
            "description": "Gets or sets the start time of the schedule.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "startTimeOffsetMinutes": {
            "description": "Gets the start time's offset in minutes.",
            "format": "double",
            "nullable": false,
            "readOnly": true,
            "type": "number"
          },
          "timeZone": {
            "description": "Gets or sets the time zone of the schedule.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TagSettingsProperties": {
        "description": "Tag filter information for the VM.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "items": {
                "description": "List of tag values for a tag.",
                "type": "string"
              },
              "type": "array"
            },
            "description": "Dictionary of tags with its list of values.",
            "type": "object"
          },
          "filterOperator": {
            "description": "Filter VMs by Any or All specified tags.",
            "enum": [
              "All",
              "Any"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "TagOperators"
            }
          }
        },
        "type": "object"
      },
      "TargetProperties": {
        "description": "Group specific to the update configuration.",
        "properties": {
          "azureQueries": {
            "description": "List of Azure queries in the software update configuration.",
            "items": {
              "$ref": "#/components/schemas/AzureQueryProperties",
              "type": "object"
            },
            "type": "array"
          },
          "nonAzureQueries": {
            "description": "List of non Azure queries in the software update configuration.",
            "items": {
              "$ref": "#/components/schemas/NonAzureQueryProperties",
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WindowsProperties": {
        "description": "Windows specific update configuration.",
        "properties": {
          "excludedKbNumbers": {
            "description": "KB numbers excluded from the software update configuration.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "includedKbNumbers": {
            "description": "KB numbers included from the software update configuration.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "includedUpdateClassifications": {
            "description": "Update classification included in the software update configuration. A comma separated string with required values",
            "enum": [
              "Unclassified",
              "Critical",
              "Security",
              "UpdateRollup",
              "FeaturePack",
              "ServicePack",
              "Definition",
              "Tools",
              "Updates"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "WindowsUpdateClasses"
            }
          },
          "rebootSetting": {
            "description": "Reboot setting for the software update configuration.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "collectionItemUpdateConfiguration": {
        "description": "object returned when requesting a collection of software update configuration",
        "properties": {
          "azureVirtualMachines": {
            "description": "List of azure resource Ids for azure virtual machines targeted by the software update configuration.",
            "items": {
              "description": "Azure Resource Manager Id for a virtual machine.",
              "type": "string"
            },
            "type": "array"
          },
          "duration": {
            "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601",
            "format": "duration",
            "type": "string"
          }
        },
        "type": "object"
      },
      "operatingSystemType": {
        "description": "Target operating system for the software update configuration.",
        "enum": [
          "Windows",
          "Linux"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "OperatingSystemType"
        }
      },
      "softwareUpdateConfiguration": {
        "description": "Software update configuration properties.",
        "properties": {
          "id": {
            "description": "Resource Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/softwareUpdateConfigurationProperties",
            "description": "Software update configuration properties.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "softwareUpdateConfigurationCollectionItem": {
        "description": "Software update configuration collection item properties.",
        "properties": {
          "id": {
            "description": "Resource Id of the software update configuration",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the software update configuration.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/softwareUpdateConfigurationCollectionItemProperties",
            "description": "Software update configuration properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "softwareUpdateConfigurationCollectionItemProperties": {
        "description": "Software update configuration collection item properties.",
        "properties": {
          "creationTime": {
            "description": "Creation time of the software update configuration, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "frequency": {
            "$ref": "../../stable/2015-10-31/schedule.json#/definitions/scheduleFrequency",
            "description": "execution frequency of the schedule associated with the software update configuration",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Last time software update configuration was modified, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "nextRun": {
            "description": "ext run time of the update.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "Provisioning state for the software update configuration, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "the start time of the update.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "updateConfiguration": {
            "$ref": "#/components/schemas/collectionItemUpdateConfiguration",
            "description": "Update specific properties of the software update configuration."
          }
        },
        "type": "object"
      },
      "softwareUpdateConfigurationListResult": {
        "description": "result of listing all software update configuration",
        "properties": {
          "value": {
            "description": "outer object returned when listing all software update configurations",
            "items": {
              "$ref": "#/components/schemas/softwareUpdateConfigurationCollectionItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "softwareUpdateConfigurationProperties": {
        "description": "Software update configuration properties.",
        "properties": {
          "createdBy": {
            "description": "CreatedBy property, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "creationTime": {
            "description": "Creation time of the resource, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "error": {
            "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse",
            "description": "Details of provisioning error"
          },
          "lastModifiedBy": {
            "description": "LastModifiedBy property, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Last time resource was modified, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "Provisioning state for the software update configuration, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "scheduleInfo": {
            "$ref": "#/components/schemas/ScheduleProperties",
            "description": "Schedule information for the Software update configuration"
          },
          "tasks": {
            "$ref": "#/components/schemas/softwareUpdateConfigurationTasks",
            "description": "Tasks information for the Software update configuration."
          },
          "updateConfiguration": {
            "$ref": "#/components/schemas/updateConfiguration",
            "description": "update specific properties for the Software update configuration"
          }
        },
        "required": [
          "updateConfiguration",
          "scheduleInfo"
        ],
        "type": "object"
      },
      "softwareUpdateConfigurationTasks": {
        "description": "Task properties of the software update configuration.",
        "properties": {
          "postTask": {
            "$ref": "#/components/schemas/taskProperties",
            "description": "Post task properties."
          },
          "preTask": {
            "$ref": "#/components/schemas/taskProperties",
            "description": "Pre task properties."
          }
        },
        "type": "object"
      },
      "taskProperties": {
        "description": "Task properties of the software update configuration.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the task.",
            "type": "object"
          },
          "source": {
            "description": "Gets or sets the name of the runbook.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "updateConfiguration": {
        "description": "Update specific properties of the software update configuration.",
        "properties": {
          "azureVirtualMachines": {
            "description": "List of azure resource Ids for azure virtual machines targeted by the software update configuration.",
            "items": {
              "description": "Azure Resource Manager Id for a virtual machine.",
              "type": "string"
            },
            "type": "array"
          },
          "duration": {
            "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601",
            "format": "duration",
            "type": "string"
          },
          "linux": {
            "$ref": "#/components/schemas/LinuxProperties",
            "description": "Linux specific update configuration."
          },
          "nonAzureComputerNames": {
            "description": "List of names of non-azure machines targeted by the software update configuration.",
            "items": {
              "description": "Name of Non-Azure OMS Computer.",
              "type": "string"
            },
            "type": "array"
          },
          "operatingSystem": {
            "$ref": "#/components/schemas/operatingSystemType",
            "description": "operating system of target machines"
          },
          "targets": {
            "$ref": "#/components/schemas/TargetProperties",
            "description": "Group targets for the software update configuration."
          },
          "windows": {
            "$ref": "#/components/schemas/WindowsProperties",
            "description": "Windows specific update configuration."
          }
        },
        "required": [
          "operatingSystem"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}