{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/connection.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Connection"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "description": "Retrieve a list of connections.",
        "operationId": "Connection_ListByAutomationAccount",
        "x-ms-examples": {
          "List connections by automation account, first 100": {
            "$ref": "./examples/listConnectionsByAutomationAccount_First100.json"
          },
          "List connections by automation account, next 100": {
            "$ref": "./examples/listConnectionsByAutomationAccount_Next100.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections/{connectionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of connection.",
            "in": "path",
            "name": "connectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Connection"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "description": "Delete the connection.",
        "operationId": "Connection_Delete",
        "x-ms-examples": {
          "Delete an existing connection": {
            "$ref": "./examples/deleteConnection.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of connection.",
            "in": "path",
            "name": "connectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Connection"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "description": "Retrieve the connection identified by connection name.",
        "operationId": "Connection_Get",
        "x-ms-examples": {
          "Get a connection": {
            "$ref": "./examples/getConnection.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the update a connection operation.",
            "in": "path",
            "name": "connectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Connection"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "description": "Update a connection.",
        "operationId": "Connection_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the update a connection operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a connection": {
            "$ref": "./examples/updateConnection.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the create or update connection operation.",
            "in": "path",
            "name": "connectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Connection"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "description": "Create or update a connection.",
        "operationId": "Connection_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionCreateOrUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create or update connection operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update connection": {
            "$ref": "./examples/createOrUpdateConnection.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Connection": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ],
        "description": "Definition of the connection.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ConnectionProperties",
            "description": "Gets or sets the properties of the connection.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ConnectionCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update connection operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the connection.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ConnectionCreateOrUpdateProperties",
            "description": "Gets or sets the properties of the connection.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "ConnectionCreateOrUpdateProperties": {
        "description": "The properties of the create connection properties",
        "properties": {
          "connectionType": {
            "$ref": "#/components/schemas/ConnectionTypeAssociationProperty",
            "description": "Gets or sets the connectionType of the connection."
          },
          "description": {
            "description": "Gets or sets the description of the connection.",
            "type": "string"
          },
          "fieldDefinitionValues": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the field definition properties of the connection.",
            "type": "object"
          }
        },
        "required": [
          "connectionType"
        ],
        "type": "object"
      },
      "ConnectionListResult": {
        "description": "The response model for the list connection operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of connection.",
            "items": {
              "$ref": "#/components/schemas/Connection"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ConnectionProperties": {
        "description": "Definition of the connection properties.",
        "properties": {
          "connectionType": {
            "$ref": "#/components/schemas/ConnectionTypeAssociationProperty",
            "description": "Gets or sets the connectionType of the connection."
          },
          "creationTime": {
            "description": "Gets the creation time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "fieldDefinitionValues": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets the field definition values of the connection.",
            "readOnly": true,
            "type": "object"
          },
          "lastModifiedTime": {
            "description": "Gets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConnectionTypeAssociationProperty": {
        "description": "The connection type property associated with the entity.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the connection type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConnectionUpdateParameters": {
        "description": "The parameters supplied to the update connection operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the connection.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ConnectionUpdateProperties",
            "description": "Gets or sets the properties of the connection.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ConnectionUpdateProperties": {
        "description": "The properties of the update connection operation.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the connection.",
            "type": "string"
          },
          "fieldDefinitionValues": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the field definition values of the connection.",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}