openapi: 3.0.0
info:
  title: Domains API Client
  version: '2019-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailabilityCheckResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Check if a domain is available for registration.
      operationId: Domains_CheckAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/NameIdentifier
        description: Name of the domain.
        required: true
      summary: Check if a domain is available for registration.
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Get all domains in a subscription.
      operationId: Domains_List
      summary: Get all domains in a subscription.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Generate a single sign-on request for the domain management portal.
      operationId: Domains_GetControlCenterSsoRequest
      summary: Generate a single sign-on request for the domain management portal.
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Get domain name recommendations based on keywords.
      operationId: Domains_ListRecommendations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
        description: Search parameters for domain name recommendations.
        required: true
      summary: Get domain name recommendations based on keywords.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Get all domains in a resource group.
      operationId: Domains_ListByResourceGroup
      summary: Get all domains in a resource group.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: >-
            Specify <code>true</code> to delete the domain immediately. The
            default is <code>false</code> which deletes the domain after 24
            hours.
          in: query
          name: forceHardDeleteDomain
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted domain.
        '204':
          description: >-
            Domain does not exist in Azure database probably because it has
            already been deleted
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Delete a domain.
      operationId: Domains_Delete
      summary: Delete a domain.
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Get a domain.
      operationId: Domains_Get
      summary: Get a domain.
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            pattern: '[a-zA-Z0-9][a-zA-Z0-9\.-]+'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful.
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Creates or updates a domain.
      operationId: Domains_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPatchResource'
        description: Domain registration information.
        required: true
      summary: Creates or updates a domain.
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            pattern: '[a-zA-Z0-9][a-zA-Z0-9\.-]+'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful.
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Creates or updates a domain.
      operationId: Domains_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain registration information.
        required: true
      summary: Creates or updates a domain.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifierCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Lists domain ownership identifiers.
      operationId: Domains_ListOwnershipIdentifiers
      summary: Lists domain ownership identifiers.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted domain ownership identifier.
        '204':
          description: Domain ownership identifier does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Delete ownership identifier for domain
      operationId: Domains_DeleteOwnershipIdentifier
      summary: Delete ownership identifier for domain
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Get ownership identifier for domain
      operationId: Domains_GetOwnershipIdentifier
      summary: Get ownership identifier for domain
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: >-
        Creates an ownership identifier for a domain or updates identifier
        details for an existing identifier
      operationId: Domains_UpdateOwnershipIdentifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainOwnershipIdentifier'
        description: A JSON representation of the domain ownership properties.
        required: true
      summary: >-
        Creates an ownership identifier for a domain or updates identifier
        details for an existing identifier
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: >-
        Creates an ownership identifier for a domain or updates identifier
        details for an existing identifier
      operationId: Domains_CreateOrUpdateOwnershipIdentifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainOwnershipIdentifier'
        description: A JSON representation of the domain ownership properties.
        required: true
      summary: >-
        Creates an ownership identifier for a domain or updates identifier
        details for an existing identifier
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/renew':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain renewal was successful.
        '202':
          description: Domain renewal in progress.
        '204':
          description: Domain does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - Domains
      description: Renew a domain.
      operationId: Domains_Renew
      summary: Renew a domain.
      x-ms-examples:
        Renew an existing domain:
          $ref: ./examples/RenewDomain.json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+[^\.]$'
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    DomainOwnershipIdentifier:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
      description: A JSON representation of the domain ownership properties.
      required: true
  schemas:
    Address:
      description: Address information for domain registration.
      properties:
        address1:
          description: First line of an Address.
          type: string
        address2:
          description: The second line of the Address. Optional.
          type: string
        city:
          description: The city for the address.
          type: string
        country:
          description: The country for the address.
          type: string
        postalCode:
          description: The postal code for the address.
          type: string
        state:
          description: The state or province for the address.
          type: string
      required:
        - address1
        - city
        - country
        - postalCode
        - state
      type: object
    Contact:
      description: >-
        Contact information for domain registration. If 'Domain Privacy' option
        is not selected then the contact information is made publicly available
        through the Whois 

        directories as per ICANN requirements.
      properties:
        addressMailing:
          $ref: '#/components/schemas/Address'
          description: Mailing address.
        email:
          description: Email address.
          type: string
        fax:
          description: Fax number.
          type: string
        jobTitle:
          description: Job title.
          type: string
        nameFirst:
          description: First name.
          type: string
        nameLast:
          description: Last name.
          type: string
        nameMiddle:
          description: Middle name.
          type: string
        organization:
          description: Organization contact belongs to.
          type: string
        phone:
          description: Phone number.
          type: string
      required:
        - email
        - nameFirst
        - nameLast
        - phone
      type: object
    Domain:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/Resource
      description: Information about a domain.
      properties:
        properties:
          description: Domain resource specific properties
          properties:
            authCode:
              type: string
              x-ms-mutability:
                - create
                - read
            autoRenew:
              default: true
              description: >-
                <code>true</code> if the domain should be automatically renewed;
                otherwise, <code>false</code>.
              type: boolean
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
              description: Legal agreement consent.
              x-ms-mutability:
                - create
            contactAdmin:
              $ref: '#/components/schemas/Contact'
              description: Administrative contact.
              x-ms-mutability:
                - create
            contactBilling:
              $ref: '#/components/schemas/Contact'
              description: Billing contact.
              x-ms-mutability:
                - create
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
              description: Registrant contact.
              x-ms-mutability:
                - create
            contactTech:
              $ref: '#/components/schemas/Contact'
              description: Technical contact.
              x-ms-mutability:
                - create
            createdTime:
              description: Domain creation timestamp.
              format: date-time
              readOnly: true
              type: string
            dnsType:
              description: Current DNS type
              enum:
                - AzureDns
                - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
            dnsZoneId:
              description: Azure DNS Zone to use
              type: string
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              items:
                enum:
                  - RegistrationStatusNotSupportedForRenewal
                  - ExpirationNotInRenewalTimeRange
                  - SubscriptionNotActive
                type: string
              readOnly: true
              type: array
            expirationTime:
              description: Domain expiration timestamp.
              format: date-time
              readOnly: true
              type: string
            lastRenewedTime:
              description: Timestamp when the domain was renewed last time.
              format: date-time
              readOnly: true
              type: string
            managedHostNames:
              description: >-
                All hostnames derived from the domain and assigned to Azure
                resources.
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              type: array
            nameServers:
              description: Name servers.
              items:
                type: string
              readOnly: true
              type: array
            privacy:
              description: >-
                <code>true</code> if domain privacy is enabled for this domain;
                otherwise, <code>false</code>.
              type: boolean
            provisioningState:
              description: Domain provisioning state.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            readyForDnsRecordManagement:
              description: >-
                <code>true</code> if Azure can assign this domain to App Service
                apps; otherwise, <code>false</code>. This value will be
                <code>true</code> if domain registration status is active and 
                 it is hosted on name servers Azure has programmatic access to.
              readOnly: true
              type: boolean
            registrationStatus:
              description: Domain registration status.
              enum:
                - Active
                - Awaiting
                - Cancelled
                - Confiscated
                - Disabled
                - Excluded
                - Expired
                - Failed
                - Held
                - Locked
                - Parked
                - Pending
                - Reserved
                - Reverted
                - Suspended
                - Transferred
                - Unknown
                - Unlocked
                - Unparked
                - Updated
                - JsonConverterFailed
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: DomainStatus
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
                - AzureDns
                - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
          required:
            - contactAdmin
            - contactBilling
            - contactRegistrant
            - contactTech
            - consent
          x-ms-client-flatten: true
      type: object
    DomainAvailabilityCheckResult:
      description: Domain availability check result.
      properties:
        available:
          description: >-
            <code>true</code> if domain can be purchased using CreateDomain API;
            otherwise, <code>false</code>.
          type: boolean
        domainType:
          description: >-
            Valid values are Regular domain: Azure will charge the full price of
            domain registration, SoftDeleted: Purchasing this domain will simply
            restore it and this operation will not cost anything.
          enum:
            - Regular
            - SoftDeleted
          type: string
          x-ms-enum:
            modelAsString: false
            name: DomainType
        name:
          description: Name of the domain.
          type: string
      type: object
    DomainCollection:
      description: Collection of domains.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Domain'
          type: array
      required:
        - value
      type: object
    DomainControlCenterSsoRequest:
      description: Single sign-on request information for domain management.
      properties:
        postParameterKey:
          description: Post parameter key.
          readOnly: true
          type: string
        postParameterValue:
          description: >-
            Post parameter value. Client should use
            'application/x-www-form-urlencoded' encoding for this value.
          readOnly: true
          type: string
        url:
          description: URL where the single sign-on request is to be made.
          readOnly: true
          type: string
      type: object
    DomainOwnershipIdentifier:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Domain ownership Identifier.
      properties:
        properties:
          description: DomainOwnershipIdentifier resource specific properties
          properties:
            ownershipId:
              description: Ownership Id.
              type: string
          x-ms-client-flatten: true
      type: object
    DomainOwnershipIdentifierCollection:
      description: Collection of domain ownership identifiers.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
          type: array
      required:
        - value
      type: object
    DomainPatchResource:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: ARM resource for a domain.
      properties:
        properties:
          description: DomainPatchResource resource specific properties
          properties:
            authCode:
              type: string
              x-ms-mutability:
                - create
                - read
            autoRenew:
              default: true
              description: >-
                <code>true</code> if the domain should be automatically renewed;
                otherwise, <code>false</code>.
              type: boolean
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
              description: Legal agreement consent.
              x-ms-mutability:
                - create
            contactAdmin:
              $ref: '#/components/schemas/Contact'
              description: Administrative contact.
              x-ms-mutability:
                - create
            contactBilling:
              $ref: '#/components/schemas/Contact'
              description: Billing contact.
              x-ms-mutability:
                - create
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
              description: Registrant contact.
              x-ms-mutability:
                - create
            contactTech:
              $ref: '#/components/schemas/Contact'
              description: Technical contact.
              x-ms-mutability:
                - create
            createdTime:
              description: Domain creation timestamp.
              format: date-time
              readOnly: true
              type: string
            dnsType:
              description: Current DNS type
              enum:
                - AzureDns
                - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
            dnsZoneId:
              description: Azure DNS Zone to use
              type: string
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              items:
                enum:
                  - RegistrationStatusNotSupportedForRenewal
                  - ExpirationNotInRenewalTimeRange
                  - SubscriptionNotActive
                type: string
              readOnly: true
              type: array
            expirationTime:
              description: Domain expiration timestamp.
              format: date-time
              readOnly: true
              type: string
            lastRenewedTime:
              description: Timestamp when the domain was renewed last time.
              format: date-time
              readOnly: true
              type: string
            managedHostNames:
              description: >-
                All hostnames derived from the domain and assigned to Azure
                resources.
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              type: array
            nameServers:
              description: Name servers.
              items:
                type: string
              readOnly: true
              type: array
            privacy:
              description: >-
                <code>true</code> if domain privacy is enabled for this domain;
                otherwise, <code>false</code>.
              type: boolean
            provisioningState:
              description: Domain provisioning state.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            readyForDnsRecordManagement:
              description: >-
                <code>true</code> if Azure can assign this domain to App Service
                apps; otherwise, <code>false</code>. This value will be
                <code>true</code> if domain registration status is active and 
                 it is hosted on name servers Azure has programmatic access to.
              readOnly: true
              type: boolean
            registrationStatus:
              description: Domain registration status.
              enum:
                - Active
                - Awaiting
                - Cancelled
                - Confiscated
                - Disabled
                - Excluded
                - Expired
                - Failed
                - Held
                - Locked
                - Parked
                - Pending
                - Reserved
                - Reverted
                - Suspended
                - Transferred
                - Unknown
                - Unlocked
                - Unparked
                - Updated
                - JsonConverterFailed
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: DomainStatus
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
                - AzureDns
                - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
          required:
            - contactAdmin
            - contactBilling
            - contactRegistrant
            - contactTech
            - consent
          x-ms-client-flatten: true
      type: object
    DomainPurchaseConsent:
      description: >-
        Domain purchase consent object, representing acceptance of applicable
        legal agreements.
      properties:
        agreedAt:
          description: Timestamp when the agreements were accepted.
          format: date-time
          type: string
        agreedBy:
          description: Client IP address.
          type: string
        agreementKeys:
          description: >-
            List of applicable legal agreement keys. This list can be retrieved
            using ListLegalAgreements API under <code>TopLevelDomain</code>
            resource.
          items:
            type: string
          type: array
      type: object
    DomainRecommendationSearchParameters:
      description: Domain recommendation search parameters.
      properties:
        keywords:
          description: Keywords to be used for generating domain recommendations.
          type: string
        maxDomainRecommendations:
          description: Maximum number of recommendations.
          format: int32
          type: integer
      type: object
    HostName:
      description: Details of a hostname derived from a domain.
      properties:
        azureResourceName:
          description: >-
            Name of the Azure resource the hostname is assigned to. If it is
            assigned to a Traffic Manager then it will be the Traffic Manager
            name otherwise it will be the app name.
          type: string
        azureResourceType:
          description: Type of the Azure resource the hostname is assigned to.
          enum:
            - Website
            - TrafficManager
          type: string
          x-ms-enum:
            modelAsString: false
            name: AzureResourceType
        customHostNameDnsRecordType:
          description: Type of the DNS record.
          enum:
            - CName
            - A
          type: string
          x-ms-enum:
            modelAsString: false
            name: CustomHostNameDnsRecordType
        hostNameType:
          description: Type of the hostname.
          enum:
            - Verified
            - Managed
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostNameType
        name:
          description: Name of the hostname.
          type: string
        siteNames:
          description: >-
            List of apps the hostname is assigned to. This list will have more
            than one app only if the hostname is pointing to a Traffic Manager.
          items:
            type: string
          type: array
      type: object
    NameIdentifierCollection:
      description: Collection of domain name identifiers.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: >-
              ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/NameIdentifier
          type: array
      required:
        - value
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

