openapi: 3.0.0
info:
  description: REST APIs for Azure Marketplace
  title: Marketplace RP Service
  version: '2020-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Marketplace/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - Operations
      description: Lists all of the available Microsoft.Marketplace REST API operations.
      operationId: Operations_List
  /providers/Microsoft.Marketplace/privateStores:
    parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/UseCacheParameter'
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStoreList'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Gets the list of available private stores
      operationId: PrivateStore_List
      x-ms-examples:
        GetPrivateStores:
          $ref: ./examples/GetPrivateStores.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Marketplace/privateStores/{privateStoreId}':
    parameters:
      - $ref: '#/components/parameters/PrivateStoreIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
    delete:
      responses:
        '200':
          description: Private store was deleted successfully .
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Deletes the private store. All that is not saved will be lost.
      operationId: PrivateStore_Delete
      x-ms-examples:
        DeletePrivateStores:
          $ref: ./examples/DeletePrivateStore.json
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStore'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Get information about the private store
      operationId: PrivateStore_Get
      x-ms-examples:
        GetPrivateStore:
          $ref: ./examples/GetPrivateStore.json
    put:
      responses:
        '200':
          description: Change successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Changes private store properties
      operationId: PrivateStore_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStore'
      x-ms-examples:
        PrivateStores_update:
          $ref: ./examples/PrivateStores_update.json
  '/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers':
    parameters:
      - $ref: '#/components/parameters/PrivateStoreIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Get a list of all private offers in the given private store
      operationId: PrivateStoreOffers_List
      x-ms-examples:
        GetPrivateStoreOffers:
          $ref: ./examples/GetPrivateStoreOffers.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}':
    parameters:
      - $ref: '#/components/parameters/PrivateStoreIdParameter'
      - $ref: '#/components/parameters/OfferIdPathParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
    delete:
      responses:
        '200':
          description: Offer was deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Deletes an offer from the given private store.
      operationId: PrivateStoreOffer_Delete
      x-ms-examples:
        DeletePrivateStoreOffer:
          $ref: ./examples/DeletePrivateStoreOffer.json
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: Offer information retrieved
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Gets information about a specific offer.
      operationId: PrivateStoreOffer_Get
      x-ms-examples:
        GetPrivateStoreOffer:
          $ref: ./examples/GetPrivateStoreOffer.json
    post:
      responses:
        '200':
          description: Operation succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Delete Private store offer. This is a workaround.
      operationId: PrivateStoreOffer_Post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStoreOperation'
      x-ms-examples:
        PostPrivateStoreOffer:
          $ref: ./examples/PostPrivateStoreOffer.json
    put:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Update or add an offer to the default collection of the private store.
      operationId: PrivateStoreOffer_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
      x-ms-examples:
        PrivateStoreOffer_update:
          $ref: ./examples/PrivateStoreOffer_update.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers':
    parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/PrivateStoreIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Get a list of all private offers in the given private store
      operationId: PrivateStorePrivateOffers_List
      x-ms-examples:
        GetPrivateStoreOffers:
          $ref: ./examples/GetPrivateStorePrivateOffers.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}':
    parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/PrivateStoreIdParameter'
      - $ref: '#/components/parameters/OfferIdPathParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: Private offer information retrieved
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: Gets information about a specific private offer.
      operationId: PrivateStorePrivateOffer_Get
      x-ms-examples:
        GetPrivateStoreOffer:
          $ref: ./examples/GetPrivateStorePrivateOffer.json
    put:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
        - PrivateStores
      description: >-
        Update or add a private offer to the default collection of the private
        store.
      operationId: PrivateStorePrivateOffer_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
      x-ms-examples:
        PrivateStorePrivateOffer_update:
          $ref: ./examples/PrivateStorePrivateOffer_update.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    OfferIdPathParameter:
      description: The offer ID to update or delete
      in: path
      name: offerId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PrivateStoreIdParameter:
      description: The store ID - must use the tenant ID
      in: path
      name: privateStoreId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription id of the private offers
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    UseCacheParameter:
      description: Determines if to use cache or DB for serving this request
      in: query
      name: use-cache
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    Offer:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Offer'
  schemas:
    ErrorResponse:
      description: >-
        Error response indicates Microsoft.Marketplace service is not able to
        process the incoming request. The reason is provided in the error
        message.
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Error code.
              readOnly: true
              type: string
            message:
              description: Error message indicating why the operation failed.
              readOnly: true
              type: string
          type: object
      type: object
    Offer:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The privateStore offer data structure.
      properties:
        properties:
          $ref: '#/components/schemas/OfferProperties'
          description: The privateStore offer data structure.
          x-ms-client-flatten: true
      type: object
    OfferListResponse:
      properties:
        nextLink:
          description: URL to get the next set of offer list results if there are any.
          type: string
        value:
          items:
            $ref: '#/components/schemas/Offer'
          type: array
      type: object
    OfferProperties:
      properties:
        createdAt:
          description: Private store offer creation date
          readOnly: true
          type: string
        eTag:
          description: Identifier for purposes of race condition
          type: string
        iconFileUris:
          additionalProperties:
            type: string
          description: Icon File Uris
          type: object
        modifiedAt:
          description: Private store offer modification date
          readOnly: true
          type: string
        offerDisplayName:
          description: It will be displayed prominently in the marketplace
          readOnly: true
          type: string
        plans:
          description: Offer plans
          items:
            $ref: '#/components/schemas/Plan'
          type: array
        privateStoreId:
          description: Private store unique id
          readOnly: true
          type: string
        publisherDisplayName:
          description: Publisher name that will be displayed prominently in the marketplace
          readOnly: true
          type: string
        specificPlanIdsLimitation:
          description: Plan ids limitation for this offer
          items:
            type: string
          type: array
        uniqueOfferId:
          description: Offers unique id
          readOnly: true
          type: string
        updateSuppressedDueIdempotence:
          description: >-
            Indicating whether the offer was not updated to db (true = not
            updated). If the allow list is identical to the existed one in db,
            the offer would not be updated.
          type: boolean
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Marketplace operations. It contains a list
        of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of Microsoft.Marketplace operations supported by the
            Microsoft.Marketplace resource provider.
          items:
            $ref: '#/components/schemas/SingleOperation'
          type: array
      type: object
    Plan:
      properties:
        accessibility:
          description: Plan accessibility
          enum:
            - Unknown
            - Public
            - PrivateTenantOnLevel
            - PrivateSubscriptionOnLevel
          type: string
          x-ms-enum:
            modelAsString: true
            name: accessibility
        altStackReference:
          description: Alternative stack type
          readOnly: true
          type: string
        planDisplayName:
          description: Friendly name for the plan for display in the marketplace
          readOnly: true
          type: string
        planId:
          description: Text identifier for this plan
          readOnly: true
          type: string
        skuId:
          description: Identifier for this plan
          readOnly: true
          type: string
        stackType:
          description: Stack type (classic or arm)
          readOnly: true
          type: string
      type: object
    PrivateStore:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The PrivateStore data structure.
      properties:
        properties:
          $ref: '#/components/schemas/PrivateStoreProperties'
          description: The PrivateStore data structure.
          x-ms-client-flatten: true
      type: object
    PrivateStoreList:
      description: >-
        Describes the json payload for the list of available private stores
        (between zero and one, inclusive)
      properties:
        nextLink:
          description: >-
            URL to get the next set of PrivateStore list results if there are
            any.
          type: string
        value:
          items:
            $ref: '#/components/schemas/PrivateStore'
          type: array
      type: object
    PrivateStoreOperation:
      description: Set the Operation for the POST method. Ping or Delete
      enum:
        - DeletePrivateStoreOffer
        - Ping
      type: string
      x-ms-enum:
        modelAsString: true
        name: Operation
    PrivateStoreProperties:
      description: >-
        Describes the json payload on whether or not the private store is
        enabled for a given tenant
      properties:
        availability:
          description: Indicates private store availability
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: Availability
        customerTag:
          description: Customer tag
          type: string
        eTag:
          description: Identifier for purposes of race condition
          type: string
        hasCommercialAssociation:
          description: >-
            Indicating whether private store has association with Commercial's
            Billing Account (through billing account's customer tag retrieved
            from GSM for a subscription
          type: boolean
        hasMultiTenantAssociation:
          description: >-
            Indicating whether private store has association with multiple
            tenants (through tenant's tag retrieved from AAD
          type: boolean
        isGov:
          description: Is government
          type: boolean
        privateStoreId:
          description: Private Store id
          type: string
        privateStoreName:
          description: Private Store Name
          type: string
        tenantIds:
          description: Tenant ids
          items:
            type: string
          type: array
        tenantTag:
          description: Tenant Tag
          type: string
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SingleOperation:
      description: Microsoft.Marketplace REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Get Amendments etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.Marketplace'
              type: string
            resource:
              description: 'Resource on which the operation is performed: Amendments'
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

