openapi: 3.0.0
info:
  description: >-
    Apis for customer in enterprise agreement migrate to new pricing model or
    rollback to legacy pricing model.
  title: ApplicationInsightsManagementClient
  version: '2017-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/listMigrationdate':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EASubscriptionMigrationDate'
          description: Success list migrate date information for this subscription.
      description: list date to migrate to new pricing model.
      operationId: EASubscriptionListMigrationDate_Post
      x-ms-examples:
        EASubscriptionListMigrationDate:
          $ref: ./examples/EASubscriptionListMigrationDate.json
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/migrateToNewPricingModel':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: Success migrate to new pricing model for this subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Enterprise Agreement Customer opted to use new pricing model.
      operationId: EASubscriptionMigrateToNewPricingModel_Post
      x-ms-examples:
        EASubscriptionMigrateToNewPricingModelPost:
          $ref: ./examples/EASubscriptionMigrateToNewPricingModelPost.json
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/rollbackToLegacyPricingModel':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: Success roll back to legacy pricing model for this subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Enterprise Agreement Customer roll back to use legacy pricing model.
      operationId: EASubscriptionRollbackToLegacyPricingModel_Post
      x-ms-examples:
        EASubscriptionRollbackToLegacyPricingModelPost:
          $ref: ./examples/EASubscriptionRollbackToLegacyPricingModelPost.json
components:
  schemas:
    CloudError:
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    EASubscriptionMigrationDate:
      description: Subscription migrate date information properties
      properties:
        isGrandFatherableSubscription:
          description: Is subscription in the grand fatherable subscription list.
          type: boolean
        optedInDate:
          description: Time to start using new pricing model.
          format: date-time
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

