{
  "openapi": "3.0.0",
  "info": {
    "description": "ARM applications",
    "title": "ApplicationClient",
    "version": "2019-07-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/stable/2019-07-01/managedapplications.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Solutions/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Microsoft.Solutions REST API operations.",
        "operationId": "ListOperations",
        "x-ms-examples": {
          "List Solutions operations": {
            "$ref": "./examples/listSolutionsOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              }
            },
            "description": "OK - Returns an array of applications."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets all the applications within a subscription.",
        "operationId": "Applications_ListBySubscription",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/jitRequests": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitRequestDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of JIT requests."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitRequests"
        ],
        "description": "Retrieves all JIT requests within the subscription.",
        "operationId": "jitRequests_ListBySubscription"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of managed application definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Lists the managed application definitions in a resource group.",
        "operationId": "ApplicationDefinitions_ListByResourceGroup",
        "x-ms-examples": {
          "List managed application definitions": {
            "$ref": "./examples/listApplicationDefinitionsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition to delete.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Deletes the managed application definition.",
        "operationId": "ApplicationDefinitions_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns the managed application definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Gets the managed application definition.",
        "operationId": "ApplicationDefinitions_Get",
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/getApplicationDefinition.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns information about the managed application definition, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "Created - Returns information about the managed application definition, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Creates a new managed application definition.",
        "operationId": "ApplicationDefinitions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDefinition"
              }
            }
          },
          "description": "Parameters supplied to the create or update an managed application definition.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update managed application definition": {
            "$ref": "./examples/createOrUpdateApplicationDefinition.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              }
            },
            "description": "OK - Returns an array of applications."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets all the applications within a resource group.",
        "operationId": "Applications_ListByResourceGroup",
        "x-ms-examples": {
          "Lists applications": {
            "$ref": "./examples/listApplicationsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Deletes the managed application.",
        "operationId": "Applications_Delete",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK - Returns the managed application."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets the managed application.",
        "operationId": "Applications_Get",
        "x-ms-examples": {
          "Get a managed application": {
            "$ref": "./examples/getApplication.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Updates an existing managed application. The only value that can be updated via PATCH currently is the tags.",
        "operationId": "Applications_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPatchable"
              }
            }
          },
          "description": "Parameters supplied to update an existing managed application."
        },
        "x-ms-examples": {
          "Create or update managed application": {
            "$ref": "./examples/updateApplication.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Creates a new managed application.",
        "operationId": "Applications_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to the create or update a managed application.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update managed application": {
            "$ref": "./examples/createOrUpdateApplication.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/refreshPermissions": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application.",
            "in": "path",
            "name": "applicationName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Refresh Permissions for application.",
        "operationId": "Applications_RefreshPermissions",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitRequestDefinitionListResult"
                }
              }
            },
            "description": "OK - Returns an array of JIT requests."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitRequests"
        ],
        "description": "Retrieves all JIT requests within the resource group.",
        "operationId": "jitRequests_ListByResourceGroup"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the JIT request.",
            "in": "path",
            "name": "jitRequestName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitRequests"
        ],
        "description": "Deletes the JIT request.",
        "operationId": "jitRequests_Delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the JIT request.",
            "in": "path",
            "name": "jitRequestName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitRequestDefinition"
                }
              }
            },
            "description": "OK - Returns the JIT request"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitRequests"
        ],
        "description": "Gets the JIT request.",
        "operationId": "JitRequests_Get"
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the JIT request.",
            "in": "path",
            "name": "jitRequestName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitRequestDefinition"
                }
              }
            },
            "description": "Ok - Returns information about the JIT request."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitRequests"
        ],
        "description": "Updates the JIT request.",
        "operationId": "JitRequests_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JitRequestPatchable"
              }
            }
          },
          "description": "Parameters supplied to the update JIT request.",
          "required": true
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the JIT request.",
            "in": "path",
            "name": "jitRequestName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitRequestDefinition"
                }
              }
            },
            "description": "Ok - Returns information about existing JIT request."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JitRequestDefinition"
                }
              }
            },
            "description": "Created - Returns information about the JIT request."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "JitRequests"
        ],
        "description": "Creates or updates the JIT request.",
        "operationId": "jitRequests_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JitRequestDefinition"
              }
            }
          },
          "description": "Parameters supplied to the update JIT request.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{applicationId}": {
      "delete": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Deletes the managed application.",
        "operationId": "Applications_DeleteById",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK - Returns the managed application."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Gets the managed application.",
        "operationId": "Applications_GetById"
      },
      "patch": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Updates an existing managed application. The only value that can be updated via PATCH currently is the tags.",
        "operationId": "Applications_UpdateById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to update an existing managed application."
        }
      },
      "put": {
        "parameters": [
          {
            "allowReserved": true,
            "description": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created - Returns information about the managed application, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Creates a new managed application.",
        "operationId": "Applications_CreateOrUpdateById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Parameters supplied to the create or update a managed application.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to use for this operation.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "The ID of the target subscription.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Application": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Application"
            }
          }
        },
        "description": "Parameters supplied to the create or update a managed application.",
        "required": true
      }
    },
    "schemas": {
      "Application": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Information about managed application.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/Identity",
            "description": "The identity of the resource."
          },
          "kind": {
            "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
            "pattern": "^[-\\w\\._,\\(\\)]+$",
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan",
            "description": "The plan information."
          },
          "properties": {
            "$ref": "#/components/schemas/ApplicationProperties",
            "description": "The managed application properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties",
          "kind"
        ],
        "type": "object"
      },
      "ApplicationArtifact": {
        "description": "Managed application artifact.",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/ApplicationArtifactName",
            "description": "The managed application artifact name."
          },
          "type": {
            "$ref": "#/components/schemas/ApplicationArtifactType",
            "description": "The managed application artifact type."
          },
          "uri": {
            "description": "The managed application artifact blob uri.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "uri"
        ],
        "type": "object"
      },
      "ApplicationArtifactName": {
        "description": "The managed application artifact name.",
        "enum": [
          "NotSpecified",
          "ViewDefinition",
          "Authorizations",
          "CustomRoleDefinition"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ApplicationArtifactName"
        }
      },
      "ApplicationArtifactType": {
        "description": "The managed application artifact type.",
        "enum": [
          "NotSpecified",
          "Template",
          "Custom"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "ApplicationArtifactType"
        }
      },
      "ApplicationAuthorization": {
        "description": "The managed application provider authorization.",
        "properties": {
          "principalId": {
            "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.",
            "type": "string"
          },
          "roleDefinitionId": {
            "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.",
            "type": "string"
          }
        },
        "required": [
          "principalId",
          "roleDefinitionId"
        ],
        "type": "object"
      },
      "ApplicationBillingDetailsDefinition": {
        "description": "Managed application billing details definition.",
        "properties": {
          "resourceUsageId": {
            "description": "The managed application resource usage Id.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationClientDetails": {
        "description": "The application client details to track the entity creating/updating the managed app resource.",
        "properties": {
          "applicationId": {
            "description": "The client application Id.",
            "type": "string"
          },
          "oid": {
            "description": "The client Oid.",
            "type": "string"
          },
          "puid": {
            "description": "The client Puid",
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "ApplicationDefinition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Information about managed application definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApplicationDefinitionProperties",
            "description": "The managed application definition properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "ApplicationDefinitionArtifact": {
        "description": "Application definition artifact.",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/ApplicationDefinitionArtifactName",
            "description": "The managed application definition artifact name."
          },
          "type": {
            "$ref": "#/components/schemas/ApplicationArtifactType",
            "description": "The managed application definition artifact type."
          },
          "uri": {
            "description": "The managed application definition artifact blob uri.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "uri"
        ],
        "type": "object"
      },
      "ApplicationDefinitionArtifactName": {
        "description": "The managed application artifact name.",
        "enum": [
          "NotSpecified",
          "ApplicationResourceTemplate",
          "CreateUiDefinition",
          "MainTemplateParameters"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ApplicationDefinitionArtifactName"
        }
      },
      "ApplicationDefinitionListResult": {
        "description": "List of managed application definitions.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The array of managed application definitions.",
            "items": {
              "$ref": "#/components/schemas/ApplicationDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationDefinitionProperties": {
        "description": "The managed application definition properties.",
        "properties": {
          "artifacts": {
            "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
            "items": {
              "$ref": "#/components/schemas/ApplicationDefinitionArtifact"
            },
            "type": "array"
          },
          "authorizations": {
            "description": "The managed application provider authorizations.",
            "items": {
              "$ref": "#/components/schemas/ApplicationAuthorization"
            },
            "type": "array"
          },
          "createUiDefinition": {
            "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string.",
            "type": "object"
          },
          "deploymentPolicy": {
            "$ref": "#/components/schemas/ApplicationDeploymentPolicy",
            "description": "The managed application deployment policy."
          },
          "description": {
            "description": "The managed application definition description.",
            "type": "string"
          },
          "displayName": {
            "description": "The managed application definition display name.",
            "type": "string"
          },
          "isEnabled": {
            "description": "A value indicating whether the package is enabled or not.",
            "type": "boolean"
          },
          "lockLevel": {
            "$ref": "#/components/schemas/ApplicationLockLevel",
            "description": "The managed application lock level."
          },
          "lockingPolicy": {
            "$ref": "#/components/schemas/ApplicationPackageLockingPolicyDefinition",
            "description": "The managed application locking policy."
          },
          "mainTemplate": {
            "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string.",
            "type": "object"
          },
          "managementPolicy": {
            "$ref": "#/components/schemas/ApplicationManagementPolicy",
            "description": "The managed application management policy that determines publisher's access to the managed resource group."
          },
          "notificationPolicy": {
            "$ref": "#/components/schemas/ApplicationNotificationPolicy",
            "description": "The managed application notification policy."
          },
          "packageFileUri": {
            "description": "The managed application definition package file Uri. Use this element",
            "type": "string"
          },
          "policies": {
            "description": "The managed application provider policies.",
            "items": {
              "$ref": "#/components/schemas/ApplicationPolicy"
            },
            "type": "array"
          }
        },
        "required": [
          "lockLevel"
        ],
        "type": "object"
      },
      "ApplicationDeploymentPolicy": {
        "description": "Managed application deployment policy.",
        "properties": {
          "deploymentMode": {
            "$ref": "#/components/schemas/DeploymentMode",
            "description": "The managed application deployment mode."
          }
        },
        "required": [
          "deploymentMode"
        ],
        "type": "object"
      },
      "ApplicationJitAccessPolicy": {
        "description": "Managed application Jit access policy.",
        "properties": {
          "jitAccessEnabled": {
            "description": "Whether the JIT access is enabled.",
            "type": "boolean"
          },
          "jitApprovalMode": {
            "$ref": "#/components/schemas/JitApprovalMode",
            "description": "JIT approval mode."
          },
          "jitApprovers": {
            "description": "The JIT approvers",
            "items": {
              "$ref": "#/components/schemas/JitApproverDefinition"
            },
            "type": "array"
          },
          "maximumJitAccessDuration": {
            "description": "The maximum duration JIT access is granted. This is an ISO8601 time period value.",
            "type": "string"
          }
        },
        "required": [
          "jitAccessEnabled"
        ],
        "type": "object"
      },
      "ApplicationListResult": {
        "description": "List of managed applications.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The array of managed applications.",
            "items": {
              "$ref": "#/components/schemas/Application"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationLockLevel": {
        "description": "The managed application lock level.",
        "enum": [
          "CanNotDelete",
          "ReadOnly",
          "None"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "ApplicationLockLevel"
        }
      },
      "ApplicationManagementMode": {
        "description": "The management mode.",
        "enum": [
          "NotSpecified",
          "Unmanaged",
          "Managed"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ApplicationManagementMode"
        }
      },
      "ApplicationManagementPolicy": {
        "description": "Managed application management policy.",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/ApplicationManagementMode",
            "description": "The managed application management mode."
          }
        },
        "type": "object"
      },
      "ApplicationNotificationEndpoint": {
        "description": "Managed application notification endpoint.",
        "properties": {
          "uri": {
            "description": "The managed application notification endpoint uri.",
            "type": "string"
          }
        },
        "required": [
          "uri"
        ],
        "type": "object"
      },
      "ApplicationNotificationPolicy": {
        "description": "Managed application notification policy.",
        "properties": {
          "notificationEndpoints": {
            "description": "The managed application notification endpoint.",
            "items": {
              "$ref": "#/components/schemas/ApplicationNotificationEndpoint"
            },
            "type": "array"
          }
        },
        "required": [
          "notificationEndpoints"
        ],
        "type": "object"
      },
      "ApplicationPackageContact": {
        "description": "The application package contact information.",
        "properties": {
          "contactName": {
            "description": "The contact name.",
            "type": "string"
          },
          "email": {
            "description": "The contact email.",
            "type": "string"
          },
          "phone": {
            "description": "The contact phone number.",
            "type": "string"
          }
        },
        "required": [
          "email",
          "phone"
        ],
        "type": "object"
      },
      "ApplicationPackageLockingPolicyDefinition": {
        "description": "Managed application locking policy.",
        "properties": {
          "allowedActions": {
            "description": "The deny assignment excluded actions.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "allowedDataActions": {
            "description": "The deny assignment excluded data actions.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationPackageSupportUrls": {
        "description": "The appliance package support URLs.",
        "properties": {
          "governmentCloud": {
            "description": "The government cloud support URL.",
            "type": "string"
          },
          "publicAzure": {
            "description": "The public azure support URL.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationPatchable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Information about managed application.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/Identity",
            "description": "The identity of the resource."
          },
          "kind": {
            "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
            "pattern": "^[-\\w\\._,\\(\\)]+$",
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanPatchable",
            "description": "The plan information."
          },
          "properties": {
            "$ref": "#/components/schemas/ApplicationProperties",
            "description": "The managed application properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ApplicationPolicy": {
        "description": "Managed application policy.",
        "properties": {
          "parameters": {
            "description": "The policy parameters.",
            "type": "string"
          },
          "name": {
            "description": "The policy name",
            "type": "string"
          },
          "policyDefinitionId": {
            "description": "The policy definition Id.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationProperties": {
        "description": "The managed application properties.",
        "properties": {
          "parameters": {
            "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string.",
            "type": "object"
          },
          "applicationDefinitionId": {
            "description": "The fully qualified path of managed application definition Id.",
            "type": "string"
          },
          "artifacts": {
            "description": "The collection of managed application artifacts.",
            "items": {
              "$ref": "#/components/schemas/ApplicationArtifact"
            },
            "readOnly": true,
            "type": "array"
          },
          "authorizations": {
            "description": "The  read-only authorizations property that is retrieved from the application package.",
            "items": {
              "$ref": "#/components/schemas/ApplicationAuthorization"
            },
            "readOnly": true,
            "type": "array"
          },
          "billingDetails": {
            "$ref": "#/components/schemas/ApplicationBillingDetailsDefinition",
            "description": "The managed application billing details.",
            "readOnly": true
          },
          "createdBy": {
            "$ref": "#/components/schemas/ApplicationClientDetails",
            "description": "The client entity that created the JIT request.",
            "readOnly": true
          },
          "customerSupport": {
            "$ref": "#/components/schemas/ApplicationPackageContact",
            "description": "The read-only customer support property that is retrieved from the application package.",
            "readOnly": true
          },
          "jitAccessPolicy": {
            "$ref": "#/components/schemas/ApplicationJitAccessPolicy",
            "description": "The managed application Jit access policy."
          },
          "managedResourceGroupId": {
            "description": "The managed resource group Id.",
            "type": "string"
          },
          "managementMode": {
            "$ref": "#/components/schemas/ApplicationManagementMode",
            "description": "The managed application management mode.",
            "readOnly": true
          },
          "outputs": {
            "description": "Name and value pairs that define the managed application outputs.",
            "readOnly": true,
            "type": "object"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The managed application provisioning state.",
            "readOnly": true
          },
          "publisherTenantId": {
            "description": "The publisher tenant Id.",
            "readOnly": true,
            "type": "string"
          },
          "supportUrls": {
            "$ref": "#/components/schemas/ApplicationPackageSupportUrls",
            "description": "The read-only support URLs property that is retrieved from the application package.",
            "readOnly": true
          },
          "updatedBy": {
            "$ref": "#/components/schemas/ApplicationClientDetails",
            "description": "The client entity that last updated the JIT request.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "ApplicationPropertiesPatchable": {
        "description": "The managed application properties.",
        "properties": {
          "parameters": {
            "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string.",
            "type": "object"
          },
          "applicationDefinitionId": {
            "description": "The fully qualified path of managed application definition Id.",
            "type": "string"
          },
          "managedResourceGroupId": {
            "description": "The managed resource group Id.",
            "type": "string"
          },
          "outputs": {
            "description": "Name and value pairs that define the managed application outputs.",
            "readOnly": true,
            "type": "object"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The managed application provisioning state.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "DeploymentMode": {
        "description": "The deployment mode.",
        "enum": [
          "NotSpecified",
          "Incremental",
          "Complete"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "DeploymentMode"
        }
      },
      "GenericResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Resource information.",
        "properties": {
          "managedBy": {
            "description": "ID of the resource that manages this resource.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of the resource."
          }
        },
        "type": "object"
      },
      "Identity": {
        "description": "Identity for the resource.",
        "properties": {
          "principalId": {
            "description": "The principal ID of resource identity.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "The tenant ID of resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The identity type.",
            "enum": [
              "SystemAssigned",
              "UserAssigned",
              "SystemAssigned, UserAssigned",
              "None"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ResourceIdentityType"
            }
          },
          "userAssignedIdentities": {
            "additionalProperties": {
              "$ref": "#/components/schemas/userAssignedResourceIdentity"
            },
            "description": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "JitApprovalMode": {
        "description": "The Jit approval mode.",
        "enum": [
          "NotSpecified",
          "AutoApprove",
          "ManualApprove"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "JitApprovalMode"
        }
      },
      "JitApproverDefinition": {
        "description": "JIT approver definition.",
        "properties": {
          "displayName": {
            "description": "The approver display name.",
            "type": "string"
          },
          "id": {
            "description": "The approver service principal Id.",
            "type": "string"
          },
          "type": {
            "description": "The approver type.",
            "enum": [
              "user",
              "group"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "JitApproverType"
            }
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "JitAuthorizationPolicies": {
        "description": "The JIT authorization policies.",
        "properties": {
          "principalId": {
            "description": "The the principal id that will be granted JIT access.",
            "type": "string"
          },
          "roleDefinitionId": {
            "description": "The role definition id that will be granted to the Principal.",
            "type": "string"
          }
        },
        "required": [
          "principalId",
          "roleDefinitionId"
        ],
        "type": "object"
      },
      "JitRequestDefinition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Information about JIT request definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/JitRequestProperties",
            "description": "The JIT request properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "JitRequestDefinitionListResult": {
        "description": "List of JIT requests.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The array of Jit request definition.",
            "items": {
              "$ref": "#/components/schemas/JitRequestDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JitRequestPatchable": {
        "description": "Information about JIT request.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Jit request tags",
            "type": "object"
          }
        },
        "type": "object"
      },
      "JitRequestProperties": {
        "description": "Information about JIT request properties",
        "properties": {
          "applicationResourceId": {
            "description": "The parent application id.",
            "type": "string"
          },
          "createdBy": {
            "$ref": "#/components/schemas/ApplicationClientDetails",
            "description": "The client entity that created the JIT request.",
            "readOnly": true
          },
          "jitAuthorizationPolicies": {
            "description": "The JIT authorization policies.",
            "items": {
              "$ref": "#/components/schemas/JitAuthorizationPolicies"
            },
            "type": "array"
          },
          "jitRequestState": {
            "$ref": "#/components/schemas/JitRequestState",
            "description": "The JIT request state.",
            "readOnly": true
          },
          "jitSchedulingPolicy": {
            "$ref": "#/components/schemas/JitSchedulingPolicy",
            "description": "The JIT request properties."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "The JIT request provisioning state.",
            "readOnly": true
          },
          "publisherTenantId": {
            "description": "The publisher tenant id.",
            "readOnly": true,
            "type": "string"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/ApplicationClientDetails",
            "description": "The client entity that last updated the JIT request.",
            "readOnly": true
          }
        },
        "required": [
          "applicationResourceId",
          "jitAuthorizationPolicies",
          "jitSchedulingPolicy"
        ],
        "type": "object"
      },
      "JitRequestState": {
        "description": "The JIT request state.",
        "enum": [
          "NotSpecified",
          "Pending",
          "Approved",
          "Denied",
          "Failed",
          "Canceled",
          "Expired",
          "Timeout"
        ],
        "readOnly": true,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "JitRequestState"
        }
      },
      "JitSchedulingPolicy": {
        "description": "The JIT scheduling policies.",
        "properties": {
          "duration": {
            "format": "duration",
            "title": "The required duration of the JIT request.",
            "type": "string"
          },
          "startTime": {
            "description": "The start time of the request.",
            "format": "date-time",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/JitSchedulingType",
            "description": "The type of JIT schedule."
          }
        },
        "required": [
          "type",
          "duration",
          "startTime"
        ],
        "type": "object"
      },
      "JitSchedulingType": {
        "description": "The JIT request scheduling type.",
        "enum": [
          "NotSpecified",
          "Once",
          "Recurring"
        ],
        "readOnly": true,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "JitSchedulingType"
        }
      },
      "Operation": {
        "description": "Microsoft.Solutions operation",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.Solutions",
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: Application, JitRequest, etc.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Plan": {
        "description": "Plan for the managed application.",
        "properties": {
          "name": {
            "description": "The plan name.",
            "type": "string"
          },
          "product": {
            "description": "The product code.",
            "type": "string"
          },
          "promotionCode": {
            "description": "The promotion code.",
            "type": "string"
          },
          "publisher": {
            "description": "The publisher ID.",
            "type": "string"
          },
          "version": {
            "description": "The plan's version.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "publisher",
          "product",
          "version"
        ],
        "type": "object"
      },
      "PlanPatchable": {
        "description": "Plan for the managed application.",
        "properties": {
          "name": {
            "description": "The plan name.",
            "type": "string"
          },
          "product": {
            "description": "The product code.",
            "type": "string"
          },
          "promotionCode": {
            "description": "The promotion code.",
            "type": "string"
          },
          "publisher": {
            "description": "The publisher ID.",
            "type": "string"
          },
          "version": {
            "description": "The plan's version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProvisioningState": {
        "description": "Provisioning status of the managed application.",
        "enum": [
          "NotSpecified",
          "Accepted",
          "Running",
          "Ready",
          "Creating",
          "Created",
          "Deleting",
          "Deleted",
          "Canceled",
          "Failed",
          "Succeeded",
          "Updating"
        ],
        "readOnly": true,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ProvisioningState"
        }
      },
      "Resource": {
        "description": "Resource information.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource ID",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Sku": {
        "description": "SKU for the resource.",
        "properties": {
          "capacity": {
            "description": "The SKU capacity.",
            "format": "int32",
            "type": "integer"
          },
          "family": {
            "description": "The SKU family.",
            "type": "string"
          },
          "model": {
            "description": "The SKU model.",
            "type": "string"
          },
          "name": {
            "description": "The SKU name.",
            "type": "string"
          },
          "size": {
            "description": "The SKU size.",
            "type": "string"
          },
          "tier": {
            "description": "The SKU tier.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "userAssignedResourceIdentity": {
        "description": "Represents the user assigned identity that is contained within the UserAssignedIdentities dictionary on ResourceIdentity",
        "properties": {
          "principalId": {
            "description": "The principal id of user assigned identity.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "The tenant id of user assigned identity.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-ms-paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Deletes the managed application definition.",
        "operationId": "ApplicationDefinitions_DeleteById",
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/deleteApplicationDefinition.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns the managed application definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Gets the managed application definition.",
        "operationId": "ApplicationDefinitions_GetById",
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/getApplicationDefinition.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._\\(\\)]+$",
              "type": "string"
            }
          },
          {
            "description": "The name of the managed application definition.",
            "in": "path",
            "name": "applicationDefinitionName",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "OK - Returns information about the managed application definition, including provisioning status."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDefinition"
                }
              }
            },
            "description": "Created - Returns information about the managed application definition, including provisioning status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Creates a new managed application definition.",
        "operationId": "ApplicationDefinitions_CreateOrUpdateById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDefinition"
              }
            }
          },
          "description": "Parameters supplied to the create or update a managed application definition.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update managed application definition": {
            "$ref": "./examples/createOrUpdateApplicationDefinition.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  }
}