openapi: 3.0.0
info:
  description: Mixed Reality Resource Provider Spatial Anchors Resource API
  title: Mixed Reality
  version: 2019-12-02-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts':
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
        - Proxy
      description: List Spatial Anchors Accounts by Subscription
      operationId: SpatialAnchorsAccounts_ListBySubscription
      x-ms-examples:
        List spatial anchors accounts by subscription:
          $ref: ./examples/spatial-anchors/GetBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts':
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: List Resources by Resource Group
      operationId: SpatialAnchorsAccounts_ListByResourceGroup
      x-ms-examples:
        List spatial anchor accounts by resource group:
          $ref: ./examples/spatial-anchors/GetByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}':
    delete:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Delete a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Delete
      x-ms-examples:
        Delete spatial anchors account:
          $ref: ./examples/spatial-anchors/Delete.json
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Retrieve a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Get
      x-ms-examples:
        Get spatial anchors account:
          $ref: ./examples/spatial-anchors/Get.json
    patch:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Updating a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
      x-ms-examples:
        Update spatial anchors account:
          $ref: ./examples/spatial-anchors/Patch.json
    put:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Creating or Updating a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
      x-ms-examples:
        Create spatial anchor account:
          $ref: ./examples/spatial-anchors/Put.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}/keys':
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/AccountKeys
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Key
      description: Get Both of the 2 Keys of a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_GetKeys
      x-ms-examples:
        Get spatial anchor account key:
          $ref: ./examples/spatial-anchors/GetKeys.json
    post:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/resourceGroupNameParameter
        - $ref: ./common.json#/components/parameters/accountNameParameter
        - $ref: ./common.json#/components/parameters/accountKeyRegenerateParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/AccountKeys
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Key
      description: Regenerate specified Key of a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_RegenerateKeys
      x-ms-examples:
        Regenerate spatial anchors account keys:
          $ref: ./examples/spatial-anchors/RegenerateKey.json
components:
  requestBodies:
    SpatialAnchorsAccount:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
      description: Spatial Anchors Account parameter.
      required: true
  schemas:
    SpatialAnchorsAccount:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: SpatialAnchorsAccount Response.
      properties:
        identity:
          $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Identity
          description: The identity associated with this account
        properties:
          $ref: ./common.json#/definitions/MixedRealityAccountProperties
          description: Property bag.
          x-ms-client-flatten: true
      type: object
    SpatialAnchorsAccountPage:
      description: >-
        Result of the request to get resource collection. It contains a list of
        resources and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of resource list results if there are any.
          type: string
        value:
          description: List of resources supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

