openapi: 3.0.0
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient
  version: '2019-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices':
    get:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileServiceItems'
          description: OK -- List file services operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileService
      description: List all file services in storage accounts
      operationId: FileServices_List
      x-ms-examples:
        ListFileServices:
          $ref: ./examples/FileServicesList.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares':
    get:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - description: >-
            Optional. Specified maximum number of shares that can be included in
            the list.
          in: query
          name: $maxpagesize
          schema:
            type: string
        - description: >-
            Optional. When specified, only share names starting with the filter
            will be listed.
          in: query
          name: $filter
          schema:
            type: string
        - description: 'Optional, used to expand the properties within share''s properties.'
          in: query
          name: $expand
          required: false
          schema:
            enum:
              - deleted
            type: string
          x-ms-enum:
            modelAsString: false
            name: ListSharesExpand
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShareItems'
          description: OK -- List Shares operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileShares
      description: Lists all shares.
      operationId: FileShares_List
      x-ms-examples:
        ListDeletedShares:
          $ref: ./examples/DeletedFileSharesList.json
        ListShares:
          $ref: ./examples/FileSharesList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}':
    delete:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: '#/components/parameters/ShareName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK -- Delete Share operation completed successfully.
        '204':
          description: No Content -- The Share not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileShares
      description: Deletes specified share under its account.
      operationId: FileShares_Delete
      x-ms-examples:
        DeleteShares:
          $ref: ./examples/FileSharesDelete.json
    get:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: '#/components/parameters/ShareName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - description: 'Optional, used to expand the properties within share''s properties.'
          in: query
          name: $expand
          required: false
          schema:
            enum:
              - stats
            type: string
          x-ms-enum:
            modelAsString: false
            name: GetShareExpand
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: OK -- Get Share operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileShares
      description: Gets properties of a specified share.
      operationId: FileShares_Get
      x-ms-examples:
        GetShareStats:
          $ref: ./examples/FileSharesGet_Stats.json
        GetShares:
          $ref: ./examples/FileSharesGet.json
    patch:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: '#/components/parameters/ShareName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
                description: Properties of the updated file share.
          description: OK -- Update Share operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileShares
      description: >-
        Updates share properties as specified in request body. Properties not
        mentioned in the request will not be changed. Update fails if the
        specified share does not already exist. 
      operationId: FileShares_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileShare'
        description: Properties to update for the file share.
        required: true
      x-ms-examples:
        UpdateShares:
          $ref: ./examples/FileSharesPatch.json
    put:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: '#/components/parameters/ShareName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: OK -- The Share is already created.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: Created -- Create Share operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileShares
      description: >-
        Creates a new share under the specified account as described by request
        body. The share resource includes metadata and properties for that
        share. It does not include a list of the files contained by the share. 
      operationId: FileShares_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileShare'
        description: Properties of the file share to create.
        required: true
      x-ms-examples:
        Create NFS Shares:
          $ref: ./examples/FileSharesPut_NFS.json
        PutShares:
          $ref: ./examples/FileSharesPut.json
        PutShares with Access Tier:
          $ref: ./examples/FileSharesPut_AccessTier.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}/restore':
    post:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: '#/components/parameters/ShareName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK -- The Share is successfully restored.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileShares
      description: >-
        Restore a file share within a valid retention days if share soft delete
        is enabled
      operationId: FileShares_Restore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletedShare'
        required: true
      x-ms-examples:
        RestoreShares:
          $ref: ./examples/FileSharesRestore.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/{FileServicesName}':
    get:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/FileServicesName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileServiceProperties'
          description: OK -- returned the properties of a storage account’s File service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileService
      description: >-
        Gets the properties of file services in storage accounts, including CORS
        (Cross-Origin Resource Sharing) rules.
      operationId: FileServices_GetServiceProperties
      x-ms-examples:
        GetFileServices:
          $ref: ./examples/FileServicesGet.json
    put:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/FileServicesName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileServiceProperties'
          description: >-
            OK -- Sets The properties of a storage account’s File service
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - FileService
      description: >-
        Sets the properties of file services in storage accounts, including CORS
        (Cross-Origin Resource Sharing) rules. 
      operationId: FileServices_SetServiceProperties
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileServiceProperties'
        description: >-
          The properties of file services in storage accounts, including CORS
          (Cross-Origin Resource Sharing) rules.
        required: true
      x-ms-examples:
        PutFileServices:
          $ref: ./examples/FileServicesPut.json
components:
  parameters:
    FileServicesName:
      description: >-
        The name of the file Service within the specified storage account. File
        Service Name must be "default"
      in: path
      name: FileServicesName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    ShareName:
      description: >-
        The name of the file share within the specified storage account. File
        share names must be between 3 and 63 characters in length and use
        numbers, lower-case letters and dash (-) only. Every dash (-) character
        must be immediately preceded and followed by a letter or number.
      in: path
      name: shareName
      required: true
      schema:
        maxLength: 63
        minLength: 3
        type: string
      x-ms-parameter-location: method
  schemas:
    CloudError:
      description: An error response from the Storage service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Storage service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    DeletedShare:
      description: The deleted share to be restored.
      properties:
        deletedShareName:
          description: >-
            Required. Identify the name of the deleted share that will be
            restored.
          type: string
        deletedShareVersion:
          description: >-
            Required. Identify the version of the deleted share that will be
            restored.
          type: string
      required:
        - deletedShareName
        - deletedShareVersion
      type: object
    FileServiceItems:
      properties:
        value:
          description: List of file services returned.
          items:
            $ref: '#/components/schemas/FileServiceProperties'
          readOnly: true
          type: array
      type: object
    FileServiceProperties:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: The properties of File services in storage account.
      properties:
        properties:
          description: The properties of File services in storage account.
          properties:
            cors:
              $ref: ./common.json#/definitions/CorsRules
              description: >-
                Specifies CORS rules for the File service. You can include up to
                five CorsRule elements in the request. If no CorsRule elements
                are included in the request body, all CORS rules will be
                deleted, and CORS will be disabled for the File service.
            shareDeleteRetentionPolicy:
              $ref: ./common.json#/definitions/DeleteRetentionPolicy
              description: The file service properties for share soft delete.
          x-ms-client-flatten: true
          x-ms-client-name: FileServiceProperties
        sku:
          $ref: ./common.json#/definitions/Sku
          description: Sku name and tier.
          readOnly: true
      type: object
    FileShare:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/AzureEntityResource
      description: >-
        Properties of the file share, including Id, resource name, resource
        type, Etag.
      properties:
        properties:
          $ref: '#/components/schemas/FileShareProperties'
          description: Properties of the file share.
          x-ms-client-flatten: true
          x-ms-client-name: FileShareProperties
      type: object
    FileShareItem:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/AzureEntityResource
      description: The file share properties be listed out.
      properties:
        properties:
          $ref: '#/components/schemas/FileShareProperties'
          description: The file share properties be listed out.
          x-ms-client-flatten: true
      type: object
    FileShareItems:
      description: >-
        Response schema. Contains list of shares returned, and if paging is
        requested or required, a URL to next page of shares.
      properties:
        nextLink:
          description: >-
            Request URL that can be used to query next page of shares. Returned
            when total number of requested shares exceed maximum page size.
          readOnly: true
          type: string
        value:
          description: List of file shares returned.
          items:
            $ref: '#/components/schemas/FileShareItem'
          readOnly: true
          type: array
      type: object
    FileShareProperties:
      description: The properties of the file share.
      properties:
        accessTier:
          description: >-
            Access tier for specific share. GpV2 account can choose between
            TransactionOptimized (default), Hot, and Cool. FileStorage account
            can choose Premium.
          enum:
            - TransactionOptimized
            - Hot
            - Cool
            - Premium
          type: string
          x-ms-enum:
            modelAsString: true
            name: ShareAccessTier
        accessTierChangeTime:
          description: Indicates the last modification time for share access tier.
          format: date-time
          readOnly: true
          type: string
        accessTierStatus:
          description: Indicates if there is a pending transition for access tier.
          readOnly: true
          type: string
        deleted:
          description: Indicates whether the share was deleted.
          readOnly: true
          type: boolean
        deletedTime:
          description: The deleted time if the share was deleted.
          format: date-time
          readOnly: true
          type: string
        enabledProtocols:
          description: >-
            The authentication protocol that is used for the file share. Can
            only be specified when creating a share.
          enum:
            - SMB
            - NFS
          type: string
          x-ms-enum:
            modelAsString: true
            name: EnabledProtocols
          x-ms-mutability:
            - create
            - read
        lastModifiedTime:
          description: Returns the date and time the share was last modified.
          format: date-time
          readOnly: true
          type: string
        metadata:
          additionalProperties:
            type: string
          description: A name-value pair to associate with the share as metadata.
          type: object
        remainingRetentionDays:
          description: Remaining retention days for share that was soft deleted.
          readOnly: true
          type: integer
        rootSquash:
          description: The property is for NFS share only. The default is NoRootSquash.
          enum:
            - NoRootSquash
            - RootSquash
            - AllSquash
          type: string
          x-ms-enum:
            modelAsString: true
            name: RootSquashType
        shareQuota:
          description: >-
            The maximum size of the share, in gigabytes. Must be greater than 0,
            and less than or equal to 5TB (5120). For Large File Shares, the
            maximum size is 102400.
          maximum: 102400
          minimum: 1
          type: integer
        shareUsageBytes:
          description: >-
            The approximate size of the data stored on the share. Note that this
            value may not include all recently created or recently resized
            files.
          format: int64
          readOnly: true
          type: integer
        version:
          description: The version of the share.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

