{
  "openapi": "3.0.0",
  "info": {
    "description": "The HDInsight Management Client.",
    "title": "HDInsightManagementClient",
    "version": "2015-03-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/extensions.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/azureMonitor": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "OK response definition."
          },
          "204": {
            "description": "No Content response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Disables the Azure Monitor on the HDInsight cluster.",
        "operationId": "Extensions_DisableAzureMonitor",
        "x-ms-examples": {
          "Enable cluster monitoring": {
            "$ref": "./examples/DisableLinuxClusterAzureMonitor.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureMonitorResponse"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Gets the status of Azure Monitor on the HDInsight cluster.",
        "operationId": "Extensions_GetAzureMonitorStatus",
        "x-ms-examples": {
          "Enable cluster monitoring": {
            "$ref": "./examples/GetLinuxClusterAzureMonitorStatus.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Enables the Azure Monitor on the HDInsight cluster.",
        "operationId": "Extensions_EnableAzureMonitor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureMonitorRequest"
              }
            }
          },
          "description": "The Log Analytics workspace parameters.",
          "required": true
        },
        "x-ms-examples": {
          "Enable cluster monitoring": {
            "$ref": "./examples/EnableLinuxClusterAzureMonitor.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/clustermonitoring": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "OK response definition."
          },
          "204": {
            "description": "No Content response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Disables the Operations Management Suite (OMS) on the HDInsight cluster.",
        "operationId": "Extension_DisableMonitoring",
        "x-ms-examples": {
          "Enable cluster monitoring": {
            "$ref": "./examples/DisableLinuxClusterMonitoring.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterMonitoringResponse"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Gets the status of Operations Management Suite (OMS) on the HDInsight cluster.",
        "operationId": "Extension_GetMonitoringStatus",
        "x-ms-examples": {
          "Enable cluster monitoring": {
            "$ref": "./examples/GetLinuxClusterMonitoringStatus.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Enables the Operations Management Suite (OMS) on the HDInsight cluster.",
        "operationId": "Extension_EnableMonitoring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterMonitoringRequest"
              }
            }
          },
          "description": "The Operations Management Suite (OMS) workspace parameters.",
          "required": true
        },
        "x-ms-examples": {
          "Enable cluster monitoring": {
            "$ref": "./examples/EnableLinuxClusterMonitoring.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "204": {
            "description": "No Content response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Deletes the specified extension for HDInsight cluster.",
        "operationId": "Extension_Delete",
        "x-ms-examples": {
          "Delete an extension": {
            "$ref": "./examples/DeleteExtension.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterMonitoringResponse"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Gets the extension properties for the specified HDInsight cluster extension.",
        "operationId": "Extension_Get",
        "x-ms-examples": {
          "Get an extension": {
            "$ref": "./examples/GetExtension.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Creates an HDInsight cluster extension.",
        "operationId": "Extension_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Extension"
              }
            }
          },
          "description": "The cluster extensions create request.",
          "required": true
        },
        "x-ms-examples": {
          "Create a monitoring extension on Hadoop Linux cluster": {
            "$ref": "./examples/CreateExtension.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}/azureAsyncOperations/{operationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./cluster.json#/definitions/AsyncOperationResult"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Gets the async operation status.",
        "operationId": "Extensions_GetAzureAsyncOperationStatus",
        "x-ms-examples": {
          "Gets the azure async operation status.": {
            "$ref": "./examples/GetExtensionCreationAsyncOperationStatus.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The HDInsight client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ClusterNameParameter": {
        "description": "The name of the cluster.",
        "in": "path",
        "name": "clusterName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ExtensionNameParameter": {
        "description": "The name of the cluster extension.",
        "in": "path",
        "name": "extensionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "OperationIdParameter": {
        "description": "The long running operation id.",
        "in": "path",
        "name": "operationId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AzureMonitorRequest": {
        "description": "The azure monitor parameters.",
        "properties": {
          "primaryKey": {
            "description": "The Log Analytics workspace key.",
            "type": "string"
          },
          "selectedConfigurations": {
            "$ref": "#/components/schemas/AzureMonitorSelectedConfigurations",
            "description": "The selected configurations."
          },
          "workspaceId": {
            "description": "The Log Analytics workspace ID.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureMonitorResponse": {
        "description": "The azure monitor status response.",
        "properties": {
          "clusterMonitoringEnabled": {
            "description": "The status of the monitor on the HDInsight cluster.",
            "type": "boolean"
          },
          "selectedConfigurations": {
            "$ref": "#/components/schemas/AzureMonitorSelectedConfigurations",
            "description": "The selected configurations."
          },
          "workspaceId": {
            "description": "The workspace ID of the monitor on the HDInsight cluster.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureMonitorSelectedConfigurations": {
        "description": "The selected configurations for azure monitor.",
        "properties": {
          "configurationVersion": {
            "description": "The configuration version.",
            "type": "string"
          },
          "globalConfigurations": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The global configurations of selected configurations.",
            "type": "object"
          },
          "tableList": {
            "description": "The table list.",
            "items": {
              "$ref": "#/components/schemas/AzureMonitorTableConfiguration"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureMonitorTableConfiguration": {
        "description": "The table configuration for the Log Analytics integration.",
        "properties": {
          "name": {
            "description": "The name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ClusterMonitoringRequest": {
        "description": "The cluster monitor parameters.",
        "properties": {
          "primaryKey": {
            "description": "The cluster monitor workspace key.",
            "type": "string"
          },
          "workspaceId": {
            "description": "The cluster monitor workspace ID.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ClusterMonitoringResponse": {
        "description": "The cluster monitoring status response.",
        "properties": {
          "clusterMonitoringEnabled": {
            "description": "The status of the monitor on the HDInsight cluster.",
            "type": "boolean"
          },
          "workspaceId": {
            "description": "The workspace ID of the monitor on the HDInsight cluster.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Extension": {
        "description": "Cluster monitoring extensions",
        "properties": {
          "primaryKey": {
            "description": "The certificate for the cluster monitoring extensions.",
            "type": "string"
          },
          "workspaceId": {
            "description": "The workspace ID for the cluster monitoring extension.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}