openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSettingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AutoProvisioningSettings
      description: Exposes the auto provisioning settings of the subscriptions
      operationId: AutoProvisioningSettings_List
      x-ms-examples:
        Get auto provisioning settings for subscription:
          $ref: >-
            ./examples/AutoProvisioningSettings/GetAutoProvisioningSettingsSubscription_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/AutoProvisioningSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AutoProvisioningSettings
      description: Details of a specific setting
      operationId: AutoProvisioningSettings_Get
      x-ms-examples:
        Get an auto provisioning setting for subscription:
          $ref: >-
            ./examples/AutoProvisioningSettings/GetAutoProvisioningSettingSubscription_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/AutoProvisioningSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AutoProvisioningSettings
      description: Details of a specific setting
      operationId: AutoProvisioningSettings_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoProvisioningSetting'
        description: Auto provisioning setting key
        required: true
      x-ms-examples:
        Create auto provisioning settings for subscription:
          $ref: >-
            ./examples/AutoProvisioningSettings/CreateAutoProvisioningSettingsSubscription_example.json
components:
  parameters:
    AutoProvisioningSettingName:
      description: Auto provisioning setting key
      in: path
      name: settingName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AutoProvisioningSetting:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Auto provisioning setting
      properties:
        properties:
          $ref: '#/components/schemas/AutoProvisioningSettingProperties'
          description: Auto provisioning setting data
          x-ms-client-flatten: true
      type: object
    AutoProvisioningSettingList:
      description: List of all the auto provisioning settings response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of all the auto provisioning settings
          items:
            $ref: '#/components/schemas/AutoProvisioningSetting'
          type: array
      type: object
    AutoProvisioningSettingProperties:
      description: describes properties of an auto provisioning setting
      properties:
        autoProvision:
          description: Describes what kind of security agent provisioning action to take
          enum:
            - 'On'
            - 'Off'
          type: string
          x-ms-enum:
            modelAsString: true
            name: autoProvision
            values:
              - description: Install missing security agent on VMs automatically
                value: 'On'
              - description: Do not install security agent on the VMs automatically
                value: 'Off'
      required:
        - autoProvision
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

