{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/certificate.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Certificate"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "description": "Retrieve a list of certificates.",
        "operationId": "Certificate_ListByAutomationAccount",
        "x-ms-examples": {
          "List certificates": {
            "$ref": "./examples/listCertificatesByAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates/{certificateName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of certificate.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Certificate"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "description": "Delete the certificate.",
        "operationId": "Certificate_Delete",
        "x-ms-examples": {
          "Delete a certificate": {
            "$ref": "./examples/deleteCertificate.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of certificate.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Certificate"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "description": "Retrieve the certificate identified by certificate name.",
        "operationId": "Certificate_Get",
        "x-ms-examples": {
          "Get a certificate": {
            "$ref": "./examples/getCertificate.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the update certificate operation.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Certificate"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "description": "Update a certificate.",
        "operationId": "Certificate_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the update certificate operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a certificate": {
            "$ref": "./examples/updateCertificate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the create or update certificate operation.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Certificate"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "description": "Create a certificate.",
        "operationId": "Certificate_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateCreateOrUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create or update certificate operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a certificate": {
            "$ref": "./examples/createOrUpdateCertificate.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Certificate": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ],
        "description": "Definition of the certificate.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CertificateProperties",
            "description": "Gets or sets the properties of the certificate.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "CertificateCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update or replace certificate operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the certificate.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CertificateCreateOrUpdateProperties",
            "description": "Gets or sets the properties of the certificate.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "CertificateCreateOrUpdateProperties": {
        "description": "The properties of the create certificate operation.",
        "properties": {
          "base64Value": {
            "description": "Gets or sets the base64 encoded value of the certificate.",
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description of the certificate.",
            "type": "string"
          },
          "isExportable": {
            "description": "Gets or sets the is exportable flag of the certificate.",
            "nullable": false,
            "type": "boolean"
          },
          "thumbprint": {
            "description": "Gets or sets the thumbprint of the certificate.",
            "type": "string"
          }
        },
        "required": [
          "base64Value"
        ],
        "type": "object"
      },
      "CertificateListResult": {
        "description": "The response model for the list certificate operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of certificates.",
            "items": {
              "$ref": "#/components/schemas/Certificate"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CertificateProperties": {
        "description": "Properties of the certificate.",
        "properties": {
          "creationTime": {
            "description": "Gets the creation time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "expiryTime": {
            "description": "Gets the expiry time of the certificate.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "isExportable": {
            "description": "Gets the is exportable flag of the certificate.",
            "nullable": false,
            "readOnly": true,
            "type": "boolean"
          },
          "lastModifiedTime": {
            "description": "Gets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "thumbprint": {
            "description": "Gets the thumbprint of the certificate.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CertificateUpdateParameters": {
        "description": "The parameters supplied to the update certificate operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the certificate.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CertificateUpdateProperties",
            "description": "Gets or sets the properties of the certificate.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "CertificateUpdateProperties": {
        "description": "The properties of the update certificate operation",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the certificate.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}