{
  "openapi": "3.0.0",
  "info": {
    "title": "Custom Vision Prediction Client",
    "version": "2.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v2.0/Prediction.json"
  },
  "servers": [
    {
      "url": "https://southcentralus.api.cognitive.microsoft.com/customvision/v2.0/Prediction"
    },
    {
      "url": "{Endpoint}",
      "variables": {
        "Endpoint": {
          "description": "Supported Cognitive Services endpoints",
          "x-ms-parameter-location": "client",
          "x-ms-skip-url-encoding": true
        }
      }
    }
  ],
  "paths": {
    "/{projectId}/image": {
      "post": {
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified",
            "in": "query",
            "name": "iterationId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ImagePredictionApi"
        ],
        "operationId": "PredictImage",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Predict an image and saves the result",
        "x-ms-examples": {
          "Successful PredictImage request": {
            "$ref": "./examples/PredictImage.json"
          }
        }
      }
    },
    "/{projectId}/image/nostore": {
      "post": {
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified",
            "in": "query",
            "name": "iterationId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ImagePredictionApi"
        ],
        "operationId": "PredictImageWithNoStore",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Predict an image without saving the result",
        "x-ms-examples": {
          "Successful PredictImageWithNoStore request": {
            "$ref": "./examples/PredictImageWithNoStore.json"
          }
        }
      }
    },
    "/{projectId}/url": {
      "post": {
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified",
            "in": "query",
            "name": "iterationId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ImagePredictionApi"
        ],
        "operationId": "PredictImageUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            }
          },
          "description": "An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated",
          "required": true
        },
        "summary": "Predict an image url and saves the result",
        "x-ms-examples": {
          "Successful PredictImageUrl request": {
            "$ref": "./examples/PredictImageUrl.json"
          }
        }
      }
    },
    "/{projectId}/url/nostore": {
      "post": {
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified",
            "in": "query",
            "name": "iterationId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePrediction"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ImagePredictionApi"
        ],
        "operationId": "PredictImageUrlWithNoStore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ImageUrl"
              }
            }
          },
          "description": "An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated",
          "required": true
        },
        "summary": "Predict an image url without saving the result",
        "x-ms-examples": {
          "Successful PredictImageUrlWithNoStore request": {
            "$ref": "./examples/PredictImageUrlWithNoStore.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiKey": {
        "in": "header",
        "name": "Prediction-Key",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-client-name": "ApiKey",
        "x-ms-parameter-location": "client"
      },
      "Endpoint": {
        "description": "Supported Cognitive Services endpoints",
        "x-ms-parameter-location": "client",
        "x-ms-skip-url-encoding": true
      }
    },
    "requestBodies": {
      "ImageUrl": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImageUrl"
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "$ref": "#/components/schemas/ImageUrl"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ImageUrl"
            }
          },
          "text/json": {
            "schema": {
              "$ref": "#/components/schemas/ImageUrl"
            }
          },
          "text/xml": {
            "schema": {
              "$ref": "#/components/schemas/ImageUrl"
            }
          }
        },
        "description": "An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated",
        "required": true
      },
      "PredictImage": {
        "content": {
          "application/octet-stream": {
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "BoundingBox": {
        "nullable": true,
        "properties": {
          "height": {
            "format": "float",
            "nullable": false,
            "type": "number"
          },
          "left": {
            "format": "float",
            "nullable": false,
            "type": "number"
          },
          "top": {
            "format": "float",
            "nullable": false,
            "type": "number"
          },
          "width": {
            "format": "float",
            "nullable": false,
            "type": "number"
          }
        },
        "type": "object"
      },
      "ImagePrediction": {
        "nullable": true,
        "properties": {
          "created": {
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "format": "uuid",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "iteration": {
            "format": "uuid",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "predictions": {
            "items": {
              "$ref": "#/components/schemas/Prediction"
            },
            "nullable": true,
            "readOnly": true,
            "type": "array"
          },
          "project": {
            "format": "uuid",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ImageUrl": {
        "nullable": true,
        "properties": {
          "url": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Prediction": {
        "nullable": true,
        "properties": {
          "boundingBox": {
            "$ref": "#/components/schemas/BoundingBox",
            "readOnly": true
          },
          "probability": {
            "format": "float",
            "nullable": false,
            "readOnly": true,
            "type": "number"
          },
          "tagId": {
            "format": "uuid",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "tagName": {
            "nullable": true,
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}