openapi: 3.0.0
info:
  description: >-
    All resource groups and resources exist within subscriptions. These
    operation enable you get information about your subscriptions and tenants. A
    tenant is a dedicated instance of Azure Active Directory (Azure AD) for your
    organization.
  title: SubscriptionClient
  version: '2016-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /subscriptions:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
          description: OK - Returns an array of subscriptions.
      tags:
        - Subscriptions
      description: Gets all subscriptions for a tenant.
      operationId: Subscriptions_List
      x-ms-examples:
        listSubscriptions:
          $ref: ./examples/listSubscriptions.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK - Returns information about the subscription.
      tags:
        - Subscriptions
      description: Gets details about a specified subscription.
      operationId: Subscriptions_Get
      x-ms-examples:
        getSubscription:
          $ref: ./examples/getSubscription.json
  '/subscriptions/{subscriptionId}/locations':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResult'
          description: OK - Returns an array of locations.
      tags:
        - Subscriptions
      description: >-
        This operation provides all the locations that are available for
        resource providers; however, each resource provider may support a subset
        of this list.
      operationId: Subscriptions_ListLocations
      summary: Gets all available geo-locations.
      x-ms-examples:
        listLocations:
          $ref: ./examples/listLocations.json
      x-ms-pageable:
        nextLinkName: null
  /tenants:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResult'
          description: OK - Returns an array of tenants.
      tags:
        - Tenants
      description: Gets the tenants for your account.
      operationId: Tenants_List
      x-ms-examples:
        listTenants:
          $ref: ./examples/listTenants.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Location:
      description: Location information.
      properties:
        displayName:
          description: The display name of the location.
          readOnly: true
          type: string
        id:
          description: >-
            The fully qualified ID of the location. For example,
            /subscriptions/00000000-0000-0000-0000-000000000000/locations/westus.
          readOnly: true
          type: string
        latitude:
          description: The latitude of the location.
          readOnly: true
          type: string
        longitude:
          description: The longitude of the location.
          readOnly: true
          type: string
        name:
          description: The location name.
          readOnly: true
          type: string
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
      type: object
    LocationListResult:
      description: Location list operation response.
      properties:
        value:
          description: An array of locations.
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    Subscription:
      description: Subscription information.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Tags for the subscription
          type: object
        authorizationSource:
          description: >-
            The authorization source of the request. Valid values are one or
            more combinations of Legacy, RoleBased, Bypassed, Direct and
            Management. For example, 'Legacy, RoleBased'.
          type: string
        displayName:
          description: The subscription display name.
          readOnly: true
          type: string
        id:
          description: >-
            The fully qualified ID for the subscription. For example,
            /subscriptions/00000000-0000-0000-0000-000000000000.
          readOnly: true
          type: string
        state:
          description: >-
            The subscription state. Possible values are Enabled, Warned,
            PastDue, Disabled, and Deleted.
          enum:
            - Enabled
            - Warned
            - PastDue
            - Disabled
            - Deleted
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionState
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
        subscriptionPolicies:
          $ref: '#/components/schemas/SubscriptionPolicies'
          description: The subscription policies.
        tenantId:
          description: 'The tenant ID. For example, 00000000-0000-0000-0000-000000000000.'
          readOnly: true
          type: string
      type: object
    SubscriptionListResult:
      description: Subscription list operation response.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: An array of subscriptions.
          items:
            $ref: '#/components/schemas/Subscription'
          type: array
      type: object
    SubscriptionPolicies:
      description: Subscription policies.
      properties:
        locationPlacementId:
          description: >-
            The subscription location placement ID. The ID indicates which
            regions are visible for a subscription. For example, a subscription
            with a location placement Id of Public_2014-09-01 has access to
            Azure public regions.
          readOnly: true
          type: string
        quotaId:
          description: The subscription quota ID.
          readOnly: true
          type: string
        spendingLimit:
          description: The subscription spending limit.
          enum:
            - 'On'
            - 'Off'
            - CurrentPeriodOff
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: spendingLimit
      type: object
    TenantIdDescription:
      description: Tenant Id information.
      properties:
        country:
          description: The country/region name of the address for the tenant.
          readOnly: true
          type: string
        countryCode:
          description: The Country/region abbreviation for the tenant.
          readOnly: true
          type: string
        defaultDomain:
          description: The default domain for the tenant.
          readOnly: true
          type: string
        displayName:
          description: The display name of the tenant.
          readOnly: true
          type: string
        domains:
          description: The list of domains for the tenant.
          readOnly: true
          type: string
        id:
          description: >-
            The fully qualified ID of the tenant. For example,
            /tenants/00000000-0000-0000-0000-000000000000.
          readOnly: true
          type: string
        tenantCategory:
          description: >-
            The category of the tenant. Possible values are
            TenantCategoryHome,TenantCategoryProjectedBy,TenantCategoryManagedBy
          readOnly: true
          type: string
        tenantId:
          description: 'The tenant ID. For example, 00000000-0000-0000-0000-000000000000.'
          readOnly: true
          type: string
        tenantType:
          description: The tenant type. Only available for Home tenant category.
          readOnly: true
          type: string
      type: object
    TenantListResult:
      description: Tenant Ids information.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of tenants.
          items:
            $ref: '#/components/schemas/TenantIdDescription'
          type: array
      required:
        - nextLink
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

