{
  "openapi": "3.0.0",
  "info": {
    "title": "RecoveryServicesClient",
    "version": "2016-06-01",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/registeredidentities.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/certificates/{certificateName}": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/VaultName"
          },
          {
            "description": "Certificate friendly name.",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultCertificateResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "VaultCertificates"
        ],
        "deprecated": false,
        "description": "Uploads a certificate for a resource.",
        "operationId": "VaultCertificates_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateRequest"
              }
            }
          },
          "description": "Input parameters for uploading the vault certificate.",
          "required": true
        },
        "x-ms-examples": {
          "Download vault credential file": {
            "$ref": "./examples/PUTVaultCred.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/VaultName"
          },
          {
            "description": "Name of the protection container to unregister.",
            "in": "path",
            "name": "identityName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          }
        },
        "tags": [
          "RegisteredIdentities"
        ],
        "deprecated": false,
        "description": "Unregisters the given container from your Recovery Services vault.",
        "operationId": "RegisteredIdentities_Delete",
        "x-ms-examples": {
          "Delete registered Identity": {
            "$ref": "./examples/DeleteRegisteredIdentities.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersion": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupName": {
        "description": "The name of the resource group where the recovery services vault is present.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionId": {
        "description": "The subscription Id.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "VaultName": {
        "description": "The name of the recovery services vault.",
        "in": "path",
        "name": "vaultName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "CertificateRequest": {
        "description": "Details of the certificate to be uploaded to the vault.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RawCertificateData"
          }
        },
        "type": "object"
      },
      "RawCertificateData": {
        "description": "Raw certificate data.",
        "properties": {
          "authType": {
            "description": "Specifies the authentication type.",
            "enum": [
              "Invalid",
              "ACS",
              "AAD",
              "AccessControlService",
              "AzureActiveDirectory"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AuthType"
            }
          },
          "certificate": {
            "description": "The base64 encoded certificate raw data string",
            "format": "byte",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceCertificateAndAadDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceCertificateDetails"
          }
        ],
        "description": "Certificate details representing the Vault credentials for AAD.",
        "properties": {
          "aadAuthority": {
            "description": "AAD tenant authority.",
            "type": "string"
          },
          "aadTenantId": {
            "description": "AAD tenant Id.",
            "type": "string"
          },
          "azureManagementEndpointAudience": {
            "description": "Azure Management Endpoint Audience.",
            "type": "string"
          },
          "servicePrincipalClientId": {
            "description": "AAD service principal clientId.",
            "type": "string"
          },
          "servicePrincipalObjectId": {
            "description": "AAD service principal ObjectId.",
            "type": "string"
          }
        },
        "required": [
          "certificate",
          "resourceId",
          "aadAuthority",
          "aadTenantId",
          "servicePrincipalClientId",
          "servicePrincipalObjectId",
          "azureManagementEndpointAudience",
          "subject",
          "validFrom",
          "validTo",
          "thumbprint",
          "friendlyName",
          "issuer"
        ],
        "type": "object",
        "x-ms-discriminator-value": "AzureActiveDirectory"
      },
      "ResourceCertificateAndAcsDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceCertificateDetails"
          }
        ],
        "description": "Certificate details representing the Vault credentials for ACS.",
        "properties": {
          "globalAcsHostName": {
            "description": "Acs mgmt host name to connect to.",
            "type": "string"
          },
          "globalAcsNamespace": {
            "description": "ACS namespace name - tenant for our service.",
            "type": "string"
          },
          "globalAcsRPRealm": {
            "description": "Global ACS namespace RP realm.",
            "type": "string"
          }
        },
        "required": [
          "certificate",
          "resourceId",
          "globalAcsNamespace",
          "globalAcsHostName",
          "globalAcsRPRealm",
          "subject",
          "validFrom",
          "validTo",
          "thumbprint",
          "friendlyName",
          "issuer"
        ],
        "type": "object",
        "x-ms-discriminator-value": "AccessControlService"
      },
      "ResourceCertificateDetails": {
        "description": "Certificate details representing the Vault credentials.",
        "discriminator": {
          "propertyName": "authType"
        },
        "properties": {
          "authType": {
            "description": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "type": "string"
          },
          "certificate": {
            "description": "The base64 encoded certificate raw data string.",
            "format": "byte",
            "type": "string"
          },
          "friendlyName": {
            "description": "Certificate friendly name.",
            "type": "string"
          },
          "issuer": {
            "description": "Certificate issuer.",
            "type": "string"
          },
          "resourceId": {
            "description": "Resource ID of the vault.",
            "format": "int64",
            "type": "integer"
          },
          "subject": {
            "description": "Certificate Subject Name.",
            "type": "string"
          },
          "thumbprint": {
            "description": "Certificate thumbprint.",
            "type": "string"
          },
          "validFrom": {
            "description": "Certificate Validity start Date time.",
            "format": "date-time",
            "type": "string"
          },
          "validTo": {
            "description": "Certificate Validity End Date time.",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "authType"
        ],
        "type": "object"
      },
      "VaultCertificateResponse": {
        "description": "Certificate corresponding to a vault that can be used by clients to register themselves with the vault.",
        "properties": {
          "id": {
            "description": "Resource Id represents the complete path to the resource.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name associated with the resource.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ResourceCertificateDetails"
          },
          "type": {
            "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account."
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}