openapi: 3.0.0
info:
  description: ''
  title: ''
  version: '1.0'
servers:
  - url: 'https://data.import.io/'
paths:
  '/extractor/{extractorId}/csv/latest':
    get:
      parameters:
        - description: the id of the extractor to start get the latest crawl run data
          in: path
          name: extractorId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            text/csv:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        '401':
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/APIError'
          description: 'User doesn''t own this extractor, or doesn''t have a valid session.'
        '404':
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/APIError'
          description: 'Not found: Extractor has not been run.'
      security:
        - api_key: []
      tags:
        - data.import.io
      summary: Get the latest crawl run results as a csv
  '/extractor/{extractorId}/json/latest':
    get:
      parameters:
        - description: The id of the extractor to start get the latest crawl run data
          in: path
          name: extractorId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json; boundary=NL:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        '401':
          content:
            application/json; boundary=NL:
              schema:
                $ref: '#/components/schemas/APIError'
          description: 'User doesn''t own this extractor, or doesn''t have a valid session.'
        '404':
          content:
            application/json; boundary=NL:
              schema:
                $ref: '#/components/schemas/APIError'
          description: 'Not found: Extractor has not been run.'
      security:
        - api_key: []
      tags:
        - data.import.io
      summary: Get the latest crawl run results as json
components:
  schemas:
    APIError:
      properties:
        code:
          description: Internal error code
          format: int
          type: integer
        error:
          description: (deprecated) A message containing a brief description of the error
          type: string
        message:
          description: A message containing a brief description of the error
          type: string
      type: object
    CrawlRun:
      properties:
        extractorId:
          type: string
        failedUrlCount:
          format: int32
          type: integer
        guid:
          type: string
        rowCount:
          format: int32
          type: integer
        runtimeConfigId:
          type: string
        startedAt:
          format: int64
          type: integer
        state:
          type: string
        stoppedAt:
          format: int64
          type: integer
        successUrlCount:
          format: int32
          type: integer
        totalUrlCount:
          format: int32
          type: integer
        urlListId:
          type: string
      type: object
    Inputs:
      properties:
        Example Input:
          type: string
        _url:
          type: string
      type: object
    ObjectStoreSearchResult:
      properties:
        hits:
          properties:
            hits:
              items:
                properties:
                  _id:
                    type: string
                  _score:
                    type: integer
                  _type:
                    type: string
                  fields:
                    $ref: '#/components/schemas/CrawlRun'
                type: object
              type: array
            total:
              type: integer
          type: object
        timed_out:
          type: boolean
        took:
          type: integer
      type: object
    QueryResponse:
      properties:
        error:
          type: string
        exceptionType:
          type: string
        extractorData:
          type: object
        pageData:
          type: object
        runtimeConfigId:
          type: string
        sequenceNumber:
          format: int32
          type: integer
        timestamp:
          format: int64
          type: integer
        url:
          type: string
      type: object
    Report:
      properties:
        configId:
          type: string
        guid:
          type: string
        name:
          type: string
        published:
          type: boolean
        reportId:
          type: string
        status:
          type: string
        summary:
          type: object
        type:
          type: string
      type: object
    ReportRun:
      properties:
        autoPublish:
          type: boolean
        guid:
          type: string
        latestConfigId:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    Schedule:
      properties:
        extractorId:
          type: string
        interval:
          type: string
        intervalData:
          properties:
            minutes:
              type: string
            time:
              type: string
            type:
              type: string
          type: object
        nextRunAt:
          format: int64
          type: integer
        ownerId:
          type: string
        startTimestamp:
          format: int64
          type: integer
      type: object
    ScheduleRequest:
      properties:
        extractorId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
        interval:
          example: 15 * * * *
          type: string
        startTimestamp:
          example: 1485448509727
          format: int64
          type: integer
      type: object
  securitySchemes:
    api_key_:
      in": query
      name": _apikey
      type": apiKey
tags:
  - description: APIs that exist on the run.import.io endpoint
    name: run
  - description: APIs that exist on the data.import.io endpoint
    name: data
  - description: APIs that exist on the extraction.import.io endpoint
    name: extraction
  - description: APIs that exist on the rss.import.io endpoint
    name: rss
  - description: APIs that exist on the store.import.io endpoint
    name: store
  - description: APIs that exist on the schedule.import.io endpoint
    name: schedule
  - description: APIs that exist on the api.import.io endpoint
    name: api
  - name: run.import.io
  - name: data.import.io
  - name: extraction.import.io
  - name: rss.import.io
  - name: store.import.io
  - name: schedule.import.io
  - name: api.import.io

