openapi: 3.0.0
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}/volumes':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: StorageSystem.json#/components/parameters/StorageSubSystemParameter
        - $ref: StoragePool.json#/components/parameters/StoragePoolParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - Volumes
      description: Returns a list of all storage volumes at a location.
      operationId: Volumes_List
      x-ms-examples:
        Returns a list of all storage volumes at a location.:
          $ref: ./examples/Volume/List.json
      x-ms-odata: '#/components/schemas/Volume'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}/volumes/{volume}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: StorageSystem.json#/components/parameters/StorageSubSystemParameter
        - $ref: StoragePool.json#/components/parameters/StoragePoolParameter
        - $ref: '#/components/parameters/VolumeParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - Volumes
      description: Return the requested a storage volume.
      operationId: Volumes_Get
      x-ms-examples:
        Return the requested a storage volume.:
          $ref: ./examples/Volume/Get.json
components:
  parameters:
    VolumeParameter:
      description: Name of the storage volume.
      in: path
      name: volume
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Volume:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: Representation of a volume resource.
      properties:
        properties:
          $ref: '#/components/schemas/VolumeModel'
          description: Properties of a volume.
          x-ms-client-flatten: true
      type: object
    VolumeList:
      description: Pageable list of storage volumes.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage volumes.
          items:
            $ref: '#/components/schemas/Volume'
          type: array
      type: object
    VolumeModel:
      description: Properties of a volume.
      properties:
        fileSystem:
          description: Filesystem type.
          type: string
        remainingSizeGB:
          description: Amount of free space in GB.
          format: int32
          type: integer
        sizeGB:
          description: Total amount of space in GB.
          format: int32
          type: integer
        volumeLabel:
          description: Volume label.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

