{
  "openapi": "3.0.0",
  "info": {
    "description": "The Computer Vision API provides state-of-the-art algorithms to process images and return information. For example, it can be used to determine if an image contains mature content, or it can be used to find all the faces in an image.  It also has other features like estimating dominant and accent colors, categorizing the content of images, and describing an image with complete English sentences.  Additionally, it can also intelligently generate images thumbnails for displaying large images effectively.",
    "title": "Computer Vision Client",
    "version": "2.1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/ComputerVision/stable/v2.1/Ocr.json"
  },
  "servers": [
    {
      "url": "https://westcentralus.api.cognitive.microsoft.com/vision/v2.1"
    },
    {
      "url": "{Endpoint}",
      "variables": {
        "Endpoint": {
          "description": "Supported Cognitive Services endpoints.",
          "x-ms-parameter-location": "client",
          "x-ms-skip-url-encoding": true
        }
      }
    }
  ],
  "paths": {
    "/read/core/asyncBatchAnalyze": {
      "post": {
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerVisionError"
                }
              }
            },
            "description": "Error response."
          }
        },
        "description": "Use this interface to get the result of a Read operation, employing the state-of-the-art Optical Character Recognition (OCR) algorithms optimized for text-heavy documents. When you use the Read File interface, the response contains a field called 'Operation-Location'. The 'Operation-Location' field contains the URL that you must use for your 'GetReadOperationResult' operation to access OCR results.\u200b",
        "operationId": "BatchReadFile",
        "requestBody": {
          "$ref": "#/components/requestBodies/ImageUrl"
        },
        "x-ms-examples": {
          "Successful Batch Read File request": {
            "$ref": "./examples/SuccessfulBatchReadFileWithUrl.json"
          }
        }
      }
    },
    "/read/operations/{operationId}": {
      "get": {
        "parameters": [
          {
            "description": "Id of read operation returned in the response of the 'Batch Read File' interface.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadOperationResult"
                }
              }
            },
            "description": "Returns the read operation status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerVisionError"
                }
              }
            },
            "description": "Error response."
          }
        },
        "description": "This interface is used for getting OCR results of Read operation. The URL to this interface should be retrieved from 'Operation-Location' field returned from Batch Read File interface.",
        "operationId": "GetReadOperationResult",
        "x-ms-examples": {
          "Successful Get Read Operation Result request": {
            "$ref": "./examples/SuccessfulGetReadOperationResult.json"
          }
        }
      }
    },
    "/recognizeText": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/TextRecognitionMode"
          }
        ],
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later. It will return Accepted immediately and include an 'Operation-Location' header. Client side should further query the operation status using the URL specified in this header. The operation ID will expire in 48 hours.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerVisionError"
                }
              }
            },
            "description": "Error response."
          }
        },
        "description": "Recognize Text operation. When you use the Recognize Text interface, the response contains a field called 'Operation-Location'. The 'Operation-Location' field contains the URL that you must use for your Get Recognize Text Operation Result operation.",
        "operationId": "RecognizeText",
        "requestBody": {
          "$ref": "#/components/requestBodies/ImageUrl"
        },
        "x-ms-examples": {
          "Successful Recognize Text request": {
            "$ref": "./examples/SuccessfulRecognizeTextWithUrl.json"
          }
        }
      }
    },
    "/textOperations/{operationId}": {
      "get": {
        "parameters": [
          {
            "description": "Id of the text operation returned in the response of the 'Recognize Text'",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextOperationResult"
                }
              }
            },
            "description": "Returns the operation status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerVisionError"
                }
              }
            },
            "description": "Error response."
          }
        },
        "description": "This interface is used for getting text operation result. The URL to this interface should be retrieved from 'Operation-Location' field returned from Recognize Text interface.",
        "operationId": "GetTextOperationResult",
        "x-ms-examples": {
          "Successful Get Text Operation Result request": {
            "$ref": "./examples/SuccessfulGetTextOperationResult.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Endpoint": {
        "description": "Supported Cognitive Services endpoints.",
        "x-ms-parameter-location": "client",
        "x-ms-skip-url-encoding": true
      },
      "TextRecognitionMode": {
        "description": "Type of text to recognize.",
        "in": "query",
        "name": "mode",
        "required": true,
        "schema": {
          "enum": [
            "Handwritten",
            "Printed"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": false,
          "name": "TextRecognitionMode"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "ImageUrl": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImageUrl"
            }
          }
        },
        "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
        "required": true
      },
      "RecognizeTextInStreamImage": {
        "content": {
          "application/octet-stream": {
            "schema": {
              "format": "file",
              "type": "object"
            }
          }
        },
        "description": "An image stream.",
        "required": true
      }
    },
    "schemas": {
      "BoundingBox": {
        "description": "Quadrangle bounding box, with coordinates in original image. The eight numbers represent the four points (x-coordinate, y-coordinate from the left-top corner of the image) of the detected rectangle from the left-top corner in the clockwise direction. For images, coordinates are in pixels. For PDF, coordinates are in inches.",
        "items": {
          "nullable": false,
          "type": "number"
        },
        "type": "array"
      },
      "ComputerVisionError": {
        "description": "Details about the API request error.",
        "properties": {
          "code": {
            "description": "The error code.",
            "enum": [
              "InvalidImageFormat",
              "UnsupportedMediaType",
              "InvalidImageUrl",
              "NotSupportedFeature",
              "NotSupportedImage",
              "Timeout",
              "InternalServerError",
              "InvalidImageSize",
              "BadArgument",
              "DetectFaceError",
              "NotSupportedLanguage",
              "InvalidThumbnailSize",
              "InvalidDetails",
              "InvalidModel",
              "CancelledRequest",
              "NotSupportedVisualFeature",
              "FailedToProcess",
              "Unspecified",
              "StorageException"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ComputerVisionErrorCodes"
            }
          },
          "message": {
            "description": "A message explaining the error reported by the service.",
            "type": "string"
          },
          "requestId": {
            "description": "A unique request identifier.",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "ImageUrl": {
        "properties": {
          "url": {
            "description": "Publicly reachable URL of an image.",
            "type": "string"
          }
        },
        "required": [
          "url"
        ],
        "type": "object"
      },
      "Line": {
        "description": "An object representing a recognized text line.",
        "properties": {
          "boundingBox": {
            "$ref": "#/components/schemas/BoundingBox",
            "description": "Bounding box of a recognized line."
          },
          "text": {
            "description": "The text content of the line.",
            "type": "string"
          },
          "words": {
            "description": "List of words in the text line.",
            "items": {
              "$ref": "#/components/schemas/Word"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OperationStatus": {
        "description": "Status code of the text operation.",
        "enum": [
          "NotStarted",
          "Running",
          "Failed",
          "Succeeded"
        ],
        "nullable": false,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "TextOperationStatusCodes"
        }
      },
      "ReadOperationResult": {
        "description": "OCR result of the read operation.",
        "properties": {
          "recognitionResults": {
            "description": "An array of text recognition result of the read operation.",
            "items": {
              "$ref": "#/components/schemas/TextRecognitionResult"
            },
            "type": "array"
          },
          "status": {
            "$ref": "#/components/schemas/OperationStatus",
            "description": "Status of the read operation."
          }
        },
        "type": "object"
      },
      "TextOperationResult": {
        "description": "Result of recognition text operation.",
        "properties": {
          "recognitionResult": {
            "$ref": "#/components/schemas/TextRecognitionResult",
            "description": "Text recognition result of the text operation."
          },
          "status": {
            "$ref": "#/components/schemas/OperationStatus",
            "description": "Status of the text operation."
          }
        },
        "type": "object"
      },
      "TextRecognitionResult": {
        "description": "An object representing a recognized text region",
        "properties": {
          "clockwiseOrientation": {
            "description": "The orientation of the image in degrees in the clockwise direction. Range between [0, 360).",
            "type": "number"
          },
          "height": {
            "description": "The height of the image in pixels or the PDF in inches.",
            "type": "number"
          },
          "lines": {
            "description": "A list of recognized text lines.",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "type": "array"
          },
          "page": {
            "description": "The 1-based page number of the recognition result.",
            "type": "integer"
          },
          "unit": {
            "description": "The unit used in the Width, Height and BoundingBox. For images, the unit is 'pixel'. For PDF, the unit is 'inch'.",
            "enum": [
              "pixel",
              "inch"
            ],
            "nullable": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "TextRecognitionResultDimensionUnit"
            }
          },
          "width": {
            "description": "The width of the image in pixels or the PDF in inches.",
            "type": "number"
          }
        },
        "required": [
          "lines"
        ],
        "type": "object"
      },
      "Word": {
        "description": "An object representing a recognized word.",
        "properties": {
          "boundingBox": {
            "$ref": "#/components/schemas/BoundingBox",
            "description": "Bounding box of a recognized word."
          },
          "confidence": {
            "description": "Qualitative confidence measure.",
            "enum": [
              "High",
              "Low"
            ],
            "nullable": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "TextRecognitionResultConfidenceClass"
            }
          },
          "text": {
            "description": "The text content of the word.",
            "type": "string"
          }
        },
        "required": [
          "boundingBox",
          "text"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "apim_key": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "apim_key": []
    }
  ],
  "x-ms-paths": {
    "/read/core/asyncBatchAnalyze?overload=stream": {
      "post": {
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerVisionError"
                }
              }
            },
            "description": "Error response."
          }
        },
        "description": "Use this interface to get the result of a Read Document operation, employing the state-of-the-art Optical Character Recognition (OCR) algorithms optimized for text-heavy documents. When you use the Read Document interface, the response contains a field called 'Operation-Location'. The 'Operation-Location' field contains the URL that you must use for your 'Get Read Result operation' to access OCR results.\u200b",
        "operationId": "BatchReadFileInStream",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "file",
                "type": "object"
              }
            }
          },
          "description": "An image stream.",
          "required": true
        },
        "x-ms-examples": {
          "Successful Batch Read File request": {
            "$ref": "./examples/SuccessfulBatchReadFileWithStream.json"
          }
        }
      }
    },
    "/recognizeText?overload=stream": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/TextRecognitionMode"
          }
        ],
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerVisionError"
                }
              }
            },
            "description": "Error response."
          }
        },
        "description": "Recognize Text operation. When you use the Recognize Text interface, the response contains a field called 'Operation-Location'. The 'Operation-Location' field contains the URL that you must use for your Get Recognize Text Operation Result operation.",
        "operationId": "RecognizeTextInStream",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "file",
                "type": "object"
              }
            }
          },
          "description": "An image stream.",
          "required": true
        },
        "x-ms-examples": {
          "Successful Recognize Text request": {
            "$ref": "./examples/SuccessfulRecognizeTextWithStream.json"
          }
        }
      }
    }
  }
}