{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/OfferDelegation.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations": {
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/OfferParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDelegationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "description": "Get the list of offer delegations.",
        "operationId": "OfferDelegations_List",
        "x-ms-examples": {
          "Get the list of offer delegations.": {
            "$ref": "./examples/OfferDelegation/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations/{offerDelegationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/OfferParameter"
          },
          {
            "$ref": "#/components/parameters/OfferDelegationParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "description": "Delete the specified offer delegation.",
        "operationId": "OfferDelegations_Delete",
        "x-ms-examples": {
          "Delete the specified offer delegation.": {
            "$ref": "./examples/OfferDelegation/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/OfferParameter"
          },
          {
            "$ref": "#/components/parameters/OfferDelegationParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDelegation"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "description": "Get the specified offer delegation.",
        "operationId": "OfferDelegations_Get",
        "x-ms-examples": {
          "Get the specified offer delegation.": {
            "$ref": "./examples/OfferDelegation/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/OfferParameter"
          },
          {
            "$ref": "#/components/parameters/OfferDelegationParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDelegation"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDelegation"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "description": "Create or update the offer delegation.",
        "operationId": "OfferDelegations_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferDelegation"
              }
            }
          },
          "description": "New offer delegation parameter.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update the offer delegation.": {
            "$ref": "./examples/OfferDelegation/Create.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OfferDelegationParameter": {
        "description": "Name of a offer delegation.",
        "in": "path",
        "name": "offerDelegationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "OfferDelegation": {
        "allOf": [
          {
            "$ref": "Subscriptions.json#/definitions/Resource"
          }
        ],
        "description": "Offer delegation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/OfferDelegationProperties",
            "description": "Properties for an offer.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OfferDelegationList": {
        "description": ".",
        "properties": {
          "nextLink": {
            "description": "Continuation token",
            "type": "string"
          },
          "value": {
            "description": "Array of usage aggregates.",
            "items": {
              "$ref": "#/components/schemas/OfferDelegation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OfferDelegationProperties": {
        "description": "Properties for an offer delegation.",
        "properties": {
          "subscriptionId": {
            "description": "Identifier of the subscription receiving the delegated offer.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}