openapi: 3.0.1
info:
  title: Trivia API
  description: >
    Get random trivia from thousands of categories. [Click here to subscribe](http://fungenerators.com/products/documentation/trivia)
  version: "1.5"
servers:
- url: https://api.fungenerators.com/
- url: http://api.fungenerators.com/
tags:
- name: Trivia
  description: Trivia API
  externalDocs:
    description: Find out more
    url: http://fungenerators.com/products/documentation/trivia
paths:
  /trivia:
    get:
      tags:
      - Trivia
      description: Get a Trivia entry for a given id. Retrieves a trivia question
        and answer based on the id.
      parameters:
      - name: id
        in: query
        description: ID of the trivia to fetch
        schema:
          type: string
          format: string
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": [
                        {
                            "id": "VO_foToeaTPvaDn_utYcOweF",
                            "question": "What is the unit of currency in the United States of America",
                            "category": "usa",
                            "category_name": "USA",
                            "answer": [
                                "Dollar"
                            ]
                        }
                    ]
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
      security:
      - X-Fungenerators-Api-Secret: []
    put:
      tags:
      - Trivia
      description: Create a random Trivia entry.
      parameters:
      - name: question
        in: query
        description: Trivia Question
        required: true
        schema:
          type: string
          format: string
      - name: category
        in: query
        description: Category of the trivia
        required: true
        schema:
          type: string
          format: string
      - name: answer
        in: query
        description: Answer(s) to the trivia question
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": {
                        "id": "62D6iKM9GSlJxK5nrMf9XwrE"
                    }
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
      security:
      - X-Fungenerators-Api-Secret: []
    delete:
      tags:
      - Trivia
      description: Create a random Trivia entry.
      parameters:
      - name: id
        in: query
        description: Trivia ID
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": {
                        "mesg": "Trivia 62D6iKM9GSlJxK5nrMf9XwrE is deleted"
                    }
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
      security:
      - X-Fungenerators-Api-Secret: []
  /trivia/random:
    get:
      tags:
      - Trivia
      description: Get a random trivia for a given category(optional)
      parameters:
      - name: category
        in: query
        description: Category to get the trivia from
        schema:
          type: string
          format: string
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": [
                    {
                      "id": "YYUsmCE2ztoACb_smt0PrgeF",
                      "question": "Which country won the World Cup of Soccer in 1982",
                      "category": "sports",
                      "category_name": "Sports",
                      "answer": [
                        "Italy"
                      ]
                    }
                  ]
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}                    "
      security:
      - X-Fungenerators-Api-Secret: []
  /trivia/search:
    get:
      tags:
      - Trivia
      description: "Search for random trivia which has the text in the query, for\
        \ a given category(optional)."
      parameters:
      - name: query
        in: query
        description: Text to search for in the trivia
        schema:
          type: string
          format: string
      - name: category
        in: query
        description: Category to get the trivia from
        schema:
          type: string
          format: string
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "trivia": "What natural hydrocarbon polymer comes from the hevea brasiliensis tree",
                    "id": "DFoazRj5O7x8PAVib9wROweF",
                    "category": "Whatnot",
                    "subcategory": null
                  }
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}                                   "
      security:
      - X-Fungenerators-Api-Secret: []
  /trivia/categories:
    get:
      tags:
      - Trivia
      description: Get a random Trivia.
      parameters:
      - name: start
        in: query
        description: start
        schema:
          type: integer
          format: integer
      responses:
        "200":
          description: 200  response
          content:
            application/json:
              example: |-
                {
                    "success": {
                        "total": 1
                    },
                    "contents": [
                        {
                            "id": "VO_foToeaTPvaDn_utYcOweF",
                            "question": "What is the unit of currency in the United States of America",
                            "category": "usa",
                            "category_name": "USA",
                            "answer": [
                                "Dollar"
                            ]
                        }
                    ]
                }
        "401":
          description: 401  response
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
      security:
      - X-Fungenerators-Api-Secret: []
components:
  securitySchemes:
    X-Fungenerators-Api-Secret:
      type: apiKey
      name: X-Fungenerators-Api-Secret
      in: header

