{
  "openapi": "3.0.0",
  "info": {
    "description": "Resource health operation endpoints and objects.",
    "title": "InfrastructureInsightsManagementClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/infrastructureinsights/Microsoft.InfrastructureInsights.Admin/preview/2016-05-01/ResourceHealth.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths": {
      "get": {
        "parameters": [
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ServiceRegistrationIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Resources"
        ],
        "description": "Returns a list of each resource's health under a service.",
        "operationId": "ResourceHealths_List",
        "x-ms-examples": {
          "Returns a list of each resource's health under a service.": {
            "$ref": "./examples/ResourceHealth/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/ResourceHealth",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths/{resourceRegistrationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ServiceRegistrationIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceRegistrationIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealth"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Resources"
        ],
        "description": "Returns the requested health information about a resource.",
        "operationId": "ResourceHealths_Get",
        "x-ms-examples": {
          "Returns the requested health information about a resource.": {
            "$ref": "./examples/ResourceHealth/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResourceHealth": {
        "allOf": [
          {
            "$ref": "InfrastructureInsights.json#/definitions/TrackedResource"
          }
        ],
        "description": "Health information related to a resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ResourceHealthModel",
            "description": "Health information related to a resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ResourceHealthList": {
        "description": "Pageable list of resource health objects.",
        "properties": {
          "nextLink": {
            "description": "URI to next page.",
            "type": "string"
          },
          "value": {
            "description": "List of resource health objects.",
            "items": {
              "$ref": "#/components/schemas/ResourceHealth"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResourceHealthModel": {
        "allOf": [
          {
            "$ref": "InfrastructureInsights.json#/definitions/BaseHealth"
          }
        ],
        "description": "Health information related to a resource.",
        "properties": {
          "resourceDisplayName": {
            "description": "Resource display name.",
            "type": "string"
          },
          "resourceLocation": {
            "description": "Resource location.",
            "type": "string"
          },
          "resourceName": {
            "description": "Resource name.",
            "type": "string"
          },
          "resourceType": {
            "description": "Resource type.",
            "type": "string"
          },
          "resourceURI": {
            "description": "Gets or sets the resource URI.",
            "type": "string"
          },
          "rpRegistrationId": {
            "description": "Gets or sets the resource provider registration ID.",
            "type": "string"
          },
          "usageMetrics": {
            "description": "Usage metrics.",
            "items": {
              "$ref": "InfrastructureInsights.json#/definitions/UsageMetrics"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}