{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "aiapi@microsoft.com",
      "name": "AIAPI Team",
      "url": "https://dev.loganalytics.io/support"
    },
    "description": "This API exposes Azure Log Analytics query capabilities",
    "license": {
      "name": "Microsoft",
      "url": "https://dev.loganalytics.io/license"
    },
    "termsOfService": "https://dev.loganalytics.io/tos",
    "title": "Azure Log Analytics",
    "version": "2017-10-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2017-10-01/swagger.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/metadata": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/workspaceName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadataResults"
                }
              }
            },
            "description": "OK. The API call succeeded and the metadata result is in the response payload"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "An error response object."
          }
        },
        "description": "Retrieve the metadata information for the workspace, including its schema, functions, workspace info, categories etc.",
        "operationId": "Metadata_Get",
        "summary": "Gets metadata information",
        "x-ms-examples": {
          "metadataGet": {
            "$ref": "examples/metadata-get.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/workspaceName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadataResults"
                }
              }
            },
            "description": "OK. The API call succeeded and the metadata result is in the response payload"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "An error response object."
          }
        },
        "description": "Retrieve the metadata information for the workspace, including its schema, functions, workspace info, categories etc.",
        "operationId": "Metadata_Post",
        "summary": "Gets metadata information",
        "x-ms-examples": {
          "metadataPost": {
            "$ref": "examples/metadata-post.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/query": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/workspaceName"
          },
          {
            "$ref": "#/components/parameters/queryParam"
          },
          {
            "$ref": "#/components/parameters/timespanParam"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queryResults"
                }
              }
            },
            "description": "OK. The API call succeeded and the Analytics query result is in the response payload"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "An error response object."
          }
        },
        "description": "Executes an Analytics query for data",
        "operationId": "Query_Get",
        "summary": "Execute an Analytics query",
        "x-ms-examples": {
          "cross-workspace": {
            "$ref": "examples/oms-get-cross-workspace-example.json"
          },
          "simple-query": {
            "$ref": "examples/oms-get-example.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/workspaceName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queryResults"
                }
              }
            },
            "description": "OK. The API call succeeded and the Analytics query result is in the response payload"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "An error response object."
          }
        },
        "description": "Executes an Analytics query for data. [Here](https://dev.loganalytics.io/documentation/Using-the-API) is an example for using POST with an Analytics query.",
        "operationId": "Query_Execute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/queryBody"
              }
            }
          },
          "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
          "required": true
        },
        "summary": "Execute an Analytics query",
        "x-ms-examples": {
          "cross-workspace": {
            "$ref": "examples/oms-post-cross-workspace-example.json"
          },
          "simple-query": {
            "$ref": "examples/oms-post-example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersion": {
        "description": "Client API version.",
        "in": "query",
        "name": "apiVersion",
        "required": true,
        "schema": {
          "default": "2017-10-01",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "queryParam": {
        "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
        "in": "query",
        "name": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceGroupName": {
        "description": "The name of the resource group to get. The name is case insensitive.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionId": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "timespanParam": {
        "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
        "in": "query",
        "name": "timespan",
        "required": false,
        "schema": {
          "format": "duration",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "workspaceName": {
        "description": "Name of the Log Analytics workspace.",
        "in": "path",
        "name": "workspaceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "tags": {
        "description": "String-based key-value tags",
        "type": "object"
      },
      "column": {
        "description": "A column in a table.",
        "properties": {
          "name": {
            "description": "The name of this column.",
            "type": "string"
          },
          "type": {
            "description": "The data type of this column.",
            "type": "string"
          }
        },
        "title": "A table column.",
        "type": "object"
      },
      "errorDetail": {
        "properties": {
          "additionalProperties": {
            "description": "Additional properties that can be provided on the error details object",
            "type": "object"
          },
          "code": {
            "description": "The error's code.",
            "type": "string"
          },
          "message": {
            "description": "A human readable error message.",
            "type": "string"
          },
          "resources": {
            "description": "Indicates resources which were responsible for the error.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "target": {
            "description": "Indicates which property in the request is responsible for the error.",
            "type": "string"
          },
          "value": {
            "description": "Indicates which value in 'target' is responsible for the error.",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "title": "Error details.",
        "type": "object"
      },
      "errorInfo": {
        "properties": {
          "additionalProperties": {
            "description": "Additional properties that can be provided on the error info object",
            "type": "object"
          },
          "code": {
            "description": "A machine readable error code.",
            "type": "string"
          },
          "details": {
            "description": "error details.",
            "items": {
              "$ref": "#/components/schemas/errorDetail"
            },
            "type": "array"
          },
          "innererror": {
            "$ref": "#/components/schemas/errorInfo",
            "description": "Inner error details if they exist."
          },
          "message": {
            "description": "A human readable error message.",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "title": "The code and message for an error.",
        "type": "object"
      },
      "errorResponse": {
        "description": "Contains details when the response code indicates an error.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/errorInfo",
            "description": "The error details."
          }
        },
        "required": [
          "error"
        ],
        "title": "Error details.",
        "type": "object"
      },
      "metadataApplication": {
        "description": "Application Insights apps that were part of the metadata request and that the user has access to.",
        "properties": {
          "id": {
            "description": "The ID of the Application Insights app.",
            "type": "string"
          },
          "name": {
            "description": "The name of the Application Insights app.",
            "type": "string"
          },
          "region": {
            "description": "The Azure region of the Application Insights app.",
            "type": "string"
          },
          "related": {
            "description": "The related metadata items for the Application Insights app.",
            "properties": {
              "functions": {
                "description": "The related functions for the Application Insights app.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The related tables for the Application Insights app.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "resourceId": {
            "description": "The ARM resource ID of the Application Insights app.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "resourceId",
          "name",
          "region"
        ],
        "title": "An Application Insights application.",
        "type": "object"
      },
      "metadataCategory": {
        "description": "Categories are used to group other metadata entities.",
        "properties": {
          "description": {
            "description": "The description of the category",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the category",
            "type": "string"
          },
          "id": {
            "description": "The ID of the category",
            "type": "string"
          },
          "related": {
            "description": "The related metadata items for the category",
            "properties": {
              "functions": {
                "description": "The functions related to the category",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "queries": {
                "description": "The saved queries related to the category",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resourceTypes": {
                "description": "The resource types related to the category",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "solutions": {
                "description": "The Log Analytics solutions related to the category",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The tables related to the category",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "id",
          "displayName"
        ],
        "title": "A metadata category.",
        "type": "object"
      },
      "metadataFunction": {
        "description": "Functions are stored Kusto queries that can be specified as part of queries by using their name.",
        "properties": {
          "parameters": {
            "description": "The parameters/arguments of the function, if any.",
            "type": "string"
          },
          "tags": {
            "$ref": "#/components/schemas/tags",
            "description": "The tags associated with the function."
          },
          "body": {
            "description": "The KQL body of the function.",
            "type": "string"
          },
          "description": {
            "description": "The description of the function.",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the function.",
            "type": "string"
          },
          "id": {
            "description": "The ID of the function.",
            "type": "string"
          },
          "name": {
            "description": "The name of the function, to be used in queries.",
            "type": "string"
          },
          "properties": {
            "description": "The properties of the function.",
            "type": "object"
          },
          "related": {
            "description": "The related metadata items for the function.",
            "properties": {
              "categories": {
                "description": "The related categories for the function.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resourceTypes": {
                "description": "The related resource types for the function.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "solutions": {
                "description": "The related Log Analytics solutions for the function.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The related tables for the function.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "workspaces": {
                "description": "The related workspaces for the function.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "body"
        ],
        "title": "A stored function.",
        "type": "object"
      },
      "metadataPermissions": {
        "description": "Permission information for the metadata call, includes apps/workspaces/resource the user didn't have access to.",
        "properties": {
          "applications": {
            "description": "The permission indication for the Application Insights apps on the metadata request.",
            "items": {
              "properties": {
                "resourceId": {
                  "description": "The resource ID on the permission indication.",
                  "type": "string"
                }
              },
              "required": [
                "resourceId"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "resources": {
            "description": "The permission indication for the Azure resources on the metadata request.",
            "items": {
              "properties": {
                "denyTables": {
                  "description": "The list of tables that were denied access for the resource ID.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "resourceId": {
                  "description": "The resource ID on the permission indication.",
                  "type": "string"
                }
              },
              "required": [
                "resourceId"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "workspaces": {
            "description": "The permission indication for the workspaces on the metadata request.",
            "items": {
              "properties": {
                "denyTables": {
                  "description": "The list of tables that were denied access for the resource ID.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "resourceId": {
                  "description": "The resource ID on the permission indication.",
                  "type": "string"
                }
              },
              "required": [
                "resourceId"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "workspaces"
        ],
        "title": "Permission information.",
        "type": "object"
      },
      "metadataQuery": {
        "description": "Queries are stored pieces of KQL, along with a list of relevant metadata items.",
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/tags",
            "description": "The tags associated with the query."
          },
          "body": {
            "description": "The KQL body of the query.",
            "type": "string"
          },
          "description": {
            "description": "The description of the query.",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the query.",
            "type": "string"
          },
          "id": {
            "description": "The ID of the query.",
            "type": "string"
          },
          "labels": {
            "description": "The user defined labels associated with the query.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "properties": {
            "description": "The properties of the query.",
            "type": "object"
          },
          "related": {
            "description": "The related metadata items for the query.",
            "properties": {
              "categories": {
                "description": "The related categories for the query.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resourceTypes": {
                "description": "The related resource types for the query.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "solutions": {
                "description": "The related Log Analytics solutions for the query.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The related tables for the query.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "id",
          "body"
        ],
        "title": "A stored query.",
        "type": "object"
      },
      "metadataResource": {
        "description": "Azure resources that were part of the metadata request and that the user has access to.",
        "title": "An Azure resource."
      },
      "metadataResourceType": {
        "description": "Metadata about types of Azure resources, containing relevant tables, functions, etc.",
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/tags",
            "description": "The tags associated with the resource-type"
          },
          "description": {
            "description": "The description of the resource-type",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the resource-type",
            "type": "string"
          },
          "id": {
            "description": "The ID of the resource-type",
            "type": "string"
          },
          "labels": {
            "description": "The user-defined labels of the resource-type",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "properties": {
            "description": "The properties of the resource-type",
            "type": "object"
          },
          "related": {
            "description": "The related metadata items for the resource-type",
            "properties": {
              "categories": {
                "description": "The categories related to the resource-type",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "functions": {
                "description": "The functions related to the resource-type",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "queries": {
                "description": "The queries related to the resource-type",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resources": {
                "description": "The Azure resources related to the resource-type",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The tables related to the resource-type",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "workspaces": {
                "description": "The Log Analytics workspaces related to the resource-type",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "type": {
            "description": "The type of the resource-type",
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "title": "A type of resource in Azure.",
        "type": "object"
      },
      "metadataResults": {
        "description": "The metadata response for the app, including available tables, etc.",
        "properties": {
          "applications": {
            "description": "The list of Application Insights apps that were referenced in the metadata request.",
            "items": {
              "$ref": "#/components/schemas/metadataApplication"
            },
            "type": "array",
            "uniqueItems": true
          },
          "categories": {
            "description": "The list of categories that are referenced in this metadata response.",
            "items": {
              "$ref": "#/components/schemas/metadataCategory"
            },
            "type": "array",
            "uniqueItems": true
          },
          "functions": {
            "description": "The list of functions stored on the workspace, or introduced by solutions etc.",
            "items": {
              "$ref": "#/components/schemas/metadataFunction"
            },
            "type": "array",
            "uniqueItems": true
          },
          "permissions": {
            "description": "The list of permission rules that affected the metadata request.",
            "items": {
              "$ref": "#/components/schemas/metadataPermissions"
            },
            "type": "array",
            "uniqueItems": true
          },
          "queries": {
            "description": "The list of saved queries stored on the workspace, or introduced by solutions, resource types, etc.",
            "items": {
              "$ref": "#/components/schemas/metadataQuery"
            },
            "type": "array",
            "uniqueItems": true
          },
          "resourceTypes": {
            "description": "The list of resource types that are referenced in this metadata response.",
            "items": {
              "$ref": "#/components/schemas/metadataResourceType"
            },
            "type": "array",
            "uniqueItems": true
          },
          "resources": {
            "description": "The list of Azure resources that were referenced in the metadata request.",
            "items": {
              "$ref": "#/components/schemas/metadataResource"
            },
            "type": "array",
            "uniqueItems": true
          },
          "solutions": {
            "description": "The list of Log Analytics solutions installed on the workspace.",
            "items": {
              "$ref": "#/components/schemas/metadataSolution"
            },
            "type": "array",
            "uniqueItems": true
          },
          "tables": {
            "description": "The list of tables and columns that comprise the schema of the workspace.",
            "items": {
              "$ref": "#/components/schemas/metadataTable"
            },
            "type": "array",
            "uniqueItems": true
          },
          "workspaces": {
            "description": "The list of Log Analytics workspaces that were referenced in the metadata request.",
            "items": {
              "$ref": "#/components/schemas/metadataWorkspace"
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "title": "A metadata response.",
        "type": "object"
      },
      "metadataSolution": {
        "description": "Solutions can group tables and functions that are associated with a certain Azure Log Analytics offering.",
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/tags",
            "description": "The tags that are associated with the Log Analytics solution"
          },
          "description": {
            "description": "The description of the Log Analytics solution",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the Log Analytics solution",
            "type": "string"
          },
          "id": {
            "description": "The ID of the Log Analytics solution",
            "type": "string"
          },
          "name": {
            "description": "The name of the Log Analytics solution",
            "type": "string"
          },
          "properties": {
            "description": "The properties of the Log Analytics solution",
            "type": "object"
          },
          "related": {
            "description": "The related metadata items for the Log Analytics solution",
            "properties": {
              "categories": {
                "description": "The categories related to the Log Analytics solution",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "functions": {
                "description": "The functions related to the Log Analytics solution",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "queries": {
                "description": "The saved queries related to the Log Analytics solution",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The tables related to the Log Analytics solution",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "workspaces": {
                "description": "The Workspaces referenced in the metadata request that are related to the Log Analytics solution",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "required": [
              "tables"
            ],
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "related"
        ],
        "title": "A Log Analytics solution.",
        "type": "object"
      },
      "metadataTable": {
        "description": "Tables are part of the workspace schema, and contain a list of columns and a reference to other relevant metadata items.",
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/tags",
            "description": "The tags associated with the table"
          },
          "columns": {
            "description": "The list of columns defined on the table",
            "items": {
              "properties": {
                "description": {
                  "description": "The description of the column",
                  "type": "string"
                },
                "isPreferredFacet": {
                  "description": "A flag indicating this column is a preferred facet",
                  "type": "boolean"
                },
                "name": {
                  "description": "The name of the column",
                  "type": "string"
                },
                "source": {
                  "description": "an indication of the source of the column, used only when multiple workspaces have conflicting definition for the column",
                  "type": "object"
                },
                "type": {
                  "description": "The data type of the column",
                  "enum": [
                    "bool",
                    "datetime",
                    "dynamic",
                    "int",
                    "long",
                    "real",
                    "string"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": true,
                    "name": "MetadataColumnDataType"
                  }
                }
              },
              "required": [
                "name",
                "type"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "description": {
            "description": "The description of the table",
            "type": "string"
          },
          "id": {
            "description": "The ID of the table",
            "type": "string"
          },
          "labels": {
            "description": "The user defined labels of the table",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "The name of the table",
            "type": "string"
          },
          "properties": {
            "description": "The properties of the table",
            "type": "object"
          },
          "related": {
            "description": "The related metadata items for the table",
            "properties": {
              "categories": {
                "description": "The related categories for the table",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "functions": {
                "description": "The related functions for the table",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "queries": {
                "description": "The related saved queries for the table",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resourceTypes": {
                "description": "The related resource types for the table",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "solutions": {
                "description": "The related Log Analytics solutions for the table",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "workspaces": {
                "description": "The related Log Analytics workspaces for the table",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "timespanColumn": {
            "description": "The column associated with the timespan query parameter for the table",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "title": "A data table that takes part in a workspace schema.",
        "type": "object"
      },
      "metadataWorkspace": {
        "description": "Log Analytics workspaces that were part of the metadata request and that the user has access to.",
        "properties": {
          "id": {
            "description": "The ID of the Log Analytics workspace.",
            "type": "string"
          },
          "name": {
            "description": "The name of the Log Analytics workspace.",
            "type": "string"
          },
          "region": {
            "description": "The Azure region of the Log Analytics workspace.",
            "type": "string"
          },
          "related": {
            "description": "The related metadata items for the Log Analytics workspace.",
            "properties": {
              "functions": {
                "description": "The related functions for the Log Analytics workspace.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resourceTypes": {
                "description": "The related resource types for the Log Analytics workspace.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "resources": {
                "description": "The related Azure resources for the Log Analytics workspace.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "solutions": {
                "description": "The related Log Analytics solutions for the Log Analytics workspace.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "tables": {
                "description": "The related tables for the Log Analytics workspace.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "resourceId": {
            "description": "The ARM resource ID of the Log Analytics workspace.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "resourceId",
          "name",
          "region"
        ],
        "title": "A Log Analytics workspace.",
        "type": "object"
      },
      "queryBody": {
        "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
        "properties": {
          "query": {
            "$ref": "#/components/schemas/queryParam",
            "description": "The query to execute."
          },
          "timespan": {
            "$ref": "#/components/schemas/timespanParam",
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression."
          },
          "workspaces": {
            "$ref": "#/components/schemas/workspacesParam",
            "description": "A list of workspaces that are included in the query."
          }
        },
        "required": [
          "query"
        ],
        "type": "object"
      },
      "queryParam": {
        "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
        "type": "string"
      },
      "queryResults": {
        "description": "Contains the tables, columns & rows resulting from a query.",
        "properties": {
          "tables": {
            "description": "The list of tables, columns and rows.",
            "items": {
              "$ref": "#/components/schemas/table"
            },
            "type": "array"
          }
        },
        "required": [
          "tables"
        ],
        "title": "A query response.",
        "type": "object"
      },
      "table": {
        "description": "Contains the columns and rows for one table in a query response.",
        "properties": {
          "columns": {
            "description": "The list of columns in this table.",
            "items": {
              "$ref": "#/components/schemas/column"
            },
            "type": "array"
          },
          "name": {
            "description": "The name of the table.",
            "type": "string"
          },
          "rows": {
            "description": "The resulting rows from this query.",
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          }
        },
        "required": [
          "name",
          "columns",
          "rows"
        ],
        "title": "A query response table.",
        "type": "object"
      },
      "timespanParam": {
        "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
        "type": "string"
      },
      "workspacesParam": {
        "description": "Workspace IDs to include in cross-workspace queries.",
        "items": {
          "type": "string"
        },
        "type": "array"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}