openapi: 3.0.0
info:
  description: Edge gateway operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeGatewayList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - EdgeGateways
      description: Returns the list of all edge gateways at a certain location.
      operationId: EdgeGateways_List
      x-ms-examples:
        Returns the list of all edge gateways at a certain location.:
          $ref: ./examples/EdgeGateway/List.json
      x-ms-odata: '#/components/schemas/EdgeGateway'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways/{edgeGateway}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/EdgeGatewayParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeGateway'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - EdgeGateways
      description: Returns the requested edge gateway.
      operationId: EdgeGateways_Get
      x-ms-examples:
        Returns the requested edge gateway.:
          $ref: ./examples/EdgeGateway/Get.json
components:
  parameters:
    EdgeGatewayParameter:
      description: Name of the edge gateway.
      in: path
      name: edgeGateway
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    EdgeGateway:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        This resource represents a gateway, which provides the configuration
        needed to provide gateway services to virtual networks.
      properties:
        properties:
          $ref: '#/components/schemas/EdgeGatewayModel'
          description: Object which holds information related to edge gateways.
          x-ms-client-flatten: true
      type: object
    EdgeGatewayList:
      description: Pageable list of edge gateways.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of edge gateways.
          items:
            $ref: '#/components/schemas/EdgeGateway'
          type: array
      type: object
    EdgeGatewayModel:
      description: Object which holds information related to edge gateways.
      properties:
        availableCapacity:
          description: The available network capacity.
          format: int64
          type: integer
        numberOfConnections:
          description: The current number of connections.
          format: int32
          type: integer
        state:
          description: The current state of the edge gateway.
          type: string
        totalCapacity:
          description: The total network capacity.
          format: int64
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

