{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "title": "SqlManagementClient",
    "version": "2018-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/ServerVulnerabilityAssessments.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/vulnerabilityAssessments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerVulnerabilityAssessmentListResult"
                }
              }
            },
            "description": "Successfully retrieved the server vulnerability assessment policies."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessments"
        ],
        "description": "Lists the vulnerability assessment policies associated with a server.",
        "operationId": "ServerVulnerabilityAssessments_ListByServer",
        "x-ms-examples": {
          "Get a server's vulnerability assessment policies": {
            "$ref": "./examples/ServerVulnerabilityAssessmentListByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the server for which the vulnerability assessment is defined.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment.",
            "in": "path",
            "name": "vulnerabilityAssessmentName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VulnerabilityAssessmentName"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the server vulnerability assessment."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessments"
        ],
        "description": "Removes the server's vulnerability assessment.",
        "operationId": "ServerVulnerabilityAssessments_Delete",
        "x-ms-examples": {
          "Remove a server's vulnerability assessment": {
            "$ref": "./examples/ServerVulnerabilityAssessmentDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the server for which the vulnerability assessment is defined.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment.",
            "in": "path",
            "name": "vulnerabilityAssessmentName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VulnerabilityAssessmentName"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerVulnerabilityAssessment"
                }
              }
            },
            "description": "Successfully retrieved the server vulnerability assessment."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessments"
        ],
        "description": "Gets the server's vulnerability assessment.",
        "operationId": "ServerVulnerabilityAssessments_Get",
        "x-ms-examples": {
          "Get a server's vulnerability assessment": {
            "$ref": "./examples/ServerVulnerabilityAssessmentGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "The name of the server for which the vulnerability assessment is defined.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the vulnerability assessment.",
            "in": "path",
            "name": "vulnerabilityAssessmentName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VulnerabilityAssessmentName"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerVulnerabilityAssessment"
                }
              }
            },
            "description": "Successfully set the vulnerability assessment."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerVulnerabilityAssessment"
                }
              }
            },
            "description": "Successfully created the vulnerability assessment."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidStorageAccountName - The provided storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The provided storage account shared access signature or account storage key is not valid.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability assessment operation request does not exist or has no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        },
        "tags": [
          "ServerVulnerabilityAssessments"
        ],
        "description": "Creates or updates the server's vulnerability assessment.",
        "operationId": "ServerVulnerabilityAssessments_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerVulnerabilityAssessment"
              }
            }
          },
          "description": "The requested resource.",
          "required": true
        },
        "x-ms-examples": {
          "Create a server's vulnerability assessment with all parameters": {
            "$ref": "./examples/ServerVulnerabilityAssessmentCreateMax.json"
          },
          "Create a server's vulnerability assessment with minimal parameters, when storageAccountAccessKey is specified": {
            "$ref": "./examples/ServerVulnerabilityAssessmentCreateStorageAccessKeyMin.json"
          },
          "Create a server's vulnerability assessment with minimal parameters, when storageContainerSasKey is specified": {
            "$ref": "./examples/ServerVulnerabilityAssessmentCreateContainerSasKeyMin.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to use for the request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "BlobAuditingPolicyNameParameter": {
        "description": "The name of the blob auditing policy.",
        "in": "path",
        "name": "blobAuditingPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ManagedInstanceNameParameter": {
        "description": "The name of the managed instance.",
        "in": "path",
        "name": "managedInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupParameter": {
        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SqlVirtualMachineContainerNameParameter": {
        "description": "The name of the SqlVirtualMachineContainer.",
        "in": "path",
        "name": "sqlVirtualMachineContainerName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SqlVirtualMachineInstanceNameParameter": {
        "description": "The name of the SqlVirtualMachineInstance.",
        "in": "path",
        "name": "sqlVirtualMachineInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The subscription ID that identifies an Azure subscription.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "VirtualClusterNameParameter": {
        "description": "The name of the virtual cluster.",
        "in": "path",
        "name": "virtualClusterName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ServerVulnerabilityAssessment": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A server vulnerability assessment.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ServerVulnerabilityAssessmentProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ServerVulnerabilityAssessmentListResult": {
        "description": "A list of the server's vulnerability assessments.",
        "properties": {
          "nextLink": {
            "description": "Link to retrieve next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Array of results.",
            "items": {
              "$ref": "#/components/schemas/ServerVulnerabilityAssessment"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ServerVulnerabilityAssessmentProperties": {
        "description": "Properties of a server Vulnerability Assessment.",
        "properties": {
          "recurringScans": {
            "$ref": "#/components/schemas/VulnerabilityAssessmentRecurringScansProperties",
            "description": "The recurring scans settings"
          },
          "storageAccountAccessKey": {
            "description": "Specifies the identifier key of the storage account for vulnerability assessment scan results. If 'StorageContainerSasKey' isn't specified, storageAccountAccessKey is required.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "update"
            ]
          },
          "storageContainerPath": {
            "description": "A blob storage container path to hold the scan results (e.g. https://myStorage.blob.core.windows.net/VaScans/).",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "update"
            ]
          },
          "storageContainerSasKey": {
            "description": "A shared access signature (SAS Key) that has read and write access to the blob container specified in 'storageContainerPath' parameter. If 'storageAccountAccessKey' isn't specified, StorageContainerSasKey is required.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "update"
            ]
          }
        },
        "required": [
          "storageContainerPath"
        ],
        "type": "object"
      },
      "VulnerabilityAssessmentRecurringScansProperties": {
        "description": "Properties of a Vulnerability Assessment recurring scans.",
        "properties": {
          "emailSubscriptionAdmins": {
            "default": true,
            "description": "Specifies that the schedule scan notification will be is sent to the subscription administrators.",
            "type": "boolean"
          },
          "emails": {
            "description": "Specifies an array of e-mail addresses to which the scan notification is sent.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "isEnabled": {
            "description": "Recurring scans state.",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}