{
  "openapi": "3.0.0",
  "info": {
    "description": "Billing client provides access to billing resources for Azure subscriptions.",
    "title": "BillingManagementClient",
    "version": "2019-10-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "May be used to expand the address, invoice sections and billing profiles.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccountListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingAccounts"
        ],
        "description": "Lists the billing accounts that a user has access to.",
        "operationId": "BillingAccounts_List",
        "x-ms-examples": {
          "BillingAccountsList": {
            "$ref": "./examples/BillingAccountsList.json"
          },
          "BillingAccountsListWithExpand": {
            "$ref": "./examples/BillingAccountsListWithExpand.json"
          },
          "BillingAccountsListWithExpandForEnrollmentDetails": {
            "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/{subscriptionId}/downloadDocuments": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Invoices"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Gets a URL to download multiple invoice documents (invoice pdf, tax receipts, credit notes) as a zip file.",
        "operationId": "Invoices_DownloadMultipleBillingSubscriptionInvoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "description": "An array of download urls for individual documents. The download url paths in the request body should match the path of the original request.",
          "required": true
        },
        "x-ms-examples": {
          "BillingSubscriptionInvoiceDownload": {
            "$ref": "./examples/MultipleBillingSubscriptionInvoiceDownload.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the address, invoice sections and billing profiles.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingAccounts"
        ],
        "description": "Gets a billing account by its ID.",
        "operationId": "BillingAccounts_Get",
        "x-ms-examples": {
          "BillingAccountWithExpand": {
            "$ref": "./examples/BillingAccountWithExpand.json"
          },
          "BillingAccounts": {
            "$ref": "./examples/BillingAccount.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Billing account update is in progress."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingAccounts"
        ],
        "description": "Updates the properties of a billing account. Currently, displayName and address can be updated. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingAccounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingAccountUpdateRequest"
              }
            }
          },
          "description": "Request parameters that are provided to the update billing account operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateBillingAccount": {
            "$ref": "./examples/UpdateBillingAccount.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the participants.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Agreements"
        ],
        "description": "Lists the agreements for a billing account.",
        "operationId": "Agreements_ListByBillingAccount",
        "x-ms-examples": {
          "AgreementsListByBillingAccount": {
            "$ref": "./examples/AgreementsListByBillingAccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/agreementNameParameter"
          },
          {
            "description": "May be used to expand the participants.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Agreements"
        ],
        "description": "Gets an agreement by ID.",
        "operationId": "Agreements_Get",
        "x-ms-examples": {
          "AgreementByName": {
            "$ref": "./examples/AgreementByName.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingPermissions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPermissionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "description": "Lists the billing permissions the caller has on a billing account.",
        "operationId": "BillingPermissions_ListByBillingAccount",
        "x-ms-examples": {
          "BillingAccountEaPermissionsList": {
            "$ref": "./examples/BillingAccountEaPermissionsList.json"
          },
          "BillingAccountPermissionsList": {
            "$ref": "./examples/BillingAccountPermissionsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "description": "May be used to expand the invoice sections.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfileListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "Lists the billing profiles that a user has access to. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "operationId": "BillingProfiles_ListByBillingAccount",
        "x-ms-examples": {
          "BillingProfilesListByBillingAccount": {
            "$ref": "./examples/BillingProfilesListByBillingAccount.json"
          },
          "BillingProfilesListWithExpand": {
            "$ref": "./examples/BillingProfilesListWithExpand.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "description": "May be used to expand the invoice sections.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfile"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "Gets a billing profile by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "operationId": "BillingProfiles_Get",
        "x-ms-examples": {
          "BillingProfile": {
            "$ref": "./examples/BillingProfile.json"
          },
          "BillingProfileWithExpand": {
            "$ref": "./examples/BillingProfileWithExpand.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfile"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Billing profile update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "Updates the properties of a billing profile. Currently, displayName, poNumber, bill-to address and invoiceEmailOptIn can be updated. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "operationId": "BillingProfiles_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingProfile"
              }
            }
          },
          "description": "Request parameters supplied to the update billing profile operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdateBillingProfile.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProfile"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "description": "Creates a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "operationId": "BillingProfiles_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingProfileCreationRequest"
              }
            }
          },
          "description": "Request parameters that are provided to the create billing profile operation.",
          "required": true
        },
        "x-ms-examples": {
          "CreateBillingProfile": {
            "$ref": "./examples/CreateBillingProfile.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableBalance"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AvailableBalances"
        ],
        "description": "The available credit balance for a billing profile. This is the balance that can be used for pay now to settle due or past due invoices. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "AvailableBalances_GetByBillingProfile",
        "x-ms-examples": {
          "AvailableBalanceByBillingProfile": {
            "$ref": "./examples/AvailableBalanceByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingPermissions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPermissionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "description": "Lists the billing permissions the caller has on a billing profile.",
        "operationId": "BillingPermissions_ListByBillingProfile",
        "x-ms-examples": {
          "BillingProfilePermissionsList": {
            "$ref": "./examples/BillingProfilePermissionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Lists the role assignments for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_ListByBillingProfile",
        "x-ms-examples": {
          "BillingProfileRoleAssignmentList": {
            "$ref": "./examples/BillingProfileRoleAssignmentList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignment"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Deletes a role assignment for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_DeleteByBillingProfile",
        "x-ms-examples": {
          "BillingProfileRoleAssignmentDelete": {
            "$ref": "./examples/BillingProfileRoleAssignmentDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignment"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Gets a role assignment for the caller on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_GetByBillingProfile",
        "x-ms-examples": {
          "BillingProfileRoleAssignment": {
            "$ref": "./examples/BillingProfileRoleAssignment.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleDefinitionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleDefinitions"
        ],
        "description": "Lists the role definitions for a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleDefinitions_ListByBillingProfile",
        "x-ms-examples": {
          "BillingProfileRoleDefinitionsList": {
            "$ref": "./examples/BillingProfileRoleDefinitionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleDefinitions/{billingRoleDefinitionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleDefinition"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleDefinitions"
        ],
        "description": "Gets the definition for a role on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleDefinitions_GetByBillingProfile",
        "x-ms-examples": {
          "BillingProfileRoleDefinition": {
            "$ref": "./examples/BillingProfileRoleDefinition.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Lists the subscriptions that are billed to a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "operationId": "BillingSubscriptions_ListByBillingProfile",
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingProfile": {
            "$ref": "./examples/BillingSubscriptionsListByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/createBillingRoleAssignment": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "Role assignment is successfully created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Adds a role assignment on a billing profile. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_AddByBillingProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingRoleAssignmentPayload"
              }
            }
          },
          "description": "Request parameters that are provided to the create billing role assignment operation.",
          "required": true
        },
        "x-ms-examples": {
          "AddRoleAssignmentToBillingProfile": {
            "$ref": "./examples/AddRoleAssignmentToBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "description": "May be used to filter the list of customers.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Customers"
        ],
        "description": "Lists the customers that are billed to a billing profile. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "operationId": "Customers_ListByBillingProfile",
        "x-ms-examples": {
          "CustomersListByBillingProfile": {
            "$ref": "./examples/CustomersListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/initiateTransfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            },
            "description": "Initiated transfer details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "Transfers"
        ],
        "description": "Sends a request to a user in a customer's billing account to transfer billing ownership of their subscriptions. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "operationId": "PartnerTransfers_Initiate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateTransferRequest"
              }
            }
          },
          "description": "Request parameters that are provided to the initiate transfer operation.",
          "required": true
        },
        "x-ms-examples": {
          "InitiatePartnerTransfer": {
            "$ref": "./examples/PartnerInitiateTransfer.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transfers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsListResult"
                }
              }
            },
            "description": "List of transfers initiated from this invoice section."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "Transfers"
        ],
        "description": "Lists the transfer requests sent to a customer. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "operationId": "PartnerTransfers_List",
        "x-ms-examples": {
          "TransfersList": {
            "$ref": "./examples/PartnerListTransfers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transfers/{transferName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          },
          {
            "$ref": "#/components/parameters/transferNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            },
            "description": "Details of canceled transfer."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "Transfers"
        ],
        "description": "Cancels a transfer request. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "operationId": "PartnerTransfers_Cancel",
        "x-ms-examples": {
          "TransferCancel": {
            "$ref": "./examples/PartnerCancelTransfer.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/customerNameParameter"
          },
          {
            "$ref": "#/components/parameters/transferNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            },
            "description": "Details of transfer."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "Transfers"
        ],
        "description": "Gets a transfer request by ID. The operation is supported only for billing accounts with agreement type Microsoft Partner Agreement.",
        "operationId": "PartnerTransfers_Get",
        "x-ms-examples": {
          "TransferGet": {
            "$ref": "./examples/PartnerGetTransfer.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/downloadDocuments": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Invoices"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Gets a URL to download multiple invoice documents (invoice pdf, tax receipts, credit notes) as a zip file.",
        "operationId": "Invoices_DownloadMultipleBillingProfileInvoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "description": "An array of download urls for individual documents. The download url paths in the request body should match the path of the original request.",
          "required": true
        },
        "x-ms-examples": {
          "BillingProfileInvoiceDownload": {
            "$ref": "./examples/MultipleModernInvoiceDownload.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/instructions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstructionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Instructions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Lists the instructions by billing profile id.",
        "operationId": "Instructions_ListByBillingProfile",
        "x-ms-examples": {
          "InstructionsListByBillingProfile": {
            "$ref": "./examples/InstructionsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/instructions/{instructionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/instructionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instruction"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Instructions"
        ],
        "description": "Get the instruction by name. These are custom billing instructions and are only applicable for certain customers.",
        "operationId": "Instructions_Get",
        "x-ms-examples": {
          "Instruction": {
            "$ref": "./examples/Instruction.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/instructionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instruction"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Instructions"
        ],
        "description": "Creates or updates an instruction. These are custom billing instructions and are only applicable for certain customers.",
        "operationId": "Instructions_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instruction"
              }
            }
          },
          "description": "The new instruction.",
          "required": true
        },
        "x-ms-examples": {
          "PutInstruction": {
            "$ref": "./examples/PutInstruction.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSectionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Lists the invoice sections that a user has access to. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "InvoiceSections_ListByBillingProfile",
        "x-ms-examples": {
          "InvoiceSectionsListByBillingProfile": {
            "$ref": "./examples/InvoiceSectionsListByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSection"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Gets an invoice section by its ID. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "InvoiceSections_Get",
        "x-ms-examples": {
          "InvoiceSection": {
            "$ref": "./examples/InvoiceSection.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSection"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. InvoiceSection update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Updates an invoice section. Currently, only displayName can be updated. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "InvoiceSections_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceSection"
              }
            }
          },
          "description": "Request parameters that are provided to the update invoice section operation.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateInvoiceSection": {
            "$ref": "./examples/UpdateInvoiceSection.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSection"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Creates an invoice section. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "InvoiceSections_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceSectionCreationRequest"
              }
            }
          },
          "description": "Request parameters that are provided to the create invoice section operation.",
          "required": true
        },
        "x-ms-examples": {
          "CreateInvoiceSection": {
            "$ref": "./examples/CreateInvoiceSection.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingPermissions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPermissionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingPermissions"
        ],
        "description": "Lists the billing permissions the caller has on an invoice section.",
        "operationId": "BillingPermissions_ListByInvoiceSections",
        "x-ms-examples": {
          "InvoiceSectionPermissionsList": {
            "$ref": "./examples/InvoiceSectionPermissionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleAssignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Lists the role assignments for the caller on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_ListByInvoiceSection",
        "x-ms-examples": {
          "InvoiceSectionRoleAssignmentList": {
            "$ref": "./examples/InvoiceSectionRoleAssignmentList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleAssignments/{billingRoleAssignmentName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignment"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Deletes a role assignment for the caller on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_DeleteByInvoiceSection",
        "x-ms-examples": {
          "InvoiceSectionRoleAssignmentDelete": {
            "$ref": "./examples/InvoiceSectionRoleAssignmentDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleAssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignment"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Gets a role assignment for the caller on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_GetByInvoiceSection",
        "x-ms-examples": {
          "InvoiceSectionRoleAssignment": {
            "$ref": "./examples/InvoiceSectionRoleAssignment.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleDefinitionListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleDefinitions"
        ],
        "description": "Lists the role definitions for an invoice section. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "operationId": "BillingRoleDefinitions_ListByInvoiceSection",
        "x-ms-examples": {
          "InvoiceSectionRoleDefinitionsList": {
            "$ref": "./examples/InvoiceSectionRoleDefinitionsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRoleDefinitions/{billingRoleDefinitionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingRoleDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleDefinition"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleDefinitions"
        ],
        "description": "Gets the definition for a role on an invoice section. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleDefinitions_GetByInvoiceSection",
        "x-ms-examples": {
          "InvoiceSectionRoleDefinition": {
            "$ref": "./examples/InvoiceSectionRoleDefinition.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Lists the subscriptions that are billed to an invoice section. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingSubscriptions_ListByInvoiceSection",
        "x-ms-examples": {
          "BillingSubscriptionsListByInvoiceSection": {
            "$ref": "./examples/BillingSubscriptionsListByInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscription"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingSubscriptions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Gets a subscription by its ID. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingSubscriptions_Get",
        "x-ms-examples": {
          "BillingSubscription": {
            "$ref": "./examples/BillingSubscription.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferBillingSubscriptionResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Billing Subscription transfer is in progress.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "description": "Moves a subscription's charges to a new invoice section. The new invoice section must belong to the same billing profile as the existing invoice section. This operation is supported only for products that are purchased with a recurring charge and for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingSubscriptions_Transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBillingSubscriptionRequestProperties"
              }
            }
          },
          "description": "Request parameters that are provided to the transfer product operation.",
          "required": true
        },
        "x-ms-examples": {
          "TransferBillingSubscription": {
            "$ref": "./examples/TransferBillingSubscription.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/validateTransferEligibility": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingSubscriptionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateSubscriptionTransferEligibilityResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Validates if a subscription's charges can be moved to a new invoice section. This operation is supported only for products that are purchased with a recurring charge and for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingSubscriptions_ValidateTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBillingSubscriptionRequestProperties"
              }
            }
          },
          "description": "Request parameters that are provided to the validate transfer eligibility operation.",
          "required": true
        },
        "x-ms-examples": {
          "SubscriptionTransferValidateFailure": {
            "$ref": "./examples/ValidateSubscriptionTransferFailure.json"
          },
          "SubscriptionTransferValidateSuccess": {
            "$ref": "./examples/ValidateSubscriptionTransferSuccess.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/createBillingRoleAssignment": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRoleAssignmentListResult"
                }
              }
            },
            "description": "Role assignment is successfully created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BillingRoleAssignments"
        ],
        "description": "Adds a role assignment on an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "BillingRoleAssignments_AddByInvoiceSection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingRoleAssignmentPayload"
              }
            }
          },
          "description": "Request parameters that are provided to the create billing role assignment operation.",
          "required": true
        },
        "x-ms-examples": {
          "AddRoleAssignmentToInvoiceSection": {
            "$ref": "./examples/AddRoleAssignmentToInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/elevate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Elevated the caller's access to the invoice section."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "InvoiceSections"
        ],
        "description": "Gives the caller permissions on an invoice section based on their billing profile access.  The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "InvoiceSections_ElevateToBillingProfile",
        "x-ms-examples": {
          "Elevate": {
            "$ref": "./examples/ElevateInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/initiateTransfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            },
            "description": "Initiated transfer details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error."
          }
        },
        "tags": [
          "Transfers"
        ],
        "description": "Sends a request to a user in another billing account to transfer billing ownership of their subscriptions. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "Transfers_Initiate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateTransferRequest"
              }
            }
          },
          "description": "Request parameters that are provided to the initiate transfer operation.",
          "required": true
        },
        "x-ms-examples": {
          "InitiateTransfer": {
            "$ref": "./examples/InitiateTransfer.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value are separated by a colon (:).",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Lists the products for an invoice section. These don't include products billed based on usage. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "Products_ListByInvoiceSection",
        "x-ms-examples": {
          "ProductsListByInvoiceSection": {
            "$ref": "./examples/ProductsListByInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "description": "Gets a product by ID. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "Products_Get",
        "x-ms-examples": {
          "Product": {
            "$ref": "./examples/Product.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/transfer": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "Moves a product's charges to a new invoice section. The new invoice section must belong to the same billing profile as the existing invoice section. This operation is supported only for products that are purchased with a recurring charge and for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "Products_Transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferProductRequestProperties"
              }
            }
          },
          "description": "Request parameters that are provided to the transfer product operation.",
          "required": true
        },
        "x-ms-examples": {
          "TransferProduct": {
            "$ref": "./examples/TransferProduct.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/updateAutoRenew": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAutoRenewOperation"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Products"
        ],
        "description": "Cancel auto renew for product by product id and invoice section name",
        "operationId": "Products_UpdateAutoRenewByInvoiceSection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutoRenewRequest"
              }
            }
          },
          "description": "Request parameters that are provided to the update auto renew operation.",
          "required": true
        },
        "x-ms-examples": {
          "CancelProductForInvoiceSection": {
            "$ref": "./examples/ProductCancelForInvoiceSection.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/validateTransferEligibility": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/productNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateProductTransferEligibilityResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Validates if a product's charges can be moved to a new invoice section. This operation is supported only for products that are purchased with a recurring charge and for billing accounts with agreement type Microsoft Customer Agreement.",
        "operationId": "Products_ValidateTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferProductRequestProperties"
              }
            }
          },
          "description": "Request parameters that are provided to the validate transfer eligibility operation.",
          "required": true
        },
        "x-ms-examples": {
          "SubscriptionTransferValidateFailure": {
            "$ref": "./examples/ValidateProductTransferFailure.json"
[...]
