openapi: 3.0.0
info:
  description: Logical network operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogicalNetworkList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - LogicalNetworks
      description: Returns a list of all logical networks at a location.
      operationId: LogicalNetworks_List
      x-ms-examples:
        Returns a list of all logical networks at a location.:
          $ref: ./examples/LogicalNetwork/List.json
      x-ms-odata: '#/components/schemas/LogicalNetwork'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/LogicalNetworkParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogicalNetwork'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - LogicalNetworks
      description: Returns the requested logical network.
      operationId: LogicalNetworks_Get
      x-ms-examples:
        Returns the requested logical network.:
          $ref: ./examples/LogicalNetwork/Get.json
components:
  parameters:
    LogicalNetworkParameter:
      description: Name of the logical network.
      in: path
      name: logicalNetwork
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    LogicalNetwork:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        This resource represents a logical partition of physical network that is
        dedicated for a particular purpose.  A logical network comprises a
        collection of logical subnets.
      properties:
        properties:
          $ref: '#/components/schemas/LogicalNetworkModel'
          description: Properties of a logical network.
          x-ms-client-flatten: true
      type: object
    LogicalNetworkList:
      description: A pageable list of logical networks.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of logical networks.
          items:
            $ref: '#/components/schemas/LogicalNetwork'
          type: array
      type: object
    LogicalNetworkModel:
      description: Properties of a logical network.
      properties:
        metadata:
          additionalProperties:
            type: string
          description: Metadata related to the logical network.
          type: object
        networkVirtualizationEnabled:
          description: >-
            Flag to indicate that the network virtualization is enabled on the
            logical network.
          type: boolean
        subnets:
          description: List of subnets belonging to the logical network.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

