openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on Certificate entity in your
    Azure API Management deployment. Certificates can be used to setup mutual
    authentication with your Backend in API Management. For more information
    refer to [How to secure backend using Mutual Auth
    Certificate](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates).
  title: ApiManagementClient
  version: '2016-10-10'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - description: >-
            | Field          | Supported operators    | Supported
            functions                         |

            |----------------|------------------------|---------------------------------------------|

            | id             | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | subject        | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | thumbprint     | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |

            | expirationDate | ge, le, eq, ne, gt, lt |
            N/A                                         |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/SkipQueryParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: Returns a collection of Certificate entity.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - Certificates
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/dn783483.aspx'
      description: >-
        Lists a collection of all certificates in the specified service
        instance.
      operationId: Certificates_ListByService
      x-ms-odata: '#/components/schemas/CertificateContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}':
    delete:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/CertificateIdParameter'
        - description: >-
            The entity state (Etag) version of the certificate to delete. A
            value of "*" can be used for If-Match to unconditionally apply the
            operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The certificate was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - Certificates
      description: Deletes specific certificate.
      operationId: Certificates_Delete
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/CertificateIdParameter'
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContract'
          description: The response body contains the specified Certificate entity.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - Certificates
      description: Gets the details of the certificate specified by its identifier.
      operationId: Certificates_Get
    put:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: '#/components/parameters/CertificateIdParameter'
        - description: >-
            The entity state (Etag) version of the certificate to update. A
            value of "*" can be used for If-Match to unconditionally apply the
            operation..
          in: header
          name: If-Match
          required: false
          schema:
            type: string
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '201':
          description: The new certificate was successfully added.
        '204':
          description: The certificate details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorBodyContract
          description: Error response describing why the operation failed.
      tags:
        - Certificates
      externalDocs:
        description: >-
          How to secure back-end services using client certificate
          authentication in Azure API Management
        url: >-
          https://azure.microsoft.com/en-us/documentation/articles/api-management-howto-mutual-certificates/
      description: >-
        Creates or updates the certificate being used for authentication with
        the backend.
      operationId: Certificates_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Create parameters.
        required: true
components:
  parameters:
    CertificateIdParameter:
      description: >-
        Identifier of the certificate entity. Must be unique in the current API
        Management service instance.
      in: path
      name: certificateId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: '^[^*#&+:<>?]+$'
        type: string
      x-ms-parameter-location: method
  schemas:
    CertificateCollection:
      description: Paged Certificates list representation.
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/CertificateContract'
          type: array
      type: object
    CertificateContract:
      description: Certificate details.
      properties:
        expirationDate:
          description: >
            Expiration date of the certificate. The date conforms to the
            following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
            8601 standard.
          format: date-time
          type: string
        id:
          description: 'Certificate identifier path: /certificates/{certificateId}'
          readOnly: true
          type: string
        subject:
          description: Subject attribute of the certificate.
          type: string
        thumbprint:
          description: Thumbprint of the certificate.
          type: string
      required:
        - subject
        - thumbprint
        - expirationDate
      type: object
    CertificateCreateOrUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate certificate operation.
      properties:
        data:
          description: >-
            Base 64 encoded certificate using the application/x-pkcs12
            representation.
          type: string
        password:
          description: Password for the Certificate
          type: string
      required:
        - data
        - password
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

