{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights workbook type.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2018-06-17-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-06-17-preview/workbooks_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/workbooks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/CategoryParameter"
          },
          {
            "$ref": "#/components/parameters/TagsParameter"
          },
          {
            "$ref": "#/components/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/components/parameters/CanFetchWorkbookContentParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkbooksListResult"
                }
              }
            },
            "description": "A list containing 0 or more workbook definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkbookError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Get all Workbooks defined within a specified resource group and category.",
        "operationId": "Workbooks_ListByResourceGroup",
        "x-ms-examples": {
          "WorkbooksList": {
            "$ref": "./examples/WorkbooksList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/workbooks/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The workbook has been successfully deleted."
          },
          "204": {
            "description": "The resource doesn't exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkbookError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Delete a workbook.",
        "operationId": "Workbooks_Delete",
        "x-ms-examples": {
          "WorkbookDelete": {
            "$ref": "./examples/WorkbookDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            },
            "description": "A workbook definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkbookError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Get a single workbook by its resourceName.",
        "operationId": "Workbooks_Get",
        "x-ms-examples": {
          "WorkbookGet": {
            "$ref": "./examples/WorkbookGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/SourceIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            },
            "description": "The workbook definition updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkbookError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Updates a workbook that has already been added.",
        "operationId": "Workbooks_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkbookUpdateParameters"
              }
            }
          },
          "description": "Properties that need to be specified to create a new workbook."
        },
        "x-ms-examples": {
          "WorkbookUpdate": {
            "$ref": "./examples/WorkbookUpdate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/SourceIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            },
            "description": "The newly created workbook."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            },
            "description": "The newly created workbook."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkbookError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Create a new workbook.",
        "operationId": "Workbooks_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workbook"
              }
            }
          },
          "description": "Properties that need to be specified to create a new workbook.",
          "required": true
        },
        "x-ms-examples": {
          "WorkbookAdd": {
            "$ref": "./examples/WorkbookAdd.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "CanFetchWorkbookContentParameter": {
        "description": "Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.",
        "in": "query",
        "name": "canFetchContent",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "x-ms-parameter-location": "method"
      },
      "CategoryParameter": {
        "description": "Category of workbook to return.",
        "in": "query",
        "name": "category",
        "required": true,
        "schema": {
          "enum": [
            "workbook",
            "TSG",
            "performance",
            "retention"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "CategoryType"
        },
        "x-ms-parameter-location": "method"
      },
      "SourceIdParameter": {
        "description": "Azure Resource Id that will fetch all related workbooks.",
        "in": "query",
        "name": "sourceId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TagsParameter": {
        "description": "Tags presents on each workbook returned.",
        "in": "query",
        "name": "tags",
        "required": false,
        "schema": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "style": "form",
        "x-ms-parameter-location": "method"
      },
      "WorkbookResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ErrorFieldContract": {
        "description": "Error Field contract.",
        "properties": {
          "code": {
            "description": "Property level error code.",
            "type": "string"
          },
          "message": {
            "description": "Human-readable representation of property-level error.",
            "type": "string"
          },
          "target": {
            "description": "Property name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An azure resource object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Azure resource Id",
            "readOnly": true,
            "type": "string"
          },
          "kind": {
            "description": "The kind of workbook. Choices are user and shared.",
            "enum": [
              "user",
              "shared"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SharedTypeKind"
            }
          },
          "location": {
            "description": "Resource location",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "Azure resource name. This is GUID value. The display name should be assigned within properties field.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Workbook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An Application Insights workbook definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/WorkbookProperties",
            "description": "Metadata describing a workbook for an Azure resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WorkbookError": {
        "description": "Error message body that will indicate why the operation failed.",
        "properties": {
          "code": {
            "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
            "type": "string"
          },
          "details": {
            "description": "The list of invalid fields send in request, in case of validation error.",
            "items": {
              "$ref": "#/components/schemas/ErrorFieldContract"
            },
            "type": "array"
          },
          "message": {
            "description": "Human-readable representation of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkbookProperties": {
        "description": "Properties that contain a workbook.",
        "properties": {
          "tags": {
            "description": "A list of 0 or more tags that are associated with this workbook definition",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "category": {
            "description": "Workbook category, as defined by the user at creation time.",
            "type": "string"
          },
          "displayName": {
            "description": "The user-defined name (display name) of the workbook.",
            "type": "string"
          },
          "serializedData": {
            "description": "Configuration of this particular workbook. Configuration data is a string containing valid JSON",
            "type": "string"
          },
          "sourceId": {
            "description": "ResourceId for a source resource.",
            "type": "string"
          },
          "timeModified": {
            "description": "Date and time in UTC of the last modification that was made to this workbook definition.",
            "readOnly": true,
            "type": "string"
          },
          "userId": {
            "description": "Unique user id of the specific user that owns this workbook.",
            "readOnly": true,
            "type": "string"
          },
          "version": {
            "description": "Workbook version",
            "type": "string"
          }
        },
        "required": [
          "displayName",
          "category",
          "serializedData"
        ],
        "type": "object"
      },
      "WorkbookPropertiesUpdateParameters": {
        "description": "Properties that contain a workbook for PATCH operation.",
        "properties": {
          "tags": {
            "description": "A list of 0 or more tags that are associated with this workbook definition",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "category": {
            "description": "Workbook category, as defined by the user at creation time.",
            "type": "string"
          },
          "displayName": {
            "description": "The user-defined name (display name) of the workbook.",
            "type": "string"
          },
          "serializedData": {
            "description": "Configuration of this particular workbook. Configuration data is a string containing valid JSON",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkbookUpdateParameters": {
        "description": "The parameters that can be provided when updating workbook properties properties.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "kind": {
            "description": "The kind of workbook. Choices are user and shared.",
            "enum": [
              "user",
              "shared"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SharedTypeKind"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/WorkbookPropertiesUpdateParameters",
            "description": "Metadata describing a workbook for an Azure resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WorkbooksListResult": {
        "description": "Workbook list result.",
        "properties": {
          "value": {
            "description": "An array of workbooks.",
            "items": {
              "$ref": "#/components/schemas/Workbook"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}