openapi: 3.0.0
info:
  description: >-
    The AzureData management API provides a RESTful set of web APIs to manage
    Azure Data Resources. For example, register, delete and retrieve a SQL
    Server, SQL Server registration.
  title: AzureDataManagementClient
  version: 2017-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.AzureData/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: Successfully retrieved operations.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 403 AccessDenied - Access denied.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - Operations
      description: Lists all of the available SQL Server Registration API operations.
      operationId: Operations_List
      x-ms-examples:
        Lists all of the available SQL Server Registration API operations.:
          $ref: ./examples/ListOperation.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.AzureData/sqlServerRegistrations':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistrationListResult'
          description: >-
            Successfully retrieved all SQL Server registrations in the
            subscription.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - SqlServerRegistrations
      description: Gets all SQL Server registrations in a subscription.
      operationId: SqlServerRegistrations_List
      x-ms-examples:
        Gets all SQL Server registrations in a subscription.:
          $ref: ./examples/ListSubscriptionSqlServerRegistration.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureData/sqlServerRegistrations':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistrationListResult'
          description: >-
            Successfully retrieved all SQL Server registrations in the resource
            group.
        default:
          description: '*** Error Responses: ***'
      tags:
        - SqlServerRegistrations
      description: Gets all SQL Server registrations in a resource group.
      operationId: SqlServerRegistrations_ListByResourceGroup
      x-ms-examples:
        Gets all SQL Server registrations in a resource group.:
          $ref: ./examples/ListByResourceGroupSqlServerRegistration.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureData/sqlServerRegistrations/{sqlServerRegistrationName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the SQL Server registration.
        '204':
          description: The specified SQL Server registration does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 TinaGroupUpdateFailVmAttached - SQL Server registration cannot be updated as it has attached a SQL Server.

             * 400 InvalidSqlImageOffer - Provided SQL image offer is invalid.

             * 400 InvalidSqlSku - Provided SQL sku is invalid.

             * 400 OuPathAndDomainMismatch - OU path is not within the domain provided.

             * 400 InvalidAccountNameFormat - Account name format is invalid.

             * 400 CloudWitnessUnsupported - For Windows Server 2012R2 setup cloud witness is not allowed.

             * 400 FileShareWitnessDisAllowed - For Windows Server 2016 and beyond setup, file share witness is not allowed.

             * 400 InvalidStorageAccountUrl - Invalid storage account url.

             * 400 TinaGroupNameTooLong - SQL Server registration name cannot exceed 15 characters.

             * 400 InvalidTinaGroupName - Invalid SQL Server registration name.

             * 400 TinaGroupNotEmpty - SQL Server registration is not empty.

             * 400 TinaGroupUpdateNotAllowed - Update to SQL Server registration is not allowed.

             * 403 AccessDenied - Access denied.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveTINAGroupInResourceGroup - Subscription does not have SQL Server registration in resource group.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServerRegistrations
      description: Deletes a SQL Server registration.
      operationId: SqlServerRegistrations_Delete
      x-ms-examples:
        Deletes a SQL Server registration.:
          $ref: ./examples/DeleteSqlServerRegistration.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
          description: Successfully retrieved the SQL Server registration.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 403 AccessDenied - Access denied.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServerRegistrations
      description: Gets a SQL Server registration.
      operationId: SqlServerRegistrations_Get
      x-ms-examples:
        Gets a SQL Server registration.:
          $ref: ./examples/GetSqlServerRegistration.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
          description: Successfully updated the SQL Server Registration.
        default:
          description: |-
            *** Error Responses: ***

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 403 AccessDenied - Access denied.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServerRegistrations
      description: Updates SQL Server Registration tags.
      operationId: SqlServerRegistrations_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlServerRegistrationUpdate'
        description: The SQL Server Registration.
        required: true
      x-ms-examples:
        Updates a SQL Server Registration tags.:
          $ref: ./examples/UpdateSqlServerRegistration.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
          description: Successfully updated the SQL Server registration.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
          description: Successfully created the SQL Server registration.
        default:
          description: |-
            *** Error Responses: ***

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 TinaGroupUpdateFailVmAttached - SQL Server registration cannot be updated as it has attached a SQL Server.

             * 400 InvalidSqlImageOffer - Provided SQL image offer is invalid.

             * 400 InvalidSqlSku - Provided SQL sku is invalid.

             * 400 OuPathAndDomainMismatch - OU path is not within the domain provided.

             * 400 InvalidAccountNameFormat - Account name format is invalid.

             * 400 CloudWitnessUnsupported - For Windows Server 2012R2 setup cloud witness is not allowed.

             * 400 FileShareWitnessDisAllowed - For Windows Server 2016 and beyond setup, file share witness is not allowed.

             * 400 InvalidStorageAccountUrl - Invalid storage account url.

             * 400 TinaGroupNameTooLong - SQL Server registration name cannot exceed 15 characters.

             * 400 InvalidTinaGroupName - Invalid SQL Server registration name.

             * 400 TinaGroupNotEmpty - SQL Server registration is not empty.

             * 400 TinaGroupUpdateNotAllowed - Update to SQL Server registration is not allowed.

             * 403 AccessDenied - Access denied.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveTINAGroupInResourceGroup - Subscription does not have SQL Server registration in resource group.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServerRegistrations
      description: Creates or updates a SQL Server registration.
      operationId: SqlServerRegistrations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlServerRegistration'
        description: The SQL Server registration to be created or updated.
        required: true
      x-ms-examples:
        Creates or updates a SQL Server registration.:
          $ref: ./examples/CreateOrUpdateSqlServerRegistration.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureData/sqlServerRegistrations/{sqlServerRegistrationName}/sqlServers':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - description: The child resources to include in the response.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerListResult'
          description: >-
            Successfully retrieved all SQL Servers in the SQL Server
            Registration.
        default:
          description: '*** Error Responses: ***'
      tags:
        - SqlServers
      description: Gets all SQL Servers in a SQL Server Registration.
      operationId: SqlServers_ListByResourceGroup
      x-ms-examples:
        Gets all SQL Servers in a SQL Server Registration.:
          $ref: ./examples/ListByResourceGroupSqlServer.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureData/sqlServerRegistrations/{sqlServerRegistrationName}/sqlServers/{sqlServerName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - description: Name of the SQL Server.
          in: path
          name: sqlServerName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the SQL Server.
        '204':
          description: The specified SQL Server does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidVmResourceIdChange - Server resource id property cannot be updated.

             * 400 TinaAlreadyIncludedInGroup - SQL Server cannot be moved from one group to another in same operation.

             * 400 TinaCannotRemoveFromGroup - SQL Server cannot be removed from group.

             * 400 VmLocationMismatch - VM location does not match that of SQL Server.

             * 400 SqlSkuMismatchWithGroup - SQL sku set on the SQL Server registration does not match that of the SQL Server.

             * 400 VmInsufficientPermission - Insufficient permission to Vm.

             * 400 SingleNicOnVmAllowed - Only Single NIC Servers are allowed.

             * 400 InvalidTinaGroupResourceIdParameterValue - SQL Server registration resource id is not in correct format.

             * 400 MismatchVmGroupSubscription - Subscription id for SQL Server and SQL Server registration are different.

             * 400 IncompleteDomainCredentialsProperty - Incomplete input provided for domain credentials property.

             * 400 BYOLChangeToPAYGNotSupported - The conversion from AHUB to PAYG is not supported for BYOL images

             * 400 InvalidVmResourceIdParameterValue - Provided Server resource id is not valid.

             * 400 MismatchInTinaAndVmResourceIdSubscription - Mismatch in subscription id for SQL Server and Server resource id property.

             * 400 MismatchTinaAndVmName - SQL Server name is not same as the Server name provided on ServerResourceId property.

             * 400 MismatchTinaAndVmRgName - SQL Server resource group name is not same as the Server resource group name provided on ServerResourceId property.

             * 400 NotSupportedTinaOSVersion - Server OS type is not Windows. Only Windows OS versions are supported

             * 400 VmNotRunning - The VM is not in running state.

             * 400 VmAgentNotRunning - The VM agent is not installed or in running state.

             * 400 SqlExtNotInstalled - Sql Iaas Extension is not installed on Server.

             * 400 PAYGNotSupportedForNonGalleryVM - License type PAYG is invalid for this Server as this was not created from Azure marketplace image.

             * 400 SqlVersionMismatchWithGroup - SQL version mismatch with SQL Server registration.

             * 400 VmOSVersionMismatchWithGroup - OS version mismatch with group.

             * 400 AutoBackupEncryptionPasswordNotSpecified - Password not provided when enabling encryption as auto backup setting.

             * 400 BackupScheduleTypeNotSet - Backup schedule type needs to be set.

             * 400 BackupStorageCredentialsNotSpecified - Backup storage credentials are not specified.

             * 400 KeyVaultCredentialsNotSpecified - Key vault credentials not specified.

             * 400 SqlCredentialsNotSpecified - SQL Server credentials are not specified.

             * 400 IncompleteAutoPatchingSettings - Incomplete auto patching settings specified.

             * 400 IncompleteAutoBackupSettings - Incomplete auto backup settings specified.

             * 400 IncompleteSqlStorageSettings - Incomplete SQL storage settings specified.

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 403 AccessDenied - Access denied.

             * 404 SubscriptionDoesNotHaveTINAGroupInResourceGroup - Subscription does not have SQL Server registration in resource group.

             * 404 SubscriptionDoesNotHaveTINAInResourceGroup - Subscription does not have SQL Server Instance in resource group.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServers
      description: Deletes a SQL Server.
      operationId: SqlServers_Delete
      x-ms-examples:
        Deletes a SQL Server.:
          $ref: ./examples/DeleteSqlServer.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - description: Name of the SQL Server.
          in: path
          name: sqlServerName
          required: true
          schema:
            type: string
        - description: The child resources to include in the response.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServer'
          description: Successfully retrieved the SQL Server.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 403 AccessDenied - Access denied.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServers
      description: Gets a SQL Server.
      operationId: SqlServers_Get
      x-ms-examples:
        Gets a SQL Server.:
          $ref: ./examples/GetSqlServer.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: Name of the SQL Server registration.
          in: path
          name: sqlServerRegistrationName
          required: true
          schema:
            type: string
        - description: Name of the SQL Server.
          in: path
          name: sqlServerName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServer'
          description: Successfully updated the SQL Server.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServer'
          description: Successfully created the SQL Server.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidVmResourceIdChange - Server resource id property cannot be updated.

             * 400 TinaAlreadyIncludedInGroup - SQL Server cannot be moved from one group to another in same operation.

             * 400 TinaCannotRemoveFromGroup - SQL Server cannot be removed from group.

             * 400 VmLocationMismatch - VM location does not match that of SQL Server.

             * 400 SqlSkuMismatchWithGroup - SQL sku set on the SQL Server registration does not match that of the SQL Server.

             * 400 VmInsufficientPermission - Insufficient permission to Vm.

             * 400 SingleNicOnVmAllowed - Only Single NIC Servers are allowed.

             * 400 InvalidTinaGroupResourceIdParameterValue - SQL Server registration resource id is not in correct format.

             * 400 MismatchVmGroupSubscription - Subscription id for SQL Server and SQL Server registration are different.

             * 400 IncompleteDomainCredentialsProperty - Incomplete input provided for domain credentials property.

             * 400 BYOLChangeToPAYGNotSupported - The conversion from AHUB to PAYG is not supported for BYOL images

             * 400 InvalidVmResourceIdParameterValue - Provided Server resource id is not valid.

             * 400 MismatchInTinaAndVmResourceIdSubscription - Mismatch in subscription id for SQL Server and Server resource id property.

             * 400 MismatchTinaAndVmName - SQL Server name is not same as the Server name provided on ServerResourceId property.

             * 400 MismatchTinaAndVmRgName - SQL Server resource group name is not same as the Server resource group name provided on ServerResourceId property.

             * 400 NotSupportedTinaOSVersion - Server OS type is not Windows. Only Windows OS versions are supported

             * 400 VmNotRunning - The VM is not in running state.

             * 400 VmAgentNotRunning - The VM agent is not installed or in running state.

             * 400 SqlExtNotInstalled - Sql Iaas Extension is not installed on Server.

             * 400 PAYGNotSupportedForNonGalleryVM - License type PAYG is invalid for this Server as this was not created from Azure marketplace image.

             * 400 SqlVersionMismatchWithGroup - SQL version mismatch with SQL Server registration.

             * 400 VmOSVersionMismatchWithGroup - OS version mismatch with group.

             * 400 AutoBackupEncryptionPasswordNotSpecified - Password not provided when enabling encryption as auto backup setting.

             * 400 BackupScheduleTypeNotSet - Backup schedule type needs to be set.

             * 400 BackupStorageCredentialsNotSpecified - Backup storage credentials are not specified.

             * 400 KeyVaultCredentialsNotSpecified - Key vault credentials not specified.

             * 400 SqlCredentialsNotSpecified - SQL Server credentials are not specified.

             * 400 IncompleteAutoPatchingSettings - Incomplete auto patching settings specified.

             * 400 IncompleteAutoBackupSettings - Incomplete auto backup settings specified.

             * 400 IncompleteSqlStorageSettings - Incomplete SQL storage settings specified.

             * 400 InvalidParameterValue - An invalid value was given to parameter.

             * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.

             * 400 RPGenericUser - User Failure when calling other Resource Provider.

             * 400 InvalidArgument - Invalid argument '{0}'.

             * 400 ArgumentNotInRange - Argument '{0}' not in range.

             * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward

             * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.

             * 403 AccessDenied - Access denied.

             * 404 SubscriptionDoesNotHaveTINAGroupInResourceGroup - Subscription does not have SQL Server registration in resource group.

             * 404 SubscriptionDoesNotHaveTINAInResourceGroup - Subscription does not have SQL Server Instance in resource group.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotExist - Subscription id does not exist.

             * 404 ResourceDoesNotExist - Resource does not exist.

             * 404 OperationIdNotFound - Operation id could not be found.

             * 404 OperationTypeNotFound - Operation Type not found.

             * 409 ResourceAlreadyExists - Resource already exists.

             * 409 SqlExtensionNotInstalled - SQL extension not installed.

             * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.

             * 409 OperationInProgress - Operation in progress on resource already.

             * 409 OperationCanceled - Operation Cancelled.

             * 500 RPGenericSystem - System Failure when calling other Resource Provider.

             * 500 UnExpectedErrorOccurred - Unexpected error occurred.

             * 500 OperationTimeout - Operation timed out.
      tags:
        - SqlServers
      description: Creates or updates a SQL Server.
      operationId: SqlServers_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlServer'
        description: The SQL Server to be created or updated.
        required: true
      x-ms-examples:
        Creates or updates a SQL Server in a Registration group.:
          $ref: ./examples/CreateOrUpdateSqlServerWithRegistrationGroup.json
components:
  parameters:
    ApiVersionParameter:
      description: API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    ResourceGroupParameter:
      description: >-
        Name of the resource group that contains the resource. You can obtain
        this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlServerNameParameter:
      description: Name of the Sql Server.
      in: path
      name: SqlServerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlServerRegistrationNameParameter:
      description: Name of the Sql Server registration.
      in: path
      name: SqlServerRegistrationNameParameter
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
  schemas:
    Operation:
      description: SQL REST API operation definition.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: >-
            The localized display information for this particular operation /
            action.
          readOnly: true
        name:
          description: The name of the operation being performed on this particular object.
          readOnly: true
          type: string
        origin:
          description: The intended executor of the operation.
          enum:
            - user
            - system
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationOrigin
        properties:
          additionalProperties:
            type: object
          description: Additional descriptions for the operation.
          readOnly: true
          type: object
          x-ms-client-flatten: false
      type: object
    OperationDisplay:
      description: Display metadata associated with the operation.
      properties:
        description:
          description: The localized friendly description for the operation.
          readOnly: true
          type: string
        operation:
          description: The localized friendly name for the operation.
          readOnly: true
          type: string
        provider:
          description: The localized friendly form of the resource provider name.
          readOnly: true
          type: string
        resource:
          description: >-
            The localized friendly form of the resource type related to this
            action/operation.
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list SQL operations.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: ARM proxy resource.
      properties: {}
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SqlServer:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: A SQL server.
      properties:
        properties:
          $ref: '#/components/schemas/SqlServerProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    SqlServerListResult:
      description: A list of SQL servers.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SqlServer'
          readOnly: true
          type: array
      type: object
    SqlServerProperties:
      description: The SQL server properties.
      properties:
        cores:
          description: Cores of the Sql Server.
          format: int32
          type: integer
          x-ms-mutability:
            - update
        edition:
          description: Sql Server Edition.
          type: string
        propertyBag:
          description: Sql Server Json Property Bag.
          type: string
        registrationID:
          description: ID for Parent Sql Server Registration.
          type: string
        version:
          description: Version of the Sql Server.
          type: string
      type: object
    SqlServerRegistration:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: A SQL server registration.
      properties:
        properties:
          $ref: '#/components/schemas/SqlServerRegistrationProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      required:
        - location
      type: object
    SqlServerRegistrationListResult:
      description: Server.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SqlServerRegistration'
          readOnly: true
          type: array
      type: object
    SqlServerRegistrationProperties:
      description: The SQL server Registration properties.
      properties:
        propertyBag:
          description: Optional Properties as JSON string
          type: string
        resourceGroup:
          description: Resource Group Name
          type: string
        subscriptionId:
          description: Subscription Id
          format: uuid
          type: string
      type: object
    SqlServerRegistrationUpdate:
      description: An update to a SQL Server Registration.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: ARM tracked top level resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        location:
          description: Resource location.
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - location
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

