{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2015-06-15",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2015-06-15/virtualNetworkGateway.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnectionListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnectionListResult"
                }
              }
            },
            "description": "Request successful. The operation resets the virtual network gateway connection shared key."
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.",
        "operationId": "VirtualNetworkGatewayConnections_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway connection.",
            "in": "path",
            "name": "virtualNetworkGatewayConnectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Deletes the specified virtual network Gateway connection.",
        "operationId": "VirtualNetworkGatewayConnections_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway connection.",
            "in": "path",
            "name": "virtualNetworkGatewayConnectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting VirtualNetworkPeering resource."
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Gets the specified virtual network gateway connection by resource group.",
        "operationId": "VirtualNetworkGatewayConnections_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway connection.",
            "in": "path",
            "name": "virtualNetworkGatewayConnectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting VirtualNetworkGatewayConnection resource."
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "Creates or updates a virtual network gateway connection in the specified resource group.",
        "operationId": "VirtualNetworkGatewayConnections_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
              }
            }
          },
          "description": "Parameters supplied to the create or update virtual network gateway connection operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The virtual network gateway connection shared key name.",
            "in": "path",
            "name": "virtualNetworkGatewayConnectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionSharedKeyResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionSharedKeyResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.",
        "operationId": "VirtualNetworkGatewayConnections_GetSharedKey"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The virtual network gateway connection name.",
            "in": "path",
            "name": "virtualNetworkGatewayConnectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionSharedKey"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionSharedKey"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionSharedKey"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionSharedKey"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId": "VirtualNetworkGatewayConnections_SetSharedKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionSharedKey"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionSharedKey"
              }
            }
          },
          "description": "Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The virtual network gateway connection reset shared key Name.",
            "in": "path",
            "name": "virtualNetworkGatewayConnectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResetSharedKey"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResetSharedKey"
                }
              }
            },
            "description": "Request successful. The operation sets the virtual network gateway connection shared key."
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "VirtualNetworkGatewayConnections"
        ],
        "description": "The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.",
        "operationId": "VirtualNetworkGatewayConnections_ResetSharedKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionResetSharedKey"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionResetSharedKey"
              }
            }
          },
          "description": "Parameters supplied to the begin reset virtual network gateway connection shared key operation through network resource provider.",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGatewayListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGatewayListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of LocalNetworkGateway resources."
          }
        },
        "tags": [
          "LocalNetworkGateways"
        ],
        "description": "Gets all the local network gateways in a resource group.",
        "operationId": "LocalNetworkGateways_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the local network gateway.",
            "in": "path",
            "name": "localNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "tags": [
          "LocalNetworkGateways"
        ],
        "description": "Deletes the specified local network gateway.",
        "operationId": "LocalNetworkGateways_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the local network gateway.",
            "in": "path",
            "name": "localNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGateway"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting LocalNetworkGateway resource."
          }
        },
        "tags": [
          "LocalNetworkGateways"
        ],
        "description": "Gets the specified local network gateway in a resource group.",
        "operationId": "LocalNetworkGateways_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the local network gateway.",
            "in": "path",
            "name": "localNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGateway"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting LocalNetworkGateway resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNetworkGateway"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting LocalNetworkGateway resource."
          }
        },
        "tags": [
          "LocalNetworkGateways"
        ],
        "description": "Creates or updates a local network gateway in the specified resource group.",
        "operationId": "LocalNetworkGateways_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalNetworkGateway"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalNetworkGateway"
              }
            }
          },
          "description": "Parameters supplied to the create or update local network gateway operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGatewayListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of VirtualNetworkGateway resources."
          }
        },
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets all virtual network gateways by resource group.",
        "operationId": "VirtualNetworkGateways_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway.",
            "in": "path",
            "name": "virtualNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Deletes the specified virtual network gateway.",
        "operationId": "VirtualNetworkGateways_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway.",
            "in": "path",
            "name": "virtualNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              }
            },
            "description": "Request successful. The operation returns a VirtualNetworkGateway resource."
          }
        },
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Gets the specified virtual network gateway by resource group.",
        "operationId": "VirtualNetworkGateways_Get"
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway.",
            "in": "path",
            "name": "virtualNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting VirtualNetworkGateway resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting VirtualNetworkGateway resource."
          }
        },
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Creates or updates a virtual network gateway in the specified resource group.",
        "operationId": "VirtualNetworkGateways_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkGateway"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkGateway"
              }
            }
          },
          "description": "Parameters supplied to create or update virtual network gateway operation.",
          "required": true
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway.",
            "in": "path",
            "name": "virtualNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "VPN client package URL."
          }
        },
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Generates VPN client package for P2S client of the virtual network gateway in the specified resource group.",
        "operationId": "VirtualNetworkGateways_Generatevpnclientpackage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VpnClientParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VpnClientParameters"
              }
            }
          },
          "description": "Parameters supplied to the generate virtual network gateway VPN client package operation.",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network gateway.",
            "in": "path",
            "name": "virtualNetworkGatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkGateway"
                }
              }
            },
            "description": "Request successful. The operation reset the primary of the virtual network gateway."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "tags": [
          "VirtualNetworkGateways"
        ],
        "description": "Resets the primary of the virtual network gateway in the specified resource group.",
        "operationId": "VirtualNetworkGateways_Reset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkGateway"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkGateway"
              }
            }
          },
          "description": "Virtual network gateway vip address supplied to the begin reset of the active-active feature enabled gateway.",
          "required": true
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "BgpSettings": {
        "properties": {
          "asn": {
            "description": "Gets or sets this BGP speaker's ASN",
            "format": "int64",
            "type": "integer"
          },
          "bgpPeeringAddress": {
            "description": "Gets or sets the BGP peering address and BGP identifier of this BGP speaker",
            "type": "string"
          },
          "peerWeight": {
            "description": "Gets or sets the weight added to routes learned from this BGP speaker",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ConnectionResetSharedKey": {
        "properties": {
          "keyLength": {
            "description": "The virtual network connection reset shared key length",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ConnectionSharedKey": {
        "description": "Response for GetConnectionSharedKey API service call",
        "properties": {
          "value": {
            "description": "The virtual network connection shared key value",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConnectionSharedKeyResult": {
        "description": "Response for CheckConnectionSharedKey API service call",
        "properties": {
          "value": {
            "description": "The virtual network connection shared key value",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocalNetworkGateway": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "A common class for general resource information",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/LocalNetworkGatewayPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "LocalNetworkGatewayListResult": {
        "description": "Response for ListLocalNetworkGateways API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "A list of local network gateways that exists in a resource group.",
            "items": {
              "$ref": "#/components/schemas/LocalNetworkGateway"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "LocalNetworkGatewayPropertiesFormat": {
        "description": "LocalNetworkGateway properties",
        "properties": {
          "bgpSettings": {
            "$ref": "#/components/schemas/BgpSettings",
            "description": "Local network gateway's BGP speaker settings."
          },
          "gatewayIpAddress": {
            "description": "IP address of local network gateway.",
            "type": "string"
          },
          "localNetworkAddressSpace": {
            "$ref": "./virtualNetwork.json#/definitions/AddressSpace",
            "description": "Local network site address space."
          },
          "provisioningState": {
            "description": "Gets or sets Provisioning state of the LocalNetworkGateway resource Updating/Deleting/Failed",
            "type": "string"
          },
          "resourceGuid": {
            "description": "The resource GUID property of the LocalNetworkGateway resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VirtualNetworkGateway": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "A common class for general resource information",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkGatewayPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayConnection": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "A common class for general resource information",
        "properties": {
          "etag": {
            "description": "Gets a unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayConnectionListResult": {
        "description": "Response for the ListVirtualNetworkGatewayConnections API service call",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "Gets a list of VirtualNetworkGatewayConnection resources that exists in a resource group.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkGatewayConnection"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayConnectionPropertiesFormat": {
        "description": "VirtualNetworkGatewayConnection properties",
        "properties": {
          "authorizationKey": {
            "description": "The authorizationKey.",
            "type": "string"
          },
          "connectionStatus": {
            "description": "Virtual network Gateway connection status. Possible values are 'Unknown', 'Connecting', 'Connected' and 'NotConnected'.",
            "enum": [
              "Unknown",
              "Connecting",
              "Connected",
              "NotConnected"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkGatewayConnectionStatus"
            }
          },
          "connectionType": {
            "description": "Gateway connection type. Possible values are: 'IPsec','Vnet2Vnet','ExpressRoute', and 'VPNClient.",
            "enum": [
              "IPsec",
              "Vnet2Vnet",
              "ExpressRoute",
              "VPNClient"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkGatewayConnectionType"
            }
          },
          "egressBytesTransferred": {
            "description": "The egress bytes transferred in this connection.",
            "format": "int64",
            "type": "integer"
          },
          "enableBgp": {
            "description": "EnableBgp flag",
            "type": "boolean"
          },
          "ingressBytesTransferred": {
            "description": "The ingress bytes transferred in this connection.",
            "format": "int64",
            "type": "integer"
          },
          "localNetworkGateway2": {
            "$ref": "#/components/schemas/LocalNetworkGateway"
          },
          "peer": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The reference to peerings resource."
          },
          "provisioningState": {
            "description": "The provisioning state of the VirtualNetworkGatewayConnection resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "resourceGuid": {
            "description": "The resource GUID property of the VirtualNetworkGatewayConnection resource.",
            "type": "string"
          },
          "routingWeight": {
            "description": "The routing weight.",
            "format": "int32",
            "type": "integer"
          },
          "sharedKey": {
            "description": "The IPSec shared key.",
            "type": "string"
          },
          "virtualNetworkGateway1": {
            "$ref": "#/components/schemas/VirtualNetworkGateway"
          },
          "virtualNetworkGateway2": {
            "$ref": "#/components/schemas/VirtualNetworkGateway"
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayIPConfiguration": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "IP configuration for virtual network gateway",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkGatewayIPConfigurationPropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayIPConfigurationPropertiesFormat": {
        "description": "Properties of VirtualNetworkGatewayIPConfiguration",
        "properties": {
          "privateIPAddress": {
            "description": "Gets or sets the privateIPAddress of the IP Configuration",
            "type": "string"
          },
          "privateIPAllocationMethod": {
            "description": "The private IP allocation method. Possible values are: 'Static' and 'Dynamic'.",
            "enum": [
              "Static",
              "Dynamic"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "IPAllocationMethod"
            }
          },
          "provisioningState": {
            "description": "The provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "publicIPAddress": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The reference of the public IP resource."
          },
          "subnet": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The reference of the subnet resource."
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayListResult": {
        "description": "Response for the ListVirtualNetworkGateways API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "Gets a list of VirtualNetworkGateway resources that exists in a resource group.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkGateway"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewayPropertiesFormat": {
        "description": "VirtualNetworkGateway properties",
        "properties": {
          "bgpSettings": {
            "$ref": "#/components/schemas/BgpSettings",
            "description": "Virtual network gateway's BGP speaker settings."
          },
          "enableBgp": {
            "description": "Whether BGP is enabled for this virtual network gateway or not.",
            "type": "boolean"
          },
          "gatewayDefaultSite": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The reference of the LocalNetworkGateway resource which represents local network site having default routes. Assign Null value in case of removing existing default site setting."
          },
          "gatewayType": {
            "description": "The type of this virtual network gateway. Possible values are: 'Vpn' and 'ExpressRoute'.",
            "enum": [
              "Vpn",
              "ExpressRoute"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkGatewayType"
            }
          },
          "ipConfigurations": {
            "description": "IP configurations for virtual network gateway.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkGatewayIPConfiguration"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "The provisioning state of the VirtualNetworkGateway resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "resourceGuid": {
            "description": "The resource GUID property of the VirtualNetworkGateway resource.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/VirtualNetworkGatewaySku",
            "description": "The reference of the VirtualNetworkGatewaySku resource which represents the SKU selected for Virtual network gateway."
          },
          "vpnClientConfiguration": {
            "$ref": "#/components/schemas/VpnClientConfiguration",
            "description": "The reference of the VpnClientConfiguration resource which represents the P2S VpnClient configurations."
          },
          "vpnType": {
            "description": "The type of this virtual network gateway. Possible values are: 'PolicyBased' and 'RouteBased'.",
            "enum": [
              "PolicyBased",
              "RouteBased"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VpnType"
            }
          }
        },
        "type": "object"
      },
      "VirtualNetworkGatewaySku": {
        "description": "VirtualNetworkGatewaySku details",
        "properties": {
          "capacity": {
            "description": "The capacity",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "description": "Gateway sku name -Basic/HighPerformance/Standard",
            "enum": [
              "Basic",
              "HighPerformance",
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkGatewaySkuName"
            }
          },
          "tier": {
            "description": "Gateway sku tier -Basic/HighPerformance/Standard",
            "enum": [
              "Basic",
              "HighPerformance",
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VirtualNetworkGatewaySkuTier"
            }
          }
        },
        "type": "object"
      },
      "VpnClientConfiguration": {
        "description": "VpnClientConfiguration for P2S client",
        "properties": {
          "vpnClientAddressPool": {
            "$ref": "./virtualNetwork.json#/definitions/AddressSpace",
            "description": "Gets or sets the reference of the Address space resource which represents Address space for P2S VpnClient."
          },
          "vpnClientRevokedCertificates": {
            "description": "VpnClientRevokedCertificate for Virtual network gateway.",
            "items": {
              "$ref": "#/components/schemas/VpnClientRevokedCertificate"
            },
            "type": "array"
          },
          "vpnClientRootCertificates": {
            "description": "VpnClientRootCertificate for Virtual network gateway.",
            "items": {
              "$ref": "#/components/schemas/VpnClientRootCertificate"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VpnClientParameters": {
        "description": "VpnClientParameters",
        "properties": {
          "ProcessorArchitecture": {
            "description": "VPN client Processor Architecture. Possible values are: 'AMD64' and 'X86'.",
            "enum": [
              "Amd64",
              "X86"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProcessorArchitecture"
            }
          }
        },
        "type": "object"
      },
      "VpnClientRevokedCertificate": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "VPN client revoked certificate of virtual network gateway.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VpnClientRevokedCertificatePropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VpnClientRevokedCertificatePropertiesFormat": {
        "description": "Properties of the revoked VPN client certificate of virtual network gateway.",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state of the VPN client revoked certificate resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "thumbprint": {
            "description": "The revoked VPN client certificate thumbprint.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VpnClientRootCertificate": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "VPN client root certificate of virtual network gateway",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VpnClientRootCertificatePropertiesFormat",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VpnClientRootCertificatePropertiesFormat": {
        "description": "Properties of SSL certificates of application gateway",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state of the VPN client root certificate resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "publicCertData": {
            "description": "Gets or sets the certificate public data",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}