openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/automaticTuning/current':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAutomaticTuning'
          description: Successfully retrieved database automatic tuning properties.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - DatabaseAutomaticTuning
      description: Gets a database's automatic tuning.
      operationId: DatabaseAutomaticTuning_Get
      x-ms-examples:
        Get a database's automatic tuning settings:
          $ref: ./examples/DatabaseAutomaticTuningGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAutomaticTuning'
          description: >-
            Successfully updated the specified database automatic tuning
            settings.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 InvalidAutomaticTuningUpsertRequest - The update automatic tuning request body does not exist or has no properties object.

             * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute status for the advisor is not allowed.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - The requested database was not found

             * 404 SubscriptionDoesNotHaveElasticPool - The requested elastic pool was not found

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
        - DatabaseAutomaticTuning
      description: Update automatic tuning properties for target database.
      operationId: DatabaseAutomaticTuning_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAutomaticTuning'
        description: The requested automatic tuning resource state.
        required: true
      x-ms-examples:
        Updates database automatic tuning settings with all properties:
          $ref: ./examples/DatabaseAutomaticTuningUpdateMax.json
        Updates database automatic tuning settings with minimal properties:
          $ref: ./examples/DatabaseAutomaticTuningUpdateMin.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AutomaticTuningOptions:
      description: Automatic tuning properties for individual advisors.
      properties:
        actualState:
          description: Automatic tuning option actual state.
          enum:
            - 'Off'
            - 'On'
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: AutomaticTuningOptionModeActual
        desiredState:
          description: Automatic tuning option desired state.
          enum:
            - 'Off'
            - 'On'
            - Default
          type: string
          x-ms-enum:
            modelAsString: false
            name: AutomaticTuningOptionModeDesired
        reasonCode:
          description: Reason code if desired and actual state are different.
          format: int32
          readOnly: true
          type: integer
        reasonDesc:
          description: Reason description if desired and actual state are different.
          enum:
            - Default
            - Disabled
            - AutoConfigured
            - InheritedFromServer
            - QueryStoreOff
            - QueryStoreReadOnly
            - NotSupported
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: AutomaticTuningDisabledReason
      type: object
    DatabaseAutomaticTuning:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: Database-level Automatic Tuning.
      properties:
        properties:
          $ref: '#/components/schemas/DatabaseAutomaticTuningProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    DatabaseAutomaticTuningProperties:
      description: Database-level Automatic Tuning properties.
      properties:
        actualState:
          description: Automatic tuning actual state.
          enum:
            - Inherit
            - Custom
            - Auto
            - Unspecified
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: AutomaticTuningMode
        desiredState:
          description: Automatic tuning desired state.
          enum:
            - Inherit
            - Custom
            - Auto
            - Unspecified
          type: string
          x-ms-enum:
            modelAsString: false
            name: AutomaticTuningMode
        options:
          additionalProperties:
            $ref: '#/components/schemas/AutomaticTuningOptions'
          description: Automatic tuning options definition.
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

