openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Locations
      description: Get a list of all AzureStack location.
      operationId: Locations_List
      x-ms-examples:
        Get a list of all AzureStack location.:
          $ref: ./examples/Location/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/LocationParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Locations
      description: Get the specified location.
      operationId: Locations_Get
      x-ms-examples:
        Get the specified location.:
          $ref: ./examples/Location/Get.json
    put:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/LocationParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Locations
      description: Updates the specified location.
      operationId: Locations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
        description: The new location
        required: true
      x-ms-examples:
        Updates the specified location.:
          $ref: ./examples/Location/Put.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/operationsStatus/{operationsStatusName}':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/LocationParameter
        - $ref: Subscriptions.json#/components/parameters/OperationsStatusParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsStatus'
          description: OK
        '202':
          description: Accepted
        '204':
          description: Not Content
        '404':
          description: Not Found
          x-ms-error-response: true
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Locations
      description: Get the operation status.
      operationId: Locations_GetOperationsStatus
      x-ms-examples:
        Get the specified operation status.:
          $ref: ./examples/Location/GetOperationsStatus.json
components:
  schemas:
    ExtendedErrorInfo:
      description: The extended error information.
      properties:
        code:
          description: The error code.
          type: string
        details:
          $ref: '#/components/schemas/ExtendedErrorInfoList'
          description: The detailed error message details.
        message:
          description: The error message.
          type: string
      type: object
    ExtendedErrorInfoList:
      description: List of the extended error information.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of the extended error information.
          items:
            $ref: '#/components/schemas/ExtendedErrorInfo'
          type: array
          x-ms-identifiers: []
      type: object
    Location:
      description: >-
        Contains information about a geographical location where resource
        providers can be deployed.
      properties:
        displayName:
          description: Display name of the location.
          type: string
        id:
          description: Location identifier.
          type: string
        latitude:
          description: Latitude of the location.
          type: string
        longitude:
          description: Longitude of the location.
          type: string
        name:
          description: Location name.
          type: string
      type: object
    LocationList:
      description: List of locations.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of locations.
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    OperationsStatus:
      description: A long running operation status.
      properties:
        endTime:
          description: The end time of the operation.
          format: date-time
          type: string
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
          description: The operation error.
        id:
          $ref: '#/components/schemas/OperationsStatusIdentifier'
          description: The operation status identifier.
        percentComplete:
          description: The completion percentage of the operation.
          type: number
        properties:
          description: The internal operation properties.
          type: object
        responseContent:
          description: The content of the response.
          type: object
        retryAfter:
          description: The amount of time clients should wait..
          type: string
        startTime:
          description: The start time of the operation.
          format: date-time
          type: string
        status:
          description: The status of the operation.
          type: string
        terminalHttpStatusCode:
          description: The terminal http status code for the operation.
          type: string
      type: object
    OperationsStatusIdentifier:
      description: >-
        The admin offer identifier for the location wide
        SubscriptionsAdminResourceTypes.OperationsStatus resource type.
      properties:
        location:
          description: The location of the operations status.
          type: string
        name:
          description: The name of the operations status.
          type: string
        subscriptionId:
          description: The subscription identifier..
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

