{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-07-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/publicIpPrefix.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPPrefixes": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPPrefixListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of PublicIPPrefix resources."
          }
        },
        "tags": [
          "PublicIPPrefixes"
        ],
        "description": "Gets all the public IP prefixes in a subscription.",
        "operationId": "PublicIPPrefixes_ListAll",
        "x-ms-examples": {
          "List all public IP prefixes": {
            "$ref": "./examples/PublicIpPrefixListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPPrefixes": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPPrefixListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of PublicIPPrefix resources."
          }
        },
        "tags": [
          "PublicIPPrefixes"
        ],
        "description": "Gets all public IP prefixes in a resource group.",
        "operationId": "PublicIPPrefixes_List",
        "x-ms-examples": {
          "List resource group public IP prefixes": {
            "$ref": "./examples/PublicIpPrefixList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPPrefixes/{publicIpPrefixName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the PublicIpPrefix.",
            "in": "path",
            "name": "publicIpPrefixName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "tags": [
          "PublicIPPrefixes"
        ],
        "description": "Deletes the specified public IP prefix.",
        "operationId": "PublicIPPrefixes_Delete",
        "x-ms-examples": {
          "Delete public IP prefix": {
            "$ref": "./examples/PublicIpPrefixDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the public IP prefix.",
            "in": "path",
            "name": "publicIpPrefixName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPPrefix"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting PublicIPPrefix resource."
          }
        },
        "tags": [
          "PublicIPPrefixes"
        ],
        "description": "Gets the specified public IP prefix in a specified resource group.",
        "operationId": "PublicIPPrefixes_Get",
        "x-ms-examples": {
          "Get public IP prefix": {
            "$ref": "./examples/PublicIpPrefixGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the public IP prefix.",
            "in": "path",
            "name": "publicIpPrefixName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPPrefix"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting PublicIPPrefix resource."
          }
        },
        "tags": [
          "PublicIPPrefixes"
        ],
        "description": "Updates public IP prefix tags.",
        "operationId": "PublicIPPrefixes_UpdateTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./network.json#/definitions/TagsObject"
              }
            }
          },
          "description": "Parameters supplied to update public IP prefix tags.",
          "required": true
        },
        "x-ms-examples": {
          "Update public IP prefix tags": {
            "$ref": "./examples/PublicIpPrefixUpdateTags.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the public IP prefix.",
            "in": "path",
            "name": "publicIpPrefixName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPPrefix"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting PublicIPPrefix resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPPrefix"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting PublicIPPrefix resource."
          }
        },
        "tags": [
          "PublicIPPrefixes"
        ],
        "description": "Creates or updates a static or dynamic public IP prefix.",
        "operationId": "PublicIPPrefixes_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicIPPrefix"
              }
            }
          },
          "description": "Parameters supplied to the create or update public IP prefix operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create public IP prefix allocation method": {
            "$ref": "./examples/PublicIpPrefixCreateCustomizedValues.json"
          },
          "Create public IP prefix defaults": {
            "$ref": "./examples/PublicIpPrefixCreateDefaults.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicIPPrefix": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Public IP prefix resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PublicIPPrefixPropertiesFormat",
            "description": "Public IP prefix properties.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/PublicIPPrefixSku",
            "description": "The public IP prefix SKU."
          },
          "zones": {
            "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PublicIPPrefixListResult": {
        "description": "Response for ListPublicIpPrefixes API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "A list of public IP prefixes that exists in a resource group.",
            "items": {
              "$ref": "#/components/schemas/PublicIPPrefix"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PublicIPPrefixPropertiesFormat": {
        "description": "Public IP prefix properties.",
        "properties": {
          "ipPrefix": {
            "description": "The allocated Prefix.",
            "type": "string"
          },
          "ipTags": {
            "description": "The list of tags associated with the public IP prefix.",
            "items": {
              "$ref": "./publicIpAddress.json#/definitions/IpTag"
            },
            "type": "array"
          },
          "loadBalancerFrontendIpConfiguration": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The reference to load balancer frontend IP configuration associated with the public IP prefix.",
            "readOnly": true
          },
          "prefixLength": {
            "description": "The Length of the Public IP Prefix.",
            "format": "int32",
            "type": "integer"
          },
          "provisioningState": {
            "$ref": "./network.json#/definitions/ProvisioningState",
            "description": "The provisioning state of the public IP prefix resource."
          },
          "publicIPAddressVersion": {
            "$ref": "./network.json#/definitions/IPVersion",
            "description": "The public IP address version."
          },
          "publicIPAddresses": {
            "description": "The list of all referenced PublicIPAddresses.",
            "items": {
              "$ref": "#/components/schemas/ReferencedPublicIpAddress"
            },
            "type": "array"
          },
          "resourceGuid": {
            "description": "The resource GUID property of the public IP prefix resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublicIPPrefixSku": {
        "description": "SKU of a public IP prefix.",
        "properties": {
          "name": {
            "description": "Name of a public IP prefix SKU.",
            "enum": [
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PublicIPPrefixSkuName"
            }
          }
        },
        "type": "object"
      },
      "ReferencedPublicIpAddress": {
        "description": "Reference to a public IP address.",
        "properties": {
          "id": {
            "description": "The PublicIPAddress Reference.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}