openapi: 3.0.0
info:
  title: Certificates API Client
  version: '2016-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: OK
      tags:
        - Certificates
      description: Get all certificates for a subscription.
      operationId: Certificates_List
      summary: Get all certificates for a subscription.
      x-ms-examples:
        List Certificates for subscription:
          $ref: ./examples/ListCertificates.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: OK.
      tags:
        - Certificates
      description: Get all certificates in a resource group.
      operationId: Certificates_ListByResourceGroup
      summary: Get all certificates in a resource group.
      x-ms-examples:
        List Certificates by resource group:
          $ref: ./examples/ListCertificatesByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted certificate.
        '204':
          description: Certificate does not exist.
      tags:
        - Certificates
      description: Delete a certificate.
      operationId: Certificates_Delete
      summary: Delete a certificate.
      x-ms-examples:
        Delete Certificate:
          $ref: ./examples/DeleteCertificate.json
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
      tags:
        - Certificates
      description: Get a certificate.
      operationId: Certificates_Get
      summary: Get a certificate.
      x-ms-examples:
        Get Certificate:
          $ref: ./examples/GetCertificate.json
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK.
      tags:
        - Certificates
      description: Create or update a certificate.
      operationId: Certificates_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificatePatchResource'
        description: 'Details of certificate, if it exists already.'
        required: true
      summary: Create or update a certificate.
      x-ms-examples:
        Patch Certificate:
          $ref: ./examples/PatchCertificate.json
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK.
      tags:
        - Certificates
      description: Create or update a certificate.
      operationId: Certificates_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: 'Details of certificate, if it exists already.'
        required: true
      summary: Create or update a certificate.
      x-ms-examples:
        Create Or Update Certificate:
          $ref: ./examples/CreateOrUpdateCertificate.json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+[^\.]$'
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Certificate:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/Resource
      description: SSL certificate for an app.
      properties:
        properties:
          description: Certificate resource specific properties
          properties:
            cerBlob:
              description: Raw bytes of .cer file
              format: byte
              readOnly: true
              type: string
            expirationDate:
              description: Certificate expiration date.
              format: date-time
              readOnly: true
              type: string
            friendlyName:
              description: Friendly name of the certificate.
              readOnly: true
              type: string
            geoRegion:
              description: Region of the certificate.
              readOnly: true
              type: string
            hostNames:
              description: Host names the certificate applies to.
              items:
                type: string
              type: array
            hostingEnvironmentProfile:
              $ref: ./CommonDefinitions.json#/definitions/HostingEnvironmentProfile
              description: >-
                Specification for the App Service Environment to use for the
                certificate.
              readOnly: true
            issueDate:
              description: Certificate issue Date.
              format: date-time
              readOnly: true
              type: string
            issuer:
              description: Certificate issuer.
              readOnly: true
              type: string
            keyVaultId:
              description: Key Vault Csm resource Id.
              type: string
            keyVaultSecretName:
              description: Key Vault secret name.
              type: string
            keyVaultSecretStatus:
              description: Status of the Key Vault secret.
              enum:
                - Initialized
                - WaitingOnCertificateOrder
                - Succeeded
                - CertificateOrderFailed
                - OperationNotPermittedOnKeyVault
                - AzureServiceUnauthorizedToAccessKeyVault
                - KeyVaultDoesNotExist
                - KeyVaultSecretDoesNotExist
                - UnknownError
                - ExternalPrivateKey
                - Unknown
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: KeyVaultSecretStatus
            password:
              description: Certificate password.
              type: string
              x-ms-mutability:
                - create
            pfxBlob:
              description: Pfx blob.
              format: byte
              type: string
            publicKeyHash:
              description: Public key hash.
              readOnly: true
              type: string
            selfLink:
              description: Self link.
              readOnly: true
              type: string
            serverFarmId:
              description: >-
                Resource ID of the associated App Service plan, formatted as:
                "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".
              type: string
            siteName:
              description: App name.
              readOnly: true
              type: string
            subjectName:
              description: Subject name of the certificate.
              readOnly: true
              type: string
            thumbprint:
              description: Certificate thumbprint.
              readOnly: true
              type: string
            valid:
              description: Is the certificate valid?.
              readOnly: true
              type: boolean
          required:
            - password
          x-ms-client-flatten: true
      type: object
    CertificateCollection:
      description: Collection of certificates.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Certificate'
          type: array
      required:
        - value
      type: object
    CertificatePatchResource:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: ARM resource for a certificate.
      properties:
        properties:
          description: CertificatePatchResource resource specific properties
          properties:
            cerBlob:
              description: Raw bytes of .cer file
              format: byte
              readOnly: true
              type: string
            expirationDate:
              description: Certificate expiration date.
              format: date-time
              readOnly: true
              type: string
            friendlyName:
              description: Friendly name of the certificate.
              readOnly: true
              type: string
            geoRegion:
              description: Region of the certificate.
              readOnly: true
              type: string
            hostNames:
              description: Host names the certificate applies to.
              items:
                type: string
              type: array
            hostingEnvironmentProfile:
              $ref: ./CommonDefinitions.json#/definitions/HostingEnvironmentProfile
              description: >-
                Specification for the App Service Environment to use for the
                certificate.
              readOnly: true
            issueDate:
              description: Certificate issue Date.
              format: date-time
              readOnly: true
              type: string
            issuer:
              description: Certificate issuer.
              readOnly: true
              type: string
            keyVaultId:
              description: Key Vault Csm resource Id.
              type: string
            keyVaultSecretName:
              description: Key Vault secret name.
              type: string
            keyVaultSecretStatus:
              description: Status of the Key Vault secret.
              enum:
                - Initialized
                - WaitingOnCertificateOrder
                - Succeeded
                - CertificateOrderFailed
                - OperationNotPermittedOnKeyVault
                - AzureServiceUnauthorizedToAccessKeyVault
                - KeyVaultDoesNotExist
                - KeyVaultSecretDoesNotExist
                - UnknownError
                - ExternalPrivateKey
                - Unknown
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: KeyVaultSecretStatus
            password:
              description: Certificate password.
              type: string
              x-ms-mutability:
                - create
            pfxBlob:
              description: Pfx blob.
              format: byte
              type: string
            publicKeyHash:
              description: Public key hash.
              readOnly: true
              type: string
            selfLink:
              description: Self link.
              readOnly: true
              type: string
            serverFarmId:
              description: >-
                Resource ID of the associated App Service plan, formatted as:
                "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".
              type: string
            siteName:
              description: App name.
              readOnly: true
              type: string
            subjectName:
              description: Subject name of the certificate.
              readOnly: true
              type: string
            thumbprint:
              description: Certificate thumbprint.
              readOnly: true
              type: string
            valid:
              description: Is the certificate valid?.
              readOnly: true
              type: boolean
          required:
            - password
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

