{
  "openapi": "3.0.0",
  "info": {
    "description": "Resource Provider",
    "title": "Azure Maps Resource Provider",
    "version": "2020-02-01-preview",
    "x-ms-code-generation-settings": {
      "name": "MapsManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/maps-management.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Maps/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsOperations"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "List operations available for the Maps Resource Provider",
        "operationId": "Maps_ListOperations",
        "x-ms-examples": {
          "GetOperations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccounts"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Get all Maps Accounts in a Subscription",
        "operationId": "Accounts_ListBySubscription",
        "x-ms-examples": {
          "ListAccountsBySubscription": {
            "$ref": "./examples/ListAccountsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccounts"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Get all Maps Accounts in a Resource Group",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "ListAccountsByResourceGroup": {
            "$ref": "./examples/ListAccountsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account was deleted successfully."
          },
          "204": {
            "description": "The specified Account was not found. Nothing was deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Delete a Maps Account.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "DeleteAccount": {
            "$ref": "./examples/DeleteAccount.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Get a Maps Account.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "GetAccount": {
            "$ref": "./examples/GetAccount.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The Account was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Updates a Maps Account. Only a subset of the parameters may be updated after creation, such as Sku and Tags.",
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsAccountUpdateParameters"
              }
            }
          },
          "description": "The updated parameters for the Maps Account.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateAccount": {
            "$ref": "./examples/UpdateAccount.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The Account was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The Account was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Create or update a Maps Account. A Maps Account holds the keys which allow access to the Maps REST APIs.",
        "operationId": "Accounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsAccountCreateParameters"
              }
            }
          },
          "description": "The new or updated parameters for the Maps Account.",
          "required": true
        },
        "x-ms-examples": {
          "CreateAccount": {
            "$ref": "./examples/CreateAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorList"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Creators"
        ],
        "description": "Get all Creator instances for an Azure Maps Account",
        "operationId": "Creators_ListByAccount",
        "x-ms-examples": {
          "ListPrivateAtlasByAccount": {
            "$ref": "./examples/ListMapsCreatorsByAccount.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators/{creatorName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Maps Creator was deleted successfully."
          },
          "204": {
            "description": "The specified Maps Creator resource was not found. Nothing was deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Creators"
        ],
        "description": "Delete a Maps Creator resource.",
        "operationId": "Creators_Delete",
        "x-ms-examples": {
          "DeletePrivateAtlas": {
            "$ref": "./examples/DeleteMapsCreator.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creator"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Creators"
        ],
        "description": "Get a Maps Creator resource.",
        "operationId": "Creators_Get",
        "x-ms-examples": {
          "GetPrivateAtlas": {
            "$ref": "./examples/GetMapsCreator.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creator"
                }
              }
            },
            "description": "The Maps Creator was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Creators"
        ],
        "description": "Updates the Maps Creator resource. Only a subset of the parameters may be updated after creation, such as Tags.",
        "operationId": "Creators_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorUpdateParameters"
              }
            }
          },
          "description": "The update parameters for Maps Creator.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateAccount": {
            "$ref": "./examples/UpdateMapsCreator.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creator"
                }
              }
            },
            "description": "The Creator was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creator"
                }
              }
            },
            "description": "The Creator was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Creators"
        ],
        "description": "Create or update a Maps Creator resource. Creator resource will manage Azure resources required to populate a custom set of mapping data. It requires an account to exist before it can be created.",
        "operationId": "Creators_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorCreateParameters"
              }
            }
          },
          "description": "The new or updated parameters for the Creator resource.",
          "required": true
        },
        "x-ms-examples": {
          "CreatePrivateAtlas": {
            "$ref": "./examples/CreateMapsCreator.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccountKeys"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Get the keys to use with the Maps APIs. A key is used to authenticate and authorize access to the Maps REST APIs. Only one key is needed at a time; two are given to provide seamless key regeneration.",
        "operationId": "Accounts_ListKeys",
        "x-ms-examples": {
          "ListKeys": {
            "$ref": "./examples/ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/privateAtlases": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateAtlasList"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Private Atlases (deprecated)"
        ],
        "description": "[Deprecated] Get all Private Atlas instances for an Azure Map Account",
        "operationId": "PrivateAtlases_ListByAccount",
        "x-ms-examples": {
          "ListPrivateAtlasByAccount": {
            "$ref": "./examples/ListPrivateAtlasByAccount.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/privateAtlases/{privateAtlasName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateAtlasNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Private Atlas was deleted successfully."
          },
          "204": {
            "description": "The specified Private Atlas was not found. Nothing was deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Private Atlases (deprecated)"
        ],
        "description": "[Deprecated] Delete a Private Atlas resource.",
        "operationId": "PrivateAtlases_Delete",
        "x-ms-examples": {
          "DeletePrivateAtlas": {
            "$ref": "./examples/DeletePrivateAtlas.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateAtlasNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateAtlas"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Private Atlases (deprecated)"
        ],
        "description": "[Deprecated] Get a Private Atlas resource.",
        "operationId": "PrivateAtlases_Get",
        "x-ms-examples": {
          "GetPrivateAtlas": {
            "$ref": "./examples/GetPrivateAtlas.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateAtlasNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateAtlas"
                }
              }
            },
            "description": "The Private Atlas was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Private Atlases (deprecated)"
        ],
        "description": "[Deprecated] Updates the Private Atlas resource. Only a subset of the parameters may be updated after creation, such as Tags.",
        "operationId": "PrivateAtlases_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateAtlasUpdateParameters"
              }
            }
          },
          "description": "The updated parameters for the Private Atlas.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateAccount": {
            "$ref": "./examples/UpdatePrivateAtlas.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/PrivateAtlasNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateAtlas"
                }
              }
            },
            "description": "The Private Atlas was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateAtlas"
                }
              }
            },
            "description": "The Private Atlas was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Private Atlases (deprecated)"
        ],
        "description": "[Deprecated] Create or update a Private Atlas resource. Private Atlas resource will enable the usage of Azure resources to build a custom set of mapping data. It requires an account to exist before it can be created.",
        "operationId": "PrivateAtlases_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateAtlasCreateParameters"
              }
            }
          },
          "description": "The new or updated parameters for the Private Atlas resource.",
          "required": true
        },
        "x-ms-examples": {
          "CreatePrivateAtlas": {
            "$ref": "./examples/CreatePrivateAtlas.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccountKeys"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.",
        "operationId": "Accounts_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsKeySpecification"
              }
            }
          },
          "description": "Which key to regenerate:  primary or secondary.",
          "required": true
        },
        "x-ms-examples": {
          "RegenerateKey": {
            "$ref": "./examples/RegenerateKey.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountNameParameter": {
        "description": "The name of the Maps Account.",
        "in": "path",
        "name": "accountName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "CreatorNameParameter": {
        "description": "The name of the Maps Creator instance.",
        "in": "path",
        "name": "creatorName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PrivateAtlasNameParameter": {
        "description": "The name of the Private Atlas instance.",
        "in": "path",
        "name": "privateAtlasName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Creator": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "description": "An Azure resource which represents Maps Creator product and provides ability to manage private location data.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CreatorProperties",
            "description": "The Creator resource properties."
          }
        },
        "type": "object"
      },
      "CreatorCreateParameters": {
        "description": "Parameters used to create a new Maps Creator resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          },
          "location": {
            "description": "The location of the resource.",
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object"
      },
      "CreatorList": {
        "description": "A list of Creator resources.",
        "properties": {
          "value": {
            "description": "a Creator account.",
            "items": {
              "$ref": "#/components/schemas/Creator"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "CreatorProperties": {
        "description": "Creator resource properties",
        "properties": {
          "provisioningState": {
            "description": "The state of the resource provisioning, terminal states: Succeeded, Failed, Canceled",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreatorUpdateParameters": {
        "description": "Parameters used to update an existing Creator resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "MapsAccount": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "description": "An Azure resource which represents access to a suite of Maps REST APIs.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/MapsAccountProperties",
            "description": "The map account properties.",
            "readOnly": true
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of this account.",
            "readOnly": true
          },
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "description": "The system meta data relating to this resource.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "MapsAccountCreateParameters": {
        "description": "Parameters used to create a new Maps Account.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          },
          "location": {
            "description": "The location of the resource.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of this account."
          }
        },
        "required": [
          "location",
          "sku"
        ],
        "type": "object"
      },
      "MapsAccountKeys": {
        "description": "The set of keys which can be used to access the Maps REST APIs. Two keys are provided for key rotation without interruption.",
        "properties": {
          "id": {
            "description": "The full Azure resource identifier of the Maps Account.",
            "readOnly": true,
            "type": "string"
          },
          "primaryKey": {
            "description": "The primary key for accessing the Maps REST APIs.",
            "readOnly": true,
            "type": "string"
          },
          "secondaryKey": {
            "description": "The secondary key for accessing the Maps REST APIs.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MapsAccountProperties": {
        "description": "Additional Map account properties",
        "properties": {
          "x-ms-client-id": {
            "description": "A unique identifier for the maps account",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MapsAccountUpdateParameters": {
        "description": "Parameters used to update an existing Maps Account.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of this account."
          }
        },
        "type": "object"
      },
      "MapsAccounts": {
        "description": "A list of Maps Accounts.",
        "properties": {
          "value": {
            "description": "a Maps Account.",
            "items": {
              "$ref": "#/components/schemas/MapsAccount"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "MapsKeySpecification": {
        "description": "Whether the operation refers to the primary or secondary key.",
        "properties": {
          "keyType": {
            "description": "Whether the operation refers to the primary or secondary key.",
            "enum": [
              "primary",
              "secondary"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "KeyType"
            }
          }
        },
        "required": [
          "keyType"
        ],
        "type": "object"
      },
      "MapsOperations": {
        "description": "The set of operations available for Maps.",
        "properties": {
          "value": {
            "description": "An operation available for Maps.",
            "items": {
              "properties": {
                "display": {
                  "description": "The human-readable description of the operation.",
                  "properties": {
                    "description": {
                      "description": "The description of the operation.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "operation": {
                      "description": "The action that users can perform, based on their permission level.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "provider": {
                      "description": "Service provider: Microsoft Maps.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "resource": {
                      "description": "Resource on which the operation is performed.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "Operation name: {provider}/{resource}/{operation}.",
                  "readOnly": true,
                  "type": "string"
                },
                "origin": {
                  "description": "The origin of the operation.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "PrivateAtlas": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "description": "An Azure resource which represents which will provision the ability to create private location data.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PrivateAtlasProperties",
            "description": "The Private Atlas resource properties."
          }
        },
        "type": "object"
      },
      "PrivateAtlasCreateParameters": {
        "description": "Parameters used to create a new Private Atlas resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          },
          "location": {
            "description": "The location of the resource.",
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object"
      },
      "PrivateAtlasList": {
        "description": "A list of Private Atlas resources.",
        "properties": {
          "value": {
            "description": "a Private Atlas.",
            "items": {
              "$ref": "#/components/schemas/PrivateAtlas"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "PrivateAtlasProperties": {
        "description": "Private Atlas resource properties",
        "properties": {
          "provisioningState": {
            "description": "The state of the resource provisioning, terminal states: Succeeded, Failed, Canceled",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PrivateAtlasUpdateParameters": {
        "description": "Parameters used to update an existing Private Atlas resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "Sku": {
        "description": "The SKU of the Maps Account.",
        "properties": {
          "name": {
            "description": "The name of the SKU, in standard format (such as S0).",
            "type": "string"
          },
          "tier": {
            "description": "Gets the sku tier. This is based on the SKU name.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}