{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides read and update functionality for Azure SQL Database geo backup policies.",
    "title": "Azure SQL Database",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/geoBackupPolicies.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/geoBackupPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoBackupPolicyListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GeoBackupPolicies"
        ],
        "description": "Returns a list of geo backup policies.",
        "operationId": "GeoBackupPolicies_ListByDatabase",
        "x-ms-examples": {
          "List geo backup policies": {
            "$ref": "./examples/GeoBackupPoliciesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/geoBackupPolicies/{geoBackupPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/GeoBackupPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoBackupPolicy"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GeoBackupPolicies"
        ],
        "description": "Gets a geo backup policy.",
        "operationId": "GeoBackupPolicies_Get",
        "x-ms-examples": {
          "Get geo backup policy": {
            "$ref": "./examples/GeoBackupPoliciesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/GeoBackupPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoBackupPolicy"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoBackupPolicy"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "GeoBackupPolicies"
        ],
        "description": "Updates a database geo backup policy.",
        "operationId": "GeoBackupPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoBackupPolicy"
              }
            }
          },
          "description": "The required parameters for creating or updating the geo backup policy.",
          "required": true
        },
        "x-ms-examples": {
          "Update geo backup policy": {
            "$ref": "./examples/GeoBackupPoliciesCreateOrUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "GeoBackupPolicyNameParameter": {
        "description": "The name of the geo backup policy.",
        "in": "path",
        "name": "geoBackupPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "Default"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "GeoBackupPolicyName"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "GeoBackupPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A database geo backup policy.",
        "properties": {
          "kind": {
            "description": "Kind of geo backup policy.  This is metadata used for the Azure portal experience.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Backup policy location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/GeoBackupPolicyProperties",
            "description": "The properties of the geo backup policy.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "GeoBackupPolicyListResult": {
        "description": "The response to a list geo backup policies request.",
        "properties": {
          "value": {
            "description": "The list of geo backup policies.",
            "items": {
              "$ref": "#/components/schemas/GeoBackupPolicy"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GeoBackupPolicyProperties": {
        "description": "The properties of the geo backup policy.",
        "properties": {
          "state": {
            "description": "The state of the geo backup policy.",
            "enum": [
              "Disabled",
              "Enabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "GeoBackupPolicyState"
            }
          },
          "storageType": {
            "description": "The storage type of the geo backup policy.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "state"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}