openapi: 3.0.0
info:
  description: >-
    These APIs allow end users to operate on Azure Machine Learning Workspace
    resources. They support CRUD operations for Azure Machine Learning
    Workspaces.
  title: Machine Learning Workspaces Management Client
  version: '2019-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.MachineLearning/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Operation
      description: >-
        Lists all of the available Azure Machine Learning Studio REST API
        operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: >-
        Lists all the available machine learning workspaces under the specified
        subscription.
      operationId: Workspaces_List
      x-ms-examples:
        WorkspaceGetBySubscription:
          $ref: ./examples/ListWorkspaces.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: >-
        Lists all the available machine learning workspaces under the specified
        resource group.
      operationId: Workspaces_ListByResourceGroup
      x-ms-examples:
        WorkspaceListResourceGroup:
          $ref: ./examples/ListWorkspaceResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        '204':
          description: The machine learning workspace does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      x-ms-examples:
        WorkspaceDelete:
          $ref: ./examples/DeleteWorkspace.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      x-ms-examples:
        WorkspaceGet:
          $ref: ./examples/GetWorkspace.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateParameters'
        description: The parameters for updating a machine learning workspace.
        required: true
      x-ms-examples:
        WorkspaceUpdate:
          $ref: ./examples/UpdateWorkspace.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the resource already exists and was
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Creates or updates a workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a machine learning workspace.
        required: true
      x-ms-examples:
        WorkspaceCreate:
          $ref: ./examples/CreateWorkspace.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/listWorkspaceKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceKeysResponse'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: List the authorization keys associated with this workspace.
      operationId: Workspaces_ListWorkspaceKeys
      x-ms-examples:
        ListWorkspaceKeys:
          $ref: ./examples/ListWorkspaceKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/resyncStorageKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Resync storage keys associated with this workspace.
      operationId: Workspaces_ResyncStorageKeys
      x-ms-examples:
        ResyncStorageKeys:
          $ref: ./examples/ResyncStorageKeys.json
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: >-
        The name of the resource group to which the machine learning workspace
        belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceNameParameter:
      description: The name of the machine learning workspace.
      in: path
      name: workspaceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: The error response send when an operation fails.
      properties:
        code:
          description: error code
          type: string
        message:
          description: error message
          type: string
      required:
        - code
        - message
      type: object
    Operation:
      description: Azure Machine Learning Studio REST API operation
      properties:
        display:
          description: Display name of operation
          properties:
            description:
              description: The description for the operation.
              type: string
            operation:
              description: The operation that users can perform.
              type: string
            provider:
              description: 'The resource provider name: Microsoft.MachineLearning'
              type: string
            resource:
              description: The resource on which the operation is performed.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: An array of operations supported by the resource provider.
      properties:
        value:
          description: >-
            List of AML Studio operations supported by the AML Studio resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Resource:
      description: An Azure resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        id:
          description: The resource ID.
          readOnly: true
          type: string
        location:
          description: >-
            The location of the resource. This cannot be changed after the
            resource is created.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the workspace.
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    Sku:
      description: Sku of the resource
      properties:
        name:
          description: Name of the sku
          type: string
        tier:
          description: Tier of the sku like Basic or Enterprise
          type: string
      type: object
    Workspace:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning workspace.
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
          description: The properties of the machine learning workspace.
          x-ms-client-flatten: true
      type: object
    WorkspaceKeysResponse:
      description: Workspace authorization keys for a workspace.
      properties:
        primaryToken:
          description: Primary authorization key for this workspace.
          type: string
        secondaryToken:
          description: Secondary authorization key for this workspace.
          type: string
      type: object
    WorkspaceListResult:
      description: The result of a request to list machine learning workspace keys.
      properties:
        nextLink:
          description: >-
            The URI that can be used to request the next list of machine
            learning workspaces.
          type: string
        value:
          description: >-
            The list of machine learning workspaces. Since this list may be
            incomplete, the nextLink field should be used to request the next
            list of machine learning workspaces.
          items:
            $ref: '#/components/schemas/Workspace'
          type: array
      type: object
    WorkspaceProperties:
      description: The properties of a machine learning workspace.
      properties:
        creationTime:
          description: The creation time for this workspace resource.
          readOnly: true
          type: string
        keyVaultIdentifierId:
          description: The key vault identifier used for encrypted workspaces.
          type: string
        ownerEmail:
          description: The email id of the owner for this workspace.
          type: string
        studioEndpoint:
          description: >-
            The regional endpoint for the machine learning studio service which
            hosts this workspace.
          readOnly: true
          type: string
        userStorageAccountId:
          description: >-
            The fully qualified arm id of the storage account associated with
            this workspace.
          type: string
        workspaceId:
          description: The immutable id associated with this workspace.
          readOnly: true
          type: string
        workspaceState:
          description: The current state of workspace resource.
          enum:
            - Deleted
            - Enabled
            - Disabled
            - Migrated
            - Updated
            - Registered
            - Unregistered
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkspaceState
        workspaceType:
          description: The type of this workspace.
          enum:
            - Production
            - Free
            - Anonymous
            - PaidStandard
            - PaidPremium
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkspaceType
      required:
        - userStorageAccountId
        - ownerEmail
      type: object
    WorkspacePropertiesUpdateParameters:
      description: >-
        The parameters for updating the properties of a machine learning
        workspace.
      properties:
        keyVaultIdentifierId:
          description: The key vault identifier used for encrypted workspaces.
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the workspace.
        workspaceState:
          description: The current state of workspace resource.
          enum:
            - Deleted
            - Enabled
            - Disabled
            - Migrated
            - Updated
            - Registered
            - Unregistered
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkspaceState
      type: object
    WorkspaceUpdateParameters:
      description: The parameters for updating a machine learning workspace.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning workspace.
          type: object
        properties:
          $ref: '#/components/schemas/WorkspacePropertiesUpdateParameters'
          description: >-
            The properties that the machine learning workspace will be updated
            with.
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

