{
  "openapi": "3.0.0",
  "info": {
    "title": "AzureStack Azure Bridge Client",
    "version": "2017-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/CustomerSubscription.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscriptionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "CustomerSubscription"
        ],
        "description": "Returns a list of products.",
        "operationId": "CustomerSubscriptions_List",
        "x-ms-examples": {
          "Returns a list of products.": {
            "$ref": "examples/CustomerSubscription/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions/{customerSubscriptionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerSubscriptionNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "CustomerSubscription"
        ],
        "description": "Deletes a customer subscription under a registration.",
        "operationId": "CustomerSubscriptions_Delete",
        "x-ms-examples": {
          "Deletes a customer subscription under a registration.": {
            "$ref": "examples/CustomerSubscription/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerSubscriptionNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscription"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "CustomerSubscription"
        ],
        "description": "Returns the specified product.",
        "operationId": "CustomerSubscriptions_Get",
        "x-ms-examples": {
          "Returns the specified product.": {
            "$ref": "examples/CustomerSubscription/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerSubscriptionNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSubscription"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "CustomerSubscription"
        ],
        "description": "Creates a new customer subscription under a registration.",
        "operationId": "CustomerSubscriptions_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSubscription"
              }
            }
          },
          "description": "Parameters use to create a customer subscription.",
          "required": true
        },
        "x-ms-examples": {
          "Creates a new customer subscription under a registration.": {
            "$ref": "examples/CustomerSubscription/Put.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "CustomerSubscriptionNameParameter": {
        "description": "Name of the product.",
        "in": "path",
        "name": "customerSubscriptionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "CustomerSubscription": {
        "allOf": [
          {
            "$ref": "AzureStack.json#/definitions/Resource"
          }
        ],
        "description": "Customer subscription.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CustomerSubscriptionProperties",
            "description": "Customer subscription properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "CustomerSubscriptionList": {
        "description": "Pageable list of customer subscriptions.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of customer subscriptions.",
            "items": {
              "$ref": "#/components/schemas/CustomerSubscription"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CustomerSubscriptionProperties": {
        "description": "Customer subscription properties.",
        "properties": {
          "tenantId": {
            "description": "Tenant Id.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}