openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingSettings/{blobAuditingPolicyName}':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the database for which the blob audit policy is defined.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
        - description: The name of the blob auditing policy.
          in: path
          name: blobAuditingPolicyName
          required: true
          schema:
            enum:
              - default
            type: string
          x-ms-enum:
            modelAsString: true
            name: BlobAuditingPolicyName
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseBlobAuditingPolicy'
          description: Successfully retrieved the database blob auditing policy.
        default:
          description: |-
            *** Error Responses: ***

             * 400 BlobAuditingIsNotSupportedOnResourceType - Blob Auditing is currently not supported for this resource type.

             * 400 InvalidDatabaseBlobAuditingPolicyCreateRequest - The create database blob auditing policy request does not exist or has no properties object.

             * 400 InvalidBlobAuditActionsAndGroups - Invalid audit actions or action groups.

             * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 500 DatabaseIsUnavailable - Loading failed. Please try again later.

             * 500 GetBlobAuditingPolicyFailed - Failed to get Auditing settings
      tags:
        - BlobAuditing
      description: Gets a database's blob auditing policy.
      operationId: DatabaseBlobAuditingPolicies_Get
      x-ms-examples:
        Get a database's blob auditing policy:
          $ref: ./examples/DatabaseBlobAuditingGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: >-
            The name of the database for which the blob auditing policy will be
            defined.
          in: path
          name: databaseName
          required: true
          schema:
            type: string
        - description: The name of the blob auditing policy.
          in: path
          name: blobAuditingPolicyName
          required: true
          schema:
            enum:
              - default
            type: string
          x-ms-enum:
            modelAsString: true
            name: BlobAuditingPolicyName
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseBlobAuditingPolicy'
          description: Successfully set the database blob auditing policy.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseBlobAuditingPolicy'
          description: Successfully created the database blob auditing policy.
        default:
          description: |-
            *** Error Responses: ***

             * 400 BlobAuditingIsNotSupportedOnResourceType - Blob Auditing is currently not supported for this resource type.

             * 400 InvalidDatabaseBlobAuditingPolicyCreateRequest - The create database blob auditing policy request does not exist or has no properties object.

             * 400 InvalidBlobAuditActionsAndGroups - Invalid audit actions or action groups.

             * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter value was provided by the client.

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 500 DatabaseIsUnavailable - Loading failed. Please try again later.

             * 500 UpsertBlobAuditingPolicyFailed - An error has occurred while saving Auditing settings, please try again later
      tags:
        - BlobAuditing
      description: Creates or updates a database's blob auditing policy.
      operationId: DatabaseBlobAuditingPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseBlobAuditingPolicy'
        description: The database blob auditing policy.
        required: true
      x-ms-examples:
        Create or update a database's blob auditing policy with all parameters:
          $ref: ./examples/DatabaseBlobAuditingCreateMax.json
        Create or update a database's blob auditing policy with minimal parameters:
          $ref: ./examples/DatabaseBlobAuditingCreateMin.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
  schemas:
    DatabaseBlobAuditingPolicy:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A database blob auditing policy.
      properties:
        kind:
          description: Resource kind.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseBlobAuditingPolicyProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    DatabaseBlobAuditingPolicyProperties:
      description: Properties of a database blob auditing policy.
      properties:
        auditActionsAndGroups:
          description: Specifies the Actions and Actions-Groups to audit.
          items:
            type: string
          type: array
        isStorageSecondaryKeyInUse:
          description: >-
            Specifies whether storageAccountAccessKey value is the storage’s
            secondary key.
          type: boolean
        retentionDays:
          description: Specifies the number of days to keep in the audit logs.
          format: int32
          type: integer
        state:
          description: >-
            Specifies the state of the policy. If state is Enabled,
            storageEndpoint and storageAccountAccessKey are required.
          enum:
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: false
            name: BlobAuditingPolicyState
        storageAccountAccessKey:
          description: >-
            Specifies the identifier key of the auditing storage account. If
            state is Enabled, storageAccountAccessKey is required.
          type: string
          x-ms-mutability:
            - create
            - update
        storageAccountSubscriptionId:
          description: Specifies the blob storage subscription Id.
          format: uuid
          type: string
        storageEndpoint:
          description: >-
            Specifies the blob storage endpoint (e.g.
            https://MyAccount.blob.core.windows.net). If state is Enabled,
            storageEndpoint is required.
          type: string
      required:
        - state
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

