openapi: 3.0.0
info:
  description: >-
    Consumption management client provides access to consumption resources for
    Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: '2018-06-30'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Balances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Gets the balances for a scope by billing period and billingAccountId.
        Balances are available via this API only for May 1, 2014 or later.
      operationId: Balances_GetForBillingPeriodByBillingAccount
      x-ms-examples:
        Balances:
          $ref: ./examples/BalancesByBillingAccountForBillingPeriod.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by billing period and
        billingAccountId. Marketplaces are available via this API only for May
        1, 2014 or later.
      operationId: Marketplaces_ListForBillingPeriodByBillingAccount
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesByBillingAccountListForBillingPeriod.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details based on billingAccountId for a scope by billing
        period. Usage details are available via this API only for May 1, 2014 or
        later.
      operationId: UsageDetails_ListForBillingPeriodByBillingAccount
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByBillingAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Balances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Gets the balances for a scope by billingAccountId. Balances are
        available via this API only for May 1, 2014 or later.
      operationId: Balances_GetByBillingAccount
      x-ms-examples:
        Balances:
          $ref: ./examples/BalancesByBillingAccount.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/costTags':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostTag'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CostTags
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Get cost tags for a billing account.
      operationId: CostTags_Get
      x-ms-examples:
        CostTags_Get:
          $ref: ./examples/CostTags.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostTag'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostTag'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CostTags
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        The operation to create or update cost tags associated with a billing
        account. Update operation requires latest eTag to be set in the request
        mandatorily. You may obtain the latest eTag by performing a get
        operation. Create operation does not require eTag.
      operationId: CostTags_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostTag'
        description: Parameters supplied to the Create cost tags operation.
        required: true
      x-ms-examples:
        CreateOrUpdateCostTags:
          $ref: ./examples/CreateOrUpdateCostTags.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by billingAccountId and current
        billing period. Marketplaces are available via this API only for May 1,
        2014 or later.
      operationId: Marketplaces_ListByBillingAccount
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesByBillingAccountList.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName, properties/instanceId or tags. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart)
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details by billingAccountId for a scope by current
        billing period. Usage details are available via this API only for May 1,
        2014 or later.
      operationId: UsageDetails_ListByBillingAccount
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByBillingAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by billing period and departmentId.
        Marketplaces are available via this API only for May 1, 2014 or later.
      operationId: Marketplaces_ListForBillingPeriodByDepartment
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesByDepartment_ListByBillingPeriod.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details based on departmentId for a scope by billing
        period. Usage details are available via this API only for May 1, 2014 or
        later.
      operationId: UsageDetails_ListForBillingPeriodByDepartment
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByDepartment.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by departmentId and current billing
        period. Marketplaces are available via this API only for May 1, 2014 or
        later.
      operationId: Marketplaces_ListByDepartment
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesByDepartmentList.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/departmentIdParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName, properties/instanceId or tags. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart)
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details by departmentId for a scope by current billing
        period. Usage details are available via this API only for May 1, 2014 or
        later.
      operationId: UsageDetails_ListByDepartment
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByDepartment.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by billing period and
        enrollmentAccountId. Marketplaces are available via this API only for
        May 1, 2014 or later.
      operationId: Marketplaces_ListForBillingPeriodByEnrollmentAccount
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details based on enrollmentAccountId for a scope by
        billing period. Usage details are available via this API only for May 1,
        2014 or later.
      operationId: UsageDetails_ListForBillingPeriodByEnrollmentAccount
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by enrollmentAccountId and current
        billing period. Marketplaces are available via this API only for May 1,
        2014 or later.
      operationId: Marketplaces_ListByEnrollmentAccount
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesByEnrollmentAccountList.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName, properties/instanceId or tags. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart)
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details by enrollmentAccountId for a scope by current
        billing period. Usage details are available via this API only for May 1,
        2014 or later.
      operationId: UsageDetails_ListByEnrollmentAccount
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByEnrollmentAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/reservationOrderIdParameter'
        - description: >-
            Filter reservation details by date range. The properties/UsageDate
            for start date and end date. The filter supports 'le' and  'ge' 
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservedInstances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the reservations details for provided date range.
      operationId: ReservationsDetails_ListByReservationOrder
      x-ms-examples:
        ReservationDetails:
          $ref: ./examples/ReservationDetails.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries':
    get:
      parameters:
        - $ref: '#/components/parameters/reservationOrderIdParameter'
        - $ref: '#/components/parameters/grainParameter'
        - description: >-
            Required only for daily grain. The properties/UsageDate for start
            date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservedInstances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the reservations summaries for daily or monthly grain.
      operationId: ReservationsSummaries_ListByReservationOrder
      x-ms-examples:
        ReservationSummariesDaily:
          $ref: ./examples/ReservationSummariesDaily.json
        ReservationSummariesMonthly:
          $ref: ./examples/ReservationSummariesMonthly.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/reservationOrderIdParameter'
        - $ref: '#/components/parameters/reservationIdParameter'
        - description: >-
            Filter reservation details by date range. The properties/UsageDate
            for start date and end date. The filter supports 'le' and  'ge' 
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservedInstances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the reservations details for provided date range.
      operationId: ReservationsDetails_ListByReservationOrderAndReservation
      x-ms-examples:
        ReservationDetailsWithReservationId:
          $ref: ./examples/ReservationDetailsWithReservationId.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries':
    get:
      parameters:
        - $ref: '#/components/parameters/reservationOrderIdParameter'
        - $ref: '#/components/parameters/reservationIdParameter'
        - $ref: '#/components/parameters/grainParameter'
        - description: >-
            Required only for daily grain. The properties/UsageDate for start
            date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservedInstances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the reservations summaries for daily or monthly grain.
      operationId: ReservationsSummaries_ListByReservationOrderAndReservation
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          $ref: ./examples/ReservationSummariesDailyWithReservationId.json
        ReservationSummariesMonthlyWithReservationId:
          $ref: ./examples/ReservationSummariesMonthlyWithReservationId.json
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Consumption/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.CostManagement/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/tags':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Tags
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Get all available tag keys for a billing account.
      operationId: Tags_Get
      x-ms-examples:
        Tags_Get:
          $ref: ./examples/Tags.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/Microsoft.Consumption/aggregatedcost':
    get:
      parameters:
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroupAggregatedCostResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AggregatedCost
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Provides the aggregate cost of a management group and all child
        management groups by specified billing period
      operationId: AggregatedCost_GetForBillingPeriodByManagementGroup
      x-ms-examples:
        AggregatedCostListForBillingPeriodByManagementGroup:
          $ref: ./examples/AggregatedCostForBillingPeriodByManagementGroup.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage detail records for all subscriptions belonging to a
        management group scope by specified billing period. Usage details are
        available via this API only for May 1, 2014 or later.
      operationId: UsageDetails_ListForBillingPeriodByManagementGroup
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByManagementGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost':
    get:
      parameters:
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroupAggregatedCostResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - AggregatedCost
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Provides the aggregate cost of a management group and all child
        management groups by current billing period.
      operationId: AggregatedCost_GetByManagementGroup
      x-ms-examples:
        AggregatedCostByManagementGroup:
          $ref: ./examples/AggregatedCostByManagementGroup.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName, properties/instanceId or tags. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart)
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage detail records for all subscriptions belonging to a
        management group scope by current billing period. Usage details are
        available via this API only for May 1, 2014 or later.
      operationId: UsageDetails_ListByManagementGroup
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByManagementGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by billing period and subscriptionId.
        Marketplaces are available via this API only for May 1, 2014 or later.
      operationId: Marketplaces_ListByBillingPeriod
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesListForBillingPeriod.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default':
    get:
      parameters:
        - description: >-
            May be used to expand the properties/meterDetails within a price
            sheet. By default, these fields are not included when returning
            price sheet.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSheetResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - PriceSheet
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Get the price sheet for a scope by subscriptionId and billing period.
        Price sheet is available via this API only for May 1, 2014 or later.
      operationId: PriceSheet_GetByBillingPeriod
      x-ms-examples:
        PriceSheetExpand:
          $ref: ./examples/PriceSheetExpand.json
        PriceSheetForBillingPeriod:
          $ref: ./examples/PriceSheetForBillingPeriod.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/billingPeriodNameParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details for a scope by billing period. Usage details are
        available via this API only for May 1, 2014 or later.
      operationId: UsageDetails_ListByBillingPeriod
      x-ms-examples:
        UsageDetailsExpand:
          $ref: ./examples/UsageDetailsExpand.json
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriod.json
        UsageDetailsListForBillingPeriodGroupByTag:
          $ref: ./examples/UsageDetailsListForBillingPeriodGroupByTag.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists all budgets for a subscription.
      operationId: Budgets_List
      x-ms-examples:
        BudgetsList:
          $ref: ./examples/BudgetsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{budgetName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: The operation to delete a budget.
      operationId: Budgets_Delete
      x-ms-examples:
        DeleteBudget:
          $ref: ./examples/DeleteBudget.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Gets the budget for a subscription by budget name.
      operationId: Budgets_Get
      x-ms-examples:
        Budget:
          $ref: ./examples/Budget.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the
        latest eTag by performing a get operation. Create operation does not
        require eTag.
      operationId: Budgets_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        description: Parameters supplied to the Create Budget operation.
        required: true
      x-ms-examples:
        CreateOrUpdateBudget:
          $ref: ./examples/CreateOrUpdateBudget.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts':
    get:
      parameters:
        - description: >-
            May be used to filter forecasts by properties/usageDate (Utc time),
            properties/chargeType or properties/grain. The filter supports 'eq',
            'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support
            'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Forecasts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the forecast charges by subscriptionId.
      operationId: Forecasts_List
      x-ms-examples:
        ForecastsList:
          $ref: ./examples/ForecastsList.json
        ForecastsListFilterByDates:
          $ref: ./examples/ForecastsListFilterByDates.json
        ForecastsListFilterByGrain:
          $ref: ./examples/ForecastsListFilterByGrain.json
      x-ms-odata: '#/components/schemas/Forecast'
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/marketplaces':
    get:
      parameters:
        - description: >-
            May be used to filter marketplaces by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            marketplaces.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Marketplaces
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the marketplaces for a scope by subscriptionId and current billing
        period. Marketplaces are available via this API only for May 1, 2014 or
        later.
      operationId: Marketplaces_List
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesList.json
      x-ms-odata: '#/components/schemas/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default':
    get:
      parameters:
        - description: >-
            May be used to expand the properties/meterDetails within a price
            sheet. By default, these fields are not included when returning
            price sheet.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSheetResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - PriceSheet
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Gets the price sheet for a scope by subscriptionId. Price sheet is
        available via this API only for May 1, 2014 or later.
      operationId: PriceSheet_Get
      x-ms-examples:
        PriceSheet:
          $ref: ./examples/PriceSheet.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/reservationRecommendations':
    get:
      parameters:
        - description: >-
            May be used to filter reservationRecommendations by properties/scope
            and properties/lookBackPeriod.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRecommendationsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservationRecommendations
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: List of recommendations for purchasing reserved instances.
      operationId: ReservationRecommendations_List
      x-ms-examples:
        ReservationRecommendations:
          $ref: ./examples/ReservationRecommendationsList.json
        ReservationRecommendationsFilterByScopeLookBackPeriod:
          $ref: >-
            ./examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName, properties/instanceId or tags. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'. Tag filter is a key value
            pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: >-
            OData apply expression to aggregate usageDetails by tags or (tags
            and properties/usageStart)
          in: query
          name: $apply
          required: false
          schema:
            type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details for a scope by current billing period. Usage
        details are available via this API only for May 1, 2014 or later.
      operationId: UsageDetails_List
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsList.json
        UsageDetailsListFilterByTag:
          $ref: ./examples/UsageDetailsListFilterByTag.json
        UsageDetailsListGroupByTagDate:
          $ref: ./examples/UsageDetailsListGroupByTagDate.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists all budgets for a resource group under a subscription.
      operationId: Budgets_ListByResourceGroupName
      x-ms-examples:
        BudgetsList:
          $ref: ./examples/BudgetsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets/{budgetName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: The operation to delete a budget.
      operationId: Budgets_DeleteByResourceGroupName
      x-ms-examples:
        DeleteBudget:
          $ref: ./examples/DeleteBudget.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Gets the budget for a resource group under a subscription by budget
        name.
      operationId: Budgets_GetByResourceGroupName
      x-ms-examples:
        Budget:
          $ref: ./examples/Budget.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the
        latest eTag by performing a get operation. Create operation does not
        require eTag.
      operationId: Budgets_CreateOrUpdateByResourceGroupName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        description: Parameters supplied to the Create Budget operation.
        required: true
      x-ms-examples:
        CreateOrUpdateBudget:
          $ref: ./examples/CreateOrUpdateBudget.json
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2018-06-30.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    billingPeriodNameParameter:
      description: Billing Period Name.
      in: path
      name: billingPeriodName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    budgetNameParameter:
      description: Budget Name.
      in: path
      name: budgetName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    departmentIdParameter:
      description: Department ID
      in: path
      name: departmentId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    enrollmentAccountIdParameter:
      description: EnrollmentAccount ID
      in: path
      name: enrollmentAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    grainParameter:
      description: Can be daily or monthly
      in: query
      name: grain
      required: true
      schema:
        enum:
          - daily
          - monthly
        type: string
      x-ms-enum:
        modelAsString: true
        name: datagrain
        values:
          - description: Daily grain of data
            name: DailyGrain
            value: daily
          - description: Monthly grain of data
            name: MonthlyGrain
            value: monthly
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: Azure Management Group ID.
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    reservationIdParameter:
      description: Id of the reservation
      in: path
      name: reservationId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    reservationOrderIdParameter:
      description: Order Id of the reservation
      in: path
      name: reservationOrderId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    Budget:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Budget'
      description: Parameters supplied to the Create Budget operation.
      required: true
  schemas:
    Balance:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A balance resource.
      properties:
        properties:
          $ref: '#/components/schemas/BalanceProperties'
          title: Balance properties
          x-ms-client-flatten: true
      type: object
    BalanceProperties:
      description: The properties of the balance.
      properties:
        adjustmentDetails:
          description: 'List of Adjustments (Promo credit, SIE credit etc.).'
          items:
            properties:
              name:
                description: the name of new adjustment.
                readOnly: true
                type: string
              value:
                description: the value of new adjustment.
                format: decimal
                readOnly: true
                type: number
            type: object
          readOnly: true
          type: array
        adjustments:
          description: Total adjustment amount.
          format: decimal
          readOnly: true
          type: number
        azureMarketplaceServiceCharges:
          description: Total charges for Azure Marketplace.
          format: decimal
          readOnly: true
          type: number
        beginningBalance:
          description: The beginning balance for the billing period.
          format: decimal
          readOnly: true
          type: number
        billingFrequency:
          description: The billing frequency.
          enum:
            - Month
            - Quarter
            - Year
          type: string
          x-ms-enum:
            modelAsString: true
            name: BillingFrequency
        chargesBilledSeparately:
          description: Charges Billed separately.
          format: decimal
          readOnly: true
          type: number
        currency:
          description: 'The ISO currency in which the meter is charged, for example, USD.'
          readOnly: true
          type: string
        endingBalance:
          description: >-
            The ending balance for the billing period (for open periods this
            will be updated daily).
          format: decimal
          readOnly: true
          type: number
        newPurchases:
          description: Total new purchase amount.
          format: decimal
          readOnly: true
          type: number
        newPurchasesDetails:
          description: List of new purchases.
          items:
            properties:
              name:
                description: the name of new purchase.
                readOnly: true
                type: string
              value:
                description: the value of new purchase.
                format: decimal
                readOnly: true
                type: number
            type: object
          readOnly: true
          type: array
        priceHidden:
          description: Price is hidden or not.
          readOnly: true
          type: boolean
        serviceOverage:
          description: Overage for Azure services.
          format: decimal
          readOnly: true
          type: number
        totalOverage:
          description: serviceOverage + chargesBilledSeparately.
          format: decimal
          readOnly: true
          type: number
        totalUsage:
          description: Azure service commitment + total Overage.
          format: decimal
          readOnly: true
          type: number
        utilized:
          description: Total Commitment usage.
          format: decimal
          readOnly: true
          type: number
      type: object
    Budget:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: A budget resource.
      properties:
        properties:
          $ref: '#/components/schemas/BudgetProperties'
          title: Budget properties
          x-ms-client-flatten: true
      type: object
    BudgetProperties:
      description: The properties of the budget.
      properties:
        amount:
          description: The total amount of cost to track with the budget
          format: decimal
          type: number
        category:
          description: 'The category of the budget, whether the budget tracks cost or usage.'
          enum:
            - Cost
            - Usage
          type: string
          x-ms-enum:
            modelAsString: true
            name: CategoryType
        currentSpend:
          $ref: '#/components/schemas/CurrentSpend'
          description: The current amount of cost which is being tracked for a budget.
          readOnly: true
        filters:
          $ref: '#/components/schemas/Filters'
          description: 'May be used to filter budgets by resource group, resource, or meter.'
          type: object
        notifications:
          additionalProperties:
            $ref: '#/components/schemas/Notification'
            type: object
          description: >-
            Dictionary of notifications associated with the budget. Budget can
            have up to five notifications.
          maxItems: 5
          type: object
        timeGrain:
          description: >-
            The time covered by a budget. Tracking of the amount will be reset
            based on the time grain.
          enum:
            - Monthly
            - Quarterly
            - Annually
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeGrainType
        timePeriod:
          $ref: '#/components/schemas/BudgetTimePeriod'
          description: >-
            Has start and end date of the budget. The start date must be first
            of the month and should be less than the end date. Budget start date
            must be on or after June 1, 2017. Future start date should not be
            more than three months. Past start date should  be selected within
            the timegrain period. There are no restrictions on the end date.
      required:
        - category
        - amount
        - timeGrain
        - timePeriod
      type: object
    BudgetTimePeriod:
      description: The start and end date for a budget.
      properties:
        endDate:
          description: >-
            The end date for the budget. If not provided, we default this to 10
            years from the start date.
          format: date-time
          type: string
        startDate:
          description: The start date for the budget.
          format: date-time
          type: string
      required:
        - startDate
      type: object
    BudgetsListResult:
      description: >-
        Result of listing budgets. It contains a list of available budgets in
        the scope provided.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of budgets.
          items:
            $ref: '#/components/schemas/Budget'
          readOnly: true
          type: array
      type: object
    CostTag:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: A cost tag resource.
      properties:
        properties:
          $ref: '#/components/schemas/CostTagsModel'
          title: Cost tag properties
          x-ms-client-flatten: true
      type: object
    CostTagProperties:
      description: The properties of the cost tag.
      properties:
        key:
          description: Cost tag key.
          type: string
      type: object
    CostTagsModel:
      description: The cost tag.
      properties:
        costTags:
          description: Cost tags.
          items:
            $ref: '#/components/schemas/CostTagProperties'
          type: array
      type: object
    CurrentSpend:
      description: The current amount of cost which is being tracked for a budget.
      properties:
        amount:
          description: The total amount of cost which is being tracked by the budget.
          format: decimal
          readOnly: true
          type: number
[...]
