openapi: 3.0.0
info:
  description: >-
    The Data Migration Service helps people migrate their data from on-premise
    database servers to Azure, or from older database software to newer
    software. The service manages one or more workers that are joined to a
    customer's virtual network, which is assumed to provide connectivity to
    their databases. To avoid frequent updates to the resource provider, data
    migration tasks are implemented by the resource provider in a generic way as
    task resources, each of which has a task type (which identifies the type of
    work to run), input, and output. The client is responsible for providing
    appropriate task type and inputs, which will be passed through unexamined to
    the machines that implement the functionality, and for understanding the
    output, which is passed back unexamined to the client.
  title: Azure Data Migration Service Resource Provider
  version: 2017-11-15-preview
  x-ms-code-generation-settings:
    name: DataMigrationServiceClient
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.DataMigration/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Services.json#/definitions/ServiceOperationList
          description: Got action list
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Standard operation
        - GET
      description: >-
        Lists all available actions exposed by the Data Migration Service
        resource provider.
      operationId: Operations_List
      summary: Get available resource provider actions (operations)
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/location'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions/Common.json#/definitions/NameAvailabilityResponse
          description: Name checked
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Standard operation
        - POST
      description: >-
        This method checks whether a proposed top-level resource name is valid
        and available.
      operationId: Services_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Common.json#/definitions/NameAvailabilityRequest
        description: Requested name to validate
        required: true
      summary: Check name validity and availability
      x-ms-examples:
        Services_CheckNameAvailability:
          $ref: ./examples/Services_CheckNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/usages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/QuotaList
          description: Quotas returned
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Standard operation
        - GET
      description: >-
        This method returns region-specific quotas and resource usage
        information for the Data Migration Service.
      operationId: Usages_List
      summary: Get resource quotas and usage information
      x-ms-examples:
        Services_Usages:
          $ref: ./examples/Usages_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/services':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions/Services.json#/definitions/DataMigrationServiceList
          description: Got services
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - GET
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. This method returns a list of service resources in a
        subscription.
      operationId: Services_List
      summary: Get services in subscription
      x-ms-examples:
        Services_List:
          $ref: ./examples/Services_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/skus':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions/ResourceSkus.json#/definitions/ResourceSkusResult
          description: Got SKUs
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Standard operation
        - GET
      description: The skus action returns the list of SKUs that DMS supports.
      operationId: ResourceSkus_ListSkus
      summary: Get supported SKUs
      x-ms-examples:
        ListSkus:
          $ref: ./examples/ResourceSkus_ListSkus.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions/Services.json#/definitions/DataMigrationServiceList
          description: Got services
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - GET
      description: >-
        The Services resource is the top-level resource that represents the Data
        Migration Service. This method returns a list of service resources in a
        resource group.
      operationId: Services_ListByResourceGroup
      summary: Get services in resource group
      x-ms-examples:
        Services_ListByResourceGroup:
          $ref: ./examples/Services_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}':
    parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/groupName'
      - $ref: '#/components/parameters/serviceName'
      - $ref: '#/components/parameters/apiVersion'
    delete:
      parameters:
        - $ref: '#/components/parameters/deleteRunningTasks'
      responses:
        '200':
          description: Service resource deleted
        '202':
          description: Deletion accepted
        '204':
          description: Service not found
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - DELETE
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. The DELETE method deletes a service. Any running
        tasks will be canceled.
      operationId: Services_Delete
      summary: Delete DMS Service Instance
      x-ms-examples:
        Services_CreateOrUpdate:
          $ref: ./examples/Services_Delete.json
      x-ms-long-running-operation: true
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Services.json#/definitions/DataMigrationService
          description: A service instance resource
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - GET
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. The GET method retrieves information about a service
        instance.
      operationId: Services_Get
      summary: Get DMS Service Instance
      x-ms-examples:
        Services_CreateOrUpdate:
          $ref: ./examples/Services_Get.json
    patch:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Services.json#/definitions/DataMigrationService
          description: Service resource updated
        '202':
          description: Update accepted
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - PATCH
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. The PATCH method updates an existing service. This
        method can change the kind, SKU, and network of the service, but if
        tasks are currently running (i.e. the service is busy), this will fail
        with 400 Bad Request ("ServiceIsBusy").
      operationId: Services_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Services.json#/definitions/DataMigrationService
        description: Information about the service
        required: true
      summary: Create or update DMS Service Instance
      x-ms-examples:
        Services_CreateOrUpdate:
          $ref: ./examples/Services_Update.json
      x-ms-long-running-operation: true
    put:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Services.json#/definitions/DataMigrationService
          description: Service updated
        '201':
          content:
            application/json:
              schema:
                $ref: ./definitions/Services.json#/definitions/DataMigrationService
          description: Service created (use provisioningState)
        '202':
          description: Update accepted
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - PUT
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. The PUT method creates a new service or updates an
        existing one. When a service is updated, existing child resources (i.e.
        tasks) are unaffected. Services currently support a single kind, "vm",
        which refers to a VM-based service, although other kinds may be added in
        the future. This method can change the kind, SKU, and network of the
        service, but if tasks are currently running (i.e. the service is busy),
        this will fail with 400 Bad Request ("ServiceIsBusy"). The provider will
        reply when successful with 200 OK or 201 Created. Long-running
        operations use the provisioningState property.
      operationId: Services_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Services.json#/definitions/DataMigrationService
        description: Information about the service
        required: true
      summary: Create or update DMS Instance
      x-ms-examples:
        Services_CreateOrUpdate:
          $ref: ./examples/Services_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/serviceName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions/Common.json#/definitions/NameAvailabilityResponse
          description: Name checked
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Custom operation
        - POST
      description: >-
        This method checks whether a proposed nested resource name is valid and
        available.
      operationId: Services_CheckChildrenNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Common.json#/definitions/NameAvailabilityRequest
        description: Requested name to validate
        required: true
      summary: Check nested resource name validity and availability
      x-ms-examples:
        Services_CheckChildrenNameAvailability:
          $ref: ./examples/Services_CheckChildrenNameAvailability.json
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/checkStatus':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions/Services.json#/definitions/DataMigrationServiceStatusResponse
          description: Health checked
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Custom operation
        - POST
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. This action performs a health check and returns the
        status of the service and virtual machine size.
      operationId: Services_CheckStatus
      summary: Check service health status
      x-ms-examples:
        Services_CheckStatus:
          $ref: ./examples/Services_CheckStatus.json
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Projects.json#/definitions/ProjectList
          description: List of projects
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Project resource
        - Standard operation
        - GET
      description: >-
        The project resource is a nested resource representing a stored
        migration project. This method returns a list of projects owned by a
        service resource.
      operationId: Projects_List
      summary: Get projects in a service
      x-ms-examples:
        Projects_List:
          $ref: ./examples/Projects_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}':
    parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/groupName'
      - $ref: '#/components/parameters/serviceName'
      - $ref: '#/components/parameters/projectName'
      - $ref: '#/components/parameters/apiVersion'
    delete:
      parameters:
        - $ref: '#/components/parameters/deleteRunningTasks'
      responses:
        '200':
          description: Project resource deleted
        '204':
          description: Not found
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Project resource
        - Standard operation
        - DELETE
      description: >-
        The project resource is a nested resource representing a stored
        migration project. The DELETE method deletes a project.
      operationId: Projects_Delete
      summary: Delete project
      x-ms-examples:
        Projects_Delete:
          $ref: ./examples/Projects_Delete.json
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Projects.json#/definitions/Project
          description: A project resource
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Project resource
        - Standard operation
        - GET
      description: >-
        The project resource is a nested resource representing a stored
        migration project. The GET method retrieves information about a project.
      operationId: Projects_Get
      summary: Get project information
      x-ms-examples:
        Projects_Get:
          $ref: ./examples/Projects_Get.json
    patch:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Projects.json#/definitions/Project
          description: Project resource updated
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Project resource
        - Standard operation
        - PATCH
      description: >-
        The project resource is a nested resource representing a stored
        migration project. The PATCH method updates an existing project.
      operationId: Projects_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Projects.json#/definitions/Project
        description: Information about the project
        required: true
      summary: Update project
      x-ms-examples:
        Projects_Update:
          $ref: ./examples/Projects_Update.json
    put:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Projects.json#/definitions/Project
          description: Project updated
        '201':
          content:
            application/json:
              schema:
                $ref: ./definitions/Projects.json#/definitions/Project
          description: Project created
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Project resource
        - Standard operation
        - PUT
      description: >-
        The project resource is a nested resource representing a stored
        migration project. The PUT method creates a new project or updates an
        existing one.
      operationId: Projects_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Projects.json#/definitions/Project
        description: Information about the project
        required: true
      summary: Create or update project
      x-ms-examples:
        Projects_CreateOrUpdate:
          $ref: ./examples/Projects_CreateOrUpdate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/projectName'
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/taskType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Tasks.json#/definitions/TaskList
          description: Got tasks
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - GET
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. This method returns a list of tasks owned by a
        service resource. Some tasks may have a status of Unknown, which
        indicates that an error occurred while querying the status of that task.
      operationId: Tasks_List
      summary: Get tasks in a service
      x-ms-examples:
        Tasks_List:
          $ref: ./examples/Tasks_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks/{taskName}':
    parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/groupName'
      - $ref: '#/components/parameters/serviceName'
      - $ref: '#/components/parameters/projectName'
      - $ref: '#/components/parameters/taskName'
      - $ref: '#/components/parameters/apiVersion'
    delete:
      parameters:
        - $ref: '#/components/parameters/deleteRunningTasks'
      responses:
        '200':
          description: Task resource deleted
        '204':
          description: Not found
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Task resource
        - Standard operation
        - DELETE
      description: >-
        The tasks resource is a nested, proxy-only resource representing work
        performed by a DMS instance. The DELETE method deletes a task, canceling
        it first if it's running.
      operationId: Tasks_Delete
      summary: Delete task
      x-ms-examples:
        Tasks_Delete:
          $ref: ./examples/Tasks_Delete.json
    get:
      parameters:
        - description: Expand the response
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Tasks.json#/definitions/ProjectTask
          description: A task resource
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Task resource
        - Standard operation
        - GET
      description: >-
        The tasks resource is a nested, proxy-only resource representing work
        performed by a DMS instance. The GET method retrieves information about
        a task.
      operationId: Tasks_Get
      summary: Get task information
      x-ms-examples:
        Tasks_Get:
          $ref: ./examples/Tasks_Get.json
    patch:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Tasks.json#/definitions/ProjectTask
          description: Task resource updated
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Task resource
        - Standard operation
        - PATCH
      description: >-
        The tasks resource is a nested, proxy-only resource representing work
        performed by a DMS instance. The PATCH method updates an existing task,
        but since tasks have no mutable custom properties, there is little
        reason to do so.
      operationId: Tasks_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Tasks.json#/definitions/ProjectTask
        description: Information about the task
        required: true
      summary: Create or update task
      x-ms-examples:
        Tasks_Update:
          $ref: ./examples/Tasks_Update.json
    put:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Tasks.json#/definitions/ProjectTask
          description: Task updated
        '201':
          content:
            application/json:
              schema:
                $ref: ./definitions/Tasks.json#/definitions/ProjectTask
          description: Task created
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Task resource
        - Standard operation
        - PUT
      description: >-
        The tasks resource is a nested, proxy-only resource representing work
        performed by a DMS instance. The PUT method creates a new task or
        updates an existing one, although since tasks have no mutable custom
        properties, there is little reason to update an existing one.
      operationId: Tasks_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions/Tasks.json#/definitions/ProjectTask
        description: Information about the task
        required: true
      summary: Create or update task
      x-ms-examples:
        Tasks_CreateOrUpdate:
          $ref: ./examples/Tasks_CreateOrUpdate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks/{taskName}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/projectName'
        - $ref: '#/components/parameters/taskName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Tasks.json#/definitions/ProjectTask
          description: Task canceled
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Task resource
        - Custom operation
        - POST
      description: >-
        The tasks resource is a nested, proxy-only resource representing work
        performed by a DMS instance. This method cancels a task if it's
        currently queued or running.
      operationId: Tasks_Cancel
      summary: Cancel a task
      x-ms-examples:
        Tasks_Cancel:
          $ref: ./examples/Tasks_Cancel.json
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/skus':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions/Services.json#/definitions/ServiceSkuList
          description: Got SKUs
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Standard operation
        - GET
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. The skus action returns the list of SKUs that a
        service resource can be updated to.
      operationId: Services_ListSkus
      summary: Get compatible SKUs
      x-ms-examples:
        Services_ListSkus:
          $ref: ./examples/Services_ListSkus.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The service has already been started.
        '202':
          description: The request to start service is accepted.
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Custom operation
        - POST
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. This action starts the service and the service can be
        used for data migration.
      operationId: Services_Start
      summary: Start service
      x-ms-examples:
        Services_Start:
          $ref: ./examples/Services_Start.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/groupName'
        - $ref: '#/components/parameters/serviceName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The service has already been stopped.
        '202':
          description: The request to stop service is accepted.
        default:
          content:
            application/json:
              schema:
                $ref: ./definitions/Common.json#/definitions/ApiError
          description: Error
      tags:
        - Service resource
        - Custom operation
        - POST
      description: >-
        The services resource is the top-level resource that represents the Data
        Migration Service. This action stops the service and the service cannot
        be used for data migration. The service owner won't be billed when the
        service is stopped.
      operationId: Services_Stop
      summary: Stop service
      x-ms-examples:
        Services_Stop:
          $ref: ./examples/Services_Stop.json
      x-ms-long-running-operation: true
components:
  parameters:
    apiVersion:
      description: Version of the API
      in: query
      name: api-version
      required: true
      schema:
        type: string
    deleteRunningTasks:
      description: Delete the resource even if it contains running tasks
      in: query
      name: deleteRunningTasks
      required: false
      schema:
        type: boolean
      x-ms-parameter-location: method
    groupName:
      description: Name of the resource group
      in: path
      name: groupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    location:
      description: The Azure region of the operation
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    projectName:
      description: Name of the project
      in: path
      name: projectName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    serviceName:
      description: Name of the service
      in: path
      name: serviceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionId:
      description: Identifier of the subscription
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    taskName:
      description: Name of the Task
      in: path
      name: taskName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    taskType:
      description: Filter tasks by task type
      in: query
      name: taskType
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    timeoutMs:
      description: 'The number of milliseconds the task is allowed to run, up to 20000'
      in: query
      name: timeoutMs
      required: false
      schema:
        format: int32
        type: integer
      x-ms-parameter-location: method
  requestBodies:
    ./definitions/Common.json#/definitions/NameAvailabilityRequest:
      content:
        application/json:
          schema:
            $ref: ./definitions/Common.json#/definitions/NameAvailabilityRequest
      description: Requested name to validate
      required: true
    ./definitions/Projects.json#/definitions/Project:
      content:
        application/json:
          schema:
            $ref: ./definitions/Projects.json#/definitions/Project
      description: Information about the project
      required: true
    ./definitions/Services.json#/definitions/DataMigrationService:
      content:
        application/json:
          schema:
            $ref: ./definitions/Services.json#/definitions/DataMigrationService
      description: Information about the service
      required: true
    ./definitions/Tasks.json#/definitions/ProjectTask:
      content:
        application/json:
          schema:
            $ref: ./definitions/Tasks.json#/definitions/ProjectTask
      description: Information about the task
      required: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

