openapi: 3.0.0
info:
  title: CertificateRegistrationProvider API Client
  version: '2015-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.CertificateRegistration/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2016-03-01/CommonDefinitions.json#/definitions/CsmOperationCollection
          description: OK
      tags:
        - CertificateRegistrationProvider
      description: >-
        Implements Csm operations Api to exposes the list of available Csm Apis
        under the resource provider
      operationId: CertificateRegistrationProvider_ListOperations
      summary: >-
        Implements Csm operations Api to exposes the list of available Csm Apis
        under the resource provider
      x-ms-examples:
        List operations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

