{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Log Analytics API reference for Solution.",
    "title": "Azure Log Analytics - Operations Management",
    "version": "2015-11-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationsmanagement/resource-manager/Microsoft.OperationsManagement/preview/2015-11-01-preview/OperationsManagement.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.OperationsManagement/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available OperationsManagement Rest API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementAssociations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementAssociationPropertiesList"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementAssociation"
        ],
        "description": "Retrieves the ManagementAssociations list.",
        "operationId": "ManagementAssociations_ListBySubscription",
        "summary": "Retrieves the ManagementAssociations list for the subscription",
        "x-ms-examples": {
          "SolutionList": {
            "$ref": "./examples/ManagementAssociationListForSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementConfigurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementConfigurationPropertiesList"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementConfiguration"
        ],
        "description": "Retrieves the ManagementConfigurations list.",
        "operationId": "ManagementConfigurations_ListBySubscription",
        "summary": "Retrieves the ManagementConfigurations list for the subscription",
        "x-ms-examples": {
          "SolutionList": {
            "$ref": "./examples/ManagementConfigurationListForSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/solutions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionPropertiesList"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "Solution"
        ],
        "description": "Retrieves the solution list. It will retrieve both first party and third party solutions",
        "operationId": "Solutions_ListBySubscription",
        "summary": "Retrieves the solution list for the subscription",
        "x-ms-examples": {
          "SolutionList": {
            "$ref": "./examples/SolutionListForSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/ManagementConfigurations/{managementConfigurationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementConfigurationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementConfiguration"
        ],
        "description": "Deletes the ManagementConfiguration in the subscription.",
        "operationId": "ManagementConfigurations_Delete",
        "summary": "Deletes the ManagementConfiguration",
        "x-ms-examples": {
          "ManagementConfigurationDelete": {
            "$ref": "./examples/ManagementConfigurationDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementConfigurationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementConfiguration"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementConfiguration"
        ],
        "description": "Retrieves the user ManagementConfiguration.",
        "operationId": "ManagementConfigurations_Get",
        "summary": "Retrieve ManagementConfiguration.",
        "x-ms-examples": {
          "SolutionGet": {
            "$ref": "./examples/ManagementConfigurationGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementConfigurationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementConfiguration"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementConfiguration"
        ],
        "description": "Creates or updates the ManagementConfiguration.",
        "operationId": "ManagementConfigurations_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagementConfiguration"
              }
            }
          },
          "description": "The parameters required to create OMS Solution.",
          "required": true
        },
        "summary": "Create/Update ManagementConfiguration.",
        "x-ms-examples": {
          "ManagementConfigurationCreate": {
            "$ref": "./examples/ManagementConfigurationCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionPropertiesList"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "Solution"
        ],
        "description": "Retrieves the solution list. It will retrieve both first party and third party solutions",
        "operationId": "Solutions_ListByResourceGroup",
        "summary": "Retrieves the solution list for the subscription",
        "x-ms-examples": {
          "SolutionList": {
            "$ref": "./examples/SolutionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions/{solutionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SolutionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "Solution"
        ],
        "description": "Deletes the solution in the subscription.",
        "operationId": "Solutions_Delete",
        "summary": "Deletes the solution",
        "x-ms-examples": {
          "SolutionDelete": {
            "$ref": "./examples/SolutionDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/SolutionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "Solution"
        ],
        "description": "Retrieves the user solution.",
        "operationId": "Solutions_Get",
        "summary": "Retrieve solution.",
        "x-ms-examples": {
          "SolutionGet": {
            "$ref": "./examples/SolutionGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SolutionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            },
            "description": "Patch succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "Solution"
        ],
        "description": "Patch a Solution. Only updating tags supported.",
        "operationId": "Solutions_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionPatch"
              }
            }
          },
          "description": "The parameters required to patch a Solution.",
          "required": true
        },
        "summary": "Patch a Solution.",
        "x-ms-examples": {
          "SolutionUpdate": {
            "$ref": "./examples/SolutionUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SolutionNameParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            },
            "description": "Created response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "Solution"
        ],
        "description": "Creates or updates the Solution.",
        "operationId": "Solutions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Solution"
              }
            }
          },
          "description": "The parameters required to create OMS Solution.",
          "required": true
        },
        "summary": "Create/Update Solution.",
        "x-ms-examples": {
          "SolutionCreate": {
            "$ref": "./examples/SolutionCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.OperationsManagement/ManagementAssociations/{managementAssociationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProviderNameParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementAssociationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementAssociation"
        ],
        "description": "Deletes the ManagementAssociation in the subscription.",
        "operationId": "ManagementAssociations_Delete",
        "summary": "Deletes the ManagementAssociation",
        "x-ms-examples": {
          "SolutionDelete": {
            "$ref": "./examples/ManagementAssociationDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProviderNameParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementAssociationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementAssociation"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementAssociation"
        ],
        "description": "Retrieves the user ManagementAssociation.",
        "operationId": "ManagementAssociations_Get",
        "summary": "Retrieve ManagementAssociation.",
        "x-ms-examples": {
          "SolutionGet": {
            "$ref": "./examples/ManagementAssociationGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ProviderNameParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ManagementAssociationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementAssociation"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeMessageError"
                }
              }
            },
            "description": "Error response definition."
          }
        },
        "tags": [
          "ManagementAssociation"
        ],
        "description": "Creates or updates the ManagementAssociation.",
        "operationId": "ManagementAssociations_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagementAssociation"
              }
            }
          },
          "description": "The parameters required to create ManagementAssociation extension.",
          "required": true
        },
        "summary": "Create/Update ManagementAssociation.",
        "x-ms-examples": {
          "SolutionCreate": {
            "$ref": "./examples/ManagementAssociationCreate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ManagementAssociationNameParameter": {
        "description": "User ManagementAssociation Name.",
        "in": "path",
        "name": "managementAssociationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ManagementConfigurationNameParameter": {
        "description": "User Management Configuration Name.",
        "in": "path",
        "name": "managementConfigurationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ProviderNameParameter": {
        "description": "Provider name for the parent resource.",
        "in": "path",
        "name": "providerName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group to get. The name is case insensitive.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceNameParameter": {
        "description": "Parent resource name.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceTypeParameter": {
        "description": "Resource type for the parent resource",
        "in": "path",
        "name": "resourceType",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SolutionNameParameter": {
        "description": "User Solution Name.",
        "in": "path",
        "name": "solutionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ArmTemplateParameter": {
        "description": "Parameter to pass to ARM template",
        "properties": {
          "name": {
            "description": "name of the parameter.",
            "type": "string"
          },
          "value": {
            "description": "value for the parameter. In Jtoken ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CodeMessageError": {
        "description": "The error body contract.",
        "properties": {
          "error": {
            "description": "The error details for a failed request.",
            "properties": {
              "code": {
                "description": "The error type.",
                "type": "string"
              },
              "message": {
                "description": "The error message.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "ManagementAssociation": {
        "description": "The container for solution.",
        "properties": {
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementAssociationProperties",
            "description": "Properties for ManagementAssociation object supported by the OperationsManagement resource provider."
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ManagementAssociationProperties": {
        "description": "ManagementAssociation properties supported by the OperationsManagement resource provider.",
        "properties": {
          "applicationId": {
            "description": "The applicationId of the appliance for this association.",
            "type": "string"
          }
        },
        "required": [
          "applicationId"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ManagementAssociationPropertiesList": {
        "description": "the list of ManagementAssociation response",
        "properties": {
          "value": {
            "description": "List of Management Association properties within the subscription.",
            "items": {
              "$ref": "#/components/schemas/ManagementAssociation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ManagementConfiguration": {
        "description": "The container for solution.",
        "properties": {
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementConfigurationProperties",
            "description": "Properties for ManagementConfiguration object supported by the OperationsManagement resource provider."
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ManagementConfigurationProperties": {
        "description": "ManagementConfiguration properties supported by the OperationsManagement resource provider.",
        "properties": {
          "parameters": {
            "description": "Parameters to run the ARM template",
            "items": {
              "$ref": "#/components/schemas/ArmTemplateParameter"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          },
          "applicationId": {
            "description": "The applicationId of the appliance for this Management.",
            "type": "string"
          },
          "parentResourceType": {
            "description": "The type of the parent resource.",
            "type": "string"
          },
          "provisioningState": {
            "description": "The provisioning state for the ManagementConfiguration.",
            "readOnly": true,
            "type": "string"
          },
          "template": {
            "description": "The Json object containing the ARM template to deploy",
            "type": "object"
          }
        },
        "required": [
          "parameters",
          "parentResourceType",
          "template"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ManagementConfigurationPropertiesList": {
        "description": "the list of ManagementConfiguration response",
        "properties": {
          "value": {
            "description": "List of Management Configuration properties within the subscription.",
            "items": {
              "$ref": "#/components/schemas/ManagementConfiguration"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Supported operation of OperationsManagement resource provider.",
        "properties": {
          "display": {
            "description": "Display metadata associated with the operation.",
            "properties": {
              "operation": {
                "description": "Type of operation: get, read, delete, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft OperationsManagement.",
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed etc.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of the request to list solution operations.",
        "properties": {
          "value": {
            "description": "List of solution operations supported by the OperationsManagement resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "Solution": {
        "description": "The container for solution.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/SolutionPlan",
            "description": "Plan for solution object supported by the OperationsManagement resource provider."
          },
          "properties": {
            "$ref": "#/components/schemas/SolutionProperties",
            "description": "Properties for solution object supported by the OperationsManagement resource provider."
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SolutionPatch": {
        "description": "The properties of a Solution that can be patched.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SolutionPlan": {
        "description": "Plan for solution object supported by the OperationsManagement resource provider.",
        "properties": {
          "name": {
            "description": "name of the solution to be created. For Microsoft published solution it should be in the format of solutionType(workspaceName). SolutionType part is case sensitive. For third party solution, it can be anything.",
            "type": "string"
          },
          "product": {
            "description": "name of the solution to enabled/add. For Microsoft published gallery solution it should be in the format of OMSGallery/<solutionType>. This is case sensitive",
            "type": "string"
          },
          "promotionCode": {
            "description": "promotionCode, Not really used now, can you left as empty",
            "type": "string"
          },
          "publisher": {
            "description": "Publisher name. For gallery solution, it is Microsoft.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SolutionProperties": {
        "description": "Solution properties supported by the OperationsManagement resource provider.",
        "properties": {
          "containedResources": {
            "description": "The azure resources that will be contained within the solutions. They will be locked and gets deleted automatically when the solution is deleted.",
            "items": {
              "description": "the azure resourceId of the resource.",
              "type": "string"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "The provisioning state for the solution.",
            "readOnly": true,
            "type": "string"
          },
          "referencedResources": {
            "description": "The resources that will be referenced from this solution. Deleting any of those solution out of band will break the solution.",
            "items": {
              "description": "the azure resourceId of the resource.",
              "type": "string"
            },
            "type": "array"
          },
          "workspaceResourceId": {
            "description": "The azure resourceId for the workspace where the solution will be deployed/enabled.",
            "type": "string"
          }
        },
        "required": [
          "workspaceResourceId"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SolutionPropertiesList": {
        "description": "the list of solution response",
        "properties": {
          "value": {
            "description": "List of solution properties within the subscription.",
            "items": {
              "$ref": "#/components/schemas/Solution"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}