openapi: 3.0.0
info:
  description: >-
    The Azure management API provides a RESTful set of web services that
    interact with Azure Dedicated HSM RP.
  title: Azure Dedicated HSM Resource Provider
  version: 2018-10-31-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.HardwareSecurityModules/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmOperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsmOperations
      description: Get a list of Dedicated HSM operations.
      operationId: Operations_List
      x-ms-examples:
        Get a list of Dedicated HSM operations:
          $ref: ./examples//DedicatedHsm_OperationsList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs':
    get:
      parameters:
        - description: Maximum number of results to return.
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmListResult'
          description: >-
            Get information about all dedicated HSMs in the specified
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsms
      description: >-
        The List operation gets information about the dedicated HSMs associated
        with the subscription.
      operationId: DedicatedHsm_ListBySubscription
      x-ms-examples:
        List dedicated HSM devices in a subscription:
          $ref: ./examples//DedicatedHsm_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs':
    get:
      parameters:
        - description: The name of the Resource Group to which the dedicated HSM belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmListResult'
          description: >-
            Get information about all dedicated HSMs in the specified resource
            group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsms
      description: >-
        The List operation gets information about the dedicated hsms associated
        with the subscription and within the specified resource group.
      operationId: DedicatedHsm_ListByResourceGroup
      x-ms-examples:
        List dedicated HSM devices in a resource group:
          $ref: ./examples//DedicatedHsm_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/{name}':
    delete:
      parameters:
        - description: The name of the Resource Group to which the dedicated HSM belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the dedicated HSM to delete
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK Response.
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsms
      description: Deletes the specified Azure Dedicated HSM.
      operationId: DedicatedHsm_Delete
      x-ms-examples:
        Delete a dedicated HSM:
          $ref: ./examples//DedicatedHsm_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the Resource Group to which the dedicated hsm belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the dedicated HSM.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Retrieved dedicated HSM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsms
      description: Gets the specified Azure dedicated HSM.
      operationId: DedicatedHsm_Get
      x-ms-examples:
        Get a dedicated HSM:
          $ref: ./examples//DedicatedHsm_Get.json
        Get a payment HSM:
          $ref: ./examples//PaymentHsm_Get.json
    patch:
      parameters:
        - description: The name of the Resource Group to which the server belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the dedicated HSM
          in: path
          name: name
          required: true
          schema:
            pattern: '^[a-zA-Z0-9-]{3,24}$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Patched dedicated HSM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsms
      description: Update a dedicated HSM in the specified subscription.
      operationId: DedicatedHsm_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHsmPatchParameters'
        description: Parameters to patch the dedicated HSM
        required: true
      x-ms-examples:
        Update an existing dedicated HSM:
          $ref: ./examples//DedicatedHsm_Update.json
        Update an existing payment HSM:
          $ref: ./examples//PaymentHsm_Update.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the Resource Group to which the resource belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the dedicated Hsm
          in: path
          name: name
          required: true
          schema:
            pattern: '^[a-zA-Z0-9-]{3,24}$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Created dedicated HSM
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsm'
          description: Created dedicated HSM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
          description: The error response describing why the operation failed.
      tags:
        - DedicatedHsms
      description: Create or Update a dedicated HSM in the specified subscription.
      operationId: DedicatedHsm_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHsm'
        description: Parameters to create or update the dedicated hsm
        required: true
      x-ms-examples:
        Create a new or update an existing dedicated HSM:
          $ref: ./examples//DedicatedHsm_CreateOrUpdate.json
        Create a new or update an existing payment HSM:
          $ref: ./examples//PaymentHsm_CreateOrUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiEntityReference:
      description: The API entity reference.
      properties:
        id:
          description: >-
            The ARM resource id in the form of
            /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
          type: string
      type: object
    DedicatedHsm:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Resource information with extended details.
      properties:
        properties:
          $ref: '#/components/schemas/DedicatedHsmProperties'
          description: Properties of the dedicated HSM
          x-ms-client-flatten: true
      required:
        - location
        - sku
        - properties
      type: object
    DedicatedHsmError:
      description: The error exception.
      properties:
        error:
          $ref: '#/components/schemas/Error'
          readOnly: true
      type: object
    DedicatedHsmListResult:
      description: List of dedicated HSMs
      properties:
        nextLink:
          description: The URL to get the next set of dedicated hsms.
          type: string
        value:
          description: The list of dedicated HSMs.
          items:
            $ref: '#/components/schemas/DedicatedHsm'
          type: array
      type: object
    DedicatedHsmOperation:
      description: REST API operation
      properties:
        display:
          properties:
            description:
              description: The object that represents the operation.
              type: string
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: The Resource Provider of the operation
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
          type: object
        isDataAction:
          description: Gets or sets a value indicating whether it is a data plane action
          readOnly: true
          type: string
        name:
          description: The name of the Dedicated HSM Resource Provider Operation.
          type: string
      type: object
    DedicatedHsmOperationListResult:
      description: >-
        Result of the request to list Dedicated HSM Provider operations. It
        contains a list of operations.
      properties:
        value:
          description: List of Dedicated HSM Resource Provider operations.
          items:
            $ref: '#/components/schemas/DedicatedHsmOperation'
          type: array
      type: object
    DedicatedHsmPatchParameters:
      description: Patchable properties of the dedicated HSM
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
    DedicatedHsmProperties:
      description: Properties of the dedicated hsm
      properties:
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
          description: Specifies the network interfaces of the dedicated hsm.
        provisioningState:
          description: Provisioning state.
          enum:
            - Succeeded
            - Provisioning
            - Allocating
            - Connecting
            - Failed
            - CheckingQuota
            - Deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: JsonWebKeyType
            values:
              - description: The dedicated HSM has been full provisioned.
                value: Succeeded
              - description: The dedicated HSM is currently being provisioned.
                value: Provisioning
              - description: >-
                  A device is currently being allocated for the dedicated HSM
                  resource.
                value: Allocating
              - description: The dedicated HSM is being connected to the virtual network.
                value: Connecting
              - description: Provisioning of the dedicated HSM has failed.
                value: Failed
              - description: >-
                  Validating the subscription has sufficient quota to allocate a
                  dedicated HSM device.
                value: CheckingQuota
              - description: The dedicated HSM is currently being deleted.
                value: Deleting
        stampId:
          description: This field will be used when RP does not support Availability zones.
          type: string
        statusMessage:
          description: Resource Status Message.
          readOnly: true
          type: string
      type: object
    Error:
      description: The key vault server error.
      properties:
        code:
          description: The error code.
          readOnly: true
          type: string
        innererror:
          $ref: '#/components/schemas/Error'
          readOnly: true
          x-ms-client-name: innerError
        message:
          description: The error message.
          readOnly: true
          type: string
      type: object
    NetworkInterface:
      description: The network interface definition.
      properties:
        id:
          description: >-
            The ARM resource id in the form of
            /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
          readOnly: true
          type: string
        privateIpAddress:
          description: Private Ip address of the interface
          type: string
      type: object
    NetworkProfile:
      properties:
        networkInterfaces:
          description: >-
            Specifies the list of resource Ids for the network interfaces
            associated with the dedicated HSM.
          items:
            $ref: '#/components/schemas/NetworkInterface'
          type: array
        subnet:
          $ref: '#/components/schemas/ApiEntityReference'
          description: Specifies the identifier of the subnet.
      type: object
    Resource:
      description: Dedicated HSM resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: The Azure Resource Manager resource ID for the dedicated HSM.
          readOnly: true
          type: string
        location:
          description: >-
            The supported Azure location where the dedicated HSM should be
            created.
          type: string
        name:
          description: The name of the dedicated HSM.
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: SKU details
        type:
          description: The resource type of the dedicated HSM.
          readOnly: true
          type: string
        zones:
          description: The Dedicated Hsm zones.
          items:
            type: string
          type: array
      required:
        - location
      type: object
      x-ms-azure-resource: true
    ResourceListResult:
      description: List of dedicated HSM resources.
      properties:
        nextLink:
          description: The URL to get the next set of dedicated HSM resources.
          type: string
        value:
          description: The list of dedicated HSM resources.
          items:
            $ref: '#/components/schemas/Resource'
          type: array
      type: object
    Sku:
      description: SKU of the dedicated HSM
      properties:
        name:
          description: SKU of the dedicated HSM
          enum:
            - SafeNet Luna Network HSM A790
            - payShield10K_LMK1_CPS60
            - payShield10K_LMK1_CPS250
            - payShield10K_LMK1_CPS2500
            - payShield10K_LMK2_CPS60
            - payShield10K_LMK2_CPS250
            - payShield10K_LMK2_CPS2500
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
            values:
              - description: The dedicated HSM is a Safenet Luna Network HSM A790 device.
                value: SafeNet Luna Network HSM A790
              - description: >-
                  The dedicated HSM is a payShield 10K, model PS10-D, 10Gb
                  Ethernet Hardware Platform device with 1 local master key
                  which supports up to 60 calls per second.
                value: payShield10K_LMK1_CPS60
              - description: >-
                  The dedicated HSM is a payShield 10K, model PS10-D, 10Gb
                  Ethernet Hardware Platform device with 1 local master key
                  which supports up to 250 calls per second.
                value: payShield10K_LMK1_CPS250
              - description: >-
                  The dedicated HSM is a payShield 10K, model PS10-D, 10Gb
                  Ethernet Hardware Platform device with 1 local master key
                  which supports up to 2500 calls per second.
                value: payShield10K_LMK1_CPS2500
              - description: >-
                  The dedicated HSM is a payShield 10K, model PS10-D, 10Gb
                  Ethernet Hardware Platform device with 2 local master keys
                  which supports up to 60 calls per second.
                value: payShield10K_LMK2_CPS60
              - description: >-
                  The dedicated HSM is a payShield 10K, model PS10-D, 10Gb
                  Ethernet Hardware Platform device with 2 local master keys
                  which supports up to 250 calls per second.
                value: payShield10K_LMK2_CPS250
              - description: >-
                  The dedicated HSM is a payShield 10K, model PS10-D, 10Gb
                  Ethernet Hardware Platform device with 2 local master keys
                  which supports up to 2500 calls per second.
                value: payShield10K_LMK2_CPS2500
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

