openapi: 3.0.0
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2019-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/accountNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: Successfully retrieved private link resources.
      tags:
        - PrivateLinkResources
      description: >-
        Gets the private link resources that need to be created for a Cosmos DB
        account.
      operationId: PrivateLinkResources_ListByDatabaseAccount
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/CosmosDBPrivateLinkResourceListGet.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources/{groupName}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/accountNameParameter'
        - $ref: '#/components/parameters/GroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: Successfully retrieved a specified private link resource.
      tags:
        - PrivateLinkResources
      description: >-
        Gets the private link resources that need to be created for a Cosmos DB
        account.
      operationId: PrivateLinkResources_Get
      x-ms-examples:
        Gets private endpoint connection.:
          $ref: ./examples/CosmosDBPrivateLinkResourceGet.json
components:
  parameters:
    GroupNameParameter:
      description: The name of the private link resource.
      in: path
      name: groupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    accountNameParameter:
      description: Cosmos DB database account name.
      in: path
      name: accountName
      required: true
      schema:
        maxLength: 50
        minLength: 3
        pattern: '^[a-z0-9]+(-[a-z0-9]+)*'
        type: string
      x-ms-parameter-location: method
  schemas:
    PrivateLinkResource:
      allOf:
        - $ref: ../../stable/2019-08-01/cosmos-db.json#/definitions/ARMProxyResource
      description: A private link resource
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    PrivateLinkResourceListResult:
      description: A list of private link resources
      properties:
        value:
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          type: array
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      properties:
        groupId:
          description: The private link resource group id.
          readOnly: true
          type: string
        requiredMembers:
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
          type: array
        requiredZoneNames:
          description: The private link resource required zone names.
          items:
            type: string
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

