openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2019-03-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceUri}/providers/Microsoft.Insights/metricBaselines':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/MetricNamesParameter'
        - $ref: '#/components/parameters/MetricNamespaceParameter'
        - $ref: '#/components/parameters/TimespanParameter'
        - $ref: '#/components/parameters/IntervalParameter'
        - $ref: '#/components/parameters/AggregationsParameter'
        - $ref: '#/components/parameters/SensitivitiesParameter'
        - description: >-
            The **$filter** is used to reduce the set of metric data returned.
            Example: Metric contains metadata A, B and C. - Return all time
            series of C where A = a1 and B = b1 or b2 **$filter=A eq 'a1' and B
            eq 'b1' or B eq 'b2' and C eq '*'** - Invalid variant: **$filter=A
            eq 'a1' and B eq 'b1' and C eq '*' or B = 'b2'** This is invalid
            because the logical or operator cannot separate two different
            metadata names. - Return all time series where A = a1, B = b1 and C
            = c1: **$filter=A eq 'a1' and B eq 'b1' and C eq 'c1'** - Return all
            time series where A = a1 **$filter=A eq 'a1' and B eq '*' and C eq
            '*'**. Special case: When dimension name or dimension value uses
            round brackets. Eg: When dimension name is **dim (test) 1** Instead
            of using $filter= "dim (test) 1 eq '*' " use **$filter= "dim
            %2528test%2529 1 eq '*' "** When dimension name is **dim (test) 3**
            and dimension value is **dim3 (test) val** Instead of using $filter=
            "dim (test) 3 eq 'dim3 (test) val' " use **$filter= "dim
            %2528test%2529 3 eq 'dim3 %2528test%2529 val' "**
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/BaselineResultTypeParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricBaselinesResponse'
          description: Successful request to get the list of metric baseline values.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Baseline
        - Metric
      description: '**Lists the metric baseline values for a resource**.'
      operationId: Baselines_List
      x-ms-examples:
        Get metric baselines:
          $ref: ./examples/metricBaselines.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    AggregationsParameter:
      description: The list of aggregation types (comma separated) to retrieve.
      in: query
      name: aggregation
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    BaselineResultTypeParameter:
      description: >-
        Allows retrieving only metadata of the baseline. On data request all
        information is retrieved.
      in: query
      name: resultType
      required: false
      schema:
        enum:
          - Data
          - Metadata
        type: string
      x-ms-enum:
        modelAsString: false
        name: ResultType
      x-ms-parameter-location: method
    IntervalParameter:
      description: The interval (i.e. timegrain) of the query.
      in: query
      name: interval
      required: false
      schema:
        format: duration
        type: string
      x-ms-parameter-location: method
    MetricNamesParameter:
      description: >-
        The names of the metrics (comma separated) to retrieve. Special case: If
        a metricname itself has a comma in it then use %2 to indicate it. Eg:
        'Metric,Name1' should be **'Metric%2Name1'**
      in: query
      name: metricnames
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    MetricNamespaceParameter:
      description: Metric namespace to query metric definitions for.
      in: query
      name: metricnamespace
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceUriParameter:
      allowReserved: true
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    SensitivitiesParameter:
      description: The list of sensitivities (comma separated) to retrieve.
      in: query
      name: sensitivities
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    TimespanParameter:
      description: >-
        The timespan of the query. It is a string with the following format
        'startDateTime_ISO/endDateTime_ISO'.
      in: query
      name: timespan
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    BaselineMetadata:
      description: Represents a baseline metadata value.
      properties:
        name:
          description: Name of the baseline metadata.
          type: string
        value:
          description: Value of the baseline metadata.
          type: string
      required:
        - name
        - value
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    MetricBaselinesProperties:
      description: The response to a metric baselines query.
      properties:
        baselines:
          description: The baseline for each time series that was queried.
          items:
            $ref: '#/components/schemas/TimeSeriesBaseline'
          type: array
          x-ms-identifiers: []
        interval:
          description: >-
            The interval (window size) for which the metric data was returned
            in.  This may be adjusted in the future and returned back from what
            was originally requested.  This is not present if a metadata request
            was made.
          format: duration
          type: string
        namespace:
          description: The namespace of the metrics been queried.
          type: string
        timespan:
          description: >-
            The timespan for which the data was retrieved. Its value consists of
            two datetimes concatenated, separated by '/'.  This may be adjusted
            in the future and returned back from what was originally requested.
          type: string
      required:
        - timespan
        - interval
        - baselines
      type: object
    MetricBaselinesResponse:
      description: A list of metric baselines.
      properties:
        value:
          description: The list of metric baselines.
          items:
            $ref: '#/components/schemas/SingleMetricBaseline'
          type: array
      type: object
    MetricSingleDimension:
      description: The metric dimension name and value.
      properties:
        name:
          description: Name of the dimension.
          type: string
        value:
          description: Value of the dimension.
          type: string
      required:
        - name
        - value
      type: object
    SingleBaseline:
      description: The baseline values for a single sensitivity value.
      properties:
        highThresholds:
          description: The high thresholds of the baseline.
          items:
            description: A single high threshold value.
            format: double
            type: number
          type: array
        lowThresholds:
          description: The low thresholds of the baseline.
          items:
            description: A single low threshold value.
            format: double
            type: number
          type: array
        sensitivity:
          description: the sensitivity of the baseline.
          enum:
            - Low
            - Medium
            - High
          type: string
          x-ms-enum:
            modelAsString: true
            name: BaselineSensitivity
      required:
        - sensitivity
        - lowThresholds
        - highThresholds
      type: object
    SingleMetricBaseline:
      description: The baseline results of a single metric.
      properties:
        id:
          description: The metric baseline Id.
          type: string
        name:
          description: The name of the metric for which the baselines were retrieved.
          type: string
        properties:
          $ref: '#/components/schemas/MetricBaselinesProperties'
          description: The metric baseline properties of the metric.
          x-ms-client-flatten: true
        type:
          description: The resource type of the metric baseline resource.
          type: string
      required:
        - id
        - type
        - name
        - properties
      type: object
    TimeSeriesBaseline:
      description: The baseline values for a single time series.
      properties:
        aggregation:
          description: The aggregation type of the metric.
          type: string
        data:
          description: The baseline values for each sensitivity.
          items:
            $ref: '#/components/schemas/SingleBaseline'
          type: array
          x-ms-identifiers: []
        dimensions:
          description: The dimensions of this time series.
          items:
            $ref: '#/components/schemas/MetricSingleDimension'
          type: array
          x-ms-identifiers:
            - name
        metadataValues:
          description: The baseline metadata values.
          items:
            $ref: '#/components/schemas/BaselineMetadata'
          type: array
          x-ms-identifiers:
            - name
        timestamps:
          description: The list of timestamps of the baselines.
          items:
            description: The timestamp for the baseline value in ISO 8601 format.
            format: date-time
            type: string
          type: array
      required:
        - aggregation
        - timestamps
        - data
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

