openapi: 3.0.0
info:
  title: DataBoxEdgeManagementClient
  version: '2019-07-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.DataBoxEdge/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsList'
          description: List of supported operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      operationId: Operations_List
      summary: List all the supported operations.
      x-ms-examples:
        OperationsGet:
          $ref: ./examples/OperationsGet.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            Specify $expand=details to populate additional fields related to the
            resource or Specify $skipToken=<token> to populate the next page in
            the list.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataBoxEdgeDeviceList'
          description: The collection of Data Box Edge/Data Box Gateway devices.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Gets all the Data Box Edge/Data Box Gateway devices in a subscription.
      operationId: Devices_ListBySubscription
      x-ms-examples:
        DataBoxEdgeDeviceGetBySubscription:
          $ref: ./examples/DataBoxEdgeDeviceGetBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            Specify $expand=details to populate additional fields related to the
            resource or Specify $skipToken=<token> to populate the next page in
            the list.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataBoxEdgeDeviceList'
          description: The collection of Data Box Edge/Data Box Gateway devices.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Gets all the Data Box Edge/Data Box Gateway devices in a resource group.
      operationId: Devices_ListByResourceGroup
      x-ms-examples:
        DataBoxEdgeDeviceGetByResourceGroup:
          $ref: ./examples/DataBoxEdgeDeviceGetByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the resource.
        '202':
          description: Accepted the request to delete the resource.
        '204':
          description: The resource is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Deletes the Data Box Edge/Data Box Gateway device.
      operationId: Devices_Delete
      x-ms-examples:
        DataBoxEdgeDeviceDelete:
          $ref: ./examples/DataBoxEdgeDeviceDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataBoxEdgeDevice'
          description: The Data Box Edge/Data Box Gateway device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Gets the properties of the Data Box Edge/Data Box Gateway device.
      operationId: Devices_Get
      x-ms-examples:
        DataBoxEdgeDeviceGetByName:
          $ref: ./examples/DataBoxEdgeDeviceGetByName.json
    patch:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataBoxEdgeDevice'
          description: Successfully updated the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Modifies a Data Box Edge/Data Box Gateway resource.
      operationId: Devices_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataBoxEdgeDevicePatch'
        description: The resource parameters.
        required: true
      x-ms-examples:
        DataBoxEdgeDevicePatch:
          $ref: ./examples/DataBoxEdgeDevicePatch.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataBoxEdgeDevice'
          description: Successfully created or updated the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Creates or updates a Data Box Edge/Data Box Gateway resource.
      operationId: Devices_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataBoxEdgeDevice'
        description: The resource object.
        required: true
      x-ms-examples:
        DataBoxEdgeDevicePut:
          $ref: ./examples/DataBoxEdgeDevicePut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/alerts':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
          description: The collection of alerts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Gets all the alerts for a Data Box Edge/Data Box Gateway device.
      operationId: Alerts_ListByDataBoxEdgeDevice
      x-ms-examples:
        AlertGetAllInDevice:
          $ref: ./examples/AlertGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/alerts/{name}':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The alert name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: The alert details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      operationId: Alerts_Get
      summary: Gets an alert by name.
      x-ms-examples:
        AlertGet:
          $ref: ./examples/AlertGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/bandwidthSchedules':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthSchedulesList'
          description: The collection of bandwidth schedules.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BandwidthSchedules
      description: >-
        Gets all the bandwidth schedules for a Data Box Edge/Data Box Gateway
        device.
      operationId: BandwidthSchedules_ListByDataBoxEdgeDevice
      x-ms-examples:
        BandwidthScheduleGetAllInDevice:
          $ref: ./examples/BandwidthScheduleGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/bandwidthSchedules/{name}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The bandwidth schedule name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the bandwidth schedule.
        '202':
          description: Accepted the request to delete the bandwidth schedule.
        '204':
          description: Successfully deleted the bandwidth schedule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BandwidthSchedules
      description: Deletes the specified bandwidth schedule.
      operationId: BandwidthSchedules_Delete
      x-ms-examples:
        BandwidthScheduleDelete:
          $ref: ./examples/BandwidthScheduleDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The bandwidth schedule name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthSchedule'
          description: The bandwidth schedule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BandwidthSchedules
      description: Gets the properties of the specified bandwidth schedule.
      operationId: BandwidthSchedules_Get
      x-ms-examples:
        BandwidthScheduleGet:
          $ref: ./examples/BandwidthScheduleGet.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The bandwidth schedule name which needs to be added/updated.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthSchedule'
          description: Successfully created or updated the bandwidth schedule.
        '202':
          description: Accepted the request to create or update the bandwidth schedule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BandwidthSchedules
      description: Creates or updates a bandwidth schedule.
      operationId: BandwidthSchedules_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BandwidthSchedule'
        description: The bandwidth schedule to be added or updated.
        required: true
      x-ms-examples:
        BandwidthSchedulePut:
          $ref: ./examples/BandwidthSchedulePut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/downloadUpdates':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully downloaded the updates on the device.
        '202':
          description: Accepted the request to download the updates on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      operationId: Devices_DownloadUpdates
      summary: Downloads the updates on a Data Box Edge/Data Box Gateway device.
      x-ms-examples:
        DownloadUpdatesPost:
          $ref: ./examples/DownloadUpdatesPost.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/getExtendedInformation':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataBoxEdgeDeviceExtendedInfo'
          description: The additional information.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: >-
        Gets additional information for the specified Data Box Edge/Data Box
        Gateway device.
      operationId: Devices_GetExtendedInformation
      x-ms-examples:
        ExtendedInfoPost:
          $ref: ./examples/ExtendedInfoPost.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/installUpdates':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully installed updates on the device.
        '202':
          description: Accepted the request to install updates on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      operationId: Devices_InstallUpdates
      summary: Installs the updates on the Data Box Edge/Data Box Gateway device.
      x-ms-examples:
        InstallUpdatesPost:
          $ref: ./examples/InstallUpdatesPost.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/jobs/{name}':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The job name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: The job details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Jobs
      operationId: Jobs_Get
      summary: >-
        Gets the details of a specified job on a Data Box Edge/Data Box Gateway
        device.
      x-ms-examples:
        JobsGet:
          $ref: ./examples/JobsGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/networkSettings/default':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSettings'
          description: The device network settings.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: >-
        Gets the network settings of the specified Data Box Edge/Data Box
        Gateway device.
      operationId: Devices_GetNetworkSettings
      x-ms-examples:
        NetworkSettingsGet:
          $ref: ./examples/NetworkSettingsGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/nodes':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeList'
          description: The collection of all nodes on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Nodes
      description: Gets all the nodes currently configured under this Data Box Edge device
      operationId: Nodes_ListByDataBoxEdgeDevice
      x-ms-examples:
        NodesGetAllInDevice:
          $ref: ./examples/NodeGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/operationsStatus/{name}':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The job name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: The job details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - OperationsStatus
      operationId: OperationsStatus_Get
      summary: >-
        Gets the details of a specified job on a Data Box Edge/Data Box Gateway
        device.
      x-ms-examples:
        OperationsStatusGet:
          $ref: ./examples/OperationsStatusGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/orders':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
          description: Lists all the orders for the Data Box Edge Device
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Orders
      operationId: Orders_ListByDataBoxEdgeDevice
      summary: Lists all the orders related to a Data Box Edge/Data Box Gateway device.
      x-ms-examples:
        OrderGetAllInDevice:
          $ref: ./examples/OrderGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/orders/default':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the order.
        '202':
          description: Accepted the request to delete the order.
        '204':
          description: The order is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Orders
      operationId: Orders_Delete
      summary: Deletes the order related to the device.
      x-ms-examples:
        OrderDelete:
          $ref: ./examples/OrderDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: The order details of a device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Orders
      operationId: Orders_Get
      summary: Gets a specific order by name.
      x-ms-examples:
        OrderGet:
          $ref: ./examples/OrderGet.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: Successfully created or updated the order.
        '202':
          description: Accepted the request to create or update the order.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Orders
      operationId: Orders_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        description: The order to be created or updated.
        required: true
      summary: Creates or updates an order.
      x-ms-examples:
        OrderPut:
          $ref: ./examples/OrderPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/roles':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleList'
          description: List of all the roles configured in the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Roles
      description: >-
        Lists all the roles configured in a Data Box Edge/Data Box Gateway
        device.
      operationId: Roles_ListByDataBoxEdgeDevice
      x-ms-examples:
        RoleGetAllInDevice:
          $ref: ./examples/RoleGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/roles/{name}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The role name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the role.
        '202':
          description: Accepted the request to delete the role.
        '204':
          description: The role is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Roles
      description: Deletes the role on the device.
      operationId: Roles_Delete
      x-ms-examples:
        RoleDelete:
          $ref: ./examples/RoleDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The role name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: The role with the specified name in the given device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Roles
      description: Gets a specific role by name.
      operationId: Roles_Get
      x-ms-examples:
        RoleGet:
          $ref: ./examples/RoleGet.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The role name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Successfully created or updated the role.
        '202':
          description: Accepted the request to create or update the role.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Roles
      description: Create or update a role.
      operationId: Roles_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
        description: The role properties.
        required: true
      x-ms-examples:
        RolePut:
          $ref: ./examples/RolePut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/scanForUpdates':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully scanned the device for updates.
        '202':
          description: Accepted the request to scan for updates on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      operationId: Devices_ScanForUpdates
      summary: Scans for updates on a Data Box Edge/Data Box Gateway device.
      x-ms-examples:
        ScanForUpdatesPost:
          $ref: ./examples/ScanForUpdatesPost.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/securitySettings/default/update':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to update the security settings.
        '204':
          description: Updated the security settings.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: >-
        Updates the security settings on a Data Box Edge/Data Box Gateway
        device.
      operationId: Devices_CreateOrUpdateSecuritySettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecuritySettings'
        description: The security settings.
        required: true
      x-ms-examples:
        CreateOrUpdateSecuritySettings:
          $ref: ./examples/SecuritySettingsUpdatePost.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/shares':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareList'
          description: The collection of all the shares on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Shares
      operationId: Shares_ListByDataBoxEdgeDevice
      summary: Lists all the shares in a Data Box Edge/Data Box Gateway device.
      x-ms-examples:
        ShareGetAllInDevice:
          $ref: ./examples/ShareGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/shares/{name}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The share name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the share.
        '202':
          description: Accepted the request to delete the share.
        '204':
          description: The share is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Shares
      description: Deletes the share on the Data Box Edge/Data Box Gateway device.
      operationId: Shares_Delete
      x-ms-examples:
        ShareDelete:
          $ref: ./examples/ShareDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The share name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
          description: The share details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Shares
      operationId: Shares_Get
      summary: Gets a share by name.
      x-ms-examples:
        ShareGet:
          $ref: ./examples/ShareGet.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The share name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
          description: Successfully created or updated the share.
        '202':
          description: Accepted the request to create or update the share.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Shares
      operationId: Shares_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Share'
        description: The share properties.
        required: true
      summary: Creates a new share or updates an existing share on the device.
      x-ms-examples:
        SharePut:
          $ref: ./examples/SharePut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/shares/{name}/refresh':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The share name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully refreshed the share on the device.
        '202':
          description: Accepted the request to refresh the share on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Shares
      operationId: Shares_Refresh
      summary: Refreshes the share metadata with the data from the cloud.
      x-ms-examples:
        ShareRefreshPost:
          $ref: ./examples/ShareRefreshPost.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccountCredentials':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountCredentialList'
          description: The collection of storage account credentials.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageAccountCredentials
      operationId: StorageAccountCredentials_ListByDataBoxEdgeDevice
      summary: >-
        Gets all the storage account credentials in a Data Box Edge/Data Box
        Gateway device.
      x-ms-examples:
        SACGetAllInDevice:
          $ref: ./examples/SACGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccountCredentials/{name}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The storage account credential name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the storage account credential.
        '202':
          description: Accepted the request to delete the storage account credential.
        '204':
          description: The storage account credential is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageAccountCredentials
      description: Deletes the storage account credential.
      operationId: StorageAccountCredentials_Delete
      x-ms-examples:
        SACDelete:
          $ref: ./examples/SACDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The storage account credential name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountCredential'
          description: The storage account credential properties.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageAccountCredentials
      description: Gets the properties of the specified storage account credential.
      operationId: StorageAccountCredentials_Get
      x-ms-examples:
        SACGet:
          $ref: ./examples/SACGet.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The storage account credential name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountCredential'
          description: Successfully created or updated the storage account credential.
        '202':
          description: >-
            Accepted the request to create or update the storage account
            credential.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageAccountCredentials
      description: Creates or updates the storage account credential.
      operationId: StorageAccountCredentials_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCredential'
        description: The storage account credential.
        required: true
      x-ms-examples:
        SACPut:
          $ref: ./examples/SACPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggers':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            Specify $filter='CustomContextTag eq <tag>' to filter on custom
            context tag property
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerList'
          description: List all the triggers configured in the device
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Triggers
      description: Lists all the triggers configured in the device.
      operationId: Triggers_ListByDataBoxEdgeDevice
      x-ms-examples:
        TriggerGetAllInDevice:
          $ref: ./examples/TriggerGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggers/{name}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The trigger name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the trigger.
        '202':
          description: Accepted the request to delete the trigger.
        '204':
          description: The trigger is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Triggers
      description: Deletes the trigger on the gateway device.
      operationId: Triggers_Delete
      x-ms-examples:
        TriggerDelete:
          $ref: ./examples/TriggerDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The trigger name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
          description: The trigger.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Triggers
      description: Get a specific trigger by name.
      operationId: Triggers_Get
      x-ms-examples:
        TriggerGet:
          $ref: ./examples/TriggerGet.json
    put:
      parameters:
        - description: Creates or updates a trigger
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The trigger name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
          description: Successfully created or updated the trigger.
        '202':
          description: Accepted the request to create or update the trigger.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Triggers
      description: Creates or updates a trigger.
      operationId: Triggers_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
        description: The trigger.
        required: true
      x-ms-examples:
        TriggerPut:
          $ref: ./examples/TriggerPut.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/updateSummary/default':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSummary'
          description: The update summary.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      operationId: Devices_GetUpdateSummary
      summary: >-
        Gets information about the availability of updates based on the last
        scan of the device. It also gets information about any ongoing download
        or install jobs on the device.
      x-ms-examples:
        UpdateSummaryGet:
          $ref: ./examples/UpdateSummaryGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/uploadCertificate':
    post:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadCertificateResponse'
          description: Successfully uploaded the registration certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Devices
      description: Uploads registration certificate for the device.
      operationId: Devices_UploadCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadCertificateRequest'
        description: The upload certificate request.
        required: true
      x-ms-examples:
        UploadCertificatePost:
          $ref: ./examples/UploadCertificatePost.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users':
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: The collection of all users on the device.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Users
      description: >-
        Gets all the users registered on a Data Box Edge/Data Box Gateway
        device.
      operationId: Users_ListByDataBoxEdgeDevice
      x-ms-examples:
        OperationsGet:
          $ref: ./examples/UserGetAllInDevice.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users/{name}':
    delete:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The user name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the user.
        '202':
          description: Accepted the request to delete the user.
        '204':
          description: The user is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Users
      description: Deletes the user on a databox edge/gateway device.
      operationId: Users_Delete
      x-ms-examples:
        UserDelete:
          $ref: ./examples/UserDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The user name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: The user details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Users
      description: Gets the properties of the specified user.
      operationId: Users_Get
      x-ms-examples:
        UserGet:
          $ref: ./examples/UserGet.json
    put:
      parameters:
        - description: The device name.
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - description: The user name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successfully created or updated the user.
        '202':
          description: Accepted the request to create or update the user.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Users
      description: >-
        Creates a new user or updates an existing user's information on a Data
        Box Edge/Data Box Gateway device.
      operationId: Users_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: The user details.
        required: true
      x-ms-examples:
        UserPut:
          $ref: ./examples/UserPut.json
      x-ms-long-running-operation: true
components:
  parameters:
    apiVersionParameter:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    locationParameter:
      description: The location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The resource group name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ARMBaseModel:
      description: Represents the base class for all object models.
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          readOnly: true
          type: string
        name:
          description: The object name.
          readOnly: true
          type: string
        type:
          description: The hierarchical type of the object.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Address:
      description: The shipping address of the customer.
      properties:
        addressLine1:
          description: The address line1.
          type: string
        addressLine2:
          description: The address line2.
          type: string
        addressLine3:
          description: The address line3.
          type: string
        city:
          description: The city name.
          type: string
        country:
          description: The country name.
          type: string
        postalCode:
          description: The postal code.
          type: string
        state:
          description: The state name.
          type: string
      required:
        - addressLine1
        - postalCode
        - city
        - state
        - country
      type: object
    Alert:
      allOf:
        - $ref: '#/components/schemas/ARMBaseModel'
      description: Alert on the data box edge/gateway device.
      properties:
        properties:
          $ref: '#/components/schemas/AlertProperties'
          description: Properties of alert.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    AlertErrorDetails:
      description: Error details for the alert.
      properties:
        errorCode:
          description: Error code.
          readOnly: true
          type: string
        errorMessage:
          description: Error Message.
          readOnly: true
          type: string
        occurrences:
          description: Number of occurrences.
          format: int32
          readOnly: true
          type: integer
      type: object
    AlertList:
      description: Collection of alerts.
      properties:
        nextLink:
          description: Link to the next set of results.
          readOnly: true
          type: string
        value:
          description: The value.
          items:
            $ref: '#/components/schemas/Alert'
          readOnly: true
          type: array
      type: object
    AlertProperties:
      description: Properties of alert.
      properties:
        alertType:
          description: Alert type.
          readOnly: true
          type: string
        appearedAtDateTime:
          description: UTC time when the alert appeared.
          format: date-time
          readOnly: true
          type: string
        detailedInformation:
          additionalProperties:
            type: string
          description: Alert details.
          readOnly: true
          type: object
        errorDetails:
          $ref: '#/components/schemas/AlertErrorDetails'
          description: Error details of the alert.
          readOnly: true
        recommendation:
          description: Alert recommendation.
          readOnly: true
          type: string
        severity:
          description: Severity of the alert.
          enum:
            - Informational
            - Warning
            - Critical
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertSeverity
        title:
          description: Alert title.
          readOnly: true
          type: string
      type: object
    AsymmetricEncryptedSecret:
      description: Represent the secrets intended for encryption with asymmetric key pair.
      properties:
        encryptionAlgorithm:
          description: The algorithm used to encrypt "Value".
          enum:
            - None
            - AES256
            - RSAES_PKCS1_v_1_5
          type: string
          x-ms-enum:
            modelAsString: true
            name: EncryptionAlgorithm
        encryptionCertThumbprint:
          description: >-
            Thumbprint certificate used to encrypt \"Value\". If the value is
            unencrypted, it will be null.
          type: string
        value:
          description: The value of the secret.
          type: string
      required:
        - value
        - encryptionAlgorithm
      type: object
    Authentication:
      description: Authentication mechanism for IoT devices.
      properties:
        symmetricKey:
          $ref: '#/components/schemas/SymmetricKey'
          description: Symmetric key for authentication.
      type: object
    AzureContainerInfo:
      description: Azure container mapping of the endpoint.
      properties:
        containerName:
          description: >-
            Container name (Based on the data format specified, this represents
            the name of Azure Files/Page blob/Block blob).
          type: string
        dataFormat:
          description: Storage format used for the file represented by the share.
          enum:
            - BlockBlob
            - PageBlob
            - AzureFile
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureContainerDataFormat
        storageAccountCredentialId:
          description: ID of the storage account credential used to access storage.
          type: string
      required:
        - storageAccountCredentialId
        - containerName
        - dataFormat
      type: object
    BandwidthSchedule:
      allOf:
        - $ref: '#/components/schemas/ARMBaseModel'
      description: The bandwidth schedule details.
      properties:
        properties:
          $ref: '#/components/schemas/BandwidthScheduleProperties'
          description: The properties of the bandwidth schedule.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    BandwidthScheduleProperties:
      description: The properties of the bandwidth schedule.
      properties:
        days:
          description: The days of the week when this schedule is applicable.
          items:
            enum:
              - Sunday
              - Monday
              - Tuesday
              - Wednesday
              - Thursday
              - Friday
              - Saturday
            type: string
            x-ms-enum:
              modelAsString: true
              name: DayOfWeek
          type: array
        rateInMbps:
          description: The bandwidth rate in Mbps.
          format: int32
          type: integer
        start:
          description: The start time of the schedule in UTC.
          type: string
        stop:
          description: The stop time of the schedule in UTC.
          type: string
      required:
        - start
        - stop
        - rateInMbps
        - days
      type: object
    BandwidthSchedulesList:
      description: The collection of bandwidth schedules.
      properties:
        nextLink:
          description: Link to the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of bandwidth schedules.
          items:
            $ref: '#/components/schemas/BandwidthSchedule'
          readOnly: true
          type: array
      type: object
    ClientAccessRight:
      description: >-
        The mapping between a particular client IP and the type of access client
        has on the NFS share.
      properties:
        accessPermission:
          description: Type of access to be allowed for the client.
          enum:
            - NoAccess
            - ReadOnly
            - ReadWrite
          type: string
          x-ms-enum:
            modelAsString: true
            name: ClientPermissionType
        client:
          description: IP of the client.
          type: string
      required:
        - client
        - accessPermission
      type: object
    CloudError:
      description: An error response from the service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
      type: object
      x-ms-external: true
    ContactDetails:
      description: Contains all the contact details of the customer.
      properties:
        companyName:
          description: The name of the company.
          type: string
        contactPerson:
          description: The contact person name.
          type: string
        emailList:
          description: The email list.
          items:
            type: string
          type: array
        phone:
          description: The phone number.
          type: string
      required:
        - contactPerson
        - companyName
        - phone
        - emailList
      type: object
    DataBoxEdgeDevice:
      allOf:
        - $ref: '#/components/schemas/ARMBaseModel'
      description: The Data Box Edge/Gateway device.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            The list of tags that describe the device. These tags can be used to
            view and group this device (across resource groups).
          type: object
        etag:
          description: The etag for the devices.
          type: string
        location:
          description: >-
            The location of the device. This is a supported and registered Azure
            geographical region (for example, West US, East US, or Southeast
            Asia). The geographical region of a device cannot be changed once it
            is created, but if an identical geographical region is specified on
            update, the request will succeed.
          type: string
          x-ms-mutability:
            - read
            - create
        properties:
          $ref: '#/components/schemas/DataBoxEdgeDeviceProperties'
          description: The properties of the Data Box Edge/Gateway device.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU type.
      required:
        - location
      type: object
    DataBoxEdgeDeviceExtendedInfo:
      allOf:
        - $ref: '#/components/schemas/ARMBaseModel'
      description: The extended Info of the Data Box Edge/Gateway device.
      properties:
        properties:
          $ref: '#/components/schemas/DataBoxEdgeDeviceExtendedInfoProperties'
          description: The extended info properties.
          x-ms-client-flatten: true
      type: object
    DataBoxEdgeDeviceExtendedInfoProperties:
      description: The properties of the Data Box Edge/Gateway device extended info.
      properties:
        encryptionKey:
          description: >-
            The public part of the encryption certificate. Client uses this to
            encrypt any secret.
          type: string
        encryptionKeyThumbprint:
          description: The digital signature of encrypted certificate.
          type: string
        resourceKey:
          description: The Resource ID of the Resource.
          readOnly: true
          type: string
      type: object
    DataBoxEdgeDeviceList:
      description: The collection of Data Box Edge/Gateway devices.
      properties:
        nextLink:
          description: Link to the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of Data Box Edge/Gateway devices.
          items:
            $ref: '#/components/schemas/DataBoxEdgeDevice'
          readOnly: true
          type: array
      type: object
    DataBoxEdgeDevicePatch:
      description: The Data Box Edge/Gateway device patch.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags attached to the Data Box Edge/Gateway resource.
          type: object
      type: object
    DataBoxEdgeDeviceProperties:
      description: The properties of the Data Box Edge/Gateway device.
      properties:
        configuredRoleTypes:
          description: Type of compute roles configured.
          items:
            enum:
              - IOT
              - ASA
              - Functions
              - Cognitive
            type: string
            x-ms-enum:
              modelAsString: true
              name: RoleTypes
          readOnly: true
          type: array
        culture:
          description: The Data Box Edge/Gateway device culture.
          readOnly: true
          type: string
        dataBoxEdgeDeviceStatus:
          description: The status of the Data Box Edge/Gateway device.
          enum:
            - ReadyToSetup
            - Online
            - Offline
            - NeedsAttention
            - Disconnected
            - PartiallyDisconnected
            - Maintenance
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataBoxEdgeDeviceStatus
        description:
          description: The Description of the Data Box Edge/Gateway device.
          type: string
        deviceHcsVersion:
          description: 'The device software version number of the device (eg: 1.2.18105.6).'
          readOnly: true
          type: string
        deviceLocalCapacity:
          description: The Data Box Edge/Gateway device local capacity in MB.
          format: int64
          readOnly: true
          type: integer
        deviceModel:
          description: The Data Box Edge/Gateway device model.
          readOnly: true
          type: string
        deviceSoftwareVersion:
          description: The Data Box Edge/Gateway device software version.
          readOnly: true
          type: string
        deviceType:
          description: The type of the Data Box Edge/Gateway device.
          enum:
            - DataBoxEdgeDevice
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: DeviceType
        friendlyName:
          description: The Data Box Edge/Gateway device name.
          type: string
        modelDescription:
          description: The description of the Data Box Edge/Gateway device model.
          type: string
        nodeCount:
          description: The number of nodes in the cluster.
          format: int32
          readOnly: true
          type: integer
        serialNumber:
          description: The Serial Number of Data Box Edge/Gateway device.
          readOnly: true
          type: string
        timeZone:
          description: The Data Box Edge/Gateway device timezone.
          readOnly: true
          type: string
      type: object
    FileEventTrigger:
      allOf:
        - $ref: '#/components/schemas/Trigger'
      description: Trigger details.
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          readOnly: true
          type: string
        name:
          description: The object name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/FileTriggerProperties'
          description: File trigger properties.
          x-ms-client-flatten: true
        type:
          description: The hierarchical type of the object.
          readOnly: true
          type: string
      required:
        - properties
        - kind
      type: object
      x-ms-discriminator-value: FileEvent
    FileSourceInfo:
      description: File source details.
      properties:
        shareId:
          description: File share ID.
          type: string
      required:
        - shareId
      type: object
    FileTriggerProperties:
      description: File trigger properties.
      properties:
        customContextTag:
          description: >-
            A custom context tag typically used to correlate the trigger against
            its usage. For example, if a periodic timer trigger is intended for
            certain specific IoT modules in the device, the tag can be the name
            or the image URL of the module.
          type: string
        sinkInfo:
          $ref: '#/components/schemas/RoleSinkInfo'
          description: Role sink info.
        sourceInfo:
          $ref: '#/components/schemas/FileSourceInfo'
          description: File event source details.
      required:
        - sourceInfo
        - sinkInfo
      type: object
    IoTDeviceInfo:
      description: Metadata of IoT device/IoT Edge device to be configured.
      properties:
        authentication:
          $ref: '#/components/schemas/Authentication'
          description: IoT device authentication info.
        deviceId:
          description: ID of the IoT device/edge device.
          type: string
        ioTHostHub:
          description: Host name for the IoT hub associated to the device.
          type: string
        ioTHostHubId:
          description: Id of the IoT hub associated to the device.
          type: string
      required:
        - deviceId
        - ioTHostHub
      type: object
    IoTRole:
      allOf:
        - $ref: '#/components/schemas/Role'
      description: Compute role.
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          readOnly: true
          type: string
        name:
          description: The object name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/IoTRoleProperties'
          description: Properties specific to IoT role.
          x-ms-client-flatten: true
        type:
          description: The hierarchical type of the object.
          readOnly: true
          type: string
      required:
        - kind
      type: object
      x-ms-discriminator-value: IOT
    IoTRoleProperties:
      description: IoT role properties.
      properties:
        hostPlatform:
          description: Host OS supported by the IoT role.
          enum:
            - Windows
            - Linux
          type: string
          x-ms-enum:
            modelAsString: true
            name: PlatformType
        ioTDeviceDetails:
          $ref: '#/components/schemas/IoTDeviceInfo'
          description: >-
            IoT device metadata to which data box edge device needs to be
            connected.
        ioTEdgeDeviceDetails:
          $ref: '#/components/schemas/IoTDeviceInfo'
          description: IoT edge device to which the IoT role needs to be configured.
        roleStatus:
          description: Role status.
          enum:
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: RoleStatus
        shareMappings:
          description: Mount points of shares in role(s).
          items:
            $ref: '#/components/schemas/MountPointMap'
          type: array
      required:
        - hostPlatform
        - ioTDeviceDetails
        - ioTEdgeDeviceDetails
        - roleStatus
      type: object
    Ipv4Config:
      description: Details related to the IPv4 address configuration.
      properties:
        gateway:
          description: The IPv4 gateway of the network adapter.
          readOnly: true
          type: string
        ipAddress:
          description: The IPv4 address of the network adapter.
          readOnly: true
          type: string
        subnet:
          description: The IPv4 subnet of the network adapter.
          readOnly: true
          type: string
      type: object
    Ipv6Config:
      description: Details related to the IPv6 address configuration.
      properties:
        gateway:
          description: The IPv6 gateway of the network adapter.
          readOnly: true
          type: string
        ipAddress:
          description: The IPv6 address of the network adapter.
          readOnly: true
          type: string
        prefixLength:
          description: The IPv6 prefix of the network adapter.
          format: int32
          readOnly: true
          type: integer
      type: object
    Job:
      description: A device job.
      properties:
        endTime:
          description: The UTC date and time at which the job completed.
          format: date-time
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/JobErrorDetails'
          description: The error details.
          readOnly: true
        id:
          description: The path ID that uniquely identifies the object.
          readOnly: true
          type: string
        name:
          description: The name of the object.
          readOnly: true
          type: string
        percentComplete:
          description: The percentage of the job that is complete.
          format: int32
          readOnly: true
          type: integer
        properties:
          $ref: '#/components/schemas/JobProperties'
          description: The properties of the job.
          readOnly: true
          x-ms-client-flatten: true
        startTime:
          description: The UTC date and time at which the job started.
          format: date-time
          readOnly: true
          type: string
        status:
          description: The current status of the job.
          enum:
            - Invalid
            - Running
            - Succeeded
            - Failed
            - Canceled
            - Paused
            - Scheduled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStatus
        type:
          description: The hierarchical type of the object.
          readOnly: true
          type: string
      type: object
    JobErrorDetails:
      description: The job error information containing the list of job errors.
      properties:
        code:
          description: The code intended for programmatic access.
          readOnly: true
          type: string
        errorDetails:
          description: The error details.
          items:
            $ref: '#/components/schemas/JobErrorItem'
          readOnly: true
          type: array
        message:
          description: The message that describes the error in detail.
          readOnly: true
          type: string
      type: object
    JobErrorItem:
      description: The job error items.
      properties:
        code:
          description: The code intended for programmatic access.
          readOnly: true
          type: string
        message:
          description: The message that describes the error in detail.
          readOnly: true
          type: string
        recommendations:
          description: The recommended actions.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    JobProperties:
      description: The properties for the job.
      properties:
        currentStage:
          description: Current stage of the update operation.
          enum:
            - Unknown
            - Initial
            - ScanStarted
            - ScanComplete
            - ScanFailed
            - DownloadStarted
            - DownloadComplete
            - DownloadFailed
            - InstallStarted
            - InstallComplete
            - InstallFailed
            - RebootInitiated
            - Success
            - Failure
            - RescanStarted
            - RescanComplete
            - RescanFailed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: UpdateOperationStage
        downloadProgress:
          $ref: '#/components/schemas/UpdateDownloadProgress'
          description: The download progress.
          readOnly: true
        errorManifestFile:
          description: >-
            Local share/remote container relative path to the error manifest
            file of the refresh.
          readOnly: true
          type: string
        folder:
          description: >-
            If only subfolders need to be refreshed, then the subfolder path
            inside the share. (The path is empty if there are no subfolders.)
          type: string
        installProgress:
          $ref: '#/components/schemas/UpdateInstallProgress'
          description: The install progress.
          readOnly: true
        jobType:
          description: The type of the job.
          enum:
            - Invalid
            - ScanForUpdates
            - DownloadUpdates
            - InstallUpdates
            - RefreshShare
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobType
        shareId:
          description: ARM ID of the share that was refreshed.
          readOnly: true
          type: string
        totalRefreshErrors:
          description: Total number of errors encountered during the refresh process.
          format: int32
          readOnly: true
          type: integer
      type: object
    MetricDimension_V1:
      description: Metric Dimension v1.
      properties:
        displayName:
          description: Display name of the metrics dimension.
          type: string
        name:
          description: Name of the metrics dimension.
          type: string
        toBeExportedForShoebox:
          description: To be exported to shoe box.
          type: boolean
      type: object
    MetricSpecification_V1:
      description: Metric specification version 1.
      properties:
        aggregationType:
          description: Metric aggregation type.
          enum:
            - NotSpecified
            - None
            - Average
            - Minimum
            - Maximum
            - Total
            - Count
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricAggregationType
        category:
          description: Metric category.
          enum:
            - Capacity
            - Transaction
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricCategory
        dimensions:
          description: 'Metric dimensions, other than default dimension which is resource.'
          items:
            $ref: '#/components/schemas/MetricDimension_V1'
          type: array
        displayDescription:
          description: Description of the metric to be displayed.
          type: string
        displayName:
          description: Display name of the metric.
          type: string
        fillGapWithZero:
          description: Set true to fill the gaps with zero.
          type: boolean
        name:
          description: Name of the metric.
          type: string
        resourceIdDimensionNameOverride:
          description: Resource name override.
          type: string
        supportedAggregationTypes:
          description: Support metric aggregation type.
          items:
            enum:
              - NotSpecified
              - None
              - Average
              - Minimum
              - Maximum
              - Total
              - Count
            type: string
            x-ms-enum:
              modelAsString: true
              name: MetricAggregationType
          type: array
        supportedTimeGrainTypes:
          description: Support granularity of metrics.
          items:
            enum:
              - PT1M
              - PT5M
              - PT15M
              - PT30M
              - PT1H
              - PT6H
              - PT12H
              - PT1D
            type: string
            x-ms-enum:
              modelAsString: true
              name: TimeGrain
          type: array
        unit:
          description: Metric units.
          enum:
            - NotSpecified
            - Percent
            - Count
            - Seconds
            - Milliseconds
            - Bytes
            - BytesPerSecond
            - CountPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
      type: object
    MountPointMap:
      description: The share mount point.
      properties:
        mountPoint:
          description: Mount point for the share.
          readOnly: true
          type: string
        roleId:
          description: ID of the role to which share is mounted.
          readOnly: true
          type: string
        roleType:
          description: Role type.
          enum:
            - IOT
            - ASA
            - Functions
            - Cognitive
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: RoleTypes
        shareId:
          description: ID of the share mounted to the role VM.
          type: string
      required:
        - shareId
      type: object
    NetworkAdapter:
      description: Represents the networkAdapter on a device.
      properties:
        adapterId:
          description: Instance ID of network adapter.
          readOnly: true
          type: string
        adapterPosition:
          $ref: '#/components/schemas/NetworkAdapterPosition'
          description: Hardware position of network adapter.
          readOnly: true
        dhcpStatus:
          description: Value indicating whether this adapter has DHCP enabled.
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkAdapterDHCPStatus
        dnsServers:
          description: The list of DNS Servers of the device.
          items:
            type: string
          readOnly: true
          type: array
        index:
          description: Logical index of the adapter.
          format: int32
          readOnly: true
          type: integer
        ipv4Configuration:
          $ref: '#/components/schemas/Ipv4Config'
          description: The IPv4 configuration of the network adapter.
          readOnly: true
        ipv6Configuration:
          $ref: '#/components/schemas/Ipv6Config'
          description: The IPv6 configuration of the network adapter.
          readOnly: true
        ipv6LinkLocalAddress:
          description: The IPv6 local address.
          readOnly: true
          type: string
        label:
          description: Hardware label for the adapter.
          readOnly: true
          type: string
        linkSpeed:
          description: Link speed.
          format: int64
          readOnly: true
          type: integer
        macAddress:
          description: MAC address.
          readOnly: true
          type: string
        networkAdapterName:
          description: Network adapter name.
          readOnly: true
          type: string
        nodeId:
          description: Node ID of the network adapter.
          readOnly: true
          type: string
        rdmaStatus:
          description: Value indicating whether this adapter is RDMA capable.
          enum:
            - Incapable
            - Capable
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkAdapterRDMAStatus
        status:
          description: Value indicating whether this adapter is valid.
          enum:
            - Inactive
            - Active
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkAdapterStatus
      type: object
    NetworkAdapterPosition:
      description: The network adapter position.
      properties:
        networkGroup:
          description: The network group.
          enum:
            - None
            - NonRDMA
            - RDMA
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkGroup
        port:
          description: The port.
          format: int32
          readOnly: true
          type: integer
      type: object
    NetworkSettings:
      allOf:
        - $ref: '#/components/schemas/ARMBaseModel'
      description: The network settings of a device.
      properties:
        properties:
          $ref: '#/components/schemas/NetworkSettingsProperties'
          description: The properties of network settings of a device.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    NetworkSettingsProperties:
      description: The properties of network settings.
      properties:
        networkAdapters:
          description: The network adapter list on the device.
          items:
            $ref: '#/components/schemas/NetworkAdapter'
          readOnly: true
          type: array
      type: object
    Node:
      allOf:
        - $ref: '#/components/schemas/ARMBaseModel'
      description: "Represents a single node in a Data box Edge/Gateway device\r\nGateway devices, standalone Edge devices and a single node cluster Edge device will all have 1 node\r\nMulti-node Edge devices will have more than 1 nodes"
[...]
