openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on tenant entity associated
    with your Azure API Management deployment. Using this entity you can manage
    properties and configuration that apply to the entire API Management service
    instance.
  title: ApiManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/AccessInformationContract
          description: Tenant Access information.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Get tenant access information details
      operationId: TenantAccess_Get
      x-ms-examples:
        ApiManagementGetTenantAccess:
          $ref: ./examples/ApiManagementGetTenantAccess.json
    head:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '200':
          description: Operation completed successfully.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Tenant access metadata
      operationId: TenantAccess_GetEntityTag
      x-ms-examples:
        ApiManagementHeadTenantAccess:
          $ref: ./examples/ApiManagementHeadTenantAccess.json
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
        - $ref: ./apimanagement.json#/components/parameters/IfMatchRequiredParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: Tenant's access information updated successfully.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Update tenant access information details.
      operationId: TenantAccess_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                ./definitions.json#/definitions/AccessInformationUpdateParameters
        description: Parameters supplied to retrieve the Tenant Access Information.
        required: true
      x-ms-examples:
        ApiManagementUpdateTenantAccess:
          $ref: ./examples/ApiManagementUpdateTenantAccess.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/AccessInformationContract
          description: Git Access Information for the Service.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccessGit
      description: Gets the Git access configuration for the tenant.
      operationId: TenantAccessGit_Get
      x-ms-examples:
        ApiManagementGetTenantAccess:
          $ref: ./examples/ApiManagementGetTenantAccess.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git/regeneratePrimaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '204':
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccessGit
      description: Regenerate primary access key for GIT.
      operationId: TenantAccessGit_RegeneratePrimaryKey
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          $ref: ./examples/ApiManagementTenantAccessRegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git/regenerateSecondaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '204':
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccessGit
      description: Regenerate secondary access key for GIT.
      operationId: TenantAccessGit_RegenerateSecondaryKey
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          $ref: ./examples/ApiManagementTenantAccessRegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/regeneratePrimaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '204':
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Regenerate primary access key
      operationId: TenantAccess_RegeneratePrimaryKey
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          $ref: ./examples/ApiManagementTenantAccessRegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/regenerateSecondaryKey':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/AccessParameter
      responses:
        '204':
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantAccess
      description: Regenerate secondary access key
      operationId: TenantAccess_RegenerateSecondaryKey
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          $ref: ./examples/ApiManagementTenantAccessRegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/deploy':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/ConfigurationParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/OperationResultContract
          description: Result of applying changes from Git branch to database.
        '202':
          description: >-
            Accepted: Location header contains the URL where the status of the
            long running operation can be checked.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantConfiguration
      externalDocs:
        description: >-
          To deploy any service configuration changes to the API Management
          service instance
        url: >-
          https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-deploy-any-service-configuration-changes-to-the-api-management-service-instance
      description: >-
        This operation applies changes from the specified Git branch to the
        configuration database. This is a long running operation and could take
        several minutes to complete.
      operationId: TenantConfiguration_Deploy
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/DeployConfigurationParameters
        description: Deploy Configuration parameters.
        required: true
      x-ms-examples:
        ApiManagementTenantConfigurationDeploy:
          $ref: ./examples/ApiManagementTenantConfigurationDeploy.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/save':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/ConfigurationParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/OperationResultContract
          description: Result of creating a commit in the repository.
        '202':
          description: >-
            Accepted: Location header contains the URL where the status of the
            long running operation can be checked.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantConfiguration
      externalDocs:
        description: To save the service configuration to the Git repository
        url: >-
          https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-save-the-service-configuration-to-the-git-repository
      description: >-
        This operation creates a commit with the current configuration snapshot
        to the specified branch in the repository. This is a long running
        operation and could take several minutes to complete.
      operationId: TenantConfiguration_Save
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/SaveConfigurationParameter
        description: Save Configuration parameters.
        required: true
      x-ms-examples:
        ApiManagementTenantConfigurationSave:
          $ref: ./examples/ApiManagementTenantConfigurationSave.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/syncState':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/ConfigurationParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./definitions.json#/definitions/TenantConfigurationSyncStateContract
          description: Sync state result.
      tags:
        - TenantConfigurationSyncState
      description: >-
        Gets the status of the most recent synchronization between the
        configuration database and the Git repository.
      operationId: TenantConfiguration_GetSyncState
      x-ms-examples:
        ApiManagementTenantAccessSyncState:
          $ref: ./examples/ApiManagementTenantAccessSyncState.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/validate':
    post:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/components/parameters/ConfigurationParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/OperationResultContract
          description: Result of validating the changes in the specified Git branch.
        '202':
          description: >-
            Accepted: Location header contains the URL where the status of the
            long running operation can be checked.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - TenantConfiguration
      description: >-
        This operation validates the changes in the specified Git branch. This
        is a long running operation and could take several minutes to complete.
      operationId: TenantConfiguration_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/DeployConfigurationParameters
        description: Validate Configuration parameters.
        required: true
      x-ms-examples:
        ApiManagementTenantConfigurationValidate:
          $ref: ./examples/ApiManagementTenantConfigurationValidate.json
      x-ms-long-running-operation: true
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

