openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAgentListResult'
          description: Successfully retrieved the list of sync agents.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      description: Lists sync agents in a server.
      operationId: SyncAgents_ListByServer
      x-ms-examples:
        Get sync agents under a server:
          $ref: ./examples/SyncAgentListByServer.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the sync agent.
        '202':
          description: Deleting the sync agent is in progress.
        '204':
          description: The specified sync agent does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      description: Deletes a sync agent.
      operationId: SyncAgents_Delete
      x-ms-examples:
        Delete a sync agent:
          $ref: ./examples/SyncAgentDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAgent'
          description: Successfully retrieved the specified sync agent.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      description: Gets a sync agent.
      operationId: SyncAgents_Get
      x-ms-examples:
        Get a sync agent:
          $ref: ./examples/SyncAgentGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAgent'
          description: Successfully updated the sync agent.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAgent'
          description: Successfully created the sync agent.
        '202':
          description: Creating or updating the sync agent is in progress.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      description: Creates or updates a sync agent.
      operationId: SyncAgents_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncAgent'
        description: The requested sync agent resource state.
        required: true
      x-ms-examples:
        Create a new sync agent:
          $ref: ./examples/SyncAgentCreate.json
        Update a sync agent:
          $ref: ./examples/SyncAgentUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}/generateKey':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAgentKeyProperties'
          description: Successfully generate a sync agent key.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      description: Generates a sync agent key.
      operationId: SyncAgents_GenerateKey
      x-ms-examples:
        Generate a sync agent key:
          $ref: ./examples/SyncAgentGenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}/linkedDatabases':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAgentLinkedDatabaseListResult'
          description: Successfully retrieved sync agent linked SQL server databases.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      description: Lists databases linked to a sync agent.
      operationId: SyncAgents_ListLinkedDatabases
      x-ms-examples:
        Get sync agent linked databases:
          $ref: ./examples/SyncAgentGetLinkedDatabases.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
  schemas:
    SyncAgent:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: An Azure SQL Database sync agent.
      properties:
        properties:
          $ref: '#/components/schemas/SyncAgentProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    SyncAgentKeyProperties:
      description: Properties of an Azure SQL Database sync agent key.
      properties:
        syncAgentKey:
          description: Key of sync agent.
          readOnly: true
          type: string
      type: object
    SyncAgentLinkedDatabase:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: An Azure SQL Database sync agent linked database.
      properties:
        properties:
          $ref: '#/components/schemas/SyncAgentLinkedDatabaseProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    SyncAgentLinkedDatabaseListResult:
      description: A list of sync agent linked databases.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncAgentLinkedDatabase'
          readOnly: true
          type: array
      type: object
    SyncAgentLinkedDatabaseProperties:
      description: Properties of an Azure SQL Database sync agent linked database.
      properties:
        databaseId:
          description: Id of the sync agent linked database.
          readOnly: true
          type: string
        databaseName:
          description: Database name of the sync agent linked database.
          readOnly: true
          type: string
        databaseType:
          description: Type of the sync agent linked database.
          enum:
            - AzureSqlDatabase
            - SqlServerDatabase
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncMemberDbType
        description:
          description: Description of the sync agent linked database.
          readOnly: true
          type: string
        serverName:
          description: Server name of the sync agent linked database.
          readOnly: true
          type: string
        userName:
          description: User name of the sync agent linked database.
          readOnly: true
          type: string
      type: object
    SyncAgentListResult:
      description: A list of sync agents.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncAgent'
          readOnly: true
          type: array
      type: object
    SyncAgentProperties:
      description: Properties of an Azure SQL Database sync agent.
      properties:
        expiryTime:
          description: Expiration time of the sync agent version.
          format: date-time
          readOnly: true
          type: string
        isUpToDate:
          description: If the sync agent version is up to date.
          readOnly: true
          type: boolean
        lastAliveTime:
          description: Last alive time of the sync agent.
          format: date-time
          readOnly: true
          type: string
        name:
          description: Name of the sync agent.
          readOnly: true
          type: string
        state:
          description: State of the sync agent.
          enum:
            - Online
            - Offline
            - NeverConnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncAgentState
        syncDatabaseId:
          description: ARM resource id of the sync database in the sync agent.
          type: string
        version:
          description: Version of the sync agent.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

