{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Stack Azure Bridge Client",
    "version": "2017-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/AzureStack.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureStack/cloudManifestFiles": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudManifestFileResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AzureStack"
        ],
        "description": "Returns a cloud specific manifest JSON file with latest version.",
        "operationId": "CloudManifestFile_List",
        "x-ms-examples": {
          "Returns the properties of a cloud specific manifest file with latest version.": {
            "$ref": "examples/CloudManifestFile/List.json"
          }
        }
      }
    },
    "/providers/Microsoft.AzureStack/cloudManifestFiles/{verificationVersion}": {
      "get": {
        "parameters": [
          {
            "description": "Signing verification key version.",
            "in": "path",
            "name": "verificationVersion",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Signing verification key version creation date.",
            "in": "query",
            "name": "versionCreationDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudManifestFileResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AzureStack"
        ],
        "description": "Returns a cloud specific manifest JSON file.",
        "operationId": "CloudManifestFile_Get",
        "x-ms-examples": {
          "Returns the properties of a cloud specific manifest file.": {
            "$ref": "examples/CloudManifestFile/Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.AzureStack/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AzureStack"
        ],
        "description": "Returns the list of supported REST operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Returns the list of supported REST operations.": {
            "$ref": "./examples/Operation/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2017-06-01",
          "type": "string"
        }
      },
      "RegistrationNameParameter": {
        "description": "Name of the Azure Stack registration.",
        "in": "path",
        "name": "registrationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "Name of the resource group.",
        "in": "path",
        "name": "resourceGroup",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CloudManifestFileDeploymentData": {
        "description": "Cloud specific manifest data for AzureStack deployment.",
        "properties": {
          "customCloudVerificationKey": {
            "description": "Signing verification public key.",
            "type": "string"
          },
          "customEnvironmentEndpoints": {
            "$ref": "#/components/schemas/CloudManifestFileEnvironmentEndpoints",
            "description": "Environment endpoints.",
            "x-ms-client-flatten": true
          },
          "externalDsmsCertificates": {
            "description": "Dsms external certificates.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudManifestFileEnvironmentEndpoints": {
        "description": "Cloud specific environment endpoints for AzureStack deployment.",
        "properties": {
          "customCloudArmEndpoint": {
            "description": "ARM endpoint.",
            "type": "string"
          },
          "externalDsmsEndpoint": {
            "description": "Dsms endpoint.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudManifestFileProperties": {
        "description": "Cloud specific manifest JSON properties.",
        "properties": {
          "deploymentData": {
            "$ref": "#/components/schemas/CloudManifestFileDeploymentData",
            "description": "Cloud specific manifest data."
          },
          "signature": {
            "description": "Signature of the cloud specific manifest data.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudManifestFileResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Cloud specific manifest GET response.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CloudManifestFileProperties",
            "description": "Cloud specific manifest data."
          }
        },
        "type": "object"
      },
      "Display": {
        "description": "Contains the localized display information for this particular operation or action.",
        "properties": {
          "description": {
            "description": "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.",
            "type": "string"
          },
          "operation": {
            "description": "The localized, friendly name for the operation. Use the name as it will displayed to the user.",
            "type": "string"
          },
          "provider": {
            "description": "The localized, friendly version of the resource provider name.",
            "type": "string"
          },
          "resource": {
            "description": "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "The details of the error."
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Describes the supported REST operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/Display",
            "description": "Contains the localized display information for this particular operation or action."
          },
          "name": {
            "description": "The name of the operation being performed on this particular object.",
            "type": "string"
          },
          "origin": {
            "description": "The intended executor of the operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "List of Operations",
        "properties": {
          "nextLink": {
            "description": "URI to the next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "Array of operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "ProvisioningState": {
        "description": "The provisioning state of the resource.",
        "enum": [
          "Creating",
          "Failed",
          "Succeeded",
          "Canceled"
        ],
        "type": "string",
        "x-ms-enum": {
          "name": "ProvisioningState"
        }
      },
      "Resource": {
        "description": "Base resource object.",
        "properties": {
          "etag": {
            "description": "The entity tag used for optimistic concurrency when modifying the resource.",
            "type": "string"
          },
          "id": {
            "description": "ID of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of Resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "TrackedResource": {
        "description": "Base resource object.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom tags for the resource.",
            "type": "object"
          },
          "etag": {
            "description": "The entity tag used for optimistic concurrency when modifying the resource.",
            "type": "string"
          },
          "id": {
            "description": "ID of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location of the resource.",
            "enum": [
              "global"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Location"
            },
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "Name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of Resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}