openapi: 3.0.0
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: '2016-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products':
    get:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ActivationNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourcesPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - Products
      description: Return product name.
      operationId: Products_List
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Product/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}':
    get:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ActivationNameParameter
        - $ref: AzureBridge.json#/components/parameters/ProductNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - Products
      description: Return product name.
      operationId: Products_Get
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Product/Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}/download':
    post:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ActivationNameParameter
        - $ref: AzureBridge.json#/components/parameters/ProductNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: AzureBridge.json#/definitions/DownloadedProductResource
          description: Accepted
        '202':
          content:
            application/json:
              schema:
                $ref: AzureBridge.json#/definitions/DownloadedProductResource
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - Products
      description: Downloads a product from azure marketplace.
      operationId: Products_Download
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Product/download.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  schemas:
    Product:
      allOf:
        - $ref: AzureBridge.json#/definitions/ProductBase
      description: Properties for a product.
      properties:
        legalTerms:
          description: Legal terms for the product.
          type: string
        links:
          $ref: AzureBridge.json#/definitions/ProductLinks
          description: Gallery item identity.
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        provisioningState:
          $ref: AzureBridge.json#/definitions/ProvisioningState
          description: Provisioning state of the resource.
        vmExtensionType:
          description: Extension type of the VM.
          type: string
      type: object
    ProductResource:
      allOf:
        - $ref: AzureBridge.json#/definitions/Resource
      description: Product resource.
      properties:
        properties:
          $ref: '#/components/schemas/Product'
          description: Properties of the resource.
          x-ms-client-flatten: true
      type: object
    ProductResourcesPage:
      description: Holds an array of products and the next link.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of products.
          items:
            $ref: '#/components/schemas/ProductResource'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

