{
  "openapi": "3.0.0",
  "info": {
    "title": "Compute Admin Client",
    "version": "2015-12-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/PlatformImages.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage": {
      "get": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformImageList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "PlatformImages"
        ],
        "description": "Returns a list of all platform images.",
        "operationId": "PlatformImages_List",
        "summary": "Returns all platform images.",
        "x-ms-examples": {
          "Returns a list of all platform images.": {
            "$ref": "examples/PlatformImages/List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage/publishers/{publisher}/offers/{offer}/skus/{sku}/versions/{version}": {
      "delete": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/PublisherParameter"
          },
          {
            "$ref": "#/components/parameters/OfferParameter"
          },
          {
            "$ref": "#/components/parameters/SkuParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/VersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "PlatformImages"
        ],
        "description": "Delete a platform image",
        "operationId": "PlatformImages_Delete",
        "summary": "Deletes a platform image matching publisher, offer, skus and version",
        "x-ms-examples": {
          "Delete a platform image.": {
            "$ref": "examples/PlatformImages/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/PublisherParameter"
          },
          {
            "$ref": "#/components/parameters/OfferParameter"
          },
          {
            "$ref": "#/components/parameters/SkuParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/VersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformImage"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "PlatformImages"
        ],
        "description": "Returns the specific platform image matching publisher, offer, skus and version.",
        "operationId": "PlatformImages_Get",
        "summary": "Returns the requested platform image.",
        "x-ms-examples": {
          "Get a platform image by name.": {
            "$ref": "examples/PlatformImages/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/PublisherParameter"
          },
          {
            "$ref": "#/components/parameters/OfferParameter"
          },
          {
            "$ref": "#/components/parameters/SkuParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/VersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformImage"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformImage"
                }
              }
            },
            "description": "CREATED"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformImage"
                }
              }
            },
            "description": "ACCEPTED"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "PlatformImages"
        ],
        "description": "Creates a new platform image with given publisher, offer, skus and version.",
        "operationId": "PlatformImages_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformImageParameters"
              }
            }
          },
          "description": "New platform image.",
          "required": true
        },
        "summary": "Creates a platform image.",
        "x-ms-examples": {
          "Creates a new platform image.": {
            "$ref": "examples/PlatformImages/Create.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "OfferParameter": {
        "description": "Name of the offer.",
        "in": "path",
        "name": "offer",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SkuParameter": {
        "description": "Name of the SKU.",
        "in": "path",
        "name": "sku",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DataDisk": {
        "description": "Information about datadisk.",
        "properties": {
          "lun": {
            "description": "Logical unit number.",
            "format": "int32",
            "type": "integer"
          },
          "uri": {
            "description": "Location of the disk template.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ImageDetails": {
        "description": "Information about the disk image.",
        "properties": {
          "billingPartNumber": {
            "description": "The part number is used to bill for software costs.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OsDisk": {
        "description": "Operating system disk.",
        "properties": {
          "osType": {
            "$ref": "#/components/schemas/OsType",
            "description": "Operating system type."
          },
          "uri": {
            "description": "Location of the disk.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OsType": {
        "description": "Operating system type.",
        "enum": [
          "Unknown",
          "Windows",
          "Linux"
        ],
        "type": "string",
        "x-ms-enum": {
          "name": "OsType"
        }
      },
      "PlatformImage": {
        "allOf": [
          {
            "$ref": "Compute.json#/definitions/CrpResource"
          }
        ],
        "description": "Platform image represents a virtual machine.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PlatformImageProperties",
            "description": "Platform image properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PlatformImageList": {
        "description": "List of platform images.",
        "items": {
          "$ref": "#/components/schemas/PlatformImage"
        },
        "type": "array"
      },
      "PlatformImageParameters": {
        "description": "Parameters used to create a new platform image.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PlatformImageProperties",
            "description": "Platform image properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "PlatformImageProperties": {
        "description": "Properties of platform image.",
        "properties": {
          "dataDisks": {
            "description": "Data disks used by the platform image.",
            "items": {
              "$ref": "#/components/schemas/DataDisk"
            },
            "type": "array",
            "x-ms-identifiers": [
              "lun"
            ]
          },
          "details": {
            "$ref": "#/components/schemas/ImageDetails",
            "description": "Information about the image."
          },
          "osDisk": {
            "$ref": "#/components/schemas/OsDisk",
            "description": "Operating system used for this platform image."
          },
          "provisioningState": {
            "$ref": "Compute.json#/definitions/ProvisioningState",
            "description": "Provisioning status of the platform image."
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}