openapi: 3.0.0
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient
  version: 2018-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}':
    delete:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ManagementPolicyName'
      responses:
        '200':
          description: OK -- Delete management policies successfully.
        '204':
          description: No Content -- The management policies does not exist.
      tags:
        - ManagementPolicies
      description: >-
        Deletes the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_Delete
      x-ms-examples:
        StorageAccountDeleteManagementPolicies:
          $ref: ./examples/StorageAccountDeleteManagementPolicy.json
    get:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ManagementPolicyName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountManagementPolicies'
          description: OK -- Get management policies successfully.
      tags:
        - ManagementPolicies
      description: >-
        Gets the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_Get
      x-ms-examples:
        StorageAccountGetManagementPolicies:
          $ref: ./examples/StorageAccountGetManagementPolicy.json
    put:
      parameters:
        - $ref: ./storage.json#/components/parameters/ResourceGroupName
        - $ref: ./storage.json#/components/parameters/StorageAccountName
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ManagementPolicyName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountManagementPolicies'
          description: OK -- Get management policies successfully.
      tags:
        - ManagementPolicies
      description: >-
        Sets the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementPoliciesRulesSetParameter'
        description: The data policy rules to set to a storage account.
        required: true
      x-ms-examples:
        StorageAccountSetManagementPolicies:
          $ref: ./examples/StorageAccountSetManagementPolicy.json
components:
  parameters:
    ManagementPolicyName:
      description: >-
        The name of the Storage Account Management Policy. It should always be
        'default'
      in: path
      name: managementPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-enum:
        modelAsString: true
        name: ManagementPolicyName
      x-ms-parameter-location: method
  schemas:
    ManagementPoliciesRules:
      description: >-
        The Storage Account ManagementPolicies Rules, in JSON format. See more
        details in:
        https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts.
      properties:
        policy:
          description: >-
            The Storage Account ManagementPolicies Rules, in JSON format. See
            more details in:
            https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts.
          type: object
      type: object
    ManagementPoliciesRulesSetParameter:
      description: >-
        The Storage Account ManagementPolicies Rules, in JSON format. See more
        details in:
        https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts.
      properties:
        properties:
          $ref: '#/components/schemas/ManagementPoliciesRules'
          description: >-
            The Storage Account ManagementPolicies Rules, in JSON format. See
            more details in:
            https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts.
          x-ms-client-flatten: true
      type: object
    StorageAccountManagementPolicies:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: The Get Storage Account ManagementPolicies operation response.
      properties:
        properties:
          $ref: '#/components/schemas/StorageAccountManagementPoliciesRulesProperty'
          description: Returns the Storage Account Data Policies Rules.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    StorageAccountManagementPoliciesRulesProperty:
      allOf:
        - $ref: '#/components/schemas/ManagementPoliciesRules'
      description: The Storage Account Data Policies properties.
      properties:
        lastModifiedTime:
          description: Returns the date and time the ManagementPolicies was last modified.
          format: date-time
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

