openapi: 3.0.0
info:
  description: >-
    Use this API to manage the Windows IoT device services in your Azure
    subscription.
  title: DeviceServices
  version: 2018-02-16-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.WindowsIoT/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - Operations
      description: Lists all of the available Windows IoT Services REST API operations.
      operationId: Operations_List
      x-ms-examples:
        Operations_List:
          $ref: ./examples/OperationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/checkDeviceServiceNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceNameAvailabilityInfo'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - CheckDeviceServiceNameAvailability
      deprecated: false
      description: Check if a Windows IoT Device Service name is available.
      operationId: Services_CheckDeviceServiceNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/DeviceServiceCheckNameAvailabilityParameters
        description: >-
          Set the name parameter in the
          DeviceServiceCheckNameAvailabilityParameters structure to the name of
          the Windows IoT Device Service to check.
        required: true
      x-ms-examples:
        Service_CheckNameAvailability:
          $ref: ./examples/Service_CheckNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/deviceServices':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceDescriptionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - DeviceServices
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: Services_List
      x-ms-examples:
        Service_List:
          $ref: ./examples/Service_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceDescriptionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - DeviceServices
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: Services_ListByResourceGroup
      x-ms-examples:
        Service_ListByResourceGroup:
          $ref: ./examples/Service_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices/{deviceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/DeviceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - DeviceServices
      deprecated: false
      description: Delete a Windows IoT Device Service.
      operationId: Services_Delete
      x-ms-examples:
        Service_Delete:
          $ref: ./examples/Service_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/DeviceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - DeviceServices
      deprecated: false
      description: Get the non-security related metadata of a Windows IoT Device Service.
      operationId: Services_Get
      x-ms-examples:
        Services_GetProperties:
          $ref: ./examples/Service_GetProperties.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/DeviceNameParameter'
        - description: >-
            ETag of the Windows IoT Device Service. Do not specify for creating
            a brand new Windows IoT Device Service. Required to update an
            existing Windows IoT Device Service.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - DeviceServices
      deprecated: false
      description: >-
        Updates the metadata of a Windows IoT Device Service. The usual pattern
        to modify a property is to retrieve the Windows IoT Device Service
        metadata and security metadata, and then combine them with the modified
        values in a new body to update the Windows IoT Device Service.
      operationId: Services_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceService'
        description: The Windows IoT Device Service metadata and security metadata.
        required: true
      summary: Updates the metadata of a Windows IoT Device Service.
      x-ms-examples:
        Service_Update:
          $ref: ./examples/Service_Update.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/DeviceNameParameter'
        - description: >-
            ETag of the Windows IoT Device Service. Do not specify for creating
            a new Windows IoT Device Service. Required to update an existing
            Windows IoT Device Service.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
        - DeviceServices
      deprecated: false
      description: >-
        Create or update the metadata of a Windows IoT Device Service. The usual
        pattern to modify a property is to retrieve the Windows IoT Device
        Service metadata and security metadata, and then combine them with the
        modified values in a new body to update the Windows IoT Device Service.
      operationId: Services_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceService'
        description: The Windows IoT Device Service metadata and security metadata.
        required: true
      summary: Create or update the metadata of a Windows IoT Device Service.
      x-ms-examples:
        Service_Create:
          $ref: ./examples/Service_Create.json
components:
  parameters:
    ApiVersionParameter:
      description: The version of the API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    DeviceNameParameter:
      description: The name of the Windows IoT Device Service.
      in: path
      name: deviceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: >-
        The name of the resource group that contains the Windows IoT Device
        Service.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    DeviceService:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeviceService'
      description: The Windows IoT Device Service metadata and security metadata.
      required: true
  schemas:
    DeviceService:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: The description of the Windows IoT Device Service.
      properties:
        etag:
          description: >-
            The Etag field is *not* required. If it is provided in the response
            body, it must also be provided as a header per the normal ETag
            convention.
          type: string
        properties:
          $ref: '#/components/schemas/DeviceServiceProperties'
          description: The properties of a Windows IoT Device Service.
          x-ms-client-flatten: true
      type: object
    DeviceServiceCheckNameAvailabilityParameters:
      description: Input values.
      properties:
        name:
          description: The name of the Windows IoT Device Service to check.
          type: string
      required:
        - name
      type: object
    DeviceServiceDescriptionListResult:
      description: The JSON-serialized array of DeviceService objects with a next link.
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of DeviceService objects.
          items:
            $ref: '#/components/schemas/DeviceService'
          type: array
      type: object
    DeviceServiceNameAvailabilityInfo:
      description: >-
        The properties indicating whether a given Windows IoT Device Service
        name is available.
      properties:
        message:
          description: The detailed reason message.
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          readOnly: true
          type: boolean
        reason:
          description: The reason for unavailability.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: serviceNameUnavailabilityReason
      type: object
    DeviceServiceProperties:
      description: The properties of a Windows IoT Device Service.
      properties:
        adminDomainName:
          description: Windows IoT Device Service OEM AAD domain
          type: string
        billingDomainName:
          description: Windows IoT Device Service ODM AAD domain
          readOnly: true
          type: string
        notes:
          description: Windows IoT Device Service notes.
          type: string
        quantity:
          description: 'Windows IoT Device Service device allocation,'
          format: int64
          type: integer
        startDate:
          description: 'Windows IoT Device Service start date,'
          format: date-time
          readOnly: true
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: One of a server-defined set of error codes.
          type: string
        details:
          description: A human-readable representation of the error's details.
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
        target:
          description: The target of the particular error.
          type: string
      type: object
    OperationDisplayInfo:
      description: The operation supported by Azure Data Catalog Service.
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: 'The action that users can perform, based on their permission level.'
          type: string
        provider:
          description: 'Service provider: Azure Data Catalog Service.'
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
    OperationEntity:
      description: The operation supported by Azure Data Catalog Service.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
          description: The operation supported by Azure Data Catalog Service.
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Windows IoT Device Service operations. It
        contains a list of operations and a URL link to get the next set of
        results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of Windows IoT Device Service operations supported by the
            Microsoft.WindowsIoT resource provider.
          items:
            $ref: '#/components/schemas/OperationEntity'
          readOnly: true
          type: array
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        The resource model definition for a ARM proxy resource. It will have
        everything other than required location and tags
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Fully qualified resource Id for the resource
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: The Azure Region where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

