openapi: 3.0.0
info:
  description: Azure Log Analytics API reference
  title: Azure Log Analytics
  version: 2015-11-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.OperationalInsights/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK response definition.
      tags:
        - Operations
      description: Lists all of the available OperationalInsights Rest API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/locations/{location}/operationStatuses/{asyncOperationId}':
    get:
      parameters:
        - description: The region name of operation.
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: The operation Id.
          in: path
          name: asyncOperationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: OK. Operation status.
      tags:
        - asyncOperations
      description: Get the status of an azure asynchronous operation.
      operationId: GetAsyncOperationsStatus
      x-ms-examples:
        Get specific operation status:
          $ref: ./examples/operationStatuses.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: OK response definition.
      tags:
        - Workspaces
      description: Gets the workspaces in a subscription.
      operationId: Workspaces_List
      x-ms-examples:
        WorkspacesSubscriptionList:
          $ref: ./examples/WorkspacesSubscriptionList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: OK response definition.
      tags:
        - Workspaces
      description: Gets workspaces in a resource group.
      operationId: Workspaces_ListByResourceGroup
      x-ms-examples:
        WorkspacesGet:
          $ref: ./examples/WorkspacesListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}':
    delete:
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: NoContent response definition.
      tags:
        - Workspaces
      description: Deletes a workspace instance.
      operationId: Workspaces_Delete
      x-ms-examples:
        WorkspacesDelete:
          $ref: ./examples/WorkspacesDelete.json
    get:
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK response definition.
      tags:
        - Workspaces
      description: Gets a workspace instance.
      operationId: Workspaces_Get
      x-ms-examples:
        WorkspaceGet:
          $ref: ./examples/WorkspacesGet.json
    patch:
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            maxLength: 63
            minLength: 4
            pattern: '^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The existing workspace was successfully updated. Check
            provisioningStatus to see detailed status.
      tags:
        - Workspaces
      description: Updates a workspace.
      operationId: Workspaces_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters required to patch a workspace.
        required: true
      x-ms-examples:
        WorkspacesPatch:
          $ref: ./examples/WorkspacesUpdate.json
    put:
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            maxLength: 63
            minLength: 4
            pattern: '^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK response definition.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: Created response definition.
      tags:
        - Workspaces
      description: Create or update a workspace.
      operationId: Workspaces_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters required to create or update a workspace.
        required: true
      x-ms-examples:
        WorkspacesCreate:
          $ref: ./examples/WorkspacesCreate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: The workspace that contains the data sources.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - description: Starting point of the collection of data source instances.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceListResult'
          description: OK response definition.
      tags:
        - DataSources
      description: >-
        Gets the first page of data source instances in a workspace with the
        link to the next page.
      operationId: DataSources_ListByWorkspace
      x-ms-examples:
        DataSourcesListByWorkspace:
          $ref: ./examples/DataSourcesListByWorkspace.json
      x-ms-odata: '#/components/schemas/DataSourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources/{dataSourceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the datasource.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - description: Name of the datasource.
          in: path
          name: dataSourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: NoContent response definition.
      tags:
        - DataSources
      description: Deletes a data source instance.
      operationId: DataSources_Delete
      x-ms-examples:
        DataSourcesDelete:
          $ref: ./examples/DataSourcesDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the datasource.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - description: Name of the datasource
          in: path
          name: dataSourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
          description: OK response definition.
      tags:
        - DataSources
      description: Gets a datasource instance.
      operationId: DataSources_Get
      x-ms-examples:
        DataSourcesGet:
          $ref: ./examples/DataSourcesGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that will contain the datasource
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - description: The name of the datasource resource.
          in: path
          name: dataSourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
          description: OK response definition.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
          description: Created response definition.
      tags:
        - DataSources
      description: Create or update a data source.
      operationId: DataSources_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSource'
        description: The parameters required to create or update a datasource.
        required: true
      x-ms-examples:
        DataSourcesCreate:
          $ref: ./examples/DataSourcesCreate.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntelligencePack'
                type: array
          description: OK response definition.
      tags:
        - Workspaces
      description: >-
        Lists all the intelligence packs possible and whether they are enabled
        or disabled for a given workspace.
      operationId: Workspaces_ListIntelligencePacks
      x-ms-examples:
        IntelligencePacksList:
          $ref: ./examples/WorkspacesListIntelligencePacks.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Disable':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - description: The name of the intelligence pack to be disabled.
          in: path
          name: intelligencePackName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
      tags:
        - Workspaces
      description: Disables an intelligence pack for a given workspace.
      operationId: Workspaces_DisableIntelligencePack
      x-ms-examples:
        IntelligencePacksDisable:
          $ref: ./examples/WorkspacesDisableIntelligencePack.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Enable':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - description: The name of the intelligence pack to be enabled.
          in: path
          name: intelligencePackName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
      tags:
        - Workspaces
      description: Enables an intelligence pack for a given workspace.
      operationId: Workspaces_EnableIntelligencePack
      x-ms-examples:
        IntelligencePacksEnable:
          $ref: ./examples/WorkspacesEnableIntelligencePack.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/managementGroups':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: The name of the workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListManagementGroupsResult'
          description: OK response definition.
      tags:
        - Workspaces
      description: Gets a list of management groups connected to a workspace.
      operationId: Workspaces_ListManagementGroups
      x-ms-examples:
        WorkspacesListManagementGroups:
          $ref: ./examples/WorkspacesListManagementGroups.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/sharedKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedKeys'
          description: OK response definition.
      tags:
        - Workspaces
      description: Gets the shared keys for a workspace.
      operationId: Workspaces_GetSharedKeys
      x-ms-examples:
        SharedKeysList:
          $ref: ./examples/WorkspacesGetSharedKeys.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/usages':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: The name of the workspace.
          in: path
          name: workspaceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListUsagesResult'
          description: OK response definition.
      tags:
        - Workspaces
      description: Gets a list of usage metrics for a workspace.
      operationId: Workspaces_ListUsages
      x-ms-examples:
        UsagesList:
          $ref: ./examples/WorkspacesListUsages.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group to get. The name is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+$'
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    DataSource:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Datasources under OMS Workspace.
      properties:
        eTag:
          description: The ETag of the data source.
          type: string
        kind:
          $ref: '#/components/schemas/DataSourceKind'
        properties:
          $ref: '#/components/schemas/Object'
          description: >-
            The data source properties in raw json format, each kind of data
            source have it's own schema.
      required:
        - kind
        - properties
      type: object
      x-ms-azure-resource: true
    DataSourceFilter:
      description: 'DataSource filter. Right now, only filter by kind is supported.'
      properties:
        kind:
          $ref: '#/components/schemas/DataSourceKind'
      type: object
    DataSourceKind:
      description: The kind of the DataSource.
      enum:
        - AzureActivityLog
        - ChangeTrackingPath
        - ChangeTrackingDefaultPath
        - ChangeTrackingDefaultRegistry
        - ChangeTrackingCustomRegistry
        - CustomLog
        - CustomLogCollection
        - GenericDataSource
        - IISLogs
        - LinuxPerformanceObject
        - LinuxPerformanceCollection
        - LinuxSyslog
        - LinuxSyslogCollection
        - WindowsEvent
        - WindowsPerformanceCounter
      type: string
      x-ms-enum:
        modelAsString: true
        name: DataSourceKind
    DataSourceListResult:
      description: The list data source by workspace operation response.
      properties:
        nextLink:
          description: The link (url) to the next page of datasources.
          type: string
        value:
          description: A list of datasources.
          items:
            $ref: '#/components/schemas/DataSource'
          type: array
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    IntelligencePack:
      description: >-
        Intelligence Pack containing a string name and boolean indicating if
        it's enabled.
      properties:
        displayName:
          description: The display name of the intelligence pack.
          type: string
        enabled:
          description: The enabled boolean for the intelligence pack.
          type: boolean
        name:
          description: The name of the intelligence pack.
          type: string
      type: object
    ManagementGroup:
      description: A management group that is connected to a workspace
      properties:
        properties:
          $ref: '#/components/schemas/ManagementGroupProperties'
          description: The properties of the management group.
          x-ms-client-flatten: true
      type: object
    ManagementGroupProperties:
      description: Management group properties.
      properties:
        created:
          description: The datetime that the management group was created.
          format: date-time
          type: string
        dataReceived:
          description: The last datetime that the management group received data.
          format: date-time
          type: string
        id:
          description: The unique ID of the management group.
          type: string
        isGateway:
          description: >-
            Gets or sets a value indicating whether the management group is a
            gateway.
          type: boolean
        name:
          description: The name of the management group.
          type: string
        serverCount:
          description: The number of servers connected to the management group.
          format: int32
          type: integer
        sku:
          description: The SKU of System Center that is managing the management group.
          type: string
        version:
          description: The version of System Center that is managing the management group.
          type: string
      type: object
    MetricName:
      description: The name of a metric.
      properties:
        localizedValue:
          description: The localized name of the metric.
          type: string
        value:
          description: The system name of the metric.
          type: string
      type: object
    Object:
      description: JSON object
      properties: {}
      type: object
    Operation:
      description: Supported operation of OperationalInsights resource provider.
      properties:
        display:
          description: Display metadata associated with the operation.
          properties:
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft OperationsManagement.'
              type: string
            resource:
              description: Resource on which the operation is performed etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list solution operations.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of solution operations supported by the OperationsManagement
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationStatus:
      description: The status of operation.
      properties:
        endTime:
          description: The end time of the operation.
          type: string
        error:
          $ref: '#/components/schemas/ErrorResponse'
          description: The error detail of the operation if any.
          type: object
        id:
          description: The operation Id.
          type: string
        name:
          description: The operation name.
          type: string
        startTime:
          description: The start time of the operation.
          type: string
        status:
          description: The status of the operation.
          type: string
      type: object
    ProxyResource:
      description: Common properties of proxy resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
    Resource:
      description: The resource definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SharedKeys:
      description: The shared keys for a workspace.
      properties:
        primarySharedKey:
          description: The primary shared key of a workspace.
          type: string
        secondarySharedKey:
          description: The secondary shared key of a workspace.
          type: string
      type: object
    Sku:
      description: The SKU (tier) of a workspace.
      properties:
        name:
          description: The name of the SKU.
          enum:
            - Free
            - Standard
            - Premium
            - PerNode
            - PerGB2018
            - Standalone
            - CapacityReservation
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuNameEnum
      required:
        - name
      type: object
    UsageMetric:
      description: A metric describing the usage of a resource.
      properties:
        currentValue:
          description: The current value of the metric.
          format: double
          type: number
        limit:
          description: The quota limit for the metric.
          format: double
          type: number
        name:
          $ref: '#/components/schemas/MetricName'
          description: The name of the metric.
        nextResetTime:
          description: The time that the metric's value will reset.
          format: date-time
          type: string
        quotaPeriod:
          description: >-
            The quota period that determines the length of time between value
            resets.
          type: string
        unit:
          description: The units used for the metric.
          type: string
      type: object
    Workspace:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The top level Workspace resource container.
      properties:
        eTag:
          description: The ETag of the workspace.
          type: string
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
          description: Workspace properties.
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    WorkspaceListManagementGroupsResult:
      description: The list workspace management groups operation response.
      properties:
        value:
          description: Gets or sets a list of management groups attached to the workspace.
          items:
            $ref: '#/components/schemas/ManagementGroup'
          type: array
      type: object
    WorkspaceListResult:
      description: The list workspaces operation response.
      properties:
        value:
          description: A list of workspaces.
          items:
            $ref: '#/components/schemas/Workspace'
          type: array
      type: object
    WorkspaceListUsagesResult:
      description: The list workspace usages operation response.
      properties:
        value:
          description: Gets or sets a list of usage metrics for a workspace.
          items:
            $ref: '#/components/schemas/UsageMetric'
          type: array
      type: object
    WorkspaceProperties:
      description: Workspace properties.
      properties:
        customerId:
          description: >-
            This is a read-only property. Represents the ID associated with the
            workspace.
          readOnly: true
          type: string
        portalUrl:
          description: >-
            This is a legacy property and is not used anymore. Kept here for
            backward compatibility.
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning state of the workspace.
          enum:
            - Creating
            - Succeeded
            - Failed
            - Canceled
            - Deleting
            - ProvisioningAccount
          type: string
          x-ms-enum:
            modelAsString: true
            name: EntityStatus
        retentionInDays:
          description: >-
            The workspace data retention in days. -1 means Unlimited retention
            for the Unlimited Sku. 730 days is the maximum allowed for all other
            Skus. 
          format: int32
          maximum: 730
          minimum: -1
          type: integer
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the workspace.
        source:
          description: >-
            This is a read-only legacy property. It is always set to 'Azure' by
            the service. Kept here for backward compatibility.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

