{
  "openapi": "3.0.0",
  "info": {
    "title": "ResourceHealthMetadata API Client",
    "version": "2016-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/ResourceHealthMetadata.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "ResourceHealthMetadata"
        ],
        "description": "List all ResourceHealthMetadata for all sites in the subscription.",
        "operationId": "ResourceHealthMetadata_List",
        "summary": "List all ResourceHealthMetadata for all sites in the subscription.",
        "x-ms-examples": {
          "List ResourceHealthMetadata for a subscription": {
            "$ref": "./examples/ListResourceHealthMetadataBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "ResourceHealthMetadata"
        ],
        "description": "List all ResourceHealthMetadata for all sites in the resource group in the subscription.",
        "operationId": "ResourceHealthMetadata_ListByResourceGroup",
        "summary": "List all ResourceHealthMetadata for all sites in the resource group in the subscription.",
        "x-ms-examples": {
          "List ResourceHealthMetadata for a resource group": {
            "$ref": "./examples/ListResourceHealthMetadataByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "ResourceHealthMetadata"
        ],
        "description": "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "operationId": "ResourceHealthMetadata_ListBySite",
        "summary": "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "x-ms-examples": {
          "List ResourceHealthMetadata for a site": {
            "$ref": "./examples/ListResourceHealthMetadataBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthMetadata"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "ResourceHealthMetadata"
        ],
        "description": "Gets the category of ResourceHealthMetadata to use for the given site",
        "operationId": "ResourceHealthMetadata_GetBySite",
        "summary": "Gets the category of ResourceHealthMetadata to use for the given site",
        "x-ms-examples": {
          "Get ResourceHealthMetadata": {
            "$ref": "./examples/GetResourceHealthMetadataBySite.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of web app slot. If not specified then will default to production slot.",
            "in": "path",
            "name": "slot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthMetadataCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "ResourceHealthMetadata"
        ],
        "description": "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "operationId": "ResourceHealthMetadata_ListBySiteSlot",
        "summary": "Gets the category of ResourceHealthMetadata to use for the given site as a collection",
        "x-ms-examples": {
          "List ResourceHealthMetadata for a site": {
            "$ref": "./examples/ListResourceHealthMetadataBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of web app",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of web app slot. If not specified then will default to production slot.",
            "in": "path",
            "name": "slot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceHealthMetadata"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "ResourceHealthMetadata"
        ],
        "description": "Gets the category of ResourceHealthMetadata to use for the given site",
        "operationId": "ResourceHealthMetadata_GetBySiteSlot",
        "summary": "Gets the category of ResourceHealthMetadata to use for the given site",
        "x-ms-examples": {
          "Get ResourceHealthMetadata": {
            "$ref": "./examples/GetResourceHealthMetadataBySite.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupNameParameter": {
        "description": "Name of the resource group to which the resource belongs.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ResourceHealthMetadata": {
        "allOf": [
          {
            "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
          }
        ],
        "description": "Used for getting ResourceHealthCheck settings.",
        "properties": {
          "properties": {
            "description": "ResourceHealthMetadata resource specific properties",
            "properties": {
              "category": {
                "description": "The category that the resource matches in the RHC Policy File",
                "type": "string"
              },
              "signalAvailability": {
                "description": "Is there a health signal for the resource",
                "type": "boolean"
              }
            },
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ResourceHealthMetadataCollection": {
        "description": "Collection of resource health metadata.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/ResourceHealthMetadata"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}