openapi: 3.0.0
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: '2016-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations':
    get:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResourcesPage'
          description: OK
          x-ms-identifiers:
            - id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
          description: Default Response.
      tags:
        - Activations
      description: Returns the list of activations.
      operationId: Activations_List
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Activation/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}':
    delete:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ActivationNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResource'
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
          description: Default Response.
      tags:
        - Activations
      description: Delete an activation.
      operationId: Activations_Delete
      x-ms-examples:
        Delete an activation.:
          $ref: ./examples/Activation/Delete.json
    get:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ActivationNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
          description: Default Response.
      tags:
        - Activations
      description: Returns activation name.
      operationId: Activations_Get
      x-ms-examples:
        Return activation name.:
          $ref: ./examples/Activation/Get.json
    put:
      parameters:
        - $ref: AzureBridge.json#/components/parameters/SubscriptionIdParameter
        - $ref: AzureBridge.json#/components/parameters/ResourceGroupNameParameter
        - $ref: AzureBridge.json#/components/parameters/ActivationNameParameter
        - $ref: AzureBridge.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
          description: Default Response.
      tags:
        - Activations
      description: Create a new activation.
      operationId: Activations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activation'
        description: new activation.
        required: true
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Activation/Create.json
components:
  schemas:
    Activation:
      description: Holds properties related to activation.
      properties:
        azureRegistrationResourceIdentifier:
          description: Azure registration resource identifier.
          type: string
        displayName:
          description: Name displayed for the product.
          type: string
        expiration:
          description: The activation expiration.
          type: string
        marketplaceSyndicationEnabled:
          description: >-
            Value indicating whether the marketplace syndication feature is
            enabled.
          type: boolean
        provisioningState:
          $ref: AzureBridge.json#/definitions/ProvisioningState
          description: Provisioning state of the resource.
        usageReportingEnabled:
          description: Value indicating whether the usage reporting feature is enabled.
          type: boolean
      type: object
    ActivationResource:
      allOf:
        - $ref: AzureBridge.json#/definitions/Resource
      description: Published activation resource.
      properties:
        properties:
          $ref: '#/components/schemas/Activation'
          description: Properties of the resource.
          x-ms-client-flatten: true
      type: object
    ActivationResourcesPage:
      description: Holds an array of activation resources and the next link.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of activation resources.
          items:
            $ref: '#/components/schemas/ActivationResource'
          type: array
      type: object
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: >-
            Service specific error code which serves as the substatus for the
            HTTP error code.
          readOnly: true
          type: string
        details:
          description: Internal error details.
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
          type: array
          x-ms-identifiers: []
        message:
          description: Description of the error.
          readOnly: true
          type: string
      type: object
    ExtendedErrorInfo:
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

