openapi: 3.0.0
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: '2018-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes':
    get:
      parameters:
        - $ref: >-
            ../2016-05-01/Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../2016-05-01/Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: ../2016-05-01/Fabric.json#/components/parameters/LocationParameter
        - $ref: >-
            ../2016-05-01/ScaleUnit.json#/components/parameters/ScaleUnitParameter
        - $ref: >-
            StorageSubSystem.json#/components/parameters/StorageSubSystemParameter
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: ../2016-05-01/Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - Volumes
      description: Returns a list of all storage volumes at a location.
      operationId: Volumes_List
      x-ms-examples:
        Returns a list of all storage volumes at a location.:
          $ref: ./examples/Volume/List.json
      x-ms-odata: '#/components/schemas/Volume'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes/{volume}':
    get:
      parameters:
        - $ref: >-
            ../2016-05-01/Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../2016-05-01/Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: ../2016-05-01/Fabric.json#/components/parameters/LocationParameter
        - $ref: >-
            ../2016-05-01/ScaleUnit.json#/components/parameters/ScaleUnitParameter
        - $ref: >-
            StorageSubSystem.json#/components/parameters/StorageSubSystemParameter
        - $ref: '#/components/parameters/VolumeParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - Volumes
      description: Return the requested a storage volume.
      operationId: Volumes_Get
      x-ms-examples:
        Return the requested a storage volume.:
          $ref: ./examples/Volume/Get.json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2018-10-01'
        type: string
    VolumeParameter:
      description: Name of the storage volume.
      in: path
      name: volume
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Volume:
      allOf:
        - $ref: ../2016-05-01/Fabric.json#/definitions/Resource
      description: Representation of a volume resource.
      properties:
        properties:
          $ref: '#/components/schemas/VolumeModel'
          description: Properties of a volume.
          x-ms-client-flatten: true
      type: object
    VolumeList:
      description: Pageable list of storage volumes.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage volumes.
          items:
            $ref: '#/components/schemas/Volume'
          type: array
      type: object
    VolumeModel:
      description: Properties of a volume.
      properties:
        action:
          description: >-
            Detailed recommended action for HealthStatus/OperationalStatus.
            Empty if HealthStatus/OperationalStatus is Healthy/Ok.
          type: string
        description:
          description: >-
            Detailed description for HealthStatus/OperationalStatus. Empty if
            HealthStatus/OperationalStatus is Healthy/Ok.
          type: string
        healthStatus:
          description: Health status of the volume.
          type: string
        operationalStatus:
          description: Operational status of the volume.
          type: string
        remainingCapacityGB:
          description: Remaining capacity in GB of the volume.
          format: int32
          type: integer
        repairStatus:
          description: >-
            Repair status of the volume. Empty if no repair job running,
            something like 'Running, 90%' when repairing.
          type: string
        totalCapacityGB:
          description: Total capacity in GB of the volume.
          format: int32
          type: integer
        volumeLabel:
          description: Volume label.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

