openapi: 3.0.0
info:
  description: Fabric location operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLocationList'
          description: OK
      tags:
        - FabricLocations
      description: Returns a list of all fabric locations.
      operationId: FabricLocations_List
      x-ms-examples:
        Returns a list of all fabric locations.:
          $ref: ./examples/FabricLocation/List.json
      x-ms-odata: '#/components/schemas/FabricLocation'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{fabricLocation}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/FabricLocationParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FabricLocation'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - FabricLocations
      description: Returns the requested fabric location.
      operationId: FabricLocations_Get
      x-ms-examples:
        Returns the requested fabric location.:
          $ref: ./examples/FabricLocation/Get.json
components:
  parameters:
    FabricLocationParameter:
      description: Fabric location.
      in: path
      name: fabricLocation
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    FabricLocation:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: Fabric Location resource.
      properties:
        properties:
          $ref: '#/components/schemas/FabricLocationModel'
          description: Properties of a FabricLocation.
          x-ms-client-flatten: true
      type: object
    FabricLocationList:
      description: Pageable list of fabric locations.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of fabric locations.
          items:
            $ref: '#/components/schemas/FabricLocation'
          type: array
      type: object
    FabricLocationModel:
      description: All properties of a fabric location resource.
      properties:
        exclusiveAdminOperationName:
          description: Name of the running exclusive admin operation.
          type: string
        exclusiveAdminOperationRunning:
          description: Value for whether an exclusive admin operation is running.
          type: boolean
        externalDNSIPAddress01:
          description: First external IP address of the DNS server.
          type: string
        externalDNSIPAddress02:
          description: Second external IP Address of the DNS server.
          type: string
        pepIpAddresses:
          description: The IP addresses of the privileged endpoints.
          items:
            type: string
          type: array
        shutDownActionPlanEndTime:
          description: Last known stamp stop time for the shut down action plan.
          format: date-time
          type: string
        shutDownActionPlanStartTime:
          description: Last known stamp start time for the shut down action plan
          format: date-time
          type: string
        stampInformationId:
          description: The deployment id of the stamp.
          type: string
        startUpActionPlanEndTime:
          description: Last known stamp stop time for the start up action plan.
          format: date-time
          type: string
        startUpActionPlanStartTime:
          description: Last known stamp start time for the start up action plan.
          format: date-time
          type: string
        timeServer:
          description: The IP address of the time server.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

