openapi: 3.0.0
info:
  description: >-
    The Azure Serial Console allows you to access the serial console of a
    Virtual Machine or VM scale set instance
  title: MicrosoftSerialConsoleClient
  version: '2018-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.SerialConsole/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialConsoleOperations'
          description: OK - returns a JSON object
      tags:
        - SerialConsole
      description: Gets a list of Serial Console API operations.
      operationId: ListOperations
      x-ms-examples:
        List all Serial Console management operations supported by Serial Console RP:
          $ref: ./examples/GetOperationsExample.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/defaultParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialConsoleStatus'
          description: OK - Returns a JSON object
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSerialConsoleSubscriptionNotFound'
          description: Subscription not found - returns a JSON object with error details
      tags:
        - SerialConsole
      description: Gets whether or not Serial Console is disabled for a given subscription
      operationId: GetConsoleStatus
      summary: Get the disabled status for a subscription
      x-ms-examples:
        Get the Serial Console disabled status for a subscription:
          $ref: ./examples/SerialConsoleStatus.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}/disableConsole':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/defaultParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisableSerialConsoleResult'
          description: OK - Returns a JSON object
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSerialConsoleSubscriptionNotFound'
          description: Subscription not found - returns a JSON object with error details
      tags:
        - SerialConsole
      description: >-
        Disables the Serial Console service for all VMs and VM scale sets in the
        provided subscription
      operationId: DisableConsole
      summary: Disable Serial Console for a subscription
      x-ms-examples:
        Disable Serial Console for a subscription:
          $ref: ./examples/DisableConsoleExamples.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}/enableConsole':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/defaultParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnableSerialConsoleResult'
          description: OK - Serial Console disabled
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSerialConsoleSubscriptionNotFound'
          description: Subscription not found - returns a JSON object with error details
      tags:
        - SerialConsole
      description: >-
        Enables the Serial Console service for all VMs and VM scale sets in the
        provided subscription
      operationId: EnableConsole
      summary: Enable Serial Console for a subscription
      x-ms-examples:
        Enable Serial Console for a subscription:
          $ref: ./examples/EnableConsoleExamples.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription ID which uniquely identifies the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call requiring it.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    defaultParameter:
      description: Default parameter. Leave the value as "default".
      in: path
      name: default
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    DisableSerialConsoleResult:
      description: Returns whether or not Serial Console is disabled.
      properties:
        disabled:
          description: Whether or not Serial Console is disabled.
          type: boolean
      title: Serial Console Disable Result
      type: object
    EnableSerialConsoleResult:
      description: Returns whether or not Serial Console is disabled (enabled).
      properties:
        disabled:
          description: Whether or not Serial Console is disabled (enabled).
          type: boolean
      title: Serial Console Enable Result
      type: object
    GetSerialConsoleSubscriptionNotFound:
      description: Error saying that the provided subscription could not be found
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Subscription not found message
          type: string
      title: Serial Console subscription not found
      type: object
    SerialConsoleOperations:
      description: Serial Console operations
      properties:
        value:
          description: A list of Serial Console operations
          items:
            properties:
              display:
                properties:
                  description:
                    type: string
                  operation:
                    type: string
                  provider:
                    type: string
                  resource:
                    type: string
                type: object
              isDataAction:
                type: string
              name:
                type: string
            type: object
          type: array
      title: Serial Console operations
      type: object
    SerialConsoleStatus:
      description: Returns whether or not Serial Console is disabled.
      properties:
        disabled:
          description: Whether or not Serial Console is disabled.
          type: boolean
      title: Serial Console GET Result
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

