{
  "openapi": "3.0.0",
  "info": {
    "description": "The HDInsight Management Client.",
    "title": "HDInsightManagementClient",
    "version": "2018-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/configurations.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterConfigurations"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "description": "Gets all configuration information for an HDI cluster.",
        "operationId": "Configurations_List",
        "x-ms-examples": {
          "Get all configuration information": {
            "$ref": "./examples/HDI_Configurations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ConfigurationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterConfiguration"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "description": "The configuration object for the specified cluster. This API is not recommended and might be removed in the future. Please consider using List configurations API instead.",
        "operationId": "Configurations_Get",
        "x-ms-examples": {
          "Get Core site settings": {
            "$ref": "./examples/HDI_Configurations_Get.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/components/parameters/ConfigurationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition"
          },
          "202": {
            "description": "Accepted response definition"
          },
          "204": {
            "description": "No content response definition"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./operations.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "deprecated": true,
        "description": "Configures the HTTP settings on the specified cluster. This API is deprecated, please use UpdateGatewaySettings in cluster endpoint instead.",
        "operationId": "Configurations_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterConfiguration"
              }
            }
          },
          "description": "The cluster configurations.",
          "required": true
        },
        "x-ms-examples": {
          "Disable HTTP connectivity": {
            "$ref": "./examples/ChangeHttpConnectivityDisable.json"
          },
          "Enable HTTP connectivity": {
            "$ref": "./examples/ChangeHttpConnectivityEnable.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The HDInsight client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ClusterNameParameter": {
        "description": "The name of the cluster.",
        "in": "path",
        "name": "clusterName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ConfigurationNameParameter": {
        "description": "The name of the cluster configuration.",
        "in": "path",
        "name": "configurationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ClusterConfiguration": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "The configuration object for the specified configuration for the specified cluster.",
        "type": "object"
      },
      "ClusterConfigurations": {
        "description": "The configuration object for the specified cluster.",
        "properties": {
          "configurations": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ClusterConfiguration"
            },
            "description": "The configuration object for the specified configuration for the specified cluster.",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}