openapi: 3.0.0
info:
  description: Provides operations for working with resources and resource groups.
  title: ResourceManagementClient
  version: '2019-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers:
    get:
      parameters:
        - description: >-
            The number of results to return. If null is passed returns all
            providers.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The properties to include in the results. For example, use
            &$expand=metadata in the query string to retrieve resource provider
            metadata. To include property aliases in response, use
            $expand=resourceTypes/aliases.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: OK - Returns an array of resource providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Providers
      description: Gets all resource providers for the tenant.
      operationId: Providers_ListAtTenantScope
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/':
    get:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - description: >-
            The filter to apply on the operation. For example, you can use
            $filter=provisioningState eq '{state}'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            The number of results to get. If null is passed, returns all
            deployments.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Get all the deployments for a management group.
      operationId: Deployments_ListAtManagementGroupScope
      x-ms-odata: '#/components/schemas/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        A template deployment that is currently running cannot be deleted.
        Deleting a template deployment removes the associated deployment
        operations. This is an asynchronous operation that returns a status of
        202 until the template deployment is successfully deleted. The Location
        response header contains the URI that is used to obtain the status of
        the process. While the process is running, a call to the URI in the
        Location header returns a status of 202. When the process finishes, the
        URI in the Location header returns a status of 204 on success. If the
        asynchronous request failed, the URI in the Location header returns an
        error-level status code.
      operationId: Deployments_DeleteAtManagementGroupScope
      summary: Deletes a deployment from the deployment history.
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Gets a deployment.
      operationId: Deployments_GetAtManagementGroupScope
    head:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistenceAtManagementGroupScope
    put:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            Created - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can provide the template and parameters directly in the request or
        link to JSON files.
      operationId: Deployments_CreateOrUpdateAtManagementGroupScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Additional parameters supplied to the operation.
        required: true
      summary: Deploys resources at management group scope.
      x-ms-examples:
        Create deployment at management group scope.:
          $ref: ./examples/PutDeploymentAtManagementGroup.json
      x-ms-long-running-operation: true
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can cancel a deployment only if the provisioningState is Accepted or
        Running. After the deployment is canceled, the provisioningState is set
        to Canceled. Canceling a template deployment stops the currently running
        template deployment and leaves the resources partially deployed.
      operationId: Deployments_CancelAtManagementGroupScope
      summary: Cancels a currently running template deployment.
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate':
    post:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplateAtManagementGroupScope
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations':
    get:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The number of results to return.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_ListAtManagementGroupScope
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The ID of the operation to get.
          in: path
          name: operationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets a deployments operation.
      operationId: DeploymentOperations_GetAtManagementGroupScope
  '/providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/validate':
    post:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        Validates whether the specified template is syntactically correct and
        will be accepted by Azure Resource Manager..
      operationId: Deployments_ValidateAtManagementGroupScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Parameters to validate.
        required: true
  /providers/Microsoft.Resources/calculateTemplateHash:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHashResult'
          description: OK - Returns the hash.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Calculate the hash of the given template.
      operationId: Deployments_CalculateTemplateHash
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The template provided to calculate hash.
        required: true
      x-ms-examples:
        Calculate template hash:
          $ref: ./examples/CalculateTemplateHash.json
  /providers/Microsoft.Resources/deployments/:
    get:
      parameters:
        - description: >-
            The filter to apply on the operation. For example, you can use
            $filter=provisioningState eq '{state}'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            The number of results to get. If null is passed, returns all
            deployments.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Get all the deployments at the tenant scope.
      operationId: Deployments_ListAtTenantScope
      x-ms-odata: '#/components/schemas/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Resources/deployments/{deploymentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        A template deployment that is currently running cannot be deleted.
        Deleting a template deployment removes the associated deployment
        operations. This is an asynchronous operation that returns a status of
        202 until the template deployment is successfully deleted. The Location
        response header contains the URI that is used to obtain the status of
        the process. While the process is running, a call to the URI in the
        Location header returns a status of 202. When the process finishes, the
        URI in the Location header returns a status of 204 on success. If the
        asynchronous request failed, the URI in the Location header returns an
        error-level status code.
      operationId: Deployments_DeleteAtTenantScope
      summary: Deletes a deployment from the deployment history.
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Gets a deployment.
      operationId: Deployments_GetAtTenantScope
    head:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistenceAtTenantScope
    put:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            Created - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can provide the template and parameters directly in the request or
        link to JSON files.
      operationId: Deployments_CreateOrUpdateAtTenantScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Additional parameters supplied to the operation.
        required: true
      summary: Deploys resources at tenant scope.
      x-ms-examples:
        Create deployment at tenant scope.:
          $ref: ./examples/PutDeploymentAtTenant.json
      x-ms-long-running-operation: true
  '/providers/Microsoft.Resources/deployments/{deploymentName}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can cancel a deployment only if the provisioningState is Accepted or
        Running. After the deployment is canceled, the provisioningState is set
        to Canceled. Canceling a template deployment stops the currently running
        template deployment and leaves the resources partially deployed.
      operationId: Deployments_CancelAtTenantScope
      summary: Cancels a currently running template deployment.
  '/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplateAtTenantScope
  '/providers/Microsoft.Resources/deployments/{deploymentName}/operations':
    get:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The number of results to return.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_ListAtTenantScope
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The ID of the operation to get.
          in: path
          name: operationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets a deployments operation.
      operationId: DeploymentOperations_GetAtTenantScope
  '/providers/Microsoft.Resources/deployments/{deploymentName}/validate':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        Validates whether the specified template is syntactically correct and
        will be accepted by Azure Resource Manager..
      operationId: Deployments_ValidateAtTenantScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedDeployment'
        description: Parameters to validate.
        required: true
  /providers/Microsoft.Resources/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available Microsoft.Resources REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/{resourceProviderNamespace}':
    get:
      parameters:
        - description: >-
            The $expand query parameter. For example, to include property
            aliases in response, use $expand=resourceTypes/aliases.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Providers
      description: Gets the specified resource provider at the tenant level.
      operationId: Providers_GetAtTenantScope
  '/subscriptions/{subscriptionId}/providers':
    get:
      parameters:
        - description: >-
            The number of results to return. If null is passed returns all
            deployments.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: >-
            The properties to include in the results. For example, use
            &$expand=metadata in the query string to retrieve resource provider
            metadata. To include property aliases in response, use
            $expand=resourceTypes/aliases.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: OK - Returns an array of resource providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Providers
      description: Gets all resource providers for a subscription.
      operationId: Providers_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/':
    get:
      parameters:
        - description: >-
            The filter to apply on the operation. For example, you can use
            $filter=provisioningState eq '{state}'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            The number of results to get. If null is passed, returns all
            deployments.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Get all the deployments for a subscription.
      operationId: Deployments_ListAtSubscriptionScope
      x-ms-odata: '#/components/schemas/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        A template deployment that is currently running cannot be deleted.
        Deleting a template deployment removes the associated deployment
        operations. This is an asynchronous operation that returns a status of
        202 until the template deployment is successfully deleted. The Location
        response header contains the URI that is used to obtain the status of
        the process. While the process is running, a call to the URI in the
        Location header returns a status of 202. When the process finishes, the
        URI in the Location header returns a status of 204 on success. If the
        asynchronous request failed, the URI in the Location header returns an
        error-level status code.
      operationId: Deployments_DeleteAtSubscriptionScope
      summary: Deletes a deployment from the deployment history.
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Gets a deployment.
      operationId: Deployments_GetAtSubscriptionScope
    head:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistenceAtSubscriptionScope
    put:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            Created - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can provide the template and parameters directly in the request or
        link to JSON files.
      operationId: Deployments_CreateOrUpdateAtSubscriptionScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
      summary: Deploys resources at subscription scope.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can cancel a deployment only if the provisioningState is Accepted or
        Running. After the deployment is canceled, the provisioningState is set
        to Canceled. Canceling a template deployment stops the currently running
        template deployment and leaves the resources partially deployed.
      operationId: Deployments_CancelAtSubscriptionScope
      summary: Cancels a currently running template deployment.
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplateAtSubscriptionScope
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations':
    get:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The number of results to return.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_ListAtSubscriptionScope
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The ID of the operation to get.
          in: path
          name: operationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets a deployments operation.
      operationId: DeploymentOperations_GetAtSubscriptionScope
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/validate':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        Validates whether the specified template is syntactically correct and
        will be accepted by Azure Resource Manager..
      operationId: Deployments_ValidateAtSubscriptionScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Parameters to validate.
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/whatIf':
    post:
      parameters:
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatIfOperationResult'
          description: OK - Returns What-If operation status
        '202':
          description: >-
            Accepted - Returns URL in Location header to query for long-running
            operation status.
          headers:
            Location:
              description: URL to get status of this long-running operation.
              schema:
                type: string
            Retry-After:
              description: Number of seconds to wait before polling for status.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        Returns changes that will be made by the deployment if executed at the
        scope of the subscription.
      operationId: Deployments_WhatIfAtSubscriptionScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentWhatIf'
        description: Parameters to What If.
        required: true
      x-ms-examples:
        Predict template changes at subscription scope:
          $ref: ./examples/PostDeploymentWhatIfOnSubscription.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}':
    get:
      parameters:
        - description: >-
            The $expand query parameter. For example, to include property
            aliases in response, use $expand=resourceTypes/aliases.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Providers
      description: Gets the specified resource provider.
      operationId: Providers_Get
  '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register':
    post:
      parameters:
        - description: The namespace of the resource provider to register.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Providers
      description: Registers a subscription with a resource provider.
      operationId: Providers_Register
  '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister':
    post:
      parameters:
        - description: The namespace of the resource provider to unregister.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: OK - Returns information about the resource provider.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Providers
      description: Unregisters a subscription from a resource provider.
      operationId: Providers_Unregister
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources':
    get:
      parameters:
        - description: The resource group with the resources to get.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: >-
            The filter to apply on the operation.<br><br>The properties you can
            use for eq (equals) or ne (not equals) are: location, resourceType,
            name, resourceGroup, identity, identity/principalId, plan,
            plan/publisher, plan/product, plan/name, plan/version, and
            plan/promotionCode.<br><br>For example, to filter by a resource
            type, use: $filter=resourceType eq
            'Microsoft.Network/virtualNetworks'<br><br>You can use
            substringof(value, property) in the filter. The properties you can
            use for substring are: name and resourceGroup.<br><br>For example,
            to get all resources with 'demo' anywhere in the name, use:
            $filter=substringof('demo', name)<br><br>You can link more than one
            substringof together by adding and/or operators.<br><br>You can
            filter by tag names and values. For example, to filter for a tag
            name and value, use $filter=tagName eq 'tag1' and tagValue eq
            'Value1'. When you filter by a tag name and value, the tags for each
            resource are not returned in the results.<br><br>You can use some
            properties together when filtering. The combinations you can use
            are: substringof and/or resourceType, plan and plan/publisher and
            plan/name, identity and identity/principalId.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Comma-separated list of additional properties to be included in the
            response. Valid values include `createdTime`, `changedTime` and
            `provisioningState`. For example, `$expand=createdTime,changedTime`.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            The number of results to return. If null is passed, returns all
            resources.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: OK - Returns an array of resources
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: Get all the resources for a resource group.
      operationId: Resources_ListByResourceGroup
      x-ms-odata: '#/components/schemas/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources':
    post:
      parameters:
        - description: The name of the resource group containing the resources to move.
          in: path
          name: sourceResourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: >-
        The resources to move must be in the same source resource group. The
        target resource group may be in a different subscription. When moving
        resources, both the source group and the target group are locked for the
        duration of the operation. Write and delete operations are blocked on
        the groups until the move completes. 
      operationId: Resources_MoveResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: Parameters for moving resources.
        required: true
      summary: Moves resources from one resource group to another resource group.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/validateMoveResources':
    post:
      parameters:
        - description: >-
            The name of the resource group containing the resources to validate
            for move.
          in: path
          name: sourceResourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: >-
        This operation checks whether the specified resources can be moved to
        the target. The resources to move must be in the same source resource
        group. The target resource group may be in a different subscription. If
        validation succeeds, it returns HTTP response code 204 (no content). If
        validation fails, it returns HTTP response code 409 (Conflict) with an
        error message. Retrieve the URL in the Location header value to check
        the result of the long-running operation.
      operationId: Resources_ValidateMoveResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: Parameters for moving resources.
        required: true
      summary: >-
        Validates whether resources can be moved from one resource group to
        another resource group.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups':
    get:
      parameters:
        - description: >-
            The filter to apply on the operation.<br><br>You can filter by tag
            names and values. For example, to filter for a tag name and value,
            use $filter=tagName eq 'tag1' and tagValue eq 'Value1'
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            The number of results to return. If null is passed, returns all
            resource groups.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
          description: OK - Returns an array of resource groups.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: Gets all the resource groups for a subscription.
      operationId: ResourceGroups_List
      x-ms-odata: '#/components/schemas/ResourceGroupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}':
    delete:
      parameters:
        - description: >-
            The name of the resource group to delete. The name is case
            insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: >-
        When you delete a resource group, all of its resources are also deleted.
        Deleting a resource group deletes all of its template deployments and
        currently stored operations.
      operationId: ResourceGroups_Delete
      summary: Deletes a resource group.
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group to get. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: Gets a resource group.
      operationId: ResourceGroups_Get
    head:
      parameters:
        - description: >-
            The name of the resource group to check. The name is case
            insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: Checks whether a resource group exists.
      operationId: ResourceGroups_CheckExistence
    patch:
      parameters:
        - description: >-
            The name of the resource group to update. The name is case
            insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: >-
        Resource groups can be updated through a simple PATCH operation to a
        group address. The format of the request is the same as that for
        creating a resource group. If a field is unspecified, the current value
        is retained.
      operationId: ResourceGroups_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupPatchable'
        description: Parameters supplied to update a resource group.
        required: true
      summary: Updates a resource group.
    put:
      parameters:
        - description: >-
            The name of the resource group to create or update. Can include
            alphanumeric, underscore, parentheses, hyphen, period (except at
            end), and Unicode characters that match the allowed characters.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: OK - Returns information about the new resource group.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: Created - Returns information about the new resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: Creates or updates a resource group.
      operationId: ResourceGroups_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the create or update a resource group.
        required: true
      x-ms-examples:
        Create or update a resource group:
          $ref: ./examples/CreateResourceGroup.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations':
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The number of results to return.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: OK - Return an array of deployment operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets all deployments operations for a deployment.
      operationId: DeploymentOperations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}':
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - description: The ID of the operation to get.
          in: path
          name: operationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: OK - Returns information about the deployment operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DeploymentOperations
      description: Gets a deployments operation.
      operationId: DeploymentOperations_Get
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupExportResult'
          description: OK - Returns the result of the export.
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResourceGroups
      description: Captures the specified resource group as a template.
      operationId: ResourceGroups_ExportTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
        description: Parameters for exporting the template.
        required: true
      x-ms-examples:
        Export a resource group:
          $ref: ./examples/ExportResourceGroup.json
        Export a resource group with filtering:
          $ref: ./examples/ExportResourceGroupWithFiltering.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/':
    get:
      parameters:
        - description: >-
            The name of the resource group with the deployments to get. The name
            is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: >-
            The filter to apply on the operation. For example, you can use
            $filter=provisioningState eq '{state}'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            The number of results to get. If null is passed, returns all
            deployments.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: OK - Returns an array of deployments.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Get all the deployments for a resource group.
      operationId: Deployments_ListByResourceGroup
      x-ms-odata: '#/components/schemas/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}':
    delete:
      parameters:
        - description: >-
            The name of the resource group with the deployment to delete. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        A template deployment that is currently running cannot be deleted.
        Deleting a template deployment removes the associated deployment
        operations. Deleting a template deployment does not affect the state of
        the resource group. This is an asynchronous operation that returns a
        status of 202 until the template deployment is successfully deleted. The
        Location response header contains the URI that is used to obtain the
        status of the process. While the process is running, a call to the URI
        in the Location header returns a status of 202. When the process
        finishes, the URI in the Location header returns a status of 204 on
        success. If the asynchronous request failed, the URI in the Location
        header returns an error-level status code.
      operationId: Deployments_Delete
      summary: Deletes a deployment from the deployment history.
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Gets a deployment.
      operationId: Deployments_Get
    head:
      parameters:
        - description: >-
            The name of the resource group with the deployment to check. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Checks whether the deployment exists.
      operationId: Deployments_CheckExistence
    put:
      parameters:
        - description: >-
            The name of the resource group to deploy the resources to. The name
            is case insensitive. The resource group must already exist.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            OK - Returns information about the deployment, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: >-
            Created - Returns information about the deployment, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can provide the template and parameters directly in the request or
        link to JSON files.
      operationId: Deployments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
      summary: Deploys resources to a resource group.
      x-ms-examples:
        Create a deployment that will redeploy another deployment on failure:
          $ref: ./examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
        Create a deployment that will redeploy the last successful deployment on failure:
          $ref: ./examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel':
    post:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        You can cancel a deployment only if the provisioningState is Accepted or
        Running. After the deployment is canceled, the provisioningState is set
        to Canceled. Canceling a template deployment stops the currently running
        template deployment and leaves the resource group partially deployed.
      operationId: Deployments_Cancel
      summary: Cancels a currently running template deployment.
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate':
    post:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExportResult'
          description: OK - Returns the template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: Exports the template used for specified deployment.
      operationId: Deployments_ExportTemplate
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate':
    post:
      parameters:
        - description: >-
            The name of the resource group the template will be deployed to. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: OK - Returns the validation result.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: Returns the validation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        Validates whether the specified template is syntactically correct and
        will be accepted by Azure Resource Manager..
      operationId: Deployments_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Parameters to validate.
        required: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/whatIf':
    post:
      parameters:
        - description: >-
            The name of the resource group the template will be deployed to. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/DeploymentNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatIfOperationResult'
          description: OK - Returns What-If operation status
        '202':
          description: >-
            Accepted - Returns URL in Location header to query for long-running
            operation status.
          headers:
            Location:
              description: URL to get status of this long-running operation.
              schema:
                type: string
            Retry-After:
              description: Number of seconds to wait before polling for status.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Deployments
      description: >-
        Returns changes that will be made by the deployment if executed at the
        scope of the resource group.
      operationId: Deployments_WhatIf
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentWhatIf'
        description: Parameters to validate.
        required: true
      x-ms-examples:
        Predict template changes at resource group scope:
          $ref: ./examples/PostDeploymentWhatIfOnResourceGroup.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}':
    delete:
      parameters:
        - description: >-
            The name of the resource group that contains the resource to delete.
            The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to delete.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          x-ms-api-version: false
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: Deletes a resource.
      operationId: Resources_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: >-
            The name of the resource group containing the resource to get. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type of the resource.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to get.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          x-ms-api-version: false
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: Gets a resource.
      operationId: Resources_Get
    head:
      parameters:
        - description: >-
            The name of the resource group containing the resource to check. The
            name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The resource provider of the resource to check.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to check whether it exists.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          x-ms-api-version: false
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: Checks whether a resource exists.
      operationId: Resources_CheckExistence
    patch:
      parameters:
        - description: >-
            The name of the resource group for the resource. The name is case
            insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type of the resource to update.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to update.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          x-ms-api-version: false
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: Updates a resource.
      operationId: Resources_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Parameters for updating the resource.
        required: true
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: >-
            The name of the resource group for the resource. The name is case
            insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type of the resource to create.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to create.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          schema:
            type: string
          x-ms-api-version: false
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: Created - Returns information about the resource.
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: Creates a resource.
      operationId: Resources_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Parameters for creating or updating the resource.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resources':
    get:
      parameters:
        - description: >-
            The filter to apply on the operation.<br><br>The properties you can
            use for eq (equals) or ne (not equals) are: location, resourceType,
            name, resourceGroup, identity, identity/principalId, plan,
            plan/publisher, plan/product, plan/name, plan/version, and
            plan/promotionCode.<br><br>For example, to filter by a resource
            type, use: $filter=resourceType eq
            'Microsoft.Network/virtualNetworks'<br><br>You can use
            substringof(value, property) in the filter. The properties you can
            use for substring are: name and resourceGroup.<br><br>For example,
            to get all resources with 'demo' anywhere in the name, use:
            $filter=substringof('demo', name)<br><br>You can link more than one
            substringof together by adding and/or operators.<br><br>You can
            filter by tag names and values. For example, to filter for a tag
            name and value, use $filter=tagName eq 'tag1' and tagValue eq
            'Value1'. When you filter by a tag name and value, the tags for each
            resource are not returned in the results.<br><br>You can use some
            properties together when filtering. The combinations you can use
            are: substringof and/or resourceType, plan and plan/publisher and
            plan/name, identity and identity/principalId.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Comma-separated list of additional properties to be included in the
            response. Valid values include `createdTime`, `changedTime` and
            `provisioningState`. For example, `$expand=createdTime,changedTime`.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            The number of results to return. If null is passed, returns all
            resources.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: OK - Returns an array of resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Resources
      description: Get all the resources in a subscription.
      operationId: Resources_List
      x-ms-odata: '#/components/schemas/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/tagNames':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListResult'
          description: OK - Returns an array of tag names and values.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Tags
      description: >-
        Gets the names and values of all resource tags that are defined in a
        subscription.
      operationId: Tags_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/tagNames/{tagName}':
    delete:
      parameters:
        - description: The name of the tag.
          in: path
          name: tagName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Tags
      description: You must remove all values from a resource tag before you can delete it.
      operationId: Tags_Delete
      summary: Deletes a tag from the subscription.
    put:
      parameters:
        - description: The name of the tag to create.
          in: path
          name: tagName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetails'
          description: OK - Returns information about the tag.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetails'
          description: Created - Returns information about the tag.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Tags
      description: >-
        The tag name can have a maximum of 512 characters and is case
        insensitive. Tag names created by Azure have prefixes of microsoft,
[...]
