openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTypeListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - ConnectionType
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/connectiontypeoperations'
      description: Retrieve a list of connection types.
      operationId: ConnectionType_ListByAutomationAccount
      x-ms-examples:
        'Get connection types, first 100':
          $ref: ./examples/getAllConnectionTypes_First100.json
        'Get connection types, next 100':
          $ref: ./examples/getAllConnectionTypes_Next100.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The name of connection type.
          in: path
          name: connectionTypeName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - ConnectionType
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/connectiontypeoperations'
      description: Delete the connection type.
      operationId: ConnectionType_Delete
      x-ms-examples:
        Delete an existing connection type:
          $ref: ./examples/deleteConnectionType.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The name of connection type.
          in: path
          name: connectionTypeName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionType'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - ConnectionType
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/connectiontypeoperations'
      description: Retrieve the connection type identified by connection type name.
      operationId: ConnectionType_Get
      x-ms-examples:
        Get connection type:
          $ref: ./examples/getConnectionType.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: >-
            The parameters supplied to the create or update connection type
            operation.
          in: path
          name: connectionTypeName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionType'
          description: Created
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionType'
          description: Conflict
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - ConnectionType
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/connectiontypeoperations'
      description: Create a connection type.
      operationId: ConnectionType_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionTypeCreateOrUpdateParameters'
        description: >-
          The parameters supplied to the create or update connection type
          operation.
        required: true
      x-ms-examples:
        Create or update connection type:
          $ref: ./examples/createOrUpdateConnectionType.json
components:
  schemas:
    ConnectionType:
      description: Definition of the connection type.
      properties:
        id:
          description: Gets the id of the resource.
          readOnly: true
          type: string
        name:
          description: Gets the name of the connection type.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ConnectionTypeProperties'
          description: Gets or sets the properties of the connection type.
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
    ConnectionTypeCreateOrUpdateParameters:
      description: >-
        The parameters supplied to the create or update connection type
        operation.
      properties:
        name:
          description: Gets or sets the name of the connection type.
          type: string
        properties:
          $ref: '#/components/schemas/ConnectionTypeCreateOrUpdateProperties'
          description: Gets or sets the value of the connection type.
          x-ms-client-flatten: true
      required:
        - name
        - properties
      type: object
    ConnectionTypeCreateOrUpdateProperties:
      description: The properties of the create connection type.
      properties:
        fieldDefinitions:
          additionalProperties:
            $ref: '#/components/schemas/FieldDefinition'
          description: Gets or sets the field definitions of the connection type.
          type: object
        isGlobal:
          description: >-
            Gets or sets a Boolean value to indicate if the connection type is
            global.
          type: boolean
      required:
        - fieldDefinitions
      type: object
    ConnectionTypeListResult:
      description: The response model for the list connection type operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of connection types.
          items:
            $ref: '#/components/schemas/ConnectionType'
          type: array
      type: object
    ConnectionTypeProperties:
      description: Properties of the connection type.
      properties:
        creationTime:
          description: Gets the creation time.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        description:
          description: Gets or sets the description.
          type: string
        fieldDefinitions:
          additionalProperties:
            $ref: '#/components/schemas/FieldDefinition'
          description: Gets the field definitions of the connection type.
          readOnly: true
          type: object
        isGlobal:
          description: >-
            Gets or sets a Boolean value to indicate if the connection type is
            global.
          type: boolean
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          type: string
      type: object
    FieldDefinition:
      description: Definition of the connection fields.
      properties:
        isEncrypted:
          description: >-
            Gets or sets the isEncrypted flag of the connection field
            definition.
          type: boolean
        isOptional:
          description: Gets or sets the isOptional flag of the connection field definition.
          type: boolean
        type:
          description: Gets or sets the type of the connection field definition.
          type: string
      required:
        - type
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

