{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure Storage Management API.",
    "title": "StorageManagementClient",
    "version": "2018-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/blob.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers": {
      "get": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListContainerItems"
                }
              }
            },
            "description": "OK -- List Container operation completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Lists all containers and does not support a prefix like data plane. Also SRP today does not return continuation token.",
        "operationId": "BlobContainers_List",
        "x-ms-examples": {
          "ListContainers": {
            "$ref": "./examples/BlobContainersList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete Container operation completed successfully."
          },
          "204": {
            "description": "No Content -- The Container not exist."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Deletes specified container under its account.",
        "operationId": "BlobContainers_Delete",
        "x-ms-examples": {
          "DeleteContainers": {
            "$ref": "./examples/BlobContainersDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobContainer"
                }
              }
            },
            "description": "OK -- Get Container operation completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Gets properties of a specified container. ",
        "operationId": "BlobContainers_Get",
        "x-ms-examples": {
          "GetContainers": {
            "$ref": "./examples/BlobContainersGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobContainer",
                  "description": "Properties of the updated blob container."
                }
              }
            },
            "description": "OK -- Update Container operation completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn't already exist. ",
        "operationId": "BlobContainers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlobContainer"
              }
            }
          },
          "description": "Properties to update for the blob container.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateContainers": {
            "$ref": "./examples/BlobContainersPatch.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobContainer"
                }
              }
            },
            "description": "OK -- The Container is already created."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobContainer"
                }
              }
            },
            "description": "Created -- Create Container operation completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container. ",
        "operationId": "BlobContainers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlobContainer"
              }
            }
          },
          "description": "Properties of the blob container to create.",
          "required": true
        },
        "x-ms-examples": {
          "PutContainers": {
            "$ref": "./examples/BlobContainersPut.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold": {
      "post": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalHold"
                }
              }
            },
            "description": "OK -- Clear legal hold tags for Container completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.",
        "operationId": "BlobContainers_ClearLegalHold",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalHold"
              }
            }
          },
          "description": "The LegalHold property that will be clear from a blob container.",
          "required": true
        },
        "x-ms-examples": {
          "ClearLegalHoldContainers": {
            "$ref": "./examples/BlobContainersClearLegalHold.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/extend": {
      "post": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImmutabilityPolicy"
                }
              }
            },
            "description": "OK -- Extends container ImmutabilityPolicy operation completed successfully..",
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Extends the immutabilityPeriodSinceCreationInDays of a locked immutabilityPolicy. The only action allowed on a Locked policy will be this action. ETag in If-Match is required for this operation.",
        "operationId": "BlobContainers_ExtendImmutabilityPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImmutabilityPolicy"
              }
            }
          },
          "description": "The ImmutabilityPolicy Properties that will be extended for a blob container."
        },
        "x-ms-examples": {
          "ExtendImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersExtendImmutabilityPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/default/lock": {
      "post": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImmutabilityPolicy"
                }
              }
            },
            "description": "OK -- Locks container ImmutabilityPolicy operation completed successfully.",
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Sets the ImmutabilityPolicy to Locked state. The only action allowed on a Locked policy is ExtendImmutabilityPolicy action. ETag in If-Match is required for this operation.",
        "operationId": "BlobContainers_LockImmutabilityPolicy",
        "x-ms-examples": {
          "LockImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersLockImmutabilityPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/immutabilityPolicies/{immutabilityPolicyName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "#/components/parameters/ImmutabilityPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImmutabilityPolicy"
                }
              }
            },
            "description": "OK -- Deletes container ImmutabilityPolicy operation completed successfully.",
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Aborts an unlocked immutability policy. The response of delete has immutabilityPeriodSinceCreationInDays set to 0. ETag in If-Match is required for this operation. Deleting a locked immutability policy is not allowed, only way is to delete the container after deleting all blobs inside the container.",
        "operationId": "BlobContainers_DeleteImmutabilityPolicy",
        "x-ms-examples": {
          "DeleteImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersDeleteImmutabilityPolicy.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "#/components/parameters/ImmutabilityPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImmutabilityPolicy"
                }
              }
            },
            "description": "OK -- Gets container ImmutabilityPolicy operation completed successfully.",
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Gets the existing immutability policy along with the corresponding ETag in response headers and body.",
        "operationId": "BlobContainers_GetImmutabilityPolicy",
        "x-ms-examples": {
          "GetImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersGetImmutabilityPolicy.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "#/components/parameters/ImmutabilityPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The entity state (ETag) version of the immutability policy to update. A value of \"*\" can be used to apply the operation only if the immutability policy already exists. If omitted, this operation will always be applied.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImmutabilityPolicy"
                }
              }
            },
            "description": "OK -- Creates or updates container ImmutabilityPolicy operation completed successfully.",
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Creates or updates an unlocked immutability policy. ETag in If-Match is honored if given but not required for this operation.",
        "operationId": "BlobContainers_CreateOrUpdateImmutabilityPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImmutabilityPolicy"
              }
            }
          },
          "description": "The ImmutabilityPolicy Properties that will be created or updated to a blob container."
        },
        "x-ms-examples": {
          "CreateOrUpdateImmutabilityPolicy": {
            "$ref": "./examples/BlobContainersPutImmutabilityPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold": {
      "post": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalHold"
                }
              }
            },
            "description": "OK -- Set legal hold tags for Container completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.",
        "operationId": "BlobContainers_SetLegalHold",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalHold"
              }
            }
          },
          "description": "The LegalHold property that will be set to a blob container.",
          "required": true
        },
        "x-ms-examples": {
          "SetLegalHoldContainers": {
            "$ref": "./examples/BlobContainersSetLegalHold.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}": {
      "get": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/BlobServicesName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobServiceProperties"
                }
              }
            },
            "description": "OK -- returned the properties of a storage account\u2019s Blob service."
          }
        },
        "tags": [
          "BlobService"
        ],
        "description": "Gets the properties of a storage account\u2019s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
        "operationId": "BlobServices_GetServiceProperties",
        "x-ms-examples": {
          "GetBlobServices": {
            "$ref": "./examples/BlobServicesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/BlobServicesName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobServiceProperties"
                }
              }
            },
            "description": "OK -- Sets The properties of a storage account\u2019s Blob service successfully."
          }
        },
        "tags": [
          "BlobService"
        ],
        "description": "Sets the properties of a storage account\u2019s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules. ",
        "operationId": "BlobServices_SetServiceProperties",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlobServiceProperties"
              }
            }
          },
          "description": "The properties of a storage account\u2019s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
          "required": true
        },
        "x-ms-examples": {
          "PutBlobServices": {
            "$ref": "./examples/BlobServicesPut.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/lease": {
      "post": {
        "parameters": [
          {
            "$ref": "./storage.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/components/parameters/StorageAccountName"
          },
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaseContainerResponse"
                }
              }
            },
            "description": "OK -- Lease Container operation completed successfully."
          }
        },
        "tags": [
          "BlobContainers"
        ],
        "description": "The Lease Container operation establishes and manages a lock on a container for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.",
        "operationId": "BlobContainers_Lease",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseContainerRequest"
              }
            }
          },
          "description": "Lease Container request body."
        },
        "x-ms-examples": {
          "Acquire a lease on a container": {
            "$ref": "./examples/BlobContainersLease_Acquire.json"
          },
          "Break a lease on a container": {
            "$ref": "./examples/BlobContainersLease_Break.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "BlobServicesName": {
        "description": "The name of the blob Service within the specified storage account. Blob Service Name must be 'default'",
        "in": "path",
        "name": "BlobServicesName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ContainerName": {
        "description": "The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
        "in": "path",
        "name": "containerName",
        "required": true,
        "schema": {
          "maxLength": 63,
          "minLength": 3,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ImmutabilityPolicyName": {
        "description": "The name of the blob container immutabilityPolicy within the specified storage account. ImmutabilityPolicy Name must be 'default'",
        "in": "path",
        "name": "immutabilityPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "BlobContainer": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/AzureEntityResource"
          }
        ],
        "description": "Properties of the blob container, including Id, resource name, resource type, Etag.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ContainerProperties",
            "description": "Properties of the blob container.",
            "x-ms-client-flatten": true,
            "x-ms-client-name": "ContainerProperties"
          }
        },
        "type": "object"
      },
      "BlobServiceProperties": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "The properties of a storage account\u2019s Blob service.",
        "properties": {
          "properties": {
            "description": "The properties of a storage account\u2019s Blob service.",
            "properties": {
              "cors": {
                "$ref": "#/components/schemas/CorsRules",
                "description": "Specifies CORS rules for the Blob service. You can include up to five CorsRule elements in the request. If no CorsRule elements are included in the request body, all CORS rules will be deleted, and CORS will be disabled for the Blob service."
              },
              "defaultServiceVersion": {
                "description": "DefaultServiceVersion indicates the default version to use for requests to the Blob service if an incoming request\u2019s version is not specified. Possible values include version 2008-10-27 and all more recent versions.",
                "type": "string"
              },
              "deleteRetentionPolicy": {
                "$ref": "#/components/schemas/DeleteRetentionPolicy",
                "description": "The blob service properties for soft delete."
              }
            },
            "x-ms-client-flatten": true,
            "x-ms-client-name": "BlobServiceProperties"
          }
        },
        "type": "object"
      },
      "ContainerProperties": {
        "description": "The properties of a container.",
        "properties": {
          "hasImmutabilityPolicy": {
            "description": "The hasImmutabilityPolicy public property is set to true by SRP if ImmutabilityPolicy has been created for this container. The hasImmutabilityPolicy public property is set to false by SRP if ImmutabilityPolicy has not been created for this container.",
            "readOnly": true,
            "type": "boolean"
          },
          "hasLegalHold": {
            "description": "The hasLegalHold public property is set to true by SRP if there are at least one existing tag. The hasLegalHold public property is set to false by SRP if all existing legal hold tags are cleared out. There can be a maximum of 1000 blob containers with hasLegalHold=true for a given account.",
            "readOnly": true,
            "type": "boolean"
          },
          "immutabilityPolicy": {
            "$ref": "#/components/schemas/ImmutabilityPolicyProperties",
            "description": "The ImmutabilityPolicy property of the container.",
            "readOnly": true,
            "x-ms-client-name": "ImmutabilityPolicy"
          },
          "lastModifiedTime": {
            "description": "Returns the date and time the container was last modified.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "leaseDuration": {
            "description": "Specifies whether the lease on a container is of infinite or fixed duration, only when the container is leased.",
            "enum": [
              "Infinite",
              "Fixed"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "LeaseDuration"
            }
          },
          "leaseState": {
            "description": "Lease state of the container.",
            "enum": [
              "Available",
              "Leased",
              "Expired",
              "Breaking",
              "Broken"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "LeaseState"
            }
          },
          "leaseStatus": {
            "description": "The lease status of the container.",
            "enum": [
              "Locked",
              "Unlocked"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "LeaseStatus"
            }
          },
          "legalHold": {
            "$ref": "#/components/schemas/LegalHoldProperties",
            "description": "The LegalHold property of the container.",
            "readOnly": true
          },
          "metadata": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "A name-value pair to associate with the container as metadata.",
            "type": "object"
          },
          "publicAccess": {
            "description": "Specifies whether data in the container may be accessed publicly and the level of access.",
            "enum": [
              "Container",
              "Blob",
              "None"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "PublicAccess"
            }
          }
        },
        "type": "object"
      },
      "CorsRule": {
        "description": "Specifies a CORS rule for the Blob service.",
        "properties": {
          "allowedHeaders": {
            "description": "Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "allowedMethods": {
            "description": "Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin.",
            "items": {
              "enum": [
                "DELETE",
                "GET",
                "HEAD",
                "MERGE",
                "POST",
                "OPTIONS",
                "PUT"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "allowedOrigins": {
            "description": "Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "exposedHeaders": {
            "description": "Required if CorsRule element is present. A list of response headers to expose to CORS clients.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "maxAgeInSeconds": {
            "description": "Required if CorsRule element is present. The number of seconds that the client/browser should cache a preflight response.",
            "type": "integer"
          }
        },
        "required": [
          "allowedOrigins",
          "allowedMethods",
          "maxAgeInSeconds",
          "exposedHeaders",
          "allowedHeaders"
        ],
        "type": "object"
      },
      "CorsRules": {
        "description": "Sets the CORS rules. You can include up to five CorsRule elements in the request. ",
        "properties": {
          "corsRules": {
            "description": "The List of CORS rules. You can include up to five CorsRule elements in the request. ",
            "items": {
              "$ref": "#/components/schemas/CorsRule",
              "description": "Specifies a CORS rule for the Blob service. "
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DeleteRetentionPolicy": {
        "description": "The blob service properties for soft delete.",
        "properties": {
          "days": {
            "description": "Indicates the number of days that the deleted blob should be retained. The minimum specified value can be 1 and the maximum value can be 365.",
            "maximum": 365,
            "minimum": 1,
            "type": "integer"
          },
          "enabled": {
            "description": "Indicates whether DeleteRetentionPolicy is enabled for the Blob service.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ImmutabilityPolicy": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/AzureEntityResource"
          }
        ],
        "description": "The ImmutabilityPolicy property of a blob container, including Id, resource name, resource type, Etag.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ImmutabilityPolicyProperty",
            "description": "The properties of an ImmutabilityPolicy of a blob container.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "ImmutabilityPolicyProperties": {
        "description": "The properties of an ImmutabilityPolicy of a blob container.",
        "properties": {
          "etag": {
            "description": "ImmutabilityPolicy Etag.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ImmutabilityPolicyProperty",
            "description": "The properties of an ImmutabilityPolicy of a blob container.",
            "x-ms-client-flatten": true
          },
          "updateHistory": {
            "description": "The ImmutabilityPolicy update history of the blob container.",
            "items": {
              "$ref": "#/components/schemas/UpdateHistoryProperty"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ImmutabilityPolicyProperty": {
        "description": "The properties of an ImmutabilityPolicy of a blob container.",
        "properties": {
          "immutabilityPeriodSinceCreationInDays": {
            "description": "The immutability period for the blobs in the container since the policy creation, in days.",
            "type": "integer"
          },
          "state": {
            "description": "The ImmutabilityPolicy state of a blob container, possible values include: Locked and Unlocked.",
            "enum": [
              "Locked",
              "Unlocked"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ImmutabilityPolicyState"
            }
          }
        },
        "required": [
          "immutabilityPeriodSinceCreationInDays"
        ],
        "type": "object"
      },
      "LeaseContainerRequest": {
        "description": "Lease Container request schema.",
        "properties": {
          "action": {
            "description": "Specifies the lease action. Can be one of the available actions.",
            "enum": [
              "Acquire",
              "Renew",
              "Change",
              "Release",
              "Break"
            ],
            "type": "string"
          },
          "breakPeriod": {
            "description": "Optional. For a break action, proposed duration the lease should continue before it is broken, in seconds, between 0 and 60.",
            "type": "integer"
          },
          "leaseDuration": {
            "description": "Required for acquire. Specifies the duration of the lease, in seconds, or negative one (-1) for a lease that never expires.",
            "type": "integer"
          },
          "leaseId": {
            "description": "Identifies the lease. Can be specified in any valid GUID string format.",
            "type": "string"
          },
          "proposedLeaseId": {
            "description": "Optional for acquire, required for change. Proposed lease ID, in a GUID string format.",
            "type": "string"
          }
        },
        "required": [
          "action"
        ],
        "type": "object"
      },
      "LeaseContainerResponse": {
        "description": "Lease Container response schema.",
        "properties": {
          "leaseId": {
            "description": "Returned unique lease ID that must be included with any request to delete the container, or to renew, change, or release the lease.",
            "type": "string"
          },
          "leaseTimeSeconds": {
            "description": "Approximate time remaining in the lease period, in seconds.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LegalHold": {
        "description": "The LegalHold property of a blob container.",
        "properties": {
          "tags": {
            "description": "Each tag should be 3 to 23 alphanumeric characters and is normalized to lower case at SRP.",
            "items": {
              "maxLength": 23,
              "minLength": 3,
              "type": "string"
            },
            "type": "array"
          },
          "hasLegalHold": {
            "description": "The hasLegalHold public property is set to true by SRP if there are at least one existing tag. The hasLegalHold public property is set to false by SRP if all existing legal hold tags are cleared out. There can be a maximum of 1000 blob containers with hasLegalHold=true for a given account.",
            "readOnly": true,
            "type": "boolean"
          }
        },
        "required": [
          "tags"
        ],
        "type": "object"
      },
      "LegalHoldProperties": {
        "description": "The LegalHold property of a blob container.",
        "properties": {
          "tags": {
            "description": "The list of LegalHold tags of a blob container.",
            "items": {
              "$ref": "#/components/schemas/TagProperty"
            },
            "type": "array"
          },
          "hasLegalHold": {
            "description": "The hasLegalHold public property is set to true by SRP if there are at least one existing tag. The hasLegalHold public property is set to false by SRP if all existing legal hold tags are cleared out. There can be a maximum of 1000 blob containers with hasLegalHold=true for a given account.",
            "readOnly": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ListContainerItem": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/AzureEntityResource"
          }
        ],
        "description": "The blob container properties be listed out.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ContainerProperties",
            "description": "The blob container properties be listed out.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ListContainerItems": {
        "description": "The list of blob containers.",
        "properties": {
          "value": {
            "description": "The list of blob containers.",
            "items": {
              "$ref": "#/components/schemas/ListContainerItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TagProperty": {
        "description": "A tag of the LegalHold of a blob container.",
        "properties": {
          "objectIdentifier": {
            "description": "Returns the Object ID of the user who added the tag.",
            "readOnly": true,
            "type": "string"
          },
          "tag": {
            "description": "The tag value.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "Returns the Tenant ID that issued the token for the user who added the tag.",
            "readOnly": true,
            "type": "string"
          },
          "timestamp": {
            "description": "Returns the date and time the tag was added.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "upn": {
            "description": "Returns the User Principal Name of the user who added the tag.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateHistoryProperty": {
        "description": "An update history of the ImmutabilityPolicy of a blob container.",
        "properties": {
          "immutabilityPeriodSinceCreationInDays": {
            "description": "The immutability period for the blobs in the container since the policy creation, in days.",
            "readOnly": true,
            "type": "integer"
          },
          "objectIdentifier": {
            "description": "Returns the Object ID of the user who updated the ImmutabilityPolicy.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "Returns the Tenant ID that issued the token for the user who updated the ImmutabilityPolicy.",
            "readOnly": true,
            "type": "string"
          },
          "timestamp": {
            "description": "Returns the date and time the ImmutabilityPolicy was updated.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "update": {
            "description": "The ImmutabilityPolicy update type of a blob container, possible values include: put, lock and extend.",
            "enum": [
              "put",
              "lock",
              "extend"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ImmutabilityPolicyUpdateType"
            }
          },
          "upn": {
            "description": "Returns the User Principal Name of the user who updated the ImmutabilityPolicy.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}