openapi: 3.0.0
info:
  description: The User Subscription Management Client.
  title: SubscriptionClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /subscriptions:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
          description: OK
      tags:
        - Subscriptions
      description: Get the list of subscriptions.
      operationId: Subscriptions_List
      x-ms-examples:
        Get the list of subscriptions.:
          $ref: ./examples/Subscriptions/List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - Subscriptions
      description: Delete the specified subscription.
      operationId: Subscriptions_Delete
      x-ms-examples:
        Delete the specified subscription:
          $ref: ./examples/Subscriptions/Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK
      tags:
        - Subscriptions
      description: Gets details about particular subscription.
      operationId: Subscriptions_Get
      x-ms-examples:
        Get the specified subscription.:
          $ref: ./examples/Subscriptions/Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Created
      tags:
        - Subscriptions
      description: Create or updates a subscription.
      operationId: Subscriptions_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        description: Subscription parameter.
        required: true
      x-ms-examples:
        Create or updates a subscription:
          $ref: ./examples/Subscriptions/Create.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2015-11-01'
        type: string
    SubscriptionIdParameter:
      description: Id of the subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Resource:
      description: Base Resource Object
      properties:
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          readOnly: true
          type: object
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Subscription:
      description: List of supported operations.
      properties:
        displayName:
          description: Subscription name.
          type: string
        id:
          description: Fully qualified identifier.
          type: string
        offerId:
          description: Identifier of the offer under the scope of a delegated provider.
          type: string
        state:
          $ref: '#/components/schemas/SubscriptionState'
          description: Subscription state.
        subscriptionId:
          description: Subscription identifier.
          type: string
        tenantId:
          description: Directory tenant identifier.
          type: string
      type: object
    SubscriptionList:
      description: List of subscriptions.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: Subscription definition.
          items:
            $ref: '#/components/schemas/Subscription'
          type: array
      type: object
    SubscriptionState:
      description: Subscription notification state.
      enum:
        - NotDefined
        - Enabled
        - Warned
        - PastDue
        - Disabled
        - Deleted
      type: string
      x-ms-enum:
        modelAsString: true
        name: SubscriptionState
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

