{
  "openapi": "3.1.0",
  "info": {
    "title": "Fire Financial Services Business API",
    "description": "The fire.com API allows you to deeply integrate Business Account features into your application or back-office systems.\n",
    "version": "1.0",
    "contact": {
      "name": "Fire API",
      "url": "https://docs.fire.com",
      "email": "api@fire.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/firefinancialservices/fire-business-api-openapi/master/fire-business-api-v1.yaml"
  },
  "servers": [
    {
      "url": "https://api.fire.com/business",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/v1/apps/accesstokens": {
      "post": {
        "summary": "Authenticate with the API.",
        "description": "This endpoint is needed to generate your access token. Access to the API is by Bearer Access Tokens. These are valid for 15 minutes. You can have multiple Access Tokens active at the same time if needed. See the [Guide to Authentication](/docs/authentication) for full details.",
        "tags": [
          "Authentication"
        ],
        "operationId": "authenticate",
        "security": [],
        "requestBody": {
          "required": true,
          "description": "Authentication data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Access token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "List accounts",
        "description": "This endpoint returns all the accounts on your Fire profile. Ordered by Alias ascending. Can be paginated. You will need to enable PERM_BUSINESS_GET_ACCOUNTS to use this endpoint.",
        "tags": [
          "Accounts"
        ],
        "operationId": "getAccounts",
        "responses": {
          "200": {
            "description": "An array of account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "accounts",
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Fire Account.",
        "description": "This endpoint will create a new Fire account on your profile. You will need to enable PERM_BUSINESS_POST_ACCOUNTS to use this endpoint.\n\n**Please note there is a charge associated with creating a new account.**\n",
        "tags": [
          "Accounts"
        ],
        "operationId": "addAccount",
        "requestBody": {
          "required": true,
          "description": "Details of the new account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAccount"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The details of the new account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/activites": {
      "get": {
        "summary": "Get account activity",
        "description": "This endpoint will retrieve the details of activity on your Fire Account. You will need to enable PERM_BUSINESS_GET_ACTIVITIES to use this endpoint.",
        "tags": [
          "Accounts"
        ],
        "operationId": "getActivities",
        "responses": {
          "200": {
            "description": "An array of activity objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "activities",
                  "type": "object",
                  "properties": {
                    "cards": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{ican}": {
      "get": {
        "summary": "Get details of an account",
        "description": "This endpoint will return an array of information about the account. You can retrieve the details of a Fire  Account by its `ican`. You will need to enable PERM_BUSINESS_GET_ACCOUNT to use this endpoint.",
        "tags": [
          "Accounts"
        ],
        "operationId": "getAccountById",
        "parameters": [
          {
            "in": "path",
            "name": "ican",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The ican of the account to retrieve"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An array of account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/accounts/{ican}/transactions": {
      "get": {
        "summary": "List transactions for an account",
        "description": "This endpoint will retrieve a list of transactions against an account. Initially, use the optional `limit`, `dateRangeFrom` and `dateRangeTo` query params to limit your query, then use the embedded `next` or `prev` links in the response to get newer or older pages. You will need to enable PERM_BUSINESS_GET_ACCOUNT_TRANSACTIONS to use this endpoint.\n",
        "tags": [
          "Transactions"
        ],
        "operationId": "getTransactionsByAccountIdv3",
        "parameters": [
          {
            "in": "path",
            "name": "ican",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The ican of the account to retrieve"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The number of records to return. Defaults to 10 - max is 200."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dateRangeFrom",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "A millisecond epoch time specifying the date range start date."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dateRangeTo",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "A millisecond epoch time specifying the date range end date."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "startAfter",
            "schema": {
              "type": "string",
              "description": "A pointer to the position in the resultset to start from. Used when paging through results using the linked pages."
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "An array of transaction objects for the account with a count (`total`).",
            "content": {
              "application/json": {
                "schema": {
                  "title": "transactions",
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "example": "self",
                            "description": "The relationship of this link to the current object - self, next, prev page."
                          },
                          "href": {
                            "type": "string",
                            "example": "https://api.fire.com/business/v3/accounts/1/transactions?startAfter=eyJpY2F",
                            "description": "The URL of the linked page"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV3"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV3"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV3"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards": {
      "get": {
        "summary": "List debit cards",
        "description": "This endpoint returns a list of cards related to your Fire account. You will need to enable PERM_BUSINESS_GET_CARDS to use this endpoint.",
        "tags": [
          "Debit Cards"
        ],
        "operationId": "getListofCards",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "cards",
                  "type": "object",
                  "properties": {
                    "cards": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Card"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Fire debit card",
        "description": "This endpoint allows you to create a debit card to be linked to your Fire account. You can create multiple debit cards which can be linked to your Fire accounts. You will need to enable PERM_BUSINESS_POST_CARDS to use this endpoint.",
        "tags": [
          "Debit Cards"
        ],
        "operationId": "createNewCard",
        "requestBody": {
          "required": true,
          "description": "Details of the new card",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{cardId}/transactions": {
      "get": {
        "summary": "Get a list of debit card transactions",
        "description": "This endpoint returns a list of cards transactions related to your Fire card. You will need to enable PERM_BUSINESS_GET_MY_CARD_TRANSACTIONS to use this endpoint.",
        "tags": [
          "Debit Cards"
        ],
        "operationId": "getListofCardTransactions",
        "parameters": [
          {
            "in": "path",
            "name": "cardId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The cardid of the card to retrieve the associated transactions"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The number of records to return"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The page of records to return"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "transactionsv1",
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1,
                        "description": "The total number of card transactions in the list."
                      },
                      "dateRangeTo": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1547744156603,
                        "description": "milisecond timestamp of date range to value."
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{cardId}/block": {
      "post": {
        "summary": "Block a Fire debit card",
        "description": "This endpoint allows you to block a card on your Fire account. This updates the status of an existing card to block which prevents any transactions being carried out with that card. You will need to enable PERM_BUSINESS_POST_MY_CARD_BLOCK to use this endpoint.",
        "tags": [
          "Debit Cards"
        ],
        "operationId": "blockCard",
        "parameters": [
          {
            "in": "path",
            "name": "cardId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The cardid of the card to block"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No body is returned - \u201cStatus 204 No Content\u201d signifies the call was successful."
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{cardId}/unblock": {
      "post": {
        "summary": "Unblock a Fire debit card",
        "description": "This endpoint updates status of an existing card to unblock which means that transactions can be carried out with that card. You will need to enable PERM_BUSINESS_POST_MY_CARD_UNBLOCK to use this endpoint.",
        "tags": [
          "Debit Cards"
        ],
        "operationId": "unblockCard",
        "parameters": [
          {
            "in": "path",
            "name": "cardId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The cardid of the card to unblock"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No body is returned - \u201cStatus 204 No Content\u201d signifies the call was successful."
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/paymentrequests": {
      "post": {
        "summary": "Create a payment request",
        "description": "This endpoint creates a new Open Banking Payment request. A code is returned that can be shared to your customers as a URL by any channel you wish. See our [Guide to Fire Open Payments](/docs/fire-open-payments) for more details. You will need to enable PERM_BUSINESS_POST_PAYMENT_REQUEST to use this endpoint. \n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "newPaymentRequest",
        "requestBody": {
          "required": true,
          "description": "Details of the new payment request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment Request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/paymentrequests/{paymentRequestCode}": {
      "get": {
        "summary": "Get payment request details",
        "description": "This endpoint will retrieve the details of an Open Banking Payment requestYou will need to enable PERM_BUSINESS_GET_PAYMENT_REQUEST to use this endpoint.\n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getPaymentRequestDetails",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "paymentRequestCode",
            "schema": {
              "type": "string",
              "description": "The unique 8-character code identifying the payment request.",
              "example": "1234abcd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Payment Request details object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequest"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/paymentrequests/{paymentRequestCode}/payments": {
      "get": {
        "summary": "Get list of all payment attempts related to a payment request",
        "description": "This endpoint will retrieve the list of payments attempted against an Open Banking Payment request. You will need to enable PERM_BUSINESS_GET_PAYMENT_REQUEST_PAYMENTS to use this endpoint.\n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getPaymentRequestPaymentsv2",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "paymentRequestCode",
            "schema": {
              "type": "string",
              "description": "The unique 8-character code identifying the payment request.",
              "example": "1234abcd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Payment Request Payments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestPayment"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/paymentrequests/{paymentRequestCode}/reports": {
      "get": {
        "summary": "Get a report from a payment request",
        "description": "This endpoint will retrieve a report for an Open Banking Payment request. You will need to enable PERM_BUSINESS_GET_PAYMENT_REQUEST_REPORTS to use this endpoint.\n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getPaymentRequestReportV2",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "paymentRequestCode",
            "schema": {
              "type": "string",
              "description": "The unique 8-character code identifying the payment request.",
              "example": "1234abcd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Payment Request Report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestReport"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/paymentrequests/sent": {
      "get": {
        "summary": "Get a list of payment request transactions",
        "description": "This endpoint will retrieve the list of open banking payment requests made on your account. You will need to enable PERM_BUSINESS_GET_PAYMENT_REQUEST_TRANSACTIONS to use this endpoint.\n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getPaymentRequestsSentV2",
        "responses": {
          "200": {
            "description": "The list of payment requests sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestsSent"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/paymentrequests/{paymentRequestCode}/public": {
      "get": {
        "summary": "List details of a public payment request",
        "description": "This endpoint returns an object of payment request information. You will need to enable PERM_BUSINESS_GET_PUBLIC_PAYMENT_REQUEST to use this endpoint.",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getPublicPaymentRequest",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "paymentRequestCode",
            "schema": {
              "type": "string",
              "description": "The unique 8-character code identifying the payment request.",
              "example": "1234abcd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Payment Request Information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaymentRequest"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/fx/rate?": {
      "get": {
        "summary": "Get FX rates",
        "description": "This endpoint returns the exchange rate between two currencies. You will need to enable PERM_BUSINESS_GET_FX_RATE to use this endpoint.",
        "tags": [
          "FX"
        ],
        "operationId": "getFXRates",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "sellCurrency",
            "schema": {
              "type": "string",
              "description": "The currency the money is currently in"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "buyCurrency",
            "schema": {
              "type": "string",
              "description": "The currency the money is being converted to"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An object of FX information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FxRate"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/limits": {
      "get": {
        "summary": "List all limits",
        "description": "This endpoint returns an array of limit information. You will need to enable PERM_BUSINESS_GET_LIMITS to use this endpoint.",
        "tags": [
          "Profile Management"
        ],
        "operationId": "getLimits",
        "responses": {
          "200": {
            "description": "An object of limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Limit"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/accounts/{ican}": {
      "put": {
        "summary": "Update account configuration",
        "description": "This endpoint changes the name associated with an account. You will need to enable PERM_BUSINESS_PUT_ACCOUNT to use this endpoint.",
        "tags": [
          "Accounts"
        ],
        "operationId": "updateAccountConfig",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "ican",
            "schema": {
              "type": "string",
              "description": "The unique id for the account",
              "example": "12345"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The name the account name should be changed to",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConfiguration"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The account was updated."
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhooks/{webhookId}/events/{event}/test": {
      "get": {
        "summary": "Send test webhooks",
        "description": "This endpoint sends a test webhook response for a selected event to the chosen URL. You will need to enable PERM_BUSINESS_GET_WEBHOOK_EVENT_TEST to use this endpoint.",
        "tags": [
          "API and Webhooks"
        ],
        "operationId": "sendTestWebhook",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "webhookId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "The ID of the webhook to test",
              "example": 32
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "event",
            "schema": {
              "type": "string",
              "enum": [
                "LODGEMENT_RECEIVED",
                "PAYMENT_RECEIVED",
                "PAYMENT_REQUEST_PAYMENT_RECEIVED",
                "ACCOUNT_CREATED",
                "CARD_CREATED",
                "CARD_AUTHORISATION",
                "CARD_SETTLEMENT",
                "PAYMENT_REQUEST_PAYMENT_AUTHORISED",
                "PIS_LODGEMENT_RECEIVED"
              ],
              "description": "The type of event to send. Currently only one event type is associated with each webhook, however this may change in future.",
              "example": "CARD_AUTHORISATION"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook test sent."
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhooks": {
      "get": {
        "summary": "List all webhooks",
        "description": "This endpoint lists all webhooks on your Fire account. You will need to enable PERM_BUSINESS_GET_WEBHOOKS to use this endpoint.",
        "tags": [
          "API and Webhooks"
        ],
        "operationId": "getWebhookEvents",
        "responses": {
          "200": {
            "description": "An object of information about your webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "Title": "webhookEvents",
                  "Type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookEvent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/batches/{batchUuid}/newpayees": {
      "get": {
        "summary": "List new payees in a batch",
        "description": "This endpoint will retrieve a list of details of batch items with new payees. You will need to enable PERM_BUSINESS_GET_BATCH_NEWPAYEES to use this endpoint.\n",
        "tags": [
          "Batch Payments"
        ],
        "operationId": "getNewPayeeBatch",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "batchUuid",
            "schema": {
              "type": "string",
              "description": "The UUID for the batch",
              "example": "2DF456A-1234-5ABC-BAC0-C0CED23544F1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New Payee Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewPayeesBatch"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/payments/{paymentUuid}": {
      "get": {
        "summary": "Get payment details",
        "description": "This endpoint will return the details of a specific open banking payment. You will need to enable PERM_BUSINESS_GET_PAYMENT to use this endpoint.\n\nAs your customer goes through the payment submission journey, the payment status will change. The endpoint will return one of the following statuses:\n\n* `AWAITING_AUTHORISATION` - This is the initial status of all payments, indicating that the user has consented to be directed to their ASPSP/Bank's application. Payments remaining at this status may be considered abandoned.\n* `AWAITING_MULTI_AUTHORISATION` - Some business accounts require dual authorisation for payments.\n* `NOT_AUTHORISED` - This is a final status, and indicates that the payment initiation was cancelled by the customer, rejected by the ASPSP/Bank, an error response returned by the ASPSP/Bank, eg. low balance in the customers account.\n* `PENDING` - The customer has authorised the payment in their app, but their ASPSP/bank may want to carry out an internal check before funding the transaction.\n* `AUTHORISED` - The payment is successfully initiated, having been authorised by your customer and their ASPSP/Bank.\n\nOnce the payment is successfully initiated, ie. `AUTHORISED`, the ASPSP/Bank should settle the funds, which are then applied to your Fire account.\n\n* `FUNDS_CONFIRMED` - This status is currently available for GBP payments only. The payment has been received by Fire and will be applied to your account in the next file run.\n* `SETTLED` - This is a final status, indicating that funds have been applied to your Fire GBP or EUR account.\n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getPaymentDetailsv2",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "paymentUuid",
            "schema": {
              "type": "string",
              "description": "The unique id for the transaction.",
              "example": "4ADFB67A-0F5B-4A9A-9D74-34437250045C"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Payment Request details object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestPayment"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiErrorV2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/aspsps": {
      "get": {
        "summary": "Get list of ASPSPs / Banks",
        "description": "This endpoint will return all ASPSPs (Account Servicing Payment Service Provider) / banks available to you for open banking payments. The list can be filtered by currency.You will need to enable PERM_BUSINESS_GET_ASPSPS to use this endpoint.\n***This endpoint is only required if you intend to host the \u201cSelect ASPSP / bank\u201d page yourself.***\n",
        "tags": [
          "Open Banking"
        ],
        "operationId": "getListOfAspsps",
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The three letter code for the currency - either `EUR` or `GBP`. Use this to filter the list for banks that can be used to pay in a certain currency.",
            "example": "EUR"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ASPSPs the customers can use to pay a payment.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "aspsps",
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "example": 10,
                      "description": "The total number of ASPSPs in the list."
                    },
                    "aspsps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Aspsp"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "description": "This endpoint will retrieve the details of all Fire users on your acount.You will need to enable PERM_BUSINESS_GET_USERS to use this endpoint.",
        "tags": [
          "Profile Management"
        ],
        "operationId": "getUsers",
        "responses": {
          "200": {
            "description": "List of all Users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}": {
      "get": {
        "summary": "Get the details of a user",
        "description": "This endpoint will retrieve the details of a specific Fire user. You will need to enable PERM_BUSINESS_GET_USER to use this endpoint.",
        "tags": [
          "Profile Management"
        ],
        "operationId": "getUser",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "userId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Lists a specific User",
              "example": 14059
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unique information about a User.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "summary": "List all API applications",
        "description": "This endpoint returns a list of API applications created under your Fire account. You will need to enable PERM_BUSINESS_GET_APPS to use this endpoint.",
        "tags": [
          "API and Webhooks"
        ],
        "operationId": "getApiApplications",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "apiApplications",
                    "type": "object",
                    "properties": {
                      "application": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Application"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an API Application",
        "description": "This endpoint will create a new API Application on your Fire account with your chosen specified permissions. Please note that if there is no batch approval permissions included, the approval fields must be set to null. You will need to enable PERM_BUSINESS_POST_APPS to use this endpoint.",
        "tags": [
          "API and Webhooks"
        ],
        "operationId": "createApiApplication",
        "requestBody": {
          "required": true,
          "description": "Details of the new API Application",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewApiApplication"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API Application created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCreated"
                }
              }
            }
          },
          "400": {
            "description": "An error has occured. Any 403 errors usually mean your access token is invalid or missing. For other errors, check the validity of your input, and if you are permitted to access this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "apiErrors",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                }
              }
            }
          },
[...]
