{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/credential.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Credential"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "description": "Retrieve a list of credentials.",
        "operationId": "Credential_ListByAutomationAccount",
        "x-ms-examples": {
          "List credentials by automation account, first 100": {
            "$ref": "./examples/listCredentialsByAutomationAccount.json"
          },
          "List credentials by automation account, next 100": {
            "$ref": "./examples/listCredentialsByAutomationAccount_next100_using_nextLink.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of credential.",
            "in": "path",
            "name": "credentialName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Credential"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "description": "Delete the credential.",
        "operationId": "Credential_Delete",
        "x-ms-examples": {
          "Delete a credential": {
            "$ref": "./examples/deleteCredentialExisting.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of credential.",
            "in": "path",
            "name": "credentialName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Credential"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "description": "Retrieve the credential identified by credential name.",
        "operationId": "Credential_Get",
        "x-ms-examples": {
          "Get a credential": {
            "$ref": "./examples/getCredential.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the Update credential operation.",
            "in": "path",
            "name": "credentialName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Credential"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "description": "Update a credential.",
        "operationId": "Credential_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the Update credential operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a credential": {
            "$ref": "./examples/updateCredential_patch.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the create or update credential operation.",
            "in": "path",
            "name": "credentialName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Credential"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "description": "Create a credential.",
        "operationId": "Credential_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialCreateOrUpdateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create or update credential operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create a credential": {
            "$ref": "./examples/createOrUpdateCredential.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Credential": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ],
        "description": "Definition of the credential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CredentialProperties",
            "description": "Gets or sets the properties of the credential.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "CredentialCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update credential operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the credential.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CredentialCreateOrUpdateProperties",
            "description": "Gets or sets the properties of the credential.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "CredentialCreateOrUpdateProperties": {
        "description": "The properties of the create credential operation.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the credential.",
            "type": "string"
          },
          "password": {
            "description": "Gets or sets the password of the credential.",
            "type": "string"
          },
          "userName": {
            "description": "Gets or sets the user name of the credential.",
            "type": "string"
          }
        },
        "required": [
          "userName",
          "password"
        ],
        "type": "object"
      },
      "CredentialListResult": {
        "description": "The response model for the list credential operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of credentials.",
            "items": {
              "$ref": "#/components/schemas/Credential"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CredentialProperties": {
        "description": "Definition of the credential properties",
        "properties": {
          "creationTime": {
            "description": "Gets the creation time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "userName": {
            "description": "Gets the user name of the credential.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CredentialUpdateParameters": {
        "description": "The parameters supplied to the Update credential operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the credential.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CredentialUpdateProperties",
            "description": "Gets or sets the properties of the variable.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "CredentialUpdateProperties": {
        "description": "The properties of the Update credential",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the credential.",
            "type": "string"
          },
          "password": {
            "description": "Gets or sets the password of the credential.",
            "type": "string"
          },
          "userName": {
            "description": "Gets or sets the user name of the credential.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}