{
  "openapi": "3.0.0",
  "info": {
    "description": "Scale unit node operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ScaleUnitNode.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScaleUnitNodeList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Returns a list of all scale unit nodes in a location.",
        "operationId": "ScaleUnitNodes_List",
        "x-ms-examples": {
          "List all scale unit node": {
            "$ref": "./examples/ScaleUnitNode/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/ScaleUnitNode",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScaleUnitNode"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Return the requested scale unit node.",
        "operationId": "ScaleUnitNodes_Get",
        "x-ms-examples": {
          "Return the requested scale unit node.": {
            "$ref": "./examples/ScaleUnitNode/Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOff": {
      "post": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Power off a scale unit node.",
        "operationId": "ScaleUnitNodes_PowerOff",
        "x-ms-examples": {
          "Power off a scale unit node.": {
            "$ref": "./examples/ScaleUnitNode/PowerOff.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOn": {
      "post": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Power on a scale unit node.",
        "operationId": "ScaleUnitNodes_PowerOn",
        "x-ms-examples": {
          "Power on a scale unit node.": {
            "$ref": "./examples/ScaleUnitNode/PowerOn.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/Repair": {
      "post": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Repairs a node of the cluster.",
        "operationId": "ScaleUnitNodes_Repair",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BareMetalNodeDescription"
              }
            }
          },
          "description": "Description of a node.",
          "required": true
        },
        "x-ms-examples": {
          "Repairs a node of the cluster.": {
            "$ref": "./examples/ScaleUnitNode/Repair.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/Shutdown": {
      "post": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Shutdown a scale unit node.",
        "operationId": "ScaleUnitNodes_Shutdown",
        "x-ms-examples": {
          "Shutdown a scale unit node.": {
            "$ref": "./examples/ScaleUnitNode/Shutdown.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StartMaintenanceMode": {
      "post": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Start maintenance mode for a scale unit node.",
        "operationId": "ScaleUnitNodes_StartMaintenanceMode",
        "x-ms-examples": {
          "Start maintenance mode on a scale unit node.": {
            "$ref": "./examples/ScaleUnitNode/StartMaintenanceMode.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StopMaintenanceMode": {
      "post": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/ScaleUnitNodeParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "ScaleUnitNodes"
        ],
        "description": "Stop maintenance mode for a scale unit node.",
        "operationId": "ScaleUnitNodes_StopMaintenanceMode",
        "x-ms-examples": {
          "Stop maintenance mode on a scale unit node.": {
            "$ref": "./examples/ScaleUnitNode/StopMaintenanceMode.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ScaleUnitNodeParameter": {
        "description": "Name of the scale unit node.",
        "in": "path",
        "name": "scaleUnitNode",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "BareMetalNodeDescription": {
        "description": "Description of a bare metal node used for ScaleOut operation on a cluster.",
        "properties": {
          "biosVersion": {
            "description": "Bios version of the physical machine.",
            "type": "string"
          },
          "bmcIpv4Address": {
            "description": "BMC address of the physical machine.",
            "type": "string",
            "x-ms-client-name": "BMCIPv4Address"
          },
          "clusterName": {
            "description": "Name of the cluster.",
            "type": "string"
          },
          "computerName": {
            "description": "Name of the computer.",
            "type": "string"
          },
          "macAddress": {
            "description": "Name of the MAC address of the bare metal node.",
            "type": "string"
          },
          "model": {
            "description": "Model of the physical machine.",
            "type": "string"
          },
          "serialNumber": {
            "description": "Serial number of the physical machine.",
            "type": "string"
          },
          "vendor": {
            "description": "Vendor of the physical machine.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ScaleUnitNode": {
        "allOf": [
          {
            "$ref": "Fabric.json#/definitions/Resource"
          }
        ],
        "description": "The physical server in a cluster.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ScaleUnitNodeModel",
            "description": "Holds all properties related to a scale unit node.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ScaleUnitNodeList": {
        "description": "A pageable list of scale unit nodes.",
        "properties": {
          "nextLink": {
            "description": "The URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of scale unit nodes.",
            "items": {
              "$ref": "#/components/schemas/ScaleUnitNode"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ScaleUnitNodeModel": {
        "description": "Holds all properties related to a scale unit node.",
        "properties": {
          "biosVersion": {
            "description": "BIOS version of the physical machine.",
            "type": "string"
          },
          "bmcAddress": {
            "description": "BMC address of the physical machine.",
            "type": "string"
          },
          "canPowerOff": {
            "description": "Value indicating whether the node can be powered off.",
            "type": "boolean"
          },
          "capacity": {
            "$ref": "ScaleUnit.json#/definitions/ScaleUnitCapacity",
            "description": "Capacity of the physical machine."
          },
          "model": {
            "description": "Model of the physical machine.",
            "type": "string"
          },
          "powerState": {
            "description": "PowerState of the physical machine.",
            "enum": [
              "Stopped",
              "Starting",
              "Running",
              "Stopping"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PowerState"
            }
          },
          "scaleUnitName": {
            "description": "Cluster name of the physical machine.",
            "type": "string"
          },
          "scaleUnitNodeStatus": {
            "description": "Status of the physical machine.",
            "enum": [
              "Running",
              "Maintenance",
              "Stopped"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ScaleUnitNodeStatus"
            }
          },
          "scaleUnitUri": {
            "description": "URI of the corresponding cluster.",
            "type": "string"
          },
          "serialNumber": {
            "description": "Serial number of the physical machine.",
            "type": "string"
          },
          "vendor": {
            "description": "Vendor of the physical machine.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}