{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin KeyVault Management Client.",
    "title": "KeyVaultManagementClient",
    "version": "2017-02-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/keyvault/Microsoft.KeyVault.Admin/preview/2017-02-01-preview/KeyVault.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.KeyVault.Admin/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "KeyVault"
        ],
        "description": "Get the list of support rest operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get the list of support rest operations.": {
            "$ref": "./examples/Operations/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2017-02-01-preview",
          "type": "string"
        }
      },
      "LocationParameter": {
        "description": "The location of the quota.",
        "in": "path",
        "name": "location",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Display": {
        "description": "Contains the localized display information for this particular operation / action.",
        "properties": {
          "description": {
            "description": "The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise it will be used in tool tips and detailed views.",
            "type": "string"
          },
          "operation": {
            "description": "The localized friendly name for the operation, as it should be shown to the user.",
            "type": "string"
          },
          "provider": {
            "description": "The localized friendly form of the resource provider name; it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"",
            "type": "string"
          },
          "resource": {
            "description": "The localized friendly form of the resource type related to this action/operation; it should match the public documentation for the resource provider.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Describes the supported rest operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/Display",
            "description": "Contains the localized display information for this particular operation / action."
          },
          "name": {
            "description": "The name of the operation being performed on this particular object. It should match the action name that appears in RBAC / the event service.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "List of Operations",
        "properties": {
          "nextLink": {
            "description": "URI to the next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "Array of operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Base Resource Object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "List of key value pairs.",
            "readOnly": true,
            "type": "object"
          },
          "id": {
            "description": "URI of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location where resource is location.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}