{
  "openapi": "3.0.0",
  "info": {
    "title": "AzureStack Azure Bridge Client",
    "version": "2017-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Product.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products": {
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns a list of products.",
        "operationId": "Products_List",
        "x-ms-examples": {
          "Returns a list of products.": {
            "$ref": "examples/Product/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}": {
      "get": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns the specified product.",
        "operationId": "Products_Get",
        "x-ms-examples": {
          "Returns the specified product.": {
            "$ref": "examples/Product/Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/getProduct": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns the specified product.",
        "operationId": "Products_GetProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfiguration"
              }
            }
          },
          "description": "Device configuration."
        },
        "x-ms-examples": {
          "Returns the specified product.": {
            "$ref": "examples/Product/GetPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/getProducts": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns a list of products.",
        "operationId": "Products_GetProducts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfiguration"
              }
            }
          },
          "description": "Device configuration."
        },
        "x-ms-examples": {
          "Returns a list of products.": {
            "$ref": "examples/Product/ListPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listDetails": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedProduct"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns the extended properties of a product.",
        "operationId": "Products_ListDetails",
        "x-ms-examples": {
          "Returns the extended properties of a product.": {
            "$ref": "examples/Product/Post.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listProducts": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns a list of products.",
        "operationId": "Products_ListProducts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfiguration"
              }
            }
          },
          "description": "Device configuration."
        },
        "x-ms-examples": {
          "Returns a list of products.": {
            "$ref": "examples/Product/ListPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/uploadProductLog": {
      "post": {
        "parameters": [
          {
            "$ref": "AzureStack.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/RegistrationNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureStack.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductLog"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureStack.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Product"
        ],
        "description": "Returns the specified product.",
        "operationId": "Products_UploadLog",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceProductLogUpdate"
              }
            }
          },
          "description": "Update details for product log."
        },
        "x-ms-examples": {
          "Returns the specified product.": {
            "$ref": "examples/Product/UploadLog.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProductNameParameter": {
        "description": "Name of the product.",
        "in": "path",
        "name": "productName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "DeviceConfiguration": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceConfiguration"
            }
          }
        },
        "description": "Device configuration."
      }
    },
    "schemas": {
      "Compatibility": {
        "description": "Product compatibility",
        "properties": {
          "description": {
            "description": "Full error message if any compatibility issues are found",
            "type": "string"
          },
          "isCompatible": {
            "description": "Tells if product is compatible with current device",
            "type": "boolean"
          },
          "issues": {
            "description": "List of all issues found",
            "items": {
              "$ref": "#/components/schemas/CompatibilityIssue"
            },
            "type": "array"
          },
          "message": {
            "description": "Short error message if any compatibility issues are found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CompatibilityIssue": {
        "description": "Compatibility issue",
        "enum": [
          "HigherDeviceVersionRequired",
          "LowerDeviceVersionRequired",
          "CapacityBillingModelRequired",
          "PayAsYouGoBillingModelRequired",
          "DevelopmentBillingModelRequired",
          "AzureADIdentitySystemRequired",
          "ADFSIdentitySystemRequired",
          "ConnectionToInternetRequired",
          "ConnectionToAzureRequired",
          "DisconnectedEnvironmentRequired"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "CompatibilityIssue"
        }
      },
      "ComputeRole": {
        "description": "Compute role type (IaaS or PaaS).",
        "enum": [
          "None",
          "IaaS",
          "PaaS"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ComputeRole"
        }
      },
      "DataDiskImage": {
        "description": "Data disk image.",
        "properties": {
          "lun": {
            "description": "The LUN.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "sourceBlobSasUri": {
            "description": "SAS key for source blob.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeviceConfiguration": {
        "description": "Device Configuration.",
        "properties": {
          "deviceVersion": {
            "description": "Version of the device.",
            "readOnly": true,
            "type": "string"
          },
          "identitySystem": {
            "description": "Identity system of the device.",
            "enum": [
              "AzureAD",
              "ADFS"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "category"
            }
          }
        },
        "type": "object"
      },
      "ExtendedProduct": {
        "description": "Extended description about the product required for installing it into Azure Stack.",
        "properties": {
          "galleryPackageBlobSasUri": {
            "description": "The URI to the .azpkg file that provides information required for showing product in the gallery.",
            "readOnly": true,
            "type": "string"
          },
          "productKind": {
            "description": "Specifies the kind of the product (virtualMachine or virtualMachineExtension).",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ExtendedProductProperties",
            "description": "Specifies additional properties describing the product.",
            "readOnly": true,
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ExtendedProductProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VirtualMachineExtensionProductProperties"
          },
          {
            "$ref": "#/components/schemas/VirtualMachineProductProperties"
          }
        ],
        "description": "Product information.",
        "properties": {},
        "type": "object"
      },
      "IconUris": {
        "description": "Links to product icons.",
        "properties": {
          "hero": {
            "description": "URI to hero icon.",
            "type": "string"
          },
          "large": {
            "description": "URI to large icon.",
            "type": "string"
          },
          "medium": {
            "description": "URI to medium icon.",
            "type": "string"
          },
          "small": {
            "description": "URI to small icon.",
            "type": "string"
          },
          "wide": {
            "description": "URI to wide icon.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MarketplaceProductLogUpdate": {
        "description": "Update details for product log.",
        "properties": {
          "details": {
            "description": "Error details related to operation.",
            "readOnly": true,
            "type": "string"
          },
          "error": {
            "description": "Error related to the operation.",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "Operation to log.",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Operation status to log.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperatingSystem": {
        "description": "Operating system type (Windows or Linux).",
        "enum": [
          "None",
          "Windows",
          "Linux"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "OperatingSystem"
        }
      },
      "OsDiskImage": {
        "description": "OS disk image.",
        "properties": {
          "operatingSystem": {
            "$ref": "#/components/schemas/OperatingSystem",
            "description": "OS operating system type.",
            "readOnly": true
          },
          "sourceBlobSasUri": {
            "description": "SAS key for source blob.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Product": {
        "allOf": [
          {
            "$ref": "AzureStack.json#/definitions/Resource"
          }
        ],
        "description": "Product information.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ProductNestedProperties",
            "description": "Properties of the product resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ProductLink": {
        "description": "Link with additional information about a product.",
        "properties": {
          "displayName": {
            "description": "The description of the link.",
            "type": "string"
          },
          "uri": {
            "description": "The URI corresponding to the link.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductList": {
        "description": "Pageable list of products.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of products.",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProductLog": {
        "description": "Product action log.",
        "properties": {
          "details": {
            "description": "Operation error details.",
            "readOnly": true,
            "type": "string"
          },
          "endDate": {
            "description": "Operation end datetime.",
            "readOnly": true,
            "type": "string"
          },
          "error": {
            "description": "Operation error data.",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Log ID.",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "Logged operation.",
            "readOnly": true,
            "type": "string"
          },
          "productId": {
            "description": "Logged product ID.",
            "readOnly": true,
            "type": "string"
          },
          "registrationName": {
            "description": "Logged registration name.",
            "readOnly": true,
            "type": "string"
          },
          "resourceGroupName": {
            "description": "Logged resource group name.",
            "readOnly": true,
            "type": "string"
          },
          "startDate": {
            "description": "Operation start datetime.",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Operation status.",
            "readOnly": true,
            "type": "string"
          },
          "subscriptionId": {
            "description": "Logged subscription ID.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductNestedProperties": {
        "description": "Properties portion of the product resource.",
        "properties": {
          "billingPartNumber": {
            "description": "The part number used for billing purposes.",
            "type": "string"
          },
          "compatibility": {
            "$ref": "#/components/schemas/Compatibility",
            "description": "Product compatibility with current device."
          },
          "description": {
            "description": "The description of the product.",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the product.",
            "type": "string"
          },
          "galleryItemIdentity": {
            "description": "The identifier of the gallery item corresponding to the product.",
            "type": "string"
          },
          "iconUris": {
            "$ref": "#/components/schemas/IconUris",
            "description": "Additional links available for this product."
          },
          "legalTerms": {
            "description": "The legal terms.",
            "type": "string"
          },
          "links": {
            "description": "Additional links available for this product.",
            "items": {
              "$ref": "#/components/schemas/ProductLink"
            },
            "type": "array",
            "x-ms-identifiers": [
              "uri"
            ]
          },
          "offer": {
            "description": "The offer representing the product.",
            "type": "string"
          },
          "offerVersion": {
            "description": "The version of the product offer.",
            "type": "string"
          },
          "payloadLength": {
            "description": "The length of product content.",
            "format": "int64",
            "type": "integer"
          },
          "privacyPolicy": {
            "description": "The privacy policy.",
            "type": "string"
          },
          "productKind": {
            "description": "The kind of the product (virtualMachine or virtualMachineExtension)",
            "type": "string"
          },
          "productProperties": {
            "$ref": "#/components/schemas/ProductProperties",
            "description": "Additional properties for the product."
          },
          "publisherDisplayName": {
            "description": "The user-friendly name of the product publisher.",
            "type": "string"
          },
          "publisherIdentifier": {
            "description": "Publisher identifier.",
            "type": "string"
          },
          "sku": {
            "description": "The product SKU.",
            "type": "string"
          },
          "vmExtensionType": {
            "description": "The type of the Virtual Machine Extension.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductProperties": {
        "description": "Additional properties of the product",
        "properties": {
          "version": {
            "description": "The version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Uri": {
        "description": "The URI.",
        "properties": {
          "uri": {
            "description": "The URI.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "VirtualMachineExtensionProductProperties": {
        "description": "Product information.",
        "properties": {
          "computeRole": {
            "$ref": "#/components/schemas/ComputeRole",
            "description": "Specifies kind of compute role included in the package.",
            "readOnly": true
          },
          "isSystemExtension": {
            "description": "Specifies if product is a Virtual Machine Extension.",
            "readOnly": true,
            "type": "boolean"
          },
          "sourceBlob": {
            "$ref": "#/components/schemas/Uri",
            "description": "Specifies a download location where content can be downloaded from.",
            "readOnly": true,
            "x-ms-client-flatten": true
          },
          "supportMultipleExtensions": {
            "description": "Indicates if specified product supports multiple extensions.",
            "readOnly": true,
            "type": "boolean"
          },
          "version": {
            "description": "Specifies product version.",
            "readOnly": true,
            "type": "string"
          },
          "vmOsType": {
            "$ref": "#/components/schemas/OperatingSystem",
            "description": "Specifies operating system used by the product.",
            "readOnly": true
          },
          "vmScaleSetEnabled": {
            "description": "Indicates if virtual machine Scale Set is enabled in the specified product.",
            "readOnly": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "VirtualMachineProductProperties": {
        "description": "Product information.",
        "properties": {
          "dataDiskImages": {
            "description": "List of attached data disks.",
            "items": {
              "$ref": "#/components/schemas/DataDiskImage"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "lun"
            ]
          },
          "osDiskImage": {
            "$ref": "#/components/schemas/OsDiskImage",
            "description": "OS disk image used by product.",
            "readOnly": true
          },
          "version": {
            "description": "Specifies product version.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}