openapi: 3.0.0
info:
  description: Public IP Address admin endpoints and objects.
  title: NetworkAdminManagementClient
  version: '2015-06-15'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminPublicIpAddresses':
    get:
      parameters:
        - $ref: Network.json#/components/parameters/SubscriptionIdParameter
        - $ref: Network.json#/components/parameters/ApiVersionParameter
        - $ref: Network.json#/components/parameters/FilterParameter
        - $ref: Network.json#/components/parameters/OrderByParameter
        - $ref: Network.json#/components/parameters/TopParameter
        - $ref: Network.json#/components/parameters/SkipParameter
        - $ref: Network.json#/components/parameters/InlineCountParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIpAddressList'
          description: OK
      tags:
        - PublicIpAddresses
      description: List of public IP addresses.
      operationId: PublicIPAddresses_List
      x-ms-examples:
        List of public IP addresses:
          $ref: ./examples/PublicIpAddresses/List.json
      x-ms-odata: '#/components/schemas/PublicIpAddress'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    PublicIpAddressParameter:
      description: Public IP address parameter.
      in: path
      name: publicIpAddress
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    PublicIPAddressProperties:
      allOf:
        - $ref: Network.json#/definitions/ProvisionedResource
        - $ref: Network.json#/definitions/TenantResource
      description: Properties of a public IP Address.
      properties:
        allocationMethod:
          description: The allocation method.
          enum:
            - Dynamic
            - Static
          type: string
          x-ms-enum:
            modelAsString: true
            name: AllocationMethodType
        ipAddress:
          description: The IP address.
          type: string
        ipPool:
          description: The IP pool.
          type: string
      type: object
    PublicIpAddress:
      allOf:
        - $ref: Network.json#/definitions/Resource
      description: This resource represents an IP Address.
      properties:
        properties:
          $ref: '#/components/schemas/PublicIPAddressProperties'
          description: Properties of an IP Address.
          x-ms-client-flatten: true
      type: object
    PublicIpAddressList:
      description: Pageable list of public ip addresses.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of public ip addresses for this page.
          items:
            $ref: '#/components/schemas/PublicIpAddress'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

