{
  "openapi": "3.0.0",
  "info": {
    "description": "Storage operation results.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/StorageOperationResults.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageOperationResults": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageOperationResultList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "StorageOperationResults"
        ],
        "description": "Returns a list of all storage operation results at a location.",
        "operationId": "StorageOperationResults_List",
        "x-ms-examples": {
          "Returns a list of all storage operation results at a location.": {
            "$ref": "./examples/StorageOperationResult/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/StorageOperationResult",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageOperationResults/{operation}": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/OperationParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageOperationResult"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "StorageOperationResults"
        ],
        "description": "Returns the status of a storage operation.",
        "operationId": "StorageOperationResults_Get",
        "x-ms-examples": {
          "Returns the status of the operation.": {
            "$ref": "./examples/StorageOperationResult/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OperationParameter": {
        "description": "Operation identifier.",
        "in": "path",
        "name": "operation",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "StorageOperationResult": {
        "allOf": [
          {
            "$ref": "Fabric.json#/definitions/Resource"
          }
        ],
        "description": "Storage operation result description.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/StorageOperationResultModel",
            "description": "Storage operation result properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "StorageOperationResultList": {
        "description": "Pageable list of storage operation results.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of storage operation results.",
            "items": {
              "$ref": "#/components/schemas/StorageOperationResult"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StorageOperationResultModel": {
        "description": "Storage operation result properties.",
        "properties": {
          "instances": {
            "description": "List of operation result instances.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "Success or failure of operation.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}