openapi: 3.0.0
info:
  description: Scale unit operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaleUnitList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - ScaleUnits
      description: Returns a list of all scale units at a location.
      operationId: ScaleUnits_List
      x-ms-examples:
        Returns a list of all scale units at a location.:
          $ref: ./examples/ScaleUnit/List.json
      x-ms-odata: '#/components/schemas/ScaleUnit'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/ScaleUnitParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaleUnit'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - ScaleUnits
      description: Returns the requested scale unit.
      operationId: ScaleUnits_Get
      x-ms-examples:
        Returns the requested scale unit:
          $ref: ./examples/ScaleUnit/Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/createFromJson':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/ScaleUnitParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - ScaleUnits
      description: Add a new scale unit.
      operationId: ScaleUnits_CreateFromJson
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFromJsonScaleUnitParametersList'
        description: A list of input data that allows for creating the new scale unit.
        required: true
      x-ms-examples:
        Add a new scale unit.:
          $ref: ./examples/ScaleUnit/CreateFromJson.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/scaleOut':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/ScaleUnitParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - ScaleUnits
      description: Scales out a scale unit.
      operationId: ScaleUnits_ScaleOut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScaleOutScaleUnitParametersList'
        description: A list of input data that allows for adding a set of scale unit nodes.
        required: true
      x-ms-examples:
        Scales out a scale unit.:
          $ref: ./examples/ScaleUnit/ScaleOut.json
      x-ms-long-running-operation: true
components:
  parameters:
    ScaleUnitParameter:
      description: Name of the scale units.
      in: path
      name: scaleUnit
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    CreateFromJsonScaleUnitParametersList:
      description: A list of input data that allows for creating the new scale unit.
      properties:
        clusterName:
          description: Cluster name for the new scale unit.
          type: string
        infrastructureNetwork:
          $ref: '#/components/schemas/NetworkDefinitionParameter'
          description: >-
            The information associated with the infrastructure network that will
            be subdivided into subnets.
        netQosPriority:
          description: The network QOS priority setting.
          format: int32
          type: integer
        physicalNodes:
          description: List of nodes in the scale unit.
          items:
            $ref: '#/components/schemas/DeploymentJsonPhysicalNodeParameters'
          type: array
        softwareBgpAsn:
          description: The software ASN for the cluster's rack.
          type: string
        storageNetwork:
          $ref: '#/components/schemas/NetworkDefinitionParameter'
          description: >-
            The information associated with the storage network that will be
            subdivided into subnets.
        torSwitchBgpAsn:
          description: The ASN for the cluster's rack TOR.
          type: string
        torSwitchBgpPeerIp:
          description: The list of IP addresses used for TOR communication.
          items:
            type: string
          type: array
      type: object
    DeploymentJsonPhysicalNodeParameters:
      description: >-
        Description of a bare metal node used for scale unit scale out
        operations.
      properties:
        bmcIpAddress:
          description: BMC address of the physical machine.
          type: string
          x-ms-client-name: BMCIPAddress
        name:
          description: Computer name of the physical machine.
          type: string
      type: object
    NetworkDefinitionParameter:
      description: A definition of the network received from a new cluster operation.
      properties:
        subnet:
          description: The subnet IP mask in the example format 10.0.0.0/25.
          items:
            type: string
          type: array
        vlanId:
          description: The Vlan ID of the subnet.
          items:
            type: string
          type: array
      type: object
    ScaleOutScaleUnitParameters:
      description: Input data that allows for adding a scale unit node.
      properties:
        bmcIpv4Address:
          description: BMC address of the physical machine.
          type: string
          x-ms-client-name: BMCIPv4Address
        computerName:
          description: Computer name of the physical machine.
          type: string
      type: object
    ScaleOutScaleUnitParametersList:
      description: A list of input data that allows for adding a set of scale unit nodes.
      properties:
        awaitStorageConvergence:
          description: >-
            Flag indicates if the operation should wait for storage to converge
            before returning.
          type: boolean
        nodeList:
          description: List of nodes in the scale unit.
          items:
            $ref: '#/components/schemas/ScaleOutScaleUnitParameters'
          type: array
      type: object
    ScaleUnit:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        Represents a cluster. Generally, the cluster will be a collection of
        hosts backed by failover cluster manager.
      properties:
        properties:
          $ref: '#/components/schemas/ScaleUnitModel'
          description: Properties of a scale unit.
          x-ms-client-flatten: true
      type: object
    ScaleUnitCapacity:
      description: The capacity information for a physical machine.
      properties:
        cores:
          description: The number of CPU cores for the physical machine.
          format: int64
          type: integer
        memoryGB:
          description: The memory for the physical machine.
          format: float
          type: number
      type: object
    ScaleUnitList:
      description: A pageable list of scale units.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of scale units.
          items:
            $ref: '#/components/schemas/ScaleUnit'
          type: array
      type: object
    ScaleUnitModel:
      description: Properties of a scale unit.
      properties:
        isMultiNode:
          description: Denotes if more than one node in cluster.
          type: boolean
        logicalFaultDomain:
          description: Fault domain name of the cluster.
          format: int32
          type: integer
        model:
          description: Model of the servers in the cluster.
          type: string
        nodes:
          description: List of nodes in the server.
          items:
            type: string
          type: array
        scaleUnitType:
          description: Type of cluster.
          enum:
            - Unknown
            - ComputeOnly
            - StorageOnly
            - HyperConverged
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScaleUnitType
        state:
          description: Current state of the cluster.
          enum:
            - Unknown
            - Creating
            - Running
            - Upgrading
            - Deleting
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScaleUnitState
        totalCapacity:
          $ref: '#/components/schemas/ScaleUnitCapacity'
          description: Capacity information for the cluster.
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

