{
  "openapi": "3.0.0",
  "info": {
    "title": "CostManagementClient",
    "version": "2018-05-31",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/costmanagement.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Query"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists the usage data for billing account.",
        "operationId": "QueryBillingAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportConfigDefinition"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
          "required": true
        },
        "x-ms-examples": {
          "BillingAccountQuery": {
            "$ref": "./examples/BillingAccountQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/billingAccountIdParameter"
          },
          {
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DimensionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dimensions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists the dimensions by billingAccount Id.",
        "operationId": "BillingAccountDimensions_List",
        "x-ms-examples": {
          "BillingAccountDimensionsList": {
            "$ref": "./examples/BillingAccountDimensionsList.json"
          },
          "BillingAccountDimensionsListExpandAndTop": {
            "$ref": "./examples/BillingAccountDimensionsListExpandAndTop.json"
          },
          "BillingAccountDimensionsListWithFilter": {
            "$ref": "./examples/BillingAccountDimensionsListWithFilter.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Dimension",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.CostManagement/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available consumption REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Query"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists the usage data for subscriptionId.",
        "operationId": "QuerySubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportConfigDefinition"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
          "required": true
        },
        "x-ms-examples": {
          "SubscriptionQuery": {
            "$ref": "./examples/SubscriptionQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DimensionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dimensions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists the dimensions by subscription Id.",
        "operationId": "SubscriptionDimensions_List",
        "x-ms-examples": {
          "SubscriptionDimensionsList": {
            "$ref": "./examples/SubscriptionDimensionsList.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Dimension",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfigListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists all report configs for a subscription.",
        "operationId": "ReportConfig_List",
        "x-ms-examples": {
          "ReportConfigList": {
            "$ref": "./examples/ReportConfigList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/reportConfigNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "The operation to delete a report.",
        "operationId": "ReportConfig_Delete",
        "x-ms-examples": {
          "DeleteReport": {
            "$ref": "./examples/ReportConfigDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/reportConfigNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfig"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Gets the report config for a subscription by report config name.",
        "operationId": "ReportConfig_Get",
        "x-ms-examples": {
          "Report": {
            "$ref": "./examples/ReportConfig.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/reportConfigNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfig"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfig"
                }
              }
            },
            "description": "Created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "The operation to create or update a report config. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "operationId": "ReportConfig_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportConfig"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
          "required": true
        },
        "x-ms-examples": {
          "CreateOrUpdateReport": {
            "$ref": "./examples/ReportConfigCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DimensionsListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dimensions"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists the dimensions by resource group Id.",
        "operationId": "ResourceGroupDimensions_List",
        "x-ms-examples": {
          "ResourceGroupDimensionsList": {
            "$ref": "./examples/ResourceGroupDimensionsList.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Dimension",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfigListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists all report configs for a resource group under a subscription.",
        "operationId": "ReportConfig_ListByResourceGroupName",
        "x-ms-examples": {
          "ReportConfigList": {
            "$ref": "./examples/ReportConfigList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/reportConfigNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "The operation to delete a report config.",
        "operationId": "ReportConfig_DeleteByResourceGroupName",
        "x-ms-examples": {
          "DeleteReport": {
            "$ref": "./examples/ReportConfigDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/reportConfigNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfig"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Gets the report config for a resource group under a subscription by report config name.",
        "operationId": "ReportConfig_GetByResourceGroupName",
        "x-ms-examples": {
          "ReportConfig": {
            "$ref": "./examples/ReportConfig.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/reportConfigNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfig"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportConfig"
                }
              }
            },
            "description": "Created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Reports"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "The operation to create or update a report config. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "operationId": "ReportConfig_CreateOrUpdateByResourceGroupName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportConfig"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
          "required": true
        },
        "x-ms-examples": {
          "CreateOrUpdateReport": {
            "$ref": "./examples/ReportConfigCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Query"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "description": "Lists the usage data for subscriptionId and resource group.",
        "operationId": "QueryResourceGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportConfigDefinition"
              }
            }
          },
          "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
          "required": true
        },
        "x-ms-examples": {
          "ResourceGroupQuery": {
            "$ref": "./examples/ResourceGroupQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "Version of the API to be used with the client request. The current version is 2018-05-31.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "billingAccountIdParameter": {
        "description": "BillingAccount ID",
        "in": "path",
        "name": "billingAccountId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "reportConfigNameParameter": {
        "description": "Report Config Name.",
        "in": "path",
        "name": "reportConfigName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceGroupNameParameter": {
        "description": "Azure Resource Group Name.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "Azure Subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ReportConfig": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReportConfig"
            }
          }
        },
        "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
        "required": true
      },
      "ReportConfigDefinition": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReportConfigDefinition"
            }
          }
        },
        "description": "Parameters supplied to the CreateOrUpdate Report Config operation.",
        "required": true
      }
    },
    "schemas": {
      "Dimension": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DimensionProperties",
            "title": "Dimension properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DimensionProperties": {
        "properties": {
          "category": {
            "type": "string"
          },
          "data": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "nextLink": {
            "type": "string"
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "usageEnd": {
            "format": "date-time",
            "type": "string"
          },
          "usageStart": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DimensionsListResult": {
        "description": "Result of listing dimensions. It contains a list of available dimensions.",
        "properties": {
          "value": {
            "description": "The list of dimensions.",
            "items": {
              "$ref": "#/components/schemas/Dimension"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "The details of the error."
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "A Cost management REST API operation.",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.CostManagement.",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: Dimensions, Query.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of cost management operations supported by the Microsoft.CostManagement resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "Query": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/QueryProperties",
            "title": "Query properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "QueryColumn": {
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "QueryProperties": {
        "properties": {
          "columns": {
            "description": "Array of columns",
            "items": {
              "$ref": "#/components/schemas/QueryColumn"
            },
            "type": "array"
          },
          "nextLink": {
            "type": "string"
          },
          "rows": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QueryResult": {
        "description": "Result of query. It contains all columns listed under groupings and aggregation.",
        "properties": {
          "value": {
            "description": "The list of usage data.",
            "items": {
              "$ref": "#/components/schemas/Query"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "A report config resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ReportConfigProperties",
            "title": "Report config properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ReportConfigAggregation": {
        "description": "The aggregation expression to be used in the report.",
        "properties": {
          "function": {
            "description": "The name of the aggregation function to use.",
            "enum": [
              "Sum"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "FunctionType"
            }
          },
          "name": {
            "description": "The name of the column to aggregate.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "function"
        ],
        "type": "object"
      },
      "ReportConfigColumnType": {
        "description": "The type of the column in the report.",
        "enum": [
          "Tag",
          "Dimension"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ReportConfigColumnType"
        }
      },
      "ReportConfigComparisonExpression": {
        "description": "The comparison expression to be used in the report.",
        "properties": {
          "name": {
            "description": "The name of the column to use in comparison.",
            "type": "string"
          },
          "operator": {
            "description": "The operator to use for comparison.",
            "enum": [
              "In"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "OperatorType"
            }
          },
          "values": {
            "description": "Array of values to use for comparison",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "type": "array"
          }
        },
        "required": [
          "name",
          "operator",
          "values"
        ],
        "type": "object"
      },
      "ReportConfigDataset": {
        "description": "The definition of data present in the report.",
        "properties": {
          "aggregation": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ReportConfigAggregation",
              "type": "object"
            },
            "description": "Dictionary of aggregation expression to use in the report. The key of each item in the dictionary is the alias for the aggregated column. Report can have up to 2 aggregation clauses.",
            "maxItems": 2,
            "type": "object"
          },
          "configuration": {
            "$ref": "#/components/schemas/ReportConfigDatasetConfiguration",
            "description": "Has configuration information for the data in the report. The configuration will be ignored if aggregation and grouping are provided."
          },
          "filter": {
            "$ref": "#/components/schemas/ReportConfigFilter",
            "description": "Has filter expression to use in the report.",
            "type": "object"
          },
          "granularity": {
            "description": "The granularity of rows in the report.",
            "enum": [
              "Daily"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "GranularityType"
            }
          },
          "grouping": {
            "description": "Array of group by expression to use in the report. Report can have up to 2 group by clauses.",
            "items": {
              "$ref": "#/components/schemas/ReportConfigGrouping"
            },
            "maxItems": 2,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportConfigDatasetConfiguration": {
        "description": "The configuration of dataset in the report.",
        "properties": {
          "columns": {
            "description": "Array of column names to be included in the report. Any valid report column name is allowed. If not provided, then report includes all columns.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportConfigDefinition": {
        "description": "The definition of a report config.",
        "properties": {
          "dataset": {
            "$ref": "#/components/schemas/ReportConfigDataset",
            "description": "Has definition for data in this report config."
          },
          "timePeriod": {
            "$ref": "#/components/schemas/ReportConfigTimePeriod",
            "description": "Has time period for pulling data for the report."
          },
          "timeframe": {
            "description": "The time frame for pulling data for the report. If custom, then a specific time period must be provided.",
            "enum": [
              "WeekToDate",
              "MonthToDate",
              "YearToDate",
              "Custom"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "TimeframeType"
            }
          },
          "type": {
            "description": "The type of the report.",
            "enum": [
              "Usage"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ReportType"
            }
          }
        },
        "required": [
          "type",
          "timeframe"
        ],
        "type": "object"
      },
      "ReportConfigDeliveryDestination": {
        "description": "The destination information for the delivery of the report.",
        "properties": {
          "container": {
            "description": "The name of the container where reports will be uploaded.",
            "type": "string"
          },
          "resourceId": {
            "description": "The resource id of the storage account where reports will be delivered.",
            "type": "string"
          },
          "rootFolderPath": {
            "description": "The name of the directory where reports will be uploaded.",
            "type": "string"
          }
        },
        "required": [
          "resourceId",
          "container"
        ],
        "type": "object"
      },
      "ReportConfigDeliveryInfo": {
        "description": "The delivery information associated with a report config.",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/ReportConfigDeliveryDestination",
            "description": "Has destination for the report being delivered."
          }
        },
        "required": [
          "destination"
        ],
        "type": "object"
      },
      "ReportConfigFilter": {
        "description": "The filter expression to be used in the report.",
        "properties": {
          "and": {
            "description": "The logical \"AND\" expression. Must have at least 2 items.",
            "items": {
              "$ref": "#/components/schemas/ReportConfigFilter"
            },
            "minItems": 2,
            "type": "array"
          },
          "dimension": {
            "$ref": "#/components/schemas/ReportConfigComparisonExpression",
            "description": "Has comparison expression for a dimension"
          },
          "not": {
            "$ref": "#/components/schemas/ReportConfigFilter",
            "description": "The logical \"NOT\" expression."
          },
          "or": {
            "description": "The logical \"OR\" expression. Must have at least 2 items.",
            "items": {
              "$ref": "#/components/schemas/ReportConfigFilter"
            },
            "minItems": 2,
            "type": "array"
          },
          "tag": {
            "$ref": "#/components/schemas/ReportConfigComparisonExpression",
            "description": "Has comparison expression for a tag"
          }
        },
        "type": "object"
      },
      "ReportConfigGrouping": {
        "description": "The group by expression to be used in the report.",
        "properties": {
          "columnType": {
            "$ref": "#/components/schemas/ReportConfigColumnType",
            "description": "Has type of the column to group."
          },
          "name": {
            "description": "The name of the column to group.",
            "type": "string"
          }
        },
        "required": [
          "columnType",
          "name"
        ],
        "type": "object"
      },
      "ReportConfigListResult": {
        "description": "Result of listing report configs. It contains a list of available report configurations in the scope provided.",
        "properties": {
          "value": {
            "description": "The list of report configs.",
            "items": {
              "$ref": "#/components/schemas/ReportConfig"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportConfigProperties": {
        "description": "The properties of the report config.",
        "properties": {
          "definition": {
            "$ref": "#/components/schemas/ReportConfigDefinition",
            "description": "Has definition for the report config."
          },
          "deliveryInfo": {
            "$ref": "#/components/schemas/ReportConfigDeliveryInfo",
            "description": "Has delivery information for the report config."
          },
          "format": {
            "description": "The format of the report being delivered.",
            "enum": [
              "Csv"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "FormatType"
            }
          },
          "schedule": {
            "$ref": "#/components/schemas/ReportConfigSchedule",
            "description": "Has schedule information for the report config."
          }
        },
        "required": [
          "deliveryInfo",
          "definition"
        ],
        "type": "object"
      },
      "ReportConfigRecurrencePeriod": {
        "description": "The start and end date for recurrence schedule.",
        "properties": {
          "from": {
            "description": "The start date of recurrence.",
            "format": "date-time",
            "type": "string"
          },
          "to": {
            "description": "The end date of recurrence. If not provided, we default this to 10 years from the start date.",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "from"
        ],
        "type": "object"
      },
      "ReportConfigSchedule": {
        "description": "The schedule associated with a report config.",
        "properties": {
          "recurrence": {
            "description": "The schedule recurrence.",
            "enum": [
              "Daily",
              "Weekly",
              "Monthly",
              "Annually"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "RecurrenceType"
            }
          },
          "recurrencePeriod": {
            "$ref": "#/components/schemas/ReportConfigRecurrencePeriod",
            "description": "Has start and end date of the recurrence. The start date must be in future. If present, the end date must be greater than start date."
          },
          "status": {
            "description": "The status of the schedule. Whether active or not. If inactive, the report's scheduled execution is paused.",
            "enum": [
              "Active",
              "Inactive"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StatusType"
            }
          }
        },
        "required": [
          "recurrence",
          "recurrencePeriod"
        ],
        "type": "object"
      },
      "ReportConfigTimePeriod": {
        "description": "The start and end date for pulling data for the report.",
        "properties": {
          "from": {
            "description": "The start date to pull data from.",
            "format": "date-time",
            "type": "string"
          },
          "to": {
            "description": "The end date to pull data to.",
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "from",
          "to"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "The Resource model definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "readOnly": true,
            "type": "object"
          },
          "id": {
            "description": "Resource Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}