openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations on Identity Provider entity
    associated with your Azure API Management deployment. Setting up an external
    Identity Provider for authentication can help you manage the developer
    portal logins using the OAuth2 flow.
  title: ApiManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/IdentityProviderList
          description: Lists a collection of Identity Providers.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - IdentityProvider
      externalDocs:
        url: >-
          https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-authorize-developer-accounts-using-azure-active-directory
      description: >-
        Lists a collection of Identity Provider configured in the specified
        service instance.
      operationId: IdentityProvider_ListByService
      x-ms-examples:
        ApiManagementListIdentityProviders:
          $ref: ./examples/ApiManagementListIdentityProviders.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders/{identityProviderName}':
    delete:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: >-
            ./apimanagement.json#/components/parameters/IdentityProviderNameParameter
        - $ref: ./apimanagement.json#/components/parameters/IfMatchRequiredParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The identity provider configuration was successfully deleted.
        '204':
          description: The identity provider configuration was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - IdentityProvider
      description: Deletes the specified identity provider configuration.
      operationId: IdentityProvider_Delete
      x-ms-examples:
        ApiManagementDeleteIdentityProvider:
          $ref: ./examples/ApiManagementDeleteIdentityProvider.json
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: >-
            ./apimanagement.json#/components/parameters/IdentityProviderNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/IdentityProviderContract
          description: >-
            The response body contains the specified IdentityProvider entity
            configuration details.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - IdentityProvider
      description: >-
        Gets the configuration details of the identity Provider configured in
        specified service instance.
      operationId: IdentityProvider_Get
      x-ms-examples:
        ApiManagementGetIdentityProvider:
          $ref: ./examples/ApiManagementGetIdentityProvider.json
    head:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: >-
            ./apimanagement.json#/components/parameters/IdentityProviderNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Specified identity provider entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - IdentityProvider
      description: >-
        Gets the entity state (Etag) version of the identityProvider specified
        by its identifier.
      operationId: IdentityProvider_GetEntityTag
      x-ms-examples:
        ApiManagementHeadIdentityProvider:
          $ref: ./examples/ApiManagementHeadIdentityProvider.json
    patch:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: >-
            ./apimanagement.json#/components/parameters/IdentityProviderNameParameter
        - $ref: ./apimanagement.json#/components/parameters/IfMatchRequiredParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: >-
            The existing identity provider configuration was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - IdentityProvider
      description: Updates an existing IdentityProvider configuration.
      operationId: IdentityProvider_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/IdentityProviderUpdateParameters
        description: Update parameters.
        required: true
      x-ms-examples:
        ApiManagementUpdateIdentityProvider:
          $ref: ./examples/ApiManagementUpdateIdentityProvider.json
    put:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: >-
            ./apimanagement.json#/components/parameters/IdentityProviderNameParameter
        - $ref: ./apimanagement.json#/components/parameters/IfMatchOptionalParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/IdentityProviderContract
          description: The existing Identity Provider was successfully updated.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        '201':
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/IdentityProviderContract
          description: IdentityProvider configuration were successfully created.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - IdentityProvider
      description: Creates or Updates the IdentityProvider configuration.
      operationId: IdentityProvider_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/IdentityProviderContract
        description: Create parameters.
        required: true
      x-ms-examples:
        ApiManagementCreateIdentityProvider:
          $ref: ./examples/ApiManagementCreateIdentityProvider.json
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

