openapi: 3.0.0
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/azureasyncoperations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./cluster.json#/definitions/AsyncOperationResult
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Regions
      description: Get the async operation status.
      operationId: Locations_GetAzureAsyncOperationStatus
      x-ms-examples:
        Gets the azure async operation status.:
          $ref: ./examples/HDI_Locations_GetAsyncOperationStatus.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/billingSpecs':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingResponseListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Regions
      description: Lists the billingSpecs for the specified subscription and location.
      operationId: Locations_ListBillingSpecs
      x-ms-examples:
        Get the subscription billingSpecs for the specified location:
          $ref: ./examples/HDI_Locations_ListBillingSpecs.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitiesResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Regions
      description: Gets the capabilities for the specified location.
      operationId: Locations_GetCapabilities
      x-ms-examples:
        Get the subscription capabilities for specific location:
          $ref: ./examples/GetHDInsightCapabilities.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityCheckResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Regions
      description: Check the cluster name is available or not.
      operationId: Locations_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityCheckRequestParameters'
        required: true
      x-ms-examples:
        Get the subscription usages for specific location:
          $ref: ./examples/HDI_Locations_CheckClusterNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Regions
      description: Lists the usages for the specified location.
      operationId: Locations_ListUsages
      x-ms-examples:
        Get the subscription usages for specific location:
          $ref: ./examples/GetHDInsightUsages.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/validateCreateRequest':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCreateValidationResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Regions
      description: Validate the cluster create request spec is valid or not.
      operationId: Locations_ValidateClusterCreateRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCreateRequestValidationParameters'
        required: true
      x-ms-examples:
        Get the subscription usages for specific location:
          $ref: ./examples/HDI_Locations_ValidateClusterCreateRequest.json
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    LocationParameter:
      description: The Azure location (region) for which to make the request.
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    OperationIdParameter:
      description: The long running operation id.
      in: path
      name: operationId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        The subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    ValidationLevelParameter:
      description: The validation level.
      in: query
      name: validation-level
      required: true
      schema:
        default: -1
        format: int32
        type: integer
      x-ms-parameter-location: method
  schemas:
    AaddsResourceDetails:
      description: The Azure active directory domain service resource details.
      properties:
        domainName:
          description: The Azure active directory domain service name.
          type: string
        initialSyncComplete:
          description: This indicates whether initial sync complete or not.
          type: boolean
        ldapsEnabled:
          description: This indicates whether enable ldaps or not.
          type: boolean
        ldapsPublicCertificateInBase64:
          description: The base 64 format string of public ldap certificate.
          type: string
        resourceId:
          description: The resource id of azure active directory domain service.
          type: string
        subnetId:
          description: The subnet resource id.
          type: string
        tenantId:
          description: The tenant id of azure active directory domain service .
          type: string
      type: object
    BillingMeters:
      description: The billing meters.
      properties:
        meter:
          description: The HDInsight meter guid.
          type: string
        meterParameter:
          description: The virtual machine sizes.
          type: string
        unit:
          description: 'The unit of meter, VMHours or CoreHours.'
          type: string
      type: object
    BillingResources:
      description: The billing resources.
      properties:
        billingMeters:
          description: The billing meter information.
          items:
            $ref: '#/components/schemas/BillingMeters'
          type: array
        diskBillingMeters:
          description: The managed disk billing information.
          items:
            $ref: '#/components/schemas/DiskBillingMeters'
          type: array
        region:
          description: The region or location.
          type: string
      type: object
    BillingResponseListResult:
      description: >-
        The response for the operation to get regional billingSpecs for a
        subscription.
      properties:
        billingResources:
          description: The billing and managed disk billing resources for a region.
          items:
            $ref: '#/components/schemas/BillingResources'
          type: array
        vmSizeFilters:
          description: >-
            The virtual machine filtering mode. Effectively this can enabling or
            disabling the virtual machine sizes in a particular set.
          items:
            $ref: '#/components/schemas/VmSizeCompatibilityFilterV2'
          type: array
        vmSizeProperties:
          description: The vm size properties.
          items:
            $ref: '#/components/schemas/VmSizeProperty'
          readOnly: true
          type: array
        vmSizes:
          description: The virtual machine sizes to include or exclude.
          items:
            type: string
          type: array
        vmSizesWithEncryptionAtHost:
          description: The vm sizes which enable encryption at host.
          items:
            type: string
          type: array
      type: object
    CapabilitiesResult:
      description: The Get Capabilities operation response.
      properties:
        features:
          description: The capability features.
          items:
            type: string
          type: array
        quota:
          $ref: '#/components/schemas/QuotaCapability'
          description: The quota capability.
        regions:
          additionalProperties:
            $ref: '#/components/schemas/RegionsCapability'
          description: The virtual machine size compatibility features.
          type: object
        versions:
          additionalProperties:
            $ref: '#/components/schemas/VersionsCapability'
          description: The version capability.
          type: object
        vmsize_filters:
          description: The virtual machine size compatibility filters.
          items:
            $ref: '#/components/schemas/VmSizeCompatibilityFilter'
          type: array
        vmsizes:
          additionalProperties:
            $ref: '#/components/schemas/VmSizesCapability'
          description: The virtual machine sizes.
          type: object
      readOnly: true
      type: object
    ClusterCreateRequestValidationParameters:
      allOf:
        - $ref: ./cluster.json#/definitions/ClusterCreateParametersExtended
      description: The cluster create request specification.
      properties:
        fetchAaddsResource:
          description: This indicates whether fetch Aadds resource or not.
          type: boolean
        name:
          description: The cluster name.
          type: string
        tenantId:
          description: The tenant id.
          type: string
        type:
          description: The resource type.
          type: string
      type: object
    ClusterCreateValidationResult:
      description: The response of cluster create request validation.
      properties:
        aaddsResourcesDetails:
          description: The Azure active directory domain service resource details.
          items:
            $ref: '#/components/schemas/AaddsResourceDetails'
          type: array
        estimatedCreationDuration:
          description: The estimated creation duration.
          format: duration
          type: string
        validationErrors:
          description: The validation errors.
          items:
            $ref: '#/components/schemas/ValidationErrorInfo'
          type: array
        validationWarnings:
          description: The validation warnings.
          items:
            $ref: '#/components/schemas/ValidationErrorInfo'
          type: array
      type: object
    DiskBillingMeters:
      description: The disk billing meters.
      properties:
        diskRpMeter:
          description: The managed disk meter guid.
          type: string
        sku:
          description: 'The managed disk billing sku, P30 or S30.'
          type: string
        tier:
          description: 'The managed disk billing tier, Standard or Premium.'
          enum:
            - Standard
            - Premium
          type: string
          x-ms-enum:
            modelAsString: false
            name: Tier
      type: object
    LocalizedName:
      description: The details about the localizable name of a type of usage.
      properties:
        localizedValue:
          description: The localized name of the used resource.
          type: string
        value:
          description: The name of the used resource.
          type: string
      readOnly: true
      type: object
    NameAvailabilityCheckRequestParameters:
      description: The request spec of checking name availability.
      properties:
        name:
          description: The resource name.
          type: string
        type:
          description: The resource type
          type: string
      type: object
    NameAvailabilityCheckResult:
      description: The response spec of checking name availability.
      properties:
        message:
          description: The related message.
          readOnly: true
          type: string
        nameAvailable:
          description: This indicates whether the name is available.
          type: boolean
        reason:
          description: The reason of the result.
          readOnly: true
          type: string
      type: object
    QuotaCapability:
      description: The regional quota capability.
      properties:
        cores_used:
          description: The number of cores used in the subscription.
          format: int64
          type: integer
        max_cores_allowed:
          description: The number of cores that the subscription allowed.
          format: int64
          type: integer
        regionalQuotas:
          description: The list of region quota capabilities.
          items:
            $ref: '#/components/schemas/RegionalQuotaCapability'
          type: array
      readOnly: true
      type: object
    RegionalQuotaCapability:
      description: The regional quota capacity.
      properties:
        cores_available:
          description: The number of cores available in the region.
          format: int64
          type: integer
        cores_used:
          description: The number of cores used in the region.
          format: int64
          type: integer
        region_name:
          description: The region name.
          type: string
      readOnly: true
      type: object
    RegionsCapability:
      description: The regions capability.
      properties:
        available:
          description: The list of region capabilities.
          items:
            type: string
          type: array
      readOnly: true
      type: object
    Usage:
      description: The details about the usage of a particular limited resource.
      properties:
        currentValue:
          description: The current usage.
          format: int64
          type: integer
        limit:
          description: The maximum allowed usage.
          format: int64
          type: integer
        name:
          $ref: '#/components/schemas/LocalizedName'
          description: The details about the localizable name of the used resource.
        unit:
          description: The type of measurement for usage.
          type: string
      readOnly: true
      type: object
    UsagesListResult:
      description: >-
        The response for the operation to get regional usages for a
        subscription.
      properties:
        value:
          description: The list of usages.
          items:
            $ref: '#/components/schemas/Usage'
          type: array
      readOnly: true
      type: object
    ValidationErrorInfo:
      description: The validation error information.
      properties:
        code:
          description: The error code.
          type: string
        errorResource:
          description: The error resource.
          type: string
        message:
          description: The error message.
          type: string
        messageArguments:
          description: The message arguments
          items:
            type: string
          type: array
      type: object
    VersionSpec:
      description: The version properties.
      properties:
        componentVersions:
          additionalProperties:
            type: string
          description: The component version property.
          type: object
        displayName:
          description: The display name
          type: string
        friendlyName:
          description: The friendly name
          type: string
        isDefault:
          description: Whether or not the version is the default version.
          type: boolean
      readOnly: true
      type: object
    VersionsCapability:
      description: The version capability.
      properties:
        available:
          description: The list of version capabilities.
          items:
            $ref: '#/components/schemas/VersionSpec'
          type: array
      readOnly: true
      type: object
    VmSizeCompatibilityFilter:
      description: The virtual machine type compatibility filter.
      properties:
        ClusterFlavors:
          description: The list of cluster types available.
          items:
            type: string
          type: array
        ClusterVersions:
          description: The list of cluster versions.
          items:
            type: string
          type: array
        ComputeIsolationSupported:
          description: >-
            Whether support compute isolation. 'true' means only for
            ComputeIsolationEnabled, 'false' means only for regular cluster.
          type: string
        ESPApplied:
          description: >-
            Whether apply for ESP cluster. 'true' means only for ESP, 'false'
            means only for non-ESP, null or empty string or others mean for
            both.
          type: string
        FilterMode:
          description: The mode for the filter.
          type: string
        NodeTypes:
          description: The list of node types.
          items:
            type: string
          type: array
        OsType:
          description: The list of OS types.
          items:
            type: string
          type: array
        Regions:
          description: The list of regions.
          items:
            type: string
          type: array
        VMSizes:
          description: The list of virtual machine sizes.
          items:
            type: string
          type: array
      readOnly: true
      type: object
    VmSizeCompatibilityFilterV2:
      description: >-
        This class represent a single filter object that defines a
        multidimensional set. The dimensions of this set are Regions,
        ClusterFlavors, NodeTypes and ClusterVersions. The constraint should be
        defined based on the following: FilterMode (Exclude vs Include), VMSizes
        (the vm sizes in affect of exclusion/inclusion) and the ordering of the
        Filters. Later filters override previous settings if conflicted.
      properties:
        clusterFlavors:
          description: The list of cluster flavors under the effect of the filter.
          items:
            type: string
          type: array
        clusterVersions:
          description: The list of cluster versions affected in Major.Minor format.
          items:
            type: string
          type: array
        filterMode:
          description: >-
            The filtering mode. Effectively this can enabling or disabling the
            VM sizes in a particular set.
          enum:
            - Exclude
            - Include
            - Recommend
            - Default
          type: string
          x-ms-enum:
            modelAsString: true
            name: FilterMode
        nodeTypes:
          description: The list of node types affected by the filter.
          items:
            type: string
          type: array
        osType:
          description: 'The OSType affected, Windows or Linux.'
          items:
            enum:
              - Windows
              - Linux
            type: string
            x-ms-enum:
              modelAsString: false
              name: OSType
          type: array
        regions:
          description: The list of regions under the effect of the filter.
          items:
            type: string
          type: array
        vmSizes:
          description: The list of virtual machine sizes to include or exclude.
          items:
            type: string
          type: array
      type: object
    VmSizeProperty:
      description: The vm size property
      properties:
        cores:
          description: The number of cores that the vm size has.
          format: int32
          type: integer
        dataDiskStorageTier:
          description: The data disk storage tier of the vm size.
          type: string
        label:
          description: The label of the vm size.
          type: string
        maxDataDiskCount:
          description: The max data disk count of the vm size.
          format: int64
          type: integer
        memoryInMb:
          description: The memory whose unit is MB of the vm size.
          format: int64
          type: integer
        name:
          description: The vm size name.
          type: string
        supportedByVirtualMachines:
          description: This indicates this vm size is supported by virtual machines or not
          type: boolean
        supportedByWebWorkerRoles:
          description: The indicates this vm size is supported by web worker roles or not
          type: boolean
        virtualMachineResourceDiskSizeInMb:
          description: >-
            The virtual machine resource disk size whose unit is MB of the vm
            size.
          format: int64
          type: integer
        webWorkerResourceDiskSizeInMb:
          description: The web worker resource disk size whose unit is MB of the vm size.
          format: int64
          type: integer
      type: object
    VmSizesCapability:
      description: The virtual machine sizes capability.
      properties:
        available:
          description: The list of virtual machine size capabilities.
          items:
            type: string
          type: array
      readOnly: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

