openapi: 3.0.0
info:
  description: >-
    A Storage Cache provides scalable caching service for NAS clients, serving
    data from either NFSv3 or Blob at-rest storage (referred to as "Storage
    Targets"). These operations allow you to manage Caches.
  title: Storage Cache Mgmt Client
  version: '2019-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.StorageCache/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOperationListResult'
          description: The list of available Resource Provider operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available Resource Provider operations.
      operationId: Operations_List
      x-ms-examples:
        StorageTargets_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/caches':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachesListResult'
          description: >-
            A list of Cache objects. Note that entity references might replace
            complete Cache objects, as described in
            http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Returns all Caches the user has access to under a subscription.
      operationId: Caches_List
      x-ms-examples:
        Caches_List:
          $ref: ./examples/Caches_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/skus':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSkusResult'
          description: A list of SKU descriptors.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - SKUs
      description: Get the list of StorageCache.Cache SKUs available to this subscription.
      operationId: Skus_List
      x-ms-examples:
        Skus_List:
          $ref: ./examples/Skus_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/usageModels':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageModelsResult'
          description: A list of UsageModel descriptors.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - UsageModels
      description: Get the list of Cache Usage Models available to this subscription.
      operationId: UsageModels_List
      x-ms-examples:
        UsageModels_List:
          $ref: ./examples/UsageModels_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches':
    get:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachesListResult'
          description: >-
            A list of Cache objects. Note that entity references might replace
            complete Cache objects, as described in
            http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Returns all Caches the user has access to under a resource group.
      operationId: Caches_ListByResourceGroup
      x-ms-examples:
        Caches_ListByResourceGroup:
          $ref: ./examples/Caches_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}':
    delete:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Cache deleted.
        '202':
          content:
            application/json:
              schema: {}
          description: >-
            Started the Cache's transition to Deleted state. Poll the Cache to
            monitor.
        '204':
          content:
            application/json:
              schema: {}
          description: Cache deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Schedules a Cache for deletion.
      operationId: Caches_Delete
      x-ms-examples:
        Caches_Delete:
          $ref: ./examples/Caches_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Returns the Cache object corresponding to cacheName.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Returns a Cache.
      operationId: Caches_Get
      x-ms-examples:
        Caches_Get:
          $ref: ./examples/Caches_Get.json
    patch:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Updated the Cache.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Update a Cache instance.
      operationId: Caches_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cache'
        description: >-
          Object containing the user-selectable properties of the Cache. If
          read-only properties are included, they must match the existing values
          of those properties.
      x-ms-examples:
        Caches_Update:
          $ref: ./examples/Caches_Update.json
    put:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: Cache created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cache'
          description: >-
            Cache creation or update has been initiated. Poll the new Cache's
            provisioningState property to monitor creation progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Create or update a Cache.
      operationId: Caches_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cache'
        description: >-
          Object containing the user-selectable properties of the new Cache. If
          read-only properties are included, they must match the existing values
          of those properties.
      x-ms-examples:
        Caches_CreateOrUpdate:
          $ref: ./examples/Caches_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/flush':
    post:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: All cached data has been flushed to the Storage Target(s).
        '202':
          content:
            application/json:
              schema: {}
          description: >-
            Cache has started flushing to its Storage Target(s). Poll the
            Cache's state field to monitor.
        '204':
          content:
            application/json:
              schema: {}
          description: Cache flushed.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: >-
        Tells a Cache to write all dirty data to the Storage Target(s). During
        the flush, clients will see errors returned until the flush is complete.
      operationId: Caches_Flush
      x-ms-examples:
        Caches_Flush:
          $ref: ./examples/Caches_Flush.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/start':
    post:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Cache is Active.
        '202':
          content:
            application/json:
              schema: {}
          description: >-
            Cache has started the transition to Active. Poll the Cache's state
            field to monitor.
        '204':
          content:
            application/json:
              schema: {}
          description: Restarted VMs associated with the cache.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Tells a Stopped state Cache to transition to Active state.
      operationId: Caches_Start
      x-ms-examples:
        Caches_Start:
          $ref: ./examples/Caches_Start.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/stop':
    post:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Cache is stopped.
        '202':
          content:
            application/json:
              schema: {}
          description: >-
            Cache has started the transition to Stopped. Poll the Cache's state
            field to monitor.
        '204':
          content:
            application/json:
              schema: {}
          description: Stopped VMs associated with the cache.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: Tells an Active Cache to transition to Stopped state.
      operationId: Caches_Stop
      x-ms-examples:
        Caches_Stop:
          $ref: ./examples/Caches_Stop.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets':
    get:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTargetsResult'
          description: Returns the list of Storage Targets defined by cacheName.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageTargets
      description: Returns a list of Storage Targets for the specified Cache.
      operationId: StorageTargets_ListByCache
      x-ms-examples:
        StorageTargets_List:
          $ref: ./examples/StorageTargets_ListByCache.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}':
    delete:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
        - description: Name of Storage Target.
          in: path
          name: storageTargetName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,31}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Storage target deleted.
        '202':
          content:
            application/json:
              schema: {}
          description: >-
            Started the Storage Target's deletion. Poll the Cache's Storage
            Targets to monitor.
        '204':
          content:
            application/json:
              schema: {}
          description: Storage Target deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageTargets
      description: >-
        Removes a Storage Target from a Cache. This operation is allowed at any
        time, but if the Cache is down or unhealthy, the actual removal of the
        Storage Target may be delayed until the Cache is healthy again. Note
        that if the Cache has data to flush to the Storage Target, the data will
        be flushed before the Storage Target will be deleted.
      operationId: StorageTargets_Delete
      x-ms-examples:
        StorageTargets_Delete:
          $ref: ./examples/StorageTargets_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
        - description: Name of the Storage Target.
          in: path
          name: storageTargetName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,31}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: >-
            Returns the Storage Target object corresponding to
            storageTargetName.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageTargets
      description: Returns a Storage Target from a Cache.
      operationId: StorageTargets_Get
      x-ms-examples:
        StorageTargets_Get:
          $ref: ./examples/StorageTargets_Get.json
    put:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
        - description: Name of the Storage Target.
          in: path
          name: storageTargetName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,31}$'
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: Storage Target has been created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageTarget'
          description: >-
            Storage Target creation or update has been initiated. Poll the new
            Storage Target's provisioningState property to monitor creation
            progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - StorageTargets
      description: >-
        Create or update a Storage Target. This operation is allowed at any
        time, but if the Cache is down or unhealthy, the actual
        creation/modification of the Storage Target may be delayed until the
        Cache is healthy again.
      operationId: StorageTargets_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageTarget'
        description: Object containing the definition of a Storage Target.
      x-ms-examples:
        StorageTargets_CreateOrUpdate:
          $ref: ./examples/StorageTargets_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/upgrade':
    post:
      parameters:
        - description: Target resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of Cache.
          in: path
          name: cacheName
          required: true
          schema:
            pattern: '^[-0-9a-zA-Z_]{1,80}$'
            type: string
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: Cache firmware is up to date.
        '202':
          content:
            application/json:
              schema: {}
          description: >-
            Cache has started the upgrade. Poll the Cache's state field to
            monitor.
        '204':
          content:
            application/json:
              schema: {}
          description: Cache firmware is up to date.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Caches
      description: >-
        Upgrade a Cache's firmware if a new version is available. Otherwise,
        this operation has no effect.
      operationId: Caches_UpgradeFirmware
      x-ms-examples:
        Caches_UpgradeFirmware:
          $ref: ./examples/Caches_UpgradeFirmware.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiOperation:
      description: >-
        REST API operation description: see
        https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r3023-operationsapiimplementation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.StorageCache'
              type: string
            resource:
              description: 'Resource on which the operation is performed: Cache, etc.'
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    ApiOperationListResult:
      description: >-
        Result of the request to list Resource Provider operations. It contains
        a list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: >-
            List of Resource Provider operations supported by the
            Microsoft.StorageCache resource provider.
          items:
            $ref: '#/components/schemas/ApiOperation'
          type: array
      type: object
    Cache:
      description: >-
        A Cache instance. Follows Azure Resource Manager standards:
        https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md
      properties:
        tags:
          description: ARM tags as name/value pairs.
          type: object
        id:
          $ref: '#/components/schemas/URLString'
          description: Resource ID of the Cache.
          readOnly: true
        location:
          description: Region name string.
          type: string
        name:
          $ref: '#/components/schemas/ResourceName'
          description: Name of Cache.
          readOnly: true
        properties:
          description: Properties of the Cache.
          properties:
            cacheSizeGB:
              description: 'The size of this Cache, in GB.'
              type: integer
            health:
              $ref: '#/components/schemas/CacheHealth'
              description: Health of the Cache.
              readOnly: true
            mountAddresses:
              description: >-
                Array of IP addresses that can be used by clients mounting this
                Cache.
              items:
                type: string
              readOnly: true
              type: array
            provisioningState:
              description: >-
                ARM provisioning state, see
                https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property
              enum:
                - Succeeded
                - Failed
                - Cancelled
                - Creating
                - Deleting
                - Updating
              type: string
              x-ms-enum:
                modelAsString: true
                name: ProvisioningStateType
            subnet:
              $ref: '#/components/schemas/URLString'
              description: Subnet used for the Cache.
            upgradeStatus:
              $ref: '#/components/schemas/CacheUpgradeStatus'
              description: Upgrade status of the Cache.
          type: object
          x-ms-client-flatten: true
        sku:
          description: SKU for the Cache.
          properties:
            name:
              description: SKU name for this Cache.
              type: string
          type: object
        type:
          description: Type of the Cache; Microsoft.StorageCache/Cache
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    CacheHealth:
      description: >-
        An indication of Cache health. Gives more information about health than
        just that related to provisioning.
      properties:
        state:
          description: List of Cache health states.
          enum:
            - Unknown
            - Healthy
            - Degraded
            - Down
            - Transitioning
            - Stopping
            - Stopped
            - Upgrading
            - Flushing
          type: string
          x-ms-enum:
            modelAsString: true
            name: HealthStateType
        statusDescription:
          description: Describes explanation of state.
          type: string
      type: object
    CacheUpgradeStatus:
      description: Properties describing the software upgrade state of the Cache.
      properties:
        currentFirmwareVersion:
          description: Version string of the firmware currently installed on this Cache.
          readOnly: true
          type: string
        firmwareUpdateDeadline:
          description: >-
            Time at which the pending firmware update will automatically be
            installed on the Cache.
          format: date-time
          readOnly: true
          type: string
        firmwareUpdateStatus:
          description: >-
            True if there is a firmware update ready to install on this Cache.
            The firmware will automatically be installed after
            firmwareUpdateDeadline if not triggered earlier via the upgrade
            operation.
          enum:
            - available
            - unavailable
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: FirmwareStatusType
        lastFirmwareUpdate:
          description: Time of the last successful firmware update.
          format: date-time
          readOnly: true
          type: string
        pendingFirmwareVersion:
          description: >-
            When firmwareUpdateAvailable is true, this field holds the version
            string for the update.
          readOnly: true
          type: string
      type: object
    CachesListResult:
      description: >-
        Result of the request to list Caches. It contains a list of Caches and a
        URL link to get the next set of results.
      properties:
        nextLink:
          description: 'URL to get the next set of Cache list results, if there are any.'
          type: string
        value:
          description: List of Caches.
          items:
            $ref: '#/components/schemas/Cache'
          type: array
      type: object
    ClfsTarget:
      description: Storage container for use as a CLFS Storage Target.
      properties:
        target:
          $ref: '#/components/schemas/URLString'
          description: Resource ID of storage container.
      type: object
      x-ms-discriminator-value: clfs
    CloudError:
      description: An error response.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The body of the error.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
    NamespaceJunction:
      description: A namespace junction.
      properties:
        namespacePath:
          description: Namespace path on a Cache for a Storage Target.
          type: string
        nfsExport:
          description: NFS export where targetPath exists.
          type: string
        targetPath:
          description: Path in Storage Target to which namespacePath points.
          type: string
      type: object
    Nfs3Target:
      description: An NFSv3 mount point for use as a Storage Target.
      properties:
        target:
          description: 'IP address or host name of an NFSv3 host (e.g., 10.0.44.44).'
          pattern: '^[-.0-9a-zA-Z]+$'
          type: string
        usageModel:
          description: >-
            Identifies the primary usage model to be used for this Storage
            Target. Get choices from .../usageModels
          type: string
      type: object
      x-ms-discriminator-value: nfs3
    ResourceName:
      description: >-
        Schema for the name of resources served by this provider. Note that
        objects will contain an odata @id annotation as appropriate. This will
        contain the complete URL of the object. These names are case-preserving,
        but not case sensitive.
      pattern: '^[-0-9a-zA-Z_]{1,80}$'
      type: string
    ResourceSku:
      description: A resource SKU.
      properties:
        capabilities:
          description: 'A list of capabilities of this SKU, such as throughput or ops/sec.'
          items:
            $ref: '#/components/schemas/ResourceSkuCapabilities'
          type: array
        locationInfo:
          description: The set of locations that the SKU is available.
          items:
            $ref: '#/components/schemas/ResourceSkuLocationInfo'
          type: array
        locations:
          description: >-
            The set of locations that the SKU is available. This will be
            supported and registered Azure Geo Regions (e.g., West US, East US,
            Southeast Asia, etc.).
          items:
            type: string
          readOnly: true
          type: array
        name:
          description: The name of this SKU.
          type: string
        resourceType:
          description: The type of resource the SKU applies to.
          readOnly: true
          type: string
        restrictions:
          description: >-
            The restrictions preventing this SKU from being used. This is empty
            if there are no restrictions.
          items:
            $ref: '#/components/schemas/Restriction'
          type: array
      type: object
    ResourceSkuCapabilities:
      description: A resource SKU capability.
      properties:
        name:
          description: 'Name of a capability, such as ops/sec.'
          type: string
        value:
          description: 'Quantity, if the capability is measured by quantity.'
          type: string
      type: object
    ResourceSkuLocationInfo:
      description: Resource SKU location information.
      properties:
        location:
          description: Location where this SKU is available.
          type: string
        zones:
          description: Zones if any.
          items:
            type: string
          type: array
      type: object
    ResourceSkusResult:
      description: The response from the List Cache SKUs operation.
      properties:
        nextLink:
          description: The URI to fetch the next page of Cache SKUs.
          type: string
        value:
          description: The list of SKUs available for the subscription.
          items:
            $ref: '#/components/schemas/ResourceSku'
          readOnly: true
          type: array
      type: object
    Restriction:
      description: The restrictions preventing this SKU from being used.
      properties:
        reasonCode:
          description: >-
            The reason for the restriction. As of now this can be "QuotaId" or
            "NotAvailableForSubscription". "QuotaId" is set when the SKU has
            requiredQuotas parameter as the subscription does not belong to that
            quota. "NotAvailableForSubscription" is related to capacity at the
            datacenter.
          enum:
            - QuotaId
            - NotAvailableForSubscription
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReasonCode
        type:
          description: >-
            The type of restrictions. In this version, the only possible value
            for this is location.
          readOnly: true
          type: string
        values:
          description: >-
            The value of restrictions. If the restriction type is set to
            location, then this would be the different locations where the SKU
            is restricted.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    StorageTarget:
      description: A storage system being cached by a Cache.
      discriminator:
        propertyName: targetType
      properties:
        id:
          description: Resource ID of the Storage Target.
          readOnly: true
          type: string
        name:
          $ref: '#/components/schemas/ResourceName'
          description: Name of the Storage Target.
          readOnly: true
        properties:
          description: Properties of the Storage Target.
          properties:
            clfs:
              $ref: '#/components/schemas/ClfsTarget'
              description: Properties when targetType is clfs.
            junctions:
              description: >-
                List of Cache namespace junctions to target for namespace
                associations.
              items:
                $ref: '#/components/schemas/NamespaceJunction'
              type: array
            nfs3:
              $ref: '#/components/schemas/Nfs3Target'
              description: Properties when targetType is nfs3.
            provisioningState:
              description: >-
                ARM provisioning state, see
                https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property
              enum:
                - Succeeded
                - Failed
                - Cancelled
                - Creating
                - Deleting
                - Updating
              type: string
              x-ms-enum:
                modelAsString: true
                name: ProvisioningStateType
            targetType:
              description: Type of the Storage Target.
              enum:
                - nfs3
                - clfs
                - unknown
              type: string
              x-ms-enum:
                modelAsString: true
                name: StorageTargetType
            unknown:
              $ref: '#/components/schemas/UnknownTarget'
              description: Properties when targetType is unknown.
          type: object
          x-ms-client-flatten: true
        type:
          description: >-
            Type of the Storage Target;
            Microsoft.StorageCache/Cache/StorageTarget
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    StorageTargetsResult:
      description: A list of Storage Targets.
      properties:
        nextLink:
          description: The URI to fetch the next page of Storage Targets.
          type: string
        value:
          description: The list of Storage Targets defined for the Cache.
          items:
            $ref: '#/components/schemas/StorageTarget'
          type: array
      type: object
    URLString:
      description: A fully qualified URL.
      type: string
    UnknownProperties:
      additionalProperties:
        type: string
      description: Properties of an unknown type of Storage Target.
      type: object
    UnknownTarget:
      description: Storage container for use as an Unknown Storage Target.
      properties:
        unknownMap:
          $ref: '#/components/schemas/UnknownProperties'
          description: >-
            Dictionary of string->string pairs containing information about the
            Storage Target.
      type: object
      x-ms-discriminator-value: unknown
    UsageModel:
      description: A usage model.
      properties:
        display:
          description: Localized information describing this usage model.
          properties:
            description:
              description: String to display for this usage model.
              type: string
          type: object
        modelName:
          description: Non-localized keyword name for this usage model.
          type: string
        targetType:
          description: >-
            The type of Storage Target to which this model is applicable (only
            nfs3 as of this version).
          type: string
      type: object
    UsageModelsResult:
      description: A list of Cache usage models.
      properties:
        nextLink:
          description: The URI to fetch the next page of Cache usage models.
          type: string
        value:
          description: The list of usage models available for the subscription.
          items:
            $ref: '#/components/schemas/UsageModel'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

