openapi: 3.0.0
info:
  description: Azure EventGrid Management Client
  title: EventGridManagementClient
  version: 2017-06-15-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.EventGrid/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Operations
      description: >-
        List the available operations supported by the Microsoft.EventGrid
        resource provider
      operationId: Operations_List
      summary: List available operations
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.EventGrid/topicTypes:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypesListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - TopicTypes
      description: List all registered topic types
      operationId: TopicTypes_List
      summary: List topic types
      x-ms-examples:
        TopicTypes_List:
          $ref: ./examples/TopicTypes_List.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}':
    get:
      parameters:
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypeInfo'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - TopicTypes
      description: Get information about a topic type
      operationId: TopicTypes_Get
      summary: Get a topic type
      x-ms-examples:
        TopicTypes_Get:
          $ref: ./examples/TopicTypes_Get.json
  '/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes':
    get:
      parameters:
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - TopicTypes
      description: List event types for a topic type
      operationId: TopicTypes_ListEventTypes
      summary: List event types
      x-ms-examples:
        TopicTypes_ListEventTypes:
          $ref: ./examples/TopicTypes_ListEventTypes.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all aggregated global event subscriptions under a specific Azure
        subscription
      operationId: EventSubscriptions_ListGlobalBySubscription
      summary: >-
        Get an aggregated list of all global event subscriptions under an Azure
        subscription
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          $ref: ./examples/EventSubscriptions_ListGlobalBySubscription.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription
      operationId: EventSubscriptions_ListRegionalBySubscription
      summary: List all regional event subscriptions under an Azure subscription
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          $ref: ./examples/EventSubscriptions_ListRegionalBySubscription.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription and topic type.
      operationId: EventSubscriptions_ListRegionalBySubscriptionForTopicType
      summary: >-
        List all regional event subscriptions under an Azure subscription for a
        topic type
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListRegionalBySubscriptionForTopicType.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all global event subscriptions under an Azure subscription for a
        topic type.
      operationId: EventSubscriptions_ListGlobalBySubscriptionForTopicType
      summary: List all global event subscriptions for a topic type
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListGlobalBySubscriptionForTopicType.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List all the topics under an Azure subscription
      operationId: Topics_ListBySubscription
      summary: List topics under an Azure subscription
      x-ms-examples:
        Topics_ListBySubscription:
          $ref: ./examples/Topics_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all global event subscriptions under a specific Azure subscription
        and resource group
      operationId: EventSubscriptions_ListGlobalByResourceGroup
      summary: >-
        List all global event subscriptions under an Azure subscription and
        resource group
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          $ref: ./examples/EventSubscriptions_ListGlobalByResourceGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription and resource group
      operationId: EventSubscriptions_ListRegionalByResourceGroup
      summary: >-
        List all regional event subscriptions under an Azure subscription and
        resource group
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          $ref: ./examples/EventSubscriptions_ListRegionalByResourceGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription and resource group and topic type
      operationId: EventSubscriptions_ListRegionalByResourceGroupForTopicType
      summary: >-
        List all regional event subscriptions under an Azure subscription and
        resource group for a topic type
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListRegionalByResourceGroupForTopicType.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all global event subscriptions under a resource group for a
        specific topic type.
      operationId: EventSubscriptions_ListGlobalByResourceGroupForTopicType
      summary: >-
        List all global event subscriptions under a resource group for a topic
        type
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListGlobalByResourceGroupForTopicType.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List all the topics under a resource group
      operationId: Topics_ListByResourceGroup
      summary: List topics under a resource group
      x-ms-examples:
        Topics_ListByResourceGroup:
          $ref: ./examples/Topics_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Delete existing topic
      operationId: Topics_Delete
      summary: Delete a topic
      x-ms-examples:
        Topics_Delete:
          $ref: ./examples/Topics_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Get properties of a topic
      operationId: Topics_Get
      summary: Get a topic
      x-ms-examples:
        Topics_Get:
          $ref: ./examples/Topics_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: Created
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Asynchronously creates a new topic with the specified parameters.
      operationId: Topics_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topic'
        description: Topic information
        required: true
      summary: Create a topic
      x-ms-examples:
        Topics_CreateOrUpdate:
          $ref: ./examples/Topics_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List the two keys used to publish to a topic
      operationId: Topics_ListSharedAccessKeys
      summary: List keys for a topic
      x-ms-examples:
        Topics_ListSharedAccessKeys:
          $ref: ./examples/Topics_ListSharedAccessKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/regenerateKey':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Regenerate a shared access key for a topic
      operationId: Topics_RegenerateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicRegenerateKeyRequest'
        description: Request body to regenerate key
        required: true
      summary: Regenerate key for a topic
      x-ms-examples:
        Topics_RegenerateKey:
          $ref: ./examples/Topics_RegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Namespace of the provider of the topic
          in: path
          name: providerNamespace
          required: true
          schema:
            type: string
        - description: Name of the resource type
          in: path
          name: resourceTypeName
          required: true
          schema:
            type: string
        - description: Name of the resource
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: List all event subscriptions that have been created for a specific topic
      operationId: EventSubscriptions_ListByResource
      summary: List all event subscriptions for a specific topic
      x-ms-examples:
        EventSubscriptions_ListByResource:
          $ref: ./examples/EventSubscriptions_ListByResource.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Namespace of the provider of the topic
          in: path
          name: providerNamespace
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: resourceTypeName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List event types for a topic
      operationId: Topics_ListEventTypes
      summary: List topic event types
      x-ms-examples:
        Topics_ListEventTypes:
          $ref: ./examples/Topics_ListEventTypes.json
      x-ms-pageable:
        nextLinkName: null
  '/{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}':
    delete:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Delete an existing event subscription
      operationId: EventSubscriptions_Delete
      summary: Delete an event subscription
      x-ms-examples:
        EventSubscriptions_DeleteForCustomTopic:
          $ref: ./examples/EventSubscriptions_DeleteForCustomTopic.json
        EventSubscriptions_DeleteForResource:
          $ref: ./examples/EventSubscriptions_DeleteForResource.json
        EventSubscriptions_DeleteForResourceGroup:
          $ref: ./examples/EventSubscriptions_DeleteForResourceGroup.json
        EventSubscriptions_DeleteForSubscription:
          $ref: ./examples/EventSubscriptions_DeleteForSubscription.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Get properties of an event subscription
      operationId: EventSubscriptions_Get
      summary: Get an event subscription
      x-ms-examples:
        EventSubscriptions_GetForCustomTopic:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic.json
        EventSubscriptions_GetForResource:
          $ref: ./examples/EventSubscriptions_GetForResource.json
        EventSubscriptions_GetForResourceGroup:
          $ref: ./examples/EventSubscriptions_GetForResourceGroup.json
        EventSubscriptions_GetForSubscription:
          $ref: ./examples/EventSubscriptions_GetForSubscription.json
    patch:
      parameters:
        - allowReserved: true
          description: >-
            The scope of existing event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription to be created
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          description: Created
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Asynchronously updates an existing event subscription.
      operationId: EventSubscriptions_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information
        required: true
      summary: Update an event subscription
      x-ms-examples:
        EventSubscriptions_UpdateForCustomTopic:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic.json
        EventSubscriptions_UpdateForResource:
          $ref: ./examples/EventSubscriptions_UpdateForResource.json
        EventSubscriptions_UpdateForResourceGroup:
          $ref: ./examples/EventSubscriptions_UpdateForResourceGroup.json
        EventSubscriptions_UpdateForSubscription:
          $ref: ./examples/EventSubscriptions_UpdateForSubscription.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the resource to which the event subscription needs to
            be created. The scope can be a subscription, or a resource group, or
            a top level resource belonging to a resource provider namespace, or
            an EventGrid topic. For example, use
            '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            Name of the event subscription to be created. Event subscription
            names must be between 3 and 64 characters in length and use
            alphanumeric letters only.
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          description: Created
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        Asynchronously creates a new event subscription to the specified scope.
        Existing event subscriptions cannot be updated with this API and should
        instead use the Update event subscription API.
      operationId: EventSubscriptions_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: >-
          Event subscription properties containing the destination and filter
          information
        required: true
      summary: Create an event subscription
      x-ms-examples:
        EventSubscriptions_CreateForCustomTopic:
          $ref: ./examples/EventSubscriptions_CreateForCustomTopic.json
        EventSubscriptions_CreateForResource:
          $ref: ./examples/EventSubscriptions_CreateForResource.json
        EventSubscriptions_CreateForResourceGroup:
          $ref: ./examples/EventSubscriptions_CreateForResourceGroup.json
        EventSubscriptions_CreateForSubscription:
          $ref: ./examples/EventSubscriptions_CreateForSubscription.json
      x-ms-long-running-operation: true
  '/{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}/getFullUrl':
    post:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Get the full endpoint URL for an event subscription
      operationId: EventSubscriptions_GetFullUrl
      summary: Get full URL of an event subscription
      x-ms-examples:
        EventSubscriptions_GetFullUrlForCustomTopic:
          $ref: ./examples/EventSubscriptions_GetFullUrlForCustomTopic.json
        EventSubscriptions_GetFullUrlForResource:
          $ref: ./examples/EventSubscriptions_GetFullUrlForResource.json
        EventSubscriptions_GetFullUrlForResourceGroup:
          $ref: ./examples/EventSubscriptions_GetFullUrlForResourceGroup.json
        EventSubscriptions_GetFullUrlForSubscription:
          $ref: ./examples/EventSubscriptions_GetFullUrlForSubscription.json
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    EventSubscription:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Event Subscription
      properties:
        properties:
          $ref: '#/components/schemas/EventSubscriptionProperties'
          description: Properties of the event subscription
          x-ms-client-flatten: true
      type: object
    EventSubscriptionDestination:
      description: Information about the destination for an event subscription
      properties:
        endpointType:
          description: Type of the endpoint for the event subscription destination
          enum:
            - WebHook
          type: string
          x-ms-enum:
            modelAsString: true
            name: EndpointType
        properties:
          $ref: '#/components/schemas/EventSubscriptionDestinationProperties'
          description: Properties of the event subscription destination
          x-ms-client-flatten: true
      type: object
    EventSubscriptionDestinationProperties:
      description: Properties of the event subscription destination
      properties:
        endpointBaseUrl:
          description: >-
            The base URL that represents the endpoint of the destination of an
            event subscription.
          readOnly: true
          type: string
        endpointUrl:
          description: >-
            The URL that represents the endpoint of the destination of an event
            subscription.
          type: string
      type: object
    EventSubscriptionFilter:
      description: Filter for the Event Subscription
      properties:
        includedEventTypes:
          description: "A list of applicable event types that need to be part of the event subscription. \r\nIf it is desired to subscribe to all event types, the string \"all\" needs to be specified as an element in this list."
          items:
            type: string
          type: array
        isSubjectCaseSensitive:
          default: false
          description: "Specifies if the SubjectBeginsWith and SubjectEndsWith properties of the filter \r\nshould be compared in a case sensitive manner."
          type: boolean
        subjectBeginsWith:
          description: "An optional string to filter events for an event subscription based on a resource path prefix.\r\nThe format of this depends on the publisher of the events. \r\nWildcard characters are not supported in this path."
          type: string
        subjectEndsWith:
          description: "An optional string to filter events for an event subscription based on a resource path suffix.\r\nWildcard characters are not supported in this path."
          type: string
      type: object
    EventSubscriptionFullUrl:
      description: Full endpoint url of an event subscription
      properties:
        endpointUrl:
          description: >-
            The URL that represents the endpoint of the destination of an event
            subscription.
          type: string
      type: object
    EventSubscriptionProperties:
      description: Properties of the Event Subscription
      properties:
        destination:
          $ref: '#/components/schemas/EventSubscriptionDestination'
          description: >-
            Information about the destination where events have to be delivered
            for the event subscription.
        filter:
          $ref: '#/components/schemas/EventSubscriptionFilter'
          description: Information about the filter for the event subscription.
        labels:
          description: List of user defined labels.
          items:
            type: string
          type: array
        provisioningState:
          description: Provisioning state of the event subscription.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventSubscriptionProvisioningState
        topic:
          description: Name of the topic of the event subscription.
          readOnly: true
          type: string
      type: object
    EventSubscriptionUpdateParameters:
      description: Properties of the Event Subscription update
      properties:
        destination:
          $ref: '#/components/schemas/EventSubscriptionDestination'
          description: >-
            Information about the destination where events have to be delivered
            for the event subscription.
        filter:
          $ref: '#/components/schemas/EventSubscriptionFilter'
          description: Information about the filter for the event subscription.
        labels:
          description: List of user defined labels.
          items:
            type: string
          type: array
      type: object
    EventSubscriptionsListResult:
      description: Result of the List EventSubscriptions operation
      properties:
        value:
          description: A collection of EventSubscriptions
          items:
            $ref: '#/components/schemas/EventSubscription'
          type: array
      type: object
    EventType:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Event Type for a subject under a topic
      properties:
        properties:
          $ref: '#/components/schemas/EventTypeProperties'
          description: Properties of the event type.
          x-ms-client-flatten: true
      type: object
    EventTypeProperties:
      description: Properties of the event type
      properties:
        description:
          description: Description of the event type.
          type: string
        displayName:
          description: Display name of the event type.
          type: string
        schemaUrl:
          description: Url of the schema for this event type.
          type: string
      type: object
    EventTypesListResult:
      description: Result of the List Event Types operation
      properties:
        value:
          description: A collection of event types
          items:
            $ref: '#/components/schemas/EventType'
          type: array
      type: object
    Operation:
      description: Represents an operation returned by the GetOperations request
      properties:
        display:
          $ref: '#/components/schemas/OperationInfo'
          description: Display name of the operation
        name:
          description: Name of the operation
          type: string
        origin:
          description: Origin of the operation
          enum:
            - User
            - System
            - UserAndSystem
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationOrigin
        properties:
          description: Properties of the operation
          type: object
          x-ms-client-flatten: true
      type: object
    OperationInfo:
      description: Information about an operation
      properties:
        description:
          description: Description of the operation
          type: string
        operation:
          description: Name of the operation
          type: string
        provider:
          description: Name of the provider
          type: string
        resource:
          description: Name of the resource type
          type: string
      type: object
    OperationsListResult:
      description: Result of the List Operations operation
      properties:
        value:
          description: A collection of operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Resource:
      description: Definition of a Resource
      properties:
        id:
          description: Fully qualified identifier of the resource
          readOnly: true
          type: string
        name:
          description: Name of the resource
          readOnly: true
          type: string
        type:
          description: Type of the resource
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Topic:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: EventGrid Topic
      properties:
        properties:
          $ref: '#/components/schemas/TopicProperties'
          description: Properties of the topic
          x-ms-client-flatten: true
      type: object
    TopicProperties:
      description: Properties of the Topic
      properties:
        endpoint:
          description: Endpoint for the topic.
          readOnly: true
          type: string
        provisioningState:
          description: Provisioning state of the topic.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: TopicProvisioningState
      type: object
    TopicRegenerateKeyRequest:
      description: Topic regenerate share access key request
      properties:
        keyName:
          description: Key name to regenerate key1 or key2
          type: string
      required:
        - keyName
      type: object
    TopicSharedAccessKeys:
      description: Shared access keys of the Topic
      properties:
        key1:
          description: Shared access key1 for the topic.
          type: string
        key2:
          description: Shared access key2 for the topic.
          type: string
      type: object
    TopicTypeInfo:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Properties of a topic type info.
      properties:
        properties:
          $ref: '#/components/schemas/TopicTypeProperties'
          description: Properties of the topic type info
          x-ms-client-flatten: true
      type: object
    TopicTypeProperties:
      description: Properties of a topic type.
      properties:
        description:
          description: Description of the topic type.
          type: string
        displayName:
          description: Display Name for the topic type.
          type: string
        provider:
          description: Namespace of the provider of the topic type.
          type: string
        provisioningState:
          description: Provisioning state of the topic type
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          type: string
          x-ms-enum:
            modelAsString: true
            name: TopicTypeProvisioningState
        resourceRegionType:
          description: Region type of the resource.
          enum:
            - RegionalResource
            - GlobalResource
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResourceRegionType
      type: object
    TopicTypesListResult:
      description: Result of the List Topic Types operation
      properties:
        value:
          description: A collection of topic types
          items:
            $ref: '#/components/schemas/TopicTypeInfo'
          type: array
      type: object
    TopicsListResult:
      description: Result of the List Topics operation
      properties:
        value:
          description: A collection of Topics
          items:
            $ref: '#/components/schemas/Topic'
          type: array
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Definition of a Tracked Resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Tags of the resource
          type: object
        location:
          description: Location of the resource
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - location
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

