openapi: 3.0.0
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: >-
    Provides ways to manage Bare Metal Solution hardware installed in a regional
    extension located near a Google Cloud data center.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Bare Metal Solution API
  version: v1
servers:
  - url: 'https://baremetalsolution.googleapis.com/'
paths: {}
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - '1'
          - '2'
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    DisableInteractiveSerialConsoleResponse:
      description: Message for response of DisableInteractiveSerialConsole.
      properties: {}
      type: object
    EnableInteractiveSerialConsoleResponse:
      description: Message for response of EnableInteractiveSerialConsole.
      properties: {}
      type: object
    LogicalInterface:
      description: Logical interface.
      properties:
        name:
          description: >-
            Interface name. This is not a globally unique identifier. Name is
            unique only inside the ServerNetworkTemplate. This is of syntax or
            and forms part of the network template name.
          type: string
        required:
          description: 'If true, interface must have network connected.'
          type: boolean
        type:
          description: Interface type.
          enum:
            - INTERFACE_TYPE_UNSPECIFIED
            - BOND
            - NIC
          type: string
      type: object
    OperationMetadata:
      description: Represents the metadata of the long-running operation.
      properties:
        apiVersion:
          description: Output only. API version used to start the operation.
          readOnly: true
          type: string
        cancelRequested:
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have been cancelled successfully
            have google.longrunning.Operation.error value with a
            google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.
          readOnly: true
          type: boolean
        createTime:
          description: Output only. The time the operation was created.
          format: google-datetime
          readOnly: true
          type: string
        endTime:
          description: Output only. The time the operation finished running.
          format: google-datetime
          readOnly: true
          type: string
        statusDetail:
          description: 'Output only. Human-readable status of the operation, if any.'
          readOnly: true
          type: string
        target:
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
          readOnly: true
          type: string
        verb:
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
          type: string
      type: object
    ReconciliationOperationMetadata:
      description: >-
        Operation metadata returned by the CLH during resource state
        reconciliation.
      properties:
        deleteResource:
          deprecated: true
          description: DEPRECATED. Use exclusive_action instead.
          type: boolean
        exclusiveAction:
          description: Excluisive action returned by the CLH.
          enum:
            - UNKNOWN_REPAIR_ACTION
            - DELETE
            - RETRY
          enumDeprecated:
            - false
            - true
            - false
          type: string
      type: object
    ResetInstanceResponse:
      description: Response message from resetting a server.
      properties: {}
      type: object
    ServerNetworkTemplate:
      description: Network template.
      properties:
        applicableInstanceTypes:
          description: Instance types this template is applicable to.
          items:
            type: string
          type: array
        logicalInterfaces:
          description: Logical interfaces.
          items:
            $ref: '#/components/schemas/LogicalInterface'
          type: array
        name:
          description: >-
            Output only. Template's unique name. The full resource name follows
            the pattern:
            `projects/{project}/locations/{location}/serverNetworkTemplate/{server_network_template}`
            Generally, the {server_network_template} follows the syntax of
            "bond" or "nic".
          readOnly: true
          type: string
      type: object
    StartInstanceResponse:
      description: Response message from starting a server.
      properties: {}
      type: object
    StopInstanceResponse:
      description: Response message from stopping a server.
      properties: {}
      type: object
tags: []
externalDocs:
  url: 'https://cloud.google.com/bare-metal'

