openapi: 3.0.0
info:
  description: REST APIs for Azure Advisor
  title: AdvisorManagementClient
  version: '2017-03-31'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Advisor/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
          description: OK. Successfully retrieved operation list.
      tags:
        - Operations
      deprecated: false
      description: Lists all the available Advisor REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted. Recommendation generation has been accepted.
          headers:
            Location:
              description: >-
                The URL where the status of the asynchronous operation can be
                checked.
              schema:
                type: string
            Retry-After:
              description: >-
                The amount of delay to use while the status of the operation is
                checked. The value is expressed in seconds.
              schema:
                type: string
      tags:
        - GenerateRecommendations
      deprecated: false
      description: >-
        Initiates the recommendation generation or computation process for a
        subscription. This operation is asynchronous. The generated
        recommendations are stored in a cache in the Advisor service.
      operationId: Recommendations_Generate
      x-ms-examples:
        GenerateRecommendations:
          $ref: ./examples/GenerateRecommendations.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: >-
            The operation ID, which can be found from the Location field in the
            generate recommendation response header.
          in: path
          name: operationId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted. Recommendation generation is in progress.
        '204':
          description: NoContent. Recommendation generation has been completed.
      tags:
        - GenerateRecommendations
      deprecated: false
      description: >-
        Retrieves the status of the recommendation computation or generation
        process. Invoke this API after calling the generation recommendation.
        The URI of this API is returned in the Location field of the response
        header.
      operationId: Recommendations_GetGenerateStatus
  '/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: The filter to apply to the recommendations.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            The number of recommendations per page if a paged version of this
            API is being used.
          in: query
          name: $top
          required: false
          schema:
            type: integer
        - description: The page-continuation token to use with a paged version of this API.
          in: query
          name: $skipToken
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRecommendationBaseListResult'
          description: OK. Successfully obtained cached recommendations.
      tags:
        - GetRecommendations
      deprecated: false
      description: >-
        Obtains cached recommendations for a subscription. The recommendations
        are generated or computed by invoking generateRecommendations.
      operationId: Recommendations_List
      x-ms-examples:
        ListRecommendations:
          $ref: ./examples/ListRecommendations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SuppressionContract'
                type: array
          description: OK. Successfully got all suppressions in a subscription.
      tags:
        - Suppressions
      deprecated: false
      description: >-
        Retrieves the list of snoozed or dismissed suppressions for a
        subscription. The snoozed or dismissed attribute of a recommendation is
        referred to as a suppression.
      operationId: Suppressions_List
      x-ms-examples:
        ListSuppressions:
          $ref: ./examples/ListSuppressions.json
  '/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}':
    get:
      parameters:
        - description: >-
            The fully qualified Azure Resource Manager identifier of the
            resource to which the recommendation applies.
          in: path
          name: resourceUri
          required: true
          schema:
            type: string
        - description: The recommendation ID.
          in: path
          name: recommendationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceRecommendationBase'
          description: OK. Successfully got recommendation detail.
      tags:
        - GetRecommendations
      deprecated: false
      description: Obtains details of a cached recommendation.
      operationId: Recommendations_Get
      x-ms-examples:
        GetRecommendationDetail:
          $ref: ./examples/GetRecommendationDetail.json
  '/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}':
    delete:
      parameters:
        - description: >-
            The fully qualified Azure Resource Manager identifier of the
            resource to which the recommendation applies.
          in: path
          name: resourceUri
          required: true
          schema:
            type: string
        - description: The recommendation ID.
          in: path
          name: recommendationId
          required: true
          schema:
            type: string
        - description: The name of the suppression.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: NoContent. The recommendation has been activated.
      tags:
        - Suppressions
      deprecated: false
      description: >-
        Enables the activation of a snoozed or dismissed recommendation. The
        snoozed or dismissed attribute of a recommendation is referred to as a
        suppression.
      operationId: Suppressions_Delete
      x-ms-examples:
        DeleteSuppression:
          $ref: ./examples/DeleteSuppression.json
    get:
      parameters:
        - description: >-
            The fully qualified Azure Resource Manager identifier of the
            resource to which the recommendation applies.
          in: path
          name: resourceUri
          required: true
          schema:
            type: string
        - description: The recommendation ID.
          in: path
          name: recommendationId
          required: true
          schema:
            type: string
        - description: The name of the suppression.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContract'
          description: OK. Successfully got suppression detail.
      tags:
        - Suppressions
      deprecated: false
      description: Obtains the details of a suppression.
      operationId: Suppressions_Get
      x-ms-examples:
        GetSuppressionDetail:
          $ref: ./examples/GetSuppressionDetail.json
    put:
      parameters:
        - description: >-
            The fully qualified Azure Resource Manager identifier of the
            resource to which the recommendation applies.
          in: path
          name: resourceUri
          required: true
          schema:
            type: string
        - description: The recommendation ID.
          in: path
          name: recommendationId
          required: true
          schema:
            type: string
        - description: The name of the suppression.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionContract'
          description: OK. Successfully created suppression.
      tags:
        - Suppressions
      deprecated: false
      description: >-
        Enables the snoozed or dismissed attribute of a recommendation. The
        snoozed or dismissed attribute is referred to as a suppression. Use this
        API to create or update the snoozed or dismissed status of a
        recommendation.
      operationId: Suppressions_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressionContract'
        description: 'The snoozed or dismissed attribute; for example, the snooze duration.'
        required: true
      x-ms-examples:
        CreateSuppression:
          $ref: ./examples/CreateSuppression.json
components:
  parameters:
    apiVersionParameter:
      description: The version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: The Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    OperationDisplayInfo:
      description: The operation supported by Advisor.
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: 'The action that users can perform, based on their permission level.'
          type: string
        provider:
          description: 'Service provider: Microsoft Advisor.'
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
    OperationEntity:
      description: The operation supported by Advisor.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
          description: The operation supported by Advisor.
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
      type: object
    OperationEntityListResult:
      description: The list of Advisor operations.
      properties:
        nextLink:
          description: The link used to get the next page of operations.
          type: string
        value:
          description: The list of operations.
          items:
            $ref: '#/components/schemas/OperationEntity'
          type: array
      type: object
    RecommendationProperties:
      description: The properties of the recommendation.
      properties:
        category:
          description: The category of the recommendation.
          enum:
            - HighAvailability
            - Security
            - Performance
            - Cost
            - OperationalExcellence
          type: string
          x-ms-enum:
            modelAsString: true
            name: category
        impact:
          description: The business impact of the recommendation.
          enum:
            - High
            - Medium
            - Low
          type: string
          x-ms-enum:
            modelAsString: true
            name: impact
        impactedField:
          description: The resource type identified by Advisor.
          type: string
        impactedValue:
          description: The resource identified by Advisor.
          type: string
        lastUpdated:
          description: >-
            The most recent time that Advisor checked the validity of the
            recommendation.
          format: date-time
          type: string
        metadata:
          additionalProperties:
            type: object
          description: The recommendation metadata.
          type: object
        recommendationTypeId:
          description: The recommendation-type GUID.
          type: string
        risk:
          description: The potential risk of not implementing the recommendation.
          enum:
            - Error
            - Warning
            - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: risk
        shortDescription:
          $ref: '#/components/schemas/ShortDescription'
          description: A summary of the recommendation.
        suppressionIds:
          description: The list of snoozed and dismissed rules for the recommendation.
          items:
            format: uuid
            type: string
          type: array
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceRecommendationBase:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Advisor Recommendation.
      properties:
        properties:
          $ref: '#/components/schemas/RecommendationProperties'
          description: The properties of the recommendation.
          x-ms-client-flatten: true
      type: object
    ResourceRecommendationBaseListResult:
      description: The list of Advisor recommendations.
      properties:
        nextLink:
          description: The link used to get the next page of recommendations.
          type: string
        value:
          description: The list of recommendations.
          items:
            $ref: '#/components/schemas/ResourceRecommendationBase'
          type: array
      type: object
    ShortDescription:
      description: A summary of the recommendation.
      properties:
        problem:
          description: The issue or opportunity identified by the recommendation.
          type: string
        solution:
          description: The remediation action suggested by the recommendation.
          type: string
      type: object
    SuppressionContract:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        The details of the snoozed or dismissed rule; for example, the duration,
        name, and GUID associated with the rule.
      properties:
        properties:
          $ref: '#/components/schemas/SuppressionProperties'
          description: The properties of the suppression.
          x-ms-client-flatten: true
      type: object
    SuppressionProperties:
      description: The properties of the suppression.
      properties:
        suppressionId:
          description: The GUID of the suppression.
          type: string
        ttl:
          description: The duration for which the suppression is valid.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

