openapi: 3.0.0
info:
  title: DataBoxManagementClient
  version: '2019-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.DataBox/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: The supported operations list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Operations
      description: This method gets all the operations.
      operationId: Operations_List
      x-ms-examples:
        OperationsGet:
          $ref: ./examples/OperationsGet.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            $skipToken is supported on Get list of jobs, which provides the next
            page in the list of jobs.
          in: query
          name: $skipToken
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResourceList'
          description: List of jobs available under the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: Lists all the jobs available under the subscription.
      operationId: Jobs_List
      x-ms-examples:
        JobsList:
          $ref: ./examples/JobsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/availableSkus':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSkusResult'
          description: The list of available skus under subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Service
      description: >-
        This method provides the list of available skus for the given
        subscription and location.
      operationId: Service_ListAvailableSkus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableSkuRequest'
        description: Filters for showing the available skus.
        required: true
      x-ms-examples:
        AvailableSkusPost:
          $ref: ./examples/AvailableSkusPost.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionConfigurationResponse'
          description: Region configuration response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Service
      description: >-
        This API provides configuration details specific to given
        region/location.
      operationId: Service_RegionConfiguration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionConfigurationRequest'
        description: Request body to get the configuration for the region.
        required: true
      x-ms-examples:
        ServiceRegionConfiguration:
          $ref: ./examples/RegionConfiguration.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressValidationOutput'
          description: The valid and alternate addresses.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Service
      deprecated: true
      description: >-
        [DEPRECATED NOTICE: This operation will soon be removed] This method
        validates the customer shipping address and provide alternate addresses
        if any.
      operationId: Service_ValidateAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAddress'
        description: Shipping address of the customer.
        required: true
      x-ms-examples:
        ValidateAddressPost:
          $ref: ./examples/ValidateAddressPost.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateInputs':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
          description: The validation status and responses of each validating parameter.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Service
      description: >-
        This method does all necessary pre-job creation validation under
        subscription.
      operationId: Service_ValidateInputs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
        description: Inputs of the customer.
        required: true
      x-ms-examples:
        ServiceValidateInputs:
          $ref: ./examples/ValidateInputs.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            $skipToken is supported on Get list of jobs, which provides the next
            page in the list of jobs.
          in: query
          name: $skipToken
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResourceList'
          description: List of jobs by resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: Lists all the jobs available under the given resource group.
      operationId: Jobs_ListByResourceGroup
      x-ms-examples:
        JobsListByResourceGroup:
          $ref: ./examples/JobsListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted request for delete Job.
        '204':
          description: Job deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: Deletes a job.
      operationId: Jobs_Delete
      x-ms-examples:
        JobsDelete:
          $ref: ./examples/JobsDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            $expand is supported on details parameter for job, which provides
            details on the job stages.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
          description: Job object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: Gets information about the specified job.
      operationId: Jobs_Get
      x-ms-examples:
        JobsGet:
          $ref: ./examples/JobsGet.json
        JobsGet1:
          $ref: ./examples/JobsGet1.json
        JobsGet2:
          $ref: ./examples/JobsGet2.json
        JobsGet3:
          $ref: ./examples/JobsGet3.json
        JobsGet4:
          $ref: ./examples/JobsGet4.json
        JobsGet5:
          $ref: ./examples/JobsGet5.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            Defines the If-Match condition. The patch will be performed only if
            the ETag of the job on the server matches this value.
          in: header
          name: If-Match
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
          description: Job object.
        '202':
          description: Accepted request for job updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: Updates the properties of an existing job.
      operationId: Jobs_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobResourceUpdateParameter'
        description: Job update parameters from request body.
        required: true
      x-ms-examples:
        JobsPatch:
          $ref: ./examples/JobsPatch.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
          description: Job object.
        '202':
          description: Accepted request for create Job.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: >-
        Creates a new job with the specified parameters. Existing job cannot be
        updated with this API and should instead be updated with the Update job
        API.
      operationId: Jobs_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobResource'
        description: Job details from request body.
        required: true
      x-ms-examples:
        JobsCreate:
          $ref: ./examples/JobsCreate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentPickUpResponse'
          description: Booked shipment pick up successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: Book shipment pick up.
      operationId: Jobs_BookShipmentPickUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentPickUpRequest'
        description: Details of shipment pick up request.
        required: true
      x-ms-examples:
        BookShipmentPickupPost:
          $ref: ./examples/BookShipmentPickupPost.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: Job cancelled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: CancelJob.
      operationId: Jobs_Cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationReason'
        description: Reason for cancellation.
        required: true
      x-ms-examples:
        JobsCancelPost:
          $ref: ./examples/JobsCancelPost.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listCredentials':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/jobNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnencryptedCredentialsList'
          description: List of unencrypted credentials of the job.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Jobs
      description: This method gets the unencrypted secrets related to the job.
      operationId: Jobs_ListCredentials
      x-ms-examples:
        JobsListCredentials:
          $ref: ./examples/JobsListCredentials.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/availableSkus':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSkusResult'
          description: The list of available skus under Resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Service
      description: >-
        This method provides the list of available skus for the given
        subscription, resource group and location.
      operationId: Service_ListAvailableSkusByResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableSkuRequest'
        description: Filters for showing the available skus.
        required: true
      x-ms-examples:
        AvailableSkusByResourceGroup:
          $ref: ./examples/AvailableSkusPostByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/validateInputs':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
          description: The validation status and responses of each validating parameter.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing reason for operation failure.
      tags:
        - Service
      description: >-
        This method does all necessary pre-job creation validation under
        resource group.
      operationId: Service_ValidateInputsByResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
        description: Inputs of the customer.
        required: true
      x-ms-examples:
        ServiceValidateInputsByResourceGroup:
          $ref: ./examples/ValidateInputsByResourceGroup.json
components:
  parameters:
    apiVersionParameter:
      description: The API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    jobNameParameter:
      description: >-
        The name of the job Resource within the specified resource group. job
        names must be between 3 and 24 characters in length and use any
        alphanumeric and underscore only
      in: path
      name: jobName
      required: true
      schema:
        maxLength: 24
        minLength: 3
        pattern: '^[-\w\.]+$'
        type: string
      x-ms-parameter-location: method
    locationParameter:
      description: The location of the resource
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The Resource Group Name
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: The Subscription Id
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    AvailableSkuRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AvailableSkuRequest'
      description: Filters for showing the available skus.
      required: true
    ValidationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationRequest'
      description: Inputs of the customer.
      required: true
  schemas:
    AccountCredentialDetails:
      description: Credential details of the account.
      properties:
        accountConnectionString:
          description: >-
            Connection string of the account endpoint to use the account as a
            storage endpoint on the device.
          readOnly: true
          type: string
        accountName:
          description: Name of the account.
          readOnly: true
          type: string
        dataDestinationType:
          description: Data Destination Type.
          enum:
            - StorageAccount
            - ManagedDisk
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: DataDestinationType
            values:
              - description: Storage Accounts .
                value: StorageAccount
              - description: Azure Managed disk storage.
                value: ManagedDisk
        shareCredentialDetails:
          description: Per share level unencrypted access credentials.
          items:
            $ref: '#/components/schemas/ShareCredentialDetails'
          readOnly: true
          type: array
      type: object
    AddressValidationOutput:
      description: Output of the address validation api.
      properties:
        properties:
          $ref: '#/components/schemas/AddressValidationProperties'
          description: The address validation properties.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    AddressValidationProperties:
      allOf:
        - $ref: '#/components/schemas/ValidationInputResponse'
      description: The address validation output.
      properties:
        alternateAddresses:
          description: List of alternate addresses.
          items:
            $ref: '#/components/schemas/ShippingAddress'
          readOnly: true
          type: array
        validationStatus:
          description: The address validation status.
          enum:
            - Valid
            - Invalid
            - Ambiguous
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: AddressValidationStatus
            values:
              - description: Address provided is valid.
                value: Valid
              - description: Address provided is invalid or not supported.
                value: Invalid
              - description: >-
                  Address provided is ambiguous, please choose one of the
                  alternate addresses returned.
                value: Ambiguous
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidateAddress
    ApplianceNetworkConfiguration:
      description: The Network Adapter configuration of a DataBox.
      properties:
        macAddress:
          description: Mac Address.
          readOnly: true
          type: string
        name:
          description: Name of the network.
          readOnly: true
          type: string
      type: object
    ArmBaseObject:
      description: Base class for all objects under resource.
      properties:
        id:
          description: Id of the object.
          readOnly: true
          type: string
        name:
          description: Name of the object.
          readOnly: true
          type: string
        type:
          description: Type of the object.
          readOnly: true
          type: string
      type: object
    AvailableSkuRequest:
      description: The filters for showing the available skus.
      properties:
        country:
          description: >-
            ISO country code. Country for hardware shipment. For codes check:
            https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements
          type: string
        location:
          description: >-
            Location for data transfer. For locations check:
            https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01
          type: string
        skuNames:
          description: Sku Names to filter for available skus
          items:
            enum:
              - DataBox
              - DataBoxDisk
              - DataBoxHeavy
            type: string
            x-ms-enum:
              modelAsExtensible: true
              name: SkuName
              values:
                - description: Databox.
                  value: DataBox
                - description: DataboxDisk.
                  value: DataBoxDisk
                - description: DataboxHeavy.
                  value: DataBoxHeavy
          type: array
        transferType:
          description: Type of the transfer.
          enum:
            - ImportToAzure
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: TransferType
            values:
              - description: Import data to azure.
                value: ImportToAzure
      required:
        - transferType
        - country
        - location
      type: object
    AvailableSkusResult:
      description: The available skus operation response.
      properties:
        nextLink:
          description: Link for the next set of skus.
          type: string
        value:
          description: List of available skus.
          items:
            $ref: '#/components/schemas/SkuInformation'
          readOnly: true
          type: array
      type: object
    CancellationReason:
      description: Reason for cancellation.
      properties:
        reason:
          description: Reason for cancellation.
          type: string
      required:
        - reason
      type: object
    CloudError:
      description: The error information object.
      properties:
        code:
          description: Error code string.
          readOnly: true
          type: string
        details:
          description: More detailed error information.
          items:
            $ref: '#/components/schemas/CloudError'
          type: array
        message:
          description: Descriptive error information.
          readOnly: true
          type: string
        target:
          description: Error target
          type: string
      type: object
      x-ms-external: true
    ContactDetails:
      description: Contact Details.
      properties:
        contactName:
          description: Contact name of the person.
          type: string
        emailList:
          description: List of Email-ids to be notified about job progress.
          items:
            type: string
          type: array
        mobile:
          description: Mobile number of the contact person.
          type: string
        notificationPreference:
          description: Notification preference for a job stage.
          items:
            $ref: '#/components/schemas/NotificationPreference'
          type: array
        phone:
          description: Phone number of the contact person.
          type: string
        phoneExtension:
          description: Phone extension number of the contact person.
          type: string
      required:
        - contactName
        - phone
        - emailList
      type: object
    CopyLogDetails:
      description: Details for log generated during copy.
      discriminator:
        propertyName: copyLogDetailsType
      properties:
        copyLogDetailsType:
          description: Indicates the type of job details.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: false
            name: ClassDiscriminator
            values:
              - description: Databox orders.
                value: DataBox
              - description: DataboxDisk orders.
                value: DataBoxDisk
              - description: DataboxHeavy orders.
                value: DataBoxHeavy
      required:
        - copyLogDetailsType
      type: object
    CopyProgress:
      description: Copy progress.
      properties:
        accountId:
          description: Id of the account where the data needs to be uploaded.
          readOnly: true
          type: string
        bytesSentToCloud:
          description: Amount of data uploaded by the job as of now.
          format: int64
          readOnly: true
          type: integer
        dataDestinationType:
          description: Data Destination Type.
          enum:
            - StorageAccount
            - ManagedDisk
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: DataDestinationType
            values:
              - description: Storage Accounts .
                value: StorageAccount
              - description: Azure Managed disk storage.
                value: ManagedDisk
        filesErroredOut:
          description: Number of files which could not be copied
          format: int64
          readOnly: true
          type: integer
        filesProcessed:
          description: Number of files processed by the job as of now.
          format: int64
          readOnly: true
          type: integer
        invalidFileBytesUploaded:
          description: >-
            Total amount of data not adhering to azure naming conventions which
            were processed by automatic renaming
          format: int64
          readOnly: true
          type: integer
        invalidFilesProcessed:
          description: >-
            Number of files not adhering to azure naming conventions which were
            processed by automatic renaming
          format: int64
          readOnly: true
          type: integer
        renamedContainerCount:
          description: >-
            Number of folders not adhering to azure naming conventions which
            were processed by automatic renaming
          format: int64
          readOnly: true
          type: integer
        storageAccountName:
          description: Name of the storage account where the data needs to be uploaded.
          readOnly: true
          type: string
        totalBytesToProcess:
          description: Total amount of data to be processed by the job.
          format: int64
          readOnly: true
          type: integer
        totalFilesToProcess:
          description: Total number of files to be processed by the job.
          format: int64
          readOnly: true
          type: integer
      type: object
    CreateJobValidations:
      allOf:
        - $ref: '#/components/schemas/ValidationRequest'
      description: It does all pre-job creation validations.
      properties: {}
      required:
        - validationCategory
        - individualRequestDetails
      type: object
      x-ms-discriminator-value: JobCreationValidation
    CreateOrderLimitForSubscriptionValidationRequest:
      allOf:
        - $ref: '#/components/schemas/ValidationInputRequest'
      description: Request to validate create order limit for current subscription.
      properties:
        deviceType:
          description: Device type to be used for the job.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Data Box.
                value: DataBox
              - description: Data Box Disk.
                value: DataBoxDisk
              - description: Data Box Heavy.
                value: DataBoxHeavy
      required:
        - deviceType
        - validationType
      type: object
      x-ms-discriminator-value: ValidateCreateOrderLimit
    CreateOrderLimitForSubscriptionValidationResponseProperties:
      allOf:
        - $ref: '#/components/schemas/ValidationInputResponse'
      description: Properties of create order limit for subscription validation response.
      properties:
        status:
          description: Create order limit validation status.
          enum:
            - Valid
            - Invalid
            - Skipped
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationStatus
            values:
              - description: Validation is successful
                value: Valid
              - description: Validation is not successful
                value: Invalid
              - description: Validation is skipped
                value: Skipped
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidateCreateOrderLimit
    DataBoxAccountCopyLogDetails:
      allOf:
        - $ref: '#/components/schemas/CopyLogDetails'
      description: Copy log details for a storage account of a DataBox job
      properties:
        accountName:
          description: Destination account name.
          readOnly: true
          type: string
        copyLogLink:
          description: Link for copy logs.
          readOnly: true
          type: string
      required:
        - copyLogDetailsType
      type: object
      x-ms-discriminator-value: DataBox
    DataBoxDiskCopyLogDetails:
      allOf:
        - $ref: '#/components/schemas/CopyLogDetails'
      description: Copy Log Details for a disk
      properties:
        diskSerialNumber:
          description: Disk Serial Number.
          readOnly: true
          type: string
        errorLogLink:
          description: Link for copy error logs.
          readOnly: true
          type: string
        verboseLogLink:
          description: Link for copy verbose logs.
          readOnly: true
          type: string
      required:
        - copyLogDetailsType
      type: object
      x-ms-discriminator-value: DataBoxDisk
    DataBoxDiskCopyProgress:
      description: DataBox Disk Copy Progress
      properties:
        bytesCopied:
          description: Bytes copied during the copy of disk.
          format: int64
          readOnly: true
          type: integer
        percentComplete:
          description: Indicates the percentage completed for the copy of the disk.
          format: int32
          readOnly: true
          type: integer
        serialNumber:
          description: The serial number of the disk
          readOnly: true
          type: string
        status:
          description: The Status of the copy
          enum:
            - NotStarted
            - InProgress
            - Completed
            - CompletedWithErrors
            - Failed
            - NotReturned
            - HardwareError
            - DeviceFormatted
            - DeviceMetadataModified
            - StorageAccountNotAccessible
            - UnsupportedData
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: CopyStatus
            values:
              - description: Data copy hasn't started yet.
                value: NotStarted
              - description: Data copy is in progress.
                value: InProgress
              - description: Data copy completed.
                value: Completed
              - description: Data copy completed with errors.
                value: CompletedWithErrors
              - description: Data copy failed. No data was copied.
                value: Failed
              - description: No copy triggered as device was not returned.
                value: NotReturned
              - description: The Device has hit hardware issues.
                value: HardwareError
              - description: Data copy failed. The Device was formatted by user.
                value: DeviceFormatted
              - description: Data copy failed. Device metadata was modified by user.
                value: DeviceMetadataModified
              - description: >-
                  Data copy failed. Storage Account was not accessible during
                  copy.
                value: StorageAccountNotAccessible
              - description: Data copy failed. The Device data content is not supported.
                value: UnsupportedData
      type: object
    DataBoxDiskJobDetails:
      allOf:
        - $ref: '#/components/schemas/JobDetails'
      description: DataBox Disk Job Details.
      properties:
        copyProgress:
          description: Copy progress per disk.
          items:
            $ref: '#/components/schemas/DataBoxDiskCopyProgress'
          readOnly: true
          type: array
        disksAndSizeDetails:
          additionalProperties:
            format: int32
            type: integer
          description: >-
            Contains the map of disk serial number to the disk size being used
            for the job. Is returned only after the disks are shipped to the
            customer.
          readOnly: true
          type: object
        passkey:
          description: User entered passkey for DataBox Disk job.
          type: string
        preferredDisks:
          additionalProperties:
            format: int32
            type: integer
          description: >-
            User preference on what size disks are needed for the job. The map
            is from the disk size in TB to the count. Eg. {2,5} means 5 disks of
            2 TB size. Key is string but will be checked against an int.
          type: object
      required:
        - contactDetails
        - shippingAddress
        - destinationAccountDetails
        - jobDetailsType
      type: object
      x-ms-discriminator-value: DataBoxDisk
    DataBoxDiskJobSecrets:
      allOf:
        - $ref: '#/components/schemas/JobSecrets'
      description: The secrets related to disk job.
      properties:
        diskSecrets:
          description: Contains the list of secrets object for that device.
          items:
            $ref: '#/components/schemas/DiskSecret'
          readOnly: true
          type: array
        isPasskeyUserDefined:
          description: Whether passkey was provided by user.
          readOnly: true
          type: boolean
        passKey:
          description: PassKey for the disk Job.
          readOnly: true
          type: string
      required:
        - jobSecretsType
      type: object
      x-ms-discriminator-value: DataBoxDisk
    DataBoxHeavyAccountCopyLogDetails:
      allOf:
        - $ref: '#/components/schemas/CopyLogDetails'
      description: Copy log details for a storage account for Databox heavy
      properties:
        accountName:
          description: Destination account name.
          readOnly: true
          type: string
        copyLogLink:
          description: Link for copy logs.
          items:
            type: string
          readOnly: true
          type: array
      required:
        - copyLogDetailsType
      type: object
      x-ms-discriminator-value: DataBoxHeavy
    DataBoxHeavyJobDetails:
      allOf:
        - $ref: '#/components/schemas/JobDetails'
      description: Databox Heavy Device Job Details
      properties:
        copyProgress:
          description: Copy progress per account.
          items:
            $ref: '#/components/schemas/CopyProgress'
          readOnly: true
          type: array
        devicePassword:
          description: Set Device password for unlocking Databox Heavy
          type: string
      required:
        - contactDetails
        - shippingAddress
        - destinationAccountDetails
        - jobDetailsType
      type: object
      x-ms-discriminator-value: DataBoxHeavy
    DataBoxHeavyJobSecrets:
      allOf:
        - $ref: '#/components/schemas/JobSecrets'
      description: The secrets related to a databox heavy job.
      properties:
        cabinetPodSecrets:
          description: Contains the list of secret objects for a databox heavy job.
          items:
            $ref: '#/components/schemas/DataBoxHeavySecret'
          readOnly: true
          type: array
      required:
        - jobSecretsType
      type: object
      x-ms-discriminator-value: DataBoxHeavy
    DataBoxHeavySecret:
      description: The secrets related to a databox heavy.
      properties:
        accountCredentialDetails:
          description: Per account level access credentials.
          items:
            $ref: '#/components/schemas/AccountCredentialDetails'
          readOnly: true
          type: array
        devicePassword:
          description: Password for out of the box experience on device.
          readOnly: true
          type: string
        deviceSerialNumber:
          description: Serial number of the assigned device.
          readOnly: true
          type: string
        encodedValidationCertPubKey:
          description: The base 64 encoded public key to authenticate with the device
          readOnly: true
          type: string
        networkConfigurations:
          description: Network configuration of the appliance.
          items:
            $ref: '#/components/schemas/ApplianceNetworkConfiguration'
          readOnly: true
          type: array
      type: object
    DataBoxJobDetails:
      allOf:
        - $ref: '#/components/schemas/JobDetails'
      description: Databox Job Details
      properties:
        copyProgress:
          description: Copy progress per storage account.
          items:
            $ref: '#/components/schemas/CopyProgress'
          readOnly: true
          type: array
        devicePassword:
          description: Set Device password for unlocking Databox
          type: string
      required:
        - contactDetails
        - shippingAddress
        - destinationAccountDetails
        - jobDetailsType
      type: object
      x-ms-discriminator-value: DataBox
    DataBoxScheduleAvailabilityRequest:
      allOf:
        - $ref: '#/components/schemas/ScheduleAvailabilityRequest'
      description: >-
        Request body to get the availability for scheduling data box orders
        orders.
      properties: {}
      required:
        - storageLocation
        - skuName
      type: object
      x-ms-discriminator-value: DataBox
    DataBoxSecret:
      description: The secrets related to a DataBox.
      properties:
        accountCredentialDetails:
          description: Per account level access credentials.
          items:
            $ref: '#/components/schemas/AccountCredentialDetails'
          readOnly: true
          type: array
        devicePassword:
          description: Password for out of the box experience on device.
          readOnly: true
          type: string
        deviceSerialNumber:
          description: Serial number of the assigned device.
          readOnly: true
          type: string
        encodedValidationCertPubKey:
          description: The base 64 encoded public key to authenticate with the device
          readOnly: true
          type: string
        networkConfigurations:
          description: Network configuration of the appliance.
          items:
            $ref: '#/components/schemas/ApplianceNetworkConfiguration'
          readOnly: true
          type: array
      type: object
    DataDestinationDetailsValidationRequest:
      allOf:
        - $ref: '#/components/schemas/ValidationInputRequest'
      description: Request to validate data destination details.
      properties:
        destinationAccountDetails:
          description: Destination account details list.
          items:
            $ref: '#/components/schemas/DestinationAccountDetails'
          type: array
        location:
          description: Location of stamp or geo.
          type: string
      required:
        - destinationAccountDetails
        - location
        - validationType
      type: object
      x-ms-discriminator-value: ValidateDataDestinationDetails
    DataDestinationDetailsValidationResponseProperties:
      allOf:
        - $ref: '#/components/schemas/ValidationInputResponse'
      description: Properties of data destination details validation response.
      properties:
        status:
          description: Data destination details validation status.
          enum:
            - Valid
            - Invalid
            - Skipped
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationStatus
            values:
              - description: Validation is successful
                value: Valid
              - description: Validation is not successful
                value: Invalid
              - description: Validation is skipped
                value: Skipped
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidateDataDestinationDetails
    DataboxJobSecrets:
      allOf:
        - $ref: '#/components/schemas/JobSecrets'
      description: The secrets related to a databox job.
      properties:
        podSecrets:
          description: Contains the list of secret objects for a job.
          items:
            $ref: '#/components/schemas/DataBoxSecret'
          type: array
      required:
        - jobSecretsType
      type: object
      x-ms-discriminator-value: DataBox
    DcAccessSecurityCode:
      description: Dc Access Security code for device.
      properties:
        forwardDCAccessCode:
          description: Dc Access Code for dispatching from DC.
          type: string
        reverseDCAccessCode:
          description: Dc Access code for dropping off at DC.
          type: string
      type: object
    DestinationAccountDetails:
      description: Details of the destination storage accounts.
      discriminator:
        propertyName: dataDestinationType
      properties:
        accountId:
          description: Arm Id of the destination where the data has to be moved.
          type: string
        dataDestinationType:
          description: Data Destination Type.
          enum:
            - StorageAccount
            - ManagedDisk
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: DataDestinationType
            values:
              - description: Storage Accounts .
                value: StorageAccount
              - description: Azure Managed disk storage.
                value: ManagedDisk
        sharePassword:
          description: Share password to be shared by all shares in SA.
          type: string
      required:
        - dataDestinationType
      type: object
    DestinationManagedDiskDetails:
      allOf:
        - $ref: '#/components/schemas/DestinationAccountDetails'
      description: Details for the destination compute disks.
      properties:
        resourceGroupId:
          description: >-
            Destination Resource Group Id where the Compute disks should be
            created.
          type: string
        stagingStorageAccountId:
          description: >-
            Arm Id of the storage account that can be used to copy the vhd for
            staging.
          type: string
      required:
        - resourceGroupId
        - stagingStorageAccountId
        - dataDestinationType
      type: object
      x-ms-discriminator-value: ManagedDisk
    DestinationStorageAccountDetails:
      allOf:
        - $ref: '#/components/schemas/DestinationAccountDetails'
      description: Details for the destination storage account.
      properties:
        storageAccountId:
          description: Destination Storage Account Arm Id.
          type: string
      required:
        - storageAccountId
        - dataDestinationType
      type: object
      x-ms-discriminator-value: StorageAccount
    DestinationToServiceLocationMap:
      description: Map of destination location to service location.
      properties:
        destinationLocation:
          description: Location of the destination.
          readOnly: true
          type: string
        serviceLocation:
          description: Location of the service.
          readOnly: true
          type: string
      type: object
    DiskScheduleAvailabilityRequest:
      allOf:
        - $ref: '#/components/schemas/ScheduleAvailabilityRequest'
      description: Request body to get the availability for scheduling disk orders.
      properties:
        expectedDataSizeInTeraBytes:
          description: >-
            The expected size of the data, which needs to be transferred in this
            job, in terabytes.
          format: int32
          type: integer
      required:
        - expectedDataSizeInTeraBytes
        - storageLocation
        - skuName
      type: object
      x-ms-discriminator-value: DataBoxDisk
    DiskSecret:
      description: Contains all the secrets of a Disk.
      properties:
        bitLockerKey:
          description: >-
            Bit Locker key of the disk which can be used to unlock the disk to
            copy data.
          readOnly: true
          type: string
        diskSerialNumber:
          description: Serial number of the assigned disk.
          readOnly: true
          type: string
      type: object
    Error:
      description: Top level error for the job.
      properties:
        code:
          description: Error code that can be used to programmatically identify the error.
          readOnly: true
          type: string
        message:
          description: Describes the error in detail and provides debugging information.
          readOnly: true
          type: string
      type: object
    HeavyScheduleAvailabilityRequest:
      allOf:
        - $ref: '#/components/schemas/ScheduleAvailabilityRequest'
      description: Request body to get the availability for scheduling heavy orders.
      properties: {}
      required:
        - storageLocation
        - skuName
      type: object
      x-ms-discriminator-value: DataBoxHeavy
    JobDeliveryInfo:
      description: Additional delivery info.
      properties:
        scheduledDateTime:
          description: Scheduled date time.
          format: date-time
          type: string
      type: object
    JobDetails:
      description: Job details.
      discriminator:
        propertyName: jobDetailsType
      properties:
        chainOfCustodySasKey:
          description: Shared access key to download the chain of custody logs
          readOnly: true
          type: string
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
          description: Contact details for notification and shipping.
        copyLogDetails:
          description: List of copy log details.
          items:
            $ref: '#/components/schemas/CopyLogDetails'
          readOnly: true
          type: array
        deliveryPackage:
          $ref: '#/components/schemas/PackageShippingDetails'
          description: Delivery package shipping details.
          readOnly: true
        destinationAccountDetails:
          description: Destination account details.
          items:
            $ref: '#/components/schemas/DestinationAccountDetails'
          type: array
        errorDetails:
          description: Error details for failure. This is optional.
          items:
            $ref: '#/components/schemas/JobErrorDetails'
          readOnly: true
          type: array
        expectedDataSizeInTeraBytes:
          description: >-
            The expected size of the data, which needs to be transferred in this
            job, in terabytes.
          format: int32
          type: integer
        jobDetailsType:
          description: Indicates the type of job details.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: false
            name: ClassDiscriminator
            values:
              - description: Databox orders.
                value: DataBox
              - description: DataboxDisk orders.
                value: DataBoxDisk
              - description: DataboxHeavy orders.
                value: DataBoxHeavy
        jobStages:
          description: List of stages that run in the job.
          items:
            $ref: '#/components/schemas/JobStages'
          readOnly: true
          type: array
        preferences:
          $ref: '#/components/schemas/Preferences'
          description: Preferences for the order.
        returnPackage:
          $ref: '#/components/schemas/PackageShippingDetails'
          description: Return package shipping details.
          readOnly: true
        reverseShipmentLabelSasKey:
          description: Shared access key to download the return shipment label
          readOnly: true
          type: string
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
          description: Shipping address of the customer.
      required:
        - contactDetails
        - shippingAddress
        - destinationAccountDetails
        - jobDetailsType
      type: object
    JobErrorDetails:
      description: Job Error Details for providing the information and recommended action.
      properties:
        errorCode:
          description: Code for the error.
          format: int32
          readOnly: true
          type: integer
        errorMessage:
          description: Message for the error.
          readOnly: true
          type: string
        exceptionMessage:
          description: Contains the non localized exception message
          readOnly: true
          type: string
        recommendedAction:
          description: Recommended action for the error.
          readOnly: true
          type: string
      type: object
    JobProperties:
      description: Job Properties
      properties:
        cancellationReason:
          description: Reason for cancellation.
          readOnly: true
          type: string
        deliveryInfo:
          $ref: '#/components/schemas/JobDeliveryInfo'
          description: Delivery Info of Job.
        deliveryType:
          default: NonScheduled
          description: Delivery type of Job.
          enum:
            - NonScheduled
            - Scheduled
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: JobDeliveryType
            values:
              - description: Non Scheduled job.
                value: NonScheduled
              - description: Scheduled job.
                value: Scheduled
        details:
          $ref: '#/components/schemas/JobDetails'
          description: >-
            Details of a job run. This field will only be sent for expand
            details filter.
        error:
          $ref: '#/components/schemas/Error'
          description: Top level error for the job.
          readOnly: true
        isCancellable:
          description: Describes whether the job is cancellable or not.
          readOnly: true
          type: boolean
        isCancellableWithoutFee:
          description: Flag to indicate cancellation of scheduled job.
          readOnly: true
          type: boolean
        isDeletable:
          description: Describes whether the job is deletable or not.
          readOnly: true
          type: boolean
        isShippingAddressEditable:
          description: Describes whether the shipping address is editable or not.
          readOnly: true
          type: boolean
        startTime:
          description: Time at which the job was started in UTC ISO 8601 format.
          format: date-time
          readOnly: true
          type: string
        status:
          description: Name of the stage which is in progress.
          enum:
            - DeviceOrdered
            - DevicePrepared
            - Dispatched
            - Delivered
            - PickedUp
            - AtAzureDC
            - DataCopy
            - Completed
            - CompletedWithErrors
            - Cancelled
            - Failed_IssueReportedAtCustomer
            - Failed_IssueDetectedAtAzureDC
            - Aborted
            - CompletedWithWarnings
            - ReadyToDispatchFromAzureDC
            - ReadyToReceiveAtAzureDC
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: StageName
            values:
              - description: An order has been created.
                value: DeviceOrdered
              - description: A device has been prepared for the order.
                value: DevicePrepared
              - description: Device has been dispatched to the user of the order.
                value: Dispatched
              - description: Device has been delivered to the user of the order.
                value: Delivered
              - description: >-
                  Device has been picked up from user and in transit to azure
                  datacenter.
                value: PickedUp
              - description: Device has been received at azure datacenter from the user.
                value: AtAzureDC
              - description: Data copy from the device at azure datacenter.
                value: DataCopy
              - description: Order has completed.
                value: Completed
              - description: Order has completed with errors.
                value: CompletedWithErrors
              - description: Order has been cancelled.
                value: Cancelled
              - description: Order has failed due to issue reported by user.
                value: Failed_IssueReportedAtCustomer
              - description: Order has failed due to issue detected at azure datacenter.
                value: Failed_IssueDetectedAtAzureDC
              - description: Order has been aborted.
                value: Aborted
              - description: Order has completed with warnings.
                value: CompletedWithWarnings
              - description: Device is ready to be handed to customer from Azure DC.
                value: ReadyToDispatchFromAzureDC
              - description: Device can be dropped off at Azure DC.
                value: ReadyToReceiveAtAzureDC
      type: object
    JobResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Job Resource.
      properties:
        id:
          description: Id of the object.
          readOnly: true
          type: string
        name:
          description: Name of the object.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/JobProperties'
          description: Properties of a job.
          x-ms-client-flatten: true
        type:
          description: Type of the object.
          readOnly: true
          type: string
      required:
        - properties
      type: object
    JobResourceList:
      description: Job Resource Collection
      properties:
        nextLink:
          description: Link for the next set of job resources.
          type: string
        value:
          description: List of job resources.
          items:
            $ref: '#/components/schemas/JobResource'
          type: array
      type: object
    JobResourceUpdateParameter:
      description: The JobResourceUpdateParameter.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            The list of key value pairs that describe the resource. These tags
            can be used in viewing and grouping this resource (across resource
            groups).
          type: object
        properties:
          $ref: '#/components/schemas/UpdateJobProperties'
          description: Properties of a job to be updated.
          x-ms-client-flatten: true
      type: object
    JobSecrets:
      description: The base class for the secrets
      discriminator:
        propertyName: jobSecretsType
      properties:
        dcAccessSecurityCode:
          $ref: '#/components/schemas/DcAccessSecurityCode'
          description: Dc Access Security Code for Customer Managed Shipping
        jobSecretsType:
          description: Used to indicate what type of job secrets object.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: false
            name: ClassDiscriminator
            values:
              - description: Databox orders.
                value: DataBox
              - description: DataboxDisk orders.
                value: DataBoxDisk
              - description: DataboxHeavy orders.
                value: DataBoxHeavy
      required:
        - jobSecretsType
      type: object
    JobStages:
      description: Job stages.
      properties:
        displayName:
          description: Display name of the job stage.
          readOnly: true
          type: string
        errorDetails:
          description: Error details for the stage.
          items:
            $ref: '#/components/schemas/JobErrorDetails'
          readOnly: true
          type: array
        jobStageDetails:
          description: Job Stage Details
          readOnly: true
          type: object
        stageName:
          description: Name of the job stage.
          enum:
            - DeviceOrdered
            - DevicePrepared
            - Dispatched
            - Delivered
            - PickedUp
            - AtAzureDC
            - DataCopy
            - Completed
            - CompletedWithErrors
            - Cancelled
            - Failed_IssueReportedAtCustomer
            - Failed_IssueDetectedAtAzureDC
            - Aborted
            - CompletedWithWarnings
            - ReadyToDispatchFromAzureDC
            - ReadyToReceiveAtAzureDC
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: StageName
            values:
              - description: An order has been created.
                value: DeviceOrdered
              - description: A device has been prepared for the order.
                value: DevicePrepared
              - description: Device has been dispatched to the user of the order.
                value: Dispatched
              - description: Device has been delivered to the user of the order.
                value: Delivered
              - description: >-
                  Device has been picked up from user and in transit to azure
                  datacenter.
                value: PickedUp
              - description: Device has been received at azure datacenter from the user.
                value: AtAzureDC
              - description: Data copy from the device at azure datacenter.
                value: DataCopy
              - description: Order has completed.
                value: Completed
              - description: Order has completed with errors.
                value: CompletedWithErrors
              - description: Order has been cancelled.
                value: Cancelled
              - description: Order has failed due to issue reported by user.
                value: Failed_IssueReportedAtCustomer
              - description: Order has failed due to issue detected at azure datacenter.
                value: Failed_IssueDetectedAtAzureDC
              - description: Order has been aborted.
                value: Aborted
              - description: Order has completed with warnings.
                value: CompletedWithWarnings
              - description: Device is ready to be handed to customer from Azure DC.
                value: ReadyToDispatchFromAzureDC
              - description: Device can be dropped off at Azure DC.
                value: ReadyToReceiveAtAzureDC
        stageStatus:
          description: Status of the job stage.
          enum:
            - None
            - InProgress
            - Succeeded
            - Failed
            - Cancelled
            - Cancelling
            - SucceededWithErrors
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: StageStatus
            values:
              - description: No status available yet.
                value: None
              - description: Stage is in progress.
                value: InProgress
              - description: Stage has succeeded.
                value: Succeeded
              - description: Stage has failed.
                value: Failed
              - description: Stage has been cancelled.
                value: Cancelled
              - description: Stage is cancelling.
                value: Cancelling
              - description: Stage has succeeded with errors.
                value: SucceededWithErrors
        stageTime:
          description: Time for the job stage in UTC ISO 8601 format.
          format: date-time
          readOnly: true
          type: string
      type: object
    NotificationPreference:
      description: Notification preference for a job stage.
      properties:
        sendNotification:
          default: true
          description: Notification is required or not.
          type: boolean
        stageName:
          description: Name of the stage.
          enum:
            - DevicePrepared
            - Dispatched
            - Delivered
            - PickedUp
            - AtAzureDC
            - DataCopy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: NotificationStageName
            values:
              - description: Notification at device prepared stage.
                value: DevicePrepared
              - description: Notification at device dispatched stage.
                value: Dispatched
              - description: Notification at device delivered stage.
                value: Delivered
              - description: Notification at device picked up from user stage.
                value: PickedUp
              - description: Notification at device received at azure datacenter stage.
                value: AtAzureDC
              - description: Notification at data copy started stage.
                value: DataCopy
      required:
        - stageName
        - sendNotification
      type: object
    Operation:
      description: Operation entity.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: Operation display values.
          readOnly: true
        name:
          description: >-
            Name of the operation. Format:
            {resourceProviderNamespace}/{resourceType}/{read|write|delete|action}
          readOnly: true
          type: string
        origin:
          description: 'Origin of the operation. Can be : user|system|user,system'
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          description: Operation properties.
          readOnly: true
          x-ms-client-flatten: true
      type: object
    OperationDisplay:
      description: Operation display
      properties:
        description:
          description: Localized description of the operation for display purpose.
          type: string
        operation:
          description: Localized name of the operation for display purpose.
          type: string
        provider:
          description: Provider name.
          type: string
        resource:
          description: Resource name.
          type: string
      type: object
    OperationList:
      description: Operation Collection.
      properties:
        nextLink:
          description: Link for the next set of operations.
          type: string
        value:
          description: List of operations.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    OperationProperties:
      description: Operation properties.
      properties: {}
      type: object
    PackageShippingDetails:
      description: Shipping details.
      properties:
        carrierName:
          description: Name of the carrier.
          readOnly: true
          type: string
        trackingId:
          description: Tracking Id of shipment.
          readOnly: true
          type: string
        trackingUrl:
          description: Url where shipment can be tracked.
          readOnly: true
          type: string
      type: object
    Preferences:
      description: Preferences related to the order
      properties:
        preferredDataCenterRegion:
          description: Preferred Data Center Region.
          items:
            type: string
          type: array
        transportPreferences:
          $ref: '#/components/schemas/TransportPreferences'
          description: Preferences related to the shipment logistics of the sku.
      type: object
    PreferencesValidationRequest:
      allOf:
        - $ref: '#/components/schemas/ValidationInputRequest'
      description: Request to validate preference of transport and data center.
      properties:
        deviceType:
          description: Device type to be used for the job.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Data Box.
                value: DataBox
              - description: Data Box Disk.
                value: DataBoxDisk
              - description: Data Box Heavy.
                value: DataBoxHeavy
        preference:
          $ref: '#/components/schemas/Preferences'
          description: Preference requested with respect to transport type and data center
      required:
        - deviceType
        - validationType
      type: object
      x-ms-discriminator-value: ValidatePreferences
    PreferencesValidationResponseProperties:
      allOf:
        - $ref: '#/components/schemas/ValidationInputResponse'
      description: Properties of data center and transport preference validation response.
      properties:
        status:
          description: Validation status of requested data center and transport.
          enum:
            - Valid
            - Invalid
            - Skipped
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationStatus
            values:
              - description: Validation is successful
                value: Valid
              - description: Validation is not successful
                value: Invalid
              - description: Validation is skipped
                value: Skipped
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidatePreferences
    RegionConfigurationRequest:
      description: Request body to get the configuration for the region.
      properties:
        scheduleAvailabilityRequest:
          $ref: '#/components/schemas/ScheduleAvailabilityRequest'
          description: Request body to get the availability for scheduling orders.
        transportAvailabilityRequest:
          $ref: '#/components/schemas/TransportAvailabilityRequest'
          description: Request body to get the transport availability for given sku.
      type: object
    RegionConfigurationResponse:
      description: Configuration response specific to a region.
      properties:
        scheduleAvailabilityResponse:
          $ref: '#/components/schemas/ScheduleAvailabilityResponse'
          description: Schedule availability for given sku in a region.
          readOnly: true
        transportAvailabilityResponse:
          $ref: '#/components/schemas/TransportAvailabilityResponse'
          description: Transport options available for given sku in a region.
          readOnly: true
      type: object
    Resource:
      description: Model of the Resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            The list of key value pairs that describe the resource. These tags
            can be used in viewing and grouping this resource (across resource
            groups).
          type: object
        location:
          description: >-
            The location of the resource. This will be one of the supported and
            registered Azure Regions (e.g. West US, East US, Southeast Asia,
            etc.). The region of a resource cannot be changed once it is
            created, but if an identical region is specified on update the
            request will succeed.
          type: string
          x-ms-mutability:
            - read
            - create
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku type.
      required:
        - location
        - sku
      type: object
      x-ms-azure-resource: true
    ScheduleAvailabilityRequest:
      description: Request body to get the availability for scheduling orders.
      discriminator:
        propertyName: skuName
      properties:
        skuName:
          description: Sku Name for which the order is to be scheduled.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Data Box.
                value: DataBox
              - description: Data Box Disk.
                value: DataBoxDisk
              - description: Data Box Heavy.
                value: DataBoxHeavy
        storageLocation:
          description: "Location for data transfer. \r\nFor locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01"
          type: string
      required:
        - storageLocation
        - skuName
      type: object
    ScheduleAvailabilityResponse:
      description: Schedule availability response for given sku in a region.
      properties:
        availableDates:
          description: List of dates available to schedule
          items:
            format: date-time
            type: string
          readOnly: true
          type: array
      type: object
    ShareCredentialDetails:
      description: Credential details of the shares in account.
      properties:
        password:
          description: Password for the share.
          readOnly: true
          type: string
        shareName:
          description: Name of the share.
          readOnly: true
          type: string
        shareType:
          description: Type of the share.
          enum:
            - UnknownType
            - HCS
            - BlockBlob
            - PageBlob
            - AzureFile
            - ManagedDisk
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ShareDestinationFormatType
            values:
              - description: Unknown format.
                value: UnknownType
              - description: Storsimple data format.
                value: HCS
              - description: Azure storage block blob format.
                value: BlockBlob
              - description: Azure storage page blob format.
                value: PageBlob
              - description: Azure storage file format.
                value: AzureFile
              - description: Azure Compute Disk.
                value: ManagedDisk
        supportedAccessProtocols:
          description: Access protocols supported on the device.
          items:
            enum:
              - SMB
              - NFS
            type: string
            x-ms-enum:
              modelAsExtensible: true
              name: AccessProtocol
              values:
                - description: Server Message Block protocol(SMB).
                  value: SMB
                - description: Network File System protocol(NFS).
                  value: NFS
          readOnly: true
          type: array
        userName:
          description: User name for the share.
          readOnly: true
          type: string
      type: object
    ShipmentPickUpRequest:
      description: Shipment pick up request details.
      properties:
        endTime:
          description: >-
            Maximum date before which the pick up should commence, this must be
            in local time of pick up area.
          format: date-time
          type: string
        shipmentLocation:
          description: Shipment Location in the pickup place. Eg.front desk
          type: string
        startTime:
          description: >-
            Minimum date after which the pick up should commence, this must be
            in local time of pick up area.
          format: date-time
          type: string
      required:
        - startTime
        - endTime
        - shipmentLocation
      type: object
    ShipmentPickUpResponse:
      description: Shipment pick up response.
      properties:
        confirmationNumber:
          description: Confirmation number for the pick up request.
          readOnly: true
          type: string
        readyByTime:
          description: >-
            Time by which shipment should be ready for pick up, this is in local
            time of pick up area.
          format: date-time
          readOnly: true
          type: string
      type: object
    ShippingAddress:
      description: Shipping address where customer wishes to receive the device.
      properties:
        addressType:
          default: None
          description: Type of address.
          enum:
            - None
            - Residential
            - Commercial
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: AddressType
            values:
              - description: Address type not known.
                value: None
              - description: Residential Address.
                value: Residential
              - description: Commercial Address.
                value: Commercial
        city:
          description: Name of the City.
          type: string
        companyName:
          description: Name of the company.
          type: string
        country:
          description: Name of the Country.
          type: string
        postalCode:
          description: Postal code.
          type: string
        stateOrProvince:
          description: Name of the State or Province.
          type: string
        streetAddress1:
          description: Street Address line 1.
          type: string
        streetAddress2:
          description: Street Address line 2.
          type: string
        streetAddress3:
          description: Street Address line 3.
          type: string
        zipExtendedCode:
          description: Extended Zip Code.
          type: string
      required:
        - streetAddress1
        - country
        - postalCode
      type: object
    Sku:
      description: The Sku.
      properties:
        displayName:
          description: The display name of the sku.
          type: string
        family:
          description: The sku family.
          type: string
        name:
          description: The sku name.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Databox.
                value: DataBox
              - description: DataboxDisk.
                value: DataBoxDisk
              - description: DataboxHeavy.
                value: DataBoxHeavy
      required:
        - name
      type: object
    SkuAvailabilityValidationRequest:
      allOf:
        - $ref: '#/components/schemas/ValidationInputRequest'
      description: Request to validate sku availability.
      properties:
        country:
          description: >-
            ISO country code. Country for hardware shipment. For codes check:
            https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements
          type: string
        deviceType:
          description: Device type to be used for the job.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Data Box.
                value: DataBox
              - description: Data Box Disk.
                value: DataBoxDisk
              - description: Data Box Heavy.
                value: DataBoxHeavy
        location:
          description: >-
            Location for data transfer. For locations check:
            https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01
          type: string
        transferType:
          description: Type of the transfer.
          enum:
            - ImportToAzure
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: TransferType
            values:
              - description: Import data to azure.
                value: ImportToAzure
      required:
        - deviceType
        - transferType
        - country
        - location
        - validationType
      type: object
      x-ms-discriminator-value: ValidateSkuAvailability
    SkuAvailabilityValidationResponseProperties:
      allOf:
        - $ref: '#/components/schemas/ValidationInputResponse'
      description: Properties of sku availability validation response.
      properties:
        status:
          description: Sku availability validation status.
          enum:
            - Valid
            - Invalid
            - Skipped
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationStatus
            values:
              - description: Validation is successful
                value: Valid
              - description: Validation is not successful
                value: Invalid
              - description: Validation is skipped
                value: Skipped
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidateSkuAvailability
    SkuCapacity:
      description: Capacity of the sku.
      properties:
        maximum:
          description: Maximum capacity in TB.
          readOnly: true
          type: string
        usable:
          description: Usable capacity in TB.
          readOnly: true
          type: string
      type: object
    SkuCost:
      description: Describes metadata for retrieving price info.
      properties:
        meterId:
          description: Meter id of the Sku.
          readOnly: true
          type: string
        meterType:
          description: The type of the meter.
          readOnly: true
          type: string
      type: object
    SkuInformation:
      description: Information of the sku.
      properties:
        enabled:
          description: The sku is enabled or not.
          readOnly: true
          type: boolean
        properties:
          $ref: '#/components/schemas/SkuProperties'
          description: Properties of the sku.
          readOnly: true
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
          description: The Sku.
          readOnly: true
      type: object
    SkuProperties:
      description: Properties of the sku.
      properties:
        apiVersions:
          description: Api versions that support this Sku.
          items:
            type: string
          readOnly: true
          type: array
        capacity:
          $ref: '#/components/schemas/SkuCapacity'
          description: Capacity of the Sku.
          readOnly: true
        costs:
          description: Cost of the Sku.
          items:
            $ref: '#/components/schemas/SkuCost'
          readOnly: true
          type: array
        destinationToServiceLocationMap:
          description: The map of destination location to service location.
          items:
            $ref: '#/components/schemas/DestinationToServiceLocationMap'
          readOnly: true
          type: array
        disabledReason:
          description: Reason why the Sku is disabled.
          enum:
            - None
            - Country
            - Region
            - Feature
            - OfferType
            - NoSubscriptionInfo
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuDisabledReason
            values:
              - description: SKU is not disabled.
                value: None
              - description: SKU is not available in the requested country.
                value: Country
              - description: >-
                  SKU is not available to push data to the requested Azure
                  region.
                value: Region
              - description: Required features are not enabled for the SKU.
                value: Feature
              - description: Subscription does not have required offer types for the SKU.
                value: OfferType
              - description: >-
                  Subscription has not registered to Microsoft.DataBox and
                  Service does not have the subscription notification.
                value: NoSubscriptionInfo
        disabledReasonMessage:
          description: Message for why the Sku is disabled.
          readOnly: true
          type: string
        requiredFeature:
          description: Required feature to access the sku.
          readOnly: true
          type: string
      type: object
    SubscriptionIsAllowedToCreateJobValidationRequest:
      allOf:
        - $ref: '#/components/schemas/ValidationInputRequest'
      description: Request to validate subscription permission to create jobs.
      properties: {}
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidateSubscriptionIsAllowedToCreateJob
    SubscriptionIsAllowedToCreateJobValidationResponseProperties:
      allOf:
        - $ref: '#/components/schemas/ValidationInputResponse'
      description: Properties of subscription permission to create job validation response.
      properties:
        status:
          description: Validation status of subscription permission to create job.
          enum:
            - Valid
            - Invalid
            - Skipped
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationStatus
            values:
              - description: Validation is successful
                value: Valid
              - description: Validation is not successful
                value: Invalid
              - description: Validation is skipped
                value: Skipped
      required:
        - validationType
      type: object
      x-ms-discriminator-value: ValidateSubscriptionIsAllowedToCreateJob
    TransportAvailabilityDetails:
      description: Transport options availability details for given region.
      properties:
        shipmentType:
          description: Transport Shipment Type supported for given region.
          enum:
            - CustomerManaged
            - MicrosoftManaged
          readOnly: true
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: TransportShipmentTypes
            values:
              - description: Shipment Logistics is handled by the customer.
                value: CustomerManaged
              - description: Shipment Logistics is handled by Microsoft.
                value: MicrosoftManaged
      type: object
    TransportAvailabilityRequest:
      description: Request body to get the transport availability for given sku.
      properties:
        skuName:
          description: Type of the device.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Data Box.
                value: DataBox
              - description: Data Box Disk.
                value: DataBoxDisk
              - description: Data Box Heavy.
                value: DataBoxHeavy
      type: object
    TransportAvailabilityResponse:
      description: Transport options available for given sku in a region.
      properties:
        transportAvailabilityDetails:
          description: List of transport availability details for given region
          items:
            $ref: '#/components/schemas/TransportAvailabilityDetails'
          readOnly: true
          type: array
      type: object
    TransportPreferences:
      description: Preferences related to the shipment logistics of the sku
      properties:
        preferredShipmentType:
          description: Indicates Shipment Logistics type that the customer preferred.
          enum:
            - CustomerManaged
            - MicrosoftManaged
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: TransportShipmentTypes
            values:
              - description: Shipment Logistics is handled by the customer.
                value: CustomerManaged
              - description: Shipment Logistics is handled by Microsoft.
                value: MicrosoftManaged
      required:
        - preferredShipmentType
      type: object
    UnencryptedCredentials:
      description: Unencrypted credentials for accessing device.
      properties:
        jobName:
          description: Name of the job.
          readOnly: true
          type: string
        jobSecrets:
          $ref: '#/components/schemas/JobSecrets'
          description: Secrets related to this job.
          readOnly: true
      type: object
    UnencryptedCredentialsList:
      description: List of unencrypted credentials for accessing device.
      properties:
        nextLink:
          description: Link for the next set of unencrypted credentials.
          type: string
        value:
          description: List of unencrypted credentials.
          items:
            $ref: '#/components/schemas/UnencryptedCredentials'
          type: array
      type: object
    UpdateJobDetails:
      description: Job details for update.
      properties:
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
          description: Contact details for notification and shipping.
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
          description: Shipping address of the customer.
      type: object
    UpdateJobProperties:
      description: Job Properties for update
      properties:
        destinationAccountDetails:
          description: Destination account details.
          items:
            $ref: '#/components/schemas/DestinationAccountDetails'
          type: array
        details:
          $ref: '#/components/schemas/UpdateJobDetails'
          description: Details of a job to be updated.
      type: object
    ValidateAddress:
      allOf:
        - $ref: '#/components/schemas/ValidationInputRequest'
      description: >-
        The requirements to validate customer address where the device needs to
        be shipped.
      properties:
        deviceType:
          description: Device type to be used for the job.
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: Databox.
                value: DataBox
              - description: DataboxDisk.
                value: DataBoxDisk
              - description: DataboxHeavy.
                value: DataBoxHeavy
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
          description: Shipping address of the customer.
        transportPreferences:
          $ref: '#/components/schemas/TransportPreferences'
          description: Preferences related to the shipment logistics of the sku.
      required:
        - shippingAddress
        - deviceType
        - validationType
      type: object
      x-ms-discriminator-value: ValidateAddress
    ValidationInputRequest:
      description: Minimum fields that must be present in any type of validation request.
      discriminator:
        propertyName: validationType
      properties:
        validationType:
          description: Identifies the type of validation request.
          enum:
            - ValidateAddress
            - ValidateDataDestinationDetails
            - ValidateSubscriptionIsAllowedToCreateJob
            - ValidatePreferences
            - ValidateCreateOrderLimit
            - ValidateSkuAvailability
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationInputDiscriminator
            values:
              - description: Identify request and response of address validation.
                value: ValidateAddress
              - description: >-
                  Identify request and response of data destination details
                  validation.
                value: ValidateDataDestinationDetails
              - description: >-
                  Identify request and response for validation of subscription
                  permission to create job.
                value: ValidateSubscriptionIsAllowedToCreateJob
              - description: Identify request and response of preference validation.
                value: ValidatePreferences
              - description: >-
                  Identify request and response of create order limit for
                  subscription validation.
                value: ValidateCreateOrderLimit
              - description: >-
                  Identify request and response of active job limit for sku
                  availability.
                value: ValidateSkuAvailability
      required:
        - validationType
      type: object
    ValidationInputResponse:
      description: >-
        Minimum properties that should be present in each individual validation
        response.
      discriminator:
        propertyName: validationType
      properties:
        error:
          $ref: '#/components/schemas/Error'
          description: Error code and message of validation response.
          readOnly: true
        validationType:
          description: Identifies the type of validation response.
          enum:
            - ValidateAddress
            - ValidateDataDestinationDetails
            - ValidateSubscriptionIsAllowedToCreateJob
            - ValidatePreferences
            - ValidateCreateOrderLimit
            - ValidateSkuAvailability
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationInputDiscriminator
            values:
              - description: Identify request and response of address validation.
                value: ValidateAddress
              - description: >-
                  Identify request and response of data destination details
                  validation.
                value: ValidateDataDestinationDetails
              - description: >-
                  Identify request and response for validation of subscription
                  permission to create job.
                value: ValidateSubscriptionIsAllowedToCreateJob
              - description: Identify request and response of preference validation.
                value: ValidatePreferences
              - description: >-
                  Identify request and response of create order limit for
                  subscription validation.
                value: ValidateCreateOrderLimit
              - description: >-
                  Identify request and response of active job limit for sku
                  availability.
                value: ValidateSkuAvailability
      required:
        - validationType
      type: object
    ValidationRequest:
      description: Input request for all pre job creation validation.
      discriminator:
        propertyName: validationCategory
      properties:
        individualRequestDetails:
          description: >-
            List of request details contain validationType and its request as
            key and value respectively.
          items:
            $ref: '#/components/schemas/ValidationInputRequest'
          type: array
        validationCategory:
          description: Identify the nature of validation.
          enum:
            - JobCreationValidation
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: ValidationCategory
            values:
              - description: Identify request of pre-job creation validations.
                value: JobCreationValidation
      required:
        - validationCategory
        - individualRequestDetails
      type: object
    ValidationResponse:
      description: Response of pre job creation validations.
      properties:
        properties:
          $ref: '#/components/schemas/ValidationResponseProperties'
          description: Properties of pre job creation validation response.
          readOnly: true
[...]
