{
  "openapi": "3.0.0",
  "info": {
    "description": "API to Add/Remove/List Guest Diagnostics Configuration to Azure Resources",
    "title": "Guest Diagnostic Settings API",
    "version": "2018-06-01-preview",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettings_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/guestDiagnosticSettings": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsList"
                }
              }
            },
            "description": "The request succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the list of guest diagnostic settings could not be retrieved."
          }
        },
        "description": "Get a list of all guest diagnostic settings in a subscription.",
        "operationId": "guestDiagnosticsSettings_List",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettings": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsList"
                }
              }
            },
            "description": "The request succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the list of guest diagnostic settings could not be retrieved."
          }
        },
        "description": "Get a list of all guest diagnostic settings in a resource group.",
        "operationId": "guestDiagnosticsSettings_ListByResourceGroup",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettings/{diagnosticSettingsName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The diagnostic settings was successfully deleted."
          },
          "204": {
            "description": "The diagnostic settings does not exist. It may have already been deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the diagnostic settings could not be deleted."
          }
        },
        "tags": [
          "GuestDiagnosticsSettings"
        ],
        "description": "Delete guest diagnostics settings.",
        "operationId": "guestDiagnosticsSettings_Delete"
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
                }
              }
            },
            "description": "The request succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the diagnostic settings could not be retrieved."
          }
        },
        "tags": [
          "GuestDiagnosticsSettings"
        ],
        "description": "Gets guest diagnostics settings.",
        "operationId": "guestDiagnosticsSettings_Get"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
                }
              }
            },
            "description": "An existing guest diagnostic settings was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
                }
              }
            },
            "description": "A new guest diagnostic settings was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the guest diagnostic settings could not be created or updated."
          }
        },
        "description": "Updates guest diagnostics settings.",
        "operationId": "guestDiagnosticsSettings_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestDiagnosticSettingsPatchResource"
              }
            }
          },
          "description": "The configuration to patch.",
          "required": true
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DiagnosticSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
                }
              }
            },
            "description": "An existing guest diagnostic settings was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
                }
              }
            },
            "description": "A new guest diagnostic settings was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurred and the guest diagnostic settings could not be created or updated."
          }
        },
        "tags": [
          "GuestDiagnosticsSettings"
        ],
        "description": "Creates or updates guest diagnostics settings.",
        "operationId": "guestDiagnosticsSettings_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
              }
            }
          },
          "description": "The configuration to create or update.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a guest diagnostic settings": {
            "$ref": "./examples/createOrUpdateGuestDiagnosticSettings.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DiagnosticSettingNameParameter": {
        "description": "The name of the diagnostic setting.",
        "in": "path",
        "name": "diagnosticSettingsName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DataSource": {
        "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
        "properties": {
          "configuration": {
            "$ref": "#/components/schemas/DataSourceConfiguration",
            "type": "object"
          },
          "kind": {
            "description": "Datasource kind",
            "enum": [
              "PerformanceCounter",
              "ETWProviders",
              "WindowsEventLogs"
            ],
            "type": "string"
          },
          "sinks": {
            "items": {
              "$ref": "#/components/schemas/SinkConfiguration"
            },
            "type": "array"
          }
        },
        "required": [
          "kind",
          "configuration",
          "sinks"
        ],
        "type": "object"
      },
      "DataSourceConfiguration": {
        "properties": {
          "eventLogs": {
            "description": "Windows event logs configuration.",
            "items": {
              "$ref": "#/components/schemas/EventLogConfiguration"
            },
            "type": "array"
          },
          "perfCounters": {
            "description": "Performance counter configuration",
            "items": {
              "$ref": "#/components/schemas/PerformanceCounterConfiguration"
            },
            "type": "array"
          },
          "providers": {
            "description": "ETW providers configuration",
            "items": {
              "$ref": "#/components/schemas/EtwProviderConfiguration"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EtwEventConfiguration": {
        "properties": {
          "filter": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "id"
        ],
        "type": "object"
      },
      "EtwProviderConfiguration": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/EtwEventConfiguration"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "events"
        ],
        "type": "object"
      },
      "EventLogConfiguration": {
        "properties": {
          "filter": {
            "type": "string"
          },
          "logName": {
            "type": "string"
          }
        },
        "required": [
          "logName"
        ],
        "type": "object"
      },
      "GuestDiagnosticSettings": {
        "description": "Virtual machine diagnostic settings",
        "properties": {
          "dataSources": {
            "description": "the array of data source object which are configured to collect and send data",
            "items": {
              "$ref": "#/components/schemas/DataSource"
            },
            "type": "array"
          },
          "osType": {
            "description": "Operating system type for the configuration",
            "enum": [
              "Windows",
              "Linux"
            ],
            "type": "string"
          },
          "proxySetting": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GuestDiagnosticSettingsList": {
        "description": "A list of guest diagnostic settings.",
        "properties": {
          "nextLink": {
            "description": "Provides the link to retrieve the next set of elements.",
            "type": "string"
          },
          "value": {
            "description": "The list of guest diagnostic settings.",
            "items": {
              "$ref": "#/components/schemas/GuestDiagnosticSettingsResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GuestDiagnosticSettingsPatchResource": {
        "description": "An diagnostic settings object for the body of patch operations.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "properties": {
            "$ref": "#/components/schemas/GuestDiagnosticSettings",
            "description": "The diagnostic settings for an update operation.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "GuestDiagnosticSettingsResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Virtual machine guest diagnostics settings resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/GuestDiagnosticSettings",
            "description": "The diagnostic settings to be applied to azure resources.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "PerformanceCounterConfiguration": {
        "properties": {
          "instance": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "samplingPeriod": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "samplingPeriod"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "An azure resource object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "id": {
            "description": "Azure resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "Azure resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SinkConfiguration": {
        "properties": {
          "kind": {
            "enum": [
              "EventHub",
              "ApplicationInsights",
              "LogAnalytics"
            ],
            "type": "string"
          }
        },
        "required": [
          "kind"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}