{
  "openapi": "3.0.0",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2017-12-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-12-01-preview/metricNamespaces_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/metricNamespaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/StartTimeParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricNamespaceCollection"
                }
              }
            },
            "description": "Successful request to get the list of metric namespaces"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "metricNamespaces"
        ],
        "description": "Lists the metric namespaces for the resource.",
        "operationId": "MetricNamespaces_List",
        "x-ms-examples": {
          "Get Metric Namespaces without filter": {
            "$ref": "./examples/GetMetricNamespaces.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ResourceUriParameter": {
        "allowReserved": true,
        "description": "The identifier of the resource.",
        "in": "path",
        "name": "resourceUri",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method",
        "x-ms-skip-url-encoding": true
      },
      "StartTimeParameter": {
        "description": "The ISO 8601 conform Date start time from which to query for metric namespaces.",
        "in": "query",
        "name": "startTime",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricNamespace": {
        "description": "Metric namespace class specifies the metadata for a metric namespace.",
        "properties": {
          "classification": {
            "$ref": "#/components/schemas/NamespaceClassification",
            "description": "Kind of namespace"
          },
          "id": {
            "description": "The ID of the metric namespace.",
            "type": "string"
          },
          "name": {
            "description": "The escaped name of the namespace.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/MetricNamespaceName",
            "description": "Properties which include the fully qualified namespace name."
          },
          "type": {
            "description": "The type of the namespace.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricNamespaceCollection": {
        "description": "Represents collection of metric namespaces.",
        "properties": {
          "value": {
            "description": "The values for the metric namespaces.",
            "items": {
              "$ref": "#/components/schemas/MetricNamespace"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "MetricNamespaceName": {
        "description": "The fully qualified metric namespace name.",
        "properties": {
          "metricNamespaceName": {
            "description": "The metric namespace name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NamespaceClassification": {
        "description": "Kind of namespace",
        "enum": [
          "Platform",
          "Custom",
          "Qos"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "NamespaceClassification"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}