{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these REST APIs for getting the network connectivity status of your Azure API Management deployment. When the API Management service is deployed inside a Virtual Network, it needs to have access to other Azure resources it depends on. This also gives details about the DNS Servers visible to Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2019-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimnetworkstatus.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/locations/{locationName}/networkstatus": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/LocationNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkStatusContract"
                }
              }
            },
            "description": "Gets the Network status details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NetworkStatus"
        ],
        "description": "Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.",
        "operationId": "NetworkStatus_ListByLocation",
        "x-ms-examples": {
          "ApiManagementServiceGetNetworkStatusByLocation": {
            "$ref": "./examples/ApiManagementServiceGetNetworkStatusByLocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of Network Status values.",
                  "items": {
                    "$ref": "#/components/schemas/NetworkStatusContractByLocation"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Gets the list Network status details for all regions in which service is deployed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NetworkStatus"
        ],
        "description": "Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.",
        "operationId": "NetworkStatus_ListByService",
        "x-ms-examples": {
          "ApiManagementServiceGetNetworkStatus": {
            "$ref": "./examples/ApiManagementServiceGetNetworkStatus.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConnectivityStatusContract": {
        "description": "Details about connectivity to a resource.",
        "properties": {
          "error": {
            "description": "Error details of the connectivity to the resource.",
            "type": "string"
          },
          "lastStatusChange": {
            "description": "The date when the resource connectivity status last Changed from success to failure or vice-versa. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
            "format": "date-time",
            "type": "string"
          },
          "lastUpdated": {
            "description": "The date when the resource connectivity status was last updated. This status should be updated every 15 minutes. If this status has not been updated, then it means that the service has lost network connectivity to the resource, from inside the Virtual Network.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "description": "The hostname of the resource which the service depends on. This can be the database, storage or any other azure resource on which the service depends upon.",
            "minLength": 1,
            "type": "string"
          },
          "status": {
            "description": "Resource Connectivity Status Type identifier.",
            "enum": [
              "initializing",
              "success",
              "failure"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ConnectivityStatusType"
            }
          }
        },
        "required": [
          "name",
          "status",
          "lastUpdated",
          "lastStatusChange"
        ],
        "type": "object"
      },
      "NetworkStatusContract": {
        "description": "Network Status details.",
        "properties": {
          "connectivityStatus": {
            "description": "Gets the list of Connectivity Status to the Resources on which the service depends upon.",
            "items": {
              "$ref": "#/components/schemas/ConnectivityStatusContract"
            },
            "type": "array"
          },
          "dnsServers": {
            "description": "Gets the list of DNS servers IPV4 addresses.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "dnsServers",
          "connectivityStatus"
        ],
        "type": "object"
      },
      "NetworkStatusContractByLocation": {
        "description": "Network Status in the Location",
        "properties": {
          "location": {
            "description": "Location of service",
            "minLength": 1,
            "type": "string"
          },
          "networkStatus": {
            "$ref": "#/components/schemas/NetworkStatusContract",
            "description": "Network status in Location"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}