openapi: 3.0.0
info:
  description: APIs for Azure Smart Detector Alert Rules CRUD operations.
  title: Azure Alerts Management Service Resource Provider
  version: '2019-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.alertsManagement/smartDetectorAlertRules':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRulesList'
          description: Successful request to list Smart Detector alert rules.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartDetectorErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SmartDetectorAlertRules
      description: >-
        List all the existing Smart Detector alert rules within the
        subscription.
      operationId: SmartDetectorAlertRules_List
      x-ms-examples:
        List Smart Detector alert rules:
          $ref: ./examples/SmartDetectorAlertRule_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.alertsManagement/smartDetectorAlertRules':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRulesList'
          description: Successful request to list Smart Detector alert rules.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartDetectorErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SmartDetectorAlertRules
      description: >-
        List all the existing Smart Detector alert rules within the subscription
        and resource group.
      operationId: SmartDetectorAlertRules_ListByResourceGroup
      x-ms-examples:
        List alert rules:
          $ref: ./examples/SmartDetectorAlertRule_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.alertsManagement/smartDetectorAlertRules/{alertRuleName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AlertRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request to delete a Smart Detector alert rule.
        '204':
          description: >-
            The Smart Detector alert rule does not exist. It may have already
            been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartDetectorErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SmartDetectorAlertRules
      description: Delete an existing Smart Detector alert rule.
      operationId: SmartDetectorAlertRules_Delete
      x-ms-examples:
        Delete a Smart Detector alert rule:
          $ref: ./examples/SmartDetectorAlertRule_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AlertRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ExpandDetectorParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to get Smart Detector alert rule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartDetectorErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SmartDetectorAlertRules
      description: Get a specific Smart Detector alert rule.
      operationId: SmartDetectorAlertRules_Get
      x-ms-examples:
        Get a Smart Detector alert rule:
          $ref: ./examples/SmartDetectorAlertRule_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AlertRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to patch Smart Detector alert rule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartDetectorErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SmartDetectorAlertRules
      description: Patch a specific Smart Detector alert rule.
      operationId: SmartDetectorAlertRules_Patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRulePatchObject'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Patch alert rules:
          $ref: ./examples/SmartDetectorAlertRule_Patch.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AlertRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to update a Smart Detector alert rule.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
          description: Successful request to create a Smart Detector alert rule.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartDetectorErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SmartDetectorAlertRules
      description: Create or update a Smart Detector alert rule.
      operationId: SmartDetectorAlertRules_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRule'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Create or update a Smart Detector alert rule:
          $ref: ./examples/SmartDetectorAlertRule_CreateOrUpdate.json
components:
  parameters:
    AlertRuleNameParameter:
      description: The name of the alert rule.
      in: path
      name: alertRuleName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ExpandDetectorParameter:
      description: Indicates if Smart Detector should be expanded.
      in: query
      name: expandDetector
      schema:
        type: boolean
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ActionGroupsInformation:
      description: 'The Action Groups information, used by the alert rule.'
      properties:
        customEmailSubject:
          description: An optional custom email subject to use in email notifications.
          type: string
        customWebhookPayload:
          description: >-
            An optional custom web-hook payload to use in web-hook
            notifications.
          type: string
        groupIds:
          description: The Action Group resource IDs.
          items:
            type: string
          type: array
      required:
        - groupIds
      type: object
    AlertRule:
      allOf:
        - $ref: '#/components/schemas/AzureResource'
      description: The alert rule information
      properties:
        properties:
          $ref: '#/components/schemas/AlertRuleProperties'
          description: The properties of the alert rule.
          x-ms-client-flatten: true
      type: object
    AlertRulePatchObject:
      description: The alert rule patch information
      properties:
        tags:
          description: The resource tags.
          type: object
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The resource name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/AlertRulePatchProperties'
          description: The properties of the alert rule.
          minProperties: 1
          x-ms-client-flatten: true
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
    AlertRulePatchProperties:
      description: The alert rule properties.
      properties:
        actionGroups:
          $ref: '#/components/schemas/ActionGroupsInformation'
          description: The alert rule actions.
        description:
          description: The alert rule description.
          type: string
        frequency:
          description: >-
            The alert rule frequency in ISO8601 format. The time granularity
            must be in minutes and minimum value is 5 minutes.
          format: duration
          type: string
        severity:
          description: The alert rule severity.
          enum:
            - Sev0
            - Sev1
            - Sev2
            - Sev3
            - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        state:
          description: The alert rule state.
          enum:
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertRuleState
        throttling:
          $ref: '#/components/schemas/ThrottlingInformation'
          description: The alert rule throttling information.
      type: object
    AlertRuleProperties:
      description: The alert rule properties.
      properties:
        actionGroups:
          $ref: '#/components/schemas/ActionGroupsInformation'
          description: The alert rule actions.
        description:
          description: The alert rule description.
          type: string
        detector:
          $ref: '#/components/schemas/Detector'
          description: The alert rule's detector.
        frequency:
          description: >-
            The alert rule frequency in ISO8601 format. The time granularity
            must be in minutes and minimum value is 5 minutes.
          format: duration
          type: string
        scope:
          description: The alert rule resources scope.
          items:
            type: string
          type: array
        severity:
          description: The alert rule severity.
          enum:
            - Sev0
            - Sev1
            - Sev2
            - Sev3
            - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        state:
          description: The alert rule state.
          enum:
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertRuleState
        throttling:
          $ref: '#/components/schemas/ThrottlingInformation'
          description: The alert rule throttling information.
      required:
        - state
        - severity
        - frequency
        - detector
        - scope
        - actionGroups
      type: object
    AlertRulesList:
      description: List of Smart Detector alert rules.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: List of Smart Detector alert rules.
          items:
            $ref: '#/components/schemas/AlertRule'
          type: array
      type: object
    AzureResource:
      description: An Azure resource object
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The resource name.
          readOnly: true
          type: string
        type:
          description: The resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Detector:
      description: >-
        The detector information. By default this is not populated, unless it's
        specified in expandDetector
      properties:
        parameters:
          additionalProperties:
            type: object
          description: The detector's parameters.'
          type: object
        description:
          description: >-
            The Smart Detector description. By default this is not populated,
            unless it's specified in expandDetector
          type: string
        id:
          description: The detector id.
          type: string
        imagePaths:
          description: >-
            The Smart Detector image path. By default this is not populated,
            unless it's specified in expandDetector
          items:
            type: string
          type: array
        name:
          description: >-
            The Smart Detector name. By default this is not populated, unless
            it's specified in expandDetector
          type: string
        supportedResourceTypes:
          description: >-
            The Smart Detector supported resource types. By default this is not
            populated, unless it's specified in expandDetector
          items:
            type: string
          type: array
      required:
        - id
      type: object
    SmartDetectorErrorResponse:
      description: Describe the format of an Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    ThrottlingInformation:
      description: Optional throttling information for the alert rule.
      properties:
        duration:
          description: >-
            The required duration (in ISO8601 format) to wait before notifying
            on the alert rule again. The time granularity must be in minutes and
            minimum value is 0 minutes
          format: duration
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

