{
  "openapi": "3.0.0",
  "info": {
    "description": "Microsoft Azure Support Resource Provider.",
    "title": "Microsoft.Support",
    "version": "2019-05-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/support/resource-manager/Microsoft.Support/preview/2019-05-01-preview/support.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Support/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsListResult"
                }
              }
            },
            "description": "Successfully retrieved list of operations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "This lists all the available Microsoft Support REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get all operations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Support/services": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesListResult"
                }
              }
            },
            "description": "Successfully retrieved list of Azure services available for support."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Lists all the Azure services available for support ticket creation. Here are the Service Ids for **Billing**, **Subscription Management**, and **Service and subscription limits (Quotas)** issues: <br/><table><tr><td><u>Issue type</u></td><td><u>Service Id</u></td></tr><tr><td>Billing</td><td>'/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'</td></tr><tr><td>Subscription Management</td><td>'/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6'</td></tr><tr><td>Quota</td><td>'/providers/Microsoft.Support/services/06bfd9d3-516b-d5c6-5802-169c800dec89'</td></tr></table> <br/><br/> For **Technical** issues, select the Service Id that maps to the Azure service/product as displayed in the **Services** drop-down list on the Azure portal's <a target='_blank' href='https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview'>New support request</a> page. <br/><br/> Always use the service and it's corresponding problem classification(s) obtained programmatically for support ticket creation. This practice ensures that you always have the most recent set of service and problem classification Ids.",
        "operationId": "Services_List",
        "x-ms-examples": {
          "Gets list of services for which a support ticket can be created": {
            "$ref": "./examples/ListServices.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Support/services/{serviceName}": {
      "get": {
        "parameters": [
          {
            "description": "Name of Azure service",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            },
            "description": "Successfully retrieved Azure service for support ticket creation."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets a specific Azure service for support ticket creation.",
        "operationId": "Services_Get",
        "x-ms-examples": {
          "Gets details of Azure service": {
            "$ref": "./examples/GetService.json"
          }
        }
      }
    },
    "/providers/Microsoft.Support/services/{serviceName}/problemClassifications": {
      "get": {
        "parameters": [
          {
            "description": "Name of Azure service for which the problem classifications need to be retrieved.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemClassificationsListResult"
                }
              }
            },
            "description": "Successfully retrieved list of problem classifications for the specified Azure service."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ProblemClassifications"
        ],
        "description": "Lists all the problem classifications (categories) available for a specific Azure service.<br/><br/> Always use the service and problem classifications obtained programmatically. This practice ensures that you always have the most recent set of service and problem classification Ids.",
        "operationId": "ProblemClassifications_List",
        "x-ms-examples": {
          "Gets list of problemClassifications for a service for which a support ticket can be created": {
            "$ref": "./examples/ListProblemClassifications.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Support/services/{serviceName}/problemClassifications/{problemClassificationName}": {
      "get": {
        "parameters": [
          {
            "description": "Name of Azure service available for support.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of problem classification.",
            "in": "path",
            "name": "problemClassificationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemClassification"
                }
              }
            },
            "description": "Successfully retrieved problem classification details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ProblemClassifications"
        ],
        "description": "Gets the details of a specific problem classification for a specific Azure service.",
        "operationId": "ProblemClassifications_Get",
        "x-ms-examples": {
          "Gets details of problemClassification for Azure service": {
            "$ref": "./examples/GetProblemClassification.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityOutput"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SupportTickets"
        ],
        "description": "Check the availability of a resource name. This API should to be used to check the uniqueness of the name for support ticket creation for the selected subscription.",
        "operationId": "SupportTickets_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityInput"
              }
            }
          },
          "description": "Input to check.",
          "required": true
        },
        "x-ms-examples": {
          "Checks whether name is available for SupportTicket resource": {
            "$ref": "./examples/CheckNameAvailabilityWithSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets": {
      "get": {
        "parameters": [
          {
            "description": "The number of values to return in the collection. Default is 25 and max is 100.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. We support 'odata v4.0' filter semantics. <a target='_blank' href='https://docs.microsoft.com/odata/concepts/queryoptions-overview'>Learn more</a> <br/><i>Status</i> filter can only be used with 'eq' operator. For <i>CreatedDate</i> filter, the supported operators are 'gt' and 'ge'. When using both filters, combine them using the logical 'AND'.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportTicketsListResult"
                }
              }
            },
            "description": "Successfully retrieved support tickets."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SupportTickets"
        ],
        "description": "Lists all the support tickets for an Azure subscription. <br/><br/>You can also filter the support tickets by <i>Status</i> or <i>CreatedDate</i> using the $filter parameter. Output will be a paged result with <i>nextLink</i>, using which you can retrieve the next set of support tickets. <br/><br/>Support ticket data is available for 18 months after ticket creation. If a ticket was created more than 18 months ago, a request for data might cause an error.",
        "operationId": "SupportTickets_List",
        "x-ms-examples": {
          "List support tickets created on or after a certain date and in open state for a subscription": {
            "$ref": "./examples/ListSupportTicketsCreatedOnOrAfterAndInOpenStateBySubscription.json"
          },
          "List support tickets for a subscription": {
            "$ref": "./examples/ListSupportTicketsBySubscription.json"
          },
          "List support tickets in open state for a subscription": {
            "$ref": "./examples/ListSupportTicketsInOpenStateBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}": {
      "get": {
        "parameters": [
          {
            "description": "Support ticket name",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportTicketDetails"
                }
              }
            },
            "description": "Successfully retrieved support ticket."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SupportTickets"
        ],
        "description": "Gets details for a specific support ticket in an Azure subscription. <br/><br/>Support ticket data is available for 18 months after ticket creation. If a ticket was created more than 18 months ago, a request for data might cause an error.",
        "operationId": "SupportTickets_Get",
        "x-ms-examples": {
          "Get details of a subscription ticket": {
            "$ref": "./examples/GetSubscriptionSupportTicketDetails.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "Support ticket name",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportTicketDetails"
                }
              }
            },
            "description": "Successfully updated support ticket."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SupportTickets"
        ],
        "description": "This API allows you to update the severity level or your contact information in the support ticket. <br/><br/> Note: The severity levels cannot be changed if a support ticket is actively being worked upon by an Azure support engineer. In such a case, contact your support engineer to request severity update by adding a new communication using the Communications API.",
        "operationId": "SupportTickets_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSupportTicket"
              }
            }
          },
          "description": "UpdateSupportTicket object",
          "required": true
        },
        "x-ms-examples": {
          "UpdateSupportTicketForSubscription": {
            "$ref": "./examples/UpdateSupportTicketForSubscription.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Support ticket name.",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportTicketDetails"
                }
              }
            },
            "description": "OK - SupportTicket created successfully"
          },
          "202": {
            "description": "Accepted, SupportTicket will be created asynchronously"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SupportTickets"
        ],
        "description": "Creates a new support ticket for Quota increase, Technical, Billing, and Subscription Management issues for the specified subscription. <br/><br/>A paid technical support plan is required to create a support ticket using this API. <a href='https://aka.ms/supportticketAPI'>Learn more</a> <br/><br/> Use the Services API to map the right Service Id to the issue type. For example: For billing tickets set *serviceId* to *'/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'*. <br/> For Technical issues, the Service id will map to the Azure service you want to raise a support ticket for. <br/><br/>Always call the Services and ProblemClassifications API to get the most recent set of services and problem categories required for support ticket creation.",
        "operationId": "SupportTickets_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportTicketDetails"
              }
            }
          },
          "description": "Support ticket request payload.",
          "required": true
        },
        "x-ms-examples": {
          "Create a ticket for Billing related issues": {
            "$ref": "./examples/CreateBillingSupportTicketForSubscription.json"
          },
          "Create a ticket for Subscription Management related issues": {
            "$ref": "./examples/CreateSubMgmtSupportTicketForSubscription.json"
          },
          "Create a ticket for Technical issue related to a specific resource": {
            "$ref": "./examples/CreateTechnicalSupportTicketForSubscription.json"
          },
          "Create a ticket to request Quota increase for Active Jobs and Job Schedules for a Batch account": {
            "$ref": "./examples/CreateBatchQuotaTicketForSpecificBatchAccountForActiveJobs.json"
          },
          "Create a ticket to request Quota increase for Compute VM Cores": {
            "$ref": "./examples/CreateCoresQuotaTicketForSubscription.json"
          },
          "Create a ticket to request Quota increase for DTUs for SQL Data Warehouse": {
            "$ref": "./examples/CreateSqlDatawarehouseQuotaTicketForDTUs.json"
          },
          "Create a ticket to request Quota increase for DTUs for SQL Database": {
            "$ref": "./examples/CreateSqlDatabaseQuotaTicketForDTUs.json"
          },
          "Create a ticket to request Quota increase for Low-priority cores for Machine Learning service": {
            "$ref": "./examples/CreateMachineLearningQuotaTicketForLowPriorityCores.json"
          },
          "Create a ticket to request Quota increase for Low-priority cores for a Batch account": {
            "$ref": "./examples/CreateBatchQuotaTicketForSpecificBatchAccountForLowPriorityCores.json"
          },
          "Create a ticket to request Quota increase for Pools for a Batch account": {
            "$ref": "./examples/CreateBatchQuotaTicketForSpecificBatchAccountForPools.json"
          },
          "Create a ticket to request Quota increase for Servers for SQL Data Warehouse": {
            "$ref": "./examples/CreateSqlDatawarehouseQuotaTicketForServers.json"
          },
          "Create a ticket to request Quota increase for Servers for SQL Database": {
            "$ref": "./examples/CreateSqlDatabaseQuotaTicketForServers.json"
          },
          "Create a ticket to request Quota increase for number of Batch accounts for a subscription": {
            "$ref": "./examples/CreateBatchQuotaTicketForSubscription.json"
          },
          "Create a ticket to request Quota increase for specific VM family cores for Machine Learning service": {
            "$ref": "./examples/CreateMachineLearningQuotaTicketForDedicatedCores.json"
          },
          "Create a ticket to request Quota increase for specific VM family cores for a Batch account": {
            "$ref": "./examples/CreateBatchQuotaTicketForSpecificBatchAccountForDedicatedCores.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "description": "Support ticket name",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityOutput"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Communications"
        ],
        "description": "Check the availability of a resource name. This API should to be used to check the uniqueness of the name for adding a new communication to the support ticket.",
        "operationId": "Communications_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityInput"
              }
            }
          },
          "description": "Input to check",
          "required": true
        },
        "x-ms-examples": {
          "Checks whether name is available for Communication resource": {
            "$ref": "./examples/CheckNameAvailabilityForSupportTicketCommunication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/communications": {
      "get": {
        "parameters": [
          {
            "description": "Support ticket name",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of values to return in the collection. Default is 10 and max is 10.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The filter to apply on the operation. You can filter by communicationType and createdDate properties. CommunicationType supports Equals ('eq') operator and createdDate supports Greater Than ('gt') and Greater Than or Equals ('ge') operators. You may combine the CommunicationType and CreatedDate filters by Logical And ('and') operator.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationsListResult"
                }
              }
            },
            "description": "Successfully retrieved communications for a support ticket."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Communications"
        ],
        "description": "Lists all communications (attachments not included) for a support ticket. <br/></br> You can also filter support ticket communications by <i>CreatedDate</i>\ufffdor <i>CommunicationType</i> using the $filter parameter. The only type of communication supported today is <i>Web</i>. Output will be a paged result with <i>nextLink</i>, using which you can retrieve the next set of Communication results. <br/><br/> Support ticket data is available for 18 months after ticket creation. If a ticket was created more than 18 months ago, a request for data might cause an error.",
        "operationId": "Communications_List",
        "x-ms-examples": {
          "List communications for a subscription support ticket": {
            "$ref": "./examples/ListCommunicationsForSubscriptionSupportTicket.json"
          },
          "List web communication created on or after a specific date for a subscription support ticket": {
            "$ref": "./examples/ListWebCommunicationsForSubscriptionSupportTicketCreatedOnOrAfter.json"
          },
          "List web communications for a subscription support ticket": {
            "$ref": "./examples/ListWebCommunicationsForSubscriptionSupportTicket.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/communications/{communicationName}": {
      "get": {
        "parameters": [
          {
            "description": "Support ticket name",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Communication name",
            "in": "path",
            "name": "communicationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationDetails"
                }
              }
            },
            "description": "Successfully retrieved communication details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Communications"
        ],
        "description": "Returns details of a specific communication in a support ticket.",
        "operationId": "Communications_Get",
        "x-ms-examples": {
          "Get communication details for a subscription support ticket": {
            "$ref": "./examples/GetCommunicationDetailsForSubscriptionSupportTicket.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Support ticket name",
            "in": "path",
            "name": "supportTicketName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Communication name",
            "in": "path",
            "name": "communicationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationDetails"
                }
              }
            },
            "description": "OK - Communication created successfully."
          },
          "202": {
            "description": "Accepted, Communication will be created asynchronously"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Communications"
        ],
        "description": "Adds a new customer communication to an Azure support ticket. Adding attachments are not currently supported via the API. <br/>To add a file to a support ticket, visit the <a target='_blank' href='https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/managesupportrequest'>Manage support ticket</a> page in the Azure portal, select the support ticket, and use the file upload control to add a new file.",
        "operationId": "Communications_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationDetails"
              }
            }
          },
          "description": "Communication object",
          "required": true
        },
        "x-ms-examples": {
          "AddCommunicationToSubscriptionTicket": {
            "$ref": "./examples/CreateSupportTicketCommunication.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Api version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Azure subscription id",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CheckNameAvailabilityInput": {
        "description": "Input of CheckNameAvailability API.",
        "properties": {
          "name": {
            "description": "The resource name to validate",
            "type": "string"
          },
          "type": {
            "description": "The type of resource",
            "enum": [
              "Microsoft.Support/supportTickets",
              "Microsoft.Support/communications"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "Type"
            }
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "CheckNameAvailabilityOutput": {
        "description": "Output of check name availability API.",
        "properties": {
          "message": {
            "description": "The detailed error message describing why the name is not available.",
            "readOnly": true,
            "type": "string"
          },
          "nameAvailable": {
            "description": "Indicates whether the name is available.",
            "readOnly": true,
            "type": "boolean"
          },
          "reason": {
            "description": "The reason why the name is not available.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CommunicationDetails": {
        "description": "Object that represents Communication resource",
        "properties": {
          "id": {
            "description": "Id of the resource",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CommunicationDetailsProperties",
            "description": "Properties of the resource",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of the resource 'Microsoft.Support/communications'",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "CommunicationDetailsProperties": {
        "description": "Describes the properties of a communication resource.",
        "properties": {
          "body": {
            "description": "Body of the communication",
            "type": "string"
          },
          "communicationDirection": {
            "description": "Direction of communication",
            "enum": [
              "inbound",
              "outbound"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CommunicationDirection"
            }
          },
          "communicationType": {
            "description": "Communication type",
            "enum": [
              "web",
              "phone"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CommunicationType"
            }
          },
          "createdDate": {
            "description": "Time in UTC (ISO 8601 format) when the communication was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "sender": {
            "description": "Email address of the sender",
            "type": "string"
          },
          "subject": {
            "description": "Subject of the communication",
            "type": "string"
          }
        },
        "required": [
          "subject",
          "body"
        ],
        "type": "object"
      },
      "CommunicationsListResult": {
        "description": "Collection of Communication resources.",
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page of Communication resources.",
            "type": "string"
          },
          "value": {
            "description": "List of Communication resources.",
            "items": {
              "$ref": "#/components/schemas/CommunicationDetails"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ContactProfile": {
        "description": "Contact information associated with support ticket.",
        "properties": {
          "additionalEmailAddresses": {
            "description": "Additional email addresses listed will be copied on any correspondence about the support ticket.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "country": {
            "description": "Country of the user. This is the ISO 3166-1 alpha-3 code.",
            "type": "string"
          },
          "firstName": {
            "description": "First name.",
            "type": "string"
          },
          "lastName": {
            "description": "Last name.",
            "type": "string"
          },
          "phoneNumber": {
            "description": "Phone number. This is required if preferred contact method is phone.",
            "type": "string"
          },
          "preferredContactMethod": {
            "description": "Preferred contact method.",
            "enum": [
              "email",
              "phone"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PreferredContactMethod"
            }
          },
          "preferredSupportLanguage": {
            "description": "Preferred language of support from Azure. Support languages vary based on the severity you choose for your support ticket. Learn more at <a  target='_blank' href='https://azure.microsoft.com/support/plans/response/'>Azure Severity and responsiveness</a>. Use the standard language-country code. Valid values are 'en-us' for English, 'zh-hans' for Chinese, 'es-es' for Spanish, 'fr-fr' for French, 'ja-jp' for Japanese, 'ko-kr' for Korean, 'ru-ru' for Russian, 'pt-br' for Portuguese, 'it-it' for Italian, 'zh-tw' for Chinese and 'de-de' for German.",
            "type": "string"
          },
          "preferredTimeZone": {
            "description": "Time zone of the user. This is the name of the time zone from <a  target='_blank' href='https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values'>Microsoft Time Zone Index Values</a>.",
            "type": "string"
          },
          "primaryEmailAddress": {
            "description": "Primary email address.",
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "preferredContactMethod",
          "primaryEmailAddress",
          "preferredTimeZone",
          "country",
          "preferredSupportLanguage"
        ],
        "type": "object"
      },
      "ExceptionResponse": {
        "description": "The api error.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ServiceError",
            "description": "The api error details."
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "The operation supported by Microsoft Support RP.",
        "properties": {
          "display": {
            "description": "The object that describes the operation.",
            "properties": {
              "description": {
                "description": "The description of the operation",
                "readOnly": true,
                "type": "string"
              },
              "operation": {
                "description": "The action that users can perform, based on their permission level",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft Support",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationsListResult": {
        "description": "The list of operations supported by Microsoft Support resource provider.",
        "properties": {
          "value": {
            "description": "The list of operations supported by Microsoft Support resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProblemClassification": {
        "description": "ProblemClassification resource object",
        "properties": {
          "id": {
            "description": "Id of the resource",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ProblemClassificationProperties",
            "description": "Properties of the resource",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of the resource 'Microsoft.Support/problemClassification'",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProblemClassificationProperties": {
        "description": "Details about a problem classification available for an Azure service",
        "properties": {
          "displayName": {
            "description": "Localized name of problem classification.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProblemClassificationsListResult": {
        "description": "Collection of ProblemClassification resources",
        "properties": {
          "value": {
            "description": "List of ProblemClassification resources",
            "items": {
              "$ref": "#/components/schemas/ProblemClassification"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaChangeRequest": {
        "description": "This property is required for providing the region and new quota limits",
        "properties": {
          "payload": {
            "description": "Payload of the quota increase request.",
            "type": "string"
          },
          "region": {
            "description": "Region for which the quota increase request is being made.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "QuotaTicketDetails": {
        "description": "Additional set of information required for quota increase support ticket for certain quota types, e.g.: Virtual machine cores. Get complete details about Quota payload support request along with examples at <a target='' href='https://aka.ms/supportrpquotarequestpayload'>Support quota request</a>.",
        "properties": {
          "quotaChangeRequestSubType": {
            "description": "Required for certain quota types when there is a sub type that you are requesting quota increase for. Example: Batch",
            "type": "string"
          },
          "quotaChangeRequestVersion": {
            "description": "Quota change request version",
            "type": "string"
          },
          "quotaChangeRequests": {
            "description": "This property is required for providing the region and new quota limits.",
            "items": {
              "$ref": "#/components/schemas/QuotaChangeRequest"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Service": {
        "description": "Object that represents a Service resource.",
        "properties": {
          "id": {
            "description": "Id of the resource",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ServiceProperties",
            "description": "Properties of the resource",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of the resource 'Microsoft.Support/services'",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServiceError": {
        "description": "The api error details.",
        "properties": {
          "code": {
            "description": "The error code.",
            "type": "string"
          },
          "details": {
            "description": "The list of error details.",
            "items": {
              "$ref": "#/components/schemas/ServiceErrorDetail"
            },
            "readOnly": true,
            "type": "array"
          },
          "message": {
            "description": "The error message.",
            "type": "string"
          },
          "target": {
            "description": "The target of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServiceErrorDetail": {
        "description": "The error details.",
        "properties": {
          "code": {
            "description": "The error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "The error message.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "The target of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServiceLevelAgreement": {
        "description": "Service Level Agreement details for a support ticket.",
        "properties": {
          "expirationTime": {
            "description": "Time in UTC (ISO 8601 format) when service level agreement expires.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "slaMinutes": {
            "description": "Service Level Agreement in minutes",
            "readOnly": true,
            "type": "integer"
          },
          "startTime": {
            "description": "Time in UTC (ISO 8601 format) when service level agreement starts.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServiceProperties": {
        "description": "Details about Azure service available for support ticket creation",
        "properties": {
          "displayName": {
            "description": "Localized name of Azure service",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServicesListResult": {
        "description": "Collection of Service resources.",
        "properties": {
          "value": {
            "description": "List of Service resources",
            "items": {
              "$ref": "#/components/schemas/Service"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SupportEngineer": {
        "description": "Support engineer information.",
        "properties": {
          "emailAddress": {
            "description": "Email address of the Azure Support engineer assigned to the support ticket.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SupportTicketDetails": {
        "description": "Object that represents SupportTicketDetails resource",
        "properties": {
          "id": {
            "description": "Id of the resource",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/SupportTicketDetailsProperties",
            "description": "Properties of the resource",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of the resource 'Microsoft.Support/supportTickets'",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SupportTicketDetailsProperties": {
        "description": "Describes the properties of a support ticket.",
        "properties": {
          "contactDetails": {
            "$ref": "#/components/schemas/ContactProfile",
            "description": "Contact information of the user requesting to create a support ticket."
          },
          "createdDate": {
            "description": "Time in UTC (ISO 8601 format) when support ticket was created.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Detailed description of the question or issue.",
            "type": "string"
          },
          "enrollmentId": {
            "description": "Enrollment ID associated with the support ticket.",
            "readOnly": true,
            "type": "string"
          },
          "modifiedDate": {
            "description": "Time in UTC (ISO 8601 format) when support ticket was last modified.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "problemClassificationDisplayName": {
            "description": "Localized name of problem classification.",
            "readOnly": true,
            "type": "string"
          },
          "problemClassificationId": {
            "description": "Each Azure service has its own set of issue category called problem classification that corresponds to the type of problem you're experiencing. This parameter is the resource id of ProblemClassification resource.",
            "type": "string"
          },
          "problemStartTime": {
            "description": "Time in UTC (ISO 8601 format) when the problem started.",
            "format": "date-time",
            "type": "string"
          },
          "productionOutage": {
            "description": "Indicates if this issue is a production outage.",
            "readOnly": true,
            "type": "boolean"
          },
          "quotaTicketDetails": {
            "$ref": "#/components/schemas/QuotaTicketDetails",
            "description": "Additional ticket details associated with a quota support ticket request. "
          },
          "require24X7Response": {
            "description": "Indicates if this requires a 24x7 response from Azure.",
            "type": "boolean"
          },
          "serviceDisplayName": {
            "description": "Localized name of Azure service.",
            "readOnly": true,
            "type": "string"
          },
          "serviceId": {
            "description": "This is the resource id of the Azure service resource associated with the support ticket.",
            "type": "string"
          },
          "serviceLevelAgreement": {
            "$ref": "#/components/schemas/ServiceLevelAgreement",
            "description": "Service Level Agreement information for this support ticket."
          },
          "severity": {
            "description": "A value that indicates the urgency of the case, which in turn determines the response time according to the service level agreement of the technical support plan you have with Azure.",
            "enum": [
              "minimal",
              "moderate",
              "critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SeverityLevel"
            }
          },
          "status": {
            "description": "Status of the support ticket.",
            "readOnly": true,
            "type": "string"
          },
          "supportEngineer": {
            "$ref": "#/components/schemas/SupportEngineer",
            "description": "Information about support engineer working on this support ticket."
          },
          "supportPlanType": {
            "description": "Support plan type associated with the support ticket.",
            "readOnly": true,
            "type": "string"
          },
          "supportTicketId": {
            "description": "System generated support ticket id that is unique.",
            "type": "string"
          },
          "technicalTicketDetails": {
            "$ref": "#/components/schemas/TechnicalTicketDetails",
            "description": "Additional ticket details associated with a technical support ticket request. "
          },
          "title": {
            "description": "Title of the support ticket.",
            "type": "string"
          }
        },
        "required": [
          "serviceId",
          "title",
          "description",
          "problemClassificationId",
          "severity",
          "contactDetails"
        ],
        "type": "object"
      },
      "SupportTicketsListResult": {
        "description": "Object that represents a collection of SupportTicket resources.",
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page of SupportTicket resources.",
            "type": "string"
          },
          "value": {
            "description": "List of SupportTicket resources.",
            "items": {
              "$ref": "#/components/schemas/SupportTicketDetails"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TechnicalTicketDetails": {
        "description": "Additional information for technical support ticket.",
        "properties": {
          "resourceId": {
            "description": "This is the resource id of the Azure service resource (For example: A virtual machine resource or an HDInsight resource) for which the support ticket is created.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateContactProfile": {
        "description": "Contact information associated with the support ticket.",
        "properties": {
          "additionalEmailAddresses": {
            "description": "Email addresses listed will be copied on any correspondence about the support ticket",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "country": {
            "description": "Country of the user. This is the ISO 3166-1 alpha-3 code.",
            "type": "string"
          },
          "firstName": {
            "description": "First name",
            "type": "string"
          },
          "lastName": {
            "description": "Last name",
            "type": "string"
          },
          "phoneNumber": {
            "description": "Phone number. This is required if preferred contact method is phone.",
            "type": "string"
          },
          "preferredContactMethod": {
            "description": "Preferred contact method",
            "enum": [
              "email",
              "phone"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PreferredContactMethod"
            }
          },
          "preferredSupportLanguage": {
            "description": "Preferred language of support from Azure. Support languages vary based on the severity you choose for your support ticket. Learn more at <a  target='_blank' href='https://azure.microsoft.com/support/plans/response/'>Azure Severity and responsiveness</a>. Use the standard language-country code. Valid values are 'en-us' for English, 'zh-hans' for Chinese, 'es-es' for Spanish, 'fr-fr' for French, 'ja-jp' for Japanese, 'ko-kr' for Korean, 'ru-ru' for Russian, 'pt-br' for Portuguese, 'it-it' for Italian, 'zh-tw' for Chinese and 'de-de' for German.",
            "type": "string"
          },
          "preferredTimeZone": {
            "description": "Time zone of the user. This is the name of the time zone from <a  target='_blank' href='https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values'>Microsoft Time Zone Index Values</a>.",
            "type": "string"
          },
          "primaryEmailAddress": {
            "description": "Primary email address",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateSupportTicket": {
        "description": "Updates severity and contact details in the support ticket.",
        "properties": {
          "contactDetails": {
            "$ref": "#/components/schemas/UpdateContactProfile",
            "description": "Contact details to be updated on the support ticket."
          },
          "severity": {
            "description": "Severity level",
            "enum": [
              "minimal",
              "moderate",
              "critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SeverityLevel"
            }
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}