openapi: 3.0.0
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Accepted response definition.
        '202':
          description: OK response definition.
        '404':
          description: Bad Request definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Executes script actions on the specified HDInsight cluster.
      operationId: Clusters_ExecuteScriptActions
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./cluster.json#/definitions/ExecuteScriptActionParameters
        description: The parameters for executing script actions.
        required: true
      x-ms-examples:
        Execute script action on HDInsight cluster:
          $ref: ./examples/PostExecuteScriptAction.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions/azureasyncoperations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./cluster.json#/definitions/AsyncOperationResult
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ScriptActions
      description: Gets the async operation status of execution operation.
      operationId: ScriptActions_GetExecutionAsyncOperationStatus
      x-ms-examples:
        Gets the async execution operation status.:
          $ref: ./examples/GetScriptExecutionAsyncOperationStatus.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptActionsList'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ScriptActions
      description: Lists all the persisted script actions for the specified cluster.
      operationId: ScriptActions_ListPersistedScripts
      x-ms-examples:
        List all persisted script actions for the given cluster:
          $ref: ./examples/GetLinuxHadoopScriptAction.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions/{scriptName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ScriptNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: No Content response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ScriptActions
      description: Deletes a specified persisted script action of the cluster.
      operationId: ScriptActions_Delete
      x-ms-examples:
        Delete a script action on HDInsight cluster:
          $ref: ./examples/DeleteScriptAction.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptActionExecutionHistoryList'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ScriptExecutionHistory
      description: Lists all scripts' execution history for the specified cluster.
      operationId: ScriptExecutionHistory_List
      x-ms-examples:
        Get Script Execution History List:
          $ref: ./examples/GetScriptExecutionHistory.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ScriptExecutionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./cluster.json#/definitions/RuntimeScriptActionDetail
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ScriptExecutionHistory
      description: Gets the script execution detail for the given script execution ID.
      operationId: ScriptActions_GetExecutionDetail
      x-ms-examples:
        Get script execution history by script id:
          $ref: ./examples/GetScriptActionById.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}/promote':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ScriptExecutionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: ./operations.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Promote
      description: Promotes the specified ad-hoc script execution to a persisted script.
      operationId: ScriptExecutionHistory_Promote
      x-ms-examples:
        Promote a script action on HDInsight cluster:
          $ref: ./examples/PromoteLinuxHadoopScriptAction.json
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    OperationIdParameter:
      description: The long running operation id.
      in: path
      name: operationId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ScriptExecutionIdParameter:
      description: The script execution Id
      in: path
      name: scriptExecutionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ScriptNameParameter:
      description: The name of the script.
      in: path
      name: scriptName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        The subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ClusterListRuntimeScriptActionDetailResult:
      description: The list runtime script action detail response.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of persisted script action details for the cluster.
          items:
            $ref: ./cluster.json#/definitions/RuntimeScriptActionDetail
          readOnly: true
          type: array
      type: object
    ScriptAction:
      description: Describes a script action on role on the cluster.
      properties:
        parameters:
          description: The parameters for the script provided.
          type: string
        name:
          description: The name of the script action.
          type: string
        uri:
          description: The URI to the script.
          type: string
      required:
        - name
        - uri
        - parameters
      type: object
    ScriptActionExecutionHistoryList:
      description: The list script execution history response.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of persisted script action details for the cluster.
          items:
            $ref: ./cluster.json#/definitions/RuntimeScriptActionDetail
          readOnly: true
          type: array
      type: object
    ScriptActionPersistedGetResponseSpec:
      description: The persisted script action for cluster.
      properties:
        parameters:
          description: The parameters for the script provided.
          type: string
        applicationName:
          description: The application name for the script action.
          type: string
        name:
          description: The name of script action.
          type: string
        roles:
          description: The list of roles where script will be executed.
          items:
            type: string
          type: array
        uri:
          description: The URI to the script.
          type: string
      type: object
    ScriptActionsList:
      description: The persisted script action for the cluster.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of persisted script action details for the cluster.
          items:
            $ref: ./cluster.json#/definitions/RuntimeScriptActionDetail
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

