{
  "openapi": "3.0.0",
  "info": {
    "description": "Creates a Microsoft.DataShare management client.",
    "title": "DataShareManagementClient",
    "version": "2018-11-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datashare/resource-manager/Microsoft.DataShare/preview/2018-11-01-preview/DataShare.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataShare/listInvitations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerInvitationList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ConsumerInvitation"
        ],
        "description": "Lists invitations",
        "operationId": "ConsumerInvitations_ListInvitations",
        "summary": "List the invitations",
        "x-ms-examples": {
          "ConsumerInvitations_ListInvitations": {
            "$ref": "./examples/ConsumerInvitations_ListInvitations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}": {
      "get": {
        "parameters": [
          {
            "description": "Location of the invitation",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An invitation id",
            "in": "path",
            "name": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerInvitation"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ConsumerInvitation"
        ],
        "description": "Get an invitation",
        "operationId": "ConsumerInvitations_Get",
        "summary": "Gets the invitation identified by invitationId",
        "x-ms-examples": {
          "ConsumerInvitations_Get": {
            "$ref": "./examples/ConsumerInvitations_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/rejectInvitation": {
      "post": {
        "parameters": [
          {
            "description": "Location of the invitation",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerInvitation"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ConsumerInvitation"
        ],
        "description": "Reject an invitation",
        "operationId": "ConsumerInvitations_RejectInvitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsumerInvitation"
              }
            }
          },
          "description": "An invitation payload",
          "required": true
        },
        "summary": "Rejects the invitation identified by invitationId",
        "x-ms-examples": {
          "ConsumerInvitations_RejectInvitation": {
            "$ref": "./examples/ConsumerInvitations_RejectInvitation.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Operation"
        ],
        "description": "List of available operations",
        "operationId": "Operations_List",
        "summary": "Lists the available operations",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "List Accounts in Subscription",
        "operationId": "Accounts_ListBySubscription",
        "summary": "List Accounts in a subscription",
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "List Accounts in ResourceGroup",
        "operationId": "Accounts_ListByResourceGroup",
        "summary": "List Accounts in a resource group",
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "DeleteAccount",
        "operationId": "Accounts_Delete",
        "summary": "Delete an account",
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Get an account",
        "operationId": "Accounts_Get",
        "summary": "Get an account under a resource group",
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Patch an account",
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateParameters"
              }
            }
          },
          "description": "The account update parameters.",
          "required": true
        },
        "summary": "Patch a given account",
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Create an account",
        "operationId": "Accounts_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "description": "The account payload.",
          "required": true
        },
        "summary": "Create an account in the given resource group",
        "x-ms-examples": {
          "Accounts_Create": {
            "$ref": "./examples/Accounts_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation Token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscriptionList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "List share subscriptions in an account",
        "operationId": "ShareSubscriptions_ListByAccount",
        "summary": "List of available share subscriptions under an account.",
        "x-ms-examples": {
          "ShareSubscriptions_ListByAccount": {
            "$ref": "./examples/ShareSubscriptions_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Delete a shareSubscription in an account",
        "operationId": "ShareSubscriptions_Delete",
        "summary": "Delete shareSubscription in an account.",
        "x-ms-examples": {
          "ShareSubscriptions_Delete": {
            "$ref": "./examples/ShareSubscriptions_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscription"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Get a shareSubscription in an account",
        "operationId": "ShareSubscriptions_Get",
        "summary": "Get shareSubscription in an account.",
        "x-ms-examples": {
          "ShareSubscriptions_Get": {
            "$ref": "./examples/ShareSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscription"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscription"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Create a shareSubscription in an account",
        "operationId": "ShareSubscriptions_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareSubscription"
              }
            }
          },
          "description": "create parameters for shareSubscription",
          "required": true
        },
        "summary": "Create shareSubscription in an account.",
        "x-ms-examples": {
          "ShareSubscriptions_Create": {
            "$ref": "./examples/ShareSubscriptions_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Request to cancel a synchronization.",
        "operationId": "ShareSubscriptions_CancelSynchronization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareSubscriptionSynchronization"
              }
            }
          },
          "description": "Share Subscription Synchronization payload.",
          "required": true
        },
        "summary": "Request cancellation of a data share snapshot",
        "x-ms-examples": {
          "ShareSubscriptions_CancelSynchronization": {
            "$ref": "./examples/ShareSubscriptions_CancelSynchronization.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/consumerSourceDataSets": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerSourceDataSetList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Get source dataSets of a shareSubscription",
        "operationId": "ConsumerSourceDataSets_ListByShareSubscription",
        "summary": "Get source dataSets of a shareSubscription.",
        "x-ms-examples": {
          "ConsumerSourceDataSets_ListByShareSubscription": {
            "$ref": "./examples/ConsumerSourceDataSets_ListByShareSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share subscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetMappingList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSetMapping"
        ],
        "description": "List DataSetMappings in a share subscription",
        "operationId": "DataSetMappings_ListByShareSubscription",
        "summary": "List DataSetMappings in a share subscription.",
        "x-ms-examples": {
          "DataSetMappings_ListByShareSubscription": {
            "$ref": "./examples/DataSetMappings_ListByShareSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings/{dataSetMappingName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dataSetMapping.",
            "in": "path",
            "name": "dataSetMappingName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSetMapping"
        ],
        "description": "Delete a DataSetMapping in a shareSubscription",
        "operationId": "DataSetMappings_Delete",
        "summary": "Delete DataSetMapping in a shareSubscription.",
        "x-ms-examples": {
          "DataSetMappings_Delete": {
            "$ref": "./examples/DataSetMappings_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dataSetMapping.",
            "in": "path",
            "name": "dataSetMappingName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetMapping"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSetMapping"
        ],
        "description": "Get a DataSetMapping in a shareSubscription",
        "operationId": "DataSetMappings_Get",
        "summary": "Get DataSetMapping in a shareSubscription.",
        "x-ms-examples": {
          "DataSetMappings_Get": {
            "$ref": "./examples/DataSetMappings_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share subscription which will hold the data set sink.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the data set mapping to be created.",
            "in": "path",
            "name": "dataSetMappingName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetMapping"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetMapping"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSetMapping"
        ],
        "description": "Create a DataSetMapping ",
        "operationId": "DataSetMappings_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSetMapping"
              }
            }
          },
          "description": "Destination data set configuration details.",
          "required": true
        },
        "summary": "Maps a source data set in the source share to a sink data set in the share subscription.\r\nEnables copying the data set from source to destination.",
        "x-ms-examples": {
          "DataSetMappings_Create": {
            "$ref": "./examples/DataSetMappings_Create.json"
          },
          "DataSetMappings_SqlDB_Create": {
            "$ref": "./examples/DataSetMappings_SqlDB_Create.json"
          },
          "DataSetMappings_SqlDWDataSetToAdlsGen2File_Create": {
            "$ref": "./examples/DataSetMappings_SqlDWDataSetToAdlsGen2File_Create.json"
          },
          "DataSetMappings_SqlDW_Create": {
            "$ref": "./examples/DataSetMappings_SqlDW_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceShareSynchronizationSettingList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Get synchronization settings set on a share",
        "operationId": "ShareSubscriptions_ListSourceShareSynchronizationSettings",
        "summary": "Get source share synchronization settings for a shareSubscription.",
        "x-ms-examples": {
          "ShareSubscriptions_ListSourceShareSynchronizationSettings": {
            "$ref": "./examples/ShareSubscriptions_ListSourceShareSynchronizationSettings.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share subscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynchronizationDetailsList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "List synchronization details",
        "operationId": "ShareSubscriptions_ListSynchronizationDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareSubscriptionSynchronization"
              }
            }
          },
          "description": "Share Subscription Synchronization payload.",
          "required": true
        },
        "summary": "List data set level details for a share subscription synchronization",
        "x-ms-examples": {
          "ShareSubscriptions_ListSynchronizationDetails": {
            "$ref": "./examples/ShareSubscriptions_ListSynchronizationDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share subscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscriptionSynchronizationList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "List synchronizations of a share subscription",
        "operationId": "ShareSubscriptions_ListSynchronizations",
        "summary": "List Synchronizations in a share subscription.",
        "x-ms-examples": {
          "ShareSubscriptions_ListSynchronizations": {
            "$ref": "./examples/ShareSubscriptions_ListSynchronizations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/synchronize": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of share subscription",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSubscriptionSynchronization"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "ShareSubscription"
        ],
        "description": "Initiate a copy",
        "operationId": "ShareSubscriptions_Synchronize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Synchronize"
              }
            }
          },
          "description": "Synchronize payload",
          "required": true
        },
        "summary": "Initiate an asynchronous data share job",
        "x-ms-examples": {
          "ShareSubscriptions_Synchronize": {
            "$ref": "./examples/ShareSubscriptions_Synchronize.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share subscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Trigger"
        ],
        "description": "List Triggers in a share subscription",
        "operationId": "Triggers_ListByShareSubscription",
        "summary": "List Triggers in a share subscription.",
        "x-ms-examples": {
          "Triggers_ListByShareSubscription": {
            "$ref": "./examples/Triggers_ListByShareSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the trigger.",
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Trigger"
        ],
        "description": "Delete a Trigger in a shareSubscription",
        "operationId": "Triggers_Delete",
        "summary": "Delete Trigger in a shareSubscription.",
        "x-ms-examples": {
          "Triggers_Delete": {
            "$ref": "./examples/Triggers_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the shareSubscription.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the trigger.",
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trigger"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Trigger"
        ],
        "description": "Get a Trigger in a shareSubscription",
        "operationId": "Triggers_Get",
        "summary": "Get Trigger in a shareSubscription.",
        "x-ms-examples": {
          "Triggers_Get": {
            "$ref": "./examples/Triggers_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share subscription which will hold the data set sink.",
            "in": "path",
            "name": "shareSubscriptionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the trigger.",
            "in": "path",
            "name": "triggerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trigger"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trigger"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Trigger"
        ],
        "description": "Create a Trigger ",
        "operationId": "Triggers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trigger"
              }
            }
          },
          "description": "Trigger details.",
          "required": true
        },
        "summary": "This method creates a trigger for a share subscription",
        "x-ms-examples": {
          "Triggers_Create": {
            "$ref": "./examples/Triggers_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation Token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "List shares in an account",
        "operationId": "Shares_ListByAccount",
        "summary": "List of available shares under an account.",
        "x-ms-examples": {
          "Shares_ListByAccount": {
            "$ref": "./examples/Shares_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "Delete a share ",
        "operationId": "Shares_Delete",
        "summary": "Deletes a share",
        "x-ms-examples": {
          "Shares_Delete": {
            "$ref": "./examples/Shares_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share to retrieve.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "Get a share ",
        "operationId": "Shares_Get",
        "summary": "Get a specified share",
        "x-ms-examples": {
          "Shares_Get": {
            "$ref": "./examples/Shares_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "Create a share ",
        "operationId": "Shares_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Share"
              }
            }
          },
          "description": "The share payload",
          "required": true
        },
        "summary": "Create a share in the given account.",
        "x-ms-examples": {
          "Shares_Create": {
            "$ref": "./examples/Shares_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSetList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSet"
        ],
        "description": "List DataSets in a share",
        "operationId": "DataSets_ListByShare",
        "summary": "List DataSets in a share.",
        "x-ms-examples": {
          "DataSets_ListByShare": {
            "$ref": "./examples/DataSets_ListByShare.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets/{dataSetName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dataSet.",
            "in": "path",
            "name": "dataSetName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSet"
        ],
        "description": "Delete a DataSet in a share",
        "operationId": "DataSets_Delete",
        "summary": "Delete DataSet in a share.",
        "x-ms-examples": {
          "DataSets_Delete": {
            "$ref": "./examples/DataSets_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dataSet.",
            "in": "path",
            "name": "dataSetName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSet"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSet"
        ],
        "description": "Get a DataSet in a share",
        "operationId": "DataSets_Get",
        "summary": "Get DataSet in a share.",
        "x-ms-examples": {
          "DataSets_Get": {
            "$ref": "./examples/DataSets_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share to add the data set to.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dataSet.",
            "in": "path",
            "name": "dataSetName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSet"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSet"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "DataSet"
        ],
        "description": "Create a DataSet ",
        "operationId": "DataSets_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSet"
              }
            }
          },
          "description": "The new data set information.",
          "required": true
        },
        "summary": "Adds a new data set to an existing share.",
        "x-ms-examples": {
          "DataSets_Create": {
            "$ref": "./examples/DataSets_Create.json"
          },
          "DataSets_KustoCluster_Create": {
            "$ref": "./examples/DataSets_KustoCluster_Create.json"
          },
          "DataSets_KustoDatabase_Create": {
            "$ref": "./examples/DataSets_KustoDatabase_Create.json"
          },
          "DataSets_SqlDBTable_Create": {
            "$ref": "./examples/DataSets_SqlDBTable_Create.json"
          },
          "DataSets_SqlDWTable_Create": {
            "$ref": "./examples/DataSets_SqlDWTable_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "The continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Invitation"
        ],
        "description": "List invitations in a share",
        "operationId": "Invitations_ListByShare",
        "summary": "List all Invitations in a share.",
        "x-ms-examples": {
          "Invitations_ListByShare": {
            "$ref": "./examples/Invitations_ListByShare.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations/{invitationName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the invitation.",
            "in": "path",
            "name": "invitationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Invitation"
        ],
        "description": "Delete an invitation in a share",
        "operationId": "Invitations_Delete",
        "summary": "Delete Invitation in a share.",
        "x-ms-examples": {
          "Invitations_Delete": {
            "$ref": "./examples/Invitations_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the invitation.",
            "in": "path",
            "name": "invitationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Invitation"
        ],
        "description": "Get an invitation in a share",
        "operationId": "Invitations_Get",
        "summary": "Get Invitation in a share.",
        "x-ms-examples": {
          "Invitations_Get": {
            "$ref": "./examples/Invitations_Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share to send the invitation for.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the invitation.",
            "in": "path",
            "name": "invitationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            },
            "description": "Success"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Invitation"
        ],
        "description": "Create an invitation ",
        "operationId": "Invitations_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invitation"
              }
            }
          },
          "description": "Invitation details.",
          "required": true
        },
        "summary": "Sends a new invitation to a recipient to access a share.",
        "x-ms-examples": {
          "Invitations_Create": {
            "$ref": "./examples/Invitations_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizationDetails": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynchronizationDetailsList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "List synchronization details",
        "operationId": "Shares_ListSynchronizationDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareSynchronization"
              }
            }
          },
          "description": "Share Synchronization payload.",
          "required": true
        },
        "summary": "List data set level details for a share synchronization",
        "x-ms-examples": {
          "Shares_ListSynchronizationDetails": {
            "$ref": "./examples/Shares_ListSynchronizationDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizations": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the results using OData syntax.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sorts the results using OData syntax.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSynchronizationList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "List synchronizations of a share",
        "operationId": "Shares_ListSynchronizations",
        "summary": "List Synchronizations in a share",
        "x-ms-examples": {
          "Shares_ListSynchronizations": {
            "$ref": "./examples/Shares_ListSynchronizations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "description": "Continuation Token",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderShareSubscriptionList"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "List share subscriptions in a provider share",
        "operationId": "ProviderShareSubscriptions_ListByShare",
        "summary": "List of available share subscriptions to a provider share.",
        "x-ms-examples": {
          "ProviderShareSubscriptions_ListByShare": {
            "$ref": "./examples/ProviderShareSubscriptions_ListByShare.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "To locate shareSubscription",
            "in": "path",
            "name": "providerShareSubscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderShareSubscription"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "Get share subscription in a provider share",
        "operationId": "ProviderShareSubscriptions_GetByShare",
        "summary": "Get share subscription in a provider share.",
        "x-ms-examples": {
          "ProviderShareSubscriptions_GetByShare": {
            "$ref": "./examples/ProviderShareSubscriptions_GetByShare.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/reinstate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "To locate shareSubscription",
            "in": "path",
            "name": "providerShareSubscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderShareSubscription"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataShareError"
                }
              }
            },
            "description": "An error response received from the Microsoft.DataShare resource provider."
          }
        },
        "tags": [
          "Share"
        ],
        "description": "Reinstate share subscription in a provider share",
        "operationId": "ProviderShareSubscriptions_Reinstate",
        "summary": "Reinstate share subscription in a provider share.",
        "x-ms-examples": {
          "ProviderShareSubscriptions_Reinstate": {
            "$ref": "./examples/ProviderShareSubscriptions_Reinstate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/revoke": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/accountName"
          },
          {
            "description": "The name of the share.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "To locate shareSubscription",
            "in": "path",
            "name": "providerShareSubscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderShareSubscription"
[...]
