openapi: 3.0.0
info:
  description: Mixed Reality Resource Provider Proxy API
  title: Mixed Reality
  version: 2019-12-02-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.MixedReality/operations:
    get:
      parameters:
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Proxy
      description: Exposing Available Operations
      operationId: Operations_List
      x-ms-examples:
        List available operations:
          $ref: ./examples/proxy/ExposingAvailableOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: ./common.json#/components/parameters/subscriptionIdParameter
        - $ref: ./common.json#/components/parameters/locationParameter
        - $ref: ./common.json#/components/parameters/apiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Proxy
      description: Check Name Availability for local uniqueness
      operationId: CheckNameAvailabilityLocal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: Check Name Availability Request.
        required: true
      x-ms-examples:
        CheckLocalNameAvailability:
          $ref: ./examples/proxy/CheckNameAvailabilityForLocalUniqueness.json
components:
  schemas:
    CheckNameAvailabilityRequest:
      description: Check Name Availability Request
      properties:
        name:
          description: Resource Name To Verify
          type: string
        type:
          description: Fully qualified resource type which includes provider namespace
          type: string
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityResponse:
      description: Check Name Availability Response
      properties:
        message:
          description: detail message
          type: string
        nameAvailable:
          description: if name Available
          type: boolean
        reason:
          $ref: '#/components/schemas/NameUnavailableReason'
          description: Resource Name To Verify
      required:
        - nameAvailable
      type: object
    NameUnavailableReason:
      description: reason of name unavailable.
      enum:
        - Invalid
        - AlreadyExists
      type: string
      x-ms-enum:
        modelAsString: true
        name: NameUnavailableReason
    Operation:
      description: REST API operation
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: The object that represents the operation.
        isDataAction:
          description: Whether or not this is a data plane operation
          type: boolean
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationDisplay:
      description: The object that represents the operation.
      properties:
        description:
          description: Description of operation
          type: string
        operation:
          description: 'Operation type: Read, write, delete, etc.'
          type: string
        provider:
          description: 'Service provider: Microsoft.ResourceProvider'
          type: string
        resource:
          description: >-
            Resource on which the operation is performed: Profile, endpoint,
            etc.
          type: string
      required:
        - provider
        - resource
        - operation
        - description
      type: object
    OperationPage:
      description: >-
        Result of the request to list Resource Provider operations. It contains
        a list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of operations supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

