{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights client for work item configurations for a component.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2015-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentWorkItemConfigs_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/DefaultWorkItemConfig": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkItemConfiguration"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "description": "Gets default work item configurations that exist for the application",
        "operationId": "WorkItemConfigurations_GetDefault",
        "x-ms-examples": {
          "WorkItemConfigurationsGetDefault": {
            "$ref": "./examples/WorkItemConfigDefaultGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkItemConfigurationsListResult"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkItemConfigurationError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Gets the list work item configurations that exist for the application",
        "operationId": "WorkItemConfigurations_List",
        "x-ms-examples": {
          "WorkItemConfigurationsList": {
            "$ref": "./examples/WorkItemConfigsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkItemConfiguration"
                }
              }
            },
            "description": "An object containing the work item configuration definition created by this PUT call."
          }
        },
        "description": "Create a work item configuration for an Application Insights component.",
        "operationId": "WorkItemConfigurations_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkItemCreateConfiguration"
              }
            }
          },
          "description": "Properties that need to be specified to create a work item configuration of a Application Insights component.",
          "required": true
        },
        "x-ms-examples": {
          "WorkItemConfigurationsCreate": {
            "$ref": "./examples/WorkItemConfigCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs/{workItemConfigId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkItemConfigIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The work item configuration that was successfully deleted."
          }
        },
        "description": "Delete a work item configuration of an Application Insights component.",
        "operationId": "WorkItemConfigurations_Delete",
        "x-ms-examples": {
          "WorkItemConfigurationDelete": {
            "$ref": "./examples/WorkItemConfigDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkItemConfigIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkItemConfiguration"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "description": "Gets specified work item configuration for an Application Insights component.",
        "operationId": "WorkItemConfigurations_GetItem",
        "x-ms-examples": {
          "WorkItemConfigurationsGetDefault": {
            "$ref": "./examples/WorkItemConfigGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkItemConfigIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkItemConfiguration"
                }
              }
            },
            "description": "Successful operation indicating the config updated by this PATCH call."
          }
        },
        "description": "Update a work item configuration for an Application Insights component.",
        "operationId": "WorkItemConfigurations_UpdateItem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkItemCreateConfiguration"
              }
            }
          },
          "description": "Properties that need to be specified to update a work item configuration for this Application Insights component.",
          "required": true
        },
        "x-ms-examples": {
          "WorkItemConfigurationsCreate": {
            "$ref": "./examples/WorkItemConfigUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "WorkItemConfigIdParameter": {
        "description": "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
        "in": "path",
        "name": "workItemConfigId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "InnerError": {
        "description": "Inner error",
        "properties": {
          "diagnosticcontext": {
            "description": "Provides correlation for request",
            "type": "string"
          },
          "time": {
            "description": "Request time",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkItemConfiguration": {
        "description": "Work item configuration associated with an application insights resource.",
        "properties": {
          "ConfigDisplayName": {
            "description": "Configuration friendly name",
            "type": "string"
          },
          "ConfigProperties": {
            "description": "Serialized JSON object for detailed properties",
            "type": "string"
          },
          "ConnectorId": {
            "description": "Connector identifier where work item is created",
            "type": "string"
          },
          "Id": {
            "description": "Unique Id for work item",
            "type": "string"
          },
          "IsDefault": {
            "description": "Boolean value indicating whether configuration is default",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "WorkItemConfigurationError": {
        "description": "Error associated with trying to get work item configuration or configurations",
        "properties": {
          "code": {
            "description": "Error detail code and explanation",
            "type": "string"
          },
          "innererror": {
            "$ref": "#/components/schemas/InnerError"
          },
          "message": {
            "description": "Error message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkItemConfigurationsListResult": {
        "description": "Work item configuration list result.",
        "properties": {
          "value": {
            "description": "An array of work item configurations.",
            "items": {
              "$ref": "#/components/schemas/WorkItemConfiguration"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "Id"
            ]
          }
        },
        "type": "object"
      },
      "WorkItemCreateConfiguration": {
        "description": "Work item configuration creation payload",
        "properties": {
          "ConnectorDataConfiguration": {
            "description": "Serialized JSON object for detailed properties",
            "type": "string"
          },
          "ConnectorId": {
            "description": "Unique connector id",
            "type": "string"
          },
          "ValidateOnly": {
            "description": "Boolean indicating validate only",
            "type": "boolean"
          },
          "WorkItemProperties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom work item properties",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}