{
  "openapi": "3.0.0",
  "info": {
    "description": "AzureBridge Admin Client.",
    "title": "AzureBridgeAdminClient",
    "version": "2016-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/DownloadedProduct.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts": {
      "get": {
        "parameters": [
          {
            "$ref": "AzureBridge.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadedProductResourcesPage"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Activation.json#/definitions/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "DownloadedProducts"
        ],
        "description": "Get a list of downloaded products.",
        "operationId": "DownloadedProducts_List",
        "x-ms-examples": {
          "Get a list of downloaded products.": {
            "$ref": "./examples/DownloadedProduct/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "AzureBridge.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
                }
              }
            },
            "description": "Accepted"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
                }
              }
            },
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Activation.json#/definitions/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "DownloadedProducts"
        ],
        "description": "Delete a downloaded product.",
        "operationId": "DownloadedProducts_Delete",
        "x-ms-examples": {
          "Deletes the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "AzureBridge.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Activation.json#/definitions/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "DownloadedProducts"
        ],
        "description": "Get a downloaded product.",
        "operationId": "DownloadedProducts_Get",
        "x-ms-examples": {
          "Gets the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "AzureBridge.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ActivationNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ProductNameParameter"
          },
          {
            "$ref": "AzureBridge.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Activation.json#/definitions/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "DownloadedProducts"
        ],
        "description": "Creates a downloaded product.",
        "operationId": "DownloadedProducts_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
              }
            }
          },
          "description": "Downloaded product resource definition.",
          "required": true
        },
        "x-ms-examples": {
          "Puts the specified downloaded product.": {
            "$ref": "./examples/DownloadedProduct/Put.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "schemas": {
      "DownloadedProductResourcesPage": {
        "description": "Holds an array of downloaded products and the URI to the next page.",
        "properties": {
          "nextLink": {
            "description": "URI to next page.",
            "type": "string"
          },
          "value": {
            "description": "Array of downloaded products.",
            "items": {
              "$ref": "AzureBridge.json#/definitions/DownloadedProductResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}