{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "title": "Microsoft Defender for Cloud",
    "version": "2015-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/locations.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/AscLocationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Locations"
        ],
        "description": "The location of the responsible ASC of the specific subscription (home region). For each subscription there is only one responsible location. The location in the response should be used to read or write other resources in ASC according to their ID.",
        "operationId": "Locations_List",
        "x-ms-examples": {
          "Get security data locations": {
            "$ref": "./examples/Locations/GetLocations_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/AscLocation"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Locations"
        ],
        "description": "Details of a specific location",
        "operationId": "Locations_Get",
        "x-ms-examples": {
          "Get security data location": {
            "$ref": "./examples/Locations/GetLocation_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ExtendedResourceName": {
        "description": "The name of the base resource",
        "in": "path",
        "name": "extendedResourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ExtendedResourceProvider": {
        "description": "Resource provider name of the base resource",
        "in": "path",
        "name": "extendedResourceProvider",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ExtendedResourceType": {
        "description": "Type of the base resource",
        "in": "path",
        "name": "extendedResourceType",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}