{
  "openapi": "3.0.0",
  "info": {
    "title": "DeletedWebApps API Client",
    "version": "2018-02-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/DeletedWebApps.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedWebAppCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "DeletedWebApps"
        ],
        "description": "Get all deleted apps for a subscription.",
        "operationId": "DeletedWebApps_List",
        "summary": "Get all deleted apps for a subscription.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedWebAppCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "DeletedWebApps"
        ],
        "description": "Get all deleted apps for a subscription at location",
        "operationId": "DeletedWebApps_ListByLocation",
        "summary": "Get all deleted apps for a subscription at location",
        "x-ms-examples": {
          "List Deleted Web App by Location": {
            "$ref": "./examples/ListDeletedWebAppsByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites/{deletedSiteId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The numeric ID of the deleted app, e.g. 12345",
            "in": "path",
            "name": "deletedSiteId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DeletedSite"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "DeletedWebApps"
        ],
        "description": "Get deleted app for a subscription at location.",
        "operationId": "DeletedWebApps_GetDeletedWebAppByLocation",
        "summary": "Get deleted app for a subscription at location.",
        "x-ms-examples": {
          "Get Deleted Web App by Location": {
            "$ref": "./examples/GetDeletedWebAppByLocation.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "subscriptionIdParameter": {
        "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "DeletedWebAppCollection": {
        "description": "Collection of deleted apps.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "./CommonDefinitions.json#/definitions/DeletedSite"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}