{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure SQL Server management API provides a RESTful set of web services that interact with Azure SQL Server services to manage your databases. The API enables users update server connection policy.",
    "title": "Azure SQL Server API spec",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/connectionPolicies.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/connectionPolicies/{connectionPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/ConnectionPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerConnectionPolicy"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ConnectionPolicies"
        ],
        "description": "Gets the server's secure connection policy.",
        "operationId": "ServerConnectionPolicies_Get",
        "x-ms-examples": {
          "Get a server's secure connection policy": {
            "$ref": "./examples/ServerConnectionPolicyGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/ConnectionPolicyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerConnectionPolicy"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerConnectionPolicy"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "ConnectionPolicies"
        ],
        "description": "Creates or updates the server's connection policy.",
        "operationId": "ServerConnectionPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerConnectionPolicy"
              }
            }
          },
          "description": "The required parameters for updating a secure connection policy.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a server's secure connection policy": {
            "$ref": "./examples/ServerConnectionPolicyCreateOrUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ConnectionPolicyNameParameter": {
        "description": "The name of the connection policy.",
        "in": "path",
        "name": "connectionPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ConnectionPolicyName"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ServerConnectionPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A server secure connection policy.",
        "properties": {
          "kind": {
            "description": "Metadata used for the Azure portal experience.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ServerConnectionPolicyProperties",
            "description": "The properties of the server secure connection policy.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ServerConnectionPolicyProperties": {
        "description": "The properties of a server secure connection policy.",
        "properties": {
          "connectionType": {
            "description": "The server connection type.",
            "enum": [
              "Default",
              "Proxy",
              "Redirect"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "ServerConnectionType"
            }
          }
        },
        "required": [
          "connectionType"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}