{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2018-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-01-01/publicIpAddress.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddressListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddressListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of PublicIPAddress resources."
          }
        },
        "tags": [
          "PublicIPAddresses"
        ],
        "description": "Gets all the public IP addresses in a subscription.",
        "operationId": "PublicIPAddresses_ListAll",
        "x-ms-examples": {
          "List all public IP addresses": {
            "$ref": "./examples/PublicIpAddressListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddressListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddressListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of PublicIPAddress resources."
          }
        },
        "tags": [
          "PublicIPAddresses"
        ],
        "description": "Gets all public IP addresses in a resource group.",
        "operationId": "PublicIPAddresses_List",
        "x-ms-examples": {
          "List resource group public IP addresses": {
            "$ref": "./examples/PublicIpAddressList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the subnet.",
            "in": "path",
            "name": "publicIpAddressName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "tags": [
          "PublicIPAddresses"
        ],
        "description": "Deletes the specified public IP address.",
        "operationId": "PublicIPAddresses_Delete",
        "x-ms-examples": {
          "Delete public IP address": {
            "$ref": "./examples/PublicIpAddressDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the subnet.",
            "in": "path",
            "name": "publicIpAddressName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting PublicIPAddress resource."
          }
        },
        "tags": [
          "PublicIPAddresses"
        ],
        "description": "Gets the specified public IP address in a specified resource group.",
        "operationId": "PublicIPAddresses_Get",
        "x-ms-examples": {
          "Get public IP address": {
            "$ref": "./examples/PublicIpAddressGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the public IP address.",
            "in": "path",
            "name": "publicIpAddressName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting PublicIPAddress resource."
          }
        },
        "tags": [
          "PublicIPAddresses"
        ],
        "description": "Updates public IP address tags.",
        "operationId": "PublicIPAddresses_UpdateTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./network.json#/definitions/TagsObject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "./network.json#/definitions/TagsObject"
              }
            }
          },
          "description": "Parameters supplied to update public IP address tags.",
          "required": true
        },
        "x-ms-examples": {
          "Update public IP address tags": {
            "$ref": "./examples/PublicIpAddressUpdateTags.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the public IP address.",
            "in": "path",
            "name": "publicIpAddressName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting PublicIPAddress resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicIPAddress"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting PublicIPAddress resource."
          }
        },
        "tags": [
          "PublicIPAddresses"
        ],
        "description": "Creates or updates a static or dynamic public IP address.",
        "operationId": "PublicIPAddresses_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicIPAddress"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicIPAddress"
              }
            }
          },
          "description": "Parameters supplied to the create or update public IP address operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create public IP address DNS": {
            "$ref": "./examples/PublicIpAddressCreateDns.json"
          },
          "Create public IP address allocation method": {
            "$ref": "./examples/PublicIpAddressCreateCustomizedValues.json"
          },
          "Create public IP address defaults": {
            "$ref": "./examples/PublicIpAddressCreateDefaults.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "IpTag": {
        "description": "Contains the IpTag associated with the public IP address",
        "properties": {
          "ipTagType": {
            "description": "Gets or sets the ipTag type: Example FirstPartyUsage.",
            "type": "string"
          },
          "tag": {
            "description": "Gets or sets value of the IpTag associated with the public IP. Example SQL, Storage etc",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublicIPAddress": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Public IP address resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PublicIPAddressPropertiesFormat",
            "description": "Public IP address properties.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/PublicIPAddressSku",
            "description": "The public IP address SKU."
          },
          "zones": {
            "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PublicIPAddressDnsSettings": {
        "description": "Contains FQDN of the DNS record associated with the public IP address",
        "properties": {
          "domainNameLabel": {
            "description": "Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system.",
            "type": "string"
          },
          "fqdn": {
            "description": "Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.",
            "type": "string"
          },
          "reverseFqdn": {
            "description": "Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublicIPAddressListResult": {
        "description": "Response for ListPublicIpAddresses API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "A list of public IP addresses that exists in a resource group.",
            "items": {
              "$ref": "#/components/schemas/PublicIPAddress"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PublicIPAddressPropertiesFormat": {
        "description": "Public IP address properties.",
        "properties": {
          "dnsSettings": {
            "$ref": "#/components/schemas/PublicIPAddressDnsSettings",
            "description": "The FQDN of the DNS record associated with the public IP address."
          },
          "idleTimeoutInMinutes": {
            "description": "The idle timeout of the public IP address.",
            "format": "int32",
            "type": "integer"
          },
          "ipAddress": {
            "description": "The IP address associated with the public IP address resource.",
            "type": "string"
          },
          "ipConfiguration": {
            "$ref": "./networkInterface.json#/definitions/IPConfiguration",
            "description": "The IP configuration associated with the public IP address.",
            "readOnly": true
          },
          "ipTags": {
            "description": "The list of tags associated with the public IP address.",
            "items": {
              "$ref": "#/components/schemas/IpTag"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "The provisioning state of the PublicIP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.",
            "type": "string"
          },
          "publicIPAddressVersion": {
            "description": "The public IP address version. Possible values are: 'IPv4' and 'IPv6'.",
            "enum": [
              "IPv4",
              "IPv6"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "IPVersion"
            }
          },
          "publicIPAllocationMethod": {
            "description": "The public IP allocation method. Possible values are: 'Static' and 'Dynamic'.",
            "enum": [
              "Static",
              "Dynamic"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "IPAllocationMethod"
            }
          },
          "resourceGuid": {
            "description": "The resource GUID property of the public IP resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublicIPAddressSku": {
        "description": "SKU of a public IP address",
        "properties": {
          "name": {
            "description": "Name of a public IP address SKU.",
            "enum": [
              "Basic",
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PublicIPAddressSkuName"
            }
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}