{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure Analysis Services Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Analysis Services servers",
    "title": "AzureAnalysisServices",
    "version": "2017-08-01",
    "x-ms-code-generation-settings": {
      "name": "AnalysisServicesManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-08-01/analysisservices.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.AnalysisServices/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available consumption REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckServerNameAvailabilityResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Check the name availability in the target location.",
        "operationId": "Servers_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckServerNameAvailabilityParameters"
              }
            }
          },
          "description": "Contains the information used to provision the Analysis Services server.",
          "required": true
        },
        "x-ms-examples": {
          "Get details of a server": {
            "$ref": "./examples/checkNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}": {
      "get": {
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The target operation Id.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed."
          },
          "202": {
            "description": "Accepted. The operation is ongoing."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "List the result of the specified operation.",
        "operationId": "Servers_ListOperationResults",
        "x-ms-examples": {
          "Get details of a server": {
            "$ref": "./examples/operationResults.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}": {
      "get": {
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The target operation Id.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            },
            "description": "OK. The operation completed."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            },
            "description": "Accepted. The operation is ongoing."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "List the status of operation.",
        "operationId": "Servers_ListOperationStatuses",
        "x-ms-examples": {
          "Get details of a server": {
            "$ref": "./examples/operationStatuses.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServers"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Lists all the Analysis Services servers for the given subscription.",
        "operationId": "Servers_List",
        "x-ms-examples": {
          "List existing servers under the subscription.": {
            "$ref": "./examples/listServers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuEnumerationForNewResourceResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Lists eligible SKUs for Analysis Services resource provider.",
        "operationId": "Servers_ListSkusForNew",
        "x-ms-examples": {
          "List eligible SKUs for a new server": {
            "$ref": "./examples/listSkusForNew.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServers"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Gets all the Analysis Services servers for the given resource group.",
        "operationId": "Servers_ListByResourceGroup",
        "x-ms-examples": {
          "List existing servers in the resource group.": {
            "$ref": "./examples/listServersInResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Deletes the specified Analysis Services server.",
        "operationId": "Servers_Delete",
        "x-ms-examples": {
          "Delete a server.": {
            "$ref": "./examples/deleteServer.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be a minimum of 3 characters, and a maximum of 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServer"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Gets details about the specified Analysis Services server.",
        "operationId": "Servers_GetDetails",
        "x-ms-examples": {
          "Get details of a server": {
            "$ref": "./examples/getServer.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServer"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServer"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Updates the current state of the specified Analysis Services server.",
        "operationId": "Servers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisServicesServerUpdateParameters"
              }
            }
          },
          "description": "Request object that contains the updated information for the server.",
          "required": true
        },
        "x-ms-examples": {
          "Update a server.": {
            "$ref": "./examples/updateServer.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be a minimum of 3 characters, and a maximum of 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServer"
                }
              }
            },
            "description": "OK. The operation completed successfully."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServer"
                }
              }
            },
            "description": "InProgress. The operation is still completing."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisServicesServer"
                }
              }
            },
            "description": "Preparing. The operation is still completing."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Provisions the specified Analysis Services server based on the configuration specified in the request.",
        "operationId": "Servers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisServicesServer"
              }
            }
          },
          "description": "Contains the information used to provision the Analysis Services server.",
          "required": true
        },
        "x-ms-examples": {
          "Create a server.": {
            "$ref": "./examples/createServer.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/dissociateGateway": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Dissociates a Unified Gateway associated with the server.",
        "operationId": "Servers_DissociateGateway",
        "x-ms-examples": {
          "Get details of a server": {
            "$ref": "./examples/dissociateGateway.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/listGatewayStatus": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayListStatusLive"
                }
              }
            },
            "description": "OK."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayListStatusError"
                }
              }
            },
            "description": "Default response as an error"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Return the gateway status of the specified Analysis Services server instance.",
        "operationId": "Servers_ListGatewayStatus",
        "x-ms-examples": {
          "Get details of a server": {
            "$ref": "./examples/listGatewayStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/resume": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Resumes operation of the specified Analysis Services server instance.",
        "operationId": "Servers_Resume",
        "x-ms-examples": {
          "Resume a server.": {
            "$ref": "./examples/resumeServer.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuEnumerationForExistingResourceResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Lists eligible SKUs for an Analysis Services resource.",
        "operationId": "Servers_ListSkusForExisting",
        "x-ms-examples": {
          "List eligible SKUs for an existing server": {
            "$ref": "./examples/listSkusForExisting.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/suspend": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "serverName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Suspends operation of the specified Analysis Services server instance.",
        "operationId": "Servers_Suspend",
        "x-ms-examples": {
          "Suspend a server.": {
            "$ref": "./examples/suspendServer.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AnalysisServicesServer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Represents an instance of an Analysis Services resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AnalysisServicesServerProperties",
            "description": "Properties of the provision operation request.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AnalysisServicesServerMutableProperties": {
        "description": "An object that represents a set of mutable Analysis Services resource properties.",
        "properties": {
          "asAdministrators": {
            "$ref": "#/components/schemas/ServerAdministrators",
            "description": "A collection of AS server administrators"
          },
          "backupBlobContainerUri": {
            "description": "The SAS container URI to the backup container.",
            "type": "string"
          },
          "gatewayDetails": {
            "$ref": "#/components/schemas/GatewayDetails",
            "description": "The gateway details configured for the AS server."
          },
          "ipV4FirewallSettings": {
            "$ref": "#/components/schemas/IPv4FirewallSettings",
            "description": "The firewall settings for the AS server."
          },
          "managedMode": {
            "default": 1,
            "description": "The managed mode of the server (0 = not managed, 1 = managed).",
            "enum": [
              0,
              1
            ],
            "format": "int32",
            "type": "integer",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ManagedMode"
            }
          },
          "querypoolConnectionMode": {
            "default": "All",
            "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
            "enum": [
              "All",
              "ReadOnly"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ConnectionMode"
            }
          },
          "serverMonitorMode": {
            "default": 1,
            "description": "The server monitor mode for AS server",
            "enum": [
              0,
              1
            ],
            "format": "int32",
            "type": "integer",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ServerMonitorMode"
            }
          }
        },
        "type": "object"
      },
      "AnalysisServicesServerProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AnalysisServicesServerMutableProperties"
          }
        ],
        "description": "Properties of Analysis Services resource.",
        "properties": {
          "provisioningState": {
            "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.",
            "enum": [
              "Deleting",
              "Succeeded",
              "Failed",
              "Paused",
              "Suspended",
              "Provisioning",
              "Updating",
              "Suspending",
              "Pausing",
              "Resuming",
              "Preparing",
              "Scaling"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProvisioningState"
            }
          },
          "serverFullName": {
            "description": "The full name of the Analysis Services resource.",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU of the Analysis Services resource."
          },
          "state": {
            "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.",
            "enum": [
              "Deleting",
              "Succeeded",
              "Failed",
              "Paused",
              "Suspended",
              "Provisioning",
              "Updating",
              "Suspending",
              "Pausing",
              "Resuming",
              "Preparing",
              "Scaling"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "State"
            }
          }
        },
        "type": "object"
      },
      "AnalysisServicesServerUpdateParameters": {
        "description": "Provision request specification",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of additional provisioning properties.",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/AnalysisServicesServerMutableProperties",
            "description": "Properties of the provision operation request.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU of the Analysis Services resource."
          }
        },
        "type": "object"
      },
      "AnalysisServicesServers": {
        "description": "An array of Analysis Services resources.",
        "properties": {
          "value": {
            "description": "An array of Analysis Services resources.",
            "items": {
              "$ref": "#/components/schemas/AnalysisServicesServer"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "CheckServerNameAvailabilityParameters": {
        "description": "Details of server name request body.",
        "properties": {
          "name": {
            "description": "Name for checking availability.",
            "maxLength": 63,
            "minLength": 3,
            "pattern": "^[a-z][a-z0-9]*$",
            "type": "string"
          },
          "type": {
            "default": "Microsoft.AnalysisServices/servers",
            "description": "The resource type of azure analysis services.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CheckServerNameAvailabilityResult": {
        "description": "The checking result of server name availability.",
        "properties": {
          "message": {
            "description": "The detailed message of the request unavailability.",
            "type": "string"
          },
          "nameAvailable": {
            "description": "Indicator of available of the server name.",
            "type": "boolean"
          },
          "reason": {
            "description": "The reason of unavailability.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorAdditionalInfo": {
        "description": "The resource management error additional info.",
        "properties": {
          "info": {
            "description": "The additional info.",
            "readOnly": true,
            "type": "object"
          },
          "type": {
            "description": "The additional info type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDetail": {
        "description": "The error detail.",
        "properties": {
          "additionalInfo": {
            "description": "The error additional info.",
            "items": {
              "$ref": "#/components/schemas/ErrorAdditionalInfo"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": []
          },
          "code": {
            "description": "The error code.",
            "readOnly": true,
            "type": "string"
          },
          "details": {
            "description": "The error details.",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "message",
              "target"
            ]
          },
          "httpStatusCode": {
            "description": "The http status code",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "message": {
            "description": "The error message.",
            "readOnly": true,
            "type": "string"
          },
          "subCode": {
            "description": "The error sub code",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "target": {
            "description": "The error target.",
            "readOnly": true,
            "type": "string"
          },
          "timeStamp": {
            "description": "the timestamp for the error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail",
            "description": "The error object"
          }
        },
        "type": "object"
      },
      "GatewayDetails": {
        "description": "The gateway details.",
        "properties": {
          "dmtsClusterUri": {
            "description": "Uri of the DMTS cluster.",
            "readOnly": true,
            "type": "string"
          },
          "gatewayObjectId": {
            "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
            "readOnly": true,
            "type": "string"
          },
          "gatewayResourceId": {
            "description": "Gateway resource to be associated with the server.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GatewayError": {
        "$ref": "#/components/schemas/ErrorDetail",
        "description": "Detail of gateway errors.",
        "type": "object"
      },
      "GatewayListStatusError": {
        "description": "Status of gateway is error.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/GatewayError",
            "description": "Error of the list gateway status."
          }
        },
        "type": "object"
      },
      "GatewayListStatusLive": {
        "description": "Status of gateway is live.",
        "properties": {
          "status": {
            "description": "Live message of list gateway. Status: 0 - Live",
            "enum": [
              0
            ],
            "format": "int32",
            "type": "integer",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "Status"
            }
          }
        },
        "type": "object"
      },
      "IPv4FirewallRule": {
        "description": "The detail of firewall rule.",
        "properties": {
          "firewallRuleName": {
            "description": "The rule name.",
            "type": "string"
          },
          "rangeEnd": {
            "description": "The end range of IPv4.",
            "type": "string"
          },
          "rangeStart": {
            "description": "The start range of IPv4.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "IPv4FirewallSettings": {
        "description": "An array of firewall rules.",
        "properties": {
          "enablePowerBIService": {
            "description": "The indicator of enabling PBI service.",
            "type": "boolean"
          },
          "firewallRules": {
            "description": "An array of firewall rules.",
            "items": {
              "$ref": "#/components/schemas/IPv4FirewallRule",
              "description": "The content of firewall rule."
            },
            "type": "array",
            "x-ms-identifiers": [
              "firewallRuleName"
            ]
          }
        },
        "type": "object"
      },
      "LogSpecifications": {
        "description": "The log metric specification for exposing performance metrics to shoebox.",
        "properties": {
          "blobDuration": {
            "description": "The blob duration for the log.",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "The displayed name of log.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of metric.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricDimensions": {
        "description": "Metric dimension.",
        "properties": {
          "displayName": {
            "description": "Dimension display name.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Dimension name.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricSpecifications": {
        "description": "Available operation metric specification for exposing performance metrics to shoebox.",
        "properties": {
          "aggregationType": {
            "description": "The aggregation type of metric.",
            "readOnly": true,
            "type": "string"
          },
          "dimensions": {
            "description": "The dimensions of metric.",
            "items": {
              "$ref": "#/components/schemas/MetricDimensions"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          },
          "displayDescription": {
            "description": "The displayed description of metric.",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "The displayed name of metric.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of metric.",
            "readOnly": true,
            "type": "string"
          },
          "unit": {
            "description": "The unit of the metric.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "A Consumption REST API operation.",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "description": {
                "description": "Description of the operation object.",
                "readOnly": true,
                "type": "string"
              },
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.Consumption.",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: UsageDetail, etc.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "readOnly": true,
            "type": "string"
          },
          "origin": {
            "description": "The origin",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "description": "Additional properties to expose performance metrics to shoebox.",
            "properties": {
              "serviceSpecification": {
                "description": "Performance metrics to shoebox.",
                "properties": {
                  "logSpecifications": {
                    "description": "The log specifications.",
                    "items": {
                      "$ref": "#/components/schemas/LogSpecifications"
                    },
                    "readOnly": true,
                    "type": "array",
                    "x-ms-identifiers": [
                      "name"
                    ]
                  },
                  "metricSpecifications": {
                    "description": "The metric specifications.",
                    "items": {
                      "$ref": "#/components/schemas/MetricSpecifications"
                    },
                    "readOnly": true,
                    "type": "array",
                    "x-ms-identifiers": [
                      "name"
                    ]
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of analysis services operations supported by the Microsoft.AnalysisServices resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "OperationStatus": {
        "description": "The status of operation.",
        "properties": {
          "endTime": {
            "description": "The end time of the operation.",
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail",
            "description": "The error detail of the operation if any.",
            "type": "object"
          },
          "id": {
            "description": "The operation Id.",
            "type": "string"
          },
          "name": {
            "description": "The operation name.",
            "type": "string"
          },
          "startTime": {
            "description": "The start time of the operation.",
            "type": "string"
          },
          "status": {
            "description": "The status of the operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Represents an instance of an Analysis Services resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of additional resource provisioning properties.",
            "type": "object"
          },
          "id": {
            "description": "An identifier that represents the Analysis Services resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location of the Analysis Services resource.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "The name of the Analysis Services resource.",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU of the Analysis Services resource."
          },
          "type": {
            "description": "The type of the Analysis Services resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location",
          "sku"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceSku": {
        "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
        "properties": {
          "capacity": {
            "default": 1,
            "description": "The number of instances in the read only query pool.",
            "format": "int32",
            "maximum": 8,
            "minimum": 1,
            "type": "integer"
          },
          "name": {
            "description": "Name of the SKU level.",
            "type": "string"
          },
          "tier": {
            "description": "The name of the Azure pricing tier to which the SKU applies.",
            "enum": [
              "Development",
              "Basic",
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuTier"
            }
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "ServerAdministrators": {
        "description": "An array of administrator user identities.",
        "properties": {
          "members": {
            "description": "An array of administrator user identities.",
            "items": {
              "description": "The UPN of the user. For example: johnsmith@contoso.com.",
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SkuDetailsForExistingResource": {
        "description": "An object that represents SKU details for existing resources.",
        "properties": {
          "resourceType": {
            "description": "The resource type.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU in SKU details for existing resources."
          }
        },
        "type": "object"
      },
      "SkuEnumerationForExistingResourceResult": {
        "description": "An object that represents enumerating SKUs for existing resources.",
        "properties": {
          "value": {
            "description": "The collection of available SKUs for existing resources.",
            "items": {
              "$ref": "#/components/schemas/SkuDetailsForExistingResource"
            },
            "type": "array",
            "x-ms-identifiers": [
              "sku/name"
            ]
          }
        },
        "type": "object"
      },
      "SkuEnumerationForNewResourceResult": {
        "description": "An object that represents enumerating SKUs for new resources.",
        "properties": {
          "value": {
            "description": "The collection of available SKUs for new resources.",
            "items": {
              "$ref": "#/components/schemas/ResourceSku"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}