openapi: 3.0.0
info:
  title: Dynamics Telemetry
  version: '2019-01-24'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.DynamicsTelemetry/operations:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        '204':
          description: No Content
      tags:
        - Operations
      operationId: Operations_List
      x-ms-examples:
        List Operations:
          $ref: ./examples/Operations_List.json
components:
  schemas:
    Display:
      additionalProperties: false
      properties:
        description:
          type: string
        operation:
          type: string
        provider:
          type: string
        publisher:
          type: string
        resource:
          type: string
      type: object
    LogSpecification:
      additionalProperties: false
      properties:
        blobDuration:
          format: duration
          type: string
        displayName:
          type: string
        name:
          type: string
      type: object
    Operation:
      additionalProperties: false
      properties:
        display:
          $ref: '#/components/schemas/Display'
        isDataAction:
          type: boolean
        name:
          type: string
        origin:
          type: string
        properties:
          $ref: '#/components/schemas/Properties'
      required:
        - isDataAction
      type: object
    OperationList:
      description: List of supported operations.
      items:
        $ref: '#/components/schemas/Operation'
      type: array
    Properties:
      additionalProperties: false
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
      type: object
    ServiceSpecification:
      additionalProperties: false
      properties:
        logSpecifications:
          items:
            $ref: '#/components/schemas/LogSpecification'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

