openapi: 3.0.0
info:
  description: Storage system operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSystemList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - StorageSystems
      description: Returns a list of all storage subsystems for a location.
      operationId: StorageSystems_List
      x-ms-examples:
        Returns a list of all storage subsystems for a location.:
          $ref: ./examples/StorageSystem/List.json
      x-ms-odata: '#/components/schemas/StorageSystem'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/StorageSubSystemParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSystem'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - StorageSystems
      description: Return the requested storage subsystem.
      operationId: StorageSystems_Get
      x-ms-examples:
        Return the requested storage subsystem.:
          $ref: ./examples/StorageSystem/Get.json
components:
  parameters:
    StorageSubSystemParameter:
      description: Name of the storage system.
      in: path
      name: storageSubSystem
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    StorageSystem:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: Representation of a storage system resource.
      properties:
        properties:
          $ref: '#/components/schemas/StorageSystemModel'
          description: All properties of a storage system.
          x-ms-client-flatten: true
      type: object
    StorageSystemList:
      description: Pageable list of storage systems.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage systems.
          items:
            $ref: '#/components/schemas/StorageSystem'
          type: array
      type: object
    StorageSystemModel:
      description: All properties of a storage system.
      properties:
        totalCapacityGB:
          description: Total capacity of the system.
          format: int32
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

