{
  "openapi": "3.0.0",
  "info": {
    "description": "The Storage Import/Export Resource Provider API.",
    "title": "StorageImportExport",
    "version": "2016-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.ImportExport/locations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Returns a list of locations to which you can ship the disks associated with an import or export job. A location is a Microsoft data center region.",
        "operationId": "Locations_List",
        "x-ms-examples": {
          "List locations": {
            "$ref": "examples/ListLocations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ImportExport/locations/{locationName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the location. For example, West US or westus.",
            "in": "path",
            "name": "locationName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Returns the details about a location to which you can ship the disks associated with an import or export job. A location is an Azure region.",
        "operationId": "Locations_Get",
        "x-ms-examples": {
          "Get locations": {
            "$ref": "examples/GetLocation.json"
          }
        }
      }
    },
    "/providers/Microsoft.ImportExport/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Returns the list of operations supported by the import/export resource provider.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "List available operations": {
            "$ref": "examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs": {
      "get": {
        "parameters": [
          {
            "description": "An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Can be used to restrict the results to certain conditions.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Returns all active and completed jobs in a subscription.",
        "operationId": "Jobs_ListBySubscription",
        "x-ms-examples": {
          "List jobs in a subscription": {
            "$ref": "examples/ListJobsInSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs": {
      "get": {
        "parameters": [
          {
            "description": "An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Can be used to restrict the results to certain conditions.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Returns all active and completed jobs in a resource group.",
        "operationId": "Jobs_ListByResourceGroup",
        "x-ms-examples": {
          "List jobs in a resource group": {
            "$ref": "examples/ListJobsInResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the import/export job.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Deletes an existing job. Only jobs in the Creating or Completed states can be deleted.",
        "operationId": "Jobs_Delete",
        "x-ms-examples": {
          "Delete job": {
            "$ref": "examples/DeleteJob.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the import/export job.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Gets information about an existing job.",
        "operationId": "Jobs_Get",
        "x-ms-examples": {
          "Get export job": {
            "$ref": "examples/GetExportJob.json"
          },
          "Get import job": {
            "$ref": "examples/GetJob.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the import/export job.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Updates specific properties of a job. You can call this operation to notify the Import/Export service that the hard drives comprising the import or export job have been shipped to the Microsoft data center. It can also be used to cancel an existing job.",
        "operationId": "Jobs_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobParameters"
              }
            }
          },
          "description": "The parameters to update in the job",
          "required": true
        },
        "x-ms-examples": {
          "Update export job": {
            "$ref": "examples/UpdateExportJob.json"
          },
          "Update import job": {
            "$ref": "examples/UpdateJob.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the import/export job.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "$ref": "#/components/parameters/x-ms-client-tenant-id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Creates a new job or updates an existing job in the specified subscription.",
        "operationId": "Jobs_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutJobParameters"
              }
            }
          },
          "description": "The parameters used for creating the job",
          "required": true
        },
        "x-ms-examples": {
          "Create export job": {
            "$ref": "examples/CreateExportJob.json"
          },
          "Create import job": {
            "$ref": "examples/CreateJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys": {
      "post": {
        "parameters": [
          {
            "description": "The name of the import/export job.",
            "in": "path",
            "name": "jobName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBitLockerKeysResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "An error occurs."
          }
        },
        "tags": [
          "StorageImportExport"
        ],
        "description": "Returns the BitLocker Keys for all drives in the specified job.",
        "operationId": "BitLockerKeys_List",
        "x-ms-examples": {
          "List BitLocker Keys for drives in a job": {
            "$ref": "examples/ListBitLockerKeys.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Accept-Language": {
        "description": "Specifies the preferred language for the response.",
        "in": "header",
        "name": "Accept-Language",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "api-version": {
        "description": "Specifies the API version to use for this request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupName": {
        "description": "The resource group name uniquely identifies the resource group within the user subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionId": {
        "description": "The subscription ID for the Azure user.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "x-ms-client-tenant-id": {
        "description": "The tenant ID of the client making the request.",
        "in": "header",
        "name": "x-ms-client-tenant-id",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-client-name": "ClientTenantId",
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DeliveryPackageInformation": {
        "description": "Contains information about the delivery package being shipped by the customer to the Microsoft data center.",
        "properties": {
          "carrierName": {
            "description": "The name of the carrier that is used to ship the import or export drives.",
            "type": "string"
          },
          "driveCount": {
            "description": "The number of drives included in the package.",
            "format": "int64",
            "type": "integer"
          },
          "shipDate": {
            "description": "The date when the package is shipped.",
            "type": "string"
          },
          "trackingNumber": {
            "description": "The tracking number of the package.",
            "type": "string"
          }
        },
        "required": [
          "carrierName",
          "trackingNumber"
        ],
        "type": "object"
      },
      "DriveBitLockerKey": {
        "description": "BitLocker recovery key or password to the specified drive",
        "properties": {
          "bitLockerKey": {
            "description": "BitLocker recovery key or password",
            "type": "string"
          },
          "driveId": {
            "description": "Drive ID",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DriveStatus": {
        "description": "Provides information about the drive's status",
        "properties": {
          "bitLockerKey": {
            "description": "The BitLocker key used to encrypt the drive.",
            "type": "string"
          },
          "bytesSucceeded": {
            "description": "Bytes successfully transferred for the drive.",
            "format": "int64",
            "type": "integer"
          },
          "copyStatus": {
            "description": "Detailed status about the data transfer process. This field is not returned in the response until the drive is in the Transferring state.",
            "type": "string"
          },
          "driveHeaderHash": {
            "description": "The drive header hash value.",
            "type": "string"
          },
          "driveId": {
            "description": "The drive's hardware serial number, without spaces.",
            "type": "string"
          },
          "errorLogUri": {
            "description": "A URI that points to the blob containing the error log for the data transfer operation.",
            "type": "string"
          },
          "manifestFile": {
            "description": "The relative path of the manifest file on the drive. ",
            "type": "string"
          },
          "manifestHash": {
            "description": "The Base16-encoded MD5 hash of the manifest file on the drive.",
            "type": "string"
          },
          "manifestUri": {
            "description": "A URI that points to the blob containing the drive manifest file. ",
            "type": "string"
          },
          "percentComplete": {
            "description": "Percentage completed for the drive. ",
            "format": "int64",
            "type": "integer"
          },
          "state": {
            "default": "Specified",
            "description": "The drive's current state. ",
            "enum": [
              "Specified",
              "Received",
              "NeverReceived",
              "Transferring",
              "Completed",
              "CompletedMoreInfo",
              "ShippedBack"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DriveState"
            }
          },
          "verboseLogUri": {
            "description": "A URI that points to the blob containing the verbose log for the data transfer operation. ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EncryptionKeyDetails": {
        "description": "Specifies the encryption key properties",
        "properties": {
          "kekType": {
            "default": "MicrosoftManaged",
            "description": "The type of kek encryption key",
            "enum": [
              "MicrosoftManaged",
              "CustomerManaged"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "EncryptionKekType"
            }
          },
          "kekUrl": {
            "description": "Specifies the url for kek encryption key. ",
            "type": "string"
          },
          "kekVaultResourceID": {
            "description": "Specifies the keyvault resource id for kek encryption key. ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Response when errors occurred",
        "properties": {
          "error": {
            "description": "Describes the error information.",
            "properties": {
              "code": {
                "description": "Provides information about the error code.",
                "type": "string"
              },
              "details": {
                "description": "Describes the error details if present.",
                "items": {
                  "properties": {
                    "code": {
                      "description": "Provides information about the error code.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Provides information about the error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Provides information about the error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array",
                "x-ms-identifiers": []
              },
              "innererror": {
                "description": "Inner error object if present.",
                "type": "object"
              },
              "message": {
                "description": "Provides information about the error message.",
                "type": "string"
              },
              "target": {
                "description": "Provides information about the error target.",
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Export": {
        "description": "A property containing information about the blobs to be exported for an export job. This property is required for export jobs, but must not be specified for import jobs.",
        "properties": {
          "blobList": {
            "description": "A list of the blobs to be exported.",
            "properties": {
              "blobPath": {
                "description": "A collection of blob-path strings.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "blobPathPrefix": {
                "description": "A collection of blob-prefix strings.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object",
            "x-ms-client-flatten": true
          },
          "blobListBlobPath": {
            "description": "The relative URI to the block blob that contains the list of blob paths or blob path prefixes as defined above, beginning with the container name. If the blob is in root container, the URI must begin with $root. ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GetBitLockerKeysResponse": {
        "description": "GetBitLockerKeys response",
        "properties": {
          "value": {
            "description": "drive status",
            "items": {
              "$ref": "#/components/schemas/DriveBitLockerKey"
            },
            "type": "array",
            "x-ms-identifiers": [
              "driveId"
            ]
          }
        },
        "type": "object"
      },
      "IdentityDetails": {
        "description": "Specifies the identity properties. ",
        "properties": {
          "principalId": {
            "description": "Specifies the principal id for the identity for the job. ",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "Specifies the tenant id for the identity for the job. ",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "default": "None",
            "description": "The type of identity",
            "enum": [
              "None",
              "SystemAssigned",
              "UserAssigned"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "IdentityType"
            }
          }
        },
        "type": "object"
      },
      "JobDetails": {
        "description": "Specifies the job properties",
        "properties": {
          "backupDriveManifest": {
            "default": false,
            "description": "Default value is false. Indicates whether the manifest files on the drives should be copied to block blobs.",
            "type": "boolean"
          },
          "cancelRequested": {
            "default": false,
            "description": "Indicates whether a request has been submitted to cancel the job.",
            "type": "boolean"
          },
          "deliveryPackage": {
            "$ref": "#/components/schemas/DeliveryPackageInformation",
            "description": "Contains information about the package being shipped by the customer to the Microsoft data center. "
          },
          "diagnosticsPath": {
            "description": "The virtual blob directory to which the copy logs and backups of drive manifest files (if enabled) will be stored.",
            "type": "string"
          },
          "driveList": {
            "description": "List of up to ten drives that comprise the job. The drive list is a required element for an import job; it is not specified for export jobs.",
            "items": {
              "$ref": "#/components/schemas/DriveStatus"
            },
            "type": "array",
            "x-ms-identifiers": [
              "driveId"
            ]
          },
          "encryptionKey": {
            "$ref": "#/components/schemas/EncryptionKeyDetails",
            "description": "Contains information about the encryption key."
          },
          "export": {
            "$ref": "#/components/schemas/Export",
            "description": "A property containing information about the blobs to be exported for an export job. This property is included for export jobs only."
          },
          "incompleteBlobListUri": {
            "description": "A blob path that points to a block blob containing a list of blob names that were not exported due to insufficient drive space. If all blobs were exported successfully, then this element is not included in the response.",
            "type": "string"
          },
          "jobType": {
            "description": "The type of job",
            "type": "string"
          },
          "logLevel": {
            "description": "Default value is Error. Indicates whether error logging or verbose logging will be enabled.",
            "type": "string"
          },
          "percentComplete": {
            "description": "Overall percentage completed for the job.",
            "format": "int32",
            "type": "integer"
          },
          "provisioningState": {
            "description": "Specifies the provisioning state of the job.",
            "type": "string"
          },
          "returnAddress": {
            "$ref": "#/components/schemas/ReturnAddress",
            "description": "Specifies the return address information for the job. "
          },
          "returnPackage": {
            "$ref": "#/components/schemas/PackageInfomation",
            "description": "Contains information about the package being shipped from the Microsoft data center to the customer to return the drives. The format is the same as the deliveryPackage property above. This property is not included if the drives have not yet been returned. "
          },
          "returnShipping": {
            "$ref": "#/components/schemas/ReturnShipping",
            "description": "Specifies the return carrier and customer's account with the carrier. "
          },
          "shippingInformation": {
            "$ref": "#/components/schemas/ShippingInformation",
            "description": "Contains information about the Microsoft datacenter to which the drives should be shipped. "
          },
          "state": {
            "default": "Creating",
            "description": "Current state of the job.",
            "type": "string"
          },
          "storageAccountId": {
            "description": "The resource identifier of the storage account where data will be imported to or exported from.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "JobResponse": {
        "description": "Contains the job information.",
        "properties": {
          "tags": {
            "description": "Specifies the tags that are assigned to the job.",
            "type": "object"
          },
          "id": {
            "description": "Specifies the resource identifier of the job.",
            "readOnly": true,
            "type": "string"
          },
          "identity": {
            "$ref": "#/components/schemas/IdentityDetails",
            "description": "Specifies the job identity details"
          },
          "location": {
            "description": "Specifies the Azure location where the job is created.",
            "type": "string"
          },
          "name": {
            "description": "Specifies the name of the job.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/JobDetails",
            "description": "Specifies the job properties"
          },
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "description": "SystemData of ImportExport Jobs.",
            "readOnly": true
          },
          "type": {
            "description": "Specifies the type of the job resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ListJobsResponse": {
        "description": "List jobs response",
        "properties": {
          "nextLink": {
            "description": "link to next batch of jobs",
            "type": "string"
          },
          "value": {
            "description": "Job list",
            "items": {
              "$ref": "#/components/schemas/JobResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListOperationsResponse": {
        "description": "List operations response",
        "properties": {
          "value": {
            "description": "operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "Location": {
        "description": "Provides information about an Azure data center location.",
        "properties": {
          "id": {
            "description": "Specifies the resource identifier of the location. ",
            "type": "string"
          },
          "name": {
            "description": "Specifies the name of the location. Use List Locations to get all supported locations. ",
            "type": "string"
          },
          "properties": {
            "description": "location properties",
            "properties": {
              "additionalShippingInformation": {
                "description": "Additional shipping information for customer, specific to datacenter to which customer should send their disks.",
                "type": "string"
              },
              "alternateLocations": {
                "description": "A list of location IDs that should be used to ship shipping drives to for jobs created against the current location. If the current location is active, it will be part of the list. If it is temporarily closed due to maintenance, this list may contain other locations. ",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "city": {
                "description": "The city name to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "countryOrRegion": {
                "description": "The country or region to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "phone": {
                "description": "The phone number for the Azure data center. ",
                "type": "string"
              },
              "postalCode": {
                "description": "The postal code to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "recipientName": {
                "description": "The recipient name to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "stateOrProvince": {
                "description": "The state or province to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "streetAddress1": {
                "description": "The first line of the street address to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "streetAddress2": {
                "description": "The second line of the street address to use when shipping the drives to the Azure data center. ",
                "type": "string"
              },
              "supportedCarriers": {
                "description": "A list of carriers that are supported at this location. ",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Specifies the type of the location. ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocationsResponse": {
        "description": "Locations response",
        "properties": {
          "value": {
            "description": "locations",
            "items": {
              "$ref": "#/components/schemas/Location"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Describes a supported operation by the Storage Import/Export job API.",
        "properties": {
          "display": {
            "description": "operation display properties",
            "properties": {
              "description": {
                "description": "Short description of the operation.",
                "type": "string"
              },
              "operation": {
                "description": "The display name of the operation.",
                "type": "string"
              },
              "provider": {
                "description": "The resource provider name to which the operation belongs.",
                "type": "string"
              },
              "resource": {
                "description": "The name of the resource to which the operation belongs.",
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-client-flatten": true
          },
          "name": {
            "description": "Name of the operation.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "display"
        ],
        "type": "object"
      },
      "PackageInfomation": {
        "description": "Contains information about the package being shipped by the customer to the Microsoft data center.",
        "properties": {
          "carrierName": {
            "description": "The name of the carrier that is used to ship the import or export drives.",
            "type": "string"
          },
          "driveCount": {
            "description": "The number of drives included in the package.",
            "format": "int32",
            "type": "integer"
          },
          "shipDate": {
            "description": "The date when the package is shipped.",
            "type": "string"
          },
          "trackingNumber": {
            "description": "The tracking number of the package.",
            "type": "string"
          }
        },
        "required": [
          "carrierName",
          "trackingNumber",
          "driveCount",
          "shipDate"
        ],
        "type": "object"
      },
      "PutJobParameters": {
        "description": "Put Job parameters",
        "properties": {
          "tags": {
            "description": "Specifies the tags that will be assigned to the job.",
            "type": "object"
          },
          "location": {
            "description": "Specifies the supported Azure location where the job should be created",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/JobDetails",
            "description": "Specifies the job properties"
          }
        },
        "type": "object"
      },
      "ReturnAddress": {
        "description": "Specifies the return address information for the job.",
        "properties": {
          "city": {
            "description": "The city name to use when returning the drives.",
            "type": "string"
          },
          "countryOrRegion": {
            "description": "The country or region to use when returning the drives. ",
            "type": "string"
          },
          "email": {
            "description": "Email address of the recipient of the returned drives.",
            "type": "string"
          },
          "phone": {
            "description": "Phone number of the recipient of the returned drives.",
            "type": "string"
          },
          "postalCode": {
            "description": "The postal code to use when returning the drives.",
            "type": "string"
          },
          "recipientName": {
            "description": "The name of the recipient who will receive the hard drives when they are returned. ",
            "type": "string"
          },
          "stateOrProvince": {
            "description": "The state or province to use when returning the drives.",
            "type": "string"
          },
          "streetAddress1": {
            "description": "The first line of the street address to use when returning the drives. ",
            "type": "string"
          },
          "streetAddress2": {
            "description": "The second line of the street address to use when returning the drives. ",
            "type": "string"
          }
        },
        "required": [
          "recipientName",
          "streetAddress1",
          "city",
          "postalCode",
          "countryOrRegion",
          "phone",
          "email"
        ],
        "type": "object"
      },
      "ReturnShipping": {
        "description": "Specifies the return carrier and customer's account with the carrier.",
        "properties": {
          "carrierAccountNumber": {
            "description": "The customer's account number with the carrier.",
            "type": "string"
          },
          "carrierName": {
            "description": "The carrier's name.",
            "type": "string"
          }
        },
        "required": [
          "carrierName",
          "carrierAccountNumber"
        ],
        "type": "object"
      },
      "ShippingInformation": {
        "description": "Contains information about the Microsoft datacenter to which the drives should be shipped.",
        "properties": {
          "additionalInformation": {
            "description": "Additional shipping information for customer, specific to datacenter to which customer should send their disks.",
            "readOnly": true,
            "type": "string"
          },
          "city": {
            "description": "The city name to use when returning the drives.",
            "type": "string"
          },
          "countryOrRegion": {
            "description": "The country or region to use when returning the drives. ",
            "type": "string"
          },
          "phone": {
            "description": "Phone number of the recipient of the returned drives.",
            "type": "string"
          },
          "postalCode": {
            "description": "The postal code to use when returning the drives.",
            "type": "string"
          },
          "recipientName": {
            "description": "The name of the recipient who will receive the hard drives when they are returned. ",
            "type": "string"
          },
          "stateOrProvince": {
            "description": "The state or province to use when returning the drives.",
            "type": "string"
          },
          "streetAddress1": {
            "description": "The first line of the street address to use when returning the drives. ",
            "type": "string"
          },
          "streetAddress2": {
            "description": "The second line of the street address to use when returning the drives. ",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateJobParameters": {
        "description": "Update Job parameters",
        "properties": {
          "tags": {
            "description": "Specifies the tags that will be assigned to the job",
            "type": "object"
          },
          "properties": {
            "description": "Specifies the properties of a UpdateJob.",
            "properties": {
              "backupDriveManifest": {
                "default": false,
                "description": "Indicates whether the manifest files on the drives should be copied to block blobs.",
                "type": "boolean"
              },
              "cancelRequested": {
                "default": false,
                "description": "If specified, the value must be true. The service will attempt to cancel the job. ",
                "type": "boolean"
              },
              "deliveryPackage": {
                "$ref": "#/components/schemas/DeliveryPackageInformation",
                "description": "Contains information about the package being shipped by the customer to the Microsoft data center."
              },
              "driveList": {
                "description": "List of drives that comprise the job.",
                "items": {
                  "$ref": "#/components/schemas/DriveStatus"
                },
                "type": "array",
                "x-ms-identifiers": [
                  "driveId"
                ]
              },
              "logLevel": {
                "description": "Indicates whether error logging or verbose logging is enabled.",
                "type": "string"
              },
              "returnAddress": {
                "$ref": "#/components/schemas/ReturnAddress",
                "description": "Specifies the return address information for the job."
              },
              "returnShipping": {
                "$ref": "#/components/schemas/ReturnShipping",
                "description": "Specifies the return carrier and customer's account with the carrier."
              },
              "state": {
                "description": "If specified, the value must be Shipping, which tells the Import/Export service that the package for the job has been shipped. The ReturnAddress and DeliveryPackage properties must have been set either in this request or in a previous request, otherwise the request will fail. ",
                "type": "string"
              }
            },
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}