openapi: 3.0.0
info:
  description: Microsoft Storage Sync Service API
  title: Microsoft Storage Sync
  version: '2018-04-02'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.StorageSync/operations:
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
          description: Array of operations resources in the Resource Provider
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ResourceProvider
        - Operations
      deprecated: false
      description: Lists all of the available Storage Sync Rest API operations.
      operationId: Operations_List
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/checkNameAvailability':
    post:
      parameters:
        - description: The desired region for the name check.
          in: path
          name: locationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
        - StorageSyncService
      description: Check the give namespace name availability.
      operationId: StorageSyncServices_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Parameters to check availability of the given namespace name
        required: true
      x-ms-examples:
        StorageSyncServiceCheckNameAvailability_AlreadyExists:
          $ref: >-
            ./examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
        StorageSyncServiceCheckNameAvailability_Available:
          $ref: ./examples/StorageSyncServiceCheckNameAvailability_Available.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncServiceArray'
          description: >-
            Array of registered Storage Sync Service resources in the
            subscription.
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - StorageSyncServices Resource
      description: Get a StorageSyncService list by subscription.
      operationId: StorageSyncServices_ListBySubscription
      x-ms-examples:
        StorageSyncServices_ListBySubscription:
          $ref: ./examples/StorageSyncServices_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncServiceArray'
          description: >-
            Array of registered Storage Sync Service resources in the Resource
            Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - StorageSyncServices Resource
      description: Get a StorageSyncService list by Resource group name.
      operationId: StorageSyncServices_ListByResourceGroup
      x-ms-examples:
        StorageSyncServices_ListByResourceGroup:
          $ref: ./examples/StorageSyncServices_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Storage Sync Service object was deleted.
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '204':
          description: Storage Sync Service Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - StorageSyncServices Resource
      description: Delete a given StorageSyncService.
      operationId: StorageSyncServices_Delete
      x-ms-examples:
        StorageSyncServices_Delete:
          $ref: ./examples/StorageSyncServices_Delete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
          description: Storage Sync Service object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - StorageSyncServices Resource
      description: Get a given StorageSyncService.
      operationId: StorageSyncServices_Get
      x-ms-examples:
        StorageSyncServices_Get:
          $ref: ./examples/StorageSyncServices_Get.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
          description: Storage Sync Service object created/updated
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - StorageSyncServices Resource
      description: Patch a given StorageSyncService.
      operationId: StorageSyncServices_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSyncServiceUpdateParameters'
        description: Storage Sync Service resource.
      x-ms-examples:
        StorageSyncServices_Update:
          $ref: ./examples/StorageSyncServices_Update.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
          description: Storage Sync Service object created/updated
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - StorageSyncServices Resource
      description: Create a new StorageSyncService.
      operationId: StorageSyncServices_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSyncServiceCreateParameters'
        description: Storage Sync Service resource name.
        required: true
      x-ms-examples:
        StorageSyncServices_Create:
          $ref: ./examples/StorageSyncServices_Create.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServerArray'
          description: Array of Registered Server resources in Storage Sync Service
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - RegisteredServer Resource
      description: Get a given registered server list.
      operationId: RegisteredServers_ListByStorageSyncService
      x-ms-examples:
        RegisteredServers_ListByStorageSyncService:
          $ref: ./examples/RegisteredServers_ListByStorageSyncService.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: GUID identifying the on-premises server.
          in: path
          name: serverId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '204':
          description: Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - RegisteredServer Resource
      description: Delete the given registered server.
      operationId: RegisteredServers_Delete
      x-ms-examples:
        RegisteredServers_Delete:
          $ref: ./examples/RegisteredServers_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: GUID identifying the on-premises server.
          in: path
          name: serverId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
          description: Registered Server resources in Sync Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - RegisteredServer Resource
      description: Get a given registered server.
      operationId: RegisteredServers_Get
      x-ms-examples:
        RegisteredServers_Get:
          $ref: ./examples/RegisteredServers_Get.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: GUID identifying the on-premises server.
          in: path
          name: serverId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
          description: Registered Server resources in Sync Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - RegisteredServer Resource
      description: Add a new registered server.
      operationId: RegisteredServers_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredServerCreateParameters'
        description: Body of Registered Server object.
        required: true
      x-ms-examples:
        RegisteredServers_Create:
          $ref: ./examples/RegisteredServers_Create.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroupArray'
          description: Array of Sync Group resources in Storage Sync Service
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - SyncGroup Resource
      description: Get a SyncGroup List.
      operationId: SyncGroups_ListByStorageSyncService
      x-ms-examples:
        SyncGroups_ListByStorageSyncService:
          $ref: ./examples/SyncGroups_ListByStorageSyncService.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sync Group object was deleted
          headers:
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
        '204':
          description: Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - SyncGroup Resource
      description: Delete a given SyncGroup.
      operationId: SyncGroups_Delete
      x-ms-examples:
        SyncGroups_Delete:
          $ref: ./examples/SyncGroups_Delete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Sync Group object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - SyncGroup Resource
      description: Get a given SyncGroup.
      operationId: SyncGroups_Get
      x-ms-examples:
        SyncGroups_Get:
          $ref: ./examples/SyncGroups_Get.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Sync Group object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - SyncGroup Resource
      description: Create a new SyncGroup.
      operationId: SyncGroups_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncGroupCreateParameters'
        description: Sync Group Body
        required: true
      x-ms-examples:
        SyncGroups_Create:
          $ref: ./examples/SyncGroups_Create.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudEndpointArray'
          description: Array of Cloud Endpoint resources in Sync Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
      description: Get a CloudEndpoint List.
      operationId: CloudEndpoints_ListBySyncGroup
      x-ms-examples:
        CloudEndpoints_ListBySyncGroup:
          $ref: ./examples/CloudEndpoints_ListBySyncGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            Retry-After:
              description: Retry After
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
        '204':
          description: Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
      description: Delete a given CloudEndpoint.
      operationId: CloudEndpoints_Delete
      x-ms-examples:
        CloudEndpoints_Delete:
          $ref: ./examples/CloudEndpoints_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudEndpoint'
          description: Cloud Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
      description: Get a given CloudEndpoint.
      operationId: CloudEndpoints_Get
      x-ms-examples:
        CloudEndpoints_Get:
          $ref: ./examples/CloudEndpoints_Get.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudEndpoint'
          description: Cloud Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            Retry-After:
              description: Retry After
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
      description: Create a new CloudEndpoint.
      operationId: CloudEndpoints_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudEndpointCreateParameters'
        description: Body of Cloud Endpoint resource.
        required: true
      x-ms-examples:
        CloudEndpoints_Create:
          $ref: ./examples/CloudEndpoints_Create.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBackupResponse'
          description: Ok
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      description: Post Backup a given CloudEndpoint.
      operationId: CloudEndpoints_PostBackup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Body of Backup request.
        required: true
      x-ms-examples:
        CloudEndpoints_PostBackup:
          $ref: ./examples/CloudEndpoints_PostBackup.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      description: Post Restore a given CloudEndpoint.
      operationId: CloudEndpoints_PostRestore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRestoreRequest'
        description: Body of Cloud Endpoint object.
        required: true
      x-ms-examples:
        CloudEndpoints_PostRestore:
          $ref: ./examples/CloudEndpoints_PostRestore.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prebackup':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      description: Pre Backup a given CloudEndpoint.
      operationId: CloudEndpoints_PreBackup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Body of Backup request.
        required: true
      x-ms-examples:
        CloudEndpoints_PreBackup:
          $ref: ./examples/CloudEndpoints_PreBackup.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prerestore':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      description: Pre Restore a given CloudEndpoint.
      operationId: CloudEndpoints_PreRestore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreRestoreRequest'
        description: Body of Cloud Endpoint object.
        required: true
      x-ms-examples:
        CloudEndpoints_PreRestore:
          $ref: ./examples/CloudEndpoints_PreRestore.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/restoreheartbeat':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Restore Heartbeat Operation has ran successfully.
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      description: Restore Heartbeat a given CloudEndpoint.
      operationId: CloudEndpoints_restoreheartbeat
      x-ms-examples:
        CloudEndpoints_restoreheartbeat:
          $ref: ./examples/CloudEndpoints_RestoreHeatbeat.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerEndpointArray'
          description: Array of Server Endpoint resources in Sync Group
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ServerEndpoint Resource
      description: Get a ServerEndpoint list.
      operationId: ServerEndpoints_ListBySyncGroup
      x-ms-examples:
        ServerEndpoints_ListBySyncGroup:
          $ref: ./examples/ServerEndpoints_ListBySyncGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ServerEndpoint Resource
      description: Delete a given ServerEndpoint.
      operationId: ServerEndpoints_Delete
      x-ms-examples:
        ServerEndpoints_Delete:
          $ref: ./examples/ServerEndpoints_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerEndpoint'
          description: Server Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ServerEndpoint Resource
      description: Get a ServerEndpoint.
      operationId: ServerEndpoints_Get
      x-ms-examples:
        ServerEndpoints_Get:
          $ref: ./examples/ServerEndpoints_Get.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerEndpoint'
          description: Server Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ServerEndpoint Resource
      description: Patch a given ServerEndpoint.
      operationId: ServerEndpoints_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerEndpointUpdateParameters'
        description: Any of the properties applicable in PUT request.
      x-ms-examples:
        ServerEndpoints_Update:
          $ref: ./examples/ServerEndpoints_Update.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerEndpoint'
          description: Server Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ServerEndpoint Resource
      description: Create a new ServerEndpoint.
      operationId: ServerEndpoints_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerEndpointCreateParameters'
        description: Body of Server Endpoint object.
        required: true
      x-ms-examples:
        ServerEndpoints_Create:
          $ref: ./examples/ServerEndpoints_Create.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}/recallAction':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          schema:
            type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Server Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - ServerEndpoint Resource
        - Actions
      description: Recall a server endpoint.
      operationId: ServerEndpoints_recallAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecallActionParameters'
        description: Body of Recall Action object.
        required: true
      x-ms-examples:
        ServerEndpoints_recallAction:
          $ref: ./examples/ServerEndpoints_Recall.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: workflow Id
          in: path
          name: workflowId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
          description: Workflow object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - Workflow Resource
      description: Get Workflows resource
      operationId: Workflows_Get
      x-ms-examples:
        Workflows_Get:
          $ref: ./examples/Workflows_Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}/abort':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          schema:
            type: string
        - description: workflow Id
          in: path
          name: workflowId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
        - Workflow Resource
        - Actions
      description: Abort the given workflow.
      operationId: Workflows_Abort
      x-ms-examples:
        Workflows_Abort:
          $ref: ./examples/Workflows_Abort.json
components:
  requestBodies:
    BackupRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BackupRequest'
      description: Body of Backup request.
      required: true
  schemas:
    BackupRequest:
      description: Backup request
      properties:
        azureFileShare:
          description: Azure File Share.
          type: string
      type: object
    CheckNameAvailabilityParameters:
      description: Parameters for a check name availability request.
      properties:
        name:
          description: The name to check for availability
          type: string
        type:
          description: >-
            The resource type. Must be set to
            Microsoft.StorageSync/storageSyncServices
          enum:
            - Microsoft.StorageSync/storageSyncServices
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityResult:
      description: The CheckNameAvailability operation response.
      properties:
        message:
          description: Gets an error message explaining the Reason value in more detail.
          readOnly: true
          type: string
        nameAvailable:
          description: >-
            Gets a boolean value that indicates whether the name is available
            for you to use. If true, the name is available. If false, the name
            has already been taken or invalid and cannot be used.
          readOnly: true
          type: boolean
        reason:
          description: >-
            Gets the reason that a Storage Sync Service name could not be used.
            The Reason element is only returned if NameAvailable is false.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: NameAvailabilityReason
      type: object
    CloudEndpoint:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Cloud Endpoint object.
      properties:
        properties:
          $ref: '#/components/schemas/CloudEndpointProperties'
          description: Cloud Endpoint properties.
          x-ms-client-flatten: true
      type: object
    CloudEndpointArray:
      description: Array of CloudEndpoint
      properties:
        value:
          description: Collection of CloudEndpoint.
          items:
            $ref: '#/components/schemas/CloudEndpoint'
          type: array
      type: object
    CloudEndpointCreateParameters:
      description: The parameters used when creating a storage sync service.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            Gets or sets a list of key value pairs that describe the resource.
            These tags can be used for viewing and grouping this resource
            (across resource groups). A maximum of 15 tags can be provided for a
            resource. Each tag must have a key with a length no greater than 128
            characters and a value with a length no greater than 256 characters.
          type: object
        location:
          description: >-
            Required. Gets or sets the location of the resource. This will be
            one of the supported and registered Azure Geo Regions (e.g. West US,
            East US, Southeast Asia, etc.). The geo region of a resource cannot
            be changed once it is created, but if an identical geo region is
            specified on update, the request will succeed.
          type: string
        properties:
          $ref: '#/components/schemas/CloudEndpointCreateParametersProperties'
          description: The parameters used to create the storage sync service.
          x-ms-client-flatten: true
      type: object
    CloudEndpointCreateParametersProperties:
      description: CloudEndpoint Properties object.
      properties:
        storageAccountResourceId:
          description: Storage Account Resource Id
          type: string
        storageAccountShareName:
          description: Storage Account Share name
          type: string
        storageAccountTenantId:
          description: Storage Account Tenant Id
          type: string
      type: object
    CloudEndpointProperties:
      description: CloudEndpoint Properties object.
      properties:
        backupEnabled:
          description: Backup Enabled
          readOnly: true
          type: boolean
        friendlyName:
          description: Friendly Name
          type: string
        lastOperationName:
          description: Resource Last Operation Name
          type: string
        lastWorkflowId:
          description: CloudEndpoint lastWorkflowId
          type: string
        partnershipId:
          description: Partnership Id
          type: string
        provisioningState:
          description: CloudEndpoint Provisioning State
          type: string
        storageAccountResourceId:
          description: Storage Account Resource Id
          type: string
        storageAccountShareName:
          description: Storage Account Share name
          type: string
        storageAccountTenantId:
          description: Storage Account Tenant Id
          type: string
      type: object
    FeatureStatus:
      description: Type of the Feature Status
      enum:
        - 'on'
        - 'off'
      type: string
    OperationDirection:
      description: Type of the Operation Direction
      enum:
        - do
        - undo
        - cancel
      type: string
    OperationDisplayInfo:
      description: The operation supported by storage sync.
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: 'The action that users can perform, based on their permission level.'
          type: string
        provider:
          description: 'Service provider: Microsoft StorageSync.'
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
    OperationDisplayResource:
      description: Operation Display Resource object.
      properties:
        description:
          description: Operation Display Resource Description.
          type: string
        operation:
          description: Operation Display Resource Operation.
          type: string
        provider:
          description: Operation Display Resource Provider.
          type: string
        resource:
          description: Operation Display Resource.
          type: string
      type: object
    OperationEntity:
      description: The operation supported by storage sync.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
          description: The operation supported by storage sync.
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
        origin:
          description: The origin.
          type: string
      type: object
    OperationEntityListResult:
      description: The list of storage sync operations.
      properties:
        nextLink:
          description: The link used to get the next page of operations.
          type: string
        value:
          description: The list of operations.
          items:
            $ref: '#/components/schemas/OperationEntity'
          type: array
      type: object
    PhysicalPath:
      description: Server folder used for data synchronization
      type: string
    PostBackupResponse:
      description: Post Backup Response
      properties:
        backupMetadata:
          $ref: '#/components/schemas/PostBackupResponseProperties'
          description: Post Backup Response Properties
          x-ms-client-flatten: true
      type: object
    PostBackupResponseProperties:
      description: Post Backup Response Properties object.
      properties:
        cloudEndpointName:
          description: cloud endpoint Name.
          readOnly: true
          type: string
      type: object
    PostRestoreRequest:
      description: Post Restore Request
      properties:
        azureFileShareUri:
          description: Post Restore Azure file share uri.
          type: string
        failedFileList:
          description: Post Restore Azure failed file list.
          type: string
        partition:
          description: Post Restore partition.
          type: string
        replicaGroup:
          description: Post Restore replica group.
          type: string
        requestId:
          description: Post Restore request id.
          type: string
        restoreFileSpec:
          description: Post Restore restore file spec array.
          items:
            $ref: '#/components/schemas/RestoreFileSpec'
            description: Post Restore restore file spec items array.
          type: array
        sourceAzureFileShareUri:
          description: Post Restore Azure source azure file share uri.
          type: string
        status:
          description: Post Restore Azure status.
          type: string
      type: object
    PreRestoreRequest:
      description: Pre Restore request object.
      properties:
        azureFileShareUri:
          description: Pre Restore Azure file share uri.
          type: string
        backupMetadataPropertyBag:
          description: Pre Restore backup metadata property bag.
          type: string
        partition:
          description: Pre Restore partition.
          type: string
        pauseWaitForSyncDrainTimePeriodInSeconds:
          description: Pre Restore pause wait for sync drain time period in seconds.
          type: integer
        replicaGroup:
          description: Pre Restore replica group.
          type: string
        requestId:
          description: Pre Restore request id.
          type: string
        restoreFileSpec:
          description: Pre Restore restore file spec array.
          items:
            $ref: '#/components/schemas/RestoreFileSpec'
            description: Pre Restore restore file spec items array.
          type: array
        sourceAzureFileShareUri:
          description: Pre Restore Azure source azure file share uri.
          type: string
        status:
          description: Pre Restore Azure status.
          type: string
      type: object
    ProgressType:
      description: Type of the ProgressType
      enum:
        - none
        - initialize
        - download
        - upload
        - recall
      type: string
    RecallActionParameters:
      description: The parameters used when calling recall action on server endpoint.
      properties:
        pattern:
          description: Pattern of the files.
          type: string
        recallPath:
          description: Recall path.
          type: string
      type: object
    RegisteredServer:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Registered Server resource.
      properties:
        properties:
          $ref: '#/components/schemas/RegisteredServerProperties'
          description: RegisteredServer properties.
          x-ms-client-flatten: true
      type: object
    RegisteredServerArray:
      description: Array of RegisteredServer
      properties:
        value:
          description: Collection of Registered Server.
          items:
            $ref: '#/components/schemas/RegisteredServer'
          type: array
      type: object
    RegisteredServerCreateParameters:
      description: The parameters used when creating a storage sync service.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            Gets or sets a list of key value pairs that describe the resource.
            These tags can be used for viewing and grouping this resource
            (across resource groups). A maximum of 15 tags can be provided for a
            resource. Each tag must have a key with a length no greater than 128
            characters and a value with a length no greater than 256 characters.
          type: object
        location:
          description: >-
            Required. Gets or sets the location of the resource. This will be
            one of the supported and registered Azure Geo Regions (e.g. West US,
            East US, Southeast Asia, etc.). The geo region of a resource cannot
            be changed once it is created, but if an identical geo region is
            specified on update, the request will succeed.
          type: string
        properties:
          $ref: '#/components/schemas/RegisteredServerCreateParametersProperties'
          description: The parameters used to create the storage sync service.
          x-ms-client-flatten: true
      type: object
    RegisteredServerCreateParametersProperties:
      description: RegisteredServer Properties object.
      properties:
        agentVersion:
          description: Registered Server Agent Version
          type: string
        clusterId:
          description: Registered Server clusterId
          type: string
        clusterName:
          description: Registered Server clusterName
          type: string
        friendlyName:
          description: Friendly Name
          type: string
        lastHeartBeat:
          description: Registered Server last heart beat
          type: string
        serverCertificate:
          description: Registered Server Certificate
          type: string
        serverId:
          description: Registered Server serverId
          type: string
        serverOSVersion:
          description: Registered Server OS Version
          type: string
        serverRole:
          description: Registered Server serverRole
          type: string
      type: object
    RegisteredServerProperties:
      description: RegisteredServer Properties object.
      properties:
        agentVersion:
          description: Registered Server Agent Version
          type: string
        clusterId:
          description: Registered Server clusterId
          type: string
        clusterName:
          description: Registered Server clusterName
          type: string
        discoveryEndpointUri:
          description: Resource discoveryEndpointUri
          type: string
        friendlyName:
          description: Friendly Name
          type: string
        lastHeartBeat:
          description: Registered Server last heart beat
          type: string
        lastOperationName:
          description: Resource Last Operation Name
          type: string
        lastWorkflowId:
          description: Registered Server lastWorkflowId
          type: string
        managementEndpointUri:
          description: Management Endpoint Uri
          type: string
        provisioningState:
          description: Registered Server Provisioning State
          type: string
        resourceLocation:
          description: Resource Location
          type: string
        serverCertificate:
          description: Registered Server Certificate
          type: string
        serverId:
          description: Registered Server serverId
          type: string
        serverManagementtErrorCode:
          description: Registered Server Management Error Code
          type: integer
        serverOSVersion:
          description: Registered Server OS Version
          type: string
        serverRole:
          description: Registered Server serverRole
          type: string
        serviceLocation:
          description: Service Location
          type: string
        storageSyncServiceUid:
          description: Registered Server storageSyncServiceUid
          type: string
      type: object
    ResourceId:
      description: Arm resource identifier.
      type: string
    ResourcesMoveInfo:
      description: Resource Move Info.
      properties:
        resources:
          description: Collection of Resources.
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        targetResourceGroup:
          description: Target resource group.
          type: string
      type: object
    RestoreFileSpec:
      description: Restore file spec.
      properties:
        isdir:
          description: Restore file spec isdir
          readOnly: true
          type: boolean
        path:
          description: Restore file spec path
          type: string
      type: object
    ServerEndpoint:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Server Endpoint object.
      properties:
        properties:
          $ref: '#/components/schemas/ServerEndpointProperties'
          description: Server Endpoint properties.
          x-ms-client-flatten: true
      type: object
    ServerEndpointArray:
      description: Array of ServerEndpoint
      properties:
        value:
          description: Collection of ServerEndpoint.
          items:
            $ref: '#/components/schemas/ServerEndpoint'
          type: array
      type: object
    ServerEndpointCreateParameters:
      description: The parameters used when creating a storage sync service.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            Gets or sets a list of key value pairs that describe the resource.
            These tags can be used for viewing and grouping this resource
            (across resource groups). A maximum of 15 tags can be provided for a
            resource. Each tag must have a key with a length no greater than 128
            characters and a value with a length no greater than 256 characters.
          type: object
        location:
          description: >-
            Required. Gets or sets the location of the resource. This will be
            one of the supported and registered Azure Geo Regions (e.g. West US,
            East US, Southeast Asia, etc.). The geo region of a resource cannot
            be changed once it is created, but if an identical geo region is
            specified on update, the request will succeed.
          type: string
        properties:
          $ref: '#/components/schemas/ServerEndpointCreateParametersProperties'
          description: The parameters used to create the storage sync service.
          x-ms-client-flatten: true
      type: object
    ServerEndpointCreateParametersProperties:
      description: ServerEndpoint Properties object.
      properties:
        cloudTiering:
          $ref: '#/components/schemas/FeatureStatus'
          description: Cloud Tiering.
        friendlyName:
          description: Friendly Name
          type: string
        serverLocalPath:
          $ref: '#/components/schemas/PhysicalPath'
          description: Server Local path.
        serverResourceId:
          $ref: '#/components/schemas/ResourceId'
          description: Server Resource Id.
        volumeFreeSpacePercent:
          description: >-
            Level of free space to be maintained by Cloud Tiering if it is
            enabled.
          maximum: 100
          minimum: 0
          type: integer
      type: object
    ServerEndpointProperties:
      description: ServerEndpoint Properties object.
      properties:
        cloudTiering:
          $ref: '#/components/schemas/FeatureStatus'
          description: Cloud Tiering.
        friendlyName:
          description: Friendly Name
          type: string
        lastOperationName:
          description: Resource Last Operation Name
          type: string
        lastWorkflowId:
          description: ServerEndpoint lastWorkflowId
          type: string
        provisioningState:
          description: ServerEndpoint Provisioning State
          type: string
        serverLocalPath:
          $ref: '#/components/schemas/PhysicalPath'
          description: Server Local path.
        serverResourceId:
          $ref: '#/components/schemas/ResourceId'
          description: Server Resource Id.
        syncStatus:
          description: Sync Health Status
          type: object
        volumeFreeSpacePercent:
          description: >-
            Level of free space to be maintained by Cloud Tiering if it is
            enabled.
          maximum: 100
          minimum: 0
          type: integer
      type: object
    ServerEndpointUpdateParameters:
      description: Parameters for updating an Server Endpoint.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The user-specified tags associated with the server endpoint.
          type: object
        properties:
          $ref: '#/components/schemas/ServerEndpointUpdateProperties'
          description: The properties of the server endpoint.
          x-ms-client-flatten: true
      type: object
    ServerEndpointUpdateProperties:
      description: ServerEndpoint Update Properties object.
      properties:
        cloudTiering:
          $ref: '#/components/schemas/FeatureStatus'
          description: Cloud Tiering.
        volumeFreeSpacePercent:
          description: >-
            Level of free space to be maintained by Cloud Tiering if it is
            enabled.
          maximum: 100
          minimum: 0
          type: integer
      type: object
    StorageSyncApiError:
      description: Error type
      properties:
        code:
          description: Error code of the given entry.
          type: string
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        message:
          description: Error message of the given entry.
          type: string
        target:
          description: Target of the given error entry.
          type: string
      type: object
    StorageSyncError:
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
      type: object
    StorageSyncErrorDetails:
      description: Error Details object.
      properties:
        code:
          description: Error code of the given entry.
          type: string
        message:
          description: Error message of the given entry.
          type: string
        target:
          description: Target of the given entry.
          type: string
      type: object
    StorageSyncService:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: Storage Sync Service object.
      properties:
        properties:
          $ref: '#/components/schemas/StorageSyncServiceProperties'
          description: Storage Sync Service properties.
          x-ms-client-flatten: true
      type: object
    StorageSyncServiceArray:
      description: Array of StorageSyncServices
      properties:
        value:
          description: Collection of StorageSyncServices.
          items:
            $ref: '#/components/schemas/StorageSyncService'
          type: array
      type: object
    StorageSyncServiceCreateParameters:
      description: The parameters used when creating a storage sync service.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            Gets or sets a list of key value pairs that describe the resource.
            These tags can be used for viewing and grouping this resource
            (across resource groups). A maximum of 15 tags can be provided for a
            resource. Each tag must have a key with a length no greater than 128
            characters and a value with a length no greater than 256 characters.
          type: object
        location:
          description: >-
            Required. Gets or sets the location of the resource. This will be
            one of the supported and registered Azure Geo Regions (e.g. West US,
            East US, Southeast Asia, etc.). The geo region of a resource cannot
            be changed once it is created, but if an identical geo region is
            specified on update, the request will succeed.
          type: string
      type: object
    StorageSyncServiceProperties:
      description: Storage Sync Service Properties object.
      properties:
        storageSyncServiceStatus:
          description: Storage Sync service status.
          readOnly: true
          type: integer
        storageSyncServiceUid:
          description: Storage Sync service Uid
          readOnly: true
          type: string
      type: object
    StorageSyncServiceUpdateParameters:
      description: Parameters for updating an Storage sync service.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The user-specified tags associated with the storage sync service.
          type: object
        properties:
          $ref: '#/components/schemas/StorageSyncServiceUpdateProperties'
          description: The properties of the storage sync service.
          x-ms-client-flatten: true
      type: object
    StorageSyncServiceUpdateProperties:
      description: Storage Sync Service Update Properties object.
      properties: {}
      type: object
    SubscriptionState:
      description: Subscription State object.
      properties:
        istransitioning:
          description: Is Transitioning
          readOnly: true
          type: boolean
        properties:
          $ref: '#/components/schemas/SubscriptionStateProperties'
          description: Subscription state properties.
          x-ms-client-flatten: true
        state:
          description: State of Azure Subscription
          enum:
            - Registered
            - Unregistered
            - Warned
            - Suspended
            - Deleted
          type: string
          x-ms-enum:
            modelAsString: true
            name: Reason
      type: object
    SubscriptionStateProperties:
      description: Subscription State properties.
      type: object
    SyncGroup:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Sync Group object.
      properties:
        properties:
          $ref: '#/components/schemas/SyncGroupProperties'
          description: SyncGroup properties.
          x-ms-client-flatten: true
      type: object
    SyncGroupArray:
      description: Array of SyncGroup
      properties:
        value:
          description: Collection of SyncGroup.
          items:
            $ref: '#/components/schemas/SyncGroup'
          type: array
      type: object
    SyncGroupCreateParameters:
      description: The parameters used when creating a sync group.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            Gets or sets a list of key value pairs that describe the resource.
            These tags can be used for viewing and grouping this resource
            (across resource groups). A maximum of 15 tags can be provided for a
            resource. Each tag must have a key with a length no greater than 128
            characters and a value with a length no greater than 256 characters.
          type: object
        location:
          description: >-
            Required. Gets or sets the location of the resource. This will be
            one of the supported and registered Azure Geo Regions (e.g. West US,
            East US, Southeast Asia, etc.). The geo region of a resource cannot
            be changed once it is created, but if an identical geo region is
            specified on update, the request will succeed.
          type: string
        properties:
          $ref: '#/components/schemas/SyncGroupCreateParametersProperties'
          description: The parameters used to create the sync group
          x-ms-client-flatten: true
      type: object
    SyncGroupCreateParametersProperties:
      description: Sync Group Create Properties object.
      properties: {}
      type: object
    SyncGroupProperties:
      description: SyncGroup Properties object.
      properties:
        syncGroupStatus:
[...]
