{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these APIs to manage Visual Studio Team Services resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://docs.microsoft.com/en-us/rest/api/index.",
    "title": "Visual Studio Resource Provider Client",
    "version": "2017-11-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2017-11-01-preview/Csm.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/microsoft.visualstudio/operations": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "The operation succeeded. The response contains the possible operations on the Microsoft.VisualStudio resource provider."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Gets the details of all operations possible on the Microsoft.VisualStudio resource provider.",
        "operationId": "Operations_List",
        "summary": "Operations_List",
        "x-ms-examples": {
          "Get a list of operations for this resource provider": {
            "$ref": "./examples/GetOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.visualstudio/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            },
            "description": "The operation succeeded. The response contains the result of the name availability check."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Checks if the specified Visual Studio Team Services account name is available. Resource name can be either an account name or an account name and PUID.",
        "operationId": "Accounts_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityParameter"
              }
            }
          },
          "description": "Parameters describing the name to check availability for.",
          "required": true
        },
        "summary": "Accounts_CheckNameAvailability",
        "x-ms-examples": {
          "Check availability of an account name": {
            "$ref": "./examples/CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResourceListResult"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the Visual Studio Team Services project resources created in the specified Team Services account."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Gets all Visual Studio Team Services project resources created in the specified Team Services account.",
        "operationId": "Project_ListByAccountResource",
        "summary": "Projects_ListByAccountResource",
        "x-ms-examples": {
          "Get a list of project resources in the Team Services account": {
            "$ref": "./examples/GetProjectResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Team Services project.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the updated team project resource."
          },
          "404": {
            "description": "The project or Azure subscription was not found."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Gets the details of a Team Services project resource.",
        "operationId": "Projects_Get",
        "summary": "Projects_Get",
        "x-ms-examples": {
          "Get a project resource": {
            "$ref": "./examples/GetProjectResource.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Team Services project.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the updated team project resource."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Updates the tags of the specified Team Services project.",
        "operationId": "Projects_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResourceUpdateParameters"
              }
            }
          },
          "description": "The request data.",
          "required": true
        },
        "summary": "Projects_Update",
        "x-ms-examples": {
          "Update a project resource": {
            "$ref": "./examples/UpdateProjectResource.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the Team Services account.",
            "in": "path",
            "name": "rootResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Team Services project.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This parameter is ignored and should be set to an empty string.",
            "in": "query",
            "name": "validating",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the created or updated team project resource."
          },
          "202": {
            "description": "The operation succeeded. A job to create the team project resource has been queued. The URI to monitor the status of the job is provided in the 'location' header."
          }
        },
        "tags": [
          "Projects"
        ],
        "deprecated": true,
        "description": "Creates a Team Services project in the collection with the specified name. 'VersionControlOption' and 'ProcessTemplateId' must be specified in the resource properties. Valid values for VersionControlOption: Git, Tfvc. Valid values for ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45, ADCC42AB-9882-485E-A3ED-7678F01F66BC, 27450541-8E31-4150-9947-DC59F998FC01 (these IDs correspond to Scrum, Agile, and CMMI process templates).",
        "operationId": "Projects_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResource"
              }
            }
          },
          "description": "The request data.",
          "required": true
        },
        "summary": "Projects_Create",
        "x-ms-examples": {
          "Create a project resource": {
            "$ref": "./examples/CreateProjectResource.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResourceListResult"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the Visual Studio Team Services account resources linked to the Azure subscription."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets all Visual Studio Team Services account resources under the resource group linked to the specified Azure subscription.",
        "operationId": "Accounts_ListByResourceGroup",
        "summary": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "Get a list of account resources in the resource group": {
            "$ref": "./examples/GetResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The name of the Visual Studio Team Services account resource.",
            "in": "path",
            "name": "accountResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionResourceListResult"
                }
              }
            },
            "description": "The operation succeeded. The response contains all extension resource details for the specified account."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Gets the details of the extension resources created within the resource group.",
        "operationId": "Extensions_ListByAccount",
        "summary": "Extensions_ListByAccount",
        "x-ms-examples": {
          "Get a list of extension resources within the resource group": {
            "$ref": "./examples/GetExtensionResources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension/{extensionResourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The name of the Visual Studio Team Services account resource.",
            "in": "path",
            "name": "accountResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the extension.",
            "in": "path",
            "name": "extensionResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The extension resource has been deleted for the specified account."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Removes an extension resource registration for a Visual Studio Team Services account.",
        "operationId": "Extensions_Delete",
        "summary": "Extensions_Delete",
        "x-ms-examples": {
          "Delete an extension resource": {
            "$ref": "./examples/DeleteExtensionResource.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The name of the Visual Studio Team Services account resource.",
            "in": "path",
            "name": "accountResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the extension.",
            "in": "path",
            "name": "extensionResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the extension resource details for the specified account."
          },
          "404": {
            "description": "The specified extension has no plans defined."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Gets the details of an extension associated with a Visual Studio Team Services account resource.",
        "operationId": "Extensions_Get",
        "summary": "Extensions_Get",
        "x-ms-examples": {
          "Get an extension resource": {
            "$ref": "./examples/GetExtensionResource.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The name of the Visual Studio Team Services account resource.",
            "in": "path",
            "name": "accountResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the extension.",
            "in": "path",
            "name": "extensionResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionResource"
                }
              }
            },
            "description": "The operation succeeded. The extension resource was updated for the specified account."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Updates an existing extension registration for the Visual Studio Team Services account.",
        "operationId": "Extensions_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtensionResourceRequest"
              }
            }
          },
          "description": "An object containing additional information related to the extension request.",
          "required": true
        },
        "summary": "Extensions_Update",
        "x-ms-examples": {
          "Update an extension resource": {
            "$ref": "./examples/UpdateExtensionResource.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The name of the Visual Studio Team Services account resource.",
            "in": "path",
            "name": "accountResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the extension.",
            "in": "path",
            "name": "extensionResourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionResource"
                }
              }
            },
            "description": "The operation succeeded. The extension resource was created for the specified account."
          }
        },
        "tags": [
          "Extensions"
        ],
        "description": "Registers the extension with a Visual Studio Team Services account.",
        "operationId": "Extensions_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtensionResourceRequest"
              }
            }
          },
          "description": "An object containing additional information related to the extension request.",
          "required": true
        },
        "summary": "Extensions_Create",
        "x-ms-examples": {
          "Create an extension resource": {
            "$ref": "./examples/CreateExtensionResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the resource.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded. The Visual Studio Team Services account resource was deleted."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Deletes a Visual Studio Team Services account resource.",
        "operationId": "Accounts_Delete",
        "summary": "Accounts_Delete",
        "x-ms-examples": {
          "Delete an account resource": {
            "$ref": "./examples/DeleteResource.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the resource.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResource"
                }
              }
            },
            "description": "The operation succeeded. The response contains the details of the Visual Studio Team Services account resource."
          },
          "404": {
            "description": "The Visual Studio Team Services account does not exist."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets the Visual Studio Team Services account resource details.",
        "operationId": "Accounts_Get",
        "summary": "Accounts_Get",
        "x-ms-examples": {
          "Get an account resource": {
            "$ref": "./examples/GetResource.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Name of the resource.",
            "in": "path",
            "name": "resourceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResource"
                }
              }
            },
            "description": "The operation succeeded. The Visual Studio Team Services account resource was created or updated."
          },
          "404": {
            "description": "The Visual Studio Team Services account does not exist."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Creates or updates a Visual Studio Team Services account resource.",
        "operationId": "Accounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountResourceRequest"
              }
            }
          },
          "description": "The request data.",
          "required": true
        },
        "summary": "Accounts_CreateOrUpdate",
        "x-ms-examples": {
          "Create an account resource": {
            "$ref": "./examples/CreateResource.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupNameParameter": {
        "description": "Name of the resource group within the Azure subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "The Azure subscription identifier.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ExtensionResourceRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExtensionResourceRequest"
            }
          }
        },
        "description": "An object containing additional information related to the extension request.",
        "required": true
      }
    },
    "schemas": {
      "AccountResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The response to an account resource GET request.",
        "properties": {
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource properties.",
            "type": "object",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AccountResourceListResult": {
        "description": "The response to an account resource list GET request.",
        "properties": {
          "value": {
            "description": "Array of resource details.",
            "items": {
              "$ref": "#/components/schemas/AccountResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AccountResourceRequest": {
        "description": "The body of a PUT request to modify a Visual Studio account resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The custom tags of the resource.",
            "type": "object"
          },
          "accountName": {
            "description": "The account name.",
            "type": "string"
          },
          "location": {
            "description": "The Azure instance location.",
            "type": "string"
          },
          "operationType": {
            "description": "The type of the operation.",
            "enum": [
              "unknown",
              "create",
              "update",
              "link"
            ],
            "x-ms-enum": {
              "name": "AccountResourceRequestOperationType"
            }
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The custom properties of the resource.",
            "type": "object",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ApplicationSource": {
        "description": "Defines the source application for a VSTS pipeline.",
        "discriminator": {
          "propertyName": "sourceType"
        },
        "properties": {
          "applicationConfiguration": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Application specific properties.",
            "type": "object"
          },
          "applicationType": {
            "description": "Type of application.",
            "enum": [
              "AspDotNet",
              "AspDotNetCore",
              "NodeJs"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationType"
            }
          },
          "sourceType": {
            "description": "Type of application source.",
            "enum": [
              "CodeTemplate",
              "CodeRepository"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationSourceType"
            }
          }
        },
        "required": [
          "sourceType",
          "applicationType"
        ],
        "type": "object"
      },
      "ApplicationTarget": {
        "description": "Defines the target resources for a VSTS pipeline.",
        "properties": {
          "resources": {
            "description": "List of target resources.",
            "items": {
              "$ref": "#/components/schemas/TargetResource"
            },
            "type": "array"
          },
          "targetType": {
            "description": "Type of target.",
            "enum": [
              "WindowsAppService"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApplicationTargetType"
            }
          }
        },
        "required": [
          "targetType",
          "resources"
        ],
        "type": "object"
      },
      "Authorization": {
        "description": "Defines the authorization type and its parameters.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Authorization parameters corresponding to the authorization type.",
            "type": "object"
          },
          "authorizationType": {
            "description": "Type of authorization.",
            "enum": [
              "authorizationToken",
              "personalAccessToken"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AuthorizationType"
            }
          }
        },
        "required": [
          "authorizationType"
        ],
        "type": "object"
      },
      "CheckNameAvailabilityParameter": {
        "description": "The body of a POST request to check name availability.",
        "properties": {
          "resourceName": {
            "description": "The name of the resource to check availability for.",
            "type": "string"
          },
          "resourceType": {
            "description": "The type of resource to check availability for.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CheckNameAvailabilityResult": {
        "description": "The response to a name availability request.",
        "properties": {
          "message": {
            "description": "The message describing the detailed reason.",
            "type": "string"
          },
          "nameAvailable": {
            "description": "The value which indicates whether the provided name is available.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "CodeRepository": {
        "description": "Defines a code repository.",
        "properties": {
          "authorizationReference": {
            "description": "Reference to the authorization info used to access the code repository. This value is used as a key into the global authorization details dictionary.",
            "type": "string"
          },
          "defaultBranch": {
            "description": "Default branch for which continuous integration should be configured in the VSTS pipeline.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the code repository.",
            "type": "string"
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Repository-specific properties.",
            "type": "object"
          },
          "repositoryType": {
            "description": "Type of code repository.",
            "enum": [
              "gitHub",
              "vstsGit"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CodeRepositoryType"
            }
          }
        },
        "required": [
          "repositoryType",
          "id",
          "defaultBranch"
        ],
        "type": "object"
      },
      "CodeRepositoryApplicationSource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApplicationSource"
          }
        ],
        "description": "Defines the source application, when it resides in a code repository.",
        "properties": {
          "repository": {
            "$ref": "#/components/schemas/CodeRepository",
            "description": "Code repository where the application source resides."
          }
        },
        "required": [
          "repository"
        ],
        "type": "object",
        "x-ms-discriminator-value": "CodeRepository"
      },
      "CodeTemplateApplicationSource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApplicationSource"
          }
        ],
        "description": "Defines the source application template.",
        "type": "object",
        "x-ms-discriminator-value": "CodeTemplate"
      },
      "ExtensionResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The response to an extension resource GET request.",
        "properties": {
          "plan": {
            "$ref": "#/components/schemas/ExtensionResourcePlan",
            "description": "The extension plan that was purchased."
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource properties.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "ExtensionResourceListResult": {
        "description": "The response to an extension resource list GET request.",
        "properties": {
          "value": {
            "description": "Array of extension resource details.",
            "items": {
              "$ref": "#/components/schemas/ExtensionResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ExtensionResourcePlan": {
        "description": "Plan data for an extension resource.",
        "properties": {
          "name": {
            "description": "Name of the plan.",
            "type": "string"
          },
          "product": {
            "description": "Product name.",
            "type": "string"
          },
          "promotionCode": {
            "description": "Optional: the promotion code associated with the plan.",
            "type": "string"
          },
          "publisher": {
            "description": "Name of the extension publisher.",
            "type": "string"
          },
          "version": {
            "description": "A string that uniquely identifies the plan version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExtensionResourceRequest": {
        "description": "The body of an extension resource PUT request.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "A dictionary of user-defined tags to be stored with the extension resource.",
            "type": "object"
          },
          "location": {
            "description": "The Azure region of the Visual Studio account associated with this request (i.e 'southcentralus'.)",
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/ExtensionResourcePlan",
            "description": "Extended information about the plan being purchased for this extension resource."
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "A dictionary of extended properties. This property is currently unused.",
            "type": "object",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Properties of an operation supported by the resource provider.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationProperties",
            "description": "The properties of the resource operation."
          },
          "name": {
            "description": "The name of the resource operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Container for a list of operations supported by a resource provider.",
        "properties": {
          "value": {
            "description": "A list of operations supported by a resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OperationProperties": {
        "description": "Properties of an operation supported by the resource provider.",
        "properties": {
          "description": {
            "description": "The description of the resource operation.",
            "type": "string"
          },
          "operation": {
            "description": "The operation name.",
            "type": "string"
          },
          "provider": {
            "description": "The provider name.",
            "type": "string"
          },
          "resource": {
            "description": "The resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PipelineTemplate": {
        "description": "Defines a VSTS pipeline template.",
        "properties": {
          "applicationSource": {
            "$ref": "#/components/schemas/ApplicationSource",
            "description": "Source application for the VSTS pipeline."
          },
          "applicationTarget": {
            "$ref": "#/components/schemas/ApplicationTarget",
            "description": "Target resources for the VSTS pipeline."
          },
          "authorizationDetails": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Authorization"
            },
            "description": "Global dictionary of authorization details used by the pipeline, with a friendly name as key. Individual resource in the pipeline can reference to a specific authorization info using the friendly name.",
            "type": "object"
          }
        },
        "required": [
          "applicationSource",
          "applicationTarget",
          "authorizationDetails"
        ],
        "type": "object"
      },
      "ProjectResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "A Visual Studio Team Services project resource.",
        "properties": {
          "kind": {
            "description": "Kind of project resource",
            "enum": [
              "project",
              "bootstrappedProject"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProjectResourceKind"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/ProjectResourceProperties",
            "description": "Custom properties of project resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ProjectResourceListResult": {
        "description": "The response to a request to list Team Services project resources in a resource group/account.",
        "properties": {
          "value": {
            "description": "List of project resource details.",
            "items": {
              "$ref": "#/components/schemas/ProjectResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProjectResourceProperties": {
        "description": "Defines the custom properties of project resource.",
        "properties": {
          "bootstrapPipelineTemplate": {
            "$ref": "#/components/schemas/PipelineTemplate",
            "description": "Template used to configure a bootstrap pipeline in the VSTS project."
          },
          "ownerUpn": {
            "description": "Optional UPN of the owner, on-behalf-of whom the project is being created.",
            "type": "string"
          },
          "processTemplateId": {
            "description": "Process template to use in the project.",
            "enum": [
              "Scrum",
              "Agile",
              "Cmmi"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProcessTemplate"
            }
          },
          "tfsUniqueIdentifier": {
            "description": "Unique identifier of the VSTS project.",
            "readOnly": true,
            "type": "string"
          },
          "versionControlOption": {
            "description": "Version control to use for the default repo created in the project.",
            "enum": [
              "Git",
              "Tfvc"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "VersionControlOption"
            }
          }
        },
        "type": "object"
      },
      "ProjectResourceUpdateParameters": {
        "description": "The parameters to update a project resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The custom tags to be set on the resource.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "A generic Azure Resource Manager resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "type": "object"
          },
          "id": {
            "description": "Unique identifier of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "TargetResource": {
        "description": "Defines a single resource used as target for a VSTS pipeline.",
        "properties": {
          "authorizationReference": {
            "description": "Reference to the authorization info used to access the target resource. This value is used as a key into the global authorization details dictionary.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the target resource.",
            "type": "string"
          },
          "role": {
            "description": "Role of the target resource.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "role"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}