openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Workspace Settings
      description: >-
        Settings about where we should store your security data and logs. If the
        result is empty, it means that no custom-workspace configuration was set
      operationId: WorkspaceSettings_List
      x-ms-examples:
        Get workspace settings on subscription:
          $ref: ./examples/WorkspaceSettings/GetWorkspaceSettings_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}':
    delete:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/WorkspaceSettingName'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Workspace Settings
      description: >-
        Deletes the custom workspace settings for this subscription. new VMs
        will report to the default workspace
      operationId: WorkspaceSettings_Delete
      x-ms-examples:
        Delete a workspace setting data for resource group:
          $ref: ./examples/WorkspaceSettings/DeleteWorkspaceSetting_example.json
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/WorkspaceSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Workspace Settings
      description: >-
        Settings about where we should store your security data and logs. If the
        result is empty, it means that no custom-workspace configuration was set
      operationId: WorkspaceSettings_Get
      x-ms-examples:
        Get a workspace setting on subscription:
          $ref: ./examples/WorkspaceSettings/GetWorkspaceSetting_example.json
    patch:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/WorkspaceSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Workspace Settings
      description: Settings about where we should store your security data and logs
      operationId: WorkspaceSettings_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSetting'
        description: Security data setting object
        required: true
      x-ms-examples:
        Update a workspace setting data for subscription:
          $ref: ./examples/WorkspaceSettings/UpdateWorkspaceSetting_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/WorkspaceSettingName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Workspace Settings
      description: >-
        creating settings about where we should store your security data and
        logs
      operationId: WorkspaceSettings_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSetting'
        description: Security data setting object
        required: true
      x-ms-examples:
        Create a workspace setting data for subscription:
          $ref: ./examples/WorkspaceSettings/CreateWorkspaceSetting_example.json
components:
  parameters:
    WorkspaceSettingName:
      description: Name of the security setting
      in: path
      name: workspaceSettingName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    WorkspaceSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkspaceSetting'
      description: Security data setting object
      required: true
  schemas:
    WorkspaceSetting:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: >-
        Configures where to store the OMS agent data for workspaces under a
        scope
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceSettingProperties'
          description: Workspace setting data
          x-ms-client-flatten: true
      type: object
    WorkspaceSettingList:
      description: List of workspace settings response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of workspace settings
          items:
            $ref: '#/components/schemas/WorkspaceSetting'
          type: array
      required:
        - value
      type: object
    WorkspaceSettingProperties:
      description: Workspace setting data
      properties:
        scope:
          description: >-
            All the VMs in this scope will send their security data to the
            mentioned workspace unless overridden by a setting with more
            specific scope
          type: string
        workspaceId:
          description: The full Azure ID of the workspace to save the data in
          type: string
      required:
        - workspaceId
        - scope
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

