{
  "openapi": "3.0.0",
  "info": {
    "description": "REST APIs for Azure Active Directory Connect Health",
    "title": "ADHybridHealthService",
    "version": "2014-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.ADHybridHealthService/addsservices": {
      "get": {
        "parameters": [
          {
            "description": "The service property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
            "in": "query",
            "name": "serviceType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
            "in": "query",
            "name": "skipCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The take count , which specifies the number of elements that can be returned from a sequence.",
            "in": "query",
            "name": "takeCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Services"
                }
              }
            },
            "description": " The list of Active Directory Domain Controller services."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the details of Active Directory Domain Service, for a tenant, that are onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_list",
        "x-ms-examples": {
          "addsServices_list": {
            "$ref": "./examples/Services.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProperties"
                }
              }
            },
            "description": "Adds the Active Directory Domain Controller Services."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Onboards a service for a given tenant in Azure Active Directory Connect Health.",
        "operationId": "addsServices_add",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServiceProperties"
        },
        "x-ms-examples": {
          "addsServices_add": {
            "$ref": "./examples/AddService.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/premiumCheck": {
      "get": {
        "parameters": [
          {
            "description": "The service property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
            "in": "query",
            "name": "serviceType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
            "in": "query",
            "name": "skipCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The take count , which specifies the number of elements that can be returned from a sequence.",
            "in": "query",
            "name": "takeCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Services"
                }
              }
            },
            "description": "The list of premium services."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the details of Active Directory Domain Services for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_listPremiumServices",
        "x-ms-examples": {
          "addsServices_listPremiumServices": {
            "$ref": "./examples/Services.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service which needs to be deleted.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if the service will be permanently deleted or disabled. True indicates that the service will be permanently deleted and False indicates that the service will be marked disabled and then deleted after 30 days, if it is not re-registered.",
            "in": "query",
            "name": "confirm",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the service."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Deletes an Active Directory Domain Service which is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_delete",
        "x-ms-examples": {
          "addsServices_delete": {
            "$ref": "./examples/DeleteService.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProperties"
                }
              }
            },
            "description": "The Active Directory Domain Controller service as specified by the serviceName property. "
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the details of an Active Directory Domain Service for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_get",
        "x-ms-examples": {
          "addsServices_get": {
            "$ref": "./examples/Service.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the service which needs to be deleted.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProperties"
                }
              }
            },
            "description": "Successfully updated service."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Updates an Active Directory Domain Service properties of an onboarded service.",
        "operationId": "addsServices_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceProperties"
              }
            }
          },
          "description": "The service object.",
          "required": true
        },
        "x-ms-examples": {
          "addsServices_update": {
            "$ref": "./examples/UpdateService.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addomainservicemembers": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if the result should be grouped by site or not.",
            "in": "query",
            "name": "isGroupbySite",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The custom query.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The next partition key to query for.",
            "in": "query",
            "name": "nextPartitionKey",
            "required": true,
            "schema": {
              "enum": [
                " "
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "nextPartitionKey"
            }
          },
          {
            "description": "The next row key to query for.",
            "in": "query",
            "name": "nextRowKey",
            "required": true,
            "schema": {
              "enum": [
                " "
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "nextRowKey"
            }
          },
          {
            "description": "The take count , which specifies the number of elements that can be returned from a sequence.",
            "in": "query",
            "name": "takeCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddsServiceMembers"
                }
              }
            },
            "description": "The list of Active Directory Domain Servers."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the details of the servers, for a given Active Directory Domain Service, that are onboarded to Azure Active Directory Connect Health.",
        "operationId": "adDomainServiceMembers_list",
        "x-ms-examples": {
          "adDomainServiceMembers_list": {
            "$ref": "./examples/AddomainServiceMembers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addsservicemembers": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddsServiceMembers"
                }
              }
            },
            "description": "The list of Active Directory Domain Servers. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the details of the Active Directory Domain servers, for a given Active Directory Domain Service, that are onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServiceMembers_list",
        "x-ms-examples": {
          "addsServiceMembers_list": {
            "$ref": "./examples/AddsServiceMembers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/alerts": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert state to query for.",
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date to query for.",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date till when to query for.",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alerts"
                }
              }
            },
            "description": "The list of alerts for the given service."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the alerts for a given Active Directory Domain Service.",
        "operationId": "alerts_listAddsAlerts",
        "x-ms-examples": {
          "alerts_listAddsAlerts": {
            "$ref": "./examples/Alerts.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/configuration": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The grouping for configurations.",
            "in": "query",
            "name": "grouping",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddsConfiguration"
                }
              }
            },
            "description": "The Active Directory Domain Controller service configuration. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the service configurations.",
        "operationId": "configuration_listAddsConfigurations",
        "x-ms-examples": {
          "configuration_listAddsConfigurations": {
            "$ref": "./examples/AddsConfiguration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/dimensions/{dimension}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The dimension type.",
            "in": "path",
            "name": "dimension",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dimensions"
                }
              }
            },
            "description": "The list of dimensions for a server. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the dimensions for a given dimension type in a server.",
        "operationId": "dimensions_listAddsDimensions",
        "x-ms-examples": {
          "dimensions_listAddsDimensions": {
            "$ref": "./examples/Dimensions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/features/{featureName}/userpreference": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the feature.",
            "in": "path",
            "name": "featureName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the user preference settings. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Deletes the user preferences for a given feature.",
        "operationId": "addsServicesUserPreference_delete",
        "x-ms-examples": {
          "addsServicesUserPreference_delete": {
            "$ref": "./examples/DeleteUserPreference.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the feature.",
            "in": "path",
            "name": "featureName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreference"
                }
              }
            },
            "description": "The user preference settings. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the user preferences for a given feature.",
        "operationId": "addsServicesUserPreference_get",
        "x-ms-examples": {
          "addsServicesUserPreference_get": {
            "$ref": "./examples/UserPreference.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the feature.",
            "in": "path",
            "name": "featureName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": " Successfully added the user preference settings. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Adds the user preferences for a given feature.",
        "operationId": "addsServicesUserPreference_add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreference"
              }
            }
          },
          "description": "The user preference setting.",
          "required": true
        },
        "x-ms-examples": {
          "addsServicesUserPreference_add": {
            "$ref": "./examples/AddUserPreference.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/forestsummary": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForestSummary"
                }
              }
            },
            "description": "The list of forest summary for the service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the forest summary for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_getForestSummary",
        "x-ms-examples": {
          "addsServices_getForestSummary": {
            "$ref": "./examples/ForestSummary.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata": {
      "get": {
        "parameters": [
          {
            "description": "The metric metadata property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if only performance counter metrics are requested.",
            "in": "query",
            "name": "perfCounter",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricMetadataList"
                }
              }
            },
            "description": "The list of metric metadata for a service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the service related metrics information.",
        "operationId": "addsServices_listMetricMetadata",
        "x-ms-examples": {
          "addsServices_listMetricMetadata": {
            "$ref": "./examples/MetricMetadataList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricMetadata"
                }
              }
            },
            "description": " The metric metadata for the service."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the service related metric information.",
        "operationId": "addsServices_getMetricMetadata",
        "x-ms-examples": {
          "addsServices_getMetricMetadata": {
            "$ref": "./examples/MetricMetadata.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}/groups/{groupName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group key",
            "in": "query",
            "name": "groupKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date.",
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date.",
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricSets"
                }
              }
            },
            "description": "The metric sets for a given service and group. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the service related metrics for a given metric and group combination.",
        "operationId": "addsServices_getMetricMetadataForGroup",
        "x-ms-examples": {
          "addsServices_getMetricMetadataForGroup": {
            "$ref": "./examples/MetricSets.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group key",
            "in": "query",
            "name": "groupKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date.",
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date.",
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricSets"
                }
              }
            },
            "description": "The metric sets for the service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the server related metrics for a given metric and group combination.",
        "operationId": "addsService_getMetrics",
        "x-ms-examples": {
          "addsService_getMetrics": {
            "$ref": "./examples/Service_MetricSets.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/average": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            },
            "description": "The list of metrics. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the average of the metric values for a given metric and group combination.",
        "operationId": "addsServices_listMetricsAverage",
        "x-ms-examples": {
          "addsServices_listMetricsAverage": {
            "$ref": "./examples/Metrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/sum": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            },
            "description": "The list of aum of the metric values for a given service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the sum of the metric values for a given metric and group combination.",
        "operationId": "addsServices_listMetricsSum",
        "x-ms-examples": {
          "addsServices_listMetricsSum": {
            "$ref": "./examples/Metrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationdetails": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if InboundReplicationNeighbor details are required or not.",
            "in": "query",
            "name": "withDetails",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicationDetailsList"
                }
              }
            },
            "description": "The list of replication details for a service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets complete domain controller list along with replication details for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_listReplicationDetails",
        "x-ms-examples": {
          "addsServices_listReplicationDetails": {
            "$ref": "./examples/ReplicationDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationstatus": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicationStatus"
                }
              }
            },
            "description": "The replication status for a service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets Replication status for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServicesReplicationStatus_get",
        "x-ms-examples": {
          "addsServicesReplicationStatus_get": {
            "$ref": "./examples/ReplicationStatus.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationsummary": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if the result should be grouped by site or not.",
            "in": "query",
            "name": "isGroupbySite",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The custom query.",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The next partition key to query for.",
            "in": "query",
            "name": "nextPartitionKey",
            "required": true,
            "schema": {
              "enum": [
                " "
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "nextPartitionKey"
            }
          },
          {
            "description": "The next row key to query for.",
            "in": "query",
            "name": "nextRowKey",
            "required": true,
            "schema": {
              "enum": [
                " "
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "nextRowKey"
            }
          },
          {
            "description": "The take count , which specifies the number of elements that can be returned from a sequence.",
            "in": "query",
            "name": "takeCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicationSummaryList"
                }
              }
            },
            "description": "The list of replication summary for a service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets complete domain controller list along with replication details for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.",
        "operationId": "addsServices_listReplicationSummary",
        "x-ms-examples": {
          "addsServices_listReplicationSummary": {
            "$ref": "./examples/ReplicationSummary.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server specific dimension.",
            "in": "query",
            "name": "dimensionType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The value of the dimension.",
            "in": "query",
            "name": "dimensionSignature",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMembers"
                }
              }
            },
            "description": "The list of service members for a given service."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the details of the servers, for a given Active Directory Domain Controller service, that are onboarded to Azure Active Directory Connect Health Service.",
        "operationId": "addsServicesServiceMembers_list",
        "x-ms-examples": {
          "addsServicesServiceMembers_list": {
            "$ref": "./examples/ServiceMembers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "description": "The name of the service under which the server is to be onboarded.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMember"
                }
              }
            },
            "description": "Successfully added the service member."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Onboards  a server, for a given Active Directory Domain Controller service, to Azure Active Directory Connect Health Service.",
        "operationId": "addsServicesServiceMembers_add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceMember"
              }
            }
          },
          "description": "The server object.",
          "required": true
        },
        "x-ms-examples": {
          "addsServicesServiceMembers_add": {
            "$ref": "./examples/AddServiceMembers.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server Id.",
            "in": "path",
            "name": "serviceMemberId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Indicates if the server will be permanently deleted or disabled. True indicates that the server will be permanently deleted and False indicates that the server will be marked disabled and then deleted after 30 days, if it is not re-registered.",
            "in": "query",
            "name": "confirm",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the service member."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Deletes a Active Directory Domain Controller server that has been onboarded to Azure Active Directory Connect Health Service.",
        "operationId": "addsServiceMembers_delete",
        "x-ms-examples": {
          "addsServiceMembers_delete": {
            "$ref": "./examples/DeleteServer.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server Id.",
            "in": "path",
            "name": "serviceMemberId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMember"
                }
              }
            },
            "description": "The service member details for a given service. "
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the details of a server, for a given Active Directory Domain Controller service, that are onboarded to Azure Active Directory Connect Health Service.",
        "operationId": "addsServiceMembers_get",
        "x-ms-examples": {
          "addsServiceMembers_get": {
            "$ref": "./examples/ServiceMember.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/alerts": {
      "get": {
        "parameters": [
          {
            "description": "The server Id for which the alert details needs to be queried.",
            "in": "path",
            "name": "serviceMemberId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert state to query for.",
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date to query for.",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date till when to query for.",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alerts"
                }
              }
            },
            "description": "The list of server alerts."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the details of an alert for a given Active Directory Domain Controller service and server combination.",
        "operationId": "addsServices_listServerAlerts",
        "x-ms-examples": {
          "addsServices_listServerAlerts": {
            "$ref": "./examples/Server_Alerts.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/credentials": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server Id.",
            "in": "path",
            "name": "serviceMemberId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credentials"
                }
              }
            },
            "description": "The list of server credentials."
          }
        },
        "tags": [
          "Adds"
        ],
        "description": "Gets the credentials of the server which is needed by the agent to connect to Azure Active Directory Connect Health Service.",
        "operationId": "addsServiceMembers_listCredentials",
        "x-ms-examples": {
          "addsServiceMembers_listCredentials": {
            "$ref": "./examples/Credentials.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/configuration": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            },
            "description": "The tenant details."
          }
        },
        "tags": [
          "Configuration"
        ],
        "description": "Gets the details of a tenant onboarded to Azure Active Directory Connect Health.",
        "operationId": "configuration_get",
        "x-ms-examples": {
          "configuration_get": {
            "$ref": "./examples/Tenant.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            },
            "description": "Successfully updated the tenant."
          }
        },
        "tags": [
          "Configuration"
        ],
        "description": "Updates tenant properties for tenants onboarded to Azure Active Directory Connect Health.",
        "operationId": "configuration_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tenant"
              }
            }
          },
          "description": "The tenant object with the properties set to the updated value.",
          "required": true
        },
        "x-ms-examples": {
          "configuration_update": {
            "$ref": "./examples/PatchTenant.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            },
            "description": "Successfully added the tenant."
          }
        },
        "tags": [
          "Configuration"
        ],
        "description": "Onboards a tenant in Azure Active Directory Connect Health.",
        "operationId": "configuration_add",
        "x-ms-examples": {
          "configuration_add": {
            "$ref": "./examples/Tenant.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResponse"
                }
              }
            },
            "description": "The list of operations."
          }
        },
        "tags": [
          "operations"
        ],
        "description": "Lists the available Azure Data Factory API operations.",
        "operationId": "operations_list",
        "x-ms-examples": {
          "operations_list": {
            "$ref": "./examples/OperationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/reports/DevOps/IsDevOps": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "description": "Indicates if the user is Dev Ops or not."
          }
        },
        "tags": [
          "DevOps"
        ],
        "description": "Checks if the user is enabled for Dev Ops access.",
        "operationId": "reports_getDevOps",
        "x-ms-examples": {
          "reports_getDevOps": {
            "$ref": "./examples/DevOps.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/service/{serviceName}/servicemembers/{serviceMemberId}/connectors": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The server Id.",
            "in": "path",
            "name": "serviceMemberId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connectors"
                }
              }
            },
            "description": "The list of connector details."
          }
        },
        "tags": [
          "ServiceMembers"
        ],
        "description": "Gets the connector details for a service.",
        "operationId": "serviceMembers_listConnectors",
        "x-ms-examples": {
          "serviceMembers_listConnectors": {
            "$ref": "./examples/Connectors.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services": {
      "get": {
        "parameters": [
          {
            "description": "The service property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
            "in": "query",
            "name": "serviceType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
            "in": "query",
            "name": "skipCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The take count , which specifies the number of elements that can be returned from a sequence.",
            "in": "query",
            "name": "takeCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Services"
                }
              }
            },
            "description": "The list of services."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the details of services, for a tenant, that are onboarded to Azure Active Directory Connect Health.",
        "operationId": "services_list",
        "x-ms-examples": {
          "services_list": {
            "$ref": "./examples/Services.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProperties"
                }
              }
            },
            "description": "Successfully added the service."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Onboards a service for a given tenant in Azure Active Directory Connect Health.",
        "operationId": "services_add",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServiceProperties"
        },
        "x-ms-examples": {
          "services_add": {
            "$ref": "./examples/AddService.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/premiumCheck": {
      "get": {
        "parameters": [
          {
            "description": "The service property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.",
            "in": "query",
            "name": "serviceType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.",
            "in": "query",
            "name": "skipCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The take count , which specifies the number of elements that can be returned from a sequence.",
            "in": "query",
            "name": "takeCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Services"
                }
              }
            },
            "description": "The list of premium services."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the details of services for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId": "services_listPremium",
        "x-ms-examples": {
          "services_listPremium": {
            "$ref": "./examples/Services.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the service which needs to be deleted.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if the service will be permanently deleted or disabled. True indicates that the service will be permanently deleted and False indicates that the service will be marked disabled and then deleted after 30 days, if it is not re-registered.",
            "in": "query",
            "name": "confirm",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the service."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Deletes a service which is onboarded to Azure Active Directory Connect Health.",
        "operationId": "services_delete",
        "x-ms-examples": {
          "services_delete": {
            "$ref": "./examples/DeleteService.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProperties"
                }
              }
            },
            "description": "The list of services."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the details of a service for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.",
        "operationId": "services_get",
        "x-ms-examples": {
          "services_get": {
            "$ref": "./examples/Service.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the service which needs to be deleted.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProperties"
                }
              }
            },
            "description": "Successfully updated the service."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Updates the service properties of an onboarded service.",
        "operationId": "services_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceProperties"
              }
            }
          },
          "description": "The service object.",
          "required": true
        },
        "x-ms-examples": {
          "services_update": {
            "$ref": "./examples/UpdateService.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/TenantWhitelisting/{featureName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the feature.",
            "in": "path",
            "name": "featureName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "description": "Indicates if a tenant is listed as allowed for a feature or not."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Checks if the tenant, to which a service is registered, is listed as allowed to use a feature.",
        "operationId": "services_getTenantWhitelisting",
        "x-ms-examples": {
          "services_getTenantWhitelisting": {
            "$ref": "./examples/TenantWhitelisting.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/alerts": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert state to query for.",
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date to query for.",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date till when to query for.",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alerts"
                }
              }
            },
            "description": "The list of alerts."
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Gets the alerts for a given service.",
        "operationId": "services_listAlerts",
        "x-ms-examples": {
          "services_listAlerts": {
            "$ref": "./examples/Alerts.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/checkServiceFeatureAvailibility/{featureName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the feature.",
            "in": "path",
            "name": "featureName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            },
            "description": "Indicates if the feature is available or not."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Checks if the service has all the pre-requisites met to use a feature.",
        "operationId": "services_getFeatureAvailibility",
        "x-ms-examples": {
          "services_getFeatureAvailibility": {
            "$ref": "./examples/CheckFeatureAvailibility.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/exporterrors/counts": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCounts"
                }
              }
            },
            "description": "The list of export errors."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the count of latest AAD export errors.",
        "operationId": "services_listExportErrors",
        "x-ms-examples": {
          "services_listExportErrors": {
            "$ref": "./examples/ErrorCounts.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/exporterrors/listV2": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The error category to query for.",
            "in": "query",
            "name": "errorBucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergedExportErrors"
                }
              }
            },
            "description": "The list of merged export errors."
          }
        },
        "tags": [
          "Services"
        ],
        "description": " Gets the categorized export errors.",
        "operationId": "services_listExportErrorsV2",
        "x-ms-examples": {
          "services_listExportErrorsV2": {
            "$ref": "./examples/MergedExportErrors.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/exportstatus": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatuses"
                }
              }
            },
            "description": "The list of export statuses."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the export status.",
        "operationId": "services_listExportStatus",
        "x-ms-examples": {
          "services_listExportStatus": {
            "$ref": "./examples/ExportStatus.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/feedback": {
      "post": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertFeedback"
                }
              }
            },
            "description": "Successfully added alert feedback."
          }
        },
        "tags": [
          "Feedback"
        ],
        "description": "Adds an alert feedback submitted by customer.",
        "operationId": "services_addAlertFeedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertFeedback"
              }
            }
          },
          "description": "The alert feedback.",
          "required": true
        },
        "x-ms-examples": {
          "services_addAlertFeedback": {
            "$ref": "./examples/AddAlertFeedback.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/{shortName}/alertfeedback": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the alert.",
            "in": "path",
            "name": "shortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertFeedbacks"
                }
              }
            },
            "description": "The list of alert feedback."
          }
        },
        "tags": [
          "Feedback"
        ],
        "description": "Gets a list of all alert feedback for a given tenant and alert type.",
        "operationId": "services_listAlertFeedback",
        "x-ms-examples": {
          "services_listAlertFeedback": {
            "$ref": "./examples/GetAlertFeedback.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/ipAddressAggregateSettings": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPAddressAggregateSetting"
                }
              }
            },
            "description": "IP address aggregate settings."
          }
        },
        "tags": [
          "Reports"
        ],
        "description": "Gets the IP address aggregate settings.",
        "operationId": "list_IPAddressAggregateSettings",
        "x-ms-examples": {
          "list_IPAddressAggregateSettings": {
            "$ref": "./examples/IpAddressAggregateSettings.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPAddressAggregateSetting"
                }
              }
            },
            "description": "IP AddressAggregate Settings."
          }
        },
        "tags": [
          "Configuration"
        ],
        "description": "Updates the IP address aggregate settings alert thresholds.",
        "operationId": "update_IPAddressAggregateSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPAddressAggregateSetting"
              }
            }
          },
          "description": "The IP address aggregate setting object.",
          "required": true
        },
        "x-ms-examples": {
          "update_IPAddressAggregateSettings": {
            "$ref": "./examples/IpAddressAggregateSettingsUpdate.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/ipAddressAggregates": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A continuationtoken value returned in paginated result to load different pages.",
            "in": "query",
            "name": "skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPAddressAggregates"
                }
              }
            },
            "description": "The list of IP addresses."
          }
        },
        "tags": [
          "Reports"
        ],
        "description": "Gets the IP address aggregates for a given service.",
        "operationId": "list_IPAddressAggregatesByService",
        "x-ms-examples": {
          "list_IPAddressAggregatesByService": {
            "$ref": "./examples/IpAddressAggregates.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata": {
      "get": {
        "parameters": [
          {
            "description": "The metric metadata property filter to apply.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates if only performance counter metrics are requested.",
            "in": "query",
            "name": "perfCounter",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricMetadataList"
                }
              }
            },
            "description": "The list of metric metadata for a given service."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "Gets the service related metrics information.",
        "operationId": "services_listMetricMetadata",
        "x-ms-examples": {
          "services_listMetricMetadata": {
            "$ref": "./examples/MetricMetadataList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricMetadata"
                }
              }
            },
            "description": "The metric metadata for a given metric."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "Gets the service related metrics information.",
        "operationId": "services_getMetricMetadata",
        "x-ms-examples": {
          "services_getMetricMetadata": {
            "$ref": "./examples/MetricMetadata.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}/groups/{groupName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group key",
            "in": "query",
            "name": "groupKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date.",
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date.",
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricSets"
                }
              }
            },
            "description": "The metric sets for a given service and group."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "Gets the service related metrics for a given metric and group combination.",
        "operationId": "services_getMetricMetadataForGroup",
        "x-ms-examples": {
          "services_getMetricMetadataForGroup": {
            "$ref": "./examples/MetricSets.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group key",
            "in": "query",
            "name": "groupKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date.",
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date.",
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricSets"
                }
              }
            },
            "description": "The metric sets for a given service."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "Gets the server related metrics for a given metric and group combination.",
        "operationId": "service_getMetrics",
        "x-ms-examples": {
          "service_getMetrics": {
            "$ref": "./examples/Service_MetricSets.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}/average": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            },
            "description": "The list of average metrics for a given service."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "Gets the average of the metric values for a given metric and group combination.",
        "operationId": "services_listMetricsAverage",
        "x-ms-examples": {
          "services_listMetricsAverage": {
            "$ref": "./examples/Metrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}/sum": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The metric name",
            "in": "path",
            "name": "metricName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The group name",
            "in": "path",
            "name": "groupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            },
            "description": "The list of metrics for a given service."
          }
        },
        "tags": [
          "Metrics"
        ],
        "description": "Gets the sum of the metric values for a given metric and group combination.",
        "operationId": "services_listMetricsSum",
        "x-ms-examples": {
          "services_listMetricsSum": {
            "$ref": "./examples/Metrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfiguration": {
      "patch": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the monitoring configuration."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Updates the service level monitoring configuration.",
        "operationId": "services_updateMonitoringConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          },
          "description": "The monitoring configuration to update",
          "required": true
        },
        "x-ms-examples": {
          "services_updateMonitoringConfiguration": {
            "$ref": "./examples/PatchMonitoringConfiguration.json"
          }
        }
      }
    },
    "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfigurations": {
      "get": {
        "parameters": [
          {
            "description": "The name of the service.",
            "in": "path",
            "name": "serviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items"
                }
              }
            },
            "description": "The list of monitoring configurations."
          }
        },
        "tags": [
          "Services"
        ],
        "description": "Gets the service level monitoring configurations.",
        "operationId": "services_listMonitoringConfigurations",
        "x-ms-examples": {
          "services_listMonitoringConfigurations": {
            "$ref": "./examples/MonitoringConfigurations.json"
          }
[...]
