openapi: 3.0.0
info:
  title: RecoveryServicesBackupClient
  version: '2019-05-13'
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
  - url: 'https://management.azure.com/'
paths:
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Backed up item to be deleted.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectedItems
      description: "Used to disable backup of an item within a container. This is an asynchronous operation. To know the status of the\r\nrequest, call the GetItemOperationResult API."
      operationId: ProtectedItems_Delete
      x-ms-examples:
        Delete Protection from Azure Virtual Machine:
          $ref: ./examples/Common/ProtectedItem_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Backed up item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResource'
          description: OK
      tags:
        - ProtectedItems
      description: "Provides the details of the backed up item. This is an asynchronous operation. To know the status of the operation,\r\ncall the GetItemOperationResult API."
      operationId: ProtectedItems_Get
      x-ms-examples:
        Get Protected Classic Virtual Machine Details:
          $ref: ./examples/AzureIaasVm/ClassicCompute_ProtectedItem_Get.json
        Get Protected Virtual Machine Details:
          $ref: ./examples/AzureIaasVm/Compute_ProtectedItem_Get.json
      x-ms-odata: '#/components/schemas/GetProtectedItemQueryObject'
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Item name to be backed up.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResource'
          description: OK
        '202':
          description: Accepted
      tags:
        - ProtectedItems
      description: "Enables backup of an item or to modifies the backup policy information of an already backed up item. This is an\r\nasynchronous operation. To know the status of the operation, call the GetItemOperationResult API."
      operationId: ProtectedItems_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectedItemResource'
        description: resource backed up item
        required: true
      x-ms-examples:
        Enable Protection on Azure IaasVm:
          $ref: ./examples/AzureIaasVm/ConfigureProtection.json
        Stop Protection with retain data on Azure IaasVm:
          $ref: ./examples/AzureIaasVm/StopProtection.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Backup item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
        - description: >-
            OperationID which represents the operation whose result needs to be
            fetched.
          in: path
          name: operationId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResource'
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectedItemOperationResults
      description: Fetches the result of any operation on the backup item.
      operationId: ProtectedItemOperationResults_Get
      x-ms-examples:
        Get Operation Results of Protected Vm:
          $ref: ./examples/AzureIaasVm/ProtectedItemOperationResults.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Backed up item whose backup copies are to be fetched.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointResourceList'
          description: OK
      tags:
        - RecoveryPoints
      description: Lists the backup copies for the backed up item.
      operationId: RecoveryPoints_List
      x-ms-examples:
        Get Protected Azure Vm Recovery Points:
          $ref: ./examples/AzureIaasVm/RecoveryPoints_List.json
      x-ms-odata: '#/components/schemas/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with backed up item.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with backed up item.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Backed up item name whose backup data needs to be fetched.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
        - description: RecoveryPointID represents the backed up data to be fetched.
          in: path
          name: recoveryPointId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointResource'
          description: OK
      tags:
        - RecoveryPoints
      description: "Provides the information of the backed up data identified using RecoveryPointID. This is an asynchronous operation.\r\nTo know the status of the operation, call the GetProtectedItemOperationResult API."
      operationId: RecoveryPoints_Get
      x-ms-examples:
        Get Azure Vm Recovery Point Details:
          $ref: ./examples/AzureIaasVm/RecoveryPoints_Get.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up items.
          in: path
          name: fabricName
          required: true
          schema:
            type: string
        - description: Container name associated with the backed up items.
          in: path
          name: containerName
          required: true
          schema:
            type: string
        - description: Backed up item to be restored.
          in: path
          name: protectedItemName
          required: true
          schema:
            type: string
        - description: >-
            Recovery point ID which represents the backed up data to be
            restored.
          in: path
          name: recoveryPointId
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
      tags:
        - Restores
      description: "Restores the specified backed up data. This is an asynchronous operation. To know the status of this API call, use\r\nGetProtectedItemOperationResult API."
      operationId: Restores_Trigger
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequestResource'
        description: resource restore request
        required: true
      x-ms-examples:
        Restore Disks:
          $ref: ./examples/AzureIaasVm/TriggerRestore_RestoreDisks.json
        Restore to New Azure IaasVm:
          $ref: ./examples/AzureIaasVm/TriggerRestore_ALR.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResourceList'
          description: OK
      tags:
        - BackupJobs
      description: Provides a pageable list of jobs.
      operationId: BackupJobs_List
      x-ms-examples:
        List All Jobs:
          $ref: ./examples/Common/ListJobs.json
        List Jobs With Filters:
          $ref: ./examples/Common/ListJobsWithAllSupportedFilters.json
        List Jobs With Time Filter:
          $ref: ./examples/Common/ListJobsWithStartTimeAndEndTimeFilters.json
      x-ms-odata: '#/components/schemas/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: OperationID which represents the export job.
          in: path
          name: operationId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultInfoBaseResource'
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultInfoBaseResource'
          description: Accepted
      tags:
        - ExportJobsOperationResults
      description: "Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also\r\ncontains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format."
      operationId: ExportJobsOperationResults_Get
      x-ms-examples:
        Export Jobs Operation Results:
          $ref: ./examples/Common/ExportJobsOperationResult.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Name of the job whose details are to be fetched.
          in: path
          name: jobName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
          description: OK
      tags:
        - JobDetails
      description: Gets extended information associated with the job.
      operationId: JobDetails_Get
      x-ms-examples:
        Get Job Details:
          $ref: ./examples/Common/GetJobDetails.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Name of the job to cancel.
          in: path
          name: jobName
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
      tags:
        - JobCancellations
      description: "Cancels a job. This is an asynchronous operation. To know the status of the cancellation, call\r\nGetCancelOperationResult API."
      operationId: JobCancellations_Trigger
      x-ms-examples:
        Cancel Job:
          $ref: ./examples/Common/TriggerCancelJob.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Job name whose operation result has to be fetched.
          in: path
          name: jobName
          required: true
          schema:
            type: string
        - description: >-
            OperationID which represents the operation whose result has to be
            fetched.
          in: path
          name: operationId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - JobOperationResults
      description: Fetches the result of any operation.
      operationId: JobOperationResults_Get
      x-ms-examples:
        Cancel Job Operation Result:
          $ref: ./examples/Common/CancelJobOperationResult.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        '202':
          description: Accepted
      tags:
        - Jobs
      description: >-
        Triggers export of jobs specified by filters and returns an OperationID
        to track.
      operationId: Jobs_Export
      x-ms-examples:
        Export Jobs:
          $ref: ./examples/Common/TriggerExportJobs.json
      x-ms-odata: '#/components/schemas/JobQueryObject'
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResourceList'
          description: OK
      tags:
        - BackupPolicies
      description: "Lists of backup policies associated with Recovery Services Vault. API provides pagination parameters to fetch\r\nscoped results."
      operationId: BackupPolicies_List
      x-ms-examples:
        List protection policies with backupManagementType filter as AzureIaasVm:
          $ref: ./examples/AzureIaasVm/BackupPolicies_List.json
        List protection policies with backupManagementType filter as AzureWorkload:
          $ref: ./examples/AzureWorkload/BackupPolicies_List.json
      x-ms-odata: '#/components/schemas/ProtectionPolicyQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Backup policy information to be fetched.
          in: path
          name: policyName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResource'
          description: OK
      tags:
        - ProtectionPolicies
      description: "Provides the details of the backup policies associated to Recovery Services Vault. This is an asynchronous\r\noperation. Status of the operation can be fetched using GetPolicyOperationResult API."
      operationId: ProtectionPolicies_Get
      x-ms-examples:
        Get Azure IaasVm Protection Policy Details:
          $ref: ./examples/AzureIaasVm/ProtectionPolicies_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Backup policy to be created.
          in: path
          name: policyName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResource'
          description: OK
        '202':
          description: Accepted
      tags:
        - ProtectionPolicies
      description: "Creates or modifies a backup policy. This is an asynchronous operation. Status of the operation can be fetched\r\nusing GetPolicyOperationResult API."
      operationId: ProtectionPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionPolicyResource'
        description: resource backup policy
        required: true
      x-ms-examples:
        Create or Update Full Azure Vm Protection Policy:
          $ref: >-
            ./examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Complex.json
        Create or Update Full Azure Workload Protection Policy:
          $ref: >-
            ./examples/AzureWorkload/ProtectionPolicies_CreateOrUpdate_Complex.json
        Create or Update Simple Azure Vm Protection Policy:
          $ref: ./examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Simple.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: Backup policy name whose operation's result needs to be fetched.
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: >-
            Operation ID which represents the operation whose result needs to be
            fetched.
          in: path
          name: operationId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicyResource'
          description: OK
      tags:
        - ProtectionPolicyOperationResults
      description: Provides the result of an operation.
      operationId: ProtectionPolicyOperationResults_Get
      x-ms-examples:
        Get Protection Policy Operation Results:
          $ref: ./examples/AzureIaasVm/ProtectionPolicyOperationResults_Get.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemResourceList'
          description: OK
      tags:
        - BackupProtectedItems
      description: Provides a pageable list of all items that are backed up within a vault.
      operationId: BackupProtectedItems_List
      x-ms-examples:
        List protected items with backupManagementType filter as AzureIaasVm:
          $ref: ./examples/AzureIaasVm/BackupProtectedItems_List.json
      x-ms-odata: '#/components/schemas/ProtectedItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperation':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOperationsResponse'
          description: OK
      tags:
        - Operation
      description: >-
        Validate operation for specified backed up item. This is a synchronous
        operation.
      operationId: Operation_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateOperationRequest'
        description: resource validate operation request
        required: true
      x-ms-examples:
        Validate Operation:
          $ref: ./examples/AzureIaasVm/ValidateOperation_RestoreDisk.json
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceVaultConfigResource'
          description: OK
      tags:
        - BackupResourceVaultConfigs
      description: Fetches resource vault config.
      operationId: BackupResourceVaultConfigs_Get
      x-ms-examples:
        Get Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceVaultConfigResource'
          description: OK
      tags:
        - BackupResourceVaultConfigs
      description: Updates vault security config.
      operationId: BackupResourceVaultConfigs_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupResourceVaultConfigResource'
        description: resource config request
        required: true
      x-ms-examples:
        Update Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Patch.json
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: >-
        The name of the resource group where the recovery services vault is
        present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AzureFileShareProtectionPolicy:
      allOf:
        - $ref: '#/components/schemas/ProtectionPolicy'
      description: AzureStorage backup policy.
      properties:
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
          description: Retention policy with the details on backup copy retention ranges.
        schedulePolicy:
          $ref: '#/components/schemas/SchedulePolicy'
          description: Backup schedule specified as part of backup policy.
        timeZone:
          description: >-
            TimeZone optional input as string. For example: TimeZone = "Pacific
            Standard Time".
          type: string
        workLoadType:
          description: Type of workload for the backup management
          enum:
            - Invalid
            - VM
            - FileFolder
            - AzureSqlDb
            - SQLDB
            - Exchange
            - Sharepoint
            - VMwareVM
            - SystemState
            - Client
            - GenericDataSource
            - SQLDataBase
            - AzureFileShare
            - SAPHanaDatabase
            - SAPAseDatabase
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadType
      type: object
      x-ms-discriminator-value: AzureStorage
    AzureFileShareRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/RecoveryPoint'
      description: Azure File Share workload specific backup copy.
      properties:
        fileShareSnapshotUri:
          description: 'Contains Url to the snapshot of fileshare, if applicable'
          readOnly: true
          type: string
        recoveryPointSizeInGB:
          description: Contains recovery point size
          format: int32
          readOnly: true
          type: integer
        recoveryPointTime:
          description: Time at which this backup copy was created.
          format: date-time
          readOnly: true
          type: string
        recoveryPointType:
          description: >-
            Type of the backup copy. Specifies whether it is a crash consistent
            backup or app consistent.
          readOnly: true
          type: string
      type: object
      x-ms-discriminator-value: AzureFileShareRecoveryPoint
    AzureFileShareRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/RestoreRequest'
      description: AzureFileShare Restore Request
      properties:
        copyOptions:
          description: Options to resolve copy conflicts.
          enum:
            - Invalid
            - CreateCopy
            - Skip
            - Overwrite
            - FailOnConflict
          type: string
          x-ms-enum:
            modelAsString: true
            name: CopyOptions
        recoveryType:
          description: Type of this recovery.
          enum:
            - Invalid
            - OriginalLocation
            - AlternateLocation
            - RestoreDisks
            - Offline
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecoveryType
        restoreFileSpecs:
          description: >-
            List of Source Files/Folders(which need to recover) and
            TargetFolderPath details
          items:
            $ref: '#/components/schemas/RestoreFileSpecs'
          type: array
        restoreRequestType:
          description: Restore Type (FullShareRestore or ItemLevelRestore)
          enum:
            - Invalid
            - FullShareRestore
            - ItemLevelRestore
          type: string
          x-ms-enum:
            modelAsString: true
            name: RestoreRequestType
        sourceResourceId:
          description: Source storage account ARM Id
          type: string
        targetDetails:
          $ref: '#/components/schemas/TargetAFSRestoreInfo'
          description: Target File Share Details
      type: object
      x-ms-discriminator-value: AzureFileShareRestoreRequest
    AzureFileshareProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: Azure File Share workload-specific backup item.
      properties:
        extendedInfo:
          $ref: '#/components/schemas/AzureFileshareProtectedItemExtendedInfo'
          description: Additional information with this backup item.
        friendlyName:
          description: Friendly name of the fileshare represented by this backup item.
          type: string
        healthStatus:
          description: backups running status for this backup item.
          enum:
            - Passed
            - ActionRequired
            - ActionSuggested
            - Invalid
          type: string
          x-ms-enum:
            modelAsString: true
            name: HealthStatus
        lastBackupStatus:
          description: 'Last backup operation status. Possible values: Healthy, Unhealthy.'
          type: string
        lastBackupTime:
          description: Timestamp of the last backup operation on this backup item.
          format: date-time
          type: string
        protectionState:
          description: Backup state of this backup item.
          enum:
            - Invalid
            - IRPending
            - Protected
            - ProtectionError
            - ProtectionStopped
            - ProtectionPaused
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectionState
        protectionStatus:
          description: Backup status of this backup item.
          type: string
      type: object
      x-ms-discriminator-value: AzureFileShareProtectedItem
    AzureFileshareProtectedItemExtendedInfo:
      description: Additional information about Azure File Share backup item.
      properties:
        oldestRecoveryPoint:
          description: The oldest backup copy available for this item in the service.
          format: date-time
          type: string
        policyState:
          description: >-
            Indicates consistency of policy object and policy applied to this
            backup item.
          type: string
        recoveryPointCount:
          description: Number of available backup copies associated with this backup item.
          format: int32
          type: integer
        resourceState:
          description: >-
            Indicates the state of this resource. Possible values are from enum
            ResourceState {Invalid, Active, SoftDeleted, Deleted}
          readOnly: true
          type: string
        resourceStateSyncTime:
          description: The resource state sync time for this backup item.
          format: date-time
          readOnly: true
          type: string
      type: object
    AzureIaaSClassicComputeVMProtectedItem:
      allOf:
        - $ref: '#/components/schemas/AzureIaaSVMProtectedItem'
      description: >-
        IaaS VM workload-specific backup item representing the Classic Compute
        VM.
      type: object
      x-ms-discriminator-value: Microsoft.ClassicCompute/virtualMachines
    AzureIaaSComputeVMProtectedItem:
      allOf:
        - $ref: '#/components/schemas/AzureIaaSVMProtectedItem'
      description: >-
        IaaS VM workload-specific backup item representing the Azure Resource
        Manager VM.
      type: object
      x-ms-discriminator-value: Microsoft.Compute/virtualMachines
    AzureIaaSVMErrorInfo:
      description: Azure IaaS VM workload-specific error information.
      properties:
        errorCode:
          description: Error code.
          format: int32
          readOnly: true
          type: integer
        errorString:
          description: Localized error string.
          readOnly: true
          type: string
        errorTitle:
          description: 'Title: Typically, the entity that the error pertains to.'
          readOnly: true
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    AzureIaaSVMHealthDetails:
      description: Azure IaaS VM workload-specific Health Details.
      properties:
        code:
          description: Health Code
          format: int32
          readOnly: true
          type: integer
        message:
          description: Health Message
          readOnly: true
          type: string
        recommendations:
          description: Health Recommended Actions
          items:
            type: string
          readOnly: true
          type: array
        title:
          description: Health Title
          readOnly: true
          type: string
      type: object
    AzureIaaSVMJob:
      allOf:
        - $ref: '#/components/schemas/Job'
      description: Azure IaaS VM workload-specific job object.
      properties:
        actionsInfo:
          description: >-
            Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
              - Invalid
              - Cancellable
              - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureIaaSVMErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureIaaSVMJobExtendedInfo'
          description: Additional information for this job.
        virtualMachineVersion:
          description: >-
            Specifies whether the backup item is a Classic or an Azure Resource
            Manager VM.
          type: string
      type: object
      x-ms-discriminator-value: AzureIaaSVMJob
    AzureIaaSVMJobExtendedInfo:
      description: Azure IaaS VM workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          type: string
        estimatedRemainingDuration:
          description: Time remaining for execution of this job.
          type: string
        internalPropertyBag:
          additionalProperties:
            type: string
          description: Job internal properties.
          type: object
        progressPercentage:
          description: >-
            Indicates progress of the job. Null if it has not started or
            completed.
          format: double
          type: number
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          type: object
        tasksList:
          description: List of tasks associated with this job.
          items:
            $ref: '#/components/schemas/AzureIaaSVMJobTaskDetails'
          type: array
      type: object
    AzureIaaSVMJobTaskDetails:
      description: Azure IaaS VM workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          type: string
        instanceId:
          description: The instanceId.
          type: string
        progressPercentage:
          description: Progress of the task.
          format: double
          type: number
        startTime:
          description: The start time.
          format: date-time
          type: string
        status:
          description: The status.
          type: string
        taskExecutionDetails:
          description: "Details about execution of the task.\r\neg: number of bytes transferred etc"
          type: string
        taskId:
          description: The task display name.
          type: string
      type: object
    AzureIaaSVMProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: IaaS VM workload-specific backup item.
      properties:
        extendedInfo:
          $ref: '#/components/schemas/AzureIaaSVMProtectedItemExtendedInfo'
          description: Additional information for this backup item.
        extendedProperties:
          $ref: '#/components/schemas/ExtendedProperties'
        friendlyName:
          description: Friendly name of the VM represented by this backup item.
          type: string
        healthDetails:
          description: Health details on this backup item.
          items:
            $ref: '#/components/schemas/AzureIaaSVMHealthDetails'
          type: array
        healthStatus:
          description: Health status of protected item
          enum:
            - Passed
            - ActionRequired
            - ActionSuggested
            - Invalid
          type: string
          x-ms-enum:
            modelAsString: true
            name: HealthStatus
        lastBackupStatus:
          description: Last backup operation status.
          type: string
        lastBackupTime:
          description: Timestamp of the last backup operation on this backup item.
          format: date-time
          type: string
        protectedItemDataId:
          description: Data ID of the protected item.
          type: string
        protectionState:
          description: Backup state of this backup item.
          enum:
            - Invalid
            - IRPending
            - Protected
            - ProtectionError
            - ProtectionStopped
            - ProtectionPaused
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectionState
        protectionStatus:
          description: Backup status of this backup item.
          type: string
        virtualMachineId:
          description: >-
            Fully qualified ARM ID of the virtual machine represented by this
            item.
          type: string
      type: object
      x-ms-discriminator-value: AzureIaaSVMProtectedItem
    AzureIaaSVMProtectedItemExtendedInfo:
      description: Additional information on Azure IaaS VM specific backup item.
      properties:
        oldestRecoveryPoint:
          description: The oldest backup copy available for this backup item.
          format: date-time
          type: string
        policyInconsistent:
          description: >-
            Specifies if backup policy associated with the backup item is
            inconsistent.
          type: boolean
        recoveryPointCount:
          description: Number of backup copies available for this backup item.
          format: int32
          type: integer
      type: object
    AzureIaaSVMProtectionPolicy:
      allOf:
        - $ref: '#/components/schemas/ProtectionPolicy'
      description: IaaS VM workload-specific backup policy.
      properties:
        instantRpRetentionRangeInDays:
          description: Instant RP retention policy range in days
          format: int32
          type: integer
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
          description: Retention policy with the details on backup copy retention ranges.
        schedulePolicy:
          $ref: '#/components/schemas/SchedulePolicy'
          description: Backup schedule specified as part of backup policy.
        timeZone:
          description: >-
            TimeZone optional input as string. For example: TimeZone = "Pacific
            Standard Time".
          type: string
      type: object
      x-ms-discriminator-value: AzureIaasVM
    AzureSqlProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: Azure SQL workload-specific backup item.
      properties:
        extendedInfo:
          $ref: '#/components/schemas/AzureSqlProtectedItemExtendedInfo'
          description: Additional information for this backup item.
        protectedItemDataId:
          description: >-
            Internal ID of a backup item. Used by Azure SQL Backup engine to
            contact Recovery Services.
          type: string
        protectionState:
          description: Backup state of the backed up item.
          enum:
            - Invalid
            - IRPending
            - Protected
            - ProtectionError
            - ProtectionStopped
            - ProtectionPaused
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectedItemState
      type: object
      x-ms-discriminator-value: Microsoft.Sql/servers/databases
    AzureSqlProtectedItemExtendedInfo:
      description: Additional information on Azure Sql specific protected item.
      properties:
        oldestRecoveryPoint:
          description: The oldest backup copy available for this item in the service.
          format: date-time
          type: string
        policyState:
          description: State of the backup policy associated with this backup item.
          type: string
        recoveryPointCount:
          description: Number of available backup copies associated with this backup item.
          format: int32
          type: integer
      type: object
    AzureSqlProtectionPolicy:
      allOf:
        - $ref: '#/components/schemas/ProtectionPolicy'
      description: Azure SQL workload-specific backup policy.
      properties:
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
          description: Retention policy details.
      type: object
      x-ms-discriminator-value: AzureSql
    AzureStorageErrorInfo:
      description: Azure storage specific error information
      properties:
        errorCode:
          description: Error code.
          format: int32
          type: integer
        errorString:
          description: Localized error string.
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          type: array
      type: object
    AzureStorageJob:
      allOf:
        - $ref: '#/components/schemas/Job'
      description: Azure storage specific job.
      properties:
        actionsInfo:
          description: >-
            Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
              - Invalid
              - Cancellable
              - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureStorageErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureStorageJobExtendedInfo'
          description: Additional information about the job.
        storageAccountName:
          description: Specifies friendly name of the storage account.
          type: string
        storageAccountVersion:
          description: >-
            Specifies whether the Storage account is a Classic or an Azure
            Resource Manager Storage account.
          type: string
      type: object
      x-ms-discriminator-value: AzureStorageJob
    AzureStorageJobExtendedInfo:
      description: Azure Storage workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          type: object
        tasksList:
          description: List of tasks for this job
          items:
            $ref: '#/components/schemas/AzureStorageJobTaskDetails'
          type: array
      type: object
    AzureStorageJobTaskDetails:
      description: Azure storage workload specific job task details.
      properties:
        status:
          description: The status.
          type: string
        taskId:
          description: The task display name.
          type: string
      type: object
    AzureVmWorkloadProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: Azure VM workload-specific protected item.
      properties:
        extendedInfo:
          $ref: '#/components/schemas/AzureVmWorkloadProtectedItemExtendedInfo'
          description: Additional information for this backup item.
        friendlyName:
          description: Friendly name of the DB represented by this backup item.
          type: string
        lastBackupErrorDetail:
          $ref: '#/components/schemas/ErrorDetail'
          description: Error details in last backup
        lastBackupStatus:
          description: 'Last backup operation status. Possible values: Healthy, Unhealthy.'
          enum:
            - Invalid
            - Healthy
            - Unhealthy
            - IRPending
          type: string
          x-ms-enum:
            modelAsString: true
            name: LastBackupStatus
        lastBackupTime:
          description: Timestamp of the last backup operation on this backup item.
          format: date-time
          type: string
        parentName:
          description: Parent name of the DB such as Instance or Availability Group.
          type: string
        parentType:
          description: >-
            Parent type of protected item, example: for a DB, standalone server
            or distributed
          type: string
        protectedItemDataSourceId:
          description: Data ID of the protected item.
          type: string
        protectedItemHealthStatus:
          description: >-
            Health status of the backup item, evaluated based on last heartbeat
            received
          enum:
            - Invalid
            - Healthy
            - Unhealthy
            - NotReachable
            - IRPending
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectedItemHealthStatus
        protectionState:
          description: Backup state of this backup item.
          enum:
            - Invalid
            - IRPending
            - Protected
            - ProtectionError
            - ProtectionStopped
            - ProtectionPaused
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectionState
        protectionStatus:
          description: Backup status of this backup item.
          type: string
        serverName:
          description: Host/Cluster Name for instance or AG
          type: string
      type: object
      x-ms-discriminator-value: AzureVmWorkloadProtectedItem
    AzureVmWorkloadProtectedItemExtendedInfo:
      description: Additional information on Azure Workload for SQL specific backup item.
      properties:
        oldestRecoveryPoint:
          description: The oldest backup copy available for this backup item.
          format: date-time
          type: string
        policyState:
          description: >-
            Indicates consistency of policy object and policy applied to this
            backup item.
          type: string
        recoveryPointCount:
          description: Number of backup copies available for this backup item.
          format: int32
          type: integer
      type: object
    AzureVmWorkloadProtectionPolicy:
      allOf:
        - $ref: '#/components/schemas/ProtectionPolicy'
      description: Azure VM (Mercury) workload-specific backup policy.
      properties:
        makePolicyConsistent:
          description: Fix the policy inconsistency
          type: boolean
        settings:
          $ref: '#/components/schemas/Settings'
          description: Common settings for the backup management
        subProtectionPolicy:
          description: >-
            List of sub-protection policies which includes schedule and
            retention
          items:
            $ref: '#/components/schemas/SubProtectionPolicy'
          type: array
        workLoadType:
          description: Type of workload for the backup management
          enum:
            - Invalid
            - VM
            - FileFolder
            - AzureSqlDb
            - SQLDB
            - Exchange
            - Sharepoint
            - VMwareVM
            - SystemState
            - Client
            - GenericDataSource
            - SQLDataBase
            - AzureFileShare
            - SAPHanaDatabase
            - SAPAseDatabase
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadType
      type: object
      x-ms-discriminator-value: AzureWorkload
    AzureVmWorkloadSAPAseDatabaseProtectedItem:
      allOf:
        - $ref: '#/components/schemas/AzureVmWorkloadProtectedItem'
      description: Azure VM workload-specific protected item representing SAP ASE Database.
      type: object
      x-ms-discriminator-value: AzureVmWorkloadSAPAseDatabase
    AzureVmWorkloadSAPHanaDatabaseProtectedItem:
      allOf:
        - $ref: '#/components/schemas/AzureVmWorkloadProtectedItem'
      description: >-
        Azure VM workload-specific protected item representing SAP HANA
        Database.
      type: object
      x-ms-discriminator-value: AzureVmWorkloadSAPHanaDatabase
    AzureVmWorkloadSQLDatabaseProtectedItem:
      allOf:
        - $ref: '#/components/schemas/AzureVmWorkloadProtectedItem'
      description: Azure VM workload-specific protected item representing SQL Database.
      type: object
      x-ms-discriminator-value: AzureVmWorkloadSQLDatabase
    AzureWorkloadErrorInfo:
      description: Azure storage specific error information
      properties:
        additionalDetails:
          description: Additional details for above error code.
          type: string
        errorCode:
          description: Error code.
          format: int32
          type: integer
        errorString:
          description: Localized error string.
          type: string
        errorTitle:
          description: 'Title: Typically, the entity that the error pertains to.'
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          type: array
      type: object
    AzureWorkloadJob:
      allOf:
        - $ref: '#/components/schemas/Job'
      description: Azure storage specific job.
      properties:
        actionsInfo:
          description: >-
            Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
              - Invalid
              - Cancellable
              - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureWorkloadErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureWorkloadJobExtendedInfo'
          description: Additional information about the job.
        workloadType:
          description: Workload type of the job
          type: string
      type: object
      x-ms-discriminator-value: AzureWorkloadJob
    AzureWorkloadJobExtendedInfo:
      description: Azure VM workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          type: object
        tasksList:
          description: List of tasks for this job
          items:
            $ref: '#/components/schemas/AzureWorkloadJobTaskDetails'
          type: array
      type: object
    AzureWorkloadJobTaskDetails:
      description: Azure VM workload specific job task details.
      properties:
        status:
          description: The status.
          type: string
        taskId:
          description: The task display name.
          type: string
      type: object
    AzureWorkloadPointInTimeRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadRecoveryPoint'
      description: Recovery point specific to PointInTime
      properties:
        timeRanges:
          description: List of log ranges
          items:
            $ref: '#/components/schemas/PointInTimeRange'
          type: array
      type: object
      x-ms-discriminator-value: AzureWorkloadPointInTimeRecoveryPoint
    AzureWorkloadPointInTimeRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadRestoreRequest'
      description: >-
        AzureWorkload SAP Hana -specific restore. Specifically for
        PointInTime/Log restore
      properties:
        pointInTime:
          description: PointInTime value
          format: date-time
          type: string
      type: object
      x-ms-discriminator-value: AzureWorkloadPointInTimeRestoreRequest
    AzureWorkloadRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/RecoveryPoint'
      description: >-
        Workload specific recovery point, specifically encapsulates full/diff
        recovery point
      properties:
        recoveryPointTimeInUTC:
          description: UTC time at which recovery point was created
          format: date-time
          readOnly: true
          type: string
        type:
          description: Type of restore point
          enum:
            - Invalid
            - Full
            - Log
            - Differential
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: RestorePointType
      type: object
      x-ms-discriminator-value: AzureWorkloadRecoveryPoint
    AzureWorkloadRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/RestoreRequest'
      description: AzureWorkload-specific restore.
      properties:
        propertyBag:
          additionalProperties:
            type: string
          description: Workload specific property bag.
          type: object
        recoveryMode:
          description: >-
            Defines whether the current recovery mode is file restore or
            database restore
          enum:
            - Invalid
            - FileRecovery
            - WorkloadRecovery
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecoveryMode
        recoveryType:
          description: Type of this recovery.
          enum:
            - Invalid
            - OriginalLocation
            - AlternateLocation
            - RestoreDisks
            - Offline
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecoveryType
        sourceResourceId:
          description: >-
            Fully qualified ARM ID of the VM on which workload that was running
            is being recovered.
          type: string
        targetInfo:
          $ref: '#/components/schemas/TargetRestoreInfo'
          description: Details of target database
      type: object
      x-ms-discriminator-value: AzureWorkloadRestoreRequest
    AzureWorkloadSAPHanaPointInTimeRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadPointInTimeRecoveryPoint'
      description: Recovery point specific to PointInTime in SAPHana
      type: object
      x-ms-discriminator-value: AzureWorkloadSAPHanaPointInTimeRecoveryPoint
    AzureWorkloadSAPHanaPointInTimeRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadSAPHanaRestoreRequest'
      description: >-
        AzureWorkload SAP Hana -specific restore. Specifically for
        PointInTime/Log restore
      properties:
        pointInTime:
          description: PointInTime value
          format: date-time
          type: string
      type: object
      x-ms-discriminator-value: AzureWorkloadSAPHanaPointInTimeRestoreRequest
    AzureWorkloadSAPHanaRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadRecoveryPoint'
      description: >-
        SAPHana specific recoverypoint, specifically encapsulates full/diff
        recoverypoints
      type: object
      x-ms-discriminator-value: AzureWorkloadSAPHanaRecoveryPoint
    AzureWorkloadSAPHanaRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadRestoreRequest'
      description: AzureWorkload SAP Hana-specific restore.
      type: object
      x-ms-discriminator-value: AzureWorkloadSAPHanaRestoreRequest
    AzureWorkloadSQLPointInTimeRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadSQLRecoveryPoint'
      description: Recovery point specific to PointInTime
      properties:
        timeRanges:
          description: List of log ranges
          items:
            $ref: '#/components/schemas/PointInTimeRange'
          type: array
      type: object
      x-ms-discriminator-value: AzureWorkloadSQLPointInTimeRecoveryPoint
    AzureWorkloadSQLPointInTimeRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadSQLRestoreRequest'
      description: >-
        AzureWorkload SQL -specific restore. Specifically for PointInTime/Log
        restore
      properties:
        pointInTime:
          description: PointInTime value
          format: date-time
          type: string
      type: object
      x-ms-discriminator-value: AzureWorkloadSQLPointInTimeRestoreRequest
    AzureWorkloadSQLRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadRecoveryPoint'
      description: >-
        SQL specific recoverypoint, specifically encapsulates full/diff
        recoverypoint along with extended info
      properties:
        extendedInfo:
          $ref: '#/components/schemas/AzureWorkloadSQLRecoveryPointExtendedInfo'
          description: "Extended Info that provides data directory details. Will be populated in two cases:\r\nWhen a specific recovery point is accessed using GetRecoveryPoint\r\nOr when ListRecoveryPoints is called for Log RP only with ExtendedInfo query filter"
      type: object
      x-ms-discriminator-value: AzureWorkloadSQLRecoveryPoint
    AzureWorkloadSQLRecoveryPointExtendedInfo:
      description: Extended info class details
      properties:
        dataDirectoryPaths:
          description: List of data directory paths during restore operation.
          items:
            $ref: '#/components/schemas/SQLDataDirectory'
          readOnly: true
          type: array
        dataDirectoryTimeInUTC:
          description: UTC time at which data directory info was captured
          format: date-time
          readOnly: true
          type: string
      type: object
    AzureWorkloadSQLRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/AzureWorkloadRestoreRequest'
      description: AzureWorkload SQL -specific restore. Specifically for full/diff restore
      properties:
        alternateDirectoryPaths:
          description: Data directory details
          items:
            $ref: '#/components/schemas/SQLDataDirectoryMapping'
          type: array
        isNonRecoverable:
          description: >-
            SQL specific property where user can chose to set no-recovery when
            restore operation is tried
          type: boolean
        shouldUseAlternateTargetLocation:
          description: >-
            Default option set to true. If this is set to false, alternate data
            directory must be provided
          type: boolean
      type: object
      x-ms-discriminator-value: AzureWorkloadSQLRestoreRequest
    BEKDetails:
      description: BEK is bitlocker encryption key.
      properties:
        secretData:
          description: BEK data.
          type: string
        secretUrl:
          description: Secret is BEK.
          type: string
        secretVaultId:
          description: ID of the Key Vault where this Secret is stored.
          type: string
      type: object
    BMSRPQueryObject:
      description: Filters to list backup copies.
      properties:
        endDate:
          description: Backup copies created before this time.
          format: date-time
          type: string
        extendedInfo:
          description: >-
            In Get Recovery Point, it tells whether extended information about
            recovery point is asked.
          type: boolean
        restorePointQueryType:
          description: RestorePoint type
          enum:
            - Invalid
            - Full
            - Log
            - Differential
            - FullAndDifferential
            - All
          type: string
          x-ms-enum:
            modelAsString: true
            name: RestorePointQueryType
        startDate:
          description: Backup copies created after this time.
          format: date-time
          type: string
      type: object
    BackupResourceVaultConfig:
      description: Backup resource vault config details.
      properties:
        enhancedSecurityState:
          description: Enabled or Disabled.
          enum:
            - Invalid
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: EnhancedSecurityState
        softDeleteFeatureState:
          description: Soft Delete feature state
          enum:
            - Invalid
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: SoftDeleteFeatureState
        storageModelType:
          description: Storage type.
          enum:
            - Invalid
            - GeoRedundant
            - LocallyRedundant
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
        storageType:
          description: Storage type.
          enum:
            - Invalid
            - GeoRedundant
            - LocallyRedundant
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
        storageTypeState:
          description: >-
            Locked or Unlocked. Once a machine is registered against a resource,
            the storageTypeState is always Locked.
          enum:
            - Invalid
            - Locked
            - Unlocked
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageTypeState
      type: object
    BackupResourceVaultConfigResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Backup resource vault config details.
      properties:
        properties:
          $ref: '#/components/schemas/BackupResourceVaultConfig'
          description: BackupResourceVaultConfigResource properties
      type: object
    DPMProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: Additional information on Backup engine specific backup item.
      properties:
        backupEngineName:
          description: Backup Management server protecting this backup item
          type: string
        extendedInfo:
          $ref: '#/components/schemas/DPMProtectedItemExtendedInfo'
          description: Extended info of the backup item.
        friendlyName:
          description: Friendly name of the managed item
          type: string
        protectionState:
          description: Protection state of the backup engine
          enum:
            - Invalid
            - IRPending
            - Protected
            - ProtectionError
            - ProtectionStopped
            - ProtectionPaused
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectedItemState
      type: object
      x-ms-discriminator-value: DPMProtectedItem
    DPMProtectedItemExtendedInfo:
      description: Additional information of DPM Protected item.
      properties:
        diskStorageUsedInBytes:
          description: Used Disk storage in bytes.
          type: string
        isCollocated:
          description: To check if backup item is collocated.
          type: boolean
        isPresentOnCloud:
          description: To check if backup item is cloud protected.
          type: boolean
        lastBackupStatus:
          description: Last backup status information on backup item.
          type: string
        lastRefreshedAt:
          description: Last refresh time on backup item.
          format: date-time
          type: string
        oldestRecoveryPoint:
          description: Oldest cloud recovery point time.
          format: date-time
          type: string
        onPremiseLatestRecoveryPoint:
          description: latest disk recovery point time.
          format: date-time
          type: string
        onPremiseOldestRecoveryPoint:
          description: Oldest disk recovery point time.
          format: date-time
          type: string
        onPremiseRecoveryPointCount:
          description: disk recovery point count.
          format: int32
          type: integer
        protectableObjectLoadPath:
          additionalProperties:
            type: string
          description: Attribute to provide information on various DBs.
          type: object
        protected:
          description: To check if backup item is disk protected.
          type: boolean
        protectionGroupName:
          description: Protection group name of the backup item.
          type: string
        recoveryPointCount:
          description: cloud recovery point count.
          format: int32
          type: integer
        totalDiskStorageSizeInBytes:
          description: total Disk storage in bytes.
          type: string
      type: object
    DailyRetentionFormat:
      description: Daily retention format.
      properties:
        daysOfTheMonth:
          description: List of days of the month.
          items:
            $ref: '#/components/schemas/Day'
          type: array
      type: object
    DailyRetentionSchedule:
      description: Daily retention schedule.
      properties:
        retentionDuration:
          $ref: '#/components/schemas/RetentionDuration'
          description: Retention duration of retention Policy.
        retentionTimes:
          description: Retention times of retention policy.
          items:
            format: date-time
            type: string
          type: array
      type: object
    Day:
      description: Day of the week.
      properties:
        date:
          description: Date of the month
          format: int32
          type: integer
        isLast:
          description: Whether Date is last date of month
          type: boolean
      type: object
    DiskExclusionProperties:
      properties:
        diskLunList:
          description: >-
            List of Disks' Logical Unit Numbers (LUN) to be used for VM
            Protection.
          items:
            format: int32
            type: integer
          type: array
        isInclusionList:
          description: >-
            Flag to indicate whether DiskLunList is to be included/ excluded
            from backup.
          type: boolean
      type: object
    DiskInformation:
      description: Disk information
      properties:
        lun:
          format: int32
          type: integer
        name:
          type: string
      type: object
    DpmErrorInfo:
      description: DPM workload-specific error information.
      properties:
        errorString:
          description: Localized error string.
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          type: array
      type: object
    DpmJob:
      allOf:
        - $ref: '#/components/schemas/Job'
      description: DPM workload-specific job object.
      properties:
        actionsInfo:
          description: The state/actions applicable on this job like cancel/retry.
          items:
            enum:
              - Invalid
              - Cancellable
              - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        containerName:
          description: 'Name of cluster/server protecting current backup item, if any.'
          type: string
        containerType:
          description: Type of container.
          type: string
        dpmServerName:
          description: DPM server name managing the backup item or backup job.
          type: string
        duration:
          description: Time elapsed for job.
          format: duration
          type: string
        errorDetails:
          description: The errors.
          items:
            $ref: '#/components/schemas/DpmErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/DpmJobExtendedInfo'
          description: Additional information for this job.
        workloadType:
          description: Type of backup item.
          type: string
      type: object
      x-ms-discriminator-value: DpmJob
    DpmJobExtendedInfo:
      description: Additional information on the DPM workload-specific job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: The job properties.
          type: object
        tasksList:
          description: List of tasks associated with this job.
          items:
            $ref: '#/components/schemas/DpmJobTaskDetails'
          type: array
      type: object
    DpmJobTaskDetails:
      description: DPM workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          type: string
        startTime:
          description: The start time.
          format: date-time
          type: string
        status:
          description: The status.
          type: string
        taskId:
          description: The task display name.
          type: string
      type: object
    EncryptionDetails:
      description: Details needed if the VM was encrypted at the time of backup.
      properties:
        encryptionEnabled:
          description: >-
            Identifies whether this backup copy represents an encrypted VM at
            the time of backup.
          type: boolean
        kekUrl:
          description: Key Url.
          type: string
        kekVaultId:
          description: ID of Key Vault where KEK is stored.
          type: string
        secretKeyUrl:
          description: Secret Url.
          type: string
        secretKeyVaultId:
          description: ID of Key Vault where Secret is stored.
          type: string
      type: object
    ErrorDetail:
      description: 'Error Detail class which encapsulates Code, Message and Recommendations.'
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error Message related to the Code.
          readOnly: true
          type: string
        recommendations:
          description: List of recommendation strings.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    ExportJobsOperationResultInfo:
      allOf:
        - $ref: '#/components/schemas/OperationResultInfoBase'
      description: This class is used to send blob details after exporting jobs.
      properties:
        blobSasKey:
          description: SAS key to access the blob. It expires in 15 mins.
          type: string
        blobUrl:
          description: >-
            URL of the blob into which the serialized string of list of jobs is
            exported.
          type: string
        excelFileBlobSasKey:
          description: SAS key to access the blob. It expires in 15 mins.
          type: string
        excelFileBlobUrl:
          description: URL of the blob into which the ExcelFile is uploaded.
          type: string
      type: object
      x-ms-discriminator-value: ExportJobsOperationResultInfo
    ExtendedProperties:
      description: Extended Properties for Azure IaasVM Backup.
      properties:
        diskExclusionProperties:
          $ref: '#/components/schemas/DiskExclusionProperties'
          description: Extended Properties for Disk Exclusion.
      type: object
    GenericProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: Base class for backup items.
      properties:
        fabricName:
          description: Name of this backup item's fabric.
          type: string
        friendlyName:
          description: Friendly name of the container.
          type: string
        policyState:
          description: >-
            Indicates consistency of policy object and policy applied to this
            backup item.
          type: string
        protectedItemId:
          description: Data Plane Service ID of the protected item.
          format: int64
          type: integer
        protectionState:
          description: Backup state of this backup item.
          enum:
            - Invalid
            - IRPending
            - Protected
            - ProtectionError
            - ProtectionStopped
            - ProtectionPaused
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectionState
        sourceAssociations:
          additionalProperties:
            type: string
          description: >-
            Loosely coupled (type, value) associations (example - parent of a
            protected item)
          type: object
      type: object
      x-ms-discriminator-value: GenericProtectedItem
    GenericProtectionPolicy:
      allOf:
        - $ref: '#/components/schemas/ProtectionPolicy'
      description: Azure VM (Mercury) workload-specific backup policy.
      properties:
        fabricName:
          description: Name of this policy's fabric.
          type: string
        subProtectionPolicy:
          description: >-
            List of sub-protection policies which includes schedule and
            retention
          items:
            $ref: '#/components/schemas/SubProtectionPolicy'
          type: array
        timeZone:
          description: >-
            TimeZone optional input as string. For example: TimeZone = "Pacific
            Standard Time".
          type: string
      type: object
      x-ms-discriminator-value: GenericProtectionPolicy
    GenericRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/RecoveryPoint'
      description: Generic backup copy.
      properties:
        friendlyName:
          description: Friendly name of the backup copy.
          type: string
        recoveryPointAdditionalInfo:
          description: Additional information associated with this backup copy.
          type: string
        recoveryPointTime:
          description: Time at which this backup copy was created.
          format: date-time
          type: string
        recoveryPointType:
          description: Type of the backup copy.
          type: string
      type: object
      x-ms-discriminator-value: GenericRecoveryPoint
    GetProtectedItemQueryObject:
      description: Filters to list backup items.
      properties:
        expand:
          description: >-
            Specifies if the additional information should be provided for this
            item.
          type: string
      type: object
    IaasVMRecoveryPoint:
      allOf:
        - $ref: '#/components/schemas/RecoveryPoint'
      description: IaaS VM workload specific backup copy.
      properties:
        isInstantIlrSessionActive:
          description: Is the session to recover items from this backup copy still active.
          type: boolean
        isManagedVirtualMachine:
          description: Whether VM is with Managed Disks
          type: boolean
        isSourceVMEncrypted:
          description: >-
            Identifies whether the VM was encrypted when the backup copy is
            created.
          readOnly: true
          type: boolean
        keyAndSecret:
          $ref: '#/components/schemas/KeyAndSecretDetails'
          description: >-
            Required details for recovering an encrypted VM. Applicable only
            when IsSourceVMEncrypted is true.
        originalStorageAccountOption:
          description: Original Storage Account Option
          type: boolean
        osType:
          description: OS type
          type: string
        recoveryPointAdditionalInfo:
          description: Additional information associated with this backup copy.
          readOnly: true
          type: string
        recoveryPointDiskConfiguration:
          $ref: '#/components/schemas/RecoveryPointDiskConfiguration'
          description: Disk configuration
        recoveryPointTierDetails:
          description: Recovery point tier information.
          items:
            $ref: '#/components/schemas/RecoveryPointTierInformation'
          type: array
        recoveryPointTime:
          description: Time at which this backup copy was created.
          format: date-time
          readOnly: true
          type: string
        recoveryPointType:
          description: Type of the backup copy.
          readOnly: true
          type: string
        sourceVMStorageType:
          description: Storage type of the VM whose backup copy is created.
          readOnly: true
          type: string
        virtualMachineSize:
          description: Virtual Machine Size
          type: string
      type: object
      x-ms-discriminator-value: IaasVMRecoveryPoint
    IaasVMRestoreRequest:
      allOf:
        - $ref: '#/components/schemas/RestoreRequest'
      description: IaaS VM workload-specific restore.
      properties:
        affinityGroup:
          description: >-
            Affinity group associated to VM to be restored. Used only for
            Classic Compute Virtual Machines.
          type: string
        createNewCloudService:
          description: "Should a new cloud service be created while restoring the VM. If this is false, VM will be restored to the same\r\ncloud service as it was at the time of backup."
          type: boolean
        encryptionDetails:
          $ref: '#/components/schemas/EncryptionDetails'
          description: Details needed if the VM was encrypted at the time of backup.
        originalStorageAccountOption:
          description: Original Storage Account Option
          type: boolean
        recoveryPointId:
          description: ID of the backup copy to be recovered.
          type: string
        recoveryType:
          description: Type of this recovery.
          enum:
            - Invalid
            - OriginalLocation
            - AlternateLocation
            - RestoreDisks
            - Offline
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecoveryType
        region:
          description: Region in which the virtual machine is restored.
          type: string
        restoreDiskLunList:
          description: List of Disk LUNs for partial restore
          items:
            format: int32
            type: integer
          type: array
        sourceResourceId:
          description: Fully qualified ARM ID of the VM which is being recovered.
          type: string
        storageAccountId:
          description: >-
            Fully qualified ARM ID of the storage account to which the VM has to
            be restored.
          type: string
        subnetId:
          description: "Subnet ID, is the subnet ID associated with the to be restored VM. For Classic VMs it would be\r\n{VnetID}/Subnet/{SubnetName} and, for the Azure Resource Manager VMs it would be ARM resource ID used to represent\r\nthe subnet."
          type: string
        targetDomainNameId:
          description: "Fully qualified ARM ID of the domain name to be associated to the VM being restored. This applies only to Classic\r\nVirtual Machines."
          type: string
        targetResourceGroupId:
          description: "This is the ARM Id of the resource group that you want to create for this Virtual machine and other artifacts.\r\nFor e.g. /subscriptions/{subId}/resourcegroups/{rg}"
          type: string
        targetVirtualMachineId:
          description: "This is the complete ARM Id of the VM that will be created.\r\nFor e.g. /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}"
          type: string
        virtualNetworkId:
          description: "This is the virtual network Id of the vnet that will be attached to the virtual machine.\r\nUser will be validated for join action permissions in the linked access."
          type: string
      type: object
      x-ms-discriminator-value: IaasVMRestoreRequest
    Job:
      description: Defines workload agnostic properties for a job.
      discriminator:
        propertyName: jobType
      properties:
        activityId:
          description: ActivityId of job.
          type: string
        backupManagementType:
          description: Backup management type to execute the current job.
          enum:
            - Invalid
            - AzureIaasVM
            - MAB
            - DPM
            - AzureBackupServer
            - AzureSql
            - AzureStorage
            - AzureWorkload
            - DefaultBackup
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        endTime:
          description: The end time.
          format: date-time
          type: string
        entityFriendlyName:
          description: Friendly name of the entity on which the current job is executing.
          type: string
        jobType:
          description: >-
            This property will be used as the discriminator for deciding the
            specific types in the polymorphic chain of types.
          type: string
        operation:
          description: The operation name.
          type: string
        startTime:
          description: The start time.
          format: date-time
          type: string
        status:
          description: Job status.
          type: string
      required:
        - jobType
      type: object
    JobQueryObject:
      description: Filters to list the jobs.
      properties:
        backupManagementType:
          description: Type of backup management for the job.
          enum:
            - Invalid
            - AzureIaasVM
            - MAB
            - DPM
            - AzureBackupServer
            - AzureSql
            - AzureStorage
            - AzureWorkload
            - DefaultBackup
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        endTime:
          description: Job has ended at this time. Value is in UTC.
          format: date-time
          type: string
        jobId:
          description: JobID represents the job uniquely.
          type: string
        operation:
          description: Type of operation.
          enum:
            - Invalid
            - Register
            - UnRegister
            - ConfigureBackup
            - Backup
            - Restore
            - DisableBackup
            - DeleteBackupData
            - CrossRegionRestore
            - Undelete
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobOperationType
        startTime:
          description: Job has started at this time. Value is in UTC.
          format: date-time
          type: string
        status:
          description: Status of the job.
          enum:
            - Invalid
            - InProgress
            - Completed
            - Failed
            - CompletedWithWarnings
            - Cancelled
            - Cancelling
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStatus
      type: object
    JobResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Defines workload agnostic properties for a job.
      properties:
        properties:
          $ref: '#/components/schemas/Job'
          description: JobResource properties
      type: object
    JobResourceList:
      allOf:
        - $ref: '#/components/schemas/ResourceList'
      description: List of Job resources
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/JobResource'
          type: array
      type: object
    KEKDetails:
      description: KEK is encryption key for BEK.
      properties:
        keyBackupData:
          description: KEK data.
          type: string
        keyUrl:
          description: Key is KEK.
          type: string
        keyVaultId:
          description: Key Vault ID where this Key is stored.
          type: string
      type: object
    KeyAndSecretDetails:
      description: "BEK is bitlocker key.\r\nKEK is encryption key for BEK\r\nIf the VM was encrypted then we will store following details :\r\n1. Secret(BEK) - Url + Backup Data + vaultId.\r\n2. Key(KEK) - Url + Backup Data + vaultId.\r\n3. EncryptionMechanism\r\nBEK and KEK can potentially have different vault ids."
      properties:
        bekDetails:
          $ref: '#/components/schemas/BEKDetails'
          description: BEK is bitlocker encryption key.
        encryptionMechanism:
          description: 'Encryption mechanism: None/ SinglePass/ DoublePass'
          type: string
        kekDetails:
          $ref: '#/components/schemas/KEKDetails'
          description: KEK is encryption key for BEK.
      type: object
    LogSchedulePolicy:
      allOf:
        - $ref: '#/components/schemas/SchedulePolicy'
      description: Log policy schedule.
      properties:
        scheduleFrequencyInMins:
          description: Frequency of the log schedule operation of this policy in minutes.
          format: int32
          type: integer
      type: object
      x-ms-discriminator-value: LogSchedulePolicy
    LongTermRetentionPolicy:
      allOf:
        - $ref: '#/components/schemas/RetentionPolicy'
      description: Long term retention policy.
      properties:
        dailySchedule:
          $ref: '#/components/schemas/DailyRetentionSchedule'
          description: Daily retention schedule of the protection policy.
        monthlySchedule:
          $ref: '#/components/schemas/MonthlyRetentionSchedule'
          description: Monthly retention schedule of the protection policy.
        weeklySchedule:
          $ref: '#/components/schemas/WeeklyRetentionSchedule'
          description: Weekly retention schedule of the protection policy.
        yearlySchedule:
          $ref: '#/components/schemas/YearlyRetentionSchedule'
          description: Yearly retention schedule of the protection policy.
      type: object
      x-ms-discriminator-value: LongTermRetentionPolicy
    LongTermSchedulePolicy:
      allOf:
        - $ref: '#/components/schemas/SchedulePolicy'
      description: Long term policy schedule.
      type: object
      x-ms-discriminator-value: LongTermSchedulePolicy
    MabErrorInfo:
      description: MAB workload-specific error information.
      properties:
        errorString:
          description: Localized error string.
          readOnly: true
          type: string
        recommendations:
          description: List of localized recommendations.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    MabFileFolderProtectedItem:
      allOf:
        - $ref: '#/components/schemas/ProtectedItem'
      description: MAB workload-specific backup item.
      properties:
        computerName:
          description: Name of the computer associated with this backup item.
          type: string
        deferredDeleteSyncTimeInUTC:
          description: Sync time for deferred deletion in UTC
          format: int64
          type: integer
        extendedInfo:
          $ref: '#/components/schemas/MabFileFolderProtectedItemExtendedInfo'
          description: Additional information with this backup item.
        friendlyName:
          description: Friendly name of this backup item.
          type: string
        lastBackupStatus:
          description: Status of last backup operation.
          type: string
        lastBackupTime:
          description: Timestamp of the last backup operation on this backup item.
          format: date-time
          type: string
        protectionState:
          description: 'Protected, ProtectionStopped, IRPending or ProtectionError'
          type: string
      type: object
      x-ms-discriminator-value: MabFileFolderProtectedItem
    MabFileFolderProtectedItemExtendedInfo:
      description: Additional information on the backed up item.
      properties:
        lastRefreshedAt:
          description: Last time when the agent data synced to service.
          format: date-time
          type: string
        oldestRecoveryPoint:
          description: The oldest backup copy available.
          format: date-time
          type: string
        recoveryPointCount:
          description: Number of backup copies associated with the backup item.
          format: int32
          type: integer
      type: object
    MabJob:
      allOf:
        - $ref: '#/components/schemas/Job'
      description: MAB workload-specific job.
      properties:
        actionsInfo:
          description: The state/actions applicable on jobs like cancel/retry.
          items:
            enum:
              - Invalid
              - Cancellable
              - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time taken by job to run.
          format: duration
          type: string
        errorDetails:
          description: The errors.
          items:
            $ref: '#/components/schemas/MabErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/MabJobExtendedInfo'
          description: Additional information on the job.
        mabServerName:
          description: Name of server protecting the DS.
          type: string
        mabServerType:
          description: Server type of MAB container.
          enum:
            - Invalid
            - Unknown
            - IaasVMContainer
            - IaasVMServiceContainer
            - DPMContainer
            - AzureBackupServerContainer
            - MABContainer
            - Cluster
            - AzureSqlContainer
            - Windows
            - VCenter
            - VMAppContainer
            - SQLAGWorkLoadContainer
            - StorageContainer
            - GenericContainer
          type: string
          x-ms-enum:
            modelAsString: true
            name: MabServerType
        workloadType:
          description: Workload type of backup item.
          enum:
            - Invalid
            - VM
            - FileFolder
            - AzureSqlDb
            - SQLDB
            - Exchange
            - Sharepoint
            - VMwareVM
            - SystemState
            - Client
            - GenericDataSource
            - SQLDataBase
            - AzureFileShare
            - SAPHanaDatabase
            - SAPAseDatabase
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadType
      type: object
      x-ms-discriminator-value: MabJob
    MabJobExtendedInfo:
      description: Additional information for the MAB workload-specific job.
      properties:
        dynamicErrorMessage:
[...]
