openapi: 3.0.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient
  version: '2016-05-15'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.DevTestLab/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
          description: Success
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ProviderOperations
      description: Result of the request to list REST API operations
      operationId: ProviderOperations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: >-
            Specify the $expand query. Example:
            'properties($select=defaultStorageAccount)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: List labs in a subscription.
      operationId: Labs_ListBySubscription
      x-ms-odata: '#/components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/locationName'
        - description: The name of the operation.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Operations
      description: Get operation.
      operationId: Operations_Get
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: 'Specify the $expand query. Example: ''properties($select=status)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GlobalSchedules
      description: List schedules in a subscription.
      operationId: GlobalSchedules_ListBySubscription
      x-ms-odata: '#/components/schemas/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: >-
            Specify the $expand query. Example:
            'properties($select=defaultStorageAccount)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Labs
      description: List labs in a resource group.
      operationId: Labs_ListByResourceGroup
      x-ms-odata: '#/components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=displayName)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ArtifactSource_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArtifactSources
      description: List artifact sources in a given lab.
      operationId: ArtifactSources_List
      x-ms-odata: '#/components/schemas/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=displayName)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ArmTemplate_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArmTemplates
      description: List azure resource manager templates in a given artifact source.
      operationId: ArmTemplates_List
      x-ms-odata: '#/components/schemas/ArmTemplate'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the azure Resource Manager template.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=displayName)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplate'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArmTemplates
      description: Get azure resource manager template.
      operationId: ArmTemplates_Get
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=title)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Artifact_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Artifacts
      description: List artifacts in a given artifact source.
      operationId: Artifacts_List
      x-ms-odata: '#/components/schemas/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=title)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Artifacts
      description: Get artifact.
      operationId: Artifacts_Get
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Artifacts
      description: >-
        Generates an ARM template for the given artifact, uploads the required
        files to a storage account, and validates the generated artifact.
      operationId: Artifacts_GenerateArmTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        description: Parameters for generating an ARM template for deploying artifacts.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArtifactSources
      description: Delete artifact source.
      operationId: ArtifactSources_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=displayName)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArtifactSources
      description: Get artifact source.
      operationId: ArtifactSources_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArtifactSources
      description: Modify properties of artifact sources.
      operationId: ArtifactSources_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSourceFragment'
        description: Properties of an artifact source.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ArtifactSources
      description: Create or replace an existing artifact source.
      operationId: ArtifactSources_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        description: Properties of an artifact source.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($expand=labCostDetails)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Costs
      description: Get cost.
      operationId: Costs_Get
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Costs
      description: Create or replace an existing cost.
      operationId: Costs_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabCost'
        description: A cost item.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=vm)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CustomImage_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - CustomImages
      description: List custom images in a given lab.
      operationId: CustomImages_List
      x-ms-odata: '#/components/schemas/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - CustomImages
      description: Delete custom image. This operation can take a while to complete.
      operationId: CustomImages_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=vm)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - CustomImages
      description: Get custom image.
      operationId: CustomImages_Get
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - CustomImages
      description: >-
        Create or replace an existing custom image. This operation can take a
        while to complete.
      operationId: CustomImages_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        description: A custom image.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=description)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Formula_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Formulas
      description: List formulas in a given lab.
      operationId: Formulas_List
      x-ms-odata: '#/components/schemas/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Formulas
      description: Delete formula.
      operationId: Formulas_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=description)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Formulas
      description: Get formula.
      operationId: Formulas_Get
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Formulas
      description: >-
        Create or replace an existing Formula. This operation can take a while
        to complete.
      operationId: Formulas_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Formula'
        description: >-
          A formula for creating a VM, specifying an image base and other
          parameters
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=author)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_GalleryImage_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - GalleryImages
      description: List gallery images in a given lab.
      operationId: GalleryImages_List
      x-ms-odata: '#/components/schemas/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseWithContinuation_NotificationChannel_
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - NotificationChannels
      description: List notification channels in a given lab.
      operationId: NotificationChannels_List
      x-ms-odata: '#/components/schemas/NotificationChannel'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the notificationChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - NotificationChannels
      description: Delete notification channel.
      operationId: NotificationChannels_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the notificationChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - NotificationChannels
      description: Get notification channels.
      operationId: NotificationChannels_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the notificationChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - NotificationChannels
      description: Modify properties of notification channels.
      operationId: NotificationChannels_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannelFragment'
        description: A notification.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the notificationChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - NotificationChannels
      description: Create or replace an existing notificationChannel.
      operationId: NotificationChannels_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannel'
        description: A notification.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the notificationChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - NotificationChannels
      description: Send notification to provided channel.
      operationId: NotificationChannels_Notify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyParameters'
        description: Properties for generating a Notification.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - PolicySets
      description: Evaluates lab policy.
      operationId: PolicySets_EvaluatePolicies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        description: Request body for evaluating a policy set.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=description)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Policy_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Policies
      description: List policies in a given policy set.
      operationId: Policies_List
      x-ms-odata: '#/components/schemas/Policy'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Policies
      description: Delete policy.
      operationId: Policies_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=description)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Policies
      description: Get policy.
      operationId: Policies_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Policies
      description: Modify properties of policies.
      operationId: Policies_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyFragment'
        description: A Policy.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Policies
      description: Create or replace an existing policy.
      operationId: Policies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
        description: A Policy.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=status)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: List schedules in a given lab.
      operationId: Schedules_List
      x-ms-odata: '#/components/schemas/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: Delete schedule.
      operationId: Schedules_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=status)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: Get schedule.
      operationId: Schedules_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: Modify properties of schedules.
      operationId: Schedules_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleFragment'
        description: A schedule.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: Create or replace an existing schedule.
      operationId: Schedules_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        description: A schedule.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: Execute a schedule. This operation can take a while to complete.
      operationId: Schedules_Execute
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Schedules
      description: Lists all applicable schedules
      operationId: Schedules_ListApplicable
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ServiceRunner_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ServiceRunners
      description: List service runners in a given lab.
      operationId: ServiceRunners_List
      x-ms-odata: '#/components/schemas/ServiceRunner'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the service runner.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ServiceRunners
      description: Delete service runner.
      operationId: ServiceRunners_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the service runner.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRunner'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ServiceRunners
      description: Get service runner.
      operationId: ServiceRunners_Get
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the service runner.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRunner'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRunner'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - ServiceRunners
      description: Create or replace an existing Service runner.
      operationId: ServiceRunners_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRunner'
        description: A container for a managed identity to execute DevTest lab services.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=identity)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_User_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: List user profiles in a given lab.
      operationId: Users_List
      x-ms-odata: '#/components/schemas/User'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Delete user profile. This operation can take a while to complete.
      operationId: Users_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=identity)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Get user profile.
      operationId: Users_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Modify properties of user profiles.
      operationId: Users_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserFragment'
        description: Profile of a lab user.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Users
      description: Create or replace an existing user profile.
      operationId: Users_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: Profile of a lab user.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=diskType)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Disk_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Disks
      description: List disks in a given user profile.
      operationId: Disks_List
      x-ms-odata: '#/components/schemas/Disk'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the disk.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Disks
      description: Delete disk. This operation can take a while to complete.
      operationId: Disks_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the disk.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=diskType)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Disks
      description: Get disk.
      operationId: Disks_Get
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the disk.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Disks
      description: >-
        Create or replace an existing disk. This operation can take a while to
        complete.
      operationId: Disks_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disk'
        description: A Disk.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}/attach':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the disk.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Disks
      description: >-
        Attach and create the lease of the disk to the virtual machine. This
        operation can take a while to complete.
      operationId: Disks_Attach
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachDiskProperties'
        description: Properties of the disk to attach.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}/detach':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the disk.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Disks
      description: >-
        Detach and break the lease of the disk attached to the virtual machine.
        This operation can take a while to complete.
      operationId: Disks_Detach
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachDiskProperties'
        description: Properties of the disk to detach.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=deploymentProperties)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_DtlEnvironment_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: List environments in a given user profile.
      operationId: Environments_List
      x-ms-odata: '#/components/schemas/DtlEnvironment'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Delete environment. This operation can take a while to complete.
      operationId: Environments_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Specify the $expand query. Example:
            'properties($select=deploymentProperties)'
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: Get environment.
      operationId: Environments_Get
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: The name of the environment.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Environments
      description: >-
        Create or replace an existing environment. This operation can take a
        while to complete.
      operationId: Environments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DtlEnvironment'
        description: 'An environment, which is essentially an ARM template deployment.'
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/secrets':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the user profile.
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: 'Specify the $expand query. Example: ''properties($select=value)'''
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: The maximum number of resources to return from the operation.
          in: query
          name: $top
          required: false
          schema:
            format: int32
            type: integer
        - description: 'The ordering expression for the results, using OData notation.'
          in: query
          name: $orderby
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Secret_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      security:
        - azure_auth:
            - user_impersonation
      tags:
        - Secrets
      description: List secrets in a given user profile.
      operationId: Secrets_List
      x-ms-odata: '#/components/schemas/Secret'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/secrets/{name}':
    delete:
[...]
