{
  "openapi": "3.0.0",
  "info": {
    "description": "Use this API to manage the IoTSpaces service instances in your Azure subscription.",
    "title": "IoTSpacesClient",
    "version": "2017-10-01-preview",
    "x-ms-code-generation-settings": {
      "header": "MICROSOFT_MIT_NO_VERSION"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/iotspaces.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {},
  "components": {
    "parameters": {
      "api-version": {
        "description": "The version of the API.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "enum": [
            "2017-10-01-preview"
          ],
          "minLength": 10,
          "type": "string"
        }
      },
      "resourceGroupName": {
        "description": "The name of the resource group that contains the IoTSpaces instance.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 64,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceName": {
        "description": "The name of the IoTSpaces instance.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "maxLength": 64,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionId": {
        "description": "The subscription identifier.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}