openapi: 3.0.0
info:
  description: REST API for Azure VirtualWAN As a Service.
  title: VirtualWANAsAServiceManagementClient
  version: '2019-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListP2SVpnGatewaysResult'
          description: >-
            Request successful. Returns the details of all the P2SVpnGateways in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the P2SVpnGateways in a subscription.
      operationId: P2sVpnGateways_List
      x-ms-examples:
        P2SVpnGatewayListBySubscription:
          $ref: ./examples/P2SVpnGatewayList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualHubsResult'
          description: >-
            Request successful. Returns the details of all the VirtualHubs in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VirtualHubs in a subscription.
      operationId: VirtualHubs_List
      x-ms-examples:
        VirtualHubList:
          $ref: ./examples/VirtualHubList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualWANsResult'
          description: >-
            Request successful. Returns the details of all the VirtualWANs in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VirtualWANs in a subscription.
      operationId: VirtualWans_List
      x-ms-examples:
        VirtualWANList:
          $ref: ./examples/VirtualWANList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnGatewaysResult'
          description: >-
            Request successful. Returns the details of all the VpnGateways in
            the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VpnGateways in a subscription.
      operationId: VpnGateways_List
      x-ms-examples:
        VpnGatewayListBySubscription:
          $ref: ./examples/VpnGatewayList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSitesResult'
          description: >-
            Request successful. Returns the details of all the VpnSites in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VpnSites in a subscription.
      operationId: VpnSites_List
      x-ms-examples:
        VpnSiteList:
          $ref: ./examples/VpnSiteList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListP2SVpnGatewaysResult'
          description: >-
            Request successful. Returns the details of all the P2SVpnGateways in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the P2SVpnGateways in a resource group.
      operationId: P2sVpnGateways_ListByResourceGroup
      x-ms-examples:
        P2SVpnGatewayListByResourceGroup:
          $ref: ./examples/P2SVpnGatewayListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. P2SVpnGateway deleted.
        '202':
          description: >-
            Request received successfully. P2SVpnGateway deletion is in
            progress; follow the Location header to poll for final outcome.
        '204':
          description: No p2s vpn gateways exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a virtual wan p2s vpn gateway.
      operationId: P2sVpnGateways_Delete
      x-ms-examples:
        P2SVpnGatewayDelete:
          $ref: ./examples/P2SVpnGatewayDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan p2s vpn
            gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a virtual wan p2s vpn gateway.
      operationId: P2sVpnGateways_Get
      x-ms-examples:
        P2SVpnGatewayGet:
          $ref: ./examples/P2SVpnGatewayGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: Request successful. Returns the details of the updated gateway.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: >-
            Request received successfully. Returns the details of the updated
            gateway.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - P2SVpnGateways
      description: Updates virtual wan p2s vpn gateway tags.
      operationId: P2sVpnGateways_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update a virtual wan p2s vpn gateway tags.
        required: true
      x-ms-examples:
        P2SVpnGatewayUpdate:
          $ref: ./examples/P2SVpnGatewayUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan p2s vpn
            Gateway created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan p2s vpn
            gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a virtual wan p2s vpn gateway if it doesn't exist else updates
        the existing gateway.
      operationId: P2sVpnGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnGateway'
        description: Parameters supplied to create or Update a virtual wan p2s vpn gateway.
        required: true
      x-ms-examples:
        P2SVpnGatewayPut:
          $ref: ./examples/P2SVpnGatewayPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the P2SVpnGateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnProfileResponse'
          description: VPN profile package URL.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - P2SVpnGateways
      description: >-
        Generates VPN profile for P2S client of the P2SVpnGateway in the
        specified resource group.
      operationId: P2sVpnGateways_GenerateVpnProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnProfileParameters'
        description: >-
          Parameters supplied to the generate P2SVpnGateway VPN client package
          operation.
        required: true
      x-ms-examples:
        GenerateP2SVpnGatewayVPNProfile:
          $ref: ./examples/P2SVpnGatewayGenerateVpnProfile.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealth':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the P2SVpnGateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: P2S Vpn Gateway with P2S connection health details.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - P2SVpnGateways
      description: >-
        Gets the connection health of P2S clients of the virtual wan
        P2SVpnGateway in the specified resource group.
      operationId: P2sVpnGateways_GetP2sVpnConnectionHealth
      x-ms-examples:
        P2SVpnGatewayGetConnectionHealth:
          $ref: ./examples/P2SVpnGatewayGetConnectionHealth.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualHubsResult'
          description: >-
            Request successful. Returns the details of all the VirtualHubs in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VirtualHubs in a resource group.
      operationId: VirtualHubs_ListByResourceGroup
      x-ms-examples:
        VirtualHubListByResourceGroup:
          $ref: ./examples/VirtualHubListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. VirtualHub deleted.
        '202':
          description: >-
            Request received successfully. VirtualHub deletion is in progress;
            follow the Location header to poll for final outcome.
        '204':
          description: No VirtualHubs exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a VirtualHub.
      operationId: VirtualHubs_Delete
      x-ms-examples:
        VirtualHubDelete:
          $ref: ./examples/VirtualHubDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a VirtualHub.
      operationId: VirtualHubs_Get
      x-ms-examples:
        VirtualHubGet:
          $ref: ./examples/VirtualHubGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: >-
            Request received successfully. Returns the details of the VirtualHub
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - VirtualWANs
      description: Updates VirtualHub tags.
      operationId: VirtualHubs_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update VirtualHub tags.
        required: true
      x-ms-examples:
        VirtualHubUpdate:
          $ref: ./examples/VirtualHubUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: >-
            Request successful. Returns the details of the VirtualHub created or
            updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: >-
            Request received successfully. Returns the details of the VirtualHub
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a VirtualHub resource if it doesn't exist else updates the
        existing VirtualHub.
      operationId: VirtualHubs_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualHub'
        description: Parameters supplied to create or update VirtualHub.
        required: true
      x-ms-examples:
        VirtualHubPut:
          $ref: ./examples/VirtualHubPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHubVirtualNetworkConnectionsResult'
          description: >-
            Request successful. Returns the details of all the
            HubVirtualNetworkConnections for the VirtualHub.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of all HubVirtualNetworkConnections.
      operationId: HubVirtualNetworkConnections_List
      x-ms-examples:
        HubVirtualNetworkConnectionList:
          $ref: ./examples/HubVirtualNetworkConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections/{connectionName}':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubVirtualNetworkConnection'
          description: >-
            Request successful. Returns the details of the
            HubVirtualNetworkConnection retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a HubVirtualNetworkConnection.
      operationId: HubVirtualNetworkConnections_Get
      x-ms-examples:
        HubVirtualNetworkConnectionGet:
          $ref: ./examples/HubVirtualNetworkConnectionGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualWANsResult'
          description: >-
            Request successful. Returns the details of all the VirtualWANs in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VirtualWANs in a resource group.
      operationId: VirtualWans_ListByResourceGroup
      x-ms-examples:
        VirtualWANListByResourceGroup:
          $ref: ./examples/VirtualWANListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being deleted.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. VirtualWAN deleted.
        '202':
          description: >-
            Request received successfully. VirtualWAN deletion is in progress;
            follow the Location header to poll for final outcome.
        '204':
          description: No VirtualWANs exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a VirtualWAN.
      operationId: VirtualWans_Delete
      x-ms-examples:
        VirtualWANDelete:
          $ref: ./examples/VirtualWANDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being retrieved.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a VirtualWAN.
      operationId: VirtualWans_Get
      x-ms-examples:
        VirtualWANGet:
          $ref: ./examples/VirtualWANGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being updated.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: >-
            Request received successfully. Returns the details of the VirtualWAN
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - VirtualWANs
      description: Updates a VirtualWAN tags.
      operationId: VirtualWans_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to Update VirtualWAN tags.
        required: true
      x-ms-examples:
        VirtualWANUpdate:
          $ref: ./examples/VirtualWANUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWAN being created or updated.
          in: path
          name: VirtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: >-
            Request successful. Returns the details of the VirtualWAN created or
            updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: >-
            Create successful. The operation returns the resulting VirtualWAN
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a VirtualWAN resource if it doesn't exist else updates the
        existing VirtualWAN.
      operationId: VirtualWans_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualWAN'
        description: Parameters supplied to create or update VirtualWAN.
        required: true
      x-ms-examples:
        VirtualWANCreate:
          $ref: ./examples/VirtualWANPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/supportedSecurityProviders':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: >-
            The name of the VirtualWAN for which supported security providers
            are needed.
          in: path
          name: virtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWanSecurityProviders'
          description: >-
            Request successful. Returns the object containing supported security
            providers.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Gives the supported security providers for the virtual wan.
      operationId: SupportedSecurityProviders
      x-ms-examples:
        supportedSecurityProviders:
          $ref: ./examples/VirtualWanSupportedSecurityProviders.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnConfiguration':
    post:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: >-
            The name of the VirtualWAN for which configuration of all vpn-sites
            is needed.
          in: path
          name: virtualWANName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: >-
            Request successful. Follow the location header for sas-url to output
            blob.
        '202':
          description: >-
            Accepted and the operation will complete asynchronously. Follow the
            location header for sas-url to output blob.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Gives the sas-url to download the configurations for vpn-sites in a
        resource group.
      operationId: VpnSitesConfiguration_Download
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVpnSitesConfigurationRequest'
        description: Parameters supplied to download vpn-sites configuration.
        required: true
      x-ms-examples:
        VpnSitesConfigurationDownload:
          $ref: ./examples/VpnSitesConfigurationDownload.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWanName}/p2sVpnServerConfigurations':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWan.
          in: path
          name: virtualWanName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListP2SVpnServerConfigurationsResult'
          description: >-
            Request successful. Returns all P2SVpnServerConfigurations for a
            VirtualWan.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves all P2SVpnServerConfigurations for a particular VirtualWan.
      operationId: P2sVpnServerConfigurations_ListByVirtualWan
      x-ms-examples:
        P2SVpnServerConfigurationList:
          $ref: ./examples/P2SVpnServerConfigurationList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWanName}/p2sVpnServerConfigurations/{p2SVpnServerConfigurationName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnServerConfiguration.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWan.
          in: path
          name: virtualWanName
          required: true
          schema:
            type: string
        - description: The name of the P2SVpnServerConfiguration.
          in: path
          name: p2SVpnServerConfigurationName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. P2SVpnServerConfiguration deleted.
        '202':
          description: >-
            Request received successfully. P2SVpnServerConfiguration deletion is
            in progress; follow the Location header to poll for final outcome.
        '204':
          description: No P2SVpnServerConfigurations exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a P2SVpnServerConfiguration.
      operationId: P2sVpnServerConfigurations_Delete
      x-ms-examples:
        P2SVpnServerConfigurationDelete:
          $ref: ./examples/P2SVpnServerConfigurationDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the P2SVpnServerConfiguration.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWan.
          in: path
          name: virtualWanName
          required: true
          schema:
            type: string
        - description: The name of the P2SVpnServerConfiguration.
          in: path
          name: p2SVpnServerConfigurationName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnServerConfiguration'
          description: >-
            Request successful. Returns the details of the
            P2SVpnServerConfiguration.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a P2SVpnServerConfiguration.
      operationId: P2sVpnServerConfigurations_Get
      x-ms-examples:
        P2SVpnServerConfigurationGet:
          $ref: ./examples/P2SVpnServerConfigurationGet.json
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VirtualWan.
          in: path
          name: virtualWanName
          required: true
          schema:
            type: string
        - description: The name of the P2SVpnServerConfiguration.
          in: path
          name: p2SVpnServerConfigurationName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnServerConfiguration'
          description: >-
            Request successful. Returns the details of the
            P2SVpnServerConfiguration created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnServerConfiguration'
          description: >-
            Request successful. Returns the details of the
            P2SVpnServerConfiguration created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a P2SVpnServerConfiguration to associate with a VirtualWan if it
        doesn't exist else updates the existing P2SVpnServerConfiguration.
      operationId: P2sVpnServerConfigurations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnServerConfiguration'
        description: Parameters supplied to create or Update a P2SVpnServerConfiguration.
        required: true
      x-ms-examples:
        P2SVpnServerConfigurationPut:
          $ref: ./examples/P2SVpnServerConfigurationPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnGatewaysResult'
          description: >-
            Request successful. Returns the details of all the VpnGateways in
            the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the VpnGateways in a resource group.
      operationId: VpnGateways_ListByResourceGroup
      x-ms-examples:
        VpnGatewayListByResourceGroup:
          $ref: ./examples/VpnGatewayListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Vpn Gateway deleted.
        '202':
          description: >-
            Request received successfully. Vpn Gateway deletion is in progress;
            follow the Location header to poll for final outcome.
        '204':
          description: No vpn gateways exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a virtual wan vpn gateway.
      operationId: VpnGateways_Delete
      x-ms-examples:
        VpnGatewayDelete:
          $ref: ./examples/VpnGatewayDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan vpn
            gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a virtual wan vpn gateway.
      operationId: VpnGateways_Get
      x-ms-examples:
        VpnGatewayGet:
          $ref: ./examples/VpnGatewayGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: Request successful. Returns the details of the updated gateway.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request received successfully. Returns the details of the updated
            gateway.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - VpnGateways
      description: Updates virtual wan vpn gateway tags.
      operationId: VpnGateways_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update a virtual wan vpn gateway tags.
        required: true
      x-ms-examples:
        VpnGatewayUpdate:
          $ref: ./examples/VpnGatewayUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan vpn
            Gateway created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. Returns the details of the virtual wan vpn
            gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a virtual wan vpn gateway if it doesn't exist else updates the
        existing gateway.
      operationId: VpnGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnGateway'
        description: Parameters supplied to create or Update a virtual wan vpn gateway.
        required: true
      x-ms-examples:
        VpnGatewayPut:
          $ref: ./examples/VpnGatewayPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/reset':
    post:
      parameters:
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
          description: >-
            Request successful. The operation reset the primary of the
            VpnGateway.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VpnGateways
      description: Resets the primary of the vpn gateway in the specified resource group.
      operationId: VpnGateways_Reset
      x-ms-examples:
        ResetVpnGateway:
          $ref: ./examples/VpnGatewayReset.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnConnectionsResult'
          description: >-
            Request successful. Returns all Vpn connections for a virtual wan
            vpn gateway.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves all vpn connections for a particular virtual wan vpn gateway.
      operationId: VpnConnections_ListByVpnGateway
      x-ms-examples:
        VpnConnectionList:
          $ref: ./examples/VpnConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Vpn Connection deleted.
        '202':
          description: >-
            Request received successfully. Vpn Connection deletion is in
            progress; follow the Location header to poll for final outcome.
        '204':
          description: No vpn connections exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a vpn connection.
      operationId: VpnConnections_Delete
      x-ms-examples:
        VpnConnectionDelete:
          $ref: ./examples/VpnConnectionDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnConnection'
          description: Request successful. Returns the details of the vpn connection.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a vpn connection.
      operationId: VpnConnections_Get
      x-ms-examples:
        VpnConnectionGet:
          $ref: ./examples/VpnConnectionGet.json
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnConnection'
          description: >-
            Request successful. Returns the details of the vpn connection
            created or updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnConnection'
          description: >-
            Request successful. Returns the details of the vpn connection
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a vpn connection to a scalable vpn gateway if it doesn't exist
        else updates the existing connection.
      operationId: VpnConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnConnection'
        description: Parameters supplied to create or Update a VPN Connection.
        required: true
      x-ms-examples:
        VpnConnectionPut:
          $ref: ./examples/VpnConnectionPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}/vpnLinkConnections':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSiteLinkConnectionsResult'
          description: >-
            Request successful. Returns all Vpn connections for a virtual wan
            vpn gateway.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Retrieves all vpn site link connections for a particular virtual wan vpn
        gateway vpn connection.
      operationId: VpnLinkConnections_ListByVpnConnection
      x-ms-examples:
        VpnSiteLinkConnectionList:
          $ref: ./examples/VpnSiteLinkConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}/vpnLinkConnections/{linkConnectionName}':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnGateway.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - description: The name of the vpn connection.
          in: path
          name: linkConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSiteLinkConnection'
          description: Request successful. Returns the details of the vpn connection.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a vpn site link connection.
      operationId: VpnSiteLinkConnections_Get
      x-ms-examples:
        VpnSiteLinkConnectionGet:
          $ref: ./examples/VpnSiteLinkConnectionGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSitesResult'
          description: >-
            Request successful. Returns the details of all the vpnSites in the
            resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the vpnSites in a resource group.
      operationId: VpnSites_ListByResourceGroup
      x-ms-examples:
        VpnSiteListByResourceGroup:
          $ref: ./examples/VpnSiteListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}':
    delete:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being deleted.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. VpnSite deleted.
        '202':
          description: Request received successfully. VpnSite deletion is in progress.
        '204':
          description: No VpnSites exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Deletes a VpnSite.
      operationId: VpnSites_Delete
      x-ms-examples:
        VpnSiteDelete:
          $ref: ./examples/VpnSiteDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being retrieved.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: Request successful. Returns the details of the VpnSite retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a VPN site.
      operationId: VpnSites_Get
      x-ms-examples:
        VpnSiteGet:
          $ref: ./examples/VpnSiteGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being updated.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: Request successful. Returns the details of the VpnSite updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: >-
            Request received successfully. Returns the details of the VpnSite
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - VpnSites
      description: Updates VpnSite tags.
      operationId: VpnSites_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update VpnSite tags.
        required: true
      x-ms-examples:
        VpnSiteUpdate:
          $ref: ./examples/VpnSiteUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite being created or updated.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: >-
            Request successful. Returns the details of the VpnSite created or
            updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
          description: >-
            Request received successfully. Returns the details of the VpnSite
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: >-
        Creates a VpnSite resource if it doesn't exist else updates the existing
        VpnSite.
      operationId: VpnSites_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnSite'
        description: Parameters supplied to create or update VpnSite.
        required: true
      x-ms-examples:
        VpnSiteCreate:
          $ref: ./examples/VpnSitePut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}/vpnSiteLinks':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSiteLinksResult'
          description: >-
            Request successful. Returns the details of all the vpnSites in the
            resource group.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Lists all the vpnSiteLinks in a resource group for a vpn site.
      operationId: VpnSiteLinks_ListByVpnSite
      x-ms-examples:
        VpnSiteLinkListByVpnSite:
          $ref: ./examples/VpnSiteLinkListByVpnSite.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}/vpnSiteLinks/{vpnSiteLinkName}':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the VpnSite.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the VpnSite.
          in: path
          name: vpnSiteName
          required: true
          schema:
            type: string
        - description: The name of the VpnSiteLink being retrieved.
          in: path
          name: vpnSiteLinkName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSiteLink'
          description: >-
            Request successful. Returns the details of the VpnSiteLink
            retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      description: Retrieves the details of a VPN site link.
      operationId: VpnSiteLinks_Get
      x-ms-examples:
        VpnSiteGet:
          $ref: ./examples/VpnSiteLinkGet.json
components:
  schemas:
    DeviceProperties:
      description: List of properties of the device.
      properties:
        deviceModel:
          description: Model of the device.
          type: string
        deviceVendor:
          description: Name of the device Vendor.
          type: string
        linkSpeedInMbps:
          description: Link speed.
          format: int32
          type: integer
      type: object
    GetVpnSitesConfigurationRequest:
      description: List of Vpn-Sites.
      properties:
        outputBlobSasUrl:
          description: The sas-url to download the configurations for vpn-sites.
          type: string
        vpnSites:
          description: >-
            List of resource-ids of the vpn-sites for which config is to be
            downloaded.
          items:
            type: string
          type: array
      required:
        - outputBlobSasUrl
      type: object
    HubVirtualNetworkConnection:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: HubVirtualNetworkConnection Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/HubVirtualNetworkConnectionProperties'
          description: Properties of the hub virtual network connection.
          x-ms-client-flatten: true
      type: object
    HubVirtualNetworkConnectionProperties:
      description: Parameters for HubVirtualNetworkConnection.
      properties:
        allowHubToRemoteVnetTransit:
          description: VirtualHub to RemoteVnet transit to enabled or not.
          type: boolean
        allowRemoteVnetToUseHubVnetGateways:
          description: Allow RemoteVnet to use Virtual Hub's gateways.
          type: boolean
        enableInternetSecurity:
          description: Enable internet security.
          type: boolean
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
        remoteVirtualNetwork:
          $ref: ./network.json#/definitions/SubResource
          description: Reference to the remote virtual network.
      type: object
    HubVirtualNetworkConnectionStatus:
      description: The current state of the VirtualHub to vnet connection.
      enum:
        - Unknown
        - Connecting
        - Connected
        - NotConnected
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: HubVirtualNetworkConnectionStatus
    ListHubVirtualNetworkConnectionsResult:
      description: >-
        List of HubVirtualNetworkConnections and a URL nextLink to get the next
        set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of HubVirtualNetworkConnections.
          items:
            $ref: '#/components/schemas/HubVirtualNetworkConnection'
          type: array
      type: object
    ListP2SVpnGatewaysResult:
      description: >-
        Result of the request to list P2SVpnGateways. It contains a list of
        P2SVpnGateways and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of P2SVpnGateways.
          items:
            $ref: '#/components/schemas/P2SVpnGateway'
          type: array
      type: object
    ListP2SVpnServerConfigurationsResult:
      description: >-
        Result of the request to list all P2SVpnServerConfigurations associated
        to a VirtualWan. It contains a list of P2SVpnServerConfigurations and a
        URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of P2SVpnServerConfigurations.
          items:
            $ref: '#/components/schemas/P2SVpnServerConfiguration'
          type: array
      type: object
    ListVirtualHubsResult:
      description: >-
        Result of the request to list VirtualHubs. It contains a list of
        VirtualHubs and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VirtualHubs.
          items:
            $ref: '#/components/schemas/VirtualHub'
          type: array
      type: object
    ListVirtualWANsResult:
      description: >-
        Result of the request to list VirtualWANs. It contains a list of
        VirtualWANs and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VirtualWANs.
          items:
            $ref: '#/components/schemas/VirtualWAN'
          type: array
      type: object
    ListVpnConnectionsResult:
      description: >-
        Result of the request to list all vpn connections to a virtual wan vpn
        gateway. It contains a list of Vpn Connections and a URL nextLink to get
        the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of Vpn Connections.
          items:
            $ref: '#/components/schemas/VpnConnection'
          type: array
      type: object
    ListVpnGatewaysResult:
      description: >-
        Result of the request to list VpnGateways. It contains a list of
        VpnGateways and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VpnGateways.
          items:
            $ref: '#/components/schemas/VpnGateway'
          type: array
      type: object
    ListVpnSiteLinkConnectionsResult:
      description: >-
        Result of the request to list all vpn connections to a virtual wan vpn
        gateway. It contains a list of Vpn Connections and a URL nextLink to get
        the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VpnSiteLinkConnections.
          items:
            $ref: '#/components/schemas/VpnSiteLinkConnection'
          type: array
      type: object
    ListVpnSiteLinksResult:
      description: >-
        Result of the request to list VpnSiteLinks. It contains a list of
        VpnSiteLinks and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VpnSitesLinks.
          items:
            $ref: '#/components/schemas/VpnSiteLink'
          type: array
      type: object
    ListVpnSitesResult:
      description: >-
        Result of the request to list VpnSites. It contains a list of VpnSites
        and a URL nextLink to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of VpnSites.
          items:
            $ref: '#/components/schemas/VpnSite'
          type: array
      type: object
    OfficeTrafficCategory:
      description: The office traffic category.
      enum:
        - Optimize
        - OptimizeAndAllow
        - All
        - None
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: OfficeTrafficCategory
    P2SVpnGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: P2SVpnGateway Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/P2SVpnGatewayProperties'
          description: Properties of the P2SVpnGateway.
          x-ms-client-flatten: true
      required:
        - location
      type: object
    P2SVpnGatewayProperties:
      description: Parameters for P2SVpnGateway.
      properties:
        customRoutes:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: >-
            The reference of the address space resource which represents the
            custom routes specified by the customer for P2SVpnGateway and P2S
            VpnClient.
        p2SVpnServerConfiguration:
          $ref: ./network.json#/definitions/SubResource
          description: >-
            The P2SVpnServerConfiguration to which the p2sVpnGateway is attached
            to.
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
        virtualHub:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualHub to which the gateway belongs.
        vpnClientAddressPool:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: >-
            The reference of the address space resource which represents Address
            space for P2S VpnClient.
        vpnClientConnectionHealth:
          $ref: '#/components/schemas/VpnClientConnectionHealth'
          description: All P2S VPN clients' connection health status.
          readOnly: true
        vpnGatewayScaleUnit:
          description: The scale unit for this p2s vpn gateway.
          format: int32
          type: integer
      type: object
    P2SVpnProfileParameters:
      description: Vpn Client Parameters for package generation.
      properties:
        authenticationMethod:
          $ref: ./network.json#/definitions/AuthenticationMethod
          description: VPN client authentication method.
      type: object
    P2SVpnServerConfigRadiusClientRootCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Radius client root certificate of P2SVpnServerConfiguration.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/P2SVpnServerConfigRadiusClientRootCertificatePropertiesFormat
          description: Properties of the Radius client root certificate.
          x-ms-client-flatten: true
      type: object
    P2SVpnServerConfigRadiusClientRootCertificatePropertiesFormat:
      description: >-
        Properties of the Radius client root certificate of
        P2SVpnServerConfiguration.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the Radius client root certificate
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        thumbprint:
          description: The Radius client root certificate thumbprint.
          type: string
      type: object
    P2SVpnServerConfigRadiusServerRootCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Radius Server root certificate of P2SVpnServerConfiguration.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/P2SVpnServerConfigRadiusServerRootCertificatePropertiesFormat
          description: >-
            Properties of the P2SVpnServerConfiguration Radius Server root
            certificate.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    P2SVpnServerConfigRadiusServerRootCertificatePropertiesFormat:
      description: >-
        Properties of Radius Server root certificate of
        P2SVpnServerConfiguration.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the P2SVpnServerConfiguration Radius
            Server root certificate resource. Possible values are: 'Updating',
            'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicCertData:
          description: The certificate public data.
          type: string
      required:
        - publicCertData
      type: object
    P2SVpnServerConfigVpnClientRevokedCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VPN client revoked certificate of P2SVpnServerConfiguration.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/P2SVpnServerConfigVpnClientRevokedCertificatePropertiesFormat
          description: Properties of the vpn client revoked certificate.
          x-ms-client-flatten: true
      type: object
    P2SVpnServerConfigVpnClientRevokedCertificatePropertiesFormat:
      description: >-
        Properties of the revoked VPN client certificate of
        P2SVpnServerConfiguration.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the VPN client revoked certificate
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        thumbprint:
          description: The revoked VPN client certificate thumbprint.
          type: string
      type: object
    P2SVpnServerConfigVpnClientRootCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VPN client root certificate of P2SVpnServerConfiguration.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/P2SVpnServerConfigVpnClientRootCertificatePropertiesFormat
          description: >-
            Properties of the P2SVpnServerConfiguration VPN client root
            certificate.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    P2SVpnServerConfigVpnClientRootCertificatePropertiesFormat:
      description: Properties of VPN client root certificate of P2SVpnServerConfiguration.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the P2SVpnServerConfiguration VPN client
            root certificate resource. Possible values are: 'Updating',
            'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicCertData:
          description: The certificate public data.
          type: string
      required:
        - publicCertData
      type: object
    P2SVpnServerConfiguration:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: P2SVpnServerConfiguration Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/P2SVpnServerConfigurationProperties'
          description: Properties of the P2SVpnServer configuration.
          x-ms-client-flatten: true
      type: object
    P2SVpnServerConfigurationProperties:
      description: Parameters for P2SVpnServerConfiguration.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the P2SVpnServerConfiguration that is unique within a
            VirtualWan in a resource group. This name can be used to access the
            resource along with Paren VirtualWan resource name.
          type: string
        p2SVpnGateways:
          description: List of references to P2SVpnGateways.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        p2SVpnServerConfigRadiusClientRootCertificates:
          description: Radius client root certificate of P2SVpnServerConfiguration.
          items:
            $ref: '#/components/schemas/P2SVpnServerConfigRadiusClientRootCertificate'
          type: array
        p2SVpnServerConfigRadiusServerRootCertificates:
          description: Radius Server root certificate of P2SVpnServerConfiguration.
          items:
            $ref: '#/components/schemas/P2SVpnServerConfigRadiusServerRootCertificate'
          type: array
        p2SVpnServerConfigVpnClientRevokedCertificates:
          description: VPN client revoked certificate of P2SVpnServerConfiguration.
          items:
            $ref: '#/components/schemas/P2SVpnServerConfigVpnClientRevokedCertificate'
          type: array
        p2SVpnServerConfigVpnClientRootCertificates:
          description: VPN client root certificate of P2SVpnServerConfiguration.
          items:
            $ref: '#/components/schemas/P2SVpnServerConfigVpnClientRootCertificate'
          type: array
        provisioningState:
          description: >-
            The provisioning state of the P2SVpnServerConfiguration resource.
            Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        radiusServerAddress:
          description: >-
            The radius server address property of the P2SVpnServerConfiguration
            resource for point to site client connection.
          type: string
        radiusServerSecret:
          description: >-
            The radius secret property of the P2SVpnServerConfiguration resource
            for point to site client connection.
          type: string
        vpnClientIpsecPolicies:
          description: VpnClientIpsecPolicies for P2SVpnServerConfiguration.
          items:
            $ref: ./virtualNetworkGateway.json#/definitions/IpsecPolicy
          type: array
        vpnProtocols:
          description: VPN protocols for the P2SVpnServerConfiguration.
          items:
            description: VPN protocol enabled for the P2SVpnServerConfiguration.
            enum:
              - IkeV2
              - OpenVPN
            type: string
            x-ms-enum:
              modelAsString: true
              name: VpnGatewayTunnelingProtocol
          type: array
      type: object
    TunnelConnectionStatus:
      description: The current state of the tunnel.
      enum:
        - Unknown
        - Connecting
        - Connected
        - NotConnected
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: TunnelConnectionStatus
    VirtualHub:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: VirtualHub Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualHubProperties'
          description: Properties of the virtual hub.
          x-ms-client-flatten: true
      required:
        - location
      type: object
    VirtualHubProperties:
      description: Parameters for VirtualHub.
      properties:
        addressPrefix:
          description: Address-prefix for this VirtualHub.
          type: string
        expressRouteGateway:
          $ref: ./network.json#/definitions/SubResource
          description: The expressRouteGateway associated with this VirtualHub.
        p2SVpnGateway:
          $ref: ./network.json#/definitions/SubResource
          description: The P2SVpnGateway associated with this VirtualHub.
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
        routeTable:
          $ref: '#/components/schemas/VirtualHubRouteTable'
          description: The routeTable associated with this virtual hub.
        virtualNetworkConnections:
          description: List of all vnet connections with this VirtualHub.
          items:
            $ref: '#/components/schemas/HubVirtualNetworkConnection'
          type: array
        virtualWan:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualWAN to which the VirtualHub belongs.
        vpnGateway:
          $ref: ./network.json#/definitions/SubResource
          description: The VpnGateway associated with this VirtualHub.
      type: object
    VirtualHubRoute:
      description: VirtualHub route.
      properties:
        addressPrefixes:
          description: List of all addressPrefixes.
          items:
            type: string
          type: array
        nextHopIpAddress:
          description: NextHop ip address.
          type: string
      type: object
    VirtualHubRouteTable:
      description: VirtualHub route table.
      properties:
        routes:
          description: List of all routes.
          items:
            $ref: '#/components/schemas/VirtualHubRoute'
          type: array
      type: object
    VirtualWAN:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: VirtualWAN Resource.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VirtualWanProperties'
          description: Properties of the virtual WAN.
          x-ms-client-flatten: true
      required:
        - location
      type: object
    VirtualWanProperties:
      description: Parameters for VirtualWAN.
      properties:
        allowBranchToBranchTraffic:
          description: True if branch to branch traffic is allowed.
          type: boolean
        allowVnetToVnetTraffic:
          description: True if Vnet to Vnet traffic is allowed.
          type: boolean
        disableVpnEncryption:
          description: Vpn encryption to be disabled or not.
          type: boolean
        office365LocalBreakoutCategory:
          $ref: '#/components/schemas/OfficeTrafficCategory'
          description: The office local breakout category.
        p2SVpnServerConfigurations:
          description: >-
            List of all P2SVpnServerConfigurations associated with the virtual
            wan.
          items:
            $ref: '#/components/schemas/P2SVpnServerConfiguration'
          type: array
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
        securityProviderName:
          description: The Security Provider name.
          type: string
        virtualHubs:
          description: List of VirtualHubs in the VirtualWAN.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        vpnSites:
          description: List of VpnSites in the VirtualWAN.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
      type: object
    VirtualWanSecurityProvider:
      description: Collection of SecurityProviders.
      properties:
        name:
[...]
