{
  "openapi": "3.0.0",
  "info": {
    "title": "DeletedWebApps API Client",
    "version": "2016-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/DeletedWebApps.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedWebAppCollection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DeletedWebApps"
        ],
        "description": "Get all deleted apps for a subscription.",
        "operationId": "DeletedWebApps_List",
        "summary": "Get all deleted apps for a subscription.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "subscriptionIdParameter": {
        "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "DeletedSite": {
        "description": "A deleted app.",
        "properties": {
          "deletedTimestamp": {
            "description": "Time in UTC when the app was deleted.",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Numeric id for the deleted site",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "description": "Name of the deleted site",
            "readOnly": true,
            "type": "string"
          },
          "resourceGroup": {
            "description": "ResourceGroup that contained the deleted site",
            "readOnly": true,
            "type": "string"
          },
          "slot": {
            "description": "Slot of the deleted site",
            "readOnly": true,
            "type": "string"
          },
          "subscription": {
            "description": "Subscription containing the deleted site",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeletedWebAppCollection": {
        "description": "Collection of deleted apps.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/DeletedSite"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}