{
  "openapi": "3.0.0",
  "info": {
    "description": "File share operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FileShare.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/FilterParameter"
          },
          {
            "$ref": "Common.json#/components/parameters/TopParameter"
          },
          {
            "$ref": "Common.json#/components/parameters/SkipParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileShareList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "FileShares"
        ],
        "description": "Returns a list of all fabric file shares at a certain location.",
        "operationId": "FileShares_List",
        "x-ms-examples": {
          "Returns a list of all fabric file shares at a certain location.": {
            "$ref": "./examples/FileShare/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/FileShare",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares/{fileShare}": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/FileShareParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileShare"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "FileShares"
        ],
        "description": "Returns the requested fabric file share.",
        "operationId": "FileShares_Get",
        "x-ms-examples": {
          "Returns the requested fabric file share.": {
            "$ref": "./examples/FileShare/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "FileShareParameter": {
        "description": "Fabric file share name.",
        "in": "path",
        "name": "fileShare",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "FileShare": {
        "allOf": [
          {
            "$ref": "Fabric.json#/definitions/Resource"
          }
        ],
        "description": "Object that contains properties of the file share resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/FileShareModel",
            "description": "Properties of a file share resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "FileShareList": {
        "description": "Pageable list of fabric file share locations.",
        "properties": {
          "value": {
            "description": "List of fabric file shares.",
            "items": {
              "$ref": "#/components/schemas/FileShare"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "FileShareModel": {
        "description": "Properties of a file share resource.",
        "properties": {
          "associatedVolume": {
            "description": "Associated volume ID.",
            "type": "string"
          },
          "uncPath": {
            "description": "The UNCPath for the fileshare.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}