openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/operations':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceOperationListResult'
          description: >-
            The request for getting managed instance operations has been
            executed successfully.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.
      tags:
        - ManagedInstanceOperations
      description: Gets a list of operations performed on the managed instance.
      operationId: ManagedInstanceOperations_ListByManagedInstance
      x-ms-examples:
        List the managed instance management operations:
          $ref: ./examples/ListManagedInstanceOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/operations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - in: path
          name: operationId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceOperation'
          description: Successfully retrieved the specified managed instance operation.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - ManagedInstanceOperations
      description: Gets a management operation on a managed instance.
      operationId: ManagedInstanceOperations_Get
      x-ms-examples:
        Gets the managed instance management operation:
          $ref: ./examples/GetManagedInstanceOperation.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ManagedInstanceOperation:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: A managed instance operation.
      properties:
        properties:
          $ref: '#/components/schemas/ManagedInstanceOperationProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    ManagedInstanceOperationListResult:
      description: The response to a list managed instance operations request
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ManagedInstanceOperation'
          readOnly: true
          type: array
      type: object
    ManagedInstanceOperationParametersPair:
      description: The parameters of a managed instance operation.
      properties:
        currentParameters:
          $ref: '#/components/schemas/UpsertManagedServerOperationParameters'
          description: The current parameters.
          readOnly: true
        requestedParameters:
          $ref: '#/components/schemas/UpsertManagedServerOperationParameters'
          description: The requested parameters.
          readOnly: true
      type: object
    ManagedInstanceOperationProperties:
      description: The properties of a managed instance operation.
      properties:
        description:
          description: The operation description.
          readOnly: true
          type: string
        errorCode:
          description: The operation error code.
          format: int32
          readOnly: true
          type: integer
        errorDescription:
          description: The operation error description.
          readOnly: true
          type: string
        errorSeverity:
          description: The operation error severity.
          format: int32
          readOnly: true
          type: integer
        estimatedCompletionTime:
          description: The estimated completion time of the operation.
          format: date-time
          readOnly: true
          type: string
        isCancellable:
          description: Whether the operation can be cancelled.
          readOnly: true
          type: boolean
        isUserError:
          description: Whether or not the error is a user error.
          readOnly: true
          type: boolean
        managedInstanceName:
          description: >-
            The name of the managed instance the operation is being performed
            on.
          readOnly: true
          type: string
        operation:
          description: The name of operation.
          readOnly: true
          type: string
        operationFriendlyName:
          description: The friendly name of operation.
          readOnly: true
          type: string
        operationParameters:
          $ref: '#/components/schemas/ManagedInstanceOperationParametersPair'
          description: The operation parameters.
          readOnly: true
        operationSteps:
          $ref: '#/components/schemas/ManagedInstanceOperationSteps'
          description: The operation steps.
          readOnly: true
        percentComplete:
          description: The percentage of the operation completed.
          format: int32
          readOnly: true
          type: integer
        startTime:
          description: The operation start time.
          format: date-time
          readOnly: true
          type: string
        state:
          description: The operation state.
          enum:
            - Pending
            - InProgress
            - Succeeded
            - Failed
            - CancelInProgress
            - Cancelled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagementOperationState
      type: object
    ManagedInstanceOperationSteps:
      description: The steps of a managed instance operation.
      properties:
        currentStep:
          description: The number of current operation steps.
          format: int32
          readOnly: true
          type: integer
        stepsList:
          description: The operation steps list.
          items:
            $ref: '#/components/schemas/UpsertManagedServerOperationStep'
          readOnly: true
          type: array
        totalSteps:
          description: The total number of operation steps.
          readOnly: true
          type: string
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: ARM proxy resource.
      properties: {}
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UpsertManagedServerOperationParameters:
      properties:
        family:
          type: string
        storageSizeInGB:
          format: int32
          type: integer
        tier:
          type: string
        vCores:
          format: int32
          type: integer
      type: object
    UpsertManagedServerOperationStep:
      properties:
        name:
          type: string
        order:
          format: int32
          type: integer
        status:
          enum:
            - NotStarted
            - InProgress
            - SlowedDown
            - Completed
            - Failed
            - Canceled
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

