openapi: 3.0.0
info:
  title: Diagnostics API Client
  version: '2016-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponseCollection'
          description: OK
      tags:
        - Diagnostics
      description: List Hosting Environment Detector Responses
      operationId: Diagnostics_ListHostingEnvironmentDetectorResponses
      summary: List Hosting Environment Detector Responses
      x-ms-examples:
        List App Service Environment Detector Responses:
          $ref: ./examples/Diagnostics_ListHostingEnvironmentDetectorResponses.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: App Service Environment Name
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
          description: OK
      tags:
        - Diagnostics
      description: Get Hosting Environment Detector Response
      operationId: Diagnostics_GetHostingEnvironmentDetectorResponse
      summary: Get Hosting Environment Detector Response
      x-ms-examples:
        Get App Service Environment Detector Response:
          $ref: ./examples/Diagnostics_GetHostingEnvironmentDetectorResponse.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponseCollection'
          description: OK
      tags:
        - Diagnostics
      description: List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponses
      summary: List Site Detector Responses
      x-ms-examples:
        List App Detector Responses:
          $ref: ./examples/Diagnostics_ListSiteDetectorResponses.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
          description: OK
      tags:
        - Diagnostics
      description: Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponse
      summary: Get site detector response
      x-ms-examples:
        Get App Detector Response:
          $ref: ./examples/Diagnostics_GetSiteDetectorResponse.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategoryCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategories
      summary: Get Diagnostics Categories
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategory'
          description: OK
      tags:
        - Diagnostics
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategory
      summary: Get Diagnostics Category
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysisCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalyses
      summary: Get Site Analyses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
      tags:
        - Diagnostics
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysis
      summary: Get Site Analysis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
      tags:
        - Diagnostics
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysis
      summary: Execute Analysis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectors
      summary: Get Detectors
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Detector
      operationId: Diagnostics_GetSiteDetector
      summary: Get Detector
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorResponse'
          description: OK
      tags:
        - Diagnostics
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetector
      summary: Execute Detector
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponseCollection'
          description: OK
      tags:
        - Diagnostics
      description: List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponsesSlot
      summary: List Site Detector Responses
      x-ms-examples:
        List App Slot Detector Responses:
          $ref: ./examples/Diagnostics_ListSiteDetectorResponsesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
          description: OK
      tags:
        - Diagnostics
      description: Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponseSlot
      summary: Get site detector response
      x-ms-examples:
        Get App Slot Detector Response:
          $ref: ./examples/Diagnostics_GetSiteDetectorResponseSlot.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategoryCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategoriesSlot
      summary: Get Diagnostics Categories
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategory'
          description: OK
      tags:
        - Diagnostics
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategorySlot
      summary: Get Diagnostics Category
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysisCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalysesSlot
      summary: Get Site Analyses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          schema:
            type: string
        - description: Slot - optional
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
      tags:
        - Diagnostics
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysisSlot
      summary: Get Site Analysis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
          description: OK
      tags:
        - Diagnostics
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysisSlot
      summary: Execute Analysis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectorsSlot
      summary: Get Detectors
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
          description: OK
      tags:
        - Diagnostics
      description: Get Detector
      operationId: Diagnostics_GetSiteDetectorSlot
      summary: Get Detector
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          schema:
            type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          schema:
            type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          schema:
            type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          schema:
            type: string
        - description: Start Time
          in: query
          name: startTime
          schema:
            format: date-time
            type: string
        - description: End Time
          in: query
          name: endTime
          schema:
            format: date-time
            type: string
        - description: Time Grain
          in: query
          name: timeGrain
          schema:
            pattern: 'PT[1-9][0-9]+[SMH]'
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorResponse'
          description: OK
      tags:
        - Diagnostics
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetectorSlot
      summary: Execute Detector
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+[^\.]$'
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AbnormalTimePeriod:
      description: Class representing Abnormal Time Period identified in diagnosis
      properties:
        endTime:
          description: End time of the downtime
          format: date-time
          type: string
        events:
          description: List of Possible Cause of downtime
          items:
            $ref: '#/components/schemas/DetectorAbnormalTimePeriod'
          type: array
        solutions:
          description: List of proposed solutions
          items:
            $ref: '#/components/schemas/Solution'
          type: array
        startTime:
          description: Start time of the downtime
          format: date-time
          type: string
      type: object
    AnalysisData:
      description: Class Representing Detector Evidence used for analysis
      properties:
        data:
          description: Additional Source Data
          items:
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            type: array
          type: array
        detectorDefinition:
          $ref: '#/components/schemas/DetectorDefinition'
          description: Detector Definition
        detectorMetaData:
          $ref: '#/components/schemas/ResponseMetaData'
          description: Detector Meta Data
        metrics:
          description: Source Metrics
          items:
            $ref: '#/components/schemas/DiagnosticMetricSet'
          type: array
        source:
          description: Name of the Detector
          type: string
      type: object
    AnalysisDefinition:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Definition of Analysis
      properties:
        properties:
          description: AnalysisDefinition resource specific properties
          properties:
            description:
              description: Description of the Analysis
              readOnly: true
              type: string
          x-ms-client-flatten: true
      type: object
    DataSource:
      description: Class representing data source used by the detectors
      properties:
        dataSourceUri:
          description: Datasource Uri Links
          items:
            $ref: ./CommonDefinitions.json#/definitions/NameValuePair
          type: array
        instructions:
          description: Instructions if any for the data source
          items:
            type: string
          type: array
      type: object
    DataTableResponseColumn:
      description: Column definition
      properties:
        columnName:
          description: Name of the column
          type: string
        columnType:
          description: Column Type
          type: string
        dataType:
          description: Data type which looks like 'String' or 'Int32'.
          type: string
      type: object
    DataTableResponseObject:
      description: Data Table which defines columns and raw row values
      properties:
        columns:
          description: List of columns with data types
          items:
            $ref: '#/components/schemas/DataTableResponseColumn'
          type: array
        rows:
          description: Raw row values
          items:
            items:
              type: string
            type: array
          type: array
        tableName:
          description: Name of the table
          type: string
      type: object
    DetectorAbnormalTimePeriod:
      description: Class representing Abnormal Time Period detected.
      properties:
        endTime:
          description: End time of the correlated event
          format: date-time
          type: string
        message:
          description: Message describing the event
          type: string
        metaData:
          description: Downtime metadata
          items:
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            type: array
          type: array
        priority:
          description: Represents the rank of the Detector
          format: double
          type: number
        solutions:
          description: List of proposed solutions
          items:
            $ref: '#/components/schemas/Solution'
          type: array
        source:
          description: Represents the name of the Detector
          type: string
        startTime:
          description: Start time of the correlated event
          format: date-time
          type: string
        type:
          description: Represents the type of the Detector
          enum:
            - ServiceIncident
            - AppDeployment
            - AppCrash
            - RuntimeIssueDetected
            - AseDeployment
            - UserIssue
            - PlatformIssue
            - Other
          type: string
          x-ms-enum:
            modelAsString: false
            name: IssueType
      type: object
    DetectorDefinition:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing detector definition
      properties:
        properties:
          description: DetectorDefinition resource specific properties
          properties:
            description:
              description: Description of the detector
              readOnly: true
              type: string
            displayName:
              description: Display name of the detector
              readOnly: true
              type: string
            isEnabled:
              description: Flag representing whether detector is enabled or not.
              readOnly: true
              type: boolean
            rank:
              description: Detector Rank
              format: double
              readOnly: true
              type: number
          x-ms-client-flatten: true
      type: object
    DetectorInfo:
      description: Definition of Detector
      properties:
        category:
          description: Support Category
          readOnly: true
          type: string
        description:
          description: Short description of the detector and its purpose
          readOnly: true
          type: string
        subCategory:
          description: Support Sub Category
          readOnly: true
          type: string
        supportTopicId:
          description: Support Topic Id
          readOnly: true
          type: string
      type: object
    DetectorResponse:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing Response from Detector
      properties:
        properties:
          description: DetectorResponse resource specific properties
          properties:
            dataset:
              description: Data Set
              items:
                $ref: '#/components/schemas/DiagnosticData'
              type: array
            metadata:
              $ref: '#/components/schemas/DetectorInfo'
              description: metadata for the detector
          x-ms-client-flatten: true
      type: object
    DetectorResponseCollection:
      description: Collection of detector responses
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DetectorResponse'
          type: array
      required:
        - value
      type: object
    DiagnosticAnalysis:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing a diagnostic analysis done on an application
      properties:
        properties:
          description: DiagnosticAnalysis resource specific properties
          properties:
            abnormalTimePeriods:
              description: List of time periods.
              items:
                $ref: '#/components/schemas/AbnormalTimePeriod'
              type: array
            endTime:
              description: End time of the period
              format: date-time
              type: string
            nonCorrelatedDetectors:
              description: Data by each detector for detectors that did not corelate
              items:
                $ref: '#/components/schemas/DetectorDefinition'
              type: array
            payload:
              description: Data by each detector
              items:
                $ref: '#/components/schemas/AnalysisData'
              type: array
            startTime:
              description: Start time of the period
              format: date-time
              type: string
          x-ms-client-flatten: true
      type: object
    DiagnosticAnalysisCollection:
      description: Collection of Diagnostic Analyses
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AnalysisDefinition'
          type: array
      required:
        - value
      type: object
    DiagnosticCategory:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing detector definition
      properties:
        properties:
          description: DiagnosticCategory resource specific properties
          properties:
            description:
              description: Description of the diagnostic category
              readOnly: true
              type: string
          x-ms-client-flatten: true
      type: object
    DiagnosticCategoryCollection:
      description: Collection of Diagnostic Categories
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DiagnosticCategory'
          type: array
      required:
        - value
      type: object
    DiagnosticData:
      description: Set of data with rendering instructions
      properties:
        renderingProperties:
          $ref: '#/components/schemas/Rendering'
          description: Properties that describe how the table should be rendered
        table:
          $ref: '#/components/schemas/DataTableResponseObject'
          description: Data in table form
      type: object
    DiagnosticDetectorCollection:
      description: Collection of Diagnostic Detectors
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DetectorDefinition'
          type: array
      required:
        - value
      type: object
    DiagnosticDetectorResponse:
      allOf:
        - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing Response from Diagnostic Detectors
      properties:
        properties:
          description: DiagnosticDetectorResponse resource specific properties
          properties:
            abnormalTimePeriods:
              description: List of Correlated events found by the detector
              items:
                $ref: '#/components/schemas/DetectorAbnormalTimePeriod'
              type: array
            data:
              description: Additional Data that detector wants to send.
              items:
                items:
                  $ref: ./CommonDefinitions.json#/definitions/NameValuePair
                type: array
              type: array
            detectorDefinition:
              $ref: '#/components/schemas/DetectorDefinition'
              description: Detector's definition
            endTime:
              description: End time of the period
              format: date-time
              type: string
            issueDetected:
              description: Flag representing Issue was detected.
              type: boolean
            metrics:
              description: Metrics provided by the detector
              items:
                $ref: '#/components/schemas/DiagnosticMetricSet'
              type: array
            responseMetaData:
              $ref: '#/components/schemas/ResponseMetaData'
              description: Meta Data
            startTime:
              description: Start time of the period
              format: date-time
              type: string
          x-ms-client-flatten: true
      type: object
    DiagnosticMetricSample:
      description: Class representing Diagnostic Metric
      properties:
        isAggregated:
          description: Whether the values are aggregates across all workers or not
          type: boolean
        maximum:
          description: Maximum of the metric sampled during the time period
          format: double
          type: number
        minimum:
          description: Minimum of the metric sampled during the time period
          format: double
          type: number
        roleInstance:
          description: >-
            Role Instance. Null if this counter is not per instance 

            This is returned and should be whichever instance name we desire to
            be returned

            i.e. CPU and Memory return RDWORKERNAME (LargeDed..._IN_0) 

            where RDWORKERNAME is Machine name below and RoleInstance name in
            parenthesis
          type: string
        timestamp:
          description: Time at which metric is measured
          format: date-time
          type: string
        total:
          description: >-
            Total value of the metric. If multiple measurements are made this
            will have sum of all.
          format: double
          type: number
      type: object
    DiagnosticMetricSet:
      description: Class representing Diagnostic Metric information
      properties:
        endTime:
          description: End time of the period
          format: date-time
          type: string
        name:
          description: Name of the metric
          type: string
        startTime:
          description: Start time of the period
          format: date-time
          type: string
        timeGrain:
          description: >-
            Presented time grain. Supported grains at the moment are PT1M, PT1H,
            P1D
          type: string
        unit:
          description: Metric's unit
          type: string
        values:
          description: >-
            Collection of metric values for the selected period based on the
            {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}
          items:
            $ref: '#/components/schemas/DiagnosticMetricSample'
          type: array
      type: object
    Rendering:
      description: Instructions for rendering the data
      properties:
        description:
          description: Description of the data that will help it be interpreted
          type: string
        renderingType:
          description: Rendering Type
          enum:
            - NoGraph
            - Table
            - TimeSeries
            - TimeSeriesPerInstance
          type: string
          x-ms-enum:
            modelAsString: false
            name: RenderingType
        title:
          description: Title of data
          type: string
      type: object
    ResponseMetaData:
      properties:
        dataSource:
          $ref: '#/components/schemas/DataSource'
          description: Source of the Data
      type: object
    Solution:
      description: Class Representing Solution for problems detected.
      properties:
        data:
          description: Solution Data.
          items:
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            type: array
          type: array
        description:
          description: Description of the solution
          type: string
        displayName:
          description: Display Name of the solution
          type: string
        id:
          description: Solution Id.
          format: double
          type: number
        metadata:
          description: Solution Metadata.
          items:
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            type: array
          type: array
        order:
          description: Order of the solution.
          format: double
          type: number
        type:
          description: Type of Solution
          enum:
            - QuickSolution
            - DeepInvestigation
            - BestPractices
          type: string
          x-ms-enum:
            modelAsString: false
            name: SolutionType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

