openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-02-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosCustomPolicies/{ddosCustomPolicyName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the DDoS custom policy.
          in: path
          name: ddosCustomPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ddosCustomPolicies
      description: Deletes the specified DDoS custom policy.
      operationId: DdosCustomPolicies_Delete
      x-ms-examples:
        Delete DDoS custom policy:
          $ref: ./examples/DdosCustomPolicyDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the DDoS custom policy.
          in: path
          name: ddosCustomPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosCustomPolicy'
          description: >-
            Request successful. The operation returns the specified DDoS custom
            policy resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ddosCustomPolicies
      description: Gets information about the specified DDoS custom policy.
      operationId: DdosCustomPolicies_Get
      x-ms-examples:
        Get DDoS custom policy:
          $ref: ./examples/DdosCustomPolicyGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the DDoS custom policy.
          in: path
          name: ddosCustomPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosCustomPolicy'
          description: >-
            Update successful. The operation returns the resulting DDoS custom
            policy resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ddosCustomPolicies
      description: Update a DDoS custom policy tags
      operationId: DdosCustomPolicies_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to the update DDoS custom policy resource tags.
        required: true
      x-ms-examples:
        DDoS Custom policy Update tags:
          $ref: ./examples/DdosCustomPolicyUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the DDoS custom policy.
          in: path
          name: ddosCustomPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosCustomPolicy'
          description: >-
            Update successful. The operation returns the resulting DDoS custom
            policy resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DdosCustomPolicy'
          description: >-
            Create successful. The operation returns the resulting DDoS custom
            policy resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ddosCustomPolicies
      description: Creates or updates a DDoS custom policy.
      operationId: DdosCustomPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DdosCustomPolicy'
        description: Parameters supplied to the create or update operation.
        required: true
      x-ms-examples:
        Create DDoS custom policy:
          $ref: ./examples/DdosCustomPolicyCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  schemas:
    CloudError:
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    DdosCustomPolicy:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A DDoS custom policy in a resource group.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DdosCustomPolicyPropertiesFormat'
          description: Properties of the DDoS custom policy.
          x-ms-client-flatten: true
      type: object
    DdosCustomPolicyPropertiesFormat:
      description: DDoS custom policy properties.
      properties:
        protocolCustomSettings:
          description: The protocol-specific DDoS policy customization parameters.
          items:
            $ref: '#/components/schemas/ProtocolCustomSettingsFormat'
          readOnly: false
          type: array
        provisioningState:
          description: >-
            The provisioning state of the DDoS custom policy resource. Possible
            values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicIPAddresses:
          description: >-
            The list of public IPs associated with the DDoS custom policy
            resource. This list is read-only.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        resourceGuid:
          description: >-
            The resource GUID property of the DDoS custom policy resource. It
            uniquely identifies the resource, even if the user changes its name
            or migrate the resource across subscriptions or resource groups.
          readOnly: true
          type: string
      type: object
    ProtocolCustomSettingsFormat:
      description: DDoS custom policy properties.
      properties:
        protocol:
          description: >-
            The protocol for which the DDoS protection policy is being
            customized.
          enum:
            - Tcp
            - Udp
            - Syn
          readOnly: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: DdosCustomPolicyProtocol
        sourceRateOverride:
          description: The customized DDoS protection source rate.
          readOnly: false
          type: string
        triggerRateOverride:
          description: The customized DDoS protection trigger rate.
          readOnly: false
          type: string
        triggerSensitivityOverride:
          description: >-
            The customized DDoS protection trigger rate sensitivity degrees.
            High: Trigger rate set with most sensitivity w.r.t. normal traffic.
            Default: Trigger rate set with moderate sensitivity w.r.t. normal
            traffic. Low: Trigger rate set with less sensitivity w.r.t. normal
            traffic. Relaxed: Trigger rate set with least sensitivity w.r.t.
            normal traffic.
          enum:
            - Relaxed
            - Low
            - Default
            - High
          readOnly: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: DdosCustomPolicyTriggerSensitivityOverride
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

