openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableDelegations':
    get:
      parameters:
        - description: The location of the subnet.
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableDelegationsResult'
          description: >-
            Request successful. Returns all of the possible delegations for a
            subnet in this subscription in the region.
      description: >-
        Gets all of the available subnet delegations for this subscription in
        this region.
      operationId: AvailableDelegations_List
      x-ms-examples:
        Get available delegations:
          $ref: ./examples/AvailableDelegationsSubscriptionGet.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableDelegations':
    get:
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableDelegationsResult'
          description: >-
            Request successful. Returns all of the possible delegations for a
            subnet in this subscription in the region.
      description: >-
        Gets all of the available subnet delegations for this resource group in
        this region.
      operationId: AvailableResourceGroupDelegations_List
      x-ms-examples:
        Get available delegations in the resource group:
          $ref: ./examples/AvailableDelegationsResourceGroupGet.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    AvailableDelegation:
      description: >-
        The serviceName of an AvailableDelegation indicates a possible
        delegation for a subnet.
      properties:
        actions:
          description: Describes the actions permitted to the service upon delegation.
          items:
            type: string
          type: array
        id:
          description: A unique identifier of the AvailableDelegation resource.
          type: string
        name:
          description: The name of the AvailableDelegation resource.
          type: string
        serviceName:
          description: The name of the service and resource.
          type: string
        type:
          description: Resource type.
          type: string
      type: object
    AvailableDelegationsResult:
      description: An array of available delegations.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: An array of available delegations.
          items:
            $ref: '#/components/schemas/AvailableDelegation'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

