openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2016-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceUri}/providers/microsoft.insights/diagnosticSettings/service':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    tags: null
                    id: >-
                      /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                    location: ''
                    name: service
                    properties:
                      logs:
                        - category: WorkflowRuntime
                          enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                      metrics:
                        - enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                          timeGrain: PT1M
                      serviceBusRuleId: >-
                        /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                      storageAccountId: >-
                        /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                      workspaceId: ''
                    type: ''
              schema:
                $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
          description: >-
            Successful request to get more information about service diagnostic
            setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ServiceDiagnosticSettings
      description: >-
        Gets the active diagnostic settings for the specified resource.
        **WARNING**: This method will be deprecated in future releases.
      operationId: ServiceDiagnosticSettings_Get
      x-ms-examples:
        Get service diagnostic setting:
          $ref: ./examples/getServiceDiagnosticSetting.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
          description: >-
            An existing service diagnostics setting resource was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      description: >-
        Updates an existing ServiceDiagnosticSettingsResource. To update other
        fields use the CreateOrUpdate method. **WARNING**: This method will be
        deprecated in future releases.
      operationId: ServiceDiagnosticSettings_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDiagnosticSettingsResourcePatch'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Update a service diagnostic setting:
          $ref: ./examples/updateServiceDiagnosticSetting.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    tags: null
                    id: >-
                      /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                    location: ''
                    name: service
                    properties:
                      eventHubAuthorizationRuleId: >-
                        /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/authorizationrules/myrule
                      logs:
                        - category: WorkflowRuntime
                          enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                      metrics:
                        - enabled: true
                          retentionPolicy:
                            days: 0
                            enabled: false
                          timeGrain: PT1M
                      serviceBusRuleId: >-
                        /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                      storageAccountId: >-
                        /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                      workspaceId: ''
                    type: ''
              schema:
                $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
          description: Successful request to create a service diagnostic setting
      tags:
        - ServiceDiagnosticSettings
      description: >-
        Create or update new diagnostic settings for the specified resource.
        **WARNING**: This method will be deprecated in future releases.
      operationId: ServiceDiagnosticSettings_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDiagnosticSettingsResource'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Create or update a service diagnostic setting:
          $ref: ./examples/createOrUpdateServiceDiagnosticSetting.json
components:
  parameters:
    ResourceUriParameter:
      allowReserved: true
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LogSettings:
      description: >-
        Part of MultiTenantDiagnosticSettings. Specifies the settings for a
        particular log.
      properties:
        category:
          description: >-
            Name of a Diagnostic Log category for a resource type this setting
            is applied to. To obtain the list of Diagnostic Log categories for a
            resource, first perform a GET diagnostic settings operation.
          type: string
        enabled:
          description: a value indicating whether this log is enabled.
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
          description: the retention policy for this log.
      required:
        - enabled
      type: object
    MetricSettings:
      description: >-
        Part of MultiTenantDiagnosticSettings. Specifies the settings for a
        particular metric.
      properties:
        enabled:
          description: a value indicating whether this timegrain is enabled.
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
          description: the retention policy for this timegrain.
        timeGrain:
          description: the timegrain of the metric in ISO8601 format.
          format: duration
          type: string
      required:
        - enabled
        - timeGrain
      type: object
    Resource:
      description: An azure resource object
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    RetentionPolicy:
      description: Specifies the retention policy for the log.
      properties:
        days:
          description: >-
            the number of days for the retention in days. A value of 0 will
            retain the events indefinitely.
          format: int32
          minimum: 0
          type: integer
        enabled:
          description: a value indicating whether the retention policy is enabled.
          type: boolean
      required:
        - enabled
        - days
      type: object
    ServiceDiagnosticSettings:
      description: The diagnostic settings for service.
      properties:
        eventHubAuthorizationRuleId:
          description: The resource Id for the event hub namespace authorization rule.
          type: string
        logs:
          description: the list of logs settings.
          items:
            $ref: '#/components/schemas/LogSettings'
          type: array
        metrics:
          description: the list of metric settings.
          items:
            $ref: '#/components/schemas/MetricSettings'
          type: array
        serviceBusRuleId:
          description: >-
            The service bus rule ID of the service bus namespace in which you
            would like to have Event Hubs created for streaming Diagnostic Logs.
            The rule ID is of the format: '{service bus resource
            ID}/authorizationrules/{key name}'.
          type: string
        storageAccountId:
          description: >-
            The resource ID of the storage account to which you would like to
            send Diagnostic Logs.
          type: string
        workspaceId:
          description: >-
            The workspace ID (resource ID of a Log Analytics workspace) for a
            Log Analytics workspace to which you would like to send Diagnostic
            Logs. Example:
            /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2
          type: string
      type: object
    ServiceDiagnosticSettingsResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Description of a service diagnostic setting
      properties:
        properties:
          $ref: '#/components/schemas/ServiceDiagnosticSettings'
          description: The service diagnostics settings of the resource.
          x-ms-client-flatten: true
      type: object
    ServiceDiagnosticSettingsResourcePatch:
      description: Service diagnostic setting resource for patch operations
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          $ref: '#/components/schemas/ServiceDiagnosticSettings'
          description: The service diagnostics settings for an update operation.
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

