{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Commerce Management Client.",
    "title": "CommerceManagementClient",
    "version": "2015-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/Commerce.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Commerce.Admin/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "Commerce"
        ],
        "description": "Returns the list of supported REST operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Returns the list of supported REST operations.": {
            "$ref": "./examples/Operations/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ReportedStartTimeParameter"
          },
          {
            "$ref": "#/components/parameters/ReportedEndTimeParameter"
          },
          {
            "$ref": "#/components/parameters/AggregationGranularityParameter"
          },
          {
            "$ref": "#/components/parameters/TenantSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ContinuationTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageAggregatePage"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "Commerce"
        ],
        "description": "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.",
        "operationId": "SubscriberUsageAggregates_List",
        "x-ms-examples": {
          "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.": {
            "$ref": "./examples/SubscriberUsageAggregates/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "Commerce"
        ],
        "description": "Update the encryption.",
        "operationId": "Commerce_UpdateEncryption",
        "x-ms-examples": {
          "Update the encryption.": {
            "$ref": "./examples/Commerce/UpdateEncryption.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AggregationGranularityParameter": {
        "description": "The aggregation granularity.",
        "in": "query",
        "name": "aggregationGranularity",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2015-06-01-preview",
          "type": "string"
        }
      },
      "ContinuationTokenParameter": {
        "description": "The continuation token.",
        "in": "query",
        "name": "continuationToken",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ReportedEndTimeParameter": {
        "description": "The reported end time (exclusive).",
        "in": "query",
        "name": "reportedEndTime",
        "required": true,
        "schema": {
          "format": "date-time",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ReportedStartTimeParameter": {
        "description": "The reported start time (inclusive).",
        "in": "query",
        "name": "reportedStartTime",
        "required": true,
        "schema": {
          "format": "date-time",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TenantSubscriptionIdParameter": {
        "description": "The tenant subscription identifier.",
        "in": "query",
        "name": "subscriberId",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Display": {
        "description": "Contains the localized display information for this particular operation / action.",
        "properties": {
          "description": {
            "description": "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "The localized, friendly name for the operation. Use the name as it will displayed to the user.",
            "readOnly": true,
            "type": "string"
          },
          "provider": {
            "description": "The localized friendly form of the resource provider name \u2013 it is expected to also include the publisher/company responsible. It should use Title Casing and begin with \"Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\"",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "description": "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDefinition": {
        "description": "Error definition.",
        "properties": {
          "code": {
            "description": "Service specific error code which serves as the substatus for the HTTP error code.",
            "readOnly": true,
            "type": "string"
          },
          "details": {
            "description": "Internal error details.",
            "items": {
              "$ref": "#/components/schemas/ErrorDefinition"
            },
            "readOnly": true,
            "type": "array",
            "x-ms-identifiers": []
          },
          "message": {
            "description": "Description of the error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExtendedErrorInfo": {
        "description": "Error response.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDefinition",
            "description": "The error details."
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Describes the supported REST operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/Display",
            "description": "Contains the localized display information for this particular operation or action.",
            "readOnly": true
          },
          "isDataAction": {
            "description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
            "readOnly": true,
            "type": "boolean"
          },
          "name": {
            "description": "The name of the operation performed on the object. The name should match the action name that appears in RBAC or the event service.",
            "readOnly": true,
            "type": "string"
          },
          "origin": {
            "description": "Origin for the operation.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "List of Operations",
        "properties": {
          "nextLink": {
            "description": "URI to the next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "Array of operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Base Resource Object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "List of key-value pairs.",
            "readOnly": true,
            "type": "object"
          },
          "id": {
            "description": "URI of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location where resource is location.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "UsageAggregate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Aggregate usage values for resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/UsageAggregateModel",
            "description": "Properties for aggregate usage.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "UsageAggregateModel": {
        "description": "Properties for aggregate usage.",
        "properties": {
          "instanceData": {
            "description": "Key-value pairs of instance details represented as a string.",
            "type": "string"
          },
          "meterId": {
            "description": "Unique ID for the resource that was consumed, for example, the Resource ID.",
            "type": "string"
          },
          "quantity": {
            "description": "The amount of the resource consumption that occurred in this time frame.",
            "format": "double",
            "type": "number"
          },
          "subscriptionId": {
            "description": "Subscription ID of tenant using plan.",
            "type": "string"
          },
          "usageEndTime": {
            "description": "UTC end time for the usage category to which this usage aggregate belongs.",
            "format": "date-time",
            "type": "string"
          },
          "usageStartTime": {
            "description": "UTC start time for the usage category to which this usage aggregate belongs.",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsageAggregatePage": {
        "description": "Pageable list of usage aggregates",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of usage aggregates.",
            "items": {
              "$ref": "#/components/schemas/UsageAggregate"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}