openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: '2016-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs':
    get:
      parameters:
        - description: >-
            The $select OData query parameter. This is a comma-separated list of
            structural properties to include in the response, or "*" to include
            all properties. By default, all properties are returned except
            diagnostics. Currently only accepts '*' as a valid value.
          in: query
          name: $select
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputListResult'
          description: Successfully listed the outputs under the specified streaming job.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Outputs
      description: Lists all of the outputs under the specified streaming job.
      operationId: Outputs_ListByStreamingJob
      x-ms-examples:
        List all outputs in a streaming job:
          $ref: ./examples/Output_ListByStreamingJob.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/OutputNameParameter'
      responses:
        '200':
          description: The output was successfully deleted.
        '204':
          description: The output does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Outputs
      description: Deletes an output from the streaming job.
      operationId: Outputs_Delete
      x-ms-examples:
        Delete an output:
          $ref: ./examples/Output_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/OutputNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: Successfully retrieved the specified output.
          headers:
            ETag:
              description: >-
                The current entity tag for the output. This is an opaque string.
                You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Outputs
      description: Gets details about the specified output.
      operationId: Outputs_Get
      x-ms-examples:
        Get a DocumentDB output:
          $ref: ./examples/Output_Get_DocumentDB.json
        Get a Power BI output:
          $ref: ./examples/Output_Get_PowerBI.json
        Get a Service Bus Queue output with Avro serialization:
          $ref: ./examples/Output_Get_ServiceBusQueue_Avro.json
        Get a Service Bus Topic output with CSV serialization:
          $ref: ./examples/Output_Get_ServiceBusTopic_CSV.json
        Get a blob output with CSV serialization:
          $ref: ./examples/Output_Get_Blob_CSV.json
        Get an Azure Data Lake Store output with JSON serialization:
          $ref: ./examples/Output_Get_AzureDataLakeStore_JSON.json
        Get an Azure SQL database output:
          $ref: ./examples/Output_Get_AzureSQL.json
        Get an Azure Table output:
          $ref: ./examples/Output_Get_AzureTable.json
        Get an Event Hub output with JSON serialization:
          $ref: ./examples/Output_Get_EventHub_JSON.json
    patch:
      parameters:
        - description: >-
            The ETag of the output. Omit this value to always overwrite the
            current output. Specify the last-seen ETag value to prevent
            accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/OutputNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: The output was successfully updated.
          headers:
            ETag:
              description: >-
                The current entity tag for the output. This is an opaque string.
                You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Outputs
      description: >-
        Updates an existing output under an existing streaming job. This can be
        used to partially update (ie. update one or two properties) an output
        without affecting the rest the job or output definition.
      operationId: Outputs_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Output'
        description: >-
          An Output object. The properties specified here will overwrite the
          corresponding properties in the existing output (ie. Those properties
          will be updated). Any properties that are set to null here will mean
          that the corresponding property in the existing output will remain the
          same and not change as a result of this PATCH operation.
        required: true
      x-ms-examples:
        Update a DocumentDB output:
          $ref: ./examples/Output_Update_DocumentDB.json
        Update a Power BI output:
          $ref: ./examples/Output_Update_PowerBI.json
        Update a Service Bus Queue output with Avro serialization:
          $ref: ./examples/Output_Update_ServiceBusQueue.json
        Update a Service Bus Topic output with CSV serialization:
          $ref: ./examples/Output_Update_ServiceBusTopic.json
        Update a blob output with CSV serialization:
          $ref: ./examples/Output_Update_Blob.json
        Update an Azure Data Lake Store output with JSON serialization:
          $ref: ./examples/Output_Update_AzureDataLakeStore.json
        Update an Azure SQL database output:
          $ref: ./examples/Output_Update_AzureSQL.json
        Update an Azure Table output:
          $ref: ./examples/Output_Update_AzureTable.json
        Update an Event Hub output with JSON serialization:
          $ref: ./examples/Output_Update_EventHub.json
    put:
      parameters:
        - description: >-
            The ETag of the output. Omit this value to always overwrite the
            current output. Specify the last-seen ETag value to prevent
            accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new output to be created, but to prevent
            updating an existing output. Other values will result in a 412
            Pre-condition Failed response.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/OutputNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: The output was successfully created or replaced.
          headers:
            ETag:
              description: >-
                The current entity tag for the output. This is an opaque string.
                You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: The output was successfully created or replaced.
          headers:
            ETag:
              description: >-
                The current entity tag for the output. This is an opaque string.
                You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Outputs
      description: >-
        Creates an output or replaces an already existing output under an
        existing streaming job.
      operationId: Outputs_CreateOrReplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Output'
        description: >-
          The definition of the output that will be used to create a new output
          or replace the existing one under the streaming job.
        required: true
      x-ms-examples:
        Create a DocumentDB output:
          $ref: ./examples/Output_Create_DocumentDB.json
        Create a Power BI output:
          $ref: ./examples/Output_Create_PowerBI.json
        Create a Service Bus Queue output with Avro serialization:
          $ref: ./examples/Output_Create_ServiceBusQueue_Avro.json
        Create a Service Bus Topic output with CSV serialization:
          $ref: ./examples/Output_Create_ServiceBusTopic_CSV.json
        Create a blob output with CSV serialization:
          $ref: ./examples/Output_Create_Blob_CSV.json
        Create an Azure Data Lake Store output with JSON serialization:
          $ref: ./examples/Output_Create_AzureDataLakeStore_JSON.json
        Create an Azure SQL database output:
          $ref: ./examples/Output_Create_AzureSQL.json
        Create an Azure Table output:
          $ref: ./examples/Output_Create_AzureTable.json
        Create an Event Hub output with JSON serialization:
          $ref: ./examples/Output_Create_EventHub_JSON.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}/test':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
        - $ref: '#/components/parameters/OutputNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./inputs.json#/definitions/ResourceTestStatus
          description: The test operation completed successfully.
        '202':
          description: The test request was successfully initiated.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Outputs
      description: >-
        Tests whether an output’s datasource is reachable and usable by the
        Azure Stream Analytics service.
      operationId: Outputs_Test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Output'
        description: >-
          If the output specified does not already exist, this parameter must
          contain the full output definition intended to be tested. If the
          output specified already exists, this parameter can be left null to
          test the existing output as is or if specified, the properties
          specified will overwrite the corresponding properties in the existing
          output (exactly like a PATCH operation) and the resulting output will
          be tested.
      x-ms-examples:
        Test the connection for an output:
          $ref: ./examples/Output_Test.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    OutputNameParameter:
      description: The name of the output.
      in: path
      name: outputName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    StreamingJobNameParameter:
      description: The name of the streaming job.
      in: path
      name: jobName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        GUID which uniquely identify Microsoft Azure subscription. The
        subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AzureDataLakeStoreOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes an Azure Data Lake Store output data source.
      properties:
        properties:
          $ref: '#/components/schemas/AzureDataLakeStoreOutputDataSourceProperties'
          description: >-
            The properties that are associated with an Azure Data Lake Store
            output. Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.DataLake/Accounts
    AzureDataLakeStoreOutputDataSourceProperties:
      allOf:
        - $ref: '#/components/schemas/OAuthBasedDataSourceProperties'
      description: The properties that are associated with an Azure Data Lake Store.
      properties:
        accountName:
          description: >-
            The name of the Azure Data Lake Store account. Required on PUT
            (CreateOrReplace) requests.
          type: string
        dateFormat:
          description: >-
            The date format. Wherever {date} appears in filePathPrefix, the
            value of this property is used as the date format instead.
          type: string
        filePathPrefix:
          description: >-
            The location of the file to which the output should be written to.
            Required on PUT (CreateOrReplace) requests.
          type: string
        tenantId:
          description: >-
            The tenant id of the user used to obtain the refresh token. Required
            on PUT (CreateOrReplace) requests.
          type: string
        timeFormat:
          description: >-
            The time format. Wherever {time} appears in filePathPrefix, the
            value of this property is used as the time format instead.
          type: string
      type: object
    AzureSqlDatabaseDataSourceProperties:
      description: >-
        The properties that are associated with an Azure SQL database data
        source.
      properties:
        database:
          description: >-
            The name of the Azure SQL database. Required on PUT
            (CreateOrReplace) requests.
          type: string
        password:
          description: >-
            The password that will be used to connect to the Azure SQL database.
            Required on PUT (CreateOrReplace) requests.
          type: string
        server:
          description: >-
            The name of the SQL server containing the Azure SQL database.
            Required on PUT (CreateOrReplace) requests.
          type: string
        table:
          description: >-
            The name of the table in the Azure SQL database. Required on PUT
            (CreateOrReplace) requests.
          type: string
        user:
          description: >-
            The user name that will be used to connect to the Azure SQL
            database. Required on PUT (CreateOrReplace) requests.
          type: string
      type: object
    AzureSqlDatabaseOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes an Azure SQL database output data source.
      properties:
        properties:
          $ref: '#/components/schemas/AzureSqlDatabaseOutputDataSourceProperties'
          description: >-
            The properties that are associated with an Azure SQL database
            output. Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.Sql/Server/Database
    AzureSqlDatabaseOutputDataSourceProperties:
      allOf:
        - $ref: '#/components/schemas/AzureSqlDatabaseDataSourceProperties'
      description: The properties that are associated with an Azure SQL database output.
      properties: {}
      type: object
    AzureTableOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes an Azure Table output data source.
      properties:
        properties:
          $ref: '#/components/schemas/AzureTableOutputDataSourceProperties'
          description: >-
            The properties that are associated with an Azure Table output.
            Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.Storage/Table
    AzureTableOutputDataSourceProperties:
      description: The properties that are associated with an Azure Table output.
      properties:
        accountKey:
          description: >-
            The account key for the Azure Storage account. Required on PUT
            (CreateOrReplace) requests.
          type: string
        accountName:
          description: >-
            The name of the Azure Storage account. Required on PUT
            (CreateOrReplace) requests.
          type: string
        batchSize:
          description: The number of rows to write to the Azure Table at a time.
          format: int32
          type: integer
        columnsToRemove:
          description: >-
            If specified, each item in the array is the name of a column to
            remove (if present) from output event entities.
          items:
            type: string
          type: array
        partitionKey:
          description: >-
            This element indicates the name of a column from the SELECT
            statement in the query that will be used as the partition key for
            the Azure Table. Required on PUT (CreateOrReplace) requests.
          type: string
        rowKey:
          description: >-
            This element indicates the name of a column from the SELECT
            statement in the query that will be used as the row key for the
            Azure Table. Required on PUT (CreateOrReplace) requests.
          type: string
        table:
          description: >-
            The name of the Azure Table. Required on PUT (CreateOrReplace)
            requests.
          type: string
      type: object
    BlobOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes a blob output data source.
      properties:
        properties:
          $ref: '#/components/schemas/BlobOutputDataSourceProperties'
          description: >-
            The properties that are associated with a blob output. Required on
            PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.Storage/Blob
    BlobOutputDataSourceProperties:
      allOf:
        - $ref: ./inputs.json#/definitions/BlobDataSourceProperties
      description: The properties that are associated with a blob output.
      properties: {}
      type: object
    DocumentDbOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes a DocumentDB output data source.
      properties:
        properties:
          $ref: '#/components/schemas/DocumentDbOutputDataSourceProperties'
          description: >-
            The properties that are associated with a DocumentDB output.
            Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.Storage/DocumentDB
    DocumentDbOutputDataSourceProperties:
      description: The properties that are associated with a DocumentDB output.
      properties:
        accountId:
          description: >-
            The DocumentDB account name or ID. Required on PUT (CreateOrReplace)
            requests.
          type: string
        accountKey:
          description: >-
            The account key for the DocumentDB account. Required on PUT
            (CreateOrReplace) requests.
          type: string
        collectionNamePattern:
          description: >-
            The collection name pattern for the collections to be used. The
            collection name format can be constructed using the optional
            {partition} token, where partitions start from 0. See the DocumentDB
            section of
            https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output
            for more information. Required on PUT (CreateOrReplace) requests.
          type: string
        database:
          description: >-
            The name of the DocumentDB database. Required on PUT
            (CreateOrReplace) requests.
          type: string
        documentId:
          description: >-
            The name of the field in output events used to specify the primary
            key which insert or update operations are based on.
          type: string
        partitionKey:
          description: >-
            The name of the field in output events used to specify the key for
            partitioning output across collections. If 'collectionNamePattern'
            contains the {partition} token, this property is required to be
            specified.
          type: string
      type: object
    EventHubOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes an Event Hub output data source.
      properties:
        properties:
          $ref: '#/components/schemas/EventHubOutputDataSourceProperties'
          description: >-
            The properties that are associated with an Event Hub output.
            Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.ServiceBus/EventHub
    EventHubOutputDataSourceProperties:
      allOf:
        - $ref: ./inputs.json#/definitions/EventHubDataSourceProperties
      description: The properties that are associated with an Event Hub output.
      properties:
        partitionKey:
          description: >-
            The key/column that is used to determine to which partition to send
            event data.
          type: string
      type: object
    OAuthBasedDataSourceProperties:
      description: >-
        The properties that are associated with data sources that use OAuth as
        their authentication model.
      properties:
        refreshToken:
          description: >-
            A refresh token that can be used to obtain a valid access token that
            can then be used to authenticate with the data source. A valid
            refresh token is currently only obtainable via the Azure Portal. It
            is recommended to put a dummy string value here when creating the
            data source and then going to the Azure Portal to authenticate the
            data source which will update this property with a valid refresh
            token. Required on PUT (CreateOrReplace) requests.
          type: string
        tokenUserDisplayName:
          description: >-
            The user display name of the user that was used to obtain the
            refresh token. Use this property to help remember which user was
            used to obtain the refresh token.
          type: string
        tokenUserPrincipalName:
          description: >-
            The user principal name (UPN) of the user that was used to obtain
            the refresh token. Use this property to help remember which user was
            used to obtain the refresh token.
          type: string
      type: object
    Output:
      allOf:
        - $ref: '#/components/schemas/SubResource'
      description: >-
        An output object, containing all information associated with the named
        output. All outputs are contained under a streaming job.
      properties:
        properties:
          $ref: '#/components/schemas/OutputProperties'
          description: >-
            The properties that are associated with an output. Required on PUT
            (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
    OutputDataSource:
      description: Describes the data source that output will be written to.
      discriminator:
        propertyName: type
      properties:
        type:
          description: >-
            Indicates the type of data source output will be written to.
            Required on PUT (CreateOrReplace) requests.
          type: string
      required:
        - type
      type: object
    OutputListResult:
      description: Object containing a list of outputs under a streaming job.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: >-
            A list of outputs under a streaming job. Populated by a 'List'
            operation.
          items:
            $ref: '#/components/schemas/Output'
          readOnly: true
          type: array
      type: object
    OutputProperties:
      description: The properties that are associated with an output.
      properties:
        datasource:
          $ref: '#/components/schemas/OutputDataSource'
          description: >-
            Describes the data source that output will be written to. Required
            on PUT (CreateOrReplace) requests.
        diagnostics:
          $ref: ./inputs.json#/definitions/Diagnostics
          description: >-
            Describes conditions applicable to the Input, Output, or the job
            overall, that warrant customer attention.
          readOnly: true
        etag:
          description: >-
            The current entity tag for the output. This is an opaque string. You
            can use it to detect whether the resource has changed between
            requests. You can also use it in the If-Match or If-None-Match
            headers for write operations for optimistic concurrency.
          readOnly: true
          type: string
        serialization:
          $ref: ./inputs.json#/definitions/Serialization
          description: >-
            Describes how data from an input is serialized or how data is
            serialized when written to an output. Required on PUT
            (CreateOrReplace) requests.
      type: object
    PowerBIOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes a Power BI output data source.
      properties:
        properties:
          $ref: '#/components/schemas/PowerBIOutputDataSourceProperties'
          description: >-
            The properties that are associated with a Power BI output. Required
            on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: PowerBI
    PowerBIOutputDataSourceProperties:
      allOf:
        - $ref: '#/components/schemas/OAuthBasedDataSourceProperties'
      description: The properties that are associated with a Power BI output.
      properties:
        dataset:
          description: >-
            The name of the Power BI dataset. Required on PUT (CreateOrReplace)
            requests.
          type: string
        groupId:
          description: The ID of the Power BI group.
          type: string
        groupName:
          description: >-
            The name of the Power BI group. Use this property to help remember
            which specific Power BI group id was used.
          type: string
        table:
          description: >-
            The name of the Power BI table under the specified dataset. Required
            on PUT (CreateOrReplace) requests.
          type: string
      type: object
    ServiceBusQueueOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes a Service Bus Queue output data source.
      properties:
        properties:
          $ref: '#/components/schemas/ServiceBusQueueOutputDataSourceProperties'
          description: >-
            The properties that are associated with a Service Bus Queue output.
            Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.ServiceBus/Queue
    ServiceBusQueueOutputDataSourceProperties:
      allOf:
        - $ref: ./inputs.json#/definitions/ServiceBusDataSourceProperties
      description: The properties that are associated with a Service Bus Queue output.
      properties:
        propertyColumns:
          description: >-
            A string array of the names of output columns to be attached to
            Service Bus messages as custom properties.
          items:
            type: string
          type: array
        queueName:
          description: >-
            The name of the Service Bus Queue. Required on PUT (CreateOrReplace)
            requests.
          type: string
      type: object
    ServiceBusTopicOutputDataSource:
      allOf:
        - $ref: '#/components/schemas/OutputDataSource'
      description: Describes a Service Bus Topic output data source.
      properties:
        properties:
          $ref: '#/components/schemas/ServiceBusTopicOutputDataSourceProperties'
          description: >-
            The properties that are associated with a Service Bus Topic output.
            Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Microsoft.ServiceBus/Topic
    ServiceBusTopicOutputDataSourceProperties:
      allOf:
        - $ref: ./inputs.json#/definitions/ServiceBusDataSourceProperties
      description: The properties that are associated with a Service Bus Topic output.
      properties:
        propertyColumns:
          description: >-
            A string array of the names of output columns to be attached to
            Service Bus messages as custom properties.
          items:
            type: string
          type: array
        topicName:
          description: >-
            The name of the Service Bus Topic. Required on PUT (CreateOrReplace)
            requests.
          type: string
      type: object
    SubResource:
      description: The base sub-resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        name:
          description: Resource name
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

