openapi: 3.0.0
info:
  title: BatchManagement
  version: '2017-05-01'
  x-ms-code-generation-settings:
    name: BatchManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Batch/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: >-
            The operation was successful. The response contains the list of
            available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists available operations for the Microsoft.Batch provider
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Batch/batchAccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountListResult'
          description: >-
            The operation was successful. The response contains a list of Batch
            account entities associated with the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: >-
        Gets information about the Batch accounts associated with the
        subscription.
      operationId: BatchAccount_List
      x-ms-examples:
        BatchAccountList:
          $ref: ./examples/BatchAccountList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/checkNameAvailability':
    post:
      parameters:
        - description: The desired region for the name check.
          in: path
          name: locationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: >-
            Success. Returns details about whether a Batch account name is
            available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: >-
        Checks whether the Batch account name is available in the specified
        region.
      operationId: Location_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Properties needed to check the availability of a name.
        required: true
      x-ms-examples:
        LocationCheckNameAvailability_AlreadyExists:
          $ref: ./examples/LocationCheckNameAvailability_AlreadyExists.json
        LocationCheckNameAvailability_Available:
          $ref: ./examples/LocationCheckNameAvailability_Available.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/quotas':
    get:
      parameters:
        - description: The region for which to retrieve Batch service quotas.
          in: path
          name: locationName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLocationQuota'
          description: >-
            The operation was successful. The response contains the Batch
            service quotas for the subscription in the specified location.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Location
      description: >-
        Gets the Batch service quotas for the specified subscription at the
        given location.
      operationId: Location_GetQuotas
      x-ms-examples:
        LocationGetQuotas:
          $ref: ./examples/LocationGetQuotas.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountListResult'
          description: >-
            The operation was successful. The response contains a list of Batch
            account entities associated with the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: >-
        Gets information about the Batch accounts associated with the specified
        resource group.
      operationId: BatchAccount_ListByResourceGroup
      x-ms-examples:
        BatchAccountListByResourceGroup:
          $ref: ./examples/BatchAccountListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful.
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: >-
                The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: >-
                Suggested delay to check the status of the asynchronous
                operation. The value is an integer that specifies the delay in
                seconds.
              schema:
                format: int32
                type: integer
        '204':
          description: NoContent -- account does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: Deletes the specified Batch account.
      operationId: BatchAccount_Delete
      x-ms-examples:
        BatchAccountDelete:
          $ref: ./examples/BatchAccountDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
          description: >-
            The operation was successful. The response contains the Batch
            account entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: Gets information about the specified Batch account.
      operationId: BatchAccount_Get
      x-ms-examples:
        BatchAccountGet:
          $ref: ./examples/BatchAccountGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
          description: >-
            The operation was successful. The response contains the Batch
            account entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: Updates the properties of an existing Batch account.
      operationId: BatchAccount_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountUpdateParameters'
        description: Additional parameters for account update.
        required: true
      x-ms-examples:
        BatchAccountUpdate:
          $ref: ./examples/BatchAccountUpdate.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - description: >-
            A name for the Batch account which must be unique within the region.
            Batch account names must be between 3 and 24 characters in length
            and must use only numbers and lowercase letters. This name is used
            as part of the DNS name that is used to access the Batch service in
            the region in which the account is created. For example:
            http://accountname.region.batch.azure.com/.
          in: path
          name: accountName
          required: true
          schema:
            maxLength: 24
            minLength: 3
            pattern: '^[-\w\._]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
          description: >-
            The operation was successful. The response contains the Batch
            account entity.
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: >-
                The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: >-
                Suggested delay to check the status of the asynchronous
                operation. The value is an integer that specifies the delay in
                seconds.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: >-
        Creates a new Batch account with the specified parameters. Existing
        accounts cannot be updated with this API and should instead be updated
        with the Update Batch Account API.
      operationId: BatchAccount_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountCreateParameters'
        description: Additional parameters for account creation.
        required: true
      x-ms-examples:
        BatchAccountCreate_BYOS:
          $ref: ./examples/BatchAccountCreate_BYOS.json
        BatchAccountCreate_Default:
          $ref: ./examples/BatchAccountCreate_Default.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationsResult'
          description: >-
            The operation was successful. The response contains a list of the
            application entities associated with the specified account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Application
      description: Lists all of the applications in the specified account.
      operationId: Application_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Application
      description: Deletes an application.
      operationId: Application_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: >-
            The operation was successful. The response contains the application
            entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Application
      description: Gets information about the specified application.
      operationId: Application_Get
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Application
      description: Updates settings for the specified application.
      operationId: Application_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateParameters'
        description: The parameters for the request.
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: >-
            The operation was successful. The response contains the application
            entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Application
      description: Adds an application to the specified Batch account.
      operationId: Application_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateParameters'
        description: The parameters for the request.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationId}/versions/{version}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The version of the application to delete.
          in: path
          name: version
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ApplicationPackage
      description: Deletes an application package record and its associated binary file.
      operationId: ApplicationPackage_Delete
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The version of the application.
          in: path
          name: version
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
          description: >-
            The operation was successful. The response contains the application
            package entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ApplicationPackage
      description: Gets information about the specified application package.
      operationId: ApplicationPackage_Get
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The version of the application.
          in: path
          name: version
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
          description: >-
            The operation was successful. The response contains the application
            package entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ApplicationPackage
      description: Creates an application package record.
      operationId: ApplicationPackage_Create
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationId}/versions/{version}/activate':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The version of the application to activate.
          in: path
          name: version
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ApplicationPackage
      description: Activates the specified application package.
      operationId: ApplicationPackage_Activate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateApplicationPackageParameters'
        description: The parameters for the request.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountKeys'
          description: >-
            The operation was successful. The response contains the keys of the
            Batch account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: >-
        This operation applies only to Batch accounts created with a
        poolAllocationMode of 'BatchService'. If the Batch account was created
        with a poolAllocationMode of 'UserSubscription', clients cannot use
        access to keys to authenticate, and must use Azure Active Directory
        instead. In this case, getting the keys will fail.
      operationId: BatchAccount_GetKeys
      summary: Gets the account keys for the specified Batch account.
      x-ms-examples:
        BatchAccountGetKeys:
          $ref: ./examples/BatchAccountGetKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/regenerateKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountKeys'
          description: >-
            The operation was successful. The response contains the Batch
            account keys.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: Regenerates the specified account key for the Batch account.
      operationId: BatchAccount_RegenerateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountRegenerateKeyParameters'
        description: The type of key to regenerate.
        required: true
      x-ms-examples:
        BatchAccountRegenerateKey:
          $ref: ./examples/BatchAccountRegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/syncAutoStorageKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - BatchAccount
      description: >-
        Synchronizes access keys for the auto-storage account configured for the
        specified Batch account.
      operationId: BatchAccount_SynchronizeAutoStorageKeys
components:
  parameters:
    AccountNameParameter:
      description: The name of the Batch account.
      in: path
      name: accountName
      required: true
      schema:
        maxLength: 24
        minLength: 3
        pattern: '^[-\w\._]+$'
        type: string
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: The API version to be used with the HTTP request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group that contains the Batch account.
      in: path
      name: resourceGroupName
      required: true
      schema:
        pattern: '^[-\w\._]+$'
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        The Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000)
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ActivateApplicationPackageParameters:
      description: Parameters for an activating an application package.
      properties:
        format:
          description: The format of the application package binary file.
          type: string
      required:
        - format
      type: object
    Application:
      description: Contains information about an application in a Batch account.
      properties:
        allowUpdates:
          description: >-
            A value indicating whether packages within the application may be
            overwritten using the same version string.
          type: boolean
        defaultVersion:
          description: >-
            The package to use if a client requests the application but does not
            specify a version.
          type: string
        displayName:
          description: The display name for the application.
          type: string
        id:
          description: >-
            A string that uniquely identifies the application within the
            account.
          type: string
        packages:
          description: The list of packages under this application.
          items:
            $ref: '#/components/schemas/ApplicationPackage'
          type: array
      type: object
    ApplicationCreateParameters:
      description: Parameters for adding an Application.
      properties:
        allowUpdates:
          description: >-
            A value indicating whether packages within the application may be
            overwritten using the same version string.
          type: boolean
        displayName:
          description: The display name for the application.
          type: string
      type: object
    ApplicationPackage:
      description: >-
        An application package which represents a particular version of an
        application.
      properties:
        format:
          description: 'The format of the application package, if the package is active.'
          readOnly: true
          type: string
        id:
          description: The ID of the application.
          readOnly: true
          type: string
        lastActivationTime:
          description: >-
            The time at which the package was last activated, if the package is
            active.
          format: date-time
          readOnly: true
          type: string
        state:
          description: The current state of the application package.
          enum:
            - pending
            - active
            - unmapped
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: PackageState
        storageUrl:
          description: The URL for the application package in Azure Storage.
          readOnly: true
          type: string
        storageUrlExpiry:
          description: The UTC time at which the Azure Storage URL will expire.
          format: date-time
          readOnly: true
          type: string
        version:
          description: 'The version of the application package. '
          readOnly: true
          type: string
      type: object
    ApplicationUpdateParameters:
      description: Parameters for an update application request.
      properties:
        allowUpdates:
          description: >-
            A value indicating whether packages within the application may be
            overwritten using the same version string.
          type: boolean
        defaultVersion:
          description: >-
            The package to use if a client requests the application but does not
            specify a version.
          type: string
        displayName:
          description: The display name for the application.
          type: string
      type: object
    AutoStorageBaseProperties:
      description: The properties related to the auto-storage account.
      properties:
        storageAccountId:
          description: >-
            The resource ID of the storage account to be used for auto-storage
            account.
          type: string
      required:
        - storageAccountId
      type: object
    AutoStorageProperties:
      allOf:
        - $ref: '#/components/schemas/AutoStorageBaseProperties'
      description: >-
        Contains information about the auto-storage account associated with a
        Batch account.
      properties:
        lastKeySync:
          description: >-
            The UTC time at which storage keys were last synchronized with the
            Batch account.
          format: date-time
          type: string
      required:
        - lastKeySync
      type: object
    BatchAccount:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Contains information about an Azure Batch account.
      properties:
        properties:
          $ref: '#/components/schemas/BatchAccountProperties'
          description: The properties associated with the account.
          x-ms-client-flatten: true
      type: object
    BatchAccountCreateParameters:
      description: Parameters supplied to the Create operation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The user-specified tags associated with the account.
          type: object
        location:
          description: The region in which to create the account.
          type: string
        properties:
          $ref: '#/components/schemas/BatchAccountCreateProperties'
          description: The properties of the Batch account.
          x-ms-client-flatten: true
      required:
        - location
      type: object
    BatchAccountCreateProperties:
      description: The properties of a Batch account.
      properties:
        autoStorage:
          $ref: '#/components/schemas/AutoStorageBaseProperties'
          description: The properties related to the auto-storage account.
        keyVaultReference:
          $ref: '#/components/schemas/KeyVaultReference'
          description: >-
            A reference to the Azure key vault associated with the Batch
            account.
        poolAllocationMode:
          $ref: '#/components/schemas/PoolAllocationMode'
          description: >-
            The pool allocation mode also affects how clients may authenticate
            to the Batch Service API. If the mode is BatchService, clients may
            authenticate using access keys or Azure Active Directory. If the
            mode is UserSubscription, clients must use Azure Active Directory.
            The default is BatchService.
          title: The allocation mode to use for creating pools in the Batch account.
      type: object
    BatchAccountKeys:
      description: A set of Azure Batch account keys.
      properties:
        accountName:
          description: The Batch account name.
          readOnly: true
          type: string
        primary:
          description: The primary key associated with the account.
          readOnly: true
          type: string
        secondary:
          description: The secondary key associated with the account.
          readOnly: true
          type: string
      type: object
    BatchAccountListResult:
      description: Values returned by the List operation.
      properties:
        nextLink:
          description: The continuation token.
          type: string
        value:
          description: The collection of Batch accounts returned by the listing operation.
          items:
            $ref: '#/components/schemas/BatchAccount'
          type: array
      type: object
    BatchAccountProperties:
      description: Account specific properties.
      properties:
        accountEndpoint:
          description: The account endpoint used to interact with the Batch service.
          readOnly: true
          type: string
        activeJobAndJobScheduleQuota:
          format: int32
          nullable: false
          readOnly: true
          title: The active job and job schedule quota for this Batch account.
          type: integer
        autoStorage:
          $ref: '#/components/schemas/AutoStorageProperties'
          readOnly: true
          title: >-
            The properties and status of any auto-storage account associated
            with the Batch account.
        dedicatedCoreQuota:
          format: int32
          nullable: false
          readOnly: true
          title: The dedicated core quota for this Batch account.
          type: integer
        keyVaultReference:
          $ref: '#/components/schemas/KeyVaultReference'
          readOnly: true
          title: >-
            A reference to the Azure key vault associated with the Batch
            account.
        lowPriorityCoreQuota:
          format: int32
          nullable: false
          readOnly: true
          title: The low-priority core quota for this Batch account.
          type: integer
        poolAllocationMode:
          $ref: '#/components/schemas/PoolAllocationMode'
          nullable: false
          readOnly: true
          title: The allocation mode to use for creating pools in the Batch account.
        poolQuota:
          format: int32
          nullable: false
          readOnly: true
          title: The pool quota for this Batch account.
          type: integer
        provisioningState:
          description: The provisioned state of the resource
          enum:
            - Invalid
            - Creating
            - Deleting
            - Succeeded
            - Failed
            - Cancelled
          nullable: false
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
      type: object
    BatchAccountRegenerateKeyParameters:
      description: Parameters supplied to the RegenerateKey operation.
      properties:
        keyName:
          description: The type of account key to regenerate.
          enum:
            - Primary
            - Secondary
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccountKeyType
      required:
        - keyName
      type: object
    BatchAccountUpdateParameters:
      description: Parameters for updating an Azure Batch account.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The user-specified tags associated with the account.
          type: object
        properties:
          $ref: '#/components/schemas/BatchAccountUpdateProperties'
          description: The properties of the account.
          x-ms-client-flatten: true
      type: object
    BatchAccountUpdateProperties:
      description: The properties of a Batch account.
      properties:
        autoStorage:
          $ref: '#/components/schemas/AutoStorageBaseProperties'
          description: The properties related to the auto-storage account.
      type: object
    BatchLocationQuota:
      description: Quotas associated with a Batch region for a particular subscription.
      properties:
        accountQuota:
          description: >-
            The number of Batch accounts that may be created under the
            subscription in the specified region.
          format: int32
          readOnly: true
          type: integer
      type: object
    CheckNameAvailabilityParameters:
      description: Parameters for a check name availability request.
      properties:
        name:
          description: The name to check for availability
          type: string
        type:
          description: The resource type. Must be set to Microsoft.Batch/batchAccounts
          enum:
            - Microsoft.Batch/batchAccounts
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityResult:
      description: The CheckNameAvailability operation response.
      properties:
        message:
          description: Gets an error message explaining the Reason value in more detail.
          readOnly: true
          type: string
        nameAvailable:
          description: >-
            Gets a boolean value that indicates whether the name is available
            for you to use. If true, the name is available. If false, the name
            has already been taken or invalid and cannot be used.
          readOnly: true
          type: boolean
        reason:
          description: >-
            Gets the reason that a Batch account name could not be used. The
            Reason element is only returned if NameAvailable is false.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: NameAvailabilityReason
      type: object
    CloudError:
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    KeyVaultReference:
      description: Identifies the Azure key vault associated with a Batch account.
      properties:
        id:
          description: >-
            The resource ID of the Azure key vault associated with the Batch
            account.
          type: string
        url:
          description: The URL of the Azure key vault associated with the Batch account.
          type: string
      required:
        - id
        - url
      type: object
    ListApplicationsResult:
      description: The result of performing list applications.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of applications.
          items:
            $ref: '#/components/schemas/Application'
          type: array
      type: object
    Operation:
      properties:
        display:
          properties:
            description:
              title: The friendly name of the operation
              type: string
            operation:
              description: 'For example: read, write, delete, or listKeys/action'
              title: The operation type.
              type: string
            provider:
              title: Friendly name of the resource provider.
              type: string
            resource:
              title: The resource type on which the operation is performed.
              type: string
          title: The object that describes the operation.
          type: object
        name:
          description: 'This is of the format {provider}/{resource}/{operation}'
          title: The operation name.
          type: string
        origin:
          title: The intended executor of the operation.
          type: string
        properties:
          title: Properties of the operation.
          type: object
      title: A REST API operation
      type: object
    OperationListResult:
      properties:
        nextLink:
          title: >-
            The URL to get the next set of operation list results if there are
            any.
          type: string
        value:
          items:
            $ref: '#/components/schemas/Operation'
          title: The list of operations supported by the resource provider.
          type: array
      title: >-
        Result of the request to list REST API operations. It contains a list of
        operations and a URL nextLink to get the next set of results.
      type: object
    PoolAllocationMode:
      description: The allocation mode for creating pools in the Batch account.
      enum:
        - BatchService
        - UserSubscription
      type: string
      x-ms-enum:
        modelAsString: false
        name: PoolAllocationMode
    Resource:
      description: A definition of an Azure resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          readOnly: true
          type: object
        id:
          description: The ID of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

