openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2017-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContactList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Security Contacts
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_List
      x-ms-examples:
        Update security contact data full:
          $ref: >-
            ./examples/SecurityContacts/GetSecurityContactsSubscription_full_example.json
        Update security contact data minimal:
          $ref: >-
            ./examples/SecurityContacts/GetSecurityContactsSubscription_min_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}':
    delete:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/SecurityContactName'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Security Contacts
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Delete
      x-ms-examples:
        Delete security contact data:
          $ref: ./examples/SecurityContacts/DeleteSecurityContact_example.json
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/SecurityContactName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Security Contacts
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Get
      x-ms-examples:
        Get security contact data full:
          $ref: ./examples/SecurityContacts/GetSecurityContact_full_example.json
        Get security contact data minimal:
          $ref: ./examples/SecurityContacts/GetSecurityContact_min_example.json
    patch:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/SecurityContactName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Security Contacts
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityContact'
        description: Security contact object
        required: true
      x-ms-examples:
        Update security contact data full:
          $ref: ./examples/SecurityContacts/UpdateSecurityContact_full_example.json
        Update security contact data minimal:
          $ref: ./examples/SecurityContacts/UpdateSecurityContact_min_example.json
    put:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/SecurityContactName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Security Contacts
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityContact'
        description: Security contact object
        required: true
      x-ms-examples:
        Create security contact data full:
          $ref: ./examples/SecurityContacts/CreateSecurityContact_full_example.json
        Create security contact data minimal:
          $ref: ./examples/SecurityContacts/CreateSecurityContact_min_example.json
components:
  parameters:
    SecurityContactName:
      description: Name of the security contact object
      in: path
      name: securityContactName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    SecurityContact:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecurityContact'
      description: Security contact object
      required: true
  schemas:
    SecurityContact:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Contact details for security issues
      properties:
        properties:
          $ref: '#/components/schemas/SecurityContactProperties'
          description: Security contact data
          x-ms-client-flatten: true
      type: object
    SecurityContactList:
      description: List of security contacts response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of security contacts
          items:
            $ref: '#/components/schemas/SecurityContact'
          readOnly: true
          type: array
      type: object
    SecurityContactProperties:
      description: describes security contact properties
      properties:
        alertNotifications:
          description: >-
            Whether to send security alerts notifications to the security
            contact
          enum:
            - 'On'
            - 'Off'
          type: string
          x-ms-enum:
            modelAsString: true
            name: alertNotifications
            values:
              - description: Get notifications on new alerts
                value: 'On'
              - description: Don't get notifications on new alerts
                value: 'Off'
        alertsToAdmins:
          description: Whether to send security alerts notifications to subscription admins
          enum:
            - 'On'
            - 'Off'
          type: string
          x-ms-enum:
            modelAsString: true
            name: alertsToAdmins
            values:
              - description: Send notification on new alerts to the subscription's admins
                value: 'On'
              - description: >-
                  Don't send notification on new alerts to the subscription's
                  admins
                value: 'Off'
        email:
          description: The email of this security contact
          format: email
          type: string
        phone:
          description: The phone number of this security contact
          type: string
      required:
        - email
        - alertNotifications
        - alertsToAdmins
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

