openapi: 3.0.0
info:
  description: >-
    The Azure management API provides a RESTful set of web services that
    interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: '2016-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets':
    get:
      parameters:
        - description: The name of the Resource Group to which the vault belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the vault.
          in: path
          name: vaultName
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: $top
          schema:
            format: int32
            type: integer
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResult'
          description: Get information about secrets in the specified vault.
      tags:
        - Secrets
      description: >-
        The List operation gets information about the secrets in a vault.  NOTE:
        This API is intended for internal use in ARM deployments. Users should
        use the data-plane REST service for interaction with vault secrets.
      operationId: Secrets_List
      x-ms-examples:
        List secrets in the vault:
          $ref: ./examples/listSecrets.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}':
    get:
      parameters:
        - description: The name of the Resource Group to which the vault belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the vault.
          in: path
          name: vaultName
          required: true
          schema:
            type: string
        - description: The name of the secret.
          in: path
          name: secretName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Retrieved secret
      tags:
        - Secrets
      description: >-
        Gets the specified secret.  NOTE: This API is intended for internal use
        in ARM deployments. Users should use the data-plane REST service for
        interaction with vault secrets.
      operationId: Secrets_Get
      x-ms-examples:
        Get a secret:
          $ref: ./examples/getSecret.json
    patch:
      parameters:
        - description: The name of the Resource Group to which the vault belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the vault
          in: path
          name: vaultName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9-]{3,24}$'
            type: string
        - description: Name of the secret
          in: path
          name: secretName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9-]{1,127}$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Patched secret
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Patched secret
      tags:
        - Secrets
      description: >-
        Update a secret in the specified subscription.  NOTE: This API is
        intended for internal use in ARM deployments.  Users should use the
        data-plane REST service for interaction with vault secrets.
      operationId: Secrets_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretPatchParameters'
        description: Parameters to patch the secret
        required: true
      x-ms-examples:
        Update a secret:
          $ref: ./examples/updateSecret.json
    put:
      parameters:
        - description: The name of the Resource Group to which the vault belongs.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the vault
          in: path
          name: vaultName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9-]{3,24}$'
            type: string
        - description: Name of the secret
          in: path
          name: secretName
          required: true
          schema:
            pattern: '^[a-zA-Z0-9-]{1,127}$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Created or updated secret
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Created or updated vault
      tags:
        - Secrets
      description: >-
        Create or update a secret in a key vault in the specified subscription. 
        NOTE: This API is intended for internal use in ARM deployments. Users
        should use the data-plane REST service for interaction with vault
        secrets.
      operationId: Secrets_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreateOrUpdateParameters'
        description: Parameters to create or update the secret
        required: true
      x-ms-examples:
        Create a secret:
          $ref: ./examples/createSecret.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Attributes:
      description: The object attributes managed by the KeyVault service.
      properties:
        created:
          description: 'Creation time in seconds since 1970-01-01T00:00:00Z.'
          format: unixtime
          readOnly: true
          type: integer
        enabled:
          description: Determines whether the object is enabled.
          type: boolean
        exp:
          description: 'Expiry date in seconds since 1970-01-01T00:00:00Z.'
          format: unixtime
          type: integer
          x-ms-client-name: Expires
        nbf:
          description: 'Not before date in seconds since 1970-01-01T00:00:00Z.'
          format: unixtime
          type: integer
          x-ms-client-name: NotBefore
        updated:
          description: 'Last updated time in seconds since 1970-01-01T00:00:00Z.'
          format: unixtime
          readOnly: true
          type: integer
      type: object
    Secret:
      allOf:
        - $ref: ./keyvault.json#/definitions/Resource
      description: Resource information with extended details.
      properties:
        properties:
          $ref: '#/components/schemas/SecretProperties'
          description: Properties of the secret
      required:
        - properties
      type: object
    SecretAttributes:
      allOf:
        - $ref: '#/components/schemas/Attributes'
      description: The secret management attributes.
    SecretCreateOrUpdateParameters:
      description: Parameters for creating or updating a secret
      properties:
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the secret. '
          type: object
        properties:
          $ref: '#/components/schemas/SecretProperties'
          description: Properties of the secret
      required:
        - properties
      type: object
      x-ms-azure-resource: true
    SecretListResult:
      description: List of secrets
      properties:
        nextLink:
          description: The URL to get the next set of secrets.
          type: string
        value:
          description: The list of secrets.
          items:
            $ref: '#/components/schemas/Secret'
          type: array
      type: object
    SecretPatchParameters:
      description: Parameters for patching a secret
      properties:
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the secret. '
          type: object
        properties:
          $ref: '#/components/schemas/SecretPatchProperties'
          description: Properties of the secret
      type: object
      x-ms-azure-resource: true
    SecretPatchProperties:
      description: Properties of the secret
      properties:
        attributes:
          $ref: '#/components/schemas/SecretAttributes'
          description: The attributes of the secret.
        contentType:
          description: The content type of the secret.
          type: string
        value:
          description: The value of the secret.
          type: string
      type: object
    SecretProperties:
      description: Properties of the secret
      properties:
        attributes:
          $ref: '#/components/schemas/SecretAttributes'
          description: The attributes of the secret.
        contentType:
          description: The content type of the secret.
          type: string
        secretUri:
          description: The URI to retrieve the current version of the secret.
          readOnly: true
          type: string
        secretUriWithVersion:
          description: The URI to retrieve the specific version of the secret.
          readOnly: true
          type: string
        value:
          description: >-
            The value of the secret. NOTE: 'value' will never be returned from
            the service, as APIs using this model are is intended for internal
            use in ARM deployments. Users should use the data-plane REST service
            for interaction with vault secrets.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

