openapi: 3.0.0
info:
  description: REST API for Azure SignalR Service
  title: SignalRManagementClient
  version: '2018-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.SignalRService/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: Success. The response describes the list of operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: >-
        Lists all of the available REST API operations of the
        Microsoft.SignalRService provider.
      operationId: Operations_List
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/SignalR':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResourceList'
          description: >-
            Success. The response describes the list of SignalR services in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Handles requests to list all resources in a subscription.
      operationId: SignalR_ListBySubscription
      x-ms-examples:
        SignalR_ListBySubscription:
          $ref: ./examples/SignalR_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - description: the region
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
          description: Success. The response describes the name availability.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Checks that the SignalR name is valid and is not already in use.
      operationId: SignalR_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityParameters'
        description: Parameters supplied to the operation.
      x-ms-examples:
        SignalR_CheckNameAvailability:
          $ref: ./examples/SignalR_CheckNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages':
    get:
      parameters:
        - description: the location like "eastus"
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRUsageList'
          description: >-
            Success. The response describe the usage quotas of a subscription in
            specified region.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: List usage quotas for Azure SignalR service by location.
      operationId: Usages_List
      x-ms-examples:
        Usages_List:
          $ref: ./examples/Usages_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResourceList'
          description: >-
            Success. The response describes the list of SignalR services in a
            resourceGroup.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Handles requests to list all resources in a resource group.
      operationId: SignalR_ListByResourceGroup
      x-ms-examples:
        SignalR_ListByResourceGroup:
          $ref: ./examples/SignalR_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRKeys'
          description: Success. The response describes SignalR service access keys.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Get the access keys of the SignalR resource.
      operationId: SignalR_ListKeys
      x-ms-examples:
        SignalR_ListKeys:
          $ref: ./examples/SignalR_ListKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/regenerateKey':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRKeys'
          description: >-
            Created and an async operation is executing in background to make
            the new key to take effect. The response contains new keys and a
            Location header to query the async operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: >-
        Regenerate SignalR service access key. PrimaryKey and SecondaryKey
        cannot be regenerated at the same time.
      operationId: SignalR_RegenerateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeyParameters'
        description: Parameter that describes the Regenerate Key Operation.
      x-ms-examples:
        SignalR_RegenerateKey:
          $ref: ./examples/SignalR_RegenerateKey.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '202':
          description: >-
            Accepted. The response indicates the delete operation is performed
            in the background.
        '204':
          description: Success. The response indicates the resource is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Operation to delete a SignalR service.
      operationId: SignalR_Delete
      x-ms-examples:
        SignalR_Delete:
          $ref: ./examples/SignalR_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Success. The response describes the corresponding SignalR service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Get the SignalR service and its properties.
      operationId: SignalR_Get
      x-ms-examples:
        SignalR_Get:
          $ref: ./examples/SignalR_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Success. The response describes a SignalR service.
        '202':
          description: >-
            Accepted. The response indicates the exiting SignalR service is now
            updating  and contains a Location header to query the operation
            result..
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Operation to update an exiting SignalR service.
      operationId: SignalR_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalRUpdateParameters'
        description: Parameters for the update operation
      x-ms-examples:
        SignalR_Update:
          $ref: ./examples/SignalR_Update.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Success. The response describes a SignalR service.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: >-
            Created. The response describes the new service and contains a
            Location header to query the operation result.
        '202':
          description: >-
            Accepted. The response indicates the exiting SignalR service is now
            updating and contains a Location header to query the operation
            result..
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Create a new SignalR service and update an exiting SignalR service.
      operationId: SignalR_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalRCreateParameters'
        description: Parameters for the create or update operation
      x-ms-examples:
        SignalR_CreateOrUpdate:
          $ref: ./examples/SignalR_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/restart':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SignalRServiceName'
      responses:
        '202':
          description: >-
            Accepted. The response indicates the restart operation is performed
            in the background.
        '204':
          description: >-
            Success. The response indicates the operation is successful and no
            content will be returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
        - SignalR
      description: Operation to restart a SignalR service.
      operationId: SignalR_Restart
      x-ms-examples:
        SignalR_Restart:
          $ref: ./examples/SignalR_Restart.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SignalRServiceName:
      description: The name of the SignalR resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Gets subscription Id which uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Dimension:
      description: Specifications of the Dimension of metrics.
      properties:
        displayName:
          description: Localized friendly display name of the dimension.
          type: string
        internalName:
          description: Name of the dimension as it appears in MDM.
          type: string
        name:
          description: The public facing name of the dimension.
          type: string
        toBeExportedForShoebox:
          description: >-
            A Boolean flag indicating whether this dimension should be included
            for the shoebox export scenario.
          type: boolean
      type: object
    ErrorResponse:
      description: Contains information about an API error.
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
          description: Describes a particular API error with an error code and a message.
      type: object
    ErrorResponseBody:
      description: Describes a particular API error with an error code and a message.
      properties:
        code:
          description: "An error code that describes the error condition more precisely than an HTTP status code. \r\nCan be used to programmatically handle specific error cases."
          type: string
        details:
          description: Contains nested errors that are related to this error.
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
          type: array
        message:
          description: >-
            A message that describes the error in detail and provides debugging
            information.
          type: string
        target:
          description: >-
            The target of the particular error (for example, the name of the
            property in error).
          type: string
      required:
        - code
        - message
      type: object
    LogSpecification:
      description: Specifications of the Logs for Azure Monitoring.
      properties:
        displayName:
          description: Localized friendly display name of the log.
          type: string
        name:
          description: Name of the log.
          type: string
      type: object
    MetricSpecification:
      description: Specifications of the Metrics for Azure Monitoring.
      properties:
        aggregationType:
          description: >-
            Only provide one value for this field. Valid values: Average,
            Minimum, Maximum, Total, Count.
          type: string
        category:
          description: >-
            The name of the metric category that the metric belongs to. A metric
            can only belong to a single category.
          type: string
        dimensions:
          description: The dimensions of the metrics.
          items:
            $ref: '#/components/schemas/Dimension'
          type: array
        displayDescription:
          description: Localized friendly description of the metric.
          type: string
        displayName:
          description: Localized friendly display name of the metric.
          type: string
        fillGapWithZero:
          description: "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published. \r\nEx. a metric that returns the number of times a particular error code was emitted. The error code may not appear \r\noften, instead of the RP publishing 0, Shoebox can auto fill in 0s for time periods where nothing was emitted."
          type: string
        name:
          description: Name of the metric.
          type: string
        unit:
          description: The unit that makes sense for the metric.
          type: string
      type: object
    NameAvailability:
      description: >-
        Result of the request to check name availability. It contains a flag and
        possible reason of failure.
      properties:
        message:
          description: The message of the operation.
          type: string
        nameAvailable:
          description: Indicates whether the name is available or not.
          type: boolean
        reason:
          description: The reason of the availability. Required if name is not available.
          type: string
      type: object
    NameAvailabilityParameters:
      description: Data POST-ed to the nameAvailability action
      properties:
        name:
          description: The SignalR service name to validate. e.g."my-signalR-name-here"
          type: string
        type:
          description: >-
            The resource type. Should be always
            "Microsoft.SignalRService/SignalR".
          type: string
      required:
        - type
        - name
      type: object
    Operation:
      description: REST API operation supported by SignalR resource provider.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: The object that describes the operation.
        name:
          description: 'Name of the operation with format: {provider}/{resource}/{operation}'
          type: string
        origin:
          description: >-
            Optional. The intended executor of the operation; governs the
            display of the operation in the RBAC UX and the audit logs UX.
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          description: Extra properties for the operation.
          x-ms-client-flatten: false
      type: object
    OperationDisplay:
      description: The object that describes a operation.
      properties:
        description:
          description: The localized friendly description for the operation
          type: string
        operation:
          description: The localized friendly name for the operation.
          type: string
        provider:
          description: Friendly name of the resource provider
          type: string
        resource:
          description: Resource type on which the operation is performed.
          type: string
      type: object
    OperationList:
      description: >-
        Result of the request to list REST API operations. It contains a list of
        operations.
      properties:
        nextLink:
          description: "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          type: string
        value:
          description: List of operations supported by the resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationProperties:
      description: Extra Operation properties.
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
          description: The service specifications.
      type: object
    RegenerateKeyParameters:
      description: Parameters describes the request to regenerate access keys
      properties:
        keyType:
          description: >-
            The keyType to regenerate. Must be either 'primary' or
            'secondary'(case-insensitive).
          enum:
            - Primary
            - Secondary
          type: string
          x-ms-enum:
            modelAsString: true
            name: KeyType
      type: object
    Resource:
      description: The core properties of ARM resources.
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The type of the service - e.g. "Microsoft.SignalRService/SignalR"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceSku:
      description: The billing information of the SignalR resource.
      properties:
        capacity:
          description: "Optional, integer. The unit count of SignalR resource. 1 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free: 1\r\n    Standard: 1,2,5,10,20,50,100"
          format: int32
          type: integer
        family:
          description: Optional string. For future use.
          type: string
        name:
          description: "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1"
          type: string
        size:
          description: Optional string. For future use.
          type: string
        tier:
          description: "Optional tier of this particular SKU. 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated, use `Standard` instead."
          enum:
            - Free
            - Basic
            - Standard
            - Premium
          type: string
          x-ms-enum:
            modelAsString: true
            name: SignalRSkuTier
      required:
        - name
      type: object
    ServiceSpecification:
      description: An object that describes a specification.
      properties:
        logSpecifications:
          description: Specifications of the Logs for Azure Monitoring.
          items:
            $ref: '#/components/schemas/LogSpecification'
          type: array
        metricSpecifications:
          description: Specifications of the Metrics for Azure Monitoring.
          items:
            $ref: '#/components/schemas/MetricSpecification'
          type: array
      type: object
    SignalRCorsSettings:
      description: Cross-Origin Resource Sharing (CORS) settings.
      properties:
        allowedOrigins:
          description: >-
            Gets or sets the list of origins that should be allowed to make
            cross-origin calls (for example: http://example.com:12345). Use "*"
            to allow all. If omitted, allow all by default.
          items:
            type: string
          type: array
      type: object
    SignalRCreateOrUpdateProperties:
      description: Settings used to provision or configure the resource.
      properties:
        cors:
          $ref: '#/components/schemas/SignalRCorsSettings'
          description: Cross-Origin Resource Sharing (CORS) settings.
        features:
          description: "List of SignalR featureFlags. e.g. ServiceMode.\r\n\r\nFeatureFlags that are not included in the parameters for the update operation will not be modified.\r\nAnd the response will only include featureFlags that are explicitly set. \r\nWhen a featureFlag is not explicitly set, SignalR service will use its globally default value. \r\nBut keep in mind, the default value doesn't mean \"false\". It varies in terms of different FeatureFlags."
          items:
            $ref: '#/components/schemas/SignalRFeature'
          type: array
        hostNamePrefix:
          description: "Prefix for the hostName of the SignalR service. Retained for future use.\r\nThe hostname will be of format: &lt;hostNamePrefix&gt;.service.signalr.net."
          type: string
      type: object
    SignalRCreateParameters:
      allOf:
        - $ref: '#/components/schemas/SignalRUpdateParameters'
      description: "Parameters for SignalR service create/update operation.\r\n\r\nKeep the same schema as AzSignalR.Models.SignalRResource"
      properties:
        location:
          description: "Azure GEO region: e.g. West US | East US | North Central US | South Central US | West Europe | North Europe | East Asia | Southeast Asia | etc. \r\nThe geo region of a resource never changes after it is created."
          type: string
      required:
        - location
      type: object
    SignalRFeature:
      description: >-
        Feature of a SignalR resource, which controls the SignalR runtime
        behavior.
      properties:
        flag:
          description: "FeatureFlags is the supported features of Azure SignalR service.\r\n- ServiceMode: Flag for backend server for SignalR service. Values allowed: \"Default\": have your own backend server; \"Serverless\": your application doesn't have a backend server; \"Classic\": for backward compatibility. Support both Default and Serverless mode but not recommended; \"PredefinedOnly\": for future use.\r\n- EnableConnectivityLogs: \"true\"/\"false\", to enable/disable the connectivity log category respectively."
          enum:
            - ServiceMode
            - EnableConnectivityLogs
          type: string
          x-ms-enum:
            modelAsString: true
            name: FeatureFlags
        properties:
          additionalProperties:
            type: string
          description: Optional properties related to this feature.
          type: object
        value:
          description: >-
            Value of the feature flag. See Azure SignalR service document
            https://docs.microsoft.com/azure/azure-signalr/ for allowed values.
          maxLength: 128
          minLength: 1
          type: string
      required:
        - flag
        - value
      type: object
    SignalRKeys:
      description: A class represents the access keys of SignalR service.
      properties:
        primaryConnectionString:
          description: SignalR connection string constructed via the primaryKey
          type: string
        primaryKey:
          description: The primary access key.
          type: string
        secondaryConnectionString:
          description: SignalR connection string constructed via the secondaryKey
          type: string
        secondaryKey:
          description: The secondary access key.
          type: string
      type: object
    SignalRProperties:
      allOf:
        - $ref: '#/components/schemas/SignalRCreateOrUpdateProperties'
      description: >-
        A class that describes the properties of the SignalR service that should
        contain more read-only properties than
        AzSignalR.Models.SignalRCreateOrUpdateProperties
      properties:
        externalIP:
          description: The publicly accessible IP of the SignalR service.
          readOnly: true
          type: string
        hostName:
          description: >-
            FQDN of the SignalR service instance. Format:
            xxx.service.signalr.net
          readOnly: true
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          enum:
            - Unknown
            - Succeeded
            - Failed
            - Canceled
            - Running
            - Creating
            - Updating
            - Deleting
            - Moving
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        publicPort:
          description: >-
            The publicly accessible port of the SignalR service which is
            designed for browser/client side usage.
          format: int32
          readOnly: true
          type: integer
        serverPort:
          description: >-
            The publicly accessible port of the SignalR service which is
            designed for customer server side usage.
          format: int32
          readOnly: true
          type: integer
        version:
          description: >-
            Version of the SignalR resource. Probably you need the same or
            higher version of client SDKs.
          type: string
      type: object
    SignalRResource:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: A class represent a SignalR service resource.
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/SignalRProperties'
          description: The properties of the service.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/ResourceSku'
          description: SKU of the service.
        type:
          description: The type of the service - e.g. "Microsoft.SignalRService/SignalR"
          readOnly: true
          type: string
      type: object
    SignalRResourceList:
      description: >-
        Object that includes an array of SignalR services and a possible link
        for next set.
      properties:
        nextLink:
          description: "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          type: string
        value:
          description: List of SignalR services
          items:
            $ref: '#/components/schemas/SignalRResource'
          type: array
      type: object
    SignalRUpdateParameters:
      description: Parameters for SignalR service update operation
      properties:
        tags:
          additionalProperties:
            type: string
          description: A list of key value pairs that describe the resource.
          type: object
        properties:
          $ref: '#/components/schemas/SignalRCreateOrUpdateProperties'
          description: Settings used to provision or configure the resource
          x-ms-client-flatten: false
        sku:
          $ref: '#/components/schemas/ResourceSku'
          description: The billing information of the resource.(e.g. basic vs. standard)
      type: object
    SignalRUsage:
      description: Object that describes a specific usage of SignalR resources.
      properties:
        currentValue:
          description: Current value for the usage quota.
          format: int64
          type: integer
        id:
          description: Fully qualified ARM resource id
          type: string
        limit:
          description: >-
            The maximum permitted value for the usage quota. If there is no
            limit, this value will be -1.
          format: int64
          type: integer
        name:
          $ref: '#/components/schemas/SignalRUsageName'
          description: Localizable String object containing the name and a localized value.
        unit:
          description: >-
            Representing the units of the usage quota. Possible values are:
            Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond.
          type: string
      type: object
    SignalRUsageList:
      description: >-
        Object that includes an array of SignalR resource usages and a possible
        link for next set.
      properties:
        nextLink:
          description: "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          type: string
        value:
          description: List of SignalR usages
          items:
            $ref: '#/components/schemas/SignalRUsage'
          type: array
      type: object
    SignalRUsageName:
      description: Localizable String object containing the name and a localized value.
      properties:
        localizedValue:
          description: Localized name of the usage.
          type: string
        value:
          description: The identifier of the usage.
          type: string
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource.
      properties:
        tags:
          additionalProperties:
            type: string
          description: >-
            Tags of the service which is a list of key value pairs that describe
            the resource.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: >-
            The GEO location of the SignalR service. e.g. West US | East US |
            North Central US | South Central US.
          type: string
          x-ms-mutability:
            - read
            - create
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

