openapi: 3.0.0
info:
  description: APIs to manage web application firewall rules
  title: WebApplicationFirewallManagement
  version: '2018-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicyListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ListWebApplicationFirewallPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: Policies_List
      x-ms-examples:
        List Policies in a Resource Group:
          $ref: ./examples/WafListPolicies.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the resource group.
          in: path
          name: policyName
          required: true
          schema:
            maxLength: 128
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: >-
            Accepted. The request has been accepted for processing and the
            operation will complete asynchronously.
        '204':
          description: >-
            No Content. The request has been accepted but the policy was not
            found.
      tags:
        - DeleteWebApplicationFirewallPolicy
      description: Deletes Policy
      operationId: Policies_Delete
      x-ms-examples:
        Delete protection policy:
          $ref: ./examples/WafPolicyDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the resource group.
          in: path
          name: policyName
          required: true
          schema:
            maxLength: 128
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - GetWebapplicationfirewallPolicy
      description: Retrieve protection policy with specified name within a resource group.
      operationId: Policies_Get
      x-ms-examples:
        policy get:
          $ref: ./examples/WafPolicyGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the resource group.
          in: path
          name: policyName
          required: true
          schema:
            maxLength: 128
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: >-
            Created. The request has been fulfilled and a new protection policy
            has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CreateOrUpdateWebApplicationFirewallPolicy
      description: >-
        Creates or update policy with specified rule set name within a resource
        group.
      operationId: Policies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        description: Policy to be created.
        required: true
      x-ms-examples:
        Creates specific policy:
          $ref: ./examples/WafPolicyCreateOrUpdate.json
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        The subscription credentials which uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AzureManagedOverrideRuleGroup:
      description: Defines contents of a web application rule
      properties:
        action:
          description: Type of Actions
          enum:
            - Allow
            - Block
            - Log
          type: string
          x-ms-enum:
            modelAsString: true
            name: action
        ruleGroupOverride:
          description: Describes override rule group
          enum:
            - SqlInjection
            - XSS
          type: string
          x-ms-enum:
            modelAsString: true
            name: ruleGroupOverride
      required:
        - ruleGroupOverride
        - action
      type: object
    AzureManagedRuleSet:
      allOf:
        - $ref: '#/components/schemas/ManagedRuleSet'
      description: Describes azure managed provider.
      properties:
        ruleGroupOverrides:
          description: List of azure managed provider override configuration (optional)
          items:
            $ref: '#/components/schemas/AzureManagedOverrideRuleGroup'
          type: array
      type: object
      x-ms-discriminator-value: AzureManagedRuleSet
    CustomRule:
      description: Defines contents of a web application rule
      properties:
        action:
          description: Type of Actions
          enum:
            - Allow
            - Block
            - Log
          type: string
          x-ms-enum:
            modelAsString: true
            name: action
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        matchConditions:
          description: List of match conditions
          items:
            $ref: '#/components/schemas/MatchCondition'
          type: array
        name:
          description: >-
            Gets name of the resource that is unique within a policy. This name
            can be used to access the resource.
          maxLength: 128
          type: string
        priority:
          description: >-
            Describes priority of the rule. Rules with a lower value will be
            evaluated before rules with a higher value
          type: integer
        rateLimitDurationInMinutes:
          description: Defines rate limit duration. Default - 1 minute
          type: integer
        rateLimitThreshold:
          description: Defines rate limit threshold
          type: integer
        ruleType:
          description: Describes type of rule
          enum:
            - MatchRule
            - RateLimitRule
          type: string
          x-ms-enum:
            modelAsString: true
            name: ruleType
        transforms:
          description: List of transforms
          items:
            $ref: '#/components/schemas/transform'
          type: array
      required:
        - priority
        - ruleType
        - matchConditions
        - action
      type: object
    CustomRules:
      description: Defines contents of custom rules
      properties:
        rules:
          description: List of rules
          items:
            $ref: '#/components/schemas/CustomRule'
          type: array
      type: object
    ErrorResponse:
      description: >-
        Error response indicates Front Door service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
      type: object
    ManagedRuleSet:
      description: Base class for all types of ManagedRuleSet.
      discriminator:
        propertyName: ruleSetType
      properties:
        priority:
          description: Describes priority of the rule
          type: integer
        ruleSetType:
          description: RuleSetType - AzureManagedRuleSet or OWASP RuleSets.
          type: string
        version:
          description: defines version of the rule set
          type: integer
      required:
        - ruleSetType
      type: object
      x-ms-discriminator-value: Unknown
    ManagedRuleSets:
      description: Defines ManagedRuleSets - array of managedRuleSet
      properties:
        ruleSets:
          description: List of rules
          items:
            $ref: '#/components/schemas/ManagedRuleSet'
          type: array
      type: object
    MatchCondition:
      description: Define match conditions
      properties:
        matchValue:
          description: Match value
          items:
            type: string
          type: array
        matchVariable:
          description: Match Variable
          enum:
            - RemoteAddr
            - RequestMethod
            - QueryString
            - PostArgs
            - RequestUri
            - RequestHeader
            - RequestBody
          type: string
          x-ms-enum:
            modelAsString: true
            name: MatchCondition
        negateCondition:
          description: Describes if this is negate condition or not
          type: boolean
        operator:
          description: Describes operator to be matched
          enum:
            - Any
            - IPMatch
            - GeoMatch
            - Equal
            - Contains
            - LessThan
            - GreaterThan
            - LessThanOrEqual
            - GreaterThanOrEqual
            - BeginsWith
            - EndsWith
          type: string
          x-ms-enum:
            modelAsString: true
            name: operator
        selector:
          description: Name of selector in RequestHeader or RequestBody to be matched
          type: string
      required:
        - matchVariable
        - operator
        - matchValue
      type: object
    WebApplicationFirewallPolicy:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Defines web application firewall policy.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/WebApplicationFirewallPolicyPropertiesFormat'
          description: Properties of the web application firewall policy.
          x-ms-client-flatten: true
      type: object
    WebApplicationFirewallPolicyListResult:
      description: >-
        Result of the request to list WebApplicationFirewallPolicies. It
        contains a list of WebApplicationFirewallPolicy objects and a URL link
        to get the next set of results.
      properties:
        nextLink:
          description: >-
            URL to get the next set of WebApplicationFirewallPolicy objects if
            there are any.
          type: string
        value:
          description: List of WebApplicationFirewallPolicies within a resource group.
          items:
            $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          readOnly: true
          type: array
      type: object
    WebApplicationFirewallPolicyPropertiesFormat:
      description: Defines web application firewall policy properties
      properties:
        customRules:
          $ref: '#/components/schemas/CustomRules'
          description: Describes custom rules inside the policy
        managedRules:
          $ref: '#/components/schemas/ManagedRuleSets'
          description: Describes managed rules inside the policy
        policySettings:
          $ref: '#/components/schemas/policySettings'
          description: Describes  policySettings for policy
        provisioningState:
          description: Provisioning state of the WebApplicationFirewallPolicy.
          readOnly: true
          type: string
        resourceState:
          enum:
            - Creating
            - Enabling
            - Enabled
            - Disabling
            - Disabled
            - Deleting
          readOnly: true
          title: Resource status of the policy.
          type: string
          x-ms-enum:
            modelAsString: true
            name: WebApplicationFirewallPolicy
      type: object
    policySettings:
      description: Defines contents of a web application firewall global configuration
      properties:
        enabledState:
          description: describes if the policy is in enabled state or disabled state
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: enabledState
        mode:
          description: >-
            Describes if it is in detection mode  or prevention mode at policy
            level
          enum:
            - Prevention
            - Detection
          type: string
          x-ms-enum:
            modelAsString: true
            name: mode
      type: object
    transform:
      description: Describes what transforms applied before matching
      enum:
        - Lowercase
        - Uppercase
        - Trim
        - UrlDecode
        - UrlEncode
        - RemoveNulls
        - HtmlEntityDecode
      type: string
      x-ms-enum:
        modelAsString: true
        name: transform
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

