{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides read functionality for Azure SQL Database Backups",
    "title": "Azure SQL Database Backup",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/restorePoints.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database to get available restore points.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestorePointListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DatabaseBackup"
        ],
        "description": "Gets a list of database restore points.",
        "operationId": "RestorePoints_ListByDatabase",
        "x-ms-examples": {
          "Get a data warehouse's restore points": {
            "$ref": "./examples/DataWarehouseRestorePointsList.json"
          },
          "Get a database's restore points": {
            "$ref": "./examples/DatabaseRestorePointsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DatabaseExpandParameter": {
        "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
        "in": "query",
        "name": "$expand",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "RestorePoint": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A database restore point.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RestorePointProperties",
            "description": "The properties of the restore point.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RestorePointListResult": {
        "description": "The response to a list database restore points request.",
        "properties": {
          "value": {
            "description": "The list of database restore points.",
            "items": {
              "$ref": "#/components/schemas/RestorePoint"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "RestorePointProperties": {
        "description": "Represents the properties of a database restore point.",
        "properties": {
          "earliestRestoreDate": {
            "description": "Earliest restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null otherwise.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "restorePointCreationDate": {
            "description": "Restore point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS. Null otherwise.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "restorePointType": {
            "description": "The restore point type of the database restore point.",
            "enum": [
              "DISCRETE",
              "CONTINUOUS"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "name": "RestorePointType"
            }
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}