{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these REST APIs for performing operations on who is going to receive notifications associated with your Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2018-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimnotifications.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/TopQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SkipQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationCollection"
                }
              }
            },
            "description": "A Collection of the Notification for the specified API Management service instance."
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Lists a collection of properties defined within a service instance.",
        "operationId": "Notification_ListByService",
        "x-ms-examples": {
          "ApiManagementListNotification": {
            "$ref": "./examples/ApiManagementListNotifications.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationContract"
                }
              }
            },
            "description": "The response body contains the specified Notification."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Gets the details of the Notification specified by its identifier.",
        "operationId": "Notification_Get",
        "x-ms-examples": {
          "ApiManagementGetNotification": {
            "$ref": "./examples/ApiManagementGetNotification.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchOptionalParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationContract"
                }
              }
            },
            "description": "Notification was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Updates an Notification.",
        "operationId": "Notification_CreateOrUpdate",
        "x-ms-examples": {
          "ApiManagementGetNotification": {
            "$ref": "./examples/ApiManagementGetNotification.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientEmailCollection"
                }
              }
            },
            "description": "The response body contains the Recipient Email collection subscribed to the notification."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientEmail"
        ],
        "description": "Gets the list of the Notification Recipient Emails subscribed to a notification.",
        "operationId": "NotificationRecipientEmail_ListByNotification",
        "x-ms-examples": {
          "ApiManagementListNotificationRecipientEmail": {
            "$ref": "./examples/ApiManagementListNotificationRecipientEmail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails/{email}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "#/components/parameters/EmailParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient Email was successfully removed to the notification list."
          },
          "204": {
            "description": "Recipient Email was successfully removed to the notification list."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientEmail"
        ],
        "description": "Removes the email from the list of Notification.",
        "operationId": "NotificationRecipientEmail_Delete",
        "x-ms-examples": {
          "ApiManagementDeleteNotificationRecipientEmail": {
            "$ref": "./examples/ApiManagementDeleteNotificationRecipientEmail.json"
          }
        }
      },
      "head": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "#/components/parameters/EmailParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The Users is subscribed to receive the notification."
          },
          "404": {
            "description": "The Users is not subscribed to receive the notification."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientEmail"
        ],
        "description": "Determine if Notification Recipient Email subscribed to the notification.",
        "operationId": "NotificationRecipientEmail_CheckEntityExists",
        "x-ms-examples": {
          "ApiManagementHeadNotificationRecipientEmail": {
            "$ref": "./examples/ApiManagementHeadNotificationRecipientEmail.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "#/components/parameters/EmailParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientEmailContract"
                }
              }
            },
            "description": "Recipient Email is already part of the notification list."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientEmailContract"
                }
              }
            },
            "description": "Recipient Email was successfully added to the notification list."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientEmail"
        ],
        "description": "Adds the Email address to the list of Recipients for the Notification.",
        "operationId": "NotificationRecipientEmail_CreateOrUpdate",
        "x-ms-examples": {
          "ApiManagementCreateRecipientEmail": {
            "$ref": "./examples/ApiManagementCreateRecipientEmail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientUsers": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientUserCollection"
                }
              }
            },
            "description": "The response body contains the Recipient User collection for the notification."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Gets the list of the Notification Recipient User subscribed to the notification.",
        "operationId": "NotificationRecipientUser_ListByNotification",
        "x-ms-examples": {
          "ApiManagementListNotificationRecipientUser": {
            "$ref": "./examples/ApiManagementListNotificationRecipientUser.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientUsers/{uid}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimusers.json#/components/parameters/UserIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient User was successfully removed from the notification list."
          },
          "204": {
            "description": "Recipient User was successfully removed from the notification list."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientUser"
        ],
        "description": "Removes the API Management user from the list of Notification.",
        "operationId": "NotificationRecipientUser_Delete",
        "x-ms-examples": {
          "ApiManagementDeleteNotificationRecipientUser": {
            "$ref": "./examples/ApiManagementDeleteNotificationRecipientUser.json"
          }
        }
      },
      "head": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimusers.json#/components/parameters/UserIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The User is subscribed to receive the notification."
          },
          "404": {
            "description": "Entity does not exists."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientUser"
        ],
        "description": "Determine if the Notification Recipient User is subscribed to the notification.",
        "operationId": "NotificationRecipientUser_CheckEntityExists",
        "x-ms-examples": {
          "ApiManagementHeadNotificationRecipientUser": {
            "$ref": "./examples/ApiManagementHeadNotificationRecipientUser.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/NotificationNameParameter"
          },
          {
            "$ref": "./apimusers.json#/components/parameters/UserIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientUserContract"
                }
              }
            },
            "description": "Recipient User is already part of the notification list."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientUserContract"
                }
              }
            },
            "description": "Recipient User was successfully added to the notification list."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "NotificationRecipientUser"
        ],
        "description": "Adds the API Management User to the list of Recipients for the Notification.",
        "operationId": "NotificationRecipientUser_CreateOrUpdate",
        "x-ms-examples": {
          "ApiManagementCreateRecipientUser": {
            "$ref": "./examples/ApiManagementCreateRecipientUser.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "EmailParameter": {
        "description": "Email identifier.",
        "in": "path",
        "name": "email",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "NotificationNameParameter": {
        "description": "Notification Name Identifier.",
        "in": "path",
        "name": "notificationName",
        "required": true,
        "schema": {
          "enum": [
            "RequestPublisherNotificationMessage",
            "PurchasePublisherNotificationMessage",
            "NewApplicationNotificationMessage",
            "BCC",
            "NewIssuePublisherNotificationMessage",
            "AccountClosedPublisher",
            "QuotaLimitApproachingPublisherNotificationMessage"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "NotificationName",
          "values": [
            {
              "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
              "value": "RequestPublisherNotificationMessage"
            },
            {
              "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
              "value": "PurchasePublisherNotificationMessage"
            },
            {
              "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
              "value": "NewApplicationNotificationMessage"
            },
            {
              "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
              "value": "BCC"
            },
            {
              "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
              "value": "NewIssuePublisherNotificationMessage"
            },
            {
              "description": "The following email recipients and users will receive email notifications when developer closes his account.",
              "value": "AccountClosedPublisher"
            },
            {
              "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
              "value": "QuotaLimitApproachingPublisherNotificationMessage"
            }
          ]
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "NotificationCollection": {
        "description": "Paged Notification list representation.",
        "properties": {
          "nextLink": {
            "description": "Next page link if any.",
            "type": "string"
          },
          "value": {
            "description": "Page values.",
            "items": {
              "$ref": "#/components/schemas/NotificationContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "NotificationContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Notification details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/NotificationContractProperties",
            "description": "Notification entity contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "NotificationContractProperties": {
        "description": "Notification Contract properties.",
        "properties": {
          "description": {
            "description": "Description of the Notification.",
            "type": "string"
          },
          "recipients": {
            "$ref": "#/components/schemas/RecipientsContractProperties",
            "description": "Recipient Parameter values."
          },
          "title": {
            "description": "Title of the Notification.",
            "maxLength": 1000,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "title"
        ],
        "type": "object"
      },
      "RecipientEmailCollection": {
        "description": "Paged Recipient User list representation.",
        "properties": {
          "nextLink": {
            "description": "Next page link if any.",
            "type": "string"
          },
          "value": {
            "description": "Page values.",
            "items": {
              "$ref": "#/components/schemas/RecipientEmailContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RecipientEmailContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Recipient Email details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RecipientEmailContractProperties",
            "description": "Recipient Email contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RecipientEmailContractProperties": {
        "description": "Recipient Email Contract Properties.",
        "properties": {
          "email": {
            "description": "User Email subscribed to notification.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RecipientUserCollection": {
        "description": "Paged Recipient User list representation.",
        "properties": {
          "nextLink": {
            "description": "Next page link if any.",
            "type": "string"
          },
          "value": {
            "description": "Page values.",
            "items": {
              "$ref": "#/components/schemas/RecipientUserContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "RecipientUserContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Recipient User details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RecipientUsersContractProperties",
            "description": "Recipient User entity contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RecipientUsersContractProperties": {
        "description": "Recipient User Contract Properties.",
        "properties": {
          "userId": {
            "description": "API Management UserId subscribed to notification.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RecipientsContractProperties": {
        "description": "Notification Parameter contract.",
        "properties": {
          "emails": {
            "description": "List of Emails subscribed for the notification.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "users": {
            "description": "List of Users subscribed for the notification.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}