openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult'
          description: Successfully retrieved the list of firewall rules.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - FirewallRules
      description: Gets a list of firewall rules.
      operationId: FirewallRules_ListByServer
      x-ms-examples:
        List Firewall Rules:
          $ref: ./examples/FirewallRuleList.json
      x-ms-pageable:
        nextLinkName: nextLink
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Successfully updated the firewall rules.
        '202':
          description: Creating or updating the Server Firewall Rules is in progress.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceId - Invalid resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidServerFirewallRuleResourceRequest - The server firewall rule resource request is invalid.

             * 400 InvalidServerFirewallRuleResourceParameters - The server firewall rule resource parameter is invalid.

             * 400 FirewallRuleNotIPv4Address - The provided firewall rule address is not IPv4

             * 400 FirewallRuleInvalidRange - The specified firewall rule range is invalid.

             * 400 FirewallRuleNameTooLong - The provided firewall rule name is too long

             * 400 FirewallRuleNameEmpty - The provided firewall rule name is empty

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - FirewallRules
      description: Replaces all firewall rules on the server.
      operationId: FirewallRules_Replace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRuleList'
        required: true
      x-ms-examples:
        Replace firewall rules:
          $ref: ./examples/FirewallRuleReplace.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules/{firewallRuleName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the firewall rule.
          in: path
          name: firewallRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the firewall rule.
        '204':
          description: The specified firewall rule does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceId - Invalid resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidServerFirewallRuleResourceRequest - The server firewall rule resource request is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - FirewallRules
      description: Deletes a firewall rule.
      operationId: FirewallRules_Delete
      x-ms-examples:
        Delete a firewall rule:
          $ref: ./examples/FirewallRuleDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the firewall rule.
          in: path
          name: firewallRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Successfully retrieved the specified firewall rule.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - FirewallRules
      description: Gets a firewall rule.
      operationId: FirewallRules_Get
      x-ms-examples:
        Get Firewall Rule:
          $ref: ./examples/FirewallRuleGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the firewall rule.
          in: path
          name: firewallRuleName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Successfully updated the firewall rule.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Successfully created the firewall rule.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceId - Invalid resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidServerFirewallRuleResourceRequest - The server firewall rule resource request is invalid.

             * 400 InvalidServerFirewallRuleResourceParameters - The server firewall rule resource parameter is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - FirewallRules
      description: Creates or updates a firewall rule.
      operationId: FirewallRules_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        description: The required parameters for creating or updating a firewall rule.
        required: true
      x-ms-examples:
        Create a firewall rule max/min:
          $ref: ./examples/FirewallRuleCreate.json
        Update a firewall rule max/min:
          $ref: ./examples/FirewallRuleUpdate.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    FirewallRule:
      allOf:
        - $ref: '#/components/schemas/ProxyResourceWithWritableName'
      description: A server firewall rule.
      properties:
        properties:
          $ref: '#/components/schemas/ServerFirewallRuleProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    FirewallRuleList:
      description: A list of server firewall rules.
      properties:
        values:
          items:
            $ref: '#/components/schemas/FirewallRule'
          type: array
      type: object
    FirewallRuleListResult:
      description: The response to a list firewall rules request
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/FirewallRule'
          readOnly: true
          type: array
      type: object
    ProxyResourceWithWritableName:
      allOf:
        - $ref: '#/components/schemas/ResourceWithWritableName'
      description: ARM proxy resource.
      properties: {}
      type: object
    ResourceWithWritableName:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ServerFirewallRuleProperties:
      description: The properties of a server firewall rule.
      properties:
        endIpAddress:
          description: >-
            The end IP address of the firewall rule. Must be IPv4 format. Must
            be greater than or equal to startIpAddress. Use value '0.0.0.0' for
            all Azure-internal IP addresses.
          type: string
        startIpAddress:
          description: >-
            The start IP address of the firewall rule. Must be IPv4 format. Use
            value '0.0.0.0' for all Azure-internal IP addresses.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

