openapi: 3.0.0
info:
  description: Update location operation endpoints and objects.
  title: UpdateAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/':
    get:
      parameters:
        - $ref: Update.json#/components/parameters/SubscriptionIdParameter
        - $ref: Update.json#/components/parameters/ResourceGroupParameter
        - $ref: Update.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLocationList'
          description: OK
      tags:
        - UpdateLocations
      description: Get the list of update locations.
      operationId: UpdateLocations_List
      x-ms-examples:
        Get the list of update locations.:
          $ref: ./examples/UpdateLocations/List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}':
    get:
      parameters:
        - $ref: Update.json#/components/parameters/SubscriptionIdParameter
        - $ref: Update.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/UpdateLocationParameter'
        - $ref: Update.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLocation'
          description: OK
      tags:
        - UpdateLocations
      description: Get an update location based on name.
      operationId: UpdateLocations_Get
      x-ms-examples:
        Get an update location based on name.:
          $ref: ./examples/UpdateLocations/Get.json
components:
  parameters:
    UpdateLocationParameter:
      description: The name of the update location.
      in: path
      name: updateLocation
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    RegionUpdateState:
      description: State of the region in regard to update.
      enum:
        - Unknown
        - AppliedSuccessfully
        - AppliedUpdateAvailableSuccessfully
        - UpdateInProgress
        - UpdateFailed
      type: string
      x-ms-enum:
        modelAsString: true
        name: RegionUpdateState
    UpdateLocation:
      allOf:
        - $ref: Update.json#/definitions/Resource
      description: Information related to a location's update status.
      properties:
        properties:
          $ref: '#/components/schemas/UpdateLocationModel'
          description: Model which holds information related to update location.
          x-ms-client-flatten: true
      type: object
    UpdateLocationList:
      description: The list of update locations.
      properties:
        nextLink:
          description: The link to get the next page of update locations.
          type: string
        value:
          description: The list of update locations.
          items:
            $ref: '#/components/schemas/UpdateLocation'
          type: array
      type: object
    UpdateLocationModel:
      description: Model which holds information related to update location.
      properties:
        currentOemVersion:
          description: Current OEM version of your AzureStack deployment.
          type: string
        currentVersion:
          description: Current version of your AzureStack deployment.
          type: string
        lastUpdated:
          description: Date of last update.
          format: date-time
          type: string
        state:
          $ref: '#/components/schemas/RegionUpdateState'
          description: State with respect to the update.
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

