openapi: 3.0.0
info:
  description: Azure Application Insights client for web test locations.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/syntheticmonitorlocations':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationInsightsWebTestLocationsListResult
          description: >-
            A list containing 0 or more web test location names available to the
            Application Insights component.
      description: >-
        Gets a list of web test locations available to this Application Insights
        component.
      operationId: webTestLocations_List
      x-ms-examples:
        WebTestLocationsList:
          $ref: ./examples/WebTestLocationsList.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentWebTestLocation:
      description: >-
        Properties that define a web test location available to an Application
        Insights Component.
      properties:
        DisplayName:
          description: The display name of the web test location.
          readOnly: true
          type: string
        Tag:
          description: Internally defined geographic location tag.
          readOnly: true
          type: string
      type: object
    ApplicationInsightsWebTestLocationsListResult:
      description: >-
        Describes the list of web test locations available to an Application
        Insights Component.
      properties:
        value:
          description: List of web test locations.
          items:
            $ref: '#/components/schemas/ApplicationInsightsComponentWebTestLocation'
          type: array
          x-ms-identifiers:
            - DisplayName
      required:
        - value
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

