openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobScheduleListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - JobSchedule
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      description: Retrieve a list of job schedules.
      operationId: JobSchedule_ListByAutomationAccount
      x-ms-examples:
        List all job schedules by automation account:
          $ref: ./examples/listAllJobSchedulesByAutomationAccount.json
      x-ms-odata: '#/components/schemas/JobSchedule'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job schedule name.
          in: path
          name: jobScheduleId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - JobSchedule
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      description: Delete the job schedule identified by job schedule name.
      operationId: JobSchedule_Delete
      x-ms-examples:
        Delete a job schedule:
          $ref: ./examples/deleteJobSchedule.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job schedule name.
          in: path
          name: jobScheduleId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - JobSchedule
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      description: Retrieve the job schedule identified by job schedule name.
      operationId: JobSchedule_Get
      x-ms-examples:
        Get a job schedule:
          $ref: ./examples/getJobSchedule.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job schedule name.
          in: path
          name: jobScheduleId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSchedule'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - JobSchedule
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      description: Create a job schedule.
      operationId: JobSchedule_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobScheduleCreateParameters'
        description: The parameters supplied to the create job schedule operation.
        required: true
      x-ms-examples:
        Create a job schedule:
          $ref: ./examples/createJobSchedule.json
components:
  schemas:
    JobSchedule:
      description: Definition of the job schedule.
      properties:
        id:
          description: Gets the id of the resource.
          readOnly: true
          type: string
        name:
          description: Gets the name of the variable.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/JobScheduleProperties'
          description: Gets or sets the properties of the job schedule.
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
    JobScheduleCreateParameters:
      description: The parameters supplied to the create job schedule operation.
      properties:
        properties:
          $ref: '#/components/schemas/JobScheduleCreateProperties'
          description: Gets or sets the list of job schedule properties.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    JobScheduleCreateProperties:
      description: The parameters supplied to the create job schedule operation.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets a list of job properties.
          type: object
        runOn:
          description: >-
            Gets or sets the hybrid worker group that the scheduled job should
            run on.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        schedule:
          $ref: '#/components/schemas/ScheduleAssociationProperty'
          description: Gets or sets the schedule.
      required:
        - schedule
        - runbook
      type: object
    JobScheduleListResult:
      description: The response model for the list job schedule operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of job schedules.
          items:
            $ref: '#/components/schemas/JobSchedule'
          type: array
      type: object
    JobScheduleProperties:
      description: Definition of job schedule parameters.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job schedule.
          type: object
        jobScheduleId:
          description: Gets or sets the id of job schedule.
          type: string
        runOn:
          description: >-
            Gets or sets the hybrid worker group that the scheduled job should
            run on.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        schedule:
          $ref: '#/components/schemas/ScheduleAssociationProperty'
          description: Gets or sets the schedule.
      type: object
    RunbookAssociationProperty:
      description: The runbook property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the runbook.
          type: string
      type: object
    ScheduleAssociationProperty:
      description: The schedule property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the Schedule.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

