openapi: 3.0.0
info:
  description: >-
    Subscription definitions client provides an interface to create, modify and
    retrieve azure subscriptions programmatically.
  title: SubscriptionDefinitionsClient
  version: 2017-11-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Subscription/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDefinitions
      description: Lists all of the available Microsoft.Subscription API operations.
      operationId: SubscriptionDefinitionsOperationMetadata_list
      x-ms-examples:
        getSubscriptionDefinitionOperations:
          $ref: ./examples/getOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Subscription/subscriptionDefinitions:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDefinitionList'
          description: >-
            Normal response for a successful query. The response body will
            contain the data that matches the filters specified in the query
            parameters.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDefinitions
      description: List an Azure subscription definition by subscriptionId.
      operationId: SubscriptionDefinitions_List
      x-ms-examples:
        ListSubscriptionDefinition:
          $ref: ./examples/listSubscriptionDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Subscription/subscriptionDefinitions/{subscriptionDefinitionName}':
    get:
      parameters:
        - description: The name of the Azure subscription definition.
          in: path
          name: subscriptionDefinitionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDefinition'
          description: >-
            Normal response for a successful query. The response body will
            contain the data that matches the filters specified in the query
            parameters.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDefinitions
      description: Get an Azure subscription definition.
      operationId: SubscriptionDefinitions_Get
      x-ms-examples:
        getSubscriptionDefinition:
          $ref: ./examples/getSubscriptionDefinition.json
    put:
      parameters:
        - description: The name of the Azure subscription definition.
          in: path
          name: subscriptionDefinitionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDefinition'
          description: >-
            Normal response for a successful query. The response body will
            contain the data that matches the filters specified in the query
            parameters.
        '202':
          description: Accepted. Subscription creation is in progress.
          headers:
            Location:
              description: >-
                GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
            Retry-After:
              description: >-
                The amount of delay to use while the status of the operation is
                checked. The value is expressed in seconds.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDefinitions
      description: Create an Azure subscription definition.
      operationId: SubscriptionDefinitions_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionDefinition'
        description: The subscription definition creation.
        required: true
      x-ms-examples:
        createSubscriptionDefinition:
          $ref: ./examples/createSubscriptionDefinition.json
      x-ms-long-running-operation: true
  '/providers/Microsoft.Subscription/subscriptionOperations/{operationId}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            The operation ID, which can be found from the Location field in the
            generate recommendation response header.
          in: path
          name: operationId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDefinition'
          description: Successful completion of the asynchronous operation
        '202':
          description: Accepted. Subscription update is in progress.
          headers:
            Location:
              description: >-
                The URL where the status of the asynchronous operation can be
                checked.
              schema:
                type: string
            Retry-After:
              description: >-
                The amount of delay to use while the status of the operation is
                checked. The value is expressed in seconds.
              schema:
                type: string
      tags:
        - SubscriptionDefinitions
      deprecated: false
      description: >-
        Retrieves the status of the subscription definition PUT operation. The
        URI of this API is returned in the Location field of the response
        header.
      operationId: SubscriptionDefinitions_GetOperationStatus
      x-ms-examples:
        getSubscriptionDefinitionOperation:
          $ref: ./examples/getSubscriptionDefinitionOperation.json
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. Current version
        is 2015-06-01
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Operation:
      description: REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.Subscription'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: Profile, endpoint,
                etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    SubscriptionDefinition:
      description: The subscription definition used to create the subscription.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/SubscriptionDefinitionProperties'
          description: the subscription definition properties
          x-ms-client-flatten: true
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SubscriptionDefinitionList:
      description: Subscription Definition List operation response.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: An array of subscriptionDefinitions
          items:
            $ref: '#/components/schemas/SubscriptionDefinition'
          type: array
      type: object
    SubscriptionDefinitionProperties:
      description: The subscription definition properties.
      properties:
        etag:
          description: The etag the subscription definition.
          type: string
        offerType:
          description: >-
            The offer type of the subscription. For example, MS-AZR-0017P
            (EnterpriseAgreement) and MS-AZR-0148P (EnterpriseAgreement devTest)
            are available.
          type: string
          x-ms-mutability:
            - create
            - read
        subscriptionDisplayName:
          description: The display name of the subscription.
          type: string
        subscriptionId:
          description: The ID of the subscription.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

