openapi: 3.0.0
info:
  description: >-
    These APIs allow end users to operate on Azure Machine Learning Workspace
    resources.
  title: Azure Machine Learning Workspaces
  version: 2018-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Operation
      description: >-
        Lists all of the available Azure Machine Learning Workspaces REST API
        operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PaginationParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: >-
        Lists all the available machine learning workspaces under the specified
        subscription.
      operationId: Workspaces_ListBySubscription
      x-ms-examples:
        Get Workspaces by subscription:
          $ref: ./examples/getWorkspacesBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/PaginationParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: >-
        Lists all the available machine learning workspaces under the specified
        resource group.
      operationId: Workspaces_ListByResourceGroup
      x-ms-examples:
        Get Workspaces by Resource Group:
          $ref: ./examples/getWorkspacesByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        '202':
          description: >-
            The request was accepted; the request was well-formed and received
            properly.
        '204':
          description: The machine learning workspace does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      x-ms-examples:
        Delete Workspace:
          $ref: ./examples/deleteWorkspace.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      x-ms-examples:
        Get Workspace:
          $ref: ./examples/getWorkspace.json
    patch:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateParameters'
        description: The parameters for updating a machine learning workspace.
        required: true
      x-ms-examples:
        Update Workspace:
          $ref: ./examples/updateWorkspace.json
    put:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: Creates or updates a workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a machine learning workspace.
        required: true
      x-ms-examples:
        Create Workspace:
          $ref: ./examples/createWorkspace.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/PaginationParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComputeResourcesList'
          description: >-
            The response includes a paginated array of Machine Learning computes
            and a URI to the next set of results, if any. For the more
            information the limits of the number of items in a resource group,
            see
            https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      description: Gets computes in specified workspace.
      operationId: MachineLearningCompute_ListByWorkspace
      x-ms-examples:
        Get Computes:
          $ref: ./examples/getComputes.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ComputeNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        '202':
          description: Compute deletion initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      description: Deletes specified Machine Learning compute.
      operationId: MachineLearningCompute_Delete
      x-ms-examples:
        Delete Compute:
          $ref: ./examples/deleteCompute.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ComputeNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeResource'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      description: >-
        Gets compute definition by its name. Any secrets (storage keys, service
        credentials, etc) are not returned - use 'keys' nested resource to get
        them.
      operationId: MachineLearningCompute_Get
      x-ms-examples:
        Get a AKS Compute:
          $ref: ./examples/getAKSCompute.json
        Get a BatchAI Compute:
          $ref: ./examples/getBatchAICompute.json
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ComputeNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: Compute System updated.
        '202':
          description: Compute System Update initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      description: System Update On Machine Learning compute.
      operationId: MachineLearningCompute_SystemUpdate
      x-ms-examples:
        System Update Compute:
          $ref: ./examples/systemUpdateCompute.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ComputeNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeResource'
          description: Compute creation or update initiated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeResource'
          description: Compute creation or update initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the request failed.
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      description: >-
        Creates or updates compute. This call will overwrite a compute if it
        exists. This is a nonrecoverable operation. If your intent is to create
        a new compute, do a GET first to verify that it does not exist yet.
      operationId: MachineLearningCompute_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeResource'
        description: Payload with Machine Learning compute definition.
        required: true
      x-ms-examples:
        Create AKS Compute:
          $ref: ./examples/createBasicAKSCompute.json
        Create a BatchAI Compute:
          $ref: ./examples/createBasicBatchAICompute.json
        Create a DataFactory Compute:
          $ref: ./examples/createBasicDataFactoryCompute.json
        Update a AKS Compute:
          $ref: ./examples/updateAKSCompute.json
        Update a BatchAI Compute:
          $ref: ./examples/updateBatchAICompute.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
        - $ref: '#/components/parameters/ComputeNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeSecrets'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed.
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      description: >-
        Gets secrets related to Machine Learning compute (storage keys, service
        credentials, etc).
      operationId: MachineLearningCompute_ListKeys
      x-ms-examples:
        List AKS Compute Keys:
          $ref: ./examples/listKeysAKSCompute.json
        List BatchAI Compute Keys:
          $ref: ./examples/listKeysAKSCompute.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceKeysResult'
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: >-
        Lists all the keys associated with this workspace. This includes keys
        for the storage account, app insights and password for container
        registry
      operationId: Workspaces_ListKeys
      x-ms-examples:
        List Workspace Keys:
          $ref: ./examples/listWorkspaceKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/resyncKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/APIVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineLearningServiceError'
          description: Error response describing why the operation failed
      tags:
        - Workspaces
      description: >-
        Resync all the keys associated with this workspace. This includes keys
        for the storage account, app insights and password for container
        registry
      operationId: Workspaces_ResyncKeys
      x-ms-examples:
        Resync Workspace Keys:
          $ref: ./examples/resyncWorkspaceKeys.json
components:
  parameters:
    APIVersionParameter:
      description: Version of Azure Machine Learning resource provider API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    AsyncOperationIdParameter:
      description: Identifier of an asynchronous Azure Machine Learning compute operation.
      in: path
      name: asyncOperationId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ComputeNameParameter:
      description: Name of the Azure Machine Learning compute.
      in: path
      name: computeName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ComputeTypeParameter:
      description: Type of compute to filter by.
      in: query
      name: compute-type
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    LocationParameter:
      description: The name of the Azure location/region.
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PaginationParameter:
      description: Continuation token for pagination.
      in: query
      name: $skiptoken
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the resource group in which workspace is located.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Azure subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceNameParameter:
      description: Name of Azure Machine Learning workspace.
      in: path
      name: workspaceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AKS:
      allOf:
        - $ref: '#/components/schemas/Compute'
        - properties:
            properties:
              description: AKS properties
              properties:
                agentCount:
                  description: Number of agents
                  minimum: 1
                  type: integer
                agentVMSize:
                  description: Agent virtual machine size
                  type: string
                clusterFqdn:
                  description: Cluster full qualified domain name
                  type: string
                sslConfiguration:
                  $ref: '#/components/schemas/SslConfiguration'
                  description: SSL configuration
                systemServices:
                  description: System services
                  items:
                    $ref: '#/components/schemas/SystemService'
                  type: array
              type: object
          type: object
      description: A Machine Learning compute based on AKS.
      x-ms-discriminator-value: AKS
    AksComputeSecrets:
      allOf:
        - $ref: '#/components/schemas/ComputeSecrets'
        - properties:
            adminKubeConfig:
              description: >-
                Content of kubeconfig file that can be used to connect to the
                Kubernetes cluster.
              type: string
            imagePullSecretName:
              description: Image registry pull secret.
              type: string
            userKubeConfig:
              description: >-
                Content of kubeconfig file that can be used to connect to the
                Kubernetes cluster.
              type: string
          type: object
      description: Secrets related to a Machine Learning compute based on AKS.
      x-ms-discriminator-value: AKS
    BatchAI:
      allOf:
        - $ref: '#/components/schemas/Compute'
        - properties:
            properties:
              description: BatchAI properties
              properties:
                scaleSettings:
                  $ref: '#/components/schemas/ScaleSettings'
                  description: Scale settings for BatchAI
                vmPriority:
                  description: Virtual Machine priority
                  type: string
                vmSize:
                  description: Virtual Machine Size
                  type: string
              type: object
          type: object
      description: A Machine Learning compute based on Azure BatchAI.
      x-ms-discriminator-value: BatchAI
    Compute:
      description: Machine Learning compute object.
      discriminator:
        propertyName: computeType
      properties:
        computeLocation:
          description: Location for the underlying compute
          type: string
        computeType:
          $ref: '#/components/schemas/ComputeType'
          description: The type of compute
        createdOn:
          description: The date and time when the compute was created.
          format: date-time
          readOnly: true
          type: string
        description:
          description: The description of the Machine Learning compute.
          type: string
        modifiedOn:
          description: The date and time when the compute was last modified.
          format: date-time
          readOnly: true
          type: string
        provisioningErrors:
          description: Errors during provisioning
          items:
            $ref: '#/components/schemas/MachineLearningServiceError'
          readOnly: true
          type: array
        provisioningState:
          description: >-
            The provision state of the cluster. Valid values are Unknown,
            Updating, Provisioning, Succeeded, and Failed.
          enum:
            - Unknown
            - Updating
            - Creating
            - Deleting
            - Succeeded
            - Failed
            - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        resourceId:
          description: ARM resource id of the compute
          type: string
      required:
        - computeType
      type: object
    ComputeResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
        - properties:
            properties:
              $ref: '#/components/schemas/Compute'
              description: Compute properties
          type: object
      description: Machine Learning compute object wrapped into ARM resource envelope.
      type: object
    ComputeSecrets:
      description: >-
        Secrets related to a Machine Learning compute. Might differ for every
        type of compute.
      discriminator:
        propertyName: computeType
      properties:
        computeType:
          $ref: '#/components/schemas/ComputeType'
          description: The type of compute
      required:
        - computeType
      type: object
    ComputeType:
      description: The type of compute
      enum:
        - AKS
        - BatchAI
        - DataFactory
        - VirtualMachine
        - HDInsight
      type: string
      x-ms-enum:
        modelAsString: true
        name: ComputeType
    DataFactory:
      allOf:
        - $ref: '#/components/schemas/Compute'
      description: A DataFactory compute.
      x-ms-discriminator-value: DataFactory
    ErrorDetail:
      description: Error detail information.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
      required:
        - code
        - message
      type: object
    ErrorResponse:
      description: Error response information.
      properties:
        code:
          description: Error code.
          type: string
        details:
          description: An array of error detail objects.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        message:
          description: Error message.
          type: string
      required:
        - code
        - message
      type: object
    HDInsight:
      allOf:
        - $ref: '#/components/schemas/Compute'
        - properties:
            properties:
              properties:
                address:
                  description: Public IP address of the master node of the cluster.
                  type: string
                administratorAccount:
                  $ref: '#/components/schemas/VirtualMachineSshCredentials'
                  description: Admin credentials for master node of the cluster
                sshPort:
                  description: >-
                    Port open for ssh connections on the master node of the
                    cluster.
                  type: integer
              type: object
          type: object
      description: A HDInsight compute.
      x-ms-discriminator-value: HDInsight
    Identity:
      description: Identity for the resource.
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          type: string
        type:
          description: The identity type.
          enum:
            - SystemAssigned
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      type: object
    ListWorkspaceKeysResult:
      properties:
        appInsightsInstrumentationKey:
          readOnly: true
          type: string
        containerRegistryCredentials:
          $ref: '#/components/schemas/RegistryListCredentialsResult'
          readOnly: true
        userStorageKey:
          readOnly: true
          type: string
        userStorageResourceId:
          readOnly: true
          type: string
      type: object
    MachineLearningServiceError:
      description: Wrapper for error response to follow ARM guidelines.
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse'
          description: The error response.
      type: object
    Operation:
      description: Azure Machine Learning workspace REST API operation
      properties:
        display:
          description: Display name of operation
          properties:
            description:
              description: The description for the operation.
              type: string
            operation:
              description: The operation that users can perform.
              type: string
            provider:
              description: >-
                The resource provider name:
                Microsoft.MachineLearningExperimentation
              type: string
            resource:
              description: The resource on which the operation is performed.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: An array of operations supported by the resource provider.
      properties:
        value:
          description: >-
            List of AML workspace operations supported by the AML workspace
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    PaginatedComputeResourcesList:
      description: >-
        Paginated list of Machine Learning compute objects wrapped in ARM
        resource envelope.
      properties:
        nextLink:
          description: >-
            A continuation link (absolute URI) to the next page of results in
            the list.
          type: string
        value:
          description: >-
            An array of Machine Learning compute objects wrapped in ARM resource
            envelope.
          items:
            $ref: '#/components/schemas/ComputeResource'
          type: array
      type: object
    Password:
      properties:
        name:
          readOnly: true
          type: string
        value:
          readOnly: true
          type: string
      type: object
    RegistryListCredentialsResult:
      properties:
        location:
          readOnly: true
          type: string
        passwords:
          items:
            $ref: '#/components/schemas/Password'
          type: array
        username:
          readOnly: true
          type: string
      type: object
    Resource:
      description: Azure Resource Manager resource envelope.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Contains resource tags defined as key/value pairs.
          type: object
        id:
          description: Specifies the resource ID.
          readOnly: true
          type: string
        identity:
          $ref: '#/components/schemas/Identity'
          description: The identity of the resource.
        location:
          description: Specifies the location of the resource.
          type: string
        name:
          description: Specifies the name of the resource.
          readOnly: true
          type: string
        type:
          description: Specifies the type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ScaleSettings:
      description: scale settings for BatchAI Compute
      properties:
        autoScaleEnabled:
          description: Enable or disable auto scale
          type: boolean
        maxNodeCount:
          description: Max number of nodes to use
          type: integer
        minNodeCount:
          description: Min number of nodes to use
          type: integer
      type: object
    ServicePrincipalCredentials:
      description: Service principal credentials.
      properties:
        clientId:
          description: Client Id
          type: string
        clientSecret:
          description: Client secret
          type: string
      required:
        - clientId
        - clientSecret
      type: object
    SslConfiguration:
      description: The SSL configuration for scoring
      properties:
        cert:
          description: Cert data
          type: string
        cname:
          description: CNAME of the cert
          type: string
        key:
          description: Key data
          type: string
        status:
          description: Enable or disable SSL for scoring
          enum:
            - Disabled
            - Enabled
          type: string
      type: object
    SystemService:
      description: A system service running on a compute.
      properties:
        publicIpAddress:
          description: Public IP address
          readOnly: true
          type: string
        systemServiceType:
          description: The type of this system service.
          readOnly: true
          type: string
        version:
          description: The version for this type.
          readOnly: true
          type: string
      type: object
    VirtualMachine:
      allOf:
        - $ref: '#/components/schemas/Compute'
        - properties:
            properties:
              properties:
                address:
                  description: Public IP address of the virtual machine.
                  type: string
                administratorAccount:
                  $ref: '#/components/schemas/VirtualMachineSshCredentials'
                  description: Admin credentials for virtual machine
                sshPort:
                  description: Port open for ssh connections.
                  type: integer
                virtualMachineSize:
                  description: Virtual Machine size
                  type: string
              type: object
          type: object
      description: A Machine Learning compute based on Azure Virtual Machines.
      x-ms-discriminator-value: VirtualMachine
    VirtualMachineSecrets:
      allOf:
        - $ref: '#/components/schemas/ComputeSecrets'
        - properties:
            administratorAccount:
              $ref: '#/components/schemas/VirtualMachineSshCredentials'
              description: Admin credentials for virtual machine.
          type: object
      description: Secrets related to a Machine Learning compute based on AKS.
      x-ms-discriminator-value: VirtualMachine
    VirtualMachineSshCredentials:
      description: Admin credentials for virtual machine
      properties:
        password:
          description: Password of admin account
          type: string
        privateKeyData:
          description: Private key data
          type: string
        publicKeyData:
          description: Public key data
          type: string
        username:
          description: Username of admin account
          type: string
      type: object
    Workspace:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning workspace.
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
          description: The properties of the machine learning workspace.
          x-ms-client-flatten: true
      type: object
    WorkspaceListResult:
      description: The result of a request to list machine learning workspaces.
      properties:
        nextLink:
          description: >-
            The URI that can be used to request the next list of machine
            learning workspaces.
          type: string
        value:
          description: >-
            The list of machine learning workspaces. Since this list may be
            incomplete, the nextLink field should be used to request the next
            list of machine learning workspaces.
          items:
            $ref: '#/components/schemas/Workspace'
          type: array
      type: object
    WorkspaceProperties:
      description: The properties of a machine learning workspace.
      properties:
        applicationInsights:
          description: >-
            ARM id of the application insights associated with this workspace.
            This cannot be changed once the workspace has been created
          type: string
        batchaiWorkspace:
          description: >-
            ARM id of the Batch AI workspace associated with this workspace.
            This cannot be changed once the workspace has been created
          type: string
        containerRegistry:
          description: >-
            ARM id of the container registry associated with this workspace.
            This cannot be changed once the workspace has been created
          type: string
        creationTime:
          description: >-
            The creation time of the machine learning workspace in ISO8601
            format.
          format: date-time
          readOnly: true
          type: string
        description:
          description: The description of this workspace.
          type: string
        discoveryUrl:
          description: >-
            Url for the discovery service to identify regional endpoints for
            machine learning experimentation services
          type: string
        friendlyName:
          description: The friendly name for this workspace. This name in mutable
          type: string
        keyVault:
          description: >-
            ARM id of the key vault associated with this workspace. This cannot
            be changed once the workspace has been created
          type: string
        provisioningState:
          description: >-
            The current deployment state of workspace resource. The
            provisioningState is to indicate states for resource provisioning.
          enum:
            - Unknown
            - Updating
            - Creating
            - Deleting
            - Succeeded
            - Failed
            - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        storageAccount:
          description: >-
            ARM id of the storage account associated with this workspace. This
            cannot be changed once the workspace has been created
          type: string
        workspaceId:
          description: The immutable id associated with this workspace.
          readOnly: true
          type: string
      type: object
    WorkspacePropertiesUpdateParameters:
      description: >-
        The parameters for updating the properties of a machine learning
        workspace.
      properties:
        description:
          description: The description of this workspace.
          type: string
        friendlyName:
          description: The friendly name for this workspace.
          type: string
      type: object
    WorkspaceUpdateParameters:
      description: The parameters for updating a machine learning workspace.
      properties:
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning workspace.
          type: object
        properties:
          $ref: '#/components/schemas/WorkspacePropertiesUpdateParameters'
          description: >-
            The properties that the machine learning workspace will be updated
            with.
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

