openapi: 3.0.0
info:
  description: Azure Application Insights client for web test based alerting.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Insights/webtests':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webTestListResult'
          description: A list of 0 or more Application Insights web test definitions.
      description: >-
        Get all Application Insights web test alerts definitions within a
        subscription.
      operationId: WebTests_List
      x-ms-examples:
        webTestList:
          $ref: ./examples/WebTestList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{componentName}/webtests':
    get:
      parameters:
        - $ref: '#/components/parameters/ComponentNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webTestListResult'
          description: A list containing 0 or more web test definitions.
      description: >-
        Get all Application Insights web tests defined for the specified
        component.
      operationId: WebTests_ListByComponent
      x-ms-examples:
        webTestListByComponent:
          $ref: ./examples/WebTestListByComponent.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/webtests':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webTestListResult'
          description: A list containing 0 or more web test definitions.
      description: >-
        Get all Application Insights web tests defined within a specified
        resource group.
      operationId: WebTests_ListByResourceGroup
      x-ms-examples:
        webTestListByResourceGroup:
          $ref: ./examples/WebTestListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/webtests/{webTestName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/WebTestNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successful request to delete a web test definition.
        '204':
          description: >-
            No content: the request was successful, but the response is empty
            (the request to delete failed because the specified web test does
            not exist).
      description: Deletes an Application Insights web test.
      operationId: WebTests_Delete
      x-ms-examples:
        webTestDelete:
          $ref: ./examples/WebTestDelete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/WebTestNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebTest'
          description: Ann Application Insights web test definition.
      description: Get a specific Application Insights web test definition.
      operationId: WebTests_Get
      x-ms-examples:
        webTestGet:
          $ref: ./examples/WebTestGet.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/WebTestNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebTest'
          description: >-
            Updating the Application Insights web test tags was successful. Web
            test tags are updated and returned with the rest of the WebTest
            object properties.
      description: Creates or updates an Application Insights web test definition.
      operationId: WebTests_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        description: Updated tag information to set into the web test instance.
        required: true
      x-ms-examples:
        webTestUpdateTags:
          $ref: ./examples/WebTestUpdateTagsOnly.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/WebTestNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebTest'
          description: >-
            Adding the Application Insights web test was successful. Web test
            properties are updated and returned.
      description: Creates or updates an Application Insights web test definition.
      operationId: WebTests_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebTest'
        description: >-
          Properties that need to be specified to create or update an
          Application Insights web test definition.
        required: true
      x-ms-examples:
        webTestCreate:
          $ref: ./examples/WebTestCreate.json
        webTestUpdate:
          $ref: ./examples/WebTestUpdate.json
components:
  parameters:
    ComponentNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: componentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    WebTestNameParameter:
      description: The name of the Application Insights webtest resource.
      in: path
      name: webTestName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    TagsResource:
      description: >-
        A container holding only the Tags for a resource, allowing the user to
        update the tags on a WebTest instance.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
      type: object
    WebTest:
      allOf:
        - $ref: '#/components/schemas/WebtestsResource'
      description: An Application Insights web test definition.
      properties:
        kind:
          default: ping
          description: >-
            The kind of web test that this web test watches. Choices are ping
            and multistep.
          enum:
            - ping
            - multistep
          type: string
          x-ms-enum:
            modelAsString: false
            name: WebTestKind
        properties:
          $ref: '#/components/schemas/WebTestProperties'
          description: Metadata describing a web test for an Azure resource.
          x-ms-client-flatten: true
      type: object
    WebTestGeolocation:
      description: >-
        Geo-physical location to run a web test from. You must specify one or
        more locations for the test to run from.
      properties:
        Id:
          description: Location ID for the webtest to run from.
          type: string
          x-ms-client-name: location
      type: object
    WebTestProperties:
      description: Metadata describing a web test for an Azure resource.
      properties:
        Configuration:
          description: An XML configuration specification for a WebTest.
          properties:
            WebTest:
              description: >-
                The XML specification of a WebTest to run against an
                application.
              type: string
          type: object
        Description:
          description: Purpose/user defined descriptive test for this WebTest.
          type: string
        Enabled:
          description: Is the test actively being monitored.
          type: boolean
        Frequency:
          default: 300
          description: >-
            Interval in seconds between test runs for this WebTest. Default
            value is 300.
          format: int32
          type: integer
        Kind:
          default: ping
          description: 'The kind of web test this is, valid choices are ping and multistep.'
          enum:
            - ping
            - multistep
          type: string
          x-ms-client-name: WebTestKind
          x-ms-enum:
            modelAsString: false
            name: WebTestKind
        Locations:
          description: >-
            A list of where to physically run the tests from to give global
            coverage for accessibility of your application.
          items:
            $ref: '#/components/schemas/WebTestGeolocation'
          type: array
          x-ms-identifiers:
            - Id
        Name:
          description: User defined name if this WebTest.
          type: string
          x-ms-client-name: WebTestName
        RetryEnabled:
          description: Allow for retries should this WebTest fail.
          type: boolean
        SyntheticMonitorId:
          description: >-
            Unique ID of this WebTest. This is typically the same value as the
            Name field.
          type: string
        Timeout:
          default: 30
          description: >-
            Seconds until this WebTest will timeout and fail. Default value is
            30.
          format: int32
          type: integer
        provisioningState:
          description: >-
            Current state of this component, whether or not is has been
            provisioned within the resource group it is defined. Users cannot
            change this value but are able to read from it. Values will include
            Succeeded, Deploying, Canceled, and Failed.
          readOnly: true
          type: string
      required:
        - Name
        - Kind
        - Locations
        - SyntheticMonitorId
      type: object
    WebtestsResource:
      description: An azure resource object
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    webTestListResult:
      description: A list of 0 or more Application Insights web test definitions.
      properties:
        nextLink:
          description: >-
            The link to get the next part of the returned list of web tests,
            should the return set be too large for a single request. May be
            null.
          type: string
        value:
          description: Set of Application Insights web test definitions.
          items:
            $ref: '#/components/schemas/WebTest'
          type: array
      required:
        - value
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

