openapi: 3.0.0
info:
  description: Azure Application Insights client for Annotations for a component.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/Annotations':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/EndParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationsListResult'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationError'
          description: Error response describing why the operation failed.
      description: Gets the list of annotations for a component for given time range
      operationId: Annotations_List
      x-ms-examples:
        AnnotationsList:
          $ref: ./examples/AnnotationsList.json
      x-ms-pageable:
        nextLinkName: null
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: >-
            An object containing the annotation definition created by this PUT
            call.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationError'
          description: Error response describing why the operation failed.
      description: Create an Annotation of an Application Insights component.
      operationId: Annotations_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotation'
        description: >-
          Properties that need to be specified to create an annotation of a
          Application Insights component.
        required: true
      x-ms-examples:
        AnnotationsCreate:
          $ref: ./examples/AnnotationsCreate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/Annotations/{annotationId}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AnnotationIdParameter'
      responses:
        '200':
          description: The annotation that was successfully deleted.
      description: Delete an Annotation of an Application Insights component.
      operationId: Annotations_Delete
      x-ms-examples:
        AnnotationsDelete:
          $ref: ./examples/AnnotationsDelete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AnnotationIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: The Annotation object for this id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationError'
          description: Error response describing why the operation failed.
      description: Get the annotation for given id.
      operationId: Annotations_Get
      x-ms-examples:
        AnnotationsGet:
          $ref: ./examples/AnnotationsGet.json
components:
  parameters:
    AnnotationIdParameter:
      description: >-
        The unique annotation ID. This is unique within a Application Insights
        component.
      in: path
      name: annotationId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    EndParameter:
      description: The end time to query for annotations.
      in: query
      name: end
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    StartParameter:
      description: >-
        The start time to query from for annotations, cannot be older than 90
        days from current date.
      in: query
      name: start
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Annotation:
      description: Annotation associated with an application insights resource.
      properties:
        AnnotationName:
          description: Name of annotation
          type: string
        Category:
          description: 'Category of annotation, free form'
          type: string
        EventTime:
          description: Time when event occurred
          format: date-time
          type: string
        Id:
          description: Unique Id for annotation
          type: string
        Properties:
          description: Serialized JSON object for detailed properties
          type: string
        RelatedAnnotation:
          default: 'null'
          description: Related parent annotation if any
          type: string
      type: object
    AnnotationError:
      description: >-
        Error associated with trying to create annotation with Id that already
        exist
      properties:
        code:
          description: Error detail code and explanation
          type: string
        innererror:
          $ref: '#/components/schemas/InnerError'
        message:
          description: Error message
          type: string
      type: object
    AnnotationsListResult:
      description: Annotations list result.
      properties:
        value:
          description: An array of annotations.
          items:
            $ref: '#/components/schemas/Annotation'
          readOnly: true
          type: array
          x-ms-identifiers:
            - Id
      type: object
    InnerError:
      description: Inner error
      properties:
        diagnosticcontext:
          description: Provides correlation for request
          type: string
        time:
          description: Request time
          format: date-time
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

