{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.",
    "title": "MariaDBManagementClient",
    "version": "2018-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/PerformanceRecommendations.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/recommendedActionSessionsAzureAsyncOperation/{operationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/LocationNameParameter"
          },
          {
            "$ref": "#/components/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedActionSessionsOperationStatus"
                }
              }
            },
            "description": "OK."
          }
        },
        "tags": [
          "LocationBasedRecommendedActionSessionsOperationStatus"
        ],
        "description": "Recommendation action session operation status.",
        "operationId": "LocationBasedRecommendedActionSessionsOperationStatus_Get",
        "x-ms-examples": {
          "RecommendedActionSessionOperationStatus": {
            "$ref": "./examples/RecommendedActionSessionOperationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/recommendedActionSessionsOperationResults/{operationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/LocationNameParameter"
          },
          {
            "$ref": "#/components/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationActionsResultList"
                }
              }
            },
            "description": "Created"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationActionsResultList"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "LocationBasedRecommendedActionSessionsResult"
        ],
        "description": "Recommendation action session operation result.",
        "operationId": "LocationBasedRecommendedActionSessionsResult_List",
        "x-ms-examples": {
          "RecommendedActionSessionResult": {
            "$ref": "./examples/RecommendedActionSessionResult.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvisorsResultList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Advisors"
        ],
        "description": "List recommendation action advisors.",
        "operationId": "Advisors_ListByServer",
        "x-ms-examples": {
          "AdvisorsListByServer": {
            "$ref": "./examples/AdvisorsListByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/AdvisorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advisor"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Advisors"
        ],
        "description": "Get a recommendation action advisor.",
        "operationId": "Advisors_Get",
        "x-ms-examples": {
          "AdvisorsGet": {
            "$ref": "./examples/AdvisorsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/createRecommendedActionSession": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/AdvisorNameParameter"
          },
          {
            "description": "The name of the database.",
            "in": "query",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "RecommendedActionSessions"
        ],
        "description": "Create recommendation action session for the advisor.",
        "operationId": "CreateRecommendedActionSession",
        "x-ms-examples": {
          "RecommendedActionSessionCreate": {
            "$ref": "./examples/RecommendedActionSessionCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/recommendedActions": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/AdvisorNameParameter"
          },
          {
            "description": "The recommendation action session identifier.",
            "in": "query",
            "name": "sessionId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationActionsResultList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "RecommendedActions"
        ],
        "description": "Retrieve recommended actions from the advisor.",
        "operationId": "RecommendedActions_ListByServer",
        "x-ms-examples": {
          "RecommendedActionsListByServer": {
            "$ref": "./examples/RecommendedActionsListByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/AdvisorNameParameter"
          },
          {
            "$ref": "#/components/parameters/RecommendedActionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationAction"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "RecommendedActions"
        ],
        "description": "Retrieve recommended actions from the advisor.",
        "operationId": "RecommendedActions_Get",
        "x-ms-examples": {
          "RecommendedActionsGet": {
            "$ref": "./examples/RecommendedActionsGet.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AdvisorNameParameter": {
        "description": "The advisor name for recommendation action.",
        "in": "path",
        "name": "advisorName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "LocationNameParameter": {
        "description": "The name of the location.",
        "in": "path",
        "name": "locationName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "OperationIdParameter": {
        "description": "The operation identifier.",
        "in": "path",
        "name": "operationId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "RecommendedActionNameParameter": {
        "description": "The recommended action name.",
        "in": "path",
        "name": "recommendedActionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Advisor": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a recommendation action advisor.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AdvisorProperties",
            "description": "The properties of a recommendation action advisor.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AdvisorProperties": {
        "description": "The properties of a recommendation action advisor.",
        "properties": {},
        "type": "object"
      },
      "AdvisorsResultList": {
        "description": "A list of query statistics.",
        "properties": {
          "nextLink": {
            "description": "Link to retrieve next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The list of recommendation action advisors.",
            "items": {
              "$ref": "#/components/schemas/Advisor"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "RecommendationAction": {
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a Recommendation Action.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RecommendationActionProperties",
            "description": "The properties of a recommendation action.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RecommendationActionProperties": {
        "description": "The properties of a recommendation action.",
        "properties": {
          "actionId": {
            "description": "Recommendation action identifier.",
            "format": "int32",
            "type": "integer"
          },
          "advisorName": {
            "description": "Advisor name.",
            "type": "string"
          },
          "createdTime": {
            "description": "Recommendation action creation time.",
            "format": "date-time",
            "type": "string"
          },
          "details": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Recommendation action details.",
            "type": "object"
          },
          "expirationTime": {
            "description": "Recommendation action expiration time.",
            "format": "date-time",
            "type": "string"
          },
          "reason": {
            "description": "Recommendation action reason.",
            "type": "string"
          },
          "recommendationType": {
            "description": "Recommendation action type.",
            "type": "string"
          },
          "sessionId": {
            "description": "Recommendation action session identifier.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RecommendationActionsResultList": {
        "description": "A list of recommendation actions.",
        "properties": {
          "nextLink": {
            "description": "Link to retrieve next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The list of recommendation action advisors.",
            "items": {
              "$ref": "#/components/schemas/RecommendationAction"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "RecommendedActionSessionsOperationStatus": {
        "description": "Recommendation action session operation status.",
        "properties": {
          "name": {
            "description": "Operation identifier.",
            "type": "string"
          },
          "startTime": {
            "description": "Operation start time.",
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "description": "Operation status.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}