openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/SubscriptionList
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - DelegatedProviders
      description: Get the list of delegatedProviders.
      operationId: DelegatedProviders_List
      x-ms-examples:
        Get the list of delegatedProviders.:
          $ref: ./examples/DelegatedProvider/List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProvider}':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/DelegatedProviderParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/SubscriptionDefinition
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - DelegatedProviders
      description: Get the specified delegated provider.
      operationId: DelegatedProviders_Get
      x-ms-examples:
        Get the specified delegated provider.:
          $ref: ./examples/DelegatedProvider/Get.json
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

