openapi: 3.0.0
info:
  title: CostManagementClient
  version: '2019-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.CostManagement/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available cost management REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/scopeDimensionParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by the defined scope.
      operationId: Dimensions_ListBySubscription
      x-ms-examples:
        BillingAccountDimensionsList:
          $ref: ./examples/BillingAccountDimensionsList.json
        BillingAccountDimensionsListExpandAndTop:
          $ref: ./examples/BillingAccountDimensionsListExpandAndTop.json
        BillingAccountDimensionsListWithFilter:
          $ref: ./examples/BillingAccountDimensionsListWithFilter.json
        DepartmentDimensionsList:
          $ref: ./examples/DepartmentDimensionsList.json
        DepartmentDimensionsListExpandAndTop:
          $ref: ./examples/DepartmentDimensionsListExpandAndTop.json
        DepartmentDimensionsListWithFilter:
          $ref: ./examples/DepartmentDimensionsListWithFilter.json
        EnrollmentAccountDimensionsList:
          $ref: ./examples/EnrollmentAccountDimensionsList.json
        EnrollmentAccountDimensionsListExpandAndTop:
          $ref: ./examples/EnrollmentAccountDimensionsListExpandAndTop.json
        EnrollmentAccountDimensionsListWithFilter:
          $ref: ./examples/EnrollmentAccountDimensionsListWithFilter.json
        ManagementGroupDimensionsList:
          $ref: ./examples/ManagementGroupDimensionsList.json
        ManagementGroupDimensionsListExpandAndTop:
          $ref: ./examples/ManagementGroupDimensionsListExpandAndTop.json
        ManagementGroupDimensionsListWithFilter:
          $ref: ./examples/ManagementGroupDimensionsListWithFilter.json
        ResourceGroupDimensionsList:
          $ref: ./examples/ResourceGroupDimensionsList.json
        SubscriptionDimensionsList:
          $ref: ./examples/SubscriptionDimensionsList.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/{scope}/providers/Microsoft.CostManagement/exports':
    get:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Exports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to list all exports at the given scope.
      operationId: Exports_List
      x-ms-examples:
        BillingAccountExportList:
          $ref: ./examples/ExportListByBillingAccount.json
        DepartmentExportList:
          $ref: ./examples/ExportListByDepartment.json
        EnrollmentAccountExportList:
          $ref: ./examples/ExportListByEnrollmentAccount.json
        ManagementGroupExportList:
          $ref: ./examples/ExportListByManagementGroup.json
        ResourceGroupExportList:
          $ref: ./examples/ExportListByResourceGroup.json
        SubscriptionExportList:
          $ref: ./examples/ExportListBySubscription.json
  '/{scope}/providers/Microsoft.CostManagement/exports/{exportName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/exportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Exports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a export.
      operationId: Exports_Delete
      x-ms-examples:
        BillingAccountDeleteExport:
          $ref: ./examples/ExportDeleteByBillingAccount.json
        DepartmentDeleteExport:
          $ref: ./examples/ExportDeleteByDepartment.json
        EnrollmentAccountDeleteExport:
          $ref: ./examples/ExportDeleteByEnrollmentAccount.json
        ManagementGroupDeleteExport:
          $ref: ./examples/ExportDeleteByManagementGroup.json
        ResourceGroupDeleteExport:
          $ref: ./examples/ExportDeleteByResourceGroup.json
        SubscriptionDeleteExport:
          $ref: ./examples/ExportDeleteBySubscription.json
    get:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/exportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Exports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to get the export for the defined scope by export name.
      operationId: Exports_Get
      x-ms-examples:
        BillingAccountExport:
          $ref: ./examples/ExportByBillingAccount.json
        DepartmentExport:
          $ref: ./examples/ExportByDepartment.json
        EnrollmentAccountExport:
          $ref: ./examples/ExportByEnrollmentAccount.json
        ManagementGroupExport:
          $ref: ./examples/ExportByManagementGroup.json
        ResourceGroupExport:
          $ref: ./examples/ExportByResourceGroup.json
        SubscriptionExport:
          $ref: ./examples/ExportBySubscription.json
    put:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/exportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Exports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a export. Update operation requires
        latest eTag to be set in the request. You may obtain the latest eTag by
        performing a get operation. Create operation does not require eTag.
      operationId: Exports_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Export'
        description: Parameters supplied to the CreateOrUpdate Export operation.
        required: true
      x-ms-examples:
        BillingAccountCreateOrUpdateExport:
          $ref: ./examples/ExportCreateOrUpdateByBillingAccount.json
        DepartmentCreateOrUpdateExport:
          $ref: ./examples/ExportCreateOrUpdateByDepartment.json
        EnrollmentAccountCreateOrUpdateExport:
          $ref: ./examples/ExportCreateOrUpdateByEnrollmentAccount.json
        ManagementGroupCreateOrUpdateExport:
          $ref: ./examples/ExportCreateOrUpdateByManagementGroup.json
        ResourceGroupCreateOrUpdateExport:
          $ref: ./examples/ExportCreateOrUpdateByResourceGroup.json
        SubscriptionCreateOrUpdateExport:
          $ref: ./examples/ExportCreateOrUpdateBySubscription.json
  '/{scope}/providers/Microsoft.CostManagement/exports/{exportName}/run':
    post:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/exportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Exports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to execute a export.
      operationId: Exports_Execute
      x-ms-examples:
        BillingAccountExecuteExport:
          $ref: ./examples/ExportExecutionByBillingAccount.json
        DepartmentExecuteExport:
          $ref: ./examples/ExportExecutionByDepartment.json
        EnrollmentAccountExecuteExport:
          $ref: ./examples/ExportExecutionByEnrollmentAccount.json
        ManagementGroupExecuteExport:
          $ref: ./examples/ExportExecutionByManagementGroup.json
        ResourceGroupExecuteExport:
          $ref: ./examples/ExportExecutionByResourceGroup.json
        SubscriptionExecuteExport:
          $ref: ./examples/ExportExecutionBySubscription.json
  '/{scope}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory':
    get:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/exportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportExecutionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Exports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to get the execution history of an export for the defined
        scope by export name.
      operationId: Exports_GetExecutionHistory
      x-ms-examples:
        BillingAccountExecutionHistoryExport:
          $ref: ./examples/ExportExecutionListByBillingAccount.json
        DepartmentExecutionHistoryExport:
          $ref: ./examples/ExportExecutionListByDepartment.json
        EnrollmentAccountExecutionHistoryExport:
          $ref: ./examples/ExportExecutionListByEnrollmentAccount.json
        ManagementGroupExecutionHistoryExport:
          $ref: ./examples/ExportExecutionListByManagementGroup.json
        ResourceGroupExecutionHistoryExport:
          $ref: ./examples/ExportExecutionListByResourceGroup.json
        SubscriptionExecutionHistoryExport:
          $ref: ./examples/ExportExecutionListBySubscription.json
  '/{scope}/providers/Microsoft.CostManagement/query':
    post:
      parameters:
        - $ref: '#/components/parameters/scopeQueryParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Query the usage data for scope defined.
      operationId: Query_UsageByScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDefinition'
        description: Parameters supplied to the CreateOrUpdate Query Config operation.
        required: true
      x-ms-examples:
        BillingAccountQuery:
          $ref: ./examples/BillingAccountQuery.json
        BillingAccountQueryGrouping:
          $ref: ./examples/BillingAccountQueryGrouping.json
        DepartmentQuery:
          $ref: ./examples/DepartmentQuery.json
        DepartmentQueryGrouping:
          $ref: ./examples/DepartmentQueryGrouping.json
        EnrollmentAccountQuery:
          $ref: ./examples/EnrollmentAccountQuery.json
        EnrollmentAccountQueryGrouping:
          $ref: ./examples/EnrollmentAccountQueryGrouping.json
        ManagementGroupQuery:
          $ref: ./examples/ManagementGroupQuery.json
        ManagementGroupQueryGrouping:
          $ref: ./examples/ManagementGroupQueryGrouping.json
        ResourceGroupQuery:
          $ref: ./examples/ResourceGroupQuery.json
        ResourceGroupQueryGrouping:
          $ref: ./examples/ResourceGroupQueryGrouping.json
        SubscriptionQuery:
          $ref: ./examples/SubscriptionQuery.json
        SubscriptionQueryGrouping:
          $ref: ./examples/SubscriptionQueryGrouping.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2018-05-31.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    departmentIdParameter:
      description: Department ID
      in: path
      name: departmentId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    enrollmentAccountIdParameter:
      description: Enrollment Account ID
      in: path
      name: enrollmentAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    exportNameParameter:
      description: Export Name.
      in: path
      name: exportName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: ManagementGroup ID
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    scopeDimensionParameter:
      allowReserved: true
      description: >-
        The scope associated with dimension operations. This includes
        '/subscriptions/{subscriptionId}/' for subscription scope,
        '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
        resourceGroup scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
        Billing Account scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
        for Department scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
        for EnrollmentAccount scope and
        '/providers/Microsoft.Management/managementGroups/{managementGroupId}'
        for Management Group scope..
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    scopeQueryParameter:
      allowReserved: true
      description: >-
        The scope associated with query and export operations. This includes
        '/subscriptions/{subscriptionId}/' for subscription scope,
        '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
        resourceGroup scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
        Billing Account scope and
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
        for Department scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
        for EnrollmentAccount scope and
        '/providers/Microsoft.Management/managementGroups/{managementGroupId}
        for Management Group scope..
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CommonExportProperties:
      description: The common properties of the export.
      properties:
        definition:
          $ref: '#/components/schemas/QueryDefinition'
          description: Has definition for the export.
        deliveryInfo:
          $ref: '#/components/schemas/ExportDeliveryInfo'
          description: Has delivery information for the export.
        format:
          description: The format of the export being delivered.
          enum:
            - Csv
          type: string
          x-ms-enum:
            modelAsString: true
            name: FormatType
      required:
        - deliveryInfo
        - definition
      type: object
    Dimension:
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/DimensionProperties'
          title: Dimension properties
          x-ms-client-flatten: true
      type: object
    DimensionProperties:
      properties:
        category:
          type: string
        data:
          items:
            type: string
          type: array
        description:
          type: string
        filterEnabled:
          type: boolean
        groupingEnabled:
          type: boolean
        nextLink:
          type: string
        total:
          format: int32
          type: integer
        usageEnd:
          format: date-time
          type: string
        usageStart:
          format: date-time
          type: string
      type: object
    DimensionsListResult:
      description: >-
        Result of listing dimensions. It contains a list of available
        dimensions.
      properties:
        value:
          description: The list of dimensions.
          items:
            $ref: '#/components/schemas/Dimension'
          readOnly: true
          type: array
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: >-
        Error response indicates that the service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
      type: object
    Export:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A export resource.
      properties:
        properties:
          $ref: '#/components/schemas/ExportProperties'
          title: Export properties
          x-ms-client-flatten: true
      type: object
    ExportDeliveryDestination:
      description: The destination information for the delivery of the export.
      properties:
        container:
          description: The name of the container where exports will be uploaded.
          type: string
        resourceId:
          description: >-
            The resource id of the storage account where exports will be
            delivered.
          type: string
        rootFolderPath:
          description: The name of the directory where exports will be uploaded.
          type: string
      required:
        - resourceId
        - container
      type: object
    ExportDeliveryInfo:
      description: The delivery information associated with a export.
      properties:
        destination:
          $ref: '#/components/schemas/ExportDeliveryDestination'
          description: Has destination for the export being delivered.
      required:
        - destination
      type: object
    ExportExecution:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A export execution.
      properties:
        properties:
          $ref: '#/components/schemas/ExportExecutionProperties'
          title: Export execution properties
          x-ms-client-flatten: true
      type: object
    ExportExecutionListResult:
      description: Result of listing exports execution history of a export by name
      properties:
        value:
          description: The list of export executions.
          items:
            $ref: '#/components/schemas/ExportExecution'
          readOnly: true
          type: array
      type: object
    ExportExecutionProperties:
      description: The properties of the export execution.
      properties:
        executionType:
          description: The type of the export execution.
          enum:
            - OnDemand
            - Scheduled
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExecutionType
        fileName:
          description: The name of the file export got written to.
          type: string
        processingEndTime:
          description: The time when export execution finished.
          format: date-time
          type: string
        processingStartTime:
          description: The time when export was picked up to be executed.
          format: date-time
          type: string
        runSettings:
          $ref: '#/components/schemas/CommonExportProperties'
        status:
          description: The status of the export execution.
          enum:
            - Queued
            - InProgress
            - Completed
            - Failed
            - Timeout
            - NewDataNotAvailable
            - DataNotAvailable
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExecutionStatus
        submittedBy:
          description: >-
            The identifier for the entity that executed the export. For OnDemand
            executions, it is the email id. For Scheduled executions, it is the
            constant value - System.
          type: string
        submittedTime:
          description: The time when export was queued to be executed.
          format: date-time
          type: string
      type: object
    ExportListResult:
      description: >-
        Result of listing exports. It contains a list of available exports in
        the scope provided.
      properties:
        value:
          description: The list of exports.
          items:
            $ref: '#/components/schemas/Export'
          readOnly: true
          type: array
      type: object
    ExportProperties:
      allOf:
        - $ref: '#/components/schemas/CommonExportProperties'
      description: The properties of the export.
      properties:
        schedule:
          $ref: '#/components/schemas/ExportSchedule'
          description: Has schedule information for the export.
      type: object
    ExportRecurrencePeriod:
      description: The start and end date for recurrence schedule.
      properties:
        from:
          description: The start date of recurrence.
          format: date-time
          type: string
        to:
          description: The end date of recurrence.
          format: date-time
          type: string
      required:
        - from
      type: object
    ExportSchedule:
      description: The schedule associated with a export.
      properties:
        recurrence:
          description: The schedule recurrence.
          enum:
            - Daily
            - Weekly
            - Monthly
            - Annually
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecurrenceType
        recurrencePeriod:
          $ref: '#/components/schemas/ExportRecurrencePeriod'
          description: >-
            Has start and end date of the recurrence. The start date must be in
            future. If present, the end date must be greater than start date.
        status:
          description: >-
            The status of the schedule. Whether active or not. If inactive, the
            export's scheduled execution is paused.
          enum:
            - Active
            - Inactive
          type: string
          x-ms-enum:
            modelAsString: true
            name: StatusType
      required:
        - recurrence
      type: object
    Operation:
      description: A Cost management REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.CostManagement.'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: Dimensions, Query.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of listing cost management operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of cost management operations supported by the
            Microsoft.CostManagement resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    Query:
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/QueryProperties'
          title: Query properties
          x-ms-client-flatten: true
      type: object
    QueryAggregation:
      description: The aggregation expression to be used in the query.
      properties:
        function:
          description: The name of the aggregation function to use.
          enum:
            - Sum
          type: string
          x-ms-enum:
            modelAsString: true
            name: FunctionType
        name:
          description: The name of the column to aggregate.
          type: string
      required:
        - name
        - function
      type: object
    QueryColumn:
      properties:
        name:
          type: string
        type:
          type: string
      type: object
    QueryColumnType:
      description: The type of the column in the export.
      enum:
        - Tag
        - Dimension
      type: string
      x-ms-enum:
        modelAsString: true
        name: QueryColumnType
    QueryComparisonExpression:
      description: The comparison expression to be used in the query.
      properties:
        name:
          description: The name of the column to use in comparison.
          type: string
        operator:
          description: The operator to use for comparison.
          enum:
            - In
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        values:
          description: Array of values to use for comparison
          items:
            type: string
          minItems: 1
          type: array
      required:
        - name
        - operator
        - values
      type: object
    QueryDataset:
      description: The definition of data present in the query.
      properties:
        aggregation:
          additionalProperties:
            $ref: '#/components/schemas/QueryAggregation'
            type: object
          description: >-
            Dictionary of aggregation expression to use in the query. The key of
            each item in the dictionary is the alias for the aggregated column.
            Query can have up to 2 aggregation clauses.
          maxItems: 2
          type: object
        configuration:
          $ref: '#/components/schemas/QueryDatasetConfiguration'
          description: >-
            Has configuration information for the data in the export. The
            configuration will be ignored if aggregation and grouping are
            provided.
        filter:
          $ref: '#/components/schemas/QueryFilter'
          description: >-
            The filter expression to use in the query. Please reference our
            Query API REST documentation for how to properly format the filter.
          type: object
        granularity:
          description: The granularity of rows in the query.
          enum:
            - Daily
            - Hourly
          type: string
          x-ms-enum:
            modelAsString: true
            name: GranularityType
        grouping:
          description: >-
            Array of group by expression to use in the query. Query can have up
            to 2 group by clauses.
          items:
            $ref: '#/components/schemas/QueryGrouping'
          maxItems: 2
          type: array
        sorting:
          description: Array of sorting by columns in query.
          items:
            $ref: '#/components/schemas/QuerySortingConfiguration'
          type: array
      type: object
    QueryDatasetConfiguration:
      description: The configuration of dataset in the query.
      properties:
        columns:
          description: >-
            Array of column names to be included in the query. Any valid query
            column name is allowed. If not provided, then query includes all
            columns.
          items:
            type: string
          type: array
      type: object
    QueryDefinition:
      description: The definition of a query.
      properties:
        dataset:
          $ref: '#/components/schemas/QueryDataset'
          description: Has definition for data in this query.
        timePeriod:
          $ref: '#/components/schemas/QueryTimePeriod'
          description: Has time period for pulling data for the query.
        timeframe:
          description: >-
            The time frame for pulling data for the query. If custom, then a
            specific time period must be provided.
          enum:
            - WeekToDate
            - MonthToDate
            - YearToDate
            - TheLastWeek
            - TheLastMonth
            - TheLastYear
            - Custom
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeframeType
        type:
          description: The type of the query.
          enum:
            - Usage
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExportType
      required:
        - type
        - timeframe
      type: object
    QueryFilter:
      description: The filter expression to be used in the export.
      properties:
        and:
          description: The logical "AND" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/QueryFilter'
          minItems: 2
          type: array
        dimension:
          $ref: '#/components/schemas/QueryComparisonExpression'
          description: Has comparison expression for a dimension
        not:
          $ref: '#/components/schemas/QueryFilter'
          description: The logical "NOT" expression.
        or:
          description: The logical "OR" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/QueryFilter'
          minItems: 2
          type: array
        tag:
          $ref: '#/components/schemas/QueryComparisonExpression'
          description: Has comparison expression for a tag
      type: object
    QueryGrouping:
      description: The group by expression to be used in the query.
      properties:
        name:
          description: The name of the column to group.
          type: string
        type:
          $ref: '#/components/schemas/QueryColumnType'
          description: Has type of the column to group.
      required:
        - type
        - name
      type: object
    QueryProperties:
      properties:
        columns:
          description: Array of columns
          items:
            $ref: '#/components/schemas/QueryColumn'
          type: array
        nextLink:
          type: string
        rows:
          items:
            items: {}
            type: array
          type: array
      type: object
    QueryResult:
      description: >-
        Result of query. It contains all columns listed under groupings and
        aggregation.
      properties:
        value:
          description: The list of usage data.
          items:
            $ref: '#/components/schemas/Query'
          readOnly: true
          type: array
      type: object
    QuerySortingConfiguration:
      description: The configuration for sorting in the query.
      properties:
        name:
          description: The name of the column to use in sorting.
          type: string
        querySortingDirection:
          description: The sorting direction
          enum:
            - Ascending
            - Descending
          type: string
          x-ms-enum:
            modelAsString: true
            name: SortDirection
      type: object
    QueryTimePeriod:
      description: The start and end date for pulling data for the query.
      properties:
        from:
          description: The start date to pull data from.
          format: date-time
          type: string
        to:
          description: The end date to pull data to.
          format: date-time
          type: string
      required:
        - from
        - to
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          type: object
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

