openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2015-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/externalSecuritySolutions':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - ExternalSecuritySolutions
      description: Gets a list of external security solutions for the subscription.
      operationId: ExternalSecuritySolutions_List
      x-ms-examples:
        Get external security solutions on a subscription:
          $ref: >-
            ./examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscription_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSecuritySolutionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - ExternalSecuritySolutions
      description: >-
        Gets a list of external Security Solutions for the subscription and
        location.
      operationId: ExternalSecuritySolutions_ListByHomeRegion
      x-ms-examples:
        Get external security solutions on a subscription from security data location:
          $ref: >-
            ./examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscriptionLocation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions/{externalSecuritySolutionsName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/ExternalSecuritySolutionsName'
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSecuritySolution'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - ExternalSecuritySolutions
      description: Gets a specific external Security Solution.
      operationId: ExternalSecuritySolutions_Get
      x-ms-examples:
        Get external security solution:
          $ref: >-
            ./examples/ExternalSecuritySolutions/GetExternalSecuritySolution_example.json
components:
  parameters:
    ExternalSecuritySolutionsName:
      description: Name of an external security solution.
      in: path
      name: externalSecuritySolutionsName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AadConnectivityState:
      description: Describes an Azure resource with kind
      properties:
        connectivityState:
          enum:
            - Discovered
            - NotLicensed
            - Connected
          title: 'The connectivity state of the external AAD solution '
          type: string
          x-ms-enum:
            modelAsString: true
            name: AadConnectivityState
            values:
              - value: Discovered
              - value: NotLicensed
              - value: Connected
      type: object
    AadExternalSecuritySolution:
      allOf:
        - $ref: '#/components/schemas/ExternalSecuritySolution'
      description: >-
        Represents an AAD identity protection solution which sends logs to an
        OMS workspace.
      properties:
        properties:
          $ref: '#/components/schemas/AadSolutionProperties'
      type: object
      x-ms-discriminator-value: AAD
    AadSolutionProperties:
      allOf:
        - $ref: '#/components/schemas/ExternalSecuritySolutionProperties'
        - $ref: '#/components/schemas/AadConnectivityState'
      title: The external security solution properties for AAD solutions
      type: object
    AtaExternalSecuritySolution:
      allOf:
        - $ref: '#/components/schemas/ExternalSecuritySolution'
      description: Represents an ATA security solution which sends logs to an OMS workspace
      properties:
        properties:
          $ref: '#/components/schemas/AtaSolutionProperties'
      type: object
      x-ms-discriminator-value: ATA
    AtaSolutionProperties:
      allOf:
        - $ref: '#/components/schemas/ExternalSecuritySolutionProperties'
      properties:
        lastEventReceived:
          type: string
      title: The external security solution properties for ATA solutions
      type: object
    CefExternalSecuritySolution:
      allOf:
        - $ref: '#/components/schemas/ExternalSecuritySolution'
      description: Represents a security solution which sends CEF logs to an OMS workspace
      properties:
        properties:
          $ref: '#/components/schemas/CefSolutionProperties'
      type: object
      x-ms-discriminator-value: CEF
    CefSolutionProperties:
      allOf:
        - $ref: '#/components/schemas/ExternalSecuritySolutionProperties'
      properties:
        agent:
          type: string
        hostname:
          type: string
        lastEventReceived:
          type: string
      title: The external security solution properties for CEF solutions
      type: object
    ConnectedWorkspace:
      properties:
        id:
          description: Azure resource ID of the connected OMS workspace
          type: string
      title: Represents an OMS workspace to which the solution is connected
      type: object
    ExternalSecuritySolution:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
        - $ref: '#/components/schemas/ExternalSecuritySolutionKind'
        - $ref: ../../../common/v1/types.json#/definitions/Location
      description: >-
        Represents a security solution external to Microsoft Defender for Cloud
        which sends information to an OMS workspace and whose data is displayed
        by Microsoft Defender for Cloud.
      discriminator:
        propertyName: kind
      properties: {}
      type: object
    ExternalSecuritySolutionKind:
      description: Describes an Azure resource with kind
      properties:
        kind:
          description: The kind of the external solution
          enum:
            - CEF
            - ATA
            - AAD
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExternalSecuritySolutionKind
            values:
              - value: CEF
              - value: ATA
              - value: AAD
      type: object
    ExternalSecuritySolutionList:
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/ExternalSecuritySolution'
          type: array
      type: object
    ExternalSecuritySolutionProperties:
      additionalProperties: true
      description: The solution properties (correspond to the solution kind)
      properties:
        deviceType:
          type: string
        deviceVendor:
          type: string
        workspace:
          $ref: '#/components/schemas/ConnectedWorkspace'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

