{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-07-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/virtualNetworkTap.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworkTaps": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkTapListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of Virtual Network Tap resources."
          }
        },
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Gets all the VirtualNetworkTaps in a subscription.",
        "operationId": "VirtualNetworkTaps_ListAll",
        "x-ms-examples": {
          "List all virtual network taps": {
            "$ref": "./examples/VirtualNetworkTapListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkTaps": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkTapListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of Virtual Network Tap resources."
          }
        },
        "tags": [
          "VirtualNetworkTaps"
        ],
        "description": "Gets all the VirtualNetworkTaps in a subscription.",
        "operationId": "VirtualNetworkTaps_ListByResourceGroup",
        "x-ms-examples": {
          "List virtual network taps in resource group": {
            "$ref": "./examples/VirtualNetworkTapList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkTaps/{tapName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network tap.",
            "in": "path",
            "name": "tapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "tags": [
          "VirtualNetworkTap"
        ],
        "description": "Deletes the specified virtual network tap.",
        "operationId": "VirtualNetworkTaps_Delete",
        "x-ms-examples": {
          "Delete Virtual Network Tap resource": {
            "$ref": "./examples/VirtualNetworkTapDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of virtual network tap.",
            "in": "path",
            "name": "tapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkTap"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting VirtualNetworkTap resource."
          }
        },
        "tags": [
          "VirtualNetworkTap"
        ],
        "description": "Gets information about the specified virtual network tap.",
        "operationId": "VirtualNetworkTaps_Get",
        "x-ms-examples": {
          "Get Virtual Network Tap": {
            "$ref": "./examples/VirtualNetworkTapGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the tap.",
            "in": "path",
            "name": "tapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkTap"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting VirtualNetworkTap resource."
          }
        },
        "tags": [
          "VirtualNetworkTap"
        ],
        "description": "Updates an VirtualNetworkTap tags.",
        "operationId": "VirtualNetworkTaps_UpdateTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./network.json#/definitions/TagsObject"
              }
            }
          },
          "description": "Parameters supplied to update VirtualNetworkTap tags.",
          "required": true
        },
        "x-ms-examples": {
          "Update virtual network tap tags": {
            "$ref": "./examples/VirtualNetworkTapUpdateTags.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the virtual network tap.",
            "in": "path",
            "name": "tapName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkTap"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting VirtualNetworkTap resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkTap"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting VirtualNetworkTap resource."
          }
        },
        "tags": [
          "VirtualNetworkTap"
        ],
        "description": "Creates or updates a Virtual Network Tap.",
        "operationId": "VirtualNetworkTaps_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualNetworkTap"
              }
            }
          },
          "description": "Parameters supplied to the create or update virtual network tap operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create Virtual Network Tap": {
            "$ref": "./examples/VirtualNetworkTapCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VirtualNetworkTap": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "Virtual Network Tap resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualNetworkTapPropertiesFormat",
            "description": "Virtual Network Tap Properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualNetworkTapListResult": {
        "description": "Response for ListVirtualNetworkTap API service call.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "A list of VirtualNetworkTaps in a resource group.",
            "items": {
              "$ref": "#/components/schemas/VirtualNetworkTap"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualNetworkTapPropertiesFormat": {
        "description": "Virtual Network Tap properties.",
        "properties": {
          "destinationLoadBalancerFrontEndIPConfiguration": {
            "$ref": "./loadBalancer.json#/definitions/FrontendIPConfiguration",
            "description": "The reference to the private IP address on the internal Load Balancer that will receive the tap."
          },
          "destinationNetworkInterfaceIPConfiguration": {
            "$ref": "./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration",
            "description": "The reference to the private IP Address of the collector nic that will receive the tap."
          },
          "destinationPort": {
            "description": "The VXLAN destination port that will receive the tapped traffic.",
            "type": "integer"
          },
          "networkInterfaceTapConfigurations": {
            "description": "Specifies the list of resource IDs for the network interface IP configuration that needs to be tapped.",
            "items": {
              "$ref": "./networkInterface.json#/definitions/NetworkInterfaceTapConfiguration",
              "description": "The reference of the Network Interface."
            },
            "readOnly": true,
            "type": "array"
          },
          "provisioningState": {
            "$ref": "./network.json#/definitions/ProvisioningState",
            "description": "The provisioning state of the virtual network tap resource.",
            "readOnly": true
          },
          "resourceGuid": {
            "description": "The resource GUID property of the virtual network tap resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}