openapi: 3.0.0
info:
  title: Azure Activity Log Alerts API
  version: '2017-04-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/activityLogAlerts':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the list of activity log alerts could not be
            retrieved.
      description: Get a list of all activity log alerts in a subscription.
      operationId: ActivityLogAlerts_ListBySubscriptionId
      x-ms-examples:
        List activity log alerts:
          $ref: ./examples/listActivityLogAlerts.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the list of activity log alerts could not be
            retrieved.
      description: Get a list of all activity log alerts in a resource group.
      operationId: ActivityLogAlerts_ListByResourceGroup
      x-ms-examples:
        List activity log alerts:
          $ref: ./examples/listActivityLogAlerts.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts/{activityLogAlertName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActivityLogAlertNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: The activity log alert was successfully deleted.
        '204':
          description: >-
            The activity log alert does not exist. It may have already been
            deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the activity log alert could not be deleted.
      description: Delete an activity log alert.
      operationId: ActivityLogAlerts_Delete
      x-ms-examples:
        Delete an activity log alert:
          $ref: ./examples/deleteActivityLogAlert.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActivityLogAlertNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the activity log alert could not be retrieved.
      description: Get an activity log alert.
      operationId: ActivityLogAlerts_Get
      x-ms-examples:
        Get an activity log alert:
          $ref: ./examples/getActivityLogAlert.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActivityLogAlertNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: An existing activity log alert was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      description: >-
        Updates an existing ActivityLogAlertResource's tags. To update other
        fields use the CreateOrUpdate method.
      operationId: ActivityLogAlerts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityLogAlertPatchBody'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Patch an activity log alert:
          $ref: ./examples/patchActivityLogAlert.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActivityLogAlertNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: An existing activity log alert was successfully updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: A new activity log alert was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the activity log alert could not be created or
            updated.
      description: Create a new activity log alert or update an existing one.
      operationId: ActivityLogAlerts_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityLogAlertResource'
        description: The activity log alert to create or use for the update.
        required: true
      x-ms-examples:
        Create or update an activity log alert:
          $ref: ./examples/createOrUpdateActivityLogAlert.json
components:
  parameters:
    ActivityLogAlertNameParameter:
      description: The name of the activity log alert.
      in: path
      name: activityLogAlertName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ActivityLogAlert:
      description: An Azure activity log alert.
      properties:
        actions:
          $ref: '#/components/schemas/ActivityLogAlertActionList'
          description: The actions that will activate when the condition is met.
        condition:
          $ref: '#/components/schemas/ActivityLogAlertAllOfCondition'
          description: The condition that will cause this alert to activate.
        description:
          description: A description of this activity log alert.
          type: string
        enabled:
          default: true
          description: >-
            Indicates whether this activity log alert is enabled. If an activity
            log alert is not enabled, then none of its actions will be
            activated.
          type: boolean
        scopes:
          description: >-
            A list of resourceIds that will be used as prefixes. The alert will
            only apply to activityLogs with resourceIds that fall under one of
            these prefixes. This list must include at least one item.
          items:
            type: string
          type: array
      required:
        - scopes
        - condition
        - actions
      type: object
    ActivityLogAlertActionGroup:
      description: A pointer to an Azure Action Group.
      properties:
        actionGroupId:
          description: The resourceId of the action group. This cannot be null or empty.
          type: string
        webhookProperties:
          additionalProperties:
            type: string
          description: >-
            the dictionary of custom properties to include with the post
            operation. These data are appended to the webhook payload.
      required:
        - actionGroupId
      type: object
    ActivityLogAlertActionList:
      description: A list of activity log alert actions.
      properties:
        actionGroups:
          description: The list of activity log alerts.
          items:
            $ref: '#/components/schemas/ActivityLogAlertActionGroup'
          type: array
      type: object
    ActivityLogAlertAllOfCondition:
      description: >-
        An Activity Log alert condition that is met when all its member
        conditions are met.
      properties:
        allOf:
          description: The list of activity log alert conditions.
          items:
            $ref: '#/components/schemas/ActivityLogAlertLeafCondition'
          type: array
      required:
        - allOf
      type: object
    ActivityLogAlertLeafCondition:
      description: >-
        An Activity Log alert condition that is met by comparing an activity log
        field and value.
      properties:
        equals:
          description: >-
            The field value will be compared to this value (case-insensitive) to
            determine if the condition is met.
          type: string
        field:
          description: >-
            The name of the field that this condition will examine. The possible
            values for this field are (case-insensitive): 'resourceId',
            'category', 'caller', 'level', 'operationName', 'resourceGroup',
            'resourceProvider', 'status', 'subStatus', 'resourceType', or
            anything beginning with 'properties.'.
          type: string
      required:
        - field
        - equals
      type: object
    ActivityLogAlertList:
      description: A list of activity log alerts.
      properties:
        nextLink:
          description: Provides the link to retrieve the next set of elements.
          type: string
        value:
          description: The list of activity log alerts.
          items:
            $ref: '#/components/schemas/ActivityLogAlertResource'
          type: array
      type: object
    ActivityLogAlertPatch:
      description: An Azure activity log alert for patch operations.
      properties:
        enabled:
          default: true
          description: >-
            Indicates whether this activity log alert is enabled. If an activity
            log alert is not enabled, then none of its actions will be
            activated.
          type: boolean
      type: object
    ActivityLogAlertPatchBody:
      description: An activity log alert object for the body of patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          $ref: '#/components/schemas/ActivityLogAlertPatch'
          description: The activity log alert settings for an update operation.
          x-ms-client-flatten: true
      type: object
    ActivityLogAlertResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An activity log alert resource.
      properties:
        properties:
          $ref: '#/components/schemas/ActivityLogAlert'
          description: The activity log alert properties of the resource.
          x-ms-client-flatten: true
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Resource:
      description: An azure resource object
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

