{
  "openapi": "3.0.0",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2016-03-01",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/logProfiles_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/logprofiles": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogProfileCollection"
                }
              }
            },
            "description": "Successful request to list log profiles"
          }
        },
        "tags": [
          "LogProfiles"
        ],
        "description": "List the log profiles.",
        "operationId": "LogProfiles_List",
        "x-ms-examples": {
          "List log profiles": {
            "$ref": "./examples/listLogProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/logprofiles/{logProfileName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete a log profile"
          }
        },
        "tags": [
          "LogProfiles"
        ],
        "description": "Deletes the log profile.",
        "operationId": "LogProfiles_Delete",
        "x-ms-examples": {
          "Delete log profile": {
            "$ref": "./examples/deleteLogProfile.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogProfileResource"
                }
              }
            },
            "description": "Successful request to get more information about a log profile."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "LogProfiles"
        ],
        "description": "Gets the log profile.",
        "operationId": "LogProfiles_Get",
        "x-ms-examples": {
          "Get log profile": {
            "$ref": "./examples/getLogProfile.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogProfileResource"
                }
              }
            },
            "description": "An existing log profile was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Updates an existing LogProfilesResource. To update other fields use the CreateOrUpdate method.",
        "operationId": "LogProfiles_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogProfileResourcePatch"
              }
            }
          },
          "description": "Parameters supplied to the operation.",
          "required": true
        },
        "x-ms-examples": {
          "Patch a log profile": {
            "$ref": "./examples/patchLogProfile.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogProfileResource"
                }
              }
            },
            "description": "Successful request to create or update a log profile"
          }
        },
        "tags": [
          "LogProfiles"
        ],
        "description": "Create or update a log profile in Azure Monitoring REST API.",
        "operationId": "LogProfiles_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogProfileResource"
              }
            }
          },
          "description": "Parameters supplied to the operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a log profile": {
            "$ref": "./examples/createOrUpdateLogProfile.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "LogProfileNameParameter": {
        "description": "The name of the log profile.",
        "in": "path",
        "name": "logProfileName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LogProfileCollection": {
        "description": "Represents a collection of log profiles.",
        "properties": {
          "value": {
            "description": "the values of the log profiles.",
            "items": {
              "$ref": "#/components/schemas/LogProfileResource"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "LogProfileProperties": {
        "description": "The log profile properties.",
        "properties": {
          "categories": {
            "description": "the categories of the logs. These categories are created as is convenient to the user. Some values are: 'Write', 'Delete', and/or 'Action.'",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "locations": {
            "description": "List of regions for which Activity Log events should be stored or streamed. It is a comma separated list of valid ARM locations including the 'global' location.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "retentionPolicy": {
            "$ref": "#/components/schemas/RetentionPolicy",
            "description": "the retention policy for the events in the log."
          },
          "serviceBusRuleId": {
            "description": "The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming the Activity Log. The rule ID is of the format: '{service bus resource ID}/authorizationrules/{key name}'.",
            "type": "string"
          },
          "storageAccountId": {
            "description": "the resource id of the storage account to which you would like to send the Activity Log.",
            "type": "string"
          }
        },
        "required": [
          "locations",
          "categories",
          "retentionPolicy"
        ],
        "type": "object"
      },
      "LogProfileResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The log profile resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/LogProfileProperties",
            "description": "The log profile properties of the resource.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "LogProfileResourcePatch": {
        "description": "The log profile resource for patch operations.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "properties": {
            "$ref": "#/components/schemas/LogProfileProperties",
            "description": "The log profile properties for an update operation.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An azure resource object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "id": {
            "description": "Azure resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "Azure resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "RetentionPolicy": {
        "description": "Specifies the retention policy for the log.",
        "properties": {
          "days": {
            "description": "the number of days for the retention in days. A value of 0 will retain the events indefinitely.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "description": "a value indicating whether the retention policy is enabled.",
            "type": "boolean"
          }
        },
        "required": [
          "enabled",
          "days"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}