{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.",
    "title": "Azure SQL Database",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/queries.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopQueriesListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Queries"
        ],
        "description": "Gets a list of top queries by database.",
        "operationId": "Queries_ListByDatabase",
        "x-ms-examples": {
          "List top queries": {
            "$ref": "./examples/QueriesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{queryId}/queryText": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "description": "The id of the query",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryTextListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Queries"
        ],
        "description": "Gets a query's text.",
        "operationId": "QueryTexts_ListByQuery",
        "x-ms-examples": {
          "Get a query": {
            "$ref": "./examples/QueryTextsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{queryId}/statistics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "description": "The id of the query",
            "in": "path",
            "name": "queryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryStatisticListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Queries"
        ],
        "description": "Lists a query's statistics.",
        "operationId": "QueryStatistics_ListByQuery",
        "x-ms-examples": {
          "Get a query": {
            "$ref": "./examples/QueryStatisticsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "QueryInterval": {
        "description": "A database query.",
        "properties": {
          "executionCount": {
            "description": "The number of times the query was executed during this interval.",
            "format": "int32",
            "readOnly": true,
            "type": "number"
          },
          "intervalStartTime": {
            "description": "The start time of the measurement interval (ISO8601 format).",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "metrics": {
            "description": "The list of query metrics during this interval.",
            "items": {
              "$ref": "#/components/schemas/QueryMetric"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "QueryMetric": {
        "description": "A database query.",
        "properties": {
          "displayName": {
            "description": "The name of the metric for display in user interface",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the metric",
            "readOnly": true,
            "type": "string"
          },
          "unit": {
            "description": "The unit of measurement",
            "enum": [
              "percentage",
              "KB",
              "microseconds"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "QueryMetricUnit"
            }
          },
          "value": {
            "description": "The measured value",
            "format": "double",
            "readOnly": true,
            "type": "number"
          }
        },
        "type": "object"
      },
      "QueryStatistic": {
        "description": "A database query.",
        "properties": {
          "intervals": {
            "description": "The list of query intervals.",
            "items": {
              "$ref": "#/components/schemas/QueryInterval"
            },
            "readOnly": true,
            "type": "array"
          },
          "queryId": {
            "description": "The id of the query",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "QueryStatisticListResult": {
        "description": "Represents the response to a get query request.",
        "properties": {
          "value": {
            "description": "The query.",
            "items": {
              "$ref": "#/components/schemas/QueryStatistic"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "QueryText": {
        "properties": {
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "queryText": {
            "description": "Query text.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "QueryTextListResult": {
        "description": "Represents the response to a get query text request.",
        "properties": {
          "value": {
            "description": "The query text.",
            "items": {
              "$ref": "#/components/schemas/QueryText"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "TopQueries": {
        "description": "A database query.",
        "properties": {
          "aggregationFunction": {
            "description": "The function that is used to aggregate each query's metrics.",
            "enum": [
              "min",
              "max",
              "avg",
              "sum"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "QueryAggregationFunction"
            }
          },
          "executionType": {
            "description": "The execution type that is used to filter the query instances that are returned.",
            "enum": [
              "any",
              "regular",
              "irregular",
              "aborted",
              "exception"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "QueryExecutionType"
            }
          },
          "intervalType": {
            "description": "The duration of the interval (ISO8601 duration format).",
            "readOnly": true,
            "type": "string"
          },
          "numberOfTopQueries": {
            "description": "The number of requested queries.",
            "format": "int32",
            "readOnly": true,
            "type": "number"
          },
          "observationEndTime": {
            "description": "The end time for queries that are returned (ISO8601 format)",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "observationStartTime": {
            "description": "The start time for queries that are returned (ISO8601 format)",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "observedMetric": {
            "description": "The type of metric to use for ordering the top metrics.",
            "enum": [
              "cpu",
              "io",
              "logio",
              "duration",
              "executionCount"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "QueryObservedMetricType"
            }
          },
          "queries": {
            "description": "The list of queries.",
            "items": {
              "$ref": "#/components/schemas/QueryStatistic"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "TopQueriesListResult": {
        "description": "Represents the response to a get top queries request.",
        "properties": {
          "value": {
            "description": "The list of top queries.",
            "items": {
              "$ref": "#/components/schemas/TopQueries"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}