openapi: 3.0.0
info:
  title: AppServiceCertificateOrders API Client
  version: '2019-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrderCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: List all certificate orders in a subscription.
      operationId: AppServiceCertificateOrders_List
      summary: List all certificate orders in a subscription.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Validate information for a certificate order.
      operationId: AppServiceCertificateOrders_ValidatePurchaseInformation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrder'
        description: Information for a certificate order.
        required: true
      summary: Validate information for a certificate order.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrderCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Get certificate orders in a resource group.
      operationId: AppServiceCertificateOrders_ListByResourceGroup
      summary: Get certificate orders in a resource group.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted certificate order.
        '204':
          description: Certificate order does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Delete an existing certificate order.
      operationId: AppServiceCertificateOrders_Delete
      summary: Delete an existing certificate order.
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order..
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Get a certificate order.
      operationId: AppServiceCertificateOrders_Get
      summary: Get a certificate order.
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order is created.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Create or update a certificate purchase order.
      operationId: AppServiceCertificateOrders_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrderPatchResource'
        description: Distinguished name to use for the certificate order.
        required: true
      summary: Create or update a certificate purchase order.
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order is created.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Create or update a certificate purchase order.
      operationId: AppServiceCertificateOrders_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrder'
        description: Distinguished name to use for the certificate order.
        required: true
      summary: Create or update a certificate purchase order.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates':
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: List all certificates associated with a certificate order.
      operationId: AppServiceCertificateOrders_ListCertificates
      summary: List all certificates associated with a certificate order.
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted certificate.
        '204':
          description: Certificate does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Delete the certificate associated with a certificate order.
      operationId: AppServiceCertificateOrders_DeleteCertificate
      summary: Delete the certificate associated with a certificate order.
    get:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Get the certificate associated with a certificate order.
      operationId: AppServiceCertificateOrders_GetCertificate
      summary: Get the certificate associated with a certificate order.
    patch:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate is created.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Creates or updates a certificate and associates with key vault secret.
      operationId: AppServiceCertificateOrders_UpdateCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificatePatchResource'
        description: Key vault certificate resource Id.
        required: true
      summary: Creates or updates a certificate and associates with key vault secret.
    put:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate is created.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Creates or updates a certificate and associates with key vault secret.
      operationId: AppServiceCertificateOrders_CreateOrUpdateCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateResource'
        description: Key vault certificate resource Id.
        required: true
      summary: Creates or updates a certificate and associates with key vault secret.
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/reissue':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Reissue an existing certificate order.
      operationId: AppServiceCertificateOrders_Reissue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
        description: Parameters for the reissue.
        required: true
      summary: Reissue an existing certificate order.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/renew':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Renew an existing certificate order.
      operationId: AppServiceCertificateOrders_Renew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
        description: Renew parameters
        required: true
      summary: Renew an existing certificate order.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendEmail':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Resend certificate email.
      operationId: AppServiceCertificateOrders_ResendEmail
      summary: Resend certificate email.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendRequestEmails':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_ResendRequestEmails
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/NameIdentifier
        description: Email address
        required: true
      summary: Verify domain ownership for this certificate order.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/retrieveSiteSeal':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteSeal'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_RetrieveSiteSeal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteSealRequest'
        description: Site seal request.
        required: true
      summary: Verify domain ownership for this certificate order.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/verifyDomainOwnership':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_VerifyDomainOwnership
      summary: Verify domain ownership for this certificate order.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Retrieve the list of certificate actions.
      operationId: AppServiceCertificateOrders_RetrieveCertificateActions
      summary: Retrieve the list of certificate actions.
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory':
    post:
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the certificate order.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
          description: App Service error response.
      tags:
        - AppServiceCertificateOrders
      description: Retrieve email history.
      operationId: AppServiceCertificateOrders_RetrieveCertificateEmailHistory
      summary: Retrieve email history.
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+[^\.]$'
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: >-
        Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AppServiceCertificate:
      description: Key Vault container for a certificate that is purchased through Azure.
      properties:
        keyVaultId:
          description: Key Vault resource Id.
          type: string
        keyVaultSecretName:
          description: Key Vault secret name.
          type: string
        provisioningState:
          description: Status of the Key Vault secret.
          enum:
            - Initialized
            - WaitingOnCertificateOrder
            - Succeeded
            - CertificateOrderFailed
            - OperationNotPermittedOnKeyVault
            - AzureServiceUnauthorizedToAccessKeyVault
            - KeyVaultDoesNotExist
            - KeyVaultSecretDoesNotExist
            - UnknownError
            - ExternalPrivateKey
            - Unknown
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: KeyVaultSecretStatus
      type: object
    AppServiceCertificateCollection:
      description: Collection of certificate order certificates.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceCertificateResource'
          type: array
      required:
        - value
      type: object
    AppServiceCertificateOrder:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/Resource
      description: SSL certificate purchase order.
      properties:
        properties:
          description: AppServiceCertificateOrder resource specific properties
          properties:
            appServiceCertificateNotRenewableReasons:
              description: >-
                Reasons why App Service Certificate is not renewable at the
                current moment.
              items:
                enum:
                  - RegistrationStatusNotSupportedForRenewal
                  - ExpirationNotInRenewalTimeRange
                  - SubscriptionNotActive
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: ResourceNotRenewableReason
              readOnly: true
              type: array
            autoRenew:
              default: true
              description: >-
                <code>true</code> if the certificate should be automatically
                renewed when it expires; otherwise, <code>false</code>.
              type: boolean
            certificates:
              additionalProperties:
                $ref: '#/components/schemas/AppServiceCertificate'
              description: State of the Key Vault secret.
              type: object
            csr:
              description: Last CSR that was created for this order.
              type: string
              x-ms-mutability:
                - create
                - read
            distinguishedName:
              description: Certificate distinguished name.
              type: string
              x-ms-mutability:
                - create
                - read
            domainVerificationToken:
              description: Domain verification token.
              readOnly: true
              type: string
            expirationTime:
              description: Certificate expiration time.
              format: date-time
              readOnly: true
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Intermediate certificate.
              readOnly: true
            isPrivateKeyExternal:
              description: >-
                <code>true</code> if private key is external; otherwise,
                <code>false</code>.
              readOnly: true
              type: boolean
            keySize:
              default: 2048
              description: Certificate key size.
              format: int32
              type: integer
              x-ms-mutability:
                - create
                - read
            lastCertificateIssuanceTime:
              description: Certificate last issuance time.
              format: date-time
              readOnly: true
              type: string
            nextAutoRenewalTimeStamp:
              description: Time stamp when the certificate would be auto renewed next
              format: date-time
              readOnly: true
              type: string
            productType:
              description: Certificate product type.
              enum:
                - StandardDomainValidatedSsl
                - StandardDomainValidatedWildCardSsl
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateProductType
              x-ms-mutability:
                - create
                - read
            provisioningState:
              description: Status of certificate order.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            root:
              $ref: '#/components/schemas/CertificateDetails'
              description: Root certificate.
              readOnly: true
            serialNumber:
              description: Current serial number of the certificate.
              readOnly: true
              type: string
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Signed certificate.
              readOnly: true
            status:
              description: Current order status.
              enum:
                - Pendingissuance
                - Issued
                - Revoked
                - Canceled
                - Denied
                - Pendingrevocation
                - PendingRekey
                - Unused
                - Expired
                - NotSubmitted
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderStatus
            validityInYears:
              default: 1
              description: Duration in years (must be between 1 and 3).
              format: int32
              maximum: 3
              minimum: 1
              type: integer
              x-ms-mutability:
                - create
                - read
          required:
            - productType
          x-ms-client-flatten: true
      type: object
    AppServiceCertificateOrderCollection:
      description: Collection of certificate orders.
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceCertificateOrder'
          type: array
      required:
        - value
      type: object
    AppServiceCertificateOrderPatchResource:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: ARM resource for a certificate order that is purchased through Azure.
      properties:
        properties:
          description: AppServiceCertificateOrderPatchResource resource specific properties
          properties:
            appServiceCertificateNotRenewableReasons:
              description: >-
                Reasons why App Service Certificate is not renewable at the
                current moment.
              items:
                enum:
                  - RegistrationStatusNotSupportedForRenewal
                  - ExpirationNotInRenewalTimeRange
                  - SubscriptionNotActive
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: ResourceNotRenewableReason
              readOnly: true
              type: array
            autoRenew:
              default: true
              description: >-
                <code>true</code> if the certificate should be automatically
                renewed when it expires; otherwise, <code>false</code>.
              type: boolean
            certificates:
              additionalProperties:
                $ref: '#/components/schemas/AppServiceCertificate'
              description: State of the Key Vault secret.
              type: object
            csr:
              description: Last CSR that was created for this order.
              type: string
              x-ms-mutability:
                - create
                - read
            distinguishedName:
              description: Certificate distinguished name.
              type: string
              x-ms-mutability:
                - create
                - read
            domainVerificationToken:
              description: Domain verification token.
              readOnly: true
              type: string
            expirationTime:
              description: Certificate expiration time.
              format: date-time
              readOnly: true
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Intermediate certificate.
              readOnly: true
            isPrivateKeyExternal:
              description: >-
                <code>true</code> if private key is external; otherwise,
                <code>false</code>.
              readOnly: true
              type: boolean
            keySize:
              default: 2048
              description: Certificate key size.
              format: int32
              type: integer
              x-ms-mutability:
                - create
                - read
            lastCertificateIssuanceTime:
              description: Certificate last issuance time.
              format: date-time
              readOnly: true
              type: string
            nextAutoRenewalTimeStamp:
              description: Time stamp when the certificate would be auto renewed next
              format: date-time
              readOnly: true
              type: string
            productType:
              description: Certificate product type.
              enum:
                - StandardDomainValidatedSsl
                - StandardDomainValidatedWildCardSsl
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateProductType
              x-ms-mutability:
                - create
                - read
            provisioningState:
              description: Status of certificate order.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            root:
              $ref: '#/components/schemas/CertificateDetails'
              description: Root certificate.
              readOnly: true
            serialNumber:
              description: Current serial number of the certificate.
              readOnly: true
              type: string
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Signed certificate.
              readOnly: true
            status:
              description: Current order status.
              enum:
                - Pendingissuance
                - Issued
                - Revoked
                - Canceled
                - Denied
                - Pendingrevocation
                - PendingRekey
                - Unused
                - Expired
                - NotSubmitted
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderStatus
            validityInYears:
              default: 1
              description: Duration in years (must be between 1 and 3).
              format: int32
              maximum: 3
              minimum: 1
              type: integer
              x-ms-mutability:
                - create
                - read
          required:
            - productType
          x-ms-client-flatten: true
      type: object
    AppServiceCertificatePatchResource:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: >-
        Key Vault container ARM resource for a certificate that is purchased
        through Azure.
      properties:
        properties:
          $ref: '#/components/schemas/AppServiceCertificate'
          description: Core resource properties
          x-ms-client-flatten: true
      type: object
    AppServiceCertificateResource:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/Resource
      description: >-
        Key Vault container ARM resource for a certificate that is purchased
        through Azure.
      properties:
        properties:
          $ref: '#/components/schemas/AppServiceCertificate'
          description: Core resource properties
          x-ms-client-flatten: true
      type: object
    CertificateDetails:
      description: SSL certificate details.
      properties:
        issuer:
          description: Certificate Issuer.
          readOnly: true
          type: string
        notAfter:
          description: Date Certificate is valid to.
          format: date-time
          readOnly: true
          type: string
        notBefore:
          description: Date Certificate is valid from.
          format: date-time
          readOnly: true
          type: string
        rawData:
          description: Raw certificate data.
          readOnly: true
          type: string
        serialNumber:
          description: Certificate Serial Number.
          readOnly: true
          type: string
        signatureAlgorithm:
          description: Certificate Signature algorithm.
          readOnly: true
          type: string
        subject:
          description: Certificate Subject.
          readOnly: true
          type: string
        thumbprint:
          description: Certificate Thumbprint.
          readOnly: true
          type: string
        version:
          description: Certificate Version.
          format: int32
          readOnly: true
          type: integer
      type: object
    CertificateEmail:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: SSL certificate email.
      properties:
        properties:
          description: CertificateEmail resource specific properties
          properties:
            emailId:
              description: Email id.
              type: string
            timeStamp:
              description: Time stamp.
              format: date-time
              type: string
          x-ms-client-flatten: true
      type: object
    CertificateOrderAction:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Certificate order action.
      properties:
        properties:
          description: CertificateOrderAction resource specific properties
          properties:
            actionType:
              description: Action type.
              enum:
                - CertificateIssued
                - CertificateOrderCanceled
                - CertificateOrderCreated
                - CertificateRevoked
                - DomainValidationComplete
                - FraudDetected
                - OrgNameChange
                - OrgValidationComplete
                - SanDrop
                - FraudCleared
                - CertificateExpired
                - CertificateExpirationWarning
                - FraudDocumentationRequired
                - Unknown
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderActionType
            createdAt:
              description: Time at which the certificate action was performed.
              format: date-time
              readOnly: true
              type: string
          x-ms-client-flatten: true
      type: object
    ReissueCertificateOrderRequest:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing certificate reissue request.
      properties:
        properties:
          description: ReissueCertificateOrderRequest resource specific properties
          properties:
            csr:
              description: Csr to be used for re-key operation.
              type: string
            delayExistingRevokeInHours:
              description: >-
                Delay in hours to revoke existing certificate after the new
                certificate is issued.
              format: int32
              type: integer
            isPrivateKeyExternal:
              description: >-
                Should we change the ASC type (from managed private key to
                external private key and vice versa).
              type: boolean
            keySize:
              description: Certificate Key Size.
              format: int32
              type: integer
          x-ms-client-flatten: true
      type: object
    RenewCertificateOrderRequest:
      allOf:
        - $ref: >-
            ../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      description: Class representing certificate renew request.
      properties:
        properties:
          description: RenewCertificateOrderRequest resource specific properties
          properties:
            csr:
              description: Csr to be used for re-key operation.
              type: string
            isPrivateKeyExternal:
              description: >-
                Should we change the ASC type (from managed private key to
                external private key and vice versa).
              type: boolean
            keySize:
              description: Certificate Key Size.
              format: int32
              type: integer
          x-ms-client-flatten: true
      type: object
    SiteSeal:
      description: Site seal
      properties:
        html:
          description: HTML snippet
          type: string
          x-ms-client-flatten: true
      required:
        - html
      type: object
    SiteSealRequest:
      description: Site seal request.
      properties:
        lightTheme:
          description: >-
            If <code>true</code> use the light color theme for site seal;
            otherwise, use the default color theme.
          type: boolean
        locale:
          description: Locale of site seal.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

