{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/module.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModuleListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Module"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "description": "Retrieve a list of modules.",
        "operationId": "Module_ListByAutomationAccount",
        "x-ms-examples": {
          "List modules by automation account": {
            "$ref": "./examples/listModulesByAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The module name.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Module"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "description": "Delete the module by name.",
        "operationId": "Module_Delete",
        "x-ms-examples": {
          "Delete a module": {
            "$ref": "./examples/deleteModule.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The module name.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Module"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "description": "Retrieve the module identified by module name.",
        "operationId": "Module_Get",
        "x-ms-examples": {
          "Get a module": {
            "$ref": "./examples/getModule.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of module.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Module"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "description": "Update the module identified by module name.",
        "operationId": "Module_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleUpdateParameters"
              }
            }
          },
          "description": "The update parameters for module.",
          "required": true
        },
        "x-ms-examples": {
          "Update a module": {
            "$ref": "./examples/updateModule.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of module.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Module"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "description": "Create or Update the module identified by module name.",
        "operationId": "Module_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleCreateOrUpdateParameters"
              }
            }
          },
          "description": "The create or update parameters for module.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a module": {
            "$ref": "./examples/createOrUpdateModule.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of module.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Activity"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/activityoperations"
        },
        "description": "Retrieve a list of activities in the module identified by module name.",
        "operationId": "Activity_ListByModule",
        "x-ms-examples": {
          "List activities by a module": {
            "$ref": "./examples/listActivitiesByModule.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities/{activityName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of module.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of activity.",
            "in": "path",
            "name": "activityName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Activity"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/activityoperations"
        },
        "description": "Retrieve the activity in the module identified by module name and activity name.",
        "operationId": "Activity_Get",
        "x-ms-examples": {
          "Get Activity in a module": {
            "$ref": "./examples/getActivityInAModule.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/objectDataTypes/{typeName}/fields": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of module.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of type.",
            "in": "path",
            "name": "typeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeFieldListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "ObjectDataTypes"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/objectdatatypeoperations"
        },
        "description": "Retrieve a list of fields of a given type identified by module name.",
        "operationId": "ObjectDataTypes_ListFieldsByModuleAndType",
        "x-ms-examples": {
          "Get a list of fields of a given type": {
            "$ref": "./examples/listFieldsByModuleAndType.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/types/{typeName}/fields": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of module.",
            "in": "path",
            "name": "moduleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of type.",
            "in": "path",
            "name": "typeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeFieldListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "TypeFields"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/typefieldoperations"
        },
        "description": "Retrieve a list of fields of a given type identified by module name.",
        "operationId": "Fields_ListByType",
        "x-ms-examples": {
          "Get a list of fields of a given type": {
            "$ref": "./examples/listFieldsByModuleAndType.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/objectDataTypes/{typeName}/fields": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The name of type.",
            "in": "path",
            "name": "typeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeFieldListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "ObjectDataTypes"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/objectdatatypeoperations"
        },
        "description": "Retrieve a list of fields of a given type across all accessible modules.",
        "operationId": "ObjectDataTypes_ListFieldsByType",
        "x-ms-examples": {
          "Get a list of fields of a given type across all accessible modules": {
            "$ref": "./examples/listFieldsByType.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Activity": {
        "description": "Definition of the activity.",
        "properties": {
          "id": {
            "description": "Gets or sets the id of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets the name of the activity.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ActivityProperties",
            "description": "Gets or sets the properties of the activity.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ActivityListResult": {
        "description": "The response model for the list activity operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of activities.",
            "items": {
              "$ref": "#/components/schemas/Activity"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ActivityOutputType": {
        "description": "Definition of the activity output type.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the activity output type.",
            "type": "string"
          },
          "type": {
            "description": "Gets or sets the type of the activity output type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ActivityParameter": {
        "description": "Definition of the activity parameter.",
        "properties": {
          "description": {
            "description": "Gets or sets the description of the activity parameter.",
            "type": "string"
          },
          "isDynamic": {
            "description": "Gets or sets a Boolean value that indicates true if the parameter is dynamic.",
            "type": "boolean"
          },
          "isMandatory": {
            "description": "Gets or sets a Boolean value that indicates true if the parameter is required. If the value is false, the parameter is optional.",
            "type": "boolean"
          },
          "name": {
            "description": "Gets or sets the name of the activity parameter.",
            "type": "string"
          },
          "position": {
            "description": "Gets or sets the position of the activity parameter.",
            "format": "int64",
            "type": "integer"
          },
          "type": {
            "description": "Gets or sets the type of the activity parameter.",
            "type": "string"
          },
          "validationSet": {
            "description": "Gets or sets the validation set of activity parameter.",
            "items": {
              "$ref": "#/components/schemas/ActivityParameterValidationSet"
            },
            "type": "array"
          },
          "valueFromPipeline": {
            "description": "Gets or sets a Boolean value that indicates true if the parameter can take values from the incoming pipeline objects. This setting is used if the cmdlet must access the complete input object. false indicates that the parameter cannot take values from the complete input object.",
            "type": "boolean"
          },
          "valueFromPipelineByPropertyName": {
            "description": "Gets or sets a Boolean value that indicates true if the parameter can be filled from a property of the incoming pipeline object that has the same name as this parameter. false indicates that the parameter cannot be filled from the incoming pipeline object property with the same name. ",
            "type": "boolean"
          },
          "valueFromRemainingArguments": {
            "description": "Gets or sets a Boolean value that indicates true if the cmdlet parameter accepts all the remaining command-line arguments that are associated with this parameter in the form of an array. false if the cmdlet parameter does not accept all the remaining argument values.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ActivityParameterSet": {
        "description": "Definition of the activity parameter set.",
        "properties": {
          "parameters": {
            "description": "Gets or sets the parameters of the activity parameter set.",
            "items": {
              "$ref": "#/components/schemas/ActivityParameter"
            },
            "type": "array"
          },
          "name": {
            "description": "Gets or sets the name of the activity parameter set.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ActivityParameterValidationSet": {
        "description": "Definition of the activity parameter validation set.",
        "properties": {
          "memberValue": {
            "description": "Gets or sets the name of the activity parameter validation set member.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ActivityProperties": {
        "description": "Properties of the activity.",
        "properties": {
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "definition": {
            "description": "Gets or sets the user name of the activity.",
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "outputTypes": {
            "description": "Gets or sets the output types of the activity.",
            "items": {
              "$ref": "#/components/schemas/ActivityOutputType"
            },
            "type": "array"
          },
          "parameterSets": {
            "description": "Gets or sets the parameter sets of the activity.",
            "items": {
              "$ref": "#/components/schemas/ActivityParameterSet"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ContentHash": {
        "description": "Definition of the runbook property type.",
        "properties": {
          "algorithm": {
            "description": "Gets or sets the content hash algorithm used to hash the content.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets expected hash value of the content.",
            "type": "string"
          }
        },
        "required": [
          "algorithm",
          "value"
        ],
        "type": "object"
      },
      "ContentLink": {
        "description": "Definition of the content link.",
        "properties": {
          "contentHash": {
            "$ref": "#/components/schemas/ContentHash",
            "description": "Gets or sets the hash."
          },
          "uri": {
            "description": "Gets or sets the uri of the runbook content.",
            "type": "string"
          },
          "version": {
            "description": "Gets or sets the version of the content.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Module": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
          }
        ],
        "description": "Definition of the module type.",
        "properties": {
          "etag": {
            "description": "Gets or sets the etag of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ModuleProperties",
            "description": "Gets or sets the module properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ModuleCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update module operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ModuleCreateOrUpdateProperties",
            "description": "Gets or sets the module create properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "ModuleCreateOrUpdateProperties": {
        "description": "The parameters supplied to the create or update module properties.",
        "properties": {
          "contentLink": {
            "$ref": "#/components/schemas/ContentLink",
            "description": "Gets or sets the module content link."
          }
        },
        "required": [
          "contentLink"
        ],
        "type": "object"
      },
      "ModuleErrorInfo": {
        "description": "Definition of the module error info type.",
        "properties": {
          "code": {
            "description": "Gets or sets the error code.",
            "type": "string"
          },
          "message": {
            "description": "Gets or sets the error message.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ModuleListResult": {
        "description": "The response model for the list module operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of modules.",
            "items": {
              "$ref": "#/components/schemas/Module"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ModuleProperties": {
        "description": "Definition of the module property type.",
        "properties": {
          "activityCount": {
            "description": "Gets or sets the activity count of the module.",
            "format": "int32",
            "type": "integer"
          },
          "contentLink": {
            "$ref": "#/components/schemas/ContentLink",
            "description": "Gets or sets the contentLink of the module."
          },
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/ModuleErrorInfo",
            "description": "Gets or sets the error info of the module."
          },
          "isComposite": {
            "description": "Gets or sets type of module, if its composite or not.",
            "type": "boolean"
          },
          "isGlobal": {
            "description": "Gets or sets the isGlobal flag of the module.",
            "type": "boolean"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "provisioningState": {
            "description": "Gets or sets the provisioning state of the module.",
            "enum": [
              "Created",
              "Creating",
              "StartingImportModuleRunbook",
              "RunningImportModuleRunbook",
              "ContentRetrieved",
              "ContentDownloaded",
              "ContentValidated",
              "ConnectionTypeImported",
              "ContentStored",
              "ModuleDataStored",
              "ActivitiesStored",
              "ModuleImportRunbookComplete",
              "Succeeded",
              "Failed",
              "Cancelled",
              "Updating"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ModuleProvisioningState"
            }
          },
          "sizeInBytes": {
            "description": "Gets or sets the size in bytes of the module.",
            "format": "int64",
            "type": "integer"
          },
          "version": {
            "description": "Gets or sets the version of the module.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ModuleUpdateParameters": {
        "description": "The parameters supplied to the update module operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets name of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ModuleUpdateProperties",
            "description": "Gets or sets the module update properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ModuleUpdateProperties": {
        "description": "The parameters supplied to the update properties.",
        "properties": {
          "contentLink": {
            "$ref": "#/components/schemas/ContentLink",
            "description": "Gets or sets the module content link."
          }
        },
        "type": "object"
      },
      "TypeField": {
        "description": "Information about a field of a type.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the field.",
            "type": "string"
          },
          "type": {
            "description": "Gets or sets the type of the field.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TypeFieldListResult": {
        "description": "The response model for the list fields operation.",
        "properties": {
          "value": {
            "description": "Gets or sets a list of fields.",
            "items": {
              "$ref": "#/components/schemas/TypeField"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}