{
  "openapi": "3.0.0",
  "info": {
    "title": "Compute Admin Client",
    "version": "2018-02-09",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-02-09/Quotas.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas": {
      "get": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Quotas.json#/definitions/QuotaList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Get a list of existing Compute quotas.",
        "operationId": "Quotas_List",
        "summary": "Lists all Compute quotas.",
        "x-ms-examples": {
          "Get a list of existing Compute quotas.": {
            "$ref": "examples/Quotas/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas/{quotaName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/components/parameters/QuotaParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Delete an existing Compute quota.",
        "operationId": "Quotas_Delete",
        "summary": "Deletes specified Compute quota",
        "x-ms-examples": {
          "Deletes specified Compute quota.": {
            "$ref": "examples/Quotas/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/components/parameters/QuotaParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Quotas.json#/definitions/Quota"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Get an existing Compute Quota.",
        "operationId": "Quotas_Get",
        "summary": "Returns the requested Compute quota.",
        "x-ms-examples": {
          "Get an existing Compute Quota.": {
            "$ref": "examples/Quotas/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/components/parameters/QuotaParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Quotas.json#/components/parameters/NewQuotaParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Quotas.json#/definitions/Quota"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Creates or Updates a Compute Quota with the provided quota parameters.",
        "operationId": "Quotas_CreateOrUpdate",
        "summary": "Creates or Updates a Compute Quota.",
        "x-ms-examples": {
          "Creates or Updates a Compute Quota.": {
            "$ref": "examples/Quotas/Create.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "QuotaParameter": {
        "description": "Name of the quota.",
        "in": "path",
        "name": "quotaName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Quota": {
        "allOf": [
          {
            "$ref": "../2015-12-01-preview/Compute.json#/definitions/Resource"
          }
        ],
        "description": "Holds Compute quota information used to control resource allocation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/QuotaProperties",
            "description": "Compute Quota properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "QuotaList": {
        "description": "List of Compute quotas",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of Compute quotas",
            "items": {
              "$ref": "Quotas.json#/definitions/Quota"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaProperties": {
        "description": "Properties for a Compute Quota",
        "properties": {
          "availabilitySetCount": {
            "description": "Maximum number of availability sets allowed.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          },
          "coresLimit": {
            "description": "Maximum number of cores allowed.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          },
          "maxAllocationPremiumManagedDisksAndSnapshots": {
            "description": "Maximum number of managed disks and snapshots of type premium allowed.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          },
          "maxAllocationStandardManagedDisksAndSnapshots": {
            "description": "Maximum number of managed disks and snapshots of type standard allowed.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          },
          "virtualMachineCount": {
            "description": "Maximum number of virtual machines allowed.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          },
          "vmScaleSetCount": {
            "description": "Maximum number of scale sets allowed.",
            "format": "int32",
            "minimum": 0,
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}