openapi: 3.0.0
info:
  description: Software load balancer multiplexer operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlbMuxInstanceList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - SlbMuxInstances
      description: Returns a list of all software load balancer instances at a location.
      operationId: SlbMuxInstances_List
      x-ms-examples:
        Returns all software load balancer MUX Instances:
          $ref: ./examples/SlbMuxInstance/List.json
      x-ms-odata: '#/components/schemas/SlbMuxInstance'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances/{slbMuxInstance}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/SLBMuxInstanceParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlbMuxInstance'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - SlbMuxInstances
      description: Returns the requested software load balancer multiplexer instance.
      operationId: SlbMuxInstances_Get
      x-ms-examples:
        Returns the requested software load balancer MUX Instance:
          $ref: ./examples/SlbMuxInstance/Get.json
components:
  parameters:
    SLBMuxInstanceParameter:
      description: Name of a SLB MUX instance.
      in: path
      name: slbMuxInstance
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    SlbMuxInstance:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        This resource represents an SLB MUX (software load balancing
        multiplexer, which distributes the tenant and tenant customer network
        traffic).
      properties:
        properties:
          $ref: '#/components/schemas/SlbMuxInstanceModel'
          description: Properties of a SLB MUX.
          x-ms-client-flatten: true
      type: object
    SlbMuxInstanceList:
      description: A pageable list of SLB MUX instances.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of SLB MUX instances.
          items:
            $ref: '#/components/schemas/SlbMuxInstance'
          type: array
      type: object
    SlbMuxInstanceModel:
      description: Properties of a SLB MUX.
      properties:
        bgpPeers:
          description: List of BGP peers.
          items:
            type: string
          type: array
        configurationState:
          description: Configuration state.
          type: string
        virtualServer:
          description: Virtual server.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

