openapi: 3.0.0
info:
  description: >-
    To manage and control access to your resources, you can define customized
    policies and assign them at a scope.
  title: PolicyClient
  version: 2015-10-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyassignments':
    get:
      parameters:
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
      tags:
        - PolicyAssignments
      description: Gets all the policy assignments for a subscription.
      operationId: PolicyAssignments_List
      x-ms-odata: '#/components/schemas/PolicyAssignment'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions':
    get:
      parameters:
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
          description: OK - Returns ana array of policy definitions.
      tags:
        - PolicyDefinitions
      description: Gets all the policy definitions for a subscription.
      operationId: PolicyDefinitions_List
      x-ms-odata: '#/components/schemas/PolicyDefinition'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions/{policyDefinitionName}':
    delete:
      parameters:
        - description: The name of the policy definition to delete.
          in: path
          name: policyDefinitionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - PolicyDefinitions
      description: Deletes a policy definition.
      operationId: PolicyDefinitions_Delete
    get:
      parameters:
        - description: The name of the policy definition to get.
          in: path
          name: policyDefinitionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: OK - Returns information about the policy definition.
      tags:
        - PolicyDefinitions
      description: Gets the policy definition.
      operationId: PolicyDefinitions_Get
    put:
      parameters:
        - description: The name of the policy definition to create.
          in: path
          name: policyDefinitionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: Created - Returns information about the policy definition.
      tags:
        - PolicyDefinitions
      description: Creates or updates a policy definition.
      operationId: PolicyDefinitions_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
        description: The policy definition properties.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments':
    get:
      parameters:
        - description: The name of the resource group that contains policy assignments.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - allowReserved: true
          description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
      tags:
        - PolicyAssignments
      description: Gets policy assignments for the resource group.
      operationId: PolicyAssignments_ListForResourceGroup
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyassignments':
    get:
      parameters:
        - description: >-
            The name of the resource group containing the resource. The name is
            case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: The parent resource path.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource with policy assignments.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
      tags:
        - PolicyAssignments
      description: Gets policy assignments for a  resource.
      operationId: PolicyAssignments_ListForResource
      x-ms-odata: '#/components/schemas/PolicyAssignment'
      x-ms-pageable:
        nextLinkName: nextLink
  '/{policyAssignmentId}':
    delete:
      parameters:
        - allowReserved: true
          description: >-
            The ID of the policy assignment to delete. Use the format
            '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.
          in: path
          name: policyAssignmentId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
      tags:
        - PolicyAssignments
      description: >-
        When providing a scope for the assignment, use
        '/subscriptions/{subscription-id}/' for subscriptions,
        '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
        for resource groups, and
        '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'
        for resources.
      operationId: PolicyAssignments_DeleteById
      summary: Deletes a policy assignment by ID.
    get:
      parameters:
        - allowReserved: true
          description: >-
            The ID of the policy assignment to get. Use the format
            '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.
          in: path
          name: policyAssignmentId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
      tags:
        - PolicyAssignments
      description: >-
        When providing a scope for the assignment, use
        '/subscriptions/{subscription-id}/' for subscriptions,
        '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
        for resource groups, and
        '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'
        for resources.
      operationId: PolicyAssignments_GetById
      summary: Gets a policy assignment by ID.
    put:
      parameters:
        - allowReserved: true
          description: >-
            The ID of the policy assignment to create. Use the format
            '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.
          in: path
          name: policyAssignmentId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: Created - Returns information about the policy assignment.
      tags:
        - PolicyAssignments
      description: >-
        Policy assignments are inherited by child resources. For example, when
        you apply a policy to a resource group that policy is assigned to all
        resources in the group. When providing a scope for the assignment, use
        '/subscriptions/{subscription-id}/' for subscriptions,
        '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
        for resource groups, and
        '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'
        for resources.
      operationId: PolicyAssignments_CreateById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Parameters for policy assignment.
        required: true
      summary: Creates a policy assignment by ID.
  '/{scope}/providers/Microsoft.Authorization/policyassignments/{policyAssignmentName}':
    delete:
      parameters:
        - allowReserved: true
          description: The scope of the policy assignment.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the policy assignment to delete.
          in: path
          name: policyAssignmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the deleted assignment.
      tags:
        - PolicyAssignments
      description: Deletes a policy assignment.
      operationId: PolicyAssignments_Delete
    get:
      parameters:
        - allowReserved: true
          description: The scope of the policy assignment.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the policy assignment to get.
          in: path
          name: policyAssignmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
      tags:
        - PolicyAssignments
      description: Gets a policy assignment.
      operationId: PolicyAssignments_Get
    put:
      parameters:
        - allowReserved: true
          description: The scope of the policy assignment.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the policy assignment.
          in: path
          name: policyAssignmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: Created - Returns information about the new policy assignment.
      tags:
        - PolicyAssignments
      description: >-
        Policy assignments are inherited by child resources. For example, when
        you apply a policy to a resource group that policy is assigned to all
        resources in the group.
      operationId: PolicyAssignments_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Parameters for the policy assignment.
        required: true
      summary: Creates a policy assignment.
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    PolicyAssignment:
      description: The policy assignment.
      properties:
        id:
          description: The ID of the policy assignment.
          type: string
        name:
          description: The name of the policy assignment.
          type: string
        properties:
          $ref: '#/components/schemas/PolicyAssignmentProperties'
          description: Properties for the policy assignment.
          x-ms-client-flatten: true
        type:
          description: The type of the policy assignment.
          type: string
      type: object
      x-ms-azure-resource: true
    PolicyAssignmentListResult:
      description: List of policy assignments.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of policy assignments.
          items:
            $ref: '#/components/schemas/PolicyAssignment'
          type: array
      type: object
    PolicyAssignmentProperties:
      description: The policy assignment properties.
      properties:
        displayName:
          description: The display name of the policy assignment.
          type: string
        policyDefinitionId:
          description: The ID of the policy definition.
          type: string
        scope:
          description: The scope for the policy assignment.
          type: string
      type: object
    PolicyDefinition:
      description: The policy definition.
      properties:
        id:
          description: The ID of the policy definition.
          readOnly: true
          type: string
        name:
          description: >-
            The name of the policy definition. If you do not specify a value for
            name, the value is inferred from the name value in the request URI.
          type: string
        properties:
          $ref: '#/components/schemas/PolicyDefinitionProperties'
          description: The policy definition properties.
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    PolicyDefinitionListResult:
      description: List of policy definitions.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of policy definitions.
          items:
            $ref: '#/components/schemas/PolicyDefinition'
          type: array
      type: object
    PolicyDefinitionProperties:
      description: The policy definition properties.
      properties:
        description:
          description: The policy definition description.
          type: string
        displayName:
          description: The display name of the policy definition.
          type: string
        policyRule:
          description: The policy rule.
          type: object
        policyType:
          description: >-
            The type of policy definition. Possible values are NotSpecified,
            BuiltIn, and Custom.
          enum:
            - NotSpecified
            - BuiltIn
            - Custom
          type: string
          x-ms-enum:
            modelAsString: true
            name: policyType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

