openapi: 3.0.0
info:
  title: ManagementLockClient
  version: '2015-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks':
    get:
      parameters:
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK
      tags:
        - ManagementLocks
      description: Gets all the management locks of a subscription.
      operationId: ManagementLocks_ListAtSubscriptionLevel
      x-ms-odata: '#/components/schemas/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks/{lockName}':
    delete:
      parameters:
        - description: The name of lock.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      tags:
        - ManagementLocks
      description: Deletes the management lock of a subscription.
      operationId: ManagementLocks_DeleteAtSubscriptionLevel
    get:
      parameters:
        - description: Name of the management lock.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
      tags:
        - ManagementLocks
      description: Gets the management lock of a scope.
      operationId: ManagementLocks_Get
    put:
      parameters:
        - description: The name of lock.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
        - ManagementLocks
      description: Create or update a management lock at the subscription level.
      operationId: ManagementLocks_CreateOrUpdateAtSubscriptionLevel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: The management lock parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks':
    get:
      parameters:
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK
      tags:
        - ManagementLocks
      description: Gets all the management locks of a resource group.
      operationId: ManagementLocks_ListAtResourceGroupLevel
      x-ms-odata: '#/components/schemas/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks/{lockName}':
    delete:
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of lock.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      tags:
        - ManagementLocks
      description: Deletes the management lock of a resource group.
      operationId: ManagementLocks_DeleteAtResourceGroupLevel
    get:
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The lock name.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
      tags:
        - ManagementLocks
      description: Gets a management lock at the resource group level.
      operationId: ManagementLocks_GetAtResourceGroupLevel
    put:
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The lock name.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
        - ManagementLocks
      description: Create or update a management lock at the resource group level.
      operationId: ManagementLocks_CreateOrUpdateAtResourceGroupLevel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: The management lock parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks':
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: Resource identity.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockListResult'
          description: OK
      tags:
        - ManagementLocks
      description: Gets all the management locks of a resource or any level below resource.
      operationId: ManagementLocks_ListAtResourceLevel
      x-ms-odata: '#/components/schemas/ManagementLockObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks/{lockName}':
    delete:
      parameters:
        - description: 'The name of the resource group. '
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: Resource identity.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of lock.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      tags:
        - ManagementLocks
      description: Deletes the management lock of a resource or any level below resource.
      operationId: ManagementLocks_DeleteAtResourceLevel
    put:
      parameters:
        - description: 'The name of the resource group. '
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - allowReserved: true
          description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: Resource identity.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: The name of lock.
          in: path
          name: lockName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementLockObject'
          description: Created
      tags:
        - ManagementLocks
      description: >-
        Create or update a management lock at the resource level or any level
        below resource.
      operationId: ManagementLocks_CreateOrUpdateAtResourceLevel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementLockObject'
        description: Create or update management lock parameters.
        required: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    ManagementLockObject:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManagementLockObject'
      description: The management lock parameters.
      required: true
  schemas:
    ManagementLockListResult:
      description: List of management locks.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The list of locks.
          items:
            $ref: '#/components/schemas/ManagementLockObject'
          type: array
      type: object
    ManagementLockObject:
      description: Management lock information.
      properties:
        id:
          description: The Id of the lock.
          readOnly: true
          type: string
        name:
          description: The name of the lock.
          type: string
        properties:
          $ref: '#/components/schemas/ManagementLockProperties'
          description: The properties of the lock.
          x-ms-client-flatten: true
        type:
          description: The type of the lock.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ManagementLockProperties:
      description: The management lock properties.
      properties:
        level:
          description: The lock level of the management lock.
          enum:
            - NotSpecified
            - CanNotDelete
            - ReadOnly
          type: string
          x-ms-enum:
            modelAsString: true
            name: LockLevel
        notes:
          description: The notes of the management lock.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

