{
  "openapi": "3.0.0",
  "info": {
    "description": "Logical subnet operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/LogicalSubnet.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/LogicalNetworkParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogicalSubnetList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "LogicalSubnets"
        ],
        "description": "Returns a list of all logical subnets.",
        "operationId": "LogicalSubnets_List",
        "x-ms-examples": {
          "Returns a list of all logical subnets.": {
            "$ref": "./examples/LogicalSubnet/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/LogicalSubnet",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets/{logicalSubnet}": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/LogicalNetworkParameter"
          },
          {
            "$ref": "#/components/parameters/LogicalSubnetParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogicalSubnet"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "LogicalSubnets"
        ],
        "description": "Returns the requested logical subnet.",
        "operationId": "LogicalSubnets_Get",
        "x-ms-examples": {
          "Returns the requested logical subnet.": {
            "$ref": "./examples/LogicalSubnet/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "LogicalNetworkParameter": {
        "description": "Name of the logical network.",
        "in": "path",
        "name": "logicalNetwork",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "LogicalSubnetParameter": {
        "description": "Name of the logical subnet.",
        "in": "path",
        "name": "logicalSubnet",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "LogicalSubnet": {
        "allOf": [
          {
            "$ref": "Fabric.json#/definitions/Resource"
          }
        ],
        "description": "This resource represents a logical subnet.  A logical subnet is made of a subnet-vlan pair.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/LogicalSubnetModel",
            "description": "Properties of a logical subnet.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "LogicalSubnetList": {
        "description": "Pageable list of logical subnets.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of logical subnets.",
            "items": {
              "$ref": "#/components/schemas/LogicalSubnet"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "LogicalSubnetModel": {
        "description": "Properties of a logical subnet.",
        "properties": {
          "ipPools": {
            "description": "All IP pools which belong to this subnet.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "isPublic": {
            "description": "The visibility status of the IP pool.  If is true the associated pools are public IP address pools.",
            "type": "boolean"
          },
          "metadata": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Metadata related to the logical network.",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}