openapi: 3.0.0
info:
  title: CostManagementClient
  version: 2018-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - description: >-
            May be used to filter alerts by properties/definition/type,
            properties/definition/category, properties/definition/criteria,
            properties/costEntityId, properties/creationTime,
            properties/closeTime, properties/status, properties/source.
            Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            alerts.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all alerts for a department.
      operationId: Alerts_ListByDepartment
      x-ms-examples:
        Alert_List:
          $ref: ./examples/AlertList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/alerts/{alertId}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the alert for a department by alert ID.
      operationId: Alerts_GetByDepartment
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus':
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update alerts status for a department.
      operationId: Alerts_UpdateDepartmentsAlertStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - description: >-
            May be used to filter alerts by properties/definition/type,
            properties/definition/category, properties/definition/criteria,
            properties/costEntityId, properties/creationTime,
            properties/closeTime, properties/status, properties/source.
            Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            alerts.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all alerts for an account.
      operationId: Alerts_ListByAccount
      x-ms-examples:
        Alert_List:
          $ref: ./examples/AlertList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the alert for an account by alert ID.
      operationId: Alerts_GetByAccount
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus':
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/enrollmentAccountIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update alerts status for an enrollment account.
      operationId: Alerts_UpdateEnrollmentAccountAlertStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the usage data for billing account.
      operationId: QueryBillingAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDefinition'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        BillingAccountQuery:
          $ref: ./examples/BillingAccountQuery.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - description: >-
            May be used to filter alerts by properties/definition/type,
            properties/definition/category, properties/definition/criteria,
            properties/costEntityId, properties/creationTime,
            properties/closeTime, properties/status, properties/source.
            Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            alerts.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all alerts for an enrollment.
      operationId: Alerts_ListByEnrollment
      x-ms-examples:
        Alert_List:
          $ref: ./examples/AlertList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the alert for an enrollment by alert ID.
      operationId: Alerts_GetByEnrollment
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus':
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update alerts status for billing account.
      operationId: Alerts_UpdateBillingAccountAlertStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by billingAccount Id.
      operationId: BillingAccountDimensions_List
      x-ms-examples:
        BillingAccountDimensionsList:
          $ref: ./examples/BillingAccountDimensionsList.json
        BillingAccountDimensionsListExpandAndTop:
          $ref: ./examples/BillingAccountDimensionsListExpandAndTop.json
        BillingAccountDimensionsListWithFilter:
          $ref: ./examples/BillingAccountDimensionsListWithFilter.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists all reports for a billing account.
      operationId: Reports_ListByBillingAccount
      x-ms-examples:
        ReportList:
          $ref: ./examples/ReportListByBillingAccount.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports/{reportName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a report for billing account.
      operationId: Reports_DeleteByBillingAccount
      x-ms-examples:
        DeleteReport:
          $ref: ./examples/ReportDeleteByBillingAccount.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the report for a billing account by report name.
      operationId: Reports_GetByBillingAccount
      x-ms-examples:
        Report:
          $ref: ./examples/ReportByBillingAccount.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a report for billingAccount. Update
        operation requires latest eTag to be set in the request mandatorily. You
        may obtain the latest eTag by performing a get operation. Create
        operation does not require eTag.
      operationId: Reports_CreateOrUpdateByBillingAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        CreateOrUpdateReport:
          $ref: ./examples/ReportCreateOrUpdateByBillingAccount.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports/{reportName}/run':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to execute a report by billing account.
      operationId: Reports_ExecuteByBillingAccount
      x-ms-examples:
        ExecuteReport:
          $ref: ./examples/ReportExecutionByBillingAccount.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/reports/{reportName}/runHistory':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportExecutionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        Gets the execution history of a report for a billing account by report
        name.
      operationId: Reports_GetExecutionHistoryByBillingAccount
      x-ms-examples:
        ExecutionHistoryReport:
          $ref: ./examples/ReportExecutionListByBillingAccount.json
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists all reports for a department.
      operationId: Reports_ListByDepartment
      x-ms-examples:
        ReportList:
          $ref: ./examples/ReportListByDepartment.json
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports/{reportName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a report for department.
      operationId: Reports_DeleteByDepartment
      x-ms-examples:
        DeleteReport:
          $ref: ./examples/ReportDeleteByDepartment.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the report for a department by report name.
      operationId: Reports_GetByDepartment
      x-ms-examples:
        Report:
          $ref: ./examples/ReportByDepartment.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a report for department. Update
        operation requires latest eTag to be set in the request mandatorily. You
        may obtain the latest eTag by performing a get operation. Create
        operation does not require eTag.
      operationId: Reports_CreateOrUpdateByDepartment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        CreateOrUpdateReport:
          $ref: ./examples/ReportCreateOrUpdateByDepartment.json
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports/{reportName}/run':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to execute a report by department.
      operationId: Reports_ExecuteByDepartment
      x-ms-examples:
        ExecuteReport:
          $ref: ./examples/ReportExecutionByDepartment.json
  '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/reports/{reportName}/runHistory':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/departmentIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportExecutionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the execution history of a report for a department by report name.
      operationId: Reports_GetExecutionHistoryByDepartment
      x-ms-examples:
        ExecutionHistoryReport:
          $ref: ./examples/ReportExecutionListByDepartment.json
  /providers/Microsoft.CostManagement/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available cost management REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - description: >-
            May be used to filter alerts by properties/definition/type,
            properties/definition/category, properties/definition/criteria,
            properties/costEntityId, properties/creationTime,
            properties/closeTime, properties/status, properties/source.
            Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            alerts.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all alerts for Management Groups.
      operationId: Alerts_ListByManagementGroups
      x-ms-examples:
        Alert_List:
          $ref: ./examples/AlertList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/alerts/{alertId}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets an alert for Management Groups by alert ID.
      operationId: Alerts_GetAlertByManagementGroups
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/alerts/{alertId}/UpdateStatus':
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/managementGroupIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update alerts status for management group.
      operationId: Alerts_UpdateManagementGroupAlertStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the usage data for subscriptionId.
      operationId: QuerySubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDefinition'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        SubscriptionQuery:
          $ref: ./examples/SubscriptionQuery.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: >-
            May be used to filter alerts by properties/definition/type,
            properties/definition/category, properties/definition/criteria,
            properties/costEntityId, properties/creationTime,
            properties/closeTime, properties/status, properties/source.
            Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            alerts.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all alerts for a subscription.
      operationId: Alerts_List
      x-ms-examples:
        Alert_List:
          $ref: ./examples/AlertList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/alerts/{alertId}':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the alert for a subscription by alert ID.
      operationId: Alerts_GetBySubscription
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus':
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update alerts status for a subscription.
      operationId: Alerts_UpdateSubscriptionAlertStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/connectors':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Connectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: List all connector definitions for a subscription
      operationId: Connector_List
      x-ms-examples:
        Connector_List:
          $ref: ./examples/ConnectorList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by subscription Id.
      operationId: SubscriptionDimensions_List
      x-ms-examples:
        SubscriptionDimensionsList:
          $ref: ./examples/SubscriptionDimensionsList.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reports':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists all reports for a subscription.
      operationId: Reports_List
      x-ms-examples:
        ReportList:
          $ref: ./examples/ReportList.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reports/{reportName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a report.
      operationId: Reports_Delete
      x-ms-examples:
        DeleteReport:
          $ref: ./examples/ReportDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the report for a subscription by report name.
      operationId: Reports_Get
      x-ms-examples:
        Report:
          $ref: ./examples/Report.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a report. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the
        latest eTag by performing a get operation. Create operation does not
        require eTag.
      operationId: Reports_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        CreateOrUpdateReport:
          $ref: ./examples/ReportCreateOrUpdate.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reports/{reportName}/run':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to execute a report.
      operationId: Reports_Execute
      x-ms-examples:
        ExecuteReport:
          $ref: ./examples/ReportExecution.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reports/{reportName}/runHistory':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportExecutionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        Gets the execution history of a report for a subscription by report
        name.
      operationId: Reports_GetExecutionHistory
      x-ms-examples:
        ExecutionHistoryReport:
          $ref: ./examples/ReportExecutionList.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: >-
            May be used to filter alerts by properties/definition/type,
            properties/definition/category, properties/definition/criteria,
            properties/costEntityId, properties/creationTime,
            properties/closeTime, properties/status, properties/source.
            Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            alerts.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: List all alerts for a resource group under a subscription.
      operationId: Alerts_ListByResourceGroupName
      x-ms-examples:
        Alert_List:
          $ref: ./examples/AlertList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/alerts/{alertId}':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/alertIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the alert for a resource group under a subscription by alert ID.
      operationId: Alerts_GetByResourceGroupName
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/alerts/{alertId}/updateStatus':
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/alertIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Alerts
      description: Update alerts status for a resource group under a subscription.
      operationId: Alerts_UpdateResourceGroupNameAlertStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        description: Parameters supplied to the update alerts status operation.
        required: true
      x-ms-examples:
        Alert:
          $ref: ./examples/Alert.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: >-
            May be used to filter dimensions by properties/category,
            properties/usageStart, properties/usageEnd. Supported operators are
            'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            May be used to expand the properties/data within a dimension
            category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            dimension data.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Dimensions
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the dimensions by resource group Id.
      operationId: ResourceGroupDimensions_List
      x-ms-examples:
        ResourceGroupDimensionsList:
          $ref: ./examples/ResourceGroupDimensionsList.json
      x-ms-odata: '#/components/schemas/Dimension'
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reports':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists all reports for a resource group under a subscription.
      operationId: Reports_ListByResourceGroupName
      x-ms-examples:
        ReportList:
          $ref: ./examples/ReportList.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reports/{reportName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a report.
      operationId: Reports_DeleteByResourceGroupName
      x-ms-examples:
        DeleteReport:
          $ref: ./examples/ReportDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        Gets the report for a resource group under a subscription by report
        name.
      operationId: Reports_GetByResourceGroupName
      x-ms-examples:
        Report:
          $ref: ./examples/Report.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a report. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the
        latest eTag by performing a get operation. Create operation does not
        require eTag.
      operationId: Reports_CreateOrUpdateByResourceGroupName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        CreateOrUpdateReport:
          $ref: ./examples/ReportCreateOrUpdate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reports/{reportName}/run':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to execute a report.
      operationId: Reports_ExecuteByResourceGroupName
      x-ms-examples:
        ExecuteReport:
          $ref: ./examples/ReportExecution.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reports/{reportName}/runHistory':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/reportNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportExecutionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Reports
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        Gets the execution history of a report for a resource group by report
        name.
      operationId: Reports_GetExecutionHistoryByResourceGroupName
      x-ms-examples:
        ExecutionHistoryReport:
          $ref: ./examples/ReportExecutionList.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Query
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists the usage data for subscriptionId and resource group.
      operationId: QueryResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDefinition'
        description: Parameters supplied to the CreateOrUpdate Report operation.
        required: true
      x-ms-examples:
        ResourceGroupQuery:
          $ref: ./examples/ResourceGroupQuery.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/connectors':
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Connectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        List all connector definitions for a resource group under a
        subscription.
      operationId: Connector_ListByResourceGroupName
      x-ms-examples:
        Connector_List:
          $ref: ./examples/ConnectorList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/connectors/{connectorName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Connectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Delete a connector definition
      operationId: Connector_Delete
      x-ms-examples:
        Connector_Delete:
          $ref: ./examples/ConnectorDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Connectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Get a connector definition
      operationId: Connector_Get
      x-ms-examples:
        Connector_Get:
          $ref: ./examples/ConnectorGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Connectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Update a connector definition
      operationId: Connector_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinition'
        description: Connector details
        required: true
      x-ms-examples:
        Connector_Patch:
          $ref: ./examples/ConnectorPatch.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/connectorNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Connectors
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Create or update a connector definition
      operationId: Connector_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinition'
        description: Connector details
        required: true
      x-ms-examples:
        Connector_Put:
          $ref: ./examples/ConnectorPut.json
components:
  parameters:
    alertIdParameter:
      description: Alert ID.
      in: path
      name: alertId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2018-08-01-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    connectorNameParameter:
      description: Connector Name.
      in: path
      name: connectorName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    departmentIdParameter:
      description: Department ID
      in: path
      name: departmentId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    enrollmentAccountIdParameter:
      description: Enrollment Account Id
      in: path
      name: enrollmentAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: Management Group ID
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    reportNameParameter:
      description: Report Name.
      in: path
      name: reportName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    Alert:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Alert'
      description: Parameters supplied to the update alerts status operation.
      required: true
    ConnectorDefinition:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectorDefinition'
      description: Connector details
      required: true
    Report:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Report'
      description: Parameters supplied to the CreateOrUpdate Report operation.
      required: true
    ReportDefinition:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportDefinition'
      description: Parameters supplied to the CreateOrUpdate Report operation.
      required: true
  schemas:
    Alert:
      description: The Alert model definition
      properties:
        id:
          description: Alert id
          readOnly: true
          type: string
        name:
          description: Alert name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/AlertProperties'
          description: Alert properties
          x-ms-client-flatten: true
        type:
          description: Alert type
          readOnly: true
          type: string
      type: object
    AlertDefinition:
      description: The definition (rule) of an Alert
      properties:
        category:
          description: Category of the alert.
          enum:
            - Cost
            - Usage
            - Billing
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertCategory
        criteria:
          description: Criteria (condition) of the alert.
          enum:
            - CostThresholdExceeded
            - UsageThresholdExceeded
            - CreditThresholdReached
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertCriteria
        type:
          description: The type of cost-entity the alert is defined on.
          enum:
            - Budget
            - Invoice
            - Credit
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertType
      readOnly: true
      type: object
    AlertListResult:
      description: >-
        Result of listing alerts. It contains a list of available alerts in the
        scope provided.
      properties:
        nextLink:
          description: The URI to fetch the next page of Alerts.
          readOnly: true
          type: string
        value:
          description: The list of alerts.
          items:
            $ref: '#/components/schemas/Alert'
          readOnly: true
          type: array
      type: object
    AlertProperties:
      description: The properties of an Alert.
      properties:
        closeTime:
          description: The time when the alert was closed (resolved / overridden).
          format: date-time
          readOnly: true
          type: string
        costEntityId:
          description: 'The id of the creating cost-entity (budget, invoice, credit).'
          readOnly: true
          type: string
        creationTime:
          description: The time when the alert was created.
          format: date-time
          readOnly: true
          type: string
        definition:
          $ref: '#/components/schemas/AlertDefinition'
          description: The definition (rule) of an Alert
          readOnly: true
        description:
          description: Description of an alert.
          readOnly: true
          type: string
        details:
          additionalProperties:
            type: string
          description: Specific details of an alert - key-value dictionary.
          readOnly: true
          type: object
          x-ms-client-flatten: true
        modificationTime:
          description: The current status when alert was modified.
          format: date-time
          readOnly: true
          type: string
        modificationUsername:
          description: The username who modified the alert.
          readOnly: true
          type: string
        scope:
          description: The scope of an alert.
          readOnly: true
          type: string
        source:
          description: The source of an Alert
          enum:
            - Preset
            - User
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertSource
        status:
          description: The current status of the alert.
          enum:
            - Active
            - Overridden
            - Resolved
            - Dismissed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertStatus
        statusModificationTime:
          description: The current status when alert status was modified.
          format: date-time
          readOnly: true
          type: string
      type: object
    CommonReportProperties:
      description: The common properties of the report.
      properties:
        definition:
          $ref: '#/components/schemas/ReportDefinition'
          description: Has definition for the report.
        deliveryInfo:
          $ref: '#/components/schemas/ReportDeliveryInfo'
          description: Has delivery information for the report.
        format:
          description: The format of the report being delivered.
          enum:
            - Csv
          type: string
          x-ms-enum:
            modelAsString: true
            name: FormatType
      required:
        - deliveryInfo
        - definition
      type: object
    ConnectorCollectionErrorInfo:
      description: Details of any error encountered on last collection attempt
      properties:
        errorCode:
          description: Short error message
          readOnly: true
          type: string
        errorMessage:
          description: Detailed error message
          readOnly: true
          type: string
        errorStartTime:
          description: >-
            Time the error started occurring (Last time error occurred in
            lastRun)
          format: date-time
          readOnly: true
          type: string
      type: object
    ConnectorCollectionInfo:
      description: Collection and ingestion information
      properties:
        error:
          $ref: '#/components/schemas/ConnectorCollectionErrorInfo'
          description: Error information of last collection
        lastRun:
          description: >-
            Last time the data acquisition process completed (even if no new
            data was found)
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        lastUpdated:
          description: Last time the external data was updated into Azure
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        sourceLastUpdated:
          description: >-
            Source timestamp of external data currently available in Azure (eg
            AWS last processed CUR file timestamp)
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
      type: object
    ConnectorDefinition:
      description: The Connector model definition
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        id:
          description: Connector id
          readOnly: true
          type: string
        kind:
          description: Connector kind (eg aws)
          type: string
        location:
          description: Connector location
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: Connector name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ConnectorProperties'
          description: Connector properties
          x-ms-client-flatten: true
        type:
          description: Connector type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ConnectorDefinitionListResult:
      description: >-
        Result of listing connector definitions. It contains a list of available
        connector definitions in the scope provided.
      properties:
        value:
          description: The list of connector definitions.
          items:
            $ref: '#/components/schemas/ConnectorDefinition'
          readOnly: true
          type: array
      type: object
    ConnectorProperties:
      description: The properties of a Connector
      properties:
        collection:
          $ref: '#/components/schemas/ConnectorCollectionInfo'
          description: Collection information
          readOnly: true
        createdOn:
          description: Connector definition creation datetime
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        credentialsKey:
          description: Credentials authentication key (eg AWS ARN)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        credentialsSecret:
          description: Credentials secret (eg AWS ExternalId)
          type: string
          x-ms-mutability:
            - create
            - update
        displayName:
          description: Connector DisplayName (defaults to Name)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        modifiedOn:
          description: Connector last modified datetime
          format: date-time
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        providerAccountId:
          description: Connector providerAccountId (determined from credentials)
          readOnly: true
          type: string
          x-ms-mutability:
            - read
        reportId:
          description: >-
            Identifying source report. (For AWS this is a CUR report name,
            defined with Daily and with Resources)
          type: string
          x-ms-mutability:
            - read
            - create
            - update
        status:
          description: Connector status
          enum:
            - active
            - error
            - suspended
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConnectorStatus
          x-ms-mutability:
            - read
            - create
            - update
      type: object
    Dimension:
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/DimensionProperties'
          title: Dimension properties
          x-ms-client-flatten: true
      type: object
    DimensionProperties:
      properties:
        category:
          type: string
        data:
          items:
            type: string
          type: array
        nextLink:
          type: string
        total:
          format: int32
          type: integer
        usageEnd:
          format: date-time
          type: string
        usageStart:
          format: date-time
          type: string
      type: object
    DimensionsListResult:
      description: >-
        Result of listing dimensions. It contains a list of available
        dimensions.
      properties:
        value:
          description: The list of dimensions.
          items:
            $ref: '#/components/schemas/Dimension'
          readOnly: true
          type: array
      type: object
    ErrorBase:
      description: The details of the error.
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          type: string
        message:
          description: A human readable error message.
          readOnly: true
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          readOnly: true
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          type: string
        details:
          description: error details.
          items:
            $ref: '#/components/schemas/ErrorBase'
          type: array
        message:
          description: A human readable error message.
          readOnly: true
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          type: string
      type: object
    ErrorResponse:
      description: >-
        Error response indicates that the service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
      type: object
    Operation:
      description: A Cost Management REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.CostManagement.'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: UsageDetail, etc.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of listing CostManagement operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of CostManagement operations supported by the
            Microsoft.CostManagement resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    Query:
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/QueryProperties'
          title: Query properties
          x-ms-client-flatten: true
      type: object
    QueryColumn:
      properties:
        name:
          type: string
        type:
          type: string
      type: object
    QueryProperties:
      properties:
        columns:
          description: Array of columns
          items:
            $ref: '#/components/schemas/QueryColumn'
          type: array
        nextLink:
          type: string
        rows:
          items:
            items: {}
            type: array
          type: array
      type: object
    QueryResult:
      description: >-
        Result of query. It contains all columns listed under groupings and
        aggregation.
      properties:
        value:
          description: The list of usage data.
          items:
            $ref: '#/components/schemas/Query'
          readOnly: true
          type: array
      type: object
    Report:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A report resource.
      properties:
        properties:
          $ref: '#/components/schemas/ReportProperties'
          title: Report properties
          x-ms-client-flatten: true
      type: object
    ReportAggregation:
      description: The aggregation expression to be used in the report.
      properties:
        function:
          description: The name of the aggregation function to use.
          enum:
            - Sum
          type: string
          x-ms-enum:
            modelAsString: true
            name: FunctionType
        name:
          description: The name of the column to aggregate.
          type: string
      required:
        - name
        - function
      type: object
    ReportColumnType:
      description: The type of the column in the report.
      enum:
        - Tag
        - Dimension
      type: string
      x-ms-enum:
        modelAsString: true
        name: ReportColumnType
    ReportComparisonExpression:
      description: The comparison expression to be used in the report.
      properties:
        name:
          description: The name of the column to use in comparison.
          type: string
        operator:
          description: The operator to use for comparison.
          enum:
            - In
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        values:
          description: Array of values to use for comparison
          items:
            type: string
          minItems: 1
          type: array
      required:
        - name
        - operator
        - values
      type: object
    ReportDataset:
      description: The definition of data present in the report.
      properties:
        aggregation:
          additionalProperties:
            $ref: '#/components/schemas/ReportAggregation'
            type: object
          description: >-
            Dictionary of aggregation expression to use in the report. The key
            of each item in the dictionary is the alias for the aggregated
            column. Report can have up to 2 aggregation clauses.
          maxItems: 2
          type: object
        configuration:
          $ref: '#/components/schemas/ReportDatasetConfiguration'
          description: >-
            Has configuration information for the data in the report. The
            configuration will be ignored if aggregation and grouping are
            provided.
        filter:
          $ref: '#/components/schemas/ReportFilter'
          description: Has filter expression to use in the report.
          type: object
        granularity:
          description: The granularity of rows in the report.
          enum:
            - Daily
            - Hourly
          type: string
          x-ms-enum:
            modelAsString: true
            name: GranularityType
        grouping:
          description: >-
            Array of group by expression to use in the report. Report can have
            up to 2 group by clauses.
          items:
            $ref: '#/components/schemas/ReportGrouping'
          maxItems: 2
          type: array
      type: object
    ReportDatasetConfiguration:
      description: The configuration of dataset in the report.
      properties:
        columns:
          description: >-
            Array of column names to be included in the report. Any valid report
            column name is allowed. If not provided, then report includes all
            columns.
          items:
            type: string
          type: array
      type: object
    ReportDefinition:
      description: The definition of a report.
      properties:
        dataset:
          $ref: '#/components/schemas/ReportDataset'
          description: Has definition for data in this report.
        timePeriod:
          $ref: '#/components/schemas/ReportTimePeriod'
          description: Has time period for pulling data for the report.
        timeframe:
          description: >-
            The time frame for pulling data for the report. If custom, then a
            specific time period must be provided.
          enum:
            - WeekToDate
            - MonthToDate
            - Custom
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeframeType
        type:
          description: The type of the report.
          enum:
            - Usage
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReportType
      required:
        - type
        - timeframe
      type: object
    ReportDeliveryDestination:
      description: The destination information for the delivery of the report.
      properties:
        container:
          description: The name of the container where reports will be uploaded.
          type: string
        resourceId:
          description: >-
            The resource id of the storage account where reports will be
            delivered.
          type: string
        rootFolderPath:
          description: The name of the directory where reports will be uploaded.
          type: string
      required:
        - resourceId
        - container
      type: object
    ReportDeliveryInfo:
      description: The delivery information associated with a report.
      properties:
        destination:
          $ref: '#/components/schemas/ReportDeliveryDestination'
          description: Has destination for the report being delivered.
      required:
        - destination
      type: object
    ReportExecution:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A report execution.
      properties:
        properties:
          $ref: '#/components/schemas/ReportExecutionProperties'
          title: Report execution properties
          x-ms-client-flatten: true
      type: object
    ReportExecutionListResult:
      description: Result of listing reports execution history of a report by name
      properties:
        value:
          description: The list of report executions.
          items:
            $ref: '#/components/schemas/ReportExecution'
          readOnly: true
          type: array
      type: object
    ReportExecutionProperties:
      description: The properties of the report execution.
      properties:
        executionType:
          description: The type of the report execution.
          enum:
            - OnDemand
            - Scheduled
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExecutionType
        fileName:
[...]
