{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Log Analytics API reference.",
    "title": "Azure Log Analytics",
    "version": "2015-03-20",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2015-03-20/OperationalInsights.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.OperationalInsights/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available OperationalInsights Rest API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/linkTargets": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LinkTarget"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Get a list of workspaces which the current user has administrator privileges and are not associated with an Azure Subscription. The subscriptionId parameter in the Url is ignored.",
        "operationId": "Workspaces_ListLinkTargets",
        "x-ms-examples": {
          "LinkTargetsList": {
            "$ref": "./examples/WorkspacesListLinkTargets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/operations/{purgeId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspacePurgeIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacePurgeStatusResponse"
                }
              }
            },
            "description": "Returns status of purge operation in body of response. e.g.:  running, completed."
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Gets status of an ongoing purge operation.",
        "operationId": "Workspaces_GetPurgeStatus",
        "x-ms-examples": {
          "WorkspacePurgeOperation": {
            "$ref": "./examples/WorkspacesPurgeOperation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/purge": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacePurgeResponse"
                }
              }
            },
            "description": "Accepted request for purging an Log Analytics workspace.",
            "headers": {
              "x-ms-status-location": {
                "description": "The location from which to request the operation status.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Purges data in an Log Analytics workspace by a set of user-defined filters.\n\nIn order to manage system resources, purge requests are throttled at 50 requests per hour. You should batch the execution of purge requests by sending a single command whose predicate includes all user identities that require purging. Use the in operator to specify multiple identities. You should run the query prior to using for a purge request to verify that the results are expected.",
        "operationId": "Workspaces_Purge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspacePurgeBody"
              }
            }
          },
          "description": "Describes the body of a request to purge data in a single table of an Log Analytics Workspace",
          "required": true
        },
        "x-ms-examples": {
          "WorkspacePurge": {
            "$ref": "./examples/WorkspacesPurge.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/availableServiceTiers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AvailableServiceTier"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "AvailableServiceTiers"
        ],
        "description": "Gets the available service tiers for the workspace.",
        "operationId": "Workspaces_AvailableServiceTiers",
        "x-ms-examples": {
          "AvailableServiceTiers": {
            "$ref": "./examples/WorkspacesAvailableServiceTiers.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/gateways/{gatewayId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/GatewayIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified gateway was deleted successfully."
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Delete a Log Analytics gateway.",
        "operationId": "Workspaces_DeleteGateways",
        "x-ms-examples": {
          "DeleteGateways": {
            "$ref": "./examples/WorkspacesGatewaysDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedKeys"
                }
              }
            },
            "description": "Returns the shared keys associated with the Log Analytics Workspace."
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Gets the shared keys for a Log Analytics Workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace.",
        "operationId": "Workspaces_ListKeys",
        "x-ms-examples": {
          "SharedKeysList": {
            "$ref": "./examples/WorkspacesListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/regenerateSharedKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedKeys"
                }
              }
            },
            "description": "Returns the new shared keys associated with the Log Analytics Workspace."
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Regenerates the shared keys for a Log Analytics Workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace.",
        "operationId": "Workspaces_RegenerateSharedKeys",
        "x-ms-examples": {
          "RegenerateSharedKeys": {
            "$ref": "./examples/WorkspacesRegenerateSharedKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearchesListResult"
                }
              }
            },
            "description": "Returns the list of saved searches for the given Log Analytics Workspace."
          }
        },
        "tags": [
          "SavedSearches"
        ],
        "description": "Gets the saved searches for a given Log Analytics Workspace",
        "operationId": "SavedSearches_ListByWorkspace",
        "x-ms-examples": {
          "SavedSearchesList": {
            "$ref": "./examples/SavedSearchesListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "The id of the saved search.",
            "in": "path",
            "name": "savedSearchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          }
        },
        "tags": [
          "SavedSearches"
        ],
        "description": "Deletes the specified saved search in a given workspace.",
        "operationId": "SavedSearches_Delete",
        "x-ms-examples": {
          "SavedSearchesDelete": {
            "$ref": "./examples/WorkspacesDeleteSavedSearches.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "The id of the saved search.",
            "in": "path",
            "name": "savedSearchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearch"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "SavedSearches"
        ],
        "description": "Gets the specified saved search for a given workspace.",
        "operationId": "SavedSearches_Get",
        "x-ms-examples": {
          "SavedSearchesGet": {
            "$ref": "./examples/WorkspacesSavedSearchesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "The id of the saved search.",
            "in": "path",
            "name": "savedSearchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearch"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "SavedSearches"
        ],
        "description": "Creates or updates a saved search for a given workspace.",
        "operationId": "SavedSearches_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavedSearch"
              }
            }
          },
          "description": "The parameters required to save a search.",
          "required": true
        },
        "x-ms-examples": {
          "SavedSearchCreateOrUpdate": {
            "$ref": "./examples/WorkspacesSavedSearchesCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/schema": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGetSchemaResponse"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Gets the schema for a given workspace.",
        "operationId": "Workspaces_GetSchema",
        "x-ms-examples": {
          "WorkspacesGetSchema": {
            "$ref": "./examples/SavedSearchesGetSchema.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageInsightListResult"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "StorageInsights"
        ],
        "description": "Lists the storage insight instances within a workspace",
        "operationId": "StorageInsights_ListByWorkspace",
        "x-ms-examples": {
          "StorageInsightsList": {
            "$ref": "./examples/StorageInsightsListByWorkspace.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs/{storageInsightName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Name of the storageInsightsConfigs resource",
            "in": "path",
            "name": "storageInsightName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "204": {
            "description": "NoContent response definition."
          }
        },
        "tags": [
          "StorageInsights"
        ],
        "description": "Deletes a storageInsightsConfigs resource",
        "operationId": "StorageInsights_Delete",
        "x-ms-examples": {
          "StorageInsightsDelete": {
            "$ref": "./examples/StorageInsightsDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Name of the storageInsightsConfigs resource",
            "in": "path",
            "name": "storageInsightName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageInsight"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "StorageInsights"
        ],
        "description": "Gets a storage insight instance.",
        "operationId": "StorageInsights_Get",
        "x-ms-examples": {
          "StorageInsightsGet": {
            "$ref": "./examples/StorageInsightsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Name of the storageInsightsConfigs resource",
            "in": "path",
            "name": "storageInsightName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageInsight"
                }
              }
            },
            "description": "OK response definition."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageInsight"
                }
              }
            },
            "description": "Created response definition."
          }
        },
        "tags": [
          "StorageInsights"
        ],
        "description": "Create or update a storage insight.",
        "operationId": "StorageInsights_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageInsight"
              }
            }
          },
          "description": "The parameters required to create or update a storage insight.",
          "required": true
        },
        "x-ms-examples": {
          "StorageInsightsCreate": {
            "$ref": "./examples/StorageInsightsCreateOrUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "GatewayIdParameter": {
        "description": "The Log Analytics gateway Id.",
        "in": "path",
        "name": "gatewayId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The Resource Group name.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The Subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "WorkspaceNameParameter": {
        "description": "The Log Analytics Workspace name.",
        "in": "path",
        "name": "workspaceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "WorkspacePurgeIdParameter": {
        "description": "In a purge status request, this is the Id of the operation the status of which is returned.",
        "in": "path",
        "name": "purgeId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      }
    },
    "schemas": {
      "AvailableServiceTier": {
        "description": "Service Tier details.",
        "properties": {
          "CapacityReservationLevel": {
            "description": "The capacity reservation level in GB per day. Returned for the Capacity Reservation Service Tier.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "DefaultRetention": {
            "description": "The default retention for the Service Tier, in days.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "Enabled": {
            "description": "True if the Service Tier is enabled for the workspace.",
            "readOnly": true,
            "type": "boolean"
          },
          "LastSkuUpdate": {
            "description": "Time when the sku was last updated for the workspace. Returned for the Capacity Reservation Service Tier.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "MaximumRetention": {
            "description": "The maximum retention for the Service Tier, in days.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "MinimumRetention": {
            "description": "The minimum retention for the Service Tier, in days.",
            "format": "int64",
            "readOnly": true,
            "type": "integer"
          },
          "ServiceTier": {
            "description": "The name of the Service Tier.",
            "enum": [
              "Free",
              "Standard",
              "Premium",
              "PerNode",
              "PerGB2018",
              "Standalone",
              "CapacityReservation"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuNameEnum"
            }
          }
        },
        "type": "object"
      },
      "CoreSummary": {
        "description": "The core summary of a search.",
        "properties": {
          "numberOfDocuments": {
            "description": "The number of documents of a core summary.",
            "format": "int64",
            "type": "integer"
          },
          "status": {
            "description": "The status of a core summary.",
            "type": "string"
          }
        },
        "required": [
          "numberOfDocuments"
        ],
        "type": "object"
      },
      "LinkTarget": {
        "description": "Metadata for a workspace that isn't linked to an Azure subscription.",
        "properties": {
          "accountName": {
            "description": "The display name of the workspace.",
            "type": "string",
            "x-ms-client-name": "DisplayName"
          },
          "customerId": {
            "description": "The GUID that uniquely identifies the workspace. ",
            "type": "string"
          },
          "location": {
            "description": "The location of the workspace.",
            "type": "string"
          },
          "workspaceName": {
            "description": "The DNS valid workspace name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Supported operation of OperationalInsights resource provider.",
        "properties": {
          "display": {
            "description": "Display metadata associated with the operation.",
            "properties": {
              "operation": {
                "description": "Type of operation: get, read, delete, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Service provider: OperationalInsights.",
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed etc.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of the request to list OperationalInsights operations.",
        "properties": {
          "value": {
            "description": "List of operations supported by the OperationalInsights resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProxyResource": {
        "description": "Common properties of proxy resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "The resource definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SavedSearch": {
        "description": "Value object for saved search results.",
        "properties": {
          "eTag": {
            "description": "The ETag of the saved search.",
            "type": "string"
          },
          "id": {
            "description": "The id of the saved search.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the saved search.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/SavedSearchProperties",
            "description": "The properties of the saved search.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the saved search.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SavedSearchProperties": {
        "description": "Value object for saved search results.",
        "properties": {
          "tags": {
            "description": "The tags attached to the saved search.",
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "type": "array"
          },
          "category": {
            "description": "The category of the saved search. This helps the user to find a saved search faster. ",
            "type": "string"
          },
          "displayName": {
            "description": "Saved search display name.",
            "type": "string"
          },
          "query": {
            "description": "The query expression for the saved search. Please see https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-search-reference for reference.",
            "type": "string"
          },
          "version": {
            "description": "The version number of the query language. The current version is 2 and is the default.",
            "format": "int64",
            "maximum": 2,
            "minimum": 1,
            "type": "integer"
          }
        },
        "required": [
          "category",
          "displayName",
          "query"
        ],
        "type": "object"
      },
      "SavedSearchesListResult": {
        "description": "The saved search list operation response.",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/SearchMetadata",
            "description": "Unused legacy property, kept here for backward compatibility.",
            "x-ms-client-name": "Metadata"
          },
          "value": {
            "description": "The array of result values.",
            "items": {
              "$ref": "#/components/schemas/SavedSearch"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SearchGetSchemaResponse": {
        "description": "The get schema operation response.",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/SearchMetadata",
            "description": "The metadata from search results.",
            "x-ms-client-name": "Metadata"
          },
          "value": {
            "description": "The array of result values.",
            "items": {
              "$ref": "#/components/schemas/SearchSchemaValue"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SearchMetadata": {
        "description": "Metadata for search results.",
        "properties": {
          "aggregatedGroupingFields": {
            "description": "The aggregated grouping fields.",
            "type": "string"
          },
          "aggregatedValueField": {
            "description": "The aggregated value field.",
            "type": "string"
          },
          "coreSummaries": {
            "description": "The core summaries.",
            "items": {
              "$ref": "#/components/schemas/CoreSummary"
            },
            "type": "array"
          },
          "eTag": {
            "description": "The ETag of the search results.",
            "type": "string"
          },
          "id": {
            "description": "The id of the search results request.",
            "type": "string"
          },
          "lastUpdated": {
            "description": "The time of last update.",
            "format": "date-time",
            "type": "string"
          },
          "max": {
            "description": "The max of all aggregates returned in the result set.",
            "format": "int64",
            "type": "integer"
          },
          "requestId": {
            "description": "The request id of the search.",
            "type": "string",
            "x-ms-client-name": "SearchId"
          },
          "requestTime": {
            "description": "The request time.",
            "format": "int64",
            "type": "integer"
          },
          "resultType": {
            "description": "The search result type.",
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/SearchMetadataSchema",
            "description": "The schema."
          },
          "sort": {
            "description": "How the results are sorted.",
            "items": {
              "$ref": "#/components/schemas/SearchSort"
            },
            "type": "array"
          },
          "startTime": {
            "description": "The start time for the search.",
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "description": "The status of the search results.",
            "type": "string"
          },
          "sum": {
            "description": "The sum of all aggregates returned in the result set.",
            "format": "int64",
            "type": "integer"
          },
          "top": {
            "description": "The number of top search results.",
            "format": "int64",
            "type": "integer"
          },
          "total": {
            "description": "The total number of search results.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SearchMetadataSchema": {
        "description": "Schema metadata for search.",
        "properties": {
          "name": {
            "description": "The name of the metadata schema.",
            "type": "string"
          },
          "version": {
            "description": "The version of the metadata schema.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SearchSchemaValue": {
        "description": "Value object for schema results.",
        "properties": {
          "displayName": {
            "description": "The display name of the schema.",
            "type": "string"
          },
          "facet": {
            "description": "The boolean that indicates whether or not the field is a facet.",
            "type": "boolean"
          },
          "indexed": {
            "description": "The boolean that indicates the field is searchable as free text.",
            "type": "boolean"
          },
          "name": {
            "description": "The name of the schema.",
            "type": "string"
          },
          "ownerType": {
            "description": "The array of workflows containing the field.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "stored": {
            "description": "The boolean that indicates whether or not the field is stored.",
            "type": "boolean"
          },
          "type": {
            "description": "The type.",
            "type": "string"
          }
        },
        "required": [
          "facet",
          "stored",
          "indexed"
        ],
        "type": "object"
      },
      "SearchSort": {
        "description": "The sort parameters for search.",
        "properties": {
          "name": {
            "description": "The name of the field the search query is sorted on.",
            "type": "string"
          },
          "order": {
            "description": "The sort order of the search.",
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SearchSortEnum"
            }
          }
        },
        "type": "object"
      },
      "SharedKeys": {
        "description": "The shared keys for a workspace.",
        "properties": {
          "primarySharedKey": {
            "description": "The primary shared key of a workspace.",
            "type": "string"
          },
          "secondarySharedKey": {
            "description": "The secondary shared key of a workspace.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "StorageAccount": {
        "description": "Describes a storage account connection.",
        "properties": {
          "id": {
            "description": "The Azure Resource Manager ID of the storage account resource.",
            "type": "string"
          },
          "key": {
            "description": "The storage account key.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "key"
        ],
        "type": "object"
      },
      "StorageInsight": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "The top level storage insight resource container.",
        "properties": {
          "eTag": {
            "description": "The ETag of the storage insight.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/StorageInsightProperties",
            "description": "Storage insight properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "StorageInsightListResult": {
        "description": "The list storage insights operation response.",
        "properties": {
          "@odata.nextLink": {
            "description": "The link (url) to the next page of results.",
            "type": "string",
            "x-ms-client-name": "odataNextLink"
          },
          "value": {
            "description": "A list of storage insight items.",
            "items": {
              "$ref": "#/components/schemas/StorageInsight"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StorageInsightProperties": {
        "description": "Storage insight properties.",
        "properties": {
          "containers": {
            "description": "The names of the blob containers that the workspace should read",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "$ref": "#/components/schemas/StorageInsightStatus",
            "description": "The status of the storage insight",
            "readOnly": true
          },
          "storageAccount": {
            "$ref": "#/components/schemas/StorageAccount",
            "description": "The storage account connection details"
          },
          "tables": {
            "description": "The names of the Azure tables that the workspace should read",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "storageAccount"
        ],
        "type": "object"
      },
      "StorageInsightStatus": {
        "description": "The status of the storage insight.",
        "properties": {
          "description": {
            "description": "Description of the state of the storage insight.",
            "type": "string"
          },
          "state": {
            "description": "The state of the storage insight connection to the workspace",
            "enum": [
              "OK",
              "ERROR"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StorageInsightState"
            }
          }
        },
        "required": [
          "state"
        ],
        "type": "object"
      },
      "Tag": {
        "description": "A tag of a saved search.",
        "properties": {
          "name": {
            "description": "The tag name.",
            "type": "string"
          },
          "value": {
            "description": "The tag value.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ],
        "type": "object"
      },
      "WorkspacePurgeBody": {
        "description": "Describes the body of a purge request for an App Insights Workspace",
        "properties": {
          "filters": {
            "description": "The set of columns and filters (queries) to run over them to purge the resulting data.",
            "items": {
              "$ref": "#/components/schemas/WorkspacePurgeBodyFilters"
            },
            "type": "array"
          },
          "table": {
            "description": "Table from which to purge data.",
            "type": "string"
          }
        },
        "required": [
          "table",
          "filters"
        ],
        "type": "object"
      },
      "WorkspacePurgeBodyFilters": {
        "description": "User-defined filters to return data which will be purged from the table.",
        "properties": {
          "column": {
            "description": "The column of the table over which the given query should run",
            "type": "string"
          },
          "key": {
            "description": "When filtering over custom dimensions, this key will be used as the name of the custom dimension.",
            "type": "string"
          },
          "operator": {
            "description": "A query operator to evaluate over the provided column and value(s). Supported operators are ==, =~, in, in~, >, >=, <, <=, between, and have the same behavior as they would in a KQL query.",
            "type": "string"
          },
          "value": {
            "description": "the value for the operator to function over. This can be a number (e.g., > 100), a string (timestamp >= '2017-09-01') or array of values."
          }
        },
        "type": "object"
      },
      "WorkspacePurgeResponse": {
        "description": "Response containing operationId for a specific purge action.",
        "properties": {
          "operationId": {
            "description": "Id to use when querying for status for a particular purge operation.",
            "type": "string"
          }
        },
        "required": [
          "operationId"
        ],
        "type": "object"
      },
      "WorkspacePurgeStatusResponse": {
        "description": "Response containing status for a specific purge operation.",
        "properties": {
          "status": {
            "description": "Status of the operation represented by the requested Id.",
            "enum": [
              "pending",
              "completed"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PurgeState"
            }
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}