openapi: 3.0.0
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2019-08-08-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/acquisitions':
    get:
      parameters:
        - $ref: storage.json#/components/parameters/SubscriptionIdParameter
        - $ref: storage.json#/components/parameters/LocationParameter
        - $ref: storage.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquisitionList'
          description: OK -- The list of acquisitions has been returned.
        default:
          content:
            application/json:
              schema:
                $ref: storage.json#/definitions/ErrorResponse
          description: Error Response.
      tags:
        - Acquisitions
      description: Returns a list of BLOB acquisitions.
      operationId: Acquisitions_List
      x-ms-examples:
        Returns a list of page BLOB acquisitions.:
          $ref: ./examples/Acquisitions/List.json
components:
  schemas:
    Acquisition:
      description: The acquisition of the page BLOB.
      properties:
        acquisitionid:
          description: The ID of page BLOB acquisition.
          readOnly: true
          type: string
        blob:
          description: The name of the page BLOB.
          readOnly: true
          type: string
        container:
          description: The container associated with the page BLOB.
          readOnly: true
          type: string
        filePath:
          description: The file path of the page BLOB file on storage cluster.
          readOnly: true
          type: string
        filePathUnc:
          description: The file path unc of the page BLOB file on storage cluster.
          readOnly: true
          type: string
        maximumblobsize:
          description: The maximum size of the page BLOB.
          format: int64
          readOnly: true
          type: integer
        status:
          $ref: '#/components/schemas/AcquisitionStatus'
          description: The status of the page BLOB acquisition.
          readOnly: true
        storageaccount:
          description: The storage account that holds the page BLOB.
          readOnly: true
          type: string
        susbcriptionid:
          description: ID of the subscription associated with the page BLOB.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    AcquisitionList:
      description: The list of page BLOB acquisitions.
      properties:
        value:
          description: List of acquisitions.
          items:
            $ref: '#/components/schemas/Acquisition'
          readOnly: true
          type: array
          x-ms-identifiers:
            - acquisitionid
      type: object
    AcquisitionStatus:
      description: The status of page BLOB acquisition.
      enum:
        - Unknown
        - NotAcquired
        - Pending
        - Success
        - Failed
      type: string
      x-ms-enum:
        modelAsString: true
        name: AcquisitionStatus
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

