{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Application Insights client for Continuous Export of a component.",
    "title": "ApplicationInsightsManagementClient",
    "version": "2015-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentContinuousExport_API.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentExportConfigurationListResult"
                }
              }
            },
            "description": "A list containing 0 or more Continuous Export configuration definitions of an Application Insights component."
          }
        },
        "description": "Gets a list of Continuous Export configuration of an Application Insights component.",
        "operationId": "ExportConfigurations_List",
        "x-ms-examples": {
          "ExportConfigurationsList": {
            "$ref": "./examples/ExportConfigurationsList.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentExportConfigurationListResult"
                }
              }
            },
            "description": "A list containing the Continuous Export configuration definition created by this POST call."
          }
        },
        "description": "Create a Continuous Export configuration of an Application Insights component.",
        "operationId": "ExportConfigurations_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInsightsComponentExportRequest"
              }
            }
          },
          "description": "Properties that need to be specified to create a Continuous Export configuration of a Application Insights component.",
          "required": true
        },
        "x-ms-examples": {
          "ExportConfigurationPost": {
            "$ref": "./examples/ExportConfigurationsPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration/{exportId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExportId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentExportConfiguration"
                }
              }
            },
            "description": "The Continuous Export configuration that was successfully deleted."
          }
        },
        "description": "Delete a Continuous Export configuration of an Application Insights component.",
        "operationId": "ExportConfigurations_Delete",
        "x-ms-examples": {
          "ExportConfigurationDelete": {
            "$ref": "./examples/ExportConfigurationDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExportId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentExportConfiguration"
                }
              }
            },
            "description": "The Continuous Export configuration for this export id."
          }
        },
        "description": "Get the Continuous Export configuration for this export id.",
        "operationId": "ExportConfigurations_Get",
        "x-ms-examples": {
          "ExportConfigurationGet": {
            "$ref": "./examples/ExportConfigurationGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ExportId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInsightsComponentExportConfiguration"
                }
              }
            },
            "description": "The Continuous Export configuration that was successfully updated."
          }
        },
        "description": "Update the Continuous Export configuration for this export id.",
        "operationId": "ExportConfigurations_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInsightsComponentExportRequest"
              }
            }
          },
          "description": "Properties that need to be specified to update the Continuous Export configuration.",
          "required": true
        },
        "x-ms-examples": {
          "ExportConfigurationUpdate": {
            "$ref": "./examples/ExportConfigurationUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ExportId": {
        "description": "The Continuous Export configuration ID. This is unique within a Application Insights component.",
        "in": "path",
        "name": "exportId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceNameParameter": {
        "description": "The name of the Application Insights component resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ApplicationInsightsComponentExportConfiguration": {
        "description": "Properties that define a Continuous Export configuration.",
        "properties": {
          "ApplicationName": {
            "description": "The name of the Application Insights component.",
            "readOnly": true,
            "type": "string"
          },
          "ContainerName": {
            "description": "The name of the destination storage container.",
            "readOnly": true,
            "type": "string"
          },
          "DestinationAccountId": {
            "description": "The name of destination account.",
            "readOnly": true,
            "type": "string"
          },
          "DestinationStorageLocationId": {
            "description": "The destination account location ID.",
            "readOnly": true,
            "type": "string"
          },
          "DestinationStorageSubscriptionId": {
            "description": "The destination storage account subscription ID.",
            "readOnly": true,
            "type": "string"
          },
          "DestinationType": {
            "description": "The destination type.",
            "readOnly": true,
            "type": "string"
          },
          "ExportId": {
            "description": "The unique ID of the export configuration inside an Application Insights component. It is auto generated when the Continuous Export configuration is created.",
            "readOnly": true,
            "type": "string"
          },
          "ExportStatus": {
            "description": "This indicates current Continuous Export configuration status. The possible values are 'Preparing', 'Success', 'Failure'.",
            "readOnly": true,
            "type": "string"
          },
          "InstrumentationKey": {
            "description": "The instrumentation key of the Application Insights component.",
            "readOnly": true,
            "type": "string"
          },
          "IsUserEnabled": {
            "description": "This will be 'true' if the Continuous Export configuration is enabled, otherwise it will be 'false'.",
            "readOnly": true,
            "type": "string"
          },
          "LastGapTime": {
            "description": "The last time the Continuous Export configuration started failing.",
            "readOnly": true,
            "type": "string"
          },
          "LastSuccessTime": {
            "description": "The last time data was successfully delivered to the destination storage container for this Continuous Export configuration.",
            "readOnly": true,
            "type": "string"
          },
          "LastUserUpdate": {
            "description": "Last time the Continuous Export configuration was updated.",
            "readOnly": true,
            "type": "string"
          },
          "NotificationQueueEnabled": {
            "description": "Deprecated",
            "type": "string"
          },
          "PermanentErrorReason": {
            "description": "This is the reason the Continuous Export configuration started failing. It can be 'AzureStorageNotFound' or 'AzureStorageAccessDenied'.",
            "readOnly": true,
            "type": "string"
          },
          "RecordTypes": {
            "description": "This comma separated list of document types that will be exported. The possible values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'.",
            "type": "string"
          },
          "ResourceGroup": {
            "description": "The resource group of the Application Insights component.",
            "readOnly": true,
            "type": "string"
          },
          "StorageName": {
            "description": "The name of the destination storage account.",
            "readOnly": true,
            "type": "string"
          },
          "SubscriptionId": {
            "description": "The subscription of the Application Insights component.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationInsightsComponentExportConfigurationListResult": {
        "description": "A list of Continuous Export configurations.",
        "items": {
          "$ref": "#/components/schemas/ApplicationInsightsComponentExportConfiguration"
        },
        "type": "array",
        "x-ms-identifiers": [
          "ExportId"
        ]
      },
      "ApplicationInsightsComponentExportRequest": {
        "description": "An Application Insights component Continuous Export configuration request definition.",
        "properties": {
          "DestinationAccountId": {
            "description": "The name of destination storage account.",
            "type": "string"
          },
          "DestinationAddress": {
            "description": "The SAS URL for the destination storage container. It must grant write permission.",
            "type": "string"
          },
          "DestinationStorageLocationId": {
            "description": "The location ID of the destination storage container.",
            "type": "string"
          },
          "DestinationStorageSubscriptionId": {
            "description": "The subscription ID of the destination storage container.",
            "type": "string"
          },
          "DestinationType": {
            "description": "The Continuous Export destination type. This has to be 'Blob'.",
            "type": "string"
          },
          "IsEnabled": {
            "description": "Set to 'true' to create a Continuous Export configuration as enabled, otherwise set it to 'false'.",
            "type": "string"
          },
          "NotificationQueueEnabled": {
            "description": "Deprecated",
            "type": "string"
          },
          "NotificationQueueUri": {
            "description": "Deprecated",
            "type": "string"
          },
          "RecordTypes": {
            "description": "The document types to be exported, as comma separated values. Allowed values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}