openapi: 3.0.0
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.HDInsight/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available HDInsight REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    Dimension:
      description: The definition of Dimension.
      properties:
        displayName:
          description: The display name of the dimension.
          type: string
        internalName:
          description: The display name of the dimension.
          type: string
        name:
          description: The name of the dimension.
          type: string
        toBeExportedForShoebox:
          description: >-
            The flag indicates whether the metric will be exported for shoebox
            or not.
          type: boolean
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    MetricSpecifications:
      description: The details of metric specifications.
      properties:
        aggregationType:
          description: The aggregation type of the metric specification.
          type: string
        category:
          description: The category of the metric.
          type: string
        delegateMetricNameOverride:
          description: The override name of delegate metric.
          type: string
        dimensions:
          description: The dimensions of the metric specification.
          items:
            $ref: '#/components/schemas/Dimension'
          type: array
        displayDescription:
          description: The display description of the metric specification.
          type: string
        displayName:
          description: The display name of the metric specification.
          type: string
        enableRegionalMdmAccount:
          description: The flag indicates whether enable regional mdm account or not.
          type: boolean
        fillGapWithZero:
          description: The flag indicates whether filling gap with zero.
          type: boolean
        isInternal:
          description: The flag indicates whether the metric is internal or not.
          type: boolean
        metricFilterPattern:
          description: The metric filter pattern.
          type: string
        name:
          description: The name of the metric specification.
          type: string
        resourceIdDimensionNameOverride:
          description: The override name of resource id dimension name.
          type: string
        sourceMdmAccount:
          description: The source mdm account.
          type: string
        sourceMdmNamespace:
          description: The source mdm namespace.
          type: string
        supportedAggregationTypes:
          description: The supported aggregation types of the metric specification.
          items:
            type: string
          type: array
        supportedTimeGrainTypes:
          description: The supported time grain types of the metric specification.
          items:
            type: string
          type: array
        unit:
          description: The unit of the metric specification.
          type: string
      type: object
    Operation:
      description: The HDInsight REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            description:
              description: Localized friendly description for the operation
              type: string
            operation:
              description: 'The operation type: read, write, delete, etc.'
              type: string
            provider:
              description: 'The service provider: Microsoft.HDInsight'
              type: string
            resource:
              description: >-
                The resource on which the operation is performed: Cluster,
                Applications, etc.
              type: string
          type: object
        name:
          description: 'The operation name: {provider}/{resource}/{operation}'
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          description: The operation properties.
      readOnly: true
      type: object
    OperationListResult:
      description: >-
        Result of the request to list HDInsight operations. It contains a list
        of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: >-
            The URL to get the next set of operation list results if there are
            any.
          type: string
        value:
          description: >-
            The list of HDInsight operations supported by the HDInsight resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      readOnly: true
      type: object
    OperationProperties:
      description: The details of operation.
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
          description: The specification of the service.
      type: object
    ServiceSpecification:
      description: The specification of the service.
      properties:
        metricSpecifications:
          description: The metric specifications.
          items:
            $ref: '#/components/schemas/MetricSpecifications'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

