openapi: 3.0.0
info:
  description: The Admin Compute Disk Management Client.
  title: ComputeDiskAdminManagementClient
  version: 2018-07-30-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/disks':
    get:
      parameters:
        - $ref: >-
            ../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter
        - $ref: Disks.json#/components/parameters/UserSubscriptionIdParameter
        - $ref: Disks.json#/components/parameters/DiskStateParameter
        - $ref: Disks.json#/components/parameters/SourceSharePathParameter
        - $ref: Disks.json#/components/parameters/SourceScaleUnitParameter
        - $ref: Disks.json#/components/parameters/SourceVolumeLabelParameter
        - $ref: Disks.json#/components/parameters/DiskCountParameter
        - $ref: Disks.json#/components/parameters/DiskStartParameter
        - $ref: >-
            ../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: Disks.json#/definitions/DiskList
          description: OK -- The list of disks has been returned.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse
          description: >-
            Common error response for all Azure Resource Manager APIs to return
            error details for failed operations. (This also follows the OData
            error response format.).
      tags:
        - Disks
      description: Returns a list of disks.
      operationId: Disks_List
      x-ms-examples:
        Returns a list of disks.:
          $ref: ./examples/Disks/List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/disks/{DiskId}':
    get:
      parameters:
        - $ref: >-
            ../2015-12-01-preview/Compute.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../2015-12-01-preview/Compute.json#/components/parameters/LocationParameter
        - $ref: Disks.json#/components/parameters/DiskIdParameter
        - $ref: >-
            ../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: Disks.json#/definitions/Disk
          description: OK -- The disk has been returned.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../2015-12-01-preview/Compute.json#/definitions/CrpErrorResponse
          description: >-
            Common error response for all Azure Resource Manager APIs to return
            error details for failed operations. (This also follows the OData
            error response format.).
      tags:
        - Disks
      description: Returns the disk.
      operationId: Disks_Get
      x-ms-examples:
        Returns the requested disk.:
          $ref: ./examples/Disks/Get.json
components:
  parameters:
    DiskCountParameter:
      description: The maximum number of disks to return.
      in: query
      name: count
      required: false
      schema:
        format: int32
        type: integer
      x-ms-parameter-location: method
    DiskIdParameter:
      description: The disk guid as identity.
      in: path
      name: DiskId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    DiskStartParameter:
      description: The start index of disks in query.
      in: query
      name: start
      required: false
      schema:
        format: int32
        type: integer
      x-ms-parameter-location: method
    DiskStateParameter:
      description: The parameters of disk state.
      in: query
      name: status
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SourceScaleUnitParameter:
      description: The scale unit which the resource belongs to.
      in: query
      name: scaleUnit
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SourceSharePathParameter:
      description: The share which the resource belongs to.
      in: query
      name: sharePath
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SourceVolumeLabelParameter:
      description: The volume label of the volume which the resource belongs to.
      in: query
      name: volumeLabel
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    UserSubscriptionIdParameter:
      description: User Subscription Id which the resource belongs to.
      in: query
      name: userSubscriptionId
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AccountType:
      description: Disk Sku.
      enum:
        - Standard_LRS
        - Standard_ZRS
        - Standard_GRS
        - Standard_RAGRS
        - Premium_LRS
        - StandardSSD_LRS
        - UltraSSD_LRS
      type: string
      x-ms-enum:
        modelAsString: true
        name: AccountType
    Disk:
      allOf:
        - $ref: ../2015-12-01-preview/Compute.json#/definitions/Resource
      description: Managed Disk.
      properties:
        properties:
          $ref: Disks.json#/definitions/DiskProperties
          description: Disk properties.
          x-ms-client-flatten: true
      type: object
    DiskList:
      description: List of disks.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of disks.
          items:
            $ref: Disks.json#/definitions/Disk
          type: array
      type: object
    DiskProperties:
      description: Managed disk properties.
      properties:
        actualSizeGB:
          description: The actual size of disk in GB.
          format: int64
          readOnly: true
          type: integer
        diskId:
          description: The disk id.
          type: string
        diskSku:
          $ref: Disks.json#/definitions/AccountType
          description: the disk sku.
          readOnly: true
        diskType:
          $ref: Disks.json#/definitions/DiskResourceType
          description: The type of the disk resource.
          readOnly: true
        managedBy:
          description: Compute resource Uri which owns this disk.
          readOnly: true
          type: string
        provisionSizeGB:
          description: The provision size of disk in GB.
          format: int64
          readOnly: true
          type: integer
        sharePath:
          description: The disk share path.
          type: string
        status:
          $ref: Disks.json#/definitions/DiskState
          description: The disk status.
        userResourceId:
          description: The disk resource Uri from user view.
          readOnly: true
          type: string
      type: object
    DiskResourceType:
      description: Disk resource type.
      enum:
        - Undefined
        - Disk
        - Snapshot
        - RestorePoint
        - ManagedBlob
      type: string
      x-ms-enum:
        modelAsString: true
        name: DiskResourceType
    DiskState:
      description: Disk State.
      enum:
        - Undefined
        - Unattached
        - Attached
        - Reserved
        - ActiveSAS
        - Unknown
        - All
        - Recommended
        - OfflineMigration
        - OnlineMigration
      type: string
      x-ms-enum:
        modelAsString: true
        name: DiskState
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

