{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscNode.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRegistration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AgentRegistrationInformation"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "description": "Retrieve the automation agent registration information.",
        "operationId": "AgentRegistrationInformation_Get",
        "x-ms-examples": {
          "Get Agent Registration Information": {
            "$ref": "./examples/getAgentRegistrationInformation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRegistration"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "AgentRegistrationInformation"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "description": "Regenerate a primary or secondary agent registration key",
        "operationId": "AgentRegistrationInformation_RegenerateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRegistrationRegenerateKeyParameter"
              }
            }
          },
          "description": "The name of the agent registration key to be regenerated",
          "required": true
        },
        "x-ms-examples": {
          "Regenerate the Primary Agent Registration Key": {
            "$ref": "./examples/regenerateAgentRegistrationKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DscNodeListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "DscNode"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "description": "Retrieve a list of dsc nodes.",
        "operationId": "DscNode_ListByAutomationAccount",
        "x-ms-examples": {
          "List DSC nodes by Automation Account": {
            "$ref": "./examples/listAllDscNodesByAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The node id.",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DscNode"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "DscNode"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "description": "Delete the dsc node identified by node id.",
        "operationId": "DscNode_Delete",
        "x-ms-examples": {
          "Delete a DSC Node": {
            "$ref": "./examples/deleteDscNode.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The node id.",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DscNode"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "DscNode"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "description": "Retrieve the dsc node identified by node id.",
        "operationId": "DscNode_Get",
        "x-ms-examples": {
          "Get a node": {
            "$ref": "./examples/getDscNode.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "Parameters supplied to the update dsc node.",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DscNode"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "DscNode"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "description": "Update the dsc node.",
        "operationId": "DscNode_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DscNodeUpdateParameters"
              }
            }
          },
          "description": "Parameters supplied to the update dsc node.",
          "required": true
        },
        "x-ms-examples": {
          "Update a node": {
            "$ref": "./examples/updateDscNode.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The parameters supplied to the list operation.",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DscNodeReportListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "NodeReports"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "description": "Retrieve the Dsc node report list by node id.",
        "operationId": "NodeReports_ListByNode",
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "$ref": "./examples/listDscNodeReportsByNode.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The Dsc node id.",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The report id.",
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DscNodeReport"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "NodeReports"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "description": "Retrieve the Dsc node report data by node id and report id.",
        "operationId": "NodeReports_Get",
        "x-ms-examples": {
          "Get Dsc node report data by node id and report id. ": {
            "$ref": "./examples/getDscNodeReport.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}/content": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The Dsc node id.",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The report id.",
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "NodeReports"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "description": "Retrieve the Dsc node reports by node id and report id.",
        "operationId": "NodeReports_GetContent",
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "$ref": "./examples/listDscNodeReportsByNode.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "description": "Definition of the agent registration information type.",
        "properties": {
          "dscMetaConfiguration": {
            "description": "Gets or sets the dsc meta configuration.",
            "type": "string"
          },
          "endpoint": {
            "description": "Gets or sets the dsc server endpoint.",
            "type": "string"
          },
          "id": {
            "description": "Gets or sets the id.",
            "type": "string"
          },
          "keys": {
            "$ref": "#/components/schemas/AgentRegistrationKeys",
            "description": "Gets or sets the agent registration keys."
          }
        },
        "type": "object"
      },
      "AgentRegistrationKeys": {
        "description": "Definition of the agent registration keys.",
        "properties": {
          "primary": {
            "description": "Gets or sets the primary key.",
            "type": "string"
          },
          "secondary": {
            "description": "Gets or sets the secondary key.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgentRegistrationRegenerateKeyParameter": {
        "description": "The parameters supplied to the regenerate keys operation.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the tags attached to the resource.",
            "type": "object"
          },
          "keyName": {
            "description": "Gets or sets the agent registration key name - primary or secondary.",
            "enum": [
              "primary",
              "secondary"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AgentRegistrationKeyName"
            }
          },
          "location": {
            "description": "Gets or sets the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Gets or sets the name of the resource.",
            "type": "string"
          }
        },
        "required": [
          "keyName"
        ],
        "type": "object"
      },
      "DscConfigurationAssociationProperty": {
        "description": "The Dsc configuration property associated with the entity.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the Dsc configuration.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscMetaConfiguration": {
        "description": "Definition of the DSC Meta Configuration.",
        "properties": {
          "actionAfterReboot": {
            "description": "Gets or sets the ActionAfterReboot value of the meta configuration.",
            "type": "string"
          },
          "allowModuleOverwrite": {
            "description": "Gets or sets the AllowModuleOverwrite value of the meta configuration.",
            "type": "boolean"
          },
          "certificateId": {
            "description": "Gets or sets the CertificateId value of the meta configuration.",
            "type": "string"
          },
          "configurationMode": {
            "description": "Gets or sets the ConfigurationMode value of the meta configuration.",
            "type": "string"
          },
          "configurationModeFrequencyMins": {
            "description": "Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration.",
            "format": "int32",
            "type": "integer"
          },
          "rebootNodeIfNeeded": {
            "description": "Gets or sets the RebootNodeIfNeeded value of the meta configuration.",
            "type": "boolean"
          },
          "refreshFrequencyMins": {
            "description": "Gets or sets the RefreshFrequencyMins value of the meta configuration.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DscNode": {
        "allOf": [
          {
            "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
          }
        ],
        "description": "Definition of the dsc node type.",
        "properties": {
          "accountId": {
            "description": "Gets or sets the account id of the node.",
            "type": "string"
          },
          "etag": {
            "description": "Gets or sets the etag of the resource.",
            "type": "string"
          },
          "extensionHandler": {
            "description": "Gets or sets the list of extensionHandler properties for a Node.",
            "items": {
              "$ref": "#/components/schemas/DscNodeExtensionHandlerAssociationProperty"
            },
            "type": "array"
          },
          "ip": {
            "description": "Gets or sets the ip of the node.",
            "type": "string"
          },
          "lastSeen": {
            "description": "Gets or sets the last seen time of the node.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "nodeConfiguration": {
            "$ref": "#/components/schemas/DscNodeConfigurationAssociationProperty",
            "description": "Gets or sets the configuration of the node."
          },
          "nodeId": {
            "description": "Gets or sets the node id.",
            "type": "string"
          },
          "registrationTime": {
            "description": "Gets or sets the registration time of the node.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "status": {
            "description": "Gets or sets the status of the node.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscNodeConfigurationAssociationProperty": {
        "description": "The dsc node configuration property associated with the entity.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the dsc node configuration.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscNodeExtensionHandlerAssociationProperty": {
        "description": "The dsc extensionHandler property associated with the node",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the extension handler.",
            "type": "string"
          },
          "version": {
            "description": "Gets or sets the version of the extension handler.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscNodeListResult": {
        "description": "The response model for the list dsc nodes operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of dsc nodes.",
            "items": {
              "$ref": "#/components/schemas/DscNode"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DscNodeReport": {
        "description": "Definition of the dsc node report type.",
        "properties": {
          "configurationVersion": {
            "description": "Gets or sets the configurationVersion of the node report.",
            "type": "string"
          },
          "endTime": {
            "description": "Gets or sets the end time of the node report.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "errors": {
            "description": "Gets or sets the errors for the node report.",
            "items": {
              "$ref": "#/components/schemas/DscReportError"
            },
            "type": "array"
          },
          "hostName": {
            "description": "Gets or sets the hostname of the node that sent the report.",
            "type": "string"
          },
          "iPV4Addresses": {
            "description": "Gets or sets the IPv4 address of the node that sent the report.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "iPV6Addresses": {
            "description": "Gets or sets the IPv6 address of the node that sent the report.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "description": "Gets or sets the id.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the lastModifiedTime of the node report.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "metaConfiguration": {
            "$ref": "#/components/schemas/DscMetaConfiguration",
            "description": "Gets or sets the metaConfiguration of the node at the time of the report."
          },
          "numberOfResources": {
            "description": "Gets or sets the number of resource in the node report.",
            "format": "int32",
            "type": "integer"
          },
          "rawErrors": {
            "description": "Gets or sets the unparsed errors for the node report.",
            "type": "string"
          },
          "rebootRequested": {
            "description": "Gets or sets the rebootRequested of the node report.",
            "type": "string"
          },
          "refreshMode": {
            "description": "Gets or sets the refreshMode of the node report.",
            "type": "string"
          },
          "reportFormatVersion": {
            "description": "Gets or sets the reportFormatVersion of the node report.",
            "type": "string"
          },
          "reportId": {
            "description": "Gets or sets the id of the node report.",
            "type": "string"
          },
          "resources": {
            "description": "Gets or sets the resource for the node report.",
            "items": {
              "$ref": "#/components/schemas/DscReportResource"
            },
            "type": "array"
          },
          "startTime": {
            "description": "Gets or sets the start time of the node report.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "status": {
            "description": "Gets or sets the status of the node report.",
            "type": "string"
          },
          "type": {
            "description": "Gets or sets the type of the node report.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscNodeReportListResult": {
        "description": "The response model for the list dsc nodes operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of dsc node reports.",
            "items": {
              "$ref": "#/components/schemas/DscNodeReport"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DscNodeUpdateParameters": {
        "description": "The parameters supplied to the update dsc node operation.",
        "properties": {
          "nodeConfiguration": {
            "$ref": "#/components/schemas/DscNodeConfigurationAssociationProperty",
            "description": "Gets or sets the configuration of the node."
          },
          "nodeId": {
            "description": "Gets or sets the id of the dsc node.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscReportError": {
        "description": "Definition of the dsc node report error type.",
        "properties": {
          "errorCode": {
            "description": "Gets or sets the error code.",
            "type": "string"
          },
          "errorDetails": {
            "description": "Gets or sets the error details.",
            "type": "string"
          },
          "errorMessage": {
            "description": "Gets or sets the error message.",
            "type": "string"
          },
          "errorSource": {
            "description": "Gets or sets the source of the error.",
            "type": "string"
          },
          "locale": {
            "description": "Gets or sets the locale of the error.",
            "type": "string"
          },
          "resourceId": {
            "description": "Gets or sets the resource ID which generated the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscReportResource": {
        "description": "Definition of the DSC Report Resource.",
        "properties": {
          "dependsOn": {
            "description": "Gets or sets the Resource Navigation values for resources the resource depends on.",
            "items": {
              "$ref": "#/components/schemas/DscReportResourceNavigation"
            },
            "type": "array"
          },
          "durationInSeconds": {
            "description": "Gets or sets the duration in seconds for the resource.",
            "format": "double",
            "type": "number"
          },
          "error": {
            "description": "Gets or sets the error of the resource.",
            "type": "string"
          },
          "moduleName": {
            "description": "Gets or sets the module name of the resource.",
            "type": "string"
          },
          "moduleVersion": {
            "description": "Gets or sets the module version of the resource.",
            "type": "string"
          },
          "resourceId": {
            "description": "Gets or sets the ID of the resource.",
            "type": "string"
          },
          "resourceName": {
            "description": "Gets or sets the name of the resource.",
            "type": "string"
          },
          "sourceInfo": {
            "description": "Gets or sets the source info of the resource.",
            "type": "string"
          },
          "startDate": {
            "description": "Gets or sets the start date of the resource.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "status": {
            "description": "Gets or sets the status of the resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DscReportResourceNavigation": {
        "description": "Navigation for DSC Report Resource.",
        "properties": {
          "resourceId": {
            "description": "Gets or sets the ID of the resource to navigate to.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}