openapi: 3.0.0
info:
  title: GuestConfiguration
  version: 2018-01-20-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.GuestConfiguration/operations:
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/OperationList
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available GuestConfiguration REST API operations.
      operationId: Operations_List
      x-ms-examples:
        Lists all of the available GuestConfiguration REST API operations:
          $ref: ./examples/listOperations.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: The guest configuration assignment name.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignments
      description: Get information about a guest configuration assignment
      operationId: GuestConfigurationAssignments_Get
      x-ms-examples:
        Get a guest configuration assignment:
          $ref: ./examples/getGuestConfigurationAssignment.json
    put:
      parameters:
        - description: Name of the guest configuration assignment.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignment'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignment'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignments
      description: Creates an association between a VM and guest configuration
      operationId: GuestConfigurationAssignments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestConfigurationAssignment'
        description: >-
          Parameters supplied to the create or update guest configuration
          assignment.
        required: true
      x-ms-examples:
        Create or update guest configuration assignment:
          $ref: ./examples/createOrUpdateGuestConfigurationAssignment.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: The guest configuration assignment name.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReportList'
          description: >-
            OK. This response is due one of these two reasons: 1. Reports were
            returned successfully 2. Guest configuration assignment was found,
            but VM is not registered yet, hence no reports returned.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignmentReports
      description: >-
        List all reports for the guest configuration assignment, latest report
        first.
      operationId: GuestConfigurationAssignmentReports_List
      x-ms-examples:
        List all guest configuration assignments for a virtual machine:
          $ref: ./examples/listAllGuestConfigurationAssignmentReports.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - description: The guest configuration assignment name.
          in: path
          name: guestConfigurationAssignmentName
          required: true
          schema:
            type: string
        - description: The GUID for the guest configuration assignment report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/VmNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
          description: >-
            OK. This response is due one of these two reasons: 1. Report was
            returned successfully 2. Guest configuration assignment was found,
            but VM is not registered yet, hence no report was returned.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - GuestConfigurationAssignmentReports
      description: 'Get a report for the guest configuration assignment, by reportId.'
      operationId: GuestConfigurationAssignmentReports_Get
      x-ms-examples:
        Get a guest configuration assignment report by Id for a virtual machine:
          $ref: ./examples/getGuestConfigurationAssignmentReportById.json
components:
  schemas:
    ConfigurationParameter:
      description: Represents a configuration parameter.
      properties:
        name:
          description: Name of the configuration parameter.
          readOnly: true
          type: string
        value:
          description: Value of the configuration parameter.
          readOnly: true
          type: string
      type: object
    ConfigurationParameterList:
      description: Represents the list for configuration parameters.
      properties:
        value:
          description: Represents the list for configuration parameters.
          items:
            $ref: '#/components/schemas/ConfigurationParameter'
          type: array
      type: object
    GuestConfigurationAssignment:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: >-
        Guest configuration assignment is an association between a VM and guest
        configuration.
      properties:
        properties:
          $ref: '#/components/schemas/GuestConfigurationAssignmentProperties'
          description: Properties of the Guest configuration assignment.
          x-ms-client-flatten: false
      type: object
    GuestConfigurationAssignmentList:
      description: The response of the list guest configuration assignment operation.
      properties:
        value:
          description: Result of the list guest configuration assignment operation.
          items:
            $ref: '#/components/schemas/GuestConfigurationAssignment'
          type: array
      type: object
    GuestConfigurationAssignmentProperties:
      description: Properties of guest configuration assignment object.
      properties:
        assignmentHash:
          description: Combined hash of the configuration package and parameters.
          readOnly: true
          type: string
        complianceReason:
          description: >-
            Reason for the complianceStatus for the assigned guest
            configuration.
          readOnly: true
          type: string
        complianceStatus:
          description: >-
            A value indicating compliance status of the virtual machine for the
            assigned guest configuration.
          enum:
            - Compliant
            - NotCompliant
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: complianceStatus
        guestConfiguration:
          $ref: '#/components/schemas/GuestConfigurationNavigation'
          description: The guest configuration to assign.
        latestReportId:
          description: Id of the latest guest configuration assignment report.
          readOnly: true
          type: string
        location:
          description: Region where VM is located.
          readOnly: true
          type: string
        provisioningState:
          description: 'The provisioning state, which only appears in the response.'
          enum:
            - Succeeded
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
      type: object
    GuestConfigurationAssignmentReport:
      description: >-
        Report for the guest configuration. Report contains information such as
        compliance status, reason and more.
      properties:
        configurationVersion:
          description: >-
            Configuration version of the report for the guest configuration
            assignment.
          type: string
        endTime:
          description: End time of the report for the guest configuration assignment.
          format: date-time
          nullable: true
          type: string
        id:
          description: >-
            ARM resource id of the report for the guest configuration
            assignment.
          readOnly: true
          type: string
        lastModifiedTime:
          description: Last modified time report for the guest configuration assignment.
          format: date-time
          nullable: false
          type: string
        rebootRequested:
          description: The value indicating whether reboot is requested for the report.
          enum:
            - 'True'
            - 'False'
          type: string
          x-ms-enum:
            modelAsString: true
            name: rebootRequested
        refreshMode:
          description: 'Refresh mode of the node report, push or pull.'
          enum:
            - Push
            - Pull
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: refreshMode
        reportFormatVersion:
          description: >-
            Report format version of the report for the guest configuration
            assignment.
          type: string
        reportId:
          description: GUID of the report for the guest configuration assignment.
          readOnly: true
          type: string
        startTime:
          description: Start time of the report for the guest configuration assignment.
          format: date-time
          nullable: true
          type: string
        status:
          description: >-
            A value indicating compliance status of the virtual machine for the
            assigned guest configuration.
          enum:
            - Compliant
            - NotCompliant
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: complianceStatus
        type:
          description: 'Type of report, Consistency or Initial'
          enum:
            - Consistency
            - Initial
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: type
      type: object
    GuestConfigurationAssignmentReportList:
      description: >-
        The response of the list guest configuration assignment report
        operation.
      properties:
        value:
          description: >-
            List of reports for the guest configuration. Report contains
            information such as compliance status, reason and more.
          items:
            $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
          type: array
      type: object
    GuestConfigurationNavigation:
      description: >-
        Guest configuration is an artifact that encapsulates DSC configuration
        and its dependencies. The artifact is a zip file containing DSC
        configuration (as MOF) and dependent resources and other dependencies
        like modules.
      properties:
        configurationParameter:
          $ref: '#/components/schemas/ConfigurationParameterList'
          description: The configuration parameters for the guest configuration.
        kind:
          description: 'Kind of the guest configuration. For example:DSC'
          enum:
            - DSC
          type: string
          x-ms-enum:
            modelAsString: true
            name: kind
        name:
          description: Name of the guest configuration.
          type: string
        type:
          description: Type of the guest configuration.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

