openapi: 3.0.0
info:
  description: Microsoft NetApp Azure Resource Provider specification
  title: Microsoft NetApp
  version: '2019-10-01'
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.NetApp/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available Microsoft.NetApp Rest API operations
      operationId: Operations_List
      summary: Describes the Resource Provider
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Resource
      description: Check if a file path is available.
      operationId: NetAppResource_CheckFilePathAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: File path availability request.
        required: true
      summary: Check file path availability
      x-ms-examples:
        CheckFilePathAvailability:
          $ref: examples/CheckFilePathAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Resource
      description: Check if a resource name is available.
      operationId: NetAppResource_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: Name availability request.
        required: true
      summary: Check resource name availability
      x-ms-examples:
        CheckNameAvailability:
          $ref: examples/CheckNameAvailability.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccountList'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Accounts
      description: List and describe all NetApp accounts in the resource group.
      operationId: Accounts_List
      summary: Describe all NetApp Accounts in a resource group
      x-ms-examples:
        Accounts_List:
          $ref: examples/Accounts_List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Accounts
      description: Delete the specified NetApp account
      operationId: Accounts_Delete
      summary: Delete a NetApp account
      x-ms-examples:
        Accounts_Delete:
          $ref: examples/Accounts_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Accounts
      description: Get the NetApp account
      operationId: Accounts_Get
      summary: Describe a NetApp Account
      x-ms-examples:
        Accounts_Get:
          $ref: examples/Accounts_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: OK - account updated
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Accounts
      description: Patch the specified NetApp account
      operationId: Accounts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netAppAccountPatch'
        description: NetApp Account object supplied in the body of the operation.
        required: true
      summary: Update a NetApp account
      x-ms-examples:
        Accounts_Update:
          $ref: examples/Accounts_Update.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: OK - account updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netAppAccount'
          description: Account created
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - NetApp Accounts
      description: Create or update the specified NetApp account within the resource group
      operationId: Accounts_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netAppAccount'
        description: NetApp Account object supplied in the body of the operation.
        required: true
      summary: Create or update a NetApp account
      x-ms-examples:
        Accounts_CreateOrUpdate:
          $ref: examples/Accounts_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPoolList'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Capacity Pools
      description: List all capacity pools in the NetApp Account
      operationId: Pools_List
      summary: Describe all Capacity Pools
      x-ms-examples:
        Pools_List:
          $ref: examples/Pools_List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
      tags:
        - Capacity Pools
      description: Delete the specified capacity pool
      operationId: Pools_Delete
      summary: Delete a capacity pool
      x-ms-examples:
        Pools_Delete:
          $ref: examples/Pools_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Capacity Pools
      description: Get details of the specified capacity pool
      operationId: Pools_Get
      summary: Describe a Capacity Pool
      x-ms-examples:
        Pools_Get:
          $ref: examples/Pools_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: OK
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - Capacity Pools
      description: Patch the specified capacity pool
      operationId: Pools_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityPoolPatch'
        description: Capacity pool object supplied in the body of the operation.
        required: true
      summary: Update a capacity pool
      x-ms-examples:
        Pools_Update:
          $ref: examples/Pools_Update.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: OK - pool updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
          description: Pool created
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - Capacity Pools
      description: Create or Update a capacity pool
      operationId: Pools_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityPool'
        description: Capacity pool object supplied in the body of the operation.
        required: true
      summary: Create or Update the specified capacity pool within the resource group
      x-ms-examples:
        Pools_CreateOrUpdate:
          $ref: examples/Pools_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volumeList'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes
      description: List all volumes within the capacity pool
      operationId: Volumes_List
      summary: Describe all volumes
      x-ms-examples:
        Volumes_List:
          $ref: examples/Volumes_List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes
      description: Delete the specified volume
      operationId: Volumes_Delete
      summary: Delete a volume
      x-ms-examples:
        Volumes_Delete:
          $ref: examples/Volumes_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes
      description: Get the details of the specified volume
      operationId: Volumes_Get
      summary: Describe a volume
      x-ms-examples:
        Volumes_Get:
          $ref: examples/Volumes_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: OK
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes
      description: Patch the specified volume
      operationId: Volumes_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volumePatch'
        description: Volume object supplied in the body of the operation.
        required: true
      summary: Update a volume
      x-ms-examples:
        Volumes_Update:
          $ref: examples/Volumes_Update.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: Ok - volume updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
          description: Volume created
        '202':
          description: >-
            Accepted -- Create request accepted; operation will complete
            asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes
      description: Create or update the specified volume within the capacity pool
      operationId: Volumes_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volume'
        description: Volume object supplied in the body of the operation.
        required: true
      summary: Create or Update a volume
      x-ms-examples:
        Volumes_CreateOrUpdate:
          $ref: examples/Volumes_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/authorizeReplication':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes Replication
      description: Authorize the replication connection on the source volume
      operationId: Volumes_AuthorizeReplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorizeRequest'
        description: authorize request object supplied in the body of the operation.
        required: true
      summary: Authorize source volume replication
      x-ms-examples:
        Volumes_AuthorizeReplication:
          $ref: examples/Volumes_AuthorizeReplication.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/breakReplication':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes Replication
      description: Break the replication connection on the destination volume
      operationId: Volumes_BreakReplication
      summary: Break volume replication
      x-ms-examples:
        Volumes_BreakReplication:
          $ref: examples/Volumes_BreakReplication.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/deleteReplication':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes Replication
      description: >-
        Delete the replication connection on the destination volume, and send
        release to the source replication
      operationId: Volumes_DeleteReplication
      summary: Delete volume replication
      x-ms-examples:
        Volumes_DeleteReplication:
          $ref: examples/Volumes_DeleteReplication.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/mountTargets':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mountTargetList'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - MountTargets
      description: List all mount targets associated with the volume
      operationId: MountTargets_List
      summary: Describe all mount targets
      x-ms-examples:
        MountTargets_List:
          $ref: examples/MountTargets_List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/replicationStatus':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/replicationStatus'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes Replication
      description: Get the status of the replication
      operationId: Volumes_ReplicationStatus
      summary: Get volume replication status
      x-ms-examples:
        Volumes_ReplicationStatus:
          $ref: examples/Volumes_ReplicationStatus.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/resyncReplication':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
      tags:
        - Volumes Replication
      description: >-
        Resync the connection on the destination volume. If the operation is ran
        on the source volume it will reverse-resync the connection and sync from
        destination to source.
      operationId: Volumes_ResyncReplication
      summary: Resync volume replication
      x-ms-examples:
        Volumes_ResyncReplication:
          $ref: examples/Volumes_ResyncReplication.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshotsList'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Snapshots
      description: List all snapshots associated with the volume
      operationId: Snapshots_List
      summary: Describe all snapshots
      x-ms-examples:
        Snapshots_List:
          $ref: examples/Snapshots_List.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots/{snapshotName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/SnapshotName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: >-
            Accepted -- Create, update or delete request accepted; operation
            will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
      tags:
        - Snapshots
      description: Delete snapshot
      operationId: Snapshots_Delete
      summary: Delete a snapshot
      x-ms-examples:
        Snapshots_Delete:
          $ref: examples/Snapshots_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/SnapshotName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshot'
          description: OK
        default:
          description: Error response describing why the operation failed.
      tags:
        - Snapshots
      description: Get details of the specified snapshot
      operationId: Snapshots_Get
      summary: Describe a snapshot
      x-ms-examples:
        Snapshots_Get:
          $ref: examples/Snapshots_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/SnapshotName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshot'
          description: OK
        '202':
          description: >-
            Accepted -- Update request accepted; operation will complete
            asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - Snapshots
      description: Patch a snapshot
      operationId: Snapshots_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snapshotPatch'
        description: Snapshot object supplied in the body of the operation.
        required: true
      summary: Update a snapshot
      x-ms-examples:
        Snapshots_Update:
          $ref: examples/Snapshots_Update.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroup'
        - $ref: '#/components/parameters/AccountName'
        - $ref: '#/components/parameters/PoolName'
        - $ref: '#/components/parameters/VolumeName'
        - $ref: '#/components/parameters/SnapshotName'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshot'
          description: Snapshot created
        '202':
          description: >-
            Accepted -- Create request accepted; operation will complete
            asynchronously
        default:
          description: Error response describing why the operation failed.
      tags:
        - Snapshots
      description: Create the specified snapshot within the given volume
      operationId: Snapshots_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snapshot'
        description: Snapshot object supplied in the body of the operation.
        required: true
      summary: Create a snapshot
      x-ms-examples:
        Snapshots_Create:
          $ref: examples/Snapshots_Create.json
      x-ms-long-running-operation: true
components:
  parameters:
    AccountName:
      description: The name of the NetApp account
      in: path
      name: accountName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        default: '2019-10-01'
        type: string
    MountTargetName:
      description: The name of the mount target
      in: path
      name: mountTargetName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PoolName:
      description: The name of the capacity pool
      in: path
      name: poolName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroup:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+$'
        type: string
      x-ms-parameter-location: method
    SnapshotName:
      description: The name of the snapshot
      in: path
      name: snapshotName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionId:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VolumeName:
      description: The name of the volume
      in: path
      name: volumeName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    location:
      description: The location
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Dimension:
      description: 'Dimension of blobs, possibly be blob type or access tier.'
      properties:
        displayName:
          description: Display name of dimension.
          type: string
        name:
          description: Display name of dimension.
          type: string
      type: object
    MetricSpecification:
      description: Metric specification of operation.
      properties:
        aggregationType:
          description: Aggregation type could be Average.
          type: string
        category:
          description: 'The category this metric specification belong to, could be Capacity.'
          type: string
        dimensions:
          description: 'Dimensions of blobs, including blob type and access tier.'
          items:
            $ref: '#/components/schemas/Dimension'
          type: array
        displayDescription:
          description: Display description of metric specification.
          type: string
        displayName:
          description: Display name of metric specification.
          type: string
        fillGapWithZero:
          description: The property to decide fill gap with zero or not.
          type: boolean
        name:
          description: Name of metric specification.
          type: string
        resourceIdDimensionNameOverride:
          description: Account Resource Id.
          type: string
        unit:
          description: Unit could be Bytes or Count.
          type: string
      type: object
    Operation:
      description: Microsoft.NetApp REST API operation definition.
      properties:
        display:
          description: Display metadata associated with the operation.
          properties:
            description:
              description: Operation description.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft NetApp.'
              type: string
            resource:
              description: Resource on which the operation is performed etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        origin:
          description: The origin of operations.
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          description: 'Properties of operation, include metric specifications.'
          x-ms-client-flatten: true
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Cloud Volume operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        value:
          description: >-
            List of Storage operations supported by the Storage resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationProperties:
      description: 'Properties of operation, include metric specifications.'
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
          description: 'One property of operation, include metric specifications.'
      type: object
    ResourceNameAvailability:
      description: Information regarding availability of a resource name.
      properties:
        isAvailable:
          description: >-
            <code>true</code> indicates name is valid and available.
            <code>false</code> indicates the name is invalid, unavailable, or
            both.
          type: boolean
        message:
          description: >-
            If reason == invalid, provide the user with the reason why the given
            name is invalid, and provide the resource naming requirements so
            that the user can select a valid name. If reason == AlreadyExists,
            explain that resource name is already in use, and direct them to
            select a different name.
          type: string
        reason:
          description: >-
            <code>Invalid</code> indicates the name provided does not match
            Azure App Service naming requirements. <code>AlreadyExists</code>
            indicates that the name is already in use and is therefore
            unavailable.
          enum:
            - Invalid
            - AlreadyExists
          type: string
          x-ms-enum:
            modelAsString: true
            name: InAvailabilityReasonType
      type: object
    ResourceNameAvailabilityRequest:
      description: Resource name availability request content.
      properties:
        name:
          description: Resource name to verify.
          type: string
        resourceGroup:
          description: Resource group name.
          type: string
        type:
          description: Resource type used for verification.
          enum:
            - Microsoft.NetApp/netAppAccounts
            - Microsoft.NetApp/netAppAccounts/capacityPools
            - Microsoft.NetApp/netAppAccounts/capacityPools/volumes
            - Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
          type: string
          x-ms-enum:
            modelAsString: true
            name: CheckNameResourceTypes
      required:
        - name
        - type
        - resourceGroup
      type: object
    ServiceSpecification:
      description: 'One property of operation, include metric specifications.'
      properties:
        metricSpecifications:
          description: Metric specifications of operation.
          items:
            $ref: '#/components/schemas/MetricSpecification'
          type: array
      type: object
    accountProperties:
      description: NetApp account properties
      properties:
        activeDirectories:
          description: Active Directories
          items:
            $ref: '#/components/schemas/activeDirectory'
          type: array
        provisioningState:
          description: Azure lifecycle management
          readOnly: true
          type: string
      type: object
    activeDirectory:
      description: Active Directory
      properties:
        activeDirectoryId:
          description: Id of the Active Directory
          type: string
        dns:
          description: >-
            Comma separated list of DNS server IP addresses (IPv4 only) for the
            Active Directory domain
          type: string
        domain:
          description: Name of the Active Directory domain
          type: string
        organizationalUnit:
          description: The Organizational Unit (OU) within the Windows Active Directory
          type: string
        password:
          description: Plain text password of Active Directory domain administrator
          type: string
        smbServerName:
          description: >-
            NetBIOS name of the SMB server. This name will be registered as a
            computer account in the AD and used to mount volumes
          type: string
        status:
          description: Status of the Active Directory
          type: string
        username:
          description: Username of Active Directory domain administrator
          type: string
      type: object
    authorizeRequest:
      description: Authorize request
      properties:
        remoteVolumeResourceId:
          description: Resource id
          type: string
      type: object
    capacityPool:
      description: Capacity pool resource
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/poolProperties'
          description: Capacity pool properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - location
        - properties
      type: object
      x-ms-azure-resource: true
    capacityPoolList:
      description: List of capacity pool resources
      properties:
        value:
          description: List of Capacity pools
          items:
            $ref: '#/components/schemas/capacityPool'
          type: array
      type: object
    capacityPoolPatch:
      description: Capacity pool patch resource
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/poolPatchProperties'
          description: Capacity pool properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    exportPolicyRule:
      description: Volume Export Policy Rule
      properties:
        allowedClients:
          description: >-
            Client ingress specification as comma separated string with IPv4
            CIDRs, IPv4 host addresses and host names
          type: string
        cifs:
          description: Allows CIFS protocol
          type: boolean
        nfsv3:
          description: Allows NFSv3 protocol
          type: boolean
        nfsv41:
          description: Allows NFSv4.1 protocol
          type: boolean
        ruleIndex:
          description: Order index
          type: integer
        unixReadOnly:
          description: Read only access
          type: boolean
        unixReadWrite:
          description: Read and write access
          type: boolean
      type: object
    mountTarget:
      description: Mount Target
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
          x-ms-client-flatten: true
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/mountTargetProperties'
          description: Mount Target Properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - location
        - properties
      type: object
    mountTargetList:
      description: List of Mount Targets
      properties:
        value:
          description: A list of Mount targets
          items:
            $ref: '#/components/schemas/mountTarget'
          type: array
      type: object
    mountTargetProperties:
      description: Mount target properties
      properties:
        endIp:
          description: >-
            The end of IPv4 address range to use when creating a new mount
            target
          example: 1.2.3.4
          title: endIp
          type: string
        fileSystemId:
          description: UUID v4 used to identify the MountTarget
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          title: fileSystemId
          type: string
        gateway:
          description: >-
            The gateway of the IPv4 address range to use when creating a new
            mount target
          example: 1.2.3.4
          title: gateway
          type: string
        ipAddress:
          description: The mount target's IPv4 address
          example: 1.2.3.4
          readOnly: true
          title: ipAddress
          type: string
        mountTargetId:
          description: UUID v4 used to identify the MountTarget
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          readOnly: true
          title: mountTargetId
          type: string
        netmask:
          description: >-
            The netmask of the IPv4 address range to use when creating a new
            mount target
          example: 255.255.255.0
          title: netmask
          type: string
        provisioningState:
          description: Azure lifecycle management
          readOnly: true
          type: string
        smbServerFqdn:
          description: 'The SMB server''s Fully Qualified Domain Name, FQDN'
          example: fullyqualified.domainname.com
          title: smbServerFQDN
          type: string
        startIp:
          description: >-
            The start of IPv4 address range to use when creating a new mount
            target
          example: 1.2.3.4
          title: startIp
          type: string
        subnet:
          description: The subnet
          example: 1.2.3.4
          title: subnet
          type: string
      required:
        - fileSystemId
      type: object
    netAppAccount:
      description: NetApp account resource
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/accountProperties'
          description: NetApp Account properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    netAppAccountList:
      description: List of NetApp account resources
      properties:
        value:
          description: Multiple NetApp accounts
          items:
            $ref: '#/components/schemas/netAppAccount'
          type: array
      type: object
    netAppAccountPatch:
      description: NetApp account patch resource
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/accountProperties'
          description: NetApp Account properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    poolPatchProperties:
      description: Patchable pool properties
      properties:
        serviceLevel:
          default: Premium
          description: The service level of the file system
          enum:
            - Standard
            - Premium
            - Ultra
          example: Ultra
          title: serviceLevel
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceLevel
            values:
              - description: Standard service level
                value: Standard
              - description: Premium service level
                value: Premium
              - description: Ultra service level
                value: Ultra
        size:
          default: 4398046511104
          description: >-
            Provisioned size of the pool (in bytes). Allowed values are in 4TiB
            chunks (value must be multiply of 4398046511104).
          format: int64
          maximum: 549755813888000
          minimum: 4398046511104
          title: size
          type: integer
      type: object
    poolProperties:
      description: Pool properties
      properties:
        poolId:
          description: UUID v4 used to identify the Pool
          example: 9760acf5-4638-11e7-9bdb-020073ca7778
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          readOnly: true
          title: poolId
          type: string
        provisioningState:
          description: Azure lifecycle management
          readOnly: true
          type: string
        serviceLevel:
          default: Premium
          description: The service level of the file system
          enum:
            - Standard
            - Premium
            - Ultra
          example: Ultra
          title: serviceLevel
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceLevel
            values:
              - description: Standard service level
                value: Standard
              - description: Premium service level
                value: Premium
              - description: Ultra service level
                value: Ultra
        size:
          description: >-
            Provisioned size of the pool (in bytes). Allowed values are in 4TiB
            chunks (value must be multiply of 4398046511104).
          format: int64
          maximum: 549755813888000
          minimum: 4398046511104
          title: size
          type: integer
      required:
        - size
        - serviceLevel
      type: object
    replicationObject:
      description: Replication properties
      properties:
        endpointType:
          description: >-
            Indicates whether the local volume is the source or destination for
            the Volume Replication
          enum:
            - src
            - dst
          type: string
          x-ms-enum:
            modelAsString: true
            name: EndpointType
        remoteVolumeRegion:
          description: The remote region for the other end of the Volume Replication.
          type: string
        remoteVolumeResourceId:
          description: The resource ID of the remote volume.
          type: string
        replicationId:
          description: Id
          type: string
        replicationSchedule:
          description: Schedule
          enum:
            - _10minutely
            - hourly
            - daily
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReplicationSchedule
      required:
        - replicationSchedule
        - remoteVolumeResourceId
      type: object
    replicationStatus:
      description: Replication status
      properties:
        errorMessage:
          description: Displays error message if the replication is in an error state
          type: string
        healthy:
          description: Replication health check
          type: boolean
        mirrorState:
          description: The status of the replication
          enum:
            - Uninitialized
            - Mirrored
            - Broken
          type: string
          x-ms-enum:
            modelAsString: true
            name: MirrorState
        relationshipStatus:
          description: Status of the mirror relationship
          enum:
            - Idle
            - Transferring
          type: string
          x-ms-enum:
            modelAsString: true
            name: RelationshipStatus
        totalProgress:
          description: The progress of the replication
          type: string
      type: object
    resourceTags:
      additionalProperties:
        type: string
      description: Tags are a list of key-value pairs that describe the resource
      type: object
    snapshot:
      description: Snapshot of a Volume
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
          x-ms-client-flatten: true
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/snapshotProperties'
          description: Snapshot Properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    snapshotPatch:
      description: Snapshot patch
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
          x-ms-client-flatten: true
      type: object
      x-ms-azure-resource: true
    snapshotProperties:
      description: Snapshot properties
      properties:
        created:
          description: The creation date of the snapshot
          example: '2017-08-15 13:23:33'
          format: date-time
          readOnly: true
          title: name
          type: string
        fileSystemId:
          description: UUID v4 used to identify the FileSystem
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          title: fileSystemId
          type: string
        provisioningState:
          description: Azure lifecycle management
          readOnly: true
          type: string
        snapshotId:
          description: UUID v4 used to identify the Snapshot
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          readOnly: true
          title: snapshotId
          type: string
      type: object
    snapshotsList:
      description: List of Snapshots
      properties:
        value:
          description: A list of Snapshots
          items:
            $ref: '#/components/schemas/snapshot'
          type: array
      type: object
    volume:
      description: Volume resource
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/volumeProperties'
          description: Volume properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - location
        - properties
      type: object
      x-ms-azure-resource: true
    volumeList:
      description: List of volume resources
      properties:
        value:
          description: List of volumes
          items:
            $ref: '#/components/schemas/volume'
          type: array
      type: object
    volumePatch:
      description: Volume patch resource
      properties:
        tags:
          $ref: '#/components/schemas/resourceTags'
          description: Resource tags
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/volumePatchProperties'
          description: Patchable volume properties
          x-ms-client-flatten: true
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    volumePatchProperties:
      description: Patchable volume properties
      properties:
        exportPolicy:
          description: Set of export policy rules
          properties:
            rules:
              description: Export policy rule
              items:
                $ref: '#/components/schemas/exportPolicyRule'
              title: Export policy rule
              type: array
          title: exportPolicy
          type: object
        serviceLevel:
          default: Premium
          description: The service level of the file system
          enum:
            - Standard
            - Premium
            - Ultra
          example: Ultra
          title: serviceLevel
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceLevel
            values:
              - description: Standard service level
                value: Standard
              - description: Premium service level
                value: Premium
              - description: Ultra service level
                value: Ultra
        usageThreshold:
          default: 107374182400
          description: >-
            Maximum storage quota allowed for a file system in bytes. This is a
            soft quota used for alerting only. Minimum size is 100 GiB. Upper
            limit is 100TiB. Specified in bytes.
          example: 107374182400
          format: int64
          maximum: 109951162777600
          minimum: 107374182400
          title: usageThreshold
          type: integer
      type: object
    volumeProperties:
      description: Volume properties
      properties:
        baremetalTenantId:
          description: Unique Baremetal Tenant Identifier.
          example: 9560acf5-4e3a-12e7-9bdb-02007cca7779
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          readOnly: true
          title: Baremetal Tenant ID
          type: string
        creationToken:
          description: A unique file path for the volume. Used when creating mount targets
          example: some-amazing-filepath
          maximum: 40
          minimum: 16
          title: Creation Token or File Path
          type: string
        dataProtection:
          description: >-
            DataProtection type volumes include an object containing details of
            the replication
          properties:
            replication:
              $ref: '#/components/schemas/replicationObject'
              description: Replication properties
              title: Replication
              type: object
          title: DataProtection
          type: object
        exportPolicy:
          description: Set of export policy rules
          properties:
            rules:
              description: Export policy rule
              items:
                $ref: '#/components/schemas/exportPolicyRule'
              title: Export policy rule
              type: array
          title: exportPolicy
          type: object
        fileSystemId:
          description: Unique FileSystem Identifier.
          example: 9760acf5-4638-11e7-9bdb-020073ca7778
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          readOnly: true
          title: FileSystem ID
          type: string
        isRestoring:
          description: Restoring
          type: boolean
        mountTargets:
          description: List of mount targets
          items:
            $ref: '#/components/schemas/mountTargetProperties'
          readOnly: true
          title: mountTargets
          type: array
        protocolTypes:
          description: 'Set of protocol types, default NFSv3, CIFS for SMB protocol'
          example:
            - NFSv4.1
          items:
            type: string
          title: protocolTypes
          type: array
        provisioningState:
          description: Azure lifecycle management
          readOnly: true
          type: string
        serviceLevel:
          default: Premium
          description: The service level of the file system
          enum:
            - Standard
            - Premium
            - Ultra
          example: Ultra
          title: serviceLevel
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceLevel
            values:
              - description: Standard service level
                value: Standard
              - description: Premium service level
                value: Premium
              - description: Ultra service level
                value: Ultra
        snapshotId:
          description: UUID v4 or resource identifier used to identify the Snapshot.
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
          maxLength: 36
          minLength: 36
          pattern: >-
            ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}|(\\?([^\/]*[\/])*)([^\/]+)$
          title: Snapshot ID
          type: string
        subnetId:
          description: >-
            The Azure Resource URI for a delegated subnet. Must have the
            delegation Microsoft.NetApp/volumes
          type: string
        usageThreshold:
          default: 107374182400
          description: >-
            Maximum storage quota allowed for a file system in bytes. This is a
            soft quota used for alerting only. Minimum size is 100 GiB. Upper
            limit is 100TiB. Specified in bytes.
          example: 107374182400
          format: int64
          maximum: 109951162777600
          minimum: 107374182400
          title: usageThreshold
          type: integer
        usedBytes:
          description: >-
            Resource size in bytes, current storage usage for the volume in
            bytes
          format: int64
          readOnly: true
          type: integer
        volumeType:
          description: What type of volume is this
          example: DataProtection
          type: string
      required:
        - creationToken
        - usageThreshold
        - subnetId
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

