{
  "openapi": "3.0.0",
  "info": {
    "description": "PowerBI Dedicated Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Power BI dedicated capacities",
    "title": "PowerBIDedicated",
    "version": "2017-10-01",
    "x-ms-code-generation-settings": {
      "name": "PowerBIDedicatedManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/powerbidedicated.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.PowerBIDedicated/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available PowerBIDedicated REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/capacities": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacities"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Lists all the Dedicated capacities for the given subscription.",
        "operationId": "Capacities_List",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/listCapacitiesInSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/locations/{location}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckCapacityNameAvailabilityResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Check the name availability in the target location. The name isn\u2019t available if it\u2019s used by another capacity in another tenant in the target location.",
        "operationId": "Capacities_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckCapacityNameAvailabilityParameters"
              }
            }
          },
          "description": "The name of the capacity.",
          "required": true
        },
        "x-ms-examples": {
          "Check name availability of a capacity": {
            "$ref": "./examples/checkNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuEnumerationForNewResourceResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Lists eligible SKUs for PowerBI Dedicated resource provider.",
        "operationId": "Capacities_ListSkus",
        "x-ms-examples": {
          "List eligible SKUs for a new capacity": {
            "$ref": "./examples/listSKUsForNew.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacities"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Gets all the Dedicated capacities for the given resource group.",
        "operationId": "Capacities_ListByResourceGroup",
        "x-ms-examples": {
          "List capacities in resource group": {
            "$ref": "./examples/listCapacitiesInResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Deletes the specified Dedicated capacity.",
        "operationId": "Capacities_Delete",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/deleteCapacity.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacity"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Gets details about the specified dedicated capacity.",
        "operationId": "Capacities_GetDetails",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/getCapacity.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacity"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacity"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Updates the current state of the specified Dedicated capacity.",
        "operationId": "Capacities_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DedicatedCapacityUpdateParameters"
              }
            }
          },
          "description": "Request object that contains the updated information for the capacity.",
          "required": true
        },
        "x-ms-examples": {
          "Update capacity parameters": {
            "$ref": "./examples/updateCapacity.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacity"
                }
              }
            },
            "description": "OK. The operation completed successfully."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedCapacity"
                }
              }
            },
            "description": "InProgress. The operation is still in progress."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Provisions the specified dedicated capacity based on the configuration specified in the request. You can\u2019t create a capacity with a name that\u2019s used by another capacity in another tenant in the target location.",
        "operationId": "Capacities_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DedicatedCapacity"
              }
            }
          },
          "description": "Contains the information used to provision the Dedicated capacity.",
          "required": true
        },
        "x-ms-examples": {
          "Create capacity": {
            "$ref": "./examples/createCapacity.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/resume": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Resumes operation of the specified Dedicated capacity instance.",
        "operationId": "Capacities_Resume",
        "x-ms-examples": {
          "Get details of a capacity": {
            "$ref": "./examples/resumeCapacity.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuEnumerationForExistingResourceResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Lists eligible SKUs for a PowerBI Dedicated resource.",
        "operationId": "Capacities_ListSkusForCapacity",
        "x-ms-examples": {
          "List eligible SKUs for an existing capacity": {
            "$ref": "./examples/listSKUsForExisting.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/suspend": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "name": "dedicatedCapacityName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 3,
              "pattern": "^[a-z][a-z0-9]*$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Capacities"
        ],
        "description": "Suspends operation of the specified dedicated capacity instance.",
        "operationId": "Capacities_Suspend",
        "x-ms-examples": {
          "Suspend capacity": {
            "$ref": "./examples/suspendCapacity.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CheckCapacityNameAvailabilityParameters": {
        "description": "Details of capacity name request body.",
        "properties": {
          "name": {
            "description": "Name for checking availability.",
            "maxLength": 63,
            "minLength": 3,
            "pattern": "^[a-z][a-z0-9]*$",
            "type": "string"
          },
          "type": {
            "default": "Microsoft.PowerBIDedicated/capacities",
            "description": "The resource type of PowerBI dedicated.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CheckCapacityNameAvailabilityResult": {
        "description": "The checking result of capacity name availability.",
        "properties": {
          "message": {
            "description": "The detailed message of the request unavailability.",
            "type": "string"
          },
          "nameAvailable": {
            "description": "Indicator of availability of the capacity name.",
            "type": "boolean"
          },
          "reason": {
            "description": "The reason of unavailability.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DedicatedCapacities": {
        "description": "An array of Dedicated capacities resources.",
        "properties": {
          "value": {
            "description": "An array of Dedicated capacities resources.",
            "items": {
              "$ref": "#/components/schemas/DedicatedCapacity"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "DedicatedCapacity": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Represents an instance of a Dedicated Capacity resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DedicatedCapacityProperties",
            "description": "Properties of the provision operation request.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DedicatedCapacityAdministrators": {
        "description": "An array of administrator user identities",
        "properties": {
          "members": {
            "description": "An array of administrator user identities.",
            "items": {
              "description": "The UPN of the user. For example: johnsmith@contoso.com.",
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DedicatedCapacityMutableProperties": {
        "description": "An object that represents a set of mutable Dedicated capacity resource properties.",
        "properties": {
          "administration": {
            "$ref": "#/components/schemas/DedicatedCapacityAdministrators",
            "description": "A collection of Dedicated capacity administrators"
          },
          "friendlyName": {
            "description": "Capacity name",
            "readOnly": true,
            "type": "string"
          },
          "mode": {
            "description": "The capacity mode.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "Tenant ID for the capacity. Used for creating Pro Plus capacity.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DedicatedCapacityProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DedicatedCapacityMutableProperties"
          }
        ],
        "description": "Properties of Dedicated Capacity resource.",
        "properties": {
          "provisioningState": {
            "description": "The current deployment state of PowerBI Dedicated resource. The provisioningState is to indicate states for resource provisioning.",
            "enum": [
              "Deleting",
              "Succeeded",
              "Failed",
              "Paused",
              "Suspended",
              "Provisioning",
              "Updating",
              "Suspending",
              "Pausing",
              "Resuming",
              "Preparing",
              "Scaling"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProvisioningState"
            }
          },
          "state": {
            "description": "The current state of PowerBI Dedicated resource. The state is to indicate more states outside of resource provisioning.",
            "enum": [
              "Deleting",
              "Succeeded",
              "Failed",
              "Paused",
              "Suspended",
              "Provisioning",
              "Updating",
              "Suspending",
              "Pausing",
              "Resuming",
              "Preparing",
              "Scaling"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "State"
            }
          }
        },
        "type": "object"
      },
      "DedicatedCapacityUpdateParameters": {
        "description": "Provision request specification",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of additional provisioning properties.",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/DedicatedCapacityMutableProperties",
            "description": "Properties of the provision operation request.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU of the Dedicated capacity resource."
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "error": {
            "description": "The error object",
            "properties": {
              "code": {
                "description": "Error code",
                "type": "string"
              },
              "message": {
                "description": "Error message indicating why the operation failed.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "LogSpecification": {
        "description": "Log specification for exposing diagnostic logs to shoebox.",
        "properties": {
          "blobDuration": {
            "description": "Blob duration for the log",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Localizable name of the log",
            "type": "string"
          },
          "name": {
            "description": "Name of the log",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricSpecification": {
        "description": "Metric specification for exposing performance metrics to shoebox.",
        "properties": {
          "aggregationType": {
            "description": "Aggregation type for the metric",
            "readOnly": true,
            "type": "string"
          },
          "dimensions": {
            "description": "For describing multi dimensional metrics",
            "items": {
              "properties": {
                "displayName": {
                  "description": "Localizable dimension of the metric",
                  "type": "string"
                },
                "name": {
                  "description": "Dimension of the metric",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "displayDescription": {
            "description": "Localizable description of metric",
            "type": "string"
          },
          "displayName": {
            "description": "Localizable metric name",
            "type": "string"
          },
          "metricFilterPattern": {
            "description": "Pattern used to filter the metric",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Metric name",
            "readOnly": true,
            "type": "string"
          },
          "unit": {
            "description": "Unit for the metric",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Capacities REST API operation.",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "description": {
                "description": "Localized description of the operation.",
                "type": "string"
              },
              "operation": {
                "description": "Operation type: create, update, delete, etc.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.PowerBIDedicated.",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: capacity, etc.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "readOnly": true,
            "type": "string"
          },
          "origin": {
            "description": "Executor of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "description": "Additional properties to expose performance metrics to shoebox.",
            "properties": {
              "serviceSpecification": {
                "$ref": "#/components/schemas/ServiceSpecification",
                "description": "Service specification for exposing performance metrics to shoebox."
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result listing capacities. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of capacities supported by the Microsoft.PowerBIDedicated resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Represents an instance of an PowerBI Dedicated resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of additional resource provisioning properties.",
            "type": "object"
          },
          "id": {
            "description": "An identifier that represents the PowerBI Dedicated resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location of the PowerBI Dedicated resource.",
            "type": "string"
          },
          "name": {
            "description": "The name of the PowerBI Dedicated resource.",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU of the PowerBI Dedicated resource."
          },
          "type": {
            "description": "The type of the PowerBI Dedicated resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location",
          "sku"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceSku": {
        "description": "Represents the SKU name and Azure pricing tier for PowerBI Dedicated resource.",
        "properties": {
          "capacity": {
            "description": "The capacity of the SKU.",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "description": "Name of the SKU level.",
            "type": "string"
          },
          "tier": {
            "description": "The name of the Azure pricing tier to which the SKU applies.",
            "enum": [
              "PBIE_Azure"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuTier"
            }
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "ServiceSpecification": {
        "description": "Service specification for exposing performance metrics to shoebox.",
        "properties": {
          "logSpecifications": {
            "description": "Log specifications for exposing diagnostic logs to shoebox.",
            "items": {
              "$ref": "#/components/schemas/LogSpecification"
            },
            "type": "array"
          },
          "metricSpecifications": {
            "description": "Metric specifications for exposing performance metrics to shoebox.",
            "items": {
              "$ref": "#/components/schemas/MetricSpecification"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SkuDetailsForExistingResource": {
        "description": "An object that represents SKU details for existing resources",
        "properties": {
          "resourceType": {
            "description": "The resource type",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/ResourceSku",
            "description": "The SKU in SKU details for existing resources."
          }
        },
        "type": "object"
      },
      "SkuEnumerationForExistingResourceResult": {
        "description": "An object that represents enumerating SKUs for existing resources",
        "properties": {
          "value": {
            "description": "The collection of available SKUs for existing resources",
            "items": {
              "$ref": "#/components/schemas/SkuDetailsForExistingResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SkuEnumerationForNewResourceResult": {
        "description": "An object that represents enumerating SKUs for new resources",
        "properties": {
          "value": {
            "description": "The collection of available SKUs for new resources",
            "items": {
              "$ref": "#/components/schemas/ResourceSku"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}