{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Log Analytics API reference",
    "title": "Azure Log Analytics",
    "version": "2019-08-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/Clusters.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/clusters": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterListResult"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Clusters"
        ],
        "description": "Gets the Log Analytics clusters in a subscription.",
        "operationId": "Clusters_List",
        "x-ms-examples": {
          "ClustersSubscriptionList": {
            "$ref": "./examples/ClustersSubscriptionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/clusters": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterListResult"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Clusters"
        ],
        "description": "Gets Log Analytics clusters in a resource group.",
        "operationId": "Clusters_ListByResourceGroup",
        "x-ms-examples": {
          "ClustersGet": {
            "$ref": "./examples/ClustersListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/clusters/{clusterName}": {
      "delete": {
        "parameters": [
          {
            "description": "The resource group name of the Log Analytics cluster.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Log Analytics Cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "204": {
            "description": "NoContent response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Clusters"
        ],
        "description": "Deletes a cluster instance.",
        "operationId": "Clusters_Delete",
        "x-ms-examples": {
          "ClustersDelete": {
            "$ref": "./examples/ClustersDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The resource group name of the Log Analytics cluster.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the Log Analytics Cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Clusters"
        ],
        "description": "Gets a Log Analytics cluster instance.",
        "operationId": "Clusters_Get",
        "x-ms-examples": {
          "ClustersGet": {
            "$ref": "./examples/ClustersGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The resource group name of the cluster.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 4,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "The existing cluster was successfully updated. Check provisioningStatus to see detailed status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Clusters"
        ],
        "description": "Updates a Log Analytics cluster.",
        "operationId": "Clusters_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterPatch"
              }
            }
          },
          "description": "The parameters required to patch a Log Analytics cluster.",
          "required": true
        },
        "x-ms-examples": {
          "ClustersPatch": {
            "$ref": "./examples/ClustersUpdate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The resource group name of the Log Analytics cluster.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Log Analytics cluster.",
            "in": "path",
            "name": "clusterName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 4,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Clusters"
        ],
        "description": "Create or update a Log Analytics cluster.",
        "operationId": "Clusters_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster"
              }
            }
          },
          "description": "The parameters required to create or update a Log Analytics cluster.",
          "required": true
        },
        "x-ms-examples": {
          "ClustersCreate": {
            "$ref": "./examples/ClustersCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group to get. The name is case insensitive.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Cluster": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The top level Log Analytics cluster resource container.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/Identity",
            "description": "The identity of the resource."
          },
          "properties": {
            "$ref": "#/components/schemas/ClusterProperties",
            "description": "Log Analytics cluster properties.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/sku",
            "description": "The sku properties."
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ClusterListResult": {
        "description": "The list clusters operation response.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of recommendations.",
            "type": "string"
          },
          "value": {
            "description": "A list of Log Analytics clusters.",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ClusterPatch": {
        "description": "The top level Log Analytics cluster resource container.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/ClusterPatchProperties",
            "description": "Log Analytics cluster properties.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/sku",
            "description": "The sku properties."
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ClusterPatchProperties": {
        "description": "Log Analytics cluster patch properties.",
        "properties": {
          "keyVaultProperties": {
            "$ref": "#/components/schemas/keyVaultProperties",
            "description": "The associated key properties."
          }
        },
        "type": "object"
      },
      "ClusterProperties": {
        "description": "Cluster properties.",
        "properties": {
          "clusterId": {
            "description": "The ID associated with the cluster.",
            "readOnly": true,
            "type": "string"
          },
          "keyVaultProperties": {
            "$ref": "#/components/schemas/keyVaultProperties",
            "description": "The associated key properties."
          },
          "nextLink": {
            "description": "The link used to get the next page of recommendations.",
            "type": "string"
          },
          "provisioningState": {
            "description": "The provisioning state of the cluster.",
            "enum": [
              "Creating",
              "Succeeded",
              "Failed",
              "Canceled",
              "Deleting",
              "ProvisioningAccount"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "EntityStatus"
            }
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "The details of the error."
          }
        },
        "type": "object"
      },
      "Identity": {
        "description": "Identity for the resource.",
        "properties": {
          "principalId": {
            "description": "The principal ID of resource identity.",
            "readOnly": true,
            "type": "string"
          },
          "tenantId": {
            "description": "The tenant ID of resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The identity type.",
            "enum": [
              "SystemAssigned",
              "None"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "IdentityType"
            }
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "The resource definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "keyVaultProperties": {
        "properties": {
          "keyName": {
            "description": "The name of the key associated with the Log Analytics cluster.",
            "type": "string"
          },
          "keyVaultUri": {
            "description": "The Key Vault uri which holds they key associated with the Log Analytics cluster.",
            "type": "string"
          },
          "keyVersion": {
            "description": "The version of the key associated with the Log Analytics cluster.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sku": {
        "properties": {
          "capacity": {
            "description": "The capacity value",
            "format": "int64",
            "type": "integer"
          },
          "name": {
            "description": "The name of the SKU.",
            "enum": [
              "CapacityReservation"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuNameEnum"
            }
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}