openapi: 3.0.0
info:
  title: RecoveryServicesClient
  version: '2016-06-01'
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.RecoveryServices/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDiscoveryResponse'
          description: OK
      tags:
        - Operations
      deprecated: false
      description: Returns the list of available operations.
      operationId: Operations_List
      x-ms-examples:
        ListOperations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/vaults':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultList'
          description: OK
      tags:
        - Vaults
      deprecated: false
      description: Fetches all the resources of the specified type in the subscription.
      operationId: Vaults_ListBySubscriptionId
      x-ms-examples:
        List of Recovery Services Resources in SubscriptionId:
          $ref: ./examples/ListBySubscriptionIds.json
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/ApiVersion'
        - description: Location of the resource
          in: path
          name: location
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK
      tags:
        - RecoveryServices
      operationId: RecoveryServices_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Contains information about Resource type and Resource name
        required: true
      summary: "API to check for resource name availability.\r\nA name is available if no other resource exists that has the same SubscriptionId, Resource Name and Type\r\nor if one or more such resources exist, each of these must be GC'd and their time of deletion be more than 24 Hours Ago"
      x-ms-examples:
        'Availability status of Resource Name when no resource with same name, type and subscription exists, nor has been deleted within last 24 hours':
          $ref: ./examples/CheckNameAvailability_Available.json
        'Availability status of Resource Name when resource with same name, type and subscription exists':
          $ref: ./examples/CheckNameAvailability_NotAvailable.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultList'
          description: OK
      tags:
        - Vaults
      deprecated: false
      description: Retrieve a list of Vaults.
      operationId: Vaults_ListByResourceGroup
      x-ms-examples:
        List of Recovery Services Resources in ResourceGroup:
          $ref: ./examples/ListResources.json
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
      tags:
        - Vaults
      deprecated: false
      description: Deletes a vault.
      operationId: Vaults_Delete
      x-ms-examples:
        Delete Recovery Services Vault:
          $ref: ./examples/DeleteVault.json
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: OK
      tags:
        - Vaults
      deprecated: false
      description: Get the Vault details.
      operationId: Vaults_Get
      x-ms-examples:
        Get Recovery Services Resource:
          $ref: ./examples/GETVault.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created
      tags:
        - Vaults
      deprecated: false
      description: Updates the vault.
      operationId: Vaults_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchVault'
        description: Recovery Services Vault to be created.
        required: true
      x-ms-examples:
        Update Resource:
          $ref: ./examples/PATCHVault.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created
      tags:
        - Vaults
      deprecated: false
      description: Creates or updates a Recovery Services vault.
      operationId: Vaults_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vault'
        description: Recovery Services Vault to be created.
        required: true
      x-ms-examples:
        Create of Update Recovery Services vault:
          $ref: ./examples/PUTVault.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/extendedInformation/vaultExtendedInfo':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultExtendedInfoResource'
          description: OK
      tags:
        - VaultExtendedInfo
      deprecated: false
      description: Get the vault extended info.
      operationId: VaultExtendedInfo_Get
      x-ms-examples:
        Get ExtendedInfo of Resource:
          $ref: ./examples/GETVaultExtendedInfo.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultExtendedInfoResource'
          description: OK
      tags:
        - VaultExtendedInfo
      deprecated: false
      description: Update vault extended info.
      operationId: VaultExtendedInfo_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultExtendedInfoResource'
        description: Details of ResourceExtendedInfo
        required: true
      x-ms-examples:
        PATCH ExtendedInfo of Resource:
          $ref: ./examples/UpdateVaultExtendedInfo.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultExtendedInfoResource'
          description: OK
      tags:
        - VaultExtendedInfo
      deprecated: false
      description: Create vault extended info.
      operationId: VaultExtendedInfo_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultExtendedInfoResource'
        description: Details of ResourceExtendedInfo
        required: true
      x-ms-examples:
        Put ExtendedInfo of Resource:
          $ref: ./examples/UpdateVaultExtendedInfo.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateLinkResources':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResources'
          description: OK
      tags:
        - ListPrivateLinkResources
      deprecated: false
      operationId: PrivateLinkResources_List
      summary: >-
        Returns the list of private link resources that need to be created for
        Backup and SiteRecovery
      x-ms-examples:
        List PrivateLinkResources:
          $ref: ./examples/ListPrivateLinkResources.json
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateLinkResources/{privateLinkResourceName}':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: privateLinkResourceName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: OK
      tags:
        - GetPrivateLinkResources
      deprecated: false
      operationId: PrivateLinkResources_Get
      summary: >-
        Returns a specified private link resource that need to be created for
        Backup and SiteRecovery
      x-ms-examples:
        Get PrivateLinkResource:
          $ref: ./examples/GetPrivateLinkResources.json
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: >-
        The name of the resource group where the recovery services vault is
        present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    VaultExtendedInfoResource:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VaultExtendedInfoResource'
      description: Details of ResourceExtendedInfo
      required: true
  schemas:
    CheckNameAvailabilityParameters:
      description: >-
        Resource Name availability input parameters - Resource type and resource
        name
      properties:
        name:
          description: Resource name for which availability needs to be checked
          type: string
        type:
          description: 'Describes the Resource type: Microsoft.RecoveryServices/Vaults'
          type: string
      type: object
    CheckNameAvailabilityResult:
      description: >-
        Response for check name availability API. Resource provider will set
        availability as true | false.
      properties:
        message:
          type: string
        nameAvailable:
          type: boolean
        reason:
          type: string
      type: object
    ClientDiscoveryDisplay:
      description: Localized display information of an operation.
      properties:
        description:
          description: >-
            Description of the operation having details of what operation is
            about.
          type: string
        operation:
          description: Operations Name itself.
          type: string
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: ResourceType for which this Operation can be performed.
          type: string
      type: object
    ClientDiscoveryForLogSpecification:
      description: Class to represent shoebox log specification in json client discovery.
      properties:
        blobDuration:
          description: Blobs created in customer storage account per hour
          type: string
        displayName:
          description: Localized display name
          type: string
        name:
          description: Name of the log.
          type: string
      type: object
    ClientDiscoveryForProperties:
      description: Class to represent shoebox properties in json client discovery.
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ClientDiscoveryForServiceSpecification'
          description: Operation properties.
      type: object
    ClientDiscoveryForServiceSpecification:
      description: >-
        Class to represent shoebox service specification in json client
        discovery.
      properties:
        logSpecifications:
          description: List of log specifications of this operation.
          items:
            $ref: '#/components/schemas/ClientDiscoveryForLogSpecification'
          type: array
      type: object
    ClientDiscoveryResponse:
      description: Operations List response which contains list of available APIs.
      properties:
        nextLink:
          description: Link to the next chunk of the response
          type: string
        value:
          description: List of available operations.
          items:
            $ref: '#/components/schemas/ClientDiscoveryValueForSingleApi'
          type: array
      type: object
    ClientDiscoveryValueForSingleApi:
      description: Available operation details.
      properties:
        display:
          $ref: '#/components/schemas/ClientDiscoveryDisplay'
          description: >-
            Contains the localized display information for this particular
            operation
        name:
          description: Name of the Operation.
          type: string
        origin:
          description: >-
            The intended executor of the operation;governs the display of the
            operation in the RBAC UX and the audit logs UX
          type: string
        properties:
          $ref: '#/components/schemas/ClientDiscoveryForProperties'
          description: ShoeBox properties for the given operation.
      type: object
    IdentityData:
      description: Identity for the resource.
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          type: string
        type:
          description: The identity type.
          enum:
            - SystemAssigned
            - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResourceIdentityType
      required:
        - type
      type: object
    PatchTrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Tracked resource with location.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        location:
          description: Resource location.
          type: string
      type: object
    PatchVault:
      allOf:
        - $ref: '#/components/schemas/PatchTrackedResource'
      description: 'Patch Resource information, as returned by the resource provider.'
      properties:
        identity:
          $ref: '#/components/schemas/IdentityData'
        properties:
          $ref: '#/components/schemas/VaultProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      type: object
    PrivateEndpoint:
      description: >-
        The Private Endpoint network resource that is linked to the Private
        Endpoint connection.
      properties:
        id:
          description: Gets or sets id.
          readOnly: true
          type: string
      readOnly: true
      type: object
    PrivateEndpointConnection:
      description: Private Endpoint Connection Response Properties.
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
        provisioningState:
          description: Gets or sets provisioning state of the private endpoint connection.
          enum:
            - Succeeded
            - Deleting
            - Failed
            - Pending
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      readOnly: true
      type: object
    PrivateEndpointConnectionVaultProperties:
      description: >-
        Information to be stored in Vault properties as an element of
        privateEndpointConnections List.
      properties:
        id:
          description: >-
            Format of id
            subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.[Service]/{resource}/{resourceName}/privateEndpointConnections/{connectionName}.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnection'
      readOnly: true
      type: object
    PrivateLinkResource:
      description: Information of the private link resource.
      properties:
        id:
          description: Fully qualified identifier of the resource.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties
          x-ms-client-flatten: true
        type:
          description: e.g. Microsoft.RecoveryServices/vaults/privateLinkResources
          readOnly: true
          type: string
      readOnly: true
      type: object
    PrivateLinkResourceProperties:
      description: Properties of the private link resource.
      properties:
        groupId:
          description: >-
            e.g. f9ad6492-33d4-4690-9999-6bfd52a0d081 (Backup) or
            f9ad6492-33d4-4690-9999-6bfd52a0d082 (SiteRecovery)
          readOnly: true
          type: string
        requiredMembers:
          description: >-
            [backup-ecs1, backup-prot1, backup-prot1b, backup-prot1c,
            backup-id1]
          items:
            type: string
          readOnly: true
          type: array
        requiredZoneNames:
          description: The private link resource Private link DNS zone name.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    PrivateLinkResources:
      description: Class which represent the stamps associated with the vault.
      properties:
        nextLink:
          description: Link to the next chunk of the response
          type: string
        value:
          description: A collection of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          type: array
      readOnly: true
      type: object
    PrivateLinkServiceConnectionState:
      description: Gets or sets private link service connection state.
      properties:
        actionsRequired:
          description: Gets or sets actions required.
          readOnly: true
          type: string
        description:
          description: Gets or sets description.
          readOnly: true
          type: string
        status:
          description: Gets or sets the status.
          enum:
            - Pending
            - Approved
            - Rejected
            - Disconnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PrivateEndpointConnectionStatus
      readOnly: true
      type: object
    Resource:
      description: ARM Resource.
      properties:
        eTag:
          description: Optional ETag.
          type: string
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        type:
          description: >-
            Resource type represents the complete path of the form
            Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Sku:
      description: Identifies the unique system identifier for each Azure resource.
      properties:
        name:
          description: The Sku name.
          enum:
            - Standard
            - RS0
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
      required:
        - name
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Tracked resource with location.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        location:
          description: Resource location.
          type: string
      required:
        - location
      type: object
    UpgradeDetails:
      description: Details for upgrading vault.
      properties:
        endTimeUtc:
          description: UTC time at which the upgrade operation has ended.
          format: date-time
          readOnly: true
          type: string
        lastUpdatedTimeUtc:
          description: UTC time at which the upgrade operation status was last updated.
          format: date-time
          readOnly: true
          type: string
        message:
          description: >-
            Message to the user containing information about the upgrade
            operation.
          readOnly: true
          type: string
        operationId:
          description: ID of the vault upgrade operation.
          readOnly: true
          type: string
        previousResourceId:
          description: Resource ID of the vault before the upgrade.
          readOnly: true
          type: string
        startTimeUtc:
          description: UTC time at which the upgrade operation has started.
          format: date-time
          readOnly: true
          type: string
        status:
          description: Status of the vault upgrade operation.
          enum:
            - Unknown
            - InProgress
            - Upgraded
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VaultUpgradeState
        triggerType:
          description: The way the vault upgrade was triggered.
          enum:
            - UserTriggered
            - ForcedUpgrade
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: TriggerType
        upgradedResourceId:
          description: Resource ID of the upgraded vault.
          readOnly: true
          type: string
      type: object
    Vault:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: 'Resource information, as returned by the resource provider.'
      properties:
        identity:
          $ref: '#/components/schemas/IdentityData'
        properties:
          $ref: '#/components/schemas/VaultProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      type: object
    VaultExtendedInfo:
      description: Vault extended information.
      properties:
        algorithm:
          description: Algorithm for Vault ExtendedInfo
          type: string
        encryptionKey:
          description: Encryption key.
          type: string
        encryptionKeyThumbprint:
          description: Encryption key thumbprint.
          type: string
        integrityKey:
          description: Integrity key.
          type: string
      type: object
    VaultExtendedInfoResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Vault extended information.
      properties:
        properties:
          $ref: '#/components/schemas/VaultExtendedInfo'
          x-ms-client-flatten: true
      type: object
    VaultList:
      description: The response model for a list of Vaults.
      properties:
        nextLink:
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Vault'
          type: array
      type: object
    VaultProperties:
      description: Properties of the vault.
      properties:
        privateEndpointConnections:
          description: List of private endpoint connection.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionVaultProperties'
          readOnly: true
          type: array
        privateEndpointStateForBackup:
          description: Private endpoint state for backup.
          enum:
            - None
            - Enabled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VaultPrivateEndpointState
        privateEndpointStateForSiteRecovery:
          description: Private endpoint state for site recovery.
          enum:
            - None
            - Enabled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VaultPrivateEndpointState
        provisioningState:
          description: Provisioning State.
          readOnly: true
          type: string
        upgradeDetails:
          $ref: '#/components/schemas/UpgradeDetails'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

