openapi: 3.0.0
info:
  description: This API describe ACE Provisioning ManagementPartner
  title: ACE Provisioning ManagementPartner API
  version: '2018-02-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.ManagementPartner/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: List all the operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
        - Operation
      description: List all the operations.
      operationId: Operation_List
      summary: Get operations.
      x-ms-examples:
        GetOperations:
          $ref: ./examples/GetOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ManagementPartner/partners:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
          description: Get the details of the `Partner`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
        - Partners
      description: Get the management partner using the objectId and tenantId.
      operationId: Partners_Get
      summary: Get a specific `Partner`.
      x-ms-examples:
        GetPartnerDetails:
          $ref: ./examples/GetPartnerDetailsNoPartnerId.json
  '/providers/Microsoft.ManagementPartner/partners/{partnerId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/PartnerIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Deleted the `Partner`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
        - Partner
      description: Delete the management partner for the objectId and tenantId.
      operationId: Partner_Delete
      summary: Delete a specific `Partner`.
      x-ms-examples:
        DeletePartnerDetails:
          $ref: ./examples/DeletePartnerDetails.json
    get:
      parameters:
        - $ref: '#/components/parameters/PartnerIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
          description: Get the details of the `Partner`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
        - Partner
      description: 'Get the management partner using the partnerId, objectId and tenantId.'
      operationId: Partner_Get
      summary: Get a specific `Partner`.
      x-ms-examples:
        GetPartnerDetails:
          $ref: ./examples/GetPartnerDetails.json
    patch:
      parameters:
        - $ref: '#/components/parameters/PartnerIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
          description: Get the details of the `Partner`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
        - Partner
      description: Update the management partner for the objectId and tenantId.
      operationId: Partner_Update
      summary: Update a specific `Partner`.
      x-ms-examples:
        PatchPartnerDetails:
          $ref: ./examples/PatchPartnerDetails.json
    put:
      parameters:
        - $ref: '#/components/parameters/PartnerIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
          description: Get the details of the `Partner`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
        - Partner
      description: Create a management partner for the objectId and tenantId.
      operationId: Partner_Create
      summary: Create a specific `Partner`.
      x-ms-examples:
        PutPartnerDetails:
          $ref: ./examples/PutPartnerDetails.json
components:
  parameters:
    ApiVersionParameter:
      description: Supported version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    PartnerIdParameter:
      description: Id of the Partner
      in: path
      name: partnerId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Error:
      description: this is the management partner operations error
      properties:
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
          description: this is the error response code
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
          description: this is the ExtendedErrorInfo property
        message:
          description: this is the extended error info message
          type: string
      type: object
    ErrorResponseCode:
      description: >-
        this is the error response code that management partner operations may
        return
      type: string
    ExtendedErrorInfo:
      description: this is the extended error info
      properties:
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
          description: this is the error response code
        message:
          description: this is the extended error info message
          type: string
      type: object
    ManagementPartnerState:
      description: 'this is the management partner state: Active or Deleted'
      enum:
        - Active
        - Deleted
      type: string
      x-ms-enum:
        modelAsString: true
        name: ManagementPartnerState
    OperationDisplay:
      description: this is the management partner operation
      properties:
        description:
          description: the is management partner operation description
          type: string
        operation:
          description: the is management partner operation
          type: string
        provider:
          description: the is management partner provider
          type: string
        resource:
          description: the is management partner resource
          type: string
      type: object
    OperationList:
      description: this is the management partner operations list
      properties:
        nextLink:
          description: Url to get the next page of items.
          type: string
        value:
          description: this is the operation response list
          items:
            $ref: '#/components/schemas/OperationResponse'
            description: this is the operation response property
          type: array
          x-ms-identifiers:
            - name
      type: object
    OperationResponse:
      description: this is the management partner operations response
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: this is the operation display
        name:
          description: this is the operation response name
          type: string
        origin:
          description: the is operation response origin information
          type: string
      type: object
    PartnerProperties:
      description: this is the management partner properties
      properties:
        createdTime:
          description: This is the DateTime when the partner was created.
          format: date-time
          type: string
        objectId:
          description: This is the object id.
          type: string
        partnerId:
          description: This is the partner id
          type: string
        partnerName:
          description: This is the partner name
          type: string
        state:
          $ref: '#/components/schemas/ManagementPartnerState'
          description: This is the partner state
          x-ms-client-flatten: true
        tenantId:
          description: This is the tenant id.
          type: string
        updatedTime:
          description: This is the DateTime when the partner was updated.
          format: date-time
          type: string
        version:
          description: This is the version.
          format: int32
          type: integer
      type: object
    PartnerResponse:
      description: this is the management partner operations response
      properties:
        etag:
          description: Type of the partner
          type: integer
        id:
          description: Identifier of the partner
          readOnly: true
          type: string
        name:
          description: Name of the partner
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PartnerProperties'
          description: Properties of the partner
          x-ms-client-flatten: true
        type:
          description: Type of resource. "Microsoft.ManagementPartner/partners"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

