openapi: 3.0.0
info:
  description: The Hybrid Compute Management Client.
  title: HybridComputeManagementClient
  version: 2019-03-18-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.HybridCompute/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - operations
      description: Gets a list of hybrid compute operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: >-
        Lists all the hybrid machines in the specified subscription. Use the
        nextLink property in the response to get the next page of hybrid
        machines.
      operationId: Machines_ListBySubscription
      x-ms-examples: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: >-
        Lists all the hybrid machines in the specified resource group. Use the
        nextLink property in the response to get the next page of hybrid
        machines.
      operationId: Machines_ListByResourceGroup
      x-ms-examples: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: The operation to remove a hybrid machine identity in Azure.
      operationId: Machines_Delete
      x-ms-examples: {}
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The expand expression to apply on the operation.
          in: query
          name: $expand
          required: false
          schema:
            enum:
              - instanceView
            type: string
          x-ms-enum:
            modelAsString: false
            name: InstanceViewTypes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: >-
        Retrieves information about the model view or the instance view of a
        hybrid machine.
      operationId: Machines_Get
      x-ms-examples: {}
    patch:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: The operation to update a hybrid machine.
      operationId: Machines_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineUpdate'
        description: Parameters supplied to the Update hybrid machine operation.
        required: true
      x-ms-examples: {}
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: >-
        The operation to create or update a hybrid machine resource identity in
        Azure.
      operationId: Machines_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
        description: Parameters supplied to the Create hybrid machine operation.
        required: true
      x-ms-examples: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/reconnect':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - machines
      description: >-
        The operation to reconnect a hybrid machine resource to its identity in
        Azure.
      operationId: Machines_Reconnect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineReconnect'
        description: Parameters supplied to the Reconnect hybrid machine operation.
        required: true
      x-ms-examples: {}
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorDetail:
      properties:
        code:
          description: The error's code.
          type: string
        details:
          description: Additional error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        message:
          description: A human readable error message.
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          type: string
      required:
        - code
        - message
      title: Error details.
      type: object
    ErrorResponse:
      description: Contains details when the response code indicates an error.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error details.
      required:
        - error
      title: Error response.
      type: object
    Identity:
      properties:
        principalId:
          description: The identity's principal id.
          readOnly: true
          type: string
        tenantId:
          description: The identity's tenant id.
          readOnly: true
          type: string
        type:
          description: The identity type.
          type: string
      title: Managed Identity.
      type: object
    Machine:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Describes a hybrid machine.
      properties:
        properties:
          $ref: '#/components/schemas/MachineProperties'
          description: Hybrid Compute Machine properties
          x-ms-client-flatten: true
      type: object
    MachineListResult:
      description: The List hybrid machine operation response.
      properties:
        nextLink:
          description: >-
            The URI to fetch the next page of VMs. Call ListNext() with this URI
            to fetch the next page of hybrid machines.
          type: string
        value:
          description: The list of hybrid machines.
          items:
            $ref: '#/components/schemas/Machine'
          type: array
      required:
        - value
      type: object
    MachineProperties:
      description: Describes the properties of a hybrid machine.
      properties:
        agentVersion:
          description: The hybrid machine agent full version.
          readOnly: true
          type: string
        clientPublicKey:
          description: >-
            Public Key that the client provides to be used during initial
            resource onboarding
          type: string
        displayName:
          description: Specifies the hybrid machine display name.
          readOnly: true
          type: string
        errorDetails:
          description: Details about the error state.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          type: array
        lastStatusChange:
          description: The time of the last status change.
          format: date-time
          readOnly: true
          type: string
        machineFqdn:
          description: Specifies the hybrid machine FQDN.
          readOnly: true
          type: string
        osName:
          description: The Operating System running on the hybrid machine.
          readOnly: true
          type: string
        osProfile:
          $ref: '#/components/schemas/OSProfile'
          description: Specifies the operating system settings for the hybrid machine.
        osVersion:
          description: The version of Operating System running on the hybrid machine.
          readOnly: true
          type: string
        physicalLocation:
          description: Resource's Physical Location
          type: string
        provisioningState:
          description: 'The provisioning state, which only appears in the response.'
          readOnly: true
          type: string
        status:
          description: The status of the hybrid machine agent.
          enum:
            - Connected
            - Disconnected
            - Error
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: StatusTypes
        vmId:
          description: Specifies the hybrid machine unique ID.
          readOnly: true
          type: string
      type: object
    MachineReconnect:
      description: Describes a hybrid machine reconnect.
      properties:
        properties:
          $ref: '#/components/schemas/MachineReconnectProperties'
          description: Hybrid Compute Machine properties
          x-ms-client-flatten: true
      type: object
    MachineReconnectProperties:
      description: Describes the properties required to reconnect a hybrid machine.
      properties:
        clientPublicKey:
          description: >-
            Public Key that the client provides to be used during initial
            resource onboarding.
          type: string
        vmId:
          description: Specifies the hybrid machine unique ID.
          type: string
      type: object
    MachineUpdate:
      allOf:
        - $ref: '#/components/schemas/UpdateResource'
      description: Describes a hybrid machine Update.
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
          description: Hybrid Compute Machine Managed Identity
          x-ms-client-flatten: true
        properties:
          $ref: '#/components/schemas/MachineUpdateProperties'
          description: Hybrid Compute Machine properties
          x-ms-client-flatten: true
      type: object
    MachineUpdateProperties:
      description: Describes the ARM updatable properties of a hybrid machine.
      properties:
        physicalLocation:
          description: Resource's Physical Location
          type: string
      type: object
    OSProfile:
      description: Specifies the operating system settings for the hybrid machine.
      properties:
        computerName:
          description: Specifies the host OS name of the hybrid machine.
          readOnly: true
          type: string
      readOnly: true
      type: object
    OperationListResult:
      description: The List Compute Operation operation response.
      properties:
        value:
          description: The list of compute operations
          items:
            $ref: '#/components/schemas/OperationValue'
          readOnly: true
          type: array
      type: object
    OperationValue:
      description: Describes the properties of a Compute Operation value.
      properties:
        display:
          $ref: '#/components/schemas/OperationValueDisplay'
          description: Display properties
          x-ms-client-flatten: true
        name:
          description: The name of the compute operation.
          readOnly: true
          type: string
        origin:
          description: The origin of the compute operation.
          readOnly: true
          type: string
      type: object
    OperationValueDisplay:
      description: Describes the properties of a Hybrid Compute Operation Value Display.
      properties:
        description:
          description: The description of the operation.
          readOnly: true
          type: string
        operation:
          description: The display name of the compute operation.
          readOnly: true
          type: string
        provider:
          description: The resource provider for the operation.
          readOnly: true
          type: string
        resource:
          description: The display name of the resource the operation applies to.
          readOnly: true
          type: string
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource Id
          readOnly: true
          type: string
        identity:
          $ref: '#/components/schemas/Identity'
          description: Hybrid Compute Machine Managed Identity
          x-ms-client-flatten: true
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Resource name
          readOnly: true
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    UpdateResource:
      description: The Update Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

