{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Enterprise Knowledge Graph Service is a platform for creating knowledge graphs at scale.",
    "title": "Azure Enterprise Knowledge Graph Service",
    "version": "2018-12-03",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/EnterpriseKnowledgeGraphSwagger.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.EnterpriseKnowledgeGraph/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationEntityListResult"
                }
              }
            },
            "description": "OK."
          }
        },
        "tags": [
          "Operations"
        ],
        "deprecated": false,
        "description": "Lists all the available EnterpriseKnowledgeGraph services operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EnterpriseKnowledgeGraph/services": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraphResponseList"
                }
              }
            },
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. "
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "EnterpriseKnowledgeGraph"
        ],
        "description": "Returns all the resources of a particular type belonging to a subscription.",
        "operationId": "EnterpriseKnowledgeGraph_List",
        "x-ms-examples": {
          "List EnterpriseKnowledgeGraph by Subscription": {
            "$ref": "./examples/ListEnterpriseKnowledgeGraphBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseKnowledgeGraph/services": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraphResponseList"
                }
              }
            },
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses here. If a resource provider does not support paging, it should return the same body (JSON object with \u201cvalue\u201d property) but omit nextLink entirely (or set to null, *not* empty string) for future compatibility.\nThe nextLink should be implemented using following query parameters:\n\u00b7 skipToken: opaque token that allows the resource provider to skip resources already enumerated. This value is defined and returned by the RP after first request via nextLink.\n\u00b7 top: the optional client query parameter which defines the maximum number of records to be returned by the server.\nImplementation details:\n\u00b7 NextLink may include all the query parameters (specifically OData $filter) used by the client in the first query. \n\u00b7 Server may return less records than requested with nextLink. Returning zero records with NextLink is an acceptable response. \nClients must fetch records until the nextLink is not returned back / null. Clients should never rely on number of returned records to determinate if pagination is completed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned."
          }
        },
        "tags": [
          "EnterpriseKnowledgeGraph"
        ],
        "description": "Returns all the resources of a particular type belonging to a resource group",
        "operationId": "EnterpriseKnowledgeGraph_ListByResourceGroup",
        "x-ms-examples": {
          "List EnterpriseKnowledgeGraph by Resource Group": {
            "$ref": "./examples/ListEnterpriseKnowledgeGraphByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseKnowledgeGraph/services/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A 200 (OK) should be returned if the object exists and was deleted successfully;"
          },
          "204": {
            "description": "a 204 (NoContent) should be used if the resource does not exist and the request is well formed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "EnterpriseKnowledgeGraph"
        ],
        "description": "Deletes a EnterpriseKnowledgeGraph Service from the resource group. ",
        "operationId": "EnterpriseKnowledgeGraph_Delete",
        "x-ms-examples": {
          "Delete EnterpriseKnowledgeGraph": {
            "$ref": "./examples/DeleteEnterpriseKnowledgeGraph.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
                }
              }
            },
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. "
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned."
          }
        },
        "tags": [
          "EnterpriseKnowledgeGraph"
        ],
        "description": "Returns a EnterpriseKnowledgeGraph service specified by the parameters.",
        "operationId": "EnterpriseKnowledgeGraph_Get",
        "x-ms-examples": {
          "Get EnterpriseKnowledgeGraph": {
            "$ref": "./examples/GetEnterpriseKnowledgeGraph.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
                }
              }
            },
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. "
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
                }
              }
            },
            "description": "If resource is updated successfully, the service should return 201 (Created). Execution to continue asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned."
          }
        },
        "tags": [
          "EnterpriseKnowledgeGraph"
        ],
        "description": "Updates a EnterpriseKnowledgeGraph Service",
        "operationId": "EnterpriseKnowledgeGraph_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
              }
            }
          },
          "description": "The parameters to provide for the created EnterpriseKnowledgeGraph.",
          "required": true
        },
        "x-ms-examples": {
          "Update EnterpriseKnowledgeGraph": {
            "$ref": "./examples/UpdateEnterpriseKnowledgeGraph.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
                }
              }
            },
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. "
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
                }
              }
            },
            "description": "If resource is created successfully, the service should return 201 (Creating). Execution to continue asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "EnterpriseKnowledgeGraph"
        ],
        "description": "Creates a EnterpriseKnowledgeGraph Service. EnterpriseKnowledgeGraph Service is a resource group wide resource type.",
        "operationId": "EnterpriseKnowledgeGraph_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
              }
            }
          },
          "description": "The parameters to provide for the created EnterpriseKnowledgeGraph.",
          "required": true
        },
        "x-ms-examples": {
          "Create EnterpriseKnowledgeGraph": {
            "$ref": "./examples/CreateEnterpriseKnowledgeGraph.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "Version of the API to be used with the client request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupNameParameter": {
        "description": "The name of the EnterpriseKnowledgeGraph resource group in the user subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 64,
          "minLength": 2,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceNameParameter": {
        "description": "The name of the EnterpriseKnowledgeGraph resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "maxLength": 64,
          "minLength": 2,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "Azure Subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "EnterpriseKnowledgeGraph": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
            }
          }
        },
        "description": "The parameters to provide for the created EnterpriseKnowledgeGraph.",
        "required": true
      }
    },
    "schemas": {
      "EnterpriseKnowledgeGraph": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "EnterpriseKnowledgeGraph resource definition",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/EnterpriseKnowledgeGraphProperties",
            "description": "The set of properties specific to EnterpriseKnowledgeGraph resource"
          }
        },
        "type": "object"
      },
      "EnterpriseKnowledgeGraphProperties": {
        "description": "The parameters to provide for the EnterpriseKnowledgeGraph.",
        "properties": {
          "description": {
            "description": "The description of the EnterpriseKnowledgeGraph",
            "type": "string"
          },
          "metadata": {
            "description": "Specifies the metadata  of the resource.",
            "type": "object"
          },
          "provisioningState": {
            "description": "The state of EnterpriseKnowledgeGraph provisioning",
            "enum": [
              "Creating",
              "Deleting",
              "Failed",
              "Succeeded"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "EnterpriseKnowledgeGraphResponseList": {
        "description": "The list of  EnterpriseKnowledgeGraph service operation response.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of EnterpriseKnowledgeGraph service resources.",
            "type": "string"
          },
          "value": {
            "description": "Gets the list of EnterpriseKnowledgeGraph service results and their properties.",
            "items": {
              "$ref": "#/components/schemas/EnterpriseKnowledgeGraph"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "Error": {
        "description": "EnterpriseKnowledgeGraph Service error object.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody",
            "description": "The error body."
          }
        },
        "type": "object"
      },
      "ErrorBody": {
        "description": "EnterpriseKnowledgeGraph Service error body.",
        "properties": {
          "code": {
            "description": "error code",
            "type": "string"
          },
          "message": {
            "description": "error message",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "OperationDisplayInfo": {
        "description": "The operation supported by EnterpriseKnowledgeGraph Service Management.",
        "properties": {
          "description": {
            "description": "The description of the operation.",
            "type": "string"
          },
          "operation": {
            "description": "The action that users can perform, based on their permission level.",
            "type": "string"
          },
          "provider": {
            "description": "Service provider: Microsoft EnterpriseKnowledgeGraph Service.",
            "type": "string"
          },
          "resource": {
            "description": "Resource on which the operation is performed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationEntity": {
        "description": "The operations supported by EnterpriseKnowledgeGraph Service Management.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplayInfo",
            "description": "The operation supported by EnterpriseKnowledgeGraph Service Management."
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "type": "string"
          },
          "origin": {
            "description": "The origin of the operation.",
            "type": "string"
          },
          "properties": {
            "description": "Additional properties.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "OperationEntityListResult": {
        "description": "The list of EnterpriseKnowledgeGraph service operation response.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "The list of operations.",
            "items": {
              "$ref": "#/components/schemas/OperationEntity"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Azure resource",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Contains resource tags defined as key/value pairs.",
            "type": "object"
          },
          "id": {
            "description": "Specifies the resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Specifies the location of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Specifies the name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "Gets or sets the SKU of the resource."
          },
          "type": {
            "description": "Specifies the type of the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Sku": {
        "description": "The SKU of the EnterpriseKnowledgeGraph service account.",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SkuName",
            "description": "The sku name"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "SkuName": {
        "description": "The name of SKU.",
        "enum": [
          "F0",
          "S1"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "SkuName"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}