openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2017-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{scope}/providers/Microsoft.Security/compliances':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Compliances
      description: The Compliance scores of the specific management group.
      operationId: Compliances_List
      x-ms-examples:
        Get security compliance data over time:
          $ref: ./examples/Compliances/GetCompliances_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.Security/compliances/{complianceName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/Scope
        - $ref: '#/components/parameters/ComplianceName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Compliance'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Compliances
      description: Details of a specific Compliance.
      operationId: Compliances_Get
      x-ms-examples:
        Get security compliance data for a day:
          $ref: ./examples/Compliances/GetCompliance_example.json
components:
  parameters:
    ComplianceName:
      description: name of the Compliance
      in: path
      name: complianceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Compliance:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Compliance of a scope
      properties:
        properties:
          $ref: '#/components/schemas/ComplianceProperties'
          description: Compliance data
          x-ms-client-flatten: true
      readOnly: true
      type: object
    ComplianceList:
      description: List of Compliance objects response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of Compliance objects
          items:
            $ref: '#/components/schemas/Compliance'
          type: array
      readOnly: true
      type: object
    ComplianceProperties:
      description: >-
        The Compliance score (percentage) of a Subscription is a sum of all
        Resources' Compliances under the given Subscription. A Resource
        Compliance is defined as the compliant ('healthy') Policy Definitions
        out of all Policy Definitions applicable to a given resource.
      properties:
        assessmentResult:
          description: >-
            An array of segment, which is the actually the compliance
            assessment.
          items:
            $ref: '#/components/schemas/ComplianceSegment'
          readOnly: true
          type: array
        assessmentTimestampUtcDate:
          description: The timestamp when the Compliance calculation was conducted.
          format: date-time
          readOnly: true
          type: string
        resourceCount:
          description: >-
            The resource count of the given subscription for which the
            Compliance calculation was conducted (needed for Management Group
            Compliance calculation).
          readOnly: true
          type: integer
      type: object
    ComplianceSegment:
      description: A segment of a compliance assessment.
      properties:
        percentage:
          description: The size (%) of the segment.
          format: double
          readOnly: true
          type: number
        segmentType:
          description: >-
            The segment type, e.g. compliant, non-compliance, insufficient
            coverage, N/A, etc.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

