openapi: 3.0.0
info:
  contact:
    email: sedra@bethmardutho.org
  description: >-
    The SEDRA API is documented in **OpenAPI format** and uses
    [ReDoc](https://github.com/Rebilly/ReDoc) for documentation.

    # Introduction

    This document describes the JSON API for the Syriac Electronic Data Research
    Archive (SEDRA). The SEDRA project is a linguistic and literary database of
    Syriac language and literature focusing on providing electronic access to
    the corpus of Syriac lexicons with linguistic information added to each
    entry in those lexicons. The API is a mechanism to provide the linguistic
    information stored in SEDRA to a broader audience.

    Additionally there is a XML API for Syriac words which conforms to a
    prototype Semitic Languages schema which can be found in the XSD file
    https://sedra.bethmardutho.org/api/semiticLanguages.xsd.

    # Cross-Origin Resource Sharing

    This API features Cross-Origin Resource Sharing (CORS) implemented in
    compliance with the [W3C spec](https://www.w3.org/TR/cors/) and allows
    cross-domain communication from the browser.

    All responses have a wildcard same-origin which makes them completely public
    and accessible to everyone, including any code on any site.

    # Samples

    Explaining how to lookup words in the SEDRA API is complex and would clutter
    the API description. For that reason we have chosen to give the explanation
    of how to lookup words in its own section. SEDRA can lookup words by the
    SEDRA word Id. However, it will often be the case that the consumer of
    information provided by the SEDRA API does not know the SEDRA word Id. It is
    for that reason that the SEDRA API provides a method to lookup words by the
    Syriac text. But that process is complicated by the nature of Syriac
    writing. So the SEDRA API will lookup words for consonantal, partially
    vocalized, and fully vocalized Syriac text. Using the word Id will provide
    the most accurate results as the exact word will be returned. Fully
    vocalized text will provide the next most accurate result. The least
    accurate results will be returned by partially vocalized and consonantal
    Syriac words in that order. Following are some samples to help understand
    how this works.

    1. By Word Id [30862](https://sedra.bethmardutho.org/api/word/30862.json)

    2. By fully vocalized Syriac word
    [ܐܰܒܳܪܳܐ](https://sedra.bethmardutho.org/api/word/ܐܰܒܳܪܳܐ.json)

    3. By partially vocalized Syriac word
    [ܐܶܒܪܐ](https://sedra.bethmardutho.org/api/word/ܐܶܒܪܐ.json)

    4. By consonantal Syriac word
    [ܐܒܪܐ](https://sedra.bethmardutho.org/api/word/ܐܒܪܐ.json).
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  title: SEDRA IV API
  version: 1.0.0
servers:
  - url: 'http://sedra.bethmardutho.org/api'
  - url: 'https://sedra.bethmardutho.org/api'
paths:
  '/lexeme/{id}':
    get:
      parameters:
        - description: The Id of a lexeme from the Sedra database.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  categoryType:
                    $ref: ./definitions.json#/CategoryType
                  etymologies:
                    $ref: ./definitions.json#/LocalizedStrings
                  glosses:
                    $ref: ./definitions.json#/LocalizedStrings
                  kaylo:
                    $ref: ./definitions.json#/Kaylo
                  lexeme:
                    $ref: ./definitions.json#/ObjectReference
                    description: Id and link to this Syriac lexeme.
                  root:
                    $ref: ./definitions.json#/ObjectReference
                  syriac:
                    description: Consonantal form of this Syriac lexeme.
                    type: string
                  words:
                    items:
                      $ref: ./definitions.json#/ObjectReference
                    type: array
                required:
                  - lexeme
                  - syriac
                type: object
          description: A Syriac lexeme.
      tags:
        - API
      description: Returns linguistic information for a Syriac lexeme.
      summary: Get Syriac lexeme.
  '/word/{id}':
    get:
      parameters:
        - description: >-
            The id parameters must contain either the Id of a word from the
            Sedra database or a Syriac word in the unicode character set. When
            the id parameter is a Syriac word it may be consonantal, partially
            vocalized, or fully vocalized. Fully vocalized Syriac words will
            have less false positive results than partially vocalized or
            consonantal Syriac words. When id is the Id of a word from the SEDRA
            database then that word will be the only word in the result.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    eastern:
                      description: Eastern vocalized form of this Syriac word.
                      type: string
                    gender:
                      $ref: ./definitions.json#/Gender
                    glosses:
                      $ref: ./definitions.json#/LocalizedStrings
                      description: Glosses available for this Syriac lexeme.
                    hasSeyame:
                      description: Indicator to the presence of a Seyame in this word.
                      type: boolean
                    isEnclitic:
                      description: Indicator if this Syriac word is an enclitic.
                      type: boolean
                    isLexicalForm:
                      description: Indicator if this Syriac word is the lexeme form.
                      type: boolean
                    isTheoretical:
                      description: >-
                        Indicator if this Syriac word is theoretical or it is
                        attested.
                      type: boolean
                    kaylo:
                      $ref: ./definitions.json#/Kaylo
                    lexeme:
                      $ref: ./definitions.json#/ObjectReference
                      description: Id and link to the Syriac lexeme underlying this word.
                    number:
                      $ref: ./definitions.json#/Number
                    person:
                      $ref: ./definitions.json#/Person
                    state:
                      $ref: ./definitions.json#/State
                    suffixGender:
                      $ref: ./definitions.json#/Gender
                    suffixNumber:
                      $ref: ./definitions.json#/Number
                    suffixPerson:
                      $ref: ./definitions.json#/Person
                    suffixType:
                      $ref: ./definitions.json#/SuffixType
                    syriac:
                      description: Consonantal form of this Syriac word.
                      type: string
                    tense:
                      $ref: ./definitions.json#/Tense
                    western:
                      description: Western vocalized form of this Syriac word.
                      type: string
                    word:
                      $ref: ./definitions.json#/ObjectReference
                      description: Id and link to the Syriac word.
                  required:
                    - word
                    - lexeme
                    - syriac
                  type: object
                type: array
          description: An array of Syriac words.
      tags:
        - API
      description: >-
        Returns an array of linguistic information for every word that matches
        the Syriac word. Adjustment is made if the Syriac word is consonantal,
        partially, or fully vocalized.
      summary: Get Syriac word.
tags:
  - name: API
externalDocs:
  description: Find out how to create a Github repo for your OpenAPI spec.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
x-tagGroups:
  - tags:
      - API
    name: ''

