{
  "openapi": "3.0.0",
  "info": {
    "description": "Microsoft Customer Engagement Fabric",
    "title": "EngagementFabric",
    "version": "2018-09-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/preview/2018-09-01/EngagementFabric.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.EngagementFabric/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "summary": "List operation of EngagementFabric resources",
        "x-ms-examples": {
          "OperationsListExample": {
            "$ref": "./examples/OperationsListExample.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/Accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_List",
        "summary": "List the EngagementFabric accounts in given subscription",
        "x-ms-examples": {
          "AccountsListExample": {
            "$ref": "./examples/AccountsListExample.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuDescriptionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Skus"
        ],
        "operationId": "SKUs_List",
        "summary": "List available SKUs of EngagementFabric resource",
        "x-ms-examples": {
          "SKUsListExample": {
            "$ref": "./examples/SKUsListExample.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ListByResourceGroup",
        "summary": "List EngagementFabric accounts in given resource group",
        "x-ms-examples": {
          "AccountsListByResourceGroupExample": {
            "$ref": "./examples/AccountsListByResourceGroupExample.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Delete",
        "summary": "Delete the EngagementFabric account",
        "x-ms-examples": {
          "AccountsDeleteExample": {
            "$ref": "./examples/AccountsDeleteExample.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Get",
        "summary": "Get the EngagementFabric account",
        "x-ms-examples": {
          "AccountsGetExample": {
            "$ref": "./examples/AccountsGetExample.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPatch"
              }
            }
          },
          "description": "The account patch",
          "required": true
        },
        "summary": "Update EngagementFabric account",
        "x-ms-examples": {
          "AccountsUpdateExample": {
            "$ref": "./examples/AccountsUpdateExample.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "description": "The EngagementFabric account description",
          "required": true
        },
        "summary": "Create or Update the EngagementFabric account",
        "x-ms-examples": {
          "AccountsCreateOrUpdateExample": {
            "$ref": "./examples/AccountsCreateOrUpdateExample.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/Channels": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_ListByAccount",
        "summary": "List the EngagementFabric channels",
        "x-ms-examples": {
          "ChannelsListExample": {
            "$ref": "./examples/ChannelsListExample.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/Channels/{channelName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The EngagementFabric channel name",
            "in": "path",
            "name": "channelName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_Delete",
        "summary": "Delete the EngagementFabric channel",
        "x-ms-examples": {
          "ChannelsDeleteExample": {
            "$ref": "./examples/ChannelsDeleteExample.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ChannelNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_Get",
        "summary": "Get the EngagementFabric channel",
        "x-ms-examples": {
          "ChannelsGetExample": {
            "$ref": "./examples/ChannelsGetExample.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ChannelNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          },
          "description": "The EngagementFabric channel description",
          "required": true
        },
        "summary": "Create or Update the EngagementFabric channel",
        "x-ms-examples": {
          "ChannelsCreateOrUpdateExample": {
            "$ref": "./examples/ChannelsCreateOrUpdateExample.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listChannelTypes": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelTypeDescriptionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ListChannelTypes",
        "summary": "List available EngagementFabric channel types and functions",
        "x-ms-examples": {
          "AccountsListChannelTypesExample": {
            "$ref": "./examples/AccountsListChannelTypesExample.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyDescriptionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ListKeys",
        "summary": "List keys of the EngagementFabric account",
        "x-ms-examples": {
          "AccountsListKeysExample": {
            "$ref": "./examples/AccountsListKeysExample.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/regenerateKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyDescription"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_RegenerateKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateKeyParameter"
              }
            }
          },
          "description": "Parameters specifying the key to be regenerated",
          "required": true
        },
        "summary": "Regenerate key of the EngagementFabric account",
        "x-ms-examples": {
          "AccountsRegenerateKeyExample": {
            "$ref": "./examples/AccountsRegenerateKeyExample.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response"
          }
        },
        "tags": [
          "NameAvailability"
        ],
        "operationId": "CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityParameter"
              }
            }
          },
          "description": "Parameter describing the name to be checked",
          "required": true
        },
        "summary": "Check availability of EngagementFabric resource",
        "x-ms-examples": {
          "CheckNameAvailabilityExample": {
            "$ref": "./examples/CheckNameAvailabilityExample.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountNameParameter": {
        "description": "Account Name",
        "in": "path",
        "name": "accountName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "description": "API version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ChannelNameParameter": {
        "description": "Channel Name",
        "in": "path",
        "name": "channelName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "Resource Group Name",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription ID",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Account": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TrackedResource"
          }
        ],
        "description": "The EngagementFabric account",
        "required": [
          "location",
          "sku"
        ],
        "type": "object"
      },
      "AccountList": {
        "description": "The list of the EngagementFabric accounts",
        "properties": {
          "value": {
            "description": "EngagementFabric accounts",
            "items": {
              "$ref": "#/components/schemas/Account"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AccountPatch": {
        "description": "The patch of EngagementFabric account",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags of the resource",
            "type": "object"
          }
        },
        "type": "object"
      },
      "Channel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyOnlyResource"
          }
        ],
        "description": "The EngagementFabric channel",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ChannelProperties",
            "description": "The properties of the channel",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ChannelList": {
        "description": "The list of the EngagementFabric channels",
        "properties": {
          "value": {
            "description": "EngagementFabric channels",
            "items": {
              "$ref": "#/components/schemas/Channel"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ChannelProperties": {
        "description": "The EngagementFabric channel properties",
        "properties": {
          "channelFunctions": {
            "description": "The functions to be enabled for the channel",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "channelType": {
            "description": "The channel type",
            "type": "string"
          },
          "credentials": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The channel credentials",
            "type": "object"
          }
        },
        "required": [
          "channelType"
        ],
        "type": "object"
      },
      "ChannelTypeDescription": {
        "description": "EngagementFabric channel description",
        "properties": {
          "channelDescription": {
            "description": "Text description for the channel",
            "type": "string"
          },
          "channelFunctions": {
            "description": "All the available functions for the channel",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "channelType": {
            "description": "Channel type",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ChannelTypeDescriptionList": {
        "description": "List of the EngagementFabric channel descriptions",
        "properties": {
          "value": {
            "description": "Channel descriptions",
            "items": {
              "$ref": "#/components/schemas/ChannelTypeDescription"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CheckNameAvailabilityParameter": {
        "description": "The parameter for name availability check",
        "properties": {
          "name": {
            "description": "The name to be checked",
            "type": "string"
          },
          "type": {
            "description": "The fully qualified resource type for the name to be checked",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "CheckNameAvailabilityResult": {
        "description": "The result of name availability check",
        "properties": {
          "message": {
            "description": "The message if name is unavailable",
            "readOnly": true,
            "type": "string"
          },
          "nameAvailable": {
            "description": "The name to be checked",
            "readOnly": true,
            "type": "boolean"
          },
          "reason": {
            "$ref": "#/components/schemas/CheckNameUnavailableReason",
            "description": "The reason if name is unavailable",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "CheckNameUnavailableReason": {
        "description": "The reason of name availability result",
        "enum": [
          "Invalid",
          "AlreadyExists"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "CheckNameUnavailableReason"
        }
      },
      "CloudError": {
        "description": "The default error response",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody",
            "description": "Content of the error"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "CloudErrorBody": {
        "description": "Content of the default error response",
        "properties": {
          "code": {
            "description": "The error code",
            "type": "string"
          },
          "details": {
            "description": "The list of additional details",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "type": "array"
          },
          "message": {
            "description": "The error message",
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "KeyDescription": {
        "description": "The description of the EngagementFabric account key",
        "properties": {
          "name": {
            "description": "The name of the key",
            "readOnly": true,
            "type": "string"
          },
          "rank": {
            "$ref": "#/components/schemas/KeyRank",
            "description": "The rank of the key",
            "readOnly": true
          },
          "value": {
            "description": "The value of the key",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "KeyDescriptionList": {
        "description": "The list of the EngagementFabric account keys",
        "properties": {
          "value": {
            "description": "Account keys",
            "items": {
              "$ref": "#/components/schemas/KeyDescription"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "KeyRank": {
        "description": "The rank of the EngagementFabric account key",
        "enum": [
          "PrimaryKey",
          "SecondaryKey"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "KeyRank"
        }
      },
      "Operation": {
        "description": "The EngagementFabric operation",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplay",
            "description": "The display content of the EngagementFabric operation",
            "readOnly": true
          },
          "name": {
            "description": "The name of the EngagementFabric operation",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplay": {
        "description": "The display information of the EngagementFabric operation",
        "properties": {
          "description": {
            "description": "The description of the EngagementFabric operation",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "The name of the EngagementFabric operation",
            "readOnly": true,
            "type": "string"
          },
          "provider": {
            "description": "The resource provider namespace of the EngagementFabric operation",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "description": "The resource type of the EngagementFabric operation",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "The list of the EngagementFabric operations",
        "properties": {
          "value": {
            "description": "The EngagementFabric operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProxyOnlyResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The base model for the proxy-only Azure resource",
        "type": "object"
      },
      "RegenerateKeyParameter": {
        "description": "The parameter to regenerate single EngagementFabric account key",
        "properties": {
          "name": {
            "description": "The name of key to be regenerated",
            "type": "string"
          },
          "rank": {
            "$ref": "#/components/schemas/KeyRank",
            "description": "The rank of the key to be regenerated"
          }
        },
        "required": [
          "name",
          "rank"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "The base model for Azure resource",
        "properties": {
          "id": {
            "description": "The ID of the resource",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The fully qualified type of the resource",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SKU": {
        "description": "The EngagementFabric SKU",
        "properties": {
          "name": {
            "description": "The name of the SKU",
            "type": "string"
          },
          "tier": {
            "description": "The price tier of the SKU",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "SkuDescription": {
        "description": "The EngagementFabric SKU description of given resource type",
        "properties": {
          "locationInfo": {
            "description": "Locations and zones",
            "items": {
              "$ref": "#/components/schemas/SkuLocationInfoItem"
            },
            "readOnly": true,
            "type": "array"
          },
          "locations": {
            "description": "The set of locations that the SKU is available",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "name": {
            "description": "The name of the SKU",
            "readOnly": true,
            "type": "string"
          },
          "resourceType": {
            "description": "The fully qualified resource type",
            "readOnly": true,
            "type": "string"
          },
          "restrictions": {
            "description": "The restrictions because of which SKU cannot be used",
            "items": {
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "tier": {
            "description": "The price tier of the SKU",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SkuDescriptionList": {
        "description": "The list of the EngagementFabric SKU descriptions",
        "properties": {
          "value": {
            "description": "SKU descriptions",
            "items": {
              "$ref": "#/components/schemas/SkuDescription"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "SkuLocationInfoItem": {
        "description": "The Locations and zones info for SKU",
        "properties": {
          "location": {
            "description": "The available location of the SKU",
            "type": "string"
          },
          "zones": {
            "description": "The available zone of the SKU",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TrackedResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The base model for the tracked Azure resource",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags of the resource",
            "type": "object"
          },
          "location": {
            "description": "The location of the resource",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "sku": {
            "$ref": "#/components/schemas/SKU",
            "description": "The SKU of the resource"
          }
        },
        "required": [
          "location",
          "sku"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}