{
  "openapi": "3.0.0",
  "info": {
    "description": "Microsoft Azure Quota Resource Provider.",
    "title": "Azure Reservation API",
    "version": "2019-07-19-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/quota.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/autoQuotaIncrease": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoQuotaIncreaseDetail"
                }
              }
            },
            "description": "Ok. Returning the properties of auto quota increase ."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AutoQuotaIncrease"
        ],
        "description": "Gets the Auto Quota Increase enrollment details for the specified subscription.",
        "operationId": "AutoQuotaIncrease_GetProperties",
        "x-ms-examples": {
          "GetAutoQuotaIncreaseSettings": {
            "$ref": "./examples/getAutoQuotaIncreaseStatus.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoQuotaIncreaseDetail"
                }
              }
            },
            "description": "Ok. Returning the updated status of auto quota increase request."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "AutoQuotaIncrease"
        ],
        "description": "Sets the Auto Quota Increase enrollment properties for the specified subscription.",
        "operationId": "AutoQuotaIncrease_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoQuotaIncreaseDetail"
              }
            }
          },
          "description": "Auto Quota increase request payload.",
          "required": true
        },
        "x-ms-examples": {
          "SetAutoQuotaIncreaseSettings": {
            "$ref": "./examples/putAutoQuotaIncrease.json"
          },
          "TurnOffAutoQuotaIncrease": {
            "$ref": "./examples/putAutoQuotaIncreaseTurnOff.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/components/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaLimits"
                }
              }
            },
            "description": "OK. Quota information will be returned as response with pagination.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "QuotaInformation"
        ],
        "description": "Get a list of current service limits (quota) and usages of all the resources. The response from List API can be leveraged to submit quota update requests.",
        "operationId": "Quota_List",
        "x-ms-examples": {
          "Quotas_listUsagesForCompute": {
            "$ref": "./examples/getComputeUsages.json"
          },
          "Quotas_listUsagesForMsSql": {
            "$ref": "./examples/getMsSqlUsages.json"
          },
          "Quotas_listUsagesMachineLearningServices": {
            "$ref": "./examples/getMachineLearningServicesUsages.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits/{resourceName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/components/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceNameInParameters"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentQuotaLimitBase"
                }
              }
            },
            "description": "OK. Quota information will be returned as response with pagination.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "QuotaInformation"
        ],
        "description": "Gets the current service limits (quotas) and usage of a resource. The response from Get API can be leveraged to submit quota update requests.",
        "operationId": "Quota_Get",
        "x-ms-examples": {
          "Quotas_Request_ForCompute": {
            "$ref": "./examples/getComputeOneSkuUsages.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/components/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaRequestOneResourceSubmitResponse"
                }
              }
            },
            "description": "OK. Returns Quota requests details."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaRequestSubmitResponse201"
                }
              }
            },
            "description": "The request is accepted and is being processed. Use requestId to check the status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "QuotaInformation"
        ],
        "description": "Update the service limits (quota) of a resource to requested value.\n Steps:\r\n  1. Make the Get request to get the quota information for specific resource.\r\n  2. To increase the quota, update the limit field in the response from Get request to new value.\r\n  3. Submit the JSON to the quota request API to update the quota.\r\n  The Update quota request may be constructed as follows. The PATCH operation can be used to update the quota.",
        "operationId": "Quota_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrentQuotaLimitBase"
              }
            }
          },
          "description": "Quota requests payload.",
          "required": true
        },
        "x-ms-examples": {
          "Quotas_Request_PatchForCompute": {
            "$ref": "./examples/patchComputeQuotaRequest.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/components/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaRequestOneResourceSubmitResponse"
                }
              }
            },
            "description": "OK. Returns Quota requests details."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaRequestSubmitResponse201"
                }
              }
            },
            "description": "The request is accepted and is being processed. Please use requestId to check the status."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "QuotaInformation"
        ],
        "description": "Create or update the service limits (quota) of a resource to requested value.\n Steps:\r\n  1. Make the Get request to get the quota information for specific resource.\r\n  2. To increase the quota, update the limit field in the response from Get request to new value.\r\n  3. Submit the JSON to the quota request API to update the quota.\r\n  The Create quota request may be constructed as follows. The PUT operation can be used to update the quota.",
        "operationId": "Quota_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrentQuotaLimitBase"
              }
            }
          },
          "description": "Quota requests payload.",
          "required": true
        },
        "x-ms-examples": {
          "Quotas_Request_ForCompute": {
            "$ref": "./examples/putComputeOneSkuQuotaRequest.json"
          },
          "Quotas_Request_ForMachineLearningServices_DedicatedResource": {
            "$ref": "./examples/putMachineLearningServicesQuotaRequestDedicated.json"
          },
          "Quotas_Request_ForMachineLearningServices_LowPriorityResource": {
            "$ref": "./examples/putMachineLearningServicesQuotaRequestLowPriority.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/components/parameters/LocationIdInParameters"
          },
          {
            "description": "| Field | Supported operators |\r\n|---------------------|------------------------|\r\n|requestSubmitTime | ge, le, eq, gt, lt |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TopQueryParameter"
          },
          {
            "$ref": "#/components/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaRequestDetailsList"
                }
              }
            },
            "description": "Ok. Sending Quota request status and details"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "QuotaRequests"
        ],
        "description": "For the specified location and Resource provider gets the current quota requests under the subscription over the time period of one year ago from now to one year back. oData filter can be used to select quota requests.",
        "operationId": "QuotaRequestStatus_List",
        "x-ms-examples": {
          "QuotaRequestHistory": {
            "$ref": "./examples/getQuotaRequestsHistory.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/components/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/components/parameters/RequestIdInParameters"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaRequestDetails"
                }
              }
            },
            "description": "Ok. Returning the status for the quota request ."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "QuotaRequests"
        ],
        "description": "Gets the QuotaRequest details and status by the quota request Id for the resources for the resource provider at a specific location. The requestId is returned as response to the Put requests for serviceLimits.",
        "operationId": "QuotaRequestStatus_Get",
        "x-ms-examples": {
          "QuotaRequestFailed": {
            "$ref": "./examples/getQuotaRequestStatusFailed.json"
          },
          "QuotaRequestInProgress": {
            "$ref": "./examples/getQuotaRequestStatusInProgress.json"
          },
          "QuotaRequestStatus": {
            "$ref": "./examples/getQuotaRequestStatusById.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "LocationIdInParameters": {
        "description": "Azure region.",
        "in": "path",
        "name": "location",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ProviderIdInParameters": {
        "description": "Azure resource provider id.",
        "in": "path",
        "name": "providerId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "RequestIdInParameters": {
        "description": "Quota Request id.",
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceNameInParameters": {
        "description": "The resource name for a resource provider, such as SKU name for Microsoft.Compute, Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SkipTokenParameter": {
        "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls",
        "in": "query",
        "name": "$skiptoken",
        "required": false,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdInParameters": {
        "description": "Azure subscription id.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TopQueryParameter": {
        "description": "Number of records to return.",
        "in": "query",
        "name": "$top",
        "required": false,
        "schema": {
          "format": "int32",
          "minimum": 1,
          "type": "integer"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "CurrentQuotaLimitBase": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CurrentQuotaLimitBase"
            }
          }
        },
        "description": "Quota requests payload.",
        "required": true
      }
    },
    "schemas": {
      "Actions": {
        "description": "The actions for auto quota increase.",
        "properties": {
          "emailActions": {
            "$ref": "#/components/schemas/EmailActions",
            "description": "The email actions for auto quota increase."
          }
        },
        "type": "object"
      },
      "AqiState": {
        "description": "The Auto quota increase feature state - enabled: feature is enabled, disabled: feature is disabled.",
        "enum": [
          "enabled",
          "disabled"
        ],
        "x-ms-enum": {
          "modelAsString": true,
          "name": "AqiStateType"
        }
      },
      "AutoQuotaIncreaseDetail": {
        "description": "Auto Quota Increase settings.",
        "properties": {
          "id": {
            "description": "The subscription Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the auto quota increase.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/autoQuotaIncreaseSettings",
            "description": "Actions for auto quota increase.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ContactMethod": {
        "description": "The contact method - Email: Contact using provided email, Phone: contact using provided phone number.",
        "enum": [
          "Email",
          "Phone"
        ],
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ContactMethodType"
        }
      },
      "CreateGenericQuotaRequestParameters": {
        "description": "Quota change requests information.",
        "properties": {
          "value": {
            "description": "Quota change requests.",
            "items": {
              "$ref": "#/components/schemas/CurrentQuotaLimitBase"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CurrentQuotaLimit": {
        "description": "Quota limits.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/QuotaRequestStatusDetails",
            "description": "Addition properties for the quota request status for the resource.",
            "x-ms-client-flatten": true
          },
          "quotaInformation": {
            "$ref": "#/components/schemas/CurrentQuotaLimitBase",
            "description": "Quota information detail.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "CurrentQuotaLimitBase": {
        "description": "Quota limits.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/QuotaProperties",
            "description": "Quota properties for the resource."
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "EmailAction": {
        "description": "Email Action.",
        "properties": {
          "emailAddress": {
            "description": "The email address for the action.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmailActions": {
        "description": "The email actions.",
        "properties": {
          "emailAddresses": {
            "description": "The list of email actions.",
            "items": {
              "$ref": "#/components/schemas/EmailAction",
              "description": "The email recipients."
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ExceptionResponse": {
        "description": "The api error.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ServiceError",
            "description": "The api error details."
          }
        },
        "type": "object"
      },
      "PhoneAction": {
        "description": "Phone Action.",
        "properties": {
          "phoneNumber": {
            "description": "The phone number for the action.",
            "type": "string"
          },
          "preferredChannel": {
            "$ref": "#/components/schemas/ContactMethod",
            "description": "The preferred communication channel."
          }
        },
        "type": "object"
      },
      "QuotaLimits": {
        "description": "Quota limits.",
        "properties": {
          "nextLink": {
            "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
            "type": "string"
          },
          "value": {
            "description": "List of Quota limits.",
            "items": {
              "$ref": "#/components/schemas/CurrentQuotaLimitBase"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaLimitsResponse": {
        "description": "Quota limits request response.",
        "properties": {
          "nextLink": {
            "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
            "type": "string"
          },
          "value": {
            "description": "List of Quota limits with the quota request status.",
            "items": {
              "$ref": "#/components/schemas/CurrentQuotaLimit"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaProperties": {
        "description": "Quota properties for the resource.",
        "properties": {
          "currentValue": {
            "description": "The current resource usages information.",
            "readOnly": true,
            "type": "integer"
          },
          "limit": {
            "description": "The quota limit.",
            "type": "integer"
          },
          "name": {
            "$ref": "#/components/schemas/ResourceName",
            "description": "Name of the resource provide by the resource Provider. Please use this name property for quotaRequests."
          },
          "properties": {
            "description": "Additional properties for the specific resource provider.",
            "type": "object"
          },
          "quotaPeriod": {
            "description": "The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn\u2019t matter.",
            "readOnly": true,
            "type": "string"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceTypesName",
            "description": "The Resource Type Name.",
            "readOnly": false
          },
          "unit": {
            "description": " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
            "readOnly": false,
            "type": "string"
          }
        },
        "type": "object"
      },
      "QuotaRequestDetails": {
        "description": "The details of the quota Request.",
        "properties": {
          "id": {
            "description": "The quota request Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the quota request.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/QuotaRequestProperties",
            "description": "The quota request details.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of resource. \"Microsoft.Capacity/ServiceLimits\"",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "QuotaRequestDetailsList": {
        "description": "Quota requests information.",
        "properties": {
          "nextLink": {
            "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
            "type": "string"
          },
          "value": {
            "description": "The quota Requests.",
            "items": {
              "$ref": "#/components/schemas/QuotaRequestDetails"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaRequestOneResourceSubmitResponse": {
        "description": "Quota submit request response",
        "properties": {
          "id": {
            "description": "The quota request Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the quota request.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/quotaRequestOneResourceProperties",
            "description": "The quota request details.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of resource. \"Microsoft.Capacity/ServiceLimits\"",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "QuotaRequestProperties": {
        "description": "The details of quota request.",
        "properties": {
          "message": {
            "description": "User friendly status message.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/QuotaRequestState",
            "description": "The quota request status."
          },
          "requestSubmitTime": {
            "description": "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The quotaRequests.",
            "items": {
              "$ref": "#/components/schemas/SubRequest"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QuotaRequestState": {
        "description": "The quota request status.",
        "enum": [
          "Accepted",
          "Invalid",
          "Succeeded",
          "Failed",
          "InProgress"
        ],
        "x-ms-enum": {
          "modelAsString": true,
          "name": "QuotaRequestState"
        }
      },
      "QuotaRequestStatusDetails": {
        "description": "The quota request status details.",
        "properties": {
          "message": {
            "description": "A user friendly message.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/QuotaRequestState",
            "description": "The quota request status.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "QuotaRequestSubmitResponse": {
        "description": "Quota submit request response",
        "properties": {
          "id": {
            "description": "The quota request Id.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the quota request.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/QuotaRequestProperties",
            "description": "The quota request details.",
            "type": "object"
          },
          "type": {
            "description": "Type of resource. \"Microsoft.Capacity/serviceLimits\"",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "QuotaRequestSubmitResponse201": {
        "description": "The quota request submit response with request id.",
        "properties": {
          "id": {
            "description": "The quota request id. Please use the requestId to check the request status.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The operation Id",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/QuotaRequestStatusDetails",
            "description": "The quota request status.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceName": {
        "description": "Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.",
        "properties": {
          "localizedValue": {
            "description": "Resource display name.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Resource name.",
            "readOnly": false,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceTypesName": {
        "description": "The resource types.",
        "enum": [
          "standard",
          "dedicated",
          "lowPriority",
          "shared",
          "serviceSpecific"
        ],
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ResourceType"
        }
      },
      "ServiceError": {
        "description": "The api error details.",
        "properties": {
          "code": {
            "description": "The error code.",
            "type": "string"
          },
          "details": {
            "description": "The list of error details.",
            "items": {
              "$ref": "#/components/schemas/ServiceErrorDetail"
            },
            "readOnly": true,
            "type": "array"
          },
          "message": {
            "description": "The error message.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServiceErrorDetail": {
        "description": "The error details.",
        "properties": {
          "code": {
            "description": "The error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "The error message.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SeverityTypes": {
        "description": "The Severity types.",
        "enum": [
          "Critical",
          "Moderate",
          "Minimal"
        ],
        "x-ms-enum": {
          "modelAsString": true,
          "name": "SeverityType"
        }
      },
      "SubRequest": {
        "description": "The sub-request submitted with the quota request.",
        "properties": {
          "limit": {
            "description": "The Resource limit.",
            "readOnly": true,
            "type": "integer"
          },
          "message": {
            "description": "User friendly status message.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "$ref": "#/components/schemas/ResourceName",
            "description": "The Resource name."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/QuotaRequestState",
            "description": "The quota request status."
          },
          "resourceType": {
            "description": "Resource type for which the quota check was made.",
            "readOnly": true,
            "type": "string"
          },
          "subRequestId": {
            "description": "Sub request id for individual request.",
            "readOnly": true,
            "type": "string"
          },
          "unit": {
            "description": " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SupportContactTypes": {
        "description": "The support contact types.",
        "enum": [
          "email",
          "phone",
          "chat"
        ],
        "x-ms-enum": {
          "modelAsString": true,
          "name": "SupportContactType"
        }
      },
      "SupportRequestAction": {
        "description": "The SupportRequest action.",
        "properties": {
          "alternateEmailAddresses": {
            "description": "The alternate email address of the recipient.",
            "items": {
              "description": "The email recipients.",
              "type": "string"
            },
            "type": "array"
          },
          "country": {
            "description": "The country of the recipient.",
            "type": "string"
          },
          "firstName": {
            "description": "The first name of the recipient.",
            "type": "string"
          },
          "lastName": {
            "description": "The last name of the recipient.",
            "type": "string"
          },
          "phoneNumber": {
            "description": "The phone number of the recipient.",
            "type": "string"
          },
          "preferredContactMethod": {
            "$ref": "#/components/schemas/ContactMethod",
            "description": "The preferred communication channel."
          },
          "primaryEmailAddress": {
            "description": "The primary email addresses of the recipients.",
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/SeverityTypes",
            "description": "The support request severity."
          },
          "supportLanguage": {
            "description": "The support language.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "aqiSettings": {
        "description": "Settings for auto quota increase.",
        "properties": {
          "autoQuotaIncreaseState": {
            "$ref": "#/components/schemas/AqiState",
            "description": "If the subscription has enabled automatic quota increase."
          }
        },
        "type": "object"
      },
      "autoQuotaIncreaseSettings": {
        "description": "Actions for auto quota increase.",
        "properties": {
          "onFailure": {
            "$ref": "#/components/schemas/Actions",
            "description": "The on failure Actions."
          },
          "onSuccess": {
            "$ref": "#/components/schemas/Actions",
            "description": "The on success Actions."
          },
          "settings": {
            "$ref": "#/components/schemas/aqiSettings",
            "description": "Settings for automatic quota increase."
          },
          "supportTicketAction": {
            "$ref": "#/components/schemas/SupportRequestAction",
            "description": "The support ticket action."
          }
        },
        "type": "object"
      },
      "quotaRequestOneResourceProperties": {
        "description": "The details of quota request.",
        "properties": {
          "message": {
            "description": "User friendly status message.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CurrentQuotaLimitBase",
            "description": "The quota request addition properties.",
            "x-ms-client-flatten": true
          },
          "provisioningState": {
            "$ref": "#/components/schemas/QuotaRequestState",
            "description": "The quota request status.",
            "readOnly": true
          },
          "requestSubmitTime": {
            "description": "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}