openapi: 3.0.0
info:
  description: Storage pool operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: StorageSystem.json#/components/parameters/StorageSubSystemParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoragePoolList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - StoragePools
      description: Returns a list of all storage pools for a location.
      operationId: StoragePools_List
      x-ms-examples:
        Returns a list of all storage pools for a location.:
          $ref: ./examples/StoragePool/List.json
      x-ms-odata: '#/components/schemas/StoragePool'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: StorageSystem.json#/components/parameters/StorageSubSystemParameter
        - $ref: '#/components/parameters/StoragePoolParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoragePool'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - StoragePools
      description: Return the requested a storage pool.
      operationId: StoragePools_Get
      x-ms-examples:
        Return the requested a storage pool.:
          $ref: ./examples/StoragePool/Get.json
components:
  parameters:
    StoragePoolParameter:
      description: Storage pool name.
      in: path
      name: storagePool
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    StoragePool:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: Representation of a storage pool resource.
      properties:
        properties:
          $ref: '#/components/schemas/StoragePoolModel'
          description: All properties of a storage pool.
          x-ms-client-flatten: true
      type: object
    StoragePoolList:
      description: Pageable list of storage pools.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage pools.
          items:
            $ref: '#/components/schemas/StoragePool'
          type: array
      type: object
    StoragePoolModel:
      description: All properties of a storage pool.
      properties:
        sizeGB:
          description: Amount of space in the storage pool in GB.
          format: int32
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

