openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure management API provides create, read, update, and delete
    functionality for Azure MariaDB resources including servers, databases,
    firewall rules, VNET rules, log files and configurations with new business
    model.
  title: MariaDBManagementClient
  version: '2018-06-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/queryTexts':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The query identifiers
          explode: true
          in: query
          name: queryIds
          required: true
          schema:
            items:
              type: string
            type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTextsResultList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - QueryTexts
      description: Retrieve the Query-Store query texts for specified queryIds.
      operationId: QueryTexts_ListByServer
      x-ms-examples:
        QueryTextsListByServer:
          $ref: ./examples/QueryTextsListByServer.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/queryTexts/{queryId}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/QueryIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryText'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - QueryTexts
      description: Retrieve the Query-Store query texts for the queryId.
      operationId: QueryTexts_Get
      x-ms-examples:
        QueryTextsGet:
          $ref: ./examples/QueryTextsGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/resetQueryPerformanceInsightData':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPerformanceInsightResetDataResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ResetQueryPerformanceInsightData
      description: Reset data for Query Performance Insight.
      operationId: ResetQueryPerformanceInsightData
      x-ms-examples:
        QueryPerformanceInsightResetData:
          $ref: ./examples/QueryPerformanceInsightResetData.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/topQueryStatistics':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopQueryStatisticsResultList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - TopQueryStatistics
      description: >-
        Retrieve the Query-Store top queries for specified metric and
        aggregation.
      operationId: TopQueryStatistics_ListByServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopQueryStatisticsInput'
        description: The required parameters for retrieving top query statistics.
        required: true
      x-ms-examples:
        TopQueryStatisticsListByServer:
          $ref: ./examples/TopQueryStatisticsListByServer.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/topQueryStatistics/{queryStatisticId}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/QueryStatisticIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryStatistic'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - TopQueryStatistics
      description: Retrieve the query statistic for specified identifier.
      operationId: TopQueryStatistics_Get
      x-ms-examples:
        TopQueryStatisticsGet:
          $ref: ./examples/TopQueryStatisticsGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/waitStatistics':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitStatisticsResultList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - WaitStatistics
      description: Retrieve wait statistics for specified aggregation window.
      operationId: WaitStatistics_ListByServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitStatisticsInput'
        description: The required parameters for retrieving wait statistics.
        required: true
      x-ms-examples:
        WaitStatisticsListByServer:
          $ref: ./examples/WaitStatisticsListByServer.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/waitStatistics/{waitStatisticsId}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/WaitStatisticsIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitStatistic'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - WaitStatistics
      description: Retrieve wait statistics for specified identifier.
      operationId: WaitStatistics_Get
      x-ms-examples:
        WaitStatisticsGet:
          $ref: ./examples/WaitStatisticsGet.json
components:
  parameters:
    QueryIdParameter:
      description: The Query-Store query identifier.
      in: path
      name: queryId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    QueryStatisticIdParameter:
      description: The Query Statistic identifier.
      in: path
      name: queryStatisticId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    WaitStatisticsIdParameter:
      description: The Wait Statistic identifier.
      in: path
      name: waitStatisticsId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    CloudError:
      description: An error response from the Batch service.
      properties:
        error:
          $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      type: object
      x-ms-external: true
    QueryPerformanceInsightResetDataResult:
      description: Result of Query Performance Insight data reset.
      properties:
        message:
          description: operation message.
          type: string
        status:
          description: Indicates result of the operation.
          enum:
            - Succeeded
            - Failed
          type: string
          x-ms-enum:
            modelAsString: true
            name: QueryPerformanceInsightResetDataResultState
      type: object
    QueryStatistic:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Query Statistic.
      properties:
        properties:
          $ref: '#/components/schemas/QueryStatisticProperties'
          description: The properties of a query statistic.
          x-ms-client-flatten: true
      type: object
    QueryStatisticProperties:
      description: The properties of a query statistic.
      properties:
        aggregationFunction:
          description: Aggregation function name.
          type: string
        databaseNames:
          description: The list of database names.
          items:
            type: string
          type: array
        endTime:
          description: Observation end time.
          format: date-time
          type: string
        metricDisplayName:
          description: Metric display name.
          type: string
        metricName:
          description: Metric name.
          type: string
        metricValue:
          description: Metric value.
          format: double
          type: number
        metricValueUnit:
          description: Metric value unit.
          type: string
        queryExecutionCount:
          description: Number of query executions in this time interval.
          format: int64
          type: integer
        queryId:
          description: Database query identifier.
          type: string
        startTime:
          description: Observation start time.
          format: date-time
          type: string
      type: object
    QueryText:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Query Text.
      properties:
        properties:
          $ref: '#/components/schemas/QueryTextProperties'
          description: The properties of a query text.
          x-ms-client-flatten: true
      type: object
    QueryTextProperties:
      description: The properties of a query text.
      properties:
        queryId:
          description: Query identifier unique to the server.
          type: string
        queryText:
          description: Query text.
          type: string
      type: object
    QueryTextsResultList:
      description: A list of query texts.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: The list of query texts.
          items:
            $ref: '#/components/schemas/QueryText'
          readOnly: true
          type: array
      type: object
    TopQueryStatisticsInput:
      description: Input to get top query statistics
      properties:
        properties:
          $ref: '#/components/schemas/TopQueryStatisticsInputProperties'
          description: The properties of a wait statistics input.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    TopQueryStatisticsInputProperties:
      description: The properties for input to get top query statistics
      properties:
        aggregationFunction:
          description: Aggregation function name.
          type: string
        aggregationWindow:
          description: Aggregation interval type in ISO 8601 format.
          type: string
        numberOfTopQueries:
          description: Max number of top queries to return.
          format: int32
          type: integer
        observationEndTime:
          description: Observation end time.
          format: date-time
          type: string
        observationStartTime:
          description: Observation start time.
          format: date-time
          type: string
        observedMetric:
          description: Observed metric name.
          type: string
      required:
        - numberOfTopQueries
        - aggregationFunction
        - observedMetric
        - observationStartTime
        - observationEndTime
        - aggregationWindow
      type: object
    TopQueryStatisticsResultList:
      description: A list of query statistics.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: The list of top query statistics.
          items:
            $ref: '#/components/schemas/QueryStatistic'
          readOnly: true
          type: array
      type: object
    WaitStatistic:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Wait Statistic.
      properties:
        properties:
          $ref: '#/components/schemas/WaitStatisticProperties'
          description: The properties of a wait statistic.
          x-ms-client-flatten: true
      type: object
    WaitStatisticProperties:
      description: The properties of a wait statistic.
      properties:
        count:
          description: Wait event count observed in this time interval.
          format: int64
          type: integer
        databaseName:
          description: Database Name.
          type: string
        endTime:
          description: Observation end time.
          format: date-time
          type: string
        eventName:
          description: Wait event name.
          type: string
        eventTypeName:
          description: Wait event type name.
          type: string
        queryId:
          description: Database query identifier.
          format: int64
          type: integer
        startTime:
          description: Observation start time.
          format: date-time
          type: string
        totalTimeInMs:
          description: Total time of wait in milliseconds in this time interval.
          format: double
          type: number
        userId:
          description: Database user identifier.
          format: int64
          type: integer
      type: object
    WaitStatisticsInput:
      description: Input to get wait statistics
      properties:
        properties:
          $ref: '#/components/schemas/WaitStatisticsInputProperties'
          description: The properties of a wait statistics input.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    WaitStatisticsInputProperties:
      description: The properties for input to get wait statistics
      properties:
        aggregationWindow:
          description: Aggregation interval type in ISO 8601 format.
          type: string
        observationEndTime:
          description: Observation end time.
          format: date-time
          type: string
        observationStartTime:
          description: Observation start time.
          format: date-time
          type: string
      required:
        - observationStartTime
        - observationEndTime
        - aggregationWindow
      type: object
    WaitStatisticsResultList:
      description: A list of wait statistics.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: The list of wait statistics.
          items:
            $ref: '#/components/schemas/WaitStatistic'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

