{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including recommendations and operations.",
    "title": "Azure SQL Database",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/recommendedElasticPools.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedElasticPoolListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "RecommendedElasticPools"
        ],
        "description": "Returns recommended elastic pools.",
        "operationId": "RecommendedElasticPools_ListByServer",
        "x-ms-examples": {
          "List recommended elastic pools": {
            "$ref": "./examples/RecommendedElasticPoolList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the recommended elastic pool to be retrieved.",
            "in": "path",
            "name": "recommendedElasticPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedElasticPool"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "RecommendedElasticPools"
        ],
        "description": "Gets a recommended elastic pool.",
        "operationId": "RecommendedElasticPools_Get",
        "x-ms-examples": {
          "Get a recommended elastic pool": {
            "$ref": "./examples/RecommendedElasticPoolGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the recommended elastic pool to be retrieved.",
            "in": "path",
            "name": "recommendedElasticPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedElasticPoolListMetricsResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "RecommendedElasticPools"
        ],
        "description": "Returns recommended elastic pool metrics.",
        "operationId": "RecommendedElasticPools_ListMetrics",
        "x-ms-examples": {
          "Get recommended elastic pool metrics": {
            "$ref": "./examples/RecommendedElasticPoolListMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "RecommendedElasticPool": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a recommended elastic pool.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RecommendedElasticPoolProperties",
            "description": "The properties representing the resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "RecommendedElasticPoolListMetricsResult": {
        "description": "Represents the response to a list recommended elastic pool metrics request.",
        "properties": {
          "value": {
            "description": "The list of recommended elastic pools metrics.",
            "items": {
              "$ref": "#/components/schemas/RecommendedElasticPoolMetric"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "RecommendedElasticPoolListResult": {
        "description": "Represents the response to a list recommended elastic pool request.",
        "properties": {
          "value": {
            "description": "The list of recommended elastic pools hosted in the server.",
            "items": {
              "$ref": "#/components/schemas/RecommendedElasticPool"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "RecommendedElasticPoolMetric": {
        "description": "Represents recommended elastic pool metric.",
        "properties": {
          "dateTime": {
            "description": "The time of metric (ISO8601 format).",
            "format": "date-time",
            "type": "string"
          },
          "dtu": {
            "description": "Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/",
            "format": "double",
            "type": "number"
          },
          "sizeGB": {
            "description": "Gets or sets size in gigabytes.",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "RecommendedElasticPoolProperties": {
        "description": "Represents the properties of a recommended elastic pool.",
        "properties": {
          "databaseDtuMax": {
            "description": "The maximum DTU for the database.",
            "format": "double",
            "type": "number"
          },
          "databaseDtuMin": {
            "description": "The minimum DTU for the database.",
            "format": "double",
            "type": "number"
          },
          "databaseEdition": {
            "description": "The edition of the recommended elastic pool. The ElasticPoolEdition enumeration contains all the valid editions.",
            "enum": [
              "Basic",
              "Standard",
              "Premium",
              "GeneralPurpose",
              "BusinessCritical"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ElasticPoolEdition"
            }
          },
          "databases": {
            "description": "The list of databases in this pool. Expanded property",
            "items": {
              "$ref": "./databases.json#/definitions/Database"
            },
            "readOnly": true,
            "type": "array"
          },
          "dtu": {
            "description": "The DTU for the recommended elastic pool.",
            "format": "double",
            "type": "number"
          },
          "maxObservedDtu": {
            "description": "Gets maximum observed DTU.",
            "format": "double",
            "readOnly": true,
            "type": "number"
          },
          "maxObservedStorageMB": {
            "description": "Gets maximum observed storage in megabytes.",
            "format": "double",
            "readOnly": true,
            "type": "number"
          },
          "metrics": {
            "description": "The list of databases housed in the server. Expanded property",
            "items": {
              "$ref": "#/components/schemas/RecommendedElasticPoolMetric"
            },
            "readOnly": true,
            "type": "array"
          },
          "observationPeriodEnd": {
            "description": "The observation period start (ISO8601 format).",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "observationPeriodStart": {
            "description": "The observation period start (ISO8601 format).",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "storageMB": {
            "description": "Gets storage size in megabytes.",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}