openapi: 3.0.0
info:
  description: >-
    Consumption management client provides access to consumption resources for
    Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: '2017-11-30'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Consumption/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.Consumption/reservationDetails':
    get:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the reservation details. The scope can be
            'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}'
            or
            'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}/reservations/{ReservationId}'
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            Filter reservation details by date range. The properties/UsageDate
            for start date and end date. The filter supports 'le' and  'ge' 
          in: query
          name: $filter
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservedInstances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the reservations details for provided date range.
      operationId: ReservationsDetails_List
      x-ms-examples:
        ReservationDetails:
          $ref: ./examples/ReservationDetails.json
        ReservationDetailsWithReservationId:
          $ref: ./examples/ReservationDetailsWithReservationId.json
      x-ms-pageable:
        nextLinkName: null
  '/{scope}/providers/Microsoft.Consumption/reservationSummaries':
    get:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the reservation summaries. The scope can be
            'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}'
            or
            'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}/reservations/{ReservationId}'
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Can be daily or monthly
          in: query
          name: grain
          required: true
          schema:
            enum:
              - daily
              - monthly
            type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
              - description: Daily grain of data
                name: DailyGrain
                value: daily
              - description: Monthly grain of data
                name: MonthlyGrain
                value: monthly
        - description: >-
            Required only for daily grain. The properties/UsageDate for start
            date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ReservedInstances
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: Lists the reservations summaries for daily or monthly grain.
      operationId: ReservationsSummaries_List
      x-ms-examples:
        ReservationSummariesDaily:
          $ref: ./examples/ReservationSummariesDaily.json
        ReservationSummariesDailyWithReservationId:
          $ref: ./examples/ReservationSummariesDailyWithReservationId.json
        ReservationSummariesMonthly:
          $ref: ./examples/ReservationSummariesMonthly.json
        ReservationSummariesMonthlyWithReservationId:
          $ref: ./examples/ReservationSummariesMonthlyWithReservationId.json
      x-ms-pageable:
        nextLinkName: null
  '/{scope}/providers/Microsoft.Consumption/usageDetails':
    get:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the usage details. The scope can be
            '/subscriptions/{subscriptionId}' for a subscription, or
            '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
            for a billing period.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            May be used to expand the properties/additionalProperties or
            properties/meterDetails within a list of usage details. By default,
            these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - description: >-
            May be used to filter usageDetails by properties/usageEnd (Utc
            time), properties/usageStart (Utc time), properties/resourceGroup,
            properties/instanceName or properties/instanceId. The filter
            supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
            currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - description: >-
            Skiptoken is only used if a previous operation returned a partial
            result. If a previous response contains a nextLink element, the
            value of the nextLink element will include a skiptoken parameter
            that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          schema:
            type: string
        - description: >-
            May be used to limit the number of results to the most recent N
            usageDetails.
          in: query
          name: $top
          required: false
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - UsageDetails
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the usage details for a scope by billing period. Usage details are
        available via this API only for May 1, 2014 or later.
      operationId: UsageDetails_List
      x-ms-examples:
        UsageDetailsExpand:
          $ref: ./examples/UsageDetailsExpand.json
        UsageDetailsList:
          $ref: ./examples/UsageDetailsList.json
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriod.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2017-11-30.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: >-
        Error response indicates that the service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
      type: object
    MeterDetails:
      description: The properties of the meter detail.
      properties:
        meterCategory:
          description: >-
            The category of the meter, for example, 'Cloud services',
            'Networking', etc..
          readOnly: true
          type: string
        meterLocation:
          description: The location in which the Azure service is available.
          readOnly: true
          type: string
        meterName:
          description: 'The name of the meter, within the given meter category'
          readOnly: true
          type: string
        meterSubCategory:
          description: >-
            The subcategory of the meter, for example, 'A6 Cloud services',
            'ExpressRoute (IXP)', etc..
          readOnly: true
          type: string
        pretaxStandardRate:
          description: The pretax listing price.
          format: decimal
          readOnly: true
          type: number
        totalIncludedQuantity:
          description: The total included quantity associated with the offer.
          format: decimal
          readOnly: true
          type: number
        unit:
          description: >-
            The unit in which the meter consumption is charged, for example,
            'Hours', 'GB', etc.
          readOnly: true
          type: string
      type: object
    Operation:
      description: A Consumption REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.Consumption.'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: UsageDetail, etc.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of listing consumption operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of consumption operations supported by the
            Microsoft.Consumption resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    ReservationDetails:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: reservation details resource.
      properties:
        properties:
          $ref: '#/components/schemas/ReservationDetailsProperties'
          title: Reservation Details properties
          x-ms-client-flatten: true
      type: object
    ReservationDetailsListResult:
      description: Result of listing reservation details.
      properties:
        value:
          description: The list of reservation details.
          items:
            $ref: '#/components/schemas/ReservationDetails'
          readOnly: true
          type: array
      type: object
    ReservationDetailsProperties:
      description: The properties of the reservation details.
      properties:
        instanceId:
          description: >-
            This identifier is the name of the resource or the fully qualified
            Resource ID.
          readOnly: true
          type: string
        reservationId:
          description: >-
            The reservation ID is the identifier of a reservation within a
            reservation order. Each reservation is the grouping for applying the
            benefit scope and also specifies the number of instances to which
            the reservation benefit can be applied to.
          readOnly: true
          type: string
        reservationOrderId:
          description: >-
            The reservation order ID is the identifier for a reservation
            purchase. Each reservation order ID represents a single purchase
            transaction. A reservation order contains reservations. The
            reservation order specifies the VM size and region for the
            reservations.
          readOnly: true
          type: string
        reservedHours:
          description: >-
            This is the total hours reserved for the day. E.g. if reservation
            for 1 instance was made on 1 PM, this will be 11 hours for that day
            and 24 hours from subsequent days.
          format: decimal
          readOnly: true
          type: number
        skuName:
          description: >-
            This is the ARM Sku name. It can be used to join with the
            serviceType field in additional info in usage records.
          readOnly: true
          type: string
        totalReservedQuantity:
          description: >-
            This is the total count of instances that are reserved for the
            reservationId.
          format: decimal
          readOnly: true
          type: number
        usageDate:
          description: The date on which consumption occurred.
          format: date-time
          readOnly: true
          type: string
        usedHours:
          description: This is the total hours used by the instance.
          format: decimal
          readOnly: true
          type: number
      type: object
    ReservationSummaries:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: reservation summaries resource.
      properties:
        properties:
          $ref: '#/components/schemas/ReservationSummariesProperties'
          title: Reservation Summaries properties
          x-ms-client-flatten: true
      type: object
    ReservationSummariesListResult:
      description: Result of listing reservation summaries.
      properties:
        value:
          description: The list of reservation summaries.
          items:
            $ref: '#/components/schemas/ReservationSummaries'
          readOnly: true
          type: array
      type: object
    ReservationSummariesProperties:
      description: The properties of the reservation summaries.
      properties:
        avgUtilizationPercentage:
          description: >-
            This is average utilization for the entire time range. (day or month
            depending on the grain)
          format: decimal
          readOnly: true
          type: number
        maxUtilizationPercentage:
          description: >-
            This is the maximum hourly utilization in the usage time (day or
            month). E.g. if usage record corresponds to 12/10/2017 and on that
            for hour 4 and 5, utilization was 100%, this field will return 100%
            for that day.
          format: decimal
          readOnly: true
          type: number
        minUtilizationPercentage:
          description: >-
            This is the minimum hourly utilization in the usage time (day or
            month). E.g. if usage record corresponds to 12/10/2017 and on that
            for hour 4 and 5, utilization was 10%, this field will return 10%
            for that day
          format: decimal
          readOnly: true
          type: number
        reservationId:
          description: >-
            The reservation ID is the identifier of a reservation within a
            reservation order. Each reservation is the grouping for applying the
            benefit scope and also specifies the number of instances to which
            the reservation benefit can be applied to.
          readOnly: true
          type: string
        reservationOrderId:
          description: >-
            The reservation order ID is the identifier for a reservation
            purchase. Each reservation order ID represents a single purchase
            transaction. A reservation order contains reservations. The
            reservation order specifies the VM size and region for the
            reservations.
          readOnly: true
          type: string
        reservedHours:
          description: >-
            This is the total hours reserved. E.g. if reservation for 1 instance
            was made on 1 PM, this will be 11 hours for that day and 24 hours
            from subsequent days
          format: decimal
          readOnly: true
          type: number
        skuName:
          description: >-
            This is the ARM Sku name. It can be used to join with the
            serviceType field in additional info in usage records.
          readOnly: true
          type: string
        usageDate:
          description: >-
            Data corresponding to the utilization record. If the grain of data
            is monthly, it will be first day of month.
          format: date-time
          readOnly: true
          type: string
        usedHours:
          description: Total used hours by the reservation
          format: decimal
          readOnly: true
          type: number
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          type: object
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UsageDetail:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An usage detail resource.
      properties:
        properties:
          $ref: '#/components/schemas/UsageDetailProperties'
          title: Usage detail properties
          x-ms-client-flatten: true
      type: object
    UsageDetailProperties:
      description: The properties of the usage detail.
      properties:
        accountName:
          description: Account name.
          readOnly: true
          type: string
        additionalProperties:
          description: >-
            Additional details of this usage item. By default this is not
            populated, unless it's specified in $expand.
          readOnly: true
          type: string
        billableQuantity:
          description: The billable usage quantity.
          format: decimal
          readOnly: true
          type: number
        billingPeriodId:
          description: The id of the billing period resource that the usage belongs to.
          readOnly: true
          type: string
        consumedService:
          description: Consumed service name.
          readOnly: true
          type: string
        costCenter:
          description: >-
            The cost center of this department if it is a department and a
            costcenter exists
          readOnly: true
          type: string
        currency:
          description: 'The ISO currency in which the meter is charged, for example, USD.'
          readOnly: true
          type: string
        departmentName:
          description: Department name.
          readOnly: true
          type: string
        instanceId:
          description: The uri of the resource instance that the usage is about.
          readOnly: true
          type: string
        instanceLocation:
          description: The location of the resource instance that the usage is about.
          readOnly: true
          type: string
        instanceName:
          description: The name of the resource instance that the usage is about.
          readOnly: true
          type: string
        invoiceId:
          description: The id of the invoice resource that the usage belongs to.
          readOnly: true
          type: string
        isEstimated:
          description: The estimated usage is subject to change.
          readOnly: true
          type: boolean
        meterDetails:
          $ref: '#/components/schemas/MeterDetails'
          description: >-
            The details about the meter. By default this is not populated,
            unless it's specified in $expand.
          readOnly: true
        meterId:
          description: The meter id.
          readOnly: true
          type: string
        pretaxCost:
          description: The amount of cost before tax.
          format: decimal
          readOnly: true
          type: number
        product:
          description: Product name.
          readOnly: true
          type: string
        subscriptionGuid:
          description: Subscription guid.
          readOnly: true
          type: string
        subscriptionName:
          description: Subscription name.
          readOnly: true
          type: string
        usageEnd:
          description: The end of the date time range covered by the usage detail.
          format: date-time
          readOnly: true
          type: string
        usageQuantity:
          description: The quantity of usage.
          format: decimal
          readOnly: true
          type: number
        usageStart:
          description: The start of the date time range covered by the usage detail.
          format: date-time
          readOnly: true
          type: string
      type: object
    UsageDetailsListResult:
      description: >-
        Result of listing usage details. It contains a list of available usage
        details in reverse chronological order by billing period.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of usage details.
          items:
            $ref: '#/components/schemas/UsageDetail'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation
tags:
  - externalDocs:
      url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
    description: >-
      Lists the usage details for a scope by billing period. Usage details are
      available via this API only for May 1, 2014 or later.
    name: UsageDetails

