{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/job.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Retrieve a list of jobs.",
        "operationId": "Job_ListByAutomationAccount",
        "x-ms-examples": {
          "List jobs by automation account": {
            "$ref": "./examples/listJobsByAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Retrieve the job identified by job id.",
        "operationId": "Job_Get"
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Create a job of the runbook.",
        "operationId": "Job_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateParameters"
              }
            }
          },
          "description": "The parameters supplied to the create job operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create job": {
            "$ref": "./examples/createJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/output": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Retrieve the job output identified by job id.",
        "operationId": "Job_GetOutput",
        "x-ms-examples": {
          "Get Job": {
            "$ref": "./examples/getJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/resume": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Resume the job identified by jobId.",
        "operationId": "Job_Resume",
        "x-ms-examples": {
          "Resume job": {
            "$ref": "./examples/resumeJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/runbookContent": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Retrieve the runbook content of the job identified by job id.",
        "operationId": "Job_GetRunbookContent"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/stop": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Stop the job identified by jobId.",
        "operationId": "Job_Stop",
        "x-ms-examples": {
          "Stop job": {
            "$ref": "./examples/stopJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job Id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStreamListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "JobStream"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "description": "Retrieve a list of jobs streams identified by job id.",
        "operationId": "JobStream_ListByJob",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams/{jobStreamId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job stream id.",
            "in": "path",
            "name": "jobStreamId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStream"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "JobStream"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "description": "Retrieve the job stream identified by job stream id.",
        "operationId": "JobStream_Get"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/suspend": {
      "post": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The job id.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Job"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "description": "Suspend the job identified by jobId.",
        "operationId": "Job_Suspend",
        "x-ms-examples": {
          "Suspend job": {
            "$ref": "./examples/suspendJob.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Job": {
        "description": "Definition of the job.",
        "properties": {
          "id": {
            "description": "Id of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/JobProperties",
            "description": "The properties of the job.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "JobCreateParameters": {
        "description": "The parameters supplied to the create job operation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/JobCreateProperties",
            "description": "Gets or sets the list of job properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "JobCreateProperties": {
        "description": "The parameters supplied to the create job operation.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the job.",
            "type": "object"
          },
          "runOn": {
            "description": "Gets or sets the runOn which specifies the group name where the job is to be executed.",
            "type": "string"
          },
          "runbook": {
            "$ref": "#/components/schemas/RunbookAssociationProperty",
            "description": "Gets or sets the runbook."
          }
        },
        "required": [
          "runbook"
        ],
        "type": "object"
      },
      "JobListResult": {
        "description": "The response model for the list job operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of jobs.",
            "items": {
              "$ref": "#/components/schemas/Job"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JobProperties": {
        "description": "Definition of job properties.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the job.",
            "type": "object"
          },
          "creationTime": {
            "description": "Gets or sets the creation time of the job.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "endTime": {
            "description": "Gets or sets the end time of the job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "exception": {
            "description": "Gets or sets the exception of the job.",
            "type": "string"
          },
          "jobId": {
            "description": "Gets or sets the id of the job.",
            "format": "uuid",
            "nullable": false,
            "type": "string"
          },
          "jobScheduleId": {
            "description": "Gets or sets the id of job schedule.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time of the job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "lastStatusModifiedTime": {
            "description": "Gets or sets the last status modified time of the job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/JobProvisioningStateProperty",
            "description": "The provisioning state of a resource."
          },
          "runOn": {
            "description": "Gets or sets the runOn which specifies the group name where the job is to be executed.",
            "type": "string"
          },
          "runbook": {
            "$ref": "#/components/schemas/RunbookAssociationProperty",
            "description": "Gets or sets the runbook."
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleAssociationProperty",
            "description": "Gets or sets the runbook."
          },
          "startTime": {
            "description": "Gets or sets the start time of the job.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "startedBy": {
            "description": "Gets or sets the job started by.",
            "type": "string"
          },
          "status": {
            "description": "Gets or sets the status of the job.",
            "enum": [
              "New",
              "Activating",
              "Running",
              "Completed",
              "Failed",
              "Stopped",
              "Blocked",
              "Suspended",
              "Disconnected",
              "Suspending",
              "Stopping",
              "Resuming",
              "Removing"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "JobStatus"
            }
          },
          "statusDetails": {
            "description": "Gets or sets the status details of the job.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "JobProvisioningStateProperty": {
        "description": "The provisioning state of the resource.",
        "enum": [
          "Failed",
          "Succeeded",
          "Suspended",
          "Processing"
        ],
        "readOnly": true,
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "JobProvisioningState"
        }
      },
      "JobStream": {
        "description": "Definition of the job stream.",
        "properties": {
          "id": {
            "description": "Gets or sets the id of the resource.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/JobStreamProperties",
            "description": "Gets or sets the id of the job stream.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "JobStreamListResult": {
        "description": "The response model for the list job stream operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "A list of job streams.",
            "items": {
              "$ref": "#/components/schemas/JobStream"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JobStreamProperties": {
        "description": "Definition of the job stream.",
        "properties": {
          "jobStreamId": {
            "description": "Gets or sets the id of the job stream.",
            "type": "string"
          },
          "streamText": {
            "description": "Gets or sets the stream text.",
            "type": "string"
          },
          "streamType": {
            "description": "Gets or sets the stream type.",
            "enum": [
              "Progress",
              "Output",
              "Warning",
              "Error",
              "Debug",
              "Verbose",
              "Any"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "JobStreamType"
            }
          },
          "summary": {
            "description": "Gets or sets the summary.",
            "type": "string"
          },
          "time": {
            "description": "Gets or sets the creation time of the job.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "value": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "Gets or sets the values of the job stream.",
            "type": "object"
          }
        },
        "type": "object",
        "x-ms-client-flatten": true
      },
      "RunbookAssociationProperty": {
        "description": "The runbook property associated with the entity.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the runbook.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ScheduleAssociationProperty": {
        "description": "The schedule property associated with the entity.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the Schedule.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}