openapi: 3.0.0
info:
  description: >-
    Azure Blueprints Client provides access to blueprint definitions,
    assignments, and artifacts, and related blueprint operations.
  title: BlueprintClient
  version: 2018-11-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceScope}/providers/Microsoft.Blueprint/blueprintAssignments':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentList'
          description: OK -- all blueprint assignments retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: blueprintDefinition.json#/definitions/CloudError
          description: Blueprints error response.
      tags:
        - Assignment
      description: List blueprint assignments within a subscription or a management group.
      operationId: Assignments_List
      x-ms-examples:
        Assignment at management group scope:
          $ref: ./examples/managementGroupBPAssignment/BlueprintAssignment_List.json
        Assignment at subscription scope:
          $ref: ./examples/subscriptionBPAssignment/BlueprintAssignment_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{resourceScope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
        - description: >-
            When deleteBehavior=all, the resources that were created by the
            blueprint assignment will be deleted.
          in: query
          name: deleteBehavior
          required: false
          schema:
            enum:
              - none
              - all
            type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentDeleteBehavior
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK -- blueprint assignment deleted.
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: blueprintDefinition.json#/definitions/CloudError
          description: Blueprints error response.
      tags:
        - Assignment
      description: Delete a blueprint assignment.
      operationId: Assignments_Delete
      x-ms-examples:
        Assignment_Delete at management group scope:
          $ref: >-
            ./examples/managementGroupBPAssignment/BlueprintAssignment_Delete.json
        'Assignment_Delete at management group scope, and delete the resources created by the assignment':
          $ref: >-
            ./examples/managementGroupBPAssignment/BlueprintAssignment_Delete_AndDeleteChildren.json
        Assignment_Delete at subscription scope:
          $ref: ./examples/subscriptionBPAssignment/BlueprintAssignment_Delete.json
        'Assignment_Delete at subscription scope, and delete the resources created by the assignment':
          $ref: >-
            ./examples/subscriptionBPAssignment/BlueprintAssignment_Delete_AndDeleteChildren.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK -- blueprint assignment retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: blueprintDefinition.json#/definitions/CloudError
          description: Blueprints error response.
      tags:
        - Assignment
      description: Get a blueprint assignment.
      operationId: Assignments_Get
      x-ms-examples:
        Assignment at management group scope:
          $ref: ./examples/managementGroupBPAssignment/BlueprintAssignment_Get.json
        Assignment at subscription scope:
          $ref: ./examples/subscriptionBPAssignment/BlueprintAssignment_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: Created -- blueprint assignment saved.
        default:
          content:
            application/json:
              schema:
                $ref: blueprintDefinition.json#/definitions/CloudError
          description: Blueprints error response.
      tags:
        - Assignment
      description: Create or update a blueprint assignment.
      operationId: Assignments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
        description: Blueprint assignment object to save.
        required: true
      x-ms-examples:
        Assignment with system-assigned managed identity at management group scope:
          $ref: >-
            ./examples/managementGroupBPAssignment/BlueprintAssignment_Create_SystemAssignedMSI.json
        Assignment with system-assigned managed identity at subscription scope:
          $ref: >-
            ./examples/subscriptionBPAssignment/BlueprintAssignment_Create_SystemAssignedMSI.json
        Assignment with user-assigned managed identity at management group scope:
          $ref: >-
            ./examples/managementGroupBPAssignment/BlueprintAssignment_Create_UserAssignedMSI.json
        Assignment with user-assigned managed identity at subscription scope:
          $ref: >-
            ./examples/subscriptionBPAssignment/BlueprintAssignment_Create_UserAssignedMSI.json
  '/{resourceScope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/whoIsBlueprint':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ScopeParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoIsBlueprintContract'
          description: Blueprints service SPN objectId
        default:
          content:
            application/json:
              schema:
                $ref: blueprintDefinition.json#/definitions/CloudError
          description: Blueprints error response.
      description: Get Blueprints service SPN objectId
      operationId: Assignments_WhoIsBlueprint
      x-ms-examples:
        WhoIsBlueprint_Action at management group scope:
          $ref: ./examples/managementGroupBPAssignment/WhoIsBlueprint_Action.json
        WhoIsBlueprint_Action at subscription scope:
          $ref: ./examples/subscriptionBPAssignment/WhoIsBlueprint_Action.json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    AssignmentNameParameter:
      description: Name of the blueprint assignment.
      in: path
      name: assignmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ScopeParameter:
      allowReserved: true
      description: >-
        The scope of the resource. Valid scopes are: management group (format:
        '/providers/Microsoft.Management/managementGroups/{managementGroup}'),
        subscription (format: '/subscriptions/{subscriptionId}').
      in: path
      name: resourceScope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    Assignment:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Represents a blueprint assignment.
      properties:
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
          description: Managed identity for this blueprint assignment.
        properties:
          $ref: '#/components/schemas/AssignmentProperties'
          description: Properties for blueprint assignment object.
          x-ms-client-flatten: true
      required:
        - identity
        - properties
      type: object
    AssignmentList:
      description: List of blueprint assignments
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of blueprint assignments.
          items:
            $ref: '#/components/schemas/Assignment'
          type: array
      type: object
    AssignmentLockSettings:
      description: Defines how resources deployed by a blueprint assignment are locked.
      properties:
        excludedActions:
          description: "List\_of\_management\_operations\_that\_are\_excluded\_from\_blueprint\_locks.\_Up\_to\_200\_actions\_are\_permitted. If the lock mode is set to 'AllResourcesReadOnly', then the following actions are automatically appended to 'excludedActions': '*/read', 'Microsoft.Network/virtualNetworks/subnets/join/action' and 'Microsoft.Authorization/locks/delete'. If the lock mode is set to 'AllResourcesDoNotDelete', then the following actions are automatically appended to 'excludedActions': 'Microsoft.Authorization/locks/delete'. Duplicate actions will get removed."
          items:
            type: string
          type: array
        excludedPrincipals:
          description: >-
            List of AAD principals excluded from blueprint locks. Up to 5
            principals are permitted.
          items:
            type: string
          type: array
        mode:
          description: Lock mode.
          enum:
            - None
            - AllResourcesReadOnly
            - AllResourcesDoNotDelete
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentLockMode
      type: object
    AssignmentProperties:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
      description: Detailed properties for a blueprint assignment.
      properties:
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/ParameterValue'
            description: Key/Value pair of parameter fulfillment.
          description: Blueprint assignment parameter values.
          type: object
        blueprintId:
          description: ID of the published version of a blueprint definition.
          type: string
        locks:
          $ref: '#/components/schemas/AssignmentLockSettings'
          description: Defines how resources deployed by a blueprint assignment are locked.
        provisioningState:
          description: State of the blueprint assignment.
          enum:
            - creating
            - validating
            - waiting
            - deploying
            - cancelling
            - locking
            - succeeded
            - failed
            - canceled
            - deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentProvisioningState
        resourceGroups:
          additionalProperties:
            $ref: '#/components/schemas/ResourceGroupValue'
          description: Names and locations of resource group placeholders.
          type: object
        scope:
          description: >-
            The target subscription scope of the blueprint assignment (format:
            '/subscriptions/{subscriptionId}'). For management group level
            assignments, the property is required.
          type: string
        status:
          $ref: '#/components/schemas/AssignmentStatus'
          description: Status of blueprint assignment. This field is readonly.
          readOnly: true
      required:
        - parameters
        - resourceGroups
      type: object
    AssignmentStatus:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourceStatusBase'
      description: The status of a blueprint assignment. This field is readonly.
      properties:
        managedResources:
          description: List of resources that were created by the blueprint assignment.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    BlueprintResourcePropertiesBase:
      description: Shared properties between all blueprint resources.
      properties:
        description:
          description: Multi-line explain this resource.
          maxLength: 500
          type: string
        displayName:
          description: One-liner string explain this resource.
          maxLength: 256
          type: string
      type: object
      x-ms-external: true
    BlueprintResourceStatusBase:
      description: Shared status properties between all blueprint resources.
      properties:
        lastModified:
          description: Last modified time of this blueprint definition.
          format: date-time
          readOnly: true
          type: string
        timeCreated:
          description: Creation time of this blueprint definition.
          format: date-time
          readOnly: true
          type: string
      type: object
    ManagedServiceIdentity:
      description: Managed identity generic object.
      properties:
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
        tenantId:
          description: ID of the Azure Active Directory.
          type: string
        type:
          description: Type of the managed identity.
          enum:
            - None
            - SystemAssigned
            - UserAssigned
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServiceIdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
            description: User-assigned managed identity.
          description: >-
            The list of user-assigned managed identities associated with the
            resource. Key is the Azure resource Id of the managed identity.
          type: object
      required:
        - type
      type: object
    ParameterValue:
      description: >-
        Value for the specified parameter. Can be either 'value' or 'reference'
        but not both.
      properties:
        reference:
          $ref: '#/components/schemas/SecretValueReference'
          description: Parameter value as reference type.
          type: object
        value:
          description: >-
            Parameter value. Any valid JSON value is allowed including objects,
            arrays, strings, numbers and booleans.
          type: object
      type: object
    ResourceGroupValue:
      description: Represents an Azure resource group.
      properties:
        location:
          description: Location of the resource group.
          type: string
        name:
          description: Name of the resource group.
          maxLength: 90
          minLength: 1
          type: string
      type: object
    SecretValueReference:
      description: Reference to a Key Vault secret.
      properties:
        keyVault:
          $ref: '#/components/schemas/keyVaultReference'
          description: Specifies the reference to a given Azure Key Vault.
        secretName:
          description: Name of the secret.
          type: string
        secretVersion:
          description: >-
            The version of the secret to use. If left blank, the latest version
            of the secret is used.
          type: string
      required:
        - keyVault
        - secretName
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/AzureResourceBase'
      description: Common properties for all Azure tracked resources.
      properties:
        location:
          description: The location of this blueprint assignment.
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - location
      type: object
    UserAssignedIdentity:
      description: User-assigned managed identity.
      properties:
        clientId:
          description: Client App Id associated with this identity.
          type: string
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
      type: object
    WhoIsBlueprintContract:
      description: >-
        Response schema for querying the Azure Blueprints service principal in
        the tenant.
      properties:
        objectId:
          description: >-
            AAD object Id of the Azure Blueprints service principal in the
            tenant.
          type: string
      type: object
    keyVaultReference:
      description: Specifies the link to a Key Vault.
      properties:
        id:
          description: Azure resource ID of the Key Vault.
          type: string
      required:
        - id
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

