openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2015-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/topologies':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Topology
      description: >-
        Gets a list that allows to build a topology view of a subscription and
        location.
      operationId: Topology_ListByHomeRegion
      x-ms-examples:
        Get topology on a subscription from security data location:
          $ref: ./examples/Topology/GetTopologySubscriptionLocation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/topologies':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Topology
      description: Gets a list that allows to build a topology view of a subscription.
      operationId: Topology_List
      x-ms-examples:
        Get topology on a subscription:
          $ref: ./examples/Topology/GetTopologySubscription_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/topologies/{topologyResourceName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: ../../../common/v1/types.json#/components/parameters/AscLocation
        - $ref: '#/components/parameters/TopologyResourceName'
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopologyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - Topology
      description: Gets a specific topology component.
      operationId: Topology_Get
      x-ms-examples:
        Get topology:
          $ref: ./examples/Topology/GetTopology_example.json
components:
  parameters:
    TopologyResourceName:
      description: Name of a topology resources collection.
      in: path
      name: topologyResourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    TopologyList:
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/TopologyResource'
          readOnly: true
          type: array
      type: object
    TopologyResource:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
        - $ref: ../../../common/v1/types.json#/definitions/Location
      properties:
        properties:
          $ref: '#/components/schemas/TopologyResourceProperties'
          readOnly: true
          x-ms-client-flatten: true
      type: object
    TopologyResourceProperties:
      properties:
        calculatedDateTime:
          description: The UTC time on which the topology was calculated
          format: date-time
          readOnly: true
          type: string
        topologyResources:
          description: Azure resources which are part of this topology resource
          items:
            $ref: '#/components/schemas/TopologySingleResource'
          readOnly: true
          type: array
      type: object
    TopologySingleResource:
      properties:
        children:
          description: >-
            Azure resources connected to this resource which are in lower level
            in the topology view
          items:
            $ref: '#/components/schemas/TopologySingleResourceChild'
          readOnly: true
          type: array
        location:
          description: The location of this resource
          readOnly: true
          type: string
        networkZones:
          description: >-
            Indicates the resource connectivity level to the Internet
            (InternetFacing, Internal ,etc.)
          readOnly: true
          type: string
        parents:
          description: >-
            Azure resources connected to this resource which are in higher level
            in the topology view
          items:
            $ref: '#/components/schemas/TopologySingleResourceParent'
          readOnly: true
          type: array
        recommendationsExist:
          description: Indicates if the resource has security recommendations
          readOnly: true
          type: boolean
        resourceId:
          description: Azure resource id
          readOnly: true
          type: string
        severity:
          description: The security severity of the resource
          readOnly: true
          type: string
        topologyScore:
          description: Score of the resource based on its security severity
          readOnly: true
          type: integer
      type: object
    TopologySingleResourceChild:
      properties:
        resourceId:
          description: Azure resource id which serves as child resource in topology view
          readOnly: true
          type: string
      type: object
    TopologySingleResourceParent:
      properties:
        resourceId:
          description: Azure resource id which serves as parent resource in topology view
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

