openapi: 3.0.0
info:
  description: >-
    Use these REST APIs for performing operations in Azure API Management
    deployment.
  title: ApiManagementClient
  version: 2019-12-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions':
    get:
      parameters:
        - $ref: >-
            ./apimanagement.json#/components/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/components/parameters/ApiVersionParameter
        - $ref: ./apimanagement.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/RegionListResult
          description: Lists of Regions in which the service is deployed.
        default:
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - Region
      description: Lists all azure regions in which the service exists.
      operationId: Region_ListByService
      x-ms-examples:
        ApiManagementListRegions:
          $ref: ./examples/ApiManagementListRegions.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

