openapi: 3.0.0
info:
  contact:
    name: Fun Translations
    url: 'http://funtranslations.com/'
  description: >
    Funtranslations Starwars API gives access to the full set of starwars
    language translations available at funtranslations.com so that you can
    integrate them in your workflow or an app. [Click here to get details and
    subscribe](http://funtranslations.com/api/starwars) .      

      You can also subscribe to individual translators. Here are the details.
      
      Ever wonder how to talk like Yoda? Well, use our API and let your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)  
      
      Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith) 
      
      Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh) 
      
      Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)
      
      Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)
      
      Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)
      
  termsOfService: 'https://funtranslations.com/terms'
  title: Starwars Translations API
  version: '2.3'
servers:
  - url: 'https://api.funtranslations.com/'
  - url: 'http://api.funtranslations.com/'
paths:
  /translate/cheunh:
    get:
      parameters:
        - description: Text to translate
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!",
                        "text": "I went to coruscant which was ten parsec away!",
                        "translation": "cheunh"
                      }
                    }
          description: 200  response
        '401':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }   
          description: 401  response
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
      description: Translate from English to Starwars cheunh.
  /translate/gungan:
    get:
      parameters:
        - description: Text to translate
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "Yousa came to mesa home and mesa said okeeday!",
                        "text": "You came to my home and I said okay!",
                        "translation": "gungan"
                      }
                    }
          description: 200  response
        '401':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    } 
          description: 401  response
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
      description: Translate from English to Starwars Gungan Language.
  /translate/huttese:
    get:
      parameters:
        - description: Text to translate
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "Did u stuka doe murishani?",
                        "text": "Did you see the bounty hunter?",
                        "translation": "huttese"
                      }
                    }
          description: 200  response
        '401':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
          description: 401  response
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
      description: Translate from English to Starwars Huttese Language.
  /translate/mandalorian:
    get:
      parameters:
        - description: Text to translate
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "Ni'd guuror a pint cuyir gal",
                        "text": "I'd like a pint of ale",
                        "translation": "mandalorian"
                      }
                    }
          description: 200  response
        '401':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
          description: 401  response
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
      description: Translate from English to Starwars Mandalorian Language.
  /translate/sith:
    get:
      parameters:
        - description: Text to translate
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "Nu went kia coruscant which meo ten parsekas salini!",
                        "text": "I went to coruscant which was ten parsec away!",
                        "translation": "sith"
                      }
                    }
          description: 200  response
        '401':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
          description: 401  response
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
      description: Translate from English to Sith Speak.
  /translate/yoda:
    get:
      parameters:
        - description: Text to translate
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "Lost a planet,  master obiwan has. ",
                        "text": "Master Obiwan has lost a planet.",
                        "translation": "yoda"
                      }
                    }
          description: 200  response
        '401':
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    } 
          description: 401  response
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
      description: Translate from English to Yoda Speak.
components:
  securitySchemes:
    X-Funtranslations-Api-Secret:
      in: header
      name: X-Funtranslations-Api-Secret
      type: apiKey
tags:
  - externalDocs:
      description: Find out more
      url: 'http://funtranslations.com/api/starwars'
    description: Starwars Translation API
    name: Starwars

