openapi: 3.0.0
info:
  description: >
     Generate random lottery number for many many lottery games all over the world. [Click here to subscribe](http://fungenerators.com/products/documentation/lottery) 
  title: "Random Lottery Number generator API"
  version: "1.5"
tags:
- name: "Lottery"
  description: "Random Lottery number generation API"
  externalDocs:
    description: "Find out more" 
    url: "http://fungenerators.com/products/documentation/lottery"
paths: 
  /lottery/countries: 
    get: 
      tags:     
      - "Lottery"
      description: "Get the complete list of countries supported in the number generation API."
      produces:
      - "application/json" 
      - "application/xml"
      - "application/js"
      security:
        - bearerAuth: []          
      responses: 
        ? "200"
        : 
          description: "200  response"
          examples: 
            application/json:  |-
              { 
                "success":
                  {"total":76},
                "contents": {
                   "countries":
                      [
                        "Anguilla",
                        "Antigua and Barbuda",
                        "Australia",
                        "Austria",
                        "..."
                      ]
                }
              }
        ? "401"
        : 
          description: "401  response"
          examples: 
            application/json: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
  /lottery/supported:                     
    get: 
      tags:
      - "Lottery"        
      description: "Get the list of supported lottery games supported in the given country."
      produces:
      - "application/json" 
      - "application/xml"
      - "application/js"
      security:
        - bearerAuth: []          
      parameters:
        - 
          description: "Country Name"
          format: string
          in: query
          name: country
          required: true
          type: string        
      responses: 
        ? "200"
        : 
          description: "200  response"
          examples: 
            application/json:  |-
              {
                  "success": {
                      "total":4
                    
                  },
                  "contents": {
                      "country" : "India",
                      "games" :
                      [
                        "india-playwin-easy-lotto",
                        "india-playwin-fast-digit-lottery",
                        "india-playwin-super-lotto",
                        "india-playwin-thunderball"
                      ]
                  }
              }            
        ? "401"
        : 
          description: "401  response"
          examples: 
            application/json: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
  /lottery/draw: 
    get: 
      tags:
      - "Lottery"        
      description: "Generate random draw for a given lottery game."
      produces:
      - "application/json" 
      - "application/xml"
      - "application/js"
      security:
        - bearerAuth: []          
      parameters:
        - 
          description: "Lottery Game Name"
          format: string
          in: query
          name: game
          required: true
          type: string        
        - 
          description: "Number of draws (max 5 per request)"
          format: integer
          in: query
          name: count
          required: false
          type: integer      
      responses: 
        ? "200"
        : 
          description: "200  response"
          examples: 
            application/json:  |-
              {
                  "success": {
                      "total": 1
                  },
                  "contents": 
                      {
                        "numbers":
                          [
                            {"draw":[[21,10,6,44,17,5]]}
                          ]
                      }
              }
        ? "401"
        : 
          description: "401  response"
          examples: 
            application/json: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
servers:
  - url: https://api.fungenerators.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
