openapi: 3.0.0
info:
  description: >-
    Client to manage your Power BI Embedded workspace collections and retrieve
    workspaces.
  title: Power BI Embedded Management Client
  version: '2016-01-29'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.PowerBI/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: Request completed successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - Operations
      description: >-
        Indicates which operations can be performed by the Power BI Resource
        Provider.
      operationId: getAvailableOperations
  '/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure location
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResponse'
          description: Request completed successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Verify the specified Power BI Workspace Collection name is valid and not
        already in use.
      operationId: WorkspaceCollections_checkNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameRequest'
        description: Check name availability request
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/workspaceCollections':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollectionList'
          description: Get workspaces response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Retrieves all existing Power BI workspace collections in the specified
        subscription.
      operationId: WorkspaceCollections_listBySubscription
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Migration completed successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Migrates an existing Power BI Workspace Collection to a different
        resource group and/or subscription.
      operationId: WorkspaceCollections_migrate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateWorkspaceCollectionRequest'
        description: Workspace migration request
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollectionList'
          description: Get workspaces response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Retrieves all existing Power BI workspace collections in the specified
        resource group.
      operationId: WorkspaceCollections_listByResourceGroup
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Workspace collection deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: Delete a Power BI Workspace Collection.
      operationId: WorkspaceCollections_delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollection'
          description: Workspace collection created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: Retrieves an existing Power BI Workspace Collection.
      operationId: WorkspaceCollections_getByName
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollection'
          description: Workspace collection updated successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Update an existing Power BI Workspace Collection with the specified
        properties.
      operationId: WorkspaceCollections_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceCollectionRequest'
        description: Update workspace collection request
        required: true
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollection'
          description: Workspace collection created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Creates a new Power BI Workspace Collection with the specified
        properties. A Power BI Workspace Collection contains one or more
        workspaces, and can be used to provision keys that provide API access to
        those workspaces.
      operationId: WorkspaceCollections_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceCollectionRequest'
        description: Create workspace collection request
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollectionAccessKeys'
          description: Get access keys completed successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Retrieves the primary and secondary access keys for the specified Power
        BI Workspace Collection.
      operationId: WorkspaceCollections_getAccessKeys
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/regenerateKey':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCollectionAccessKeys'
          description: Get access keys completed successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - WorkspaceCollections
      description: >-
        Regenerates the primary or secondary access key for the specified Power
        BI Workspace Collection.
      operationId: WorkspaceCollections_regenerateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCollectionAccessKey'
        description: Access key to regenerate
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/workspaces':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Power BI Embedded Workspace Collection name
          in: path
          name: workspaceCollectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
          description: Get workspaces completed successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
      tags:
        - Workspaces
      description: >-
        Retrieves all existing Power BI workspaces in the specified workspace
        collection.
      operationId: Workspaces_List
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AzureSku:
      properties:
        name:
          description: SKU name
          enum:
            - S1
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureSkuName
        tier:
          description: SKU tier
          enum:
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureSkuTier
      required:
        - name
        - tier
      type: object
    CheckNameRequest:
      properties:
        name:
          description: Workspace collection name
          type: string
        type:
          default: Microsoft.PowerBI/workspaceCollections
          description: Resource type
          type: string
      type: object
    CheckNameResponse:
      properties:
        message:
          description: >-
            Message indicating an unavailable name due to a conflict, or a
            description of the naming rules that are violated.
          type: string
        nameAvailable:
          description: >-
            Specifies a Boolean value that indicates whether the specified Power
            BI Workspace Collection name is available to use.
          type: boolean
        reason:
          description: Reason why the workspace collection name cannot be used.
          enum:
            - Unavailable
            - Invalid
          type: string
          x-ms-enum:
            modelAsString: true
            name: CheckNameReason
      type: object
    CreateWorkspaceCollectionRequest:
      properties:
        tags:
          additionalProperties:
            type: string
          type: object
        location:
          description: Azure location
          type: string
        sku:
          $ref: '#/components/schemas/AzureSku'
      type: object
    Display:
      properties:
        description:
          description: >-
            The localized friendly description for the operation as shown to the
            user. This description should be thorough, yet concise. It will be
            used in tool-tips and detailed views.
          type: string
        operation:
          description: >-
            The localized friendly name for the operation as shown to the user.
            This name should be concise (to fit in drop downs), but clear
            (self-documenting). Use Title Casing and include the entity/resource
            to which it applies.
          type: string
        origin:
          description: >-
            The intended executor of the operation; governs the display of the
            operation in the RBAC UX and the audit logs UX. Default value is
            'user,system'
          type: string
        provider:
          description: >-
            The localized friendly form of the resource provider name. This form
            is also expected to include the publisher/company responsible. Use
            Title Casing. Begin with "Microsoft" for 1st party services.
          type: string
        resource:
          description: >-
            The localized friendly form of the resource type related to this
            action/operation. This form should match the public documentation
            for the resource provider. Use Title Casing. For examples, refer to
            the "name" section.
          type: string
      type: object
    Error:
      properties:
        code:
          type: string
        details:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
          x-ms-identifiers:
            - code
        message:
          type: string
        target:
          type: string
      type: object
    ErrorDetail:
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      type: object
    MigrateWorkspaceCollectionRequest:
      properties:
        resources:
          items:
            type: string
          type: array
        targetResourceGroup:
          description: >-
            Name of the resource group the Power BI workspace collections will
            be migrated to.
          type: string
      type: object
    Operation:
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: >-
            The name of the operation being performed on this particular object.
            This name should match the action name that appears in RBAC / the
            event service.
          type: string
      type: object
    OperationList:
      properties:
        value:
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    UpdateWorkspaceCollectionRequest:
      properties:
        tags:
          additionalProperties:
            type: string
          type: object
        sku:
          $ref: '#/components/schemas/AzureSku'
      type: object
    Workspace:
      properties:
        id:
          description: Workspace id
          type: string
        name:
          description: Workspace name
          type: string
        properties:
          description: Property bag
          type: object
        type:
          description: Resource type
          type: string
      type: object
    WorkspaceCollection:
      properties:
        tags:
          additionalProperties:
            type: string
          type: object
        id:
          description: Resource id
          type: string
        location:
          description: Azure location
          type: string
        name:
          description: Workspace collection name
          type: string
        properties:
          description: Properties
          type: object
        sku:
          $ref: '#/components/schemas/AzureSku'
        type:
          description: Resource type
          type: string
      type: object
    WorkspaceCollectionAccessKey:
      properties:
        keyName:
          description: Key name
          enum:
            - key1
            - key2
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessKeyName
      type: object
    WorkspaceCollectionAccessKeys:
      properties:
        key1:
          description: Access key 1
          type: string
        key2:
          description: Access key 2
          type: string
      type: object
    WorkspaceCollectionList:
      properties:
        value:
          items:
            $ref: '#/components/schemas/WorkspaceCollection'
          type: array
      type: object
    WorkspaceList:
      properties:
        value:
          items:
            $ref: '#/components/schemas/Workspace'
          type: array
      type: object

