openapi: 3.0.0
info:
  description: >-
    The Azure management API provides a RESTful set of web services that
    interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: 2018-02-14-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.KeyVault/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
        - Operations
      description: Lists all of the available Key Vault Rest API operations.
      operationId: Operations_List
      x-ms-examples:
        Lists available Rest API operations.:
          $ref: ./examples/listOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    LogSpecification:
      description: Log specification of operation.
      properties:
        blobDuration:
          description: Blob duration of specification.
          type: string
        displayName:
          description: Display name of log specification.
          type: string
        name:
          description: Name of log specification.
          type: string
      type: object
    Operation:
      description: Key Vault REST API operation definition.
      properties:
        display:
          description: Display metadata associated with the operation.
          properties:
            description:
              description: Description of operation.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft Key Vault.'
              type: string
            resource:
              description: Resource on which the operation is performed etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        origin:
          description: The origin of operations.
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          description: 'Properties of operation, include metric specifications.'
          x-ms-client-flatten: true
          x-ms-client-name: OperationProperties
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Storage operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: The URL to get the next set of operations.
          type: string
        value:
          description: >-
            List of Storage operations supported by the Storage resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationProperties:
      description: 'Properties of operation, include metric specifications.'
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
          description: 'One property of operation, include metric specifications.'
      type: object
    ServiceSpecification:
      description: 'One property of operation, include log specifications.'
      properties:
        logSpecifications:
          description: Log specifications of operation.
          items:
            $ref: '#/components/schemas/LogSpecification'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

