{
  "openapi": "3.0.0",
  "info": {
    "title": "Compute Admin Client",
    "version": "2015-12-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/VMExtensions.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/VMExtension": {
      "get": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VMExtensionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "VMExtensions"
        ],
        "description": "List of all Virtual Machine Extension Images for the current location are returned.",
        "operationId": "VMExtensions_List",
        "summary": "Returns a list of all Virtual Machine Extension Images.",
        "x-ms-examples": {
          "Returns a list of all Virtual Machine Extension Image.": {
            "$ref": "examples/VMExtensions/List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/VMExtension/publishers/{publisher}/types/{type}/versions/{version}": {
      "delete": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/PublisherParameter"
          },
          {
            "$ref": "#/components/parameters/TypeParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/VersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "VMExtensions"
        ],
        "description": "Deletes specified Virtual Machine Extension Image.",
        "operationId": "VMExtensions_Delete",
        "summary": "Deletes a Virtual Machine Extension Image.",
        "x-ms-examples": {
          "Delete a Virtual Machine Extension Image.": {
            "$ref": "examples/VMExtensions/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/PublisherParameter"
          },
          {
            "$ref": "#/components/parameters/TypeParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/VersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VMExtension"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "VMExtensions"
        ],
        "description": "Returns requested Virtual Machine Extension Image matching publisher, type, version.",
        "operationId": "VMExtensions_Get",
        "summary": "Returns requested Virtual Machine Extension Image.",
        "x-ms-examples": {
          "Returns requested Virtual Machine Extension Image.": {
            "$ref": "examples/VMExtensions/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "Compute.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/PublisherParameter"
          },
          {
            "$ref": "#/components/parameters/TypeParameter"
          },
          {
            "$ref": "Compute.json#/components/parameters/VersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VMExtension"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VMExtension"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Compute.json#/definitions/CrpErrorResponse"
                }
              }
            },
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
          }
        },
        "tags": [
          "VMExtensions"
        ],
        "description": "Create a Virtual Machine Extension Image with publisher, version.",
        "operationId": "VMExtensions_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VMExtensionParameters"
              }
            }
          },
          "description": "Virtual Machine Extension Image creation properties.",
          "required": true
        },
        "summary": "Create a Virtual Machine Extension Image.",
        "x-ms-examples": {
          "Create a Virtual Machine Extension Image.": {
            "$ref": "examples/VMExtensions/Create.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "TypeParameter": {
        "description": "Type of extension.",
        "in": "path",
        "name": "type",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "AzureBlob": {
        "description": "Azure or AzureStack blob information.",
        "properties": {
          "uri": {
            "description": "URI to Azure or AzureStack blob.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "VMExtension": {
        "allOf": [
          {
            "$ref": "Compute.json#/definitions/CrpResource"
          }
        ],
        "description": "Virtual Machine Extension Image.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/VMExtensionProperties",
            "description": "Inner properties of a Virtual Machine Extension Image.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VMExtensionList": {
        "description": "List of virtual machine extensions.",
        "items": {
          "$ref": "#/components/schemas/VMExtension"
        },
        "type": "array"
      },
      "VMExtensionParameters": {
        "description": "Parameters used to create a new Virtual Machine Extension Image.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/VMExtensionProperties",
            "description": "Properties of a Virtual Machine Extension Image.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VMExtensionProperties": {
        "description": "Properties of a Virtual Machine Extension Image.",
        "properties": {
          "computeRole": {
            "description": "Compute role",
            "type": "string"
          },
          "isSystemExtension": {
            "description": "Indicates if the extension is for the system.",
            "type": "boolean"
          },
          "provisioningState": {
            "$ref": "Compute.json#/definitions/ProvisioningState",
            "description": "Provisioning state of extension."
          },
          "publisher": {
            "description": "The publisher of the VM Extension",
            "type": "string"
          },
          "sourceBlob": {
            "$ref": "#/components/schemas/AzureBlob",
            "description": "URI to Azure or AzureStack blob."
          },
          "supportMultipleExtensions": {
            "description": "True if supports multiple extensions.",
            "type": "boolean"
          },
          "vmOsType": {
            "$ref": "PlatformImages.json#/definitions/OsType",
            "description": "Target virtual machine operating system type necessary for deploying the extension handler."
          },
          "vmScaleSetEnabled": {
            "description": "Value indicating whether the extension is enabled for virtual machine scale set support.",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}