openapi: 3.0.0
info:
  description: Azure Application Insights workbook template type.
  title: ApplicationInsightsManagementClient
  version: 2019-10-17-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/workbooktemplates':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplatesListResult'
          description: A list containing 0 or more workbook template definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      description: Get all Workbook templates defined within a specified resource group.
      operationId: WorkbookTemplates_ListByResourceGroup
      x-ms-examples:
        WorkbookTemplatesList:
          $ref: ./examples/WorkbookTemplatesList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/workbooktemplates/{resourceName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/WorkbookTemplateResourceNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: The workbook template has been successfully deleted.
        '204':
          description: The resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      description: Delete a workbook template.
      operationId: WorkbookTemplates_Delete
      x-ms-examples:
        WorkbookTemplateDelete:
          $ref: ./examples/WorkbookTemplateDelete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/WorkbookTemplateResourceNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: A workbook template definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      description: Get a single workbook template by its resourceName.
      operationId: WorkbookTemplates_Get
      x-ms-examples:
        WorkbookTemplateGet:
          $ref: ./examples/WorkbookTemplateGet.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/WorkbookTemplateResourceNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: The workbook template definition updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      description: Updates a workbook template that has already been added.
      operationId: WorkbookTemplates_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkbookTemplateUpdateParameters'
        description: Properties that need to be specified to patch a workbook template.
      x-ms-examples:
        WorkbookTemplateUpdate:
          $ref: ./examples/WorkbookTemplateUpdate.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/WorkbookTemplateResourceNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: The newly created workbook template.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookTemplate'
          description: The newly created workbook template.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      description: Create a new workbook template.
      operationId: WorkbookTemplates_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkbookTemplate'
        description: Properties that need to be specified to create a new workbook.
        required: true
      x-ms-examples:
        WorkbookTemplateAdd:
          $ref: ./examples/WorkbookTemplateAdd.json
components:
  parameters:
    WorkbookTemplateResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorFieldContract:
      description: Error Field contract.
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    WorkbookError:
      description: Error message body that will indicate why the operation failed.
      properties:
        code:
          description: >-
            Service-defined error code. This code serves as a sub-status for the
            HTTP error code specified in the response.
          type: string
        details:
          description: >-
            The list of invalid fields send in request, in case of validation
            error.
          items:
            $ref: '#/components/schemas/ErrorFieldContract'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    WorkbookTemplate:
      allOf:
        - $ref: '#/components/schemas/WorkbookTemplateResource'
      description: An Application Insights workbook template definition.
      properties:
        properties:
          $ref: '#/components/schemas/WorkbookTemplateProperties'
          description: Metadata describing a workbook template for an Azure resource.
          x-ms-client-flatten: true
      type: object
    WorkbookTemplateGallery:
      description: Gallery information for a workbook template.
      properties:
        category:
          description: Category for the gallery.
          type: string
        name:
          description: Name of the workbook template in the gallery.
          type: string
        order:
          description: Order of the template within the gallery.
          type: integer
        resourceType:
          description: Azure resource type supported by the gallery.
          type: string
        type:
          description: Type of workbook supported by the workbook template.
          type: string
      type: object
    WorkbookTemplateLocalizedGallery:
      description: Localized template data and gallery information.
      properties:
        galleries:
          description: Workbook galleries supported by the template.
          items:
            $ref: '#/components/schemas/WorkbookTemplateGallery'
          type: array
        templateData:
          description: Valid JSON object containing workbook template payload.
          type: object
      type: object
    WorkbookTemplateProperties:
      description: Properties that contain a workbook template.
      properties:
        author:
          description: Information about the author of the workbook template.
          type: string
        galleries:
          description: Workbook galleries supported by the template.
          items:
            $ref: '#/components/schemas/WorkbookTemplateGallery'
          type: array
        localized:
          additionalProperties:
            items:
              $ref: '#/components/schemas/WorkbookTemplateLocalizedGallery'
            type: array
          description: >-
            Key value pair of localized gallery. Each key is the locale code of
            languages supported by the Azure portal.
          type: object
        priority:
          description: >-
            Priority of the template. Determines which template to open when a
            workbook gallery is opened in viewer mode.
          type: integer
        templateData:
          description: Valid JSON object containing workbook template payload.
          type: object
      required:
        - templateData
        - galleries
      type: object
    WorkbookTemplateResource:
      description: An azure resource object
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name.
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    WorkbookTemplateUpdateParameters:
      description: The parameters that can be provided when updating workbook template.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        properties:
          $ref: '#/components/schemas/WorkbookTemplateProperties'
          description: Metadata describing a workbook for an Azure resource.
          x-ms-client-flatten: true
      type: object
    WorkbookTemplatesListResult:
      description: WorkbookTemplate list result.
      properties:
        value:
          description: An array of workbook templates.
          items:
            $ref: '#/components/schemas/WorkbookTemplate'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

