{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Mohamed Enein"
    },
    "description": "APIs for managing software update configurations.",
    "title": "Update Management API",
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfigurationRun.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          },
          {
            "description": "The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of entries you skip before returning results",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of entries returned in the results collection",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfigurationRunListResult"
                }
              }
            },
            "description": "Return list of software update configurations runs."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration Run"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "description": "Return list of software update configuration runs",
        "operationId": "SoftwareUpdateConfigurationRuns_List",
        "x-ms-examples": {
          "List software update configuration machine run with status equal to 'Failed'": {
            "$ref": "./examples/softwareUpdateConfigurationRun/listFailedSoftwareUpdateConfigurationRuns.json"
          },
          "List software update configuration machine runs": {
            "$ref": "./examples/softwareUpdateConfigurationRun/listSoftwareUpdateConfigurationRuns.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns/{softwareUpdateConfigurationRunId}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter"
          },
          {
            "description": "The Id of the software update configuration run.",
            "in": "path",
            "name": "softwareUpdateConfigurationRunId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/components/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/softwareUpdateConfigurationRun"
                }
              }
            },
            "description": "A single software update configuration Run."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Software Update Configuration Run"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationrunoperations"
        },
        "description": "Get a single software update configuration Run by Id.",
        "operationId": "SoftwareUpdateConfigurationRuns_GetById",
        "x-ms-examples": {
          "Get software update configuration runs by Id": {
            "$ref": "./examples/softwareUpdateConfigurationRun/getSoftwareUpdateConfigurationRunById.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "softareUpdateConfigurationRunTaskProperties": {
        "description": "Task properties of the software update configuration.",
        "properties": {
          "jobId": {
            "description": "The job id of the task.",
            "type": "string"
          },
          "source": {
            "description": "The name of the source of the task.",
            "type": "string"
          },
          "status": {
            "description": "The status of the task.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "softareUpdateConfigurationRunTasks": {
        "description": "Software update configuration run tasks model.",
        "properties": {
          "postTask": {
            "$ref": "#/components/schemas/softareUpdateConfigurationRunTaskProperties",
            "description": "Post task properties."
          },
          "preTask": {
            "$ref": "#/components/schemas/softareUpdateConfigurationRunTaskProperties",
            "description": "Pre task properties."
          }
        },
        "type": "object"
      },
      "softwareUpdateConfigurationRun": {
        "description": "Software update configuration Run properties.",
        "properties": {
          "id": {
            "description": "Resource Id of the software update configuration run",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the software update configuration run.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/softwareUpdateConfigurationRunProperties",
            "description": "Software update configuration Run properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-azure-resource": false
      },
      "softwareUpdateConfigurationRunListResult": {
        "description": "result of listing all software update configuration runs",
        "properties": {
          "nextLink": {
            "description": "link to next page of results.",
            "type": "string"
          },
          "value": {
            "description": "outer object returned when listing all software update configuration runs",
            "items": {
              "$ref": "#/components/schemas/softwareUpdateConfigurationRun"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "softwareUpdateConfigurationRunProperties": {
        "description": "Software update configuration properties.",
        "properties": {
          "computerCount": {
            "description": "Number of computers in the software update configuration run.",
            "readOnly": true,
            "type": "integer"
          },
          "configuredDuration": {
            "description": "Configured duration for the software update configuration run.",
            "readOnly": true,
            "type": "string"
          },
          "createdBy": {
            "description": "CreatedBy property, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "creationTime": {
            "description": "Creation time of the resource, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "endTime": {
            "description": "End time of the software update configuration run.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "failedCount": {
            "description": "Number of computers with failed status.",
            "readOnly": true,
            "type": "integer"
          },
          "lastModifiedBy": {
            "description": "LastModifiedBy property, which only appears in the response.",
            "readOnly": true,
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Last time resource was modified, which only appears in the response.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "osType": {
            "description": "Operating system target of the software update configuration triggered this run",
            "readOnly": true,
            "type": "string"
          },
          "softwareUpdateConfiguration": {
            "$ref": "#/components/schemas/updateConfigurationNavigation",
            "description": "software update configuration triggered this run"
          },
          "startTime": {
            "description": "Start time of the software update configuration run.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Status of the software update configuration run.",
            "readOnly": true,
            "type": "string"
          },
          "tasks": {
            "$ref": "#/components/schemas/softareUpdateConfigurationRunTasks",
            "description": "Software update configuration tasks triggered in this run"
          }
        },
        "type": "object"
      },
      "updateConfigurationNavigation": {
        "description": "Software update configuration Run Navigation model.",
        "properties": {
          "name": {
            "description": "Name of the software update configuration triggered the software update configuration run",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}