{
  "openapi": "3.0.0",
  "info": {
    "title": "HybridDataManagementClient",
    "version": "2016-06-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/hybriddata.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.HybridData/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableProviderOperations"
                }
              }
            },
            "description": "This method gets all the operations."
          }
        },
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "summary": "This method gets all the operations.",
        "x-ms-examples": {
          "Operations_ListGET11": {
            "$ref": "./examples/Operations_List-GET-example-11.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridData/dataManagers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataManagerList"
                }
              }
            },
            "description": "List of data manager resources available under the subscription."
          }
        },
        "tags": [
          "DataManagers"
        ],
        "description": "Lists all the data manager resources available under the subscription.",
        "operationId": "DataManagers_List",
        "x-ms-examples": {
          "DataManagers_ListGET21": {
            "$ref": "./examples/DataManagers_List-GET-example-21.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataManagerList"
                }
              }
            },
            "description": "List of data manager resources by resource group."
          }
        },
        "tags": [
          "DataManagers"
        ],
        "description": "Lists all the data manager resources available under the given resource group.",
        "operationId": "DataManagers_ListByResourceGroup",
        "x-ms-examples": {
          "DataManagers_ListByResourceGroupGET31": {
            "$ref": "./examples/DataManagers_ListByResourceGroup-GET-example-31.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Data Manager Resource deleted."
          },
          "204": {
            "description": "Data Manager Resource deleted."
          }
        },
        "tags": [
          "DataManagers"
        ],
        "description": "Deletes a data manager resource in Microsoft Azure.",
        "operationId": "DataManagers_Delete",
        "x-ms-examples": {
          "DataManagers_DeleteDELETE41": {
            "$ref": "./examples/DataManagers_Delete-DELETE-example-41.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataManager"
                }
              }
            },
            "description": "Data Manager Resource object."
          }
        },
        "tags": [
          "DataManagers"
        ],
        "description": "Gets information about the specified data manager resource.",
        "operationId": "DataManagers_Get",
        "x-ms-examples": {
          "DataManagers_GetGET41": {
            "$ref": "./examples/DataManagers_Get-GET-example-41.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the data manager resource on the server matches this value.",
            "in": "header",
            "name": "If-Match",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataManager"
                }
              }
            },
            "description": "Data Manager Resource object."
          },
          "202": {
            "description": "Data Manager Resource updated."
          }
        },
        "tags": [
          "DataManagers"
        ],
        "description": "Updates the properties of an existing data manager resource.",
        "operationId": "DataManagers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataManagerUpdateParameter"
              }
            }
          },
          "description": "Data manager resource details from request body.",
          "required": true
        },
        "x-ms-examples": {
          "DataManagers_UpdatePATCH43": {
            "$ref": "./examples/DataManagers_Update-PATCH-example-43.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataManager"
                }
              }
            },
            "description": "Data Manager Resource object."
          },
          "202": {
            "description": "Accepted request for create/update."
          }
        },
        "tags": [
          "DataManagers"
        ],
        "description": "Creates a new data manager resource with the specified parameters. Existing resources cannot be updated with this API\r\nand should instead be updated with the Update data manager resource API.",
        "operationId": "DataManagers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataManager"
              }
            }
          },
          "description": "Data manager resource details from request body.",
          "required": true
        },
        "x-ms-examples": {
          "DataManagers_CreatePUT41": {
            "$ref": "./examples/DataManagers_Create-PUT-example-41.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataServiceList"
                }
              }
            },
            "description": "The list of data services."
          }
        },
        "tags": [
          "DataServices"
        ],
        "description": "This method gets all the data services.",
        "operationId": "DataServices_ListByDataManager",
        "x-ms-examples": {
          "DataServices_ListByDataManagerGET51": {
            "$ref": "./examples/DataServices_ListByDataManager-GET-example-51.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the data service that is being queried.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataService"
                }
              }
            },
            "description": "The data service that matches the name."
          }
        },
        "tags": [
          "DataServices"
        ],
        "description": "Gets the data service that match the data service name given.",
        "operationId": "DataServices_Get",
        "x-ms-examples": {
          "DataServices_GetGET62": {
            "$ref": "./examples/DataServices_Get-GET-example-62.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions": {
      "get": {
        "parameters": [
          {
            "description": "The data service type of interest.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDefinitionList"
                }
              }
            },
            "description": "The list of job definitions of the given data service type."
          }
        },
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method gets all the job definitions of the given data service name.",
        "operationId": "JobDefinitions_ListByDataService",
        "x-ms-examples": {
          "JobDefinitions_ListByDataServiceGET71": {
            "$ref": "./examples/JobDefinitions_ListByDataService-GET-example-71.json"
          }
        },
        "x-ms-odata": "#/components/schemas/JobDefinitionFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}": {
      "delete": {
        "parameters": [
          {
            "description": "The data service type of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job definition name to be deleted.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for JobDefinition deletion."
          },
          "204": {
            "description": "JobDefinition deleted."
          }
        },
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method deletes the given job definition.",
        "operationId": "JobDefinitions_Delete",
        "x-ms-examples": {
          "JobDefinitions_DeleteDELETE81": {
            "$ref": "./examples/JobDefinitions_Delete-DELETE-example-81.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The data service name of the job definition",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job definition name that is being queried.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDefinition"
                }
              }
            },
            "description": "The job definition that matches the criteria."
          }
        },
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method gets job definition object by name.",
        "operationId": "JobDefinitions_Get",
        "x-ms-examples": {
          "JobDefinitions_GetGET81": {
            "$ref": "./examples/JobDefinitions_Get-GET-example-81.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The data service type of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job definition name to be created or updated.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDefinition"
                }
              }
            },
            "description": "JobDefinition object."
          },
          "202": {
            "description": "Accepted request for create/update."
          }
        },
        "tags": [
          "JobDefinitions"
        ],
        "description": "Creates or updates a job definition.",
        "operationId": "JobDefinitions_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobDefinition"
              }
            }
          },
          "description": "Job Definition object to be created or updated.",
          "required": true
        },
        "x-ms-examples": {
          "JobDefinitions_CreateOrUpdatePUT83": {
            "$ref": "./examples/JobDefinitions_CreateOrUpdate-PUT-example-83.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs": {
      "get": {
        "parameters": [
          {
            "description": "The name of the data service of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the job definition for which jobs are needed.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            },
            "description": "The list of jobs."
          }
        },
        "tags": [
          "Jobs"
        ],
        "description": "This method gets all the jobs of a given job definition.",
        "operationId": "Jobs_ListByJobDefinition",
        "x-ms-examples": {
          "Jobs_ListByJobDefinitionGET91": {
            "$ref": "./examples/Jobs_ListByJobDefinition-GET-example-91.json"
          }
        },
        "x-ms-odata": "#/components/schemas/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}": {
      "get": {
        "parameters": [
          {
            "description": "The name of the data service of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the job definition of the job.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job id of the job queried.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "$expand is supported on details parameter for job, which provides details on the job stages.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "description": "The job that matches the given criteria."
          }
        },
        "tags": [
          "Jobs"
        ],
        "description": "This method gets a data manager job given the jobId.",
        "operationId": "Jobs_Get",
        "x-ms-examples": {
          "Jobs_GetGET101": {
            "$ref": "./examples/Jobs_Get-GET-example-101.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}/cancel": {
      "post": {
        "parameters": [
          {
            "description": "The name of the data service of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the job definition of the job.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job id of the job queried.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted job cancellation request."
          },
          "204": {
            "description": "Job cancelled."
          }
        },
        "tags": [
          "Jobs"
        ],
        "description": "Cancels the given job.",
        "operationId": "Jobs_Cancel",
        "x-ms-examples": {
          "Jobs_CancelPOST111": {
            "$ref": "./examples/Jobs_Cancel-POST-example-111.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}/resume": {
      "post": {
        "parameters": [
          {
            "description": "The name of the data service of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the job definition of the job.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job id of the job queried.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted job resume request."
          },
          "204": {
            "description": "Job resumed."
          }
        },
        "tags": [
          "Jobs"
        ],
        "description": "Resumes the given job.",
        "operationId": "Jobs_Resume",
        "x-ms-examples": {
          "Jobs_ResumePOST121": {
            "$ref": "./examples/Jobs_Resume-POST-example-121.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/run": {
      "post": {
        "parameters": [
          {
            "description": "The data service type of the job definition.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the job definition.",
            "in": "path",
            "name": "jobDefinitionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Job run accepted."
          },
          "204": {
            "description": "Job run started."
          }
        },
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method runs a job instance of the given job definition.",
        "operationId": "JobDefinitions_Run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunParameters"
              }
            }
          },
          "description": "Run time parameters for the job definition.",
          "required": true
        },
        "x-ms-examples": {
          "JobDefinitions_RunPOST132": {
            "$ref": "./examples/JobDefinitions_Run-POST-example-132.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobs": {
      "get": {
        "parameters": [
          {
            "description": "The name of the data service of interest.",
            "in": "path",
            "name": "dataServiceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            },
            "description": "The list of jobs that match the service and resource."
          }
        },
        "tags": [
          "Jobs"
        ],
        "description": "This method gets all the jobs of a data service type in a given resource.",
        "operationId": "Jobs_ListByDataService",
        "x-ms-examples": {
          "Jobs_ListByDataServiceGET141": {
            "$ref": "./examples/Jobs_ListByDataService-GET-example-141.json"
          }
        },
        "x-ms-odata": "#/components/schemas/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStoreTypes": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreTypeList"
                }
              }
            },
            "description": "The list of data store types that are supported."
          }
        },
        "tags": [
          "DataStoreTypes"
        ],
        "description": "Gets all the data store/repository types that the resource supports.",
        "operationId": "DataStoreTypes_ListByDataManager",
        "x-ms-examples": {
          "DataStoreTypes_ListByDataManagerGET171": {
            "$ref": "./examples/DataStoreTypes_ListByDataManager-GET-example-171.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStoreTypes/{dataStoreTypeName}": {
      "get": {
        "parameters": [
          {
            "description": "The data store/repository type name for which details are needed.",
            "in": "path",
            "name": "dataStoreTypeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreType"
                }
              }
            },
            "description": "The data store/repository type."
          }
        },
        "tags": [
          "DataStoreTypes"
        ],
        "description": "Gets the data store/repository type given its name.",
        "operationId": "DataStoreTypes_Get",
        "x-ms-examples": {
          "DataStoreTypes_GetGET182": {
            "$ref": "./examples/DataStoreTypes_Get-GET-example-182.json"
          },
          "DataStoreTypes_GetGET183": {
            "$ref": "./examples/DataStoreTypes_Get-GET-example-183.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStores": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreList"
                }
              }
            },
            "description": "The list of data stores/repositories in the given resource."
          }
        },
        "tags": [
          "DataStores"
        ],
        "description": "Gets all the data stores/repositories in the given resource.",
        "operationId": "DataStores_ListByDataManager",
        "x-ms-examples": {
          "DataStores_ListByDataManagerGET151": {
            "$ref": "./examples/DataStores_ListByDataManager-GET-example-151.json"
          }
        },
        "x-ms-odata": "#/components/schemas/DataStoreFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStores/{dataStoreName}": {
      "delete": {
        "parameters": [
          {
            "description": "The data store/repository name to be deleted.",
            "in": "path",
            "name": "dataStoreName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for DataStore deletion."
          },
          "204": {
            "description": "DataStore deleted."
          }
        },
        "tags": [
          "DataStores"
        ],
        "description": "This method deletes the given data store/repository.",
        "operationId": "DataStores_Delete",
        "x-ms-examples": {
          "DataStores_Delete_DataSinkDELETE161": {
            "$ref": "./examples/DataStores_Delete_DataSink-DELETE-example-161.json"
          },
          "DataStores_Delete_DataSourceDELETE161": {
            "$ref": "./examples/DataStores_Delete_DataSource-DELETE-example-161.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The data store/repository name queried.",
            "in": "path",
            "name": "dataStoreName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStore"
                }
              }
            },
            "description": "The data store/repository which matches the name given."
          }
        },
        "tags": [
          "DataStores"
        ],
        "description": "This method gets the data store/repository by name.",
        "operationId": "DataStores_Get",
        "x-ms-examples": {
          "DataStores_GetGET161": {
            "$ref": "./examples/DataStores_Get-GET-example-161.json"
          },
          "DataStores_GetGET162": {
            "$ref": "./examples/DataStores_Get-GET-example-162.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The data store/repository name to be created or updated.",
            "in": "path",
            "name": "dataStoreName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStore"
                }
              }
            },
            "description": "The data store/repository object."
          },
          "202": {
            "description": "Accepted request for create/update."
          }
        },
        "tags": [
          "DataStores"
        ],
        "description": "Creates or updates the data store/repository in the data manager.",
        "operationId": "DataStores_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStore"
              }
            }
          },
          "description": "The data store/repository object to be created or updated.",
          "required": true
        },
        "x-ms-examples": {
          "DataStores_CreateOrUpdate_DataSinkPUT162": {
            "$ref": "./examples/DataStores_CreateOrUpdate_DataSink-PUT-example-162.json"
          },
          "DataStores_CreateOrUpdate_DataSourcePUT162": {
            "$ref": "./examples/DataStores_CreateOrUpdate_DataSource-PUT-example-162.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/jobDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDefinitionList"
                }
              }
            },
            "description": "The list of job definitions in that resource.OK"
          }
        },
        "tags": [
          "JobDefinitions"
        ],
        "description": "This method gets all the job definitions of the given data manager resource.",
        "operationId": "JobDefinitions_ListByDataManager",
        "x-ms-examples": {
          "JobDefinitions_ListByDataManagerGET191": {
            "$ref": "./examples/JobDefinitions_ListByDataManager-GET-example-191.json"
          }
        },
        "x-ms-odata": "#/components/schemas/JobDefinitionFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/jobs": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            },
            "description": "The list of jobs in the resource specified."
          }
        },
        "tags": [
          "Jobs"
        ],
        "description": "This method gets all the jobs at the data manager resource level.",
        "operationId": "Jobs_ListByDataManager",
        "x-ms-examples": {
          "Jobs_ListByDataManagerGET201": {
            "$ref": "./examples/Jobs_ListByDataManager-GET-example-201.json"
          }
        },
        "x-ms-odata": "#/components/schemas/JobFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/publicKeys": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyList"
                }
              }
            },
            "description": "The list of public keys."
          }
        },
        "tags": [
          "PublicKeys"
        ],
        "description": "This method gets the list view of public keys, however it will only have one element.",
        "operationId": "PublicKeys_ListByDataManager",
        "x-ms-examples": {
          "PublicKeys_ListByDataManagerGET211": {
            "$ref": "./examples/PublicKeys_ListByDataManager-GET-example-211.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/publicKeys/{publicKeyName}": {
      "get": {
        "parameters": [
          {
            "description": "Name of the public key.",
            "in": "path",
            "name": "publicKeyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/dataManagerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKey"
                }
              }
            },
            "description": "The public keys."
          }
        },
        "tags": [
          "PublicKeys"
        ],
        "description": "This method gets the public keys.",
        "operationId": "PublicKeys_Get",
        "x-ms-examples": {
          "PublicKeys_GetGET222": {
            "$ref": "./examples/PublicKeys_Get-GET-example-222.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "The API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "dataManagerNameParameter": {
        "description": "The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
        "in": "path",
        "name": "dataManagerName",
        "required": true,
        "schema": {
          "maxLength": 24,
          "minLength": 3,
          "pattern": "^[-\\w\\.]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceGroupNameParameter": {
        "description": "The Resource Group Name",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "The Subscription Id",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AvailableProviderOperation": {
        "description": "Class represents provider operation",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/AvailableProviderOperationDisplay",
            "description": "Gets or sets Display information\r\nContains the localized display information for this particular operation/action"
          },
          "name": {
            "description": "Gets or Sets Name of the operations",
            "type": "string"
          },
          "origin": {
            "description": "Gets or sets Origin\r\nThe intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX.\r\nDefault value is \u201cuser,system\u201d",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AvailableProviderOperationProperties",
            "description": "Gets or sets Properties\r\nReserved for future use",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "AvailableProviderOperationDisplay": {
        "description": "Contains the localized display information for this particular operation / action. \r\nThese value will be used by several clients for \r\n(1) custom role definitions for RBAC; \r\n(2) complex query filters for the event service; and (3) audit history / records for management operations.",
        "properties": {
          "description": {
            "description": "Gets or sets Description\r\nThe localized friendly description for the operation, as it should be shown to the user. \r\nIt should be thorough, yet concise \u2013 it will be used in tool tips and detailed views.",
            "type": "string"
          },
          "operation": {
            "description": "Gets or sets Operation\r\nThe localized friendly name for the operation, as it should be shown to the user. \r\nIt should be concise (to fit in drop downs) but clear (i.e. self-documenting). It should use Title Casing and include the entity/resource to which it applies.",
            "type": "string"
          },
          "provider": {
            "description": "Gets or sets Provider\r\nThe localized friendly form of the resource provider name \u2013 it is expected to also include the publisher/company responsible. \r\nIt should use Title Casing and begin with \u201cMicrosoft\u201d for 1st party services.",
            "type": "string"
          },
          "resource": {
            "description": "Gets or sets Resource\r\nThe localized friendly form of the resource type related to this action/operation \u2013 it should match the public documentation for the resource provider. \r\nIt should use Title Casing \u2013 for examples, please refer to the \u201cname\u201d section.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailableProviderOperationProperties": {
        "description": "Class represents Properties in AvailableProviderOperations",
        "properties": {},
        "type": "object"
      },
      "AvailableProviderOperations": {
        "description": "Class for set of operations used for discovery of available provider operations.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of operations.",
            "type": "string"
          },
          "value": {
            "description": "List of operations.",
            "items": {
              "$ref": "#/components/schemas/AvailableProviderOperation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CustomerSecret": {
        "description": "The pair of customer secret.",
        "properties": {
          "algorithm": {
            "description": "The encryption algorithm used to encrypt data.",
            "enum": [
              "None",
              "RSA1_5",
              "RSA_OAEP",
              "PlainText"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "SupportedAlgorithm"
            }
          },
          "keyIdentifier": {
            "description": "The identifier to the data service input object which this secret corresponds to.",
            "type": "string"
          },
          "keyValue": {
            "description": "It contains the encrypted customer secret.",
            "type": "string"
          }
        },
        "required": [
          "keyIdentifier",
          "keyValue",
          "algorithm"
        ],
        "type": "object"
      },
      "DataManager": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The DataManager resource.",
        "properties": {
          "etag": {
            "description": "Etag of the Resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataManagerList": {
        "description": "DataManager resources Collection.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of data stores.",
            "type": "string"
          },
          "value": {
            "description": "List of data manager resources.",
            "items": {
              "$ref": "#/components/schemas/DataManager"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataManagerUpdateParameter": {
        "description": "The DataManagerUpdateParameter.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource\r\n(across resource groups).",
            "type": "object"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The sku type."
          }
        },
        "type": "object"
      },
      "DataService": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DmsBaseObject"
          }
        ],
        "description": "Data Service.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DataServiceProperties",
            "description": "DataService properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "DataServiceList": {
        "description": "Data Service Collection.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of data services.",
            "type": "string"
          },
          "value": {
            "description": "List of data services.",
            "items": {
              "$ref": "#/components/schemas/DataService"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataServiceProperties": {
        "description": "Data Service properties.",
        "properties": {
          "state": {
            "description": "State of the data service.",
            "enum": [
              "Disabled",
              "Enabled",
              "Supported"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "State"
            }
          },
          "supportedDataSinkTypes": {
            "description": "Supported data store types which can be used as a sink.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "supportedDataSourceTypes": {
            "description": "Supported data store types which can be used as a source.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "state"
        ],
        "type": "object"
      },
      "DataStore": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DmsBaseObject"
          }
        ],
        "description": "Data store.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DataStoreProperties",
            "description": "DataStore properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "DataStoreFilter": {
        "description": "Contains the information about the filters for the DataStore.",
        "properties": {
          "dataStoreTypeId": {
            "description": "The data store type id.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataStoreList": {
        "description": "Data Store Collection.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of data stores.",
            "type": "string"
          },
          "value": {
            "description": "List of data stores.",
            "items": {
              "$ref": "#/components/schemas/DataStore"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataStoreProperties": {
        "description": "Data Store for sources and sinks",
        "properties": {
          "customerSecrets": {
            "description": "List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.",
            "items": {
              "$ref": "#/components/schemas/CustomerSecret"
            },
            "type": "array"
          },
          "dataStoreTypeId": {
            "description": "The arm id of the data store type.",
            "type": "string"
          },
          "extendedProperties": {
            "description": "A generic json used differently by each data source type.",
            "type": "object"
          },
          "repositoryId": {
            "description": "Arm Id for the manager resource to which the data source is associated. This is optional.",
            "type": "string"
          },
          "state": {
            "description": "State of the data source.",
            "enum": [
              "Disabled",
              "Enabled",
              "Supported"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "State"
            }
          }
        },
        "required": [
          "state",
          "dataStoreTypeId"
        ],
        "type": "object"
      },
      "DataStoreType": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DmsBaseObject"
          }
        ],
        "description": "Data Store Type.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DataStoreTypeProperties",
            "description": "DataStoreType properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "DataStoreTypeList": {
        "description": "Data Store Type Collection.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of data store types.",
            "type": "string"
          },
          "value": {
            "description": "List of DataStoreType.",
            "items": {
              "$ref": "#/components/schemas/DataStoreType"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataStoreTypeProperties": {
        "description": "Data Store Type properties.",
        "properties": {
          "repositoryType": {
            "description": "Arm type for the manager resource to which the data source type is associated. This is optional.",
            "type": "string"
          },
          "state": {
            "description": "State of the data store type.",
            "enum": [
              "Disabled",
              "Enabled",
              "Supported"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "State"
            }
          },
          "supportedDataServicesAsSink": {
            "description": "Supported data services where it can be used as a sink.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "supportedDataServicesAsSource": {
            "description": "Supported data services where it can be used as a source.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "state"
        ],
        "type": "object"
      },
      "DmsBaseObject": {
        "description": "Base class for all objects under DataManager Service",
        "properties": {
          "id": {
            "description": "Id of the object.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the object.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of the object.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Error": {
        "description": "Top level error for the job.",
        "properties": {
          "code": {
            "description": "Error code that can be used to programmatically identify the error.",
            "type": "string"
          },
          "message": {
            "description": "Describes the error in detail and provides debugging information.",
            "type": "string"
          }
        },
        "required": [
          "code"
        ],
        "type": "object"
      },
      "ErrorDetails": {
        "description": "Error Details",
        "properties": {
          "errorCode": {
            "description": "Error code.",
            "format": "int32",
            "type": "integer"
          },
          "errorMessage": {
            "description": "Error message.",
            "type": "string"
          },
          "exceptionMessage": {
            "description": "Contains the non localized exception message",
            "type": "string"
          },
          "recommendedAction": {
            "description": "Recommended action for the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Job": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DmsBaseObject"
          }
        ],
        "description": "Data service job.",
        "properties": {
          "endTime": {
            "description": "Time at which the job ended in UTC ISO 8601 format.",
            "format": "date-time",
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/Error",
            "description": "Top level error for the job."
          },
          "properties": {
            "$ref": "#/components/schemas/JobProperties",
            "description": "Job properties.",
            "x-ms-client-flatten": true
          },
          "startTime": {
            "description": "Time at which the job was started in UTC ISO 8601 format.",
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "description": "Status of the job.",
            "enum": [
              "None",
              "InProgress",
              "Succeeded",
              "WaitingForAction",
              "Failed",
              "Cancelled",
              "Cancelling"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "JobStatus"
            }
          }
        },
        "required": [
          "status",
          "startTime",
          "properties"
        ],
        "type": "object"
      },
      "JobDefinition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DmsBaseObject"
          }
        ],
        "description": "Job Definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/JobDefinitionProperties",
            "description": "JobDefinition properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "JobDefinitionFilter": {
        "description": "Contains the supported job definition filters.",
        "properties": {
          "dataSource": {
            "description": "The data source associated with the job definition",
            "type": "string"
          },
          "lastModified": {
            "description": "The last modified date time of the data source.",
            "format": "date-time",
            "type": "string"
          },
          "state": {
            "description": "The state of the job definition.",
            "enum": [
              "Disabled",
              "Enabled",
              "Supported"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "State"
            }
          }
        },
        "required": [
          "state"
        ],
        "type": "object"
      },
      "JobDefinitionList": {
        "description": "Job Definition Collection.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of job definitions.",
            "type": "string"
          },
          "value": {
            "description": "List of job definitions.",
            "items": {
              "$ref": "#/components/schemas/JobDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JobDefinitionProperties": {
        "description": "Job Definition",
        "properties": {
          "customerSecrets": {
            "description": "List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.",
            "items": {
              "$ref": "#/components/schemas/CustomerSecret"
            },
            "type": "array"
          },
          "dataServiceInput": {
            "description": "A generic json used differently by each data service type.",
            "type": "object"
          },
          "dataSinkId": {
            "description": "Data Sink Id associated to the job definition.",
            "type": "string"
          },
          "dataSourceId": {
            "description": "Data Source Id associated to the job definition.",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Last modified time of the job definition.",
            "format": "date-time",
            "type": "string"
          },
          "runLocation": {
            "description": "This is the preferred geo location for the job to run.",
            "enum": [
              "none",
              "australiaeast",
              "australiasoutheast",
              "brazilsouth",
              "canadacentral",
              "canadaeast",
              "centralindia",
              "centralus",
              "eastasia",
              "eastus",
              "eastus2",
              "japaneast",
              "japanwest",
              "koreacentral",
              "koreasouth",
              "southeastasia",
              "southcentralus",
              "southindia",
              "northcentralus",
              "northeurope",
              "uksouth",
              "ukwest",
              "westcentralus",
              "westeurope",
              "westindia",
              "westus",
              "westus2"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "RunLocation"
            }
          },
          "schedules": {
            "description": "Schedule for running the job definition",
            "items": {
              "$ref": "#/components/schemas/Schedule"
            },
            "type": "array"
          },
          "state": {
            "description": "State of the job definition.",
            "enum": [
              "Disabled",
              "Enabled",
              "Supported"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "State"
            }
          },
          "userConfirmation": {
            "default": "NotRequired",
            "description": "Enum to detect if user confirmation is required. If not passed will default to NotRequired.",
            "enum": [
              "NotRequired",
              "Required"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "UserConfirmation"
            }
          }
        },
        "required": [
          "dataSourceId",
          "dataSinkId",
          "state"
        ],
        "type": "object"
      },
      "JobDetails": {
        "description": "Job details.",
        "properties": {
          "errorDetails": {
            "description": "Error details for failure. This is optional.",
            "items": {
              "$ref": "#/components/schemas/ErrorDetails"
            },
            "type": "array"
          },
          "itemDetailsLink": {
            "description": "Item Details Link to download files or see details",
            "type": "string"
          },
          "jobDefinition": {
            "$ref": "#/components/schemas/JobDefinition",
            "description": "JobDefinition at the time of the run"
          },
          "jobStages": {
            "description": "List of stages that ran in the job",
            "items": {
              "$ref": "#/components/schemas/JobStages"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JobFilter": {
        "description": "Contains the information about the filters for the job.",
        "properties": {
          "startTime": {
            "description": "The start time of the job.",
            "format": "date-time",
            "type": "string"
          },
          "status": {
            "description": "The status of the job.",
            "enum": [
              "None",
              "InProgress",
              "Succeeded",
              "WaitingForAction",
              "Failed",
              "Cancelled",
              "Cancelling"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "JobStatus"
            }
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "JobList": {
        "description": "Job Collection.",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of jobs.",
            "type": "string"
          },
          "value": {
            "description": "List of jobs.",
            "items": {
              "$ref": "#/components/schemas/Job"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "JobProperties": {
        "description": "Job Properties",
        "properties": {
          "bytesProcessed": {
            "description": "Number of bytes processed by the job as of now.",
            "format": "int64",
            "type": "integer"
          },
          "dataSinkName": {
            "description": "Name of the data sink on which the job was triggered.",
            "type": "string"
          },
          "dataSourceName": {
            "description": "Name of the data source on which the job was triggered.",
            "type": "string"
          },
          "details": {
            "$ref": "#/components/schemas/JobDetails",
            "description": "Details of a job run. This field will only be sent for expand details filter."
          },
          "isCancellable": {
            "description": "Describes whether the job is cancellable.",
            "enum": [
              "NotCancellable",
              "Cancellable"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "IsJobCancellable"
            }
          },
          "itemsProcessed": {
            "description": "Number of items processed by the job as of now",
            "format": "int64",
            "type": "integer"
          },
          "totalBytesToProcess": {
            "description": "Number of bytes to be processed by the job in total.",
            "format": "int64",
            "type": "integer"
          },
          "totalItemsToProcess": {
            "description": "Number of items to be processed by the job in total",
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "isCancellable"
        ],
        "type": "object"
      },
      "JobStages": {
        "description": "Job stages.",
        "properties": {
          "errorDetails": {
            "description": "Error details for the stage. This is optional",
            "items": {
              "$ref": "#/components/schemas/ErrorDetails"
            },
            "type": "array"
          },
          "jobStageDetails": {
            "description": "Job Stage Details",
            "type": "object"
          },
          "stageName": {
            "description": "Name of the job stage.",
            "type": "string"
          },
          "stageStatus": {
            "description": "Status of the job stage.",
            "enum": [
              "None",
              "InProgress",
              "Succeeded",
              "WaitingForAction",
              "Failed",
              "Cancelled",
              "Cancelling"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "JobStatus"
            }
          }
        },
        "required": [
          "stageStatus"
        ],
        "type": "object"
      },
      "Key": {
        "description": "Encryption Key.",
        "properties": {
          "encryptionChunkSizeInBytes": {
            "description": "The maximum byte size that can be encrypted by the key. For a key size larger than the size, break into chunks and encrypt each chunk, append each encrypted chunk with : to mark the end of the chunk.",
            "format": "int32",
            "type": "integer"
          },
          "keyExponent": {
            "description": "Exponent of the encryption key.",
            "type": "string"
          },
          "keyModulus": {
            "description": "Modulus of the encryption key.",
            "type": "string"
          }
        },
        "required": [
          "keyModulus",
          "keyExponent",
          "encryptionChunkSizeInBytes"
        ],
        "type": "object"
      },
      "PublicKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DmsBaseObject"
          }
        ],
        "description": "Public key",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PublicKeyProperties",
            "description": "Public key property.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "PublicKeyList": {
        "description": "PublicKey Collection",
        "properties": {
          "nextLink": {
            "description": "Link for the next set of public keys.",
            "type": "string"
          },
          "value": {
            "description": "List of public keys.",
            "items": {
              "$ref": "#/components/schemas/PublicKey"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PublicKeyProperties": {
        "description": "PublicKey Properties",
        "properties": {
          "dataServiceLevel1Key": {
            "$ref": "#/components/schemas/Key",
            "description": "Level one public key for encryption"
          },
          "dataServiceLevel2Key": {
            "$ref": "#/components/schemas/Key",
            "description": "Level two public key for encryption"
          }
        },
        "required": [
          "dataServiceLevel1Key",
          "dataServiceLevel2Key"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "Model of the Resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource\r\n(across resource groups).",
            "type": "object"
          },
          "id": {
            "description": "The Resource Id.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East\r\nUS, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo\r\nregion is specified on update the request will succeed.",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "name": {
            "description": "The Resource Name.",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The sku type."
          },
          "type": {
            "description": "The Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "RunParameters": {
        "description": "Run parameters for a job.",
        "properties": {
          "customerSecrets": {
            "description": "List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.",
            "items": {
              "$ref": "#/components/schemas/CustomerSecret"
            },
            "type": "array"
          },
          "dataServiceInput": {
            "description": "A generic json used differently by each data service type.",
            "type": "object"
          },
          "userConfirmation": {
            "default": "NotRequired",
            "description": "Enum to detect if user confirmation is required. If not passed will default to NotRequired.",
            "enum": [
              "NotRequired",
              "Required"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "UserConfirmation"
            }
          }
        },
        "type": "object"
      },
      "Schedule": {
        "description": "Schedule for the job run.",
        "properties": {
          "name": {
            "description": "Name of the schedule.",
            "type": "string"
          },
          "policyList": {
            "description": "A list of repetition intervals in ISO 8601 format.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sku": {
        "description": "The sku type.",
        "properties": {
          "name": {
            "description": "The sku name. Required for data manager creation, optional for update.",
            "type": "string"
          },
          "tier": {
            "description": "The sku tier. This is based on the SKU name.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}