openapi: 3.0.0
info:
  title: PolicyEventsClient
  version: '2018-04-04'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/managementGroupsNamespaceParameter'
        - $ref: '#/components/parameters/managementGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the resources under the management group.
      operationId: PolicyEvents_ListQueryResultsForManagementGroup
      x-ms-examples:
        Query at management group scope:
          $ref: ./examples/PolicyEvents_QueryManagementGroupScope.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the resources under the subscription.
      operationId: PolicyEvents_ListQueryResultsForSubscription
      x-ms-examples:
        Filter and aggregate only:
          $ref: ./examples/PolicyEvents_FilterAndAggregateOnly.json
        Filter and group with aggregate:
          $ref: ./examples/PolicyEvents_FilterAndGroupByWithAggregate.json
        Filter and group without aggregate:
          $ref: ./examples/PolicyEvents_FilterAndGroupByWithoutAggregate.json
        Filter and multiple groups:
          $ref: ./examples/PolicyEvents_FilterAndMultipleGroups.json
        Query at subscription scope:
          $ref: ./examples/PolicyEvents_QuerySubscriptionScope.json
        'Time range; sort, select and limit':
          $ref: ./examples/PolicyEvents_TimeRangeSortSelectTop.json
  '/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/authorizationNamespaceParameter'
        - $ref: '#/components/parameters/policyAssignmentNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the subscription level policy assignment.
      operationId: PolicyEvents_ListQueryResultsForSubscriptionLevelPolicyAssignment
      x-ms-examples:
        Query at subscription level policy assignment scope:
          $ref: >-
            ./examples/PolicyEvents_QuerySubscriptionLevelPolicyAssignmentScope.json
  '/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyDefinitions/{policyDefinitionName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/authorizationNamespaceParameter'
        - $ref: '#/components/parameters/policyDefinitionNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the subscription level policy definition.
      operationId: PolicyEvents_ListQueryResultsForPolicyDefinition
      x-ms-examples:
        Query at subscription level policy definition scope:
          $ref: >-
            ./examples/PolicyEvents_QuerySubscriptionLevelPolicyDefinitionScope.json
  '/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policySetDefinitions/{policySetDefinitionName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/authorizationNamespaceParameter'
        - $ref: '#/components/parameters/policySetDefinitionNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the subscription level policy set definition.
      operationId: PolicyEvents_ListQueryResultsForPolicySetDefinition
      x-ms-examples:
        Query at subscription level policy set definition scope:
          $ref: >-
            ./examples/PolicyEvents_QuerySubscriptionLevelPolicySetDefinitionScope.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the resources under the resource group.
      operationId: PolicyEvents_ListQueryResultsForResourceGroup
      x-ms-examples:
        Query at resource group scope:
          $ref: ./examples/PolicyEvents_QueryResourceGroupScope.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/authorizationNamespaceParameter'
        - $ref: '#/components/parameters/policyAssignmentNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the resource group level policy assignment.
      operationId: PolicyEvents_ListQueryResultsForResourceGroupLevelPolicyAssignment
      x-ms-examples:
        Query at resource group level policy assignment scope:
          $ref: >-
            ./examples/PolicyEvents_QueryResourceGroupLevelPolicyAssignmentScope.json
  '/{resourceId}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults':
    post:
      parameters:
        - $ref: '#/components/parameters/policyEventsResourceParameter'
        - $ref: '#/components/parameters/resourceIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/topParameter'
        - $ref: '#/components/parameters/orderByParameter'
        - $ref: '#/components/parameters/selectParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/filterParameter'
        - $ref: '#/components/parameters/applyParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyEventsQueryResults'
          description: Query results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Queries policy events for the resource.
      operationId: PolicyEvents_ListQueryResultsForResource
      x-ms-examples:
        Query at nested resource scope:
          $ref: ./examples/PolicyEvents_QueryNestedResourceScope.json
        Query at resource scope:
          $ref: ./examples/PolicyEvents_QueryResourceScope.json
        Query at subscription level nested resource scope:
          $ref: >-
            ./examples/PolicyEvents_QuerySubscriptionLevelNestedResourceScope.json
        Query at subscription level resource scope:
          $ref: ./examples/PolicyEvents_QuerySubscriptionLevelResourceScope.json
  '/{scope}/providers/Microsoft.PolicyInsights/policyEvents/$metadata':
    get:
      parameters:
        - $ref: '#/components/parameters/scopeParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataDocument'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetadataDocument'
          description: OData metadata XML document.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFailure'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryFailure'
          description: Error response describing why the operation failed.
      description: Gets OData metadata XML document.
      operationId: PolicyEvents_GetMetadata
      x-ms-examples:
        Get metadata:
          $ref: ./examples/PolicyEvents_GetMetadata.json
components:
  parameters:
    apiVersionParameter:
      description: API version to use with the client requests.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    applyParameter:
      description: OData apply expression for aggregations.
      in: query
      name: $apply
      required: false
      schema:
        type: string
      x-ms-client-name: Apply
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    authorizationNamespaceParameter:
      description: >-
        The namespace for Microsoft Authorization resource provider; only
        "Microsoft.Authorization" is allowed.
      in: path
      name: authorizationNamespace
      required: true
      schema:
        enum:
          - Microsoft.Authorization
        type: string
      x-ms-parameter-location: method
    filterParameter:
      description: OData filter expression.
      in: query
      name: $filter
      required: false
      schema:
        type: string
      x-ms-client-name: Filter
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    fromParameter:
      description: >-
        ISO 8601 formatted timestamp specifying the start time of the interval
        to query. When not specified, the service uses ($to - 1-day).
      in: query
      name: $from
      required: false
      schema:
        format: date-time
        type: string
      x-ms-client-name: From
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    managementGroupNameParameter:
      description: Management group name.
      in: path
      name: managementGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    managementGroupsNamespaceParameter:
      description: >-
        The namespace for Microsoft Management RP; only "Microsoft.Management"
        is allowed.
      in: path
      name: managementGroupsNamespace
      required: true
      schema:
        enum:
          - Microsoft.Management
        type: string
      x-ms-enum:
        modelAsString: false
        name: ManagementGroupsNamespaceType
      x-ms-parameter-location: method
    orderByParameter:
      description: >-
        Ordering expression using OData notation. One or more comma-separated
        column names with an optional "desc" (the default) or "asc", e.g.
        "$orderby=PolicyAssignmentId, ResourceId asc".
      in: query
      name: $orderby
      required: false
      schema:
        type: string
      x-ms-client-name: OrderBy
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    policyAssignmentNameParameter:
      description: Policy assignment name.
      in: path
      name: policyAssignmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    policyDefinitionNameParameter:
      description: Policy definition name.
      in: path
      name: policyDefinitionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    policyEventsResourceParameter:
      description: >-
        The name of the virtual resource under PolicyEvents resource type; only
        "default" is allowed.
      in: path
      name: policyEventsResource
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    policySetDefinitionNameParameter:
      description: Policy set definition name.
      in: path
      name: policySetDefinitionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Resource group name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceIdParameter:
      allowReserved: true
      description: Resource ID.
      in: path
      name: resourceId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    scopeParameter:
      allowReserved: true
      description: >-
        A valid scope, i.e. management group, subscription, resource group, or
        resource ID. Scope used has no effect on metadata returned.
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    selectParameter:
      description: >-
        Select expression using OData notation. Limits the columns on each
        record to just those requested, e.g. "$select=PolicyAssignmentId,
        ResourceId".
      in: query
      name: $select
      required: false
      schema:
        type: string
      x-ms-client-name: Select
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    toParameter:
      description: >-
        ISO 8601 formatted timestamp specifying the end time of the interval to
        query. When not specified, the service uses request time.
      in: query
      name: $to
      required: false
      schema:
        format: date-time
        type: string
      x-ms-client-name: To
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
    topParameter:
      description: Maximum number of records to return.
      in: query
      name: $top
      required: false
      schema:
        format: int32
        minimum: 0
        type: integer
      x-ms-client-name: Top
      x-ms-parameter-grouping:
        name: QueryOptions
      x-ms-parameter-location: method
  schemas:
    MetadataDocument:
      description: Metadata XML document.
      type: string
    PolicyEvent:
      additionalProperties:
        description: >-
          The list of key/value pairs for the additional properties, in the
          format 'key':'value' where key = the field name, and value = the field
          value. By default this is not populated
      description: Policy event record.
      properties:
        '@odata.context':
          description: >-
            OData context string; used by OData clients to resolve type
            information based on metadata.
          type: string
        '@odata.id':
          description: >-
            OData entity ID; always set to null since policy event records do
            not have an entity ID.
          type: string
        effectiveParameters:
          description: Effective parameters for the policy assignment.
          type: string
        isCompliant:
          description: >-
            Flag which states whether the resource is compliant against the
            policy assignment it was evaluated against.
          type: boolean
        managementGroupIds:
          description: >-
            Comma separated list of management group IDs, which represent the
            hierarchy of the management groups the resource is under.
          type: string
        policyAssignmentId:
          description: Policy assignment ID.
          type: string
        policyAssignmentName:
          description: Policy assignment name.
          type: string
        policyAssignmentOwner:
          description: Policy assignment owner.
          type: string
        policyAssignmentParameters:
          description: Policy assignment parameters.
          type: string
        policyAssignmentScope:
          description: Policy assignment scope.
          type: string
        policyDefinitionAction:
          description: 'Policy definition action, i.e. effect.'
          type: string
        policyDefinitionCategory:
          description: Policy definition category.
          type: string
        policyDefinitionId:
          description: Policy definition ID.
          type: string
        policyDefinitionName:
          description: Policy definition name.
          type: string
        policyDefinitionReferenceId:
          description: >-
            Reference ID for the policy definition inside the policy set, if the
            policy assignment is for a policy set.
          type: string
        policySetDefinitionCategory:
          description: >-
            Policy set definition category, if the policy assignment is for a
            policy set.
          type: string
        policySetDefinitionId:
          description: >-
            Policy set definition ID, if the policy assignment is for a policy
            set.
          type: string
        policySetDefinitionName:
          description: >-
            Policy set definition name, if the policy assignment is for a policy
            set.
          type: string
        policySetDefinitionOwner:
          description: >-
            Policy set definition owner, if the policy assignment is for a
            policy set.
          type: string
        policySetDefinitionParameters:
          description: >-
            Policy set definition parameters, if the policy assignment is for a
            policy set.
          type: string
        principalOid:
          description: >-
            Principal object ID for the user who initiated the resource
            operation that triggered the policy event.
          type: string
        resourceGroup:
          description: Resource group name.
          type: string
        resourceId:
          description: Resource ID.
          type: string
        resourceLocation:
          description: Resource location.
          type: string
        resourceTags:
          description: List of resource tags.
          type: string
        resourceType:
          description: Resource type.
          type: string
        subscriptionId:
          description: Subscription ID.
          type: string
        tenantId:
          description: Tenant ID for the policy event record.
          type: string
        timestamp:
          description: Timestamp for the policy event record.
          format: date-time
          type: string
      type: object
    PolicyEventsQueryResults:
      description: Query results.
      properties:
        '@odata.context':
          description: >-
            OData context string; used by OData clients to resolve type
            information based on metadata.
          type: string
        '@odata.count':
          description: >-
            OData entity count; represents the number of policy event records
            returned.
          format: int32
          minimum: 0
          type: integer
        value:
          description: Query results.
          items:
            $ref: '#/components/schemas/PolicyEvent'
          type: array
      type: object
    QueryFailure:
      description: Error response.
      properties:
        error:
          description: Error definition.
          properties:
            code:
              description: >-
                Service specific error code which serves as the substatus for
                the HTTP error code.
              readOnly: true
              type: string
            message:
              description: Description of the error.
              readOnly: true
              type: string
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

