openapi: 3.0.0
info:
  termsOfService: https://fungenerators.com/terms
  description: >
   Fungenerators name generation API generates random names relevant to the given category. Lots of categories are supported with many variations supported. [Click here to subscribe](http://fungenerators.com/products/documentation/namegen/)
     
   
  title: "Name Generation API"
  version: "1.5"
  contact:
    name: Fun Generators
    url: http://fungenerators.com/
tags:
- name: "Names"
  description: "Name Generation API"
  externalDocs:
    description: "Find out more" 
    url: "http://fungenerators.com/api/namegen/"    
paths: 
  /name/categories: 
    get: 
      tags:
      - "Names"        
      description: "Get available name generation categories."
      produces:
      - "application/json" 
      - "application/xml"
      - "application/js"
      security:
        - bearerAuth: []          
      parameters:
        - 
          description: "start"
          format: integer
          in: query
          name: start
          required: false
          type: integer    
        - 
          description: "limit"
          format: integer
          in: query
          name: limit
          required: false
          type: integer       
      responses: 
        ? "200"
        : 
          description: "200  response"
          examples: 
            application/json:  |-
                {
                  "success": {
                    "total": "37",
                    "start": 0,
                    "limit": 5
                  },
                  "contents": [
                    [
                      {
                        "name": "elf",
                        "title": "Elf Name Generator",
                        "suggestion_supported": "0",
                        "unisex": false
                      },
                      {
                        "name": "super-hero",
                        "title": "Superhero Name generator",
                        "suggestion_supported": "0",
                        "unisex": true
                      },
                      {
                        "name": "alien",
                        "title": "Alien Name generator",
                        "suggestion_supported": "0",
                        "unisex": true
                      },
                      {
                        "name": "dragon",
                        "title": "Dragon Name generator",
                        "suggestion_supported": "0",
                        "unisex": true
                      },
                      {
                        "name": "indian",
                        "title": "Indian Name generator",
                        "suggestion_supported": "0",
                        "unisex": false
                      }
                    ]
                  ]
                }
        ? "401"
        : 
          description: "401  response"
          examples: 
            application/json: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }     
  /name/generate: 
    get: 
      tags:
      - "Names"        
      description: "Generated names in the given category"
      produces:
      - "application/json" 
      - "application/xml"
      - "application/js"
      security:
        - bearerAuth: []          
      parameters:
        - 
          description: "Category to generator names from"
          format: string
          in: query
          name: category 
          required: true
          type: string      
        - 
          description: "Suggestion string if supported by this category generator."
          format: string
          in: query
          name: suggest 
          required: false
          type: string   
        - 
          description: "start. Controls pagination. Relevant only if suggestion is supported"
          format: integer
          in: query
          name: start
          required: false
          type: integer    
        - 
          description: "limit. Controls pagination limit. Relevant only if suggestion is supported"
          format: integer
          in: query
          name: limit
          required: false
          type: integer   
        - 
          description: "Variation if supported ( male/female/any )"
          format: string
          in: query
          name: variation 
          required: false
          type: string              
      responses: 
        ? "200"
        : 
          description: "200  response"
          examples: 
            application/json:  |-
              {
                "success": {
                  "total": null,
                  "start": 0,
                  "limit": 5
                },
                "contents": {
                  "category": "ninja",
                  "names": [
                    "Snow Strikes",
                    "Rapid Fall",
                    "Agile Moon",
                    "Dreamsign",
                    "Phantom Fall"
                  ]
                },
                "copyright": "https://fungenerators.com/"
              }
        ? "401"
        : 
          description: "401  response"
          examples: 
            application/json: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
servers:
  - url: https://api.fungenerators.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
