{
  "openapi": "3.0.0",
  "info": {
    "description": "Alert operation endpoints and objects.",
    "title": "InfrastructureInsightsManagementClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/infrastructureinsights/Microsoft.InfrastructureInsights.Admin/preview/2016-05-01/Alert.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts": {
      "get": {
        "parameters": [
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Returns the list of all alerts in a given region.",
        "operationId": "Alerts_List",
        "x-ms-examples": {
          "Returns the list of all alerts in a given region.": {
            "$ref": "./examples/Alert/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/Alert",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts/{alertName}": {
      "get": {
        "parameters": [
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/AlertNameParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Returns the requested an alert.",
        "operationId": "Alerts_Get",
        "x-ms-examples": {
          "Returns the requested an alert.": {
            "$ref": "./examples/Alert/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/AlertNameParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/UserParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Closes the given alert.",
        "operationId": "Alerts_Close",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Alert"
              }
            }
          },
          "description": "Updated alert parameter.",
          "required": true
        },
        "x-ms-examples": {
          "Closes the given alert.": {
            "$ref": "./examples/Alert/Close.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts/{alertName}/repair": {
      "post": {
        "parameters": [
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/AlertNameParameter"
          },
          {
            "$ref": "InfrastructureInsights.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Repairs an alert.",
        "operationId": "Alerts_Repair",
        "x-ms-examples": {
          "Repairs an alert.": {
            "$ref": "./examples/Alert/Repair.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "AlertNameParameter": {
        "description": "Name of the alert.",
        "in": "path",
        "name": "alertName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "UserParameter": {
        "description": "The username used to perform the operation.",
        "in": "query",
        "name": "user",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Alert": {
        "allOf": [
          {
            "$ref": "InfrastructureInsights.json#/definitions/TrackedResource"
          }
        ],
        "description": "This object represents an alert resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AlertModel",
            "description": "Contains information related to alerts.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AlertList": {
        "description": "A pageable list of alerts",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of alerts.",
            "items": {
              "$ref": "#/components/schemas/Alert"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AlertModel": {
        "description": "Contains alert data.",
        "properties": {
          "alertId": {
            "description": "Gets or sets the ID of the alert.",
            "type": "string"
          },
          "alertProperties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Properties of the alert.",
            "type": "object"
          },
          "closedByUserAlias": {
            "description": "User alias who closed the alert.",
            "type": "string"
          },
          "closedTimestamp": {
            "description": "Timestamp when the alert was closed.",
            "type": "string"
          },
          "createdTimestamp": {
            "description": "Timestamp when the alert was created.",
            "type": "string"
          },
          "description": {
            "description": "Description of the alert.",
            "items": {
              "$ref": "InfrastructureInsights.json#/definitions/Dictionary"
            },
            "type": "array",
            "x-ms-identifiers": []
          },
          "faultId": {
            "description": "Gets or sets the fault ID of the alert.",
            "type": "string"
          },
          "faultTypeId": {
            "description": "Gets or sets the fault type ID of the alert.",
            "type": "string"
          },
          "hasValidRemediationAction": {
            "description": "Indicates if the alert can be remediated.",
            "type": "boolean"
          },
          "impactedResourceDisplayName": {
            "description": "Display name for the impacted item.",
            "type": "string"
          },
          "impactedResourceId": {
            "description": "Gets or sets the Resource ID for the impacted item.",
            "type": "string"
          },
          "lastUpdatedTimestamp": {
            "description": "Timestamp when the alert was last updated.",
            "type": "string"
          },
          "remediation": {
            "description": "Gets or sets the admin friendly remediation instructions for the alert.",
            "items": {
              "$ref": "InfrastructureInsights.json#/definitions/Dictionary"
            },
            "type": "array",
            "x-ms-identifiers": []
          },
          "resourceProviderRegistrationId": {
            "description": "Gets or sets the registration ID of the service the alert belongs to.",
            "type": "string"
          },
          "resourceRegistrationId": {
            "description": "Gets or sets the registration ID of the resource associated with the alert. If the alert is not associated with a resource, the resource registration ID is null.",
            "type": "string"
          },
          "severity": {
            "description": "Severity of the alert.",
            "type": "string"
          },
          "state": {
            "description": "State of the alert.",
            "type": "string"
          },
          "title": {
            "description": "Gets or sets the Resource ID for the impacted item.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}