openapi: 3.0.0
info:
  description: >-
    The Azure Management Groups API enables consolidation of multiple
    subscriptions/resources into an organizational hierarchy and centrally
    manage access control, policies, alerting and reporting for those resources.
  title: Management Groups API
  version: 2018-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Management/checkNameAvailability:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - CheckNameAvailability
      description: Checks if the specified management group name is valid and unique
      operationId: CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: Management group name availability check parameters.
        required: true
      x-ms-examples:
        CheckManagementGroupNameAvailability:
          $ref: ./examples/CheckManagementGroupNameAvailability.json
  /providers/Microsoft.Management/getEntities:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SkipTokenParameter'
        - $ref: '#/components/parameters/SkipParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/SelectParameter'
        - $ref: '#/components/parameters/SearchParameter'
        - $ref: '#/components/parameters/EntityFilterParameter'
        - $ref: '#/components/parameters/EntityViewParameter'
        - $ref: '#/components/parameters/GroupNameParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - Entities
      description: >-
        List all entities (Management Groups, Subscriptions, etc.) for the
        authenticated user.
      operationId: Entities_List
      x-ms-examples:
        GetEntities:
          $ref: ./examples/GetEntities.json
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Management/managementGroups:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
        - $ref: '#/components/parameters/SkipTokenParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroupListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: List management groups for the authenticated user.
      operationId: ManagementGroups_List
      x-ms-examples:
        ListManagementGroups:
          $ref: ./examples/ListManagementGroups.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{groupId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResults'
          description: Accepted
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: >-
        Delete management group. If a management group contains child resources,
        the request will fail.
      operationId: ManagementGroups_Delete
      x-ms-examples:
        DeleteManagementGroup:
          $ref: ./examples/DeleteManagementGroup.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ExpandParameter'
        - $ref: '#/components/parameters/RecurseParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: Get the details of the management group.
      operationId: ManagementGroups_Get
      x-ms-examples:
        GetManagementGroup:
          $ref: ./examples/GetManagementGroup.json
        GetManagementGroupWithExpand:
          $ref: ./examples/GetManagementGroupWithExpand.json
        GetManagementGroupsWithExpandAndRecurse:
          $ref: ./examples/GetManagementGroupWithExpandAndRecurse.json
    patch:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: Update a management group.
      operationId: ManagementGroups_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchManagementGroupRequest'
        description: Management group patch parameters.
        required: true
      x-ms-examples:
        PatchManagementGroup:
          $ref: ./examples/PatchManagementGroup.json
    put:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
          description: OK
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResults'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: >-
        Create or update a management group. If a management group is already
        created and a subsequent create request is issued with different
        properties, the management group properties will be updated.
      operationId: ManagementGroups_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagementGroupRequest'
        description: Management group creation parameters.
        required: true
      x-ms-examples:
        PutManagementGroup:
          $ref: ./examples/PutManagementGroup.json
      x-ms-long-running-operation: true
  '/providers/Microsoft.Management/managementGroups/{groupId}/descendants':
    get:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SkipTokenParameter'
        - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescendantListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups_Descendants
      description: |
        List all entities that descend from a management group.
      operationId: ManagementGroups_GetDescendants
      x-ms-examples:
        GetDescendants:
          $ref: ./examples/GetDescendants.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: De-associates subscription from the management group.
      operationId: ManagementGroupSubscriptions_Delete
      x-ms-examples:
        DeleteSubscriptionFromManagementGroup:
          $ref: ./examples/RemoveManagementGroupSubscription.json
    put:
      parameters:
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error
      tags:
        - ManagementGroups
      description: Associates existing subscription with the management group.
      operationId: ManagementGroupSubscriptions_Create
      x-ms-examples:
        AddSubscriptionToManagementGroup:
          $ref: ./examples/AddManagementGroupSubscription.json
  /providers/Microsoft.Management/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available Management REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Management/startTenantBackfill:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantBackfillStatusResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - TenantBackfill
      description: Starts backfilling subscriptions for the Tenant.
      operationId: StartTenantBackfill
      x-ms-examples:
        StartTenantBackfill:
          $ref: ./examples/StartTenantBackfillRequest.json
  /providers/Microsoft.Management/tenantBackfillStatus:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantBackfillStatusResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - TenantBackfill
      description: Gets tenant backfill status
      operationId: TenantBackfillStatus
      x-ms-examples:
        TenantBackfillStatus:
          $ref: ./examples/TenantBackfillStatusRequest.json
components:
  parameters:
    ApiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2018-01-01-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    CacheControlHeader:
      description: Indicates that the request shouldn't utilize any caches.
      in: header
      name: Cache-Control
      schema:
        default: no-cache
        type: string
      x-ms-parameter-location: method
    EntityFilterParameter:
      description: >-
        The filter parameter allows you to filter on the name or display name
        fields. You can check for equality on the name field (e.g. name eq
        '{entityName}')  and you can check for substrings on either the name or
        display name fields(e.g. contains(name, '{substringToSearch}'),
        contains(displayName, '{substringToSearch')). Note that the
        '{entityName}' and '{substringToSearch}' fields are checked case
        insensitively.
      in: query
      name: $filter
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    EntityViewParameter:
      description: >-
        The view parameter allows clients to filter the type of data that is
        returned by the getEntities call.
      in: query
      name: $view
      required: false
      schema:
        enum:
          - FullHierarchy
          - GroupsOnly
          - SubscriptionsOnly
          - Audit
        type: string
      x-ms-parameter-location: method
    ExpandParameter:
      description: >-
        The $expand=children query string parameter allows clients to request
        inclusion of children in the response payload.
      in: query
      name: $expand
      required: false
      schema:
        enum:
          - children
        type: string
      x-ms-parameter-location: method
    FilterParameter:
      description: >-
        A filter which allows the exclusion of subscriptions from results (i.e.
        '$filter=children.childType ne Subscription')
      in: query
      name: $filter
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    GroupIdParameter:
      description: Management Group ID.
      in: path
      name: groupId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    GroupNameParameter:
      description: >-
        A filter which allows the get entities call to focus on a particular
        group (i.e. "$filter=name eq 'groupName'")
      in: query
      name: groupName
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    OperationResultIdParameter:
      description: The id of the operation result.
      in: path
      name: operationResultId
      required: true
      schema:
        enum:
          - create
          - delete
        type: string
      x-ms-parameter-location: method
    RecurseParameter:
      description: >-
        The $recurse=true query string parameter allows clients to request
        inclusion of entire hierarchy in the response payload. Note that 
        $expand=children must be passed up if $recurse is set to true.
      in: query
      name: $recurse
      required: false
      schema:
        type: boolean
      x-ms-parameter-location: method
    SearchParameter:
      description: >-
        The $search parameter is used in conjunction with the $filter parameter
        to return three different outputs depending on the parameter passed in.
        With $search=AllowedParents the API will return the entity info of all
        groups that the requested entity will be able to reparent to as
        determined by the user's permissions. With $search=AllowedChildren the
        API will return the entity info of all entities that can be added as
        children of the requested entity. With
        $search=ParentAndFirstLevelChildren the API will return the parent and 
        first level of children that the user has either direct access to or
        indirect access via one of their descendants.
      in: query
      name: $search
      required: false
      schema:
        enum:
          - AllowedParents
          - AllowedChildren
          - ParentAndFirstLevelChildren
          - ParentOnly
          - ChildrenOnly
        type: string
      x-ms-parameter-location: method
    SelectParameter:
      description: >-
        This parameter specifies the fields to include in the response. Can
        include any combination of
        Name,DisplayName,Type,ParentDisplayNameChain,ParentChain, e.g.
        '$select=Name,DisplayName,Type,ParentDisplayNameChain,ParentNameChain'.
        When specified the $select parameter can override select in $skipToken.
      in: query
      name: $select
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SkipParameter:
      description: >-
        Number of entities to skip over when retrieving results. Passing this in
        will override $skipToken.
      in: query
      name: $skip
      required: false
      schema:
        type: integer
      x-ms-parameter-location: method
    SkipTokenParameter:
      description: >-
        Page continuation token is only used if a previous operation returned a
        partial result. If a previous response contains a nextLink element, the
        value of the nextLink element will include a token parameter that
        specifies a starting point to use for subsequent calls.
      in: query
      name: $skiptoken
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    TopParameter:
      description: >-
        Number of elements to return when retrieving results. Passing this in
        will override $skipToken.
      in: query
      name: $top
      required: false
      schema:
        type: integer
      x-ms-parameter-location: method
  schemas:
    CheckNameAvailabilityRequest:
      description: Management group name availability check parameters.
      properties:
        name:
          description: the name to check for availability
          type: string
        type:
          description: fully qualified resource type which includes provider namespace
          enum:
            - /providers/Microsoft.Management/managementGroups
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
            values:
              - value: /providers/Microsoft.Management/managementGroups
      type: object
    CheckNameAvailabilityResult:
      description: >-
        Describes the result of the request to check management group name
        availability.
      properties:
        message:
          description: >-
            Required if nameAvailable == false. Localized. If reason == invalid,
            provide the user with the reason why the given name is invalid, and
            provide the resource naming requirements so that the user can select
            a valid name. If reason == AlreadyExists, explain that is already in
            use, and direct them to select a different name.
          readOnly: true
          type: string
        nameAvailable:
          description: >-
            Required. True indicates name is valid and available. False
            indicates the name is invalid, unavailable, or both.
          readOnly: true
          type: boolean
        reason:
          description: >-
            Required if nameAvailable == false. Invalid indicates the name
            provided does not match the resource provider's naming requirements
            (incorrect length, unsupported characters, etc.) AlreadyExists
            indicates that the name is already in use and is therefore
            unavailable.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: Reason
            values:
              - value: Invalid
              - value: AlreadyExists
      type: object
    CreateManagementGroupChildInfo:
      description: The child information of a management group used during creation.
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/CreateManagementGroupChildInfo'
          readOnly: true
          type: array
        displayName:
          description: The friendly name of the child resource.
          readOnly: true
          type: string
        id:
          description: >-
            The fully qualified ID for the child resource (management group or
            subscription).  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        name:
          description: The name of the child entity.
          readOnly: true
          type: string
        roles:
          description: The roles definitions associated with the management group.
          items:
            type: string
          readOnly: true
          type: array
        type:
          $ref: '#/components/schemas/ManagementGroupChildType'
          description: >-
            The fully qualified resource type which includes provider namespace
            (e.g. /providers/Microsoft.Management/managementGroups)
          readOnly: true
          title: The type of child resource.
      type: object
    CreateManagementGroupDetails:
      description: The details of a management group used during creation.
      properties:
        parent:
          $ref: '#/components/schemas/CreateParentGroupInfo'
          title: Parent
        updatedBy:
          description: The identity of the principal or process that updated the object.
          readOnly: true
          type: string
        updatedTime:
          description: The date and time when this object was last updated.
          format: date-time
          readOnly: true
          type: string
        version:
          description: The version number of the object.
          format: int32
          readOnly: true
          type: number
      type: object
    CreateManagementGroupProperties:
      description: The generic properties of a management group used during creation.
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/CreateManagementGroupChildInfo'
          nullable: true
          readOnly: true
          type: array
        details:
          $ref: '#/components/schemas/CreateManagementGroupDetails'
          title: Details
        displayName:
          description: >-
            The friendly name of the management group. If no value is passed
            then this  field will be set to the groupId.
          nullable: true
          type: string
        roles:
          description: The roles definitions associated with the management group.
          items:
            type: string
          nullable: true
          readOnly: true
          type: array
        tenantId:
          description: >-
            The AAD Tenant ID associated with the management group. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
      type: object
    CreateManagementGroupRequest:
      description: Management group creation parameters.
      properties:
        id:
          description: >-
            The fully qualified ID for the management group.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        name:
          description: >-
            The name of the management group. For example,
            00000000-0000-0000-0000-000000000000
          type: string
        properties:
          $ref: '#/components/schemas/CreateManagementGroupProperties'
          title: Properties
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource.  For example,
            /providers/Microsoft.Management/managementGroups
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    CreateParentGroupInfo:
      description: (Optional) The ID of the parent management group used during creation.
      properties:
        displayName:
          description: The friendly name of the parent management group.
          readOnly: true
          type: string
        id:
          description: >-
            The fully qualified ID for the parent management group.  For
            example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          type: string
        name:
          description: The name of the parent management group
          readOnly: true
          type: string
      type: object
    DescendantInfo:
      description: The descendant.
      properties:
        id:
          description: >-
            The fully qualified ID for the descendant.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
            or /subscriptions/0000000-0000-0000-0000-000000000000
          nullable: true
          readOnly: true
          type: string
        name:
          description: >-
            The name of the descendant. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DescendantInfoProperties'
          nullable: true
          title: Properties
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource. For example,
            /providers/Microsoft.Management/managementGroups or /subscriptions
          nullable: true
          readOnly: true
          type: string
      type: object
    DescendantInfoProperties:
      description: The generic properties of an descendant.
      properties:
        displayName:
          description: The friendly name of the management group.
          nullable: true
          type: string
        parent:
          $ref: '#/components/schemas/DescendantParentGroupInfo'
          nullable: true
          title: Parent
      type: object
    DescendantListResult:
      description: Describes the result of the request to view descendants.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of descendants.
          items:
            $ref: '#/components/schemas/DescendantInfo'
          type: array
      type: object
    DescendantParentGroupInfo:
      description: The ID of the parent management group.
      properties:
        id:
          description: >-
            The fully qualified ID for the parent management group.  For
            example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          type: string
      type: object
    EntityHierarchyItem:
      description: The management group details for the hierarchy view.
      properties:
        id:
          description: >-
            The fully qualified ID for the management group.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        name:
          description: >-
            The name of the management group. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/EntityHierarchyItemProperties'
          title: Properties
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource.  For example,
            /providers/Microsoft.Management/managementGroups
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    EntityHierarchyItemProperties:
      description: The generic properties of a management group.
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/EntityHierarchyItem'
          nullable: true
          type: array
        displayName:
          description: The friendly name of the management group.
          type: string
        permissions:
          $ref: '#/components/schemas/Permissions'
          title: Permissions
      type: object
    EntityInfo:
      description: The entity.
      properties:
        id:
          description: >-
            The fully qualified ID for the entity.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          nullable: true
          readOnly: true
          type: string
        name:
          description: >-
            The name of the entity. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/EntityInfoProperties'
          nullable: true
          title: Properties
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource. For example,
            /providers/Microsoft.Management/managementGroups
          nullable: true
          readOnly: true
          type: string
      type: object
    EntityInfoProperties:
      description: The generic properties of an entity.
      properties:
        displayName:
          description: The friendly name of the management group.
          nullable: true
          type: string
        inheritedPermissions:
          $ref: '#/components/schemas/Permissions'
          nullable: true
          title: Inherited Permissions
        numberOfChildGroups:
          description: >-
            Number of child groups is the number of Groups that are exactly one
            level underneath the current Group.
          nullable: true
          title: Number of Child Groups
          type: integer
        numberOfChildren:
          description: >-
            Number of children is the number of Groups and Subscriptions that
            are exactly one level underneath the current Group.
          nullable: true
          title: Number of Children
          type: integer
        numberOfDescendants:
          nullable: true
          title: Number of Descendants
          type: integer
        parent:
          $ref: '#/components/schemas/EntityParentGroupInfo'
          nullable: true
          title: Parent
        parentDisplayNameChain:
          description: >-
            The parent display name chain from the root group to the immediate
            parent
          items:
            type: string
          nullable: true
          type: array
        parentNameChain:
          description: The parent name chain from the root group to the immediate parent
          items:
            type: string
          nullable: true
          type: array
        permissions:
          $ref: '#/components/schemas/Permissions'
          nullable: true
          title: Permissions
        tenantId:
          description: >-
            The AAD Tenant ID associated with the entity. For example,
            00000000-0000-0000-0000-000000000000
          nullable: true
          type: string
      type: object
    EntityListResult:
      description: Describes the result of the request to view entities.
      properties:
        count:
          description: Total count of records that match the filter
          readOnly: true
          type: integer
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of entities.
          items:
            $ref: '#/components/schemas/EntityInfo'
          type: array
      type: object
    EntityParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      properties:
        id:
          description: >-
            The fully qualified ID for the parent management group.  For
            example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: One of a server-defined set of error codes.
          type: string
        details:
          description: A human-readable representation of the error's details.
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
      type: object
    ErrorResponse:
      description: The error object.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          title: Error
      type: object
    ManagementGroup:
      description: The management group details.
      properties:
        id:
          description: >-
            The fully qualified ID for the management group.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        name:
          description: >-
            The name of the management group. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ManagementGroupProperties'
          title: Properties
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource.  For example,
            /providers/Microsoft.Management/managementGroups
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ManagementGroupChildInfo:
      description: The child information of a management group.
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
          type: array
        displayName:
          description: The friendly name of the child resource.
          type: string
        id:
          description: >-
            The fully qualified ID for the child resource (management group or
            subscription).  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          type: string
        name:
          description: The name of the child entity.
          type: string
        roles:
          description: The roles definitions associated with the management group.
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/ManagementGroupChildType'
          description: >-
            The fully qualified resource type which includes provider namespace
            (e.g. /providers/Microsoft.Management/managementGroups)
          title: The type of child resource.
      type: object
    ManagementGroupChildType:
      description: The type of child resource.
      enum:
        - /providers/Microsoft.Management/managementGroups
        - /subscriptions
      type: string
    ManagementGroupDetails:
      description: The details of a management group.
      properties:
        parent:
          $ref: '#/components/schemas/ParentGroupInfo'
          title: Parent
        updatedBy:
          description: The identity of the principal or process that updated the object.
          type: string
        updatedTime:
          description: The date and time when this object was last updated.
          format: date-time
          type: string
        version:
          description: The version number of the object.
          format: int32
          type: number
      type: object
    ManagementGroupInfo:
      description: The management group resource.
      properties:
        id:
          description: >-
            The fully qualified ID for the management group.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        name:
          description: >-
            The name of the management group. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ManagementGroupInfoProperties'
          title: Properties
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource. For example,
            /providers/Microsoft.Management/managementGroups
          readOnly: true
          type: string
      type: object
    ManagementGroupInfoProperties:
      description: The generic properties of a management group.
      properties:
        displayName:
          description: The friendly name of the management group.
          type: string
        tenantId:
          description: >-
            The AAD Tenant ID associated with the management group. For example,
            00000000-0000-0000-0000-000000000000
          type: string
      type: object
    ManagementGroupListResult:
      description: Describes the result of the request to list management groups.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          type: string
        value:
          description: The list of management groups.
          items:
            $ref: '#/components/schemas/ManagementGroupInfo'
          type: array
      type: object
    ManagementGroupProperties:
      description: The generic properties of a management group.
      properties:
        children:
          description: The list of children.
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
          nullable: true
          type: array
        details:
          $ref: '#/components/schemas/ManagementGroupDetails'
          title: Details
        displayName:
          description: The friendly name of the management group.
          type: string
        roles:
          description: The role definitions associated with the management group.
          items:
            type: string
          nullable: true
          type: array
        tenantId:
          description: >-
            The AAD Tenant ID associated with the management group. For example,
            00000000-0000-0000-0000-000000000000
          type: string
      type: object
    Operation:
      description: Operation supported by the Microsoft.Management resource provider.
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayProperties'
          title: Display
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationDisplayProperties:
      description: The object that represents the operation.
      properties:
        description:
          description: Operation description.
          readOnly: true
          type: string
        operation:
          description: The operation that can be performed.
          readOnly: true
          type: string
        provider:
          description: The name of the provider.
          readOnly: true
          type: string
        resource:
          description: The resource on which the operation is performed.
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Describes the result of the request to list Microsoft.Management
        operations.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of operations supported by the Microsoft.Management resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    OperationResults:
      description: The results of an asynchronous operation.
      properties:
        id:
          description: >-
            The fully qualified ID for the management group.  For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        name:
          description: >-
            The name of the management group. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
        properties:
          properties:
            provisioningState:
              $ref: '#/components/schemas/ProvisioningState'
              title: Provisioning State
          title: Properties
          type: object
          x-ms-client-flatten: true
        type:
          description: >-
            The type of the resource.  For example,
            /providers/Microsoft.Management/managementGroups
          readOnly: true
          type: string
      type: object
    ParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      properties:
        displayName:
          description: The friendly name of the parent management group.
          type: string
        id:
          description: >-
            The fully qualified ID for the parent management group.  For
            example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          type: string
        name:
          description: The name of the parent management group
          type: string
      type: object
    PatchManagementGroupRequest:
      description: Management group patch parameters.
      properties:
        displayName:
          description: The friendly name of the management group.
          nullable: true
          type: string
        parentId:
          description: >-
            (Optional) The fully qualified ID for the parent management group. 
            For example,
            /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          nullable: true
          type: string
      type: object
    Permissions:
      description: The users specific permissions to this item.
      enum:
        - noaccess
        - view
        - edit
        - delete
      type: string
    ProvisioningState:
      description: The provisioning status.
      enum:
        - Updating
      title: Provisioning State
      type: string
    TenantBackfillStatusResult:
      description: The tenant backfill status
      properties:
        status:
          description: The status of the Tenant Backfill
          enum:
            - NotStarted
            - NotStartedButGroupsExist
            - Started
            - Failed
            - Cancelled
            - Completed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: Status
            values:
              - value: NotStarted
              - value: NotStartedButGroupsExist
              - value: Started
              - value: Failed
              - value: Cancelled
              - value: Completed
        tenantId:
          description: >-
            The AAD Tenant ID associated with the management group. For example,
            00000000-0000-0000-0000-000000000000
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation
tags:
  - description: >-
      A Management Group is a customer defined scope (grouping mechanism) that
      provides access control (authorization), policy management and reporting.
      Management Groups are organized in a strictly tree-based hierarchy.
    name: ManagementGroups
  - description: >-
      Management operations supported by the Microsoft.Management resource
      provider.
    name: Operations
  - description: A list of entities that belong to the Management Groups.
    name: Entities

