openapi: 3.0.0
info:
  description: Infrastructure role operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfraRoleList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - InfraRoles
      description: Returns a list of all infrastructure roles at a location.
      operationId: InfraRoles_List
      x-ms-examples:
        Returns a list of all infrastructure roles at a location.:
          $ref: ./examples/InfraRole/List.json
      x-ms-odata: '#/components/schemas/InfraRole'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfraRole'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - InfraRoles
      description: Returns the requested infrastructure role description.
      operationId: InfraRoles_Get
      x-ms-examples:
        Returns the requested infrastructure role description.:
          $ref: ./examples/InfraRole/Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}/Restart':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - InfraRole
      description: Restarts the requested infrastructure role.
      operationId: InfraRoles_Restart
      x-ms-examples:
        Restarts the requested infrastructure role.:
          $ref: ./examples/InfraRole/Restart.json
      x-ms-long-running-operation: true
components:
  parameters:
    InfraRoleParameter:
      description: Infrastructure role name.
      in: path
      name: infraRole
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    InfraRole:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: Infrastructure role description.
      properties:
        properties:
          $ref: '#/components/schemas/InfraRoleModel'
          description: Infrastructure role properties.
          x-ms-client-flatten: true
      type: object
    InfraRoleList:
      description: Pageable list of infrastructure roles.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of infrastructure roles.
          items:
            $ref: '#/components/schemas/InfraRole'
          type: array
      type: object
    InfraRoleModel:
      description: Infrastructure role properties.
      properties:
        displayName:
          description: Display name for the infrastructure role.
          type: string
        instances:
          description: List of infrastructure role instances.
          items:
            type: string
          type: array
        restartable:
          description: Value indicating whether the infrastructure role can be restarted.
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

