openapi: 3.0.0
info:
  description: >-
    The Local Search client lets you send a search query to Bing and get back
    search results that include local businesses such as restaurants, hotels,
    retail stores, or other local businesses. The query can specify the name of
    the local business or it can ask for a list (for example, restaurants near
    me).
  title: Local Search Client
  version: '1.0'
servers:
  - url: 'https://api.cognitive.microsoft.com/bing'
paths:
  /v7.0/localbusinesses/search:
    get:
      parameters:
        - $ref: '#/components/parameters/x-bingapis-sdk'
        - description: >-
            The default media type is application/json. To specify that the
            response use [JSON-LD](http://json-ld.org/), set the Accept header
            to application/ld+json.
          in: header
          name: Accept
          required: false
          schema:
            type: string
        - description: >-
            A comma-delimited list of one or more languages to use for user
            interface strings. The list is in decreasing order of preference.
            For additional information, including expected format, see
            [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
            This header and the setLang query parameter are mutually exclusive;
            do not specify both. If you set this header, you must also specify
            the cc query parameter. Bing will use the first supported language
            it finds from the list, and combine that language with the cc
            parameter value to determine the market to return results for. If
            the list does not include a supported language, Bing will find the
            closest language and market that supports the request, and may use
            an aggregated or default market for the results instead of a
            specified one. You should use this header and the cc query parameter
            only if you specify multiple languages; otherwise, you should use
            the mkt and setLang query parameters. A user interface string is a
            string that's used as a label in a user interface. There are very
            few user interface strings in the JSON response objects. Any links
            in the response objects to Bing.com properties will apply the
            specified language.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
          x-ms-client-name: AcceptLanguage
        - description: >-
            By default, Bing returns cached content, if available. To prevent
            Bing from returning cached content, set the Pragma header to
            no-cache (for example, Pragma: no-cache).
          in: header
          name: Pragma
          required: false
          schema:
            type: string
        - description: >-
            The user agent originating the request. Bing uses the user agent to
            provide mobile users with an optimized experience. Although
            optional, you are strongly encouraged to always specify this header.
            The user-agent should be the same string that any commonly used
            browser would send. For information about user agents, see [RFC
            2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          in: header
          name: User-Agent
          required: false
          schema:
            type: string
          x-ms-client-name: UserAgent
        - description: >-
            Bing uses this header to provide users with consistent behavior
            across Bing API calls. Bing often flights new features and
            improvements, and it uses the client ID as a key for assigning
            traffic on different flights. If you do not use the same client ID
            for a user across multiple requests, then Bing may assign the user
            to multiple conflicting flights. Being assigned to multiple
            conflicting flights can lead to an inconsistent user experience. For
            example, if the second request has a different flight assignment
            than the first, the experience may be unexpected. Also, Bing can use
            the client ID to tailor web results to that client ID’s search
            history, providing a richer experience for the user. Bing also uses
            this header to help improve result rankings by analyzing the
            activity generated by a client ID. The relevance improvements help
            with better quality of results delivered by Bing APIs and in turn
            enables higher click-through rates for the API consumer. IMPORTANT:
            Although optional, you should consider this header required.
            Persisting the client ID across multiple requests for the same end
            user and device combination enables 1) the API consumer to receive a
            consistent user experience, and 2) higher click-through rates via
            better quality of results from the Bing APIs. Each user that uses
            your application on the device must have a unique, Bing generated
            client ID. If you do not include this header in the request, Bing
            generates an ID and returns it in the X-MSEdge-ClientID response
            header. The only time that you should NOT include this header in a
            request is the first time the user uses your app on that device. Use
            the client ID for each Bing API request that your app makes for this
            user on the device. Persist the client ID. To persist the ID in a
            browser app, use a persistent HTTP cookie to ensure the ID is used
            across all sessions. Do not use a session cookie. For other apps
            such as mobile apps, use the device's persistent storage to persist
            the ID. The next time the user uses your app on that device, get the
            client ID that you persisted. Bing responses may or may not include
            this header. If the response includes this header, capture the
            client ID and use it for all subsequent Bing requests for the user
            on that device. If you include the X-MSEdge-ClientID, you must not
            include cookies in the request.
          in: header
          name: X-MSEdge-ClientID
          required: false
          schema:
            type: string
          x-ms-client-name: ClientId
        - description: >-
            The IPv4 or IPv6 address of the client device. The IP address is
            used to discover the user's location. Bing uses the location
            information to determine safe search behavior. Although optional,
            you are encouraged to always specify this header and the
            X-Search-Location header. Do not obfuscate the address (for example,
            by changing the last octet to 0). Obfuscating the address results in
            the location not being anywhere near the device's actual location,
            which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          schema:
            type: string
          x-ms-client-name: ClientIp
        - description: >-
            A semicolon-delimited list of key/value pairs that describe the
            client's geographical location. Bing uses the location information
            to determine safe search behavior and to return relevant local
            content. Specify the key/value pair as <key>:<value>. The following
            are the keys that you use to specify the user's location. lat
            (required): The latitude of the client's location, in degrees. The
            latitude must be greater than or equal to -90.0 and less than or
            equal to +90.0. Negative values indicate southern latitudes and
            positive values indicate northern latitudes. long (required): The
            longitude of the client's location, in degrees. The longitude must
            be greater than or equal to -180.0 and less than or equal to +180.0.
            Negative values indicate western longitudes and positive values
            indicate eastern longitudes. re (required): The radius, in meters,
            which specifies the horizontal accuracy of the coordinates. Pass the
            value returned by the device's location service. Typical values
            might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and
            18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp
            of when the client was at the location. (The UNIX timestamp is the
            number of seconds since January 1, 1970.) head (optional): The
            client's relative heading or direction of travel. Specify the
            direction of travel as degrees from 0 through 360, counting
            clockwise relative to true north. Specify this key only if the sp
            key is nonzero. sp (optional): The horizontal velocity (speed), in
            meters per second, that the client device is traveling. alt
            (optional): The altitude of the client device, in meters. are
            (optional): The radius, in meters, that specifies the vertical
            accuracy of the coordinates. Specify this key only if you specify
            the alt key. Although many of the keys are optional, the more
            information that you provide, the more accurate the location results
            are. Although optional, you are encouraged to always specify the
            user's geographical location. Providing the location is especially
            important if the client's IP address does not accurately reflect the
            user's physical location (for example, if the client uses VPN). For
            optimal results, you should include this header and the
            X-MSEdge-ClientIP header, but at a minimum, you should include this
            header.
          in: header
          name: X-Search-Location
          required: false
          schema:
            type: string
          x-ms-client-name: Location
        - description: >-
            A 2-character country code of the country where the results come
            from. This API supports only the United States market. If you
            specify this query parameter, it must be set to us. If you set this
            parameter, you must also specify the Accept-Language header. Bing
            uses the first supported language it finds from the languages list,
            and combine that language with the country code that you specify to
            determine the market to return results for. If the languages list
            does not include a supported language, Bing finds the closest
            language and market that supports the request, or it may use an
            aggregated or default market for the results instead of a specified
            one. You should use this query parameter and the Accept-Language
            query parameter only if you specify multiple languages; otherwise,
            you should use the mkt and setLang query parameters. This parameter
            and the mkt query parameter are mutually exclusive—do not specify
            both.
          in: query
          name: cc
          required: false
          schema:
            type: string
          x-ms-client-name: CountryCode
        - description: >-
            The market where the results come from. You are strongly encouraged
            to always specify the market, if known. Specifying the market helps
            Bing route the request and return an appropriate and optimal
            response. This parameter and the cc query parameter are mutually
            exclusive—do not specify both.
          in: query
          name: mkt
          required: false
          schema:
            default: en-us
            type: string
          x-ms-client-name: Market
        - description: The user's search term.
          in: query
          name: q
          required: true
          schema:
            type: string
          x-ms-client-name: Query
        - description: >-
            comma-delimited list of business categories to search for. Supported
            categories can be high-level such as EatDrink, Shop, SeeDo.
          in: query
          name: localcategories
          required: false
          schema:
            type: string
          x-ms-client-name: LocalCategories
        - description: >-
            Preferred location to search around, expressed as Latitude,
            longitude and radius in meters. For example 47.61503,-122.1719,5000.
            Note that circular view should only be used to indicate a search
            around a point on the map, not as an approximation for a view port
            of a map rectangle.
          in: query
          name: localcircularview
          required: false
          schema:
            type: string
          x-ms-client-name: localCircularView
        - description: >-
            Preferred bounding box for results, specified in NW_latitude,
            NW_Longitude, SE_Latitude, SE_Longitude format. For example
            47.64,-122.13,47.63,-122.12. These values are lat, long pairs for
            the Northwest corner and the Southeast corner of a rectangle.
          in: query
          name: localmapview
          required: false
          schema:
            type: string
          x-ms-client-name: localMapView
        - description: >-
            Preferred number of results to return. If not specified, then Bing
            returns 1-20 of the most relevant results.
          in: query
          name: count
          required: false
          schema:
            type: string
          x-ms-client-name: Count
        - description: First result to return. zero-based. default is 0.
          in: query
          name: first
          required: false
          schema:
            type: string
          x-ms-client-name: First
        - description: >-
            The media type to use for the response. The following are the
            possible case-insensitive values: JSON, JSONLD. The default is JSON.
            If you specify JSONLD, the response body includes JSON-LD objects
            that contain the search results.
          in: query
          name: ResponseFormat
          required: false
          schema:
            items:
              enum:
                - Json
                - JsonLd
              type: string
              x-ms-enum:
                modelAsString: true
                name: ResponseFormat
            type: array
          style: form
        - description: >-
            A filter used to filter adult content. Off: Return webpages with
            adult text, images, or videos. Moderate: Return webpages with adult
            text, but not adult images or videos. Strict: Do not return webpages
            with adult text, images, or videos. The default is Moderate. If the
            request comes from a market that Bing's adult policy requires that
            safeSearch is set to Strict, Bing ignores the safeSearch value and
            uses Strict. If you use the site: query operator, there is the
            chance that the response may contain adult content regardless of
            what the safeSearch query parameter is set to. Use site: only if you
            are aware of the content on the site and your scenario supports the
            possibility of adult content.
          in: query
          name: SafeSearch
          required: false
          schema:
            enum:
              - 'Off'
              - Moderate
              - Strict
            type: string
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: >-
            The language to use for user interface strings. Specify the language
            using the ISO 639-1 2-letter language code. For example, the
            language code for English is EN. The default is EN (English).
            Although optional, you should always specify the language.
            Typically, you set setLang to the same language specified by mkt
            unless the user wants the user interface strings displayed in a
            different language. This parameter and the Accept-Language header
            are mutually exclusive; do not specify both. A user interface string
            is a string that's used as a label in a user interface. There are
            few user interface strings in the JSON response objects. Also, any
            links to Bing.com properties in the response objects apply the
            specified language.
          in: query
          name: SetLang
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error has occurred. Check the response type and/or status code
            for more details.
      tags:
        - LocalSearch
      operationId: Local_Search
      summary: >-
        The Local Search API lets you send a search query to Bing and get back
        search results that include local businesses such as restaurants,
        hotels, retail stores, or other local businesses. The query can specify
        the name of the local business or it can ask for a list (for example,
        restaurants near me).
      x-ms-examples:
        Successful query:
          $ref: ./examples//SuccessfulLocalSearchRequest.json
components:
  parameters:
    x-bingapis-sdk:
      description: Activate swagger compliance
      in: header
      name: X-BingApis-SDK
      required: true
      schema:
        enum:
          - 'true'
        type: string
      x-ms-enum:
        modelAsString: true
        name: XBingApisSDK
      x-ms-parameter-location: method
  schemas:
    Action:
      allOf:
        - $ref: '#/components/schemas/CreativeWork'
      description: Defines an action.
      properties:
        displayName:
          description: A display name for the action.
          readOnly: true
          type: string
        isTopAction:
          description: A Boolean representing whether this result is the top action.
          readOnly: true
          type: boolean
        location:
          items:
            $ref: '#/components/schemas/Place'
          readOnly: true
          type: array
        result:
          description: The result produced in the action.
          items:
            $ref: '#/components/schemas/Thing'
          readOnly: true
          type: array
        serviceUrl:
          description: >-
            Use this URL to get additional data to determine how to take the
            appropriate action. For example, the serviceUrl might return JSON
            along with an image URL.
          readOnly: true
          type: string
      type: object
    Answer:
      allOf:
        - $ref: '#/components/schemas/Response'
      description: Defines an answer.
      properties: {}
      type: object
    CreativeWork:
      allOf:
        - $ref: '#/components/schemas/Thing'
      description: >-
        The most generic kind of creative work, including books, movies,
        photographs, software programs, etc.
      properties:
        about:
          description: For internal use only.
          items:
            $ref: '#/components/schemas/Thing'
          readOnly: true
          type: array
        commentCount:
          format: int32
          readOnly: true
          type: integer
        copyrightHolder:
          $ref: '#/components/schemas/Thing'
          readOnly: true
        copyrightYear:
          format: int32
          readOnly: true
          type: integer
        creator:
          $ref: '#/components/schemas/Thing'
          readOnly: true
        disclaimer:
          readOnly: true
          type: string
        discussionUrl:
          readOnly: true
          type: string
        genre:
          items:
            type: string
          readOnly: true
          type: array
        headLine:
          readOnly: true
          type: string
        isAccessibleForFree:
          readOnly: true
          type: boolean
        isFamilyFriendly:
          readOnly: true
          type: boolean
        mainEntity:
          $ref: '#/components/schemas/Thing'
          readOnly: true
        mentions:
          description: For internal use only.
          items:
            $ref: '#/components/schemas/Thing'
          readOnly: true
          type: array
        provider:
          description: The source of the creative work.
          items:
            $ref: '#/components/schemas/Thing'
          readOnly: true
          type: array
        text:
          description: Text content of this creative work
          readOnly: true
          type: string
        thumbnailUrl:
          description: The URL to a thumbnail of the item.
          readOnly: true
          type: string
      type: object
    EntitiesEntityPresentationInfo:
      description: Defines additional information about an entity such as type hints.
      discriminator:
        propertyName: _type
      properties:
        _type:
          type: string
        entityScenario:
          default: DominantEntity
          description: The supported scenario.
          enum:
            - DominantEntity
            - DisambiguationItem
            - ListItem
          type: string
          x-ms-enum:
            modelAsString: true
            name: EntityScenario
        entitySubTypeHints:
          items:
            type: string
          readOnly: true
          type: array
        entityTypeDisplayHint:
          description: >-
            A display version of the entity hint. For example, if
            entityTypeHints is Artist, this field may be set to American Singer.
          readOnly: true
          type: string
        entityTypeHints:
          description: >-
            A list of hints that indicate the entity's type. The list could
            contain a single hint such as Movie or a list of hints such as
            Place, LocalBusiness, Restaurant. Each successive hint in the array
            narrows the entity's type.
          items:
            enum:
              - Place
              - LocalBusiness
              - Restaurant
              - Hotel
            type: string
            x-ms-enum:
              modelAsString: true
              name: EntityType
          readOnly: true
          type: array
        query:
          readOnly: true
          type: string
      required:
        - entityScenario
        - _type
      type: object
      x-ms-discriminator-value: Entities/EntityPresentationInfo
    Error:
      description: Defines the error that occurred.
      discriminator:
        propertyName: _type
      properties:
        _type:
          type: string
        code:
          default: None
          description: The error code that identifies the category of error.
          enum:
            - None
            - ServerError
            - InvalidRequest
            - RateLimitExceeded
            - InvalidAuthorization
            - InsufficientAuthorization
          type: string
          x-ms-enum:
            modelAsString: true
            name: ErrorCode
        message:
          description: A description of the error.
          type: string
        moreDetails:
          description: A description that provides additional information about the error.
          readOnly: true
          type: string
        parameter:
          description: The parameter in the request that caused the error.
          readOnly: true
          type: string
        subCode:
          description: The error code that further helps to identify the error.
          enum:
            - UnexpectedError
            - ResourceError
            - NotImplemented
            - ParameterMissing
            - ParameterInvalidValue
            - HttpNotAllowed
            - Blocked
            - AuthorizationMissing
            - AuthorizationRedundancy
            - AuthorizationDisabled
            - AuthorizationExpired
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ErrorSubCode
        value:
          description: The parameter's value in the request that was not valid.
          readOnly: true
          type: string
      required:
        - code
        - message
        - _type
      type: object
    ErrorResponse:
      allOf:
        - $ref: '#/components/schemas/Response'
      description: The top-level response that represents a failed request.
      properties:
        errors:
          description: A list of errors that describe the reasons why the request failed.
          items:
            $ref: '#/components/schemas/Error'
          type: array
      required:
        - errors
      type: object
    GeoCoordinates:
      discriminator:
        propertyName: _type
      properties:
        _type:
          type: string
        elevation:
          format: double
          readOnly: true
          type: number
        latitude:
          format: double
          type: number
        longitude:
          format: double
          type: number
      required:
        - latitude
        - longitude
        - _type
      type: object
    Identifiable:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
      description: Defines the identity of a resource.
      properties:
        id:
          description: A String identifier.
          readOnly: true
          type: string
      type: object
    Intangible:
      allOf:
        - $ref: '#/components/schemas/Thing'
      description: >-
        A utility class that serves as the umbrella for a number of 'intangible'
        things such as quantities, structured values, etc.
      type: object
    Place:
      allOf:
        - $ref: '#/components/schemas/Thing'
      description: 'Defines information about a local entity, such as a restaurant or hotel.'
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
          description: The postal address of where the entity is located
          readOnly: true
        geo:
          $ref: '#/components/schemas/GeoCoordinates'
          readOnly: true
        routablePoint:
          $ref: '#/components/schemas/GeoCoordinates'
          readOnly: true
        telephone:
          description: The entity's telephone number
          readOnly: true
          type: string
      type: object
    Places:
      allOf:
        - $ref: '#/components/schemas/SearchResultsAnswer'
      description: Defines a local entity answer.
      properties:
        value:
          description: 'A list of local entities, such as restaurants or hotels.'
          items:
            $ref: '#/components/schemas/Thing'
          type: array
      required:
        - value
      type: object
    PostalAddress:
      allOf:
        - $ref: '#/components/schemas/StructuredValue'
      description: Defines a postal address.
      properties:
        addressCountry:
          description: >-
            The country/region where the street address is located. This could
            be the two-letter ISO code. For example, US, or the full name,
            United States.
          readOnly: true
          type: string
        addressLocality:
          description: 'The city where the street address is located. For example, Seattle.'
          readOnly: true
          type: string
        addressRegion:
          description: >-
            The state or province code where the street address is located. This
            could be the two-letter code. For example, WA, or the full name ,
            Washington.
          readOnly: true
          type: string
        addressRegionAbbreviation:
          description: 'Region Abbreviation. For example, WA.'
          readOnly: true
          type: string
        addressSubregion:
          readOnly: true
          type: string
        countryIso:
          description: 'The two letter ISO code of this country. For example, US.'
          readOnly: true
          type: string
        formattingRuleId:
          readOnly: true
          type: string
        houseNumber:
          readOnly: true
          type: string
        neighborhood:
          description: >-
            The neighborhood where the street address is located. For example,
            Westlake.
          readOnly: true
          type: string
        postOfficeBoxNumber:
          readOnly: true
          type: string
        postalCode:
          description: >-
            The zip code or postal code where the street address is located. For
            example, 98052.
          readOnly: true
          type: string
        streetAddress:
          readOnly: true
          type: string
        streetName:
          readOnly: true
          type: string
        text:
          description: >-
            The complete address. For example, 2100 Westlake Ave N, Bellevue, WA
            98052.
          readOnly: true
          type: string
      type: object
    QueryContext:
      description: Defines the query context that Bing used for the request.
      discriminator:
        propertyName: _type
      properties:
        _type:
          type: string
        adultIntent:
          description: >-
            A Boolean value that indicates whether the specified query has adult
            intent. The value is true if the query has adult intent; otherwise,
            false.
          readOnly: true
          type: boolean
        alterationDisplayQuery:
          description: >-
            AlteredQuery that is formatted for display purpose. The query string
            in the AlterationDisplayQuery can be html-escaped and can contain
            hit-highlighting characters
          readOnly: true
          type: string
        alterationOverrideQuery:
          description: >-
            The query string to use to force Bing to use the original string.
            For example, if the query string is "saling downwind", the override
            query string will be "+saling downwind". Remember to encode the
            query string which results in "%2Bsaling+downwind". This field is
            included only if the original query string contains a spelling
            mistake.
          readOnly: true
          type: string
        alteredQuery:
          description: >-
            The query string used by Bing to perform the query. Bing uses the
            altered query string if the original query string contained spelling
            mistakes. For example, if the query string is "saling downwind", the
            altered query string will be "sailing downwind". This field is
            included only if the original query string contains a spelling
            mistake.
          readOnly: true
          type: string
        askUserForLocation:
          description: >-
            A Boolean value that indicates whether Bing requires the user's
            location to provide accurate results. If you specified the user's
            location by using the X-MSEdge-ClientIP and X-Search-Location
            headers, you can ignore this field. For location aware queries, such
            as "today's weather" or "restaurants near me" that need the user's
            location to provide accurate results, this field is set to true. For
            location aware queries that include the location (for example,
            "Seattle weather"), this field is set to false. This field is also
            set to false for queries that are not location aware, such as "best
            sellers".
          readOnly: true
          type: boolean
        isTransactional:
          readOnly: true
          type: boolean
        originalQuery:
          description: The query string as specified in the request.
          type: string
      required:
        - originalQuery
        - _type
      type: object
    Response:
      allOf:
        - $ref: '#/components/schemas/Identifiable'
      description: >-
        Defines a response. All schemas that return at the root of the response
        must inherit from this object.
      properties:
        adaptiveCard:
          readOnly: true
          type: string
        immediateAction:
          items:
            $ref: '#/components/schemas/Action'
          readOnly: true
          type: array
        potentialAction:
          items:
            $ref: '#/components/schemas/Action'
          readOnly: true
          type: array
        preferredClickthroughUrl:
          readOnly: true
          type: string
        readLink:
          description: The URL that returns this resource.
          readOnly: true
          type: string
        webSearchUrl:
          description: The URL to Bing's search result for this item.
          readOnly: true
          type: string
      type: object
    ResponseBase:
      description: Response base
      discriminator:
        propertyName: _type
      properties:
        _type:
          type: string
      required:
        - _type
      type: object
    SearchAction:
      allOf:
        - $ref: '#/components/schemas/Action'
      properties:
        displayText:
          readOnly: true
          type: string
        formattingRuleId:
          readOnly: true
          type: string
        query:
          readOnly: true
          type: string
        richContent:
          items:
            $ref: '#/components/schemas/Answer'
          readOnly: true
          type: array
      type: object
    SearchResponse:
      allOf:
        - $ref: '#/components/schemas/Response'
      description: >-
        Defines the top-level object that the response includes when the request
        succeeds.
      properties:
        lottery:
          $ref: '#/components/schemas/SearchResultsAnswer'
          readOnly: true
        places:
          $ref: '#/components/schemas/Places'
          description: >-
            A list of local entities such as restaurants or hotels that are
            relevant to the query.
          readOnly: true
        queryContext:
          $ref: '#/components/schemas/QueryContext'
          description: >-
            An object that contains the query string that Bing used for the
            request. This object contains the query string as entered by the
            user. It may also contain an altered query string that Bing used for
            the query if the query string contained a spelling mistake.
          readOnly: true
        searchResultsConfidenceScore:
          format: float
          readOnly: true
          type: number
      type: object
    SearchResultsAnswer:
      allOf:
        - $ref: '#/components/schemas/Answer'
      description: Defines a search result answer.
      properties:
        isFamilyFriendly:
          readOnly: true
          type: boolean
        queryContext:
          $ref: '#/components/schemas/QueryContext'
          readOnly: true
        totalEstimatedMatches:
          description: >-
            The estimated number of webpages that are relevant to the query. Use
            this number along with the count and offset query parameters to page
            the results.
          format: int64
          readOnly: true
          type: integer
      type: object
    StructuredValue:
      allOf:
        - $ref: '#/components/schemas/Intangible'
      type: object
    Thing:
      allOf:
        - $ref: '#/components/schemas/Response'
      description: Defines a thing.
      properties:
        entityPresentationInfo:
          $ref: '#/components/schemas/EntitiesEntityPresentationInfo'
          description: >-
            Additional information about the entity such as hints that you can
            use to determine the entity's type. To determine the entity's type,
            use the entityScenario and entityTypeHint fields.
          readOnly: true
        name:
          description: The name of the thing represented by this object.
          readOnly: true
          type: string
        url:
          description: >-
            The URL to get more information about the thing represented by this
            object.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
security:
  - apiKeyHeader: []

