{
  "openapi": "3.0.0",
  "info": {
    "title": "StreamAnalyticsManagementClient",
    "version": "2016-03-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/functions.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions": {
      "get": {
        "parameters": [
          {
            "description": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionListResult"
                }
              }
            },
            "description": "Successfully listed the functions under the specified streaming job."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Lists all of the functions under the specified streaming job.",
        "operationId": "Functions_ListByStreamingJob",
        "x-ms-examples": {
          "List all functions in a streaming job": {
            "$ref": "./examples/Function_ListByStreamingJob.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          },
          {
            "$ref": "#/components/parameters/FunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The function was successfully deleted."
          },
          "204": {
            "description": "The function does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Deletes a function from the streaming job.",
        "operationId": "Functions_Delete",
        "x-ms-examples": {
          "Delete a function": {
            "$ref": "./examples/Function_Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          },
          {
            "$ref": "#/components/parameters/FunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Function"
                }
              }
            },
            "description": "Successfully retrieved the specified function.",
            "headers": {
              "ETag": {
                "description": "The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Gets details about the specified function.",
        "operationId": "Functions_Get",
        "x-ms-examples": {
          "Get a JavaScript function": {
            "$ref": "./examples/Function_Get_JavaScript.json"
          },
          "Get an Azure ML function": {
            "$ref": "./examples/Function_Get_AzureML.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The ETag of the function. Omit this value to always overwrite the current function. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "IfMatch"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          },
          {
            "$ref": "#/components/parameters/FunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Function"
                }
              }
            },
            "description": "The function was successfully updated.",
            "headers": {
              "ETag": {
                "description": "The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Updates an existing function under an existing streaming job. This can be used to partially update (ie. update one or two properties) a function without affecting the rest the job or function definition.",
        "operationId": "Functions_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Function"
              }
            }
          },
          "description": "A function object. The properties specified here will overwrite the corresponding properties in the existing function (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing function will remain the same and not change as a result of this PATCH operation.",
          "required": true
        },
        "x-ms-examples": {
          "Update a JavaScript function": {
            "$ref": "./examples/Function_Update_JavaScript.json"
          },
          "Update an Azure ML function": {
            "$ref": "./examples/Function_Update_AzureML.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The ETag of the function. Omit this value to always overwrite the current function. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "IfMatch"
          },
          {
            "description": "Set to '*' to allow a new function to be created, but to prevent updating an existing function. Other values will result in a 412 Pre-condition Failed response.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "IfNoneMatch"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          },
          {
            "$ref": "#/components/parameters/FunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Function"
                }
              }
            },
            "description": "The function was successfully created or replaced.",
            "headers": {
              "ETag": {
                "description": "The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Function"
                }
              }
            },
            "description": "The function was successfully created or replaced.",
            "headers": {
              "ETag": {
                "description": "The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Creates a function or replaces an already existing function under an existing streaming job.",
        "operationId": "Functions_CreateOrReplace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Function"
              }
            }
          },
          "description": "The definition of the function that will be used to create a new function or replace the existing one under the streaming job.",
          "required": true
        },
        "x-ms-examples": {
          "Create a JavaScript function": {
            "$ref": "./examples/Function_Create_JavaScript.json"
          },
          "Create an Azure ML function": {
            "$ref": "./examples/Function_Create_AzureML.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/retrieveDefaultDefinition": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          },
          {
            "$ref": "#/components/parameters/FunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Function"
                }
              }
            },
            "description": "Successfully retrieved the function's default definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Retrieves the default definition of a function based on the parameters specified.",
        "operationId": "Functions_RetrieveDefaultDefinition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionRetrieveDefaultDefinitionParameters"
              }
            }
          },
          "description": "Parameters used to specify the type of function to retrieve the default definition for."
        },
        "x-ms-examples": {
          "Retrieve the default definition for an Azure ML function": {
            "$ref": "./examples/Function_RetrieveDefaultDefinition_AzureML.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/test": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/StreamingJobNameParameter"
          },
          {
            "$ref": "#/components/parameters/FunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./inputs.json#/definitions/ResourceTestStatus"
                }
              }
            },
            "description": "The test operation completed successfully."
          },
          "202": {
            "description": "The test request was successfully initiated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../common/v1/definitions.json#/definitions/Error"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "Functions"
        ],
        "description": "Tests if the information provided for a function is valid. This can range from testing the connection to the underlying web service behind the function or making sure the function code provided is syntactically correct.",
        "operationId": "Functions_Test",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Function"
              }
            }
          },
          "description": "If the function specified does not already exist, this parameter must contain the full function definition intended to be tested. If the function specified already exists, this parameter can be left null to test the existing function as is or if specified, the properties specified will overwrite the corresponding properties in the existing function (exactly like a PATCH operation) and the resulting function will be tested."
        },
        "x-ms-examples": {
          "Test the connection for a JavaScript function": {
            "$ref": "./examples/Function_Test_JavaScript.json"
          },
          "Test the connection for an Azure ML function": {
            "$ref": "./examples/Function_Test_AzureML.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FunctionNameParameter": {
        "description": "The name of the function.",
        "in": "path",
        "name": "functionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "StreamingJobNameParameter": {
        "description": "The name of the streaming job.",
        "in": "path",
        "name": "jobName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AzureMachineLearningWebServiceFunctionBinding": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FunctionBinding"
          }
        ],
        "description": "The binding to an Azure Machine Learning web service.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AzureMachineLearningWebServiceFunctionBindingProperties",
            "description": "The binding properties associated with an Azure Machine learning web service.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Microsoft.MachineLearning/WebService"
      },
      "AzureMachineLearningWebServiceFunctionBindingProperties": {
        "description": "The binding properties associated with an Azure Machine learning web service.",
        "properties": {
          "apiKey": {
            "description": "The API key used to authenticate with Request-Response endpoint.",
            "type": "string"
          },
          "batchSize": {
            "description": "Number between 1 and 10000 describing maximum number of rows for every Azure ML RRS execute request. Default is 1000.",
            "format": "int32",
            "type": "integer"
          },
          "endpoint": {
            "description": "The Request-Response execute endpoint of the Azure Machine Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs",
            "type": "string"
          },
          "inputs": {
            "$ref": "#/components/schemas/AzureMachineLearningWebServiceInputs",
            "description": "The inputs for the Azure Machine Learning web service endpoint."
          },
          "outputs": {
            "description": "A list of outputs from the Azure Machine Learning web service endpoint execution.",
            "items": {
              "$ref": "#/components/schemas/AzureMachineLearningWebServiceOutputColumn"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AzureMachineLearningWebServiceFunctionBindingRetrievalProperties": {
        "description": "The binding retrieval properties associated with an Azure Machine learning web service.",
        "properties": {
          "executeEndpoint": {
            "description": "The Request-Response execute endpoint of the Azure Machine Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs",
            "type": "string"
          },
          "udfType": {
            "$ref": "#/components/schemas/UdfType",
            "description": "The function type."
          }
        },
        "type": "object"
      },
      "AzureMachineLearningWebServiceFunctionRetrieveDefaultDefinitionParameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FunctionRetrieveDefaultDefinitionParameters"
          }
        ],
        "description": "The parameters needed to retrieve the default function definition for an Azure Machine Learning web service function.",
        "properties": {
          "bindingRetrievalProperties": {
            "$ref": "#/components/schemas/AzureMachineLearningWebServiceFunctionBindingRetrievalProperties",
            "description": "The binding retrieval properties associated with an Azure Machine learning web service.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Microsoft.MachineLearning/WebService"
      },
      "AzureMachineLearningWebServiceInputColumn": {
        "description": "Describes an input column for the Azure Machine Learning web service endpoint.",
        "properties": {
          "dataType": {
            "description": "The (Azure Machine Learning supported) data type of the input column. A list of valid  Azure Machine Learning data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx .",
            "type": "string"
          },
          "mapTo": {
            "description": "The zero based index of the function parameter this input maps to.",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "description": "The name of the input column.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureMachineLearningWebServiceInputs": {
        "description": "The inputs for the Azure Machine Learning web service endpoint.",
        "properties": {
          "columnNames": {
            "description": "A list of input columns for the Azure Machine Learning web service endpoint.",
            "items": {
              "$ref": "#/components/schemas/AzureMachineLearningWebServiceInputColumn"
            },
            "type": "array"
          },
          "name": {
            "description": "The name of the input. This is the name provided while authoring the endpoint.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureMachineLearningWebServiceOutputColumn": {
        "description": "Describes an output column for the Azure Machine Learning web service endpoint.",
        "properties": {
          "dataType": {
            "description": "The (Azure Machine Learning supported) data type of the output column. A list of valid  Azure Machine Learning data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx .",
            "type": "string"
          },
          "name": {
            "description": "The name of the output column.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Function": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "A function object, containing all information associated with the named function. All functions are contained under a streaming job.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/FunctionProperties",
            "description": "The properties that are associated with a function."
          }
        },
        "type": "object"
      },
      "FunctionBinding": {
        "description": "The physical binding of the function. For example, in the Azure Machine Learning web service\u2019s case, this describes the endpoint.",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "type": {
            "description": "Indicates the function binding type.",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "FunctionInput": {
        "description": "Describes one input parameter of a function.",
        "properties": {
          "dataType": {
            "description": "The (Azure Stream Analytics supported) data type of the function input parameter. A list of valid Azure Stream Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx",
            "type": "string"
          },
          "isConfigurationParameter": {
            "description": "A flag indicating if the parameter is a configuration parameter. True if this input parameter is expected to be a constant. Default is false.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "FunctionListResult": {
        "description": "Object containing a list of functions under a streaming job.",
        "properties": {
          "nextLink": {
            "description": "The link (url) to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "A list of functions under a streaming job. Populated by a 'List' operation.",
            "items": {
              "$ref": "#/components/schemas/Function"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "FunctionOutput": {
        "description": "Describes the output of a function.",
        "properties": {
          "dataType": {
            "description": "The (Azure Stream Analytics supported) data type of the function output. A list of valid Azure Stream Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FunctionProperties": {
        "description": "The properties that are associated with a function.",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "etag": {
            "description": "The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Indicates the type of function.",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "FunctionRetrieveDefaultDefinitionParameters": {
        "description": "Parameters used to specify the type of function to retrieve the default definition for.",
        "discriminator": {
          "propertyName": "bindingType"
        },
        "properties": {
          "bindingType": {
            "description": "Indicates the function binding type.",
            "type": "string"
          }
        },
        "required": [
          "bindingType"
        ],
        "type": "object"
      },
      "JavaScriptFunctionBinding": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FunctionBinding"
          }
        ],
        "description": "The binding to a JavaScript function.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/JavaScriptFunctionBindingProperties",
            "description": "The binding properties associated with a JavaScript function.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Microsoft.StreamAnalytics/JavascriptUdf"
      },
      "JavaScriptFunctionBindingProperties": {
        "description": "The binding properties associated with a JavaScript function.",
        "properties": {
          "script": {
            "description": "The JavaScript code containing a single function definition. For example: 'function (x, y) { return x + y; }'",
            "type": "string"
          }
        },
        "type": "object"
      },
      "JavaScriptFunctionBindingRetrievalProperties": {
        "description": "The binding retrieval properties associated with a JavaScript function.",
        "properties": {
          "script": {
            "description": "The JavaScript code containing a single function definition. For example: 'function (x, y) { return x + y; }'.",
            "type": "string"
          },
          "udfType": {
            "$ref": "#/components/schemas/UdfType",
            "description": "The function type."
          }
        },
        "type": "object"
      },
      "JavaScriptFunctionRetrieveDefaultDefinitionParameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FunctionRetrieveDefaultDefinitionParameters"
          }
        ],
        "description": "The parameters needed to retrieve the default function definition for a JavaScript function.",
        "properties": {
          "bindingRetrievalProperties": {
            "$ref": "#/components/schemas/JavaScriptFunctionBindingRetrievalProperties",
            "description": "The binding retrieval properties associated with a JavaScript function.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Microsoft.StreamAnalytics/JavascriptUdf"
      },
      "ScalarFunctionConfiguration": {
        "description": "Describes the configuration of the scalar function.",
        "properties": {
          "binding": {
            "$ref": "#/components/schemas/FunctionBinding",
            "description": "The physical binding of the function. For example, in the Azure Machine Learning web service\u2019s case, this describes the endpoint."
          },
          "inputs": {
            "description": "A list of inputs describing the parameters of the function.",
            "items": {
              "$ref": "#/components/schemas/FunctionInput"
            },
            "type": "array"
          },
          "output": {
            "$ref": "#/components/schemas/FunctionOutput",
            "description": "The output of the function."
          }
        },
        "type": "object"
      },
      "ScalarFunctionProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FunctionProperties"
          }
        ],
        "description": "The properties that are associated with a scalar function.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ScalarFunctionConfiguration",
            "description": "Describes the configuration of the scalar function.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Scalar"
      },
      "SubResource": {
        "description": "The base sub-resource model definition.",
        "properties": {
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "UdfType": {
        "description": "The function type.",
        "enum": [
          "Scalar"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": false,
          "name": "UdfType"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}