openapi: 3.0.0
info:
  description: >-
    Provides create, read, update and delete functionality for Azure SQL
    Database resources including servers, databases, elastic pools,
    recommendations, operations, and usage metrics.
  title: Azure SQL Database
  version: '2014-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceObjectiveListResult'
          description: OK
      tags:
        - ServiceObjectives
      description: Returns database service objectives.
      operationId: ServiceObjectives_ListByServer
      x-ms-examples:
        List service objectives:
          $ref: ./examples/ServiceObjectiveList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the service objective to retrieve.
          in: path
          name: serviceObjectiveName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceObjective'
          description: OK
      tags:
        - ServiceObjectives
      description: Gets a database service objective.
      operationId: ServiceObjectives_Get
      x-ms-examples:
        Get a service objective:
          $ref: ./examples/ServiceObjectiveGet.json
components:
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ServiceObjective:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: Represents a database service objective.
      properties:
        properties:
          $ref: '#/components/schemas/ServiceObjectiveProperties'
          description: Represents the properties of the resource.
          x-ms-client-flatten: true
      type: object
    ServiceObjectiveListResult:
      description: Represents the response to a get database service objectives request.
      properties:
        value:
          description: The list of database service objectives.
          items:
            $ref: '#/components/schemas/ServiceObjective'
          type: array
      required:
        - value
      type: object
    ServiceObjectiveProperties:
      description: Represents the properties of a database service objective.
      properties:
        description:
          description: The description for the service level objective.
          readOnly: true
          type: string
        enabled:
          description: Gets whether the service level objective is enabled.
          nullable: false
          readOnly: true
          type: boolean
        isDefault:
          description: >-
            Gets whether the service level objective is the default service
            objective.
          nullable: false
          readOnly: true
          type: boolean
        isSystem:
          description: >-
            Gets whether the service level objective is a system service
            objective.
          nullable: false
          readOnly: true
          type: boolean
        serviceObjectiveName:
          description: The name for the service objective.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

