openapi: 3.0.0
info:
  description: Azure Application Insights client for favorites.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/favorites':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/FavoriteTypeParameter'
        - $ref: '#/components/parameters/SourceTypeParameter'
        - $ref: '#/components/parameters/CanFetchFavoriteContentParameter'
        - $ref: '#/components/parameters/TagsFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApplicationInsightsComponentFavorite'
                type: array
          description: >-
            A list containing 0 or more favorite definitions associated to the
            Application Insights component.
      description: >-
        Gets a list of favorites defined within an Application Insights
        component.
      operationId: Favorites_List
      x-ms-examples:
        FavoritesList:
          $ref: ./examples/FavoritesList.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/favorites/{favoriteId}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/FavoriteIdParameter'
      responses:
        '200':
          description: >-
            The favorite has been successfully removed from the Application
            Insights component.
      description: >-
        Remove a favorite that is associated to an Application Insights
        component.
      operationId: Favorites_Delete
      x-ms-examples:
        FavoriteList:
          $ref: ./examples/FavoriteDelete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/FavoriteIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentFavorite'
          description: >-
            A favorite definition associated to the Application Insights
            component.
      description: >-
        Get a single favorite by its FavoriteId, defined within an Application
        Insights component.
      operationId: Favorites_Get
      x-ms-examples:
        FavoriteGet:
          $ref: ./examples/FavoriteGet.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/FavoriteIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentFavorite'
          description: The favorite definition updated.
      description: >-
        Updates a favorite that has already been added to an Application
        Insights component.
      operationId: Favorites_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentFavorite'
        description: Properties that need to be specified to update the existing favorite.
        required: true
      x-ms-examples:
        FavoriteList:
          $ref: ./examples/FavoriteUpdate.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/FavoriteIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentFavorite'
          description: >-
            The newly created favorite that is associated to the Application
            Insights component.
      description: Adds a new favorites to an Application Insights component.
      operationId: Favorites_Add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentFavorite'
        description: >-
          Properties that need to be specified to create a new favorite and add
          it to an Application Insights component.
        required: true
      x-ms-examples:
        FavoriteAdd:
          $ref: ./examples/FavoriteAdd.json
components:
  parameters:
    CanFetchFavoriteContentParameter:
      description: >-
        Flag indicating whether or not to return the full content for each
        applicable favorite. If false, only return summary content for
        favorites.
      in: query
      name: canFetchContent
      required: false
      schema:
        type: boolean
      x-ms-parameter-location: method
    FavoriteIdParameter:
      description: >-
        The Id of a specific favorite defined in the Application Insights
        component
      in: path
      name: favoriteId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    FavoriteTypeParameter:
      description: The type of favorite. Value can be either shared or user.
      in: query
      name: favoriteType
      required: false
      schema:
        default: shared
        enum:
          - shared
          - user
        type: string
      x-ms-enum:
        modelAsString: false
        name: FavoriteType
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SourceTypeParameter:
      allowEmptyValue: true
      description: >-
        Source type of favorite to return. When left out, the source type
        defaults to 'other' (not present in this enum).
      in: query
      name: sourceType
      required: false
      schema:
        enum:
          - retention
          - notebook
          - sessions
          - events
          - userflows
          - funnel
          - impact
          - segmentation
        type: string
      x-ms-enum:
        modelAsString: true
        name: FavoriteSourceType
      x-ms-parameter-location: method
    TagsFilterParameter:
      description: Tags that must be present on each favorite returned.
      in: query
      name: tags
      required: false
      schema:
        items:
          type: string
        type: array
      style: form
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentFavorite:
      description: >-
        Properties that define a favorite that is associated to an Application
        Insights component.
      properties:
        Category:
          description: 'Favorite category, as defined by the user at creation time.'
          type: string
        Config:
          description: >-
            Configuration of this particular favorite, which are driven by the
            Azure portal UX. Configuration data is a string containing valid
            JSON
          type: string
        FavoriteId:
          description: Internally assigned unique id of the favorite definition.
          readOnly: true
          type: string
        FavoriteType:
          description: >-
            Enum indicating if this favorite definition is owned by a specific
            user or is shared between all users with access to the Application
            Insights component.
          enum:
            - shared
            - user
          type: string
          x-ms-enum:
            modelAsString: false
            name: FavoriteType
        IsGeneratedFromTemplate:
          description: >-
            Flag denoting wether or not this favorite was generated from a
            template.
          type: boolean
        Name:
          description: The user-defined name of the favorite.
          type: string
        SourceType:
          description: The source of the favorite definition.
          type: string
        Tags:
          description: >-
            A list of 0 or more tags that are associated with this favorite
            definition
          items:
            type: string
          type: array
        TimeModified:
          description: >-
            Date and time in UTC of the last modification that was made to this
            favorite definition.
          readOnly: true
          type: string
        UserId:
          description: Unique user id of the specific user that owns this favorite.
          readOnly: true
          type: string
        Version:
          description: >-
            This instance's version of the data model. This can change as new
            features are added that can be marked favorite. Current examples
            include MetricsExplorer (ME) and Search.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

