{
  "openapi": "3.0.0",
  "info": {
    "title": "TrafficManagerManagementClient",
    "version": "2018-02-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-02-01/trafficmanager.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Network/checkTrafficManagerNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficManagerNameAvailability"
                }
              }
            },
            "description": "The Traffic Manager Name Availability."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Checks the availability of a Traffic Manager Relative DNS name.",
        "operationId": "Profiles_CheckTrafficManagerRelativeDnsNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckTrafficManagerRelativeDnsNameAvailabilityParameters"
              }
            }
          },
          "description": "The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability operation.",
          "required": true
        },
        "x-ms-examples": {
          "NameAvailabilityTest_NameAvailablePOST21": {
            "$ref": "./examples/NameAvailabilityTest_NameAvailable-POST-example-21.json"
          },
          "NameAvailabilityTest_NameNotAvailablePOST23": {
            "$ref": "./examples/NameAvailabilityTest_NameNotAvailable-POST-example-23.json"
          }
        }
      }
    },
    "/providers/Microsoft.Network/trafficManagerGeographicHierarchies/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficManagerGeographicHierarchy"
                }
              }
            },
            "description": "The default Geographic Hierarchy."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "GeographicHierarchies"
        ],
        "description": "Gets the default Geographic Hierarchy used by the Geographic traffic routing method.",
        "operationId": "GeographicHierarchies_GetDefault",
        "x-ms-examples": {
          "GeographicHierarchy-GET-default": {
            "$ref": "./examples/GeographicHierarchy-GET-default.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResult"
                }
              }
            },
            "description": "The list of Traffic Manager profiles."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Lists all Traffic Manager profiles within a subscription.",
        "operationId": "Profiles_ListBySubscription",
        "x-ms-examples": {
          "ListBySubscription": {
            "$ref": "./examples/Profile-GET-BySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager profiles to be listed.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResult"
                }
              }
            },
            "description": "The list of Traffic Manager profiles."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Lists all Traffic Manager profiles within a resource group.",
        "operationId": "Profiles_ListByResourceGroup",
        "x-ms-examples": {
          "ListProfilesByResourceGroup": {
            "$ref": "./examples/Profile-GET-ByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager profile to be deleted.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile to be deleted.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteOperationResult"
                }
              }
            },
            "description": "The Traffic Manager Profile was deleted successfully."
          },
          "204": {
            "description": "The profile does not exist. It could have been deleted on a previous request."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Deletes a Traffic Manager profile.",
        "operationId": "Profiles_Delete",
        "x-ms-examples": {
          "Profile-DELETE": {
            "$ref": "./examples/Profile-DELETE.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager profile.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            },
            "description": "The Traffic Manager profile."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Gets a Traffic Manager profile.",
        "operationId": "Profiles_Get",
        "x-ms-examples": {
          "Profile-GET-WithEndpoints": {
            "$ref": "./examples/Profile-GET-WithEndpoints.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager profile.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            },
            "description": "The updated Traffic Manager profile."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Update a Traffic Manager profile.",
        "operationId": "Profiles_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Profile"
              }
            }
          },
          "description": "The Traffic Manager profile parameters supplied to the Update operation.",
          "required": true
        },
        "x-ms-examples": {
          "Profile-PATCH-MonitorConfig": {
            "$ref": "./examples/Profile-PATCH-MonitorConfig.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager profile.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            },
            "description": "The created or updated Traffic Manager profile."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            },
            "description": "The created or updated Traffic Manager profile."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Create or update a Traffic Manager profile.",
        "operationId": "Profiles_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Profile"
              }
            }
          },
          "description": "The Traffic Manager profile parameters supplied to the CreateOrUpdate operation.",
          "required": true
        },
        "x-ms-examples": {
          "Profile-PUT-NoEndpoints": {
            "$ref": "./examples/Profile-PUT-NoEndpoints.json"
          },
          "Profile-PUT-WithEndpoints": {
            "$ref": "./examples/Profile-PUT-WithEndpoints.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager endpoint to be deleted.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of the Traffic Manager endpoint to be deleted.",
            "in": "path",
            "name": "endpointType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager endpoint to be deleted.",
            "in": "path",
            "name": "endpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteOperationResult"
                }
              }
            },
            "description": "The Traffic Manager Endpoint was deleted successfully."
          },
          "204": {
            "description": "The Traffic Manager Endpoint does not exist. It could have been deleted on a previous request."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Endpoints"
        ],
        "description": "Deletes a Traffic Manager endpoint.",
        "operationId": "Endpoints_Delete",
        "x-ms-examples": {
          "Endpoint-DELETE-External": {
            "$ref": "./examples/Endpoint-DELETE-External.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager endpoint.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of the Traffic Manager endpoint.",
            "in": "path",
            "name": "endpointType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager endpoint.",
            "in": "path",
            "name": "endpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "The Traffic Manager endpoint."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Endpoints"
        ],
        "description": "Gets a Traffic Manager endpoint.",
        "operationId": "Endpoints_Get",
        "x-ms-examples": {
          "Endpoint-GET-External-WithGeoMapping": {
            "$ref": "./examples/Endpoint-GET-External-WithGeoMapping.json"
          },
          "Endpoint-GET-External-WithLocation": {
            "$ref": "./examples/Endpoint-GET-External-WithLocation.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager endpoint to be updated.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of the Traffic Manager endpoint to be updated.",
            "in": "path",
            "name": "endpointType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager endpoint to be updated.",
            "in": "path",
            "name": "endpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "The updated Traffic Manager endpoint."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Endpoints"
        ],
        "description": "Update a Traffic Manager endpoint.",
        "operationId": "Endpoints_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Endpoint"
              }
            }
          },
          "description": "The Traffic Manager endpoint parameters supplied to the Update operation.",
          "required": true
        },
        "x-ms-examples": {
          "Endpoint-PATCH-External-Target": {
            "$ref": "./examples/Endpoint-PATCH-External-Target.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group containing the Traffic Manager endpoint to be created or updated.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager profile.",
            "in": "path",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of the Traffic Manager endpoint to be created or updated.",
            "in": "path",
            "name": "endpointType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Traffic Manager endpoint to be created or updated.",
            "in": "path",
            "name": "endpointName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "The created or updated Endpoint."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "The created or updated Endpoint."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Default response. It will be deserialized as per the Error definition."
          }
        },
        "tags": [
          "Endpoints"
        ],
        "description": "Create or update a Traffic Manager endpoint.",
        "operationId": "Endpoints_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Endpoint"
              }
            }
          },
          "description": "The Traffic Manager endpoint parameters supplied to the CreateOrUpdate operation.",
          "required": true
        },
        "x-ms-examples": {
          "Endpoint-PUT-External-WithGeoMapping": {
            "$ref": "./examples/Endpoint-PUT-External-WithGeoMapping.json"
          },
          "Endpoint-PUT-External-WithLocation": {
            "$ref": "./examples/Endpoint-PUT-External-WithLocation.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CheckTrafficManagerRelativeDnsNameAvailabilityParameters": {
        "description": "Parameters supplied to check Traffic Manager name operation.",
        "properties": {
          "name": {
            "description": "The name of the resource.",
            "type": "string"
          },
          "type": {
            "description": "The type of the resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudError": {
        "description": "An error returned by the Azure Resource Manager",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody",
            "description": "The content of the error."
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "CloudErrorBody": {
        "description": "The content of an error returned by the Azure Resource Manager",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string"
          },
          "details": {
            "description": "Error details",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "type": "array"
          },
          "message": {
            "description": "Error message",
            "type": "string"
          },
          "target": {
            "description": "Error target",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "DeleteOperationResult": {
        "description": "The result of the request or operation.",
        "properties": {
          "boolean": {
            "description": "The result of the operation or request.",
            "readOnly": true,
            "type": "boolean",
            "x-ms-client-name": "operationResult"
          }
        },
        "type": "object"
      },
      "DnsConfig": {
        "description": "Class containing DNS settings in a Traffic Manager profile.",
        "properties": {
          "fqdn": {
            "description": "The fully-qualified domain name (FQDN) of the Traffic Manager profile. This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager.",
            "readOnly": true,
            "type": "string"
          },
          "relativeName": {
            "description": "The relative DNS name provided by this Traffic Manager profile. This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile.",
            "type": "string"
          },
          "ttl": {
            "description": "The DNS Time-To-Live (TTL), in seconds. This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Endpoint": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "Class representing a Traffic Manager endpoint.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/EndpointProperties",
            "description": "The properties of the Traffic Manager endpoint.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "EndpointProperties": {
        "description": "Class representing a Traffic Manager endpoint properties.",
        "properties": {
          "endpointLocation": {
            "description": "Specifies the location of the external or nested endpoints when using the \u2018Performance\u2019 traffic routing method.",
            "type": "string"
          },
          "endpointMonitorStatus": {
            "description": "The monitoring status of the endpoint.",
            "enum": [
              "CheckingEndpoint",
              "Online",
              "Degraded",
              "Disabled",
              "Inactive",
              "Stopped"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "EndpointMonitorStatus"
            }
          },
          "endpointStatus": {
            "description": "The status of the endpoint. If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "EndpointStatus"
            }
          },
          "geoMapping": {
            "description": "The list of countries/regions mapped to this endpoint when using the \u2018Geographic\u2019 traffic routing method. Please consult Traffic Manager Geographic documentation for a full list of accepted values.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "minChildEndpoints": {
            "description": "The minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'.",
            "format": "int64",
            "type": "integer"
          },
          "priority": {
            "description": "The priority of this endpoint when using the \u2018Priority\u2019 traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value.",
            "format": "int64",
            "type": "integer"
          },
          "target": {
            "description": "The fully-qualified DNS name of the endpoint. Traffic Manager returns this value in DNS responses to direct traffic to this endpoint.",
            "type": "string"
          },
          "targetResourceId": {
            "description": "The Azure Resource URI of the of the endpoint. Not applicable to endpoints of type 'ExternalEndpoints'.",
            "type": "string"
          },
          "weight": {
            "description": "The weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "GeographicHierarchyProperties": {
        "description": "Class representing the properties of the Geographic hierarchy used with the Geographic traffic routing method.",
        "properties": {
          "geographicHierarchy": {
            "$ref": "#/components/schemas/Region",
            "description": "The region at the root of the hierarchy from all the regions in the hierarchy can be retrieved."
          }
        },
        "type": "object"
      },
      "MonitorConfig": {
        "description": "Class containing endpoint monitoring settings in a Traffic Manager profile.",
        "properties": {
          "intervalInSeconds": {
            "description": "The monitor interval for endpoints in this profile. This is the interval at which Traffic Manager will check the health of each endpoint in this profile.",
            "format": "int64",
            "type": "integer"
          },
          "path": {
            "description": "The path relative to the endpoint domain name used to probe for endpoint health.",
            "type": "string"
          },
          "port": {
            "description": "The TCP port used to probe for endpoint health.",
            "format": "int64",
            "type": "integer"
          },
          "profileMonitorStatus": {
            "description": "The profile-level monitoring status of the Traffic Manager profile.",
            "enum": [
              "CheckingEndpoints",
              "Online",
              "Degraded",
              "Disabled",
              "Inactive"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProfileMonitorStatus"
            }
          },
          "protocol": {
            "description": "The protocol (HTTP, HTTPS or TCP) used to probe for endpoint health.",
            "enum": [
              "HTTP",
              "HTTPS",
              "TCP"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "MonitorProtocol"
            }
          },
          "timeoutInSeconds": {
            "description": "The monitor timeout for endpoints in this profile. This is the time that Traffic Manager allows endpoints in this profile to response to the health check.",
            "format": "int64",
            "type": "integer"
          },
          "toleratedNumberOfFailures": {
            "description": "The number of consecutive failed health check that Traffic Manager tolerates before declaring an endpoint in this profile Degraded after the next failed health check.",
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Profile": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TrackedResource"
          }
        ],
        "description": "Class representing a Traffic Manager profile.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ProfileProperties",
            "description": "The properties of the Traffic Manager profile.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ProfileListResult": {
        "description": "The list Traffic Manager profiles operation response.",
        "properties": {
          "value": {
            "description": "Gets the list of Traffic manager profiles.",
            "items": {
              "$ref": "#/components/schemas/Profile"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProfileProperties": {
        "description": "Class representing the Traffic Manager profile properties.",
        "properties": {
          "dnsConfig": {
            "$ref": "#/components/schemas/DnsConfig",
            "description": "The DNS settings of the Traffic Manager profile."
          },
          "endpoints": {
            "description": "The list of endpoints in the Traffic Manager profile.",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            },
            "type": "array"
          },
          "monitorConfig": {
            "$ref": "#/components/schemas/MonitorConfig",
            "description": "The endpoint monitoring settings of the Traffic Manager profile."
          },
          "profileStatus": {
            "description": "The status of the Traffic Manager profile.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProfileStatus"
            }
          },
          "trafficRoutingMethod": {
            "description": "The traffic routing method of the Traffic Manager profile.",
            "enum": [
              "Performance",
              "Priority",
              "Weighted",
              "Geographic"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "TrafficRoutingMethod"
            }
          },
          "trafficViewEnrollmentStatus": {
            "description": "Indicates whether Traffic View is 'Enabled' or 'Disabled' for the Traffic Manager profile. Null, indicates 'Disabled'. Enabling this feature will increase the cost of the Traffic Manage profile.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "TrafficViewEnrollmentStatus"
            }
          }
        },
        "type": "object"
      },
      "ProxyResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
      },
      "Region": {
        "description": "Class representing a region in the Geographic hierarchy used with the Geographic traffic routing method.",
        "properties": {
          "code": {
            "description": "The code of the region",
            "type": "string"
          },
          "name": {
            "description": "The name of the region",
            "type": "string"
          },
          "regions": {
            "description": "The list of Regions grouped under this Region in the Geographic Hierarchy.",
            "items": {
              "$ref": "#/components/schemas/Region"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "The core properties of ARM resources",
        "properties": {
          "id": {
            "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the resource",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "TrackedResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The resource model definition for a ARM tracked top level resource",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "type": "object",
            "x-ms-mutability": [
              "read",
              "create",
              "update"
            ]
          },
          "location": {
            "description": "The Azure Region where the resource lives",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          }
        },
        "type": "object"
      },
      "TrafficManagerGeographicHierarchy": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "Class representing the Geographic hierarchy used with the Geographic traffic routing method.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/GeographicHierarchyProperties",
            "description": "The properties of the Geographic Hierarchy resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "TrafficManagerNameAvailability": {
        "description": "Class representing a Traffic Manager Name Availability response.",
        "properties": {
          "message": {
            "description": "Descriptive message that explains why the name is not available, when applicable.",
            "type": "string"
          },
          "name": {
            "description": "The relative name.",
            "type": "string"
          },
          "nameAvailable": {
            "description": "Describes whether the relative name is available or not.",
            "type": "boolean"
          },
          "reason": {
            "description": "The reason why the name is not available, when applicable.",
            "type": "string"
          },
          "type": {
            "description": "Traffic Manager profile resource type.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}