{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these REST APIs for performing operations on Backend entity in Azure API Management deployment. The Backend entity in API Management represents a backend service that is configured to skip certification chain validation when using a self-signed certificate to test mutual certificate authentication.",
    "title": "ApiManagementClient",
    "version": "2018-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimbackends.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "description": "| Field | Supported operators    | Supported functions                         |\n|-------|------------------------|---------------------------------------------|\n| id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| host  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/TopQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SkipQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendCollection"
                }
              }
            },
            "description": "Lists a collection of Backend entities."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Lists a collection of backends in the specified service instance.",
        "operationId": "Backend_ListByService",
        "x-ms-examples": {
          "ApiManagementListBackends": {
            "$ref": "./examples/ApiManagementListBackends.json"
          }
        },
        "x-ms-odata": "#/components/schemas/BackendContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendid}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/BackendIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchRequiredParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The backend was successfully deleted."
          },
          "204": {
            "description": "The backend was successfully deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Deletes the specified backend.",
        "operationId": "Backend_Delete",
        "x-ms-examples": {
          "ApiManagementDeleteBackend": {
            "$ref": "./examples/ApiManagementDeleteBackend.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/BackendIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendContract"
                }
              }
            },
            "description": "The response body contains the specified Backend entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Gets the details of the backend specified by its identifier.",
        "operationId": "Backend_Get",
        "x-ms-examples": {
          "ApiManagementGetBackend": {
            "$ref": "./examples/ApiManagementGetBackend.json"
          }
        }
      },
      "head": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/BackendIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Specified backend entity exists and current entity state version is present in the ETag header.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Gets the entity state (Etag) version of the backend specified by its identifier.",
        "operationId": "Backend_GetEntityTag",
        "x-ms-examples": {
          "ApiManagementHeadBackend": {
            "$ref": "./examples/ApiManagementHeadBackend.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/BackendIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchRequiredParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The existing backend was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Updates an existing backend.",
        "operationId": "Backend_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendUpdateParameters"
              }
            }
          },
          "description": "Update parameters.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementUpdateBackend": {
            "$ref": "./examples/ApiManagementUpdateBackend.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/BackendIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchOptionalParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendContract"
                }
              }
            },
            "description": "The existing backend was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendContract"
                }
              }
            },
            "description": "Backend was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Creates or Updates a backend.",
        "operationId": "Backend_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendContract"
              }
            }
          },
          "description": "Create parameters.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementCreateBackendProxyBackend": {
            "$ref": "./examples/ApiManagementCreateBackendProxyBackend.json"
          },
          "ApiManagementCreateBackendServiceFabric": {
            "$ref": "./examples/ApiManagementCreateBackendServiceFabric.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendid}/reconnect": {
      "post": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/BackendIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Reconnect request accepted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Backends"
        ],
        "description": "Notifies the APIM proxy to create a new connection to the backend after the specified timeout. If no timeout was specified, timeout of 2 minutes is used.",
        "operationId": "Backend_Reconnect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendReconnectContract"
              }
            }
          },
          "description": "Reconnect request parameters."
        },
        "x-ms-examples": {
          "ApiManagementBackendReconnect": {
            "$ref": "./examples/ApiManagementBackendReconnect.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "BackendIdParameter": {
        "description": "Identifier of the Backend entity. Must be unique in the current API Management service instance.",
        "in": "path",
        "name": "backendid",
        "required": true,
        "schema": {
          "maxLength": 80,
          "minLength": 1,
          "pattern": "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "BackendAuthorizationHeaderCredentials": {
        "description": "Authorization header information.",
        "properties": {
          "parameter": {
            "description": "Authentication Parameter value.",
            "maxLength": 300,
            "minLength": 1,
            "type": "string"
          },
          "scheme": {
            "description": "Authentication Scheme name.",
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "scheme",
          "parameter"
        ],
        "type": "object"
      },
      "BackendBaseParameters": {
        "description": "Backend entity base Parameter set.",
        "properties": {
          "credentials": {
            "$ref": "#/components/schemas/BackendCredentialsContract",
            "description": "Backend Credentials Contract Properties"
          },
          "description": {
            "description": "Backend Description.",
            "maxLength": 2000,
            "minLength": 1,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/BackendProperties",
            "description": "Backend Properties contract"
          },
          "proxy": {
            "$ref": "#/components/schemas/BackendProxyContract",
            "description": "Backend Proxy Contract Properties"
          },
          "resourceId": {
            "description": "Management Uri of the Resource in External System. This url can be the Arm Resource Id of Logic Apps, Function Apps or Api Apps.",
            "maxLength": 2000,
            "minLength": 1,
            "type": "string"
          },
          "title": {
            "description": "Backend Title.",
            "maxLength": 300,
            "minLength": 1,
            "type": "string"
          },
          "tls": {
            "$ref": "#/components/schemas/BackendTlsProperties",
            "description": "Backend TLS Properties"
          }
        },
        "type": "object"
      },
      "BackendCollection": {
        "description": "Paged Backend list representation.",
        "properties": {
          "nextLink": {
            "description": "Next page link if any.",
            "type": "string"
          },
          "value": {
            "description": "Backend values.",
            "items": {
              "$ref": "#/components/schemas/BackendContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BackendContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Backend details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BackendContractProperties",
            "description": "Backend entity contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BackendContractProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BackendBaseParameters"
          }
        ],
        "description": "Parameters supplied to the Create Backend operation.",
        "properties": {
          "protocol": {
            "description": "Backend communication protocol.",
            "enum": [
              "http",
              "soap"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "BackendProtocol",
              "values": [
                {
                  "description": "The Backend is a RESTful service.",
                  "value": "http"
                },
                {
                  "description": "The Backend is a SOAP service.",
                  "value": "soap"
                }
              ]
            }
          },
          "url": {
            "description": "Runtime Url of the Backend.",
            "maxLength": 2000,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "url",
          "protocol"
        ],
        "type": "object"
      },
      "BackendCredentialsContract": {
        "description": "Details of the Credentials used to connect to Backend.",
        "properties": {
          "authorization": {
            "$ref": "#/components/schemas/BackendAuthorizationHeaderCredentials",
            "description": "Authorization header authentication"
          },
          "certificate": {
            "description": "List of Client Certificate Thumbprint.",
            "items": {
              "type": "string"
            },
            "maxItems": 32,
            "type": "array"
          },
          "header": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "description": "Header Parameter description.",
            "type": "object"
          },
          "query": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "description": "Query Parameter description.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "BackendProperties": {
        "description": "Properties specific to the Backend Type.",
        "properties": {
          "serviceFabricCluster": {
            "$ref": "#/components/schemas/BackendServiceFabricClusterProperties",
            "description": "Backend Service Fabric Cluster Properties"
          }
        },
        "type": "object"
      },
      "BackendProxyContract": {
        "externalDocs": {
          "description": "Backend entity uses these details to connect to a WebProxy.",
          "url": "https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx"
        },
        "description": "Details of the Backend WebProxy Server to use in the Request to Backend.",
        "properties": {
          "password": {
            "description": "Password to connect to the WebProxy Server",
            "type": "string"
          },
          "url": {
            "description": "WebProxy Server AbsoluteUri property which includes the entire URI stored in the Uri instance, including all fragments and query strings.",
            "maxLength": 2000,
            "minLength": 1,
            "type": "string"
          },
          "username": {
            "description": "Username to connect to the WebProxy server",
            "type": "string"
          }
        },
        "required": [
          "url"
        ],
        "type": "object"
      },
      "BackendReconnectContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "Reconnect request parameters.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BackendReconnectProperties",
            "description": "Reconnect request properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BackendReconnectProperties": {
        "description": "Properties to control reconnect requests.",
        "properties": {
          "after": {
            "description": "Duration in ISO8601 format after which reconnect will be initiated. Minimum duration of the Reconnect is PT2M.",
            "format": "duration",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackendServiceFabricClusterProperties": {
        "description": "Properties of the Service Fabric Type Backend.",
        "properties": {
          "clientCertificatethumbprint": {
            "description": "The client certificate thumbprint for the management endpoint.",
            "type": "string"
          },
          "managementEndpoints": {
            "description": "The cluster management endpoint.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "maxPartitionResolutionRetries": {
            "description": "Maximum number of retries while attempting resolve the partition.",
            "format": "int32",
            "type": "integer"
          },
          "serverCertificateThumbprints": {
            "description": "Thumbprints of certificates cluster management service uses for tls communication",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "serverX509Names": {
            "description": "Server X509 Certificate Names Collection",
            "items": {
              "$ref": "#/components/schemas/X509CertificateName"
            },
            "type": "array"
          }
        },
        "required": [
          "managementEndpoints",
          "clientCertificatethumbprint"
        ],
        "type": "object"
      },
      "BackendTlsProperties": {
        "description": "Properties controlling TLS Certificate Validation.",
        "properties": {
          "validateCertificateChain": {
            "default": true,
            "description": "Flag indicating whether SSL certificate chain validation should be done when using self-signed certificates for this backend host.",
            "type": "boolean"
          },
          "validateCertificateName": {
            "default": true,
            "description": "Flag indicating whether SSL certificate name validation should be done when using self-signed certificates for this backend host.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "BackendUpdateParameterProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BackendBaseParameters"
          }
        ],
        "description": "Parameters supplied to the Update Backend operation.",
        "properties": {
          "protocol": {
            "description": "Backend communication protocol.",
            "enum": [
              "http",
              "soap"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "BackendProtocol",
              "values": [
                {
                  "description": "The Backend is a RESTful service.",
                  "value": "http"
                },
                {
                  "description": "The Backend is a SOAP service.",
                  "value": "soap"
                }
              ]
            }
          },
          "url": {
            "description": "Runtime Url of the Backend.",
            "maxLength": 2000,
            "minLength": 1,
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackendUpdateParameters": {
        "description": "Backend update parameters.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BackendUpdateParameterProperties",
            "description": "Backend entity update contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "X509CertificateName": {
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security"
        },
        "description": "Properties of server X509Names.",
        "properties": {
          "issuerCertificateThumbprint": {
            "description": "Thumbprint for the Issuer of the Certificate.",
            "type": "string"
          },
          "name": {
            "description": "Common Name of the Certificate.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}