openapi: 3.0.0
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModelList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalytics_GetAll
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalyticsList_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalytics_GetDefault
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAnalytics_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
        - description: The number of results to retrieve.
          in: query
          name: $top
          required: false
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedAlertList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalyticsAggregatedAlerts_List
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlertList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
        - $ref: '#/components/parameters/AggregatedAlertName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedAlert'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalyticsAggregatedAlert_Get
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityAggregatedAlert_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedAlerts/{aggregatedAlertName}/dismiss':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
        - $ref: '#/components/parameters/AggregatedAlertName'
      responses:
        '200':
          description: Dismissed
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalyticsAggregatedAlert_Dismiss
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/PostIoTSecuritySolutionsSecurityAggregatedAlertDismiss_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
        - description: The number of results to retrieve.
          in: query
          name: $top
          required: false
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedRecommendationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalyticsRecommendations_List
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendationList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}/analyticsModels/default/aggregatedRecommendations/{aggregatedRecommendationName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - $ref: '#/components/parameters/SolutionName'
        - $ref: '#/components/parameters/AggregatedRecommendationName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IoTSecurityAggregatedRecommendation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - IoT Security Solutions Analytics
      description: Security Analytics of a security solution
      operationId: IoTSecuritySolutionsAnalyticsRecommendation_Get
      x-ms-examples:
        Get Security Solutions Analytics:
          $ref: >-
            ./examples/IoTSecuritySolutionsAnalytics/GetIoTSecuritySolutionsSecurityRecommendation_example.json
components:
  parameters:
    AggregatedAlertName:
      description: Identifier of the aggregated alert
      in: path
      name: aggregatedAlertName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    AggregatedRecommendationName:
      description: Identifier of the aggregated recommendation
      in: path
      name: aggregatedRecommendationName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SolutionName:
      description: The solution manager name
      in: path
      name: solutionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    IoTSecurityAggregatedAlert:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
        - $ref: '#/components/schemas/TagsResource'
      description: Security Solution Aggregated Alert information
      properties:
        properties:
          $ref: '#/components/schemas/IoTSecurityAggregatedAlertProperties'
          description: Security Solution  Aggregated Alert data
          x-ms-client-flatten: true
      type: object
    IoTSecurityAggregatedAlertList:
      description: List of IoT aggregated security alerts
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of aggregated alerts data
          items:
            $ref: '#/components/schemas/IoTSecurityAggregatedAlert'
          type: array
      required:
        - value
      type: object
    IoTSecurityAggregatedAlertProperties:
      description: Security Solution Aggregated Alert data
      properties:
        actionTaken:
          description: >-
            The action that was taken as a response to the alert (Active,
            Blocked etc.)
          readOnly: true
          type: string
        aggregatedDateUtc:
          description: The date the incidents were detected by the vendor
          format: date
          readOnly: true
          type: string
        alertDisplayName:
          description: Display name of the alert type
          readOnly: true
          type: string
        alertType:
          description: Name of the alert type
          readOnly: true
          type: string
        count:
          description: Occurrence number of the alert within the aggregated date
          readOnly: true
          type: integer
        description:
          description: Description of the incident and what it means
          readOnly: true
          type: string
        effectedResourceType:
          description: Azure resource ID of the resource that got the alerts
          readOnly: true
          type: string
        logAnalyticsQuery:
          description: query in log analytics to get the list of affected devices/alerts
          readOnly: true
          type: string
        remediationSteps:
          description: Recommended steps for remediation
          readOnly: true
          type: string
        reportedSeverity:
          description: Estimated severity of this alert
          enum:
            - Informational
            - Low
            - Medium
            - High
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
              - value: Informational
              - value: Low
              - value: Medium
              - value: High
        systemSource:
          description: 'The type of the alerted resource (Azure, Non-Azure)'
          readOnly: true
          type: string
        vendorName:
          description: Name of the vendor that discovered the incident
          readOnly: true
          type: string
      type: object
    IoTSecurityAggregatedRecommendation:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
        - $ref: '#/components/schemas/TagsResource'
      description: Security Solution Recommendation Information
      properties:
        properties:
          $ref: '#/components/schemas/IoTSecurityAggregatedRecommendationProperties'
          description: Security Solution data
          x-ms-client-flatten: true
      type: object
    IoTSecurityAggregatedRecommendationList:
      description: List of IoT aggregated security recommendations
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of aggregated alerts data
          items:
            $ref: '#/components/schemas/IoTSecurityAggregatedRecommendation'
          type: array
      required:
        - value
      type: object
    IoTSecurityAggregatedRecommendationProperties:
      description: Security Solution Recommendation Information
      properties:
        description:
          description: Description of the incident and what it means
          readOnly: true
          type: string
        detectedBy:
          description: Name of the vendor that discovered the issue
          readOnly: true
          type: string
        healthyDevices:
          description: the number of the healthy devices within the solution
          readOnly: true
          type: integer
        logAnalyticsQuery:
          description: query in log analytics to get the list of affected devices/alerts
          readOnly: true
          type: string
        recommendationDisplayName:
          description: Display name of the recommendation type.
          readOnly: true
          type: string
        recommendationName:
          description: Name of the recommendation
          type: string
        recommendationTypeId:
          description: The recommendation-type GUID.
          readOnly: true
          type: string
        remediationSteps:
          description: Recommended steps for remediation
          readOnly: true
          type: string
        reportedSeverity:
          description: Estimated severity of this recommendation
          enum:
            - Informational
            - Low
            - Medium
            - High
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
              - value: Informational
              - value: Low
              - value: Medium
              - value: High
        unhealthyDeviceCount:
          description: the number of the unhealthy devices within the solution
          readOnly: true
          type: integer
      type: object
    IoTSecurityAlertedDevice:
      description: >-
        Statistic information about the number of alerts per device during the
        last period
      properties:
        alertsCount:
          description: the number of alerts raised for this device
          readOnly: true
          type: integer
        deviceId:
          description: Name of the alert type
          readOnly: true
          type: string
      type: object
    IoTSecurityAlertedDevicesList:
      description: List of devices with the count of raised alerts
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of aggregated alerts data
          items:
            $ref: '#/components/schemas/IoTSecurityAlertedDevice'
          type: array
      required:
        - value
      type: object
    IoTSecurityDeviceAlert:
      description: >-
        Statistic information about the number of alerts per alert type during
        the last period
      properties:
        alertDisplayName:
          description: Display name of the alert
          readOnly: true
          type: string
        alertsCount:
          description: the number of alerts raised for this alert type
          readOnly: true
          type: integer
        reportedSeverity:
          description: Estimated severity of this alert
          enum:
            - Informational
            - Low
            - Medium
            - High
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
              - value: Informational
              - value: Low
              - value: Medium
              - value: High
      type: object
    IoTSecurityDeviceAlertsList:
      description: List of alerts with the count of raised alerts
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of top alerts data
          items:
            $ref: '#/components/schemas/IoTSecurityDeviceAlert'
          type: array
      required:
        - value
      type: object
    IoTSecurityDeviceRecommendation:
      description: >-
        Statistic information about the number of recommendations per
        recommendation type
      properties:
        devicesCount:
          description: the number of device with this recommendation
          readOnly: true
          type: integer
        recommendationDisplayName:
          description: Display name of the recommendation
          readOnly: true
          type: string
        reportedSeverity:
          description: Estimated severity of this recommendation
          enum:
            - Informational
            - Low
            - Medium
            - High
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: reportedSeverity
            values:
              - value: Informational
              - value: Low
              - value: Medium
              - value: High
      type: object
    IoTSecurityDeviceRecommendationsList:
      description: List of recommendations with the count of devices
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of aggregated recommendation data
          items:
            $ref: '#/components/schemas/IoTSecurityDeviceRecommendation'
          type: array
      required:
        - value
      type: object
    IoTSecuritySolutionAnalyticsModel:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Security Analytics of a security solution
      properties:
        properties:
          $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModelProperties'
          description: Security Solution  Aggregated Alert data
          x-ms-client-flatten: true
      type: object
    IoTSecuritySolutionAnalyticsModelList:
      description: List of Security Analytics of a security solution
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of Security Analytics of a security solution
          items:
            $ref: '#/components/schemas/IoTSecuritySolutionAnalyticsModel'
          type: array
      required:
        - value
      type: object
    IoTSecuritySolutionAnalyticsModelProperties:
      description: Security Analytics of a security solution properties
      properties:
        devicesMetrics:
          description: The list of devices metrics by the aggregated date.
          items:
            properties:
              date:
                description: the date of the metrics
                format: date-time
                type: string
              devicesMetrics:
                $ref: '#/components/schemas/IoTSeverityMetrics'
                description: devices alerts count by severity.
                type: object
            type: object
          readOnly: true
          type: array
        metrics:
          $ref: '#/components/schemas/IoTSeverityMetrics'
          description: Security Analytics of a security solution
          readOnly: true
          type: object
        mostPrevalentDeviceAlerts:
          $ref: '#/components/schemas/IoTSecurityDeviceAlertsList'
          description: The list of most prevalent 3 alerts.
          type: object
        mostPrevalentDeviceRecommendations:
          $ref: '#/components/schemas/IoTSecurityDeviceRecommendationsList'
          description: The list of most prevalent 3 recommendations.
          type: object
        topAlertedDevices:
          $ref: '#/components/schemas/IoTSecurityAlertedDevicesList'
          description: The list of top 3 devices with the most attacked.
          type: object
        unhealthyDeviceCount:
          description: number of unhealthy devices
          readOnly: true
          type: integer
      type: object
    IoTSeverityMetrics:
      description: Severity metrics
      properties:
        high:
          description: count of high severity items
          type: integer
        low:
          description: count of low severity items
          type: integer
        medium:
          description: count of medium severity items
          type: integer
      type: object
    TagsResource:
      description: >-
        A container holding only the Tags for a resource, allowing the user to
        update the tags.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

