openapi: 3.0.0
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: '2019-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans':
    get:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionPlanList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ActionPlans
      description: Gets the list of action plans
      operationId: ActionPlans_List
      x-ms-examples:
        Gets the list of action plans:
          $ref: ./examples/ActionPlan/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}':
    get:
      parameters:
        - $ref: Deployment.json#/components/parameters/SubscriptionIdParameter
        - $ref: '#/components/parameters/PlanIdParameter'
        - $ref: Deployment.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionPlanResourceEntity'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - ActionPlans
      description: Gets the specified action plan
      operationId: ActionPlans_Get
      x-ms-examples:
        Gets the specified action plan:
          $ref: ./examples/ActionPlan/Get.json
components:
  parameters:
    PlanIdParameter:
      description: Identifier of the action plan.
      in: path
      name: planId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ActionPlanAdminProperties:
      description: Action Plan Properties
      properties:
        parameters:
          $ref: Deployment.json#/definitions/JTokenString
          description: The deployment parameters in JToken format
          type: object
        actionPlanInstanceId:
          description: Action plan instance identifier
          type: string
        actionPlanUri:
          description: Action plan uri
          type: string
        blobContainerName:
          description: Blob container name storing the deployment data
          type: string
        endTime:
          description: The deployment end time
          format: date-time
          type: string
        error:
          $ref: Deployment.json#/definitions/ExtendedErrorInfo
          description: Error Information
        provisioningState:
          description: The provisioning state
          type: string
        resourceGroupName:
          description: The target resource group name
          type: string
        startTime:
          description: The deployment start time
          format: date-time
          type: string
        subscriptionId:
          description: The target subscription identifier
          type: string
      type: object
    ActionPlanList:
      description: List of action plans
      properties:
        nextLink:
          description: Continuation token
          type: string
        value:
          description: Array of action plans.
          items:
            $ref: '#/components/schemas/ActionPlanResourceEntity'
          type: array
      type: object
    ActionPlanResourceEntity:
      allOf:
        - $ref: Deployment.json#/definitions/Resource
      description: Action Plan Resource Entity
      properties:
        eTag:
          description: Entity tag of the resource
          type: string
        properties:
          $ref: '#/components/schemas/ActionPlanAdminProperties'
          description: Action Plan Properties
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

