openapi: 3.0.0
info:
  description: Edge gateway pool operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeGatewayPoolList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - EdgeGatewayPools
      description: Returns a list of all edge gateway pool objects at a location.
      operationId: EdgeGatewayPools_List
      x-ms-examples:
        Returns a list of all edge gateway pool objects at a location.:
          $ref: ./examples/EdgeGatewayPool/List.json
      x-ms-odata: '#/components/schemas/EdgeGatewayPool'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools/{edgeGatewayPool}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/EdgeGatewayPoolParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeGatewayPool'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - EdgeGatewayPools
      description: Returns the requested edge gateway pool object.
      operationId: EdgeGatewayPools_Get
      x-ms-examples:
        Returns the requested edge gateway pool object.:
          $ref: ./examples/EdgeGatewayPool/Get.json
components:
  parameters:
    EdgeGatewayPoolParameter:
      description: Name of the edge gateway pool.
      in: path
      name: edgeGatewayPool
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    EdgeGatewayPool:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        This object represents an edge gateway pool, which contains a list of
        gateways.
      properties:
        properties:
          $ref: '#/components/schemas/EdgeGatewayPoolModel'
          description: The properties of an edge gateway pool.
          x-ms-client-flatten: true
      type: object
    EdgeGatewayPoolList:
      description: A pageable list of edge gateway pools objects.
      properties:
        nextLink:
          description: The URI to the next page.
          type: string
        value:
          description: List of edge gateway pool objects.
          items:
            $ref: '#/components/schemas/EdgeGatewayPool'
          type: array
      type: object
    EdgeGatewayPoolModel:
      description: An object that contains the properties of an edge gateway pool.
      properties:
        edgeGateways:
          description: List of the edge gateways in the pool.
          items:
            type: string
          type: array
        gatewayCapacityKiloBitsPerSecond:
          description: Gateway capacity in kilobits per second.
          format: int32
          type: integer
        gatewayType:
          description: 'The gateway type, for example, S2sIPsec, S2sGre, and so on.'
          type: string
        greVipSubnet:
          description: The GRE VIP subnet.
          type: string
        numberOfGateways:
          description: The number of gateways in the pool.
          format: int32
          type: integer
        publicIpAddress:
          description: The public IP address.
          type: string
        redundantGatewayCount:
          description: The number of redundant gateways.
          format: int64
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

