{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure Management Groups API enables consolidation of multiple \nsubscriptions/resources into an organizational hierarchy and centrally \nmanage access control, policies, alerting and reporting for those resources.\n",
    "title": "Management Groups API",
    "version": "2017-11-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managementgroups/resource-manager/Microsoft.Management/preview/2017-11-01-preview/management.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/managementGroups": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          },
          {
            "description": "Page continuation token is only used if a previous operation returned a partial result. \nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.\n",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementGroupListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "List management groups for the authenticated user.\n",
        "operationId": "ManagementGroups_List",
        "x-ms-examples": {
          "GetManagementGroups": {
            "$ref": "./examples/listManagementGroups.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - management group deleted successfully"
          },
          "204": {
            "description": "NoContent - management group does not exist"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "Delete management group.\nIf a management group contains child resources, the request will fail.\n",
        "operationId": "ManagementGroups_Delete",
        "x-ms-examples": {
          "DeleteManagementGroup": {
            "$ref": "./examples/deleteManagementGroup.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ExpandParameter"
          },
          {
            "$ref": "#/components/parameters/RecurseParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementGroup"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "Get the details of the management group.\n",
        "operationId": "ManagementGroups_Get",
        "x-ms-examples": {
          "GetManagementGroup": {
            "$ref": "./examples/getManagementGroup.json"
          },
          "GetManagementGroupWithExpand": {
            "$ref": "./examples/getManagementGroupWithExpand.json"
          },
          "GetManagementGroupsWithExpandAndRecurse": {
            "$ref": "./examples/getManagementGroupWithExpandAndRecurse.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementGroup"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "Update a management group.\n",
        "operationId": "ManagementGroups_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateManagementGroupRequest"
              }
            }
          },
          "description": "Management group creation parameters.",
          "required": true
        },
        "x-ms-examples": {
          "PatchManagementGroup": {
            "$ref": "./examples/updateManagementGroup.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementGroup"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "Create or update a management group.\nIf a management group is already created and a subsequent create request is issued with different properties, the management group properties will be updated.\n",
        "operationId": "ManagementGroups_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateManagementGroupRequest"
              }
            }
          },
          "description": "Management group creation parameters.",
          "required": true
        },
        "x-ms-examples": {
          "PutManagementGroup": {
            "$ref": "./examples/createOrUpdateManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content - subscription deleted successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "De-associates subscription from the management group.\n",
        "operationId": "ManagementGroupSubscriptions_Delete",
        "x-ms-examples": {
          "DeleteSubscriptionFromManagementGroup": {
            "$ref": "./examples/removeManagementGroupSubscription.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/CacheControlHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "Associates existing subscription with the management group.\n",
        "operationId": "ManagementGroupSubscriptions_Create",
        "x-ms-examples": {
          "AddSubscriptionToManagementGroup": {
            "$ref": "./examples/addManagementGroupSubscription.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Management REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Version of the API to be used with the client request. The current version is 2017-11-01-preview.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "CacheControlHeader": {
        "description": "Indicates that the request shouldn't utilize any caches.",
        "in": "header",
        "name": "Cache-Control",
        "schema": {
          "default": "no-cache",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ExpandParameter": {
        "description": "The $expand=children query string parameter allows clients to request inclusion of children in the response payload.",
        "in": "query",
        "name": "$expand",
        "required": false,
        "schema": {
          "enum": [
            "children"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "GroupIdParameter": {
        "description": "Management Group ID.",
        "in": "path",
        "name": "groupId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "RecurseParameter": {
        "description": "The $recurse=true query string parameter allows clients to request inclusion of entire hierarchy in the response payload.",
        "in": "query",
        "name": "$recurse",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "CreateManagementGroupRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateManagementGroupRequest"
            }
          }
        },
        "description": "Management group creation parameters.",
        "required": true
      }
    },
    "schemas": {
      "CreateManagementGroupRequest": {
        "description": "Management group creation parameters.",
        "properties": {
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "parentId": {
            "description": "(Optional) The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "One of a server-defined set of error codes.",
            "type": "string"
          },
          "message": {
            "description": "A human-readable representation of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "The error object.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "title": "Error"
          }
        },
        "type": "object"
      },
      "ManagementGroup": {
        "description": "The management group details.",
        "properties": {
          "id": {
            "description": "The fully qualified ID for the management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the management group. For example, 00000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementGroupProperties",
            "title": "Properties",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource.  For example, /providers/Microsoft.Management/managementGroups",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ManagementGroupChildInfo": {
        "description": "The child information of a management group.",
        "properties": {
          "childId": {
            "description": "The fully qualified ID for the child resource (management group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
            "type": "string"
          },
          "childType": {
            "$ref": "#/components/schemas/ManagementGroupChildType",
            "title": "The type of child resource."
          },
          "children": {
            "description": "The list of children.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupChildInfo"
            },
            "type": "array"
          },
          "displayName": {
            "description": "The friendly name of the child resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupChildType": {
        "description": "The type of child resource.",
        "enum": [
          "ManagementGroup",
          "Subscription"
        ],
        "type": "string"
      },
      "ManagementGroupDetails": {
        "description": "The details of a management group.",
        "properties": {
          "parent": {
            "$ref": "#/components/schemas/ParentGroupInfo",
            "title": "Parent"
          },
          "updatedBy": {
            "description": "The identity of the principal or process that updated the object.",
            "type": "string"
          },
          "updatedTime": {
            "description": "The date and time when this object was last updated.",
            "format": "date-time",
            "type": "string"
          },
          "version": {
            "description": "The version number of the object.",
            "format": "int32",
            "type": "number"
          }
        },
        "type": "object"
      },
      "ManagementGroupInfo": {
        "description": "The management group resource.",
        "properties": {
          "id": {
            "description": "The fully qualified ID for the management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the management group. For example, 00000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementGroupInfoProperties",
            "title": "Properties",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource. For example, /providers/Microsoft.Management/managementGroups",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupInfoProperties": {
        "description": "The generic properties of a management group.",
        "properties": {
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "tenantId": {
            "description": "The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupListResult": {
        "description": "Describes the result of the request to list management groups.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The list of management groups.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupInfo"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ManagementGroupProperties": {
        "description": "The generic properties of a management group.",
        "properties": {
          "children": {
            "description": "The list of children.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupChildInfo"
            },
            "type": "array"
          },
          "details": {
            "$ref": "#/components/schemas/ManagementGroupDetails",
            "title": "Details"
          },
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "tenantId": {
            "description": "The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Operation supported by the Microsoft.Management resource provider.",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "description": {
                "description": "Operation description.",
                "readOnly": true,
                "type": "string"
              },
              "operation": {
                "description": "The operation that can be performed.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "The name of the provider.",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "The resource on which the operation is performed.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Describes the result of the request to list Microsoft.Management operations.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of operations supported by the Microsoft.Management resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ParentGroupInfo": {
        "description": "(Optional) The ID of the parent management group.",
        "properties": {
          "displayName": {
            "description": "The friendly name of the parent management group.",
            "type": "string"
          },
          "parentId": {
            "description": "The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "description": "A Management Group is a customer defined scope (grouping mechanism) that \nprovides access control (authorization), policy management and reporting. \nManagement Groups are organized in a strictly tree-based hierarchy.\n",
      "name": "ManagementGroups"
    },
    {
      "description": "Management operations supported by the Microsoft.Management resource provider.\n",
      "name": "Operations"
    }
  ]
}