{
  "openapi": "3.0.0",
  "info": {
    "description": "REST APIs for Azure Advisor",
    "title": "AdvisorManagementClient",
    "version": "2020-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Advisor/metadata": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEntityListResult"
                }
              }
            },
            "description": "OK. Successfully retrieved metadata entities"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Metadata"
        ],
        "operationId": "RecommendationMetadata_List",
        "summary": "Gets the list of metadata entities.",
        "x-ms-examples": {
          "GetMetadata": {
            "$ref": "./examples/ListRecommendationMetadata.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Advisor/metadata/{name}": {
      "get": {
        "parameters": [
          {
            "description": "Name of metadata entity.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataEntity"
                }
              }
            },
            "description": "OK. Successfully retrieved metadata entities"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ARMErrorResponseBody"
                }
              }
            },
            "description": "Client sent unknown metadata name",
            "x-ms-error-response": true
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Metadata"
        ],
        "operationId": "RecommendationMetadata_Get",
        "summary": "Gets the metadata entity.",
        "x-ms-examples": {
          "GetMetadata": {
            "$ref": "./examples/GetRecommendationMetadataEntity.json"
          }
        }
      }
    },
    "/providers/Microsoft.Advisor/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationEntityListResult"
                }
              }
            },
            "description": "OK. Successfully retrieved operation list."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "deprecated": false,
        "description": "Lists all the available Advisor REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "ListRecommendations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationListResult"
                }
              }
            },
            "description": "OK. Successfully retrieved zero or more configurations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "deprecated": false,
        "description": "Retrieve Azure Advisor configurations and also retrieve configurations of contained resource groups.",
        "operationId": "Configurations_ListBySubscription",
        "summary": "Retrieve Azure Advisor configurations.",
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "./examples/ListConfigurations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations/{configurationName}": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "description": "Advisor configuration name. Value must be 'default'",
            "in": "path",
            "name": "configurationName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ConfigurationName"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigData"
                }
              }
            },
            "description": "Successfully created/overwrote configuration."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "deprecated": false,
        "description": "Create/Overwrite Azure Advisor configuration and also delete all configurations of contained resource groups.",
        "operationId": "Configurations_CreateInSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigData"
              }
            }
          },
          "description": "The Azure Advisor configuration data structure.",
          "required": true
        },
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "x-ms-examples": {
          "PutConfigurations": {
            "$ref": "./examples/CreateConfiguration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Recommendation generation has been accepted.",
            "headers": {
              "Location": {
                "description": "The URL where the status of the asynchronous operation can be checked.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "GenerateRecommendations"
        ],
        "deprecated": false,
        "description": "Initiates the recommendation generation or computation process for a subscription. This operation is asynchronous. The generated recommendations are stored in a cache in the Advisor service.",
        "operationId": "Recommendations_Generate",
        "x-ms-examples": {
          "GenerateRecommendations": {
            "$ref": "./examples/GenerateRecommendations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "description": "The operation ID, which can be found from the Location field in the generate recommendation response header.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Recommendation generation is in progress."
          },
          "204": {
            "description": "NoContent. Recommendation generation has been completed."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "GenerateRecommendations"
        ],
        "deprecated": false,
        "description": "Retrieves the status of the recommendation computation or generation process. Invoke this API after calling the generation recommendation. The URI of this API is returned in the Location field of the response header.",
        "operationId": "Recommendations_GetGenerateStatus",
        "x-ms-examples": {
          "GetGenerateStatus": {
            "$ref": "./examples/EmptyResponse.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The filter to apply to the recommendations.<br>Filter can be applied to properties ['ResourceId', 'ResourceGroup', 'RecommendationTypeGuid', '[Category](#category)'] with operators ['eq', 'and', 'or'].<br>Example:<br>- $filter=Category eq 'Cost' and ResourceGroup eq 'MyResourceGroup'",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of recommendations per page if a paged version of this API is being used.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page-continuation token to use with a paged version of this API.",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecommendationBaseListResult"
                }
              }
            },
            "description": "OK. Successfully obtained cached recommendations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "GetRecommendations"
        ],
        "deprecated": false,
        "description": "Obtains cached recommendations for a subscription. The recommendations are generated or computed by invoking generateRecommendations.",
        "operationId": "Recommendations_List",
        "x-ms-examples": {
          "ListRecommendations": {
            "$ref": "./examples/ListRecommendations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "The number of suppressions per page if a paged version of this API is being used.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page-continuation token to use with a paged version of this API.",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionContractListResult"
                }
              }
            },
            "description": "OK. Successfully got all suppressions in a subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Suppressions"
        ],
        "deprecated": false,
        "description": "Retrieves the list of snoozed or dismissed suppressions for a subscription. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "operationId": "Suppressions_List",
        "x-ms-examples": {
          "ListSuppressions": {
            "$ref": "./examples/ListSuppressions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "description": "The name of the Azure resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationListResult"
                }
              }
            },
            "description": "OK. Successfully retrieved zero or more configurations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "deprecated": false,
        "operationId": "Configurations_ListByResourceGroup",
        "summary": "Retrieve Azure Advisor configurations.",
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "./examples/ListConfigurations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations/{configurationName}": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "description": "Advisor configuration name. Value must be 'default'",
            "in": "path",
            "name": "configurationName",
            "required": true,
            "schema": {
              "enum": [
                "default"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ConfigurationName"
            }
          },
          {
            "description": "The name of the Azure resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigData"
                }
              }
            },
            "description": "Successfully created/overwrote configuration."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Configurations"
        ],
        "deprecated": false,
        "operationId": "Configurations_CreateInResourceGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigData"
              }
            }
          },
          "description": "The Azure Advisor configuration data structure.",
          "required": true
        },
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "x-ms-examples": {
          "PutConfigurations": {
            "$ref": "./examples/CreateConfiguration.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}": {
      "get": {
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecommendationBase"
                }
              }
            },
            "description": "OK. Successfully got recommendation detail."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "GetRecommendations"
        ],
        "deprecated": false,
        "description": "Obtains details of a cached recommendation.",
        "operationId": "Recommendations_Get",
        "x-ms-examples": {
          "GetRecommendationDetail": {
            "$ref": "./examples/GetRecommendationDetail.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the suppression.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent. The recommendation has been activated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Suppressions"
        ],
        "deprecated": false,
        "description": "Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "operationId": "Suppressions_Delete",
        "x-ms-examples": {
          "DeleteSuppression": {
            "$ref": "./examples/DeleteSuppression.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the suppression.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionContract"
                }
              }
            },
            "description": "OK. Successfully got suppression detail."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Suppression name is not specified or Suppression Id not found.",
            "x-ms-error-response": true
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Suppressions"
        ],
        "deprecated": false,
        "description": "Obtains the details of a suppression.",
        "operationId": "Suppressions_Get",
        "x-ms-examples": {
          "GetSuppressionDetail": {
            "$ref": "./examples/GetSuppressionDetail.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the suppression.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionContract"
                }
              }
            },
            "description": "OK. Successfully created suppression."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Recommendation to be suppressed is not found.",
            "x-ms-error-response": true
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArmErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Suppressions"
        ],
        "deprecated": false,
        "description": "Enables the snoozed or dismissed attribute of a recommendation. The snoozed or dismissed attribute is referred to as a suppression. Use this API to create or update the snoozed or dismissed status of a recommendation.",
        "operationId": "Suppressions_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionContract"
              }
            }
          },
          "description": "The snoozed or dismissed attribute; for example, the snooze duration.",
          "required": true
        },
        "x-ms-examples": {
          "CreateSuppression": {
            "$ref": "./examples/CreateSuppression.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "The version of the API to be used with the client request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "subscriptionIdParameter": {
        "description": "The Azure subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ConfigData": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConfigData"
            }
          }
        },
        "description": "The Azure Advisor configuration data structure.",
        "required": true
      }
    },
    "schemas": {
      "ARMErrorResponseBody": {
        "description": "ARM error response body.",
        "properties": {
          "code": {
            "description": "Gets or sets the string that can be used to programmatically identify the error.",
            "type": "string"
          },
          "message": {
            "description": "Gets or sets the string that describes the error in detail and provides debugging information.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ArmErrorResponse": {
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ARMErrorResponseBody"
          }
        },
        "type": "object"
      },
      "ConfigData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The Advisor configuration data structure.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ConfigDataProperties",
            "description": "The Advisor configuration data structure.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ConfigDataProperties": {
        "description": "Configuration data properties",
        "properties": {
          "digests": {
            "description": "Advisor digest configuration. Valid only for subscriptions",
            "items": {
              "$ref": "#/components/schemas/DigestConfig"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          },
          "exclude": {
            "description": "Exclude the resource from Advisor evaluations. Valid values: False (default) or True.",
            "type": "boolean"
          },
          "lowCpuThreshold": {
            "description": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20.",
            "enum": [
              "5",
              "10",
              "15",
              "20"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CpuThreshold"
            }
          }
        },
        "type": "object"
      },
      "ConfigurationListResult": {
        "description": "The list of Advisor configurations.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of configurations.",
            "type": "string"
          },
          "value": {
            "description": "The list of configurations.",
            "items": {
              "$ref": "#/components/schemas/ConfigData"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DigestConfig": {
        "description": "Advisor Digest configuration entity",
        "properties": {
          "actionGroupResourceId": {
            "description": "Action group resource id used by digest.",
            "type": "string"
          },
          "categories": {
            "description": "Categories to send digest for. If categories are not provided, then digest will be sent for all categories.",
            "items": {
              "enum": [
                "HighAvailability",
                "Security",
                "Performance",
                "Cost",
                "OperationalExcellence"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "Category"
              }
            },
            "type": "array"
          },
          "frequency": {
            "description": "Frequency that digest will be triggered, in days. Value must be between 7 and 30 days inclusive.",
            "format": "int32",
            "type": "integer"
          },
          "language": {
            "description": "Language for digest content body. Value must be ISO 639-1 code for one of Azure portal supported languages. Otherwise, it will be converted into one. Default value is English (en).",
            "type": "string"
          },
          "name": {
            "description": "Name of digest configuration. Value is case-insensitive and must be unique within a subscription.",
            "type": "string"
          },
          "state": {
            "description": "State of digest configuration.",
            "enum": [
              "Active",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "DigestConfigState"
            }
          }
        },
        "type": "object"
      },
      "MetadataEntity": {
        "description": "The metadata entity contract.",
        "properties": {
          "id": {
            "description": "The resource Id of the metadata entity.",
            "type": "string"
          },
          "name": {
            "description": "The name of the metadata entity.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/MetadataEntityProperties",
            "description": "The metadata entity properties.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the metadata entity.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetadataEntityListResult": {
        "description": "The list of metadata entities",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of metadata.",
            "type": "string"
          },
          "value": {
            "description": "The list of metadata entities.",
            "items": {
              "$ref": "#/components/schemas/MetadataEntity"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "MetadataEntityProperties": {
        "description": "The metadata entity properties",
        "properties": {
          "applicableScenarios": {
            "description": "The list of scenarios applicable to this metadata entity.",
            "items": {
              "enum": [
                "Alerts"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "Scenario"
              }
            },
            "type": "array"
          },
          "dependsOn": {
            "description": "The list of keys on which this entity depends on.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "displayName": {
            "description": "The display name.",
            "type": "string"
          },
          "supportedValues": {
            "description": "The list of supported values.",
            "items": {
              "$ref": "#/components/schemas/MetadataSupportedValueDetail"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "MetadataSupportedValueDetail": {
        "description": "The metadata supported value detail.",
        "properties": {
          "displayName": {
            "description": "The display name.",
            "type": "string"
          },
          "id": {
            "description": "The id.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplayInfo": {
        "description": "The operation supported by Advisor.",
        "properties": {
          "description": {
            "description": "The description of the operation.",
            "type": "string"
          },
          "operation": {
            "description": "The action that users can perform, based on their permission level.",
            "type": "string"
          },
          "provider": {
            "description": "Service provider: Microsoft Advisor.",
            "type": "string"
          },
          "resource": {
            "description": "Resource on which the operation is performed.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationEntity": {
        "description": "The operation supported by Advisor.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplayInfo",
            "description": "The operation supported by Advisor."
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationEntityListResult": {
        "description": "The list of Advisor operations.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "The list of operations.",
            "items": {
              "$ref": "#/components/schemas/OperationEntity"
            },
            "type": "array",
            "x-ms-identifiers": [
              "name"
            ]
          }
        },
        "type": "object"
      },
      "RecommendationProperties": {
        "description": "The properties of the recommendation.",
        "properties": {
          "actions": {
            "description": "The list of recommended actions to implement recommendation.",
            "items": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            },
            "type": "array",
            "x-ms-identifiers": []
          },
          "category": {
            "description": "The category of the recommendation.",
            "enum": [
              "HighAvailability",
              "Security",
              "Performance",
              "Cost",
              "OperationalExcellence"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "category"
            }
          },
          "description": {
            "description": "The detailed description of recommendation.",
            "type": "string"
          },
          "exposedMetadataProperties": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The recommendation metadata properties exposed to customer to provide additional information.",
            "type": "object"
          },
          "extendedProperties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Extended properties",
            "type": "object"
          },
          "impact": {
            "description": "The business impact of the recommendation.",
            "enum": [
              "High",
              "Medium",
              "Low"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "impact"
            }
          },
          "impactedField": {
            "description": "The resource type identified by Advisor.",
            "type": "string"
          },
          "impactedValue": {
            "description": "The resource identified by Advisor.",
            "type": "string"
          },
          "label": {
            "description": "The label of recommendation.",
            "type": "string"
          },
          "lastUpdated": {
            "description": "The most recent time that Advisor checked the validity of the recommendation.",
            "format": "date-time",
            "type": "string"
          },
          "learnMoreLink": {
            "description": "The link to learn more about recommendation and generation logic.",
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The recommendation metadata.",
            "type": "object"
          },
          "potentialBenefits": {
            "description": "The potential benefit of implementing recommendation.",
            "type": "string"
          },
          "recommendationTypeId": {
            "description": "The recommendation-type GUID.",
            "type": "string"
          },
          "remediation": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The automated way to apply recommendation.",
            "type": "object"
          },
          "resourceMetadata": {
            "$ref": "#/components/schemas/ResourceMetadata",
            "description": "Metadata of resource that was assessed"
          },
          "shortDescription": {
            "$ref": "#/components/schemas/ShortDescription",
            "description": "A summary of the recommendation."
          },
          "suppressionIds": {
            "description": "The list of snoozed and dismissed rules for the recommendation.",
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An Azure resource.",
        "properties": {
          "id": {
            "description": "The resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The type of the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceMetadata": {
        "description": "Recommendation resource metadata",
        "properties": {
          "action": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The action to view resource.",
            "type": "object"
          },
          "plural": {
            "description": "The plural user friendly name of resource type. eg: virtual machines",
            "type": "string"
          },
          "resourceId": {
            "description": "Azure resource Id of the assessed resource",
            "type": "string"
          },
          "singular": {
            "description": "The singular user friendly name of resource type. eg: virtual machine",
            "type": "string"
          },
          "source": {
            "description": "Source from which recommendation is generated",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceRecommendationBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Advisor Recommendation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RecommendationProperties",
            "description": "The properties of the recommendation.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ResourceRecommendationBaseListResult": {
        "description": "The list of Advisor recommendations.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of recommendations.",
            "type": "string"
          },
          "value": {
            "description": "The list of recommendations.",
            "items": {
              "$ref": "#/components/schemas/ResourceRecommendationBase"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ShortDescription": {
        "description": "A summary of the recommendation.",
        "properties": {
          "problem": {
            "description": "The issue or opportunity identified by the recommendation and proposed solution.",
            "type": "string"
          },
          "solution": {
            "description": "The issue or opportunity identified by the recommendation and proposed solution.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SuppressionContract": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SuppressionProperties",
            "description": "The properties of the suppression.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SuppressionContractListResult": {
        "description": "The list of Advisor suppressions.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of suppressions.",
            "type": "string"
          },
          "value": {
            "description": "The list of suppressions.",
            "items": {
              "$ref": "#/components/schemas/SuppressionContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SuppressionProperties": {
        "description": "The properties of the suppression.",
        "properties": {
          "expirationTimeStamp": {
            "description": "Gets or sets the expiration time stamp.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "suppressionId": {
            "description": "The GUID of the suppression.",
            "type": "string"
          },
          "ttl": {
            "description": "The duration for which the suppression is valid.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}