openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure management API provides create, read, update, and delete
    functionality for Azure MariaDB resources including servers, databases,
    firewall rules, VNET rules, security alert policies, log files, encryption
    keys, active directory administrator and configurations.
  title: MariaDBManagementClient
  version: 2020-01-01-privatepreview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/keys':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerKeyListResult'
          description: Successfully retrieved the list of MariaDB Server keys.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ServerKeys
      description: Gets a list of  Server keys.
      operationId: ServerKeys_ListByInstance
      x-ms-examples:
        List the keys for a MariaDB Server.:
          $ref: ./examples/ServerKeyList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/keys/{keyName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the MariaDB Server key to be deleted.
          in: path
          name: keyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the MariaDB Server key.
        '202':
          description: Accepted
        '204':
          description: The specified MariaDB Server key does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ServerKeys
      description: Deletes the MariaDB Server key with the given name.
      operationId: ServerKeys_Delete
      x-ms-examples:
        Delete the MariaDB Server key:
          $ref: ./examples/ServerKeyDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of the MariaDB Server key to be retrieved.
          in: path
          name: keyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerKey'
          description: Successfully retrieved the specified MariaDB Server key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ServerKeys
      description: Gets a MariaDB Server key.
      operationId: ServerKeys_Get
      x-ms-examples:
        Get the MariaDB Server key:
          $ref: ./examples/ServerKeyGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: >-
            The name of the MariaDB Server key to be operated on (updated or
            created).
          in: path
          name: keyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerKey'
          description: Successfully updated the MariaDB Server key.
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - ServerKeys
      description: Creates or updates a MariaDB Server key.
      operationId: ServerKeys_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerKey'
        description: The requested MariaDB Server key resource state.
        required: true
      x-ms-examples:
        Creates or updates a MariaDB Server key:
          $ref: ./examples/ServerKeyCreateOrUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Batch service.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    ServerKey:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: A MariaDB Server key.
      properties:
        kind:
          description: >-
            Kind of encryption protector. This is metadata used for the Azure
            portal experience.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ServerKeyProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    ServerKeyListResult:
      description: A list of MariaDB Server keys.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ServerKey'
          readOnly: true
          type: array
      type: object
    ServerKeyProperties:
      description: Properties for a key execution.
      properties:
        creationDate:
          description: The key creation date.
          format: date-time
          readOnly: true
          type: string
        serverKeyType:
          description: The key type like  'AzureKeyVault'.
          enum:
            - AzureKeyVault
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServerKeyType
        uri:
          description: The URI of the key.
          type: string
      required:
        - serverKeyType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

