{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "title": "Cosmos DB",
    "version": "2019-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/cosmos-db.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}": {
      "head": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The account name is valid but is already in use."
          },
          "404": {
            "description": "Not Found. The account name is available and valid."
          }
        },
        "description": "Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.",
        "operationId": "DatabaseAccounts_CheckNameExists",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCheckNameExists": {
            "$ref": "./examples/CosmosDBDatabaseAccountCheckNameExists.json"
          }
        }
      }
    },
    "/providers/Microsoft.DocumentDB/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Cosmos DB Resource Provider operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "CosmosDBOperationsList": {
            "$ref": "./examples/CosmosDBOperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountsListResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the subscription.",
        "operationId": "DatabaseAccounts_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/CosmosDBDatabaseAccountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountsListResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the given resource group.",
        "operationId": "DatabaseAccounts_ListByResourceGroup",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListByResourceGroup": {
            "$ref": "./examples/CosmosDBDatabaseAccountListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The database account delete operation will complete asynchronously."
          },
          "204": {
            "description": "The specified account does not exist in the subscription."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_Delete",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountDelete": {
            "$ref": "./examples/CosmosDBDatabaseAccountDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountGetResults"
                }
              }
            },
            "description": "The database account properties were retrieved successfully."
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_Get",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/CosmosDBDatabaseAccountGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountGetResults"
                }
              }
            },
            "description": "The database account update operation will complete asynchronously."
          }
        },
        "description": "Updates the properties of an existing Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseAccountUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountPatch": {
            "$ref": "./examples/CosmosDBDatabaseAccountPatch.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountGetResults"
                }
              }
            },
            "description": "The database account create or update operation will complete asynchronously."
          }
        },
        "description": "Creates or updates an Azure Cosmos DB database account. The \"Update\" method is preferred when performing updates on an account.",
        "operationId": "DatabaseAccounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseAccountCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCreateMax": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMax.json"
          },
          "CosmosDBDatabaseAccountCreateMin": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMin.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraKeyspaceListResult"
                }
              }
            },
            "description": "The Cassandra keyspace properties were retrieved successfully."
          }
        },
        "description": "Lists the Cassandra keyspaces under an existing Azure Cosmos DB database account.",
        "operationId": "CassandraResources_ListCassandraKeyspaces",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceList": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Cassandra keyspace delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Cassandra keyspace delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Cassandra keyspace.",
        "operationId": "CassandraResources_DeleteCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceDelete": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraKeyspaceGetResults"
                }
              }
            },
            "description": "The Cassandra keyspace property was retrieved successfully."
          }
        },
        "description": "Gets the Cassandra keyspaces under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "CassandraResources_GetCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceGet": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraKeyspaceGetResults"
                }
              }
            },
            "description": "The Cassandra keyspace create or update operation was completed successfully."
          },
          "202": {
            "description": "The Cassandra keyspace create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Cassandra keyspace",
        "operationId": "CassandraResources_CreateUpdateCassandraKeyspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraKeyspaceCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Cassandra keyspace.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceCreateUpdate": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraTableListResult"
                }
              }
            },
            "description": "The Cassandra table properties were retrieved successfully."
          }
        },
        "description": "Lists the Cassandra table under an existing Azure Cosmos DB database account.",
        "operationId": "CassandraResources_ListCassandraTables",
        "x-ms-examples": {
          "CosmosDBCassandraTableList": {
            "$ref": "./examples/CosmosDBCassandraTableList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Cassandra table delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Cassandra table delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Cassandra table.",
        "operationId": "CassandraResources_DeleteCassandraTable",
        "x-ms-examples": {
          "CosmosDBCassandraTableDelete": {
            "$ref": "./examples/CosmosDBCassandraTableDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraTableGetResults"
                }
              }
            },
            "description": "The Cassandra table property was retrieved successfully."
          }
        },
        "description": "Gets the Cassandra table under an existing Azure Cosmos DB database account.",
        "operationId": "CassandraResources_GetCassandraTable",
        "x-ms-examples": {
          "CosmosDBCassandraTableGet": {
            "$ref": "./examples/CosmosDBCassandraTableGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CassandraTableGetResults"
                }
              }
            },
            "description": "The Cassandra Table create or update operation was completed successfully."
          },
          "202": {
            "description": "The Cassandra Table create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Cassandra Table",
        "operationId": "CassandraResources_CreateUpdateCassandraTable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraTableCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Cassandra Table.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraTableCreateUpdate": {
            "$ref": "./examples/CosmosDBCassandraTableCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}/throughputSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Cassandra table was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Cassandra table under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "CassandraResources_GetCassandraTableThroughput",
        "x-ms-examples": {
          "CosmosDBCassandraTableThroughputGet": {
            "$ref": "./examples/CosmosDBCassandraTableThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/tableNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Cassandra table update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Cassandra table update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Cassandra table",
        "operationId": "CassandraResources_UpdateCassandraTableThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputSettingsUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Cassandra table.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraTableThroughputUpdate": {
            "$ref": "./examples/CosmosDBCassandraTableThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/throughputSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Cassandra Keyspace was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Cassandra Keyspace under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "CassandraResources_GetCassandraKeyspaceThroughput",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceThroughputGet": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Cassandra Keyspace update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Cassandra Keyspace update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Cassandra Keyspace",
        "operationId": "CassandraResources_UpdateCassandraKeyspaceThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputSettingsUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Cassandra Keyspace.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceThroughputUpdate": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionsListResult"
                }
              }
            },
            "description": "The metric definitions for the collection were retrieved successfully."
          }
        },
        "description": "Retrieves metric definitions for the given collection.",
        "operationId": "Collection_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBCollectionGetMetricDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricListResult"
                }
              }
            },
            "description": "The metrics for the database account were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and collection.",
        "operationId": "Collection_ListMetrics",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/partitionKeyRangeIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartitionMetricListResult"
                }
              }
            },
            "description": "The partition-level metrics for the partition key range id were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given partition key range id.",
        "operationId": "PartitionKeyRangeId_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPKeyRangeIdGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartitionMetricListResult"
                }
              }
            },
            "description": "The partition-level metrics for the collection were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given collection, split by partition.",
        "operationId": "CollectionPartition_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartitionUsagesResult"
                }
              }
            },
            "description": "The usages for the collection, per partition were retrieved successfully."
          }
        },
        "description": "Retrieves the usages (most recent storage data) for the given collection, split by partition.",
        "operationId": "CollectionPartition_ListUsages",
        "x-ms-examples": {
          "CosmosDBCollectionGetUsages": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetUsages.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsagesResult"
                }
              }
            },
            "description": "The usages for the collection were retrieved successfully."
          }
        },
        "description": "Retrieves the usages (most recent storage data) for the given collection.",
        "operationId": "Collection_ListUsages",
        "x-ms-examples": {
          "CosmosDBCollectionGetUsages": {
            "$ref": "./examples/CosmosDBCollectionGetUsages.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionsListResult"
                }
              }
            },
            "description": "The metric definitions for the database were retrieved successfully."
          }
        },
        "description": "Retrieves metric definitions for the given database.",
        "operationId": "Database_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBDatabaseGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBDatabaseGetMetricDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricListResult"
                }
              }
            },
            "description": "The metrics for the database account were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and database.",
        "operationId": "Database_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsagesResult"
                }
              }
            },
            "description": "The usages for the database were retrieved successfully."
          }
        },
        "description": "Retrieves the usages (most recent data) for the given database.",
        "operationId": "Database_ListUsages",
        "x-ms-examples": {
          "CosmosDBDatabaseGetUsages": {
            "$ref": "./examples/CosmosDBDatabaseGetUsages.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The failover policy change operation will complete asynchronously."
          },
          "204": {
            "description": "No Content"
          }
        },
        "description": "Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.",
        "operationId": "DatabaseAccounts_FailoverPriorityChange",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FailoverPolicies"
              }
            }
          },
          "description": "The new failover policies for the database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountFailoverPriorityChange": {
            "$ref": "./examples/CosmosDBDatabaseAccountFailoverPriorityChange.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinDatabaseListResult"
                }
              }
            },
            "description": "The Gremlin database properties were retrieved successfully."
          }
        },
        "description": "Lists the Gremlin databases under an existing Azure Cosmos DB database account.",
        "operationId": "GremlinResources_ListGremlinDatabases",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseList": {
            "$ref": "./examples/CosmosDBGremlinDatabaseList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Gremlin database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Gremlin database delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Gremlin database.",
        "operationId": "GremlinResources_DeleteGremlinDatabase",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseDelete": {
            "$ref": "./examples/CosmosDBGremlinDatabaseDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinDatabaseGetResults"
                }
              }
            },
            "description": "The Gremlin database property was retrieved successfully."
          }
        },
        "description": "Gets the Gremlin databases under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "GremlinResources_GetGremlinDatabase",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseGet": {
            "$ref": "./examples/CosmosDBGremlinDatabaseGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinDatabaseGetResults"
                }
              }
            },
            "description": "The Gremlin database create or update operation was completed successfully."
          },
          "202": {
            "description": "The Gremlin database create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Gremlin database",
        "operationId": "GremlinResources_CreateUpdateGremlinDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GremlinDatabaseCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Gremlin database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBGremlinDatabaseCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinGraphListResult"
                }
              }
            },
            "description": "The Gremlin graph properties were retrieved successfully."
          }
        },
        "description": "Lists the Gremlin graph under an existing Azure Cosmos DB database account.",
        "operationId": "GremlinResources_ListGremlinGraphs",
        "x-ms-examples": {
          "CosmosDBGremlinGraphList": {
            "$ref": "./examples/CosmosDBGremlinGraphList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Gremlin graph delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Gremlin graph delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Gremlin graph.",
        "operationId": "GremlinResources_DeleteGremlinGraph",
        "x-ms-examples": {
          "CosmosDBGremlinGraphDelete": {
            "$ref": "./examples/CosmosDBGremlinGraphDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinGraphGetResults"
                }
              }
            },
            "description": "The Gremlin graph property was retrieved successfully."
          }
        },
        "description": "Gets the Gremlin graph under an existing Azure Cosmos DB database account.",
        "operationId": "GremlinResources_GetGremlinGraph",
        "x-ms-examples": {
          "CosmosDBGremlinGraphGet": {
            "$ref": "./examples/CosmosDBGremlinGraphGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GremlinGraphGetResults"
                }
              }
            },
            "description": "The Gremlin graph create or update operation was completed successfully."
          },
          "202": {
            "description": "The Gremlin graph create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB Gremlin graph",
        "operationId": "GremlinResources_CreateUpdateGremlinGraph",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GremlinGraphCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current Gremlin graph.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinGraphCreateUpdate": {
            "$ref": "./examples/CosmosDBGremlinGraphCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}/throughputSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Gremlin graph was retrieved successfully."
          }
        },
        "description": "Gets the Gremlin graph throughput under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "GremlinResources_GetGremlinGraphThroughput",
        "x-ms-examples": {
          "CosmosDBGremlinGraphThroughputGet": {
            "$ref": "./examples/CosmosDBGremlinGraphThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/graphNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Gremlin graph update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Gremlin graph update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Gremlin graph",
        "operationId": "GremlinResources_UpdateGremlinGraphThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputSettingsUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Gremlin graph.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinGraphThroughputUpdate": {
            "$ref": "./examples/CosmosDBGremlinGraphThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/throughputSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Gremlin database was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the Gremlin database under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "GremlinResources_GetGremlinDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBGremlinDatabaseThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the Gremlin database update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the Gremlin database update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Gremlin database",
        "operationId": "GremlinResources_UpdateGremlinDatabaseThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputSettingsUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current Gremlin database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBGremlinDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBGremlinDatabaseThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountListConnectionStringsResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists the connection strings for the specified Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListConnectionStrings",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListConnectionStrings": {
            "$ref": "./examples/CosmosDBDatabaseAccountListConnectionStrings.json"
          },
          "CosmosDBDatabaseAccountListConnectionStringsMongo": {
            "$ref": "./examples/CosmosDBDatabaseAccountListConnectionStringsMongo.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountListKeysResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists the access keys for the specified Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_ListKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metricDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionsListResult"
                }
              }
            },
            "description": "The metric definitions for the database account were retrieved successfully."
          }
        },
        "description": "Retrieves metric definitions for the given database account.",
        "operationId": "DatabaseAccounts_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetMetricDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricListResult"
                }
              }
            },
            "description": "The metrics for the database account were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account.",
        "operationId": "DatabaseAccounts_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBDatabaseListResult"
                }
              }
            },
            "description": "The MongoDB database properties were retrieved successfully."
          }
        },
        "description": "Lists the MongoDB databases under an existing Azure Cosmos DB database account.",
        "operationId": "MongoDBResources_ListMongoDBDatabases",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseList": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The MongoDB database delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB MongoDB database.",
        "operationId": "MongoDBResources_DeleteMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseDelete": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBDatabaseGetResults"
                }
              }
            },
            "description": "The MongoDB database property was retrieved successfully."
          }
        },
        "description": "Gets the MongoDB databases under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "MongoDBResources_GetMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseGet": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBDatabaseGetResults"
                }
              }
            },
            "description": "The MongoDB database create or update operation was completed successfully."
          },
          "202": {
            "description": "The MongoDB database create or update operation will complete asynchronously."
          }
        },
        "description": "Create or updates Azure Cosmos DB MongoDB database",
        "operationId": "MongoDBResources_CreateUpdateMongoDBDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MongoDBDatabaseCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current MongoDB database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBCollectionListResult"
                }
              }
            },
            "description": "The MongoDB collection properties were retrieved successfully."
          }
        },
        "description": "Lists the MongoDB collection under an existing Azure Cosmos DB database account.",
        "operationId": "MongoDBResources_ListMongoDBCollections",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionList": {
            "$ref": "./examples/CosmosDBMongoDBCollectionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections/{collectionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB collection delete operation will complete asynchronously."
          },
          "204": {
            "description": "The MongoDB collection delete operation was completed successfully."
          }
        },
        "description": "Deletes an existing Azure Cosmos DB MongoDB Collection.",
        "operationId": "MongoDBResources_DeleteMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionDelete": {
            "$ref": "./examples/CosmosDBMongoDBCollectionDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBCollectionGetResults"
                }
              }
            },
            "description": "The MongoDB collection property was retrieved successfully."
          }
        },
        "description": "Gets the MongoDB collection under an existing Azure Cosmos DB database account.",
        "operationId": "MongoDBResources_GetMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionGet": {
            "$ref": "./examples/CosmosDBMongoDBCollectionGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MongoDBCollectionGetResults"
                }
              }
            },
            "description": "The MongoDB Collection create or update operation was completed successfully."
          },
          "202": {
            "description": "The MongoDB Collection create or update operation will complete asynchronously."
          }
        },
        "description": "Create or update an Azure Cosmos DB MongoDB Collection",
        "operationId": "MongoDBResources_CreateUpdateMongoDBCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MongoDBCollectionCreateUpdateParameters"
              }
            }
          },
          "description": "The parameters to provide for the current MongoDB Collection.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionCreateUpdate": {
            "$ref": "./examples/CosmosDBMongoDBCollectionCreateUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections/{collectionName}/throughputSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the MongoDB collection was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the MongoDB collection under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "MongoDBResources_GetMongoDBCollectionThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionThroughputGet": {
            "$ref": "./examples/CosmosDBMongoDBCollectionThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the MongoDB collection update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the MongoDB collection update operation will complete asynchronously."
          }
        },
        "description": "Update the RUs per second of an Azure Cosmos DB MongoDB collection",
        "operationId": "MongoDBResources_UpdateMongoDBCollectionThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputSettingsUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current MongoDB collection.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionThroughputUpdate": {
            "$ref": "./examples/CosmosDBMongoDBCollectionThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/throughputSettings/default": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the MongoDB database was retrieved successfully."
          }
        },
        "description": "Gets the RUs per second of the MongoDB database under an existing Azure Cosmos DB database account with the provided name.",
        "operationId": "MongoDBResources_GetMongoDBDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseThroughputGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThroughputSettingsGetResults"
                }
              }
            },
            "description": "The RUs per second of the MongoDB database update operation was completed successfully."
          },
          "202": {
            "description": "The RUs per second of the MongoDB database update operation will complete asynchronously."
          }
        },
        "description": "Update RUs per second of the an Azure Cosmos DB MongoDB database",
        "operationId": "MongoDBResources_UpdateMongoDBDatabaseThroughput",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThroughputSettingsUpdateParameters"
              }
            }
          },
          "description": "The RUs per second of the parameters to provide for the current MongoDB database.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseThroughputUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/offlineRegion": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The offline region operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The offline region operation will complete asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Offline the specified region for the specified Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_OfflineRegion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionForOnlineOffline"
              }
            }
          },
          "description": "Cosmos DB region to offline for the database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountOfflineRegion": {
            "$ref": "./examples/CosmosDBDatabaseAccountOfflineRegion.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/onlineRegion": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The online region operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The online region operation will complete asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Online the specified region for the specified Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_OnlineRegion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionForOnlineOffline"
              }
            }
          },
          "description": "Cosmos DB region to online for the database account.",
          "required": true
        },
        "x-ms-examples": {
          "CosmosDBDatabaseAccountOnlineRegion": {
            "$ref": "./examples/CosmosDBDatabaseAccountOnlineRegion.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/percentile/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PercentileMetricListResult"
                }
              }
            },
            "description": "The percentile metrics for the account were retrieved successfully."
          }
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account. This url is only for PBS and Replication Latency data",
        "operationId": "Percentile_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountListReadOnlyKeysResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists the read-only access keys for the specified Azure Cosmos DB database account.",
        "operationId": "DatabaseAccounts_GetReadOnlyKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListReadOnlyKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListReadOnlyKeys.json"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/accountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseAccountListReadOnlyKeysResult"
                }
              }
            },
            "description": "The operation completed successfully."
          }
        },
        "description": "Lists the read-only access keys for the specified Azure Cosmos DB database account.",
[...]
