{
  "openapi": "3.0.0",
  "info": {
    "description": "IP pool operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/IpPool.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/FilterParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpPoolList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "IpPools"
        ],
        "description": "Returns a list of all IP pools at a certain location.",
        "operationId": "IpPools_List",
        "x-ms-examples": {
          "Returns a list of all IP pools at a certain location.": {
            "$ref": "./examples/IpPool/List.json"
          }
        },
        "x-ms-odata": "#/components/schemas/IpPool",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools/{ipPool}": {
      "get": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/IpPoolNameParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpPool"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "IpPools"
        ],
        "description": "Return the requested IP pool.",
        "operationId": "IpPools_Get",
        "x-ms-examples": {
          "Return the requested IP pool.": {
            "$ref": "./examples/IpPool/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "Fabric.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/LocationParameter"
          },
          {
            "$ref": "#/components/parameters/IpPoolNameParameter"
          },
          {
            "$ref": "Fabric.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpPool"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpPool"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "tags": [
          "IpPools"
        ],
        "description": "Create an IP pool.  Once created an IP pool cannot be deleted.",
        "operationId": "IpPools_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IpPool"
              }
            }
          },
          "description": "IP pool object to send.",
          "required": true
        },
        "x-ms-examples": {
          "Create an IP pool.  Once created an IP pool cannot be deleted.": {
            "$ref": "./examples/IpPool/Create.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "IpPoolNameParameter": {
        "description": "IP pool name.",
        "in": "path",
        "name": "ipPool",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "IpPool": {
        "allOf": [
          {
            "$ref": "Fabric.json#/definitions/Resource"
          }
        ],
        "description": "This resource defines the range of IP addresses from which addresses are  allocated for nodes within a subnet.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/IpPoolModel",
            "description": "Properties of an IpPool.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "IpPoolList": {
        "description": "Pageable list of IP pools.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of IP pools.",
            "items": {
              "$ref": "#/components/schemas/IpPool"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "IpPoolModel": {
        "description": "Properties of an IpPool.",
        "properties": {
          "addressPrefix": {
            "description": "The address prefix.",
            "type": "string"
          },
          "endIpAddress": {
            "description": "The ending IP address.",
            "type": "string"
          },
          "numberOfAllocatedIpAddresses": {
            "description": "The number of currently allocated IP addresses.",
            "format": "int64",
            "type": "integer"
          },
          "numberOfIpAddresses": {
            "description": "The total number of IP addresses.",
            "format": "int64",
            "type": "integer"
          },
          "numberOfIpAddressesInTransition": {
            "description": "The current number of IP addresses in transition.",
            "format": "int64",
            "type": "integer"
          },
          "startIpAddress": {
            "description": "The starting IP address.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}