{
  "openapi": "3.0.0",
  "x-optic-url": "https://app.useoptic.com/organizations/febf8ac6-ee67-4565-b45a-5c85a469dca7/apis/_0fKWqUvhs9ssYNkq1k-c",
  "x-optic-standard": "@febf8ac6-ee67-4565-b45a-5c85a469dca7/Fz6KU3_wMIO5iJ6_VUZ30",
  "info": {
    "version": "2.2.0",
    "title": "APIs.guru",
    "description": "Wikipedia for Web APIs. Repository of API definitions in OpenAPI format.\n**Warning**: If you want to be notified about changes in advance please join our [Slack channel](https://join.slack.com/t/mermade/shared_invite/zt-g78g7xir-MLE_CTCcXCdfJfG3CJe9qA).\nClient sample: [[Demo]](https://apis.guru/simple-ui) [[Repo]](https://github.com/APIs-guru/simple-ui)\n",
    "contact": {
      "name": "APIs.guru",
      "url": "https://APIs.guru",
      "email": "mike.ralphson@gmail.com"
    },
    "license": {
      "name": "CC0 1.0",
      "url": "https://github.com/APIs-guru/openapi-directory#licenses"
    },
    "x-logo": {
      "url": "https://apis.guru/branding/logo_vertical.svg"
    },
    "x-jentic-source-url": "https://api.apis.guru/v2/openapi.yaml"
  },
  "externalDocs": {
    "url": "https://github.com/APIs-guru/openapi-directory/blob/master/API.md"
  },
  "servers": [
    {
      "url": "https://api.apis.guru/v2"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "APIs",
      "description": "Actions relating to APIs in the collection"
    }
  ],
  "paths": {
    "/providers.json": {
      "get": {
        "operationId": "getProviders",
        "tags": [
          "APIs"
        ],
        "summary": "List all providers",
        "description": "List all the providers in the directory\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1
                      },
                      "minItems": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{provider}.json": {
      "get": {
        "operationId": "getProvider",
        "tags": [
          "APIs"
        ],
        "summary": "List all APIs for a particular provider",
        "description": "List all APIs in the directory for a particular providerName\nReturns links to the individual API entry for each API.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/provider"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIs"
                }
              }
            }
          }
        }
      }
    },
    "/{provider}/services.json": {
      "get": {
        "operationId": "getServices",
        "tags": [
          "APIs"
        ],
        "summary": "List all serviceNames for a particular provider",
        "description": "List all serviceNames in the directory for a particular providerName\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/provider"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 0
                      },
                      "minItems": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/specs/{provider}/{api}.json": {
      "get": {
        "operationId": "getAPI",
        "tags": [
          "APIs"
        ],
        "summary": "Retrieve one version of a particular API",
        "description": "Returns the API entry for one specific version of an API where there is no serviceName.",
        "parameters": [
          {
            "$ref": "#/components/parameters/provider"
          },
          {
            "$ref": "#/components/parameters/api"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API"
                }
              }
            }
          }
        }
      }
    },
    "/specs/{provider}/{service}/{api}.json": {
      "get": {
        "operationId": "getServiceAPI",
        "tags": [
          "APIs"
        ],
        "summary": "Retrieve one version of a particular API with a serviceName.",
        "description": "Returns the API entry for one specific version of an API where there is a serviceName.",
        "parameters": [
          {
            "$ref": "#/components/parameters/provider"
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "example": "graph"
            }
          },
          {
            "$ref": "#/components/parameters/api"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API"
                }
              }
            }
          }
        }
      }
    },
    "/list.json": {
      "get": {
        "operationId": "listAPIs",
        "tags": [
          "APIs"
        ],
        "summary": "List all APIs",
        "description": "List all APIs in the directory.\nReturns links to the OpenAPI definitions for each API in the directory.\nIf API exist in multiple versions `preferred` one is explicitly marked.\nSome basic info from the OpenAPI definition is cached inside each object.\nThis allows you to generate some simple views without needing to fetch the OpenAPI definition for each API.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIs"
                }
              }
            }
          }
        }
      }
    },
    "/metrics.json": {
      "get": {
        "operationId": "getMetrics",
        "summary": "Get basic metrics",
        "description": "Some basic metrics for the entire directory.\nJust stunning numbers to put on a front page and are intended purely for WoW effect :)\n",
        "tags": [
          "APIs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIs": {
        "description": "List of API details.\nIt is a JSON object with API IDs(`<provider>[:<service>]`) as keys.\n",
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/API"
        },
        "minProperties": 1,
        "example": {
          "googleapis.com:drive": {
            "added": 