openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2015-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/adaptiveNetworkHardenings':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - description: The Namespace of the resource.
          in: path
          name: resourceNamespace
          required: true
          schema:
            type: string
        - description: The type of the resource.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdaptiveNetworkHardeningsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AdaptiveNetworkHardenings
      description: >-
        Gets a list of Adaptive Network Hardenings resources in scope of an
        extended resource.
      operationId: AdaptiveNetworkHardenings_ListByExtendedResource
      x-ms-examples:
        List Adaptive Network Hardenings resources of an extended resource:
          $ref: >-
            ./examples/AdaptiveNetworkHardenings/ListByExtendedResourceAdaptiveNetworkHardenings_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/adaptiveNetworkHardenings/{adaptiveNetworkHardeningResourceName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - description: The Namespace of the resource.
          in: path
          name: resourceNamespace
          required: true
          schema:
            type: string
        - description: The type of the resource.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdaptiveNetworkHardeningResourceName'
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdaptiveNetworkHardening'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AdaptiveNetworkHardenings
      description: Gets a single Adaptive Network Hardening resource
      operationId: AdaptiveNetworkHardenings_Get
      x-ms-examples:
        Get a single Adaptive Network Hardening resource:
          $ref: >-
            ./examples/AdaptiveNetworkHardenings/GetAdaptiveNetworkHardening_example.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/adaptiveNetworkHardenings/{adaptiveNetworkHardeningResourceName}/{adaptiveNetworkHardeningEnforceAction}':
    post:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupName
        - description: The Namespace of the resource.
          in: path
          name: resourceNamespace
          required: true
          schema:
            type: string
        - description: The type of the resource.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdaptiveNetworkHardeningResourceName'
        - $ref: '#/components/parameters/AdaptiveNetworkHardeningEnforceAction'
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - AdaptiveNetworkHardenings
      description: Enforces the given rules on the NSG(s) listed in the request
      operationId: AdaptiveNetworkHardenings_Enforce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdaptiveNetworkHardeningEnforceRequest'
        required: true
      x-ms-examples:
        Enforces the given rules on the NSG(s) listed in the request:
          $ref: >-
            ./examples/AdaptiveNetworkHardenings/EnforceAdaptiveNetworkHardeningRules_example.json
      x-ms-long-running-operation: true
components:
  parameters:
    AdaptiveNetworkHardeningEnforceAction:
      description: Enforces the given rules on the NSG(s) listed in the request
      in: path
      name: adaptiveNetworkHardeningEnforceAction
      required: true
      schema:
        enum:
          - enforce
        type: string
      x-ms-parameter-location: method
    AdaptiveNetworkHardeningResourceName:
      description: The name of the Adaptive Network Hardening resource.
      in: path
      name: adaptiveNetworkHardeningResourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AdaptiveNetworkHardening:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: >-
        The resource whose properties describes the Adaptive Network Hardening
        settings for some Azure resource
      properties:
        properties:
          $ref: '#/components/schemas/AdaptiveNetworkHardeningProperties'
          description: Properties of the Adaptive Network Hardening resource
          x-ms-client-flatten: true
      type: object
    AdaptiveNetworkHardeningEnforceRequest:
      properties:
        networkSecurityGroups:
          description: >-
            The Azure resource IDs of the effective network security groups that
            will be updated with the created security rules from the Adaptive
            Network Hardening rules
          items:
            type: string
          type: array
        rules:
          description: The rules to enforce
          items:
            $ref: '#/components/schemas/Rule'
          type: array
      required:
        - rules
        - networkSecurityGroups
      type: object
    AdaptiveNetworkHardeningProperties:
      description: Adaptive Network Hardening resource properties
      properties:
        effectiveNetworkSecurityGroups:
          description: >-
            The Network Security Groups effective on the network interfaces of
            the protected resource
          items:
            $ref: '#/components/schemas/EffectiveNetworkSecurityGroups'
          type: array
        rules:
          description: The security rules which are recommended to be effective on the VM
          items:
            $ref: '#/components/schemas/Rule'
          type: array
        rulesCalculationTime:
          description: The UTC time on which the rules were calculated
          format: date-time
          type: string
      type: object
    AdaptiveNetworkHardeningsList:
      description: Response for ListAdaptiveNetworkHardenings API service call
      properties:
        nextLink:
          description: The URL to get the next set of results
          type: string
        value:
          description: A list of Adaptive Network Hardenings resources
          items:
            $ref: '#/components/schemas/AdaptiveNetworkHardening'
          type: array
      type: object
    EffectiveNetworkSecurityGroups:
      description: Describes the Network Security Groups effective on a network interface
      properties:
        networkInterface:
          description: The Azure resource ID of the network interface
          type: string
        networkSecurityGroups:
          description: The Network Security Groups effective on the network interface
          items:
            type: string
          type: array
      type: object
    PortNumber:
      maximum: 65535
      minimum: 0
      type: integer
    Rule:
      description: >-
        Describes remote addresses that is recommended to communicate with the
        Azure resource on some (Protocol, Port, Direction). All other remote
        addresses are recommended to be blocked
      properties:
        destinationPort:
          $ref: '#/components/schemas/PortNumber'
          description: The rule's destination port
        direction:
          description: The rule's direction
          enum:
            - Inbound
            - Outbound
          type: string
          x-ms-enum:
            modelAsString: true
            name: direction
        ipAddresses:
          description: >-
            The remote IP addresses that should be able to communicate with the
            Azure resource on the rule's destination port and protocol
          items:
            type: string
          type: array
        name:
          description: The name of the rule
          type: string
        protocols:
          description: The rule's transport protocols
          items:
            enum:
              - TCP
              - UDP
            type: string
            x-ms-enum:
              modelAsString: true
              name: transportProtocol
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

