openapi: 3.0.0
info:
  description: Infrastructure role instance operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfraRoleInstanceList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - InfraRoleInstances
      description: Returns a list of all infrastructure role instances at a location.
      operationId: InfraRoleInstances_List
      x-ms-examples:
        Returns a list of all infrastructure role instances at a location.:
          $ref: ./examples/InfraRoleInstance/List.json
      x-ms-odata: '#/components/schemas/InfraRoleInstance'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleInstanceParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfraRoleInstance'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - InfraRoleInstances
      description: Return the requested infrastructure role instance.
      operationId: InfraRoleInstances_Get
      x-ms-examples:
        Return the requested infrastructure role instance.:
          $ref: ./examples/InfraRoleInstance/Get.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOff':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleInstanceParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      description: Power off an infrastructure role instance.
      operationId: InfraRoleInstances_PowerOff
      x-ms-examples:
        Power off an infrastructure role instance:
          $ref: ./examples/InfraRoleInstance/PowerOff.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOn':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleInstanceParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      description: Power on an infrastructure role instance.
      operationId: InfraRoleInstances_PowerOn
      x-ms-examples:
        Power on an infrastructure role instance:
          $ref: ./examples/InfraRoleInstance/PowerOn.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Reboot':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleInstanceParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      description: Reboot an infrastructure role instance.
      operationId: InfraRoleInstances_Reboot
      x-ms-examples:
        Reboot an infrastructure role instance:
          $ref: ./examples/InfraRoleInstance/Reboot.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Shutdown':
    post:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/InfraRoleInstanceParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      description: Shut down an infrastructure role instance.
      operationId: InfraRoleInstances_Shutdown
      x-ms-examples:
        Shutdown an infrastructure role instance:
          $ref: ./examples/InfraRoleInstance/Shutdown.json
      x-ms-long-running-operation: true
components:
  parameters:
    InfraRoleInstanceParameter:
      description: Name of an infrastructure role instance.
      in: path
      name: infraRoleInstance
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    InfraRoleInstance:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        The virtual machine resource is used to represent an infrastructure
        virtual machine in the Azure Stack environment. The fabric resource
        provider only surfaces infrastructure virtual machines. These machines
        are never created directly by the admin, but rather as a side effect of
        expanding admin services.
      properties:
        properties:
          $ref: '#/components/schemas/InfraRoleInstanceModel'
          description: All properties of an infrastructure role instance.
          x-ms-client-flatten: true
      type: object
    InfraRoleInstanceList:
      description: Pageable list of infrastructure role instances.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of infrastructure role instances.
          items:
            $ref: '#/components/schemas/InfraRoleInstance'
          type: array
      type: object
    InfraRoleInstanceModel:
      description: All properties of an infrastructure role instance.
      properties:
        scaleUnit:
          description: The cluster that the virtual machine's host is part of.
          type: string
        scaleUnitNode:
          description: URI to the scale unit node.
          type: string
        size:
          $ref: '#/components/schemas/InfraRoleInstanceSize'
          description: Size of the virtual machine.
        state:
          description: The current state of the virtual machine.
          enum:
            - Stopped
            - Starting
            - Running
            - Stopping
          type: string
          x-ms-enum:
            modelAsString: true
            name: InfraRoleInstanceState
      type: object
    InfraRoleInstanceSize:
      description: The capacity information for a virtual machine.
      properties:
        cores:
          description: The number of cores assigned to the virtual machine.
          format: int32
          type: integer
        memoryGb:
          description: >-
            The amount of memory, in GB, currently assigned to the virtual
            machine.
          format: float
          type: number
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

