openapi: 3.0.0
info:
  description: Compute operation results.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/computeOperationResults':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeOperationResultList'
          description: OK
      tags:
        - ComputeOperationResults
      description: Returns a list of all compute operation results at a location.
      operationId: ComputeOperationResults_List
      x-ms-examples:
        Returns a list of all compute operation results at a location.:
          $ref: ./examples/ComputeOperationResult/List.json
      x-ms-odata: '#/components/schemas/ComputeOperationResult'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/computeOperationResults/{operation}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/OperationParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeOperationResult'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - ComputeOperationResults
      description: Returns the status of a compute operation.
      operationId: ComputeOperationResults_Get
      x-ms-examples:
        Returns the status of the operation.:
          $ref: ./examples/ComputeOperationResult/Get.json
components:
  parameters:
    OperationParameter:
      description: Operation identifier.
      in: path
      name: operation
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ComputeOperationResult:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: Compute operation result description.
      properties:
        properties:
          $ref: '#/components/schemas/ComputeOperationResultModel'
          description: Compute operation result properties.
          x-ms-client-flatten: true
      type: object
    ComputeOperationResultList:
      description: Pageable list of compute operation results.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of compute operation results.
          items:
            $ref: '#/components/schemas/ComputeOperationResult'
          type: array
      type: object
    ComputeOperationResultModel:
      description: Compute operation result properties.
      properties:
        instances:
          description: List of operation result instances.
          items:
            type: string
          type: array
        provisioningState:
          description: Success or failure of operation.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

