openapi: 3.0.0
info:
  title: CostManagementClient
  version: 2019-04-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.CostManagement/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.CostManagement/views:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists all views by tenant and object.
      operationId: Views_List
      x-ms-examples:
        PrivateViewList:
          $ref: ./examples/PrivateViewList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.CostManagement/views/{viewName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/viewNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        '204':
          description: NoContent. Resource is not available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a view.
      operationId: Views_Delete
      x-ms-examples:
        DeletePrivateView:
          $ref: ./examples/PrivateViewDelete.json
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/viewNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the view by view name.
      operationId: Views_Get
      x-ms-examples:
        PrivateView:
          $ref: ./examples/PrivateView.json
    put:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/viewNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a view. Update operation requires
        latest eTag to be set in the request. You may obtain the latest eTag by
        performing a get operation. Create operation does not require eTag.
      operationId: Views_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
        description: Parameters supplied to the CreateOrUpdate View operation.
        required: true
      x-ms-examples:
        CreateOrUpdatePrivateView:
          $ref: ./examples/PrivateViewCreateOrUpdate.json
  '/{scope}/providers/Microsoft.CostManagement/budgets':
    get:
      parameters:
        - $ref: '#/components/parameters/scopeBudgetParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/cost-management/'
      description: Lists all budgets for the defined scope.
      operationId: Budgets_List
      x-ms-examples:
        BudgetsList:
          $ref: ./examples/BudgetsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.CostManagement/budgets/{budgetName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/scopeBudgetParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        '204':
          description: NoContent. Resource is not available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/cost-management/'
      description: The operation to delete a budget.
      operationId: Budget_Delete
      x-ms-examples:
        DeleteBudget:
          $ref: ./examples/DeleteBudget.json
    get:
      parameters:
        - $ref: '#/components/parameters/scopeBudgetParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetModel'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/cost-management/'
      description: Gets the budget for the scope by budget name.
      operationId: Budget_Get
      x-ms-examples:
        Budget:
          $ref: ./examples/Budget.json
    put:
      parameters:
        - $ref: '#/components/parameters/scopeBudgetParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/budgetNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetModel'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetModel'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Budgets
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/cost-management/'
      description: >-
        The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the
        latest eTag by performing a get operation. Create operation does not
        require eTag.
      operationId: Budget_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetModel'
        description: Parameters supplied to the Create Budget operation.
      x-ms-examples:
        CreateOrUpdateBudget:
          $ref: ./examples/CreateOrUpdateBudget.json
  '/{scope}/providers/Microsoft.CostManagement/views':
    get:
      parameters:
        - $ref: '#/components/parameters/scopeViewParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Lists all views at the given scope.
      operationId: Views_ListByScope
      x-ms-examples:
        ResourceGroupViewList:
          $ref: ./examples/ViewListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.CostManagement/views/{viewName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/scopeViewParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/viewNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
        '204':
          description: NoContent. Resource is not available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: The operation to delete a view.
      operationId: Views_DeleteByScope
      x-ms-examples:
        ResourceGroupDeleteView:
          $ref: ./examples/ViewDeleteByResourceGroup.json
    get:
      parameters:
        - $ref: '#/components/parameters/scopeViewParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/viewNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: Gets the view for the defined scope by view name.
      operationId: Views_GetByScope
      x-ms-examples:
        ResourceGroupView:
          $ref: ./examples/ViewByResourceGroup.json
    put:
      parameters:
        - $ref: '#/components/parameters/scopeViewParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/viewNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Views
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/costmanagement/'
      description: >-
        The operation to create or update a view. Update operation requires
        latest eTag to be set in the request. You may obtain the latest eTag by
        performing a get operation. Create operation does not require eTag.
      operationId: Views_CreateOrUpdateByScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/View'
        description: Parameters supplied to the CreateOrUpdate View operation.
        required: true
      x-ms-examples:
        ResourceGroupCreateOrUpdateView:
          $ref: ./examples/ViewCreateOrUpdateByResourceGroup.json
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2019-04-01-preview
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    budgetNameParameter:
      description: Budget Name.
      in: path
      name: budgetName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    departmentIdParameter:
      description: Department ID
      in: path
      name: departmentId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    enrollmentAccountIdParameter:
      description: Enrollment Account ID
      in: path
      name: enrollmentAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    managementGroupIdParameter:
      description: ManagementGroup ID
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    scopeBudgetParameter:
      allowReserved: true
      description: >-
        The scope associated with budget operations. This includes
        '/subscriptions/{subscriptionId}/' for subscription scope,
        '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
        resourceGroup scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
        Billing Account scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
        for Department scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
        for EnrollmentAccount scope,
        '/providers/Microsoft.Management/managementGroups/{managementGroupId}'
        for Management Group scope,
        '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
        for billingProfile scope,
        'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
        for invoiceSection scope.
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
    scopeViewParameter:
      description: >-
        The scope associated with view operations. This includes
        'subscriptions/{subscriptionId}' for subscription scope,
        'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
        resourceGroup scope,
        'providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
        Billing Account scope,
        'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
        for Department scope,
        'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
        for EnrollmentAccount scope,
        'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
        for BillingProfile scope,
        'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
        for InvoiceSection scope,
        'providers/Microsoft.Management/managementGroups/{managementGroupId}'
        for Management Group scope,
        'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
        for External Billing Account scope and
        'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
        for External Subscription scope.
      in: path
      name: scope
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    viewNameParameter:
      description: View name
      in: path
      name: viewName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  requestBodies:
    View:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/View'
      description: Parameters supplied to the CreateOrUpdate View operation.
      required: true
  schemas:
    BudgetModel:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: A budget resource.
      properties:
        properties:
          $ref: '#/components/schemas/BudgetProperties'
          title: Budget properties
          x-ms-client-flatten: true
      type: object
    BudgetProperties:
      description: The properties of the budget.
      properties:
        amount:
          description: The total amount of cost to track with the budget
          format: decimal
          type: number
        category:
          description: 'The category of the budget, whether the budget tracks cost or usage.'
          enum:
            - Cost
            - Usage
          type: string
          x-ms-enum:
            modelAsString: true
            name: CategoryType
        currentSpend:
          $ref: '#/components/schemas/CurrentSpend'
          description: The current amount of cost which is being tracked for a budget.
          readOnly: true
        filter:
          $ref: '#/components/schemas/ReportConfigFilter'
          description: May be used to filter budgets.
          type: object
        notifications:
          additionalProperties:
            $ref: '#/components/schemas/Notification'
            type: object
          description: >-
            Dictionary of notifications associated with the budget. Budget can
            have up to five notifications.
          maxItems: 5
          type: object
        timeGrain:
          description: >-
            The time covered by a budget. Tracking of the amount will be reset
            based on the time grain.
          enum:
            - Monthly
            - Quarterly
            - Annually
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeGrainType
        timePeriod:
          $ref: '#/components/schemas/BudgetTimePeriod'
          description: >-
            Has start and end date of the budget. The start date must be first
            of the month and should be less than the end date. Budget start date
            must be on or after June 1, 2017. Future start date should not be
            more than three months. Past start date should  be selected within
            the timegrain period. There are no restrictions on the end date.
      required:
        - category
        - amount
        - timeGrain
        - timePeriod
      type: object
    BudgetTimePeriod:
      description: The start and end date for a budget.
      properties:
        endDate:
          description: >-
            The end date for the budget. If not provided, we default this to 10
            years from the start date.
          format: date-time
          type: string
        startDate:
          description: The start date for the budget.
          format: date-time
          type: string
      required:
        - startDate
      type: object
    BudgetsListResult:
      description: >-
        Result of listing budgets. It contains a list of available budgets in
        the scope provided.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of budgets.
          items:
            $ref: '#/components/schemas/BudgetModel'
          readOnly: true
          type: array
      type: object
    CurrentSpend:
      description: The current amount of cost which is being tracked for a budget.
      properties:
        amount:
          description: The total amount of cost which is being tracked by the budget.
          format: decimal
          readOnly: true
          type: number
        unit:
          description: The unit of measure for the budget amount.
          readOnly: true
          type: string
      type: object
    ErrorBase:
      description: The details of the error.
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          type: string
        message:
          description: A human readable error message.
          readOnly: true
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          readOnly: true
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: A machine readable error code.
          readOnly: true
          type: string
        details:
          description: error details.
          items:
            $ref: '#/components/schemas/ErrorBase'
          type: array
        message:
          description: A human readable error message.
          readOnly: true
          type: string
        target:
          description: >-
            Indicates which property in the request is responsible for the
            error.
          type: string
      type: object
    ErrorResponse:
      description: >-
        Error response indicates that the service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
      type: object
    KpiProperties:
      description: Each KPI must contain a 'type' and 'enabled' key.
      properties:
        enabled:
          description: show the KPI in the UI?
          type: boolean
        id:
          description: ID of resource related to metric (budget).
          type: string
        type:
          description: 'KPI type (Forecast, Budget).'
          enum:
            - Forecast
            - Budget
          type: string
          x-ms-enum:
            modelAsString: true
            name: KpiTypeType
      type: object
    Notification:
      description: The notification associated with a budget.
      properties:
        contactEmails:
          description: >-
            Email addresses to send the budget notification to when the
            threshold is exceeded.
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        contactGroups:
          description: >-
            Action groups to send the budget notification to when the threshold
            is exceeded.
          items:
            type: string
          maxItems: 50
          minItems: 0
          type: array
        contactRoles:
          description: >-
            Contact roles to send the budget notification to when the threshold
            is exceeded.
          items:
            type: string
          type: array
        enabled:
          description: The notification is enabled or not.
          type: boolean
        operator:
          description: The comparison operator.
          enum:
            - EqualTo
            - GreaterThan
            - GreaterThanOrEqualTo
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationOperatorType
        threshold:
          description: >-
            Threshold value associated with a notification. Notification is sent
            when the cost exceeded the threshold. It is always percent and has
            to be between 0 and 1000.
          format: decimal
          type: number
      required:
        - enabled
        - operator
        - threshold
        - contactEmails
      type: object
    Operation:
      description: A Cost management REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.CostManagement.'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: Dimensions, Query.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of listing cost management operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of cost management operations supported by the
            Microsoft.CostManagement resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    PivotProperties:
      description: Each pivot must contain a 'type' and 'name'.
      properties:
        name:
          description: Data field to show in view.
          type: string
        type:
          description: Data type to show in view.
          enum:
            - Dimension
            - TagKey
          type: string
          x-ms-enum:
            modelAsString: true
            name: PivotTypeType
      type: object
    ProxyResource:
      description: The Resource model definition.
      properties:
        eTag:
          description: >-
            eTag of the resource. To handle concurrent update scenario, this
            field will be used to determine whether the user is updating the
            latest version or not.
          type: string
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ReportConfigAggregation:
      description: The aggregation expression to be used in the report.
      properties:
        function:
          description: The name of the aggregation function to use.
          enum:
            - Sum
          type: string
          x-ms-enum:
            modelAsString: true
            name: FunctionType
        name:
          description: The name of the column to aggregate.
          type: string
      required:
        - name
        - function
      type: object
    ReportConfigColumnType:
      description: The type of the column in the report.
      enum:
        - Tag
        - Dimension
      type: string
      x-ms-enum:
        modelAsString: true
        name: ReportConfigColumnType
    ReportConfigComparisonExpression:
      description: The comparison expression to be used in the report.
      properties:
        name:
          description: The name of the column to use in comparison.
          type: string
        operator:
          description: The operator to use for comparison.
          enum:
            - In
            - Contains
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        values:
          description: Array of values to use for comparison
          items:
            type: string
          minItems: 1
          type: array
      required:
        - name
        - operator
        - values
      type: object
    ReportConfigDataset:
      description: The definition of data present in the report.
      properties:
        aggregation:
          additionalProperties:
            $ref: '#/components/schemas/ReportConfigAggregation'
            type: object
          description: >-
            Dictionary of aggregation expression to use in the report. The key
            of each item in the dictionary is the alias for the aggregated
            column. Report can have up to 2 aggregation clauses.
          maxItems: 2
          type: object
        configuration:
          $ref: '#/components/schemas/ReportConfigDatasetConfiguration'
          description: >-
            Has configuration information for the data in the report. The
            configuration will be ignored if aggregation and grouping are
            provided.
        filter:
          $ref: '#/components/schemas/ReportConfigFilter'
          description: Has filter expression to use in the report.
          type: object
        granularity:
          description: The granularity of rows in the report.
          enum:
            - Daily
            - Monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: GranularityType
        grouping:
          description: >-
            Array of group by expression to use in the report. Report can have
            up to 2 group by clauses.
          items:
            $ref: '#/components/schemas/ReportConfigGrouping'
          maxItems: 2
          type: array
        sorting:
          description: Array of order by expression to use in the report.
          items:
            $ref: '#/components/schemas/ReportConfigSorting'
          type: array
      type: object
    ReportConfigDatasetConfiguration:
      description: The configuration of dataset in the report.
      properties:
        columns:
          description: >-
            Array of column names to be included in the report. Any valid report
            column name is allowed. If not provided, then report includes all
            columns.
          items:
            type: string
          type: array
      type: object
    ReportConfigDefinition:
      description: The definition of a report config.
      properties:
        dataset:
          $ref: '#/components/schemas/ReportConfigDataset'
          description: Has definition for data in this report config.
        timePeriod:
          $ref: '#/components/schemas/ReportConfigTimePeriod'
          description: Has time period for pulling data for the report.
        timeframe:
          description: >-
            The time frame for pulling data for the report. If custom, then a
            specific time period must be provided.
          enum:
            - WeekToDate
            - MonthToDate
            - YearToDate
            - Custom
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeframeType
        type:
          description: >-
            The type of the report. Usage represents actual usage, forecast
            represents forecasted data and UsageAndForecast represents both
            usage and forecasted data. Actual usage and forecasted data can be
            differentiated based on dates.
          enum:
            - Usage
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReportType
      required:
        - type
        - timeframe
      type: object
    ReportConfigFilter:
      description: The filter expression to be used in the report.
      properties:
        and:
          description: The logical "AND" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          type: array
        dimension:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
          description: Has comparison expression for a dimension
        not:
          $ref: '#/components/schemas/ReportConfigFilter'
          description: The logical "NOT" expression.
        or:
          description: The logical "OR" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          type: array
        tag:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
          description: Has comparison expression for a tag
      type: object
    ReportConfigGrouping:
      description: The group by expression to be used in the report.
      properties:
        name:
          description: >-
            The name of the column to group. This version supports subscription
            lowest possible grain.
          type: string
        type:
          $ref: '#/components/schemas/ReportConfigColumnType'
          description: Has type of the column to group.
      required:
        - type
        - name
      type: object
    ReportConfigSorting:
      description: The order by expression to be used in the report.
      properties:
        direction:
          description: Direction of sort.
          enum:
            - Ascending
            - Descending
          type: string
        name:
          description: The name of the column to sort.
          type: string
      required:
        - name
      type: object
    ReportConfigTimePeriod:
      description: The start and end date for pulling data for the report.
      properties:
        from:
          description: The start date to pull data from.
          format: date-time
          type: string
        to:
          description: The end date to pull data to.
          format: date-time
          type: string
      required:
        - from
        - to
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          type: object
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Scope:
      description: The Scope model definition
      properties:
        childScope:
          $ref: '#/components/schemas/Scope'
        id:
          description: Scope id
          type: string
        name:
          description: Scope name
          type: string
        type:
          description: Scope type
          type: string
      type: object
    View:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: States and configurations of Cost Analysis.
      properties:
        properties:
          $ref: '#/components/schemas/ViewProperties'
          title: View properties
          x-ms-client-flatten: true
      type: object
    ViewListResult:
      description: Result of listing views. It contains a list of available views.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: The list of views.
          items:
            $ref: '#/components/schemas/View'
          readOnly: true
          type: array
      type: object
    ViewProperties:
      description: The properties of the view.
      properties:
        accumulated:
          description: Show costs accumulated over time.
          enum:
            - 'true'
            - 'false'
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccumulatedType
        chart:
          description: Chart type of the main view in Cost Analysis. Required.
          enum:
            - Area
            - Line
            - StackedColumn
            - GroupedColumn
            - Table
          type: string
          x-ms-enum:
            modelAsString: true
            name: ChartType
        createdOn:
          description: Date the user created this view.
          format: date-time
          readOnly: true
          type: string
        displayName:
          description: User input name of the view. Required.
          type: string
        kpis:
          description: List of KPIs to show in Cost Analysis UI.
          items:
            $ref: '#/components/schemas/KpiProperties'
          type: array
        metric:
          description: Metric to use when displaying costs.
          enum:
            - ActualCost
            - AmortizedCost
            - AHUB
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricType
        modifiedOn:
          description: Date when the user last modified this view.
          format: date-time
          readOnly: true
          type: string
        pivots:
          description: Configuration of 3 sub-views in the Cost Analysis UI.
          items:
            $ref: '#/components/schemas/PivotProperties'
          type: array
        query:
          $ref: '#/components/schemas/ReportConfigDefinition'
          description: Query body configuration. Required.
          type: object
          x-ms-client-flatten: true
        scope:
          description: >-
            Cost Management scope to save the view on. This includes
            'subscriptions/{subscriptionId}' for subscription scope,
            'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for resourceGroup scope,
            'providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
            Billing Account scope,
            'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
            for Department scope,
            'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
            for EnrollmentAccount scope,
            'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
            for BillingProfile scope,
            'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
            for InvoiceSection scope,
            'providers/Microsoft.Management/managementGroups/{managementGroupId}'
            for Management Group scope,
            '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
            for ExternalBillingAccount scope, and
            '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
            for ExternalSubscription scope.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

