{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these REST APIs for performing operations on OpenId Connect Provider entity associated with your Azure API Management deployment. API Management allows you to access APIs secured with token from [OpenID Connect Provider ](http://openid.net/connect/) to be accessed from the Developer Console.",
    "title": "ApiManagementClient",
    "version": "2018-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimopenidconnectproviders.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders": {
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "description": "| Field | Supported operators    | Supported functions                         |\n|-------|------------------------|---------------------------------------------|\n| id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/TopQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SkipQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenIdConnectProviderCollection"
                }
              }
            },
            "description": "Lists of all the OpenId Connect Providers."
          }
        },
        "tags": [
          "OpenIdConnectProviders"
        ],
        "description": "Lists all OpenID Connect Providers.",
        "operationId": "OpenIdConnectProvider_ListByService",
        "x-ms-examples": {
          "ApiManagementListOpenIdConnectProviders": {
            "$ref": "./examples/ApiManagementListOpenIdConnectProviders.json"
          }
        },
        "x-ms-odata": "#/components/schemas/OpenidConnectProviderContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/OpenIdConnectIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchRequiredParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenId Connect Provider was successfully deleted."
          },
          "204": {
            "description": "OpenId Connect Provider was successfully deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OpenIdConnectProviders"
        ],
        "description": "Deletes specific OpenID Connect Provider of the API Management service instance.",
        "operationId": "OpenIdConnectProvider_Delete",
        "x-ms-examples": {
          "ApiManagementDeleteOpenIdConnectProvider": {
            "$ref": "./examples/ApiManagementDeleteOpenIdConnectProvider.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/OpenIdConnectIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenidConnectProviderContract"
                }
              }
            },
            "description": "The response body contains the specified OpenId Connect Provider entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OpenIdConnectProviders"
        ],
        "description": "Gets specific OpenID Connect Provider.",
        "operationId": "OpenIdConnectProvider_Get",
        "x-ms-examples": {
          "ApiManagementGetOpenIdConnectProvider": {
            "$ref": "./examples/ApiManagementGetOpenIdConnectProvider.json"
          }
        }
      },
      "head": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/OpenIdConnectIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Specified openidConnectProvider entity exists and current entity state version is present in the ETag header.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OpenIdConnectProviders"
        ],
        "description": "Gets the entity state (Etag) version of the openIdConnectProvider specified by its identifier.",
        "operationId": "OpenIdConnectProvider_GetEntityTag",
        "x-ms-examples": {
          "ApiManagementHeadOpenIdConnectProvider": {
            "$ref": "./examples/ApiManagementHeadOpenIdConnectProvider.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/OpenIdConnectIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchRequiredParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "OpenId Connect Provider was successfully updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OpenIdConnectProviders"
        ],
        "description": "Updates the specific OpenID Connect Provider.",
        "operationId": "OpenIdConnectProvider_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenidConnectProviderUpdateContract"
              }
            }
          },
          "description": "Update parameters.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementUpdateOpenIdConnectProvider": {
            "$ref": "./examples/ApiManagementUpdateOpenIdConnectProvider.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./apimanagement.json#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/components/parameters/OpenIdConnectIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/IfMatchOptionalParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenidConnectProviderContract"
                }
              }
            },
            "description": "OpenIdConnect Provider was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenidConnectProviderContract"
                }
              }
            },
            "description": "OpenIdConnect Provider was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./apimanagement.json#/definitions/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OpenIdConnectProviders"
        ],
        "description": "Creates or updates the OpenID Connect Provider.",
        "operationId": "OpenIdConnectProvider_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenidConnectProviderContract"
              }
            }
          },
          "description": "Create parameters.",
          "required": true
        },
        "x-ms-examples": {
          "ApiManagementCreateOpenIdConnectProvider": {
            "$ref": "./examples/ApiManagementCreateOpenIdConnectProvider.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OpenIdConnectIdParameter": {
        "description": "Identifier of the OpenID Connect Provider.",
        "in": "path",
        "name": "opid",
        "required": true,
        "schema": {
          "maxLength": 256,
          "pattern": "^[^*#&+:<>?]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "OpenIdConnectProviderCollection": {
        "description": "Paged OpenIdProviders list representation.",
        "properties": {
          "nextLink": {
            "description": "Next page link if any.",
            "type": "string"
          },
          "value": {
            "description": "Page values.",
            "items": {
              "$ref": "#/components/schemas/OpenidConnectProviderContract"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OpenidConnectProviderContract": {
        "allOf": [
          {
            "$ref": "./apimanagement.json#/definitions/Resource"
          }
        ],
        "description": "OpenId Connect Provider details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/OpenidConnectProviderContractProperties",
            "description": "OpenId Connect Provider contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OpenidConnectProviderContractProperties": {
        "description": "OpenID Connect Providers Contract.",
        "properties": {
          "clientId": {
            "description": "Client ID of developer console which is the client application.",
            "type": "string"
          },
          "clientSecret": {
            "description": "Client Secret of developer console which is the client application.",
            "type": "string"
          },
          "description": {
            "description": "User-friendly description of OpenID Connect Provider.",
            "type": "string"
          },
          "displayName": {
            "description": "User-friendly OpenID Connect Provider name.",
            "maxLength": 50,
            "type": "string"
          },
          "metadataEndpoint": {
            "description": "Metadata endpoint URI.",
            "type": "string"
          }
        },
        "required": [
          "displayName",
          "metadataEndpoint",
          "clientId"
        ],
        "type": "object"
      },
      "OpenidConnectProviderUpdateContract": {
        "description": "Parameters supplied to the Update OpenID Connect Provider operation.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/OpenidConnectProviderUpdateContractProperties",
            "description": "OpenId Connect Provider Update contract properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OpenidConnectProviderUpdateContractProperties": {
        "description": "Parameters supplied to the Update OpenID Connect Provider operation.",
        "properties": {
          "clientId": {
            "description": "Client ID of developer console which is the client application.",
            "type": "string"
          },
          "clientSecret": {
            "description": "Client Secret of developer console which is the client application.",
            "type": "string"
          },
          "description": {
            "description": "User-friendly description of OpenID Connect Provider.",
            "type": "string"
          },
          "displayName": {
            "description": "User-friendly OpenID Connect Provider name.",
            "maxLength": 50,
            "type": "string"
          },
          "metadataEndpoint": {
            "description": "Metadata endpoint URI.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}