openapi: 3.0.0
info:
  description: Azure Blueprint Client.
  title: BlueprintClient
  version: 2017-11-11-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Blueprint/blueprintAssignments':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentList'
          description: OK - all Blueprint assignment retrieved.
      tags:
        - Assignment
      description: List Blueprint assignments within a subscription.
      operationId: Assignments_List
      x-ms-examples:
        Assignment:
          $ref: ./examples/BlueprintAssignment_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK - Blueprint assignment deleted.
        '204':
          description: no content
      tags:
        - Assignment
      description: Delete a Blueprint assignment.
      operationId: Assignments_Delete
      x-ms-examples:
        Assignment_Delete:
          $ref: ./examples/BlueprintAssignment_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK - Blueprint assignment retrieved.
      tags:
        - Assignment
      description: Get a Blueprint assignment.
      operationId: Assignments_Get
      x-ms-examples:
        Assignment:
          $ref: ./examples/BlueprintAssignment_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/AssignmentNameParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: Created - Blueprint assignment saved
      tags:
        - Assignment
      description: Create or update a Blueprint assignment.
      operationId: Assignments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
        description: assignment object to save.
        required: true
      x-ms-examples:
        Assignment:
          $ref: ./examples/BlueprintAssignment_Create.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    AssignmentNameParameter:
      description: name of the assignment.
      in: path
      name: assignmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: 'azure subscriptionId, which we assign the blueprint to.'
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Assignment:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Represents a Blueprint assignment.
      properties:
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
          description: Managed Service Identity for this Blueprint assignment
        properties:
          $ref: '#/components/schemas/AssignmentProperties'
          description: Properties for Assignment object.
          x-ms-client-flatten: true
      required:
        - identity
        - properties
      type: object
    AssignmentList:
      description: List of Blueprint assignments
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of Blueprint assignments.
          items:
            $ref: '#/components/schemas/Assignment'
          type: array
      type: object
    AssignmentLockSettings:
      description: Defines how Blueprint-managed resources will be locked.
      properties:
        mode:
          description: Lock mode.
          enum:
            - None
            - AllResources
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentLockMode
      type: object
    AssignmentProperties:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
      description: Detailed properties for Assignment.
      properties:
        parameters:
          $ref: '#/components/schemas/ParameterValueCollection'
          description: Blueprint parameter values.
        blueprintId:
          description: ID of the Blueprint definition resource.
          type: string
        locks:
          $ref: '#/components/schemas/AssignmentLockSettings'
          description: Defines how Blueprint-managed resources will be locked.
        provisioningState:
          description: State of the assignment.
          enum:
            - creating
            - validating
            - waiting
            - deploying
            - cancelling
            - locking
            - succeeded
            - failed
            - canceled
            - deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentProvisioningState
        resourceGroups:
          $ref: '#/components/schemas/ResourceGroupValueCollection'
          description: Names and locations of resource group placeholders.
        status:
          $ref: '#/components/schemas/AssignmentStatus'
          description: Status of Blueprint assignment. This field is readonly.
          readOnly: true
      required:
        - parameters
        - resourceGroups
      type: object
    AssignmentStatus:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourceStatusBase'
      description: The status of Blueprint assignment. This field is readonly.
      properties: {}
      type: object
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    BlueprintResourcePropertiesBase:
      description: Shared properties between all Blueprint resources.
      properties:
        description:
          description: Multi-line explain this resource.
          maxLength: 500
          type: string
        displayName:
          description: One-liner string explain this resource.
          maxLength: 256
          type: string
      type: object
      x-ms-external: true
    BlueprintResourceStatusBase:
      description: Shared status properties between all Blueprint resources.
      properties:
        lastModified:
          description: Last modified time of this blueprint.
          readOnly: true
          type: string
        timeCreated:
          description: Creation time of this blueprint.
          readOnly: true
          type: string
      type: object
    ManagedServiceIdentity:
      description: Managed Service Identity
      properties:
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
        tenantId:
          description: ID of the Azure Active Directory.
          type: string
        type:
          description: Type of the Managed Service Identity.
          enum:
            - None
            - SystemAssigned
            - UserAssigned
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServiceIdentityType
      required:
        - type
      type: object
    ParameterValue:
      allOf:
        - $ref: '#/components/schemas/ParameterValueBase'
      description: Value for the specified parameter.
      properties:
        value:
          description: actual value.
      required:
        - value
      type: object
    ParameterValueBase:
      description: Base class for ParameterValue.
      properties:
        description:
          description: >-
            Optional property, just to establish ParameterValueBase as a
            BaseClass.
          type: string
      type: object
    ParameterValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ParameterValueBase'
        description: keyValue pair of parameter fulfillment.
      description: A dictionary for parameters and their corresponding values.
      properties: {}
      type: object
    ResourceGroupValue:
      description: Represents an Azure resource group.
      properties:
        location:
          description: Location of the resource group
          type: string
        name:
          description: Name of the resource group
          maxLength: 90
          minLength: 1
          type: string
      type: object
    ResourceGroupValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ResourceGroupValue'
      description: >-
        A dictionary which maps resource group placeholders to the resource
        groups which will be created.
      properties: {}
      type: object
    SecretReferenceParameterValue:
      allOf:
        - $ref: '#/components/schemas/ParameterValueBase'
      description: 'The reference to a secret, if the parameter should be protected.'
      properties:
        reference:
          $ref: '#/components/schemas/SecretValueReference'
          description: Specifies the reference.
      required:
        - reference
      type: object
    SecretValueReference:
      description: Reference to a KeyVault secret.
      properties:
        keyVault:
          $ref: '#/components/schemas/keyVaultReference'
          description: Specifies the reference to a given Azure KeyVault.
        secretName:
          description: Name of the secret.
          type: string
        secretVersion:
          description: 'Version of the secret, (if there are multiple versions)'
          type: string
      required:
        - keyVault
        - secretName
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/AzureResourceBase'
      description: Common properties for all Azure tracked resources.
      properties:
        location:
          description: The location of this Blueprint assignment.
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - location
      type: object
    keyVaultReference:
      description: Specifies the link to a KeyVault.
      properties:
        id:
          description: Azure resource ID of the KeyVault.
          type: string
      required:
        - id
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

