openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-08-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyListResult'
          description: Success. The operation returns a list of FirewallPolicy resources.
      tags:
        - FirewallPolicies
      description: Gets all the Firewall Policies in a subscription.
      operationId: FirewallPolicies_ListAll
      x-ms-examples:
        List all Firewall Policies for a given subscription:
          $ref: ./examples/FirewallPolicyListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyListResult'
          description: Success. The operation returns a list of FirewallPolicy resources.
      tags:
        - FirewallPolicies
      description: Lists all Firewall Policies in a resource group.
      operationId: FirewallPolicies_List
      x-ms-examples:
        List all Firewall Policies for a given resource group:
          $ref: ./examples/FirewallPolicyListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not exist.
      tags:
        - FirewallPolicies
      description: Deletes the specified Firewall Policy.
      operationId: FirewallPolicies_Delete
      x-ms-examples:
        Delete Firewall Policy:
          $ref: ./examples/FirewallPolicyDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: >-
            Request successful. The operation returns a Firewall Policy
            resource.
      tags:
        - FirewallPolicies
      description: Gets the specified Firewall Policy.
      operationId: FirewallPolicies_Get
      x-ms-examples:
        Get FirewallPolicy:
          $ref: ./examples/FirewallPolicyGet.json
    patch:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: The resource group name of the Firewall Policy.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy being updated.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: >-
            Request successful. Returns the details of the Firewall Policy
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Error.
      tags:
        - FirewallPolicies
      description: Updates a Firewall Policy Tags.
      operationId: FirewallPolicies_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to Update Firewall Policy tags.
        required: true
      x-ms-examples:
        Update FirewallPolicy:
          $ref: ./examples/FirewallPolicyUpdateTags.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: >-
            Request successful. The operation returns the resulting
            FirewallPolicy resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: >-
            Request received successfully. The operation returns the resulting
            FirewallPolicy resource.
      tags:
        - FirewallPolicies
      description: Creates or updates the specified Firewall Policy.
      operationId: FirewallPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallPolicy'
        description: Parameters supplied to the create or update Firewall Policy operation.
        required: true
      x-ms-examples:
        Create FirewallPolicy:
          $ref: ./examples/FirewallPolicyPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleGroups':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroupListResult'
          description: >-
            Success. The operation returns a list of FirewallPolicyRuleGroup
            resources.
      tags:
        - FirewallPolicyRuleGroups
      description: Lists all FirewallPolicyRuleGroups in a FirewallPolicy resource.
      operationId: FirewallPolicyRuleGroups_List
      x-ms-examples:
        List all FirewallPolicyRuleGroups for a given FirewallPolicy:
          $ref: ./examples/FirewallPolicyRuleGroupList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleGroups/{ruleGroupName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - description: The name of the FirewallPolicyRuleGroup.
          in: path
          name: ruleGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not exist.
      tags:
        - FirewallPolicyRuleGroups
      description: Deletes the specified FirewallPolicyRuleGroup.
      operationId: FirewallPolicyRuleGroups_Delete
      x-ms-examples:
        Delete FirewallPolicyRuleGroup:
          $ref: ./examples/FirewallPolicyRuleGroupDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - description: The name of the FirewallPolicyRuleGroup.
          in: path
          name: ruleGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          description: >-
            Request successful. The operation returns a FirewallPolicyRuleGroup
            resource.
      tags:
        - FirewallPolicyRuleGroups
      description: Gets the specified FirewallPolicyRuleGroup.
      operationId: FirewallPolicyRuleGroups_Get
      x-ms-examples:
        Get FirewallPolicyRuleGroup:
          $ref: ./examples/FirewallPolicyRuleGroupGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Firewall Policy.
          in: path
          name: firewallPolicyName
          required: true
          schema:
            type: string
        - description: The name of the FirewallPolicyRuleGroup.
          in: path
          name: ruleGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          description: >-
            Request successful. The operation returns the resulting
            FirewallPolicyRuleGroup resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          description: >-
            Request received successfully. The operation returns the resulting
            FirewallPolicyRuleGroup resource.
      tags:
        - FirewallPolicyRuleGroups
      description: Creates or updates the specified FirewallPolicyRuleGroup.
      operationId: FirewallPolicyRuleGroups_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallPolicyRuleGroup'
        description: >-
          Parameters supplied to the create or update FirewallPolicyRuleGroup
          operation.
        required: true
      x-ms-examples:
        Create FirewallPolicyRuleGroup:
          $ref: ./examples/FirewallPolicyRuleGroupPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  schemas:
    ApplicationRuleCondition:
      allOf:
        - $ref: '#/components/schemas/FirewallPolicyRuleCondition'
      description: Rule condition of type application.
      properties:
        destinationAddresses:
          description: List of destination IP addresses or Service Tags.
          items:
            type: string
          type: array
        fqdnTags:
          description: List of FQDN Tags for this rule condition.
          items:
            type: string
          type: array
        protocols:
          description: Array of Application Protocols.
          items:
            $ref: >-
              #/components/schemas/FirewallPolicyRuleConditionApplicationProtocol
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          type: array
        targetFqdns:
          description: List of FQDNs for this rule condition.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: ApplicationRuleCondition
    FirewallPolicy:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: FirewallPolicy Resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/FirewallPolicyPropertiesFormat'
          description: Properties of the firewall policy.
          x-ms-client-flatten: true
      type: object
    FirewallPolicyFilterRule:
      allOf:
        - $ref: '#/components/schemas/FirewallPolicyRule'
      description: Firewall Policy Filter Rule.
      properties:
        action:
          $ref: '#/components/schemas/FirewallPolicyFilterRuleAction'
          description: The action type of a Filter rule.
        ruleConditions:
          description: Collection of rule conditions used by a rule.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleCondition'
          type: array
      type: object
      x-ms-discriminator-value: FirewallPolicyFilterRule
    FirewallPolicyFilterRuleAction:
      description: Properties of the FirewallPolicyFilterRuleAction.
      properties:
        type:
          $ref: '#/components/schemas/FirewallPolicyFilterRuleActionType'
          description: The type of action.
      type: object
    FirewallPolicyFilterRuleActionType:
      description: The action type of a rule.
      enum:
        - Allow
        - Deny
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyFilterRuleActionType
    FirewallPolicyListResult:
      description: Response for ListFirewallPolicies API service call.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: List of Firewall Policies in a resource group.
          items:
            $ref: '#/components/schemas/FirewallPolicy'
          type: array
      type: object
    FirewallPolicyNatRule:
      allOf:
        - $ref: '#/components/schemas/FirewallPolicyRule'
      description: Firewall Policy NAT Rule.
      properties:
        action:
          $ref: '#/components/schemas/FirewallPolicyNatRuleAction'
          description: The action type of a Nat rule.
        ruleCondition:
          $ref: '#/components/schemas/FirewallPolicyRuleCondition'
          description: The match conditions for incoming traffic.
        translatedAddress:
          description: The translated address for this NAT rule.
          type: string
        translatedPort:
          description: The translated port for this NAT rule.
          type: string
      type: object
      x-ms-discriminator-value: FirewallPolicyNatRule
    FirewallPolicyNatRuleAction:
      description: Properties of the FirewallPolicyNatRuleAction.
      properties:
        type:
          $ref: '#/components/schemas/FirewallPolicyNatRuleActionType'
          description: The type of action.
      type: object
    FirewallPolicyNatRuleActionType:
      description: The action type of a rule.
      enum:
        - DNAT
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyNatRuleActionType
    FirewallPolicyPropertiesFormat:
      description: Firewall Policy definition.
      properties:
        basePolicy:
          $ref: ./network.json#/definitions/SubResource
          description: The parent firewall policy from which rules are inherited.
          readOnly: false
        childPolicies:
          description: List of references to Child Firewall Policies.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        firewalls:
          description: >-
            List of references to Azure Firewalls that this Firewall Policy is
            associated with.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the firewall policy resource.
        ruleGroups:
          description: List of references to FirewallPolicyRuleGroups.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        threatIntelMode:
          $ref: ./azureFirewall.json#/definitions/AzureFirewallThreatIntelMode
          description: The operation mode for Threat Intelligence.
      type: object
    FirewallPolicyRule:
      description: Properties of the rule.
      discriminator:
        propertyName: ruleType
      properties:
        name:
          description: The name of the rule.
          type: string
        priority:
          description: Priority of the Firewall Policy Rule resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          type: integer
        ruleType:
          description: The type of the rule.
          enum:
            - FirewallPolicyNatRule
            - FirewallPolicyFilterRule
          type: string
          x-ms-enum:
            modelAsString: true
            name: FirewallPolicyRuleType
      required:
        - ruleType
      type: object
    FirewallPolicyRuleCondition:
      description: Properties of a rule.
      discriminator:
        propertyName: ruleConditionType
      properties:
        description:
          description: Description of the rule condition.
          type: string
        name:
          description: Name of the rule condition.
          type: string
        ruleConditionType:
          description: Rule Condition Type.
          enum:
            - ApplicationRuleCondition
            - NetworkRuleCondition
          type: string
          x-ms-enum:
            modelAsString: true
            name: FirewallPolicyRuleConditionType
      required:
        - ruleConditionType
      type: object
    FirewallPolicyRuleConditionApplicationProtocol:
      description: Properties of the application rule protocol.
      properties:
        port:
          description: 'Port number for the protocol, cannot be greater than 64000.'
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 64000
          minimum: 0
          type: integer
        protocolType:
          $ref: >-
            #/components/schemas/FirewallPolicyRuleConditionApplicationProtocolType
          description: Protocol type.
      type: object
    FirewallPolicyRuleConditionApplicationProtocolType:
      description: The application protocol type of a Rule condition.
      enum:
        - Http
        - Https
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyRuleConditionApplicationProtocolType
    FirewallPolicyRuleConditionNetworkProtocol:
      description: The Network protocol of a Rule condition.
      enum:
        - TCP
        - UDP
        - Any
        - ICMP
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyRuleConditionNetworkProtocol
    FirewallPolicyRuleGroup:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Rule Group resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/FirewallPolicyRuleGroupProperties'
          description: The properties of the firewall policy rule group.
          x-ms-client-flatten: true
        type:
          description: Rule Group type.
          readOnly: true
          type: string
      type: object
    FirewallPolicyRuleGroupListResult:
      description: Response for ListFirewallPolicyRuleGroups API service call.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: List of FirewallPolicyRuleGroups in a FirewallPolicy.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          type: array
      type: object
    FirewallPolicyRuleGroupProperties:
      description: Properties of the rule group.
      properties:
        priority:
          description: Priority of the Firewall Policy Rule Group resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          type: integer
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the firewall policy rule group resource.
        rules:
          description: Group of Firewall Policy rules.
          items:
            $ref: '#/components/schemas/FirewallPolicyRule'
          type: array
      type: object
    NetworkRuleCondition:
      allOf:
        - $ref: '#/components/schemas/FirewallPolicyRuleCondition'
      description: Rule condition of type network.
      properties:
        destinationAddresses:
          description: List of destination IP addresses or Service Tags.
          items:
            type: string
          type: array
        destinationPorts:
          description: List of destination ports.
          items:
            type: string
          type: array
        ipProtocols:
          description: Array of FirewallPolicyRuleConditionNetworkProtocols.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleConditionNetworkProtocol'
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: NetworkRuleCondition
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

