{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "title": "Security Center",
    "version": "2017-08-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/deviceSecurityGroups.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/deviceSecurityGroups": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSecurityGroupList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DeviceSecurityGroups"
        ],
        "description": "Use this method get the list of device security groups for the specified IoT Hub resource.",
        "operationId": "DeviceSecurityGroups_List",
        "x-ms-examples": {
          "List all device security groups for the specified IoT Hub resource": {
            "$ref": "./examples/DeviceSecurityGroups/ListDeviceSecurityGroups_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/deviceSecurityGroups/{deviceSecurityGroupName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceId"
          },
          {
            "$ref": "#/components/parameters/DeviceSecurityGroupName"
          }
        ],
        "responses": {
          "200": {
            "description": "Device security group has been deleted."
          },
          "204": {
            "description": "Device security group does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DeviceSecurityGroups"
        ],
        "description": "User this method to deletes the device security group.",
        "operationId": "DeviceSecurityGroups_Delete",
        "x-ms-examples": {
          "Delete a device security group for the specified IoT Hub resource": {
            "$ref": "./examples/DeviceSecurityGroups/DeleteDeviceSecurityGroups_example.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceId"
          },
          {
            "$ref": "#/components/parameters/DeviceSecurityGroupName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSecurityGroup"
                }
              }
            },
            "description": "Successful request to get device security group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DeviceSecurityGroups"
        ],
        "description": "Use this method to get the device security group for the specified IoT Hub resource.",
        "operationId": "DeviceSecurityGroups_Get",
        "x-ms-examples": {
          "Get a device security group for the specified IoT Hub resource": {
            "$ref": "./examples/DeviceSecurityGroups/GetDeviceSecurityGroups_example.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceId"
          },
          {
            "$ref": "#/components/parameters/DeviceSecurityGroupName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSecurityGroup"
                }
              }
            },
            "description": "Security group was updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSecurityGroup"
                }
              }
            },
            "description": "Security group was created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DeviceSecurityGroups"
        ],
        "description": "Use this method to creates or updates the device security group on a specified IoT Hub resource.",
        "operationId": "DeviceSecurityGroups_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceSecurityGroup"
              }
            }
          },
          "description": "Security group object.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a device security group for the specified IoT hub resource": {
            "$ref": "./examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DeviceSecurityGroupName": {
        "description": "The name of the device security group. Note that the name of the device security group is case insensitive.",
        "in": "path",
        "name": "deviceSecurityGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ActiveConnectionsNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of active connections is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "AllowlistCustomAlertRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListCustomAlertRule"
          }
        ],
        "description": "A custom alert rule that checks if a value (depends on the custom alert type) is allowed.",
        "properties": {
          "allowlistValues": {
            "description": "The values to allow. The format of the values depends on the rule type.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "allowlistValues"
        ],
        "type": "object"
      },
      "AmqpC2DMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of cloud to device messages (AMQP protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "AmqpC2DRejectedMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of rejected cloud to device messages (AMQP protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "AmqpD2CMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of device to cloud messages (AMQP protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "ConnectionToIpNotAllowed": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AllowlistCustomAlertRule"
          }
        ],
        "description": "Outbound connection to an ip that isn't allowed. Allow list consists of ipv4 or ipv6 range in CIDR notation.",
        "properties": {},
        "type": "object"
      },
      "CustomAlertRule": {
        "description": "A custom alert rule.",
        "discriminator": {
          "propertyName": "ruleType"
        },
        "properties": {
          "description": {
            "description": "The description of the custom alert.",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the custom alert.",
            "readOnly": true,
            "type": "string"
          },
          "isEnabled": {
            "description": "Status of the custom alert.",
            "type": "boolean"
          },
          "ruleType": {
            "description": "The type of the custom alert rule.",
            "type": "string"
          }
        },
        "required": [
          "isEnabled",
          "ruleType"
        ],
        "type": "object"
      },
      "DenylistCustomAlertRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListCustomAlertRule"
          }
        ],
        "description": "A custom alert rule that checks if a value (depends on the custom alert type) is denied.",
        "properties": {
          "denylistValues": {
            "description": "The values to deny. The format of the values depends on the rule type.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "denylistValues"
        ],
        "type": "object"
      },
      "DeviceSecurityGroup": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          }
        ],
        "description": "The device security group resource",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DeviceSecurityGroupProperties",
            "description": "Device Security group data",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DeviceSecurityGroupList": {
        "description": "List of device security groups",
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of device security group objects",
            "items": {
              "$ref": "#/components/schemas/DeviceSecurityGroup"
            },
            "type": "array"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "DeviceSecurityGroupProperties": {
        "description": "describes properties of a security group.",
        "properties": {
          "allowlistRules": {
            "description": "The allow-list custom alert rules.",
            "items": {
              "$ref": "#/components/schemas/AllowlistCustomAlertRule",
              "type": "object"
            },
            "type": "array"
          },
          "denylistRules": {
            "description": "The deny-list custom alert rules.",
            "items": {
              "$ref": "#/components/schemas/DenylistCustomAlertRule",
              "type": "object"
            },
            "type": "array"
          },
          "thresholdRules": {
            "description": "The list of custom alert threshold rules.",
            "items": {
              "$ref": "#/components/schemas/ThresholdCustomAlertRule",
              "type": "object"
            },
            "type": "array"
          },
          "timeWindowRules": {
            "description": "The list of custom alert time-window rules.",
            "items": {
              "$ref": "#/components/schemas/TimeWindowCustomAlertRule",
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DirectMethodInvokesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of direct method invokes is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "FailedLocalLoginsNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of failed local logins is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "FileUploadsNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of file uploads is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "HttpC2DMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of cloud to device messages (HTTP protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "HttpC2DRejectedMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of rejected cloud to device messages (HTTP protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "HttpD2CMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of device to cloud messages (HTTP protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "ListCustomAlertRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomAlertRule"
          }
        ],
        "description": "A List custom alert rule.",
        "properties": {
          "valueType": {
            "description": "The value type of the items in the list.",
            "enum": [
              "IpCidr",
              "String"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "valueType",
              "values": [
                {
                  "description": "An IP range in CIDR format (e.g. '192.168.0.1/8').",
                  "value": "IpCidr"
                },
                {
                  "description": "Any string value.",
                  "value": "String"
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "LocalUserNotAllowed": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AllowlistCustomAlertRule"
          }
        ],
        "description": "Login by a local user that isn't allowed. Allow list consists of login names to allow.",
        "properties": {},
        "type": "object"
      },
      "MqttC2DMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of cloud to device messages (MQTT protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "MqttC2DRejectedMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of rejected cloud to device messages (MQTT protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "MqttD2CMessagesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of device to cloud messages (MQTT protocol) is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "ProcessNotAllowed": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AllowlistCustomAlertRule"
          }
        ],
        "description": "Execution of a process that isn't allowed. Allow list consists of process names to allow.",
        "properties": {},
        "type": "object"
      },
      "QueuePurgesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of device queue purges is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "ThresholdCustomAlertRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomAlertRule"
          }
        ],
        "description": "A custom alert rule that checks if a value (depends on the custom alert type) is within the given range.",
        "properties": {
          "maxThreshold": {
            "description": "The maximum threshold.",
            "type": "integer"
          },
          "minThreshold": {
            "description": "The minimum threshold.",
            "type": "integer"
          }
        },
        "required": [
          "minThreshold",
          "maxThreshold"
        ],
        "type": "object"
      },
      "TimeWindowCustomAlertRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThresholdCustomAlertRule"
          }
        ],
        "description": "A custom alert rule that checks if the number of activities (depends on the custom alert type) in a time window is within the given range.",
        "properties": {
          "timeWindowSize": {
            "description": "The time window size in iso8601 format.",
            "format": "duration",
            "type": "string"
          }
        },
        "required": [
          "timeWindowSize"
        ],
        "type": "object"
      },
      "TwinUpdatesNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of twin updates is not in allowed range.",
        "properties": {},
        "type": "object"
      },
      "UnauthorizedOperationsNotInAllowedRange": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeWindowCustomAlertRule"
          }
        ],
        "description": "Number of unauthorized operations is not in allowed range.",
        "properties": {},
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}