openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/plans':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: List all plans across all subscriptions.
      operationId: Plans_ListAll
      x-ms-examples:
        Get the list of plans.:
          $ref: ./examples/Plan/ListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: Get the list of plans under a resource group.
      operationId: Plans_List
      x-ms-examples:
        Get the list of plans under a resource group.:
          $ref: ./examples/Plan/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}':
    delete:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/PlanParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: Delete the specified plan.
      operationId: Plans_Delete
      x-ms-examples:
        Delete the specified plan.:
          $ref: ./examples/Plan/Delete.json
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/PlanParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: Get the specified plan.
      operationId: Plans_Get
      x-ms-examples:
        Get the specified plan.:
          $ref: ./examples/Plan/Get.json
    put:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/PlanParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: Create or update the plan.
      operationId: Plans_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plan'
        description: New plan.
        required: true
      x-ms-examples:
        Create or update the plan.:
          $ref: ./examples/Plan/Create.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metricDefinitions':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/PlanParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/MetricDefinitionList
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: Get the metric definitions of the specified plan.
      operationId: Plans_ListMetricDefinitions
      x-ms-examples:
        Get the metric definitions of the specified plan.:
          $ref: ./examples/Plan/MetricDefinitions.json
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metrics':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/PlanParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/MetricList
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - Plans
      description: Get the metrics of the specified plan.
      operationId: Plans_ListMetrics
      x-ms-examples:
        Get the metrics of the specified plan.:
          $ref: ./examples/Plan/Metrics.json
components:
  schemas:
    Plan:
      allOf:
        - $ref: Subscriptions.json#/definitions/Resource
      description: >-
        A plan represents a package of quotas and capabilities that are offered
        tenants. A tenant can acquire this plan through an offer to upgrade his
        access to underlying cloud services.
      properties:
        properties:
          $ref: '#/components/schemas/PlanProperties'
          description: Properties of a plan.
          x-ms-client-flatten: true
      type: object
    PlanList:
      description: List of plans
      properties:
        nextLink:
          description: Continuation token
          type: string
        value:
          description: Array of plans.
          items:
            $ref: '#/components/schemas/Plan'
          type: array
      type: object
    PlanProperties:
      description: Properties of a plan.
      properties:
        description:
          description: Description of the plan.
          type: string
        displayName:
          description: Display name.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        name:
          description: Name of the plan.
          type: string
        quotaIds:
          description: Quota identifiers under the plan.
          items:
            type: string
          type: array
        skuIds:
          description: SKU identifiers.
          items:
            type: string
          type: array
        subscriptionCount:
          description: Subscription count.
          format: int32
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

