openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2015-04-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Insights/operations:
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
        - Operations
      description: Lists all of the available operations from Microsoft.Insights provider.
      operationId: Operations_List
      x-ms-examples:
        Get a list of operations for a resource provider:
          $ref: ./examples/OperationList.json
components:
  schemas:
    Operation:
      description: Microsoft Insights API operation definition.
      properties:
        display:
          description: Display metadata associated with the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.Insights'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: AlertRules,
                Autoscale, etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Microsoft.Insights operations. It contains
        a list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of operations supported by the Microsoft.Insights provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

