openapi: 3.0.0
info:
  description: APIs to manage web application firewall rules.
  title: WebApplicationFirewallManagement
  version: '2019-10-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedRuleSetDefinitionList'
          description: >-
            Success. The operation returns a list of all available web
            application firewall managed rule sets.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - WebApplicationFirewallManagedRuleSets
      description: Lists all available managed rule sets.
      operationId: ManagedRuleSets_List
      x-ms-examples:
        List Policies in a Resource Group:
          $ref: ./examples/WafListManagedRuleSets.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicyList'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - WebApplicationFirewallPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: Policies_List
      x-ms-examples:
        List Policies in a Resource Group:
          $ref: ./examples/WafListPolicies.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/PolicyNameParameter'
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: >-
            Accepted. The request has been accepted for processing and the
            operation will complete asynchronously.
        '204':
          description: >-
            No Content. The request has been accepted but the policy was not
            found.
      tags:
        - WebApplicationFirewallPolicies
      description: Deletes Policy
      operationId: Policies_Delete
      x-ms-examples:
        Delete protection policy:
          $ref: ./examples/WafPolicyDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/PolicyNameParameter'
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - WebApplicationFirewallPolicies
      description: Retrieve protection policy with specified name within a resource group.
      operationId: Policies_Get
      x-ms-examples:
        Get Policy:
          $ref: ./examples/WafPolicyGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/PolicyNameParameter'
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: OK. The request has succeeded.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: >-
            Created. The request has been fulfilled and a new protection policy
            has been created.
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: >-
            Accepted. The request has been accepted for processing and the
            operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - WebApplicationFirewallPolicies
      description: >-
        Create or update policy with specified rule set name within a resource
        group.
      operationId: Policies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        description: Policy to be created.
        required: true
      x-ms-examples:
        Creates specific policy:
          $ref: ./examples/WafPolicyCreateOrUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    PolicyNameParameter:
      description: The name of the Web Application Firewall Policy.
      in: path
      name: policyName
      required: true
      schema:
        maxLength: 128
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Name of the Resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: '^[a-zA-Z0-9_\-\(\)\.]*[^\.]$'
        type: string
      x-ms-parameter-location: method
  schemas:
    ActionType:
      description: Defines the action to take on rule match.
      enum:
        - Allow
        - Block
        - Log
        - Redirect
      type: string
      x-ms-enum:
        modelAsString: true
        name: ActionType
    CustomRule:
      description: Defines contents of a web application rule
      properties:
        action:
          $ref: '#/components/schemas/ActionType'
          description: Describes what action to be applied when rule matches.
        enabledState:
          description: >-
            Describes if the custom rule is in enabled or disabled state.
            Defaults to Enabled if not specified.
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomRuleEnabledState
        matchConditions:
          description: List of match conditions.
          items:
            $ref: '#/components/schemas/MatchCondition'
          type: array
        name:
          description: Describes the name of the rule.
          maxLength: 128
          type: string
        priority:
          description: >-
            Describes priority of the rule. Rules with a lower value will be
            evaluated before rules with a higher value.
          type: integer
        rateLimitDurationInMinutes:
          description: Time window for resetting the rate limit count. Default is 1 minute.
          maximum: 5
          minimum: 0
          type: integer
        rateLimitThreshold:
          description: Number of allowed requests per client within the time window.
          minimum: 0
          type: integer
        ruleType:
          description: Describes type of rule.
          enum:
            - MatchRule
            - RateLimitRule
          type: string
          x-ms-enum:
            modelAsString: true
            name: RuleType
      required:
        - priority
        - ruleType
        - matchConditions
        - action
      type: object
    CustomRuleList:
      description: Defines contents of custom rules
      properties:
        rules:
          description: List of rules
          items:
            $ref: '#/components/schemas/CustomRule'
          type: array
      type: object
    ErrorResponse:
      description: >-
        Error response indicates Front Door service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
      type: object
    FrontendEndpointLink:
      description: Defines the Resource ID for a Frontend Endpoint.
      properties:
        id:
          description: Resource ID.
          type: string
      readOnly: true
      type: object
    ManagedRuleDefinition:
      description: Describes a managed rule definition.
      properties:
        defaultAction:
          $ref: '#/components/schemas/ActionType'
          description: >-
            Describes the default action to be applied when the managed rule
            matches.
          readOnly: true
        defaultState:
          $ref: '#/components/schemas/ManagedRuleEnabledState'
          description: Describes the default state for the managed rule.
          readOnly: true
        description:
          description: Describes the functionality of the managed rule.
          readOnly: true
          type: string
        ruleId:
          description: Identifier for the managed rule.
          readOnly: true
          type: string
      type: object
    ManagedRuleEnabledState:
      description: Describes if the managed rule is in enabled or disabled state.
      enum:
        - Disabled
        - Enabled
      type: string
      x-ms-enum:
        modelAsString: true
        name: ManagedRuleEnabledState
    ManagedRuleExclusion:
      description: Exclude variables from managed rule evaluation.
      properties:
        matchVariable:
          description: The variable type to be excluded.
          enum:
            - RequestHeaderNames
            - RequestCookieNames
            - QueryStringArgNames
            - RequestBodyPostArgNames
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedRuleExclusionMatchVariable
        selector:
          description: >-
            Selector value for which elements in the collection this exclusion
            applies to.
          type: string
        selectorMatchOperator:
          description: >-
            Comparison operator to apply to the selector when specifying which
            elements in the collection this exclusion applies to.
          enum:
            - Equals
            - Contains
            - StartsWith
            - EndsWith
            - EqualsAny
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedRuleExclusionSelectorMatchOperator
      required:
        - matchVariable
        - selectorMatchOperator
        - selector
      type: object
    ManagedRuleGroupDefinition:
      description: Describes a managed rule group.
      properties:
        description:
          description: Description of the managed rule group.
          readOnly: true
          type: string
        ruleGroupName:
          description: Name of the managed rule group.
          readOnly: true
          type: string
        rules:
          description: List of rules within the managed rule group.
          items:
            $ref: '#/components/schemas/ManagedRuleDefinition'
          readOnly: true
          type: array
      type: object
    ManagedRuleGroupOverride:
      description: Defines a managed rule group override setting.
      properties:
        exclusions:
          description: Describes the exclusions that are applied to all rules in the group.
          items:
            $ref: '#/components/schemas/ManagedRuleExclusion'
          type: array
        ruleGroupName:
          description: Describes the managed rule group to override.
          type: string
        rules:
          description: >-
            List of rules that will be disabled. If none specified, all rules in
            the group will be disabled.
          items:
            $ref: '#/components/schemas/ManagedRuleOverride'
          type: array
      required:
        - ruleGroupName
      type: object
    ManagedRuleOverride:
      description: Defines a managed rule group override setting.
      properties:
        action:
          $ref: '#/components/schemas/ActionType'
          description: Describes the override action to be applied when rule matches.
        enabledState:
          $ref: '#/components/schemas/ManagedRuleEnabledState'
          description: >-
            Describes if the managed rule is in enabled or disabled state.
            Defaults to Disabled if not specified.
        exclusions:
          description: Describes the exclusions that are applied to this specific rule.
          items:
            $ref: '#/components/schemas/ManagedRuleExclusion'
          type: array
        ruleId:
          description: Identifier for the managed rule.
          type: string
      required:
        - ruleId
      type: object
    ManagedRuleSet:
      description: Defines a managed rule set.
      properties:
        exclusions:
          description: Describes the exclusions that are applied to all rules in the set.
          items:
            $ref: '#/components/schemas/ManagedRuleExclusion'
          type: array
        ruleGroupOverrides:
          description: Defines the rule group overrides to apply to the rule set.
          items:
            $ref: '#/components/schemas/ManagedRuleGroupOverride'
          type: array
        ruleSetType:
          description: Defines the rule set type to use.
          type: string
        ruleSetVersion:
          description: Defines the version of the rule set to use.
          type: string
      required:
        - ruleSetType
        - ruleSetVersion
      type: object
    ManagedRuleSetDefinition:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Describes the a managed rule set definition.
      properties:
        properties:
          $ref: '#/components/schemas/ManagedRuleSetDefinitionProperties'
          description: Properties for a managed rule set definition.
          x-ms-client-flatten: true
      type: object
    ManagedRuleSetDefinitionList:
      description: List of managed rule set definitions available for use in a policy.
      properties:
        nextLink:
          description: URL to retrieve next set of managed rule set definitions.
          type: string
        value:
          description: List of managed rule set definitions.
          items:
            $ref: '#/components/schemas/ManagedRuleSetDefinition'
          readOnly: true
          type: array
      type: object
    ManagedRuleSetDefinitionProperties:
      description: Properties for a managed rule set definition.
      properties:
        provisioningState:
          description: Provisioning state of the managed rule set.
          readOnly: true
          type: string
        ruleGroups:
          description: Rule groups of the managed rule set.
          items:
            $ref: '#/components/schemas/ManagedRuleGroupDefinition'
          readOnly: true
          type: array
        ruleSetId:
          description: Id of the managed rule set.
          readOnly: true
          type: string
        ruleSetType:
          description: Type of the managed rule set.
          readOnly: true
          type: string
        ruleSetVersion:
          description: Version of the managed rule set type.
          readOnly: true
          type: string
      type: object
    ManagedRuleSetList:
      description: Defines the list of managed rule sets for the policy.
      properties:
        managedRuleSets:
          description: List of rule sets.
          items:
            $ref: '#/components/schemas/ManagedRuleSet'
          type: array
      type: object
    MatchCondition:
      description: Define a match condition.
      properties:
        matchValue:
          description: List of possible match values.
          items:
            type: string
          type: array
        matchVariable:
          description: Request variable to compare with.
          enum:
            - RemoteAddr
            - RequestMethod
            - QueryString
            - PostArgs
            - RequestUri
            - RequestHeader
            - RequestBody
            - Cookies
            - SocketAddr
          type: string
          x-ms-enum:
            modelAsString: true
            name: MatchVariable
        negateCondition:
          description: Describes if the result of this condition should be negated.
          type: boolean
        operator:
          description: Comparison type to use for matching with the variable value.
          enum:
            - Any
            - IPMatch
            - GeoMatch
            - Equal
            - Contains
            - LessThan
            - GreaterThan
            - LessThanOrEqual
            - GreaterThanOrEqual
            - BeginsWith
            - EndsWith
            - RegEx
          type: string
          x-ms-enum:
            modelAsString: true
            name: Operator
        selector:
          description: >-
            Match against a specific key from the QueryString, PostArgs,
            RequestHeader or Cookies variables. Default is null.
          type: string
        transforms:
          description: List of transforms.
          items:
            $ref: '#/components/schemas/TransformType'
          type: array
      required:
        - matchVariable
        - operator
        - matchValue
      type: object
    PolicySettings:
      description: Defines top-level WebApplicationFirewallPolicy configuration settings.
      properties:
        customBlockResponseBody:
          description: >-
            If the action type is block, customer can override the response
            body. The body must be specified in base64 encoding.
          pattern: >-
            ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
          type: string
        customBlockResponseStatusCode:
          description: >-
            If the action type is block, customer can override the response
            status code.
          type: integer
        enabledState:
          description: >-
            Describes if the policy is in enabled or disabled state. Defaults to
            Enabled if not specified.
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyEnabledState
        mode:
          description: >-
            Describes if it is in detection mode or prevention mode at policy
            level.
          enum:
            - Prevention
            - Detection
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyMode
        redirectUrl:
          description: >-
            If action type is redirect, this field represents redirect URL for
            the client.
          type: string
      type: object
    TransformType:
      description: Describes what transforms applied before matching.
      enum:
        - Lowercase
        - Uppercase
        - Trim
        - UrlDecode
        - UrlEncode
        - RemoveNulls
      type: string
      x-ms-enum:
        modelAsString: true
        name: TransformType
    WebApplicationFirewallPolicy:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Defines web application firewall policy.
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/WebApplicationFirewallPolicyProperties'
          description: Properties of the web application firewall policy.
          x-ms-client-flatten: true
      type: object
    WebApplicationFirewallPolicyList:
      description: >-
        Defines a list of WebApplicationFirewallPolicies. It contains a list of
        WebApplicationFirewallPolicy objects and a URL link to get the next set
        of results.
      properties:
        nextLink:
          description: >-
            URL to get the next set of WebApplicationFirewallPolicy objects if
            there are any.
          type: string
        value:
          description: List of WebApplicationFirewallPolicies within a resource group.
          items:
            $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          readOnly: true
          type: array
      type: object
    WebApplicationFirewallPolicyProperties:
      description: Defines web application firewall policy properties.
      properties:
        customRules:
          $ref: '#/components/schemas/CustomRuleList'
          description: Describes custom rules inside the policy.
        frontendEndpointLinks:
          description: >-
            Describes Frontend Endpoints associated with this Web Application
            Firewall policy.
          items:
            $ref: '#/components/schemas/FrontendEndpointLink'
          readOnly: true
          type: array
        managedRules:
          $ref: '#/components/schemas/ManagedRuleSetList'
          description: Describes managed rules inside the policy.
        policySettings:
          $ref: '#/components/schemas/PolicySettings'
          description: Describes settings for the policy.
        provisioningState:
          description: Provisioning state of the policy.
          readOnly: true
          type: string
        resourceState:
          enum:
            - Creating
            - Enabling
            - Enabled
            - Disabling
            - Disabled
            - Deleting
          readOnly: true
          title: Resource status of the policy.
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyResourceState
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

