{
  "openapi": "3.0.0",
  "info": {
    "title": "AppServiceEnvironments API Client",
    "version": "2018-02-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get all App Service Environments for a subscription.",
        "operationId": "AppServiceEnvironments_List",
        "summary": "Get all App Service Environments for a subscription.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get all App Service Environments in a resource group.",
        "operationId": "AppServiceEnvironments_ListByResourceGroup",
        "summary": "Get all App Service Environments in a resource group.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify <code>true</code> to force the deletion even if the App Service Environment contains resources. The default is <code>false</code>.",
            "in": "query",
            "name": "forceDelete",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Operation is in progress."
          },
          "204": {
            "description": "App Service Environment does not exist"
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Delete an App Service Environment.",
        "operationId": "AppServiceEnvironments_Delete",
        "summary": "Delete an App Service Environment.",
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentResource"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get the properties of an App Service Environment.",
        "operationId": "AppServiceEnvironments_Get",
        "summary": "Get the properties of an App Service Environment."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentResource"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentResource"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Create or update an App Service Environment.",
        "operationId": "AppServiceEnvironments_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppServiceEnvironmentPatchResource"
              }
            }
          },
          "description": "Configuration details of the App Service Environment.",
          "required": true
        },
        "summary": "Create or update an App Service Environment."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentResource"
                }
              }
            },
            "description": "OK"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppServiceEnvironmentResource"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Create or update an App Service Environment.",
        "operationId": "AppServiceEnvironments_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppServiceEnvironmentResource"
              }
            }
          },
          "description": "Configuration details of the App Service Environment.",
          "required": true
        },
        "summary": "Create or update an App Service Environment.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StampCapacityCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get the used, available, and total worker capacity an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListCapacities",
        "summary": "Get the used, available, and total worker capacity an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get IP addresses assigned to an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListVips",
        "summary": "Get IP addresses assigned to an App Service Environment."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/changeVirtualNetwork": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Move an App Service Environment to a different VNET.",
        "operationId": "AppServiceEnvironments_ChangeVnet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./CommonDefinitions.json#/definitions/VirtualNetworkProfile"
              }
            }
          },
          "description": "Details for the new virtual network.",
          "required": true
        },
        "summary": "Move an App Service Environment to a different VNET.",
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/HostingEnvironmentDiagnostics"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get diagnostic information for an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListDiagnostics",
        "summary": "Get diagnostic information for an App Service Environment."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the diagnostics item.",
            "in": "path",
            "name": "diagnosticsName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostingEnvironmentDiagnostics"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get a diagnostics item for an App Service Environment.",
        "operationId": "AppServiceEnvironments_GetDiagnosticsItem",
        "summary": "Get a diagnostics item for an App Service Environment."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/inboundNetworkDependenciesEndpoints": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundEnvironmentEndpointCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get the network endpoints of all inbound dependencies of an App Service Environment.",
        "operationId": "AppServiceEnvironments_GetInboundNetworkDependenciesEndpoints",
        "summary": "Get the network endpoints of all inbound dependencies of an App Service Environment.",
        "x-ms-examples": {
          "Get Inbound Network Dependencies Endpoints": {
            "$ref": "./examples/GetInboundNetworkDependenciesEndpoints.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinition"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get global metric definitions of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMetricDefinitions",
        "summary": "Get global metric definitions of an App Service Environment."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "in": "query",
            "name": "details",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "allowReserved": true,
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[Hour|Minute|Day]'.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get global metrics of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMetrics",
        "summary": "Get global metrics of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get all multi-role pools.",
        "operationId": "AppServiceEnvironments_ListMultiRolePools",
        "summary": "Get all multi-role pools.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get properties of a multi-role pool.",
        "operationId": "AppServiceEnvironments_GetMultiRolePool",
        "summary": "Get properties of a multi-role pool."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Create or update a multi-role pool.",
        "operationId": "AppServiceEnvironments_UpdateMultiRolePool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerPoolResource"
              }
            }
          },
          "description": "Properties of the multi-role pool.",
          "required": true
        },
        "summary": "Create or update a multi-role pool."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Create or update a multi-role pool.",
        "operationId": "AppServiceEnvironments_CreateOrUpdateMultiRolePool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerPoolResource"
              }
            }
          },
          "description": "Properties of the multi-role pool.",
          "required": true
        },
        "summary": "Create or update a multi-role pool.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the instance in the multi-role pool.",
            "in": "path",
            "name": "instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions",
        "summary": "Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the instance in the multi-role pool.",
            "in": "path",
            "name": "instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "in": "query",
            "name": "details",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metrics for a specific instance of a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRolePoolInstanceMetrics",
        "summary": "Get metrics for a specific instance of a multi-role pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metric definitions for a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRoleMetricDefinitions",
        "summary": "Get metric definitions for a multi-role pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Beginning time of the metrics query.",
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End time of the metrics query.",
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time granularity of the metrics query.",
            "in": "query",
            "name": "timeGrain",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "in": "query",
            "name": "details",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "allowReserved": true,
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[Hour|Minute|Day]'.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metrics for a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRoleMetrics",
        "summary": "Get metrics for a multi-role pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuInfoCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get available SKUs for scaling a multi-role pool.",
        "operationId": "AppServiceEnvironments_ListMultiRolePoolSkus",
        "summary": "Get available SKUs for scaling a multi-role pool.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get usage metrics for a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRoleUsages",
        "summary": "Get usage metrics for a multi-role pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "./CommonDefinitions.json#/definitions/Operation"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "List all currently running operations on the App Service Environment.",
        "operationId": "AppServiceEnvironments_ListOperations",
        "summary": "List all currently running operations on the App Service Environment."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/outboundNetworkDependenciesEndpoints": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundEnvironmentEndpointCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get the network endpoints of all outbound dependencies of an App Service Environment.",
        "operationId": "AppServiceEnvironments_GetOutboundNetworkDependenciesEndpoints",
        "summary": "Get the network endpoints of all outbound dependencies of an App Service Environment.",
        "x-ms-examples": {
          "Get Outbound Network Dependencies Endpoints": {
            "$ref": "./examples/GetOutboundNetworkDependenciesEndpoints.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Reboot all machines in an App Service Environment.",
        "operationId": "AppServiceEnvironments_Reboot",
        "summary": "Reboot all machines in an App Service Environment."
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Resume an App Service Environment.",
        "operationId": "AppServiceEnvironments_Resume",
        "summary": "Resume an App Service Environment.",
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/AppServicePlanCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get all App Service plans in an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListAppServicePlans",
        "summary": "Get all App Service plans in an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of app properties to include.",
            "in": "query",
            "name": "propertiesToInclude",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get all apps in an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWebApps",
        "summary": "Get all apps in an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/WebAppCollection"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Suspend an App Service Environment.",
        "operationId": "AppServiceEnvironments_Suspend",
        "summary": "Suspend an App Service Environment.",
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowReserved": true,
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[Hour|Minute|Day]'.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/CsmUsageQuotaCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get global usage metrics of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListUsages",
        "summary": "Get global usage metrics of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get all worker pools of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWorkerPools",
        "summary": "Get all worker pools of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get properties of a worker pool.",
        "operationId": "AppServiceEnvironments_GetWorkerPool",
        "summary": "Get properties of a worker pool."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Create or update a worker pool.",
        "operationId": "AppServiceEnvironments_UpdateWorkerPool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerPoolResource"
              }
            }
          },
          "description": "Properties of the worker pool.",
          "required": true
        },
        "summary": "Create or update a worker pool."
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "OK."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerPoolResource"
                }
              }
            },
            "description": "Operation is in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Create or update a worker pool.",
        "operationId": "AppServiceEnvironments_CreateOrUpdateWorkerPool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerPoolResource"
              }
            }
          },
          "description": "Properties of the worker pool.",
          "required": true
        },
        "summary": "Create or update a worker pool.",
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metricdefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the instance in the worker pool.",
            "in": "path",
            "name": "instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metric definitions for a specific instance of a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWorkerPoolInstanceMetricDefinitions",
        "summary": "Get metric definitions for a specific instance of a worker pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the instance in the worker pool.",
            "in": "path",
            "name": "instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "in": "query",
            "name": "details",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "allowReserved": true,
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[Hour|Minute|Day]'.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metrics for a specific instance of a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWorkerPoolInstanceMetrics",
        "summary": "Get metrics for a specific instance of a worker pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metricdefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metric definitions for a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWebWorkerMetricDefinitions",
        "summary": "Get metric definitions for a worker pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metrics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of worker pool",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "in": "query",
            "name": "details",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "allowReserved": true,
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[Hour|Minute|Day]'.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/ResourceMetricCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get metrics for a worker pool of a AppServiceEnvironment (App Service Environment).",
        "operationId": "AppServiceEnvironments_ListWebWorkerMetrics",
        "summary": "Get metrics for a worker pool of a AppServiceEnvironment (App Service Environment).",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuInfoCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get available SKUs for scaling a worker pool.",
        "operationId": "AppServiceEnvironments_ListWorkerPoolSkus",
        "summary": "Get available SKUs for scaling a worker pool.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service Environment.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the worker pool.",
            "in": "path",
            "name": "workerPoolName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "AppServiceEnvironments"
        ],
        "description": "Get usage metrics for a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWebWorkerUsages",
        "summary": "Get usage metrics for a worker pool of an App Service Environment.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupNameParameter": {
        "description": "Name of the resource group to which the resource belongs.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "WorkerPoolResource": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkerPoolResource"
            }
          }
        },
        "description": "Properties of the multi-role pool.",
        "required": true
      },
      "WorkerPoolResource2": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkerPoolResource"
            }
          }
        },
        "description": "Properties of the worker pool.",
        "required": true
      }
    },
    "schemas": {
      "AddressResponse": {
        "description": "Describes main public IP address and any extra virtual IPs.",
        "properties": {
          "internalIpAddress": {
            "description": "Virtual Network internal IP address of the App Service Environment if it is in internal load-balancing mode.",
            "type": "string"
          },
          "outboundIpAddresses": {
            "description": "IP addresses appearing on outbound connections.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "serviceIpAddress": {
            "description": "Main public virtual IP.",
            "type": "string"
          },
          "vipMappings": {
            "description": "Additional virtual IPs.",
            "items": {
              "$ref": "./CommonDefinitions.json#/definitions/VirtualIPMapping"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AppServiceEnvironmentCollection": {
        "description": "Collection of App Service Environments.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/AppServiceEnvironmentResource"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "AppServiceEnvironmentPatchResource": {
        "allOf": [
          {
            "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
          }
        ],
        "description": "ARM resource for a app service environment.",
        "properties": {
          "properties": {
            "$ref": "./CommonDefinitions.json#/definitions/AppServiceEnvironment",
            "description": "Core resource properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AppServiceEnvironmentResource": {
        "allOf": [
          {
            "$ref": "./CommonDefinitions.json#/definitions/Resource"
          }
        ],
        "description": "App Service Environment ARM resource.",
        "properties": {
          "properties": {
            "$ref": "./CommonDefinitions.json#/definitions/AppServiceEnvironment",
            "description": "Core resource properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "EndpointDependency": {
        "description": "A domain name that a service is reached at, including details of the current connection status.",
        "properties": {
          "domainName": {
            "description": "The domain name of the dependency.",
            "type": "string"
          },
          "endpointDetails": {
            "description": "The IP Addresses and Ports used when connecting to DomainName.",
            "items": {
              "$ref": "#/components/schemas/EndpointDetail"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "EndpointDetail": {
        "description": "Current TCP connectivity information from the App Service Environment to a single endpoint.",
        "properties": {
          "ipAddress": {
            "description": "An IP Address that Domain Name currently resolves to.",
            "type": "string"
          },
          "isAccessable": {
            "description": "Whether it is possible to create a TCP connection from the App Service Environment to this IpAddress at this Port.",
            "type": "boolean"
          },
          "latency": {
            "description": "The time in milliseconds it takes for a TCP connection to be created from the App Service Environment to this IpAddress at this Port.",
            "format": "double",
            "type": "number"
          },
          "port": {
            "description": "The port an endpoint is connected to.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "HostingEnvironmentDiagnostics": {
        "description": "Diagnostics for an App Service Environment.",
        "properties": {
          "diagnosicsOutput": {
            "description": "Diagnostics output.",
            "type": "string"
          },
          "name": {
            "description": "Name/identifier of the diagnostics.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "InboundEnvironmentEndpoint": {
        "description": "The IP Addresses and Ports that require inbound network access to and within the subnet of the App Service Environment.",
        "properties": {
          "description": {
            "description": "Short text describing the purpose of the network traffic.",
            "type": "string"
          },
          "endpoints": {
            "description": "The IP addresses that network traffic will originate from in cidr notation.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "ports": {
            "description": "The ports that network traffic will arrive to the App Service Environment at.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "InboundEnvironmentEndpointCollection": {
        "description": "Collection of Inbound Environment Endpoints",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/InboundEnvironmentEndpoint"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "MetricAvailabilily": {
        "description": "Metric availability and retention.",
        "properties": {
          "retention": {
            "description": "Retention period for the current time grain.",
            "type": "string"
          },
          "timeGrain": {
            "description": "Time grain.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MetricDefinition": {
        "allOf": [
          {
            "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
          }
        ],
        "description": "Metadata for a metric.",
        "properties": {
          "properties": {
            "description": "MetricDefinition resource specific properties",
            "properties": {
              "displayName": {
                "description": "Friendly name shown in the UI.",
                "readOnly": true,
                "type": "string"
              },
              "metricAvailabilities": {
                "description": "List of time grains supported for the metric together with retention period.",
                "items": {
                  "$ref": "#/components/schemas/MetricAvailabilily"
                },
                "readOnly": true,
                "type": "array"
              },
              "primaryAggregationType": {
                "description": "Primary aggregation type.",
                "readOnly": true,
                "type": "string"
              },
              "unit": {
                "description": "Unit of the metric.",
                "readOnly": true,
                "type": "string"
              }
            },
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "OutboundEnvironmentEndpoint": {
        "description": "Endpoints accessed for a common purpose that the App Service Environment requires outbound network access to.",
        "properties": {
          "category": {
            "description": "The type of service accessed by the App Service Environment, e.g., Azure Storage, Azure SQL Database, and Azure Active Directory.",
            "type": "string"
          },
          "endpoints": {
            "description": "The endpoints that the App Service Environment reaches the service at.",
            "items": {
              "$ref": "#/components/schemas/EndpointDependency"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OutboundEnvironmentEndpointCollection": {
        "description": "Collection of Outbound Environment Endpoints",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/OutboundEnvironmentEndpoint"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "SkuInfo": {
        "description": "SKU discovery information.",
        "properties": {
          "capacity": {
            "$ref": "./CommonDefinitions.json#/definitions/SkuCapacity",
            "description": "Min, max, and default scale values of the SKU."
          },
          "resourceType": {
            "description": "Resource type that this SKU applies to.",
            "type": "string"
          },
          "sku": {
            "$ref": "./CommonDefinitions.json#/definitions/SkuDescription",
            "description": "Name and tier of the SKU."
          }
        },
        "type": "object"
      },
      "SkuInfoCollection": {
        "description": "Collection of SKU information.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/SkuInfo"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "StampCapacityCollection": {
        "description": "Collection of stamp capacities.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "./CommonDefinitions.json#/definitions/StampCapacity"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "Usage": {
        "allOf": [
          {
            "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
          }
        ],
        "description": "Usage of the quota resource.",
        "properties": {
          "properties": {
            "description": "Usage resource specific properties",
            "properties": {
              "computeMode": {
                "description": "Compute mode used for this usage.",
                "enum": [
                  "Shared",
                  "Dedicated",
                  "Dynamic"
                ],
                "readOnly": true,
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": false,
                  "name": "ComputeModeOptions"
                }
              },
              "currentValue": {
                "description": "The current value of the resource counter.",
                "format": "int64",
                "readOnly": true,
                "type": "integer"
              },
              "displayName": {
                "description": "Friendly name shown in the UI.",
                "readOnly": true,
                "type": "string"
              },
              "limit": {
                "description": "The resource limit.",
                "format": "int64",
                "readOnly": true,
                "type": "integer"
              },
              "nextResetTime": {
                "description": "Next reset time for the resource counter.",
                "format": "date-time",
                "readOnly": true,
                "type": "string"
              },
              "resourceName": {
                "description": "Name of the quota resource.",
                "readOnly": true,
                "type": "string"
              },
              "siteMode": {
                "description": "Site mode used for this usage.",
                "readOnly": true,
                "type": "string"
              },
              "unit": {
                "description": "Units of measurement for the quota resource.",
                "readOnly": true,
                "type": "string"
              }
            },
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "UsageCollection": {
        "description": "Collection of usages.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/Usage"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "WorkerPoolCollection": {
        "description": "Collection of worker pools.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
[...]
