openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure ExpressRouteCrossConnection Resource Provider REST APIs
    describes the operations for the connectivity provider to provision
    ExpressRoute circuit, create and modify BGP peering entities and
    troubleshoot connectivity on customer's ExpressRoute circuit. 
  title: ExpressRouteCrossConnection REST APIs
  version: '2018-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCrossConnections':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionListResult'
          description: >-
            Request successful. The operation returns a list of
            ExpressRouteCrossConnection resources. If there are no cross
            connection resources an empty list is returned.
      tags:
        - ExpressRouteCrossConnections
      description: Retrieves all the ExpressRouteCrossConnections in a subscription.
      operationId: ExpressRouteCrossConnections_List
      x-ms-examples:
        ExpressRouteCrossConnectionList:
          $ref: ./examples/ExpressRouteCrossConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionListResult'
          description: >-
            Request successful.The operation returns a list of
            ExpressRouteCrossConnection resources. If there are no cross
            connection resources an empty list is returned.
      tags:
        - ExpressRouteCrossConnections
      description: Retrieves all the ExpressRouteCrossConnections in a resource group.
      operationId: ExpressRouteCrossConnections_ListByResourceGroup
      x-ms-examples:
        ExpressRouteCrossConnectionListByResourceGroup:
          $ref: ./examples/ExpressRouteCrossConnectionListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}':
    get:
      parameters:
        - description: The name of the resource group (peering location of the circuit).
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: >-
            The name of the ExpressRouteCrossConnection (service key of the
            circuit).
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnection'
          description: >-
            Request successful. The operation returns the resulting
            ExpressRouteCrossConnection resource.
      tags:
        - ExpressRouteCrossConnections
      description: Gets details about the specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnections_Get
      x-ms-examples:
        GetExpressRouteCrossConnection:
          $ref: ./examples/ExpressRouteCrossConnectionGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the cross connection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnection'
          description: >-
            Update successful. The operation returns the resulting
            ExpressRouteCrossConnection resource.
      tags:
        - ExpressRouteCrossConnections
      description: Updates an express route cross connection tags.
      operationId: ExpressRouteCrossConnections_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update express route cross connection tags.
        required: true
      x-ms-examples:
        UpdateExpressRouteCrossConnectionTags:
          $ref: ./examples/ExpressRouteCrossConnectionUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnection'
          description: >-
            Update successful. The operation returns the resulting
            ExpressRouteCrossConnection resource.
      tags:
        - ExpressRouteCrossConnections
      description: Update the specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCrossConnection'
        description: >-
          Parameters supplied to the update express route crossConnection
          operation.
        required: true
      x-ms-examples:
        UpdateExpressRouteCrossConnection:
          $ref: ./examples/ExpressRouteCrossConnectionUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringList'
          description: >-
            Request successful. The operation returns a list of
            ExpressRouteCrossConnectionPeering resources.
      tags:
        - ExpressRouteCrossConnectionPeerings
      description: Gets all peerings in a specified ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_List
      x-ms-examples:
        ExpressRouteCrossConnectionBgpPeeringList:
          $ref: ./examples/ExpressRouteCrossConnectionBgpPeeringList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - ExpressRouteCrossConnectionPeerings
      description: Deletes the specified peering from the ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_Delete
      x-ms-examples:
        DeleteExpressRouteCrossConnectionBgpPeering:
          $ref: ./examples/ExpressRouteCrossConnectionBgpPeeringDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          description: >-
            Request successful. The operation returns the resulting
            ExpressRouteCrossConnectionPeering resource.
      tags:
        - ExpressRouteCrossConnectionPeerings
      description: Gets the specified peering for the ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_Get
      x-ms-examples:
        GetExpressRouteCrossConnectionBgpPeering:
          $ref: ./examples/ExpressRouteCrossConnectionBgpPeeringGet.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          description: >-
            Update successful. The operation returns the resulting
            ExpressRouteCrossConnectionPeering resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          description: >-
            Create successful. The operation returns the resulting
            ExpressRouteCrossConnectionPeering resource.
      tags:
        - ExpressRouteCrossConnectionPeerings
      description: >-
        Creates or updates a peering in the specified
        ExpressRouteCrossConnection.
      operationId: ExpressRouteCrossConnectionPeerings_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
        description: >-
          Parameters supplied to the create or update
          ExpressRouteCrossConnection peering operation.
        required: true
      x-ms-examples:
        ExpressRouteCrossConnectionBgpPeeringCreate:
          $ref: ./examples/ExpressRouteCrossConnectionBgpPeeringCreate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/arpTables/{devicePath}':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          schema:
            type: string
        - description: The path of the device
          in: path
          name: devicePath
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./expressRouteCircuit.json#/definitions/ExpressRouteCircuitsArpTableListResult
          description: >-
            Request successful. The operation returns the resulting
            ExpressRouteCrossConnectionsArpTable resource.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCrossConnectionArpTable
      description: >-
        Gets the currently advertised ARP table associated with the express
        route cross connection in a resource group.
      operationId: ExpressRouteCrossConnections_ListArpTable
      x-ms-examples:
        GetExpressRouteCrossConnectionsArpTable:
          $ref: ./examples/ExpressRouteCrossConnectionsArpTable.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTables/{devicePath}':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          schema:
            type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  ./expressRouteCircuit.json#/definitions/ExpressRouteCircuitsRoutesTableListResult
          description: >-
            Request successful. The operation returns the resulting
            ExpressRouteCrossConnectionsRouteTable resource.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCrossConnectionRouteTable
      description: >-
        Gets the currently advertised routes table associated with the express
        route cross connection in a resource group.
      operationId: ExpressRouteCrossConnections_ListRoutesTable
      x-ms-examples:
        GetExpressRouteCrossConnectionsRouteTable:
          $ref: ./examples/ExpressRouteCrossConnectionsRouteTable.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTablesSummary/{devicePath}':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ExpressRouteCrossConnection.
          in: path
          name: crossConnectionName
          required: true
          schema:
            type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          schema:
            type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExpressRouteCrossConnectionsRoutesTableSummaryListResult
          description: >-
            Request successful. The operation returns the resulting
            ExpressRouteCrossConnectionsRouteTableSummary resource.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCrossConnectionRouteTableSummary
      description: >-
        Gets the route table summary associated with the express route cross
        connection in a resource group.
      operationId: ExpressRouteCrossConnections_ListRoutesTableSummary
      x-ms-examples:
        GetExpressRouteCrossConnectionsRouteTableSummary:
          $ref: ./examples/ExpressRouteCrossConnectionsRouteTableSummary.json
      x-ms-long-running-operation: true
components:
  schemas:
    ExpressRouteCircuitReference:
      properties:
        id:
          description: Corresponding Express Route Circuit Id.
          type: string
      type: object
    ExpressRouteCrossConnection:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: ExpressRouteCrossConnection resource
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionProperties'
          x-ms-client-flatten: true
      type: object
    ExpressRouteCrossConnectionListResult:
      description: Response for ListExpressRouteCrossConnection API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of ExpressRouteCrossConnection resources.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnection'
          type: array
      type: object
    ExpressRouteCrossConnectionPeering:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Peering in an ExpressRoute Cross Connection resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        name:
          description: >-
            Gets name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ExpressRouteCrossConnectionPeeringProperties'
          x-ms-client-flatten: true
      type: object
    ExpressRouteCrossConnectionPeeringList:
      description: >-
        Response for ListPeering API service call retrieves all peerings that
        belong to an ExpressRouteCrossConnection.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: The peerings in an express route cross connection.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          type: array
      type: object
    ExpressRouteCrossConnectionPeeringProperties:
      properties:
        azureASN:
          description: The Azure ASN.
          format: int32
          readOnly: true
          type: integer
        gatewayManagerEtag:
          description: The GatewayManager Etag.
          type: string
        ipv6PeeringConfig:
          $ref: >-
            ./expressRouteCircuit.json#/definitions/Ipv6ExpressRouteCircuitPeeringConfig
          description: The IPv6 peering configuration.
        lastModifiedBy:
          description: Gets whether the provider or the customer last modified the peering.
          type: string
        microsoftPeeringConfig:
          $ref: >-
            ./expressRouteCircuit.json#/definitions/ExpressRouteCircuitPeeringConfig
          description: The Microsoft peering configuration.
        peerASN:
          description: The peer ASN.
          format: int64
          maximum: 4294967295
          minimum: 1
          type: integer
        peeringType:
          $ref: ./expressRouteCircuit.json#/definitions/ExpressRoutePeeringType
          description: The peering type.
        primaryAzurePort:
          description: The primary port.
          readOnly: true
          type: string
        primaryPeerAddressPrefix:
          description: The primary address prefix.
          type: string
        provisioningState:
          description: >-
            Gets the provisioning state of the public IP resource. Possible
            values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        secondaryAzurePort:
          description: The secondary port.
          readOnly: true
          type: string
        secondaryPeerAddressPrefix:
          description: The secondary address prefix.
          type: string
        sharedKey:
          description: The shared key.
          type: string
        state:
          $ref: ./expressRouteCircuit.json#/definitions/ExpressRoutePeeringState
          description: The peering state.
        vlanId:
          description: The VLAN ID.
          format: int32
          type: integer
      type: object
    ExpressRouteCrossConnectionProperties:
      description: Properties of ExpressRouteCrossConnection.
      properties:
        bandwidthInMbps:
          description: The circuit bandwidth In Mbps.
          format: int32
          type: integer
        expressRouteCircuit:
          $ref: '#/components/schemas/ExpressRouteCircuitReference'
          description: The ExpressRouteCircuit
        peeringLocation:
          description: The peering location of the ExpressRoute circuit.
          type: string
        peerings:
          description: The list of peerings.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionPeering'
          type: array
        primaryAzurePort:
          description: The name of the primary  port.
          readOnly: true
          type: string
        provisioningState:
          description: >-
            Gets the provisioning state of the public IP resource. Possible
            values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        sTag:
          description: The identifier of the circuit traffic.
          readOnly: true
          type: integer
        secondaryAzurePort:
          description: The name of the secondary  port.
          readOnly: true
          type: string
        serviceProviderNotes:
          description: Additional read only notes set by the connectivity provider.
          type: string
        serviceProviderProvisioningState:
          description: >-
            The provisioning state of the circuit in the connectivity provider
            system. Possible values are 'NotProvisioned', 'Provisioning',
            'Provisioned'.
          enum:
            - NotProvisioned
            - Provisioning
            - Provisioned
            - Deprovisioning
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceProviderProvisioningState
      type: object
    ExpressRouteCrossConnectionRoutesTableSummary:
      description: The routes table associated with the ExpressRouteCircuit.
      properties:
        asn:
          description: Autonomous system number.
          format: int32
          type: integer
        neighbor:
          description: IP address of Neighbor router
          type: string
        stateOrPrefixesReceived:
          description: >-
            Current state of the BGP session, and the number of prefixes that
            have been received from a neighbor or peer group.
          type: string
        upDown:
          description: >-
            The length of time that the BGP session has been in the Established
            state, or the current status if not in the Established state.
          type: string
      type: object
    ExpressRouteCrossConnectionsRoutesTableSummaryListResult:
      description: >-
        Response for ListRoutesTable associated with the Express Route Cross
        Connections.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of the routes table.
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionRoutesTableSummary'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

