openapi: 3.0.0
info:
  description: >

    This data set contains the list of polling places. It can be organized by
    ward/division, accessibility rating, or type of building.


    This list is used to assign poll workers, send the machines and necessary
    accessibility materials, etc.


    **Endpoint:** http://api.phila.gov/polling-places/v1
  title: Polling Places API
  version: '1.0'
servers:
  - url: 'http://api.phila.gov/polling-places/v1'
paths:
  /:
    get:
      parameters:
        - description: Ward Number
          in: query
          name: ward
          required: true
          schema:
            format: int32
            type: integer
        - description: Division Number
          in: query
          name: division
          required: true
          schema:
            format: int32
            type: integer
        - description: Optional parameter for jsonp support.
          in: query
          name: callback
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/features'
          description: An array containing the polling place
      summary: Get Polling Places Data
components:
  schemas:
    features:
      properties:
        building:
          description: >
            Assigned code to denote the accessibility of the polling place. See
            above for details of the codes.

            F = Building Fully Accessible;

            B = Building Substantially Accessible;

            M = Building Accessibilty Modified;

            A = Alternate Entrance;

            R = Building Accessible With Ramp;

            N = Building Not Accessible
          type: string
        display_address:
          description: >-
            Mailing address of the polling place (formatted for display
            purposes).
          type: string
        division:
          description: The number of the electoral section that houses the polling place.
          type: string
        lat:
          description: Latitudinal coordinates of the polling place.
          format: float
          type: number
        lng:
          description: Longitudinal coordinates of the polling place.
          format: float
          type: number
        location:
          description: The name of the polling place.
          type: string
        parking:
          description: >
            Assigned code to denote the availability of parking. See above for
            details of the codes.

            N = No Parking;

            G = General Parking;

            L = Loading Zone;

            H = Handicap Parking
          type: string
        pin_address:
          description: Mailing address of the polling place.
          type: string
        ward:
          description: >-
            The number of the electoral subdivision that houses the polling
            place.
          type: string
        zip_code:
          description: Zipcode of the polling place.
          format: int32
          type: integer
      type: object

