openapi: 3.0.0
info:
  description: >-
    API spec for Microsoft.Security (Microsoft Defender for Cloud) resource
    provider
  title: Microsoft Defender for Cloud
  version: 2019-01-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandardList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - RegulatoryCompliance
      description: Supported regulatory compliance standards details and state
      operationId: RegulatoryComplianceStandards_List
      x-ms-examples:
        Get all supported regulatory compliance standards details and state:
          $ref: >-
            ./examples/RegulatoryCompliance/getRegulatoryComplianceStandardList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/RegulatoryComplianceStandardName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceStandard'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - RegulatoryCompliance
      description: Supported regulatory compliance details state for selected standard
      operationId: RegulatoryComplianceStandards_Get
      x-ms-examples:
        Get selected regulatory compliance standard details and state:
          $ref: >-
            ./examples/RegulatoryCompliance/getRegulatoryComplianceStandard_example.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/RegulatoryComplianceStandardName'
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceControlList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - RegulatoryCompliance
      description: >-
        All supported regulatory compliance controls details and state for
        selected standard
      operationId: RegulatoryComplianceControls_List
      x-ms-examples:
        Get all regulatory compliance controls details and state for selected standard:
          $ref: >-
            ./examples/RegulatoryCompliance/getRegulatoryComplianceControlList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/RegulatoryComplianceStandardName'
        - $ref: '#/components/parameters/RegulatoryComplianceControlName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceControl'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - RegulatoryCompliance
      description: Selected regulatory compliance control details and state
      operationId: RegulatoryComplianceControls_Get
      x-ms-examples:
        Get selected regulatory compliance control details and state:
          $ref: >-
            ./examples/RegulatoryCompliance/getRegulatoryComplianceControl_example.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/RegulatoryComplianceStandardName'
        - $ref: '#/components/parameters/RegulatoryComplianceControlName'
        - $ref: ../../../common/v1/types.json#/components/parameters/ODataFilter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceAssessmentList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - RegulatoryCompliance
      description: >-
        Details and state of assessments mapped to selected regulatory
        compliance control
      operationId: RegulatoryComplianceAssessments_List
      x-ms-examples:
        Get all assessments mapped to selected regulatory compliance control:
          $ref: >-
            ./examples/RegulatoryCompliance/getRegulatoryComplianceAssessmentList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/regulatoryComplianceStandards/{regulatoryComplianceStandardName}/regulatoryComplianceControls/{regulatoryComplianceControlName}/regulatoryComplianceAssessments/{regulatoryComplianceAssessmentName}':
    get:
      parameters:
        - $ref: ../../../common/v1/types.json#/components/parameters/ApiVersion
        - $ref: ../../../common/v1/types.json#/components/parameters/SubscriptionId
        - $ref: '#/components/parameters/RegulatoryComplianceStandardName'
        - $ref: '#/components/parameters/RegulatoryComplianceControlName'
        - $ref: '#/components/parameters/RegulatoryComplianceAssessmentName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryComplianceAssessment'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
          description: Error response describing why the operation failed.
      tags:
        - RegulatoryCompliance
      description: >-
        Supported regulatory compliance details and state for selected
        assessment
      operationId: RegulatoryComplianceAssessments_Get
      x-ms-examples:
        Get selected regulatory compliance assessment details and state:
          $ref: >-
            ./examples/RegulatoryCompliance/getRegulatoryComplianceAssessment_example.json
components:
  parameters:
    RegulatoryComplianceAssessmentName:
      description: Name of the regulatory compliance assessment object
      in: path
      name: regulatoryComplianceAssessmentName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    RegulatoryComplianceControlName:
      description: Name of the regulatory compliance control object
      in: path
      name: regulatoryComplianceControlName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    RegulatoryComplianceStandardName:
      description: Name of the regulatory compliance standard object
      in: path
      name: regulatoryComplianceStandardName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    RegulatoryComplianceAssessment:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Regulatory compliance assessment details and state
      properties:
        properties:
          $ref: '#/components/schemas/RegulatoryComplianceAssessmentProperties'
          description: Regulatory compliance assessment data
          x-ms-client-flatten: true
      type: object
    RegulatoryComplianceAssessmentList:
      description: List of regulatory compliance assessment response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/RegulatoryComplianceAssessment'
          type: array
      required:
        - value
      type: object
    RegulatoryComplianceAssessmentProperties:
      description: Regulatory compliance assessment data
      properties:
        assessmentDetailsLink:
          description: >-
            Link to more detailed assessment results data. The response type
            will be according to the assessmentType field
          readOnly: true
          type: string
        assessmentType:
          description: >-
            The expected type of assessment contained in the
            AssessmentDetailsLink
          readOnly: true
          type: string
        description:
          description: The description of the regulatory compliance assessment
          readOnly: true
          type: string
        failedResources:
          description: The given assessment's related resources count with failed state.
          readOnly: true
          type: integer
        passedResources:
          description: The given assessment's related resources count with passed state.
          readOnly: true
          type: integer
        skippedResources:
          description: The given assessment's related resources count with skipped state.
          readOnly: true
          type: integer
        state:
          description: Aggregative state based on the assessment's scanned resources states
          enum:
            - Passed
            - Failed
            - Skipped
            - Unsupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
            values:
              - description: All related resources passed the given assessment
                value: Passed
              - description: The given assessment failed on at least one resource
                value: Failed
              - description: The given assessment skipped on all related resources
                value: Skipped
              - description: The given assessment has no supported resources
                value: Unsupported
        unsupportedResources:
          description: >-
            The given assessment's related resources count with unsupported
            state.
          readOnly: true
          type: integer
      type: object
    RegulatoryComplianceControl:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Regulatory compliance control details and state
      properties:
        properties:
          $ref: '#/components/schemas/RegulatoryComplianceControlProperties'
          description: Regulatory compliance control data
          x-ms-client-flatten: true
      type: object
    RegulatoryComplianceControlList:
      description: List of regulatory compliance controls response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          description: List of regulatory compliance controls
          items:
            $ref: '#/components/schemas/RegulatoryComplianceControl'
          type: array
      required:
        - value
      type: object
    RegulatoryComplianceControlProperties:
      description: Regulatory compliance control data
      properties:
        description:
          description: The description of the regulatory compliance control
          readOnly: true
          type: string
        failedAssessments:
          description: >-
            The number of supported regulatory compliance assessments of the
            given control with a failed state
          readOnly: true
          type: integer
        passedAssessments:
          description: >-
            The number of supported regulatory compliance assessments of the
            given control with a passed state
          readOnly: true
          type: integer
        skippedAssessments:
          description: >-
            The number of supported regulatory compliance assessments of the
            given control with a skipped state
          readOnly: true
          type: integer
        state:
          description: >-
            Aggregative state based on the control's supported assessments
            states
          enum:
            - Passed
            - Failed
            - Skipped
            - Unsupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
            values:
              - description: >-
                  All supported regulatory compliance assessments in the given
                  control have a passed state
                value: Passed
              - description: >-
                  At least one supported regulatory compliance assessment in the
                  given control has a state of failed
                value: Failed
              - description: >-
                  All supported regulatory compliance assessments in the given
                  control have a state of skipped
                value: Skipped
              - description: No supported regulatory assessment data for the given control
                value: Unsupported
      type: object
    RegulatoryComplianceStandard:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/Resource
      description: Regulatory compliance standard details and state
      properties:
        properties:
          $ref: '#/components/schemas/RegulatoryComplianceStandardProperties'
          description: Regulatory compliance standard data
          x-ms-client-flatten: true
      type: object
    RegulatoryComplianceStandardList:
      description: List of regulatory compliance standards response
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/RegulatoryComplianceStandard'
          type: array
      required:
        - value
      type: object
    RegulatoryComplianceStandardProperties:
      description: Regulatory compliance standard data
      properties:
        failedControls:
          description: >-
            The number of supported regulatory compliance controls of the given
            standard with a failed state
          readOnly: true
          type: integer
        passedControls:
          description: >-
            The number of supported regulatory compliance controls of the given
            standard with a passed state
          readOnly: true
          type: integer
        skippedControls:
          description: >-
            The number of supported regulatory compliance controls of the given
            standard with a skipped state
          readOnly: true
          type: integer
        state:
          description: Aggregative state based on the standard's supported controls states
          enum:
            - Passed
            - Failed
            - Skipped
            - Unsupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: state
            values:
              - description: >-
                  All supported regulatory compliance controls in the given
                  standard have a passed state
                value: Passed
              - description: >-
                  At least one supported regulatory compliance control in the
                  given standard has a state of failed
                value: Failed
              - description: >-
                  All supported regulatory compliance controls in the given
                  standard have a state of skipped
                value: Skipped
              - description: No supported regulatory compliance data for the given standard
                value: Unsupported
        unsupportedControls:
          description: >-
            The number of regulatory compliance controls of the given standard
            which are unsupported by automated assessments
          readOnly: true
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

