openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Managed Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to
    programmatically view, control, change, and monitor your entire Azure
    network centrally and with ease.
  title: ManagedNetworkManagementClient
  version: 2019-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.ManagedNetwork/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - Operations
      description: Lists all of the available MNC operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetwork/managedNetworks':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ListPageSizeParameter'
        - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkListResult'
          description: >-
            Get successful. The operation returns all Managed Network resources
            under the current subscription in a paginated format.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworks
      description: >-
        The ListBySubscription  ManagedNetwork operation retrieves all the
        Managed Network Resources in the current subscription in a paginated
        format.
      operationId: ManagedNetworks_ListBySubscription
      x-ms-examples:
        ManagedNetworksListBySubscription:
          $ref: ./examples/ManagedNetwork/ManagedNetworksListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ListPageSizeParameter'
        - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkListResult'
          description: >-
            Get successful. The operation returns all Managed Network resources
            under the specified resource group in a paginated format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworks
      description: >-
        The ListByResourceGroup ManagedNetwork operation retrieves all the
        Managed Network resources in a resource group in a paginated format.
      operationId: ManagedNetworks_ListByResourceGroup
      x-ms-examples:
        ManagedNetworksListByResourceGroup:
          $ref: ./examples/ManagedNetwork/ManagedNetworksListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworks
      description: >-
        The Delete ManagedNetworks operation deletes a Managed Network Resource,
        specified by the  resource group and Managed Network name
      operationId: ManagedNetworks_Delete
      x-ms-examples:
        ManagedNetworksDelete:
          $ref: ./examples/ManagedNetwork/ManagedNetworksDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetwork'
          description: >-
            Get successful. The operation returns the specified Managed Network
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworks
      description: >-
        The Get ManagedNetworks operation gets a Managed Network Resource,
        specified by the resource group and Managed Network name
      operationId: ManagedNetworks_Get
      x-ms-examples:
        ManagedNetworksGet:
          $ref: ./examples/ManagedNetwork/ManagedNetworksGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetwork'
          description: >-
            Update successful. The operation returns the updated Managed Network
            resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetwork'
          description: >-
            Update successful. The operation returns the updated Managed Network
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworks
      description: Updates the specified Managed Network resource tags.
      operationId: ManagedNetworks_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedNetworkUpdate'
        description: Parameters supplied to update application gateway tags and/or scope.
        required: true
      x-ms-examples:
        ManagedNetworksPatch:
          $ref: ./examples/ManagedNetwork/ManagedNetworksPatch.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetwork'
          description: >-
            Update successful. The operation returns the resulting Managed
            Network resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetwork'
          description: >-
            Create successful. The operation returns the resulting Managed
            Network resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworks
      description: >-
        The Put ManagedNetworks operation creates/updates a Managed Network
        Resource, specified by resource group and Managed Network name
      operationId: ManagedNetworks_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedNetwork'
        description: Parameters supplied to the create/update a Managed Network Resource
        required: true
      x-ms-examples:
        ManagedNetworksPut:
          $ref: ./examples/ManagedNetwork/ManagedNetworksPut.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkGroups':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ListPageSizeParameter'
        - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkGroupListResult'
          description: >-
            Get successful. The operation returns all Managed Network Group
            resources under the specified Managed Network in a paginated format.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkGroups
      description: >-
        The ListByManagedNetwork ManagedNetworkGroup operation retrieves all the
        Managed Network Groups in a specified Managed Networks in a paginated
        format.
      operationId: ManagedNetworkGroups_ListByManagedNetwork
      x-ms-examples:
        ManagedNetworksGroupsListByManagedNetwork:
          $ref: >-
            ./examples/ManagedNetworkGroup/ManagedNetworkGroupsListByManagedNetwork.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkGroups/{managedNetworkGroupName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkGroupNameParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkGroups
      description: >-
        The Delete ManagedNetworkGroups operation deletes a Managed Network
        Group specified by the resource group, Managed Network name, and group
        name
      operationId: ManagedNetworkGroups_Delete
      x-ms-examples:
        ManagementNetworkGroupsDelete:
          $ref: ./examples/ManagedNetworkGroup/ManagedNetworkGroupsDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkGroup'
          description: >-
            Get successful. The operation returns the specified Managed Network
            Group resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkGroups
      description: >-
        The Get ManagedNetworkGroups operation gets a Managed Network Group
        specified by the resource group, Managed Network name, and group name
      operationId: ManagedNetworkGroups_Get
      x-ms-examples:
        ManagementNetworkGroupsGet:
          $ref: ./examples/ManagedNetworkGroup/ManagedNetworkGroupsGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkGroup'
          description: >-
            Update successful. The operation returns the resulting Managed
            Network Group resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkGroup'
          description: >-
            Create successful. The operation returns the resulting Managed
            Network Group resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkGroups
      description: >-
        The Put ManagedNetworkGroups operation creates or updates a Managed
        Network Group resource
      operationId: ManagedNetworkGroups_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedNetworkGroup'
        description: >-
          Parameters supplied to the create/update a Managed Network Group
          resource
        required: true
      x-ms-examples:
        ManagementNetworkGroupsPut:
          $ref: ./examples/ManagedNetworkGroup/ManagedNetworkGroupsPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ListPageSizeParameter'
        - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicyListResult'
          description: >-
            Get successful. The operation returns all Managed Network Peering
            Policy resources in the specified Managed Network, in a paginated
            format
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkPeeringPolicies
      description: >-
        The ListByManagedNetwork PeeringPolicies operation retrieves all the
        Managed Network Peering Policies in a specified Managed Network, in a
        paginated format.
      operationId: ManagedNetworkPeeringPolicies_ListByManagedNetwork
      x-ms-examples:
        ManagedNetworkPeeringPoliciesListByManagedNetwork:
          $ref: >-
            ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesListByManagedNetwork.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies/{managedNetworkPeeringPolicyName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkPeeringPolicyNameParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkPeeringPolicies
      description: >-
        The Delete ManagedNetworkPeeringPolicies operation deletes a Managed
        Network Peering Policy, specified by the  resource group, Managed
        Network name, and peering policy name
      operationId: ManagedNetworkPeeringPolicies_Delete
      x-ms-examples:
        ManagedNetworkPeeringPoliciesDelete:
          $ref: >-
            ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkPeeringPolicyNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
          description: >-
            Get successful. The operation returns the specified Managed Network
            Peering Policy resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkPeeringPolicies
      description: >-
        The Get ManagedNetworkPeeringPolicies operation gets a Managed Network
        Peering Policy resource, specified by the  resource group, Managed
        Network name, and peering policy name
      operationId: ManagedNetworkPeeringPolicies_Get
      x-ms-examples:
        ManagedNetworkPeeringPoliciesGet:
          $ref: >-
            ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkNameParameter'
        - $ref: '#/components/parameters/ManagedNetworkPeeringPolicyNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
          description: >-
            Update successful. The operation returns the resulting Managed
            Network Peering Policy resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
          description: >-
            Create successful. The operation returns the resulting Managed
            Network Peering Policy resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ManagedNetworkPeeringPolicies
      description: >-
        The Put ManagedNetworkPeeringPolicies operation creates/updates a new
        Managed Network Peering Policy
      operationId: ManagedNetworkPeeringPolicies_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
        description: Parameters supplied to create/update a Managed Network Peering Policy
        required: true
      x-ms-examples:
        ManagedNetworkPeeringPoliciesPut:
          $ref: >-
            ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments':
    get:
      parameters:
        - allowReserved: true
          description: The base resource of the scope assignment.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignmentListResult'
          description: OK - Returns information about the scope assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ScopeAssignments
      description: Get the specified scope assignment.
      operationId: ScopeAssignments_List
      x-ms-examples:
        ScopeAssignmentsList:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments/{scopeAssignmentName}':
    delete:
      parameters:
        - allowReserved: true
          description: The scope of the scope assignment to delete.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the scope assignment to delete.
          in: path
          name: scopeAssignmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Delete Succeed.
        default:
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ScopeAssignments
      description: Deletes a scope assignment.
      operationId: ScopeAssignments_Delete
      x-ms-examples:
        ScopeAssignmentsDelete:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsDelete.json
    get:
      parameters:
        - allowReserved: true
          description: The base resource of the scope assignment.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the scope assignment to get.
          in: path
          name: scopeAssignmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignment'
          description: OK - Returns information about the scope assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ScopeAssignments
      description: Get the specified scope assignment.
      operationId: ScopeAssignments_Get
      x-ms-examples:
        ScopeAssignmentsGet:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsGet.json
    put:
      parameters:
        - allowReserved: true
          description: >-
            The base resource of the scope assignment to create. The scope can
            be any REST resource instance. For example, use
            'subscriptions/{subscription-id}' for a subscription,
            'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
            for a resource group, and
            'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
            for a resource.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the scope assignment to create.
          in: path
          name: scopeAssignmentName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignment'
          description: Updated - Returns information about the scope assignment.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignment'
          description: Created - Returns information about the scope assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            Resource Provider error response describing why the operation
            failed.
      tags:
        - ScopeAssignments
      description: Creates a scope assignment.
      operationId: ScopeAssignments_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeAssignment'
        description: >-
          Parameters supplied to the specify which Managed Network this scope is
          being assigned
        required: true
      x-ms-examples:
        ScopeAssignmentsPut:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsPut.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ListPageSizeParameter:
      description: May be used to limit the number of results in a page for list queries.
      in: query
      name: $top
      required: false
      schema:
        maximum: 20
        minimum: 1
        type: integer
      x-ms-parameter-location: method
    ListSkipTokenParameter:
      description: >-
        Skiptoken is only used if a previous operation returned a partial
        result. If a previous response contains a nextLink element, the value of
        the nextLink element will include a skiptoken parameter that specifies a
        starting point to use for subsequent calls.
      in: query
      name: $skiptoken
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedNetworkGroupNameParameter:
      description: The name of the Managed Network Group.
      in: path
      name: managedNetworkGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedNetworkNameParameter:
      description: The name of the Managed Network.
      in: path
      name: managedNetworkName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedNetworkPeeringPolicyNameParameter:
      description: The name of the Managed Network Peering Policy.
      in: path
      name: managedNetworkPeeringPolicyName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ConnectivityCollection:
      description: >-
        The collection of Connectivity related groups and policies within the
        Managed Network
      properties:
        groups:
          description: >-
            The collection of connectivity related Managed Network Groups within
            the Managed Network
          items:
            $ref: '#/components/schemas/ManagedNetworkGroup'
          readOnly: true
          type: array
        peerings:
          description: >-
            The collection of Managed Network Peering Policies within the
            Managed Network
          items:
            $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
          readOnly: true
          type: array
      type: object
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      properties:
        code:
          description: The error code.
          readOnly: true
          type: string
        message:
          description: The error message.
          readOnly: true
          type: string
      type: object
    HubAndSpokePeeringPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/ManagedNetworkPeeringPolicyProperties'
      description: Properties of a Hub and Spoke Peering Policy
      properties:
        hub:
          $ref: '#/components/schemas/ResourceId'
          description: Gets or sets the hub virtual network ID
        spokes:
          description: Gets or sets the spokes group IDs
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
      type: object
      x-ms-discriminator-value: HubAndSpokeTopology
    ManagedNetwork:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: The Managed Network resource
      properties:
        properties:
          $ref: '#/components/schemas/ManagedNetworkProperties'
          description: The MNC properties
          x-ms-client-flatten: true
      type: object
    ManagedNetworkGroup:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: The Managed Network Group resource
      properties:
        kind:
          description: >-
            Responsibility role under which this Managed Network Group will be
            created
          enum:
            - Connectivity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Kind
        properties:
          $ref: '#/components/schemas/ManagedNetworkGroupProperties'
          description: Gets or sets the properties of a network group
          x-ms-client-flatten: true
      type: object
    ManagedNetworkGroupListResult:
      description: >-
        Result of the request to list Managed Network Groups. It contains a list
        of groups and a URL link to get the next set of results.
      properties:
        nextLink:
          description: Gets the URL to get the next set of results.
          type: string
        value:
          description: Gets a page of ManagedNetworkGroup
          items:
            $ref: '#/components/schemas/ManagedNetworkGroup'
          type: array
      type: object
    ManagedNetworkGroupProperties:
      allOf:
        - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of a Managed Network Group
      properties:
        managementGroups:
          description: The collection of management groups covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        subnets:
          description: The collection of  subnets covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        subscriptions:
          description: The collection of subscriptions covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        virtualNetworks:
          description: The collection of virtual nets covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
      type: object
    ManagedNetworkListResult:
      description: >-
        Result of the request to list Managed Network. It contains a list of
        Managed Networks and a URL link to get the next set of results.
      properties:
        nextLink:
          description: Gets the URL to get the next page of results.
          type: string
        value:
          description: Gets a page of ManagedNetworks
          items:
            $ref: '#/components/schemas/ManagedNetwork'
          type: array
      type: object
    ManagedNetworkPeeringPolicy:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: The Managed Network Peering Policy resource
      properties:
        properties:
          $ref: '#/components/schemas/ManagedNetworkPeeringPolicyProperties'
          description: Gets or sets the properties of a Managed Network Policy
      type: object
    ManagedNetworkPeeringPolicyListResult:
      description: >-
        Result of the request to list Managed Network Peering Policies. It
        contains a list of policies and a URL link to get the next set of
        results.
      properties:
        nextLink:
          description: Gets the URL to get the next page of results.
          type: string
        value:
          description: Gets a page of Peering Policies
          items:
            $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
          type: array
      type: object
    ManagedNetworkPeeringPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of a Managed Network Peering Policy
      properties:
        hub:
          $ref: '#/components/schemas/ResourceId'
          description: Gets or sets the hub virtual network ID
        mesh:
          description: Gets or sets the mesh group IDs
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        spokes:
          description: Gets or sets the spokes group IDs
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        type:
          description: Gets or sets the connectivity type of a network structure policy
          enum:
            - HubAndSpokeTopology
            - MeshTopology
          type: string
          x-ms-enum:
            modelAsString: true
            name: type
      required:
        - type
      type: object
    ManagedNetworkProperties:
      allOf:
        - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of Managed Network
      properties:
        connectivity:
          $ref: '#/components/schemas/ConnectivityCollection'
          description: The collection of groups and policies concerned with connectivity
          readOnly: true
        scope:
          $ref: '#/components/schemas/Scope'
          description: >-
            The collection of management groups, subscriptions, virtual
            networks, and subnets by the Managed Network. This is a read-only
            property that is reflective of all ScopeAssignments for this Managed
            Network
      type: object
    ManagedNetworkUpdate:
      description: Update Tags of Managed Network
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
          x-ms-mutability:
            - read
            - create
            - update
      type: object
    MeshPeeringPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/ManagedNetworkPeeringPolicyProperties'
      description: Properties of a Mesh Peering Policy
      properties:
        mesh:
          description: Gets or sets the mesh group IDs
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
      type: object
      x-ms-discriminator-value: MeshTopology
    Operation:
      description: REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.ManagedNetwork'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: Profile, endpoint,
                etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Managed Network operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: >-
            List of Resource Provider operations supported by the Managed
            Network resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        The resource model definition for a ARM proxy resource. It will have
        everything other than required location and tags
    Resource:
      description: The general resource model definition
      properties:
        id:
          description: >-
            Fully qualified resource Id for the resource. Ex -
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
          type: string
        location:
          description: The geo-location where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: >-
            The type of the resource. Ex- Microsoft.Compute/virtualMachines or
            Microsoft.Storage/storageAccounts.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceId:
      description: Generic pointer to a resource
      properties:
        id:
          description: Resource Id
          type: string
      type: object
    ResourceProperties:
      description: Base for resource properties.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        provisioningState:
          description: Provisioning state of the ManagedNetwork resource.
          enum:
            - Updating
            - Deleting
            - Failed
            - Succeeded
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      type: object
    Scope:
      description: Scope of a Managed Network
      properties:
        managementGroups:
          description: The collection of management groups covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        subnets:
          description: The collection of  subnets covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        subscriptions:
          description: The collection of subscriptions covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
        virtualNetworks:
          description: The collection of virtual nets covered by the Managed Network
          items:
            $ref: '#/components/schemas/ResourceId'
          type: array
      type: object
    ScopeAssignment:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: The Managed Network resource
      properties:
        properties:
          $ref: '#/components/schemas/ScopeAssignmentProperties'
          description: The Scope Assignment properties
          x-ms-client-flatten: true
      type: object
    ScopeAssignmentListResult:
      description: >-
        Result of the request to list ScopeAssignment. It contains a list of
        groups and a URL link to get the next set of results.
      properties:
        nextLink:
          description: Gets the URL to get the next set of results.
          type: string
        value:
          description: Gets a page of ScopeAssignment
          items:
            $ref: '#/components/schemas/ScopeAssignment'
          type: array
      type: object
    ScopeAssignmentProperties:
      allOf:
        - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of Managed Network
      properties:
        assignedManagedNetwork:
          description: The managed network ID with scope will be assigned to.
          type: string
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
          x-ms-mutability:
            - read
            - create
            - update
      required:
        - location
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

