openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2018-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: >-
            Request successful. The operation resets the virtual network gateway
            connection shared key.
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The List VirtualNetworkGatewayConnections operation retrieves all the
        virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      x-ms-examples:
        ListVirtualNetworkGatewayConnectionsinResourceGroup:
          $ref: ./examples/VirtualNetworkGatewayConnectionsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworkGatewayConnections
      description: Deletes the specified virtual network Gateway connection.
      operationId: VirtualNetworkGatewayConnections_Delete
      x-ms-examples:
        DeleteVirtualNetworkGatewayConnection:
          $ref: ./examples/VirtualNetworkGatewayConnectionDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Request successful. The operation returns the resulting
            VirtualNetworkGatewayConnection resource.
      tags:
        - VirtualNetworkGatewayConnections
      description: Gets the specified virtual network gateway connection by resource group.
      operationId: VirtualNetworkGatewayConnections_Get
      x-ms-examples:
        GetVirtualNetworkGatewayConnection:
          $ref: ./examples/VirtualNetworkGatewayConnectionGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Update successful. The operation returns the resulting
            VirtualNetworkGatewayConnection resource.
      tags:
        - VirtualNetworkGatewayConnections
      description: Updates a virtual network gateway connection tags.
      operationId: VirtualNetworkGatewayConnections_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update virtual network gateway connection tags.
        required: true
      x-ms-examples:
        UpdateVirtualNetworkGatewayConnectionTags:
          $ref: ./examples/VirtualNetworkGatewayConnectionUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Update successful. The operation returns the resulting
            VirtualNetworkGatewayConnection resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Create successful. The operation returns the resulting
            VirtualNetworkGatewayConnection resource.
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        Creates or updates a virtual network gateway connection in the specified
        resource group.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
        description: >-
          Parameters supplied to the create or update virtual network gateway
          connection operation.
        required: true
      x-ms-examples:
        CreateVirtualNetworkGatewayConnection_S2S:
          $ref: ./examples/VirtualNetworkGatewayConnectionCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway connection shared key name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: >-
            Request successful. The operation returns a list of
            VirtualNetworkGatewayConnection resources.
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection
        shared key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      x-ms-examples:
        GetVirtualNetworkGatewayConnectionSharedKey:
          $ref: ./examples/VirtualNetworkGatewayConnectionGetSharedKey.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway connection name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: >-
            Request successful. The operation returns the resulting
            ConnectionSharedKey resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Created
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The Put VirtualNetworkGatewayConnectionSharedKey operation sets the
        virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network
        resource provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: >-
          Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation throughNetwork resource provider.
        required: true
      x-ms-examples:
        SetVirtualNetworkGatewayConnectionSharedKey:
          $ref: ./examples/VirtualNetworkGatewayConnectionSetSharedKey.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway connection reset shared key Name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: >-
            Request successful. The operation sets the virtual network gateway
            connection shared key.
        '202':
          description: Accepted
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The VirtualNetworkGatewayConnectionResetSharedKey operation resets the
        virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network
        resource provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: >-
          Parameters supplied to the begin reset virtual network gateway
          connection shared key operation through network resource provider.
        required: true
      x-ms-examples:
        ResetVirtualNetworkGatewayConnectionSharedKey:
          $ref: ./examples/VirtualNetworkGatewayConnectionResetSharedKey.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/vpndeviceconfigurationscript':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: >-
            The name of the virtual network gateway connection for which the
            configuration script is generated.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: Xml format representation for vpn device configuration script.
      tags:
        - VirtualNetworkGateways
      description: Gets a xml format representation for vpn device configuration script.
      operationId: VirtualNetworkGateways_VpnDeviceConfigurationScript
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnDeviceScriptParameters'
        description: Parameters supplied to the generate vpn device script operation.
        required: true
      x-ms-examples:
        GetVPNDeviceConfigurationScript:
          $ref: ./examples/VirtualNetworkGatewayVpnDeviceConfigurationScript.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: >-
            Request successful. The operation returns a list of
            LocalNetworkGateway resources.
      tags:
        - LocalNetworkGateways
      description: Gets all the local network gateways in a resource group.
      operationId: LocalNetworkGateways_List
      x-ms-examples:
        ListLocalNetworkGateways:
          $ref: ./examples/LocalNetworkGatewayList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            minLength: 1
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - LocalNetworkGateways
      description: Deletes the specified local network gateway.
      operationId: LocalNetworkGateways_Delete
      x-ms-examples:
        DeleteLocalNetworkGateway:
          $ref: ./examples/LocalNetworkGatewayDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            minLength: 1
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Request successful. The operation returns the resulting
            LocalNetworkGateway resource.
      tags:
        - LocalNetworkGateways
      description: Gets the specified local network gateway in a resource group.
      operationId: LocalNetworkGateways_Get
      x-ms-examples:
        GetLocalNetworkGateway:
          $ref: ./examples/LocalNetworkGatewayGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            minLength: 1
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Update successful. The operation returns the resulting
            LocalNetworkGateway resource.
      tags:
        - LocalNetworkGateways
      description: Updates a local network gateway tags.
      operationId: LocalNetworkGateways_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update local network gateway tags.
        required: true
      x-ms-examples:
        UpdateLocalNetworkGatewayTags:
          $ref: ./examples/LocalNetworkGatewayUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            minLength: 1
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Update successful. The operation returns the resulting
            LocalNetworkGateway resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Create successful. The operation returns the resulting
            LocalNetworkGateway resource.
      tags:
        - LocalNetworkGateways
      description: >-
        Creates or updates a local network gateway in the specified resource
        group.
      operationId: LocalNetworkGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: >-
          Parameters supplied to the create or update local network gateway
          operation.
        required: true
      x-ms-examples:
        CreateLocalNetworkGateway:
          $ref: ./examples/LocalNetworkGatewayCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
          description: >-
            Request successful. The operation returns a list of
            VirtualNetworkGateway resources.
      tags:
        - VirtualNetworkGateways
      description: Gets all virtual network gateways by resource group.
      operationId: VirtualNetworkGateways_List
      x-ms-examples:
        ListVirtualNetworkGatewaysinResourceGroup:
          $ref: ./examples/VirtualNetworkGatewayList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworkGateways
      description: Deletes the specified virtual network gateway.
      operationId: VirtualNetworkGateways_Delete
      x-ms-examples:
        DeleteVirtualNetworkGateway:
          $ref: ./examples/VirtualNetworkGatewayDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Request successful. The operation returns a VirtualNetworkGateway
            resource.
      tags:
        - VirtualNetworkGateways
      description: Gets the specified virtual network gateway by resource group.
      operationId: VirtualNetworkGateways_Get
      x-ms-examples:
        GetVirtualNetworkGateway:
          $ref: ./examples/VirtualNetworkGatewayGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Update successful. The operation returns the resulting
            VirtualNetworkGateway resource.
      tags:
        - VirtualNetworkGateways
      description: Updates a virtual network gateway tags.
      operationId: VirtualNetworkGateways_UpdateTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update virtual network gateway tags.
        required: true
      x-ms-examples:
        UpdateVirtualNetworkGatewayTags:
          $ref: ./examples/VirtualNetworkGatewayUpdateTags.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Update successful. The operation returns the resulting
            VirtualNetworkGateway resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Create successful. The operation returns the resulting
            VirtualNetworkGateway resource.
      tags:
        - VirtualNetworkGateways
      description: >-
        Creates or updates a virtual network gateway in the specified resource
        group.
      operationId: VirtualNetworkGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: >-
          Parameters supplied to create or update virtual network gateway
          operation.
        required: true
      x-ms-examples:
        UpdateVirtualNetworkGateway:
          $ref: ./examples/VirtualNetworkGatewayUpdate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/connections':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/VirtualNetworkGatewayListConnectionsResult
          description: >-
            Request successful. The operation returns a list of
            VirtualNetworkGatewayConnection resource.
      tags:
        - VirtualNetworkGateways
      description: Gets all the connections in a virtual network gateway.
      operationId: VirtualNetworkGateways_ListConnections
      x-ms-examples:
        VirtualNetworkGatewaysListConnections:
          $ref: ./examples/VirtualNetworkGatewaysListConnections.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: VPN client package URL.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        Generates VPN client package for P2S client of the virtual network
        gateway in the specified resource group.
      operationId: VirtualNetworkGateways_Generatevpnclientpackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: >-
          Parameters supplied to the generate virtual network gateway VPN client
          package operation.
        required: true
      x-ms-examples:
        GenerateVPNClientPackage:
          $ref: ./examples/VirtualNetworkGatewayGenerateVpnClientPackage.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnprofile':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: VPN profile package URL.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        Generates VPN profile for P2S client of the virtual network gateway in
        the specified resource group. Used for IKEV2 and radius based
        authentication.
      operationId: VirtualNetworkGateways_GenerateVpnProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: >-
          Parameters supplied to the generate virtual network gateway VPN client
          package operation.
        required: true
      x-ms-examples:
        GenerateVirtualNetworkGatewayVPNProfile:
          $ref: ./examples/VirtualNetworkGatewayGenerateVpnProfile.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - description: The IP address of the peer
          in: query
          name: peer
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of learned BGP routes
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        This operation retrieves a list of routes the virtual network gateway is
        advertising to the specified peer.
      operationId: VirtualNetworkGateways_GetAdvertisedRoutes
      x-ms-examples:
        GetVirtualNetworkGatewayAdvertisedRoutes:
          $ref: ./examples/VirtualNetworkGatewayGetAdvertisedRoutes.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - description: The IP address of the peer to retrieve the status of.
          in: query
          name: peer
          required: false
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerStatusListResult'
          description: List of BGP peer statuses
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: The GetBgpPeerStatus operation retrieves the status of all BGP peers.
      operationId: VirtualNetworkGateways_GetBgpPeerStatus
      x-ms-examples:
        GetVirtualNetworkGatewayBGPPeerStatus:
          $ref: ./examples/VirtualNetworkGatewayGetBGPPeerStatus.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of advertised BGP routes
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        This operation retrieves a list of routes the virtual network gateway
        has learned, including routes learned from BGP peers.
      operationId: VirtualNetworkGateways_GetLearnedRoutes
      x-ms-examples:
        GetVirtualNetworkGatewayLearnedRoutes:
          $ref: ./examples/VirtualNetworkGatewayLearnedRoutes.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnclientipsecparameters':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway name.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnClientIPsecParameters'
          description: >-
            Request successful. The operation returns the set vpnclient ipsec
            parameters for P2S client of VirtualNetworkGateway resource.
      tags:
        - VirtualNetworkGateways
      description: >-
        The Get VpnclientIpsecParameters operation retrieves information about
        the vpnclient ipsec policy for P2S client of virtual network gateway in
        the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_GetVpnclientIpsecParameters
      x-ms-examples:
        Get VirtualNetworkGateway VpnClientIpsecParameters:
          $ref: ./examples/VirtualNetworkGatewayGetVpnClientIpsecParameters.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnprofilepackageurl':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: VPN profile package URL.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        Gets pre-generated VPN profile for P2S client of the virtual network
        gateway in the specified resource group. The profile needs to be
        generated first using generateVpnProfile.
      operationId: VirtualNetworkGateways_GetVpnProfilePackageUrl
      x-ms-examples:
        GetVirtualNetworkGatewayVPNProfilePackageURL:
          $ref: ./examples/VirtualNetworkGatewayGetVpnProfilePackageUrl.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - description: >-
            Virtual network gateway vip address supplied to the begin reset of
            the active-active feature enabled gateway.
          in: query
          name: gatewayVip
          required: false
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Request successful. The operation reset the primary of the virtual
            network gateway.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        Resets the primary of the virtual network gateway in the specified
        resource group.
      operationId: VirtualNetworkGateways_Reset
      x-ms-examples:
        ResetVirtualNetworkGateway:
          $ref: ./examples/VirtualNetworkGatewayReset.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/resetvpnclientsharedkey':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Request successful. The operation reset the vpn client shared key of
            the virtual network gateway.
        '202':
          description: Accepted and the operation will complete asynchronously
      tags:
        - VirtualNetworkGateways
      description: >-
        Resets the VPN client shared key of the virtual network gateway in the
        specified resource group.
      operationId: VirtualNetworkGateways_ResetVpnClientSharedKey
      x-ms-examples:
        ResetVpnClientSharedKey:
          $ref: ./examples/VirtualNetworkGatewayResetVpnClientSharedKey.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/setvpnclientipsecparameters':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnClientIPsecParameters'
          description: >-
            Request successful. The operation sets the specified vpnclient ipsec
            parameters for P2S client of the virtual network gateway.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        The Set VpnclientIpsecParameters operation sets the vpnclient ipsec
        policy for P2S client of virtual network gateway in the specified
        resource group through Network resource provider.
      operationId: VirtualNetworkGateways_SetVpnclientIpsecParameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientIPsecParameters'
        description: >-
          Parameters supplied to the Begin Set vpnclient ipsec parameters of
          Virtual Network Gateway P2S client operation through Network resource
          provider.
        required: true
      x-ms-examples:
        Set VirtualNetworkGateway VpnClientIpsecParameters:
          $ref: ./examples/VirtualNetworkGatewaySetVpnClientIpsecParameters.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/supportedvpndevices':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: Xml format representation for supported vpn devices.
      tags:
        - VirtualNetworkGateways
      description: Gets a xml format representation for supported vpn devices.
      operationId: VirtualNetworkGateways_SupportedVpnDevices
      x-ms-examples:
        ListVirtualNetworkGatewaySupportedVPNDevices:
          $ref: ./examples/VirtualNetworkGatewaySupportedVpnDevice.json
components:
  requestBodies:
    VpnClientParameters:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VpnClientParameters'
      description: >-
        Parameters supplied to the generate virtual network gateway VPN client
        package operation.
      required: true
  schemas:
    BgpPeerStatus:
      description: BGP peer status details
      properties:
        asn:
          description: The autonomous system number of the remote BGP peer
          format: int32
          readOnly: true
          type: integer
        connectedDuration:
          description: For how long the peering has been up
          readOnly: true
          type: string
        localAddress:
          description: The virtual network gateway's local address
          readOnly: true
          type: string
        messagesReceived:
          description: The number of BGP messages received
          format: int64
          readOnly: true
          type: integer
        messagesSent:
          description: The number of BGP messages sent
          format: int64
          readOnly: true
          type: integer
        neighbor:
          description: The remote BGP peer
          readOnly: true
          type: string
        routesReceived:
          description: The number of routes learned from this peer
          format: int64
          readOnly: true
          type: integer
        state:
          description: The BGP peer state
          enum:
            - Unknown
            - Stopped
            - Idle
            - Connecting
            - Connected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BgpPeerState
      type: object
    BgpPeerStatusListResult:
      description: Response for list BGP peer status API service call
      properties:
        value:
          description: List of BGP peers
          items:
            $ref: '#/components/schemas/BgpPeerStatus'
          type: array
      type: object
    BgpSettings:
      description: BGP settings details
      properties:
        asn:
          description: The BGP speaker's ASN.
          format: int64
          type: integer
        bgpPeeringAddress:
          description: The BGP peering address and BGP identifier of this BGP speaker.
          type: string
        peerWeight:
          description: The weight added to routes learned from this BGP speaker.
          format: int32
          type: integer
      type: object
    ConnectionProtocol:
      description: 'Gateway connection protocol. Possible values are: ''IKEv2'', ''IKEv1''.'
      enum:
        - IKEv2
        - IKEv1
      type: string
      x-ms-enum:
        modelAsString: true
        name: VirtualNetworkGatewayConnectionProtocol
    ConnectionResetSharedKey:
      description: The virtual network connection reset shared key
      properties:
        keyLength:
          description: >-
            The virtual network connection reset shared key length, should
            between 1 and 128.
          format: int32
          maximum: 128
          minimum: 1
          type: integer
      required:
        - keyLength
      type: object
    ConnectionSharedKey:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: Response for GetConnectionSharedKey API service call
      properties:
        value:
          description: The virtual network connection shared key value.
          type: string
      required:
        - value
      type: object
    GatewayRoute:
      description: Gateway routing details
      properties:
        asPath:
          description: The route's AS path sequence
          readOnly: true
          type: string
        localAddress:
          description: The gateway's local address
          readOnly: true
          type: string
        network:
          description: The route's network prefix
          readOnly: true
          type: string
        nextHop:
          description: The route's next hop
          readOnly: true
          type: string
        origin:
          description: The source this route was learned from
          readOnly: true
          type: string
        sourcePeer:
          description: The peer this route was learned from
          readOnly: true
          type: string
        weight:
          description: The route's weight
          format: int32
          readOnly: true
          type: integer
      type: object
    GatewayRouteListResult:
      description: List of virtual network gateway routes
      properties:
        value:
          description: List of gateway routes
          items:
            $ref: '#/components/schemas/GatewayRoute'
          type: array
      type: object
    IpsecPolicy:
      description: An IPSec Policy configuration for a virtual network gateway connection
      properties:
        dhGroup:
          description: The DH Groups used in IKE Phase 1 for initial SA.
          enum:
            - None
            - DHGroup1
            - DHGroup2
            - DHGroup14
            - DHGroup2048
            - ECP256
            - ECP384
            - DHGroup24
          type: string
          x-ms-enum:
            modelAsString: true
            name: DhGroup
        ikeEncryption:
          description: The IKE encryption algorithm (IKE phase 2).
          enum:
            - DES
            - DES3
            - AES128
            - AES192
            - AES256
            - GCMAES256
            - GCMAES128
          type: string
          x-ms-enum:
            modelAsString: true
            name: IkeEncryption
        ikeIntegrity:
          description: The IKE integrity algorithm (IKE phase 2).
          enum:
            - MD5
            - SHA1
            - SHA256
            - SHA384
            - GCMAES256
            - GCMAES128
          type: string
          x-ms-enum:
            modelAsString: true
            name: IkeIntegrity
        ipsecEncryption:
          description: The IPSec encryption algorithm (IKE phase 1).
          enum:
            - None
            - DES
            - DES3
            - AES128
            - AES192
            - AES256
            - GCMAES128
            - GCMAES192
            - GCMAES256
          type: string
          x-ms-enum:
            modelAsString: true
            name: IpsecEncryption
        ipsecIntegrity:
          description: The IPSec integrity algorithm (IKE phase 1).
          enum:
            - MD5
            - SHA1
            - SHA256
            - GCMAES128
            - GCMAES192
            - GCMAES256
          type: string
          x-ms-enum:
            modelAsString: true
            name: IpsecIntegrity
        pfsGroup:
          description: The Pfs Groups used in IKE Phase 2 for new child SA.
          enum:
            - None
            - PFS1
            - PFS2
            - PFS2048
            - ECP256
            - ECP384
            - PFS24
            - PFS14
            - PFSMM
          type: string
          x-ms-enum:
            modelAsString: true
            name: PfsGroup
        saDataSizeKilobytes:
          description: >-
            The IPSec Security Association (also called Quick Mode or Phase 2
            SA) payload size in KB for a site to site VPN tunnel.
          format: int32
          type: integer
        saLifeTimeSeconds:
          description: >-
            The IPSec Security Association (also called Quick Mode or Phase 2
            SA) lifetime in seconds for a site to site VPN tunnel.
          format: int32
          type: integer
      required:
        - saLifeTimeSeconds
        - saDataSizeKilobytes
        - ipsecEncryption
        - ipsecIntegrity
        - ikeEncryption
        - ikeIntegrity
        - dhGroup
        - pfsGroup
      type: object
    LocalNetworkGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat'
          description: Properties of the local network gateway.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    LocalNetworkGatewayListResult:
      description: Response for ListLocalNetworkGateways API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of local network gateways that exists in a resource group.
          items:
            $ref: '#/components/schemas/LocalNetworkGateway'
          type: array
      type: object
    LocalNetworkGatewayPropertiesFormat:
      description: LocalNetworkGateway properties
      properties:
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
          description: Local network gateway's BGP speaker settings.
        gatewayIpAddress:
          description: IP address of local network gateway.
          type: string
        localNetworkAddressSpace:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: Local network site address space.
        provisioningState:
          description: >-
            The provisioning state of the LocalNetworkGateway resource. Possible
            values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: The resource GUID property of the LocalNetworkGateway resource.
          type: string
      type: object
    TunnelConnectionHealth:
      description: VirtualNetworkGatewayConnection properties
      properties:
        connectionStatus:
          description: Virtual network Gateway connection status
          enum:
            - Unknown
            - Connecting
            - Connected
            - NotConnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        egressBytesTransferred:
          description: The Egress Bytes Transferred in this connection
          format: int64
          readOnly: true
          type: integer
        ingressBytesTransferred:
          description: The Ingress Bytes Transferred in this connection
          format: int64
          readOnly: true
          type: integer
        lastConnectionEstablishedUtcTime:
          description: The time at which connection was established in Utc format.
          readOnly: true
          type: string
        tunnel:
          description: Tunnel name.
          readOnly: true
          type: string
      type: object
    VirtualNetworkGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayPropertiesFormat'
          description: Properties of the virtual network gateway.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VirtualNetworkGatewayConnection:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat'
          description: Properties of the virtual network gateway connection.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VirtualNetworkGatewayConnectionListEntity:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: >-
            #/components/schemas/VirtualNetworkGatewayConnectionListEntityPropertiesFormat
          description: Properties of the virtual network gateway connection.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VirtualNetworkGatewayConnectionListEntityPropertiesFormat:
      description: VirtualNetworkGatewayConnection properties
      properties:
        authorizationKey:
          description: The authorizationKey.
          type: string
        connectionProtocol:
          $ref: '#/components/schemas/ConnectionProtocol'
          description: Connection protocol used for this connection
        connectionStatus:
          description: >-
            Virtual network Gateway connection status. Possible values are
            'Unknown', 'Connecting', 'Connected' and 'NotConnected'.
          enum:
            - Unknown
            - Connecting
            - Connected
            - NotConnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        connectionType:
          description: >-
            Gateway connection type. Possible values are:
            'Ipsec','Vnet2Vnet','ExpressRoute', and 'VPNClient.
          enum:
            - IPsec
            - Vnet2Vnet
            - ExpressRoute
            - VPNClient
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionType
        egressBytesTransferred:
          description: The egress bytes transferred in this connection.
          format: int64
          readOnly: true
          type: integer
        enableBgp:
          description: EnableBgp flag
          type: boolean
        expressRouteGatewayBypass:
          description: Bypass ExpressRoute Gateway for data forwarding
          type: boolean
        ingressBytesTransferred:
          description: The ingress bytes transferred in this connection.
          format: int64
          readOnly: true
          type: integer
        ipsecPolicies:
          description: The IPSec Policies to be considered by this connection.
          items:
            $ref: '#/components/schemas/IpsecPolicy'
          type: array
        localNetworkGateway2:
          $ref: '#/components/schemas/virtualNetworkConnectionGatewayReference'
          description: The reference to local network gateway resource.
        peer:
          $ref: ./network.json#/definitions/SubResource
          description: The reference to peerings resource.
        provisioningState:
          description: >-
            The provisioning state of the VirtualNetworkGatewayConnection
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: >-
            The resource GUID property of the VirtualNetworkGatewayConnection
            resource.
          type: string
        routingWeight:
          description: The routing weight.
          format: int32
          type: integer
        sharedKey:
          description: The IPSec shared key.
          type: string
        tunnelConnectionStatus:
          description: Collection of all tunnels' connection health status.
          items:
            $ref: '#/components/schemas/TunnelConnectionHealth'
          readOnly: true
          type: array
        usePolicyBasedTrafficSelectors:
          description: Enable policy-based traffic selectors.
          type: boolean
        virtualNetworkGateway1:
          $ref: '#/components/schemas/virtualNetworkConnectionGatewayReference'
          description: The reference to virtual network gateway resource.
        virtualNetworkGateway2:
          $ref: '#/components/schemas/virtualNetworkConnectionGatewayReference'
          description: The reference to virtual network gateway resource.
      required:
        - virtualNetworkGateway1
        - connectionType
      type: object
    VirtualNetworkGatewayConnectionListResult:
      description: Response for the ListVirtualNetworkGatewayConnections API service call
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: >-
            Gets a list of VirtualNetworkGatewayConnection resources that exists
            in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          type: array
      type: object
    VirtualNetworkGatewayConnectionPropertiesFormat:
      description: VirtualNetworkGatewayConnection properties
      properties:
        authorizationKey:
          description: The authorizationKey.
          type: string
        connectionProtocol:
          $ref: '#/components/schemas/ConnectionProtocol'
          description: Connection protocol used for this connection
        connectionStatus:
          description: >-
            Virtual network Gateway connection status. Possible values are
            'Unknown', 'Connecting', 'Connected' and 'NotConnected'.
          enum:
            - Unknown
            - Connecting
            - Connected
            - NotConnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        connectionType:
          description: >-
            Gateway connection type. Possible values are:
            'Ipsec','Vnet2Vnet','ExpressRoute', and 'VPNClient.
          enum:
            - IPsec
            - Vnet2Vnet
            - ExpressRoute
            - VPNClient
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionType
        egressBytesTransferred:
          description: The egress bytes transferred in this connection.
          format: int64
          readOnly: true
          type: integer
        enableBgp:
          description: EnableBgp flag
          type: boolean
        expressRouteGatewayBypass:
          description: Bypass ExpressRoute Gateway for data forwarding
          type: boolean
        ingressBytesTransferred:
          description: The ingress bytes transferred in this connection.
          format: int64
          readOnly: true
          type: integer
        ipsecPolicies:
          description: The IPSec Policies to be considered by this connection.
          items:
            $ref: '#/components/schemas/IpsecPolicy'
          type: array
        localNetworkGateway2:
          $ref: '#/components/schemas/LocalNetworkGateway'
          description: The reference to local network gateway resource.
        peer:
          $ref: ./network.json#/definitions/SubResource
          description: The reference to peerings resource.
        provisioningState:
          description: >-
            The provisioning state of the VirtualNetworkGatewayConnection
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: >-
            The resource GUID property of the VirtualNetworkGatewayConnection
            resource.
          type: string
        routingWeight:
          description: The routing weight.
          format: int32
          type: integer
        sharedKey:
          description: The IPSec shared key.
          type: string
        tunnelConnectionStatus:
          description: Collection of all tunnels' connection health status.
          items:
            $ref: '#/components/schemas/TunnelConnectionHealth'
          readOnly: true
          type: array
        usePolicyBasedTrafficSelectors:
          description: Enable policy-based traffic selectors.
          type: boolean
        virtualNetworkGateway1:
          $ref: '#/components/schemas/VirtualNetworkGateway'
          description: The reference to virtual network gateway resource.
        virtualNetworkGateway2:
          $ref: '#/components/schemas/VirtualNetworkGateway'
          description: The reference to virtual network gateway resource.
      required:
        - virtualNetworkGateway1
        - connectionType
      type: object
    VirtualNetworkGatewayIPConfiguration:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: IP configuration for virtual network gateway
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/VirtualNetworkGatewayIPConfigurationPropertiesFormat
          description: Properties of the virtual network gateway ip configuration.
          x-ms-client-flatten: true
      type: object
    VirtualNetworkGatewayIPConfigurationPropertiesFormat:
      description: Properties of VirtualNetworkGatewayIPConfiguration
      properties:
        privateIPAllocationMethod:
          description: >-
            The private IP allocation method. Possible values are: 'Static' and
            'Dynamic'.
          enum:
            - Static
            - Dynamic
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPAllocationMethod
        provisioningState:
          description: >-
            The provisioning state of the public IP resource. Possible values
            are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicIPAddress:
          $ref: ./network.json#/definitions/SubResource
          description: The reference of the public IP resource.
        subnet:
          $ref: ./network.json#/definitions/SubResource
          description: The reference of the subnet resource.
      type: object
    VirtualNetworkGatewayListConnectionsResult:
      description: Response for the VirtualNetworkGatewayListConnections API service call
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: >-
            Gets a list of VirtualNetworkGatewayConnection resources that exists
            in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListEntity'
          type: array
      type: object
    VirtualNetworkGatewayListResult:
      description: Response for the ListVirtualNetworkGateways API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: >-
            Gets a list of VirtualNetworkGateway resources that exists in a
            resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGateway'
          type: array
      type: object
    VirtualNetworkGatewayPropertiesFormat:
      description: VirtualNetworkGateway properties
      properties:
        activeActive:
          description: ActiveActive flag
          type: boolean
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
          description: Virtual network gateway's BGP speaker settings.
        enableBgp:
          description: Whether BGP is enabled for this virtual network gateway or not.
          type: boolean
        gatewayDefaultSite:
          $ref: ./network.json#/definitions/SubResource
          description: >-
            The reference of the LocalNetworkGateway resource which represents
            local network site having default routes. Assign Null value in case
            of removing existing default site setting.
        gatewayType:
          description: >-
            The type of this virtual network gateway. Possible values are: 'Vpn'
            and 'ExpressRoute'.
          enum:
            - Vpn
            - ExpressRoute
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayType
        ipConfigurations:
          description: IP configurations for virtual network gateway.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayIPConfiguration'
          type: array
        provisioningState:
          description: >-
            The provisioning state of the VirtualNetworkGateway resource.
            Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: The resource GUID property of the VirtualNetworkGateway resource.
          type: string
        sku:
          $ref: '#/components/schemas/VirtualNetworkGatewaySku'
          description: >-
            The reference of the VirtualNetworkGatewaySku resource which
            represents the SKU selected for Virtual network gateway.
        vpnClientConfiguration:
          $ref: '#/components/schemas/VpnClientConfiguration'
          description: >-
            The reference of the VpnClientConfiguration resource which
            represents the P2S VpnClient configurations.
        vpnType:
          description: >-
            The type of this virtual network gateway. Possible values are:
            'PolicyBased' and 'RouteBased'.
          enum:
            - PolicyBased
            - RouteBased
          type: string
          x-ms-enum:
            modelAsString: true
            name: VpnType
      type: object
    VirtualNetworkGatewaySku:
      description: VirtualNetworkGatewaySku details
      properties:
        capacity:
          description: The capacity.
          format: int32
          type: integer
        name:
          description: Gateway SKU name.
          enum:
            - Basic
            - HighPerformance
            - Standard
            - UltraPerformance
            - VpnGw1
            - VpnGw2
            - VpnGw3
            - VpnGw1AZ
            - VpnGw2AZ
            - VpnGw3AZ
            - ErGw1AZ
            - ErGw2AZ
            - ErGw3AZ
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewaySkuName
        tier:
          description: Gateway SKU tier.
          enum:
            - Basic
            - HighPerformance
            - Standard
            - UltraPerformance
            - VpnGw1
            - VpnGw2
            - VpnGw3
            - VpnGw1AZ
            - VpnGw2AZ
            - VpnGw3AZ
            - ErGw1AZ
            - ErGw2AZ
            - ErGw3AZ
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewaySkuTier
      type: object
    VpnClientConfiguration:
      description: VpnClientConfiguration for P2S client.
      properties:
        radiusServerAddress:
          description: >-
            The radius server address property of the VirtualNetworkGateway
            resource for vpn client connection.
          type: string
        radiusServerSecret:
          description: >-
            The radius secret property of the VirtualNetworkGateway resource for
            vpn client connection.
          type: string
        vpnClientAddressPool:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: >-
            The reference of the address space resource which represents Address
            space for P2S VpnClient.
        vpnClientIpsecPolicies:
          description: VpnClientIpsecPolicies for virtual network gateway P2S client.
          items:
            $ref: '#/components/schemas/IpsecPolicy'
          type: array
        vpnClientProtocols:
          description: VpnClientProtocols for Virtual network gateway.
          items:
            description: VPN client protocol enabled for the virtual network gateway.
            enum:
              - IkeV2
              - SSTP
              - OpenVPN
            type: string
            x-ms-enum:
              modelAsString: true
              name: VpnClientProtocol
          type: array
        vpnClientRevokedCertificates:
          description: VpnClientRevokedCertificate for Virtual network gateway.
          items:
            $ref: '#/components/schemas/VpnClientRevokedCertificate'
          type: array
        vpnClientRootCertificates:
          description: VpnClientRootCertificate for virtual network gateway.
          items:
            $ref: '#/components/schemas/VpnClientRootCertificate'
          type: array
      type: object
    VpnClientIPsecParameters:
      description: An IPSec parameters for a virtual network gateway P2S connection.
      properties:
        dhGroup:
          description: The DH Groups used in IKE Phase 1 for initial SA.
          enum:
            - None
            - DHGroup1
            - DHGroup2
            - DHGroup14
            - DHGroup2048
            - ECP256
            - ECP384
            - DHGroup24
          type: string
          x-ms-enum:
            modelAsString: true
            name: DhGroup
        ikeEncryption:
          description: The IKE encryption algorithm (IKE phase 2).
          enum:
            - DES
            - DES3
            - AES128
            - AES192
            - AES256
            - GCMAES256
            - GCMAES128
          type: string
          x-ms-enum:
            modelAsString: true
            name: IkeEncryption
        ikeIntegrity:
          description: The IKE integrity algorithm (IKE phase 2).
          enum:
            - MD5
            - SHA1
            - SHA256
            - SHA384
            - GCMAES256
            - GCMAES128
          type: string
          x-ms-enum:
            modelAsString: true
            name: IkeIntegrity
        ipsecEncryption:
          description: The IPSec encryption algorithm (IKE phase 1).
          enum:
            - None
            - DES
            - DES3
            - AES128
            - AES192
            - AES256
            - GCMAES128
            - GCMAES192
            - GCMAES256
          type: string
          x-ms-enum:
            modelAsString: true
            name: IpsecEncryption
        ipsecIntegrity:
          description: The IPSec integrity algorithm (IKE phase 1).
          enum:
            - MD5
            - SHA1
            - SHA256
            - GCMAES128
            - GCMAES192
            - GCMAES256
          type: string
          x-ms-enum:
            modelAsString: true
            name: IpsecIntegrity
        pfsGroup:
          description: The Pfs Groups used in IKE Phase 2 for new child SA.
          enum:
            - None
            - PFS1
            - PFS2
            - PFS2048
            - ECP256
            - ECP384
            - PFS24
            - PFS14
            - PFSMM
          type: string
          x-ms-enum:
            modelAsString: true
            name: PfsGroup
        saDataSizeKilobytes:
          description: >-
            The IPSec Security Association (also called Quick Mode or Phase 2
            SA) payload size in KB for P2S client..
          format: int32
          type: integer
        saLifeTimeSeconds:
          description: >-
            The IPSec Security Association (also called Quick Mode or Phase 2
            SA) lifetime in seconds for P2S client.
          format: int32
          type: integer
      required:
        - saLifeTimeSeconds
        - saDataSizeKilobytes
        - ipsecEncryption
        - ipsecIntegrity
        - ikeEncryption
        - ikeIntegrity
        - dhGroup
        - pfsGroup
      type: object
    VpnClientParameters:
      description: Vpn Client Parameters for package generation
      properties:
        authenticationMethod:
          description: >-
            VPN client Authentication Method. Possible values are: 'EAPTLS' and
            'EAPMSCHAPv2'.
          enum:
            - EAPTLS
            - EAPMSCHAPv2
          type: string
          x-ms-enum:
            modelAsString: true
            name: AuthenticationMethod
        clientRootCertificates:
          description: >-
            A list of client root certificates public certificate data encoded
            as Base-64 strings. Optional parameter for external radius based
            authentication with EAPTLS.
          items:
            type: string
          type: array
        processorArchitecture:
          description: >-
            VPN client Processor Architecture. Possible values are: 'AMD64' and
            'X86'.
          enum:
            - Amd64
            - X86
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProcessorArchitecture
        radiusServerAuthCertificate:
          description: >-
            The public certificate data for the radius server authentication
            certificate as a Base-64 encoded string. Required only if external
            radius authentication has been configured with EAPTLS
            authentication.
          type: string
      type: object
    VpnClientRevokedCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VPN client revoked certificate of virtual network gateway.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/VpnClientRevokedCertificatePropertiesFormat'
          description: Properties of the vpn client revoked certificate.
          x-ms-client-flatten: true
      type: object
    VpnClientRevokedCertificatePropertiesFormat:
      description: >-
        Properties of the revoked VPN client certificate of virtual network
        gateway.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the VPN client revoked certificate
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        thumbprint:
          description: The revoked VPN client certificate thumbprint.
          type: string
      type: object
    VpnClientRootCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VPN client root certificate of virtual network gateway
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/VpnClientRootCertificatePropertiesFormat'
          description: Properties of the vpn client root certificate.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VpnClientRootCertificatePropertiesFormat:
      description: Properties of SSL certificates of application gateway
      properties:
        provisioningState:
          description: >-
            The provisioning state of the VPN client root certificate resource.
            Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicCertData:
          description: The certificate public data.
          type: string
      required:
        - publicCertData
      type: object
    VpnDeviceScriptParameters:
      description: Vpn device configuration script generation parameters
      properties:
        deviceFamily:
          description: The device family for the vpn device.
          type: string
        firmwareVersion:
          description: The firmware version for the vpn device.
          type: string
        vendor:
          description: The vendor for the vpn device.
          type: string
      type: object
    virtualNetworkConnectionGatewayReference:
      description: A reference to VirtualNetworkGateway or LocalNetworkGateway resource.
      properties:
        id:
          description: The ID of VirtualNetworkGateway or LocalNetworkGateway resource.
          type: string
      required:
        - id
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

