openapi: 3.0.0
info:
  description: Network admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: '2015-06-15'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Network.Admin/locations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsList'
          description: OK
      tags:
        - Network
      description: Returns the list of supported locations
      operationId: OnPremLocations_List
      x-ms-examples:
        Returns the list of supported locations.:
          $ref: ./examples/Locations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Network.Admin/locations/{location}/operationResults':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/LocationParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultList'
          description: OK
      tags:
        - Network
      description: Returns the list of operation results for a location
      operationId: LocationsOperationResults_List
      x-ms-examples:
        Returns the list of operation results for a location:
          $ref: ./examples/Locations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Network.Admin/locations/{location}/operations':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/LocationParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
        - Network
      description: Returns the list of support REST operations.
      operationId: LocationsOperations_List
      x-ms-examples:
        Returns the list of support REST operations.:
          $ref: ./examples/Locations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Network.Admin/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
        - Network
      description: Returns the list of support REST operations.
      operationId: Operations_List
      x-ms-examples:
        Returns the list of support REST operations.:
          $ref: ./examples/Operations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminOverview':
    get:
      parameters:
        - $ref: Network.json#/components/parameters/SubscriptionIdParameter
        - $ref: Network.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOverview'
          description: OK
      tags:
        - Network
      description: Get an overview of the state of the network resource provider.
      operationId: ResourceProviderState_Get
      x-ms-examples:
        Get overview of the state of the network resource provider:
          $ref: ./examples/ResourceProviderState/Get.json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2015-06-15'
        type: string
    FilterParameter:
      description: OData filter parameter.
      in: query
      name: $filter
      schema:
        type: string
      x-ms-parameter-location: method
    InlineCountParameter:
      description: OData inline count parameter.
      in: query
      name: $inlineCount
      schema:
        type: string
      x-ms-parameter-location: method
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    OrderByParameter:
      description: OData orderBy parameter.
      in: query
      name: $orderBy
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: Name of the resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SkipParameter:
      description: OData skip parameter.
      in: query
      name: $skip
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TopParameter:
      description: OData top parameter.
      in: query
      name: $top
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AdminOverview:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Admin overview resource object.
      properties:
        properties:
          $ref: '#/components/schemas/AdminOverviewProperties'
          description: Admin overview properties.
          x-ms-client-flatten: true
      type: object
    AdminOverviewProperties:
      description: Admin overview properties.
      properties:
        backendIpUsage:
          $ref: '#/components/schemas/AdminOverviewResourceUsage'
          description: Total Backend IP usage as reported by the NC.
        loadBalancerMuxHealth:
          $ref: '#/components/schemas/AdminOverviewResourceHealth'
          description: Health for all LB MUXes as reported by the NC.
        macAddressUsage:
          $ref: '#/components/schemas/AdminOverviewResourceUsage'
          description: Total MAC address usage as reported by the NC.
        provisioningState:
          description: The provisioning state.
          readOnly: true
          type: string
        publicIpAddressUsage:
          $ref: '#/components/schemas/AdminOverviewResourceUsage'
          description: Total Public IP usage as reported by the NC.
        virtualGatewayHealth:
          $ref: '#/components/schemas/AdminOverviewResourceHealth'
          description: Health for all gateways as reported by the NC.
        virtualNetworkHealth:
          $ref: '#/components/schemas/AdminOverviewResourceHealth'
          description: Health for all virtual networks as reported by the NC.
      type: object
    AdminOverviewResourceHealth:
      description: Resource health information.
      properties:
        errorResourceCount:
          description: Number of resources in the error state.
          format: int64
          readOnly: true
          type: integer
        healthUnknownCount:
          description: Number of resources in an unknown state.
          format: int64
          readOnly: true
          type: integer
        healthyResourceCount:
          description: Number of resources in the success state.
          format: int64
          readOnly: true
          type: integer
        totalResourceCount:
          description: Total number of resources.
          format: int64
          readOnly: true
          type: integer
        warningResourceCount:
          description: Number of resources in the warning state.
          format: int64
          readOnly: true
          type: integer
      type: object
    AdminOverviewResourceUsage:
      description: Resource usage information.
      properties:
        inUseResourceCount:
          description: Number of resources in use.
          format: int64
          readOnly: true
          type: integer
        totalResourceCount:
          description: Total number of resources.
          format: int64
          readOnly: true
          type: integer
      type: object
    Display:
      description: >-
        Contains the localized display information for this particular operation
        / action.
      properties:
        description:
          description: >-
            The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          readOnly: true
          type: string
        operation:
          description: >-
            The localized, friendly name for the operation. Use the name as it
            will displayed to the user.
          readOnly: true
          type: string
        provider:
          description: >-
            The localized friendly form of the resource provider name – it is
            expected to also include the publisher/company responsible. It
            should use Title Casing and begin with "Microsoft" for 1st party
            services. e.g. "Microsoft Monitoring Insights" or "Microsoft
            Compute."
          readOnly: true
          type: string
        resource:
          description: >-
            The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          readOnly: true
          type: string
      type: object
    Location:
      description: Describes the supported Location
      properties:
        name:
          description: The name of the location the operation is being held.
          readOnly: true
          type: string
      type: object
    LocationsList:
      description: List of Locations
      properties:
        nextLink:
          description: URI to the next page of locations.
          readOnly: true
          type: string
        value:
          description: Array of locations
          items:
            $ref: '#/components/schemas/Location'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
      type: object
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: '#/components/schemas/Display'
          description: >-
            Contains the localized display information for this particular
            operation / action.
          readOnly: true
        name:
          description: >-
            The name of the operation being performed on this particular object.
            This name should match the name that appears in RBAC or the event
            service.
          readOnly: true
          type: string
      type: object
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
      type: object
    OperationResult:
      description: Describes results of a given operation
      properties:
        name:
          description: The name of the operation being performed on this particular object.
          readOnly: true
          type: string
      type: object
    OperationResultList:
      description: List of Operation Results
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          type: string
        value:
          description: Array of operation results
          items:
            $ref: '#/components/schemas/OperationResult'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
      type: object
    ProvisionedResource:
      description: Objects which have a provisioning state.
      properties:
        provisioningState:
          description: The provisioning state.
          readOnly: true
          type: string
      type: object
    Resource:
      description: Base Resource Object
      properties:
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          type: object
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Region location of resource.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    TenantResource:
      description: These resources are utilized by a single tenant.
      properties:
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
        tenantResourceUri:
          description: The tenant resource URI.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

