openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: '2015-04-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Insights/eventtypes/management/values:
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - description: >-
            Reduces the set of data collected. <br>The **$filter** is very
            restricted and allows only the following patterns.<br>- List events
            for a resource group: $filter=eventTimestamp ge '<Start Time>' and
            eventTimestamp le '<End Time>' and eventChannels eq 'Admin,
            Operation' and resourceGroupName eq '<ResourceGroupName>'.<br>- List
            events for resource: $filter=eventTimestamp ge '<Start Time>' and
            eventTimestamp le '<End Time>' and eventChannels eq 'Admin,
            Operation' and resourceUri eq '<ResourceURI>'.<br>- List events for
            a subscription: $filter=eventTimestamp ge '<Start Time>' and
            eventTimestamp le '<End Time>' and eventChannels eq 'Admin,
            Operation'.<br>- List events for a resource provider:
            $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End
            Time>' and eventChannels eq 'Admin, Operation' and resourceProvider
            eq '<ResourceProviderName>'.<br>- List events for a correlation Id:
            api-version=2014-04-01&$filter=eventTimestamp ge
            '2014-07-16T04:36:37.6407898Z' and eventTimestamp le
            '2014-07-20T04:36:37.6407898Z' and eventChannels eq 'Admin,
            Operation' and correlationId eq '<CorrelationID>'.<br>**NOTE**: No
            other syntax is allowed.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SelectParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataCollection'
          description: >-
            Successful request to get a page of events in the tenant activity
            logs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - TenantActivityLogs
      description: >-
        Gets the Activity Logs for the Tenant.<br>Everything that is applicable
        to the API to get the Activity Logs for the subscription is applicable
        to this API (the parameters, $filter, etc.).<br>One thing to point out
        here is that this API does *not* retrieve the logs at the individual
        subscription of the tenant but only surfaces the logs that were
        generated at the tenant level.
      operationId: TenantActivityLogs_List
      x-ms-examples:
        Get Tenant Activity Logs with filter:
          $ref: ./examples/GetTenantActivityLogsFiltered.json
        Get Tenant Activity Logs with filter and select:
          $ref: ./examples/GetTenantActivityLogsFilteredAndSelected.json
        Get Tenant Activity Logs with select:
          $ref: ./examples/GetTenantActivityLogsSelected.json
        Get Tenant Activity Logs without filter or select:
          $ref: ./examples/GetTenantActivityLogsNoParams.json
      x-ms-odata: '#/components/schemas/EventData'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SelectParameter:
      description: >-
        Used to fetch events with only the given properties.<br>The **$select**
        argument is a comma separated list of property names to be returned.
        Possible values are: *authorization*, *claims*, *correlationId*,
        *description*, *eventDataId*, *eventName*, *eventTimestamp*,
        *httpRequest*, *level*, *operationId*, *operationName*, *properties*,
        *resourceGroupName*, *resourceProviderName*, *resourceId*, *status*,
        *submissionTimestamp*, *subStatus*, *subscriptionId*
      in: query
      name: $select
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    EventData:
      description: The Azure event log entries are of type EventData
      properties:
        authorization:
          $ref: '#/components/schemas/SenderAuthorization'
          description: The sender authorization information.
          readOnly: true
        caller:
          description: >-
            the email address of the user who has performed the operation, the
            UPN claim or SPN claim based on availability.
          readOnly: true
          type: string
        category:
          $ref: '#/components/schemas/LocalizableString'
          description: the event category.
          readOnly: true
        claims:
          additionalProperties:
            type: string
          description: key value pairs to identify ARM permissions.
          readOnly: true
          type: object
        correlationId:
          description: >-
            the correlation Id, usually a GUID in the string format. The
            correlation Id is shared among the events that belong to the same
            uber operation.
          readOnly: true
          type: string
        description:
          description: the description of the event.
          readOnly: true
          type: string
        eventDataId:
          description: the event data Id. This is a unique identifier for an event.
          readOnly: true
          type: string
        eventName:
          $ref: '#/components/schemas/LocalizableString'
          description: >-
            the event name. This value should not be confused with
            OperationName. For practical purposes, OperationName might be more
            appealing to end users.
          readOnly: true
        eventTimestamp:
          description: >-
            the timestamp of when the event was generated by the Azure service
            processing the request corresponding the event. It in ISO 8601
            format.
          format: date-time
          readOnly: true
          type: string
        httpRequest:
          $ref: '#/components/schemas/HttpRequestInfo'
          description: >-
            the HTTP request info. Usually includes the 'clientRequestId',
            'clientIpAddress' (IP address of the user who initiated the event)
            and 'method' (HTTP method e.g. PUT).
          readOnly: true
        id:
          description: >-
            the Id of this event as required by ARM for RBAC. It contains the
            EventDataID and a timestamp information.
          readOnly: true
          type: string
        level:
          description: the event level
          enum:
            - Critical
            - Error
            - Warning
            - Informational
            - Verbose
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: EventLevel
        operationId:
          description: >-
            It is usually a GUID shared among the events corresponding to single
            operation. This value should not be confused with EventName.
          readOnly: true
          type: string
        operationName:
          $ref: '#/components/schemas/LocalizableString'
          description: the operation name.
          readOnly: true
        properties:
          additionalProperties:
            type: string
          description: >-
            the set of <Key, Value> pairs (usually a Dictionary<String, String>)
            that includes details about the event.
          readOnly: true
          type: object
        resourceGroupName:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/azure/dn790546.aspx'
          description: the resource group name of the impacted resource.
          readOnly: true
          type: string
        resourceId:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx'
          description: >-
            the resource uri that uniquely identifies the resource that caused
            this event.
          readOnly: true
          type: string
        resourceProviderName:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/azure/dn790572.aspx'
          $ref: '#/components/schemas/LocalizableString'
          description: the resource provider name of the impacted resource.
          readOnly: true
        resourceType:
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx'
          $ref: '#/components/schemas/LocalizableString'
          description: the resource type
          readOnly: true
        status:
          $ref: '#/components/schemas/LocalizableString'
          description: >-
            a string describing the status of the operation. Some typical values
            are: Started, In progress, Succeeded, Failed, Resolved.
          readOnly: true
        subStatus:
          $ref: '#/components/schemas/LocalizableString'
          description: >-
            the event sub status. Most of the time, when included, this captures
            the HTTP status code of the REST call. Common values are: OK (HTTP
            Status Code: 200), Created (HTTP Status Code: 201), Accepted (HTTP
            Status Code: 202), No Content (HTTP Status Code: 204), Bad
            Request(HTTP Status Code: 400), Not Found (HTTP Status Code: 404),
            Conflict (HTTP Status Code: 409), Internal Server Error (HTTP Status
            Code: 500), Service Unavailable (HTTP Status Code:503), Gateway
            Timeout (HTTP Status Code: 504)
          readOnly: true
        submissionTimestamp:
          description: >-
            the timestamp of when the event became available for querying via
            this API. It is in ISO 8601 format. This value should not be
            confused eventTimestamp. As there might be a delay between the
            occurrence time of the event, and the time that the event is
            submitted to the Azure logging infrastructure.
          format: date-time
          readOnly: true
          type: string
        subscriptionId:
          description: the Azure subscription Id usually a GUID.
          readOnly: true
          type: string
        tenantId:
          description: the Azure tenant Id
          readOnly: true
          type: string
      type: object
    EventDataCollection:
      description: Represents collection of events.
      properties:
        nextLink:
          description: Provides the link to retrieve the next set of events.
          type: string
        value:
          description: this list that includes the Azure audit logs.
          items:
            $ref: '#/components/schemas/EventData'
          type: array
      required:
        - value
      type: object
    HttpRequestInfo:
      description: The Http request info.
      properties:
        clientIpAddress:
          description: the client Ip Address
          type: string
        clientRequestId:
          description: the client request id.
          type: string
        method:
          description: the Http request method.
          type: string
        uri:
          description: the Uri.
          type: string
      type: object
    LocalizableString:
      description: The localizable string class.
      properties:
        localizedValue:
          description: the locale specific value.
          type: string
        value:
          description: the invariant value.
          type: string
      required:
        - value
      type: object
    SenderAuthorization:
      description: >-
        the authorization used by the user who has performed the operation that
        led to this event. This captures the RBAC properties of the event. These
        usually include the 'action', 'role' and the 'scope'
      properties:
        action:
          description: >-
            the permissible actions. For instance:
            microsoft.support/supporttickets/write
          type: string
        role:
          description: 'the role of the user. For instance: Subscription Admin'
          type: string
        scope:
          description: the scope.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

