{
  "openapi": "3.0.0",
  "info": {
    "title": "TopLevelDomains API Client",
    "version": "2019-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2019-08-01/TopLevelDomains.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopLevelDomainCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "TopLevelDomains"
        ],
        "description": "Get all top-level domains supported for registration.",
        "operationId": "TopLevelDomains_List",
        "summary": "Get all top-level domains supported for registration.",
        "x-ms-examples": {
          "List Top Level Domains": {
            "$ref": "./examples/ListTopLevelDomains.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}": {
      "get": {
        "parameters": [
          {
            "description": "Name of the top-level domain.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopLevelDomain"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "TopLevelDomains"
        ],
        "description": "Get details of a top-level domain.",
        "operationId": "TopLevelDomains_Get",
        "summary": "Get details of a top-level domain.",
        "x-ms-examples": {
          "Get Top Level Domain": {
            "$ref": "./examples/GetTopLevelDomain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements": {
      "post": {
        "parameters": [
          {
            "description": "Name of the top-level domain.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TldLegalAgreementCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/DefaultErrorResponse"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "TopLevelDomains"
        ],
        "description": "Gets all legal agreements that user needs to accept before purchasing a domain.",
        "operationId": "TopLevelDomains_ListAgreements",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopLevelDomainAgreementOption"
              }
            }
          },
          "description": "Domain agreement options.",
          "required": true
        },
        "summary": "Gets all legal agreements that user needs to accept before purchasing a domain.",
        "x-ms-examples": {
          "List Top Level Domain Agreements": {
            "$ref": "./examples/ListTopLevelDomainAgreements.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "API Version",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "subscriptionIdParameter": {
        "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "TldLegalAgreement": {
        "description": "Legal agreement for a top level domain.",
        "properties": {
          "agreementKey": {
            "description": "Unique identifier for the agreement.",
            "type": "string"
          },
          "content": {
            "description": "Agreement details.",
            "type": "string"
          },
          "title": {
            "description": "Agreement title.",
            "type": "string"
          },
          "url": {
            "description": "URL where a copy of the agreement details is hosted.",
            "type": "string"
          }
        },
        "required": [
          "agreementKey",
          "title",
          "content"
        ],
        "type": "object"
      },
      "TldLegalAgreementCollection": {
        "description": "Collection of top-level domain legal agreements.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/TldLegalAgreement"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "TopLevelDomain": {
        "allOf": [
          {
            "$ref": "../../../Microsoft.Web/stable/2019-08-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
          }
        ],
        "description": "A top level domain object.",
        "properties": {
          "properties": {
            "description": "TopLevelDomain resource specific properties",
            "properties": {
              "privacy": {
                "description": "If <code>true</code>, then the top level domain supports domain privacy; otherwise, <code>false</code>.",
                "type": "boolean"
              }
            },
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "TopLevelDomainAgreementOption": {
        "description": "Options for retrieving the list of top level domain legal agreements.",
        "properties": {
          "forTransfer": {
            "description": "If <code>true</code>, then the list of agreements will include agreements for domain transfer as well; otherwise, <code>false</code>.",
            "type": "boolean"
          },
          "includePrivacy": {
            "description": "If <code>true</code>, then the list of agreements will include agreements for domain privacy as well; otherwise, <code>false</code>.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "TopLevelDomainCollection": {
        "description": "Collection of Top-level domains.",
        "properties": {
          "nextLink": {
            "description": "Link to next page of resources.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "items": {
              "$ref": "#/components/schemas/TopLevelDomain"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}