openapi: 3.0.0
info:
  title: TrafficManagerManagementClient
  version: '2017-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Network/checkTrafficManagerNameAvailability:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerNameAvailability'
          description: The Traffic Manager Name Availability.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Checks the availability of a Traffic Manager Relative DNS name.
      operationId: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CheckTrafficManagerRelativeDnsNameAvailabilityParameters
        description: >-
          The Traffic Manager name parameters supplied to the
          CheckTrafficManagerNameAvailability operation.
        required: true
  /providers/Microsoft.Network/trafficManagerGeographicHierarchies/default:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerGeographicHierarchy'
          description: The default Geographic Hierarchy.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - GeographicHierarchies
      description: >-
        Gets the default Geographic Hierarchy used by the Geographic traffic
        routing method.
      operationId: GeographicHierarchies_GetDefault
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: The list of Traffic Manager profiles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Lists all Traffic Manager profiles within a subscription.
      operationId: Profiles_ListAll
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles':
    get:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            profiles to be listed.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: The list of Traffic Manager profiles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Lists all Traffic Manager profiles within a resource group.
      operationId: Profiles_ListAllInResourceGroup
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}':
    delete:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            profile to be deleted.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile to be deleted.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Profile was deleted successfully.
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: >-
            The profile does not exist. It could have been deleted on a previous
            request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Deletes a Traffic Manager profile.
      operationId: Profiles_Delete
    get:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            profile.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The Traffic Manager profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Gets a Traffic Manager profile.
      operationId: Profiles_Get
    patch:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            profile.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The updated Traffic Manager profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Update a Traffic Manager profile.
      operationId: Profiles_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: >-
          The Traffic Manager profile parameters supplied to the Update
          operation.
        required: true
    put:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            profile.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The created or updated Traffic Manager profile.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: The created or updated Traffic Manager profile.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Profiles
      description: Create or update a Traffic Manager profile.
      operationId: Profiles_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: >-
          The Traffic Manager profile parameters supplied to the CreateOrUpdate
          operation.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}':
    delete:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            endpoint to be deleted.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: The type of the Traffic Manager endpoint to be deleted.
          in: path
          name: endpointType
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager endpoint to be deleted.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Endpoint was deleted successfully.
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: >-
            The Traffic Manager Endpoint does not exist. It could have been
            deleted on a previous request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Endpoints
      description: Deletes a Traffic Manager endpoint.
      operationId: Endpoints_Delete
    get:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            endpoint.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: The type of the Traffic Manager endpoint.
          in: path
          name: endpointType
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager endpoint.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The Traffic Manager endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Endpoints
      description: Gets a Traffic Manager endpoint.
      operationId: Endpoints_Get
    patch:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            endpoint to be updated.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: The type of the Traffic Manager endpoint to be updated.
          in: path
          name: endpointType
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager endpoint to be updated.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The updated Traffic Manager endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Endpoints
      description: Update a Traffic Manager endpoint.
      operationId: Endpoints_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
        description: >-
          The Traffic Manager endpoint parameters supplied to the Update
          operation.
        required: true
    put:
      parameters:
        - description: >-
            The name of the resource group containing the Traffic Manager
            endpoint to be created or updated.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          schema:
            type: string
        - description: The type of the Traffic Manager endpoint to be created or updated.
          in: path
          name: endpointType
          required: true
          schema:
            type: string
        - description: The name of the Traffic Manager endpoint to be created or updated.
          in: path
          name: endpointName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The created or updated Endpoint.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: The created or updated Endpoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: >-
            Default response. It will be deserialized as per the Error
            definition.
      tags:
        - Endpoints
      description: Create or update a Traffic Manager endpoint.
      operationId: Endpoints_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint'
        description: >-
          The Traffic Manager endpoint parameters supplied to the CreateOrUpdate
          operation.
        required: true
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CheckTrafficManagerRelativeDnsNameAvailabilityParameters:
      description: Parameters supplied to check Traffic Manager name operation.
      properties:
        name:
          description: Gets or sets the name of the resource.
          type: string
        type:
          description: Gets or sets the type of the resource.
          type: string
      type: object
    CloudError:
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      properties:
        code:
          type: string
        details:
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          type: string
        target:
          type: string
      type: object
      x-ms-external: true
    DeleteOperationResult:
      description: The result of the request or operation.
      properties:
        boolean:
          description: The result of the operation or request.
          readOnly: true
          type: boolean
          x-ms-client-name: operationResult
      type: object
    DnsConfig:
      description: Class containing DNS settings in a Traffic Manager profile.
      properties:
        fqdn:
          description: >-
            Gets or sets the fully-qualified domain name (FQDN) of the Traffic
            Manager profile.  This is formed from the concatenation of the
            RelativeName with the DNS domain used by Azure Traffic Manager.
          type: string
        relativeName:
          description: >-
            Gets or sets the relative DNS name provided by this Traffic Manager
            profile.  This value is combined with the DNS domain name used by
            Azure Traffic Manager to form the fully-qualified domain name (FQDN)
            of the profile.
          type: string
        ttl:
          description: >-
            Gets or sets the DNS Time-To-Live (TTL), in seconds.  This informs
            the local DNS resolvers and DNS clients how long to cache DNS
            responses provided by this Traffic Manager profile.
          format: int64
          type: integer
      type: object
    Endpoint:
      description: Class representing a Traffic Manager endpoint.
      properties:
        id:
          description: Gets or sets the ID of the Traffic Manager endpoint.
          type: string
        name:
          description: Gets or sets the name of the Traffic Manager endpoint.
          type: string
        properties:
          $ref: '#/components/schemas/EndpointProperties'
          x-ms-client-flatten: true
        type:
          description: Gets or sets the endpoint type of the Traffic Manager endpoint.
          type: string
      type: object
    EndpointProperties:
      description: Class representing a Traffic Manager endpoint properties.
      properties:
        endpointLocation:
          description: >-
            Specifies the location of the external or nested endpoints when
            using the ‘Performance’ traffic routing method.
          type: string
        endpointMonitorStatus:
          description: Gets or sets the monitoring status of the endpoint.
          type: string
        endpointStatus:
          description: >-
            Gets or sets the status of the endpoint..  If the endpoint is
            Enabled, it is probed for endpoint health and is included in the
            traffic routing method.  Possible values are 'Enabled' and
            'Disabled'.
          type: string
        geoMapping:
          description: >-
            Gets or sets the list of countries/regions mapped to this endpoint
            when using the ‘Geographic’ traffic routing method. Please consult
            Traffic Manager Geographic documentation for a full list of accepted
            values.
          items:
            type: string
          type: array
        minChildEndpoints:
          description: >-
            Gets or sets the minimum number of endpoints that must be available
            in the child profile in order for the parent profile to be
            considered available. Only applicable to endpoint of type
            'NestedEndpoints'.
          format: int64
          type: integer
        priority:
          description: >-
            Gets or sets the priority of this endpoint when using the ‘Priority’
            traffic routing method. Possible values are from 1 to 1000, lower
            values represent higher priority. This is an optional parameter.  If
            specified, it must be specified on all endpoints, and no two
            endpoints can share the same priority value.
          format: int64
          type: integer
        target:
          description: >-
            Gets or sets the fully-qualified DNS name of the endpoint.  Traffic
            Manager returns this value in DNS responses to direct traffic to
            this endpoint.
          type: string
        targetResourceId:
          description: >-
            Gets or sets the Azure Resource URI of the of the endpoint.  Not
            applicable to endpoints of type 'ExternalEndpoints'.
          type: string
        weight:
          description: >-
            Gets or sets the weight of this endpoint when using the 'Weighted'
            traffic routing method. Possible values are from 1 to 1000.
          format: int64
          type: integer
      type: object
    GeographicHierarchyProperties:
      description: >-
        Class representing the properties of the Geographic hierarchy used with
        the Geographic traffic routing method.
      properties:
        geographicHierarchy:
          $ref: '#/components/schemas/Region'
          description: >-
            The region at the root of the hierarchy from all the regions in the
            hierarchy can be retrieved.
      type: object
    MonitorConfig:
      description: >-
        Class containing endpoint monitoring settings in a Traffic Manager
        profile.
      properties:
        path:
          description: >-
            Gets or sets the path relative to the endpoint domain name used to
            probe for endpoint health.
          type: string
        port:
          description: Gets or sets the TCP port used to probe for endpoint health.
          format: int64
          type: integer
        profileMonitorStatus:
          description: >-
            Gets or sets the profile-level monitoring status of the Traffic
            Manager profile.
          type: string
        protocol:
          description: >-
            Gets or sets the protocol (HTTP or HTTPS) used to probe for endpoint
            health.
          type: string
      type: object
    Profile:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Class representing a Traffic Manager profile.
      properties:
        properties:
          $ref: '#/components/schemas/ProfileProperties'
          x-ms-client-flatten: true
      type: object
    ProfileListResult:
      description: The list Traffic Manager profiles operation response.
      properties:
        value:
          description: Gets the list of Traffic manager profiles.
          items:
            $ref: '#/components/schemas/Profile'
          type: array
      type: object
    ProfileProperties:
      description: Class representing the Traffic Manager profile properties.
      properties:
        dnsConfig:
          $ref: '#/components/schemas/DnsConfig'
          description: Gets or sets the DNS settings of the Traffic Manager profile.
        endpoints:
          description: Gets or sets the list of endpoints in the Traffic Manager profile.
          items:
            $ref: '#/components/schemas/Endpoint'
          type: array
        monitorConfig:
          $ref: '#/components/schemas/MonitorConfig'
          description: >-
            Gets or sets the endpoint monitoring settings of the Traffic Manager
            profile.
        profileStatus:
          description: >-
            Gets or sets the status of the Traffic Manager profile.  Possible
            values are 'Enabled' and 'Disabled'.
          type: string
        trafficRoutingMethod:
          description: >-
            Gets or sets the traffic routing method of the Traffic Manager
            profile.  Possible values are 'Performance', 'Weighted', 'Priority'
            or 'Geographic'.
          type: string
      type: object
    Region:
      description: >-
        Class representing a region in the Geographic hierarchy used with the
        Geographic traffic routing method.
      properties:
        code:
          description: The code of the region
          type: string
        name:
          description: The name of the region
          type: string
        regions:
          description: >-
            The list of Regions grouped under this Region in the Geographic
            Hierarchy.
          items:
            $ref: '#/components/schemas/Region'
          type: array
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          description: Resource Id
          type: string
      type: object
      x-ms-external: true
    TrafficManagerGeographicHierarchy:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        Class representing the Geographic hierarchy used with the Geographic
        traffic routing method.
      properties:
        properties:
          $ref: '#/components/schemas/GeographicHierarchyProperties'
          x-ms-client-flatten: true
      type: object
    TrafficManagerNameAvailability:
      description: Class representing a Traffic Manager Name Availability response.
      properties:
        message:
          description: >-
            Descriptive message that explains why the name is not available,
            when applicable.
          type: string
        name:
          description: The relative name.
          type: string
        nameAvailable:
          description: Describes whether the relative name is available or not.
          type: boolean
        reason:
          description: 'The reason why the name is not available, when applicable.'
          type: string
        type:
          description: Traffic Manager profile resource type.
          type: string
      type: object

