{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure Management Groups API enables consolidation of multiple \nsubscriptions/resources into an organizational hierarchy and centrally \nmanage access control, policies, alerting and reporting for those resources.\n",
    "title": "Management Groups API",
    "version": "2017-08-31-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managementgroups/resource-manager/Microsoft.Management/preview/2017-08-31-preview/management.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/managementGroups": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "Page continuation token is only used if a previous operation returned a partial result. \nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.\n",
            "in": "query",
            "name": "$skiptoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementGroupListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "List management groups for the authenticated user.\n",
        "operationId": "ManagementGroups_List",
        "x-ms-examples": {
          "GetManagementGroups": {
            "$ref": "./examples/GetGroups.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/ExpandParameter"
          },
          {
            "$ref": "#/components/parameters/RecurseParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementGroupWithHierarchy"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ManagementGroups"
        ],
        "description": "Get the details of the management group.\n",
        "operationId": "ManagementGroups_Get",
        "x-ms-examples": {
          "GetManagementGroup": {
            "$ref": "./examples/GetManagementGroup.json"
          },
          "GetManagementGroupWithExpand": {
            "$ref": "./examples/GetManagementGroupWithExpand.json"
          },
          "GetManagementGroupsWithExpandAndRecurse": {
            "$ref": "./examples/GetManagementGroupWithExpandAndRecurse.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available management REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Version of the API to be used with the client request. The current version is 2017-08-31-preview.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ExpandParameter": {
        "description": "The $expand=children query string parameter allows clients to request inclusion of children in the response payload.",
        "in": "query",
        "name": "$expand",
        "required": false,
        "schema": {
          "enum": [
            "children"
          ],
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "GroupIdParameter": {
        "description": "Management Group ID.",
        "in": "path",
        "name": "groupId",
        "required": true,
        "schema": {
          "format": "uuid",
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "RecurseParameter": {
        "description": "The $recurse=true query string parameter allows clients to request inclusion of entire hierarchy in the response payload.",
        "in": "query",
        "name": "$recurse",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "One of a server-defined set of error codes.",
            "type": "string"
          },
          "message": {
            "description": "A human-readable representation of the error.",
            "type": "string"
          },
          "target": {
            "description": "(Optional) The target of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "The error object.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "title": "Error"
          }
        },
        "type": "object"
      },
      "ManagementGroup": {
        "description": "The management group details.",
        "properties": {
          "id": {
            "description": "The ID of the management group. E.g. /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the management group. E.g. 20000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementGroupProperties",
            "title": "Properties",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource. E.g. /providers/Microsoft.Management/managementGroups",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupChildInfo": {
        "description": "The unique identifier (ID) of a management group.",
        "properties": {
          "childId": {
            "description": "The ID of the child resource (management group or subscription). E.g. /providers/Microsoft.Management/managementGroups/40000000-0000-0000-0000-000000000000",
            "type": "string"
          },
          "childType": {
            "$ref": "#/components/schemas/ManagementGroupType",
            "title": "Management Group Child Info"
          },
          "displayName": {
            "description": "The friendly name of the child resource.",
            "type": "string"
          },
          "tenantId": {
            "description": "(Optional) The AAD Tenant ID associated with the child resource.",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupDetailsProperties": {
        "description": "The details properties of a management group.",
        "properties": {
          "managementGroupType": {
            "$ref": "#/components/schemas/ManagementGroupType",
            "title": "Management Group Type"
          },
          "parent": {
            "$ref": "#/components/schemas/ParentGroupInfo",
            "title": "Parent"
          },
          "updatedBy": {
            "description": "The identity of the principal or process that updated the object.",
            "type": "string"
          },
          "updatedTime": {
            "description": "The date and time when this object was last updated.",
            "format": "date-time",
            "type": "string"
          },
          "version": {
            "description": "The version number of the object.",
            "format": "int32",
            "type": "number"
          }
        },
        "type": "object"
      },
      "ManagementGroupInfo": {
        "description": "The management group.",
        "properties": {
          "id": {
            "description": "The ID of the management group. E.g. /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the management group. E.g. 20000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementGroupInfoProperties",
            "title": "Properties",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource. E.g. /providers/Microsoft.Management/managementGroups",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupInfoProperties": {
        "description": "The generic properties of a management group.",
        "properties": {
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "tenantId": {
            "description": "The AAD Tenant ID associated with the management group. E.g. 10000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupListResult": {
        "description": "The result of listing management groups.",
        "properties": {
          "nextLink": {
            "description": "The URL to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The list of management groups.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupInfo"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ManagementGroupProperties": {
        "description": "The generic properties of a management group.",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/ManagementGroupDetailsProperties",
            "title": "Details"
          },
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "tenantId": {
            "description": "The AAD Tenant ID associated with the management group. E.g. 10000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupPropertiesWithChildren": {
        "description": "The generic properties of a management group.",
        "properties": {
          "children": {
            "description": "The list of children.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupChildInfo"
            },
            "type": "array"
          },
          "details": {
            "$ref": "#/components/schemas/ManagementGroupDetailsProperties",
            "title": "Details"
          },
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "tenantId": {
            "description": "The AAD Tenant ID associated with the management group. E.g. 10000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupPropertiesWithHierarchy": {
        "description": "The generic properties of a management group.",
        "properties": {
          "children": {
            "description": "The list of children.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupRecursiveChildInfo"
            },
            "type": "array"
          },
          "details": {
            "$ref": "#/components/schemas/ManagementGroupDetailsProperties",
            "title": "Details"
          },
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "tenantId": {
            "description": "The AAD Tenant ID associated with the management group. E.g. 10000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupRecursiveChildInfo": {
        "description": "The unique identifier (ID) of a management group.",
        "properties": {
          "childId": {
            "description": "The ID of the child resource (management group or subscription). E.g. /providers/Microsoft.Management/managementGroups/40000000-0000-0000-0000-000000000000",
            "type": "string"
          },
          "childType": {
            "$ref": "#/components/schemas/ManagementGroupType",
            "title": "Management Group Recursive Child Info"
          },
          "children": {
            "description": "The list of children.",
            "items": {
              "$ref": "#/components/schemas/ManagementGroupRecursiveChildInfo"
            },
            "type": "array"
          },
          "displayName": {
            "description": "The friendly name of the child resource.",
            "type": "string"
          },
          "tenantId": {
            "description": "(Optional) The AAD Tenant ID associated with the child resource.",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupType": {
        "description": "(Optional) The type of the management group.",
        "enum": [
          "Enrollment",
          "Department",
          "Account",
          "Subscription"
        ],
        "type": "string"
      },
      "ManagementGroupWithChildren": {
        "description": "The management group details.",
        "properties": {
          "id": {
            "description": "The ID of the management group. E.g. /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the management group. E.g. 20000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementGroupPropertiesWithChildren",
            "title": "Properties",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource. E.g. /providers/Microsoft.Management/managementGroups",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementGroupWithHierarchy": {
        "description": "The management group details.",
        "properties": {
          "id": {
            "description": "The ID of the management group. E.g. /providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the management group. E.g. 20000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ManagementGroupPropertiesWithHierarchy",
            "title": "Properties",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "The type of the resource. E.g. /providers/Microsoft.Management/managementGroups",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "A Management REST API operation.",
        "properties": {
          "display": {
            "description": "The object that represents the operation.",
            "properties": {
              "operation": {
                "description": "Operation type: Read, write, delete, etc.",
                "readOnly": true,
                "type": "string"
              },
              "provider": {
                "description": "Service provider: Microsoft.Management.",
                "readOnly": true,
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed: Invoice, etc.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result listing  operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of management operations supported by the Microsoft.Management resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ParentGroupInfo": {
        "description": "(Optional) The ID of the parent management group.",
        "properties": {
          "displayName": {
            "description": "The friendly name of the management group.",
            "type": "string"
          },
          "parentId": {
            "description": "The ID of the parent management group. E.g. /providers/Microsoft.Management/managementGroups/30000000-0000-0000-0000-000000000000",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "description": "A Management Group is a customer defined scope (grouping mechanism) that \nprovides access control (authorization), policy management and reporting. \nManagement Groups are organized in a strictly tree-based hierarchy.\n",
      "name": "ManagementGroups"
    }
  ]
}