openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroupsListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - HybridRunbookWorkerGroup
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations'
      description: Retrieve a list of hybrid runbook worker groups.
      operationId: HybridRunbookWorkerGroup_ListByAutomationAccount
      x-ms-examples:
        List hybrid worker groups by Automation Account:
          $ref: ./examples/hybridRunbookWorkerGroupList.json
      x-ms-odata: '#/components/schemas/HybridRunbookWorkerGroup'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The hybrid runbook worker group name
          in: path
          name: hybridRunbookWorkerGroupName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - HybridRunbookWorkerGroup
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations'
      description: Delete a hybrid runbook worker group.
      operationId: HybridRunbookWorkerGroup_Delete
      x-ms-examples:
        Delete a hybrid worker group:
          $ref: ./examples/deleteHybridRunbookWorkerGroup.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The hybrid runbook worker group name
          in: path
          name: hybridRunbookWorkerGroupName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - HybridRunbookWorkerGroup
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations'
      description: Retrieve a hybrid runbook worker group.
      operationId: HybridRunbookWorkerGroup_Get
      x-ms-examples:
        Get a hybrid worker group:
          $ref: ./examples/hybridRunbookWorkerGroupGet.json
    patch:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The hybrid runbook worker group name
          in: path
          name: hybridRunbookWorkerGroupName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridRunbookWorkerGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - HybridRunbookWorkerGroup
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations'
      description: Update a hybrid runbook worker group.
      operationId: HybridRunbookWorkerGroup_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridRunbookWorkerGroupUpdateParameters'
        description: The hybrid runbook worker group
        required: true
      x-ms-examples:
        Update hybrid worker group:
          $ref: ./examples/hybridRunbookWorkerGroupUpdate.json
components:
  schemas:
    HybridRunbookWorker:
      description: Definition of hybrid runbook worker.
      properties:
        ip:
          description: Gets or sets the assigned machine IP address.
          type: string
        lastSeenDateTime:
          description: Last Heartbeat from the Worker
          format: date-time
          nullable: false
          type: string
        name:
          description: Gets or sets the worker machine name.
          type: string
        registrationTime:
          description: Gets or sets the registration time of the worker machine.
          format: date-time
          nullable: false
          type: string
      type: object
    HybridRunbookWorkerGroup:
      description: Definition of hybrid runbook worker group.
      properties:
        credential:
          $ref: '#/components/schemas/RunAsCredentialAssociationProperty'
          description: Sets the credential of a worker group.
        groupType:
          description: Type of the HybridWorkerGroup.
          enum:
            - User
            - System
          type: string
          x-ms-enum:
            modelAsString: true
            name: GroupTypeEnum
        hybridRunbookWorkers:
          description: Gets or sets the list of hybrid runbook workers.
          items:
            $ref: '#/components/schemas/HybridRunbookWorker'
          type: array
        id:
          description: Gets or sets the id of the resource.
          type: string
        name:
          description: Gets or sets the name of the group.
          type: string
      type: object
    HybridRunbookWorkerGroupUpdateParameters:
      description: Parameters supplied to the update operation.
      properties:
        credential:
          $ref: '#/components/schemas/RunAsCredentialAssociationProperty'
          description: Sets the credential of a worker group.
      type: object
    HybridRunbookWorkerGroupsListResult:
      description: The response model for the list hybrid runbook worker groups.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of hybrid runbook worker groups.
          items:
            $ref: '#/components/schemas/HybridRunbookWorkerGroup'
          type: array
      type: object
    RunAsCredentialAssociationProperty:
      description: Definition of RunAs credential to use for hybrid worker.
      properties:
        name:
          description: Gets or sets the name of the credential.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

