openapi: 3.0.0
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: '2016-01-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.AzureBridge.Admin/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
          description: Default Response.
      tags:
        - AzureBridge
      description: Returns the list of support REST operations.
      operationId: Operations_List
      x-ms-examples:
        Returns the list of supported REST operations.:
          $ref: ./examples/Operations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ActivationNameParameter:
      description: Name of the activation.
      in: path
      name: activationName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2016-01-01'
        type: string
    ProductNameParameter:
      description: Name of the product.
      in: path
      name: productName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    RegistrationNameParameter:
      description: Name of the registration.
      in: path
      name: registrationName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The resource group the resource is located under.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Compatibility:
      description: Product compatibility
      properties:
        description:
          description: Full error message if any compatibility issues are found
          type: string
        isCompatible:
          description: Tells if product is compatible with current device
          type: boolean
        issues:
          description: List of all issues found
          items:
            $ref: '#/components/schemas/CompatibilityIssue'
          type: array
        message:
          description: Short error message if any compatibility issues are found
          type: string
      type: object
    CompatibilityIssue:
      description: Compatibility issue
      enum:
        - HigherDeviceVersionRequired
        - LowerDeviceVersionRequired
        - CapacityBillingModelRequired
        - PayAsYouGoBillingModelRequired
        - DevelopmentBillingModelRequired
        - AzureADIdentitySystemRequired
        - ADFSIdentitySystemRequired
        - ConnectionToInternetRequired
        - ConnectionToAzureRequired
        - DisconnectedEnvironmentRequired
      type: string
      x-ms-enum:
        modelAsString: true
        name: CompatibilityIssue
    ComputeRole:
      description: Compute role type (IaaS or PaaS).
      enum:
        - None
        - IaaS
        - PaaS
      type: string
      x-ms-enum:
        modelAsString: true
        name: ComputeRole
    DataDiskImage:
      description: Data disk image.
      properties:
        lun:
          description: The LUN.
          format: int32
          readOnly: true
          type: integer
        sourceBlobSasUri:
          description: SAS key for source blob.
          readOnly: true
          type: string
      type: object
    Display:
      description: >-
        Contains the localized display information for this particular operation
        / action.
      properties:
        description:
          description: >-
            The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          readOnly: true
          type: string
        operation:
          description: >-
            The localized, friendly name for the operation. Use the name as it
            will displayed to the user.
          readOnly: true
          type: string
        provider:
          description: >-
            The localized friendly form of the resource provider name – it is
            expected to also include the publisher/company responsible. It
            should use Title Casing and begin with "Microsoft" for 1st party
            services. e.g. "Microsoft Monitoring Insights" or "Microsoft
            Compute."
          readOnly: true
          type: string
        resource:
          description: >-
            The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          readOnly: true
          type: string
      type: object
    DownloadedProduct:
      allOf:
        - $ref: AzureBridge.json#/definitions/ProductBase
      description: Properties for aggregate usage.
      properties:
        galleryPackageBlobSasUri:
          description: >-
            The URI to the .azpkg file that provides information required for
            showing product in the gallery.
          type: string
        legalTerms:
          description: Legal terms for the product.
          type: string
        links:
          $ref: AzureBridge.json#/definitions/ProductLinks
          description: Gallery item identity.
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        productDetailsProperties:
          $ref: '#/components/schemas/ExtendedProductProperties'
          description: Specifies additional properties describing the product.
          readOnly: true
          x-ms-client-flatten: true
        provisioningState:
          $ref: AzureBridge.json#/definitions/ProvisioningState
          description: Provisioning state of the resource.
        vmExtensionType:
          description: Extension type of the VM.
          type: string
      type: object
    DownloadedProductResource:
      allOf:
        - $ref: AzureBridge.json#/definitions/Resource
      description: Downloaded product resource.
      properties:
        properties:
          $ref: '#/components/schemas/DownloadedProduct'
          description: Properties of the resource.
          x-ms-client-flatten: true
      type: object
    ExtendedProductProperties:
      allOf:
        - $ref: '#/components/schemas/VirtualMachineExtensionProductProperties'
        - $ref: '#/components/schemas/VirtualMachineProductProperties'
      description: Product information.
      properties: {}
      type: object
    GalleryIcons:
      description: Icons for the gallery items.
      properties:
        hero:
          description: The hero (815x290) icon relative path.
          type: string
        large:
          description: The large (115x115) icon relative path.
          type: string
        medium:
          description: The medium (90x90) icon relative path.
          type: string
        small:
          description: The small (40x40) icon relative path.
          type: string
        wide:
          description: The wide (255x115) icon relative path.
          type: string
      type: object
    OperatingSystem:
      description: Operating system type (Windows or Linux).
      enum:
        - None
        - Windows
        - Linux
      type: string
      x-ms-enum:
        modelAsString: true
        name: OperatingSystem
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: '#/components/schemas/Display'
          description: >-
            Contains the localized display information for this particular
            operation / action.
          readOnly: true
        isDataAction:
          description: >-
            Whether the operation applies to data-plane. This is "true" for
            data-plane operations and "false" for ARM/control-plane operations.
          readOnly: true
          type: boolean
        name:
          description: >-
            The name of the operation being performed on this particular object.
            This name should match the name that appears in RBAC or the event
            service.
          readOnly: true
          type: string
        origin:
          description: Origin for the operation.
          readOnly: true
          type: string
      type: object
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
      type: object
    OsDiskImage:
      description: OS disk image.
      properties:
        operatingSystem:
          $ref: '#/components/schemas/OperatingSystem'
          description: OS operating system type.
          readOnly: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          readOnly: true
          type: string
      type: object
    ProductBase:
      description: Base object for all product classes.
      properties:
        billingPartNumber:
          description: Billing part number.
          type: string
        compatibility:
          $ref: '#/components/schemas/Compatibility'
          description: Product compatibility with current device.
        description:
          description: Description of the product.
          type: string
        displayName:
          description: Name displayed for the product.
          type: string
        galleryItemIdentity:
          description: Gallery item identity.
          type: string
        iconUris:
          $ref: '#/components/schemas/GalleryIcons'
          description: Information about gallery icons.
        offer:
          description: Offer name.
          type: string
        offerVersion:
          description: Offer version.
          type: string
        payloadLength:
          description: Size in bytes.
          format: int64
          type: integer
        productKind:
          description: >-
            The kind. E.g. VirtualMachineProductProperties.ProductKind or
            WebApp, SolutionTemplate.
          type: string
        productProperties:
          $ref: '#/components/schemas/ProductProperties'
          description: >-
            the product properties. At the moment only
            VirtualMachineProductProperties is allowed.
        publisherDisplayName:
          description: Name of publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        sku:
          description: Product SKU.
          type: string
      type: object
    ProductLink:
      description: Link to a product.
      properties:
        displayName:
          description: Displayed name of product.
          type: string
        uri:
          description: URI to product.
          type: string
      type: object
    ProductLinks:
      description: List of product links.
      items:
        $ref: '#/components/schemas/ProductLink'
      type: array
      x-ms-identifiers:
        - uri
    ProductProperties:
      description: Additional properties of the product
      properties:
        version:
          description: The version of the product
          type: string
      type: object
    ProvisioningState:
      description: The provisioning state of the resource.
      enum:
        - Stopped
        - Starting
        - Running
        - Stopping
        - Succeeded
        - Downloading
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: Base Resource Object
      properties:
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          readOnly: true
          type: object
        id:
          description: URI of the resource.
          type: string
        location:
          description: Location of the resource
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          type: string
        type:
          description: Type of resource.
          type: string
      type: object
      x-ms-azure-resource: true
    Uri:
      description: The URI.
      properties:
        uri:
          description: The URI.
          type: string
      type: object
    VirtualMachineExtensionProductProperties:
      description: Product information.
      properties:
        computeRole:
          $ref: '#/components/schemas/ComputeRole'
          description: Specifies kind of compute role included in the package.
          readOnly: true
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          type: boolean
        sourceBlob:
          $ref: '#/components/schemas/Uri'
          description: Specifies a download location where content can be downloaded from.
          readOnly: true
          x-ms-client-flatten: true
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          type: boolean
        version:
          description: Specifies product version.
          type: string
        vmOsType:
          $ref: '#/components/schemas/OperatingSystem'
          description: Specifies operating system used by the product.
          readOnly: true
        vmScaleSetEnabled:
          description: >-
            Indicates if virtual machine Scale Set is enabled in the specified
            product.
          type: boolean
      type: object
    VirtualMachineProductProperties:
      description: Product information.
      properties:
        dataDiskImages:
          description: List of attached data disks.
          items:
            $ref: '#/components/schemas/DataDiskImage'
          readOnly: true
          type: array
          x-ms-identifiers:
            - sourceBlobSasUri
        osDiskImage:
          $ref: '#/components/schemas/OsDiskImage'
          description: OS disk image used by product.
          readOnly: true
        version:
          description: Specifies product version.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

