{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-07-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/serviceTags.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags": {
      "get": {
        "parameters": [
          {
            "description": "The location that will be used as a reference for version (not as a filter based on location, you will get the list of service tags with prefix details across all regions but limited to the cloud that your subscription belongs to).",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceTagsListResult"
                }
              }
            },
            "description": "Request successful. Returns a list of service tag information resources."
          }
        },
        "description": "Gets a list of service tag information resources.",
        "operationId": "ServiceTags_List",
        "x-ms-examples": {
          "Get list of service tags": {
            "$ref": "./examples/ServiceTagsList.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceTagInformation": {
        "description": "The service tag information.",
        "properties": {
          "id": {
            "description": "The ID of service tag.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of service tag.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ServiceTagInformationPropertiesFormat",
            "description": "Properties of the service tag information.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "ServiceTagInformationPropertiesFormat": {
        "description": "Properties of the service tag information.",
        "properties": {
          "addressPrefixes": {
            "description": "The list of IP address prefixes.",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "changeNumber": {
            "description": "The iteration number of service tag.",
            "readOnly": true,
            "type": "string"
          },
          "region": {
            "description": "The region of service tag.",
            "readOnly": true,
            "type": "string"
          },
          "systemService": {
            "description": "The name of system service.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServiceTagsListResult": {
        "description": "Response for the ListServiceTags API service call.",
        "properties": {
          "changeNumber": {
            "description": "The iteration number.",
            "readOnly": true,
            "type": "string"
          },
          "cloud": {
            "description": "The name of the cloud.",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "The ID of the cloud.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the cloud.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The azure resource type.",
            "readOnly": true,
            "type": "string"
          },
          "values": {
            "description": "The list of service tag information resources.",
            "items": {
              "$ref": "#/components/schemas/ServiceTagInformation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}