{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/virtualRouter.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualRouters": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouterListResult"
                }
              }
            },
            "description": "Success. The operation returns a list of Virtual Router resources."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouters"
        ],
        "description": "Gets all the Virtual Routers in a subscription.",
        "operationId": "VirtualRouters_List",
        "x-ms-examples": {
          "List all Virtual Routers for a given subscription": {
            "$ref": "./examples/VirtualRouterListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouterListResult"
                }
              }
            },
            "description": "Success. The operation returns a list of Virtual Router resources."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouters"
        ],
        "description": "Lists all Virtual Routers in a resource group.",
        "operationId": "VirtualRouters_ListByResourceGroup",
        "x-ms-examples": {
          "List all Virtual Router for a given resource group": {
            "$ref": "./examples/VirtualRouterListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouters"
        ],
        "description": "Deletes the specified Virtual Router.",
        "operationId": "VirtualRouters_Delete",
        "x-ms-examples": {
          "Delete VirtualRouter": {
            "$ref": "./examples/VirtualRouterDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouter"
                }
              }
            },
            "description": "Request successful. The operation returns a Virtual Router resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouters"
        ],
        "description": "Gets the specified Virtual Router.",
        "operationId": "VirtualRouters_Get",
        "x-ms-examples": {
          "Get VirtualRouter": {
            "$ref": "./examples/VirtualRouterGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouter"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting Virtual Router resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouter"
                }
              }
            },
            "description": "Request received successfully. The operation returns the resulting Virtual Router resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouters"
        ],
        "description": "Creates or updates the specified Virtual Router.",
        "operationId": "VirtualRouters_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualRouter"
              }
            }
          },
          "description": "Parameters supplied to the create or update Virtual Router.",
          "required": true
        },
        "x-ms-examples": {
          "Create VirtualRouter": {
            "$ref": "./examples/VirtualRouterPut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouterPeeringListResult"
                }
              }
            },
            "description": "Success. The operation returns a list of Virtual Router Peering resources."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouterPeerings"
        ],
        "description": "Lists all Virtual Router Peerings in a Virtual Router resource.",
        "operationId": "VirtualRouterPeerings_List",
        "x-ms-examples": {
          "List all Virtual Router Peerings for a given Virtual Router": {
            "$ref": "./examples/VirtualRouterPeeringList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouterPeerings"
        ],
        "description": "Deletes the specified peering from a Virtual Router.",
        "operationId": "VirtualRouterPeerings_Delete",
        "x-ms-examples": {
          "Delete VirtualRouterPeering": {
            "$ref": "./examples/VirtualRouterPeeringDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router Peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouterPeering"
                }
              }
            },
            "description": "Request successful. The operation returns a Virtual Router Peering resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouterPeerings"
        ],
        "description": "Gets the specified Virtual Router Peering.",
        "operationId": "VirtualRouterPeerings_Get",
        "x-ms-examples": {
          "Get Virtual Router Peering": {
            "$ref": "./examples/VirtualRouterPeeringGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router.",
            "in": "path",
            "name": "virtualRouterName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the Virtual Router Peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouterPeering"
                }
              }
            },
            "description": "Request successful. The operation returns the resulting Virtual Router Peering resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualRouterPeering"
                }
              }
            },
            "description": "Request received successfully. The operation returns the resulting Virtual Router Peering resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./network.json#/definitions/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "VirtualRouterPeerings"
        ],
        "description": "Creates or updates the specified Virtual Router Peering.",
        "operationId": "VirtualRouterPeerings_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualRouterPeering"
              }
            }
          },
          "description": "Parameters supplied to the create or update Virtual Router Peering operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create Virtual Router Peering": {
            "$ref": "./examples/VirtualRouterPeeringPut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VirtualRouter": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/Resource"
          }
        ],
        "description": "VirtualRouter Resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualRouterPropertiesFormat",
            "description": "Properties of the Virtual Router.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "VirtualRouterListResult": {
        "description": "Response for ListVirtualRouters API service call.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "List of Virtual Routers.",
            "items": {
              "$ref": "#/components/schemas/VirtualRouter"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualRouterPeering": {
        "allOf": [
          {
            "$ref": "./network.json#/definitions/SubResource"
          }
        ],
        "description": "Virtual Router Peering resource.",
        "properties": {
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the virtual router peering that is unique within a virtual router.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/VirtualRouterPeeringProperties",
            "description": "The properties of the Virtual Router Peering.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Peering type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "VirtualRouterPeeringListResult": {
        "description": "Response for ListVirtualRouterPeerings API service call.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "List of VirtualRouterPeerings in a VirtualRouter.",
            "items": {
              "$ref": "#/components/schemas/VirtualRouterPeering"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "VirtualRouterPeeringProperties": {
        "description": "Properties of the rule group.",
        "properties": {
          "peerAsn": {
            "description": "Peer ASN.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "readOnly": false,
            "type": "integer"
          },
          "peerIp": {
            "description": "Peer IP.",
            "readOnly": false,
            "type": "string"
          },
          "provisioningState": {
            "$ref": "./network.json#/definitions/ProvisioningState",
            "description": "The provisioning state of the resource.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "VirtualRouterPropertiesFormat": {
        "description": "Virtual Router definition.",
        "properties": {
          "hostedGateway": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The Gateway on which VirtualRouter is hosted.",
            "readOnly": false
          },
          "hostedSubnet": {
            "$ref": "./network.json#/definitions/SubResource",
            "description": "The Subnet on which VirtualRouter is hosted.",
            "readOnly": false
          },
          "peerings": {
            "description": "List of references to VirtualRouterPeerings.",
            "items": {
              "$ref": "./network.json#/definitions/SubResource"
            },
            "readOnly": true,
            "type": "array"
          },
          "provisioningState": {
            "$ref": "./network.json#/definitions/ProvisioningState",
            "description": "The provisioning state of the resource.",
            "readOnly": true
          },
          "virtualRouterAsn": {
            "description": "VirtualRouter ASN.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "readOnly": false,
            "type": "integer"
          },
          "virtualRouterIps": {
            "description": "VirtualRouter IPs.",
            "items": {
              "type": "string"
            },
            "readOnly": false,
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}