{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2018-08-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/ddosProtectionPlan.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ddosProtectionPlans": {
      "get": {
        "parameters": [
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdosProtectionPlanListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of DDoS protection plan resources."
          }
        },
        "tags": [
          "DdosProtectionPlans"
        ],
        "description": "Gets all DDoS protection plans in a subscription.",
        "operationId": "DdosProtectionPlans_List",
        "x-ms-examples": {
          "List all DDoS protection plans": {
            "$ref": "./examples/DdosProtectionPlanListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans": {
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdosProtectionPlanListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of DDoS protection plan resources."
          }
        },
        "tags": [
          "DdosProtectionPlans"
        ],
        "description": "Gets all the DDoS protection plans in a resource group.",
        "operationId": "DdosProtectionPlans_ListByResourceGroup",
        "x-ms-examples": {
          "List DDoS protection plans in resource group": {
            "$ref": "./examples/DdosProtectionPlanList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the DDoS protection plan.",
            "in": "path",
            "name": "ddosProtectionPlanName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "tags": [
          "DdosProtectionPlans"
        ],
        "description": "Deletes the specified DDoS protection plan.",
        "operationId": "DdosProtectionPlans_Delete",
        "x-ms-examples": {
          "Delete DDoS protection plan": {
            "$ref": "./examples/DdosProtectionPlanDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the DDoS protection plan.",
            "in": "path",
            "name": "ddosProtectionPlanName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdosProtectionPlan"
                }
              }
            },
            "description": "Request successful. The operation returns the specified DDoS protection plan resource."
          }
        },
        "tags": [
          "DdosProtectionPlans"
        ],
        "description": "Gets information about the specified DDoS protection plan.",
        "operationId": "DdosProtectionPlans_Get",
        "x-ms-examples": {
          "Get DDoS protection plan": {
            "$ref": "./examples/DdosProtectionPlanGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the DDoS protection plan.",
            "in": "path",
            "name": "ddosProtectionPlanName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdosProtectionPlan"
                }
              }
            },
            "description": "Update successful. The operation returns the resulting DDoS protection plan resource."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdosProtectionPlan"
                }
              }
            },
            "description": "Create successful. The operation returns the resulting DDoS protection plan resource."
          }
        },
        "tags": [
          "DdosProtectionPlans"
        ],
        "description": "Creates or updates a DDoS protection plan.",
        "operationId": "DdosProtectionPlans_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DdosProtectionPlan"
              }
            }
          },
          "description": "Parameters supplied to the create or update operation.",
          "required": true
        },
        "x-ms-examples": {
          "Create DDoS protection plan": {
            "$ref": "./examples/DdosProtectionPlanCreate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "schemas": {
      "DdosProtectionPlan": {
        "description": "A DDoS protection plan in a resource group.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags.",
            "type": "object"
          },
          "etag": {
            "description": "A unique read-only string that changes whenever the resource is updated.",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DdosProtectionPlanPropertiesFormat",
            "description": "Properties of the DDoS protection plan.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "DdosProtectionPlanListResult": {
        "description": "A list of DDoS protection plans.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "A list of DDoS protection plans.",
            "items": {
              "$ref": "#/components/schemas/DdosProtectionPlan"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DdosProtectionPlanPropertiesFormat": {
        "description": "DDoS protection plan properties.",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state of the DDoS protection plan resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'.",
            "readOnly": true,
            "type": "string"
          },
          "resourceGuid": {
            "description": "The resource GUID property of the DDoS protection plan resource. It uniquely identifies the resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
            "readOnly": true,
            "type": "string"
          },
          "virtualNetworks": {
            "description": "The list of virtual networks associated with the DDoS protection plan resource. This list is read-only.",
            "items": {
              "$ref": "./network.json#/definitions/SubResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}