openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2017-05-01-preview
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/{resourceUri}/providers/Microsoft.Insights/diagnosticSettingsCategories':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DiagnosticSettingsCategoryResourceCollection
          description: >-
            Successful request to get more information about diagnostic setting
            category
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - DiagnosticSettingsCategories
      description: Lists the diagnostic settings categories for the specified resource.
      operationId: DiagnosticSettingsCategory_List
      x-ms-examples:
        Gets the diagnostic setting:
          $ref: ./examples/listDiagnosticSettingsCategories.json
  '/{resourceUri}/providers/Microsoft.Insights/diagnosticSettingsCategories/{name}':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/NameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSettingsCategoryResource'
          description: >-
            Successful request to get more information about diagnostic setting
            category
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - DiagnosticSettingsCategories
      description: Gets the diagnostic settings category for the specified resource.
      operationId: DiagnosticSettingsCategory_Get
      x-ms-examples:
        Gets the diagnostic setting:
          $ref: ./examples/getDiagnosticSettingsCategory.json
components:
  parameters:
    NameParameter:
      description: The name of the diagnostic setting.
      in: path
      name: name
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceUriParameter:
      allowReserved: true
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    DiagnosticSettingsCategory:
      description: The diagnostic settings Category.
      properties:
        categoryType:
          description: The type of the diagnostic settings category.
          enum:
            - Metrics
            - Logs
          nullable: false
          type: string
          x-ms-enum:
            name: categoryType
      type: object
    DiagnosticSettingsCategoryResource:
      allOf:
        - $ref: '#/components/schemas/ProxyOnlyResource'
      description: The diagnostic settings category resource.
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticSettingsCategory'
          description: The properties of a Diagnostic Settings Category.
          x-ms-client-flatten: true
      type: object
    DiagnosticSettingsCategoryResourceCollection:
      description: Represents a collection of diagnostic setting category resources.
      properties:
        value:
          description: The collection of diagnostic settings category resources.
          items:
            $ref: '#/components/schemas/DiagnosticSettingsCategoryResource'
          type: array
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    ProxyOnlyResource:
      description: A proxy only azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

