openapi: 3.0.0
info:
  description: ARM managed applications (appliances)
  title: ManagedApplicationClient
  version: 2016-09-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Solutions/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
        - Operations
      description: Lists all of the available Microsoft.Solutions REST API operations.
      operationId: ListOperations
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/appliances':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceListResult'
          description: OK - Returns an array of appliances.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Gets all the appliances within a subscription.
      operationId: Appliances_ListBySubscription
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions':
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinitionListResult'
          description: OK - Returns an array of appliance definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Lists the appliance definitions in a resource group.
      operationId: ApplianceDefinitions_ListByResourceGroup
      x-ms-examples:
        List appliance definitions:
          $ref: ./examples/listApplianceDefinitionsByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions/{applianceDefinitionName}':
    delete:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance definition to delete.
          in: path
          name: applianceDefinitionName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Deletes the appliance definition.
      operationId: ApplianceDefinitions_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance definition.
          in: path
          name: applianceDefinitionName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: OK - Returns the appliance definition.
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Gets the appliance definition.
      operationId: ApplianceDefinitions_Get
      x-ms-examples:
        Get appliance definition:
          $ref: ./examples/getApplianceDefinition.json
    put:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance definition.
          in: path
          name: applianceDefinitionName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: >-
            OK - Returns information about the appliance definition, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: >-
            Created - Returns information about the appliance definition,
            including provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Creates a new appliance definition.
      operationId: ApplianceDefinitions_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplianceDefinition'
        description: Parameters supplied to the create or update an appliance definition.
        required: true
      x-ms-examples:
        Create or update appliance definition:
          $ref: ./examples/createOrUpdateApplianceDefinition.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances':
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceListResult'
          description: OK - Returns an array of appliances.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Gets all the appliances within a resource group.
      operationId: Appliances_ListByResourceGroup
      x-ms-examples:
        Lists appliances:
          $ref: ./examples/listAppliancesByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances/{applianceName}':
    delete:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance.
          in: path
          name: applianceName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Deletes the appliance.
      operationId: Appliances_Delete
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance.
          in: path
          name: applianceName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: OK - Returns the appliance.
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Gets the appliance.
      operationId: Appliances_Get
      x-ms-examples:
        Get an appliance:
          $ref: ./examples/getAppliance.json
    patch:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance.
          in: path
          name: applianceName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: >-
            Created - Returns information about the appliance, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: >-
        Updates an existing appliance. The only value that can be updated via
        PATCH currently is the tags.
      operationId: Appliances_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to update an existing appliance.
    put:
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          name: resourceGroupName
          required: true
          schema:
            maxLength: 90
            minLength: 1
            pattern: '^[-\w\._\(\)]+$'
            type: string
        - description: The name of the appliance.
          in: path
          name: applianceName
          required: true
          schema:
            maxLength: 64
            minLength: 3
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: >-
            Created - Returns information about the appliance, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: >-
            Created - Returns information about the appliance, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Creates a new appliance.
      operationId: Appliances_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to the create or update an appliance.
        required: true
      x-ms-examples:
        Create or update appliance:
          $ref: ./examples/createOrUpdateAppliance.json
      x-ms-long-running-operation: true
  '/{applianceDefinitionId}':
    delete:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance definition, including the
            appliance name and the appliance definition resource type. Use the
            format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}
          in: path
          name: applianceDefinitionId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Deletes the appliance definition.
      operationId: ApplianceDefinitions_DeleteById
      x-ms-long-running-operation: true
    get:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance definition, including the
            appliance name and the appliance definition resource type. Use the
            format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}
          in: path
          name: applianceDefinitionId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: OK - Returns the appliance definition.
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Gets the appliance definition.
      operationId: ApplianceDefinitions_GetById
    put:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance definition, including the
            appliance name and the appliance definition resource type. Use the
            format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}
          in: path
          name: applianceDefinitionId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: >-
            OK - Returns information about the appliance definition, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: >-
            Created - Returns information about the appliance definition,
            including provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - ApplianceDefinitions
      description: Creates a new appliance definition.
      operationId: ApplianceDefinitions_CreateOrUpdateById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplianceDefinition'
        description: Parameters supplied to the create or update an appliance definition.
        required: true
      x-ms-long-running-operation: true
  '/{applianceId}':
    delete:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance, including the appliance
            name and the appliance resource type. Use the format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
          in: path
          name: applianceId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: >-
            Accepted - Returns this status until the asynchronous operation has
            completed.
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Deletes the appliance.
      operationId: Appliances_DeleteById
      x-ms-long-running-operation: true
    get:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance, including the appliance
            name and the appliance resource type. Use the format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
          in: path
          name: applianceId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: OK - Returns the appliance.
        '404':
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Gets the appliance.
      operationId: Appliances_GetById
    patch:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance, including the appliance
            name and the appliance resource type. Use the format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
          in: path
          name: applianceId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: >-
            Created - Returns information about the appliance, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: >-
        Updates an existing appliance. The only value that can be updated via
        PATCH currently is the tags.
      operationId: Appliances_UpdateById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to update an existing appliance.
    put:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified ID of the appliance, including the appliance
            name and the appliance resource type. Use the format,
            /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
          in: path
          name: applianceId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: >-
            Created - Returns information about the appliance, including
            provisioning status.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: >-
            Created - Returns information about the appliance, including
            provisioning status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Appliances
      description: Creates a new appliance.
      operationId: Appliances_CreateOrUpdateById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to the create or update an appliance.
        required: true
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    Appliance:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Appliance'
      description: Parameters supplied to the create or update an appliance.
      required: true
    Appliance2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Appliance'
      description: Parameters supplied to update an existing appliance.
    ApplianceDefinition:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApplianceDefinition'
      description: Parameters supplied to the create or update an appliance definition.
      required: true
  schemas:
    Appliance:
      allOf:
        - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance.
      properties:
        kind:
          description: >-
            The kind of the appliance. Allowed values are MarketPlace and
            ServiceCatalog.
          pattern: '^[-\w\._,\(\)]+$'
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
          description: The plan information.
        properties:
          $ref: '#/components/schemas/ApplianceProperties'
          description: The appliance properties.
          x-ms-client-flatten: true
      type: object
    ApplianceArtifact:
      description: Appliance artifact.
      properties:
        name:
          description: The appliance artifact name.
          type: string
        type:
          $ref: '#/components/schemas/ApplianceArtifactType'
          description: The appliance artifact type.
        uri:
          description: The appliance artifact blob uri.
          type: string
      type: object
    ApplianceArtifactType:
      description: The appliance artifact type.
      enum:
        - Template
        - Custom
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplianceArtifactType
    ApplianceDefinition:
      allOf:
        - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance definition.
      properties:
        properties:
          $ref: '#/components/schemas/ApplianceDefinitionProperties'
          description: The appliance definition properties.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    ApplianceDefinitionListResult:
      description: List of appliance definitions.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The array of appliance definitions.
          items:
            $ref: '#/components/schemas/ApplianceDefinition'
          type: array
      type: object
    ApplianceDefinitionProperties:
      description: The appliance definition properties.
      properties:
        artifacts:
          description: >-
            The collection of appliance artifacts. The portal will use the files
            specified as artifacts to construct the user experience of creating
            an appliance from an appliance definition.
          items:
            $ref: '#/components/schemas/ApplianceArtifact'
          type: array
        authorizations:
          description: The appliance provider authorizations.
          items:
            $ref: '#/components/schemas/ApplianceProviderAuthorization'
          type: array
        description:
          description: The appliance definition description.
          type: string
        displayName:
          description: The appliance definition display name.
          type: string
        lockLevel:
          $ref: '#/components/schemas/ApplianceLockLevel'
          description: The appliance lock level.
        packageFileUri:
          description: The appliance definition package file Uri.
          type: string
      required:
        - lockLevel
        - authorizations
        - packageFileUri
      type: object
    ApplianceListResult:
      description: List of appliances.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The array of appliances.
          items:
            $ref: '#/components/schemas/Appliance'
          type: array
      type: object
    ApplianceLockLevel:
      description: The appliance lock level.
      enum:
        - CanNotDelete
        - ReadOnly
        - None
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplianceLockLevel
    AppliancePatchable:
      allOf:
        - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance.
      properties:
        kind:
          description: >-
            The kind of the appliance. Allowed values are MarketPlace and
            ServiceCatalog.
          pattern: '^[-\w\._,\(\)]+$'
          type: string
        plan:
          $ref: '#/components/schemas/PlanPatchable'
          description: The plan information.
        properties:
          $ref: '#/components/schemas/AppliancePropertiesPatchable'
          description: The appliance properties.
          x-ms-client-flatten: true
      type: object
    ApplianceProperties:
      description: The appliance properties.
      properties:
        parameters:
          description: >-
            Name and value pairs that define the appliance parameters. It can be
            a JObject or a well formed JSON string.
          type: object
        applianceDefinitionId:
          description: The fully qualified path of appliance definition Id.
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          type: string
        outputs:
          description: Name and value pairs that define the appliance outputs.
          readOnly: true
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The appliance provisioning state.
          readOnly: true
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          type: string
      required:
        - managedResourceGroupId
      type: object
    AppliancePropertiesPatchable:
      description: The appliance properties.
      properties:
        parameters:
          description: >-
            Name and value pairs that define the appliance parameters. It can be
            a JObject or a well formed JSON string.
          type: object
        applianceDefinitionId:
          description: The fully qualified path of appliance definition Id.
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          type: string
        outputs:
          description: Name and value pairs that define the appliance outputs.
          readOnly: true
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The appliance provisioning state.
          readOnly: true
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          type: string
      type: object
    ApplianceProviderAuthorization:
      description: The appliance provider authorization.
      properties:
        principalId:
          description: >-
            The provider's principal identifier. This is the identity that the
            provider will use to call ARM to manage the appliance resources.
          type: string
        roleDefinitionId:
          description: >-
            The provider's role definition identifier. This role will define all
            the permissions that the provider must have on the appliance's
            container resource group. This role definition cannot have
            permission to delete the resource group.
          type: string
      required:
        - principalId
        - roleDefinitionId
      type: object
    ErrorResponse:
      description: >-
        Error response indicates ARM appliance is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        errorCode:
          description: Error code.
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          type: string
        httpStatus:
          description: Http status code.
          type: string
      type: object
    GenericResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Resource information.
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
          description: The identity of the resource.
        managedBy:
          description: ID of the resource that manages this resource.
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the resource.
      type: object
    Identity:
      description: Identity for the resource.
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          type: string
        type:
          description: The identity type.
          enum:
            - SystemAssigned
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      type: object
    Operation:
      description: Microsoft.Solutions operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.Solutions'
              type: string
            resource:
              description: >-
                Resource on which the operation is performed: Profile, endpoint,
                etc.
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Microsoft.Solutions operations. It
        contains a list of operations and a URL link to get the next set of
        results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of Microsoft.Solutions operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Plan:
      description: Plan for the appliance.
      properties:
        name:
          description: The plan name.
          type: string
        product:
          description: The product code.
          type: string
        promotionCode:
          description: The promotion code.
          type: string
        publisher:
          description: The publisher ID.
          type: string
        version:
          description: The plan's version.
          type: string
      required:
        - name
        - publisher
        - product
        - version
      type: object
    PlanPatchable:
      description: Plan for the appliance.
      properties:
        name:
          description: The plan name.
          type: string
        product:
          description: The product code.
          type: string
        promotionCode:
          description: The promotion code.
          type: string
        publisher:
          description: The publisher ID.
          type: string
        version:
          description: The plan's version.
          type: string
      type: object
    ProvisioningState:
      description: Provisioning status of the appliance.
      enum:
        - Accepted
        - Running
        - Ready
        - Creating
        - Created
        - Deleting
        - Deleted
        - Canceled
        - Failed
        - Succeeded
        - Updating
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: Resource information.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        id:
          description: Resource ID
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Sku:
      description: SKU for the resource.
      properties:
        capacity:
          description: The SKU capacity.
          format: int32
          type: integer
        family:
          description: The SKU family.
          type: string
        model:
          description: The SKU model.
          type: string
        name:
          description: The SKU name.
          type: string
        size:
          description: The SKU size.
          type: string
        tier:
          description: The SKU tier.
          type: string
      required:
        - name
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

