openapi: 3.0.0
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Compute.Admin/operations:
    get:
      parameters:
        - $ref: >-
            ../../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Compute.json#/definitions/CrpErrorResponse
          description: >-
            Common error response for all Azure Resource Manager APIs to return
            error details for failed operations. (This also follows the OData
            error response format.).
      tags:
        - Compute
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      x-ms-examples:
        Returns the list of supported REST operations.:
          $ref: ./examples/Operations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PublisherParameter:
      description: Name of the publisher.
      in: path
      name: publisher
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VersionParameter:
      description: The version of the resource.
      in: path
      name: version
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    CrpErrorResponse:
      description: >-
        Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error
        response format.).
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error object.
      title: Error response
      type: object
    CrpResource:
      description: Base resource object.
      properties:
        id:
          description: ID of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of Resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Display:
      description: >-
        Contains the localized display information for this particular operation
        or action.
      properties:
        description:
          description: >-
            The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          type: string
        operation:
          description: >-
            The localized, friendly name for the operation. Use the name as it
            will displayed to the user.
          type: string
        provider:
          description: >-
            The localized, friendly version of the resource provider name. The
            provider name is expected to include the name of the publisher or
            company responsible. The provider name format should use title case
            and begin with "Microsoft" for first-party services. For example,
            the provider name may be"Microsoft Monitoring Insights" or
            "Microsoft Compute."
          type: string
        resource:
          description: >-
            The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
      type: object
    ErrorDetail:
      description: The error detail.
      properties:
        code:
          description: The error code.
          readOnly: true
          type: string
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
      type: object
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: '#/components/schemas/Display'
          description: >-
            Contains the localized display information for this particular
            operation or action.
        isDataAction:
          description: >-
            Whether the operation applies to data-plane. This is "true" for
            data-plane operations and "false" for ARM/control-plane operations.
          readOnly: true
          type: boolean
        name:
          description: >-
            The name of the operation being performed on this particular object.
            This name should match the name that appears in RBAC or the event
            service.
          type: string
      type: object
    OperationList:
      description: List of Operations
      properties:
        nextLink:
          description: URI to the next page of operations.
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    ProvisioningState:
      description: The provisioning state of the resource.
      enum:
        - Creating
        - Failed
        - Succeeded
        - Canceled
      type: string
      x-ms-enum:
        name: ProvisioningState
    Resource:
      description: Base resource object.
      properties:
        id:
          description: ID of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of Resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

