openapi: 3.0.0
info:
  description: >-
    Provides create, read, update and delete functionality for Azure SQL
    Database resources including servers, databases, elastic pools,
    recommendations, and operations.
  title: Azure SQL Database
  version: '2014-04-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Sql/checkNameAvailability':
    post:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResponse'
          description: OK
      tags:
        - Servers
      description: Determines whether a resource can be created with the specified name.
      operationId: Servers_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: The parameters to request for name availability.
        required: true
      x-ms-examples:
        Check for a server name that already exists:
          $ref: ./examples/CheckNameAvailabilityServerAlreadyExists.json
        Check for a server name that is available:
          $ref: ./examples/CheckNameAvailabilityServerAvailable.json
        Check for a server name that is invalid:
          $ref: ./examples/CheckNameAvailabilityServerInvalid.json
components:
  parameters:
    DatabaseExpandParameter:
      description: >-
        A comma separated list of child objects to expand in the response.
        Possible properties: serviceTierAdvisors, transparentDataEncryption.
      in: query
      name: $expand
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    TransparentDataEncryptionNameParameter:
      description: The name of the transparent data encryption configuration.
      in: path
      name: transparentDataEncryptionName
      required: true
      schema:
        enum:
          - current
        type: string
      x-ms-enum:
        modelAsString: true
        name: TransparentDataEncryptionName
      x-ms-parameter-location: method
  schemas:
    CheckNameAvailabilityRequest:
      description: >-
        A request to check whether the specified name for a resource is
        available.
      properties:
        name:
          description: The name whose availability is to be checked.
          type: string
        type:
          description: >-
            The type of resource that is used as the scope of the availability
            check.
          enum:
            - Microsoft.Sql/servers
          type: string
          x-ms-enum:
            modelAsString: false
            name: CheckNameAvailabilityResourceType
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityResponse:
      description: >-
        A response indicating whether the specified name for a resource is
        available.
      properties:
        available:
          description: 'True if the name is available, otherwise false.'
          readOnly: true
          type: boolean
        message:
          description: >-
            A message explaining why the name is unavailable. Will be null if
            the name is available.
          readOnly: true
          type: string
        name:
          description: The name whose availability was checked.
          readOnly: true
          type: string
        reason:
          description: >-
            The reason code explaining why the name is unavailable. Will be null
            if the name is available.
          enum:
            - Invalid
            - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: CheckNameAvailabilityReason
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

