{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "title": "SqlManagementClient",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/advisors.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvisorListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of server advisors."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."
          }
        },
        "tags": [
          "ServerAdvisors"
        ],
        "description": "Gets a list of server advisors.",
        "operationId": "ServerAdvisors_ListByServer",
        "x-ms-examples": {
          "List of server advisors": {
            "$ref": "./examples/ServerAdvisorList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors/{advisorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the Server Advisor.",
            "in": "path",
            "name": "advisorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advisor"
                }
              }
            },
            "description": "Successfully retrieved details of specified server advisor."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."
          }
        },
        "tags": [
          "ServerAdvisors"
        ],
        "description": "Gets a server advisor.",
        "operationId": "ServerAdvisors_Get",
        "x-ms-examples": {
          "Get server advisor": {
            "$ref": "./examples/ServerAdvisorGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the Server Advisor.",
            "in": "path",
            "name": "advisorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advisor"
                }
              }
            },
            "description": "Successfully updated the specified server advisor."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 AdvisorNotFound - The requested advisor was not found.\n\n * 405 NotSupported - This functionality is not supported.\n\n * 409 Conflict - Request could not be processed because of conflict in the request.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable."
          }
        },
        "tags": [
          "ServerAdvisors"
        ],
        "description": "Updates a server advisor.",
        "operationId": "ServerAdvisors_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Advisor"
              }
            }
          },
          "description": "The requested advisor resource state.",
          "required": true
        },
        "x-ms-examples": {
          "Update server advisor": {
            "$ref": "./examples/ServerAdvisorUpdate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the Server Advisor.",
            "in": "path",
            "name": "advisorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advisor"
                }
              }
            },
            "description": "Successfully updated the specified server advisor."
          }
        },
        "tags": [
          "ServerAdvisors"
        ],
        "description": "Creates or updates a server advisor.",
        "operationId": "ServerAdvisors_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Advisor"
              }
            }
          },
          "description": "The requested advisor resource state.",
          "required": true
        },
        "x-ms-examples": {
          "Update server advisor": {
            "$ref": "./examples/ServerAdvisorCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvisorListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of database advisors."
          }
        },
        "tags": [
          "DatabaseAdvisors"
        ],
        "description": "Returns a list of database advisors.",
        "operationId": "DatabaseAdvisors_ListByDatabase",
        "x-ms-examples": {
          "List of database advisors": {
            "$ref": "./examples/DatabaseAdvisorList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/AdvisorNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advisor"
                }
              }
            },
            "description": "Successfully retrieved details of specified database advisor."
          }
        },
        "tags": [
          "DatabaseAdvisors"
        ],
        "description": "Returns details of a Database Advisor.",
        "operationId": "DatabaseAdvisors_Get",
        "x-ms-examples": {
          "Get database advisor": {
            "$ref": "./examples/DatabaseAdvisorGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/components/parameters/AdvisorNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advisor"
                }
              }
            },
            "description": "Successfully updated the specified database advisor."
          }
        },
        "tags": [
          "DatabaseAdvisors"
        ],
        "description": "Creates or updates a database advisor.",
        "operationId": "DatabaseAdvisors_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Advisor"
              }
            }
          },
          "description": "The requested advisor resource state.",
          "required": true
        },
        "x-ms-examples": {
          "Update database advisor": {
            "$ref": "./examples/DatabaseAdvisorCreateOrUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AdvisorNameParameter": {
        "description": "The name of the Database Advisor.",
        "in": "path",
        "name": "advisorName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "Advisor": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Advisor"
            }
          }
        },
        "description": "The requested advisor resource state.",
        "required": true
      }
    },
    "schemas": {
      "Advisor": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Database Advisor.",
        "properties": {
          "kind": {
            "description": "Resource kind.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/AdvisorProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AdvisorListResult": {
        "description": "Represents the response to a list advisors request.",
        "properties": {
          "value": {
            "description": "The list of advisors.",
            "items": {
              "$ref": "#/components/schemas/Advisor"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AdvisorProperties": {
        "description": "Properties for a Database, Server or Elastic Pool Advisor.",
        "properties": {
          "advisorStatus": {
            "description": "Gets the status of availability of this advisor to customers. Possible values are 'GA', 'PublicPreview', 'LimitedPublicPreview' and 'PrivatePreview'.",
            "enum": [
              "GA",
              "PublicPreview",
              "LimitedPublicPreview",
              "PrivatePreview"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "AdvisorStatus"
            }
          },
          "autoExecuteValue": {
            "description": "Gets the auto-execute status (whether to let the system execute the recommendations) of this advisor. Possible values are 'Enabled' and 'Disabled'",
            "enum": [
              "Enabled",
              "Disabled",
              "Default"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "AutoExecuteStatus"
            }
          },
          "lastChecked": {
            "description": "Gets the time when the current resource was analyzed for recommendations by this advisor.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "recommendationsStatus": {
            "description": "Gets that status of recommendations for this advisor and reason for not having any recommendations. Possible values include, but are not limited to, 'Ok' (Recommendations available), LowActivity (not enough workload to analyze), 'DbSeemsTuned' (Database is doing well), etc.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "autoExecuteValue"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}