{
  "openapi": "3.0.0",
  "info": {
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "title": "Microsoft Defender for Cloud",
    "version": "2015-06-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/discoveredSecuritySolutions.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveredSecuritySolutionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DiscoveredSecuritySolutions"
        ],
        "description": "Gets a list of discovered Security Solutions for the subscription.",
        "operationId": "DiscoveredSecuritySolutions_List",
        "x-ms-examples": {
          "Get discovered security solutions": {
            "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveredSecuritySolutionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DiscoveredSecuritySolutions"
        ],
        "description": "Gets a list of discovered Security Solutions for the subscription and location.",
        "operationId": "DiscoveredSecuritySolutions_ListByHomeRegion",
        "x-ms-examples": {
          "Get discovered security solutions from a security data location": {
            "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions/{discoveredSecuritySolutionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/AscLocation"
          },
          {
            "$ref": "#/components/parameters/DiscoveredSecuritySolutionName"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveredSecuritySolution"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common/v1/types.json#/definitions/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DiscoveredSecuritySolutions"
        ],
        "description": "Gets a specific discovered Security Solution.",
        "operationId": "DiscoveredSecuritySolutions_Get",
        "x-ms-examples": {
          "Get discovered security solution from a security data location": {
            "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionResourceGroupLocation_example.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "DiscoveredSecuritySolutionName": {
        "description": "Name of a discovered security solution.",
        "in": "path",
        "name": "discoveredSecuritySolutionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DiscoveredSecuritySolution": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/Resource"
          },
          {
            "$ref": "../../../common/v1/types.json#/definitions/Location"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DiscoveredSecuritySolutionProperties",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "DiscoveredSecuritySolutionList": {
        "properties": {
          "nextLink": {
            "description": "The URI to fetch the next page.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "items": {
              "$ref": "#/components/schemas/DiscoveredSecuritySolution"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DiscoveredSecuritySolutionProperties": {
        "properties": {
          "offer": {
            "description": "The security solutions' image offer",
            "type": "string"
          },
          "publisher": {
            "description": "The security solutions' image publisher",
            "type": "string"
          },
          "securityFamily": {
            "description": "The security family of the discovered solution",
            "enum": [
              "Waf",
              "Ngfw",
              "SaasWaf",
              "Va"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "securityFamily",
              "values": [
                {
                  "value": "Waf"
                },
                {
                  "value": "Ngfw"
                },
                {
                  "value": "SaasWaf"
                },
                {
                  "value": "Va"
                }
              ]
            }
          },
          "sku": {
            "description": "The security solutions' image sku",
            "type": "string"
          }
        },
        "required": [
          "securityFamily",
          "offer",
          "publisher",
          "sku"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}