openapi: 3.0.0
info:
  title: MonitorManagementClient
  version: 2017-05-01-preview
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SubscriptionDiagnosticSettingsResourceCollection
          description: >-
            Successful request to get more information about subscription
            diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDiagnosticSettings
      description: >-
        Gets the active subscription diagnostic settings list for the specified
        subscriptionId.
      operationId: SubscriptionDiagnosticSettings_List
      x-ms-examples:
        Gets the subscription diagnostic setting:
          $ref: ./examples/listSubscriptionDiagnosticSettings.json
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings/{name}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/NameParameter'
      responses:
        '200':
          description: Successful request to remove a subscription diagnostic setting
        '204':
          description: Successful request to remove a subscription diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDiagnosticSettings
      description: >-
        Deletes existing subscription diagnostic settings for the specified
        resource.
      operationId: SubscriptionDiagnosticSettings_Delete
      x-ms-examples:
        Deletes the subscription diagnostic setting:
          $ref: ./examples/deleteSubscriptionDiagnosticSetting.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/NameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
          description: Successful request to get more information about diagnostic setting.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDiagnosticSettings
      description: >-
        Gets the active subscription diagnostic settings for the specified
        resource.
      operationId: SubscriptionDiagnosticSettings_Get
      x-ms-examples:
        Gets the subscription diagnostic setting:
          $ref: ./examples/getSubscriptionDiagnosticSetting.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/NameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
          description: Successful request to create a subscription diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - SubscriptionDiagnosticSettings
      description: >-
        Creates or updates subscription diagnostic settings for the specified
        resource.
      operationId: SubscriptionDiagnosticSettings_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Creates or Updates the subscription diagnostic setting:
          $ref: ./examples/createOrUpdateSubscriptionDiagnosticSetting.json
components:
  parameters:
    NameParameter:
      description: The name of the diagnostic setting.
      in: path
      name: name
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    SubscriptionDiagnosticSettings:
      description: The subscription diagnostic settings.
      properties:
        eventHubAuthorizationRuleId:
          description: The resource Id for the event hub authorization rule.
          type: string
        eventHubName:
          description: >-
            The name of the event hub. If none is specified, the default event
            hub will be selected.
          type: string
        logs:
          description: The list of logs settings.
          items:
            $ref: '#/components/schemas/SubscriptionLogSettings'
          type: array
        serviceBusRuleId:
          description: >-
            The service bus rule Id of the diagnostic setting. This is here to
            maintain backwards compatibility.
          type: string
        storageAccountId:
          description: >-
            The resource ID of the storage account to which you would like to
            send Diagnostic Logs.
          type: string
        workspaceId:
          description: >-
            The full ARM resource ID of the Log Analytics workspace to which you
            would like to send Diagnostic Logs. Example:
            /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2
          type: string
      type: object
    SubscriptionDiagnosticSettingsResource:
      allOf:
        - $ref: '#/components/schemas/SubscriptionProxyOnlyResource'
      description: The subscription diagnostic setting resource.
      properties:
        properties:
          $ref: '#/components/schemas/SubscriptionDiagnosticSettings'
          description: Properties of a Subscription Diagnostic Settings Resource.
          x-ms-client-flatten: true
      type: object
    SubscriptionDiagnosticSettingsResourceCollection:
      description: Represents a collection of subscription diagnostic settings resources.
      properties:
        value:
          description: The collection of subscription diagnostic settings resources.
          items:
            $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
          type: array
      type: object
    SubscriptionLogSettings:
      description: >-
        Part of Subscription diagnostic setting. Specifies the settings for a
        particular log.
      properties:
        category:
          description: >-
            Name of a Subscription Diagnostic Log category for a resource type
            this setting is applied to.
          type: string
        enabled:
          description: a value indicating whether this log is enabled.
          type: boolean
      required:
        - enabled
      type: object
    SubscriptionProxyOnlyResource:
      description: A proxy only azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Location of the resource
          type: string
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

