{
  "openapi": "3.0.0",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2018-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/usage.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages": {
      "get": {
        "parameters": [
          {
            "description": "The location where resource usage is queried.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "pattern": "^[-\\w\\._ ]+$",
              "type": "string"
            }
          },
          {
            "$ref": "./network.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsagesListResult"
                }
              }
            },
            "description": "Request successful. The operation returns a list of Usage resources."
          }
        },
        "tags": [
          "Usages"
        ],
        "description": "List network usages for a subscription.",
        "operationId": "Usages_List",
        "x-ms-examples": {
          "List usages": {
            "$ref": "./examples/UsageList.json"
          },
          "List usages spaced location": {
            "$ref": "./examples/UsageListSpacedLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Usage": {
        "description": "Describes network resource usage.",
        "properties": {
          "currentValue": {
            "description": "The current value of the usage.",
            "format": "int64",
            "type": "integer"
          },
          "id": {
            "description": "Resource identifier.",
            "readOnly": true,
            "type": "string"
          },
          "limit": {
            "description": "The limit of usage.",
            "format": "int64",
            "type": "integer"
          },
          "name": {
            "$ref": "#/components/schemas/UsageName",
            "description": "The name of the type of usage."
          },
          "unit": {
            "description": "An enum describing the unit of measurement.",
            "enum": [
              "Count"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "UsageUnit"
            }
          }
        },
        "required": [
          "unit",
          "currentValue",
          "limit",
          "name"
        ],
        "type": "object"
      },
      "UsageName": {
        "description": "The usage names.",
        "properties": {
          "localizedValue": {
            "description": "A localized string describing the resource name.",
            "type": "string"
          },
          "value": {
            "description": "A string describing the resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsagesListResult": {
        "description": "The list usages operation response.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The list network resource usages.",
            "items": {
              "$ref": "#/components/schemas/Usage"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}