{
  "openapi": "3.0.0",
  "info": {
    "description": "Resource Provider",
    "title": "Azure Maps Resource Provider",
    "version": "2018-05-01",
    "x-ms-code-generation-settings": {
      "name": "MapsManagementClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/maps/resource-manager/Microsoft.Maps/stable/2018-05-01/maps-management.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Maps/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsOperations"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "List operations available for the Maps Resource Provider",
        "operationId": "Accounts_ListOperations",
        "x-ms-examples": {
          "GetOperations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccounts"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Get all Maps Accounts in a Subscription",
        "operationId": "Accounts_ListBySubscription",
        "x-ms-examples": {
          "ListAccountsBySubscription": {
            "$ref": "./examples/ListAccountsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The name of the resource group that contains Maps Account to move.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Accounts were successfully moved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Moves Maps Accounts from one ResourceGroup (or Subscription) to another",
        "operationId": "Accounts_Move",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsAccountsMoveRequest"
              }
            }
          },
          "description": "The details of the Maps Account move.",
          "required": true
        },
        "x-ms-examples": {
          "MoveAccounts": {
            "$ref": "./examples/MoveAccounts.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccounts"
                }
              }
            },
            "description": "The request was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Get all Maps Accounts in a Resource Group",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "ListAccountsByResourceGroup": {
            "$ref": "./examples/ListAccountsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account was deleted successfully."
          },
          "204": {
            "description": "The specified Account was not found. Nothing was deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Delete a Maps Account.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "DeleteAccount": {
            "$ref": "./examples/DeleteAccount.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The request was successful."
          },
          "404": {
            "description": "The specified Account does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Get a Maps Account.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "GetAccount": {
            "$ref": "./examples/GetAccount.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The Account was successfully updated."
          },
          "404": {
            "description": "The specified Account was not found. Nothing was updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Updates a Maps Account. Only a subset of the parameters may be updated after creation, such as Sku and Tags.",
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsAccountUpdateParameters"
              }
            }
          },
          "description": "The updated parameters for the Maps Account.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateAccount": {
            "$ref": "./examples/UpdateAccount.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The Account was successfully updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccount"
                }
              }
            },
            "description": "The Account was successfully created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Create or update a Maps Account. A Maps Account holds the keys which allow access to the Maps REST APIs.",
        "operationId": "Accounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsAccountCreateParameters"
              }
            }
          },
          "description": "The new or updated parameters for the Maps Account.",
          "required": true
        },
        "x-ms-examples": {
          "CreateAccount": {
            "$ref": "./examples/CreateAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccountKeys"
                }
              }
            },
            "description": "The request was successful."
          },
          "404": {
            "description": "The specified Account does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Get the keys to use with the Maps APIs. A key is used to authenticate and authorize access to the Maps REST APIs. Only one key is needed at a time; two are given to provide seamless key regeneration.",
        "operationId": "Accounts_ListKeys",
        "x-ms-examples": {
          "ListKeys": {
            "$ref": "./examples/ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsAccountKeys"
                }
              }
            },
            "description": "The request was successful."
          },
          "404": {
            "description": "The specified Account does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "An unexpected error occurred."
          }
        },
        "description": "Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.",
        "operationId": "Accounts_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapsKeySpecification"
              }
            }
          },
          "description": "Which key to regenerate:  primary or secondary.",
          "required": true
        },
        "x-ms-examples": {
          "RegenerateKey": {
            "$ref": "./examples/RegenerateKey.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountNameParameter": {
        "description": "The name of the Maps Account.",
        "in": "path",
        "name": "accountName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the Azure Resource Group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Error": {
        "description": "This object is returned when an error occurs in the Maps API",
        "properties": {
          "code": {
            "description": "Error code.",
            "readOnly": true,
            "type": "string"
          },
          "details": {
            "description": "If available, a list of additional details about the error.",
            "items": {
              "properties": {
                "code": {
                  "description": "Error code.",
                  "readOnly": true,
                  "type": "string"
                },
                "message": {
                  "description": "If available, a human readable description of the error.",
                  "readOnly": true,
                  "type": "string"
                },
                "target": {
                  "description": "If available, the component generating the error.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "message": {
            "description": "If available, a human readable description of the error.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "If available, the component generating the error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MapsAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An Azure resource which represents access to a suite of Maps REST APIs.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "readOnly": true,
            "type": "object"
          },
          "location": {
            "description": "The location of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/MapsAccountProperties",
            "description": "The map account properties.",
            "readOnly": true
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of this account.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "MapsAccountCreateParameters": {
        "description": "Parameters used to create a new Maps Account.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          },
          "location": {
            "description": "The location of the resource.",
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of this account."
          }
        },
        "required": [
          "location",
          "sku"
        ],
        "type": "object"
      },
      "MapsAccountKeys": {
        "description": "The set of keys which can be used to access the Maps REST APIs. Two keys are provided for key rotation without interruption.",
        "properties": {
          "id": {
            "description": "The full Azure resource identifier of the Maps Account.",
            "readOnly": true,
            "type": "string"
          },
          "primaryKey": {
            "description": "The primary key for accessing the Maps REST APIs.",
            "readOnly": true,
            "type": "string"
          },
          "secondaryKey": {
            "description": "The secondary key for accessing the Maps REST APIs.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "MapsAccountProperties": {
        "description": "Additional Map account properties",
        "properties": {
          "x-ms-client-id": {
            "description": "A unique identifier for the maps account",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MapsAccountUpdateParameters": {
        "description": "Parameters used to update an existing Maps Account.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.",
            "type": "object"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "The SKU of this account."
          }
        },
        "type": "object"
      },
      "MapsAccounts": {
        "description": "A list of Maps Accounts.",
        "properties": {
          "value": {
            "description": "a Maps Account.",
            "items": {
              "$ref": "#/components/schemas/MapsAccount"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "MapsAccountsMoveRequest": {
        "description": "The description of what resources to move between resource groups.",
        "properties": {
          "resourceIds": {
            "description": "A list of resource names to move from the source resource group.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "targetResourceGroup": {
            "description": "The name of the destination resource group.",
            "type": "string"
          }
        },
        "required": [
          "targetResourceGroup",
          "resourceIds"
        ],
        "type": "object"
      },
      "MapsKeySpecification": {
        "description": "Whether the operation refers to the primary or secondary key.",
        "properties": {
          "keyType": {
            "description": "Whether the operation refers to the primary or secondary key.",
            "enum": [
              "primary",
              "secondary"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "KeyType"
            }
          }
        },
        "required": [
          "keyType"
        ],
        "type": "object"
      },
      "MapsOperations": {
        "description": "The set of operations available for Maps.",
        "properties": {
          "value": {
            "description": "An operation available for Maps.",
            "items": {
              "properties": {
                "display": {
                  "description": "The human-readable description of the operation.",
                  "properties": {
                    "description": {
                      "description": "The description of the operation.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "operation": {
                      "description": "The action that users can perform, based on their permission level.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "provider": {
                      "description": "Service provider: Microsoft Maps.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "resource": {
                      "description": "Resource on which the operation is performed.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "name": {
                  "description": "Operation name: {provider}/{resource}/{operation}.",
                  "readOnly": true,
                  "type": "string"
                },
                "origin": {
                  "description": "The origin of the operation.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An Azure resource",
        "properties": {
          "id": {
            "description": "The fully qualified Maps Account resource identifier.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the Maps Account, which is unique within a Resource Group.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "Sku": {
        "description": "The SKU of the Maps Account.",
        "properties": {
          "name": {
            "description": "The name of the SKU, in standard format (such as S0).",
            "type": "string"
          },
          "tier": {
            "description": "Gets the sku tier. This is based on the SKU name.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}