openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2016-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: >-
            Request successful. The operation resets the virtual network gateway
            connection shared key.
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The List VirtualNetworkGatewayConnections operation retrieves all the
        virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworkGatewayConnections
      description: Deletes the specified virtual network Gateway connection.
      operationId: VirtualNetworkGatewayConnections_Delete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Request successful. The operation returns the resulting
            VirtualNetworkPeering resource.
      tags:
        - VirtualNetworkGatewayConnections
      description: Gets the specified virtual network gateway connection by resource group.
      operationId: VirtualNetworkGatewayConnections_Get
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Update successful. The operation returns the resulting
            VirtualNetworkGatewayConnection resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: >-
            Create successful. The operation returns the resulting
            VirtualNetworkGatewayConnection resource.
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        Creates or updates a virtual network gateway connection in the specified
        resource group.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
        description: >-
          Parameters supplied to the create or update virtual network gateway
          connection operation.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway connection shared key name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: >-
            Request successful. The operation returns a list of
            VirtualNetworkGatewayConnection resources.
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection
        shared key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway connection name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: >-
            Request successful. The operation returns the resulting
            ConnectionSharedKey resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Created
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The Put VirtualNetworkGatewayConnectionSharedKey operation sets the
        virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network
        resource provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: >-
          Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation throughNetwork resource provider.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The virtual network gateway connection reset shared key Name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: >-
            Request successful. The operation sets the virtual network gateway
            connection shared key.
        '202':
          description: Accepted
      tags:
        - VirtualNetworkGatewayConnections
      description: >-
        The VirtualNetworkGatewayConnectionResetSharedKey operation resets the
        virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network
        resource provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: >-
          Parameters supplied to the begin reset virtual network gateway
          connection shared key operation through network resource provider.
        required: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: >-
            Request successful. The operation returns a list of
            LocalNetworkGateway resources.
      tags:
        - LocalNetworkGateways
      description: Gets all the local network gateways in a resource group.
      operationId: LocalNetworkGateways_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - LocalNetworkGateways
      description: Deletes the specified local network gateway.
      operationId: LocalNetworkGateways_Delete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Request successful. The operation returns the resulting
            LocalNetworkGateway resource.
      tags:
        - LocalNetworkGateways
      description: Gets the specified local network gateway in a resource group.
      operationId: LocalNetworkGateways_Get
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Update successful. The operation returns the resulting
            LocalNetworkGateway resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: >-
            Create successful. The operation returns the resulting
            LocalNetworkGateway resource.
      tags:
        - LocalNetworkGateways
      description: >-
        Creates or updates a local network gateway in the specified resource
        group.
      operationId: LocalNetworkGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: >-
          Parameters supplied to the create or update local network gateway
          operation.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
          description: >-
            Request successful. The operation returns a list of
            VirtualNetworkGateway resources.
      tags:
        - VirtualNetworkGateways
      description: Gets all virtual network gateways by resource group.
      operationId: VirtualNetworkGateways_List
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworkGateways
      description: Deletes the specified virtual network gateway.
      operationId: VirtualNetworkGateways_Delete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Request successful. The operation returns a VirtualNetworkGateway
            resource.
      tags:
        - VirtualNetworkGateways
      description: Gets the specified virtual network gateway by resource group.
      operationId: VirtualNetworkGateways_Get
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Update successful. The operation returns the resulting
            VirtualNetworkGateway resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Create successful. The operation returns the resulting
            VirtualNetworkGateway resource.
      tags:
        - VirtualNetworkGateways
      description: >-
        Creates or updates a virtual network gateway in the specified resource
        group.
      operationId: VirtualNetworkGateways_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: >-
          Parameters supplied to create or update virtual network gateway
          operation.
        required: true
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: VPN client package URL.
      tags:
        - VirtualNetworkGateways
      description: >-
        Generates VPN client package for P2S client of the virtual network
        gateway in the specified resource group.
      operationId: VirtualNetworkGateways_Generatevpnclientpackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: >-
          Parameters supplied to the generate virtual network gateway VPN client
          package operation.
        required: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - description: The IP address of the peer
          in: query
          name: peer
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of learned BGP routes
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        This operation retrieves a list of routes the virtual network gateway is
        advertising to the specified peer.
      operationId: VirtualNetworkGateways_GetAdvertisedRoutes
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - description: The IP address of the peer to retrieve the status of.
          in: query
          name: peer
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerStatusListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BgpPeerStatusListResult'
          description: List of BGP peer statuses
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: The GetBgpPeerStatus operation retrieves the status of all BGP peers.
      operationId: VirtualNetworkGateways_GetBgpPeerStatus
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of advertised BGP routes
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        This operation retrieves a list of routes the virtual network gateway
        has learned, including routes learned from BGP peers.
      operationId: VirtualNetworkGateways_GetLearnedRoutes
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset':
    post:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          schema:
            type: string
        - description: >-
            Virtual network gateway vip address supplied to the begin reset of
            the active-active feature enabled gateway.
          in: query
          name: gatewayVip
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: >-
            Request successful. The operation reset the primary of the virtual
            network gateway.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      description: >-
        Resets the primary of the virtual network gateway in the specified
        resource group.
      operationId: VirtualNetworkGateways_Reset
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: >-
        The subscription credentials which uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BgpPeerStatus:
      properties:
        asn:
          description: The autonomous system number of the remote BGP peer
          format: int32
          readOnly: true
          type: integer
        connectedDuration:
          description: For how long the peering has been up
          readOnly: true
          type: string
        localAddress:
          description: The virtual network gateway's local address
          readOnly: true
          type: string
        messagesReceived:
          description: The number of BGP messages received
          format: int64
          readOnly: true
          type: integer
        messagesSent:
          description: The number of BGP messages sent
          format: int64
          readOnly: true
          type: integer
        neighbor:
          description: The remote BGP peer
          readOnly: true
          type: string
        routesReceived:
          description: The number of routes learned from this peer
          format: int64
          readOnly: true
          type: integer
        state:
          description: The BGP peer state
          enum:
            - Unknown
            - Stopped
            - Idle
            - Connecting
            - Connected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BgpPeerState
      type: object
    BgpPeerStatusListResult:
      description: Response for list BGP peer status API service call
      properties:
        value:
          description: List of BGP peers
          items:
            $ref: '#/components/schemas/BgpPeerStatus'
          type: array
      type: object
    BgpSettings:
      properties:
        asn:
          description: The BGP speaker's ASN.
          format: int64
          type: integer
        bgpPeeringAddress:
          description: The BGP peering address and BGP identifier of this BGP speaker.
          type: string
        peerWeight:
          description: The weight added to routes learned from this BGP speaker.
          format: int32
          type: integer
      type: object
    ConnectionResetSharedKey:
      properties:
        keyLength:
          description: >-
            The virtual network connection reset shared key length, should
            between 1 and 128.
          format: int32
          maximum: 128
          minimum: 1
          type: integer
      required:
        - keyLength
      type: object
    ConnectionSharedKey:
      description: Response for GetConnectionSharedKey API service call
      properties:
        value:
          description: The virtual network connection shared key value.
          type: string
      required:
        - value
      type: object
    GatewayRoute:
      properties:
        asPath:
          description: The route's AS path sequence
          readOnly: true
          type: string
        localAddress:
          description: The gateway's local address
          readOnly: true
          type: string
        network:
          description: The route's network prefix
          readOnly: true
          type: string
        nextHop:
          description: The route's next hop
          readOnly: true
          type: string
        origin:
          description: The source this route was learned from
          readOnly: true
          type: string
        sourcePeer:
          description: The peer this route was learned from
          readOnly: true
          type: string
        weight:
          description: The route's weight
          format: int32
          readOnly: true
          type: integer
      type: object
    GatewayRouteListResult:
      description: List of virtual network gateway routes
      properties:
        value:
          description: List of gateway routes
          items:
            $ref: '#/components/schemas/GatewayRoute'
          type: array
      type: object
    LocalNetworkGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat'
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    LocalNetworkGatewayListResult:
      description: Response for ListLocalNetworkGateways API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of local network gateways that exists in a resource group.
          items:
            $ref: '#/components/schemas/LocalNetworkGateway'
          type: array
      type: object
    LocalNetworkGatewayPropertiesFormat:
      description: LocalNetworkGateway properties
      properties:
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
          description: Local network gateway's BGP speaker settings.
        gatewayIpAddress:
          description: IP address of local network gateway.
          type: string
        localNetworkAddressSpace:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: Local network site address space.
        provisioningState:
          description: >-
            The provisioning state of the LocalNetworkGateway resource. Possible
            values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: The resource GUID property of the LocalNetworkGateway resource.
          type: string
      required:
        - localNetworkAddressSpace
      type: object
    TunnelConnectionHealth:
      description: VirtualNetworkGatewayConnection properties
      properties:
        connectionStatus:
          description: Virtual network Gateway connection status
          enum:
            - Unknown
            - Connecting
            - Connected
            - NotConnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        egressBytesTransferred:
          description: The Egress Bytes Transferred in this connection
          format: int64
          readOnly: true
          type: integer
        ingressBytesTransferred:
          description: The Ingress Bytes Transferred in this connection
          format: int64
          readOnly: true
          type: integer
        lastConnectionEstablishedUtcTime:
          description: The time at which connection was established in Utc format.
          readOnly: true
          type: string
        tunnel:
          description: Tunnel name.
          readOnly: true
          type: string
      type: object
    VirtualNetworkGateway:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayPropertiesFormat'
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VirtualNetworkGatewayConnection:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: A common class for general resource information
      properties:
        etag:
          description: >-
            Gets a unique read-only string that changes whenever the resource is
            updated.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat'
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VirtualNetworkGatewayConnectionListResult:
      description: Response for the ListVirtualNetworkGatewayConnections API service call
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: >-
            Gets a list of VirtualNetworkGatewayConnection resources that exists
            in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          type: array
      type: object
    VirtualNetworkGatewayConnectionPropertiesFormat:
      description: VirtualNetworkGatewayConnection properties
      properties:
        authorizationKey:
          description: The authorizationKey.
          type: string
        connectionStatus:
          description: >-
            Virtual network Gateway connection status. Possible values are
            'Unknown', 'Connecting', 'Connected' and 'NotConnected'.
          enum:
            - Unknown
            - Connecting
            - Connected
            - NotConnected
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        connectionType:
          description: >-
            Gateway connection type. Possible values are:
            'IPsec','Vnet2Vnet','ExpressRoute', and 'VPNClient.
          enum:
            - IPsec
            - Vnet2Vnet
            - ExpressRoute
            - VPNClient
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionType
        egressBytesTransferred:
          description: The egress bytes transferred in this connection.
          format: int64
          readOnly: true
          type: integer
        enableBgp:
          description: EnableBgp flag
          type: boolean
        ingressBytesTransferred:
          description: The ingress bytes transferred in this connection.
          format: int64
          readOnly: true
          type: integer
        localNetworkGateway2:
          $ref: '#/components/schemas/LocalNetworkGateway'
        peer:
          $ref: ./network.json#/definitions/SubResource
          description: The reference to peerings resource.
        provisioningState:
          description: >-
            The provisioning state of the VirtualNetworkGatewayConnection
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: >-
            The resource GUID property of the VirtualNetworkGatewayConnection
            resource.
          type: string
        routingWeight:
          description: The routing weight.
          format: int32
          type: integer
        sharedKey:
          description: The IPSec shared key.
          type: string
        tunnelConnectionStatus:
          description: Collection of all tunnels' connection health status.
          items:
            $ref: '#/components/schemas/TunnelConnectionHealth'
          readOnly: true
          type: array
        virtualNetworkGateway1:
          $ref: '#/components/schemas/VirtualNetworkGateway'
        virtualNetworkGateway2:
          $ref: '#/components/schemas/VirtualNetworkGateway'
      required:
        - virtualNetworkGateway1
        - connectionType
      type: object
    VirtualNetworkGatewayIPConfiguration:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: IP configuration for virtual network gateway
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: >-
            #/components/schemas/VirtualNetworkGatewayIPConfigurationPropertiesFormat
          x-ms-client-flatten: true
      type: object
    VirtualNetworkGatewayIPConfigurationPropertiesFormat:
      description: Properties of VirtualNetworkGatewayIPConfiguration
      properties:
        privateIPAllocationMethod:
          description: >-
            The private IP allocation method. Possible values are: 'Static' and
            'Dynamic'.
          enum:
            - Static
            - Dynamic
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPAllocationMethod
        provisioningState:
          description: >-
            The provisioning state of the public IP resource. Possible values
            are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicIPAddress:
          $ref: ./network.json#/definitions/SubResource
          description: The reference of the public IP resource.
        subnet:
          $ref: ./network.json#/definitions/SubResource
          description: The reference of the subnet resource.
      required:
        - subnet
        - publicIPAddress
      type: object
    VirtualNetworkGatewayListResult:
      description: Response for the ListVirtualNetworkGateways API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: >-
            Gets a list of VirtualNetworkGateway resources that exists in a
            resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGateway'
          type: array
      type: object
    VirtualNetworkGatewayPropertiesFormat:
      description: VirtualNetworkGateway properties
      properties:
        activeActive:
          description: ActiveActive flag
          type: boolean
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
          description: Virtual network gateway's BGP speaker settings.
        enableBgp:
          description: Whether BGP is enabled for this virtual network gateway or not.
          type: boolean
        gatewayDefaultSite:
          $ref: ./network.json#/definitions/SubResource
          description: >-
            The reference of the LocalNetworkGateway resource which represents
            local network site having default routes. Assign Null value in case
            of removing existing default site setting.
        gatewayType:
          description: >-
            The type of this virtual network gateway. Possible values are: 'Vpn'
            and 'ExpressRoute'.
          enum:
            - Vpn
            - ExpressRoute
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayType
        ipConfigurations:
          description: IP configurations for virtual network gateway.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayIPConfiguration'
          type: array
        provisioningState:
          description: >-
            The provisioning state of the VirtualNetworkGateway resource.
            Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        resourceGuid:
          description: The resource GUID property of the VirtualNetworkGateway resource.
          type: string
        sku:
          $ref: '#/components/schemas/VirtualNetworkGatewaySku'
          description: >-
            The reference of the VirtualNetworkGatewaySku resource which
            represents the SKU selected for Virtual network gateway.
        vpnClientConfiguration:
          $ref: '#/components/schemas/VpnClientConfiguration'
          description: >-
            The reference of the VpnClientConfiguration resource which
            represents the P2S VpnClient configurations.
        vpnType:
          description: >-
            The type of this virtual network gateway. Possible values are:
            'PolicyBased' and 'RouteBased'.
          enum:
            - PolicyBased
            - RouteBased
          type: string
          x-ms-enum:
            modelAsString: true
            name: VpnType
      required:
        - ipConfigurations
        - gatewayType
        - vpnType
      type: object
    VirtualNetworkGatewaySku:
      description: VirtualNetworkGatewaySku details
      properties:
        capacity:
          description: The capacity.
          format: int32
          type: integer
        name:
          description: >-
            Gateway SKU name. Possible values are: 'Basic',
            'HighPerformance','Standard', and 'UltraPerformance'.
          enum:
            - Basic
            - HighPerformance
            - Standard
            - UltraPerformance
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewaySkuName
        tier:
          description: >-
            Gateway SKU tier. Possible values are: 'Basic',
            'HighPerformance','Standard', and 'UltraPerformance'.
          enum:
            - Basic
            - HighPerformance
            - Standard
            - UltraPerformance
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewaySkuTier
      required:
        - name
        - tier
      type: object
    VpnClientConfiguration:
      description: VpnClientConfiguration for P2S client.
      properties:
        vpnClientAddressPool:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: >-
            The reference of the address space resource which represents Address
            space for P2S VpnClient.
        vpnClientRevokedCertificates:
          description: VpnClientRevokedCertificate for Virtual network gateway.
          items:
            $ref: '#/components/schemas/VpnClientRevokedCertificate'
          type: array
        vpnClientRootCertificates:
          description: VpnClientRootCertificate for virtual network gateway.
          items:
            $ref: '#/components/schemas/VpnClientRootCertificate'
          type: array
      type: object
    VpnClientParameters:
      description: VpnClientParameters
      properties:
        ProcessorArchitecture:
          description: >-
            VPN client Processor Architecture. Possible values are: 'AMD64' and
            'X86'.
          enum:
            - Amd64
            - X86
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProcessorArchitecture
      required:
        - ProcessorArchitecture
      type: object
    VpnClientRevokedCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VPN client revoked certificate of virtual network gateway.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/VpnClientRevokedCertificatePropertiesFormat'
          x-ms-client-flatten: true
      type: object
    VpnClientRevokedCertificatePropertiesFormat:
      description: >-
        Properties of the revoked VPN client certificate of virtual network
        gateway.
      properties:
        provisioningState:
          description: >-
            The provisioning state of the VPN client revoked certificate
            resource. Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        thumbprint:
          description: The revoked VPN client certificate thumbprint.
          type: string
      type: object
    VpnClientRootCertificate:
      allOf:
        - $ref: ./network.json#/definitions/SubResource
      description: VPN client root certificate of virtual network gateway
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          type: string
        name:
          description: >-
            The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/VpnClientRootCertificatePropertiesFormat'
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    VpnClientRootCertificatePropertiesFormat:
      description: Properties of SSL certificates of application gateway
      properties:
        provisioningState:
          description: >-
            The provisioning state of the VPN client root certificate resource.
            Possible values are: 'Updating', 'Deleting', and 'Failed'.
          readOnly: true
          type: string
        publicCertData:
          description: The certificate public data.
          type: string
      required:
        - publicCertData
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

