openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-07-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewallFqdnTags':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewallFqdnTagListResult'
          description: >-
            Success. The operation returns a list of Azure Firewall FQDN Tag
            resources.
      tags:
        - AzureFirewallFqdnTags
      description: Gets all the Azure Firewall FQDN Tags in a subscription.
      operationId: AzureFirewallFqdnTags_ListAll
      x-ms-examples:
        List all Azure Firewall FQDN Tags for a given subscription:
          $ref: ./examples/AzureFirewallFqdnTagsListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    AzureFirewallFqdnTag:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: Azure Firewall FQDN Tag Resource.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallFqdnTagPropertiesFormat'
          description: Properties of the azure firewall FQDN tag.
          x-ms-client-flatten: true
      type: object
    AzureFirewallFqdnTagListResult:
      description: Response for ListAzureFirewallFqdnTags API service call.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: List of Azure Firewall FQDN Tags in a resource group.
          items:
            $ref: '#/components/schemas/AzureFirewallFqdnTag'
          type: array
      type: object
    AzureFirewallFqdnTagPropertiesFormat:
      description: Azure Firewall FQDN Tag Properties.
      properties:
        fqdnTagName:
          description: The name of this FQDN Tag.
          readOnly: true
          type: string
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the Azure firewall FQDN tag resource.
          readOnly: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

