openapi: 3.0.0
info:
  description: The Admin Fabric Management Client.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Fabric.Admin/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
        - Fabric
      description: Returns the list of support REST operations.
      operationId: Fabric_ListOperations
      x-ms-examples:
        Returns the list of support REST operations.:
          $ref: ./examples/Operations/List.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: '2016-05-01'
        type: string
    FilterParameter:
      description: OData filter parameter.
      in: query
      name: $filter
      schema:
        type: string
      x-ms-parameter-location: method
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: Name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Display:
      description: >-
        Contains the localized display information for this particular operation
        / action.
      properties:
        description:
          description: >-
            The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and
            concise for used in both tooltips and detailed views.
          type: string
        operation:
          description: >-
            The localized, friendly name for the operation. Use the name as it
            will be displayed to the user.
          type: string
        provider:
          description: >-
            The localized friendly form of the resource provider name – it is
            expected to also include the publisher/company responsible. It
            should use Title Casing and begin with "Microsoft" for 1st party
            services. e.g. "Microsoft Monitoring Insights" or "Microsoft
            Compute.".
          type: string
        resource:
          description: >-
            The localized, friendly version of the resource type related to this
            action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
      type: object
    Operation:
      description: Describes the supported REST operation.
      properties:
        display:
          $ref: '#/components/schemas/Display'
          description: >-
            Contains the localized display information for this particular
            operation or action.
        name:
          description: >-
            The name of the operation being performed on this particular object.
            This name should match the name that appears in RBAC or the event
            service.
          type: string
      type: object
    OperationList:
      description: A pageable list of supported operations objects.
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of supported operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-ms-identifiers:
            - name
      type: object
    ProvisioningState:
      description: Provisioning status of the resource.
      properties:
        properties:
          $ref: '#/components/schemas/ProvisioningStateProperties'
          description: Provisioning status of the resource.
          x-ms-client-flatten: true
      type: object
    ProvisioningStateProperties:
      description: Provisioning status of the resource.
      properties:
        provisioningState:
          description: Provisioning status of the resource.
          type: string
      type: object
    Resource:
      description: Base resource object.
      properties:
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          type: object
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: The region where the resource is located.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

