openapi: 3.0.0
info:
  title: RecoveryServicesClient
  version: '2016-06-01'
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
  - url: 'https://management.azure.com/'
paths:
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/replicationUsages':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ResourceGroupName'
        - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationUsageList'
          description: OK
      tags:
        - ReplicationUsages
      deprecated: false
      description: Fetches the replication usages of the vault.
      operationId: ReplicationUsages_List
      x-ms-examples:
        Gets Replication usages of vault:
          $ref: ./examples/ListReplicationUsages.json
      x-ms-pageable:
        nextLinkName: null
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: >-
        The name of the resource group where the recovery services vault is
        present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    JobsSummary:
      description: Summary of the replication job data for this vault.
      properties:
        failedJobs:
          description: Count of failed jobs.
          type: integer
        inProgressJobs:
          description: Count of in-progress jobs.
          type: integer
        suspendedJobs:
          description: Count of suspended jobs.
          type: integer
      type: object
    MonitoringSummary:
      description: Summary of the replication monitoring data for this vault.
      properties:
        deprecatedProviderCount:
          description: Count of all deprecated recovery service providers.
          type: integer
        eventsCount:
          description: Count of all critical warnings.
          type: integer
        supportedProviderCount:
          description: Count of all the supported recovery service providers.
          type: integer
        unHealthyProviderCount:
          description: Count of unhealthy replication providers.
          type: integer
        unHealthyVmCount:
          description: Count of unhealthy VMs.
          type: integer
        unsupportedProviderCount:
          description: Count of all the unsupported recovery service providers.
          type: integer
      type: object
    ReplicationUsage:
      description: Replication usages of a vault.
      properties:
        jobsSummary:
          $ref: '#/components/schemas/JobsSummary'
          description: Summary of the replication jobs data for this vault.
        monitoringSummary:
          $ref: '#/components/schemas/MonitoringSummary'
          description: Summary of the replication monitoring data for this vault.
        protectedItemCount:
          description: Number of replication protected items for this vault.
          type: integer
        recoveryPlanCount:
          description: Number of replication recovery plans for this vault.
          type: integer
        recoveryServicesProviderAuthType:
          description: The authentication type of recovery service providers in the vault.
          type: integer
        registeredServersCount:
          description: Number of servers registered to this vault.
          type: integer
      type: object
    ReplicationUsageList:
      description: Replication usages for vault.
      properties:
        value:
          description: The list of replication usages for the given vault.
          items:
            $ref: '#/components/schemas/ReplicationUsage'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

