openapi: 3.0.0
info:
  description: Load balancer admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: '2015-06-15'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminLoadBalancers':
    get:
      parameters:
        - $ref: Network.json#/components/parameters/SubscriptionIdParameter
        - $ref: Network.json#/components/parameters/ApiVersionParameter
        - $ref: Network.json#/components/parameters/FilterParameter
        - $ref: Network.json#/components/parameters/OrderByParameter
        - $ref: Network.json#/components/parameters/TopParameter
        - $ref: Network.json#/components/parameters/SkipParameter
        - $ref: Network.json#/components/parameters/InlineCountParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerList'
          description: OK
      tags:
        - LoadBalancers
      description: Get a list of all load balancers.
      operationId: LoadBalancers_List
      x-ms-examples:
        List all load balancers:
          $ref: ./examples/LoadBalancers/List.json
      x-ms-odata: '#/components/schemas/LoadBalancer'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    LoadBalancer:
      allOf:
        - $ref: Network.json#/definitions/Resource
      description: Representation of a load balancer.
      properties:
        properties:
          $ref: '#/components/schemas/LoadBalancerProperty'
          description: Properties of a load balancer.
          x-ms-client-flatten: true
      type: object
    LoadBalancerList:
      description: Pageable list of load balancers.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of load balancers for this page.
          items:
            $ref: '#/components/schemas/LoadBalancer'
          type: array
      type: object
    LoadBalancerProperty:
      allOf:
        - $ref: Network.json#/definitions/ProvisionedResource
        - $ref: Network.json#/definitions/TenantResource
      description: Properties of a load balancer.
      properties:
        publicIpAddresses:
          description: List of public IP addresses.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

