{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure DevOps Resource Provider",
    "title": "Azure DevOps",
    "version": "2019-07-01-preview",
    "x-ms-code-generation-settings": {
      "name": "DevOpsClient"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devops/resource-manager/Microsoft.DevOps/preview/2019-07-01-preview/devops.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DevOps/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "The list of supported operations has been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "deprecated": true,
        "description": "Lists all the operations supported by Microsoft.DevOps resource provider.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get a list of operations supported by Microsoft.DevOps resource provider": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.DevOps/pipelineTemplateDefinitions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineTemplateDefinitionListResult"
                }
              }
            },
            "description": "The pipeline template definitions have been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "PipelineTemplateDefinitions"
        ],
        "deprecated": true,
        "description": "Lists all pipeline templates which can be used to configure an Azure Pipeline.",
        "operationId": "PipelineTemplateDefinitions_List",
        "x-ms-examples": {
          "Get the list of pipeline template definitions": {
            "$ref": "./examples/ListPipelineTemplateDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOps/pipelines": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineListResult"
                }
              }
            },
            "description": "The Azure Pipelines have been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "deprecated": true,
        "description": "Lists all Azure Pipelines under the specified subscription.",
        "operationId": "Pipelines_ListBySubscription",
        "x-ms-examples": {
          "List all Azure pipelines under the specified subscription": {
            "$ref": "./examples/ListAzurePipelinesBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineListResult"
                }
              }
            },
            "description": "The Azure Pipelines have been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "deprecated": true,
        "description": "Lists all Azure Pipelines under the specified resource group.",
        "operationId": "Pipelines_ListByResourceGroup",
        "x-ms-examples": {
          "List all Azure Pipelines under the specified resource group": {
            "$ref": "./examples/ListAzurePipelinesByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines/{pipelineName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "The Azure Pipeline has been deleted successfully."
          },
          "204": {
            "description": "The Azure Pipeline is not found or has been deleted already."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "description": "Deletes an Azure Pipeline.",
        "operationId": "Pipelines_Delete",
        "x-ms-examples": {
          "Get an existing Azure pipeline": {
            "$ref": "./examples/DeleteAzurePipeline.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource in ARM.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            },
            "description": "The Azure Pipeline has been fetched successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "deprecated": true,
        "description": "Gets an existing Azure Pipeline.",
        "operationId": "Pipelines_Get",
        "x-ms-examples": {
          "Get an existing Azure pipeline": {
            "$ref": "./examples/GetAzurePipeline.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            },
            "description": "The Azure Pipeline has been updated successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "deprecated": true,
        "description": "Updates the properties of an Azure Pipeline. Currently, only tags can be updated.",
        "operationId": "Pipelines_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineUpdateParameters"
              }
            }
          },
          "description": "The request payload containing the properties to update in the Azure Pipeline.",
          "required": true
        },
        "x-ms-examples": {
          "Get an existing Azure pipeline": {
            "$ref": "./examples/UpdateAzurePipeline.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "The name of the Azure Pipeline resource in ARM.",
            "in": "path",
            "name": "pipelineName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            },
            "description": "The Azure Pipeline has been configured successfully."
          },
          "202": {
            "description": "The request has been accepted for processing and the Azure Pipeline will be configured asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Pipelines"
        ],
        "deprecated": true,
        "description": "Creates or updates an Azure Pipeline.",
        "operationId": "Pipelines_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pipeline"
              }
            }
          },
          "description": "The request payload to create the Azure Pipeline.",
          "required": true
        },
        "x-ms-examples": {
          "Create an Azure pipeline to deploy a sample ASP.Net application to Azure web-app": {
            "$ref": "./examples/CreateAzurePipeline-Sample-AspNet-WindowsWebApp.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "API version to be used with the HTTP request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "Name of the resource group within the Azure subscription.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Authorization": {
        "description": "Authorization info used to access a resource (like code repository).",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Authorization parameters corresponding to the authorization type.",
            "type": "object"
          },
          "authorizationType": {
            "description": "Type of authorization.",
            "enum": [
              "personalAccessToken"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AuthorizationType"
            }
          }
        },
        "required": [
          "authorizationType"
        ],
        "type": "object"
      },
      "BootstrapConfiguration": {
        "description": "Configuration used to bootstrap a Pipeline.",
        "properties": {
          "repository": {
            "$ref": "#/components/schemas/CodeRepository",
            "description": "Repository containing the source code for the pipeline."
          },
          "template": {
            "$ref": "#/components/schemas/PipelineTemplate",
            "description": "Template used to bootstrap the pipeline."
          }
        },
        "required": [
          "template"
        ],
        "type": "object"
      },
      "CloudError": {
        "description": "An error response from the Pipelines Resource Provider.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody",
            "description": "Details of the error from the Pipelines Resource Provider."
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "CloudErrorBody": {
        "description": "An error response from the Pipelines Resource Provider.",
        "properties": {
          "code": {
            "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
            "type": "string"
          },
          "details": {
            "description": "A list of additional details about the error.",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "type": "array"
          },
          "message": {
            "description": "A message describing the error, intended to be suitable for display in a user interface.",
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error. For example, the name of the property in error or the method where the error occurred.",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-external": true
      },
      "CodeRepository": {
        "description": "Repository containing the source code for a pipeline.",
        "properties": {
          "authorization": {
            "$ref": "#/components/schemas/Authorization",
            "description": "Authorization info to access the code repository."
          },
          "defaultBranch": {
            "description": "Default branch used to configure Continuous Integration (CI) in the pipeline.",
            "type": "string"
          },
          "id": {
            "description": "Unique immutable identifier of the code repository.",
            "type": "string"
          },
          "properties": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Repository-specific properties.",
            "type": "object",
            "x-ms-client-flatten": true
          },
          "repositoryType": {
            "description": "Type of code repository.",
            "enum": [
              "gitHub",
              "vstsGit"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CodeRepositoryType"
            }
          }
        },
        "required": [
          "repositoryType",
          "id",
          "defaultBranch"
        ],
        "type": "object"
      },
      "InputDescriptor": {
        "description": "Representation of a pipeline template input parameter.",
        "properties": {
          "description": {
            "description": "Description of the input parameter.",
            "type": "string"
          },
          "id": {
            "description": "Identifier of the input parameter.",
            "type": "string"
          },
          "possibleValues": {
            "description": "List of possible values for the input parameter.",
            "items": {
              "$ref": "#/components/schemas/InputValue"
            },
            "type": "array"
          },
          "type": {
            "description": "Data type of the value of the input parameter.",
            "enum": [
              "String",
              "SecureString",
              "Int",
              "Bool",
              "Authorization"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "InputDataType"
            }
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object"
      },
      "InputValue": {
        "description": "Representation of a pipeline template input parameter value.",
        "properties": {
          "displayValue": {
            "description": "Description of the input parameter value.",
            "type": "string"
          },
          "value": {
            "description": "Value of an input parameter.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "Properties of an Operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplayValue",
            "description": "Display information of the operation.",
            "x-ms-client-flatten": true
          },
          "isDataAction": {
            "description": "Indicates whether the operation applies to data-plane.",
            "type": "string"
          },
          "name": {
            "description": "Name of the operation.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplayValue": {
        "description": "Display information of an operation.",
        "properties": {
          "description": {
            "description": "Friendly description of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "Friendly name of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "provider": {
            "description": "Friendly name of the resource provider.",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "description": "Friendly name of the resource type the operation applies to.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "Result of a request to list all operations supported by Microsoft.DevOps resource provider.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of operations, if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of operations supported by Microsoft.DevOps resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "OrganizationReference": {
        "description": "Reference to an Azure DevOps Organization.",
        "properties": {
          "id": {
            "description": "Unique immutable identifier for the Azure DevOps Organization.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the Azure DevOps Organization.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Pipeline": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Azure DevOps Pipeline used to configure Continuous Integration (CI) & Continuous Delivery (CD) for Azure resources.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PipelineProperties",
            "description": "Custom properties of the Pipeline.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "PipelineListResult": {
        "description": "Result of a request to list all Azure Pipelines under a given scope.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of Pipelines, if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of pipelines.",
            "items": {
              "$ref": "#/components/schemas/Pipeline"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PipelineProperties": {
        "description": "Custom properties of a Pipeline.",
        "properties": {
          "bootstrapConfiguration": {
            "$ref": "#/components/schemas/BootstrapConfiguration",
            "description": "Configuration used to bootstrap the Pipeline."
          },
          "organization": {
            "$ref": "#/components/schemas/OrganizationReference",
            "description": "Reference to the Azure DevOps Organization containing the Pipeline."
          },
          "pipelineId": {
            "description": "Unique identifier of the Azure Pipeline within the Azure DevOps Project.",
            "readOnly": true,
            "type": "integer"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectReference",
            "description": "Reference to the Azure DevOps Project containing the Pipeline."
          }
        },
        "required": [
          "organization",
          "project",
          "bootstrapConfiguration"
        ],
        "type": "object"
      },
      "PipelineTemplate": {
        "description": "Template used to bootstrap the pipeline.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dictionary of input parameters used in the pipeline template.",
            "type": "object"
          },
          "id": {
            "description": "Unique identifier of the pipeline template.",
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "PipelineTemplateDefinition": {
        "description": "Definition of a pipeline template.",
        "properties": {
          "description": {
            "description": "Description of the pipeline enabled by the template.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the pipeline template.",
            "type": "string"
          },
          "inputs": {
            "description": "List of input parameters required by the template to create a pipeline.",
            "items": {
              "$ref": "#/components/schemas/InputDescriptor"
            },
            "type": "array"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "PipelineTemplateDefinitionListResult": {
        "description": "Result of a request to list all pipeline template definitions.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of pipeline template definitions, if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of pipeline template definitions.",
            "items": {
              "$ref": "#/components/schemas/PipelineTemplateDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PipelineUpdateParameters": {
        "description": "Request payload used to update an existing Azure Pipeline.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Dictionary of key-value pairs to be set as tags on the Azure Pipeline. This will overwrite any existing tags.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "ProjectReference": {
        "description": "Reference to an Azure DevOps Project.",
        "properties": {
          "id": {
            "description": "Unique immutable identifier of the Azure DevOps Project.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the Azure DevOps Project.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Resource": {
        "description": "An Azure Resource Manager (ARM) resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource Tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource Location",
            "type": "string"
          },
          "name": {
            "description": "Resource Name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource Type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}