{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides read, delete, and failover functionality for Azure SQL Database replication links.",
    "title": "Azure SQL Database replication links",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/replicationLinks.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database to retrieve links for.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicationLinkListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "description": "Lists a database's replication links.",
        "operationId": "ReplicationLinks_ListByDatabase",
        "x-ms-examples": {
          "List Replication links": {
            "$ref": "./examples/ReplicationLinkList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database that has the replication link to be dropped.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the replication link to be deleted.",
            "in": "path",
            "name": "linkId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "description": "Deletes a database replication link. Cannot be done during failover.",
        "operationId": "ReplicationLinks_Delete",
        "x-ms-examples": {
          "Delete a replication link": {
            "$ref": "./examples/ReplicationLinkDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database to get the link for.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The replication link ID to be retrieved.",
            "in": "path",
            "name": "linkId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplicationLink"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "description": "Gets a database replication link.",
        "operationId": "ReplicationLinks_Get",
        "x-ms-examples": {
          "Get a replication link": {
            "$ref": "./examples/ReplicationLinkGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database that has the replication link to be failed over.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the replication link to be failed over.",
            "in": "path",
            "name": "linkId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "description": "Sets which replica database is primary by failing over from the current primary replica database.",
        "operationId": "ReplicationLinks_Failover",
        "x-ms-examples": {
          "Failover a replication link": {
            "$ref": "./examples/ReplicationLinkFailover.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database that has the replication link to be failed over.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the replication link to be failed over.",
            "in": "path",
            "name": "linkId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "description": "Sets which replica database is primary by failing over from the current primary replica database. This operation might result in data loss.",
        "operationId": "ReplicationLinks_FailoverAllowDataLoss",
        "x-ms-examples": {
          "Failover a replication link": {
            "$ref": "./examples/ReplicationLinkFailover.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/unlink": {
      "post": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database that has the replication link to be failed over.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the replication link to be failed over.",
            "in": "path",
            "name": "linkId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "DatabaseReplicationLinks"
        ],
        "description": "Deletes a database replication link in forced or friendly way.",
        "operationId": "ReplicationLinks_Unlink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnlinkParameters"
              }
            }
          },
          "description": "The required parameters for unlinking replication link.",
          "required": true
        },
        "x-ms-examples": {
          "Delete replication link": {
            "$ref": "./examples/ReplicationLinkUnlink.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ReplicationLink": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "Represents a database replication link.",
        "properties": {
          "location": {
            "description": "Location of the server that contains this firewall rule.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ReplicationLinkProperties",
            "description": "The properties representing the resource.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of resource this is.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReplicationLinkListResult": {
        "description": "Represents the response to a List database replication link request.",
        "properties": {
          "value": {
            "description": "The list of database replication links housed in the database.",
            "items": {
              "$ref": "#/components/schemas/ReplicationLink"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReplicationLinkProperties": {
        "description": "Represents the properties of a database replication link.",
        "properties": {
          "isTerminationAllowed": {
            "description": "Legacy value indicating whether termination is allowed.  Currently always returns true.",
            "readOnly": true,
            "type": "boolean"
          },
          "partnerDatabase": {
            "description": "The name of the partner database.",
            "readOnly": true,
            "type": "string"
          },
          "partnerLocation": {
            "description": "The Azure Region of the partner database.",
            "readOnly": true,
            "type": "string"
          },
          "partnerRole": {
            "description": "The role of the partner database in the replication link.",
            "enum": [
              "Primary",
              "Secondary",
              "NonReadableSecondary",
              "Source",
              "Copy"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "name": "ReplicationRole"
            }
          },
          "partnerServer": {
            "description": "The name of the server hosting the partner database.",
            "readOnly": true,
            "type": "string"
          },
          "percentComplete": {
            "description": "The percentage of seeding complete for the replication link.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "replicationMode": {
            "description": "Replication mode of this replication link.",
            "readOnly": true,
            "type": "string"
          },
          "replicationState": {
            "description": "The replication state for the replication link.",
            "enum": [
              "PENDING",
              "SEEDING",
              "CATCH_UP",
              "SUSPENDED"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ReplicationState"
            }
          },
          "role": {
            "description": "The role of the database in the replication link.",
            "enum": [
              "Primary",
              "Secondary",
              "NonReadableSecondary",
              "Source",
              "Copy"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "name": "ReplicationRole"
            }
          },
          "startTime": {
            "description": "The start time for the replication link.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "UnlinkParameters": {
        "description": "Represents the parameters for Unlink Replication Link request.",
        "properties": {
          "forcedTermination": {
            "description": "Determines whether link will be terminated in a forced or a friendly way.",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}