openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2018-06-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators':
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministratorListResult'
          description: >-
            Successfully retrieved the list of Azure Active Directory
            administrators.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - ServerAzureADAdministrators
      description: Gets a list of server Administrators.
      operationId: ServerAzureADAdministrators_ListByServer
      x-ms-examples:
        Gets a list of Azure Active Directory administrator.:
          $ref: ./examples/AdministratorList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}':
    delete:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of server active directory administrator.
          in: path
          name: administratorName
          required: true
          schema:
            enum:
              - ActiveDirectory
            type: string
          x-ms-enum:
            modelAsString: true
            name: AdministratorName
      responses:
        '200':
          description: Successfully deleted the Azure Active Directory administrator.
        '202':
          description: Accepted
        '204':
          description: The specified Azure Active Directory administrator does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - ServerAzureADAdministrators
      description: Deletes an existing server Active Directory Administrator.
      operationId: ServerAzureADAdministrators_Delete
      x-ms-examples:
        Delete Azure Active Directory administrator.:
          $ref: ./examples/AdministratorDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - description: The name of server active directory administrator.
          in: path
          name: administratorName
          required: true
          schema:
            enum:
              - ActiveDirectory
            type: string
          x-ms-enum:
            modelAsString: true
            name: AdministratorName
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
          description: >-
            Successfully retrieved a specified Azure Active Directory
            administrator.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - ServerAzureADAdministrators
      description: Gets a server Administrator.
      operationId: ServerAzureADAdministrators_Get
      x-ms-examples:
        Gets a Azure Active Directory administrator.:
          $ref: ./examples/AdministratorGet.json
    put:
      parameters:
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../common/v1/types.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/ServerNameParameter'
        - in: path
          name: administratorName
          required: true
          schema:
            enum:
              - ActiveDirectory
            type: string
          x-ms-enum:
            modelAsString: true
            name: AdministratorName
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
          description: Successfully updated a Azure Active Directory administrator.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
          description: Successfully created a Azure Active Directory administrator.
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
        - ServerAzureADAdministrators
      description: >-
        Creates a new Server Active Directory Administrator or updates an
        existing server Active Directory Administrator.
      operationId: ServerAzureADAdministrators_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerAzureADAdministrator'
        description: >-
          The required parameters for creating or updating an Active Directory
          Administrator.
        required: true
      x-ms-examples:
        Creates or updates an existing Azure Active Directory administrator.:
          $ref: ./examples/AdministratorCreateOrUpdate.json
      x-ms-long-running-operation: true
components:
  parameters:
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    AdministratorListResult:
      description: A list of active directory administrators.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ServerAzureADAdministrator'
          readOnly: true
          type: array
      type: object
    AdministratorProperties:
      description: Properties of a active directory administrator.
      properties:
        administratorType:
          description: Type of the sever administrator.
          enum:
            - ActiveDirectory
          type: string
          x-ms-enum:
            modelAsString: true
            name: AdministratorType
        login:
          description: Login name of the server administrator.
          type: string
        sid:
          description: SID (object ID) of the server administrator.
          format: uuid
          type: string
        tenantId:
          description: Tenant ID of the administrator.
          format: uuid
          type: string
      required:
        - administratorType
        - login
        - sid
      type: object
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: ARM proxy resource.
      properties: {}
      type: object
    Resource:
      description: ARM resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ServerAzureADAdministrator:
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Azure Active Directory administrator.
      properties:
        properties:
          $ref: '#/components/schemas/AdministratorProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

