{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenUV - Global Real-Time UV Index Forecast API",
    "description": "The missing minimalistic JSON real-time UV Index API for awesome Developers, Innovators and Smart Home Enthusiasts",
    "version": "v1",
    "x-jentic-source-url": "https://gist.githubusercontent.com/MikeRalphson/77bb693d4cf9213909527b9cc4566609/raw/9febc5d16d8d162c93f3503510ce0808a8075d5b/openuv.yaml"
  },
  "servers": [
    {
      "url": "https://api.openuv.io/api/{version}",
      "variables": {
        "version": {
          "default": "v1"
        }
      }
    }
  ],
  "paths": {
    "/uv": {
      "description": "Real-time UV Index",
      "get": {
        "description": "Get real-time UV Index by location. Optional altitude, ozone level and datetime could be provided.",
        "parameters": [
          {
            "name": "lat",
            "description": "latitude, from -90.00 to 90.00",
            "required": true,
            "in": "query",
            "schema": {
              "description": "latitude, from -90.00 to 90.00",
              "example": 78.67,
              "type": "number"
            }
          },
          {
            "name": "lng",
            "description": "longitude, from -180.00 to 180.00",
            "required": true,
            "in": "query",
            "schema": {
              "description": "longitude, from -180.00 to 180.00",
              "example": 115.67,
              "type": "number"
            }
          },
          {
            "name": "alt",
            "description": "Altitude in meters, from 0 to 10000m, 0m by default. If provided the altitude correction factor will be applied to clear sky sea level UV Index value.",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Altitude in meters, from 0 to 10000m, 0m by default. If provided the altitude correction factor will be applied to clear sky sea level UV Index value.",
              "example": 1050,
              "type": "number"
            }
          },
          {
            "name": "ozone",
            "description": "Ozone in du (Dobson Units), from 100 to 550du, the latest forecast from OMI dataset is used by default.",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Ozone in du (Dobson Units), from 100 to 550du, the latest forecast from OMI dataset is used by default.",
              "example": 304.5,
              "type": "number"
            }
          },
          {
            "name": "dt",
            "description": "UTC datetime in ISO-8601 format, now by default. Use that parameter to get UV Index Forecast for any point in time.",
            "required": false,
            "in": "query",
            "schema": {
              "description": "UTC datetime in ISO-8601 format, now by default. Use that parameter to get UV Index Forecast for any point in time.",
              "example": 