{
  "openapi": "3.0.0",
  "info": {
    "description": "The SAP HANA on Azure Management Client.",
    "title": "HanaManagementClient",
    "version": "2017-11-03-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.HanaOnAzure/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "Gets a list of SAP HANA management operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "List all HANA management operations supported by HANA RP": {
            "$ref": "./examples/HanaOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/hanaInstances": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HanaInstancesListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "Gets a list of SAP HANA instances in the specified subscription. The operations returns various properties of each SAP HANA on Azure instance.",
        "operationId": "HanaInstances_List",
        "summary": "Gets a list of SAP HANA instances in the specified subscription.",
        "x-ms-examples": {
          "List all HANA instances in a subscription": {
            "$ref": "./examples/HanaInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HanaInstancesListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "Gets a list of SAP HANA instances in the specified subscription and the resource group. The operations returns various properties of each SAP HANA on Azure instance.",
        "operationId": "HanaInstances_ListByResourceGroup",
        "summary": "Gets a list of SAP HANA instances in the specified subscription and the resource group.",
        "x-ms-examples": {
          "List all HANA instances in a resource group": {
            "$ref": "./examples/HanaInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted HanaInstance"
          },
          "202": {
            "description": "Deleting HanaInstance",
            "headers": {
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "204": {
            "description": "No HanaInstance to delete"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "deprecated": true,
        "description": "This action must be performed through our operations team.",
        "operationId": "HanaInstances_Delete",
        "summary": "Deletes a SAP HANA instance.",
        "x-ms-examples": {
          "Delete a HANA instance": {
            "$ref": "./examples/HanaInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HanaInstance"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "Gets properties of a SAP HANA instance for the specified subscription, resource group, and instance name.",
        "operationId": "HanaInstances_Get",
        "summary": "Gets properties of a SAP HANA instance.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/HanaInstances_Get.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HanaInstance"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "Patches the Tags field of a SAP HANA instance for the specified subscription, resource group, and instance name.",
        "operationId": "HanaInstances_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tags"
              }
            }
          },
          "description": "Request body that only contains the new Tags field",
          "required": true
        },
        "summary": "Patches the Tags field of a SAP HANA instance.",
        "x-ms-examples": {
          "Delete Tags field of a HANA instance": {
            "$ref": "./examples/HanaInstances_PatchTags_Delete.json"
          },
          "Update Tags field of a HANA instance": {
            "$ref": "./examples/HanaInstances_PatchTags.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HanaInstance"
                }
              }
            },
            "description": "Created HanaInstance"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HanaInstance"
                }
              }
            },
            "description": "Creating HanaInstance",
            "headers": {
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "deprecated": true,
        "description": "This action must be performed through our operations team.",
        "operationId": "HanaInstances_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HanaInstance"
              }
            }
          },
          "description": "Request body representing a HanaInstance",
          "required": true
        },
        "summary": "Creates a SAP HANA instance.",
        "x-ms-examples": {
          "Create a HANA instance": {
            "$ref": "./examples/HanaInstances_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/restart": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "The operation to restart a SAP HANA instance.",
        "operationId": "HanaInstances_Restart",
        "x-ms-examples": {
          "Restart a HANA instance": {
            "$ref": "./examples/HanaInstances_Restart.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/shutdown": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "The operation to shutdown a SAP HANA instance.",
        "operationId": "HanaInstances_Shutdown",
        "x-ms-examples": {
          "Shutdown a HANA instance": {
            "$ref": "./examples/HanaInstances_Shutdown.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/start": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/HanaInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "HanaOnAzure"
        ],
        "description": "The operation to start a SAP HANA instance.",
        "operationId": "HanaInstances_Start",
        "x-ms-examples": {
          "Start a HANA instance": {
            "$ref": "./examples/HanaInstances_Start.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "HanaInstanceNameParameter": {
        "description": "Name of the SAP HANA on Azure instance.",
        "in": "path",
        "name": "hanaInstanceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "Name of the resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Disk": {
        "description": "Specifies the disk information for the HANA instance",
        "properties": {
          "diskSizeGB": {
            "description": "Specifies the size of an empty data disk in gigabytes.",
            "format": "int32",
            "type": "integer"
          },
          "lun": {
            "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "The disk name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Display": {
        "description": "Detailed HANA operation information",
        "properties": {
          "description": {
            "description": "The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views.",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies.",
            "readOnly": true,
            "type": "string"
          },
          "origin": {
            "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'",
            "readOnly": true,
            "type": "string"
          },
          "provider": {
            "description": "The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services.",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "description": "The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the \u201cname\u201d section.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Describes the format of Error response.",
        "properties": {
          "error": {
            "description": "Describes the error object.",
            "properties": {
              "code": {
                "description": "Error code",
                "readOnly": true,
                "type": "string"
              },
              "message": {
                "description": "Error message indicating why the operation failed.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "HanaInstance": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "HANA instance info on Azure (ARM properties and HANA properties)",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/HanaInstanceProperties",
            "description": "HANA instance properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "HanaInstanceProperties": {
        "description": "Describes the properties of a HANA instance.",
        "properties": {
          "hanaInstanceId": {
            "description": "Specifies the HANA instance unique ID.",
            "readOnly": true,
            "type": "string"
          },
          "hardwareProfile": {
            "$ref": "#/components/schemas/HardwareProfile",
            "description": "Specifies the hardware settings for the HANA instance."
          },
          "hwRevision": {
            "description": "Hardware revision of a HANA instance",
            "readOnly": true,
            "type": "string"
          },
          "networkProfile": {
            "$ref": "#/components/schemas/NetworkProfile",
            "description": "Specifies the network settings for the HANA instance."
          },
          "osProfile": {
            "$ref": "#/components/schemas/OSProfile",
            "description": "Specifies the operating system settings for the HANA instance."
          },
          "partnerNodeId": {
            "description": "ARM ID of another HanaInstance that will share a network with this HanaInstance",
            "type": "string"
          },
          "powerState": {
            "description": "Resource power state",
            "enum": [
              "starting",
              "started",
              "stopping",
              "stopped",
              "restarting",
              "unknown"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HanaInstancePowerStateEnum"
            }
          },
          "provisioningState": {
            "description": "State of provisioning of the HanaInstance",
            "enum": [
              "Accepted",
              "Creating",
              "Updating",
              "Failed",
              "Succeeded",
              "Deleting",
              "Migrating"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HanaProvisioningStatesEnum"
            }
          },
          "proximityPlacementGroup": {
            "description": "Resource proximity placement group",
            "readOnly": true,
            "type": "string"
          },
          "storageProfile": {
            "$ref": "#/components/schemas/StorageProfile",
            "description": "Specifies the storage settings for the HANA instance disks."
          }
        },
        "type": "object"
      },
      "HanaInstancesListResult": {
        "description": "The response from the List HANA Instances operation.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of HANA instances.",
            "type": "string"
          },
          "value": {
            "description": "The list of SAP HANA on Azure instances.",
            "items": {
              "$ref": "#/components/schemas/HanaInstance"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "HardwareProfile": {
        "description": "Specifies the hardware settings for the HANA instance.",
        "properties": {
          "hanaInstanceSize": {
            "description": "Specifies the HANA instance SKU.",
            "enum": [
              "S72m",
              "S144m",
              "S72",
              "S144",
              "S192",
              "S192m",
              "S192xm",
              "S96",
              "S112",
              "S224",
              "S224m",
              "S224om",
              "S224oo",
              "S224oom",
              "S224ooo",
              "S384",
              "S384m",
              "S384xm",
              "S384xxm",
              "S448",
              "S448m",
              "S448om",
              "S448oo",
              "S448oom",
              "S448ooo",
              "S576m",
              "S576xm",
              "S672",
              "S672m",
              "S672om",
              "S672oo",
              "S672oom",
              "S672ooo",
              "S768",
              "S768m",
              "S768xm",
              "S896",
              "S896m",
              "S896om",
              "S896oo",
              "S896oom",
              "S896ooo",
              "S960m"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HanaInstanceSizeNamesEnum"
            }
          },
          "hardwareType": {
            "description": "Name of the hardware type (vendor and/or their product name)",
            "enum": [
              "Cisco_UCS",
              "HPE"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "HanaHardwareTypeNamesEnum"
            }
          }
        },
        "type": "object"
      },
      "IpAddress": {
        "description": "Specifies the IP address of the network interface.",
        "properties": {
          "ipAddress": {
            "description": "Specifies the IP address of the network interface.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MonitoringDetails": {
        "description": "Details needed to monitor a Hana Instance",
        "properties": {
          "hanaDbName": {
            "description": "Name of the database itself.",
            "type": "string"
          },
          "hanaDbPassword": {
            "description": "Password for the HANA database to login for monitoring",
            "type": "string"
          },
          "hanaDbSqlPort": {
            "description": "The port number of the tenant DB. Used to connect to the DB.",
            "type": "integer"
          },
          "hanaDbUsername": {
            "description": "Username for the HANA database to login to for monitoring",
            "type": "string"
          },
          "hanaHostname": {
            "description": "Hostname of the HANA Instance blade.",
            "type": "string"
          },
          "hanaSubnet": {
            "description": "ARM ID of an Azure Subnet with access to the HANA instance.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NetworkProfile": {
        "description": "Specifies the network settings for the HANA instance disks.",
        "properties": {
          "circuitId": {
            "description": "Specifies the circuit id for connecting to express route.",
            "readOnly": true,
            "type": "string"
          },
          "networkInterfaces": {
            "description": "Specifies the network interfaces for the HANA instance.",
            "items": {
              "$ref": "#/components/schemas/IpAddress"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OSProfile": {
        "description": "Specifies the operating system settings for the HANA instance.",
        "properties": {
          "computerName": {
            "description": "Specifies the host OS name of the HANA instance.",
            "type": "string"
          },
          "osType": {
            "description": "This property allows you to specify the type of the OS.",
            "readOnly": true,
            "type": "string"
          },
          "sshPublicKey": {
            "description": "Specifies the SSH public key used to access the operating system.",
            "type": "string"
          },
          "version": {
            "description": "Specifies version of operating system.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "HANA operation information",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/Display",
            "description": "Displayed HANA operation information"
          },
          "isDataAction": {
            "description": "Indicates whether the operation applies to data-plane.",
            "readOnly": true,
            "type": "boolean"
          },
          "name": {
            "description": "The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "List of HANA operations",
        "properties": {
          "value": {
            "description": "List of HANA operations",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "The resource model definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource ID",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string"
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "SAPSystemID": {
        "description": "Specifies information related to a SAP system ID",
        "properties": {
          "gid": {
            "description": "Group ID of the HANA database user.",
            "type": "string"
          },
          "memoryAllocation": {
            "description": "Percent of memory to allocate to this SID.",
            "readOnly": true,
            "type": "string"
          },
          "sid": {
            "description": "SAP system ID as database identifier.",
            "type": "string"
          },
          "uid": {
            "description": "User ID of the HANA database user.",
            "type": "string"
          },
          "username": {
            "description": "Name of the HANA database user.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "StorageProfile": {
        "description": "Specifies the storage settings for the HANA instance disks.",
        "properties": {
          "hanaSids": {
            "description": "Specifies information related to SAP system IDs for the hana instance.",
            "items": {
              "$ref": "#/components/schemas/SAPSystemID"
            },
            "type": "array"
          },
          "nfsIpAddress": {
            "description": "IP Address to connect to storage.",
            "readOnly": true,
            "type": "string"
          },
          "osDisks": {
            "description": "Specifies information about the operating system disk used by the hana instance.",
            "items": {
              "$ref": "#/components/schemas/Disk"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Tags": {
        "description": "Tags field of the HANA instance.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Tags field of the HANA instance.",
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}