openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfigurationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscNodeConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      description: Retrieve a list of dsc node configurations.
      operationId: DscNodeConfiguration_ListByAutomationAccount
      x-ms-examples:
        List DSC node configurations by Automation Account:
          $ref: ./examples/listDscNodeConfigurations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The Dsc node configuration name.
          in: path
          name: nodeConfigurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscNodeConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      description: Delete the Dsc node configurations by node configuration.
      operationId: DscNodeConfiguration_Delete
      x-ms-examples:
        Delete a DSC node configuration:
          $ref: ./examples/deleteDscNodeConfiguration.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The Dsc node configuration name.
          in: path
          name: nodeConfigurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscNodeConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      description: Retrieve the Dsc node configurations by node configuration.
      operationId: DscNodeConfiguration_Get
      x-ms-examples:
        Get a DSC node configuration:
          $ref: ./examples/getDscNodeConfiguration.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The create or update parameters for configuration.
          in: path
          name: nodeConfigurationName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscNodeConfiguration
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      description: Create the node configuration identified by node configuration name.
      operationId: DscNodeConfiguration_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/DscNodeConfigurationCreateOrUpdateParameters
        description: The create or update parameters for configuration.
        required: true
      x-ms-examples:
        Get a DSC node configuration:
          $ref: ./examples/createOrUpdateDscNodeConfiguration.json
components:
  schemas:
    ContentHash:
      description: Definition of the runbook property type.
      properties:
        algorithm:
          description: Gets or sets the content hash algorithm used to hash the content.
          type: string
        value:
          description: Gets or sets expected hash value of the content.
          type: string
      required:
        - algorithm
        - value
      type: object
    ContentSource:
      description: Definition of the content source.
      properties:
        hash:
          $ref: '#/components/schemas/ContentHash'
          description: Gets or sets the hash.
        type:
          description: Gets or sets the content source type.
          enum:
            - embeddedContent
            - uri
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContentSourceType
        value:
          description: >-
            Gets or sets the value of the content. This is based on the content
            source type.
          type: string
        version:
          description: Gets or sets the version of the content.
          type: string
      type: object
    DscConfigurationAssociationProperty:
      description: The Dsc configuration property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the Dsc configuration.
          type: string
      type: object
    DscNodeConfiguration:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: Definition of the dsc node configuration.
      properties:
        configuration:
          $ref: '#/components/schemas/DscConfigurationAssociationProperty'
          description: Gets or sets the configuration of the node.
        creationTime:
          description: Gets or sets creation time.
          format: date-time
          nullable: false
          type: string
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          type: string
      type: object
    DscNodeConfigurationCreateOrUpdateParameters:
      description: >-
        The parameters supplied to the create or update node configuration
        operation.
      properties:
        configuration:
          $ref: '#/components/schemas/DscConfigurationAssociationProperty'
          description: Gets or sets the configuration of the node.
        incrementNodeConfigurationBuild:
          description: If a new build version of NodeConfiguration is required.
          type: boolean
        name:
          description: Name of the node configuration.
          type: string
        source:
          $ref: '#/components/schemas/ContentSource'
          description: Gets or sets the source.
      required:
        - source
        - name
        - configuration
      type: object
    DscNodeConfigurationListResult:
      description: The response model for the list job operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of Dsc node configurations.
          items:
            $ref: '#/components/schemas/DscNodeConfiguration'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

