{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Log Analytics API reference",
    "title": "Azure Log Analytics",
    "version": "2019-08-01-preview",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedStorageAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "description": "Name of the Log Analytics Workspace that will contain the resource.",
            "in": "path",
            "name": "workspaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedStorageAccountsListResult"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "LinkedStorageAccounts"
        ],
        "description": "Gets all linked storage accounts associated with the specified workspace, storage accounts will be sorted by their data source type.",
        "operationId": "LinkedStorageAccounts_ListByWorkspace",
        "x-ms-examples": {
          "Gets list of linked storage accounts on a workspace.": {
            "$ref": "./examples/LinkedStorageAccountsListByWorkspace.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataExports": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportListResult"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DataExport"
        ],
        "description": "Lists the data export instances within a workspace.",
        "operationId": "DataExport_ListByWorkspace",
        "x-ms-examples": {
          "DataExportGet": {
            "$ref": "./examples/DataExportListByWorkspace.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataExports/{dataExportName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "The data export rule name.",
            "in": "path",
            "name": "dataExportName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "404": {
            "description": "Not found the specific data export."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DataExport"
        ],
        "description": "Deletes the specified data export in a given workspace..",
        "operationId": "DataExport_Delete",
        "x-ms-examples": {
          "DataExportDelete": {
            "$ref": "./examples/DataExportDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "The data export rule name.",
            "in": "path",
            "name": "dataExportName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExport"
                }
              }
            },
            "description": "OK response definition."
          },
          "404": {
            "description": "Not found the specific data export."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DataExport"
        ],
        "description": "Gets a data export instance.",
        "operationId": "DataExport_Get",
        "x-ms-examples": {
          "DataExportGet": {
            "$ref": "./examples/DataExportGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "description": "The data export rule name.",
            "in": "path",
            "name": "dataExportName",
            "required": true,
            "schema": {
              "maxLength": 63,
              "minLength": 4,
              "pattern": "^[A-Za-z][A-Za-z0-9-]+[A-Za-z0-9]$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExport"
                }
              }
            },
            "description": "OK response definition."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExport"
                }
              }
            },
            "description": "Created response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "DataExport"
        ],
        "description": "Create or update a data export.",
        "operationId": "DataExport_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataExport"
              }
            }
          },
          "description": "The parameters required to create or update a data export.",
          "required": true
        },
        "x-ms-examples": {
          "DataExportCreate": {
            "$ref": "./examples/DataExportCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedStorageAccounts/{dataSourceType}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "Name of the Log Analytics Workspace that will contain the resource.",
            "in": "path",
            "name": "workspaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/DataSourceTypeParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          }
        },
        "tags": [
          "LinkedStorageAccounts"
        ],
        "description": "Deletes all linked storage accounts of a specific data source type associated with the specified workspace.",
        "operationId": "LinkedStorageAccounts_Delete",
        "x-ms-examples": {
          "LinkedStorageAccountsDelete": {
            "$ref": "./examples/LinkedStorageAccountsDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "Name of the Log Analytics Workspace that will contain the resource.",
            "in": "path",
            "name": "workspaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/DataSourceTypeParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedStorageAccounts"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "LinkedStorageAccounts"
        ],
        "description": "Gets all linked storage account of a specific data source type associated with the specified workspace.",
        "operationId": "LinkedStorageAccounts_Get",
        "x-ms-examples": {
          "LinkedStorageAccountsGet": {
            "$ref": "./examples/LinkedStorageAccountsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "Name of the Log Analytics Workspace that will contain the resource.",
            "in": "path",
            "name": "workspaceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/DataSourceTypeParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedStorageAccounts"
                }
              }
            },
            "description": "OK response definition."
          }
        },
        "tags": [
          "LinkedStorageAccounts"
        ],
        "description": "Create or Update a link relation between current workspace and a group of storage accounts of a specific data source type.",
        "operationId": "LinkedStorageAccounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedStorageAccounts"
              }
            }
          },
          "description": "The parameters required to create or update linked storage accounts.",
          "required": true
        },
        "x-ms-examples": {
          "LinkedStorageAccountsCreate": {
            "$ref": "./examples/LinkedStorageAccountsCreate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DataSourceTypeParameter": {
        "description": "Linked storage accounts type.",
        "in": "path",
        "name": "dataSourceType",
        "required": true,
        "schema": {
          "enum": [
            "CustomLogs",
            "AzureWatson"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": false,
          "name": "DataSourceType"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group to get. The name is case insensitive.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "WorkspaceNameParameter": {
        "description": "The Log Analytics workspace name.",
        "in": "path",
        "name": "workspaceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DataExport": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "The top level data export resource container.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DataExportProperties",
            "description": "data export properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "DataExportListResult": {
        "description": "Result of the request to list data exports.",
        "properties": {
          "value": {
            "description": "List of data export instances within a workspace..",
            "items": {
              "$ref": "#/components/schemas/DataExport"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataExportProperties": {
        "description": "Data Export properties.",
        "properties": {
          "createdDate": {
            "description": "The latest data export rule modification time.",
            "type": "string"
          },
          "dataExportId": {
            "description": "The data export rule ID.",
            "type": "string"
          },
          "destination": {
            "$ref": "#/components/schemas/Destination",
            "description": "destination properties.",
            "x-ms-client-flatten": true
          },
          "enable": {
            "description": "Active when enabled.",
            "type": "boolean"
          },
          "lastModifiedDate": {
            "description": "Date and time when the export was last modified.",
            "type": "string"
          },
          "tableNames": {
            "description": "An array of tables to export, for example: [\u201cHeartbeat, SecurityEvent\u201d].",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "tableNames"
        ],
        "type": "object"
      },
      "Destination": {
        "description": "Destination properties.",
        "properties": {
          "metaData": {
            "$ref": "#/components/schemas/DestinationMetaData",
            "description": "destination meta data.",
            "x-ms-client-flatten": true
          },
          "resourceId": {
            "description": "The destination resource ID. This can be copied from the Properties entry of the destination resource in Azure.",
            "type": "string"
          },
          "type": {
            "description": "The type of the destination resource",
            "enum": [
              "StorageAccount",
              "EventHub"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "resourceId"
        ],
        "type": "object"
      },
      "DestinationMetaData": {
        "description": "Destination meta data.",
        "properties": {
          "eventHubName": {
            "description": "Optional. Allows to define an Event Hub name. Not applicable when destination is Storage Account.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "The details of the error."
          }
        },
        "type": "object"
      },
      "LinkedStorageAccounts": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "description": "Linked storage accounts top level resource container.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/LinkedStorageAccountsProperties",
            "description": "Linked storage accounts properties.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "LinkedStorageAccountsListResult": {
        "description": "The list linked storage accounts service operation response.",
        "properties": {
          "value": {
            "description": "A list of linked storage accounts instances.",
            "items": {
              "$ref": "#/components/schemas/LinkedStorageAccounts"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "LinkedStorageAccountsProperties": {
        "description": "Linked storage accounts properties.",
        "properties": {
          "dataSourceType": {
            "description": "Linked storage accounts type.",
            "enum": [
              "CustomLogs",
              "AzureWatson"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "DataSourceType"
            }
          },
          "storageAccountIds": {
            "description": "Linked storage accounts resources ids.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProxyResource": {
        "description": "Common properties of proxy resource.",
        "properties": {
          "id": {
            "description": "Resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Resource name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}