openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Sql/managedInstances':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceListResult'
          description: Successfully retrieved the list of managed instances.
        default:
          description: '*** Error Responses: ***'
      tags:
        - ManagedInstances
      description: Gets a list of all managed instances in the subscription.
      operationId: ManagedInstances_List
      x-ms-examples:
        List managed instances:
          $ref: ./examples/ManagedInstanceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceListResult'
          description: Successfully retrieved the list of managed instances.
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      description: Gets a list of managed instances in a resource group.
      operationId: ManagedInstances_ListByResourceGroup
      x-ms-examples:
        List managed instances by resource group:
          $ref: ./examples/ManagedInstanceListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the managed instance.
        '202':
          description: Accepted
        '204':
          description: The specified managed instance does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      description: Deletes a managed instance.
      operationId: ManagedInstances_Delete
      x-ms-examples:
        Delete managed instance:
          $ref: ./examples/ManagedInstanceDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
          description: Successfully retrieved the specified managed instance.
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 ResourceNotFound - The requested resource was not found.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      description: Gets a managed instance.
      operationId: ManagedInstances_Get
      x-ms-examples:
        Get managed instance:
          $ref: ./examples/ManagedInstanceGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
          description: Successfully updated the managed instance.
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 HkCannotSwitchToInactive - The database cannot proceed with pricing-tier update as it has memory-optimized objects. Please drop such objects and try again.

             * 400 ManagedInstanceInvalidStorageSizeLessThenCurrentSizeUsed - Invalid storage size: Storage size limit ({0} GB) is less that current storage used ({1} GB). Please specify higher storage size limit.

             * 400 InstanceTimezoneUpdateNotSupported - Instance timezone update not supported.

             * 400 CreateManagedInstanceWithNonDefaultTimezoneNotSupported - Create Managed Instance with non-default timezone not supported.

             * 400 ManagedInstanceIpAddressRangeLimit - Cannot create a Managed Instance as there are not enough available ip addresses in the selected subnet

             * 400 VnetDelegationNotAllowed - User tried to inject Managed Server to subnet which is delegated.

             * 400 SubnetHasResourcesOfDifferentType - User tried to create MI in subnet that has resources of different type.

             * 400 UpdateManagedServerWithMaintenanceWindowNotAllowed - Update of Managed Instance with maintenance window settings is not allowed.

             * 400 VnetPrepareNIPFailed - User tried to prepare subnet that has a conflict with NetworkIntentPolicy.

             * 400 InvalidUsername - Supplied user name contains invalid characters.

             * 400 InvalidParameterValue - An invalid value was given to a parameter.

             * 400 InstancePoolNotEnoughCapacity - An instance pool does not have enough capacity

             * 400 ServerNotFound - The requested server was not found.

             * 400 TokenTooLong - The provided token is too long.

             * 400 ManagedInstanceSloUpdateFailed - SLO '{0}' operation cannot succeed as the memory usage of '{1}' exceeds the quota.

             * 400 ManagedInstanceLocalStorageUpdateSloDisabled - Update SLO for managed instances with local storage is not supported yet.

             * 400 InvalidLoginName - The provided login name is invalid.

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 PasswordTooShort - The provided password is too short

             * 400 PasswordTooLong - The provided password is too long.

             * 400 PasswordNotComplex - The provided password is not complex enough.

             * 400 GatewayInvalidEdition - '{0}' is not a valid database edition in this version of SQL Server.

             * 400 InvalidSubnetResourceId - The provided subnet resource ID for the managed instance create or update is invalid.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 InvalidLocation - An invalid location was specified.

             * 400 VnetInWrongRegion - Virtual network is in wrong region.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 VnetAddressRangeError - Virtual network address range is invalid.

             * 400 VnetConfigIsNotAllowed - Virtual network configuration is not allowed.

             * 400 InvalidCollation - Invalid collation.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 ManagedInstanceClassicVnetNotSupported - Managed Instance cannot be joined to a classic virtual network.

             * 400 AlterDbDeactivatedNotSupported - Database Operation failed for Server '{0}', Database '{1}' due to unexpected delay. Please try again.

             * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.

             * 400 VnetConfigHasNsg - User tried to inject Managed Server subnet with Network Security Groups.

             * 400 VnetConfigHasNoUdr - User tried to inject Managed Server subnet without default User Defined Route Table.

             * 400 VnetConfigHasInvalidUdr - User tried to inject Managed Server subnet with invalid User Defined Route Table.

             * 400 VnetConfigHasInvalidDns - User tried to inject Managed Server subnet with invalid custom DNS.

             * 400 VnetConfigHasServiceEndpoints - User tried to inject Managed Server subnet with service endpoints.

             * 400 VnetSubnetIsInUse - User tried to inject Managed Server subnet that is not empty.

             * 400 VnetSubnetIsLocked - User tried to inject Managed Server subnet that is in locked scope.

             * 400 VnetSubnetIsGateway - User tried to inject Managed Server subnet that is Gateway subnet.

             * 400 VnetSubnetIsUnknown - User tried to inject Managed Server subnet that does not exist.

             * 400 VnetSubnetConflictWithIntendedPolicy - User tried to inject Managed Server subnet that has a conflict with IntendedPolicy.

             * 400 NameAlreadyExists - The provided name already exists.

             * 400 ManagedInstanceInvalidEditionForSku - The specified edition {0} is not consistent with the specified SKU {1}.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ManagedInstanceInvalidLicenseType - The specified license type {0} is not valid.

             * 400 ManagedInstanceUpdateSloInProgress - "The operation could not be completed because a service tier change is in progress for managed instance '{0}.' Please wait for the operation in progress to complete and try again."

             * 400 VnetResourceNotFound - Resource not found: '{0}'.

             * 400 InvalidTimezone - Invalid timezone.

             * 400 UnableToResolveRemoteServer - The remote partner server name could not be resolved due to an invalid server name or DNS connectivity issues.

             * 400 InstanceCollationUpdateNotSupported - User cannot change instance collation on Managed Instance.

             * 400 CreateManagedInstanceWithNonDefaultCollationNotSupported - User can create a Managed Instance only with collation 'SQL_Latin1_General_CP1_CI_AS'.

             * 400 ManagedInstanceOperationInProgress - The operation could not be completed because {0} operation is in progress. Please wait for the operation in progress to complete and try again.

             * 400 ManagedInstanceExceedMaxAzureStorage - The operation could not be completed because total allocated storage size for General Purpose instance would exceed {0}. Please reduce the number of database files and retry operation.

             * 400 ManagedInstanceHasGeoReplica - The operation could not be completed because instance has configured geo replicated secondary instance.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidMinimalTlsVersion - Invalid minimal TLS version.

             * 400 InvalidMaintenanceWindowSettings - Invalid maintenance window settings.

             * 400 InvalidMaintenanceWindowProperty - Invalid maintenance window property was specified.

             * 400 InvalidMaintenanceWindowPropertyNull - Invalid maintenance window with required properties null.

             * 400 InvalidMaintenanceWindowTypeWithPropertySpecified - Maintenance window type must not have certain properties specified.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceDoesNotExist - Resource with the name '{0}' does not exist. To continue, specify a valid resource name.

             * 404 ResourceNotFound - The requested resource was not found.

             * 405 InvalidVcoreValue - vCore value {0} is not valid. Please specify a valid vCore value.

             * 405 InvalidHardwareGenerationValue - HardwareGeneration {0} is not valid. Please specify a valid HardwareGeneration value.

             * 405 InvalidStorageSizeValue - "Invalid storage size: {0} GB. Storage size must be specified between {1} and {2} gigabytes, in increments of {3} GB.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ConflictingServerOperation - An operation is currently in progress for the server.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ServerAlreadyExists - Duplicate server name.

             * 409 ServerOverridePreconditionFailed - Failed to apply server override on category '{0}', because physical db or instance '{1}' in server '{2}' is currently not in 'Ready' or 'Deactivated' state.

             * 409 ServerDisabled - Server is disabled.

             * 409 ManagedInstanceIsBusy - The server '{0}' is currently busy.  Please wait a few minutes before trying again.

             * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 409 MiDropFailedOnAuthLocks - User tried to drop last Managed Instance in subnet that has Lock applied on resource(s).

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 500 GatewayInternalServerError - The server encountered an unexpected exception.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      description: Updates a managed instance.
      operationId: ManagedInstances_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedInstanceUpdate'
        description: The requested managed instance resource state.
        required: true
      x-ms-examples:
        Remove maintenance policy from managed instance (select default maintenance policy):
          $ref: ./examples/ManagedInstanceRemoveMaintenanceConfiguration.json
        Update managed instance with all properties:
          $ref: ./examples/ManagedInstanceUpdateMax.json
        Update managed instance with minimal properties:
          $ref: ./examples/ManagedInstanceUpdateMin.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ManagedInstanceNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
          description: Successfully updated the managed instance.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
          description: Successfully created the managed instance.
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 HkCannotSwitchToInactive - The database cannot proceed with pricing-tier update as it has memory-optimized objects. Please drop such objects and try again.

             * 400 ManagedInstanceInvalidStorageSizeLessThenCurrentSizeUsed - Invalid storage size: Storage size limit ({0} GB) is less that current storage used ({1} GB). Please specify higher storage size limit.

             * 400 InstanceTimezoneUpdateNotSupported - Instance timezone update not supported.

             * 400 CreateManagedInstanceWithNonDefaultTimezoneNotSupported - Create Managed Instance with non-default timezone not supported.

             * 400 ManagedInstanceIpAddressRangeLimit - Cannot create a Managed Instance as there are not enough available ip addresses in the selected subnet

             * 400 VnetDelegationNotAllowed - User tried to inject Managed Server to subnet which is delegated.

             * 400 SubnetHasResourcesOfDifferentType - User tried to create MI in subnet that has resources of different type.

             * 400 UpdateManagedServerWithMaintenanceWindowNotAllowed - Update of Managed Instance with maintenance window settings is not allowed.

             * 400 VnetPrepareNIPFailed - User tried to prepare subnet that has a conflict with NetworkIntentPolicy.

             * 400 InvalidUsername - Supplied user name contains invalid characters.

             * 400 InvalidParameterValue - An invalid value was given to a parameter.

             * 400 InstancePoolNotEnoughCapacity - An instance pool does not have enough capacity

             * 400 ServerNotFound - The requested server was not found.

             * 400 TokenTooLong - The provided token is too long.

             * 400 ManagedInstanceSloUpdateFailed - SLO '{0}' operation cannot succeed as the memory usage of '{1}' exceeds the quota.

             * 400 ManagedInstanceLocalStorageUpdateSloDisabled - Update SLO for managed instances with local storage is not supported yet.

             * 400 InvalidLoginName - The provided login name is invalid.

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 PasswordTooShort - The provided password is too short

             * 400 PasswordTooLong - The provided password is too long.

             * 400 PasswordNotComplex - The provided password is not complex enough.

             * 400 GatewayInvalidEdition - '{0}' is not a valid database edition in this version of SQL Server.

             * 400 InvalidSubnetResourceId - The provided subnet resource ID for the managed instance create or update is invalid.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 InvalidLocation - An invalid location was specified.

             * 400 VnetInWrongRegion - Virtual network is in wrong region.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 VnetAddressRangeError - Virtual network address range is invalid.

             * 400 VnetConfigIsNotAllowed - Virtual network configuration is not allowed.

             * 400 InvalidCollation - Invalid collation.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 ManagedInstanceClassicVnetNotSupported - Managed Instance cannot be joined to a classic virtual network.

             * 400 AlterDbDeactivatedNotSupported - Database Operation failed for Server '{0}', Database '{1}' due to unexpected delay. Please try again.

             * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.

             * 400 VnetConfigHasNsg - User tried to inject Managed Server subnet with Network Security Groups.

             * 400 VnetConfigHasNoUdr - User tried to inject Managed Server subnet without default User Defined Route Table.

             * 400 VnetConfigHasInvalidUdr - User tried to inject Managed Server subnet with invalid User Defined Route Table.

             * 400 VnetConfigHasInvalidDns - User tried to inject Managed Server subnet with invalid custom DNS.

             * 400 VnetConfigHasServiceEndpoints - User tried to inject Managed Server subnet with service endpoints.

             * 400 VnetSubnetIsInUse - User tried to inject Managed Server subnet that is not empty.

             * 400 VnetSubnetIsLocked - User tried to inject Managed Server subnet that is in locked scope.

             * 400 VnetSubnetIsGateway - User tried to inject Managed Server subnet that is Gateway subnet.

             * 400 VnetSubnetIsUnknown - User tried to inject Managed Server subnet that does not exist.

             * 400 VnetSubnetConflictWithIntendedPolicy - User tried to inject Managed Server subnet that has a conflict with IntendedPolicy.

             * 400 NameAlreadyExists - The provided name already exists.

             * 400 ManagedInstanceInvalidEditionForSku - The specified edition {0} is not consistent with the specified SKU {1}.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ManagedInstanceInvalidLicenseType - The specified license type {0} is not valid.

             * 400 ManagedInstanceUpdateSloInProgress - "The operation could not be completed because a service tier change is in progress for managed instance '{0}.' Please wait for the operation in progress to complete and try again."

             * 400 VnetResourceNotFound - Resource not found: '{0}'.

             * 400 InvalidTimezone - Invalid timezone.

             * 400 UnableToResolveRemoteServer - The remote partner server name could not be resolved due to an invalid server name or DNS connectivity issues.

             * 400 InstanceCollationUpdateNotSupported - User cannot change instance collation on Managed Instance.

             * 400 CreateManagedInstanceWithNonDefaultCollationNotSupported - User can create a Managed Instance only with collation 'SQL_Latin1_General_CP1_CI_AS'.

             * 400 ManagedInstanceOperationInProgress - The operation could not be completed because {0} operation is in progress. Please wait for the operation in progress to complete and try again.

             * 400 ManagedInstanceExceedMaxAzureStorage - The operation could not be completed because total allocated storage size for General Purpose instance would exceed {0}. Please reduce the number of database files and retry operation.

             * 400 ManagedInstanceHasGeoReplica - The operation could not be completed because instance has configured geo replicated secondary instance.

             * 400 InvalidManagedServerDnsZonePartner - The resource URI of the geo-primary managed instance specified in the create request is invalid. Please ensure that the property is of the format /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/managedInstances/{managedInstanceName}

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ManagementServiceFeatureDisabled - User attempted to use a feature which is disabled.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidMinimalTlsVersion - Invalid minimal TLS version.

             * 400 InvalidMaintenanceWindowSettings - Invalid maintenance window settings.

             * 400 InvalidMaintenanceWindowProperty - Invalid maintenance window property was specified.

             * 400 InvalidMaintenanceWindowPropertyNull - Invalid maintenance window with required properties null.

             * 400 InvalidMaintenanceWindowTypeWithPropertySpecified - Maintenance window type must not have certain properties specified.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceDoesNotExist - Resource with the name '{0}' does not exist. To continue, specify a valid resource name.

             * 404 ResourceNotFound - The requested resource was not found.

             * 405 InvalidVcoreValue - vCore value {0} is not valid. Please specify a valid vCore value.

             * 405 InvalidHardwareGenerationValue - HardwareGeneration {0} is not valid. Please specify a valid HardwareGeneration value.

             * 405 InvalidStorageSizeValue - "Invalid storage size: {0} GB. Storage size must be specified between {1} and {2} gigabytes, in increments of {3} GB.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ConflictingServerOperation - An operation is currently in progress for the server.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ServerAlreadyExists - Duplicate server name.

             * 409 ServerOverridePreconditionFailed - Failed to apply server override on category '{0}', because physical db or instance '{1}' in server '{2}' is currently not in 'Ready' or 'Deactivated' state.

             * 409 ServerDisabled - Server is disabled.

             * 409 ManagedInstanceIsBusy - The server '{0}' is currently busy.  Please wait a few minutes before trying again.

             * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.

             * 409 MiDropFailedOnAuthLocks - User tried to drop last Managed Instance in subnet that has Lock applied on resource(s).

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 500 GatewayInternalServerError - The server encountered an unexpected exception.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ManagedInstances
      description: Creates or updates a managed instance.
      operationId: ManagedInstances_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedInstance'
        description: The requested managed instance resource state.
        required: true
      x-ms-examples:
        Create managed instance with all properties:
          $ref: ./examples/ManagedInstanceCreateMax.json
        Create managed instance with minimal properties:
          $ref: ./examples/ManagedInstanceCreateMin.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
          - default
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ManagedInstance:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/TrackedResource
      description: An Azure SQL managed instance.
      properties:
        identity:
          $ref: ../../../common/v1/types.json#/definitions/ResourceIdentity
          description: The Azure Active Directory identity of the managed instance.
          x-ms-mutability:
            - read
            - create
        properties:
          $ref: '#/components/schemas/ManagedInstanceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
        sku:
          $ref: ../../../common/v1/types.json#/definitions/Sku
          description: >-
            Managed instance SKU. Allowed values for sku.name: GP_Gen4, GP_Gen5,
            BC_Gen4, BC_Gen5
      required:
        - location
      type: object
    ManagedInstanceListResult:
      description: A list of managed instances.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ManagedInstance'
          readOnly: true
          type: array
      type: object
    ManagedInstanceProperties:
      description: The properties of a managed instance.
      properties:
        administratorLogin:
          description: >-
            Administrator username for the managed instance. Can only be
            specified when the managed instance is being created (and is
            required for creation).
          type: string
          x-ms-mutability:
            - read
            - create
        administratorLoginPassword:
          description: >-
            The administrator login password (required for managed instance
            creation).
          type: string
          x-ms-mutability:
            - create
            - update
        collation:
          description: Collation of the managed instance.
          type: string
          x-ms-mutability:
            - read
            - create
        dnsZone:
          description: The Dns Zone that the managed instance is in.
          readOnly: true
          type: string
        dnsZonePartner:
          description: >-
            The resource id of another managed instance whose DNS zone this
            managed instance will share after creation.
          type: string
          x-ms-mutability:
            - create
        fullyQualifiedDomainName:
          description: The fully qualified domain name of the managed instance.
          readOnly: true
          type: string
        instancePoolId:
          description: The Id of the instance pool this managed server belongs to.
          type: string
        licenseType:
          description: >-
            The license type. Possible values are 'LicenseIncluded' (regular
            price inclusive of a new SQL license) and 'BasePrice' (discounted
            AHB price for bringing your own SQL licenses).
          enum:
            - LicenseIncluded
            - BasePrice
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedInstanceLicenseType
        maintenanceConfigurationId:
          description: >-
            Specifies maintenance configuration id to apply to this managed
            instance.
          type: string
        managedInstanceCreateMode:
          description: "Specifies the mode of database creation.\r\n\r\nDefault: Regular instance creation.\r\n\r\nRestore: Creates an instance by restoring a set of backups to specific point in time. RestorePointInTime and SourceManagedInstanceId must be specified."
          enum:
            - Default
            - PointInTimeRestore
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServerCreateMode
          x-ms-mutability:
            - create
        minimalTlsVersion:
          description: 'Minimal TLS version. Allowed values: ''None'', ''1.0'', ''1.1'', ''1.2'''
          type: string
        proxyOverride:
          description: Connection type used for connecting to the instance.
          enum:
            - Proxy
            - Redirect
            - Default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedInstanceProxyOverride
        publicDataEndpointEnabled:
          description: Whether or not the public data endpoint is enabled.
          type: boolean
        restorePointInTime:
          description: >-
            Specifies the point in time (ISO8601 format) of the source database
            that will be restored to create the new database.
          format: date-time
          type: string
          x-ms-mutability:
            - create
        sourceManagedInstanceId:
          description: >-
            The resource identifier of the source managed instance associated
            with create operation of this instance.
          type: string
          x-ms-mutability:
            - create
        state:
          description: The state of the managed instance.
          readOnly: true
          type: string
        storageSizeInGB:
          description: >-
            Storage size in GB. Minimum value: 32. Maximum value: 8192.
            Increments of 32 GB allowed only.
          format: int32
          type: integer
        subnetId:
          description: Subnet resource ID for the managed instance.
          type: string
        timezoneId:
          description: "Id of the timezone. Allowed values are timezones supported by Windows.\r\nWindows keeps details on supported timezones, including the id, in registry under\r\nKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Time Zones.\r\nYou can get those registry values via SQL Server by querying SELECT name AS timezone_id FROM sys.time_zone_info.\r\nList of Ids can also be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell.\r\nAn example of valid timezone id is \"Pacific Standard Time\" or \"W. Europe Standard Time\"."
          type: string
          x-ms-mutability:
            - read
            - create
        vCores:
          description: 'The number of vCores. Allowed values: 8, 16, 24, 32, 40, 64, 80.'
          format: int32
          type: integer
      type: object
    ManagedInstanceUpdate:
      description: An update request for an Azure SQL Database managed instance.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        properties:
          $ref: '#/components/schemas/ManagedInstanceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
        sku:
          $ref: ../../../common/v1/types.json#/definitions/Sku
          description: Managed instance sku
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

