openapi: 3.0.0
info:
  description: Azure Blueprint Client.
  title: BlueprintClient
  version: 2017-11-11-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Blueprint/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList'
          description: OK response definition.
      tags:
        - Operations
      description: >-
        List all of the available operations the Blueprint resource provider
        supports.
      operationId: Operations_List
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlueprintList'
          description: OK -- retrieved Blueprints in this ManagementGroup.
      tags:
        - Blueprint
      description: List Blueprint definitions within a Management Group.
      operationId: Blueprints_List
      x-ms-examples:
        Blueprint:
          $ref: ./examples/Blueprint_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
          description: OK -- blueprint definition deleted
        '204':
          description: no content
      tags:
        - Blueprint
      description: Delete a blueprint definition.
      operationId: Blueprints_Delete
      x-ms-examples:
        Blueprint_Delete:
          $ref: ./examples/Blueprint_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
          description: OK -- blueprint definition retrieved.
      tags:
        - Blueprint
      description: Get a blueprint definition.
      operationId: Blueprints_Get
      x-ms-examples:
        Blueprint:
          $ref: ./examples/Blueprint_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
          description: Created -- Blueprint definition saved.
      tags:
        - Blueprint
      description: Create or update Blueprint definition.
      operationId: Blueprints_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Blueprint'
        description: Blueprint definition.
        required: true
      x-ms-examples:
        Blueprint:
          $ref: ./examples/Blueprint_Create.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          description: OK -- Blueprint artifacts retrieved.
      tags:
        - Artifact
      description: List artifacts for a given Blueprint.
      operationId: Artifacts_List
      x-ms-examples:
        ArtifactList:
          $ref: ./examples/Artifact_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK -- Blueprint artifact deleted.
        '204':
          description: No Content
      tags:
        - Artifact
      description: Delete a Blueprint artifact.
      operationId: Artifacts_Delete
      x-ms-examples:
        ARMTemplateArtifact_Delete:
          $ref: ./examples/ARMTemplateArtifact_Delete.json
        PolicyAssignmentArtifact_Delete:
          $ref: ./examples/PolicyAssignmentArtifact_Delete.json
        RoleAssignmentArtifact_Delete:
          $ref: ./examples/RoleAssignmentArtifact_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK -- Blueprint artifact retrieved.
      tags:
        - Artifact
      description: Get a Blueprint artifact.
      operationId: Artifacts_Get
      x-ms-examples:
        ARMTemplateArtifact:
          $ref: ./examples/ARMTemplateArtifact_Get.json
        PolicyAssignmentArtifact:
          $ref: ./examples/PolicyAssignmentArtifact_Get.json
        RoleAssignmentArtifact:
          $ref: ./examples/RoleAssignmentArtifact_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: Created -- Blueprint artifact created/updated.
      tags:
        - Artifact
      description: Create or update Blueprint artifact.
      operationId: Artifacts_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Artifact'
        description: Blueprint artifact to save.
        required: true
      x-ms-examples:
        ARMTemplateArtifact:
          $ref: ./examples/ARMTemplateArtifact_Create.json
        PolicyAssignmentArtifact:
          $ref: ./examples/PolicyAssignmentArtifact_Create.json
        RoleAssignmentArtifact:
          $ref: ./examples/RoleAssignmentArtifact_Create.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprintList'
          description: OK -- all published Blueprint retrieved.
      tags:
        - PublishedBlueprint
      description: List published versions of given Blueprint.
      operationId: PublishedBlueprints_List
      x-ms-examples:
        PublishedBlueprintList:
          $ref: ./examples/SealedBlueprint_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprint'
          description: OK -- published Blueprint deleted.
        '204':
          description: No Content
      tags:
        - PublishedBlueprint
      description: Delete a published Blueprint.
      operationId: PublishedBlueprints_Delete
      x-ms-examples:
        PublishedBlueprint_Delete:
          $ref: ./examples/SealedBlueprint_Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprint'
          description: OK -- published Blueprint retrieved.
      tags:
        - PublishedBlueprint
      description: Get a published Blueprint.
      operationId: PublishedBlueprints_Get
      x-ms-examples:
        PublishedBlueprint_Get:
          $ref: ./examples/SealedBlueprint_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprint'
          description: Created -- published Blueprint.
      tags:
        - PublishedBlueprint
      description: >-
        Publish a new version of the Blueprint with the latest artifacts.
        Published Blueprints are immutable.
      operationId: PublishedBlueprints_Create
      x-ms-examples:
        PublishedBlueprint_Publish:
          $ref: ./examples/SealedBlueprint_Publish.json
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          description: OK -- all published artifact retrieved.
      tags:
        - PublishedArtifact
      description: List artifacts for a published Blueprint.
      operationId: PublishedArtifacts_List
      x-ms-examples:
        ArtifactList:
          $ref: ./examples/SealedArtifact_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts/{artifactName}':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementGroupNameParameter'
        - $ref: '#/components/parameters/BlueprintNameParameter'
        - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
        - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK -- published artifact retrieved.
      tags:
        - PublishedArtifact
      description: Get an artifact for a published Blueprint.
      operationId: PublishedArtifacts_Get
      x-ms-examples:
        ARMTemplateArtifact:
          $ref: ./examples/SealedARMTemplateArtifact_Get.json
        PolicyAssignmentArtifact:
          $ref: ./examples/SealedPolicyAssignmentArtifact_Get.json
        RoleAssignmentArtifact:
          $ref: ./examples/SealedRoleAssignmentArtifact_Get.json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    ArtifactNameParameter:
      description: name of the artifact.
      in: path
      name: artifactName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    BlueprintNameParameter:
      description: name of the blueprint.
      in: path
      name: blueprintName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ManagementGroupNameParameter:
      description: ManagementGroup where blueprint stores.
      in: path
      name: managementGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    PublishedBlueprintVersionIdParameter:
      description: version of the published blueprint.
      in: path
      name: versionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: 'azure subscriptionId, which we assign the blueprint to.'
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Artifact:
      allOf:
        - $ref: '#/components/schemas/AzureResourceBase'
      description: Represents a Blueprint artifact.
      discriminator:
        propertyName: kind
      properties:
        kind:
          description: Specifies the kind of Blueprint artifact.
          enum:
            - template
            - roleAssignment
            - policyAssignment
          type: string
          x-ms-enum:
            modelAsString: true
            name: ArtifactKind
      required:
        - kind
      type: object
    ArtifactList:
      description: List of Blueprint artifacts
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of Blueprint artifacts.
          items:
            $ref: '#/components/schemas/Artifact'
          type: array
      type: object
    ArtifactPropertiesBase:
      description: Common properties shared by different artifacts.
      properties:
        dependsOn:
          description: Artifacts which need to be deployed before the specified artifact.
          items:
            description: ID of peer artifact.
            type: string
          type: array
      type: object
      x-ms-external: true
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Blueprint:
      allOf:
        - $ref: '#/components/schemas/AzureResourceBase'
      description: Represents a Blueprint definition.
      properties:
        properties:
          $ref: '#/components/schemas/BlueprintProperties'
          description: Detailed properties for blueprint
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    BlueprintList:
      description: List of Blueprint definitions.
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of Blueprint definitions.
          items:
            $ref: '#/components/schemas/Blueprint'
          type: array
      title: BlueprintList
      type: object
    BlueprintProperties:
      allOf:
        - $ref: '#/components/schemas/SharedBlueprintProperties'
      description: Schema for Blueprint properties.
      properties:
        layout:
          description: 'Layout view of the blueprint, for UI reference.'
          type: object
        versions:
          description: Published versions of this blueprint.
          type: object
      required:
        - targetScope
      type: object
      x-ms-external: true
    BlueprintResourcePropertiesBase:
      description: Shared properties between all Blueprint resources.
      properties:
        description:
          description: Multi-line explain this resource.
          maxLength: 500
          type: string
        displayName:
          description: One-liner string explain this resource.
          maxLength: 256
          type: string
      type: object
      x-ms-external: true
    BlueprintResourceStatusBase:
      description: Shared status properties between all Blueprint resources.
      properties:
        lastModified:
          description: Last modified time of this blueprint.
          readOnly: true
          type: string
        timeCreated:
          description: Creation time of this blueprint.
          readOnly: true
          type: string
      type: object
    BlueprintStatus:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourceStatusBase'
      description: The status of the blueprint. This field is readonly.
      properties: {}
      type: object
    ParameterDefinition:
      description: Represent a parameter with constrains and metadata.
      properties:
        allowedValues:
          description: Array of allowed values for this parameter.
          items:
            description: Allowed value.
          type: array
        defaultValue:
          description: Default Value for this parameter.
        metadata:
          $ref: '#/components/schemas/ParameterDefinitionMetadata'
          description: User-friendly properties for this parameter.
          x-ms-client-flatten: true
        type:
          description: Allowed data types for Azure Resource Manager template parameters.
          enum:
            - string
            - array
            - bool
            - int
            - object
            - secureObject
            - secureString
          type: string
          x-ms-enum:
            modelAsString: true
            name: TemplateParameterType
      required:
        - type
      type: object
    ParameterDefinitionCollection:
      additionalProperties:
        $ref: '#/components/schemas/ParameterDefinition'
        description: named collection of parameter metadata.
      description: A dictionary hold parameter name and it's metadata.
      properties: {}
      type: object
    ParameterDefinitionMetadata:
      description: User-friendly properties for this parameter.
      properties:
        description:
          description: Description of this parameter/resourceGroup.
          maxLength: 500
          type: string
        displayName:
          description: DisplayName of this parameter/resourceGroup.
          maxLength: 256
          type: string
        strongType:
          description: StrongType for UI to render rich experience during assignment time.
          maxLength: 64
          type: string
      type: object
    ParameterValue:
      allOf:
        - $ref: '#/components/schemas/ParameterValueBase'
      description: Value for the specified parameter.
      properties:
        value:
          description: actual value.
      required:
        - value
      type: object
    ParameterValueBase:
      description: Base class for ParameterValue.
      properties:
        description:
          description: >-
            Optional property, just to establish ParameterValueBase as a
            BaseClass.
          type: string
      type: object
    ParameterValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ParameterValueBase'
        description: keyValue pair of parameter fulfillment.
      description: A dictionary for parameters and their corresponding values.
      properties: {}
      type: object
    PolicyAssignmentArtifact:
      allOf:
        - $ref: '#/components/schemas/Artifact'
      description: Blueprint artifact applies Policy assignments.
      properties:
        properties:
          $ref: '#/components/schemas/PolicyAssignmentArtifactProperties'
          description: properties for policyAssignment Artifact
          x-ms-client-flatten: true
      required:
        - properties
      type: object
      x-ms-discriminator-value: policyAssignment
    PolicyAssignmentArtifactProperties:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
        - $ref: '#/components/schemas/ArtifactPropertiesBase'
      description: PolicyAssignment properties
      properties:
        parameters:
          $ref: '#/components/schemas/ParameterValueCollection'
          description: Parameter values for the policy definition.
        policyDefinitionId:
          description: Azure resource ID of the policy definition.
          type: string
        resourceGroup:
          description: >-
            Name of the resource group placeholder to which the policy will be
            assigned.
          type: string
      required:
        - policyDefinitionId
        - parameters
      type: object
    PublishedBlueprint:
      allOf:
        - $ref: '#/components/schemas/AzureResourceBase'
      description: Represents a published Blueprint.
      properties:
        properties:
          $ref: '#/components/schemas/PublishedBlueprintProperties'
          description: Detailed properties for published Blueprint
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    PublishedBlueprintList:
      description: List of published Blueprints
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of published Blueprints.
          items:
            $ref: '#/components/schemas/PublishedBlueprint'
          type: array
      title: BlueprintList
      type: object
    PublishedBlueprintProperties:
      allOf:
        - $ref: '#/components/schemas/SharedBlueprintProperties'
      description: Schema for published Blueprint properties.
      properties:
        blueprintName:
          description: Name of the Blueprint definition.
          type: string
        changeNotes:
          description: Version-specific change notes
          maxLength: 500
          type: string
      type: object
      x-ms-external: true
    ResourceGroupDefinition:
      description: Represents an Azure resource group in a Blueprint definition.
      properties:
        dependsOn:
          description: Artifacts which need to be deployed before this resource group.
          items:
            description: Name of peer artifact.
            type: string
          type: array
        location:
          description: >-
            Location of this resourceGroup, leave empty if the resource group
            location will be specified during the Blueprint assignment.
          maxLength: 90
          type: string
        metadata:
          $ref: '#/components/schemas/ParameterDefinitionMetadata'
          description: User-friendly properties for this resource group.
          x-ms-client-flatten: true
        name:
          description: >-
            Name of this resourceGroup, leave empty if the resource group name
            will be specified during the Blueprint assignment.
          maxLength: 90
          minLength: 1
          type: string
      type: object
    ResourceGroupDefinitionCollection:
      additionalProperties:
        $ref: '#/components/schemas/ResourceGroupDefinition'
        description: named collection for resourceGroupDefinition
      description: >-
        A dictionary which maps resource group placeholders to the resource
        groups which will be created.
      properties: {}
      type: object
    ResourceGroupValue:
      description: Represents an Azure resource group.
      properties:
        location:
          description: Location of the resource group
          type: string
        name:
          description: Name of the resource group
          maxLength: 90
          minLength: 1
          type: string
      type: object
    ResourceGroupValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ResourceGroupValue'
      description: >-
        A dictionary which maps resource group placeholders to the resource
        groups which will be created.
      properties: {}
      type: object
    ResourceProviderOperation:
      description: Supported operation of this resource provider.
      properties:
        display:
          description: Display metadata associated with the operation.
          properties:
            description:
              description: Description of this operation.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
            provider:
              description: 'Resource provider: Microsoft Blueprint.'
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
          type: object
        name:
          description: 'Operation name, in format of {provider}/{resource}/{operation}'
          type: string
      readOnly: true
      type: object
    ResourceProviderOperationList:
      description: Result of the request to list operations.
      properties:
        value:
          description: List of operations supported by this resource provider.
          items:
            $ref: '#/components/schemas/ResourceProviderOperation'
          type: array
      readOnly: true
      type: object
    RoleAssignmentArtifact:
      allOf:
        - $ref: '#/components/schemas/Artifact'
      description: Blueprint artifact applies Azure role assignment.
      properties:
        properties:
          $ref: '#/components/schemas/RoleAssignmentArtifactProperties'
          description: Properties for roleAssignment artifact.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
      x-ms-discriminator-value: roleAssignment
    RoleAssignmentArtifactProperties:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
        - $ref: '#/components/schemas/ArtifactPropertiesBase'
      description: Properties of the Role assignment artifact.
      properties:
        principalIds:
          description: >-
            Array of user or group identities in Azure Active Directory. The
            roleDefinition will apply to these identity.
        resourceGroup:
          description: >-
            RoleAssignment will be scope to this resourceGroup, if left empty,
            it would scope to the subscription.
          type: string
        roleDefinitionId:
          description: Azure resource ID of the RoleDefinition.
          type: string
      required:
        - roleDefinitionId
        - principalIds
      type: object
    SecretReferenceParameterValue:
      allOf:
        - $ref: '#/components/schemas/ParameterValueBase'
      description: 'The reference to a secret, if the parameter should be protected.'
      properties:
        reference:
          $ref: '#/components/schemas/SecretValueReference'
          description: Specifies the reference.
      required:
        - reference
      type: object
    SecretValueReference:
      description: Reference to a KeyVault secret.
      properties:
        keyVault:
          $ref: '#/components/schemas/keyVaultReference'
          description: Specifies the reference to a given Azure KeyVault.
        secretName:
          description: Name of the secret.
          type: string
        secretVersion:
          description: 'Version of the secret, (if there are multiple versions)'
          type: string
      required:
        - keyVault
        - secretName
      type: object
    SharedBlueprintProperties:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
      description: >-
        Shared Schema for both blueprintProperties and
        publishedBlueprintProperties.
      properties:
        parameters:
          $ref: '#/components/schemas/ParameterDefinitionCollection'
          description: Parameters required by this Blueprint definition.
        resourceGroups:
          $ref: '#/components/schemas/ResourceGroupDefinitionCollection'
          description: Resource group placeholders defined by this Blueprint definition.
        status:
          $ref: '#/components/schemas/BlueprintStatus'
          description: Status of the Blueprint. This field is readonly.
          readOnly: true
        targetScope:
          description: The scope where this Blueprint can be applied.
          enum:
            - subscription
            - managementGroup
          type: string
          x-ms-enum:
            modelAsString: true
            name: BlueprintTargetScope
      type: object
      x-ms-external: true
    TemplateArtifact:
      allOf:
        - $ref: '#/components/schemas/Artifact'
      description: Blueprint artifact deploys Azure resource manager template.
      properties:
        properties:
          $ref: '#/components/schemas/TemplateArtifactProperties'
          description: Properties for template artifact
          x-ms-client-flatten: true
      required:
        - properties
      type: object
      x-ms-discriminator-value: template
    TemplateArtifactProperties:
      allOf:
        - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
        - $ref: '#/components/schemas/ArtifactPropertiesBase'
      description: Properties of a Template Artifact.
      properties:
        parameters:
          $ref: '#/components/schemas/ParameterValueCollection'
          description: Template parameter values.
        resourceGroup:
          description: >-
            If applicable, the name of the resource group placeholder to which
            the template will be deployed.
          type: string
        template:
          description: The Azure Resource Manager template body.
          type: object
      required:
        - template
        - parameters
      type: object
    keyVaultReference:
      description: Specifies the link to a KeyVault.
      properties:
        id:
          description: Azure resource ID of the KeyVault.
          type: string
      required:
        - id
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

