openapi: 3.0.0
info:
  description: MAC address pool operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
        - $ref: Fabric.json#/components/parameters/FilterParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacAddressPoolList'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - MacAddressPools
      description: Returns a list of all MAC address pools at a location.
      operationId: MacAddressPools_List
      x-ms-examples:
        Returns all MAC address pools:
          $ref: ./examples/MacAddressPool/List.json
      x-ms-odata: '#/components/schemas/MacAddressPool'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/macAddressPools/{macAddressPool}':
    get:
      parameters:
        - $ref: Fabric.json#/components/parameters/SubscriptionIdParameter
        - $ref: Fabric.json#/components/parameters/ResourceGroupParameter
        - $ref: Fabric.json#/components/parameters/LocationParameter
        - $ref: '#/components/parameters/MACAddressPoolParameter'
        - $ref: Fabric.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacAddressPool'
          description: OK
        '404':
          description: NOT FOUND
      tags:
        - MacAddressPools
      description: Returns the requested MAC address pool.
      operationId: MacAddressPools_Get
      x-ms-examples:
        Returns the requested MAC address pool.:
          $ref: ./examples/MacAddressPool/Get.json
components:
  parameters:
    MACAddressPoolParameter:
      description: Name of the MAC address pool.
      in: path
      name: macAddressPool
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    MacAddressPool:
      allOf:
        - $ref: Fabric.json#/definitions/Resource
      description: >-
        This resource represents a MAC address pool.  The default MAC address
        pools are used if you set the MAC address type for a virtual machine to
        'Static'.  If the virtual machine setting is 'Dynamic', the hypervisor
        assigns the MAC address.
      properties:
        properties:
          $ref: '#/components/schemas/MacAddressPoolModel'
          description: Properties of a MAC address pool.
          x-ms-client-flatten: true
      type: object
    MacAddressPoolList:
      description: A pageable list of MAC address pools.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of MAC address pools.
          items:
            $ref: '#/components/schemas/MacAddressPool'
          type: array
      type: object
    MacAddressPoolModel:
      description: Properties of a MAC address pool.
      properties:
        endMacAddress:
          description: Ending MAC address.
          type: string
        metadata:
          additionalProperties:
            type: string
          description: Metadata related to the MAC pool.
          type: object
        numberOfAllocatedMacAddresses:
          description: Number of MAC addresses allocated.
          format: int64
          type: integer
        numberOfAvailableMacAddresses:
          description: Number of MAC addresses available.
          format: int64
          type: integer
        startMacAddress:
          description: Starting MAC address.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

