openapi: 3.0.0
info:
  description: Mixed Reality Resource Provider REST API
  title: Mixed Reality
  version: 2019-02-28-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.MixedReality/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Proxy
      description: Exposing Available Operations
      operationId: Operations_List
      x-ms-examples:
        OperationList:
          $ref: ./examples/GetOperationList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/locationParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Proxy
      description: Check Name Availability for global uniqueness
      operationId: CheckNameAvailabilityLocal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: Check Name Availability Request.
        required: true
      x-ms-examples:
        CheckLocalNameAvailability:
          $ref: ./examples/CheckLocalNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Resource
        - Proxy
      description: List Spatial Anchors Accounts by Subscription
      operationId: SpatialAnchorsAccounts_ListBySubscription
      x-ms-examples:
        SpatialAnchorsAccountListBySubscription:
          $ref: ./examples/SpatialAnchorsAccount/GetBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: List Resources by Resource Group
      operationId: SpatialAnchorsAccounts_ListByResourceGroup
      x-ms-examples:
        ResourceGet:
          $ref: ./examples/SpatialAnchorsAccount/GetByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/spatialAnchorsAccountNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Delete a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Delete
      x-ms-examples:
        ResourceDelete:
          $ref: ./examples/SpatialAnchorsAccount/Delete.json
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/spatialAnchorsAccountNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Retrieve a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Get
      x-ms-examples:
        ResourceGet:
          $ref: ./examples/SpatialAnchorsAccount/Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/spatialAnchorsAccountNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Updating a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
      x-ms-examples:
        Update spatial anchors account:
          $ref: ./examples/SpatialAnchorsAccount/Patch.json
    put:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/spatialAnchorsAccountNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Resource
      description: Creating or Updating a Spatial Anchors Account.
      operationId: SpatialAnchorsAccounts_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
      x-ms-examples:
        ResourceCreate:
          $ref: ./examples/SpatialAnchorsAccount/Put.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}/keys':
    get:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/spatialAnchorsAccountNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountKeys'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Key
      description: Get Both of the 2 Keys of a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_GetKeys
      x-ms-examples:
        ResourceRegenerateKey:
          $ref: ./examples/SpatialAnchorsAccount/GetKeys.json
    post:
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/spatialAnchorsAccountNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountKeys'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Key
      description: Regenerate 1 Key of a Spatial Anchors Account
      operationId: SpatialAnchorsAccounts_RegenerateKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccountKeyRegenerateRequest'
        description: Specifying which key to be regenerated.
        required: true
      x-ms-examples:
        ResourceRegenerateKey:
          $ref: ./examples/SpatialAnchorsAccount/RegenerateKey.json
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    locationParameter:
      description: The location in which uniqueness will be verified.
      in: path
      name: location
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+$'
        type: string
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Name of an Azure resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+$'
        type: string
      x-ms-parameter-location: method
    spatialAnchorsAccountNameParameter:
      description: Name of an Mixed Reality Spatial Anchors Account.
      in: path
      name: spatialAnchorsAccountName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: '^[-\w\._\(\)]+$'
        type: string
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    SpatialAnchorsAccount:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
      description: Spatial Anchors Account parameter.
      required: true
  schemas:
    CheckNameAvailabilityRequest:
      description: Check Name Availability Request
      properties:
        name:
          description: Resource Name To Verify
          type: string
        type:
          description: Fully qualified resource type which includes provider namespace
          type: string
      required:
        - name
        - type
      type: object
    CheckNameAvailabilityResponse:
      description: Check Name Availability Response
      properties:
        message:
          description: detail message
          type: string
        nameAvailable:
          description: if name Available
          type: boolean
        reason:
          $ref: '#/components/schemas/NameUnavailableReason'
          description: Resource Name To Verify
      required:
        - nameAvailable
      type: object
    ErrorResponse:
      description: Response on Error
      properties:
        code:
          description: String that can be used to programmatically identify the error.
          type: string
        details:
          description: >-
            An array of JSON objects that MUST contain name/value pairs for code
            and message, and MAY contain a name/value pair for target, as
            described above.The contents of this section are service-defined but
            must adhere to the aforementioned schema.
          type: string
        message:
          description: Describes the error in detail and provides debugging information
          type: string
        target:
          description: The target of the particular error
          type: string
      required:
        - message
        - code
      type: object
    NameUnavailableReason:
      description: reason of name unavailable.
      enum:
        - Invalid
        - AlreadyExists
      type: string
      x-ms-enum:
        modelAsString: true
        name: NameUnavailableReason
    Operation:
      description: REST API operation
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: The object that represents the operation.
        isDataAction:
          description: Whether or not this is a data plane operation
          type: boolean
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        origin:
          description: The origin for the operation
          type: string
      type: object
    OperationDisplay:
      description: The object that represents the operation.
      properties:
        description:
          description: Description of operation
          type: string
        operation:
          description: 'Operation type: Read, write, delete, etc.'
          type: string
        provider:
          description: 'Service provider: Microsoft.ResourceProvider'
          type: string
        resource:
          description: >-
            Resource on which the operation is performed: Profile, endpoint,
            etc.
          type: string
      required:
        - provider
        - resource
        - operation
        - description
      type: object
    OperationList:
      description: >-
        Result of the request to list Resource Provider operations. It contains
        a list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of operations supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    SpatialAnchorsAccount:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: SpatialAnchorsAccount Response.
      properties:
        identity:
          $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Identity
          description: The identity associated with this account
        properties:
          $ref: '#/components/schemas/SpatialAnchorsAccountProperties'
          description: Property bag.
          x-ms-client-flatten: true
      type: object
    SpatialAnchorsAccountKeyRegenerateRequest:
      description: Spatial Anchors Account Regenerate Key
      properties:
        serial:
          default: 1
          description: serial of key to be regenerated
          enum:
            - 1
            - 2
          type: integer
          x-ms-enum:
            name: Serial
            values:
              - description: The Primary Key
                name: Primary
                value: 1
              - description: The Secondary Key
                name: Secondary
                value: 2
      type: object
    SpatialAnchorsAccountKeys:
      description: Spatial Anchors Account Keys
      properties:
        primaryKey:
          description: value of primary key.
          readOnly: true
          type: string
        secondaryKey:
          description: value of secondary key.
          readOnly: true
          type: string
      type: object
    SpatialAnchorsAccountList:
      description: >-
        Result of the request to get resource collection. It contains a list of
        resources and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of resource list results if there are any.
          type: string
        value:
          description: List of resources supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
          type: array
      type: object
    SpatialAnchorsAccountProperties:
      description: Spatial Anchors Account Customize Properties
      properties:
        accountDomain:
          description: Correspond domain name of certain Spatial Anchors Account
          readOnly: true
          type: string
        accountId:
          description: unique id of certain Spatial Anchors Account data contract.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

