{
  "openapi": "3.0.0",
  "info": {
    "description": "Deployment Admin Client.",
    "title": "DeploymentAdminClient",
    "version": "2019-01-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ActionPlanOperation.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "Deployment.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanIdParameter"
          },
          {
            "$ref": "Deployment.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionPlanOperationsList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Deployment.json#/definitions/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "ActionPlanOperations"
        ],
        "description": "Lists the action plan operations",
        "operationId": "ActionPlanOperations_List",
        "x-ms-examples": {
          "Lists the action plan operations": {
            "$ref": "./examples/ActionPlanOperations/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations/{operationId}": {
      "get": {
        "parameters": [
          {
            "$ref": "Deployment.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanIdParameter"
          },
          {
            "$ref": "#/components/parameters/OperationIdParameter"
          },
          {
            "$ref": "Deployment.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionPlanOperationResourceEntity"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Deployment.json#/definitions/ExtendedErrorInfo"
                }
              }
            },
            "description": "Default Response."
          }
        },
        "tags": [
          "ActionPlanOperations"
        ],
        "description": "Gets the specified action plan operation",
        "operationId": "ActionPlanOperations_Get",
        "x-ms-examples": {
          "Gets the specified action plan operation": {
            "$ref": "./examples/ActionPlanOperations/Get.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OperationIdParameter": {
        "description": "Identifier of the action plan operation.",
        "in": "path",
        "name": "operationId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "PlanIdParameter": {
        "description": "Identifier of the action plan.",
        "in": "path",
        "name": "planId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ActionPlanOperationAdminProperties": {
        "description": "Action Plan Operation Properties",
        "properties": {
          "parameters": {
            "description": "The deployment parameters in JToken format",
            "type": "object"
          },
          "actionPlanInstanceId": {
            "description": "Action plan instance identifier",
            "type": "string"
          },
          "actionPlanOperationId": {
            "description": "Action plan operation identifier",
            "type": "string"
          },
          "blobContainerName": {
            "description": "Blob container name storing the deployment data",
            "type": "string"
          },
          "description": {
            "description": "The operation description",
            "type": "string"
          },
          "endTime": {
            "description": "The deployment end time",
            "format": "date-time",
            "type": "string"
          },
          "error": {
            "$ref": "Deployment.json#/definitions/ExtendedErrorInfo",
            "description": "Error Information"
          },
          "outputs": {
            "description": "The action plan operation outputs in JToken format",
            "type": "object"
          },
          "provisioningState": {
            "description": "The provisioning state",
            "type": "string"
          },
          "startTime": {
            "description": "The deployment start time",
            "format": "date-time",
            "type": "string"
          },
          "subscriptionId": {
            "description": "The target subscription identifier",
            "type": "string"
          },
          "title": {
            "description": "The operation title",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ActionType",
            "description": "The action plan operation type"
          }
        },
        "type": "object"
      },
      "ActionPlanOperationResourceEntity": {
        "allOf": [
          {
            "$ref": "Deployment.json#/definitions/Resource"
          }
        ],
        "description": "Action Plan Operation Resource Entity",
        "properties": {
          "eTag": {
            "description": "Entity tag of the resource",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ActionPlanOperationAdminProperties",
            "description": "Action Plan Properties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ActionPlanOperationsList": {
        "description": "List of action plan operations",
        "properties": {
          "nextLink": {
            "description": "Continuation token",
            "type": "string"
          },
          "value": {
            "description": "Array of action plan operations.",
            "items": {
              "$ref": "#/components/schemas/ActionPlanOperationResourceEntity"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ActionType": {
        "description": "Action plan operation type",
        "type": "string"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}