openapi: 3.0.0
info:
  description: >-
    The Microsoft Azure Network management API provides a RESTful set of web
    services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship
    between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2019-09-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/ipGroups':
    get:
      parameters:
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroupListResult'
          description: >-
            Request successful. The operation returns a list of ipGroups
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Unexpected error.
      tags:
        - IpGroups
      description: Gets all IpGroups in a subscription.
      operationId: IpGroups_List
      x-ms-examples:
        List_IpGroups:
          $ref: ./examples/IpGroupsListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups':
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroupListResult'
          description: >-
            Request successful. The operation returns a list of ipGroups
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Unexpected error.
      tags:
        - IpGroups
      description: Gets all IpGroups in a resource group.
      operationId: IpGroups_ListByResourceGroup
      x-ms-examples:
        ListByResourceGroup_IpGroups:
          $ref: ./examples/IpGroupsListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups/{ipGroupsName}':
    delete:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Unexpected error.
      tags:
        - IpGroups
      description: Deletes the specified ipGroups.
      operationId: IpGroups_Delete
      x-ms-examples:
        Delete_IpGroups:
          $ref: ./examples/IpGroupsDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
        - description: >-
            Expands resourceIds (of Firewalls/Network Security Groups etc.) back
            referenced by the IpGroups resource.
          in: query
          name: $expand
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: >-
            Request successful. The operation returns the resulting IpGroups
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Unexpected error.
      tags:
        - IpGroups
      description: Gets the specified ipGroups.
      operationId: IpGroups_Get
      x-ms-examples:
        Get_IpGroups:
          $ref: ./examples/IpGroupsGet.json
    patch:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: >-
            Request successful. The operation returns the resulting ipGroups
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Unexpected error.
      tags:
        - IpGroups
      description: Updates tags of an IpGroups resource.
      operationId: IpGroups_UpdateGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to the update ipGroups operation.
        required: true
      x-ms-examples:
        Update_IpGroups:
          $ref: ./examples/IpGroupsUpdateTags.json
    put:
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          schema:
            type: string
        - $ref: ./network.json#/components/parameters/ApiVersionParameter
        - $ref: ./network.json#/components/parameters/SubscriptionIdParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: >-
            Request successful. The operation returns the resulting ipGroups
            resource.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpGroup'
          description: >-
            Create successful. The operation returns the resulting ipGroups
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
          description: Unexpected error.
      tags:
        - IpGroups
      description: Creates or updates an ipGroups in a specified resource group.
      operationId: IpGroups_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpGroup'
        description: Parameters supplied to the create or update IpGroups operation.
        required: true
      x-ms-examples:
        CreateOrUpdate_IpGroups:
          $ref: ./examples/IpGroupsCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  schemas:
    IpGroup:
      allOf:
        - $ref: ./network.json#/definitions/Resource
      description: The IpGroups resource information.
      properties:
        etag:
          description: >-
            A unique read-only string that changes whenever the resource is
            updated.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/IpGroupPropertiesFormat'
          description: Properties of the IpGroups.
          x-ms-client-flatten: true
      type: object
    IpGroupListResult:
      description: Response for the ListIpGroups API service call.
      properties:
        nextLink:
          description: URL to get the next set of results.
          type: string
        value:
          description: The list of IpGroups information resources.
          items:
            $ref: '#/components/schemas/IpGroup'
          type: array
      type: object
    IpGroupPropertiesFormat:
      description: The IpGroups property information.
      properties:
        firewalls:
          description: >-
            List of references to Azure resources that this IpGroups is
            associated with.
          items:
            $ref: ./network.json#/definitions/SubResource
          readOnly: true
          type: array
        ipAddresses:
          description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
          items:
            type: string
          type: array
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the IpGroups resource.
          readOnly: true
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

