openapi: 3.0.0
info:
  description: Azure EventGrid Management Client
  title: EventGridManagementClient
  version: 2019-02-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.EventGrid/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Operations
      description: >-
        List the available operations supported by the Microsoft.EventGrid
        resource provider
      operationId: Operations_List
      summary: List available operations
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.EventGrid/topicTypes:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypesListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - TopicTypes
      description: List all registered topic types
      operationId: TopicTypes_List
      summary: List topic types
      x-ms-examples:
        TopicTypes_List:
          $ref: ./examples/TopicTypes_List.json
      x-ms-pageable:
        nextLinkName: null
  '/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}':
    get:
      parameters:
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicTypeInfo'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - TopicTypes
      description: Get information about a topic type
      operationId: TopicTypes_Get
      summary: Get a topic type
      x-ms-examples:
        TopicTypes_Get:
          $ref: ./examples/TopicTypes_Get.json
  '/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes':
    get:
      parameters:
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - TopicTypes
      description: List event types for a topic type
      operationId: TopicTypes_ListEventTypes
      summary: List event types
      x-ms-examples:
        TopicTypes_ListEventTypes:
          $ref: ./examples/TopicTypes_ListEventTypes.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/domains':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: List all the domains under an Azure subscription
      operationId: Domains_ListBySubscription
      summary: List domains under an Azure subscription
      x-ms-examples:
        Domains_ListBySubscription:
          $ref: ./examples/Domains_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all aggregated global event subscriptions under a specific Azure
        subscription
      operationId: EventSubscriptions_ListGlobalBySubscription
      summary: >-
        Get an aggregated list of all global event subscriptions under an Azure
        subscription
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          $ref: ./examples/EventSubscriptions_ListGlobalBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription
      operationId: EventSubscriptions_ListRegionalBySubscription
      summary: List all regional event subscriptions under an Azure subscription
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          $ref: ./examples/EventSubscriptions_ListRegionalBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription and topic type.
      operationId: EventSubscriptions_ListRegionalBySubscriptionForTopicType
      summary: >-
        List all regional event subscriptions under an Azure subscription for a
        topic type
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListRegionalBySubscriptionForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all global event subscriptions under an Azure subscription for a
        topic type.
      operationId: EventSubscriptions_ListGlobalBySubscriptionForTopicType
      summary: List all global event subscriptions for a topic type
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListGlobalBySubscriptionForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List all the topics under an Azure subscription
      operationId: Topics_ListBySubscription
      summary: List topics under an Azure subscription
      x-ms-examples:
        Topics_ListBySubscription:
          $ref: ./examples/Topics_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: List all the domains under a resource group
      operationId: Domains_ListByResourceGroup
      summary: List domains under a resource group
      x-ms-examples:
        Domains_ListByResourceGroup:
          $ref: ./examples/Domains_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: Delete existing domain
      operationId: Domains_Delete
      summary: Delete a domain
      x-ms-examples:
        Domains_Delete:
          $ref: ./examples/Domains_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: Get properties of a domain
      operationId: Domains_Get
      summary: Get a domain
      x-ms-examples:
        Domains_Get:
          $ref: ./examples/Domains_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain update request accepted.
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: Asynchronously updates a domain with the specified parameters.
      operationId: Domains_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateParameters'
        description: Domain update information
        required: true
      summary: Update a domain
      x-ms-examples:
        Domains_Update:
          $ref: ./examples/Domains_Update.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Created
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: >-
        Asynchronously creates or updates a new domain with the specified
        parameters.
      operationId: Domains_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain information
        required: true
      summary: Create or update a domain
      x-ms-examples:
        Domains_CreateOrUpdate:
          $ref: ./examples/Domains_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: List the two keys used to publish to a domain
      operationId: Domains_ListSharedAccessKeys
      summary: List keys for a domain
      x-ms-examples:
        Domains_ListSharedAccessKeys:
          $ref: ./examples/Domains_ListSharedAccessKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/regenerateKey':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Domains
      description: Regenerate a shared access key for a domain
      operationId: Domains_RegenerateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegenerateKeyRequest'
        description: Request body to regenerate key
        required: true
      summary: Regenerate key for a domain
      x-ms-examples:
        Domains_RegenerateKey:
          $ref: ./examples/Domains_RegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Domain name.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopicsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - DomainTopics
      description: List all the topics in a domain.
      operationId: DomainTopics_ListByDomain
      summary: List domain topics.
      x-ms-examples:
        DomainTopics_ListByDomain:
          $ref: ./examples/DomainTopics_ListByDomain.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{domainTopicName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of the domain topic
          in: path
          name: domainTopicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - DomainTopics
      description: Delete existing domain topic
      operationId: DomainTopics_Delete
      summary: Delete a domain topic
      x-ms-examples:
        DomainTopics_Delete:
          $ref: ./examples/DomainTopics_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: domainTopicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - DomainTopics
      description: Get properties of a domain topic
      operationId: DomainTopics_Get
      summary: Get a domain topic
      x-ms-examples:
        DomainTopics_Get:
          $ref: ./examples/DomainTopics_Get.json
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of the domain topic
          in: path
          name: domainTopicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
          description: Created
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - DomainTopics
      description: >-
        Asynchronously creates or updates a new domain topic with the specified
        parameters.
      operationId: DomainTopics_CreateOrUpdate
      summary: Create or update a domain topic
      x-ms-examples:
        DomainTopics_CreateOrUpdate:
          $ref: ./examples/DomainTopics_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the top level domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of the domain topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions that have been created for a specific
        domain topic
      operationId: EventSubscriptions_ListByDomainTopic
      summary: List all event subscriptions for a specific domain topic
      x-ms-examples:
        EventSubscriptions_ListByDomainTopic:
          $ref: ./examples/EventSubscriptions_ListByDomainTopic.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all global event subscriptions under a specific Azure subscription
        and resource group
      operationId: EventSubscriptions_ListGlobalByResourceGroup
      summary: >-
        List all global event subscriptions under an Azure subscription and
        resource group
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          $ref: ./examples/EventSubscriptions_ListGlobalByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription and resource group
      operationId: EventSubscriptions_ListRegionalByResourceGroup
      summary: >-
        List all regional event subscriptions under an Azure subscription and
        resource group
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          $ref: ./examples/EventSubscriptions_ListRegionalByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the location
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all event subscriptions from the given location under a specific
        Azure subscription and resource group and topic type
      operationId: EventSubscriptions_ListRegionalByResourceGroupForTopicType
      summary: >-
        List all regional event subscriptions under an Azure subscription and
        resource group for a topic type
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListRegionalByResourceGroupForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        List all global event subscriptions under a resource group for a
        specific topic type.
      operationId: EventSubscriptions_ListGlobalByResourceGroupForTopicType
      summary: >-
        List all global event subscriptions under a resource group for a topic
        type
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          $ref: >-
            ./examples/EventSubscriptions_ListGlobalByResourceGroupForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List all the topics under a resource group
      operationId: Topics_ListByResourceGroup
      summary: List topics under a resource group
      x-ms-examples:
        Topics_ListByResourceGroup:
          $ref: ./examples/Topics_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Delete existing topic
      operationId: Topics_Delete
      summary: Delete a topic
      x-ms-examples:
        Topics_Delete:
          $ref: ./examples/Topics_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Get properties of a topic
      operationId: Topics_Get
      summary: Get a topic
      x-ms-examples:
        Topics_Get:
          $ref: ./examples/Topics_Get.json
    patch:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: Topic update request accepted.
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Asynchronously updates a topic with the specified parameters.
      operationId: Topics_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicUpdateParameters'
        description: Topic update information
        required: true
      summary: Update a topic
      x-ms-examples:
        Topics_Update:
          $ref: ./examples/Topics_Update.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
          description: Created
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Asynchronously creates a new topic with the specified parameters.
      operationId: Topics_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topic'
        description: Topic information
        required: true
      summary: Create a topic
      x-ms-examples:
        Topics_CreateOrUpdate:
          $ref: ./examples/Topics_CreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/listKeys':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List the two keys used to publish to a topic
      operationId: Topics_ListSharedAccessKeys
      summary: List keys for a topic
      x-ms-examples:
        Topics_ListSharedAccessKeys:
          $ref: ./examples/Topics_ListSharedAccessKeys.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/regenerateKey':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: Regenerate a shared access key for a topic
      operationId: Topics_RegenerateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicRegenerateKeyRequest'
        description: Request body to regenerate key
        required: true
      summary: Regenerate key for a topic
      x-ms-examples:
        Topics_RegenerateKey:
          $ref: ./examples/Topics_RegenerateKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Namespace of the provider of the topic
          in: path
          name: providerNamespace
          required: true
          schema:
            type: string
        - description: Name of the resource type
          in: path
          name: resourceTypeName
          required: true
          schema:
            type: string
        - description: Name of the resource
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/TopParameter'
        - $ref: '#/components/parameters/LabelFilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: List all event subscriptions that have been created for a specific topic
      operationId: EventSubscriptions_ListByResource
      summary: List all event subscriptions for a specific topic
      x-ms-examples:
        EventSubscriptions_ListByResource:
          $ref: ./examples/EventSubscriptions_ListByResource.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Namespace of the provider of the topic
          in: path
          name: providerNamespace
          required: true
          schema:
            type: string
        - description: Name of the topic type
          in: path
          name: resourceTypeName
          required: true
          schema:
            type: string
        - description: Name of the topic
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - Topics
      description: List event types for a topic
      operationId: Topics_ListEventTypes
      summary: List topic event types
      x-ms-examples:
        Topics_ListEventTypes:
          $ref: ./examples/Topics_ListEventTypes.json
      x-ms-pageable:
        nextLinkName: null
  '/{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}':
    delete:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Delete an existing event subscription
      operationId: EventSubscriptions_Delete
      summary: Delete an event subscription
      x-ms-examples:
        EventSubscriptions_DeleteForCustomTopic:
          $ref: ./examples/EventSubscriptions_DeleteForCustomTopic.json
        EventSubscriptions_DeleteForResource:
          $ref: ./examples/EventSubscriptions_DeleteForResource.json
        EventSubscriptions_DeleteForResourceGroup:
          $ref: ./examples/EventSubscriptions_DeleteForResourceGroup.json
        EventSubscriptions_DeleteForSubscription:
          $ref: ./examples/EventSubscriptions_DeleteForSubscription.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Get properties of an event subscription
      operationId: EventSubscriptions_Get
      summary: Get an event subscription
      x-ms-examples:
        EventSubscriptions_GetForCustomTopic:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic.json
        EventSubscriptions_GetForResource:
          $ref: ./examples/EventSubscriptions_GetForResource.json
        EventSubscriptions_GetForResourceGroup:
          $ref: ./examples/EventSubscriptions_GetForResourceGroup.json
        EventSubscriptions_GetForSubscription:
          $ref: ./examples/EventSubscriptions_GetForSubscription.json
    patch:
      parameters:
        - allowReserved: true
          description: >-
            The scope of existing event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription to be updated
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          description: EventSubscription update request accepted.
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Asynchronously updates an existing event subscription.
      operationId: EventSubscriptions_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information
        required: true
      summary: Update an event subscription
      x-ms-examples:
        EventSubscriptions_UpdateForCustomTopic:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic.json
        EventSubscriptions_UpdateForResource:
          $ref: ./examples/EventSubscriptions_UpdateForResource.json
        EventSubscriptions_UpdateForResourceGroup:
          $ref: ./examples/EventSubscriptions_UpdateForResourceGroup.json
        EventSubscriptions_UpdateForSubscription:
          $ref: ./examples/EventSubscriptions_UpdateForSubscription.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - allowReserved: true
          description: >-
            The identifier of the resource to which the event subscription needs
            to be created or updated. The scope can be a subscription, or a
            resource group, or a top level resource belonging to a resource
            provider namespace, or an EventGrid topic. For example, use
            '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: >-
            Name of the event subscription. Event subscription names must be
            between 3 and 64 characters in length and should use alphanumeric
            letters only.
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
          description: EventSubscription CreateOrUpdate request accepted.
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: >-
        Asynchronously creates a new event subscription or updates an existing
        event subscription based on the specified scope.
      operationId: EventSubscriptions_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: >-
          Event subscription properties containing the destination and filter
          information
        required: true
      summary: Create or update an event subscription
      x-ms-examples:
        EventSubscriptions_CreateOrUpdateForCustomTopic:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic.json
        EventSubscriptions_CreateOrUpdateForResource:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForResource.json
        EventSubscriptions_CreateOrUpdateForResourceGroup:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForResourceGroup.json
        EventSubscriptions_CreateOrUpdateForSubscription:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForSubscription.json
      x-ms-long-running-operation: true
  '/{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}/getFullUrl':
    post:
      parameters:
        - allowReserved: true
          description: >-
            The scope of the event subscription. The scope can be a
            subscription, or a resource group, or a top level resource belonging
            to a resource provider namespace, or an EventGrid topic. For
            example, use '/subscriptions/{subscriptionId}/' for a subscription,
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
            for a resource group, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
            for a resource, and
            '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
            for an EventGrid topic.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
          description: OK
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      tags:
        - EventSubscriptions
      description: Get the full endpoint URL for an event subscription
      operationId: EventSubscriptions_GetFullUrl
      summary: Get full URL of an event subscription
      x-ms-examples:
        EventSubscriptions_GetFullUrlForCustomTopic:
          $ref: ./examples/EventSubscriptions_GetFullUrlForCustomTopic.json
        EventSubscriptions_GetFullUrlForResource:
          $ref: ./examples/EventSubscriptions_GetFullUrlForResource.json
        EventSubscriptions_GetFullUrlForResourceGroup:
          $ref: ./examples/EventSubscriptions_GetFullUrlForResourceGroup.json
        EventSubscriptions_GetFullUrlForSubscription:
          $ref: ./examples/EventSubscriptions_GetFullUrlForSubscription.json
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    FilterParameter:
      description: Filter the results using OData syntax.
      in: query
      name: $filter
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    LabelFilterParameter:
      description: The label used to filter the results for event subscriptions list.
      in: query
      name: label
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TopParameter:
      description: The number of results to return.
      in: query
      name: $top
      required: false
      schema:
        type: integer
      x-ms-parameter-location: method
  schemas:
    AdvancedFilter:
      description: >-
        This is the base type that represents an advanced filter. To configure
        an advanced filter, do not directly instantiate an object of this class.
        Instead, instantiate an object of a derived class such as
        BoolEqualsAdvancedFilter, NumberInAdvancedFilter,
        StringEqualsAdvancedFilter etc. depending on the type of the key based
        on which you want to filter.
      discriminator:
        propertyName: operatorType
      properties:
        key:
          description: The field/property in the event based on which you want to filter.
          type: string
        operatorType:
          description: >-
            The operator type used for filtering, e.g., NumberIn,
            StringContains, BoolEquals and others.
          enum:
            - NumberIn
            - NumberNotIn
            - NumberLessThan
            - NumberGreaterThan
            - NumberLessThanOrEquals
            - NumberGreaterThanOrEquals
            - BoolEquals
            - StringIn
            - StringNotIn
            - StringBeginsWith
            - StringEndsWith
            - StringContains
          type: string
          x-ms-enum:
            modelAsString: true
            name: AdvancedFilterOperatorType
      required:
        - operatorType
      type: object
    BoolEqualsAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: BoolEquals Advanced Filter.
      properties:
        value:
          description: The boolean filter value.
          type: boolean
      type: object
      x-ms-discriminator-value: BoolEquals
    DeadLetterDestination:
      description: >-
        Information about the dead letter destination for an event subscription.
        To configure a deadletter destination, do not directly instantiate an
        object of this class. Instead, instantiate an object of a derived class.
        Currently, StorageBlobDeadLetterDestination is the only class that
        derives from this class.
      discriminator:
        propertyName: endpointType
      properties:
        endpointType:
          description: Type of the endpoint for the dead letter destination
          enum:
            - StorageBlob
          type: string
          x-ms-enum:
            modelAsString: true
            name: DeadLetterEndPointType
      required:
        - endpointType
      type: object
    Domain:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: EventGrid Domain
      properties:
        properties:
          $ref: '#/components/schemas/DomainProperties'
          description: Properties of the domain
          x-ms-client-flatten: true
      type: object
    DomainProperties:
      description: Properties of the Domain
      properties:
        endpoint:
          description: Endpoint for the domain.
          readOnly: true
          type: string
        inputSchema:
          default: EventGridSchema
          description: >-
            This determines the format that Event Grid should expect for
            incoming events published to the domain.
          enum:
            - EventGridSchema
            - CustomEventSchema
            - CloudEventV01Schema
          type: string
          x-ms-enum:
            modelAsString: true
            name: InputSchema
        inputSchemaMapping:
          $ref: '#/components/schemas/InputSchemaMapping'
          description: >-
            Information about the InputSchemaMapping which specified the info
            about mapping event payload.
        provisioningState:
          description: Provisioning state of the domain.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: DomainProvisioningState
      type: object
    DomainRegenerateKeyRequest:
      description: Domain regenerate share access key request
      properties:
        keyName:
          description: Key name to regenerate key1 or key2
          type: string
      required:
        - keyName
      type: object
    DomainSharedAccessKeys:
      description: Shared access keys of the Domain
      properties:
        key1:
          description: Shared access key1 for the domain.
          type: string
        key2:
          description: Shared access key2 for the domain.
          type: string
      type: object
    DomainTopic:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Domain Topic
      properties:
        properties:
          $ref: '#/components/schemas/DomainTopicProperties'
          description: Properties of the Domain Topic
          x-ms-client-flatten: true
      type: object
    DomainTopicProperties:
      description: Properties of the Domain Topic
      properties:
        provisioningState:
          description: Provisioning state of the domain topic.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          type: string
          x-ms-enum:
            modelAsString: true
            name: DomainTopicProvisioningState
      type: object
    DomainTopicsListResult:
      description: Result of the List Domain Topics operation
      properties:
        nextLink:
          description: A link for the next page of domain topics
          type: string
        value:
          description: A collection of Domain Topics
          items:
            $ref: '#/components/schemas/DomainTopic'
          type: array
      type: object
    DomainUpdateParameters:
      description: Properties of the Domain update
      properties:
        tags:
          additionalProperties:
            type: string
          description: Tags of the domains resource
          type: object
      type: object
    DomainsListResult:
      description: Result of the List Domains operation
      properties:
        nextLink:
          description: A link for the next page of domains
          type: string
        value:
          description: A collection of Domains
          items:
            $ref: '#/components/schemas/Domain'
          type: array
      type: object
    EventHubEventSubscriptionDestination:
      allOf:
        - $ref: '#/components/schemas/EventSubscriptionDestination'
      description: Information about the event hub destination for an event subscription
      properties:
        properties:
          $ref: '#/components/schemas/EventHubEventSubscriptionDestinationProperties'
          description: Event Hub Properties of the event subscription destination
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: EventHub
    EventHubEventSubscriptionDestinationProperties:
      description: The properties for a event hub destination.
      properties:
        resourceId:
          description: >-
            The Azure Resource Id that represents the endpoint of an Event Hub
            destination of an event subscription.
          type: string
      type: object
    EventSubscription:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Event Subscription
      properties:
        properties:
          $ref: '#/components/schemas/EventSubscriptionProperties'
          description: Properties of the event subscription
          x-ms-client-flatten: true
      type: object
    EventSubscriptionDestination:
      description: Information about the destination for an event subscription
      discriminator:
        propertyName: endpointType
      properties:
        endpointType:
          description: Type of the endpoint for the event subscription destination
          enum:
            - WebHook
            - EventHub
            - StorageQueue
            - HybridConnection
            - ServiceBusQueue
          type: string
          x-ms-enum:
            modelAsString: true
            name: EndpointType
      required:
        - endpointType
      type: object
    EventSubscriptionFilter:
      description: Filter for the Event Subscription
      properties:
        advancedFilters:
          description: >-
            An array of advanced filters that are used for filtering event
            subscriptions.
          items:
            $ref: '#/components/schemas/AdvancedFilter'
          type: array
        includedEventTypes:
          description: >-
            A list of applicable event types that need to be part of the event
            subscription. If it is desired to subscribe to all default event
            types, set the IncludedEventTypes to null.
          items:
            type: string
          type: array
        isSubjectCaseSensitive:
          default: false
          description: "Specifies if the SubjectBeginsWith and SubjectEndsWith properties of the filter \r\nshould be compared in a case sensitive manner."
          type: boolean
        subjectBeginsWith:
          description: "An optional string to filter events for an event subscription based on a resource path prefix.\r\nThe format of this depends on the publisher of the events. \r\nWildcard characters are not supported in this path."
          type: string
        subjectEndsWith:
          description: "An optional string to filter events for an event subscription based on a resource path suffix.\r\nWildcard characters are not supported in this path."
          type: string
      type: object
    EventSubscriptionFullUrl:
      description: Full endpoint url of an event subscription
      properties:
        endpointUrl:
          description: >-
            The URL that represents the endpoint of the destination of an event
            subscription.
          type: string
      type: object
    EventSubscriptionProperties:
      description: Properties of the Event Subscription
      properties:
        deadLetterDestination:
          $ref: '#/components/schemas/DeadLetterDestination'
          description: The DeadLetter destination of the event subscription.
        destination:
          $ref: '#/components/schemas/EventSubscriptionDestination'
          description: >-
            Information about the destination where events have to be delivered
            for the event subscription.
        eventDeliverySchema:
          description: The event delivery schema for the event subscription.
          enum:
            - EventGridSchema
            - CloudEventV01Schema
            - CustomInputSchema
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventDeliverySchema
        expirationTimeUtc:
          description: Expiration time of the event subscription.
          format: date-time
          type: string
        filter:
          $ref: '#/components/schemas/EventSubscriptionFilter'
          description: Information about the filter for the event subscription.
        labels:
          description: List of user defined labels.
          items:
            type: string
          type: array
        provisioningState:
          description: Provisioning state of the event subscription.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
            - AwaitingManualAction
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventSubscriptionProvisioningState
        retryPolicy:
          $ref: '#/components/schemas/RetryPolicy'
          description: >-
            The retry policy for events. This can be used to configure maximum
            number of delivery attempts and time to live for events.
        topic:
          description: Name of the topic of the event subscription.
          readOnly: true
          type: string
      type: object
    EventSubscriptionUpdateParameters:
      description: Properties of the Event Subscription update
      properties:
        deadLetterDestination:
          $ref: '#/components/schemas/DeadLetterDestination'
          description: The DeadLetter destination of the event subscription.
        destination:
          $ref: '#/components/schemas/EventSubscriptionDestination'
          description: >-
            Information about the destination where events have to be delivered
            for the event subscription.
        eventDeliverySchema:
          description: The event delivery schema for the event subscription.
          enum:
            - EventGridSchema
            - CloudEventV01Schema
            - CustomInputSchema
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventDeliverySchema
        expirationTimeUtc:
          description: Information about the expiration time for the event subscription.
          format: date-time
          type: string
        filter:
          $ref: '#/components/schemas/EventSubscriptionFilter'
          description: Information about the filter for the event subscription.
        labels:
          description: List of user defined labels.
          items:
            type: string
          type: array
        retryPolicy:
          $ref: '#/components/schemas/RetryPolicy'
          description: >-
            The retry policy for events. This can be used to configure maximum
            number of delivery attempts and time to live for events.
      type: object
    EventSubscriptionsListResult:
      description: Result of the List EventSubscriptions operation
      properties:
        nextLink:
          description: A link for the next page of event subscriptions
          type: string
        value:
          description: A collection of EventSubscriptions
          items:
            $ref: '#/components/schemas/EventSubscription'
          type: array
      type: object
    EventType:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Event Type for a subject under a topic
      properties:
        properties:
          $ref: '#/components/schemas/EventTypeProperties'
          description: Properties of the event type.
          x-ms-client-flatten: true
      type: object
    EventTypeProperties:
      description: Properties of the event type
      properties:
        description:
          description: Description of the event type.
          type: string
        displayName:
          description: Display name of the event type.
          type: string
        isInDefaultSet:
          description: IsInDefaultSet flag of the event type.
          type: boolean
        schemaUrl:
          description: Url of the schema for this event type.
          type: string
      type: object
    EventTypesListResult:
      description: Result of the List Event Types operation
      properties:
        value:
          description: A collection of event types
          items:
            $ref: '#/components/schemas/EventType'
          type: array
      type: object
    HybridConnectionEventSubscriptionDestination:
      allOf:
        - $ref: '#/components/schemas/EventSubscriptionDestination'
      description: >-
        Information about the HybridConnection destination for an event
        subscription.
      properties:
        properties:
          $ref: >-
            #/components/schemas/HybridConnectionEventSubscriptionDestinationProperties
          description: Hybrid connection Properties of the event subscription destination
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: HybridConnection
    HybridConnectionEventSubscriptionDestinationProperties:
      description: The properties for a hybrid connection destination.
      properties:
        resourceId:
          description: >-
            The Azure Resource ID of an hybrid connection that is the
            destination of an event subscription.
          type: string
      type: object
    InputSchemaMapping:
      description: >-
        By default, Event Grid expects events to be in the Event Grid event
        schema. Specifying an input schema mapping enables publishing to Event
        Grid using a custom input schema. Currently, the only supported type of
        InputSchemaMapping is 'JsonInputSchemaMapping'.
      discriminator:
        propertyName: inputSchemaMappingType
      properties:
        inputSchemaMappingType:
          description: Type of the custom mapping
          enum:
            - Json
          type: string
          x-ms-enum:
            modelAsString: true
            name: InputSchemaMappingType
      type: object
    JsonField:
      description: >-
        This is used to express the source of an input schema mapping for a
        single target field in the Event Grid Event schema. This is currently
        used in the mappings for the 'id', 'topic' and 'eventtime' properties.
        This represents a field in the input event schema.
      properties:
        sourceField:
          description: >-
            Name of a field in the input event schema that's to be used as the
            source of a mapping.
          type: string
      type: object
    JsonFieldWithDefault:
      description: "This is used to express the source of an input schema mapping for a single target field\r\nin the Event Grid Event schema. This is currently used in the mappings for the 'subject',\r\n'eventtype' and 'dataversion' properties. This represents a field in the input event schema\r\nalong with a default value to be used, and at least one of these two properties should be provided."
      properties:
        defaultValue:
          description: >-
            The default value to be used for mapping when a SourceField is not
            provided or if there's no property with the specified name in the
            published JSON event payload.
          type: string
        sourceField:
          description: >-
            Name of a field in the input event schema that's to be used as the
            source of a mapping.
          type: string
      type: object
    JsonInputSchemaMapping:
      allOf:
        - $ref: '#/components/schemas/InputSchemaMapping'
      description: >-
        This enables publishing to Event Grid using a custom input schema. This
        can be used to map properties from a custom input JSON schema to the
        Event Grid event schema.
      properties:
        properties:
          $ref: '#/components/schemas/JsonInputSchemaMappingProperties'
          description: JSON Properties of the input schema mapping
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: Json
    JsonInputSchemaMappingProperties:
      description: >-
        This can be used to map properties of a source schema (or default
        values, for certain supported properties) to properties of the
        EventGridEvent schema.
      properties:
        dataVersion:
          $ref: '#/components/schemas/JsonFieldWithDefault'
          description: >-
            The mapping information for the DataVersion property of the Event
            Grid Event.
        eventTime:
          $ref: '#/components/schemas/JsonField'
          description: >-
            The mapping information for the EventTime property of the Event Grid
            Event.
        eventType:
          $ref: '#/components/schemas/JsonFieldWithDefault'
          description: >-
            The mapping information for the EventType property of the Event Grid
            Event.
        id:
          $ref: '#/components/schemas/JsonField'
          description: The mapping information for the Id property of the Event Grid Event.
        subject:
          $ref: '#/components/schemas/JsonFieldWithDefault'
          description: >-
            The mapping information for the Subject property of the Event Grid
            Event.
        topic:
          $ref: '#/components/schemas/JsonField'
          description: >-
            The mapping information for the Topic property of the Event Grid
            Event.
      type: object
    NumberGreaterThanAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: NumberGreaterThan Advanced Filter.
      properties:
        value:
          description: The filter value.
          format: double
          type: number
      type: object
      x-ms-discriminator-value: NumberGreaterThan
    NumberGreaterThanOrEqualsAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: NumberGreaterThanOrEquals Advanced Filter.
      properties:
        value:
          description: The filter value.
          format: double
          type: number
      type: object
      x-ms-discriminator-value: NumberGreaterThanOrEquals
    NumberInAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: NumberIn Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            format: double
            type: number
          type: array
      type: object
      x-ms-discriminator-value: NumberIn
    NumberLessThanAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: NumberLessThan Advanced Filter.
      properties:
        value:
          description: The filter value.
          format: double
          type: number
      type: object
      x-ms-discriminator-value: NumberLessThan
    NumberLessThanOrEqualsAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: NumberLessThanOrEquals Advanced Filter.
      properties:
        value:
          description: The filter value.
          format: double
          type: number
      type: object
      x-ms-discriminator-value: NumberLessThanOrEquals
    NumberNotInAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: NumberNotIn Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            format: double
            type: number
          type: array
      type: object
      x-ms-discriminator-value: NumberNotIn
    Operation:
      description: Represents an operation returned by the GetOperations request
      properties:
        display:
          $ref: '#/components/schemas/OperationInfo'
          description: Display name of the operation
        name:
          description: Name of the operation
          type: string
        origin:
          description: Origin of the operation
          type: string
        properties:
          description: Properties of the operation
          type: object
          x-ms-client-flatten: true
      type: object
    OperationInfo:
      description: Information about an operation
      properties:
        description:
          description: Description of the operation
          type: string
        operation:
          description: Name of the operation
          type: string
        provider:
          description: Name of the provider
          type: string
        resource:
          description: Name of the resource type
          type: string
      type: object
    OperationsListResult:
      description: Result of the List Operations operation
      properties:
        value:
          description: A collection of operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Resource:
      description: Definition of a Resource
      properties:
        id:
          description: Fully qualified identifier of the resource
          readOnly: true
          type: string
        name:
          description: Name of the resource
          readOnly: true
          type: string
        type:
          description: Type of the resource
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RetryPolicy:
      description: Information about the retry policy for an event subscription
      properties:
        eventTimeToLiveInMinutes:
          description: Time To Live (in minutes) for events.
          format: int32
          type: integer
        maxDeliveryAttempts:
          description: Maximum number of delivery retry attempts for events.
          format: int32
          type: integer
      type: object
    ServiceBusQueueEventSubscriptionDestination:
      allOf:
        - $ref: '#/components/schemas/EventSubscriptionDestination'
      description: Information about the service bus destination for an event subscription
      properties:
        properties:
          $ref: >-
            #/components/schemas/ServiceBusQueueEventSubscriptionDestinationProperties
          description: Service Bus Properties of the event subscription destination
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: ServiceBusQueue
    ServiceBusQueueEventSubscriptionDestinationProperties:
      description: >-
        The properties that represent the Service Bus destination of an event
        subscription.
      properties:
        resourceId:
          description: >-
            The Azure Resource Id that represents the endpoint of the Service
            Bus destination of an event subscription.
          type: string
      type: object
    StorageBlobDeadLetterDestination:
      allOf:
        - $ref: '#/components/schemas/DeadLetterDestination'
      description: Information about the storage blob based dead letter destination.
      properties:
        properties:
          $ref: '#/components/schemas/StorageBlobDeadLetterDestinationProperties'
          description: The properties of the Storage Blob based deadletter destination
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: StorageBlob
    StorageBlobDeadLetterDestinationProperties:
      description: Properties of the storage blob based dead letter destination.
      properties:
        blobContainerName:
          description: >-
            The name of the Storage blob container that is the destination of
            the deadletter events
          type: string
        resourceId:
          description: >-
            The Azure Resource ID of the storage account that is the destination
            of the deadletter events
          type: string
      type: object
    StorageQueueEventSubscriptionDestination:
      allOf:
        - $ref: '#/components/schemas/EventSubscriptionDestination'
      description: >-
        Information about the storage queue destination for an event
        subscription.
      properties:
        properties:
          $ref: >-
            #/components/schemas/StorageQueueEventSubscriptionDestinationProperties
          description: Storage Queue Properties of the event subscription destination
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: StorageQueue
    StorageQueueEventSubscriptionDestinationProperties:
      description: The properties for a storage queue destination.
      properties:
        queueName:
          description: >-
            The name of the Storage queue under a storage account that is the
            destination of an event subscription.
          type: string
        resourceId:
          description: >-
            The Azure Resource ID of the storage account that contains the queue
            that is the destination of an event subscription.
          type: string
      type: object
    StringBeginsWithAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: StringBeginsWith Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: StringBeginsWith
    StringContainsAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: StringContains Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: StringContains
    StringEndsWithAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: StringEndsWith Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: StringEndsWith
    StringInAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: StringIn Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: StringIn
    StringNotInAdvancedFilter:
      allOf:
        - $ref: '#/components/schemas/AdvancedFilter'
      description: StringNotIn Advanced Filter.
      properties:
        values:
          description: The set of filter values.
          items:
            type: string
          type: array
      type: object
      x-ms-discriminator-value: StringNotIn
    Topic:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: EventGrid Topic
      properties:
        properties:
          $ref: '#/components/schemas/TopicProperties'
          description: Properties of the topic
          x-ms-client-flatten: true
      type: object
    TopicProperties:
      description: Properties of the Topic
      properties:
        endpoint:
          description: Endpoint for the topic.
          readOnly: true
          type: string
        inputSchema:
          default: EventGridSchema
          description: >-
            This determines the format that Event Grid should expect for
            incoming events published to the topic.
          enum:
            - EventGridSchema
            - CustomEventSchema
            - CloudEventV01Schema
          type: string
          x-ms-enum:
            modelAsString: true
            name: InputSchema
        inputSchemaMapping:
          $ref: '#/components/schemas/InputSchemaMapping'
          description: >-
            This enables publishing using custom event schemas. An
            InputSchemaMapping can be specified to map various properties of a
            source schema to various required properties of the EventGridEvent
            schema.
        provisioningState:
          description: Provisioning state of the topic.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: TopicProvisioningState
      type: object
    TopicRegenerateKeyRequest:
      description: Topic regenerate share access key request
      properties:
        keyName:
          description: Key name to regenerate key1 or key2
          type: string
      required:
        - keyName
      type: object
    TopicSharedAccessKeys:
      description: Shared access keys of the Topic
      properties:
        key1:
          description: Shared access key1 for the topic.
          type: string
        key2:
          description: Shared access key2 for the topic.
          type: string
      type: object
    TopicTypeInfo:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Properties of a topic type info.
      properties:
        properties:
          $ref: '#/components/schemas/TopicTypeProperties'
          description: Properties of the topic type info
          x-ms-client-flatten: true
      type: object
    TopicTypeProperties:
      description: Properties of a topic type.
      properties:
        description:
          description: Description of the topic type.
          type: string
        displayName:
          description: Display Name for the topic type.
          type: string
        provider:
          description: Namespace of the provider of the topic type.
          type: string
        provisioningState:
          description: Provisioning state of the topic type
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          type: string
          x-ms-enum:
            modelAsString: true
            name: TopicTypeProvisioningState
        resourceRegionType:
          description: Region type of the resource.
          enum:
            - RegionalResource
            - GlobalResource
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResourceRegionType
        supportedLocations:
          description: List of locations supported by this topic type.
          items:
            type: string
          type: array
      type: object
    TopicTypesListResult:
      description: Result of the List Topic Types operation
      properties:
        value:
          description: A collection of topic types
          items:
            $ref: '#/components/schemas/TopicTypeInfo'
          type: array
      type: object
    TopicUpdateParameters:
      description: Properties of the Topic update
      properties:
        tags:
          additionalProperties:
            type: string
          description: Tags of the resource
          type: object
      type: object
    TopicsListResult:
      description: Result of the List Topics operation
      properties:
        nextLink:
          description: A link for the next page of topics
          type: string
        value:
          description: A collection of Topics
          items:
            $ref: '#/components/schemas/Topic'
          type: array
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Definition of a Tracked Resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Tags of the resource
          type: object
        location:
          description: Location of the resource
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - location
      type: object
    WebHookEventSubscriptionDestination:
      allOf:
        - $ref: '#/components/schemas/EventSubscriptionDestination'
      description: Information about the webhook destination for an event subscription
      properties:
        properties:
          $ref: '#/components/schemas/WebHookEventSubscriptionDestinationProperties'
          description: WebHook Properties of the event subscription destination
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: WebHook
    WebHookEventSubscriptionDestinationProperties:
      description: >-
        Information about the webhook destination properties for an event
        subscription.
      properties:
        endpointBaseUrl:
          description: >-
            The base URL that represents the endpoint of the destination of an
            event subscription.
          readOnly: true
          type: string
        endpointUrl:
          description: >-
            The URL that represents the endpoint of the destination of an event
            subscription.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

