openapi: 3.0.0
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: '2015-11-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants':
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenantList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - DirectoryTenants
      description: >-
        Lists all the directory tenants under the current subscription and given
        resource group name.
      operationId: DirectoryTenants_List
      x-ms-examples:
        Lists all the directory tenants under the current subscription and given resource group name.:
          $ref: ./examples/DirectoryTenant/List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants/{tenant}':
    delete:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/DirectoryTenantParameter'
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - DirectoryTenants
      description: Delete a directory tenant under a resource group.
      operationId: DirectoryTenants_Delete
      x-ms-examples:
        Delete a directory tenant under a resource group.:
          $ref: ./examples/DirectoryTenant/Delete.json
    get:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/DirectoryTenantParameter'
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - DirectoryTenants
      description: Get a directory tenant by name.
      operationId: DirectoryTenants_Get
      x-ms-examples:
        Get a directory tenant by name.:
          $ref: ./examples/DirectoryTenant/Get.json
    put:
      parameters:
        - $ref: Subscriptions.json#/components/parameters/SubscriptionIdParameter
        - $ref: Subscriptions.json#/components/parameters/ResourceGroupParameter
        - $ref: '#/components/parameters/DirectoryTenantParameter'
        - $ref: Subscriptions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: Subscriptions.json#/definitions/Error
          description: Unexpected Error
      tags:
        - DirectoryTenants
      description: Create or updates a directory tenant.
      operationId: DirectoryTenants_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryTenant'
        description: New directory tenant properties.
        required: true
      x-ms-examples:
        Create or updates a directory tenant.:
          $ref: ./examples/DirectoryTenant/Create.json
components:
  parameters:
    DirectoryTenantParameter:
      description: Directory tenant name.
      in: path
      name: tenant
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    DirectoryTenant:
      allOf:
        - $ref: Subscriptions.json#/definitions/Resource
      description: Directory tenant.
      properties:
        properties:
          $ref: '#/components/schemas/DirectoryTenantProperties'
          description: Directory tenant.
          x-ms-client-flatten: true
      type: object
    DirectoryTenantList:
      description: List of directory tenants.
      properties:
        nextLink:
          description: Continuation token
          type: string
        value:
          description: List of directory tenants.
          items:
            $ref: '#/components/schemas/DirectoryTenant'
          type: array
      type: object
    DirectoryTenantProperties:
      description: Directory tenant.
      properties:
        tenantId:
          description: Tenant unique identifier.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

