openapi: 3.0.0
info:
  description: The Admin KeyVault Management Client.
  title: KeyVaultManagementClient
  version: 2017-02-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault.Admin/locations/{location}/quotas':
    get:
      parameters:
        - $ref: KeyVault.json#/components/parameters/SubscriptionIdParameter
        - $ref: KeyVault.json#/components/parameters/LocationParameter
        - $ref: KeyVault.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaList'
          description: OK
      tags:
        - KeyVault
      description: Get a list of all quota objects for KeyVault at a location.
      operationId: Quotas_List
      x-ms-examples:
        Get a list of all quota objects for KeyVault at a location.:
          $ref: ./examples/Quota/List.json
      x-ms-pageable:
        nextLinkName: null
components:
  schemas:
    Quota:
      allOf:
        - $ref: KeyVault.json#/definitions/Resource
      description: KeyVault Quota.
      properties:
        properties:
          $ref: '#/components/schemas/QuotaProperties'
          description: Properties for keyvault quotas.
          x-ms-client-flatten: true
      type: object
    QuotaList:
      description: List of keyvault quotas.
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of keyvault quotas.
          items:
            $ref: '#/components/schemas/Quota'
          type: array
      type: object
    QuotaProperties:
      description: Properties for keyvault quotas.
      properties: {}
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

