openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: '2016-03-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.StreamAnalytics/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: Successfully listed the available operations.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - Operations
      description: Lists all of the available Stream Analytics related operations.
      operationId: Operations_List
      x-ms-examples:
        List available operations for the Stream Analytics resource provider:
          $ref: ./examples/Operation_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/streamingjobs':
    get:
      parameters:
        - description: >-
            The $expand OData query parameter. This is a comma-separated list of
            additional streaming job properties to include in the response,
            beyond the default set returned when this parameter is absent. The
            default set is all streaming job properties other than 'inputs',
            'transformation', 'outputs', and 'functions'.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingJobListResult'
          description: Successfully listed the streaming jobs under the given subscription.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: Lists all of the streaming jobs in the given subscription.
      operationId: StreamingJobs_List
      x-ms-examples:
        List all streaming jobs in a subscription and do not use the $expand OData query parameter:
          $ref: ./examples/StreamingJob_List_BySubscription_NoExpand.json
        'List all streaming jobs in a subscription and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions':
          $ref: ./examples/StreamingJob_List_BySubscription_Expand.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs':
    get:
      parameters:
        - description: >-
            The $expand OData query parameter. This is a comma-separated list of
            additional streaming job properties to include in the response,
            beyond the default set returned when this parameter is absent. The
            default set is all streaming job properties other than 'inputs',
            'transformation', 'outputs', and 'functions'.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingJobListResult'
          description: >-
            Successfully listed the streaming jobs under the specified resource
            group.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: Lists all of the streaming jobs in the specified resource group.
      operationId: StreamingJobs_ListByResourceGroup
      x-ms-examples:
        List all streaming jobs in a resource group and do not use the $expand OData query parameter:
          $ref: ./examples/StreamingJob_List_ByResourceGroup_NoExpand.json
        'List all streaming jobs in a resource group and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions':
          $ref: ./examples/StreamingJob_List_ByResourceGroup_Expand.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          description: The streaming job was successfully deleted.
        '202':
          description: The delete request was successfully initiated.
        '204':
          description: The streaming job does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: Deletes a streaming job.
      operationId: StreamingJobs_Delete
      x-ms-examples:
        Delete a streaming job:
          $ref: ./examples/StreamingJob_Delete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - description: >-
            The $expand OData query parameter. This is a comma-separated list of
            additional streaming job properties to include in the response,
            beyond the default set returned when this parameter is absent. The
            default set is all streaming job properties other than 'inputs',
            'transformation', 'outputs', and 'functions'.
          in: query
          name: $expand
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingJob'
          description: Successfully retrieved the specified streaming job.
          headers:
            ETag:
              description: >-
                The current entity tag for the streaming job. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: Gets details about the specified streaming job.
      operationId: StreamingJobs_Get
      x-ms-examples:
        Get a streaming job and do not use the $expand OData query parameter:
          $ref: ./examples/StreamingJob_Get_NoExpand.json
        'Get a streaming job and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions':
          $ref: ./examples/StreamingJob_Get_Expand.json
    patch:
      parameters:
        - description: >-
            The ETag of the streaming job. Omit this value to always overwrite
            the current record set. Specify the last-seen ETag value to prevent
            accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingJob'
          description: The streaming job was successfully updated.
          headers:
            ETag:
              description: >-
                The current entity tag for the streaming job. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: >-
        Updates an existing streaming job. This can be used to partially update
        (ie. update one or two properties) a streaming job without affecting the
        rest the job definition.
      operationId: StreamingJobs_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingJob'
        description: >-
          A streaming job object. The properties specified here will overwrite
          the corresponding properties in the existing streaming job (ie. Those
          properties will be updated). Any properties that are set to null here
          will mean that the corresponding property in the existing input will
          remain the same and not change as a result of this PATCH operation.
        required: true
      x-ms-examples:
        Update a streaming job:
          $ref: ./examples/StreamingJob_Update.json
    put:
      parameters:
        - description: >-
            The ETag of the streaming job. Omit this value to always overwrite
            the current record set. Specify the last-seen ETag value to prevent
            accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfMatch
        - description: >-
            Set to '*' to allow a new streaming job to be created, but to
            prevent updating an existing record set. Other values will result in
            a 412 Pre-condition Failed response.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-client-name: IfNoneMatch
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingJob'
          description: The streaming job was successfully created or replaced.
          headers:
            ETag:
              description: >-
                The current entity tag for the streaming job. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingJob'
          description: The streaming job was successfully created or replaced.
          headers:
            ETag:
              description: >-
                The current entity tag for the streaming job. This is an opaque
                string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or
                If-None-Match headers for write operations for optimistic
                concurrency.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: Creates a streaming job or replaces an already existing streaming job.
      operationId: StreamingJobs_CreateOrReplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingJob'
        description: >-
          The definition of the streaming job that will be used to create a new
          streaming job or replace the existing one.
        required: true
      x-ms-examples:
        'Create a complete streaming job (a streaming job with a transformation, at least 1 input and at least 1 output)':
          $ref: ./examples/StreamingJob_Create_CompleteJob.json
        'Create a streaming job shell (a streaming job with no inputs, outputs, transformation, or functions)':
          $ref: ./examples/StreamingJob_Create_JobShell.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          description: The streaming job was successfully started.
        '202':
          description: The start streaming job request was successfully initiated.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: >-
        Starts a streaming job. Once a job is started it will start processing
        input events and produce output.
      operationId: StreamingJobs_Start
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartStreamingJobParameters'
        description: Parameters applicable to a start streaming job operation.
      x-ms-examples:
        Start a streaming job with CustomTime output start mode:
          $ref: ./examples/StreamingJob_Start_CustomTime.json
        Start a streaming job with JobStartTime output start mode:
          $ref: ./examples/StreamingJob_Start_JobStartTime.json
        Start a streaming job with LastOutputEventTime output start mode:
          $ref: ./examples/StreamingJob_Start_LastOutputEventTime.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/StreamingJobNameParameter'
      responses:
        '200':
          description: The streaming job was successfully stopped.
        '202':
          description: The stop streaming job request was successfully initiated.
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
          description: Error.
      tags:
        - StreamingJobs
      description: >-
        Stops a running streaming job. This will cause a running streaming job
        to stop processing input events and producing output.
      operationId: StreamingJobs_Stop
      x-ms-examples:
        Stop a streaming job:
          $ref: ./examples/StreamingJob_Stop.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    StreamingJobNameParameter:
      description: The name of the streaming job.
      in: path
      name: jobName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        GUID which uniquely identify Microsoft Azure subscription. The
        subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CompatibilityLevel:
      description: Controls certain runtime behaviors of the streaming job.
      enum:
        - '1.0'
      type: string
      x-ms-enum:
        modelAsString: true
        name: CompatibilityLevel
    EventsOutOfOrderPolicy:
      description: >-
        Indicates the policy to apply to events that arrive out of order in the
        input event stream.
      enum:
        - Adjust
        - Drop
      type: string
      x-ms-enum:
        modelAsString: true
        name: EventsOutOfOrderPolicy
    Operation:
      description: A Stream Analytics REST API operation
      properties:
        display:
          description: >-
            Contains the localized display information for this particular
            operation / action.
          properties:
            description:
              description: The localized friendly description for the operation.
              readOnly: true
              type: string
            operation:
              description: The localized friendly name for the operation.
              readOnly: true
              type: string
            provider:
              description: The localized friendly form of the resource provider name.
              readOnly: true
              type: string
            resource:
              description: >-
                The localized friendly form of the resource type related to this
                action/operation.
              readOnly: true
              type: string
          readOnly: true
          type: object
        name:
          description: The name of the operation being performed on this particular object.
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Stream Analytics operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of Stream Analytics operations supported by the
            Microsoft.StreamAnalytics resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    OutputErrorPolicy:
      description: >-
        Indicates the policy to apply to events that arrive at the output and
        cannot be written to the external storage due to being malformed
        (missing column values, column values of wrong type or size).
      enum:
        - Stop
        - Drop
      type: string
      x-ms-enum:
        modelAsString: true
        name: OutputErrorPolicy
    OutputStartMode:
      description: >-
        Value may be JobStartTime, CustomTime, or LastOutputEventTime to
        indicate whether the starting point of the output event stream should
        start whenever the job is started, start at a custom user time stamp
        specified via the outputStartTime property, or start from the last event
        output time.
      enum:
        - JobStartTime
        - CustomTime
        - LastOutputEventTime
      type: string
      x-ms-enum:
        modelAsString: true
        name: OutputStartMode
    ProxyResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: >-
        The resource model definition for a ARM proxy resource. It will have
        everything other than required location and tags
    Resource:
      description: The base resource definition
      properties:
        id:
          description: >-
            Fully qualified resource Id for the resource. Ex -
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: >-
            The type of the resource. Ex- Microsoft.Compute/virtualMachines or
            Microsoft.Storage/storageAccounts.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Sku:
      description: The properties that are associated with a SKU.
      properties:
        name:
          description: The name of the SKU. Required on PUT (CreateOrReplace) requests.
          enum:
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
      type: object
    StartStreamingJobParameters:
      description: Parameters supplied to the Start Streaming Job operation.
      properties:
        outputStartMode:
          $ref: '#/components/schemas/OutputStartMode'
          description: >-
            Value may be JobStartTime, CustomTime, or LastOutputEventTime to
            indicate whether the starting point of the output event stream
            should start whenever the job is started, start at a custom user
            time stamp specified via the outputStartTime property, or start from
            the last event output time.
        outputStartTime:
          description: >-
            Value is either an ISO-8601 formatted time stamp that indicates the
            starting point of the output event stream, or null to indicate that
            the output event stream will start whenever the streaming job is
            started. This property must have a value if outputStartMode is set
            to CustomTime.
          format: date-time
          type: string
      type: object
    StreamingJob:
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: >-
        A streaming job object, containing all information associated with the
        named streaming job.
      properties:
        properties:
          $ref: '#/components/schemas/StreamingJobProperties'
          description: >-
            The properties that are associated with a streaming job.  Required
            on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
      type: object
    StreamingJobListResult:
      description: Object containing a list of streaming jobs.
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          type: string
        value:
          description: A list of streaming jobs. Populated by a 'List' operation.
          items:
            $ref: '#/components/schemas/StreamingJob'
          readOnly: true
          type: array
      type: object
    StreamingJobProperties:
      description: The properties that are associated with a streaming job.
      properties:
        compatibilityLevel:
          $ref: '#/components/schemas/CompatibilityLevel'
          description: Controls certain runtime behaviors of the streaming job.
        createdDate:
          description: >-
            Value is an ISO-8601 formatted UTC timestamp indicating when the
            streaming job was created.
          format: date-time
          readOnly: true
          type: string
        dataLocale:
          description: >-
            The data locale of the stream analytics job. Value should be the
            name of a supported .NET Culture from the set
            https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx.
            Defaults to 'en-US' if none specified.
          type: string
        etag:
          description: >-
            The current entity tag for the streaming job. This is an opaque
            string. You can use it to detect whether the resource has changed
            between requests. You can also use it in the If-Match or
            If-None-Match headers for write operations for optimistic
            concurrency.
          readOnly: true
          type: string
        eventsLateArrivalMaxDelayInSeconds:
          description: >-
            The maximum tolerable delay in seconds where events arriving late
            could be included.  Supported range is -1 to 1814399 (20.23:59:59
            days) and -1 is used to specify wait indefinitely. If the property
            is absent, it is interpreted to have a value of -1.
          format: int32
          type: integer
        eventsOutOfOrderMaxDelayInSeconds:
          description: >-
            The maximum tolerable delay in seconds where out-of-order events can
            be adjusted to be back in order.
          format: int32
          type: integer
        eventsOutOfOrderPolicy:
          $ref: '#/components/schemas/EventsOutOfOrderPolicy'
          description: >-
            Indicates the policy to apply to events that arrive out of order in
            the input event stream.
        functions:
          description: >-
            A list of one or more functions for the streaming job. The name
            property for each function is required when specifying this property
            in a PUT request. This property cannot be modify via a PATCH
            operation. You must use the PATCH API available for the individual
            transformation.
          items:
            $ref: ./functions.json#/definitions/Function
          type: array
        inputs:
          description: >-
            A list of one or more inputs to the streaming job. The name property
            for each input is required when specifying this property in a PUT
            request. This property cannot be modify via a PATCH operation. You
            must use the PATCH API available for the individual input.
          items:
            $ref: ./inputs.json#/definitions/Input
          type: array
        jobId:
          description: >-
            A GUID uniquely identifying the streaming job. This GUID is
            generated upon creation of the streaming job.
          readOnly: true
          type: string
        jobState:
          description: Describes the state of the streaming job.
          readOnly: true
          type: string
        lastOutputEventTime:
          description: >-
            Value is either an ISO-8601 formatted timestamp indicating the last
            output event time of the streaming job or null indicating that
            output has not yet been produced. In case of multiple outputs or
            multiple streams, this shows the latest value in that set.
          format: date-time
          readOnly: true
          type: string
        outputErrorPolicy:
          $ref: '#/components/schemas/OutputErrorPolicy'
          description: >-
            Indicates the policy to apply to events that arrive at the output
            and cannot be written to the external storage due to being malformed
            (missing column values, column values of wrong type or size).
        outputStartMode:
          $ref: '#/components/schemas/OutputStartMode'
          description: >-
            This property should only be utilized when it is desired that the
            job be started immediately upon creation. Value may be JobStartTime,
            CustomTime, or LastOutputEventTime to indicate whether the starting
            point of the output event stream should start whenever the job is
            started, start at a custom user time stamp specified via the
            outputStartTime property, or start from the last event output time.
        outputStartTime:
          description: >-
            Value is either an ISO-8601 formatted time stamp that indicates the
            starting point of the output event stream, or null to indicate that
            the output event stream will start whenever the streaming job is
            started. This property must have a value if outputStartMode is set
            to CustomTime.
          format: date-time
          type: string
        outputs:
          description: >-
            A list of one or more outputs for the streaming job. The name
            property for each output is required when specifying this property
            in a PUT request. This property cannot be modify via a PATCH
            operation. You must use the PATCH API available for the individual
            output.
          items:
            $ref: ./outputs.json#/definitions/Output
          type: array
        provisioningState:
          description: Describes the provisioning status of the streaming job.
          readOnly: true
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
          description: >-
            Describes the SKU of the streaming job. Required on PUT
            (CreateOrReplace) requests.
        transformation:
          $ref: ./transformations.json#/definitions/Transformation
          description: >-
            Indicates the query and the number of streaming units to use for the
            streaming job. The name property of the transformation is required
            when specifying this property in a PUT request. This property cannot
            be modify via a PATCH operation. You must use the PATCH API
            available for the individual transformation.
      type: object
    TrackedResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: The geo-location where the resource lives
          type: string
          x-ms-mutability:
            - read
            - create
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

