{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "title": "SqlManagementClient",
    "version": "2014-04-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/tableAuditing.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTableAuditingPolicyListResult"
                }
              }
            },
            "description": "Successfully retrieved the server table auditing policies."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Lists a server's table auditing policies. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "ServerTableAuditingPolicies_ListByServer",
        "x-ms-examples": {
          "List server table auditing policy": {
            "$ref": "./examples/ServerTableAuditingPolicyList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies/{tableAuditingPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/TableAuditingPolicyNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTableAuditingPolicy"
                }
              }
            },
            "description": "Successfully retrieved the server table auditing policy."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Gets a server's table auditing policy. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "ServerTableAuditingPolicies_Get",
        "x-ms-examples": {
          "Get server table auditing policy": {
            "$ref": "./examples/ServerTableAuditingPolicyGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/components/parameters/TableAuditingPolicyNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTableAuditingPolicy"
                }
              }
            },
            "description": "Successfully set the server table auditing policy."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTableAuditingPolicy"
                }
              }
            },
            "description": "Successfully created the server table auditing policy."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Creates or updates a server's table auditing policy. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "ServerTableAuditingPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerTableAuditingPolicy"
              }
            }
          },
          "description": "The server table auditing policy.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update server table auditing policy": {
            "$ref": "./examples/ServerTableAuditingPolicyCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database for which the table audit policy is defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseTableAuditingPolicyListResult"
                }
              }
            },
            "description": "Successfully retrieved the database table auditing policies."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Lists a database's table auditing policies. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "DatabaseTableAuditingPolicies_ListByDatabase",
        "x-ms-examples": {
          "Get database table auditing policy": {
            "$ref": "./examples/DatabaseTableAuditingPolicyGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies/{tableAuditingPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database for which the table audit policy is defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TableAuditingPolicyNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseTableAuditingPolicy"
                }
              }
            },
            "description": "Successfully retrieved the database table auditing policy."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Gets a database's table auditing policy. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "DatabaseTableAuditingPolicies_Get",
        "x-ms-examples": {
          "Get database table auditing policy": {
            "$ref": "./examples/DatabaseTableAuditingPolicyGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database for which the table auditing policy will be defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TableAuditingPolicyNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseTableAuditingPolicy"
                }
              }
            },
            "description": "Successfully set the database table auditing policy."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseTableAuditingPolicy"
                }
              }
            },
            "description": "Successfully created the database table auditing policy."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Creates or updates a database's table auditing policy. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "DatabaseTableAuditingPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseTableAuditingPolicy"
              }
            }
          },
          "description": "The database table auditing policy.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update database table auditing policy": {
            "$ref": "./examples/DatabaseTableAuditingPolicyCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/connectionPolicies/{connectionPolicyName}": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database for which the connection policy is defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ConnectionPolicyNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseConnectionPolicy"
                }
              }
            },
            "description": "Successfully retrieved the database connection policy."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Gets a database's connection policy, which is used with table auditing. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "DatabaseConnectionPolicies_Get",
        "x-ms-examples": {
          "Get database table auditing policy": {
            "$ref": "./examples/DatabaseConnectionPolicyGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the database for which the connection policy will be defined.",
            "in": "path",
            "name": "databaseName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ConnectionPolicyNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseConnectionPolicy"
                }
              }
            },
            "description": "Successfully set the database connection policy."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseConnectionPolicy"
                }
              }
            },
            "description": "Successfully created the database connection policy."
          }
        },
        "tags": [
          "TableAuditing"
        ],
        "deprecated": true,
        "description": "Creates or updates a database's connection policy, which is used with table auditing. Table auditing is deprecated, use blob auditing instead.",
        "operationId": "DatabaseConnectionPolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseConnectionPolicy"
              }
            }
          },
          "description": "The database connection policy.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update database connection policy": {
            "$ref": "./examples/DatabaseConnectionPolicyCreateOrUpdate.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ConnectionPolicyNameParameter": {
        "description": "The name of the connection policy.",
        "in": "path",
        "name": "connectionPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ConnectionPolicyName"
        },
        "x-ms-parameter-location": "method"
      },
      "DatabaseNameParameter": {
        "description": "The name of the database.",
        "in": "path",
        "name": "databaseName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TableAuditingPolicyNameParameter": {
        "description": "The name of the table auditing policy.",
        "in": "path",
        "name": "tableAuditingPolicyName",
        "required": true,
        "schema": {
          "enum": [
            "default"
          ],
          "type": "string"
        },
        "x-ms-enum": {
          "modelAsString": true,
          "name": "TableAuditingPolicyName"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "DatabaseConnectionPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A database connection policy.",
        "properties": {
          "kind": {
            "description": "Resource kind.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DatabaseConnectionPolicyProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DatabaseConnectionPolicyProperties": {
        "description": "Properties of a database connection policy.",
        "properties": {
          "proxyDnsName": {
            "description": "The fully qualified host name of the auditing proxy.",
            "type": "string"
          },
          "proxyPort": {
            "description": "The port number of the auditing proxy.",
            "type": "string"
          },
          "redirectionState": {
            "description": "The state of proxy redirection.",
            "type": "string"
          },
          "securityEnabledAccess": {
            "description": "The state of security access.",
            "type": "string"
          },
          "state": {
            "description": "The connection policy state.",
            "type": "string"
          },
          "useServerDefault": {
            "description": "Whether server default is enabled or disabled.",
            "type": "string"
          },
          "visibility": {
            "description": "The visibility of the auditing proxy.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DatabaseTableAuditingPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A database table auditing policy.",
        "properties": {
          "kind": {
            "description": "Resource kind.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/DatabaseTableAuditingPolicyProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DatabaseTableAuditingPolicyListResult": {
        "description": "Represents the response to a list database table auditing policies request.",
        "properties": {
          "value": {
            "description": "The list of database table auditing policies.",
            "items": {
              "$ref": "#/components/schemas/DatabaseTableAuditingPolicy"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "DatabaseTableAuditingPolicyProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TableAuditingPolicyProperties"
          }
        ],
        "description": "Properties of a database table auditing policy.",
        "properties": {
          "useServerDefault": {
            "description": "Whether server default is enabled or disabled.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ServerTableAuditingPolicy": {
        "allOf": [
          {
            "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
          }
        ],
        "description": "A server table auditing policy.",
        "properties": {
          "kind": {
            "description": "Resource kind.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ServerTableAuditingPolicyProperties",
            "description": "Resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ServerTableAuditingPolicyListResult": {
        "description": "Represents the response to a list server table auditing policies request.",
        "properties": {
          "value": {
            "description": "The list of server table auditing policies.",
            "items": {
              "$ref": "#/components/schemas/ServerTableAuditingPolicy"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "ServerTableAuditingPolicyProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TableAuditingPolicyProperties"
          }
        ],
        "description": "Properties of a server table auditing policy."
      },
      "TableAuditingPolicyProperties": {
        "description": "Properties of a table auditing policy.",
        "properties": {
          "auditLogsTableName": {
            "description": "The audit logs table name.",
            "type": "string"
          },
          "auditingState": {
            "description": "The state of the policy.",
            "type": "string"
          },
          "eventTypesToAudit": {
            "description": "Comma-separated list of event types to audit.",
            "type": "string"
          },
          "fullAuditLogsTableName": {
            "description": "The full audit logs table name.",
            "type": "string"
          },
          "retentionDays": {
            "description": "The number of days to keep in the audit logs.",
            "type": "string"
          },
          "storageAccountKey": {
            "description": "The key of the auditing storage account.",
            "type": "string"
          },
          "storageAccountName": {
            "description": "The table storage account name",
            "type": "string"
          },
          "storageAccountResourceGroupName": {
            "description": "The table storage account resource group name",
            "type": "string"
          },
          "storageAccountSecondaryKey": {
            "description": "The secondary key of the auditing storage account.",
            "type": "string"
          },
          "storageAccountSubscriptionId": {
            "description": "The table storage subscription Id.",
            "format": "uuid",
            "type": "string"
          },
          "storageTableEndpoint": {
            "description": "The storage table endpoint.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}