openapi: 3.0.0
info:
  description: >-
    Role based access control provides you a way to apply granular level policy
    administration down to individual resources or resource groups. These
    operations enable you to manage role definitions and role assignments. A
    role definition describes the set of actions that can be performed on
    resources. A role assignment grants access to Azure Active Directory users.
  title: AuthorizationManagementClient
  version: '2015-07-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Authorization/providerOperations:
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - description: Specifies whether to expand the values.
          in: query
          name: $expand
          required: false
          schema:
            default: resourceTypes
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationsMetadataListResult'
          description: OK - Returns an array of the operations metadata.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ProviderOperationsMetadata
      description: Gets provider operations metadata for all resource providers.
      operationId: ProviderOperationsMetadata_List
      x-ms-examples:
        List provider operations metadata for all resource providers:
          $ref: ./examples/GetAllProviderOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}':
    get:
      parameters:
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - description: Specifies whether to expand the values.
          in: query
          name: $expand
          required: false
          schema:
            default: resourceTypes
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationsMetadata'
          description: OK - Returns the operations metadata.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - ProviderOperationsMetadata
      description: Gets provider operations metadata for the specified resource provider.
      operationId: ProviderOperationsMetadata_Get
      x-ms-examples:
        Get provider operations metadata for resource provider:
          $ref: ./examples/GetProviderOperationsRP.json
components:
  schemas:
    ProviderOperation:
      description: Operation
      properties:
        description:
          description: The operation description.
          type: string
        displayName:
          description: The operation display name.
          type: string
        name:
          description: The operation name.
          type: string
        origin:
          description: The operation origin.
          type: string
        properties:
          description: The operation properties.
          type: object
          x-ms-client-flatten: true
      type: object
    ProviderOperationsMetadata:
      description: Provider Operations metadata
      properties:
        displayName:
          description: The provider display name.
          type: string
        id:
          description: The provider id.
          type: string
        name:
          description: The provider name.
          type: string
        operations:
          description: The provider operations.
          items:
            $ref: '#/components/schemas/ProviderOperation'
          type: array
          x-ms-identifiers: []
        resourceTypes:
          description: The provider resource types
          items:
            $ref: '#/components/schemas/ResourceType'
          type: array
          x-ms-identifiers:
            - name
        type:
          description: The provider type.
          type: string
      type: object
    ProviderOperationsMetadataListResult:
      description: Provider operations metadata list
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: The list of providers.
          items:
            $ref: '#/components/schemas/ProviderOperationsMetadata'
          type: array
      type: object
    ResourceType:
      description: Resource Type
      properties:
        displayName:
          description: The resource type display name.
          type: string
        name:
          description: The resource type name.
          type: string
        operations:
          description: The resource type operations.
          items:
            $ref: '#/components/schemas/ProviderOperation'
          type: array
          x-ms-identifiers: []
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

