openapi: 3.0.0
info:
  title: AutomationManagementClient
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Webhook
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/webhookoperations'
      description: Retrieve a list of webhooks.
      operationId: Webhook_ListByAutomationAccount
      x-ms-examples:
        List webhooks by Automation Account:
          $ref: ./examples/listWebhooksByAutomationAccount.json
      x-ms-odata: '#/components/schemas/Webhook'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri':
    post:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Webhook
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/webhookoperations'
      description: Generates a Uri for use in creating a webhook.
      operationId: Webhook_GenerateUri
      x-ms-examples:
        Generate webhook uri:
          $ref: ./examples/webhookGenerateUri.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}':
    delete:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The webhook name.
          in: path
          name: webhookName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Webhook
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/webhookoperations'
      description: Delete the webhook by name.
      operationId: Webhook_Delete
      x-ms-examples:
        Delete webhook:
          $ref: ./examples/deleteWebhook.json
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The webhook name.
          in: path
          name: webhookName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Webhook
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/webhookoperations'
      description: Retrieve the webhook identified by webhook name.
      operationId: Webhook_Get
      x-ms-examples:
        Get webhook:
          $ref: ./examples/getWebhook.json
    patch:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The webhook name.
          in: path
          name: webhookName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Webhook
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/webhookoperations'
      description: Update the webhook identified by webhook name.
      operationId: Webhook_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateParameters'
        description: The update parameters for webhook.
        required: true
      x-ms-examples:
        Update webhook:
          $ref: ./examples/updateWebhook.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The webhook name.
          in: path
          name: webhookName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - Webhook
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/webhookoperations'
      description: Create the webhook identified by webhook name.
      operationId: Webhook_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateOrUpdateParameters'
        description: The create or update parameters for webhook.
        required: true
      x-ms-examples:
        Create or update webhook:
          $ref: ./examples/createOrUpdateWebhook.json
components:
  schemas:
    RunbookAssociationProperty:
      description: The runbook property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the runbook.
          type: string
      type: object
    Webhook:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: Definition of the webhook type.
      properties:
        properties:
          $ref: '#/components/schemas/WebhookProperties'
          description: Gets or sets the webhook properties.
          x-ms-client-flatten: true
      type: object
    WebhookCreateOrUpdateParameters:
      description: The parameters supplied to the create or update webhook operation.
      properties:
        name:
          description: Gets or sets the name of the webhook.
          type: string
        properties:
          $ref: '#/components/schemas/WebhookCreateOrUpdateProperties'
          description: Gets or sets the properties of the webhook.
          x-ms-client-flatten: true
      required:
        - name
        - properties
      type: object
    WebhookCreateOrUpdateProperties:
      description: The properties of the create webhook operation.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
          type: object
        expiryTime:
          description: Gets or sets the expiry time.
          format: date-time
          nullable: false
          type: string
        isEnabled:
          description: Gets or sets the value of the enabled flag of webhook.
          type: boolean
        runOn:
          description: >-
            Gets or sets the name of the hybrid worker group the webhook job
            will run on.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        uri:
          description: Gets or sets the uri.
          type: string
      type: object
    WebhookListResult:
      description: The response model for the list webhook operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of webhooks.
          items:
            $ref: '#/components/schemas/Webhook'
          type: array
      type: object
    WebhookProperties:
      description: Definition of the webhook properties
      properties:
        parameters:
          additionalProperties:
            type: string
          description: >-
            Gets or sets the parameters of the job that is created when the
            webhook calls the runbook it is associated with.
          type: object
        creationTime:
          description: Gets or sets the creation time.
          format: date-time
          nullable: false
          type: string
        description:
          description: Gets or sets the description.
          type: string
        expiryTime:
          description: Gets or sets the expiry time.
          format: date-time
          nullable: false
          type: string
        isEnabled:
          default: false
          description: Gets or sets the value of the enabled flag of the webhook.
          type: boolean
        lastInvokedTime:
          description: Gets or sets the last invoked time.
          format: date-time
          nullable: true
          type: string
        lastModifiedBy:
          description: Details of the user who last modified the Webhook
          type: string
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          type: string
        runOn:
          description: >-
            Gets or sets the name of the hybrid worker group the webhook job
            will run on.
          type: string
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook the webhook is associated with.
        uri:
          description: Gets or sets the webhook uri.
          type: string
      type: object
    WebhookUpdateParameters:
      description: The parameters supplied to the update webhook operation.
      properties:
        name:
          description: Gets or sets the name of the webhook.
          type: string
        properties:
          $ref: '#/components/schemas/WebhookUpdateProperties'
          description: Gets or sets the value of the webhook.
          x-ms-client-flatten: true
      type: object
    WebhookUpdateProperties:
      description: The properties of the update webhook.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
          type: object
        description:
          description: Gets or sets the description of the webhook.
          type: string
        isEnabled:
          description: Gets or sets the value of the enabled flag of webhook.
          type: boolean
        runOn:
          description: >-
            Gets or sets the name of the hybrid worker group the webhook job
            will run on.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

