openapi: 3.0.0
info:
  description: >-
    Consumption management client provides access to consumption resources for
    Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-11-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/charges':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingProfileIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/startDateParameter'
        - $ref: '#/components/parameters/endDateParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListByBillingProfile'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Charges
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the charges by billing profile id for given start and end date.
        Start and end date are used to determine the billing period. For current
        month, the data will be provided from month to date. If there are no
        charges for a month then that month will show all zeroes.
      operationId: ChargesByBillingProfile_List
      x-ms-examples:
        ChargesListByBillingProfile:
          $ref: ./examples/ChargesListByBillingProfile.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits/balanceSummary':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingProfileIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditSummary'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Credits
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        The credit summary by billingAccountId and billingProfileId for given
        start and end date.
      operationId: CreditSummaryByBillingProfile_Get
      x-ms-examples:
        CreditSummaryByBillingProfile:
          $ref: ./examples/CreditSummaryByBillingProfile.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/events':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingProfileIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/startDateParameter'
        - $ref: '#/components/parameters/endDateParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Events
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the events by billingAccountId and billingProfileId for given
        start and end date.
      operationId: EventsByBillingProfile_List
      x-ms-examples:
        EventsListByBillingProfile:
          $ref: ./examples/EventsListByBillingProfile.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/lots':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/billingProfileIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lots'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Lots
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the lots by billingAccountId and billingProfileId for given start
        and end date.
      operationId: LotsByBillingProfile_List
      x-ms-examples:
        LotsListByBillingProfile:
          $ref: ./examples/LotsListByBillingProfile.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}/providers/Microsoft.Consumption/charges':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/invoiceSectionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/startDateParameter'
        - $ref: '#/components/parameters/endDateParameter'
        - description: May be used to group charges by properties/productName.
          in: query
          name: $apply
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListByInvoiceSection'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Charges
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the charges by invoice section id for given start and end date.
        Start and end date are used to determine the billing period. For current
        month, the data will be provided from month to date. If there are no
        charges for a month then that month will show all zeroes.
      operationId: ChargesByInvoiceSection_List
      x-ms-examples:
        ChargesListByInvoiceSection:
          $ref: ./examples/ChargesListByInvoiceSection.json
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/charges':
    get:
      parameters:
        - $ref: '#/components/parameters/billingAccountIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/startDateParameter'
        - $ref: '#/components/parameters/endDateParameter'
        - description: >-
            May be used to group charges by properties/billingProfileId, or
            properties/invoiceSectionId.
          in: query
          name: $apply
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListByBillingAccount'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Charges
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
      description: >-
        Lists the charges by billingAccountId for given start and end date.
        Start and end date are used to determine the billing period. For current
        month, the data will be provided from month to date. If there are no
        charges for a month then that month will show all zeroes.
      operationId: ChargesByBillingAccount_List
      x-ms-examples:
        ChargesListByBillingAccount:
          $ref: ./examples/ChargesListByBillingAccount.json
  '/providers/Microsoft.Consumption/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/pricesheet/default/download':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: Azure Billing Account Id.
          in: path
          name: billingAccountId
          required: true
          schema:
            type: string
        - description: Azure Billing Profile Id.
          in: path
          name: billingProfileId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesheetDownloadResponse'
          description: OK. The request has succeeded.
        '202':
          description: Accepted.
          headers:
            Azure-AsyncOperation:
              description: >-
                To get the progress of the operation, call GET operation on the
                URL in Azure-AsyncOperation header field.
              schema:
                type: string
            Location:
              description: >-
                GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              schema:
                type: string
            Retry-After:
              description: >-
                The amount of delay to use while the status of the operation is
                checked. The value is expressed in seconds.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - pricesheets
      description: Get pricesheet data for invoice id (invoiceName).
      operationId: BillingProfilePricesheet_Download
      x-ms-examples:
        pricesheetDownload:
          $ref: ./examples/PricesheetDownloadByBillingProfile.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  '/providers/Microsoft.Consumption/billingAccounts/{billingAccountId}/invoices/{invoiceName}/pricesheet/default/download':
    post:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: Azure Billing Account Id.
          in: path
          name: billingAccountId
          required: true
          schema:
            type: string
        - description: The name of an invoice resource.
          in: path
          name: invoiceName
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesheetDownloadResponse'
          description: OK. The request has succeeded.
        '202':
          description: Accepted.
          headers:
            Azure-AsyncOperation:
              description: >-
                To get the progress of the operation, call GET operation on the
                URL in Azure-AsyncOperation header field.
              schema:
                type: string
            Location:
              description: >-
                GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              schema:
                type: string
            Retry-After:
              description: >-
                The amount of delay to use while the status of the operation is
                checked. The value is expressed in seconds.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - pricesheets
      description: Get pricesheet data for invoice id (invoiceName).
      operationId: InvoicePricesheet_Download
      x-ms-examples:
        pricesheetDownload:
          $ref: ./examples/PricesheetDownloadByInvoice.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Consumption/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    apiVersionParameter:
      description: >-
        Version of the API to be used with the client request. The current
        version is 2018-11-01-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    billingProfileIdParameter:
      description: Billing Profile Id.
      in: path
      name: billingProfileId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    endDateParameter:
      description: End date
      in: query
      name: endDate
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    invoiceNameParameter:
      description: Invoice name.
      in: path
      name: invoiceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    invoiceSectionIdParameter:
      description: Invoice Section Id.
      in: path
      name: invoiceSectionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    startDateParameter:
      description: Start date
      in: query
      name: startDate
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Address:
      description: Address details.
      properties:
        addressLine1:
          description: Address Line1.
          type: string
        addressLine2:
          description: Address Line2.
          type: string
        addressLine3:
          description: Address Line3.
          type: string
        city:
          description: Address City.
          type: string
        country:
          description: 'Country code uses ISO2, 2-digit format..'
          type: string
        phoneNumber:
          description: Phone Number.
          type: string
        postalCode:
          description: Postal Code.
          type: string
        region:
          description: Address Region.
          type: string
      type: object
    Amount:
      description: Object to represent monetary quantities.
      properties:
        currency:
          description: The currency for the amount value.
          readOnly: true
          type: string
        value:
          description: Amount value.
          readOnly: true
          type: number
      type: object
    BillingAccount:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A billing account resource.
      properties:
        properties:
          $ref: '#/components/schemas/BillingAccountProperties'
          description: A billing account.
          x-ms-client-flatten: true
      type: object
    BillingAccountProperties:
      description: The properties of the billing account.
      properties:
        accountType:
          description: The billing account Type.
          enum:
            - CommerceRoot
            - Enrollment
          readOnly: true
          type: string
        address:
          $ref: '#/components/schemas/Address'
          description: The address associated with billing account.
        agreements:
          description: Agreements associated with billing account
          readOnly: true
          type: string
        billingProfiles:
          description: The billing profiles associated to the billing account.
          items:
            $ref: '#/components/schemas/BillingProfile'
          readOnly: true
          type: array
        company:
          description: The Company this billing account belongs to.
          readOnly: true
          type: string
        country:
          description: The country associated with billing account.
          readOnly: true
          type: string
        defaultCurrency:
          description: 'The ISO currency, for example, USD.'
          readOnly: true
          type: string
        departments:
          description: The departments associated to the enrollment.
          items:
            $ref: '#/components/schemas/Department'
          readOnly: true
          type: array
        enrollmentAccounts:
          description: The accounts associated to the enrollment.
          items:
            $ref: '#/components/schemas/EnrollmentAccount'
          readOnly: true
          type: array
        enrollmentDetails:
          $ref: '#/components/schemas/Enrollment'
          description: >-
            The details about the associated legacy enrollment. By default this
            is not populated, unless it's specified in $expand.
          readOnly: true
        invoiceSections:
          description: The invoiceSections associated to the billing account.
          items:
            $ref: '#/components/schemas/InvoiceSection'
          readOnly: true
          type: array
      type: object
    BillingProfile:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A billing profile resource.
      properties:
        properties:
          $ref: '#/components/schemas/BillingProfileProperties'
          description: A billing profile.
          x-ms-client-flatten: true
      type: object
    BillingProfileProperties:
      description: The properties of the billing profile.
      properties:
        billingAddress:
          $ref: '#/components/schemas/Address'
          description: Billing address.
        billingContact:
          description: Billing contact.
          readOnly: true
          type: string
        currency:
          description: Currency on the billing profile.
          readOnly: true
          type: string
        displayName:
          description: The billing profile name.
          type: string
        emailInvoice:
          description: Email invoice.
          readOnly: true
          type: boolean
        invoiceDay:
          description: Invoice day.
          format: date-time
          readOnly: true
          type: integer
        poNumber:
          description: Purchase order number.
          type: string
      type: object
    ChargeSummaryByBillingAccount:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A charge summary resource by billing account.
      properties:
        properties:
          $ref: '#/components/schemas/ChargeSummaryProperties'
          title: Charge summary properties
          x-ms-client-flatten: true
      type: object
    ChargeSummaryByBillingProfile:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A charge summary resource by billing profile.
      properties:
        properties:
          $ref: '#/components/schemas/ChargeSummaryProperties'
          title: Charge summary properties
          x-ms-client-flatten: true
      type: object
    ChargeSummaryByInvoiceSection:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A charge summary resource by invoiceSection.
      properties:
        properties:
          $ref: '#/components/schemas/ChargeSummaryProperties'
          title: Charge summary properties
          x-ms-client-flatten: true
      type: object
    ChargeSummaryProperties:
      description: The properties of the charge summary.
      properties:
        azureCharges:
          $ref: '#/components/schemas/Amount'
          description: Azure Charges.
          readOnly: true
        billingAccountId:
          description: The id of the billing account resource that the charge belongs to.
          readOnly: true
          type: string
        billingPeriodId:
          description: The id of the billing period resource that the usage belongs to.
          readOnly: true
          type: string
        billingProfileId:
          description: The id of the billing profile resource that the charge belongs to.
          readOnly: true
          type: string
        chargesBilledSeparately:
          $ref: '#/components/schemas/Amount'
          description: Charges Billed separately.
          readOnly: true
        invoiceSectionId:
          description: The id of the invoice section resource that the charge belongs to.
          readOnly: true
          type: string
        marketplaceCharges:
          $ref: '#/components/schemas/Amount'
          description: Marketplace Charges.
          readOnly: true
        usageEnd:
          description: Billing period end date.
          readOnly: true
          type: string
        usageStart:
          description: Billing period start date.
          readOnly: true
          type: string
      type: object
    ChargesListByBillingAccount:
      description: >-
        Result of listing charge summary by billing account. It contains a list
        of available change summaries in reverse chronological order by billing
        period.
      properties:
        value:
          description: The list of charge summary by billing account.
          items:
            $ref: '#/components/schemas/ChargeSummaryByBillingAccount'
          readOnly: true
          type: array
      type: object
    ChargesListByBillingProfile:
      description: >-
        Result of listing charge summary by billing profile. It contains a list
        of available change summaries in reverse chronological order by billing
        period.
      properties:
        value:
          description: The list of charge summary by billing profile.
          items:
            $ref: '#/components/schemas/ChargeSummaryByBillingProfile'
          readOnly: true
          type: array
      type: object
    ChargesListByInvoiceSection:
      description: >-
        Result of listing charge summary by invoiceSection. It contains a list
        of available change summaries in reverse chronological order by billing
        period.
      properties:
        value:
          description: The list of charge summary by invoiceSection.
          items:
            $ref: '#/components/schemas/ChargeSummaryByInvoiceSection'
          readOnly: true
          type: array
      type: object
    CreditBalanceSummary:
      description: Summary of credit balances.
      properties:
        currentBalance:
          $ref: '#/components/schemas/Amount'
          description: Current balance.
          readOnly: true
        estimatedBalance:
          $ref: '#/components/schemas/Amount'
          description: Estimated balance.
          readOnly: true
      type: object
    CreditSummary:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A credit summary resource.
      properties:
        properties:
          $ref: '#/components/schemas/CreditSummaryProperties'
          title: Credit summary properties
          x-ms-client-flatten: true
      type: object
    CreditSummaryProperties:
      description: The properties of the credit summary.
      properties:
        balanceSummary:
          $ref: '#/components/schemas/CreditBalanceSummary'
          description: Summary of balances associated with this credit summary.
        expiredCredit:
          $ref: '#/components/schemas/Amount'
          description: Expired Credit.
          readOnly: true
        pendingCreditAdjustments:
          $ref: '#/components/schemas/Amount'
          description: Pending Credit Adjustments.
          readOnly: true
        pendingEligibleCharges:
          $ref: '#/components/schemas/Amount'
          description: Pending Eligible Charges.
          readOnly: true
      type: object
    Department:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A department resource.
      properties:
        properties:
          $ref: '#/components/schemas/DepartmentProperties'
          description: A department.
          x-ms-client-flatten: true
      type: object
    DepartmentProperties:
      description: The properties of the department.
      properties:
        costCenter:
          description: The cost center name.
          type: string
        departmentName:
          description: The name for department.
          type: string
        enrollmentAccounts:
          description: >-
            Associated enrollment accounts. By default this is not populated,
            unless it's specified in $expand.
          items:
            $ref: '#/components/schemas/EnrollmentAccount'
          type: array
        status:
          description: The status for department.
          type: string
      type: object
    DownloadUrl:
      description: >-
        A secure URL that can be used to download a an entity until the URL
        expires.
      properties:
        downloadUrl:
          description: The URL to the PDF file.
          readOnly: true
          type: string
        expiryTime:
          description: The time in UTC at which this download URL will expire.
          readOnly: true
          type: string
      type: object
    Enrollment:
      description: Current entity level details
      properties:
        billingCycle:
          description: Enrollment billing cycle
          readOnly: true
          type: string
        channel:
          description: The channel for Enrollment
          readOnly: true
          type: string
        countryCode:
          description: The countryCode for Enrollment
          readOnly: true
          type: string
        currency:
          description: The currency associated with enrollment
          readOnly: true
          type: string
        endDate:
          description: Enrollment End Date
          format: date-time
          readOnly: true
          type: string
        language:
          description: The language for Enrollment
          readOnly: true
          type: string
        policies:
          $ref: '#/components/schemas/EnrollmentPolicies'
          description: The attributes associated with legacy enrollment.
          readOnly: true
        startDate:
          description: Enrollment Start Date
          format: date-time
          readOnly: true
          type: string
        status:
          description: Enrollment status
          readOnly: true
          type: string
      type: object
    EnrollmentAccount:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An account resource.
      properties:
        properties:
          $ref: '#/components/schemas/EnrollmentAccountProperties'
          description: An account.
          x-ms-client-flatten: true
      type: object
    EnrollmentAccountProperties:
      description: The properties of the account.
      properties:
        accountName:
          description: The account name.
          type: string
        accountOwner:
          description: The account owner
          type: string
        costCenter:
          description: The cost center name.
          type: string
        department:
          $ref: '#/components/schemas/Department'
          description: >-
            Associated department. By default this is not populated, unless it's
            specified in $expand.
        endDate:
          description: Account End Date
          format: date-time
          type: string
        startDate:
          description: Account Start Date
          format: date-time
          type: string
        status:
          description: The status for account.
          type: string
      type: object
    EnrollmentPolicies:
      description: The attributes associated with legacy enrollment
      properties:
        accountOwnerViewCharges:
          description: The accountOwnerViewCharges flag for Enrollment
          readOnly: true
          type: boolean
        departmentAdminViewCharges:
          description: The departmentAdminViewCharges flag for Enrollment
          readOnly: true
          type: boolean
        marketplacesEnabled:
          description: The marketplaces flag for Enrollment
          readOnly: true
          type: boolean
        reservedInstancesEnabled:
          description: The reserved instances flag for Enrollment
          readOnly: true
          type: boolean
      type: object
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: >-
        Error response indicates that the service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
      type: object
    EventProperties:
      description: The event properties.
      properties:
        adjustments:
          $ref: '#/components/schemas/Amount'
          description: Credit Adjustments.
          readOnly: true
        charges:
          $ref: '#/components/schemas/Amount'
          description: Credit Eligible Charges.
          readOnly: true
        closedBalance:
          $ref: '#/components/schemas/Amount'
          description: Closed Balance.
          readOnly: true
        creditExpired:
          $ref: '#/components/schemas/Amount'
          description: Credit Expired.
          readOnly: true
        description:
          description: Transaction description.
          readOnly: true
          type: string
        eventType:
          description: The type of event.
          enum:
            - NewCredit
            - ExpiredCredit
            - SettledCharges
          type: string
          x-ms-enum:
            modelAsString: true
            name: EventType
        invoiceNumber:
          description: Invoice Number.
          readOnly: true
          type: string
        newCredit:
          $ref: '#/components/schemas/Amount'
          description: New Credit.
          readOnly: true
        transactionDate:
          description: Transaction Date.
          format: date-time
          readOnly: true
          type: string
      type: object
    EventSummary:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An event summary resource.
      properties:
        properties:
          $ref: '#/components/schemas/EventProperties'
          title: Event summary properties
          x-ms-client-flatten: true
      type: object
    Events:
      description: Result of listing event summary.
      properties:
        value:
          description: The list of event summary.
          items:
            $ref: '#/components/schemas/EventSummary'
          readOnly: true
          type: array
      type: object
    InvoiceSection:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An InvoiceSection resource.
      properties:
        properties:
          $ref: '#/components/schemas/InvoiceSectionProperties'
          description: The InvoiceSection.
          x-ms-client-flatten: true
      type: object
    InvoiceSectionProperties:
      description: The properties of an InvoiceSection.
      properties:
        billingProfiles:
          description: The billing profiles associated to the billing account.
          items:
            $ref: '#/components/schemas/BillingProfile'
          type: array
        displayName:
          description: The name of the InvoiceSection.
          type: string
      type: object
    LotProperties:
      description: The lot properties.
      properties:
        closedBalance:
          $ref: '#/components/schemas/Amount'
          description: Closed Balance.
          readOnly: true
        expirationDate:
          description: Expiration Date.
          format: date-time
          readOnly: true
          type: string
        originalAmount:
          $ref: '#/components/schemas/Amount'
          description: Original Amount.
          readOnly: true
        poNumber:
          description: PO Number.
          readOnly: true
          type: string
        source:
          description: Lot source.
          enum:
            - PurchasedCredit
            - PromotionalCredit
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: LotSource
        startDate:
          description: Start Date.
          format: date-time
          readOnly: true
          type: string
      type: object
    LotSummary:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A lot summary resource.
      properties:
        properties:
          $ref: '#/components/schemas/LotProperties'
          title: Lot summary properties
          x-ms-client-flatten: true
      type: object
    Lots:
      description: Result of listing lot summary.
      properties:
        value:
          description: The list of lot summary.
          items:
            $ref: '#/components/schemas/LotSummary'
          readOnly: true
          type: array
      type: object
    Operation:
      description: A Consumption REST API operation.
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
              type: string
            provider:
              description: 'Service provider: Microsoft.Consumption.'
              readOnly: true
              type: string
            resource:
              description: 'Resource on which the operation is performed: UsageDetail, etc.'
              readOnly: true
              type: string
          type: object
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
      type: object
    OperationListResult:
      description: >-
        Result of listing consumption operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of consumption operations supported by the
            Microsoft.Consumption resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
      type: object
    PricesheetDownloadResponse:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Download response of Pricesheets.
      properties:
        properties:
          $ref: '#/components/schemas/DownloadUrl'
          title: Download url properties.
          x-ms-client-flatten: true
      type: object
    ProxyResource:
      description: The Resource model definition.
      properties:
        eTag:
          description: >-
            eTag of the resource. To handle concurrent update scenario, this
            field will be used to determine whether the user is updating the
            latest version or not.
          type: string
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Resource:
      description: The Resource model definition.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          readOnly: true
          type: object
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation
tags:
  - externalDocs:
      url: 'https://docs.microsoft.com/en-us/rest/api/consumption/'
    description: >-
      Consumption APIs for Azure Go-to-market scopes. Includes Credits, Events,
      Lots, Charges and Pricesheets.
    name: GTM-Preview

