{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/AcquiredPlan.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans": {
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisitionList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Get a collection of all acquired plans that subscription has access to.",
        "operationId": "AcquiredPlans_List",
        "x-ms-examples": {
          "Get a collection of all acquired plans that subscription has access to.": {
            "$ref": "examples/AcquiredPlan/List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanAcquisitionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Deletes an acquired plan.",
        "operationId": "AcquiredPlans_Delete",
        "x-ms-examples": {
          "Deletes an acquired plan.": {
            "$ref": "./examples/AcquiredPlan/Delete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanAcquisitionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisition"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Gets the specified plan acquired by a subscription consuming the offer.",
        "operationId": "AcquiredPlans_Get",
        "x-ms-examples": {
          "Gets the specified plan acquired by a subscription consuming the offer": {
            "$ref": "examples/AcquiredPlan/Get.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "Subscriptions.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanAcquisitionIdParameter"
          },
          {
            "$ref": "Subscriptions.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisition"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisition"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Subscriptions.json#/definitions/Error"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Creates an acquired plan.",
        "operationId": "AcquiredPlans_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanAcquisition"
              }
            }
          },
          "description": "The new acquired plan.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the acquired plan.": {
            "$ref": "./examples/AcquiredPlan/Create.json"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PlanAcquisitionIdParameter": {
        "description": "The plan acquisition Identifier",
        "in": "path",
        "name": "planAcquisitionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TargetSubscriptionIdParameter": {
        "description": "The target subscription ID.",
        "in": "path",
        "name": "targetSubscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "PlanAcquisition": {
        "description": "Represents the acquisition of an add-on plan for a subscription.",
        "properties": {
          "acquisitionId": {
            "description": "Acquisition identifier.",
            "type": "string"
          },
          "acquisitionTime": {
            "description": "Acquisition time.",
            "format": "date-time",
            "type": "string"
          },
          "externalReferenceId": {
            "description": "External reference identifier.",
            "type": "string"
          },
          "id": {
            "description": "Identifier in the tenant subscription context.",
            "type": "string"
          },
          "planId": {
            "description": "Plan identifier in the tenant subscription context.",
            "type": "string"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "State of the provisioning."
          }
        },
        "type": "object"
      },
      "PlanAcquisitionList": {
        "description": "List of acquired plans.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of acquired plans.",
            "items": {
              "$ref": "#/components/schemas/PlanAcquisition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProvisioningState": {
        "description": "Provisioning state for subscriptions service resources, for example, resource provider registration.",
        "enum": [
          "NotSpecified",
          "Accepted",
          "Failed",
          "Succeeded"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ProvisioningState",
          "values": [
            {
              "description": "The provisioning state is not specified.",
              "name": "NotSpecified",
              "value": "NotSpecified"
            },
            {
              "description": "The provisioning state is accepted, and indicates provisioning is ongoing.",
              "name": "Accepted",
              "value": "Accepted"
            },
            {
              "description": "The provisioning state is failed, and indicates the data is potentially out-of-sync with third parties.",
              "name": "Failed",
              "value": "Failed"
            },
            {
              "description": "The provisioning state is succeeded, and indicates the data is in-sync with third-parties.",
              "name": "Succeeded",
              "value": "Succeeded"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}