openapi: 3.0.0
info:
  description: >-
    Role based access control provides you a way to apply granular level policy
    administration down to individual resources or resource groups. These
    operations enable you to get deny assignments. A deny assignment describes
    the set of actions on resources that are denied for Azure Active Directory
    users.
  title: AuthorizationManagementClient
  version: 2018-07-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/denyAssignments':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyAssignmentListResult'
          description: OK - Returns an array of deny assignments.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - DenyAssignments
      description: Gets all deny assignments for the subscription.
      operationId: DenyAssignments_List
      x-ms-examples:
        List deny assignments for subscription:
          $ref: ./examples/GetAllDenyAssignments.json
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/denyAssignments':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyAssignmentListResult'
          description: OK - Returns an array of deny assignments.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - DenyAssignments
      description: Gets deny assignments for a resource group.
      operationId: DenyAssignments_ListForResourceGroup
      x-ms-examples:
        List deny assignments for resource group:
          $ref: ./examples/GetDenyAssignmentsForResourceGroup.json
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/denyAssignments':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
        - allowReserved: true
          description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - allowReserved: true
          description: The resource type of the resource.
          in: path
          name: resourceType
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to get deny assignments for.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyAssignmentListResult'
          description: OK - Returns an array of deny assignments.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - DenyAssignments
      description: Gets deny assignments for a resource.
      operationId: DenyAssignments_ListForResource
      x-ms-examples:
        List deny assignments for resource:
          $ref: ./examples/GetDenyAssignmentsForResource.json
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/{denyAssignmentId}':
    get:
      parameters:
        - allowReserved: true
          description: >-
            The fully qualified deny assignment ID. For example, use the format,
            /subscriptions/{guid}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}
            for subscription level deny assignments, or
            /providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}
            for tenant level deny assignments.
          in: path
          name: denyAssignmentId
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyAssignment'
          description: OK - Returns the deny assignment.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - DenyAssignments
      description: Gets a deny assignment by ID.
      operationId: DenyAssignments_GetById
      x-ms-examples:
        Get deny assignment by ID:
          $ref: ./examples/GetDenyAssignmentById.json
  '/{scope}/providers/Microsoft.Authorization/denyAssignments':
    get:
      parameters:
        - allowReserved: true
          description: The scope of the deny assignments.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyAssignmentListResult'
          description: OK - Returns an array of deny assignments.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - DenyAssignments
      description: Gets deny assignments for a scope.
      operationId: DenyAssignments_ListForScope
      x-ms-examples:
        List deny assignments for scope:
          $ref: ./examples/GetDenyAssignmentByScope.json
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/{scope}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}':
    get:
      parameters:
        - allowReserved: true
          description: The scope of the deny assignment.
          in: path
          name: scope
          required: true
          schema:
            type: string
          x-ms-skip-url-encoding: true
        - description: The ID of the deny assignment to get.
          in: path
          name: denyAssignmentId
          required: true
          schema:
            type: string
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyAssignment'
          description: OK - Returns information about the deny assignment.
        default:
          content:
            application/json:
              schema:
                $ref: >-
                  ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
          description: Error response describing why the operation failed.
      tags:
        - DenyAssignments
      description: Get the specified deny assignment.
      operationId: DenyAssignments_Get
      x-ms-examples:
        Get deny assignment by name:
          $ref: ./examples/GetDenyAssignmentByNameId.json
components:
  parameters:
    FilterParameter:
      description: >-
        The filter to apply on the operation. Use $filter=atScope() to return
        all deny assignments at or above the scope. Use
        $filter=denyAssignmentName eq '{name}' to search deny assignments by
        name at specified scope. Use $filter=principalId eq '{id}' to return all
        deny assignments at, above and below the scope for the specified
        principal. Use $filter=gdprExportPrincipalId eq '{id}' to return all
        deny assignments at, above and below the scope for the specified
        principal. This filter is different from the principalId filter as it
        returns not only those deny assignments that contain the specified
        principal is the Principals list but also those deny assignments that
        contain the specified principal is the ExcludePrincipals list.
        Additionally, when gdprExportPrincipalId filter is used, only the deny
        assignment name and description properties are returned.
      in: query
      name: $filter
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceProviderNamespaceParameter:
      allowReserved: true
      description: The namespace of the resource provider.
      in: path
      name: resourceProviderNamespace
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    DenyAssignment:
      description: Deny Assignment
      properties:
        id:
          description: The deny assignment ID.
          readOnly: true
          type: string
        name:
          description: The deny assignment name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DenyAssignmentProperties'
          description: Deny assignment properties.
          x-ms-client-flatten: true
        type:
          description: The deny assignment type.
          readOnly: true
          type: string
      type: object
    DenyAssignmentFilter:
      description: Deny Assignments filter
      properties:
        denyAssignmentName:
          description: Return deny assignment with specified name.
          type: string
        gdprExportPrincipalId:
          description: >-
            Return all deny assignments where the specified principal is listed
            either in the principals list or exclude principals list of deny
            assignments.
          type: string
        principalId:
          description: >-
            Return all deny assignments where the specified principal is listed
            in the principals list of deny assignments.
          type: string
      type: object
    DenyAssignmentListResult:
      description: Deny assignment list operation result.
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: Deny assignment list.
          items:
            $ref: '#/components/schemas/DenyAssignment'
          type: array
      type: object
    DenyAssignmentPermission:
      description: Deny assignment permissions.
      properties:
        actions:
          description: Actions to which the deny assignment does not grant access.
          items:
            type: string
          type: array
        dataActions:
          description: Data actions to which the deny assignment does not grant access.
          items:
            type: string
          type: array
        notActions:
          description: >-
            Actions to exclude from that the deny assignment does not grant
            access.
          items:
            type: string
          type: array
        notDataActions:
          description: >-
            Data actions to exclude from that the deny assignment does not grant
            access.
          items:
            type: string
          type: array
      type: object
    DenyAssignmentProperties:
      description: Deny assignment properties.
      properties:
        denyAssignmentName:
          description: The display name of the deny assignment.
          type: string
        description:
          description: The description of the deny assignment.
          type: string
        doNotApplyToChildScopes:
          description: >-
            Determines if the deny assignment applies to child scopes. Default
            value is false.
          type: boolean
        excludePrincipals:
          description: Array of principals to which the deny assignment does not apply.
          items:
            $ref: ../2020-10-01-preview/common-types.json#/definitions/Principal
          type: array
        isSystemProtected:
          description: >-
            Specifies whether this deny assignment was created by Azure and
            cannot be edited or deleted.
          type: boolean
        permissions:
          description: An array of permissions that are denied by the deny assignment.
          items:
            $ref: '#/components/schemas/DenyAssignmentPermission'
          type: array
          x-ms-identifiers: []
        principals:
          description: Array of principals to which the deny assignment applies.
          items:
            $ref: ../2020-10-01-preview/common-types.json#/definitions/Principal
          type: array
        scope:
          description: The deny assignment scope.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

