openapi: 3.0.0
info:
  description: Azure Application Insights client for saved items.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/{scopePath}':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ItemScopePathParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/ItemScopeParameter'
        - $ref: '#/components/parameters/ItemTypeParameter'
        - $ref: '#/components/parameters/IncludeContentParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: >-
                    #/components/schemas/ApplicationInsightsComponentAnalyticsItem
                type: array
          description: >-
            A list containing 0 or more items associated with the Application
            Insights component.
      description: >-
        Gets a list of Analytics Items defined within an Application Insights
        component.
      operationId: AnalyticsItems_List
      x-ms-examples:
        AnalyticsItemList:
          $ref: ./examples/AnalyticsItemList.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/{scopePath}/item':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ItemScopePathParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/ItemIdParameter'
        - $ref: '#/components/parameters/ItemNameParameter'
      responses:
        '200':
          description: >-
            The item has been successfully removed from the Application Insights
            component
      description: >-
        Deletes a specific Analytics Items defined within an Application
        Insights component.
      operationId: AnalyticsItems_Delete
      x-ms-examples:
        AnalyticsItemDelete:
          $ref: ./examples/AnalyticsItemDelete.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ItemScopePathParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/ItemIdParameter'
        - $ref: '#/components/parameters/ItemNameParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
          description: A single item associated with the Application Insights component.
      description: >-
        Gets a specific Analytics Items defined within an Application Insights
        component.
      operationId: AnalyticsItems_Get
      x-ms-examples:
        AnalyticsItemGet:
          $ref: ./examples/AnalyticsItemGet.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ItemScopePathParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/components/parameters/ApiVersionParameter
        - $ref: '#/components/parameters/OverrideItemParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
          description: >-
            The new or updated item associated with the Application Insights
            component.
      description: >-
        Adds or Updates a specific Analytics Item within an Application Insights
        component.
      operationId: AnalyticsItems_Put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentAnalyticsItem'
        description: >-
          Properties that need to be specified to create a new item and add it
          to an Application Insights component.
        required: true
      x-ms-examples:
        AnalyticsItemPut:
          $ref: ./examples/AnalyticsItemPut.json
components:
  parameters:
    IncludeContentParameter:
      description: >-
        Flag indicating whether or not to return the content of each applicable
        item. If false, only return the item information.
      in: query
      name: includeContent
      required: false
      schema:
        type: boolean
      x-ms-parameter-location: method
    ItemIdParameter:
      description: The Id of a specific item defined in the Application Insights component
      in: query
      name: id
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ItemNameParameter:
      description: >-
        The name of a specific item defined in the Application Insights
        component
      in: query
      name: name
      required: false
      schema:
        type: string
      x-ms-parameter-location: method
    ItemScopeParameter:
      description: >-
        Enum indicating if this item definition is owned by a specific user or
        is shared between all users with access to the Application Insights
        component.
      in: query
      name: scope
      required: false
      schema:
        default: shared
        enum:
          - shared
          - user
        type: string
      x-ms-enum:
        modelAsString: true
        name: ItemScope
      x-ms-parameter-location: method
    ItemScopePathParameter:
      description: >-
        Enum indicating if this item definition is owned by a specific user or
        is shared between all users with access to the Application Insights
        component.
      in: path
      name: scopePath
      required: true
      schema:
        enum:
          - analyticsItems
          - myanalyticsItems
        type: string
      x-ms-enum:
        modelAsString: true
        name: ItemScopePath
      x-ms-parameter-location: method
    ItemTypeParameter:
      description: Enum indicating the type of the Analytics item.
      in: query
      name: type
      required: false
      schema:
        default: none
        enum:
          - none
          - query
          - function
          - folder
          - recent
        type: string
      x-ms-enum:
        modelAsString: true
        name: ItemTypeParameter
      x-ms-parameter-location: method
    OverrideItemParameter:
      description: >-
        Flag indicating whether or not to force save an item. This allows
        overriding an item if it already exists.
      in: query
      name: overrideItem
      required: false
      schema:
        type: boolean
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentAnalyticsItem:
      description: >-
        Properties that define an Analytics item that is associated to an
        Application Insights component.
      properties:
        Content:
          description: The content of this item
          type: string
        Id:
          description: Internally assigned unique id of the item definition.
          type: string
        Name:
          description: The user-defined name of the item.
          type: string
        Properties:
          $ref: >-
            #/components/schemas/ApplicationInsightsComponentAnalyticsItemProperties
        Scope:
          description: >-
            Enum indicating if this item definition is owned by a specific user
            or is shared between all users with access to the Application
            Insights component.
          enum:
            - shared
            - user
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemScope
        TimeCreated:
          description: Date and time in UTC when this item was created.
          readOnly: true
          type: string
        TimeModified:
          description: >-
            Date and time in UTC of the last modification that was made to this
            item.
          readOnly: true
          type: string
        Type:
          description: Enum indicating the type of the Analytics item.
          enum:
            - none
            - query
            - recent
            - function
          type: string
          x-ms-enum:
            modelAsString: true
            name: ItemType
        Version:
          description: >-
            This instance's version of the data model. This can change as new
            features are added.
          readOnly: true
          type: string
      type: object
    ApplicationInsightsComponentAnalyticsItemProperties:
      description: >-
        A set of properties that can be defined in the context of a specific
        item type. Each type may have its own properties.
      properties:
        functionAlias:
          description: 'A function alias, used when the type of the item is Function'
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

