openapi: 3.0.0
info:
  description: >-
    The Azure SQL Database management API provides a RESTful set of web APIs
    that interact with Azure SQL Database services to manage your databases. The
    API enables users to create, retrieve, update, and delete databases,
    servers, and other entities.
  title: SqlManagementClient
  version: 2017-03-01-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/dnsAliases':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server that the alias is pointing to.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDnsAliasListResult'
          description: Successfully retrieved the list of server DNS aliases.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - ServerDnsAliases
      description: Gets a list of server DNS aliases for a server.
      operationId: ServerDnsAliases_ListByServer
      x-ms-examples:
        List server DNS aliases:
          $ref: ./examples/ServerDnsAliasList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/dnsAliases/{dnsAliasName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server that the alias is pointing to.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the server DNS alias.
          in: path
          name: dnsAliasName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the server DNS alias.
        '202':
          description: Accepted
        '204':
          description: The specified server DNS alias does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - ServerDnsAliases
      description: Deletes the server DNS alias with the given name.
      operationId: ServerDnsAliases_Delete
      x-ms-examples:
        Delete server DNS alias:
          $ref: ./examples/ServerDnsAliasDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server that the alias is pointing to.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the server DNS alias.
          in: path
          name: dnsAliasName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDnsAlias'
          description: Successfully retrieved the specified server DNS alias.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - ServerDnsAliases
      description: Gets a server DNS alias.
      operationId: ServerDnsAliases_Get
      x-ms-examples:
        Get server DNS alias:
          $ref: ./examples/ServerDnsAliasGet.json
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server that the alias is pointing to.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the server DNS alias.
          in: path
          name: dnsAliasName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDnsAlias'
          description: The server DNS alias already exists.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerDnsAlias'
          description: Successfully created a server DNS alias.
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidServerDnsAliasAcquireRequest - The acquire server DNS alias request body is empty or invalid (it should contain the old server alias id, for example: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.Sql/servers/dns-alias-old-server/dnsAliases/dns-alias-name-1).

             * 400 ServerDnsAliasAcquireRequestInvalidOldServerDnsAliasId - 

             * 400 UnableToResolveRemoteServer - 

             * 400 ServerNotFound - The requested server was not found.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 TokenTooLong - The provided token is too long.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 400 InvalidServerName - Invalid server name specified.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 409 ServerDnsAliasAlreadyExists - 

             * 409 ServerDnsAliasAlreadyExists - 

             * 409 ServerDnsAliasBusy - 

             * 409 ServerDnsAliasDnsRecordInUse - 

             * 409 InvalidServerDnsAliasName - 

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingServerOperation - An operation is currently in progress for the server.

             * 429 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ServerDnsAliases
      description: Creates a server dns alias.
      operationId: ServerDnsAliases_CreateOrUpdate
      x-ms-examples:
        Create server DNS alias:
          $ref: ./examples/ServerDnsAliasCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/dnsAliases/{dnsAliasName}/acquire':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - description: The name of the server that the alias is pointing to.
          in: path
          name: serverName
          required: true
          schema:
            type: string
        - description: The name of the server dns alias.
          in: path
          name: dnsAliasName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully acquired server DNS alias.
        '202':
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidServerDnsAliasAcquireRequest - The acquire server DNS alias request body is empty or invalid (it should contain the old server alias id, for example: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.Sql/servers/dns-alias-old-server/dnsAliases/dns-alias-name-1).

             * 400 ServerDnsAliasAcquireRequestInvalidOldServerDnsAliasId - 

             * 400 UnableToResolveRemoteServer - 

             * 400 ServerNotFound - The requested server was not found.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 TokenTooLong - The provided token is too long.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 400 InvalidServerName - Invalid server name specified.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDnsAliasAlreadyExists - 

             * 409 ServerDnsAliasAlreadyExists - 

             * 409 ServerDnsAliasBusy - 

             * 409 ServerDnsAliasDnsRecordInUse - 

             * 409 InvalidServerDnsAliasName - 

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingServerOperation - An operation is currently in progress for the server.

             * 429 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
        - ServerDnsAliases
      description: Acquires server DNS alias from another server.
      operationId: ServerDnsAliases_Acquire
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerDnsAliasAcquisition'
        required: true
      x-ms-examples:
        Acquire server DNS alias:
          $ref: ./examples/ServerDnsAliasAcquire.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: >-
        The name of the resource group that contains the resource. You can
        obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: client
  schemas:
    ServerDnsAlias:
      allOf:
        - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A server DNS alias.
      properties:
        properties:
          $ref: '#/components/schemas/ServerDnsAliasProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      type: object
    ServerDnsAliasAcquisition:
      description: A server DNS alias acquisition request.
      properties:
        oldServerDnsAliasId:
          description: >-
            The id of the server alias that will be acquired to point to this
            server instead.
          type: string
      type: object
    ServerDnsAliasListResult:
      description: A list of server DNS aliases.
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ServerDnsAlias'
          readOnly: true
          type: array
      type: object
    ServerDnsAliasProperties:
      description: Properties of a server DNS alias.
      properties:
        azureDnsRecord:
          description: The fully qualified DNS record for alias
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

