openapi: 3.0.0
info:
  title: Azure Action Groups API
  version: '2018-09-01'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/actionGroups':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the list of action groups could not be
            retrieved.
      description: Get a list of all action groups in a subscription.
      operationId: ActionGroups_ListBySubscriptionId
      x-ms-examples:
        List action groups:
          $ref: ./examples/listActionGroups.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups':
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the list of action groups could not be
            retrieved.
      description: Get a list of all action groups in a resource group.
      operationId: ActionGroups_ListByResourceGroup
      x-ms-examples:
        List action groups:
          $ref: ./examples/listActionGroups.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}':
    delete:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActionGroupNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: The action group was successfully deleted.
        '204':
          description: The action group does not exist. It may have already been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the action group could not be deleted.
      description: Delete an action group.
      operationId: ActionGroups_Delete
      x-ms-examples:
        Delete an action group:
          $ref: ./examples/deleteActionGroup.json
    get:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActionGroupNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the action group could not be retrieved. 404:
            The action group does not exist.
      description: Get an action group.
      operationId: ActionGroups_Get
      x-ms-examples:
        Get an action group:
          $ref: ./examples/getActionGroup.json
    patch:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActionGroupNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: An existing action group was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      description: >-
        Updates an existing action group's tags. To update other fields use the
        CreateOrUpdate method.
      operationId: ActionGroups_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupPatchBody'
        description: Parameters supplied to the operation.
        required: true
      x-ms-examples:
        Patch an action group:
          $ref: ./examples/patchActionGroup.json
    put:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActionGroupNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: An existing action group was successfully updated.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: A new action group was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the action group could not be created or
            updated.
      description: Create a new action group or update an existing one.
      operationId: ActionGroups_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupResource'
        description: The action group to create or use for the update.
        required: true
      x-ms-examples:
        Create or update an action group:
          $ref: ./examples/createOrUpdateActionGroup.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}/subscribe':
    post:
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ResourceGroupNameParameter
        - $ref: '#/components/parameters/ActionGroupNameParameter'
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v2/types.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          description: The receiver was successfully enabled.
        '409':
          description: The receiver is already enabled in the action group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: >-
            An error occurred and the receiver could not be enabled, e.g.: 404:
            The action group was not found or no matching receiver was found in
            the action group.
      description: >-
        Enable a receiver in an action group. This changes the receiver's status
        from Disabled to Enabled. This operation is only supported for Email or
        SMS receivers.
      operationId: ActionGroups_EnableReceiver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableRequest'
        description: The receiver to re-enable.
        required: true
      x-ms-examples:
        Enable the receiver:
          $ref: ./examples/enableReceiver.json
components:
  parameters:
    ActionGroupNameParameter:
      description: The name of the action group.
      in: path
      name: actionGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    ActionGroup:
      description: An Azure action group.
      properties:
        armRoleReceivers:
          description: >-
            The list of ARM role receivers that are part of this action group.
            Roles are Azure RBAC roles and only built-in roles are supported.
          items:
            $ref: '#/components/schemas/ArmRoleReceiver'
          type: array
        automationRunbookReceivers:
          description: >-
            The list of AutomationRunbook receivers that are part of this action
            group.
          items:
            $ref: '#/components/schemas/AutomationRunbookReceiver'
          type: array
        azureAppPushReceivers:
          description: >-
            The list of AzureAppPush receivers that are part of this action
            group.
          items:
            $ref: '#/components/schemas/AzureAppPushReceiver'
          type: array
        azureFunctionReceivers:
          description: >-
            The list of azure function receivers that are part of this action
            group.
          items:
            $ref: '#/components/schemas/AzureFunctionReceiver'
          type: array
        emailReceivers:
          description: The list of email receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/EmailReceiver'
          type: array
        enabled:
          default: true
          description: >-
            Indicates whether this action group is enabled. If an action group
            is not enabled, then none of its receivers will receive
            communications.
          type: boolean
        groupShortName:
          description: >-
            The short name of the action group. This will be used in SMS
            messages.
          maxLength: 12
          type: string
        itsmReceivers:
          description: The list of ITSM receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/ItsmReceiver'
          type: array
        logicAppReceivers:
          description: The list of logic app receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/LogicAppReceiver'
          type: array
        smsReceivers:
          description: The list of SMS receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/SmsReceiver'
          type: array
        voiceReceivers:
          description: The list of voice receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/VoiceReceiver'
          type: array
        webhookReceivers:
          description: The list of webhook receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/WebhookReceiver'
          type: array
      required:
        - groupShortName
        - enabled
      type: object
    ActionGroupList:
      description: A list of action groups.
      properties:
        nextLink:
          description: Provides the link to retrieve the next set of elements.
          type: string
        value:
          description: The list of action groups.
          items:
            $ref: '#/components/schemas/ActionGroupResource'
          type: array
      type: object
    ActionGroupPatch:
      description: An Azure action group for patch operations.
      properties:
        enabled:
          default: true
          description: >-
            Indicates whether this action group is enabled. If an action group
            is not enabled, then none of its actions will be activated.
          type: boolean
      type: object
    ActionGroupPatchBody:
      description: An action group object for the body of patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          $ref: '#/components/schemas/ActionGroupPatch'
          description: The action group settings for an update operation.
          x-ms-client-flatten: true
      type: object
    ActionGroupResource:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An action group resource.
      properties:
        properties:
          $ref: '#/components/schemas/ActionGroup'
          description: The action groups properties of the resource.
          x-ms-client-flatten: true
      type: object
    ArmRoleReceiver:
      description: An arm role receiver.
      properties:
        name:
          description: >-
            The name of the arm role receiver. Names must be unique across all
            receivers within an action group.
          type: string
        roleId:
          description: The arm role id.
          type: string
      required:
        - name
        - roleId
      type: object
    AutomationRunbookReceiver:
      description: The Azure Automation Runbook notification receiver.
      properties:
        automationAccountId:
          description: >-
            The Azure automation account Id which holds this runbook and
            authenticate to Azure resource.
          type: string
        isGlobalRunbook:
          description: Indicates whether this instance is global runbook.
          type: boolean
        name:
          description: Indicates name of the webhook.
          type: string
        runbookName:
          description: The name for this runbook.
          type: string
        serviceUri:
          description: The URI where webhooks should be sent.
          type: string
        webhookResourceId:
          description: The resource id for webhook linked to this runbook.
          type: string
      required:
        - automationAccountId
        - runbookName
        - webhookResourceId
        - isGlobalRunbook
      type: object
    AzureAppPushReceiver:
      description: The Azure mobile App push notification receiver.
      properties:
        emailAddress:
          description: The email address registered for the Azure mobile app.
          type: string
        name:
          description: >-
            The name of the Azure mobile app push receiver. Names must be unique
            across all receivers within an action group.
          type: string
      required:
        - name
        - emailAddress
      type: object
    AzureFunctionReceiver:
      description: An azure function receiver.
      properties:
        functionAppResourceId:
          description: The azure resource id of the function app.
          type: string
        functionName:
          description: The function name in the function app.
          type: string
        httpTriggerUrl:
          description: The http trigger url where http request sent to.
          type: string
        name:
          description: >-
            The name of the azure function receiver. Names must be unique across
            all receivers within an action group.
          type: string
      required:
        - name
        - functionAppResourceId
        - functionName
        - httpTriggerUrl
      type: object
    EmailReceiver:
      description: An email receiver.
      properties:
        emailAddress:
          description: The email address of this receiver.
          type: string
        name:
          description: >-
            The name of the email receiver. Names must be unique across all
            receivers within an action group.
          type: string
        status:
          $ref: '#/components/schemas/ReceiverStatus'
          description: The receiver status of the e-mail.
          readOnly: true
      required:
        - name
        - emailAddress
      type: object
    EnableRequest:
      description: Describes a receiver that should be resubscribed.
      properties:
        receiverName:
          description: The name of the receiver to resubscribe.
          type: string
      required:
        - receiverName
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    ItsmReceiver:
      description: An Itsm receiver.
      properties:
        connectionId:
          description: >-
            Unique identification of ITSM connection among multiple defined in
            above workspace.
          type: string
        name:
          description: >-
            The name of the Itsm receiver. Names must be unique across all
            receivers within an action group.
          type: string
        region:
          description: >-
            Region in which workspace resides. Supported
            values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'
          type: string
        ticketConfiguration:
          description: >-
            JSON blob for the configurations of the ITSM action.
            CreateMultipleWorkItems option will be part of this blob as well.
          type: string
        workspaceId:
          description: OMS LA instance identifier.
          type: string
      required:
        - name
        - workspaceId
        - connectionId
        - ticketConfiguration
        - region
      type: object
    LogicAppReceiver:
      description: A logic app receiver.
      properties:
        callbackUrl:
          description: The callback url where http request sent to.
          type: string
        name:
          description: >-
            The name of the logic app receiver. Names must be unique across all
            receivers within an action group.
          type: string
        resourceId:
          description: The azure resource id of the logic app receiver.
          type: string
      required:
        - name
        - resourceId
        - callbackUrl
      type: object
    ReceiverStatus:
      description: >-
        Indicates the status of the receiver. Receivers that are not Enabled
        will not receive any communications.
      enum:
        - NotSpecified
        - Enabled
        - Disabled
      type: string
      x-ms-enum:
        modelAsString: false
        name: ReceiverStatus
    Resource:
      description: An azure resource object
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
            - create
            - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      required:
        - location
      type: object
      x-ms-azure-resource: true
    SmsReceiver:
      description: An SMS receiver.
      properties:
        countryCode:
          description: The country code of the SMS receiver.
          type: string
        name:
          description: >-
            The name of the SMS receiver. Names must be unique across all
            receivers within an action group.
          type: string
        phoneNumber:
          description: The phone number of the SMS receiver.
          type: string
        status:
          $ref: '#/components/schemas/ReceiverStatus'
          description: The status of the receiver.
          readOnly: true
      required:
        - name
        - countryCode
        - phoneNumber
      type: object
    VoiceReceiver:
      description: A voice receiver.
      properties:
        countryCode:
          description: The country code of the voice receiver.
          type: string
        name:
          description: >-
            The name of the voice receiver. Names must be unique across all
            receivers within an action group.
          type: string
        phoneNumber:
          description: The phone number of the voice receiver.
          type: string
      required:
        - name
        - countryCode
        - phoneNumber
      type: object
    WebhookReceiver:
      description: A webhook receiver.
      properties:
        name:
          description: >-
            The name of the webhook receiver. Names must be unique across all
            receivers within an action group.
          type: string
        serviceUri:
          description: The URI where webhooks should be sent.
          type: string
      required:
        - name
        - serviceUri
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

