{
  "openapi": "3.0.0",
  "info": {
    "title": "StorSimpleManagementClient",
    "version": "2016-10-01",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storSimple1200Series/resource-manager/Microsoft.StorSimple/stable/2016-10-01/StorSimple.json"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.StorSimple/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableProviderOperations"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "AvailableProviderOperations"
        ],
        "deprecated": false,
        "description": "List of AvailableProviderOperations",
        "operationId": "AvailableProviderOperations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerList"
                }
              }
            },
            "description": "The collection of StorSimple managers."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Retrieves all the managers in a subscription.",
        "operationId": "Managers_List",
        "x-ms-examples": {
          "ManagersList": {
            "$ref": "./examples/ManagersList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerList"
                }
              }
            },
            "description": "The collection of StorSimple managers."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Retrieves all the managers in a resource group.",
        "operationId": "Managers_ListByResourceGroup",
        "x-ms-examples": {
          "ManagersListByResourceGroup": {
            "$ref": "./examples/ManagersListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The StorSimple manager has been successfully deleted"
          },
          "204": {
            "description": "The StorSimple manager is already in a deleted state"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Deletes the manager.",
        "operationId": "Managers_Delete",
        "x-ms-examples": {
          "ManagersDelete": {
            "$ref": "./examples/ManagersDelete.json"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified manager name.",
        "operationId": "Managers_Get",
        "x-ms-examples": {
          "ManagersGet": {
            "$ref": "./examples/ManagersGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager has been successfully updated"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Updates the StorSimple Manager.",
        "operationId": "Managers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagerPatch"
              }
            }
          },
          "description": "The manager update parameters.",
          "required": true
        },
        "x-ms-examples": {
          "ManagersUpdate": {
            "$ref": "./examples/ManagersUpdate.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager has been successfully updated"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            },
            "description": "The StorSimple manager has been successfully created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Creates or updates the manager.",
        "operationId": "Managers_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Manager"
              }
            }
          },
          "description": "The manager.",
          "required": true
        },
        "x-ms-examples": {
          "ManagersCreateOrUpdate": {
            "$ref": "./examples/ManagersCreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlRecordList"
                }
              }
            },
            "description": "The collection of access control records."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Retrieves all the access control records in a manager.",
        "operationId": "AccessControlRecords_ListByManager",
        "x-ms-examples": {
          "AccessControlRecordsListByManager": {
            "$ref": "./examples/AccessControlRecordsListByManager.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the access control record to delete.",
            "in": "path",
            "name": "accessControlRecordName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the access control record."
          },
          "204": {
            "description": "Successfully deleted the access control record."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Deletes the access control record.",
        "operationId": "AccessControlRecords_Delete",
        "x-ms-examples": {
          "AccessControlRecordsDelete": {
            "$ref": "./examples/AccessControlRecordsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "Name of access control record to be fetched.",
            "in": "path",
            "name": "accessControlRecordName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlRecord"
                }
              }
            },
            "description": "The access control record."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified access control record name.",
        "operationId": "AccessControlRecords_Get",
        "x-ms-examples": {
          "AccessControlRecordsGet": {
            "$ref": "./examples/AccessControlRecordsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the access control record.",
            "in": "path",
            "name": "accessControlRecordName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlRecord"
                }
              }
            },
            "description": "Successfully created or updated the access control record."
          },
          "202": {
            "description": "Accepted the request to create or update the access control record."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "AccessControlRecords"
        ],
        "deprecated": false,
        "description": "Creates or Updates an access control record.",
        "operationId": "AccessControlRecords_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlRecord"
              }
            }
          },
          "description": "The access control record to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "AccessControlRecordsCreateOrUpdate": {
            "$ref": "./examples/AccessControlRecordsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertList"
                }
              }
            },
            "description": "The collection of alerts."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "Retrieves all the alerts in a manager.",
        "operationId": "Alerts_ListByManager",
        "x-ms-examples": {
          "AlertsListByManager": {
            "$ref": "./examples/AlertsListByManager.json"
          }
        },
        "x-ms-odata": "#/components/schemas/AlertFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/backups": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupList"
                }
              }
            },
            "description": "The collection of backups."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Retrieves all the backups in a manager.",
        "operationId": "Backups_ListByManager",
        "x-ms-examples": {
          "BackupsListByManager": {
            "$ref": "./examples/BackupsListByManager.json"
          }
        },
        "x-ms-odata": "#/components/schemas/BackupFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/certificates/{certificateName}": {
      "put": {
        "parameters": [
          {
            "description": "Certificate Name",
            "in": "path",
            "name": "certificateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCertificateResponse"
                }
              }
            },
            "description": "Upload Vault Certificate"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Managers"
        ],
        "deprecated": false,
        "description": "Upload Vault Cred Certificate.\r\nReturns UploadCertificateResponse",
        "operationId": "Managers_UploadRegistrationCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadCertificateRequest"
              }
            }
          },
          "description": "UploadCertificateRequest Request",
          "required": true
        },
        "x-ms-examples": {
          "ManagersUploadRegistrationCertificate": {
            "$ref": "./examples/ManagersUploadRegistrationCertificate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully cleared the alerts."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "Clear the alerts.",
        "operationId": "Alerts_Clear",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearAlertRequest"
              }
            }
          },
          "description": "The clear alert request.",
          "required": true
        },
        "x-ms-examples": {
          "AlertsClear": {
            "$ref": "./examples/AlertsClear.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the device.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            },
            "description": "The collection of devices."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Retrieves all the devices in a manager.",
        "operationId": "Devices_ListByManager",
        "x-ms-examples": {
          "DevicesListByManager": {
            "$ref": "./examples/DevicesListByManager.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the device."
          },
          "204": {
            "description": "Successfully deleted the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Deletes the device.",
        "operationId": "Devices_Delete",
        "x-ms-examples": {
          "DevicesDelete": {
            "$ref": "./examples/DevicesDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the device.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "The device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified device name.",
        "operationId": "Devices_Get",
        "x-ms-examples": {
          "DevicesGet": {
            "$ref": "./examples/DevicesGet.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The device Name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "Successfully patched the device."
          },
          "202": {
            "description": "Accepted the request to patch the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Patches the device.",
        "operationId": "Devices_Patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePatch"
              }
            }
          },
          "description": "Patch representation of the device.",
          "required": true
        },
        "x-ms-examples": {
          "DevicesPatch": {
            "$ref": "./examples/DevicesPatch.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/alertSettings/default": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSettings"
                }
              }
            },
            "description": "The alert settings."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Returns the alert settings of the specified device name.",
        "operationId": "Devices_GetAlertSettings",
        "x-ms-examples": {
          "DevicesGetAlertSettings": {
            "$ref": "./examples/DevicesGetAlertSettings.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSettings"
                }
              }
            },
            "description": "Successfully created or updated the network settings."
          },
          "202": {
            "description": "Accepted the request to create or update the network settings."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Creates or updates the alert settings",
        "operationId": "Devices_CreateOrUpdateAlertSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSettings"
              }
            }
          },
          "description": "The alert settings.",
          "required": true
        },
        "x-ms-examples": {
          "DevicesCreateOrUpdateAlertSettings": {
            "$ref": "./examples/DevicesCreateOrUpdateAlertSettings.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupScheduleGroups": {
      "get": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupScheduleGroupList"
                }
              }
            },
            "description": "The collection of backup schedule groups."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "BackupScheduleGroups"
        ],
        "deprecated": false,
        "description": "Retrieves all the backup schedule groups in a device.",
        "operationId": "BackupScheduleGroups_ListByDevice",
        "x-ms-examples": {
          "BackupScheduleGroupsListByDevice": {
            "$ref": "./examples/BackupScheduleGroupsListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupScheduleGroups/{scheduleGroupName}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the schedule group.",
            "in": "path",
            "name": "scheduleGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the backup schedule group."
          },
          "204": {
            "description": "Successfully deleted the backup schedule group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "BackupScheduleGroups"
        ],
        "deprecated": false,
        "description": "Deletes the backup schedule group.",
        "operationId": "BackupScheduleGroups_Delete",
        "x-ms-examples": {
          "BackupScheduleGroupsDelete": {
            "$ref": "./examples/BackupScheduleGroupsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the schedule group.",
            "in": "path",
            "name": "scheduleGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupScheduleGroup"
                }
              }
            },
            "description": "The backup schedule group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "BackupScheduleGroups"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified backup schedule group name.",
        "operationId": "BackupScheduleGroups_Get",
        "x-ms-examples": {
          "BackupScheduleGroupsGet": {
            "$ref": "./examples/BackupScheduleGroupsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the schedule group.",
            "in": "path",
            "name": "scheduleGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupScheduleGroup"
                }
              }
            },
            "description": "Successfully created or updated the backup schedule group."
          },
          "202": {
            "description": "Accepted the request to create or update the backup schedule group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "BackupScheduleGroups"
        ],
        "deprecated": false,
        "description": "Creates or Updates the backup schedule Group.",
        "operationId": "BackupScheduleGroups_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupScheduleGroup"
              }
            }
          },
          "description": "The schedule group to be created",
          "required": true
        },
        "x-ms-examples": {
          "BackupScheduleGroupsCreateOrUpdate": {
            "$ref": "./examples/BackupScheduleGroupsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to true if you need backups which can be used for failover.",
            "in": "query",
            "name": "forFailover",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupList"
                }
              }
            },
            "description": "The collection of backups."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Retrieves all the backups in a device. Can be used to get the backups for failover also.",
        "operationId": "Backups_ListByDevice",
        "x-ms-examples": {
          "BackupsListByDevice": {
            "$ref": "./examples/BackupsListByDevice.json"
          }
        },
        "x-ms-odata": "#/components/schemas/BackupFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The backup name.",
            "in": "path",
            "name": "backupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the backup."
          },
          "204": {
            "description": "Successfully deleted the backup."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Deletes the backup.",
        "operationId": "Backups_Delete",
        "x-ms-examples": {
          "BackupsDelete": {
            "$ref": "./examples/BackupsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{elementName}/clone": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The backup name.",
            "in": "path",
            "name": "backupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The backup element name.",
            "in": "path",
            "name": "elementName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully cloned."
          },
          "202": {
            "description": "Accepted the request to clone."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Backups"
        ],
        "deprecated": false,
        "description": "Clones the given backup element to a new disk or share with given details.",
        "operationId": "Backups_Clone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneRequest"
              }
            }
          },
          "description": "The clone request.",
          "required": true
        },
        "x-ms-examples": {
          "BackupsClone": {
            "$ref": "./examples/BackupsClone.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/chapSettings": {
      "get": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapSettingsList"
                }
              }
            },
            "description": "The collection of chap settings."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "ChapSettings"
        ],
        "deprecated": false,
        "description": "Retrieves all the chap settings in a device.",
        "operationId": "ChapSettings_ListByDevice",
        "x-ms-examples": {
          "ChapSettingsListByDevice": {
            "$ref": "./examples/ChapSettingsListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/chapSettings/{chapUserName}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The chap user name.",
            "in": "path",
            "name": "chapUserName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the chap setting."
          },
          "204": {
            "description": "Successfully deleted the chap setting."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "ChapSettings"
        ],
        "deprecated": false,
        "description": "Deletes the chap setting.",
        "operationId": "ChapSettings_Delete",
        "x-ms-examples": {
          "ChapSettingsDelete": {
            "$ref": "./examples/ChapSettingsDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The user name of chap to be fetched.",
            "in": "path",
            "name": "chapUserName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapSettings"
                }
              }
            },
            "description": "The chap setting."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "ChapSettings"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified chap setting name.",
        "operationId": "ChapSettings_Get",
        "x-ms-examples": {
          "ChapSettingsGet": {
            "$ref": "./examples/ChapSettingsGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The chap user name.",
            "in": "path",
            "name": "chapUserName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapSettings"
                }
              }
            },
            "description": "Successfully created or updated the chap setting."
          },
          "202": {
            "description": "Accepted the request to create or update the chap setting."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "ChapSettings"
        ],
        "deprecated": false,
        "description": "Creates or updates the chap setting.",
        "operationId": "ChapSettings_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChapSettings"
              }
            }
          },
          "description": "The chap setting to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "ChapSettingsCreateOrUpdate": {
            "$ref": "./examples/ChapSettingsCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/deactivate": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to deactivate the device."
          },
          "204": {
            "description": "Successfully deactivated the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Deactivates the device.",
        "operationId": "Devices_Deactivate",
        "x-ms-examples": {
          "DevicesDeactivate": {
            "$ref": "./examples/DevicesDeactivate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/disks": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISCSIDiskList"
                }
              }
            },
            "description": "The collection of iSCSI disks."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "IscsiDisks"
        ],
        "deprecated": false,
        "description": "Retrieves all the iSCSI disks in a device.",
        "operationId": "IscsiDisks_ListByDevice",
        "x-ms-examples": {
          "IscsiDisksListByDevice": {
            "$ref": "./examples/IscsiDisksListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/download": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to download updates."
          },
          "204": {
            "description": "Successfully downloaded updates."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Downloads updates on the device.",
        "operationId": "Devices_DownloadUpdates",
        "x-ms-examples": {
          "DevicesDownloadUpdates": {
            "$ref": "./examples/DevicesDownloadUpdates.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/failover": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to failover the device."
          },
          "204": {
            "description": "Successfully completed failover of the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Fails over the device to another device.",
        "operationId": "Devices_Failover",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FailoverRequest"
              }
            }
          },
          "description": "The failover request.",
          "required": true
        },
        "x-ms-examples": {
          "DevicesFailover": {
            "$ref": "./examples/DevicesFailover.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/failoverTargets": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the device.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            },
            "description": "The collection of devices for failover."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "Devices"
        ],
        "deprecated": false,
        "description": "Retrieves all the devices which can be used as failover targets for the given device.",
        "operationId": "Devices_ListFailoverTarget",
        "x-ms-examples": {
          "DevicesListFailoverTarget": {
            "$ref": "./examples/DevicesListFailoverTarget.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileServerList"
                }
              }
            },
            "description": "The collection of file servers."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Retrieves all the file servers in a device.",
        "operationId": "FileServers_ListByDevice",
        "x-ms-examples": {
          "FileServersListByDevice": {
            "$ref": "./examples/FileServersListByDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the file server."
          },
          "204": {
            "description": "Successfully deleted the file server."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Deletes the file server.",
        "operationId": "FileServers_Delete",
        "x-ms-examples": {
          "FileServersDelete": {
            "$ref": "./examples/FileServersDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileServer"
                }
              }
            },
            "description": "The file server."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified file server name.",
        "operationId": "FileServers_Get",
        "x-ms-examples": {
          "FileServersGet": {
            "$ref": "./examples/FileServersGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileServer"
                }
              }
            },
            "description": "Successfully created or updated the file server."
          },
          "202": {
            "description": "Accepted the request to create or update the file server."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Creates or updates the file server.",
        "operationId": "FileServers_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileServer"
              }
            }
          },
          "description": "The file server.",
          "required": true
        },
        "x-ms-examples": {
          "FileServersCreateOrUpdate": {
            "$ref": "./examples/FileServersCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/backup": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to backup the file server."
          },
          "204": {
            "description": "Successfully completed backup of the file server."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Backup the file server now.",
        "operationId": "FileServers_BackupNow",
        "x-ms-examples": {
          "FileServersBackupNow": {
            "$ref": "./examples/FileServersBackupNow.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/metrics": {
      "get": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricList"
                }
              }
            },
            "description": "The collection of metrics."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Gets the file server metrics.",
        "operationId": "FileServers_ListMetrics",
        "x-ms-examples": {
          "FileServersListMetrics": {
            "$ref": "./examples/FileServersListMetrics.json"
          }
        },
        "x-ms-odata": "#/components/schemas/MetricFilter",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/metricsDefinitions": {
      "get": {
        "parameters": [
          {
            "description": "The name of the device.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the file server.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDefinitionList"
                }
              }
            },
            "description": "The collection of metric definitions."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileServers"
        ],
        "deprecated": false,
        "description": "Retrieves metric definitions of all metrics aggregated at the file server.",
        "operationId": "FileServers_ListMetricDefinition",
        "x-ms-examples": {
          "FileServersListMetricDefinition": {
            "$ref": "./examples/FileServersListMetricDefinition.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileShareList"
                }
              }
            },
            "description": "The collection of file shares."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileShares"
        ],
        "deprecated": false,
        "description": "Retrieves all the file shares in a file server.",
        "operationId": "FileShares_ListByFileServer",
        "x-ms-examples": {
          "FileSharesListByFileServer": {
            "$ref": "./examples/FileSharesListByFileServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares/{shareName}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file share Name",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted the request to delete the file share."
          },
          "204": {
            "description": "Successfully deleted the file share."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileShares"
        ],
        "deprecated": false,
        "description": "Deletes the file share.",
        "operationId": "FileShares_Delete",
        "x-ms-examples": {
          "FileSharesDelete": {
            "$ref": "./examples/FileSharesDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file share name.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileShare"
                }
              }
            },
            "description": "The file share."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileShares"
        ],
        "deprecated": false,
        "description": "Returns the properties of the specified file share name.",
        "operationId": "FileShares_Get",
        "x-ms-examples": {
          "FileSharesGet": {
            "$ref": "./examples/FileSharesGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file share name.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileShare"
                }
              }
            },
            "description": "Successfully created or updated the file share."
          },
          "202": {
            "description": "Accepted the request to create or update the file share."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown."
          }
        },
        "tags": [
          "FileShares"
        ],
        "deprecated": false,
        "description": "Creates or updates the file share.",
        "operationId": "FileShares_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileShare"
              }
            }
          },
          "description": "The file share.",
          "required": true
        },
        "x-ms-examples": {
          "FileSharesCreateOrUpdate": {
            "$ref": "./examples/FileSharesCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares/{shareName}/metrics": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file server name.",
            "in": "path",
            "name": "fileServerName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The file share name.",
            "in": "path",
            "name": "shareName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/managerNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "OData Filter options",
            "in": "query",
            "name": "$filter",
[...]
