{
  "openapi": "3.0.1",
  "info": {
    "title": "realCity Query Server API",
    "description": "Specification for the realCity Query Server API.",
    "version": "1.0.1",
    "x-jentic-source-url": "https://opendata.bkk.hu/docs/futar-openapi.yaml"
  },
  "servers": [
    {
      "description": "BKK FUT\u00c1R",
      "url": "https://futar.bkk.hu/api/query/v1/ws"
    }
  ],
  "security": [
    {
      "ApiKeyQuery": []
    }
  ],
  "paths": {
    "/{dialect}/api/where/alert-search": {
      "get": {
        "operationId": "searchAlerts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "A keres\u00e9si felt\u00e9tel, amit a zavar fejl\u00e9c\u00e9vel, le\u00edr\u00e1s\u00e1val, vagy azonos\u00edt\u00f3j\u00e1val illeszt\u00fcnk.",
            "schema": {
              "type": "string"
            },
            "example": "BKK_bkkinfo-75694"
          },
          {
            "name": "start",
            "in": "query",
            "description": "A keres\u00e9s id\u0151intervallum\u00e1nak eleje epoch m\u00e1sodpercben.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1625695260
          },
          {
            "name": "end",
            "in": "query",
            "description": "A keres\u00e9si id\u0151intervallum v\u00e9ge epoch m\u00e1sodpercben.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1625695260
          },
          {
            "name": "minResult",
            "in": "query",
            "description": "A visszaadott elemek minim\u00e1lis sz\u00e1ma.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            },
            "example": 5
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visszat\u00e9r a `query` param\u00e9terben megadott keres\u00e9si felt\u00e9telnek megfelel\u0151 zavarokkal, amik akt\u00edvak a megadott id\u0151intervallumnban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSearchMethodResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{dialect}/api/where/arrivals-and-departures-for-location": {
      "get": {
        "operationId": "getArrivalsAndDeparturesForLocation",
        "parameters": [
          {
            "name": "groupLimit",
            "in": "query",
            "description": "Menetrendi adatok maxim\u00e1lis sz\u00e1ma egy csoportban.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 4
            },
            "example": 2
          },
          {
            "name": "clientLon",
            "in": "query",
            "description": "A kliens hossz\u00fas\u00e1gi koordin\u00e1t\u00e1ja.",
            "schema": {
              "type": "number",
              "format": "double",
              "default": 0
            },
            "example": 19.049086
          },
          {
            "name": "clientLat",
            "in": "query",
            "description": "A kliens sz\u00e9less\u00e9gi koordin\u00e1t\u00e1ja.",
            "schema": {
              "type": "number",
              "format": "double",
              "default": 0
            },
            "example": 47.47375
          },
          {
            "name": "minutesBefore",
            "in": "query",
            "description": "A lek\u00e9rdez\u00e9si id\u0151ablak a `time` param\u00e9ter el\u0151tt ennyi perccel indul.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 2
            },
            "example": 2
          },
          {
            "name": "minutesAfter",
            "in": "query",
            "description": "A lek\u00e9rdez\u00e9si id\u0151ablak a `time` param\u00e9ter ut\u00e1n ennyi perccel \u00e9r v\u00e9get.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            },
            "example": 30
          },
          {
            "name": "stopId",
            "in": "query",
            "description": "A meg\u00e1ll\u00f3k azonos\u00edt\u00f3inak list\u00e1ja, amelyekhez a lek\u00e9r\u00e9st v\u00e9gezz\u00fck.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "BKK_F01029,BKK_F01029"
          },
          {
            "name": "includeRouteId",
            "in": "query",
            "description": "A v\u00e1lasz sz\u0171r\u00e9s\u00e9re haszn\u00e1lt j\u00e1ratok azonos\u00edt\u00f3inak list\u00e1ja.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "BKK_VP06,BKK_0090"
          },
          {
            "name": "time",
            "in": "query",
            "description": "A lek\u00e9rdez\u00e9s ki\u00e9rt\u00e9kel\u00e9s\u00e9hez haszn\u00e1lt id\u0151pont. Alap\u00e9rtelmezetten az aktu\u00e1lis szerverid\u0151.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1625740980
          },
          {
            "name": "onlyDepartures",
            "in": "query",
            "description": "Ha igaz akkor csak az \u00e9rkez\u00e9si (\u00e9s el\u0151rejelzett \u00e9rkez\u00e9si) id\u0151k nem szerepelnek a v\u00e1laszban.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A visszaadott indul\u00e1si \u00e9s \u00e9rkez\u00e9si id\u0151k list\u00e1j\u00e1nak maxim\u00e1lis hossza.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 60
            },
            "example": 60
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A helysz\u00edn k\u00f6z\u00e9ppontj\u00e1nak sz\u00e9lessg\u00e9i koordin\u00e1t\u00e1ja.",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 47.4973131430789
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A helysz\u00edn k\u00f6z\u00e9ppontj\u00e1nak hossz\u00fas\u00e1gi koordin\u00e1t\u00e1ja.",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 19.064639534671457
          },
          {
            "name": "latSpan",
            "in": "query",
            "description": "A lek\u00e9r\u00e9si ter\u00fclet sz\u00e9less\u00e9gi \u00edve. (Ter\u00fclet sz\u00e9less\u00e9ge: `lat +/- latspan`).",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 0.013365429598373169
          },
          {
            "name": "lonSpan",
            "in": "query",
            "description": "A lek\u00e9r\u00e9si ter\u00fclet hossz\u00fas\u00e1gi \u00edve. (Ter\u00fclet hossz\u00fas\u00e1ga: `lon +/- lonSpan`).",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 0.032126676908724505
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Ha a `latSpan` vagy a `longSpan` nincs kit\u00f6ltve, a keres\u00e9si ter\u00fclet a k\u00f6z\u00e9ppont\u00f3l sz\u00e1m\u00edtott `radius` m\u00e9ter t\u00e1vols\u00e1g mind a n\u00e9gy ir\u00e1nyban.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            },
            "example": 100
          },
          {
            "name": "query",
            "in": "query",
            "description": "A v\u00e1lasz sz\u0171r\u00e9s\u00e9re haszn\u00e1lt keres\u00e9si kifejez\u00e9s.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minResult",
            "in": "query",
            "description": "A visszaadott elemek minim\u00e1lis sz\u00e1ma.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            },
            "example": 5
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visszaadja egy ter\u00fclethez tartoz\u00f3 \u00e9rkez\u00e9si \u00e9s indul\u00e1si id\u0151ket j\u00e1ratazonos\u00edt\u00f3k \u00e9s c\u00e9l\u00e1llom\u00e1sok szerint csoportos\u00edtva.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrivalsAndDeparturesForLocationOTPMethodResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{dialect}/api/where/arrivals-and-departures-for-stop": {
      "get": {
        "operationId": "getArrivalsAndDeparturesForStop",
        "parameters": [
          {
            "name": "minutesBefore",
            "in": "query",
            "description": "A lek\u00e9rdez\u00e9si id\u0151ablak a `time` param\u00e9ter el\u0151tt ennyi perccel indul.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 2
            },
            "example": 2
          },
          {
            "name": "minutesAfter",
            "in": "query",
            "description": "A lek\u00e9rdez\u00e9si id\u0151ablak a `time` param\u00e9ter ut\u00e1n ennyi perccel \u00e9r v\u00e9get.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            },
            "example": 30
          },
          {
            "name": "stopId",
            "in": "query",
            "description": "A meg\u00e1ll\u00f3k azonos\u00edt\u00f3inak list\u00e1ja, amelyekhez a lek\u00e9r\u00e9st v\u00e9gezz\u00fck.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "BKK_F01029,BKK_F01029"
          },
          {
            "name": "includeRouteId",
            "in": "query",
            "description": "A v\u00e1lasz sz\u0171r\u00e9s\u00e9re haszn\u00e1lt j\u00e1ratok azonos\u00edt\u00f3inak list\u00e1ja.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "BKK_VP06,BKK_0090"
          },
          {
            "name": "time",
            "in": "query",
            "description": "A lek\u00e9rdez\u00e9s ki\u00e9rt\u00e9kel\u00e9s\u00e9hez haszn\u00e1lt id\u0151pont. Alap\u00e9rtelmezetten az aktu\u00e1lis szerverid\u0151.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1625740980
          },
          {
            "name": "onlyDepartures",
            "in": "query",
            "description": "Ha igaz akkor csak az \u00e9rkez\u00e9si (\u00e9s el\u0151rejelzett \u00e9rkez\u00e9si) id\u0151k nem szerepelnek a v\u00e1laszban.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A visszaadott indul\u00e1si \u00e9s \u00e9rkez\u00e9si id\u0151k list\u00e1j\u00e1nak maxim\u00e1lis hossza.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 60
            },
            "example": 60
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A helysz\u00edn k\u00f6z\u00e9ppontj\u00e1nak sz\u00e9lessg\u00e9i koordin\u00e1t\u00e1ja.",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 47.4973131430789
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A helysz\u00edn k\u00f6z\u00e9ppontj\u00e1nak hossz\u00fas\u00e1gi koordin\u00e1t\u00e1ja.",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 19.064639534671457
          },
          {
            "name": "latSpan",
            "in": "query",
            "description": "A lek\u00e9r\u00e9si ter\u00fclet sz\u00e9less\u00e9gi \u00edve. (Ter\u00fclet sz\u00e9less\u00e9ge: `lat +/- latspan`).",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 0.013365429598373169
          },
          {
            "name": "lonSpan",
            "in": "query",
            "description": "A lek\u00e9r\u00e9si ter\u00fclet hossz\u00fas\u00e1gi \u00edve. (Ter\u00fclet hossz\u00fas\u00e1ga: `lon +/- lonSpan`).",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 0.032126676908724505
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Ha a `latSpan` vagy a `longSpan` nincs kit\u00f6ltve, a keres\u00e9si ter\u00fclet a k\u00f6z\u00e9ppont\u00f3l sz\u00e1m\u00edtott `radius` m\u00e9ter t\u00e1vols\u00e1g mind a n\u00e9gy ir\u00e1nyban.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            },
            "example": 100
          },
          {
            "name": "query",
            "in": "query",
            "description": "A v\u00e1lasz sz\u0171r\u00e9s\u00e9re haszn\u00e1lt keres\u00e9si kifejez\u00e9s.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minResult",
            "in": "query",
            "description": "A visszaadott elemek minim\u00e1lis sz\u00e1ma.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            },
            "example": 5
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lek\u00e9ri a meg\u00e1ll\u00f3hoz tartoz\u00f3 \u00e9rkez\u00e9si \u00e9s indul\u00e1si id\u0151ket.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrivalsAndDeparturesForStopOTPMethodResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{dialect}/api/where/bicycle-rental": {
      "get": {
        "operationId": "getBicycleRentalStations",
        "parameters": [
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visszat\u00e9r az \u00f6sszes ker\u00e9kp\u00e1rk\u00f6lcs\u00f6nz\u0151 \u00e1llom\u00e1ssal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BicycleRentalMethodResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{dialect}/api/where/booking-redirect": {
      "get": {
        "operationId": "bookingRedirect",
        "parameters": [
          {
            "name": "routeId",
            "in": "query",
            "description": "A j\u00e1rat azonos\u00edt\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "BKK_0650"
          },
          {
            "name": "directionId",
            "in": "query",
            "description": "A j\u00e1rat \u00edr\u00e1nya.",
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "A menet azonos\u00edt\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "BKK_ADF5443"
          },
          {
            "name": "serviceDate",
            "in": "query",
            "description": "A menet \u00fczem napja.",
            "schema": {
              "type": "string"
            },
            "example": 20220130
          },
          {
            "name": "boardStopId",
            "in": "query",
            "description": "A felsz\u00e1ll\u00e1si meg\u00e1ll\u00f3 azonos\u00edt\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "BKK_064215"
          },
          {
            "name": "alightStopId",
            "in": "query",
            "description": "A lesz\u00e1ll\u00e1si meg\u00e1ll\u00f3 azonos\u00edt\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "BKK_064215"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          }
        ],
        "responses": {
          "302": {
            "description": "\u00c1t\u00edr\u00e1nyit a foglal\u00e1si oldalra."
          }
        }
      }
    },
    "/{dialect}/api/where/metadata": {
      "get": {
        "operationId": "getMetadata",
        "parameters": [
          {
            "name": "time",
            "in": "query",
            "description": "A lek\u00e9r\u00e9s ki\u00e9rt\u00e9kel\u00e9s\u00e9nek id\u0151pontja epoch m\u00e1sodpercben (az akt\u00edv zavarok lek\u00e9r\u00e9s\u00e9hez sz\u00fcks\u00e9ges).A szerver ideje az alap\u00e9rtelmezett \u00e9rt\u00e9ke.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1625666578
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A szerver metaadataival t\u00e9r vissza.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{dialect}/api/where/multi-route-details": {
      "get": {
        "operationId": "getMultiRouteDetails",
        "parameters": [
          {
            "name": "routeId",
            "in": "query",
            "description": "A lek\u00e9rt j\u00e1ratok azonos\u00edt\u00f3i.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "BKK_3040,BKK_3060"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Az akt\u00edv zavarok lek\u00e9r\u00e9s\u00e9hez haszn\u00e1lt d\u00e1tum. Alap\u00e9rtelmezett \u00e9rt\u00e9ke az aktu\u00e1lis nap.",
            "schema": {
              "type": "string"
            },
            "example": 20210707
          },
          {
            "name": "related",
            "in": "query",
            "description": "Ha igaz, akkor az \u00fatvonalhoz tartoz\u00f3 kapcsol\u00f3d\u00f3 \u00fatvonalak is szerepelnek a v\u00e1laszban.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Az \u00f6sszes j\u00e1ratot visszaadja a megadott azonos\u00edt\u00f3khoz.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiRouteDetailsMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "A `date` param\u00e9tert nem siker\u00fclt beolvasni."
          },
          "404": {
            "description": "Ismeretlen j\u00e1rat azonos\u00edt\u00f3."
          }
        }
      }
    },
    "/{dialect}/api/where/onboard-depart-search": {
      "post": {
        "operationId": "searchForOnboardDepartVehicles",
        "parameters": [
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OnboardDepartPosition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visszat\u00e9r az utas \u00fatvonal\u00e1ra illeszked\u0151 j\u00e1rm\u0171vekkel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardDepartSearchMethodResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{dialect}/api/where/plan-trip": {
      "get": {
        "operationId": "planTrip",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Az API verzi\u00f3ja.",
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "example": 2
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "A kliensalkalmaz\u00e1s verzi\u00f3ja.",
            "schema": {
              "type": "string"
            },
            "example": "1.1.abc"
          },
          {
            "name": "dialect",
            "in": "path",
            "description": "Az API referenci\u00e1inak dialektusa.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Dialect"
            },
            "example": "otp"
          },
          {
            "name": "includeReferences",
            "in": "query",
            "description": "A referenci\u00e1k t\u00edpus\u00e1t hat\u00e1rozza meg. `true` vagy `COMPACT` eset\u00e9n minden referencia szerepel, `false` eset\u00e9n \u00fcres. `COMPACT` m\u00f3dban a route referenci\u00e1k `description` mez\u0151je kihagy\u00e1sra ker\u00fcl.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReferencesSchema"
              },
              "default": "true"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "A d\u00e1tum, amikor a tervez\u00e9s indul (`arriveBy` eset\u00e9n \u00e9rkezik).",
            "schema": {
              "type": "string"
            },
            "example": 