openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2018-01-15'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - $ref: '#/components/parameters/CountTypeParameter'
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeCounts'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - NodeCountInformation
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/nodecounts'
      description: Retrieve counts for Dsc Nodes.
      operationId: NodeCountInformation_Get
      x-ms-examples:
        Get node's node configuration counts:
          $ref: ./examples/listPagedDscNodeConfigurationCounts.json
        Get node's status counts:
          $ref: ./examples/listPagedDscNodeStatusCounts.json
components:
  parameters:
    CountTypeParameter:
      description: The type of counts to retrieve
      in: path
      name: countType
      required: true
      schema:
        enum:
          - status
          - nodeconfiguration
        type: string
      x-ms-enum:
        modelAsString: true
        name: CountType
      x-ms-parameter-location: method
  schemas:
    NodeCount:
      description: Number of nodes based on the Filter
      properties:
        name:
          description: Gets the name of a count type
          type: string
        properties:
          $ref: '#/components/schemas/NodeCountProperties'
      type: object
    NodeCountProperties:
      properties:
        count:
          description: Gets the count for the name
          type: integer
      type: object
    NodeCounts:
      description: Gets the count of nodes by count type
      properties:
        totalCount:
          description: Gets the total number of records matching countType criteria.
          type: integer
        value:
          description: Gets an array of counts
          items:
            $ref: '#/components/schemas/NodeCount'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

