openapi: 3.0.0
info:
  description: Azure Customer Lockbox API Reference
  title: Customer Lockbox
  version: 2018-02-28-preview
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.CustomerLockbox/disableLockbox:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Disabling Tenant for Lockbox successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Requests
      description: 'Disable Tenant for Lockbox '
      operationId: Post_DisableLockbox
      x-ms-examples:
        Disable a tenant in Lockbox:
          $ref: ./examples/DisableLockbox.json
  /providers/Microsoft.CustomerLockbox/enableLockbox:
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Enabling Tenant for Lockbox successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Requests
      description: 'Enable Tenant for Lockbox '
      operationId: Post_EnableLockbox
      x-ms-examples:
        Enable Tenant in Lockbox:
          $ref: ./examples/EnableLockbox.json
  /providers/Microsoft.CustomerLockbox/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. Successfully retrieved operation list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists all the available REST API operations.
      operationId: Operations_List
      x-ms-examples:
        List available operations for the Customer Lockbox resource provider:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.CustomerLockbox/tenantOptedIn/{tenantId}':
    get:
      parameters:
        - $ref: '#/components/parameters/TenantIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantOptInResponse'
          description: Retrieval of Opt-in status for Tenant successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Requests
      description: Get Customer Lockbox request
      operationId: Get_TenantOptedIn
      x-ms-examples:
        check if a TenantId is Optedin:
          $ref: ./examples/TenantOptedIn.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CustomerLockbox/requests':
    get:
      parameters:
        - description: >-
            The $filter OData query parameter. Only filter by request status is
            supported, e.g $filter=properties/status eq 'Pending'
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestListResult'
          description: >-
            Successfully listed the Lockbox requests under the given
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Requests
      description: Lists all of the Lockbox requests in the given subscription.
      operationId: Requests_List
      x-ms-examples:
        List lockbox requests in a subscription with filter by request status (eg. $filter=properties/status eq 'Pending'):
          $ref: ./examples/Requests_List_FilterByStatus.json
        List lockbox requests with no filters:
          $ref: ./examples/Requests_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.CustomerLockbox/requests/{requestId}':
    get:
      parameters:
        - $ref: '#/components/parameters/RequestIdParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockboxRequestResponse'
          description: Retrieval of Customer Lockbox request successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Requests
      description: Get Customer Lockbox request
      operationId: Requests_Get
      x-ms-examples:
        Get a lockbox request in subscription scope:
          $ref: ./examples/Requests_Get_InSubscription.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.CustomerLockbox/requests/{requestId}/updateApproval':
    post:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/RequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
          description: Update of Request Status successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
        - Requests
      description: Update Customer Lockbox request approval status API
      operationId: Requests_UpdateStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Approval'
        description: The approval object to update request status.
        required: true
      x-ms-examples:
        Update a lockbox request status:
          $ref: ./examples/Requests_UpdateStatus.json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to be used with the HTTP request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    RequestIdParameter:
      description: The Lockbox request ID.
      in: path
      name: requestId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        The Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000)
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    TenantIdParameter:
      description: >-
        The Azure tenant ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000)
      in: path
      name: tenantId
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
  schemas:
    Approval:
      description: 'Request content object, in the use of Approve or Deny a Lockbox request.'
      properties:
        reason:
          description: Reason of the decision
          type: string
        status:
          description: Approval decision to the Lockbox request.
          enum:
            - Approve
            - Deny
          type: string
          x-ms-enum:
            modelAsString: true
            name: Status
      type: object
    ErrorAdditionalInfo:
      description: An error additional info for the Lockbox service.
      properties:
        info:
          description: Additional information about the request that is in error state.
          properties:
            currentStatus:
              $ref: '#/components/schemas/LockboxRequestStatus'
              description: The current status/state of the request quired.
          type: object
        type:
          description: The type of error info.
          type: string
      type: object
      x-ms-external: true
    ErrorBody:
      description: An error response body from the Lockbox service.
      properties:
        additionalInfo:
          description: A list of error details about the error.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          type: array
          x-ms-identifiers: []
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        message:
          description: >-
            A message describing the error, intended to be suitable for display
            in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    ErrorResponse:
      description: An error response from the Lockbox service.
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
          description: Detailed information about the error encountered.
      type: object
      x-ms-external: true
    LockboxRequestResponse:
      description: >-
        A Lockbox request response object, containing all information associated
        with the request.
      properties:
        id:
          description: The Arm resource id of the Lockbox request.
          readOnly: true
          type: string
        name:
          description: The name of the Lockbox request.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/LockboxRequestResponseProperties'
          description: The properties that are associated with a lockbox request.
        type:
          description: The type of the Lockbox request.
          readOnly: true
          type: string
      type: object
    LockboxRequestResponseProperties:
      description: The properties that are associated with a lockbox request.
      properties:
        accessLevel:
          description: Access level for requested resource
          readOnly: true
          type: string
        createdDateTime:
          description: The creation time of the request.
          format: date-time
          readOnly: true
          type: string
        duration:
          description: The duration of the request in hours.
          readOnly: true
          type: string
        expirationDateTime:
          description: The expiration time of the request.
          format: date-time
          readOnly: true
          type: string
        justification:
          description: The justification of the requestor.
          readOnly: true
          type: string
        requestId:
          description: The Lockbox request ID.
          readOnly: true
          type: string
        resourceIds:
          description: >-
            A list of resource IDs associated with the Lockbox request separated
            by ','.
          readOnly: true
          type: string
        resourceType:
          description: The resource type of the requested resources.
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/LockboxRequestStatus'
          description: The status of the request.
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
        supportCaseUrl:
          description: The url of the support case.
          readOnly: true
          type: string
        supportRequest:
          description: The id of the support request associated.
          readOnly: true
          type: string
        workitemsource:
          description: The support case system that was used to initiate the request.
          readOnly: true
          type: string
      type: object
    LockboxRequestStatus:
      description: The status of the request.
      enum:
        - Initializing
        - Pending
        - Approving
        - Denying
        - Approved
        - Denied
        - Expired
        - Revoking
        - Revoked
        - Error
        - Unknown
        - Completed
        - Completing
      type: string
      x-ms-enum:
        modelAsString: true
        name: Status
    Operation:
      description: Operation result model for ARM RP
      properties:
        display:
          description: >-
            Contains the localized display information for this particular
            operation / action.
          properties:
            description:
              description: The localized friendly description for the operation.
              readOnly: true
              type: string
            operation:
              description: The localized friendly name for the operation.
              readOnly: true
              type: string
            provider:
              description: The localized friendly form of the resource provider name.
              readOnly: true
              type: string
            resource:
              description: >-
                The localized friendly form of the resource type related to this
                action/operation.
              readOnly: true
              type: string
          readOnly: true
          type: object
        isDataAction:
          description: Gets or sets a value indicating whether it is a data plane action
          readOnly: true
          type: string
        name:
          description: Gets or sets action name
          readOnly: true
          type: string
        origin:
          description: Gets or sets origin
          readOnly: true
          type: string
        properties:
          description: Gets or sets properties
          readOnly: true
          type: string
      readOnly: true
      type: object
    OperationListResult:
      description: >-
        Result of the request to list Customer Lockbox operations. It contains a
        list of operations.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: >-
            List of Customer Lockbox operations supported by the
            Microsoft.StreamAnalytics resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          type: array
          x-ms-identifiers:
            - name
      type: object
    RequestListResult:
      description: Object containing a list of streaming jobs.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
          type: string
        value:
          description: A list of Lockbox requests. Populated by a 'List' operation.
          items:
            $ref: '#/components/schemas/LockboxRequestResponse'
          readOnly: true
          type: array
      type: object
    TenantOptInResponse:
      description: TenantOptIn Response object
      properties:
        isOptedIn:
          description: 'True if tenant is opted in, false otherwise '
          readOnly: true
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

