openapi: 3.0.0
info:
  title: KustoManagementClient
  version: '2019-01-21'
servers:
  - url: 'https://management.azure.com/'
paths:
  /providers/Microsoft.Kusto/operations:
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: >-
            The operation was successful. The response contains the list of
            available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Operations
      description: Lists available operations for the Microsoft.Kusto provider.
      operationId: Operations_List
      x-ms-examples:
        KustoOperationsList:
          $ref: ./examples/KustoOperationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/clusters':
    get:
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Lists all Kusto clusters within a subscription.
      operationId: Clusters_List
      x-ms-examples:
        KustoClustersList:
          $ref: ./examples/KustoClustersList.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Azure location.
          in: path
          name: location
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: >-
            OK -- Operation to check the kusto resource name availability was
            successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Checks that the cluster name is valid and is not already in use.
      operationId: Clusters_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCheckNameRequest'
        description: The name of the cluster.
        required: true
      x-ms-examples:
        KustoClustersCheckNameAvailability:
          $ref: ./examples/KustoClustersCheckNameAvailability.json
  '/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/skus':
    get:
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSkusResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      description: Lists eligible SKUs for Kusto resource provider.
      operationId: Clusters_ListSkus
      x-ms-examples:
        KustoClustersListSkus:
          $ref: ./examples/KustoClustersListSkus.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Lists all Kusto clusters within a resource group.
      operationId: Clusters_ListByResourceGroup
      x-ms-examples:
        KustoClustersListByResourceGroup:
          $ref: ./examples/KustoClustersListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- cluster deleted successfully.
        '202':
          description: Accepted the delete cluster request.
        '204':
          description: NoContent -- cluster does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Deletes a Kusto cluster.
      operationId: Clusters_Delete
      x-ms-examples:
        KustoClustersDelete:
          $ref: ./examples/KustoClustersDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The Kusto cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Gets a Kusto cluster.
      operationId: Clusters_Get
      x-ms-examples:
        KustoClustersGet:
          $ref: ./examples/KustoClustersGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the Cluster.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Update a Kusto cluster.
      operationId: Clusters_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdate'
        description: The Kusto cluster parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        KustoClustersUpdate:
          $ref: ./examples/KustoClustersUpdate.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the Cluster.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully created the cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Create or update a Kusto cluster.
      operationId: Clusters_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: The Kusto cluster parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        KustoClustersCreateOrUpdate:
          $ref: ./examples/KustoClustersCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: >-
            OK -- Operation to check the kusto resource name availability was
            successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Checks that the database name is valid and is not already in use.
      operationId: Databases_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCheckNameRequest'
        description: The name of the database.
        required: true
      x-ms-examples:
        KustoDatabaseCheckNameAvailability:
          $ref: ./examples/KustoDatabasesCheckNameAvailability.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: Successfully retrieved the list of databases.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Returns the list of databases of the given Kusto cluster.
      operationId: Databases_ListByCluster
      x-ms-examples:
        KustoDatabasesListByCluster:
          $ref: ./examples/KustoDatabasesListByCluster.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the database.
        '202':
          description: Accepted.
        '204':
          description: The specified database does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Deletes the database with the given name.
      operationId: Databases_Delete
      x-ms-examples:
        KustoDatabasesDelete:
          $ref: ./examples/KustoDatabasesDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully retrieved the specified database.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Returns a database.
      operationId: Databases_Get
      x-ms-examples:
        KustoDatabasesGet:
          $ref: ./examples/KustoDatabasesGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        '202':
          description: Accepted the update database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Updates a database.
      operationId: Databases_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
        description: The database parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        KustoDatabasesUpdate:
          $ref: ./examples/KustoDatabasesUpdate.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully created the database.
        '202':
          description: Accepted the create database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Creates or updates a database.
      operationId: Databases_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
        description: The database parameters supplied to the CreateOrUpdate operation.
        required: true
      x-ms-examples:
        KustoDatabasesCreateOrUpdate:
          $ref: ./examples/KustoDatabasesCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/addPrincipals':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: >-
            OK -- Successfully added the list of database principals. Returns
            the updated list of principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Add Database principals permissions.
      operationId: Databases_AddPrincipals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePrincipalListRequest'
        description: List of database principals to add.
        required: true
      x-ms-examples:
        KustoDatabaseAddPrincipals:
          $ref: ./examples/KustoDatabaseAddPrincipals.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/checkNameAvailability':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: >-
            OK -- Operation to check the Kusto resource name availability was
            successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DataConnections
      description: Checks that the data connection name is valid and is not already in use.
      operationId: DataConnections_CheckNameAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnectionCheckNameRequest'
        description: The name of the data connection.
        required: true
      x-ms-examples:
        KustoDatabaseCheckNameAvailability:
          $ref: ./examples/KustoDataConnectionsCheckNameAvailability.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnectionValidation':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnectionValidationListResult'
          description: >-
            OK -- Operation to check the kusto resource name availability was
            successful.
      tags:
        - DataConnections
      description: Checks that the data connection parameters are valid.
      operationId: DataConnections_dataConnectionValidation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnectionValidation'
        description: >-
          The data connection parameters supplied to the CreateOrUpdate
          operation.
        required: true
      x-ms-examples:
        KustoDataConnectionValidation:
          $ref: ./examples/KustoDataConnectionValidation.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnectionListResult'
          description: Successfully retrieved the list of data connections.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DataConnections
      description: Returns the list of data connections of the given Kusto database.
      operationId: DataConnections_ListByDatabase
      x-ms-examples:
        KustoDatabasesListByCluster:
          $ref: ./examples/KustoDataConnectionsListByDatabase.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections/{dataConnectionName}':
    delete:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/DataConnectionNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the data connection.
        '202':
          description: Accepted.
        '204':
          description: The specified data connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DataConnections
      description: Deletes the data connection with the given name.
      operationId: DataConnections_Delete
      x-ms-examples:
        KustoDataConnectionsDelete:
          $ref: ./examples/KustoDataConnectionsDelete.json
      x-ms-long-running-operation: true
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/DataConnectionNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully retrieved the specified data connection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DataConnections
      description: Returns a data connection.
      operationId: DataConnections_Get
      x-ms-examples:
        KustoDataConnectionsGet:
          $ref: ./examples/KustoDataConnectionsGet.json
    patch:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/DataConnectionNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully updated the data connection.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully updated the data connection.
        '202':
          description: Accepted the update data connection request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DataConnections
      description: Updates a data connection.
      operationId: DataConnections_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnection'
        description: The data connection parameters supplied to the Update operation.
        required: true
      x-ms-examples:
        KustoDataConnectionsUpdate:
          $ref: ./examples/KustoDataConnectionsUpdate.json
      x-ms-long-running-operation: true
    put:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/DataConnectionNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully updated the data connection.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully created the data connection.
        '202':
          description: Accepted the create data connection request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - DataConnections
      description: Creates or updates a data connection.
      operationId: DataConnections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnection'
        description: >-
          The data connection parameters supplied to the CreateOrUpdate
          operation.
        required: true
      x-ms-examples:
        KustoDataConnectionsCreateOrUpdate:
          $ref: ./examples/KustoDataConnectionsCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/listPrincipals':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: Successfully retrieved the list of database principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: >-
        Returns a list of database principals of the given Kusto cluster and
        database.
      operationId: Databases_ListPrincipals
      x-ms-examples:
        KustoDatabaseListPrincipals:
          $ref: ./examples/KustoDatabaseListPrincipals.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/removePrincipals':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/DatabaseNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: >-
            OK -- Successfully removed the list of database principals. Returns
            the updated list of principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Databases
      description: Remove Database principals permissions.
      operationId: Databases_RemovePrincipals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePrincipalListRequest'
        description: List of database principals to remove.
        required: true
      x-ms-examples:
        KustoDatabaseRemovePrincipals:
          $ref: ./examples/KustoDatabaseRemovePrincipals.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/skus':
    get:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourceSkusResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Returns the SKUs available for the provided resource.
      operationId: Clusters_ListSkusByResource
      x-ms-examples:
        KustoClustersListResourceSkus:
          $ref: ./examples/KustoClustersListResourceSkus.json
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/start':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Starts a Kusto cluster.
      operationId: Clusters_Start
      x-ms-examples:
        KustoClustersStart:
          $ref: ./examples/KustoClustersStart.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/stop':
    post:
      parameters:
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ClusterNameParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
        - Clusters
      description: Stops a Kusto cluster.
      operationId: Clusters_Stop
      x-ms-examples:
        KustoClustersStop:
          $ref: ./examples/KustoClustersStop.json
      x-ms-long-running-operation: true
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ClusterNameParameter:
      description: The name of the Kusto cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    DataConnectionNameParameter:
      description: The name of the data connection.
      in: path
      name: dataConnectionName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database in the Kusto cluster.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group containing the Kusto cluster.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: >-
        Gets subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AzureCapacity:
      description: Azure capacity definition.
      properties:
        default:
          description: The default capacity that would be used.
          type: integer
        maximum:
          description: Maximum allowed instances count.
          type: integer
        minimum:
          description: Minimum allowed instances count.
          type: integer
        scaleType:
          description: Scale type.
          enum:
            - automatic
            - manual
            - none
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureScaleType
      required:
        - minimum
        - maximum
        - default
        - scaleType
      type: object
    AzureResourceSku:
      description: Azure resource SKU definition.
      properties:
        capacity:
          $ref: '#/components/schemas/AzureCapacity'
          description: The number of instances of the cluster.
        resourceType:
          description: Resource Namespace and Type.
          type: string
        sku:
          $ref: '#/components/schemas/AzureSku'
          description: The SKU details.
      type: object
    AzureSku:
      description: Azure SKU definition.
      properties:
        capacity:
          description: The number of instances of the cluster.
          type: integer
        name:
          description: SKU name.
          enum:
            - Standard_DS13_v2+1TB_PS
            - Standard_DS13_v2+2TB_PS
            - Standard_DS14_v2+3TB_PS
            - Standard_DS14_v2+4TB_PS
            - Standard_D13_v2
            - Standard_D14_v2
            - Standard_L8s
            - Standard_L16s
            - Standard_D11_v2
            - Standard_D12_v2
            - Standard_L4s
            - Dev(No SLA)_Standard_D11_v2
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureSkuName
        tier:
          description: SKU tier.
          enum:
            - Basic
            - Standard
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureSkuTier
      required:
        - name
        - tier
      type: object
    CheckNameResult:
      description: The result returned from a check name availability request.
      properties:
        message:
          description: >-
            Message indicating an unavailable name due to a conflict, or a
            description of the naming rules that are violated.
          type: string
        name:
          description: The name that was checked.
          type: string
        nameAvailable:
          description: Specifies a Boolean value that indicates if the name is available.
          type: boolean
        reason:
          description: Message providing the reason why the given name is invalid.
          enum:
            - Invalid
            - AlreadyExists
          type: string
          x-ms-enum:
            modelAsString: true
            name: reason
      type: object
    CloudError:
      description: An error response from Kusto.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: An error response from Kusto.
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from Kusto.
      properties:
        code:
          description: >-
            An identifier for the error. Codes are invariant and are intended to
            be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: >-
            A message describing the error, intended to be suitable for
            displaying in a user interface.
          type: string
        target:
          description: >-
            The target of the particular error. For example, the name of the
            property in error.
          type: string
      type: object
      x-ms-external: true
    Cluster:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: Class representing a Kusto cluster.
      properties:
        properties:
          $ref: '#/components/schemas/ClusterProperties'
          description: The cluster properties.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/AzureSku'
          description: The SKU of the cluster.
      required:
        - sku
      type: object
    ClusterCheckNameRequest:
      description: The result returned from a cluster check name availability request.
      properties:
        name:
          description: Cluster name.
          type: string
        type:
          description: 'The type of resource, Microsoft.Kusto/clusters.'
          enum:
            - Microsoft.Kusto/clusters
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
        - name
        - type
      type: object
    ClusterListResult:
      description: The list Kusto clusters operation response.
      properties:
        value:
          description: The list of Kusto clusters.
          items:
            $ref: '#/components/schemas/Cluster'
          type: array
      type: object
    ClusterProperties:
      description: Class representing the Kusto cluster properties.
      properties:
        dataIngestionUri:
          description: The cluster data ingestion URI.
          readOnly: true
          type: string
        provisioningState:
          description: The provisioned state of the resource.
          enum:
            - Running
            - Creating
            - Deleting
            - Succeeded
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        state:
          description: The state of the resource.
          enum:
            - Creating
            - Unavailable
            - Running
            - Deleting
            - Deleted
            - Stopping
            - Stopped
            - Starting
            - Updating
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: State
        trustedExternalTenants:
          description: The cluster's external tenants.
          items:
            $ref: '#/components/schemas/TrustedExternalTenant'
          type: array
        uri:
          description: The cluster URI.
          readOnly: true
          type: string
      type: object
    ClusterUpdate:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Class representing an update to a Kusto cluster.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: Resource location.
          type: string
        properties:
          $ref: '#/components/schemas/ClusterProperties'
          description: The cluster properties.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/AzureSku'
          description: The SKU of the cluster.
      type: object
    DataConnection:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Class representing an data connection.
      discriminator:
        propertyName: kind
      properties:
        kind:
          description: Kind of the endpoint for the data connection
          enum:
            - EventHub
            - EventGrid
          type: string
          x-ms-enum:
            modelAsString: true
            name: Kind
        location:
          description: Resource location.
          type: string
      required:
        - kind
      type: object
    DataConnectionCheckNameRequest:
      description: >-
        The result returned from a data connections check name availability
        request.
      properties:
        name:
          description: Data Connection name.
          type: string
        type:
          description: >-
            The type of resource,
            Microsoft.Kusto/clusters/databases/dataConnections.
          enum:
            - Microsoft.Kusto/clusters/databases/dataConnections
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
        - name
        - type
      type: object
    DataConnectionListResult:
      description: The list Kusto data connections operation response.
      properties:
        value:
          description: The list of Kusto data connections.
          items:
            $ref: '#/components/schemas/DataConnection'
          type: array
      type: object
    DataConnectionValidation:
      description: Class representing an data connection validation.
      properties:
        dataConnectionName:
          description: The name of the data connection.
          type: string
        properties:
          $ref: '#/components/schemas/DataConnection'
          description: The data connection properties to validate.
      type: object
    DataConnectionValidationListResult:
      description: The list Kusto data connection validation result.
      properties:
        value:
          description: The list of Kusto data connection validation errors.
          items:
            $ref: '#/components/schemas/DataConnectionValidationResult'
          type: array
      type: object
    DataConnectionValidationResult:
      description: The result returned from a data connection validation request.
      properties:
        errorMessage:
          description: A message which indicates a problem in data connection validation.
          type: string
      type: object
    DataFormat:
      description: >-
        The data format of the message. Optionally the data format can be added
        to each message.
      enum:
        - MULTIJSON
        - JSON
        - CSV
        - TSV
        - SCSV
        - SOHSV
        - PSV
        - TXT
        - RAW
        - SINGLEJSON
        - AVRO
      type: string
      x-ms-enum:
        modelAsString: true
        name: dataFormat
    Database:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Class representing a Kusto database.
      properties:
        location:
          description: Resource location.
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
          description: The database properties.
          x-ms-client-flatten: true
      type: object
    DatabaseCheckNameRequest:
      description: The result returned from a database check name availability request.
      properties:
        name:
          description: Database name.
          type: string
        type:
          description: 'The type of resource, Microsoft.Kusto/clusters/databases.'
          enum:
            - Microsoft.Kusto/clusters/databases
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
        - name
        - type
      type: object
    DatabaseListResult:
      description: The list Kusto databases operation response.
      properties:
        value:
          description: The list of Kusto databases.
          items:
            $ref: '#/components/schemas/Database'
          type: array
      type: object
    DatabasePrincipal:
      description: A class representing database principal entity.
      properties:
        appId:
          description: Application id - relevant only for application principal type.
          type: string
        email:
          description: Database principal email if exists.
          type: string
        fqn:
          description: Database principal fully qualified name.
          type: string
        name:
          description: Database principal name.
          type: string
        role:
          description: Database principal role.
          enum:
            - Admin
            - Ingestor
            - Monitor
            - User
            - UnrestrictedViewers
            - Viewer
          type: string
          x-ms-enum:
            modelAsString: true
            name: DatabasePrincipalRole
        type:
          description: Database principal type.
          enum:
            - App
            - Group
            - User
          type: string
          x-ms-enum:
            modelAsString: true
            name: DatabasePrincipalType
      required:
        - name
        - role
        - type
      type: object
    DatabasePrincipalListRequest:
      description: The list Kusto database principals operation request.
      properties:
        value:
          description: The list of Kusto database principals.
          items:
            $ref: '#/components/schemas/DatabasePrincipal'
          type: array
      type: object
    DatabasePrincipalListResult:
      description: The list Kusto database principals operation response.
      properties:
        value:
          description: The list of Kusto database principals.
          items:
            $ref: '#/components/schemas/DatabasePrincipal'
          type: array
      type: object
    DatabaseProperties:
      description: Class representing the Kusto database properties.
      properties:
        hotCachePeriod:
          description: >-
            The time the data that should be kept in cache for fast queries in
            TimeSpan.
          format: duration
          type: string
        provisioningState:
          description: The provisioned state of the resource.
          enum:
            - Running
            - Creating
            - Deleting
            - Succeeded
            - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        softDeletePeriod:
          description: >-
            The time the data should be kept before it stops being accessible to
            queries in TimeSpan.
          format: duration
          type: string
        statistics:
          $ref: '#/components/schemas/DatabaseStatistics'
          description: The statistics of the database.
          readOnly: true
      type: object
    DatabaseStatistics:
      description: A class that contains database statistics information.
      properties:
        size:
          description: >-
            The database size - the total size of compressed data and index in
            bytes.
          type: number
      readOnly: true
      type: object
    DatabaseUpdate:
      allOf:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: Class representing an update to a Kusto database.
      properties:
        location:
          description: Resource location.
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
          description: The properties of the updated database.
          x-ms-client-flatten: true
      type: object
    EventGridConnectionProperties:
      description: Class representing the Kusto event grid connection properties.
      properties:
        consumerGroup:
          description: The event hub consumer group.
          type: string
        dataFormat:
          $ref: '#/components/schemas/DataFormat'
          description: >-
            The data format of the message. Optionally the data format can be
            added to each message.
        eventHubResourceId:
          description: The resource ID where the event grid is configured to send events.
          type: string
        mappingRuleName:
          description: >-
            The mapping rule to be used to ingest the data. Optionally the
            mapping information can be added to each message.
          type: string
        storageAccountResourceId:
          description: The resource ID of the storage account where the data resides.
          type: string
        tableName:
          description: >-
            The table where the data should be ingested. Optionally the table
            information can be added to each message.
          type: string
      required:
        - storageAccountResourceId
        - eventHubResourceId
        - consumerGroup
        - tableName
        - dataFormat
      type: object
    EventGridDataConnection:
      allOf:
        - $ref: '#/components/schemas/DataConnection'
      description: Class representing an Event Grid data connection.
      properties:
        properties:
          $ref: '#/components/schemas/EventGridConnectionProperties'
          description: The properties of the Event Grid data connection.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: EventGrid
    EventHubConnectionProperties:
      description: Class representing the Kusto event hub connection properties.
      properties:
        consumerGroup:
          description: The event hub consumer group.
          type: string
        dataFormat:
          $ref: '#/components/schemas/DataFormat'
          description: >-
            The data format of the message. Optionally the data format can be
            added to each message.
        eventHubResourceId:
          description: >-
            The resource ID of the event hub to be used to create a data
            connection.
          type: string
        mappingRuleName:
          description: >-
            The mapping rule to be used to ingest the data. Optionally the
            mapping information can be added to each message.
          type: string
        tableName:
          description: >-
            The table where the data should be ingested. Optionally the table
            information can be added to each message.
          type: string
      required:
        - eventHubResourceId
        - consumerGroup
      type: object
    EventHubDataConnection:
      allOf:
        - $ref: '#/components/schemas/DataConnection'
      description: Class representing an event hub data connection.
      properties:
        properties:
          $ref: '#/components/schemas/EventHubConnectionProperties'
          description: The Event Hub data connection properties to validate.
          x-ms-client-flatten: true
      type: object
      x-ms-discriminator-value: EventHub
    ListResourceSkusResult:
      description: List of available SKUs for an existing Kusto Cluster.
      properties:
        value:
          description: The collection of available SKUs for an existing resource.
          items:
            $ref: '#/components/schemas/AzureResourceSku'
          type: array
      type: object
    ListSkusResult:
      description: List of available SKUs for a new Kusto Cluster.
      properties:
        value:
          description: The collection of available SKUs for new resources.
          items:
            $ref: '#/components/schemas/AzureSku'
          type: array
      type: object
    Operation:
      properties:
        display:
          properties:
            description:
              title: The friendly name of the operation.
              type: string
            operation:
              description: 'For example: read, write, delete.'
              title: The operation type.
              type: string
            provider:
              title: Friendly name of the resource provider.
              type: string
            resource:
              title: The resource type on which the operation is performed.
              type: string
          title: The object that describes the operation.
          type: object
        name:
          description: 'This is of the format {provider}/{resource}/{operation}.'
          title: The operation name.
          type: string
        origin:
          title: The intended executor of the operation.
          type: string
        properties:
          title: Properties of the operation.
          type: object
          x-ms-client-flatten: true
      title: A REST API operation
      type: object
    OperationListResult:
      properties:
        nextLink:
          title: >-
            The URL to get the next set of operation list results if there are
            any.
          type: string
        value:
          items:
            $ref: '#/components/schemas/Operation'
          title: The list of operations supported by the resource provider.
          type: array
      title: >-
        Result of the request to list REST API operations. It contains a list of
        operations and a URL nextLink to get the next set of results.
      type: object
    TrustedExternalTenant:
      description: Represents a tenant ID that is trusted by the cluster.
      properties:
        value:
          description: GUID representing an external tenant.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2

