openapi: 3.0.0
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
  - url: 'https://management.azure.com/'
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscCompilationJobListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscCompilationJob
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/compilationjoboperations'
      description: Retrieve a list of dsc compilation jobs.
      operationId: DscCompilationJob_ListByAutomationAccount
      x-ms-examples:
        List DSC Compilation job in Automation Account:
          $ref: ./examples/listCompilationJobsByAutomationAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{compilationJobId}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The Dsc configuration compilation job id.
          in: path
          name: compilationJobId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscCompilationJob'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscCompilationJob
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dsccompilationjoboperations'
      description: Retrieve the Dsc configuration compilation job identified by job id.
      operationId: DscCompilationJob_Get
      x-ms-examples:
        Get a DSC Compilation job:
          $ref: ./examples/getCompilationJob.json
    put:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The DSC configuration Id.
          in: path
          name: compilationJobId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscCompilationJob'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscCompilationJob
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscconfigurationcompilejoboperations'
      description: Creates the Dsc compilation job of the configuration.
      operationId: DscCompilationJob_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscCompilationJobCreateParameters'
        description: The parameters supplied to the create compilation job operation.
        required: true
      x-ms-examples:
        Create or update a DSC Compilation job:
          $ref: ./examples/createCompilationJob.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams/':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job id.
          in: path
          name: jobId
          required: true
          schema:
            format: uuid
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./job.json#/definitions/JobStreamListResult
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscCompilationJob
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobstreamoperations'
      description: Retrieve all the job streams for the compilation Job.
      operationId: DscCompilationJobStream_ListByJob
      x-ms-examples:
        List DSC Compilation job streams:
          $ref: ./examples/compilationJobStreamList.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams/{jobStreamId}':
    get:
      parameters:
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/AutomationAccountNameParameter
        - description: The job id.
          in: path
          name: jobId
          required: true
          schema:
            format: uuid
            type: string
        - description: The job stream id.
          in: path
          name: jobStreamId
          required: true
          schema:
            type: string
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../common/v1/definitions.json#/components/parameters/ApiVersionParameter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./job.json#/definitions/JobStream
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
          description: Automation error response describing why the operation failed.
      tags:
        - DscCompilationJob
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobstreamoperations'
      description: Retrieve the job stream identified by job stream id.
      operationId: DscCompilationJob_GetStream
      x-ms-examples:
        Get a DSC Compilation job stream by job stream id:
          $ref: ./examples/compilationJobStreamByJobStreamId.json
components:
  schemas:
    DscCompilationJob:
      allOf:
        - $ref: ../../common/v1/definitions.json#/definitions/ProxyResource
      description: Definition of the Dsc Compilation job.
      properties:
        properties:
          $ref: '#/components/schemas/DscCompilationJobProperties'
          description: Gets or sets the properties of the Dsc Compilation job.
          x-ms-client-flatten: true
      type: object
    DscCompilationJobCreateParameters:
      description: The parameters supplied to the create compilation job operation.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          type: object
        location:
          description: Gets or sets the location of the resource.
          type: string
        name:
          description: Gets or sets name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/DscCompilationJobCreateProperties'
          description: Gets or sets the list of compilation job properties.
          x-ms-client-flatten: true
      required:
        - properties
      type: object
    DscCompilationJobCreateProperties:
      description: The parameters supplied to the create compilation job operation.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
          type: object
        configuration:
          $ref: '#/components/schemas/DscConfigurationAssociationProperty'
          description: Gets or sets the configuration.
        incrementNodeConfigurationBuild:
          description: If a new build version of NodeConfiguration is required.
          type: boolean
      required:
        - configuration
      type: object
    DscCompilationJobListResult:
      description: The response model for the list job operation.
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of Dsc Compilation jobs.
          items:
            $ref: '#/components/schemas/DscCompilationJob'
          type: array
      type: object
    DscCompilationJobProperties:
      description: Definition of Dsc Compilation job properties.
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
          type: object
        configuration:
          $ref: '#/components/schemas/DscConfigurationAssociationProperty'
          description: Gets or sets the configuration.
        creationTime:
          description: Gets the creation time of the job.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        endTime:
          description: Gets the end time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        exception:
          description: Gets the exception of the job.
          readOnly: true
          type: string
        jobId:
          description: Gets the id of the job.
          format: uuid
          nullable: false
          readOnly: true
          type: string
        lastModifiedTime:
          description: Gets the last modified time of the job.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        lastStatusModifiedTime:
          description: Gets the last status modified time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        provisioningState:
          $ref: '#/components/schemas/JobProvisioningStateProperty'
          description: The current provisioning state of the job.
        runOn:
          description: >-
            Gets or sets the runOn which specifies the group name where the job
            is to be executed.
          type: string
        startTime:
          description: Gets the start time of the job.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        startedBy:
          description: Gets the compilation job started by.
          readOnly: true
          type: string
        status:
          description: Gets or sets the status of the job.
          enum:
            - New
            - Activating
            - Running
            - Completed
            - Failed
            - Stopped
            - Blocked
            - Suspended
            - Disconnected
            - Suspending
            - Stopping
            - Resuming
            - Removing
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStatus
        statusDetails:
          description: Gets or sets the status details of the job.
          type: string
      type: object
    DscConfigurationAssociationProperty:
      description: The Dsc configuration property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the Dsc configuration.
          type: string
      type: object
    JobProvisioningStateProperty:
      description: The provisioning state of the resource.
      enum:
        - Failed
        - Succeeded
        - Suspended
        - Processing
      readOnly: true
      type: string
      x-ms-enum:
        modelAsString: true
        name: JobProvisioningState
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
security:
  - azure_auth:
      - user_impersonation

